﻿<!--
*****************************************************
Page Created Date:06/04/2013
Created By: Suma J
Purpose: To display the required Vendors 
Version: 1.0
****************************************************
-->

@using Resources
@{
    ViewBag.Title = "Client Dashboard";
    Layout = "~/Views/Shared/_ClientDashBoardLayout.cshtml";
}


<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="description" content="Client Dashboard - First, Verify">
<meta name="viewport" content="width=device-width">

<script src="~/Scripts/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
 <script src="js/plugins.js"></script>
 <script>

     //Siva on Dec 4th
     function showLeftPanel(type, currentElement)//0-Doc 1-Processing Prequalifications 2-status Description 3-Notifications 4-InviteVendor, 5- Client review Prequalifications
     {
         //To Hide All
         $("#PrequalificationsMainDiv").hide();
         $("#VendorsInvitedMainDiv").hide();
         $("#piChartMainDiv").hide();
         
         $("#PrequalificationStatusMainDiv").hide();
         $("#NotificationsMainDiv").hide();
         $("#ClientReviewPrequalificationsMainDiv").hide(); // Kiran on 9/26/2014
         switch (type) {
             case 1: $("#PrequalificationsMainDiv").show(); break;
             case 2: $("#PrequalificationStatusMainDiv").show(); break;
             case 3:
                 {
                     $("#NotificationsMainDiv").show();
                     if (@ViewBag.NotificationCount > 0) {
                         markAllNotificationsAsRead(currentElement);
                     }

                     break;
                 }
            case 4: $("#VendorsInvitedMainDiv").show(); break;
            case 5: $("#ClientReviewPrequalificationsMainDiv").show(); break; // Kiran on 9/26/2014

         }
     }

     //Siva on Dec 4th
     function markAllNotificationsAsRead(currentElement) {
         $.ajax(
        {
            type: 'POST',
            url: 'markAllNotificationsAsRead',
            data: '',
            success: function (data) {

                if (data.indexOf("Session expired") >= 0) {
                    window.location = "../SystemUsers/Login?lastLoginPage=" + "~/Client/ClientDashboard";
                }
                else if (data == "updateSuccess") {
                    //to change text of notifications link 
                    $(currentElement).closest("li").find("sup").remove();
                }
                else {
                    alert("@Resources.Common_unableToProcess");
                }
            },
            error: function () {
                alert("@Resources.Common_unableToProcess");
            }
        });
     }
     //End on Dec 4th

     $(document).ready(function () {
         var searchId = $("#ClientList").val();

         if ($('#ClientList').children('option').length < 2)
             $('#ClientList').hide(); ;
         //alert(searchId + "");
         createPiChart(searchId);


         $("#ClientList").change(function () {


             var searchId = $(this).val();
             //alert(searchId + "");
             createPiChart(searchId);


         });


     });



     function createPiChart(id) {

         var selectedvendorId = id;
         //alert(selectedvendorId + "");


         $.ajax({
             type: 'Post',
             url: 'getPiChartURL',

             data: 'clientId=' + selectedvendorId,
             success: function (data) {
                 debugger;
                 //alert(data);
                 //var src = "http://chart.apis.google.com/chart?cht=p3&chs=500x200&chd=t:73,13,10,3,1&chco=80C65A,224499,FF0000&chl=Chocolate|Puff+Pastry|Cookies|Muffins|Gelato";
                 if (data.indexOf("powerbi") >= 0)
                 {
                     $("#piCharts").hide();
                     $("#barchatlabel").hide();
                     $('#powerbireport').attr("src",data)
                     $('#powerbireport').show();
                 }
                 else{
                     $("#piCharts").show();
                     $("#piCharts").attr("src", data);
                     $('#powerbireport').hide();
                     $("#barchatlabel").show();
                 }
             },
             error: function () {
                 console.trace();
                 //alert("Fail ");
             }
         });

     }

     function showMoreStatusDescriptions(moreButton) {

         if ($(moreButton).text().indexOf("More") != -1) {
             $(".statusDescClass").show();
             $(moreButton).text("Less..");
         }
         else {
             $(moreButton).text("More..");
             $(".statusDescClass").hide();
         }
     }
     //     function showMoreNotifications(moreButton) {

     //         if ($(moreButton).text().indexOf("More") != -1) {
     //             $(".NotificationsClass").show();
     //             $(moreButton).text("Less..");
     //         }
     //         else {
     //             $(moreButton).text("More..");
     //             $(".NotificationsClass").hide();
     //         }
     //     }

     function showMorePrequals(moreButton) {

         if ($(moreButton).text().indexOf("More") != -1) {
             $(".prequalClass").show();
             $(moreButton).text("Less..");
         }
         else {
             $(moreButton).text("More..");
             $(".prequalClass").hide();
         }
     }

</script>


@*Rajesh on 12/12/2013*@
<script>
    function showNotifications(pageNumber, obj) {
        $(".Notificatification1").hide();
        $(".Notificatification2").hide();
        $(".Notificatification3").hide();

        $(".Notificatification" + pageNumber).show();
        $(".notificationPages").css("background", "#dedede");
        $(obj).css("background", "#ffffff");
    }
    function getNotifications(pageNumber) {
        //alert(pageNumber);
        $.ajax({
            type: 'Post',
            url: 'NotificationsPartialView',
            data: '&pageNumber=' + pageNumber,
            success: function (data) {
                //alert(data);
                $("#NotificationsMainDiv").html(data);
            },
            error: function () {
                console.trace();
                //alert("An error occured while fetching units, Sesion expiried");
            }
        });
    
    }
    function getPrequalification(pageNumber, type) // type 0 - Submitted, 1 - Client Review
    {
        //alert(pageNumber);
        $.ajax({
            type: 'Post',
            url: 'PrequalificationPartialView',
            data: '&pageNumber=' + pageNumber + '&type=' + type,
            success: function (data) {
                //alert(data);
                if (type == 0) {
                    $("#PrequalificationsMainDiv").html(data);
                }
                else {
                    $("#ClientReviewPrequalificationsMainDiv").html(data);
                }
            },
            error: function () {
                console.trace();
                //alert("An error occured while fetching units, Sesion expiried");
            }
        });

    }

    function showPrequalification(pageNumber, obj) {
        $(".Prequalifications1").hide();
        $(".Prequalifications2").hide();
        $(".Prequalifications3").hide();

        $(".Prequalifications" + pageNumber).show();
        $(".prequalificationPages").css("background", "#dedede");
        $(obj).css("background", "#fff");
    }
    // Kiran on 9/26/2014
    function showClientReviewPrequalification(pageNumber, obj) {
        $(".CRPrequalifications1").hide();
        $(".CRPrequalifications2").hide();
        $(".CRPrequalifications3").hide();

        $(".CRPrequalifications" + pageNumber).show();
        $(".CRPrequalificationsPages").css("background", "#dedede");
        $(obj).css("background", "#fff");
    }


    function SearchVendorsInvites(obj)
    {        
        
        var email = $(obj).closest(".inviteVendorPage").find("#searchinvitedvendorByEmail").val();
        getInvitedVendors(0, email);
        //var pageNumber = 0;
        //$.ajax({
        //    type: 'Post',
        //    url: 'InviteVendorsPartialView',
        //    data: '&pageNumber=' + pageNumber + '&SearchEmail='+ email,
        //    success: function (data) {
        //        //alert(data);
        //        $("#VendorsInvitedMainDiv").html(data);
        //    },
        //    error: function () {
        //        console.trace();
        //        //alert("An error occured while fetching units, Sesion expiried");
        //    }
        //});
    }


    // Ends<<<
    function getInvitedVendors(pageNumber,SearchEmail) {
        //alert(pageNumber);
        $.ajax({
            type: 'Post',
            url: 'InviteVendorsPartialView',
            data: '&pageNumber=' + pageNumber + '&SearchEmail=' + SearchEmail+'&invitationType='+vendorInviteCurrentTab,
            success: function (data) {
                //alert(data);
                if (vendorInviteCurrentTab === 0)
                    $("#InviteVendorNewVendor").html(data);
                else if (vendorInviteCurrentTab === 1)
                    $("#InviteVendorExpiredVendor").html(data);
                else 
                    $("#InviteVendorOutsideVendor").html(data);
            },
            error: function () {
                console.trace();
                //alert("An error occured while fetching units, Sesion expiried");
            }
        });

    }
    function showInvitedVendors(pageNumber, obj) {
        $(obj).closest(".inviteVendorPage").find(".InvitedVendors1").hide();
        $(obj).closest(".inviteVendorPage").find(".InvitedVendors2").hide();
        $(obj).closest(".inviteVendorPage").find(".InvitedVendors3").hide();

        $(obj).closest(".inviteVendorPage").find(".InvitedVendors" + pageNumber).show();
        $(obj).closest(".inviteVendorPage").find(".InvitedVendorsPages").css("background", "#dedede");
        $(obj).css("background", "#fff");
    }
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $(".AdminBG tr:odd").css("background", "#f6f6f6");
    });

</script>


@*Ends*@
</head>
<style type="text/css">
#search {
	clear:both;
}
input#search-box, select#status-box {
    border: 2px solid;
    box-shadow: 0 0 9px #CFD1D4  inset;
    color: #A7A9AC;
    float: left;
    height:32px;
    max-width: 865px;
    padding-left: 15px;
    padding-right: 15px;
    width: 560px;
	margin-left:0px;
	background:#f9f9f9;
	
	 }
input#search-button {
    background:url("../images/search.png") no-repeat scroll right -5px transparent;
    border: 1px solid;
    color: #A7A9AC;
    height:36px;
    width: 40px; cursor:pointer;
}
input#status-button {
	background-color: #000;
    border: 0 none;
    color: #fff;
    font-size: 2em;
    /*height: 42px;*/
    margin-left: 5px;
    /*width: 42px; */
}

.selectedTab {
    font-size: 18px;
    margin-right: 5px;
    padding: 10px 25px 7px;
    display: block;
    color: #1f83bc !important;
    text-decoration: none !important;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    min-width: 60px;
    background: #ffffff;
    border: 2px solid #1f83bc;
    border-bottom: none;
    white-space: nowrap;
}

.unSelectedTab {
    font-size: 18px;
    margin-right: 5px;
    padding: 10px 25px 7px;
    display: block;
    color: #fff !important;
    text-decoration: none !important;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    min-width: 60px;
    background: #1f83bc;
    border: 2px solid #1f83bc;
    white-space: nowrap;
    align-content: center;
}

    .unSelectedTab label {
        cursor: pointer;
    }

    .unSelectedTab input, .selectedTab input {
        display: none;
    }


</style>
<body>

	<div class="dashboardContent" style="display:none">
		
        <div class="ClientDashboard_OrgType">
                @if (((IEnumerable<SelectListItem>)@ViewBag.VBClientOrgList).Count() > 1)
                {
                <label> @Resources.Common_Label_Company </label>
                }
            @Html.DropDownList("ClientList", (IEnumerable<SelectListItem>)@ViewBag.VBClientOrgList)
        </div>

	    @*<div class="dashboardContent">  *@
        <div class="dashboardMenu" >     
        <table width="99%" border="0"> 

        <tr></tr>
        </table>
	    </div>
        </div>
    @*</div>*@		  


    <div class="dashboardContent" id="NotificationsMainDiv" style="display:none;">
        <div class="dashboardMenu" style="min-height:495px;">
          
            <div class="dashBoardSubtitles">
                <h3><strong>@Resources.Common_Label_Notifications</strong></h3>
            </div>
        
            <div>
                @*Kiran on 9/12/2014*@
                <table class="AdminBG" id="NotificationsList" width="100%">
                @{var notifications = (List<FVGen3.Domain.Entities.LocalNotifications>)@ViewBag.NotificationsSent;
                  var hasPrevious = false;
                  var hasNext = false;
                  var pageNumber = 0;
                  }
                @for (int i = 0; i < notifications.Count(); i += 2)
                {
                    if (i == 0)
                    {
                        hasPrevious = notifications[0].HasPrevious;
                        hasNext = notifications[0].HasNext;
                        pageNumber = notifications[0].PageNumber;
                    }
                     <tr class="Notificatification@(i / 10 + 1)"
                     @if (i / 10 + 1 != 1)
                     {
                        @:style="display:none;"
                     }
                     >
                         <td valign="top">
                             <ul class="NotificationsClass">
                           
                                <li><strong>@notifications[i].VendorName</strong></li>
				                <li>@Resources.Common_Label_Purpose @notifications[i].Purpose exp.</li>				            
				                <li>@Resources.Common_Label_PrequalifyFor @notifications[i].ClientName</li>
                                <li>@notifications[i].EmailSentDate.ToString("MM/dd/yyyy")</li>
                                @*@if (notifications[i].SmallComment != "")
                                {
                                    <li class="embedList" title = "@notifications[i].Comments"> Comments: @notifications[i].SmallComment </li>
                                }*@
                                
                            </ul>
                         </td>
                          <td valign="top">
                            @if (i + 1 < notifications.Count())
                            {
                               <ul class="NotificationsClass">
                           
                                <li><strong>@notifications[i + 1].VendorName</strong></li>
				                <li>@Resources.Common_Label_Purpose @notifications[i + 1].Purpose exp.</li>				            
				                <li>@Resources.Common_Label_PrequalifyFor @notifications[i + 1].ClientName</li>
                                <li>@notifications[i+1].EmailSentDate.ToString("MM/dd/yyyy")</li>
                                @*@if (notifications[i + 1].SmallComment != "")
                                {
                                    <li class="embedList" title = "@notifications[i + 1].Comments"> Comments: @notifications[i + 1].SmallComment </li>
                                }*@
                                
                            </ul>
                            }
                         </td>
                         
                    
                     </tr>
                }
                </table>
                @*Ends<<<*@
            </div>
            
            

        </div>
        <div class="paginationMenu">
            <div class="pagination">
            <ul>
            @if (hasPrevious)
            {
                <li onclick="getNotifications('@(pageNumber - 1)')" id="NotificationsPrevious">@Resources.Common_Previouslink_text</li>
            }
            <li class="notificationPages" style="background:#fff" onclick="showNotifications(1,this)" id="NotificationsPage1">@(pageNumber * 3 + 1)</li>
            @if (notifications.Count() > 10)
            {
                <li class="notificationPages" onclick="showNotifications(2,this)" id="NotificationsPage2">@(pageNumber * 3 + 2)</li>
            }
            @if (notifications.Count() > 20)
            {
                <li class="notificationPages" onclick="showNotifications(3,this)" id="NotificationsPage3">@(pageNumber * 3 + 3)</li>
            }
            @if (hasNext)
            {
                <li onclick="getNotifications('@(pageNumber + 1)')" id="NotificationsNext">@Resources.Common_Nextlink_text</li>
            }
            </ul>
            </div>
        </div>
    </div>

    <div class="dashboardContent" id="PrequalificationsMainDiv" style="display:none;">
        <div class="dashboardMenu">
          
            <div class="dashBoardSubtitles">
                     <h3><strong>@Resources.Common_Status_Heading_Submitted</strong></h3>
                </div>
            <div>
                <table class="AdminBG" id="PrequalificationsList">
                @{var Prequalifcations = (List<FVGen3.Domain.Entities.LocalPrequalification>)@ViewBag.VBPrequalificationList;
                  var PhasPrevious = false;
                  var PhasNext = false;
                  var PpageNumber = 0;
                  }
                @for (int i = 0; i < Prequalifcations.Count(); i += 2)
                {

                    var query = "../Prequalification/TemplatesList" + QueryStringModule.Encrypt("PreQualificationId=" + @Prequalifcations[i].PrequalificationId);
                    if (i == 0)
                    {
                        PhasPrevious = Prequalifcations[0].HasPrevious;
                        PhasNext = Prequalifcations[0].HasNext;
                        PpageNumber = Prequalifcations[0].PageNumber;
                    }
                     <tr class="Prequalifications@(i / 10 + 1)"
                     @if (i / 10 + 1 != 1)
                     {
                        @:style="display:none;"
                     }
                     >
                        <td valign="top" width="45%">@*Rajesh on 12/27/2013*@
                             <ul>
                                            
                                            <li>
                                                <strong>
                                                    <a href="@query">@Prequalifcations[i].VendorName</a>
                                                </strong>
                                              
                                            </li>

                                            <li>@Resources.Common_Label_Submitted @if (Prequalifcations[i].PrequalificationSubmit == null)
                                                          {<i>@Resources.Common_Label_YetToSubmit</i>}
                                                          else
                                                          {@Prequalifcations[i].PrequalificationSubmit}
                                            @if (@Prequalifcations[i].IndicationTextClient != null)
                                            {
                                                <span class="indicationText">@Prequalifcations[i].IndicationTextClient</span>
                                            }
                                            </li>
                                            
                                            <li>@Resources.Common_Label_StatusPeriod @Prequalifcations[i].PrequalificationStart.ToString("MM/dd/yyyy") to @Prequalifcations[i].PrequalificationFinish.ToString("MM/dd/yyyy")</li>                         
                                        </ul>
                         </td>
                           @*Rajesh on 12/27/2013*@
                         <td width="4%"><b>@Prequalifcations[i].Initials</b></td>
                         <td width="2%" style="background:#f8f8f8;"></td>
                         <td valign="top" width="45%">
                         @*Ends*@
                            @if (i + 1 < Prequalifcations.Count())
                            {
                                query = "../Prequalification/TemplatesList" + QueryStringModule.Encrypt("PreQualificationId=" + @Prequalifcations[i + 1].PrequalificationId);
                               <ul>
                                            
                                            <li>
                                                <strong>
                                                    <a href="@query">@Prequalifcations[i + 1].VendorName</a>
                                                </strong>
                                              
                                            </li>

                                            <li>@Resources.Common_Label_Submitted @if (Prequalifcations[i + 1].PrequalificationSubmit == null)
                                                          {<i>@Resources.Common_Label_YetToSubmit</i>}
                                                          else
                                                          {@Prequalifcations[i + 1].PrequalificationSubmit}
                                            @if (@Prequalifcations[i + 1].IndicationTextClient != null)
                                            {
                                                <span class="indicationText">@Prequalifcations[i + 1].IndicationTextClient</span>
                                            }
                                            </li>
                                            
                                            <li>@Resources.Common_Label_StatusPeriod @Prequalifcations[i + 1].PrequalificationStart.ToString("MM/dd/yyyy") to @Prequalifcations[i + 1].PrequalificationFinish.ToString("MM/dd/yyyy")</li>                         
                                        </ul>
                            }
                         </td>
                         
                    
                     </tr>
                }
                     
                     

                </table>
            </div>
        </div>
        <div class="paginationMenu">
            <div class="pagination">
            <ul>
            @if (PhasPrevious)
            {
                <li onclick="getPrequalification('@(PpageNumber - 1)')">@Resources.Common_Previouslink_text</li>
            }
            <li class="prequalificationPages" style="background:#fff" onclick="showPrequalification(1,this)">@(PpageNumber * 3 + 1)</li>
            @if (Prequalifcations.Count() > 10)
            {
                <li class="prequalificationPages" onclick="showPrequalification(2,this)">@(PpageNumber * 3 + 2)</li>
            }
            @if (Prequalifcations.Count() > 20)
            {
                <li class="prequalificationPages" onclick="showPrequalification(3,this)">@(PpageNumber * 3 + 3)</li>
            }
            @if (PhasNext)
            {
                <li style=" width:40px;" onclick="getPrequalification('@(PpageNumber + 1)', 0)">@Resources.Common_Nextlink_text</li>
            }
            </ul>
            </div>
        </div>
    </div>
    @*Kiran on 9/26/2014*@
    <div class="dashboardContent" id="ClientReviewPrequalificationsMainDiv" style="display:none;">
        <div class="dashboardMenu">
          
            <div class="dashBoardSubtitles">
                     <h3><strong>@Resources.Common_Status_ClientReview</strong></h3>
                </div>
            <div>
                <table class="AdminBG">
                @{var CRPrequalifications = (List<FVGen3.Domain.Entities.LocalPrequalification>)@ViewBag.VBClientReviewPrequalificationList;
                  var CRPhasPrevious = false;
                  var CRPhasNext = false;
                  var CRPpageNumber = 0;
                  }
                  @if (@ViewBag.VBClientReviewPrequalificationList.Count != 0 || @ViewBag.VBClientReviewPrequalificationList != null)
                  {
                      for (int i = 0; i < CRPrequalifications.Count(); i += 2)
                      {

                          var query = "../Prequalification/TemplatesList" + QueryStringModule.Encrypt("PreQualificationId=" + @CRPrequalifications[i].PrequalificationId);
                          if (i == 0)
                          {
                              CRPhasPrevious = CRPrequalifications[0].HasPrevious;
                              CRPhasNext = CRPrequalifications[0].HasNext;
                              CRPpageNumber = CRPrequalifications[0].PageNumber;
                          }
                     <tr class="CRPrequalifications@(i / 10 + 1)"
                     @if (i / 10 + 1 != 1)
                     {
                        @:style="display:none;"
                     }
                     >
                        <td valign="top" width="45%">
                             <ul>
                                            
                                <li>
                                    <strong>
                                        <a href="@query">@CRPrequalifications[i].VendorName</a>
                                    </strong>
                                              
                                </li>

                                <li>@Resources.Common_Label_Submitted @if (CRPrequalifications[i].PrequalificationSubmit == null)
                                              {<i>@Resources.Common_Label_YetToSubmit</i>}
                                              else
                                              {@CRPrequalifications[i].PrequalificationSubmit}
                                @if (@CRPrequalifications[i].IndicationTextClient != null)
                                {
                                    <span class="indicationText">@CRPrequalifications[i].IndicationTextClient</span>
                                }
                                </li>
                                            
                                <li>@Resources.Common_Label_StatusPeriod @CRPrequalifications[i].PrequalificationStart.ToString("MM/dd/yyyy") to @CRPrequalifications[i].PrequalificationFinish.ToString("MM/dd/yyyy")</li>                         
                            </ul>
                         </td>
                           
                         <td width="4%"><b>@CRPrequalifications[i].Initials</b></td>
                         <td width="2%" style="background:#f8f8f8;"></td>
                         <td valign="top" width="45%">
                            @if (i + 1 < CRPrequalifications.Count())
                            {
                                query = "../Prequalification/TemplatesList" + QueryStringModule.Encrypt("PreQualificationId=" + @CRPrequalifications[i + 1].PrequalificationId);
                               <ul>         
                                    <li>
                                        <strong>
                                            <a href="@query">@CRPrequalifications[i + 1].VendorName</a>
                                        </strong>
                                              
                                    </li>

                                    <li>@Resources.Common_Label_Submitted @if (CRPrequalifications[i + 1].PrequalificationSubmit == null)
                                                  {<i>@Resources.Common_Label_YetToSubmit</i>}
                                                  else
                                                  {@CRPrequalifications[i + 1].PrequalificationSubmit}
                                    @if (@CRPrequalifications[i + 1].IndicationTextClient != null)
                                    {
                                        <span class="indicationText">@CRPrequalifications[i + 1].IndicationTextClient</span>
                                    }
                                    </li>
                                            
                                    <li>@Resources.Common_Label_StatusPeriod @CRPrequalifications[i + 1].PrequalificationStart.ToString("MM/dd/yyyy") to @CRPrequalifications[i + 1].PrequalificationFinish.ToString("MM/dd/yyyy")</li>                         
                                </ul>
                            }
                         </td>
                         
                    
                     </tr>
                      }
                  }
                </table>
            </div>
        </div>
        <div class="paginationMenu">
            <div class="pagination">
            <ul>
            @if (CRPhasPrevious)
            {
                <li onclick="getPrequalification('@(CRPpageNumber - 1)')">@Resources.Common_Previouslink_text</li>
            }
            <li class="CRPrequalificationsPages" style="background:#fff" onclick="showClientReviewPrequalification(1,this)">@(CRPpageNumber * 3 + 1)</li>
            @if (CRPrequalifications.Count() > 10)
            {
                <li class="CRPrequalificationsPages" onclick="showClientReviewPrequalification(2,this)">@(CRPpageNumber * 3 + 2)</li>
            }
            @if (CRPrequalifications.Count() > 20)
            {
                <li class="CRPrequalificationsPages" onclick="showClientReviewPrequalification(3,this)">@(CRPpageNumber * 3 + 3)</li>
            }
            @if (CRPhasNext)
            {
                <li style=" width:40px;" onclick="getPrequalification('@(CRPpageNumber + 1)', 1)">@Resources.Common_Nextlink_text</li>
            }
            </ul>
            </div>
        </div>
    </div>
    @*Ends<<<*@

                <div class="dashboardContent" id="VendorsInvitedMainDiv" style="display: none;">
                                                       
                    
                        <table style="width:auto">
                            <tr>
                                @if (@Session["RoleName"].Equals("Client")||@Session["RoleName"].Equals("Super Client"))
                                {
                                    <td>
                                        <div class="selectedTab tab" id="tab1" style="padding-left: 4px; padding-right: 4px" onclick="Dashboard.TabClick(this, 0)">
                                            <input type="radio" id="Bi" value="true" />
                                            <label for="Bi" id="Business_Information_Label_Id" style="font-size: 11pt">@Resources.Common_Label_NewVendor</label>
                                        </div>
                                    </td>

                                    <td>
                                        <div class="unSelectedTab tab" id="tab2" style="padding-left: 4px; padding-right: 4px" onclick="Dashboard.TabClick(this, 1)">
                                            <input type="radio" id="Bi3" value="false" />
                                            <label for="Bi3" id="VendorArchivedDetails_Label_Id" style="font-size: 11pt">@Resources.Common_Label_ExpiredVendor</label>
                                        </div>
                                    </td>

                                    <td>
                                        <div class="unSelectedTab tab" id="tab3" style="padding-left: 4px; padding-right: 4px" onclick="Dashboard.TabClick(this, 2)">
                                            <input type="radio" id="Bi4" value="false" />
                                            <label for="Bi4" id="Payments_Label_Id" style="font-size: 11pt">@Resources.Common_Label_OutsideNetwork</label>
                                        </div>
                                    </td>
                                }
                            </tr>
                        </table>
                    <div id="InviteVendorNewVendor" class="inviteVendorPage"></div>
                    <div id="InviteVendorExpiredVendor" class="inviteVendorPage"></div>
                    <div id="InviteVendorOutsideVendor" class="inviteVendorPage"></div>
                </div>
    <div class="dashboardContent" id="piChartMainDiv">
        <div class="dashboardMenu">
        <div class="dashBoardSubtitles">
            <h3><strong>@Resources.ClientDashboard_barchart_label_vendorsbystatus</strong></h3>
        </div>
            <iframe width="98%" id="powerbireport" height="500" src="" frameborder="0" allowFullScreen="true"></iframe>
        <img class="pieChart" src="" id="piCharts"  />
            <div id="barchatlabel"> @Resources.ClientDashboard_barchart_label</div>
        </div>
    </div>
    <div class="dashboardContent" id="PrequalificationStatusMainDiv"  style="display:none;">
        <div class="dashboardMenu">
            <div class="dashBoardSubtitles">
                     <h3><strong>@Resources.Common_Heading_PrequalificationStatus</strong></h3>
                </div>
            @*<div>
                <table class="AdminBG">
                
                @{var PrequalificationStatuses = (List<FVGen3.Domain.Entities.PrequalificationStatus>)@ViewBag.PreQualificationsStatus;
                 
                  }
                @for (int i = 0; i < PrequalificationStatuses.Count(); i += 2)
                {
                     <tr style="background-color:#81DAF5;">
                         <td valign="top" width="50%">
                             <ul>
                                <li><strong>@PrequalificationStatuses[i].PrequalificationStatusName</strong></li>
				                <li><p>@PrequalificationStatuses[i].Description</p></li>				            
				                <li></li>
                                <li></li>
                            </ul>
                         </td>
                         <td valign="top" width="50%">
                            @if (i + 1 < PrequalificationStatuses.Count())
                            {
                               <ul class="statusDescClass">
                           
                                <li><strong>@PrequalificationStatuses[i+1].PrequalificationStatusName</strong></li>
				                <li><p>@PrequalificationStatuses[i+1].Description</p></li>				            
				                <li></li>
                                <li></li>
                            </ul>
                            }
                         </td>
                         
                    
                     </tr>
                }                     
                     

                </table>
            </div>*@
            <div>
                <table class="AdminBG" style="border-collapse:collapse">

                    @{var PrequalificationStatuses = (List<FVGen3.Domain.Entities.PrequalificationStatus>)@ViewBag.PreQualificationsStatus;

                    }
                    @for (int i = 0; i < PrequalificationStatuses.Count(); i += 2)
                    {
                        <tr style="background-color:#81DAF5;">
                            <td valign="top" width="49%">
                                <ul>

                                    <li><strong>@PrequalificationStatuses[i].PrequalificationStatusName</strong></li>
                                    <li><p>@PrequalificationStatuses[i].Description</p></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                            </td>
                            <td width="2%"></td>
                            <td valign="top" width="49%">
                                @if (i + 1 < PrequalificationStatuses.Count())
                                {
                                    <ul class="statusDescClass">

                                        <li><strong>@PrequalificationStatuses[i + 1].PrequalificationStatusName</strong></li>
                                        <li><p>@PrequalificationStatuses[i + 1].Description</p></li>
                                        <li></li>
                                        <li></li>
                                    </ul>
                                }
                            </td>


                        </tr>

                        <tr style="background-color:#CEECF5;">
                            <td width="49%">
                                <ul>
                                    <li></li>
                                </ul>
                            </td>
                            <td width="2%"></td>
                            <td width="49%">
                                <ul>
                                    <li></li>
                                </ul>
                            </td>
                        </tr>
                    }



                </table>
            </div>

        </div>
    </div>
</body>

</html>
<script src="~/Scripts/Application/Common/Tabs.js"></script>
@*<script src="~/Scripts/Application/Dashboard/Dashboard.js"></script>*@
<script src="~/Scripts/Application/Dashboard/ClientDashboard.js"></script>
<script>getInvitedVendors(0,"");</script>
   


