﻿<!--
 *****************************************************
Page Created Date:06/04/2013
Created By: Suma J
Purpose: To display the required Vendors 
Version: 1.0
****************************************************
-->
@using Resources;
@{
    ViewBag.Title = "ClientDashboardPartialView";
}

<h2>@Resources.Add_Client_Header</h2>
@*<html>
  <head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        function loadImg() {
            google.load("visualization", "1", { packages: ["corechart"] });
            google.setOnLoadCallback(drawChart);
            function drawChart() {
                var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['Work', 11],
          ['Eat', 2],
          ['Commute', 2],
          ['Watch TV', 2],
          ['Sleep', 7]
        ]);

                var options = {
                    title: 'My Daily Activities'
                };

                var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
                chart.draw(data, options);
            }
        }
    </script>
  </head>
  <body>
    <div id="chart_div"></div>
    <script>loadImg();</script>
  </body>
</html>*@