﻿<!--
 *****************************************************
Page Created Date:  06/26/2013
Created By: Kiran Talluri
Purpose:
Version: 1.0
****************************************************
-->

@using FVGen3.Domain.Entities;
@using Resources;
@{
    ViewBag.Title = "Client Users List";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" /> 
</head>
@Styles.Render("~/css/appInnerPages.css")
 @Scripts.Render("~/js/common.js")
 @Scripts.Render("~/Scripts/jquery-1.9.1.min.js")
<script src="~/Scripts/kendo/kendo.all.min.js"></script>
@*<script src="https://kendo.cdn.telerik.com/2019.3.1023/js/jszip.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2019.3.1023/js/angular.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2019.3.1023/js/jszip.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2019.3.1023/js/kendo.all.min.js"></script>*@
<link href="~/css/kendo/kendo.default.min.css" rel="stylesheet" />
<link href="~/css/kendo/kendo.common.min.css" rel="stylesheet" />
<link href="~/css/kendo/kendo.default.mobile.min.css" rel="stylesheet" />

@* Added code to call setPermissions() function on 08/07/2013 by Kiran Talluri*@      
    <script type="text/javascript">

        $(document).ready(function () {
            setPermissions('@ViewBag.ViewPermissions');
           GetUsers();

        });
        $(".client").change(function () {
            GetUsers();
        });
        $(document).ready(function () {
            $("#SearchRecentDocs").on("click", function (e) {

                GetUsers();

            });

        });
        $(document).bind('keypress',
               function (e) {
                   if (e.keyCode == 13) {
                       GetUsers();
                   }

               });
    </script>
<script>
    function getparams() {
        var ClientID = $("#clientId").val();
        var viewModel = kendo.observable({
            param: {
                filters: $('#RecentDocsFilter').val(),
                clientId: ClientID
            }

        });
        return JSON.parse(JSON.stringify(viewModel.param));
    }
  function GetUsers(){
        $(".Users").kendoGrid({


            dataSource: new kendo.data.DataSource({
                type: "get",

                transport: {
                    type: 'post',
                    read: {
                        dataType: "json",
                        type: 'post',
                        url: "../Client/ClientUsersList",

                        data: function (options) {
                            return Object.assign(getparams(), options.data);
                        }

                    },
                },

                schema: {


                    data: "Data",
                    total: "Total",
                    model: {
                        fields: {
                            IsSubClientUser: { type: "bool" },
                            Email: { type: "string" },

                        }
                    }
                },
                pageSize: 30,
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            }),

            //height: 700,
            sortable: true,
            resizable: true,
            pageable: true,


            columns: [

                {

                    title: "Name",
//width: "16%",
                   // field: "Name"
                    template: '#if(IsSubClientUser){##=Name##}else{# <a href="../SystemUsers/UpdateNewUserContactDetails_Update?userId=#=UserId#">#=Name#</a>  #}#',


                },
                {
                    title:"Email Address(User Name)",
                    field:"Email",
                },
                 {
                     title: "Status",
                     width:"15%",
                     field: "UserStatus",
                     template: "#if(UserStatus){#Active#}else{#In Active#}#",

                 }
            ]

        });
    };





</script>
        @* Ends <<<*@
<style>.k-grid-header th.k-header{font-weight:bold!important;}</style>
<body>
   
   
    <div class="contentSub">
        <table width="694" border="0">
              <tr>
                <td class="page-title">
                  <h2>@Resources.ClientUsersList_heading</h2>
                </td>
                <td align="right" valign="top">
                    <button type="button" btnType="Insert" onclick="document.location = '@Url.Action("AddNewUser", "SystemUsers")';">@Resources.Common_AddNew</button>
                </td>
              </tr>
        </table>  
        <div class="rowIST">  @Html.DropDownList("clientId", (IEnumerable<SelectListItem>)@ViewBag.VBSubClients, new { @style = "width: 300px", @onchange = "GetUsers()" })</div>
        
        @*<script>setTimeout(function () { UsersList(0); }, 1000);</script>*@
          <div class="partialPage"> <img src="~/images/searchquestionbank.png" style="float:right;height:25px;margin-right:5px!important;margin-bottom:10px" id="SearchRecentDocs" /><input type="search" placeholder="Search Here ...." id="RecentDocsFilter" size="30" style="float:right;height:25px!important;;margin-bottom:10px" />
<div class="Users"></div> </div>      
        @*<table id="tabledata">
            <tr class="partialHeader">*@
                @*@*<td width="146">Client Name</td>*@
                @*<td width="292">@Resources.common_Label_name_NoColon</td>
                <td width="292">@Resources.SearchResultsList_Email</td>
                <td width="146">@Resources.SearchResultsList_UserStatus</td>
            </tr>*@
    @*@foreach (var Client in (List<IGrouping<string, SystemUsersOrganizations>>)@ViewBag.clients)
    {
        if (ViewBag.HasClient != null && ViewBag.HasClient.Contains(@Client.Key))
        {
                    <td colspan="3">
                        <h3>@Client.Key</h3>
                    </td>
        }*@
       @*@foreach (var user in @ViewBag.VBclientsList)
        {
            
                <tr>
                    <td>
                        @if (@user.IsSubClientUser)
                    { @user.Name
                    }

                    else
                    {
                        <a href="../SystemUsers/UpdateNewUserContactDetails_Update?userId=@user.UserId">@user.Name</a>
                    }
                    <br />
                    @if (@user.contacts == null || @user.contacts.Count == 0)
                    {
                        @user.OrgName
                    }
                </td>
                @*}
                    else
                    {
                        <td>
                            <a href="../SystemUsers/UpdateNewUserContactDetails_Update?userId=@user.UserId">@user.Name</a><br />
                            @user.Organizations.Name
                        </td>
                    }*@
                @*<td>@user.Email</td>
                @if (@user.UserStatus == true)
                {
                    <td>@Resources.SearchResultsList_UserStatus_Active</td>
                }
                else
                {
                    <td>@Resources.SearchResultsList_UserStatus_InActive</td>
                }
            </tr>
            }*@
      

        @*</table>*@
         @*@if (@ViewBag.Count == 0)
         {
                <div class="commentsItalic">@Resources.Common_NoRecords</div>
         }
         
        @if (ViewBag.Page > 0)
        {
            <a  style="float:left;"href="@Url.Action("ClientOrVendorUsersList", new { page = ViewBag.Page - 1,clientId=ViewBag.clientId })"
               class="btn btn-default">
                &laquo; Prev
            </a>
        }
        @if (ViewBag.Page < ViewBag.MaxPage)
        {
            <a style="float:right;"href="@Url.Action("ClientOrVendorUsersList", new { page = ViewBag.Page + 1,clientId=ViewBag.clientId })"
               class="btn btn-default">
                Next &raquo;
            </a>
        }*@
    @*</div>*@
</div>
   
</body>
@*<script> $('#clientId').change(function () {
     window.location = '../Client/ClientOrVendorUsersList?clientId=' + $(this).val();
 })</script>*@
</html>
