﻿<!--
*****************************************************
Page Created Date:06/04/2013
Created By: Suma J
Purpose: To display the required Vendors 
Version: 1.0
****************************************************
-->

@using Resources
@{
    ViewBag.Title = "Client Dashboard";
    Layout = "~/Views/Shared/_ClientDashBoardLayout.cshtml";
}


<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="description" content="Client Dashboard - First, Verify">
<meta name="viewport" content="width=device-width">

<script src="~/Scripts/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
 <script src="js/plugins.js"></script>
 <script>

     //Siva on Dec 4th
     function showLeftPanel(type, currentElement)//0-Doc 1-Prequalifications 2-status Description 3-Notifications 4-InviteVendor
     {
         //To Hide All
         $("#PrequalificationsMainDiv").hide();
         $("#VendorsInvitedMainDiv").hide();
         $("#piChartMainDiv").hide();
         
         $("#PrequalificationStatusMainDiv").hide();
         $("#NotificationsMainDiv").hide();
       
         switch (type) {
             case 1: $("#PrequalificationsMainDiv").show(); break;
             case 2: $("#PrequalificationStatusMainDiv").show(); break;
             case 3:
                 {
                     $("#NotificationsMainDiv").show();
                     if (@ViewBag.NotificationCount > 0) {
                         markAllNotificationsAsRead(currentElement);
                     }

                     break;
                 }
               case 4: $("#VendorsInvitedMainDiv").show();

         }
     }

     //Siva on Dec 4th
     function markAllNotificationsAsRead(currentElement) {
         $.ajax(
        {
            type: 'POST',
            url: 'markAllNotificationsAsRead',
            data: '',
            success: function (data) {

                if (data.indexOf("Session expired") >= 0) {
                    window.location = "../SystemUsers/Login?lastLoginPage=" + "~/Client/ClientDashboard";
                }
                else if (data == "updateSuccess") {
                    //to change text of notifications link 
                    $(currentElement).closest("li").find("sup").remove();
                }
                else {
                    alert("@Resources.Common_unableToProcess");
                }
            },
            error: function () {
                alert("@Resources.Common_unableToProcess");
            }
        });
     }
     //End on Dec 4th

     $(document).ready(function () {
         var searchId = $("#ClientList").val();

         if ($('#ClientList').children('option').length < 2)
             $('#ClientList').hide(); ;
         //alert(searchId + "");
         createPiChart(searchId);


         $("#ClientList").change(function () {


             var searchId = $(this).val();
             //alert(searchId + "");
             createPiChart(searchId);


         });


     });



     function createPiChart(id) {

         var selectedvendorId = id;
         //alert(selectedvendorId + "");


         $.ajax({
             type: 'Post',
             url: 'getPiChartURL',

             data: 'clientId=' + selectedvendorId,
             success: function (data) {
                 //alert(data);
                 //var src = "http://chart.apis.google.com/chart?cht=p3&chs=500x200&chd=t:73,13,10,3,1&chco=80C65A,224499,FF0000&chl=Chocolate|Puff+Pastry|Cookies|Muffins|Gelato";

                 $("#piCharts").attr("src", data);
             },
             error: function () {
                 console.trace();
                 //alert("Fail ");
             }
         });

     }

     function showMoreStatusDescriptions(moreButton) {

         if ($(moreButton).text().indexOf("More") != -1) {
             $(".statusDescClass").show();
             $(moreButton).text("Less..");
         }
         else {
             $(moreButton).text("More..");
             $(".statusDescClass").hide();
         }
     }
     //     function showMoreNotifications(moreButton) {

     //         if ($(moreButton).text().indexOf("More") != -1) {
     //             $(".NotificationsClass").show();
     //             $(moreButton).text("Less..");
     //         }
     //         else {
     //             $(moreButton).text("More..");
     //             $(".NotificationsClass").hide();
     //         }
     //     }

     function showMorePrequals(moreButton) {

         if ($(moreButton).text().indexOf("More") != -1) {
             $(".prequalClass").show();
             $(moreButton).text("Less..");
         }
         else {
             $(moreButton).text("More..");
             $(".prequalClass").hide();
         }
     }

</script>


@*Rajesh on 12/12/2013*@
<script>
    function showNotifications(pageNumber, obj) {
        $(".Notificatification1").hide();
        $(".Notificatification2").hide();
        $(".Notificatification3").hide();

        $(".Notificatification" + pageNumber).show();
        $(".notificationPages").css("background", "#dedede");
        $(obj).css("background", "#ffffff");
    }
    function getNotifications(pageNumber) {
        //alert(pageNumber);
        $.ajax({
            type: 'Post',
            url: 'NotificationsPartialView',
            data: '&pageNumber=' + pageNumber,
            success: function (data) {
                //alert(data);
                $("#NotificationsMainDiv").html(data);
            },
            error: function () {
                console.trace();
                //alert("An error occured while fetching units, Sesion expiried");
            }
        });
    
    }
    function getPrequalification(pageNumber) {
        //alert(pageNumber);
        $.ajax({
            type: 'Post',
            url: 'PrequalificationPartialView',
            data: '&pageNumber=' + pageNumber,
            success: function (data) {
                //alert(data);
                $("#PrequalificationsMainDiv").html(data);
            },
            error: function () {
                console.trace();
                //alert("An error occured while fetching units, Sesion expiried");
            }
        });

    }

    function showPrequalification(pageNumber, obj) {
        $(".Prequalifications1").hide();
        $(".Prequalifications2").hide();
        $(".Prequalifications3").hide();

        $(".Prequalifications" + pageNumber).show();
        $(".prequalificationPages").css("background", "#dedede");
        $(obj).css("background", "#fff");
    }

    function getInvitedVendors(pageNumber) {
        //alert(pageNumber);
        $.ajax({
            type: 'Post',
            url: 'InviteVendorsPartialView',
            data: '&pageNumber=' + pageNumber,
            success: function (data) {
                //alert(data);
                $("#VendorsInvitedMainDiv").html(data);
            },
            error: function () {
                console.trace();
                //alert("An error occured while fetching units, Sesion expiried");
            }
        });

    }
    function showInvitedVendors(pageNumber, obj) {
        $(".InvitedVendors1").hide();
        $(".InvitedVendors2").hide();
        $(".InvitedVendors3").hide();

        $(".InvitedVendors" + pageNumber).show();
        $(".InvitedVendorsPages").css("background", "#dedede");
        $(obj).css("background", "#fff");
    }
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $(".AdminBG tr:odd").css("background", "#f6f6f6");
    });

</script>


@*Ends*@
</head>
<style type="text/css">
#search {
	clear:both;
}
input#search-box, select#status-box {
    border: 2px solid;
    box-shadow: 0 0 9px #CFD1D4  inset;
    color: #A7A9AC;
    float: left;
    height:32px;
    max-width: 865px;
    padding-left: 15px;
    padding-right: 15px;
    width: 560px;
	margin-left:0px;
	background:#f9f9f9;
	
	 }
input#search-button {
    background:url("../images/search.png") no-repeat scroll right -5px transparent;
    border: 1px solid;
    color: #A7A9AC;
    height:36px;
    width: 40px; cursor:pointer;
}
input#status-button {
	background-color: #000;
    border: 0 none;
    color: #fff;
    font-size: 2em;
    /*height: 42px;*/
    margin-left: 5px;
    /*width: 42px; */
}</style>
<body>

	<div class="dashboardContent" style="display:none">
		
        <div class="ClientDashboard_OrgType">
                @if (((IEnumerable<SelectListItem>)@ViewBag.VBClientOrgList).Count() > 1)
                {
                <label>@Resources.Common_Label_Organization: </label>
                }
            @Html.DropDownList("ClientList", (IEnumerable<SelectListItem>)@ViewBag.VBClientOrgList)
        </div>
		
	
    	
	

	    @*<div class="dashboardContent">  *@
        <div class="dashboardMenu" >     
        <table width="99%" border="0"> 

        <tr>
          @*<td width="60%" valign="top"> <!--Pie Chart-->
                     <div class="dashBoardSubtitles" style="padding:10px 0 15px 0;float:left;">
                            <h3><strong>Vendors By Status</strong></h3>
                        </div>
                    
                
                       <div>
                            <img class="pieChart" src="" id="piCharts"  />
                        </div> 
                    </td>*@
         
              
                    @*<td width="40%" valign="top" style="padding:10px 0px;" id="preQualificationList" class="ClientBG">
                        <div class="dashBoardSubtitles">
    	                    <h3><strong>Vendor's Prequalification</strong></h3>
                        </div>
                        <div style="padding:10px 0px 10px 0px;float:left;">
                            <b>Please Allow 10 Days for Processing</b>  
                        </div>
                        @{int prequalCount = 0;}
                        @foreach (var prequalificationList in @ViewBag.VBPrequalificationList)
                        {
                            var query = "../Prequalification/TemplatesList" + QueryStringModule.Encrypt("PreQualificationId=" + @prequalificationList.PrequalificationId);

                            if (prequalCount < 4)
                            {
                                @:<table style="float:left; border-collapse:collapse;width:95%;" >
                            }
                            else
                            {
                                @:<table style="float:left; border-collapse:collapse; display:none;width:95%;"  class="prequalClass">
                            }
                                <tr >
                                   
                                    <td valign="top">
                                        <ul>
                                            
                                            <li>
                                                <strong>
                                                    <a href="@query">@prequalificationList.Vendor.Name</a>
                                                </strong>
                                              
                                            </li>

                                            <li>Submitted:@if (prequalificationList.PrequalificationSubmit == null)
                                                          {<i>Yet to Submit</i>} else {@prequalificationList.PrequalificationSubmit}
                                            @if (@prequalificationList.PrequalificationStatus.IndicationTextClient != null)
                                            {
                                                <span id="indicationText">@prequalificationList.PrequalificationStatus.IndicationTextClient</span>
                                            }
                                            </li>
                                            
                                            <li>Status Period:@prequalificationList.PrequalificationStart.ToString("MM/dd/yyyy") to @prequalificationList.PrequalificationFinish.ToString("MM/dd/yyyy")</li>                         
                                        </ul>
                                    </td>
                                </tr>
                            @:</table>
                        
                            prequalCount++;
                        }

                        @if (prequalCount > 4)
                        {
                            <div class="MoreButton_button" id = "prequalMoreLink_Div_Id" style="float:right; margin-right:30px;">
                                <a href="#!" onclick="showMorePrequals(this)">More...</a>
                            </div>
                        }
                    </td>*@
                
                    @*Notifications not using *@
                    @*<td width="40%" valign="top" style="padding:10px 0px;display:none;" id="Notifications" class="ClientBGUL">
                        <div class="dashBoardSubtitles">
    	                    <h3><strong>Notifications</strong></h3>
                        </div> 
                        @{var NotifiCount = 0;}
                        @foreach (var notification in (List<FVGen3.Domain.Entities.LocalNotifications>)@ViewBag.NotificationsSent)
                        {
                            if(NotifiCount<4)
                            {
                                @:<ul style="height:83px;margin-top:10px;">
                            }
                            else
                            {
                                @:<ul style="height:83px;display:none;" class="NotificationsClass">
                            }
                                <li><strong>@notification.VendorName</strong></li>
				                <li>Purpose : @notification.Purpose</li>				            
				                <li>Prequalifying for: @notification.ClientName</li>
                                if (notification.SmallComment != "")
                                {
                                    <li title = "@notification.Comments"> Comments: @notification.SmallComment </li>
                                }
                                <li> </li>
                            @:</ul>
                        }     
                        @if (NotifiCount > 4)
                        {
                            <a href="#!" onclick="showMoreNotifications(this)">More...</a> 
                        }
                    </td>*@      

                    @*<td width="40%" valign="top" style="padding:10px 0px;display:none;" class="ClientBGUL" id="StatusDescriptions">
                        <div class="dashBoardSubtitles">
    	                    <h3><strong>Status Descriptions</strong></h3>
                        </div> 
                        @{int count = 0;}
                        @foreach (var statuses in (List<FVGen3.Domain.Entities.PrequalificationStatus>)ViewBag.PreQualificationsStatus)
                        {
                            if (count < 4)
                            {
                                @:<ul style="height:83px;margin-top:10px;">
                            }
                            else
                            {
                                @:<ul style="height:83px;display:none;margin-top:10px;" class="statusDescClass">
                            }
                                <li><strong>@statuses.PrequalificationStatusName</strong></li>
				                <li><p>@statuses.Description</p></li>				            
				                <li></li>
                                <li></li>
                            @:</ul>
                            count++;
                        }      
                        @if (count > 4)
                        {
                            <div class="MoreButton_button" id = "moreLink_Div_Id" style="float:right; margin-right:30px;">
                                <a href="#!" onclick="showMoreStatusDescriptions(this)">More...</a>
                            </div>
                        }
                    </td>*@   

               
            </tr>
        </table>
	    </div>
        </div>
    @*</div>*@		  


    <div class="dashboardContent" id="NotificationsMainDiv" style="display:none;">
        <div class="dashboardMenu" style="min-height:495px;">
          
            <div class="dashBoardSubtitles">
                <h3><strong>@Resources.Common_Label_Notifications</strong></h3>
            </div>
        
            <div>
                @*Kiran on 9/12/2014*@
                <table class="AdminBG" id="NotificationsList" width="100%">
                @{var notifications = (List<FVGen3.Domain.Entities.LocalNotifications>)@ViewBag.NotificationsSent;
                  var hasPrevious = false;
                  var hasNext = false;
                  var pageNumber = 0;
                  }
                @for (int i = 0; i < notifications.Count(); i += 2)
                {
                    if (i == 0)
                    {
                        hasPrevious = notifications[0].HasPrevious;
                        hasNext = notifications[0].HasNext;
                        pageNumber = notifications[0].PageNumber;
                    }
                     <tr class="Notificatification@(i / 10 + 1)"
                     @if (i / 10 + 1 != 1)
                     {
                        @:style="display:none;"
                     }
                     >
                         <td valign="top">
                             <ul class="NotificationsClass">
                           
                                <li><strong>@notifications[i].VendorName</strong></li>
				                <li>@Resources.Common_Label_Purpose @notifications[i].Purpose exp.</li>				            
				                <li>@Resources.Common_Label_PrequalifyFor @notifications[i].ClientName</li>
                                <li>@notifications[i].EmailSentDate.ToString("MM/dd/yyyy")</li>
                                @*@if (notifications[i].SmallComment != "")
                                {
                                    <li class="embedList" title = "@notifications[i].Comments"> Comments: @notifications[i].SmallComment </li>
                                }*@
                                
                            </ul>
                         </td>
                          <td valign="top">
                            @if (i + 1 < notifications.Count())
                            {
                               <ul class="NotificationsClass">
                           
                                <li><strong>@notifications[i + 1].VendorName</strong></li>
				                <li>@Resources.Common_Label_Purpose @notifications[i + 1].Purpose exp.</li>				            
				                <li>@Resources.Common_Label_PrequalifyFor @notifications[i + 1].ClientName</li>
                                <li>@notifications[i+1].EmailSentDate.ToString("MM/dd/yyyy")</li>
                                @*@if (notifications[i + 1].SmallComment != "")
                                {
                                    <li class="embedList" title = "@notifications[i + 1].Comments"> Comments: @notifications[i + 1].SmallComment </li>
                                }*@
                                
                            </ul>
                            }
                         </td>
                         
                    
                     </tr>
                }
                </table>
                @*Ends<<<*@
            </div>
            
            

        </div>
        <div class="paginationMenu">
            <div class="pagination">
            <ul>
            @if (hasPrevious)
            {
                <li onclick="getNotifications('@(pageNumber - 1)')" id="NotificationsPrevious">Previous</li>
            }
            <li class="notificationPages" style="background:#fff" onclick="showNotifications(1,this)" id="NotificationsPage1">@(pageNumber * 3 + 1)</li>
            @if (notifications.Count() > 10)
            {
                <li class="notificationPages" onclick="showNotifications(2,this)" id="NotificationsPage2">@(pageNumber * 3 + 2)</li>
            }
            @if (notifications.Count() > 20)
            {
                <li class="notificationPages" onclick="showNotifications(3,this)" id="NotificationsPage3">@(pageNumber * 3 + 3)</li>
            }
            @if (hasNext)
            {
                <li onclick="getNotifications('@(pageNumber + 1)')" id="NotificationsNext">Next</li>
            }
            </ul>
            </div>
        </div>
    </div>

    <div class="dashboardContent" id="PrequalificationsMainDiv" style="display:none;">
        <div class="dashboardMenu">
          
            <div class="dashBoardSubtitles">
                     <h3><strong>@Resources.Common_Status_Heading_Submitted</strong></h3>
                </div>
            <div>
                <table class="AdminBG" id="PrequalificationsList">
                @{var Prequalifcations = (List<FVGen3.Domain.Entities.LocalPrequalification>)@ViewBag.VBPrequalificationList;
                  var PhasPrevious = false;
                  var PhasNext = false;
                  var PpageNumber = 0;
                  }
                @for (int i = 0; i < Prequalifcations.Count(); i += 2)
                {

                    var query = "../Prequalification/TemplatesList" + QueryStringModule.Encrypt("PreQualificationId=" + @Prequalifcations[i].PrequalificationId);
                    if (i == 0)
                    {
                        PhasPrevious = Prequalifcations[0].HasPrevious;
                        PhasNext = Prequalifcations[0].HasNext;
                        PpageNumber = Prequalifcations[0].PageNumber;
                    }
                     <tr class="Prequalifications@(i / 10 + 1)"
                     @if (i / 10 + 1 != 1)
                     {
                        @:style="display:none;"
                     }
                     >
                        <td valign="top" width="45%">@*Rajesh on 12/27/2013*@
                             <ul>
                                            
                                            <li>
                                                <strong>
                                                    <a href="@query">@Prequalifcations[i].VendorName</a>
                                                </strong>
                                              
                                            </li>

                                            <li>@Resources.Common_Label_Submitted_No_Col:@if (Prequalifcations[i].PrequalificationSubmit == null)
                                                          {<i>@Resources.Common_Label_YetToSubmit</i>}
                                                          else
                                                          {@Prequalifcations[i].PrequalificationSubmit}
                                            @if (@Prequalifcations[i].IndicationTextClient != null)
                                            {
                                                <span class="indicationText">@Prequalifcations[i].IndicationTextClient</span>
                                            }
                                            </li>
                                            
                                            <li>@Resources.Vendorsearchpartial_StatusPeriod_No_Col:@Prequalifcations[i].PrequalificationStart.ToString("MM/dd/yyyy") to @Prequalifcations[i].PrequalificationFinish.ToString("MM/dd/yyyy")</li>                         
                                        </ul>
                         </td>
                           @*Rajesh on 12/27/2013*@
                         <td width="4%"><b>@Prequalifcations[i].Initials</b></td>
                         <td width="2%" style="background:#f8f8f8;"></td>
                         <td valign="top" width="45%">
                         @*Ends*@
                            @if (i + 1 < Prequalifcations.Count())
                            {
                                query = "../Prequalification/TemplatesList" + QueryStringModule.Encrypt("PreQualificationId=" + @Prequalifcations[i + 1].PrequalificationId);
                               <ul>
                                            
                                            <li>
                                                <strong>
                                                    <a href="@query">@Prequalifcations[i + 1].VendorName</a>
                                                </strong>
                                              
                                            </li>

                                            <li>@Resources.Common_Label_Submitted_No_Col:@if (Prequalifcations[i + 1].PrequalificationSubmit == null)
                                                          {<i>@Resources.Common_Label_YetToSubmit</i>}
                                                          else
                                                          {@Prequalifcations[i + 1].PrequalificationSubmit}
                                            @if (@Prequalifcations[i + 1].IndicationTextClient != null)
                                            {
                                                <span class="indicationText">@Prequalifcations[i + 1].IndicationTextClient</span>
                                            }
                                            </li>
                                            
                                            <li>@Resources.Vendorsearchpartial_StatusPeriod_No_Col:@Prequalifcations[i + 1].PrequalificationStart.ToString("MM/dd/yyyy") to @Prequalifcations[i + 1].PrequalificationFinish.ToString("MM/dd/yyyy")</li>                         
                                        </ul>
                            }
                         </td>
                         
                    
                     </tr>
                }
                     
                     

                </table>
            </div>
        </div>
        <div class="paginationMenu">
            <div class="pagination">
            <ul>
            @if (PhasPrevious)
            {
                <li onclick="getPrequalification('@(PpageNumber - 1)')">Previous</li>
            }
            <li class="prequalificationPages" style="background:#fff" onclick="showPrequalification(1,this)">@(PpageNumber * 3 + 1)</li>
            @if (Prequalifcations.Count() > 10)
            {
                <li class="prequalificationPages" onclick="showPrequalification(2,this)">@(PpageNumber * 3 + 2)</li>
            }
            @if (Prequalifcations.Count() > 20)
            {
                <li class="prequalificationPages" onclick="showPrequalification(3,this)">@(PpageNumber * 3 + 3)</li>
            }
            @if (PhasNext)
            {
                <li style=" width:40px;" onclick="getPrequalification('@(PpageNumber + 1)')">Next</li>
            }
            </ul>
            </div>
        </div>
    </div>
    <div class="dashboardContent" id="VendorsInvitedMainDiv" style="display:none;">
        <div class="dashboardMenu">
          
            <div class="dashBoardSubtitles" >
                    <h3><strong>Vendors Invited</strong></h3>
            </div>
        
            <div>
                @*Kiran on 9/12/2014*@
                <table class="AdminBG" id="inviteVendorList" width="100%">
                @{var InvitedVendor = (List<FVGen3.Domain.Entities.LocalinviteVendor>)@ViewBag.invitedVendors;
                  var IVhasPrevious = false;
                  var IVhasNext = false;
                  var IVpageNumber = 0;
                  }
                @for (int i = 0; i < InvitedVendor.Count(); i += 2)
                {


                    if (i == 0)
                    {
                        IVhasPrevious = InvitedVendor[0].HasPrevious;
                        IVhasNext = InvitedVendor[0].HasNext;
                        IVpageNumber = InvitedVendor[0].PageNumber;
                    }
                     <tr class="InvitedVendors@(i / 10 + 1)"
                     @if (i / 10 + 1 != 1)
                     {
                        @:style="display:none;"
                     }
                     >
                         <td valign="top" width="50%">
                             <ul>
                                @*Kiran on 9/12/2014*@             
                                <li>
                                    <strong>
                                        @InvitedVendor[i].VendorCompanyName
                                    </strong>
                                              
                                </li>
                                <li>@InvitedVendor[i].EmailAddress</li>
                                <li>@InvitedVendor[i].InvitationDate.ToString("MM/dd/yyyy")</li>
                                <li>@Resources.InviteVendorsPartial_Label_Invitedby @InvitedVendor[i].FullName @InvitedVendor[i].LastName
                                </li> 
                                 @*Ends<<<*@                  
                            </ul>
                         </td>
                         <td valign="top" width="50%">
                            @if (i + 1 < InvitedVendor.Count())
                            {
                               <ul>
                                    @*Kiran on 8/30/2014*@         
                                    <li>
                                        <strong>
                                            @InvitedVendor[i+1].VendorCompanyName
                                        </strong>
                                              
                                    </li>
                                    <li>@InvitedVendor[i+1].EmailAddress</li>
                                    <li>@InvitedVendor[i+1].InvitationDate.ToString("MM/dd/yyyy")</li>
                                    <li>@Resources.InviteVendorsPartial_Label_Invitedby @InvitedVendor[i+1].FullName @InvitedVendor[i+1].LastName
                                    </li> 
                                     @*Ends<<<*@                 
                                </ul>
                            }
                         </td>
                         
                    
                     </tr>
                }
                     
                     

                </table>
                @*Ends<<<*@
            </div>
        </div>
        <div class="paginationMenu">
            <div class="pagination">
            <ul>
            @if (IVhasPrevious)
            {
                <li onclick="getInvitedVendors('@(IVpageNumber - 1)')">Previous</li>
            }
            <li class="InvitedVendorsPages" style="background:#fff;" onclick="showInvitedVendors(1,this)">@(IVpageNumber * 3 + 1)</li>
            @if (InvitedVendor.Count() > 10)
            {
                <li class="InvitedVendorsPages" onclick="showInvitedVendors(2,this)">@(IVpageNumber * 3 + 2)</li>
            }
            @if (InvitedVendor.Count() > 20)
            {
                <li class="InvitedVendorsPages" onclick="showInvitedVendors(3,this)">@(IVpageNumber * 3 + 3)</li>
            }
            @if (IVhasNext)
            {
                <li onclick="getInvitedVendors('@(IVpageNumber + 1)')">Next</li>
            }
            </ul>
            </div>
        </div>
    </div>
    <div class="dashboardContent" id="piChartMainDiv">
        <div class="dashboardMenu">
        <div class="dashBoardSubtitles">
            <h3><strong>Vendors By Status</strong></h3>
        </div>
        
        <img class="pieChart" src="" id="piCharts"  />
            <div> No.Of Vendors</div>
        </div>
    </div>
    <div class="dashboardContent" id="PrequalificationStatusMainDiv"  style="display:none;">
        <div class="dashboardMenu">
            <div class="dashBoardSubtitles">
                     <h3><strong>@Resources.Common_Heading_PrequalificationStatus</strong></h3>
                </div>
            <div>
                <table class="AdminBG">
                
                @{var PrequalificationStatuses = (List<FVGen3.Domain.Entities.PrequalificationStatus>)@ViewBag.PreQualificationsStatus;
                 
                  }
                @for (int i = 0; i < PrequalificationStatuses.Count(); i += 2)
                {
                     <tr>
                         <td valign="top" width="50%">
                             <ul>
                                <li><strong>@PrequalificationStatuses[i].PrequalificationStatusName</strong></li>
				                <li><p>@PrequalificationStatuses[i].Description</p></li>				            
				                <li></li>
                                <li></li>
                            </ul>
                         </td>
                         <td valign="top" width="50%">
                            @if (i + 1 < PrequalificationStatuses.Count())
                            {
                               <ul class="statusDescClass">
                           
                                <li><strong>@PrequalificationStatuses[i+1].PrequalificationStatusName</strong></li>
				                <li><p>@PrequalificationStatuses[i+1].Description</p></li>				            
				                <li></li>
                                <li></li>
                            </ul>
                            }
                         </td>
                         
                    
                     </tr>
                }
                     
                     

                </table>
            </div>
        </div>
    </div>
</body>

</html>



   


