﻿@using Resources
<div class="dashboardMenu"  style="min-height:495px;">
          
            <div class="dashBoardSubtitles">
                     <h3><strong>@Resources.Submitted_for_Processing</strong></h3>
                </div>
        
            <div style=" float:left; width:680px; height:auto;">
                <table class="AdminBG" id="PrequalificationsList">
                @{var Prequalifcations = (List<FVGen3.Domain.Entities.LocalPrequalification>)@ViewBag.VBPrequalificationList;
                  var PhasPrevious = false;
                  var PhasNext = false;
                  var PpageNumber = 0;
                  }
                @for (int i = 0; i < Prequalifcations.Count(); i += 2)
                {

                    var query = "../Prequalification/TemplatesList" + QueryStringModule.Encrypt("PreQualificationId=" + @Prequalifcations[i].PrequalificationId);
                    if(i==0)
                    {
                        PhasPrevious = Prequalifcations[0].HasPrevious;
                        PhasNext = Prequalifcations[0].HasNext;
                        PpageNumber = Prequalifcations[0].PageNumber;
                    }
                     <tr class="Prequalifications@(i/10+1)"
                     @if(i/10+1 !=1)
                     {
                        @:style="display:none;"
                     }
                     >
                         <td valign="top" width="45%">
                             <ul>
                                            
                                            <li>
                                                <strong>
                                                    <a href="@query">@Prequalifcations[i].VendorName</a>
                                                </strong>
                                              
                                            </li>

                                            <li>@Resources.Common_Label_Submitted_No_Col:@if (Prequalifcations[i].PrequalificationSubmit == null)
                                                          {<i>@Resources.Common_Label_YetToSubmit</i>} else {@Prequalifcations[i].PrequalificationSubmit}
                                            @if (@Prequalifcations[i].IndicationTextClient != null)
                                            {
                                                <span class="indicationText">@Prequalifcations[i].IndicationTextClient</span>
                                            }
                                            </li>
                                            
                                            <li>@Resources.Vendorsearchpartial_StatusPeriod_No_Col:@Prequalifcations[i].PrequalificationStart.ToString("MM/dd/yyyy") to @Prequalifcations[i].PrequalificationFinish.ToString("MM/dd/yyyy")</li>                         
                                        </ul>
                         </td>
                          @*Rajesh on 12/27/2013*@
                         <td width="4%"><b>@Prequalifcations[i].Initials</b></td>
                         <td width="2%"></td>
                         <td valign="top" width="45%">
                         @*Ends*@
                         
                            @if (i + 1 < Prequalifcations.Count())
                            {
                               query = "../Prequalification/TemplatesList" + QueryStringModule.Encrypt("PreQualificationId=" + @Prequalifcations[i + 1].PrequalificationId);
                               <ul>
                                            
                                            <li>
                                                <strong>
                                                    <a href="@query">@Prequalifcations[i+1].VendorName</a>
                                                </strong>
                                              
                                            </li>

                                            <li>@Resources.Common_Label_Submitted_No_Col:@if (Prequalifcations[i+1].PrequalificationSubmit == null)
                                                          {<i>@Resources.Common_Label_YetToSubmit</i>}
                                                          else
                                                          {@Prequalifcations[i+1].PrequalificationSubmit}
                                            @if (@Prequalifcations[i+1].IndicationTextClient != null)
                                            {
                                                <span class="indicationText">@Prequalifcations[i+1].IndicationTextClient</span>
                                            }
                                            </li>
                                            
                                            <li>@Resources.Vendorsearchpartial_StatusPeriod_No_Col:@Prequalifcations[i+1].PrequalificationStart.ToString("MM/dd/yyyy") to @Prequalifcations[i+1].PrequalificationFinish.ToString("MM/dd/yyyy")</li>                         
                                        </ul>
                            }
                         </td>
                         
                    
                     </tr>
                }
                     
                     

                </table>
            </div>
            
           

        </div>
        <div class="paginationMenu">
         <div class="pagination">
            <ul>
            @if (PhasPrevious)
            {
                <li onclick="getPrequalification('@(PpageNumber - 1)')">Previous</li>
            }
            <li class="prequalificationPages" style="background:#fff" onclick="showPrequalification(1,this)">@(PpageNumber * 3 + 1)</li>
            @if (Prequalifcations.Count() > 10)
            {
                <li class="prequalificationPages" onclick="showPrequalification(2,this)">@(PpageNumber * 3 + 2)</li>
            }
            @if (Prequalifcations.Count() > 20)
            {
                <li class="prequalificationPages" onclick="showPrequalification(3,this)">@(PpageNumber * 3 + 3)</li>
            }
            @if (PhasNext)
            {
                <li onclick="getPrequalification('@(PpageNumber + 1)')">Next</li>
            }
            </ul>
            </div>
            </div>