﻿@using Resources;

<div class="dashboardMenu"  style="min-height:495px;">

        
        @if (@ViewBag.type == 0 || @ViewBag.type == null)
        {
            <div class="dashBoardSubtitles">
                     <h3><strong>@Resources.Common_Status_Heading_Submitted</strong></h3>
                </div>
        
            <div style=" float:left; width:680px; height:auto;">
                <table class="AdminBG" id="PrequalificationsList">
                @{var Prequalifcations = (List<FVGen3.Domain.Entities.LocalPrequalification>)@ViewBag.VBPrequalificationList;
                  var PhasPrevious = false;
                  var PhasNext = false;
                  var PpageNumber = 0;
                  }
                @for (int i = 0; i < Prequalifcations.Count(); i += 2)
                {
                    var query = "../Prequalification/TemplatesList" + QueryStringModule.Encrypt("PreQualificationId=" + @Prequalifcations[i].PrequalificationId);
                    if (i == 0)
                    {
                        PhasPrevious = Prequalifcations[0].HasPrevious;
                        PhasNext = Prequalifcations[0].HasNext;
                        PpageNumber = Prequalifcations[0].PageNumber;
                    }
                     <tr class="Prequalifications@(i / 10 + 1)"
                     @if (i / 10 + 1 != 1)
                     {
                        @:style="display:none;"
                     }
                     >
                         <td valign="top" width="45%">
                             <ul>
                                <li>
                                        <strong>
                                            <a href="@query">@Prequalifcations[i].VendorName</a>
                                        </strong>
                                              
                                    </li>

                                    <li>@Resources.Common_Label_Submitted@if (Prequalifcations[i].PrequalificationSubmit == null)
                                                  {<i>@Resources.Common_Label_YetToSubmit</i>}
                                                  else
                                                  {@Prequalifcations[i].PrequalificationSubmit}
                                    @if (@Prequalifcations[i].IndicationTextClient != null)
                                    {
                                        <span class="indicationText">@Prequalifcations[i].IndicationTextClient</span>
                                    }
                                    </li>
                                            
                                    <li>@Resources.Common_Label_StatusPeriod@Prequalifcations[i].PrequalificationStart.ToString("MM/dd/yyyy") to @Prequalifcations[i].PrequalificationFinish.ToString("MM/dd/yyyy")</li>                         
                                </ul>
                         </td>
                         <td width="4%"><b>@Prequalifcations[i].Initials</b></td>
                         <td width="2%"></td>
                         <td valign="top" width="45%">
                            @if (i + 1 < Prequalifcations.Count())
                            {
                                query = "../Prequalification/TemplatesList" + QueryStringModule.Encrypt("PreQualificationId=" + @Prequalifcations[i + 1].PrequalificationId);
                               <ul>         
                                    <li>
                                        <strong>
                                            <a href="@query">@Prequalifcations[i + 1].VendorName</a>
                                        </strong>
                                              
                                    </li>

                                    <li>@Resources.Common_Label_Submitted@if (Prequalifcations[i + 1].PrequalificationSubmit == null)
                                                  {<i>@Resources.Common_Label_YetToSubmit</i>}
                                                  else
                                                  {@Prequalifcations[i + 1].PrequalificationSubmit}
                                    @if (@Prequalifcations[i + 1].IndicationTextClient != null)
                                    {
                                        <span class="indicationText">@Prequalifcations[i + 1].IndicationTextClient</span>
                                    }
                                    </li>
                                            
                                    <li>@Resources.Common_Label_StatusPeriod@Prequalifcations[i + 1].PrequalificationStart.ToString("MM/dd/yyyy") to @Prequalifcations[i + 1].PrequalificationFinish.ToString("MM/dd/yyyy")</li>                         
                                </ul>
                            }
                         </td>
                     </tr>
                }
                </table>
            </div>
        <div class="paginationMenu">
             <div class="pagination">
                <ul>
                @if (PhasPrevious)
                {
                    <li onclick="getPrequalification('@(PpageNumber - 1)', '@ViewBag.type')">Previous</li>
                }
                <li class="prequalificationPages" style="background:#fff" onclick="showPrequalification(1,this)">@(PpageNumber * 3 + 1)</li>
                @if (Prequalifcations.Count() > 10)
                {
                    <li class="prequalificationPages" onclick="showPrequalification(2,this)">@(PpageNumber * 3 + 2)</li>
                }
                @if (Prequalifcations.Count() > 20)
                {
                    <li class="prequalificationPages" onclick="showPrequalification(3,this)">@(PpageNumber * 3 + 3)</li>
                }
                @if (PhasNext)
                {
                    <li onclick="getPrequalification('@(PpageNumber + 1)','@ViewBag.type')">Next</li>
                }
                </ul>
                </div>
        </div>
        }
        else
        { 
        <div class="dashBoardSubtitles">
            <h3><strong>@Resources.Common_Status_ClientReview</strong></h3>
        </div>
        
            <div style=" float:left; width:680px; height:auto;">
                <table class="AdminBG">
                @{var CRPrequalifications = (List<FVGen3.Domain.Entities.LocalPrequalification>)@ViewBag.VBPrequalificationList;
                  var CRPhasPrevious = false;
                  var CRPhasNext = false;
                  var CRPpageNumber = 0;
                  }
                @for (int i = 0; i < CRPrequalifications.Count(); i += 2)
                {
                    var query = "../Prequalification/TemplatesList" + QueryStringModule.Encrypt("PreQualificationId=" + @CRPrequalifications[i].PrequalificationId);
                    if (i == 0)
                    {
                        CRPhasPrevious = CRPrequalifications[0].HasPrevious;
                        CRPhasNext = CRPrequalifications[0].HasNext;
                        CRPpageNumber = CRPrequalifications[0].PageNumber;
                    }
                     <tr class="CRPrequalifications@(i / 10 + 1)"
                     @if (i / 10 + 1 != 1)
                     {
                        @:style="display:none;"
                     }
                     >
                         <td valign="top" width="45%">
                             <ul>
                                <li>
                                        <strong>
                                            <a href="@query">@CRPrequalifications[i].VendorName</a>
                                        </strong>
                                              
                                    </li>

                                    <li>@Resources.Common_Label_Submitted@if (CRPrequalifications[i].PrequalificationSubmit == null)
                                                  {<i>@Resources.Common_Label_YetToSubmit</i>}
                                                  else
                                                  {@CRPrequalifications[i].PrequalificationSubmit}
                                    @if (@CRPrequalifications[i].IndicationTextClient != null)
                                    {
                                        <span class="indicationText">@CRPrequalifications[i].IndicationTextClient</span>
                                    }
                                    </li>
                                            
                                    <li>@Resources.Common_Label_StatusPeriod@CRPrequalifications[i].PrequalificationStart.ToString("MM/dd/yyyy") to @CRPrequalifications[i].PrequalificationFinish.ToString("MM/dd/yyyy")</li>                         
                                </ul>
                         </td>
                         <td width="4%"><b>@CRPrequalifications[i].Initials</b></td>
                         <td width="2%"></td>
                         <td valign="top" width="45%">
                            @if (i + 1 < CRPrequalifications.Count())
                            {
                                query = "../Prequalification/TemplatesList" + QueryStringModule.Encrypt("PreQualificationId=" + @CRPrequalifications[i + 1].PrequalificationId);
                               <ul>         
                                    <li>
                                        <strong>
                                            <a href="@query">@CRPrequalifications[i + 1].VendorName</a>
                                        </strong>
                                              
                                    </li>

                                    <li>@Resources.Common_Label_Submitted@if (CRPrequalifications[i + 1].PrequalificationSubmit == null)
                                                  {<i>@Resources.Common_Label_YetToSubmit</i>}
                                                  else
                                                  {@CRPrequalifications[i + 1].PrequalificationSubmit}
                                    @if (@CRPrequalifications[i + 1].IndicationTextClient != null)
                                    {
                                        <span class="indicationText">@CRPrequalifications[i + 1].IndicationTextClient</span>
                                    }
                                    </li>
                                            
                                    <li>@Resources.Common_Label_StatusPeriod@CRPrequalifications[i + 1].PrequalificationStart.ToString("MM/dd/yyyy") to @CRPrequalifications[i + 1].PrequalificationFinish.ToString("MM/dd/yyyy")</li>                         
                                </ul>
                            }
                         </td>
                     </tr>
                }
                </table>
            </div>
          <div class="paginationMenu">
             <div class="pagination">
                <ul>
                @if (CRPhasPrevious)
                {
                    <li onclick="getPrequalification('@(CRPpageNumber - 1)', '@ViewBag.type')">@Resources.Common_Previouslink_text</li>
                }
                <li class="CRPrequalificationsPages" style="background:#fff" onclick="showClientReviewPrequalification(1,this)">@(CRPpageNumber * 3 + 1)</li>
                @if (CRPrequalifications.Count() > 10)
                {
                    <li class="CRPrequalificationsPages" onclick="showClientReviewPrequalification(2,this)">@(CRPpageNumber * 3 + 2)</li>
                }
                @if (CRPrequalifications.Count() > 20)
                {
                    <li class="CRPrequalificationsPages" onclick="showClientReviewPrequalification(3,this)">@(CRPpageNumber * 3 + 3)</li>
                }
                @if (CRPhasNext)
                {
                    <li onclick="getPrequalification('@(CRPpageNumber + 1)','@ViewBag.type')">@Resources.Common_Nextlink_text</li>
                }
                </ul>
                </div>
        </div>
        }
        </div>