﻿<!--
 *****************************************************
Page Created Date:  11/27/2013
Created By: Kiran Talluri
Purpose:
Version: 1.0
****************************************************
-->
@using Resources
@model FVGen3.Domain.Entities.LocalOrganizationsEmailSetupNotifications
@using FVGen3.Domain.Entities;
@{
    ViewBag.Title = "Add Email Setup Notification";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=8"/>
<meta http-equiv="X-UA-Compatible" content="IE=9"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width"/>


<title>@Resources.Add_Email_Setup</title>
</head>

    @Styles.Render("~/css/appPopUp.css")
    @Styles.Render("~/css/appInnerPages.css")
    @Scripts.Render("~/js/common.js")
    @Scripts.Render("~/Scripts/jquery-1.9.1.min.js")
    @Styles.Render("~/Content/Site.css")    
 
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            setPermissions('@ViewBag.ViewPermissions');
            showHidePrimaryUsers();
            // Kiran on 9/22/2014
            getAdditionalClientUsers();
            showHideClientAdditionalusers();
            if('@Model.AddClientRecipients'.toLowerCase() == "true")
            {
                $("#AddClientRecipients").attr('checked', true);
                $("#AdditionalClients").show();
            }
            var clientId = $("#OrganizationId").val();
            if (clientId == -1)
            {
                $("#SendNotificationToClient").closest("tr").hide();
            }
            // Ends<<<
        //To check document type by default, and to get documentsList by default.

                $("#Documenttype").change(function () {
                    if ($(this).is(":checked"))
                        {
                            documentType();
                            $("#SetupTypeIddiv").show();
                            $("#SendNotificationToVendor").attr("disabled", true);
                            $('#SendNotificationToVendor').prop('checked', true);
                        }
                });
                 $("#Prequlification").change(function () {
                     if ($(this).is(":checked"))
                         {
                             prequalificationStatus();
                             $("#SetupTypeIddiv").show();
                             $("#SendNotificationToVendor").attr("disabled", true);
                             $('#SendNotificationToVendor').prop('checked', true);
                         }
                 });
                 $("#ContractorEvaluation").change(function () {
                     if ($(this).is(":checked"))
                         $("#SetupTypeIddiv").hide();
                     $("#SendNotificationToVendor").removeAttr("disabled");
                     $('#SendNotificationToVendor').prop('checked', false);
                 });

                 $("#Custom").change(function () {
                    if($(this).is(":checked"))
                        selectedTemplateType('0');
                    });
                $("#Predefined").change(function () {
                    if($(this).is(":checked"))
                        selectedTemplateType('1');
                    });

                // Kiran on 4/1/2014
                $("#FirstNotification").change(function() {
                    var firstNotification = parseInt($("#FirstNotification").val());
                    var secondNotification = parseInt($("#SecondNotification").val());
                    var thirdNotification = parseInt($("#ThirdNotification").val());

                    if(firstNotification == "")
                    {
                        alert("@Resources.EmailSetupNotification_ErrorMessage1");
                        $("#FirstNotification").focus();
                    }
                    else if(firstNotification<= secondNotification || firstNotification<= thirdNotification)
                    {
                        alert("@Resources.EmailSetupNotification_ErrorMessage2");
                        //$("#FirstNotification").val("");
                        $("#FirstNotification").focus();
                    }
                });

                $("#SecondNotification").change(function () {
                    var firstNotification = parseInt($("#FirstNotification").val());
                    var secondNotification = parseInt($("#SecondNotification").val());
                    var thirdNotification = parseInt($("#ThirdNotification").val());

                    if(firstNotification == "")
                    {
                        alert("@Resources.EmailSetupNotification_ErrorMessage1");
                        $("#FirstNotification").focus();
                    }
                    else if(secondNotification >= firstNotification)
                    {
                        alert("@Resources.EmailSetupNotification_ErrorMessage3");
                        $("#SecondNotification").val("");
                        $("#SecondNotification").focus();
                    }
                    else if(secondNotification <= thirdNotification)
                    {
                        alert("@Resources.EmailSetupNotification_ErrorMessage4");
                        $("#ThirdNotification").val("");
                        $("#ThirdNotification").focus();
                    }
                });

                $("#ThirdNotification").change(function () {
                    var firstNotification = parseInt($("#FirstNotification").val());
                    var secondNotification = parseInt($("#SecondNotification").val());
                    var thirdNotification = parseInt($("#ThirdNotification").val());

                    if(thirdNotification >= firstNotification)
                    {
                        alert("@Resources.EmailSetupNotification_ErrorMessage5");
                        $("#ThirdNotification").val("");
                        $("#ThirdNotification").focus();
                    }
                    else if(thirdNotification >= secondNotification)
                    {
                        if(secondNotification == "")
                        {
                            alert("@Resources.EmailSetupNotification_ErrorMessage6");
                            $("#SecondNotification").focus();
                            return false;
                        }
                        alert("@Resources.EmailSetupNotification_ErrorMessage7");
                        $("#ThirdNotification").val("");
                        $("#ThirdNotification").focus();
                    }
                });

            // Kiran on 9/22/2014
                $("#PrimaryUserId").change(function () {
                getAdditionalClientUsers();
            });
         });
                function getAdditionalClientUsers()
                {
                    var primaryuserId = $("#PrimaryUserId").val();
                    var clientId = $("#OrganizationId").val();
                    if(primaryuserId != -1)
                    {
                        $.ajax({
                            type: 'POST',
                            url: 'GetAdditionalClientRecipients',
                            data: 'ClientId=' + clientId + '&PrimaryUserId=' + primaryuserId,
                            success: function (data) {
                                var items = "";
                                $.each(data, function(i, item) {

                                    if('@ViewBag.VBsendNotificationTo'.indexOf(item.Value)!=-1)
                                    {
                                        items += "<option value=\"" + item.Value + "\" selected>" + item.Text + "</option>";
                                        $("#AddClientRecipients").attr('checked', true);
                                        $("#AdditionalClients").show();
                                    }
                                    else
                                    {
                                        items += "<option value=\"" + item.Value + "\">" + item.Text + "</option>";
                                    }
                                });

                                $("#AdditionalClientRecipients").html(items);
                            },
                            error: function () {
                                console.trace();
                                alert("Select User ");
                            }
                        });
                    }
                }

            // Ends<<<

//        Kiran on 2/26/2014
        // kiran on 9/22/2014
        function showHidePrimaryUsers()
        {
            if($("#SendNotificationToClient").is(":checked"))
            {
                $('#PrimaryUsers').show();
                $('#AddClientsCheckBox').show();
                showHideClientAdditionalusers();
            }
            else
            {
                $('#PrimaryUsers').hide();
                $('#AddClientsCheckBox').hide();
                //showHideClientAdditionalusers();
                $("#AdditionalClients").hide();
            }

        }

        function showHideClientAdditionalusers()
        {
            if($("#AddClientRecipients").is(":checked"))
                {
                    $('#AdditionalClients').show();
                }
                else
                {
                    $("#AdditionalClients").hide();
                }
        }
    // Ends<<<

         function getDocumentTypeorPrequalificationStatus(documentTypeorprequalificationStatus)
         {
            $.ajax({
                url: "@Url.Action("getDocumentTypeorPrequalificationStatus", "EmailSetupNotifications")",
                data: {documentorprequalification:documentTypeorprequalificationStatus},
                dataType: "json",
                type: "POST",
                error: function() {
                    alert("@Resources.Common_DocumentsFetch_ErrorMessage");
                },
                success: function(data) {

                    var items = "";
                    $.each(data, function(i, item) {

                        if(item.Value==setupValue)
                        {
                            items += "<option value=\"" + item.Value + "\" selected>" + item.Text + "</option>";
                        }
                        else
                        {
                            items += "<option value=\"" + item.Value + "\">" + item.Text + "</option>";
                        }
                    });

                    $("#SetupTypeId").html(items);

               }
           });
       }
         function documentType()
         {
             $("#SetupType").val("0");
             getDocumentTypeorPrequalificationStatus("0");
         }

        function prequalificationStatus() {

            $("#SetupType").val("1");
            getDocumentTypeorPrequalificationStatus("1");
        }

       function selectedItem(setupType,setupVal, sendNotificationToVendor) {

        setupValue=setupVal;
            if(setupType == 1)
            {
               $("#Prequlification").attr('checked', true);
               prequalificationStatus();
            }
            else if (setupType == 0)
            {
                $("#Documenttype").attr('checked', true);
                documentType();
            }
            else
            {
                $("#ContractorEvaluation").attr('checked', true);
                $("#SetupTypeIddiv").hide();
                $("#SendNotificationToVendor").removeAttr("disabled");
                
                if(sendNotificationToVendor === 'True')
                    $("#SendNotificationToVendor").prop('checked', true);
                else
                    $("#SendNotificationToVendor").attr('checked', false);
            }
       }

       // Kiran on 11/27/2013

       function selectedTemplateType(templateType)
       {
            if(templateType == 1)
            {
                $("#Predefined").attr('checked', true);
                $('#EmailTemplatesList').show();
            }
            else
            {
                $("#Custom").attr('checked', true);
                $('#EmailTemplatesList').hide();
            }
       }

    </script>
<body> 
@using (Html.BeginForm())
{   
    @Html.HiddenFor(record => record.OrganizationId)
    @Html.HiddenFor(record => record.isInsert)
    @Html.HiddenFor(record => record.OrgEmailSetupId)

    <div class="popUpContainer"> 
        <div class="popUpContent">

            @*@if (!(Boolean)@ViewBag.sendNotification)
            {
                <div class="errorMessage">@Resources.EmailSetupNotifications_notification_error_message</div>
            }*@
            @*Kiran on 12/04/2013*@  
            @if ((Boolean)@ViewBag.NotificationExists)
            {
                <div class="errorMessage">@Resources.Common_SetupNotification_ErrorMessage</div>
            }
            @*Ends<<<*@

        

                <div class="popUpSubContent">                   
    	            <div class="page-title">
                        <h2>@Resources.EmailSetupNotifications_header</h2>
                    </div>

                    <div class="rowCheckBox">
                        <table>
                            <tr>
                                <td  valign="top"rowspan="3">@Resources.EmailSetupNotifications_SetupType</td>
                                <td><input type="radio" name="SetupType" id="Documenttype" value="0" /></td>                            
                                <td><label for="Documenttype" class="DocumentType_Radio">@Resources.EmailSetupNotifications_label_documenttype</label></td>
                             </tr>
                  
                              <tr>
                                <td><input type="radio" name="SetupType" id="Prequlification" value="1" /></td>                  	        
                                <td><label for="Prequlification" class="PrequalificationStatus_Radio">@Resources.EmailSetupNotifications_label_prequalificationexpiration</label></td>
                              </tr>  
                            
                            <tr>
                                <td><input type="radio" name="SetupType" id="ContractorEvaluation" value="3" /></td>                  	        
                                <td><label for="ContractorEvaluation" class="ContractorEvaluation_Radio">@Resources.EmailSetupNotifications_label_ContractorEvaluationExpiration</label></td>
                            </tr> 
                        </table>
                    </div>

                    <div class="rowIST" id="SetupTypeIddiv">
        	            <label class="enableStarPopUp">@Resources.Common_label_name</label>
                        @if (@ViewBag.VBdocumentsorPrequalificationsList != null)
                        {
                            @Html.DropDownListFor(x => Model.SetupTypeId, (IEnumerable<SelectListItem>)@ViewBag.VBdocumentsorPrequalificationsList)
                        }
                        else
                        {
                            @Html.DropDownListFor(x => Model.SetupTypeId, new List<SelectListItem>()) 
                        }
                        <div class="alertText">@Html.ValidationMessageFor(x => Model.SetupTypeId)</div>
                    </div>

                    <div class="rowIST">
        	            <label class="enableStarPopUp">@Resources.EmailSetupNotifications_label_firstnotification</label>
                        @Html.TextBoxFor(x => Model.FirstNotification)                
                        <div class="alertText">@Html.ValidationMessageFor(x => Model.FirstNotification)</div>
                    </div>

                    <div class="rowIST">
        	            <label>@Resources.EmailSetupNotifications_label_secondnotification</label>
                        @Html.TextBoxFor(x => Model.SecondNotification)
                        <div class="alertText">@Html.ValidationMessageFor(x => Model.SecondNotification)</div>
                    </div>

                    <div class="rowIST">
        	            <label>@Resources.EmailSetupNotifications_label_thirdnotification</label>
                        @Html.TextBoxFor(x => Model.ThirdNotification)
                        <div class="alertText">@Html.ValidationMessageFor(x => Model.ThirdNotification)</div>
                    </div>

                    <div class="rowIST" id="PrimaryUsers">
        	            <label class="enableStarPopUp">@Resources.EmailSetupNotifications_label_primaryuser</label>
                        @Html.DropDownListFor(x => Model.PrimaryUserId, (List<SelectListItem>)@ViewBag.VBsysUserOrg_Users) 
                        <div class="alertStar">@Html.ValidationMessageFor(x => Model.PrimaryUserId)</div>
                    </div>
                
                    @*Kiran on 9/22/2014*@
                    <div class="rowPopUp" id="AddClientsCheckBox">
                        <table>
                            <tr>
                                <td><label>@Resources.EmailSetupNotification_Label_ClientRecipients</label></td>
                                <td><input type="checkbox" name="AddClientRecipients" id ="AddClientRecipients" onclick="showHidePrimaryUsers()" value="true"/></td>
                            </tr>
                        </table>
                    </div>
                    <div class="rowPopUp" id="AdditionalClients">
                        <table>
                            <tr>
                                <td><label></label></td>
                            </tr>
                            <tr>
                                <td>@Html.ListBoxFor(model => Model.AdditionalClientRecipients, new MultiSelectList(@ViewBag.VBadditionalClientRecipients, "Value", "Text"), new { multiple = "multiple", size = "4" })</td>
                                <td class="alertStar">@Html.ValidationMessageFor(x => Model.AdditionalClientRecipients)</td>
                            </tr>
                        </table>
                    </div>
                    @*Ends<<<*@

                    <div class="rowCheckBox">        	        
                        <table>
            	            <tr>
                                <td  valign="top"rowspan="2">
                                    <label class="">@Resources.EmailSetupNotifications_label_sendnotificationto</label>
                                </td>
                                <td><input type="checkbox" name="SendNotificationToFirstVerify" id="SendNotificationToFirstVerify"
                                       value="true"
                                       @if (Model.SendNotificationToFirstVerify) { @: checked="checked"
                                                                       } />
                                </td>                	        
                                <td><label for="SendNotificationToFirstVerify">@Resources.EmailSetupNotifications_label_firstverify</label></td>   
                   	        
                   	            @* Changed code to nonedit the checkbox as the mail to vendor has to sent by default on 09/08/2013 by Kiran Talluri *@
                                <td><input type="checkbox" name="SendNotificationToVendor" id="SendNotificationToVendor" value="true" disabled="disabled" checked="checked"/>
                                </td>                             
                                @* Ends *@
                             
                                <td><label for="SendNotificationToVendor">@Resources.EmailSetupNotifications_label_vendor</label></td>  
                            </tr>
                
                            <tr>
                                <td><input type="checkbox" name="SendNotificationToClient" id="SendNotificationToClient" onclick="showHidePrimaryUsers()"
                                   value="true"
                                   @if (Model.SendNotificationToClient) { @: checked="checked"
                                                                   } />                                
                                </td>                	        
                                <td><label for="SendNotificationToClient">@Resources.EmailSetupNotifications_label_client</label>
                                
                                </td>   
                   	            <td><input type="checkbox" name="SendNotificationToSiteContacts" id="SendNotificationToSiteContacts" 
                            
                                     value="true"
                                @if (Model.SendNotificationToSiteContacts)
                                {
                                    @:checked="checked"
                                }
                                /></td>                            
                                <td><label for="SendNotificationToSiteContacts" class="">@Resources.EmailSetupNotifications_label_sitecontacts</label></td>  
                            </tr>
                
                        </table>
                    </div>

                    @*Kiran on 11/27/2013*@
                    <div class="rowCheckBox">
                        <table>
                            <tr>
                                <td  valign="top"rowspan="2">@Resources.EmailSetUpNotifications_label_templatetype</td>
                                <td><input type="radio" name="EmailTemplateType" id="Custom" value="0" /></td>                            
                                <td><label for="Custom">@Resources.EmailSetUpNotifications_Custom</label></td>
                             </tr>
                  
                              <tr>
                                <td><input type="radio" name="EmailTemplateType" id="Predefined" value="1" /></td>                  	        
                                <td><label for="Predefined">@Resources.EmailSetUpNotifications_Predefined</label></td>
                              </tr>                
                        </table>
                    </div>

                    <div class="rowIST" id="EmailTemplatesList">
                        <label></label>
                        @Html.DropDownListFor(model => model.EmailTemplateID, (List<SelectListItem>)@ViewBag.VBEmailTemplates)
                        <div class="alertStar">@Html.ValidationMessageFor(model => model.EmailTemplateID)</div>
                    </div>

                    @*Ends<<<*@

                </div>
            </div>
                <div class="contentSub">
                    <div class="pageFooterContent">
                        <div class="PageFooter_Buttons">
			                <table>
				                <tr>

                                @if (@Model.isInsert)
                                {
					                <td><button type="submit" class="PageFooter_Button" btnType="Insert">@Resources.Common_Save</button></td>
					                <td btnType="Insert">@Resources.Common_label_or</td>
                                }
                                else
                                {
                                     <td><button type="submit" class="PageFooter_Button" btnType="Update">@Resources.Common_Save</button></td>
					                 <td btnType="Update">@Resources.Common_label_or</td>
                                }					        
					                <td class="EmailSetUpNotif_cancel"><a href="#!" onclick="window.close();">@Resources.Common_Cancel</a></td>
				                </tr>
			                </table>
                        </div> 
	                </div>
                </div>
        </div>        
   }    
    <script type="text/javascript">
            selectedItem('@Model.SetupType', '@Model.SetupTypeId','@Model.SendNotificationToVendor');
            selectedTemplateType('@Model.EmailTemplateType'); //Kiran on 11/27/2013
    </script>
</body>
</html>