﻿<!--
 *****************************************************
Page Created Date:  10/27/2015
Created By: Sumanth
Purpose:Setup Notifications for Invited Vendors FV-223
Version: 1.0
****************************************************
-->
@using Resources
@model FVGen3.Domain.Entities.LocalOrganizationsEmailSetupInvitationNotifications
@using FVGen3.Domain.Entities;
@{
    ViewBag.Title = "AddEmailSetupInvitationNotification";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=8"/>
<meta http-equiv="X-UA-Compatible" content="IE=9"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width"/>


<title>@ViewBag.Title</title>
</head>

    @Styles.Render("~/css/appPopUp.css")
    @Styles.Render("~/css/appInnerPages.css")
    @Scripts.Render("~/js/common.js")
    @Scripts.Render("~/Scripts/jquery-1.9.1.min.js")
    @Styles.Render("~/Content/Site.css")    
 
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            setPermissions('@ViewBag.ViewPermissions'); 
                
                // Kiran on 4/1/2014
                $("#FirstNotification").change(function() {
                    var firstNotification = parseInt($("#FirstNotification").val());
                    var secondNotification = parseInt($("#SecondNotification").val());
                    var thirdNotification = parseInt($("#ThirdNotification").val());
                    if (firstNotification >= 30) {
                        alert("@Resources.EmailSetupInvitation_ErrorMessage");
                        $("#FirstNotification").val("");
                        $("#FirstNotification").focus();
                    }
                    if(firstNotification == "")
                    {
                        alert("Enter first notification");
                        $("#FirstNotification").focus();
                    }
                    if (secondNotification == "") {
                        alert("Enter second notification");
                        $("#SecondNotification").focus();
                    }
                    if (thirdNotification == "") {
                        alert("Enter third notification");
                        $("#ThirdNotification").focus();
                    }
                    if(firstNotification >= secondNotification || firstNotification>= thirdNotification)
                    {
                        alert("@Resources.EmailSetupInvitation_ErrorMessage2");
                        //$("#FirstNotification").val("");
                        $("#FirstNotification").focus();
                    }
                });

                $("#SecondNotification").change(function () {
                    var firstNotification = parseInt($("#FirstNotification").val());
                    var secondNotification = parseInt($("#SecondNotification").val());
                    var thirdNotification = parseInt($("#ThirdNotification").val());

                    if (secondNotification >= 30) {
                        alert("@Resources.EmailSetupInvitation_ErrorMessage");
                        $("#SecondNotification").val("");
                        $("#SecondNotification").focus();
                    }
                    if (firstNotification == "") {
                        alert("Enter first notification");
                        $("#FirstNotification").focus();
                    }
                    if (secondNotification == "") {
                        alert("Enter second notification");
                        $("#SecondNotification").focus();
                    }
                    if (thirdNotification == "") {
                        alert("Enter third notification");
                        $("#ThirdNotification").focus();
                    }

                    if(secondNotification <= firstNotification)
                    {
                        alert("@Resources.EmailSetupInvitation_ErrorMessage3");
                        $("#SecondNotification").val("");
                        $("#SecondNotification").focus();
                    }
                    else if(secondNotification >= thirdNotification)
                    {
                        alert("@Resources.EmailSetupInvitation_ErrorMessage4");
                        $("#ThirdNotification").val("");
                        $("#ThirdNotification").focus();
                    }
                });

                $("#ThirdNotification").change(function () {
                    var firstNotification = parseInt($("#FirstNotification").val());
                    var secondNotification = parseInt($("#SecondNotification").val());
                    var thirdNotification = parseInt($("#ThirdNotification").val());
                    if (thirdNotification >= 30) {
                        alert("@Resources.EmailSetupInvitation_ErrorMessage");
                        $("#ThirdNotification").val("");
                        $("#ThirdNotification").focus();
                    }
                    if (firstNotification == "") {
                        alert("Enter first notification");
                        $("#FirstNotification").focus();
                    }
                    if (secondNotification == "") {
                        alert("Enter second notification");
                        $("#SecondNotification").focus();
                    }
                    if (thirdNotification == "") {
                        alert("Enter third notification");
                        $("#ThirdNotification").focus();
                    }
                    if(thirdNotification <= firstNotification)
                    {
                        alert("@Resources.EmailSetupInvitation_ErrorMessage5");
                        $("#ThirdNotification").val("");
                        $("#ThirdNotification").focus();
                    }
                    else if(thirdNotification <= secondNotification)
                    {
                        if(secondNotification == "")
                        {
                            alert("Enter second notification");
                            $("#SecondNotification").focus();
                            return false;
                        }
                        alert("@Resources.EmailSetupInvitation_ErrorMessage6");
                        $("#ThirdNotification").val("");
                        $("#ThirdNotification").focus();
                    }
                });
         });
       
              
    </script>
<body> 
@using (Html.BeginForm())
{   
    @Html.HiddenFor(record => record.OrganizationId)
    @Html.HiddenFor(record => record.isInsert)
    @Html.HiddenFor(record => record.OrgEmailSetupId)

    <div class="popUpContainer"> 
        <div class="popUpContent">

            @*@if (!(Boolean)@ViewBag.sendNotification)
            {
                <div class="errorMessage">@Resources.EmailSetupNotifications_notification_error_message</div>
            }*@
            @*Kiran on 12/04/2013*@  
            @if ((Boolean)@ViewBag.NotificationExists)
            {
                <div class="errorMessage">@Resources.Common_SetupNotification_ErrorMessage</div>
            }
            @*Ends<<<*@

        
                    <div class="popUpSubContent">                   
    	            <div class="page-title">
                        <h2>@Resources.EmailSetupInvitationNotifications_header</h2>
                    </div>

                    
                   

                    <div class="rowIST">
        	            <label class="enableStarPopUp">@Resources.EmailSetupNotifications_label_firstnotification</label>
                        @Html.TextBoxFor(x => Model.FirstNotification)                
                        <div class="alertText">@Html.ValidationMessageFor(x => Model.FirstNotification)</div>
                    </div>
                    <div class="rowIST">
        	            <label>@Resources.EmailSetupNotifications_label_secondnotification</label>
                        @Html.TextBoxFor(x => Model.SecondNotification)                        
                    </div>
                   <div class="rowIST">
        	            <label>@Resources.EmailSetupNotifications_label_thirdnotification</label>
                        @Html.TextBoxFor(x => Model.ThirdNotification)                        
                    </div>


              
                </div>
            </div>
                <div class="contentSub">
                    <div class="pageFooterContent">
                        <div class="PageFooter_Buttons">
			                <table>
				                <tr>

                                @if (@Model.isInsert)
                                {
					                <td><button type="submit" class="PageFooter_Button" btnType="Insert">@Resources.Common_Save</button></td>
					                <td btnType="Insert">@Resources.Common_label_or</td>
                                }
                                else
                                {
                                     <td><button type="submit" class="PageFooter_Button" btnType="Update">@Resources.Common_Save</button></td>
					                 <td btnType="Update">@Resources.Common_label_or</td>
                                }					        
					                <td class="EmailSetUpNotif_cancel"><a href="#!" class="PageFooter_Button" onclick="window.close();">@Resources.Common_Cancel</a></td>
				                </tr>
			                </table>
                        </div> 
	                </div>
                </div>
        </div>        
   }    
</body>
</html>