﻿<!--
 *****************************************************
Page Created Date:  06/22/2013
Created By: Kiran Talluri
Purpose:
Version: 1.0
****************************************************
-->

@model FVGen3.Domain.Entities.LocalOrganizationsEmailSetupNotifications
@using FVGen3.Domain.Entities;
@using Resources;
@{
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";    
}

<!DOCTYPE HTML>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <title>@Resources.EmailSetupNotifications_title</title> 
        @Scripts.Render("~/js/common.js")
        @Scripts.Render("~/Scripts/jquery-1.9.1.min.js")
        <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script> 
    </head>

    <script type="text/javascript">
    var setupValue="";
        $(document).ready(function () 
            {           
                $(document).ready(function () {
                setPermissions('@ViewBag.ViewPermissions');        
                });
             
                //To check document type by default, and to get documentsList by default.

                $("#Documenttype").change(function () {  
                    if($(this).is(":checked"))              
                        documentType();
                });
                 $("#Prequlification").change(function () {   
                    if($(this).is(":checked"))              
                        prequalificationStatus();
                    });              

                // Kiran on 11/27/2013     
                $("#Custom").change(function () {
                    if($(this).is(":checked"))
                        selectedTemplateType('0');
                    });
                $("#Predefined").change(function () {
                    if($(this).is(":checked"))
                        selectedTemplateType('1');
                    });
                // Ends<<<
            });

         function getDocumentTypeorPrequalificationStatus(documentTypeorprequalificationStatus)
         {          
            $.ajax({
                url: "@Url.Action("getDocumentTypeorPrequalificationStatus", "EmailSetupNotifications")",
                data: {documentorprequalification:documentTypeorprequalificationStatus},
                dataType: "json",
                type: "POST",
                error: function() {
                    alert("@Resources.Common_DocumentsFetch_ErrorMessage");
                },
                success: function(data) {
                   
                    var items = "";
                    $.each(data, function(i, item) {
                       
                        if(item.Value==setupValue)
                        {
                            items += "<option value=\"" + item.Value + "\" selected>" + item.Text + "</option>";
                        }
                        else
                        {
                            items += "<option value=\"" + item.Value + "\">" + item.Text + "</option>";
                        }
                    });
                     
                    $("#SetupTypeId").html(items);               
                
               }
           });
       }
         function documentType() 
         {
             $("#SetupType").val("0");
             getDocumentTypeorPrequalificationStatus("0");
         }

        function prequalificationStatus() {

            $("#SetupType").val("1");
            getDocumentTypeorPrequalificationStatus("1");
        }
        
       function selectedItem(setupType,setupVal) {        
        
        setupValue=setupVal;
            if(setupType == 1)
            {                
               $("#Prequlification").attr('checked', true);
               prequalificationStatus();               
            }
            else
            {
                $("#Documenttype").attr('checked', true);
                documentType();
            }
       }
              
       // Kiran on 11/27/2013

       function selectedTemplateType(templateType)
       {
            if(templateType == 1)    
            {
                $("#Predefined").attr('checked', true);
                $('#EmailTemplatesList').show();
            }
            else
            {
                $("#Custom").attr('checked', true); 
                $('#EmailTemplatesList').hide();
            }
       }

    </script>
<body> 
    @if (!(Boolean)@ViewBag.sendNotification)
    {
        <div class="errorMessage">@Resources.EmailSetupNotifications_notification_error_message</div>
    }  
    
    @*Kiran on 12/04/2013*@  

    @if ((Boolean)@ViewBag.NotificationExists)
    {
        <div class="errorMessage">@Resources.Common_SetupNotification_ErrorMessage</div>
    }
    @*Ends<<<*@

        

   @using (Html.BeginForm())
    {   
       @Html.HiddenFor(record => record.OrganizationId)
       @Html.HiddenFor(record => record.isInsert)
       @Html.HiddenFor(record => record.OrgEmailSetupId)

        <div class="contentSub">    
            <div>                    
    	        <div class="page-title">
                    <h2>@Resources.EmailSetupNotifications_header</h2>
                </div>

                <div class="rowCheckBox">
                    <table>
                        <tr>
                            <td  valign="top"rowspan="2">@Resources.EmailSetupNotifications_SetupType</td>
                            <td><input type="radio" name="SetupType" id="Documenttype" value="0" /></td>                            
                            <td><label for="Documenttype" class="DocumentType_Radio">@Resources.EmailSetupNotifications_label_documenttype</label></td>
                         </tr>
                  
                          <tr>
                            <td><input type="radio" name="SetupType" id="Prequlification" value="1" /></td>                  	        
                            <td><label for="Prequlification" class="PrequalificationStatus_Radio">@Resources.EmailSetupNotifications_label_prequalificationexpiration</label></td>
                          </tr>                
                    </table>
                </div>

                <div class="rowIST">
        	        <label class="enableStar">@Resources.Common_label_name</label>
                    @if (@ViewBag.VBdocumentsorPrequalificationsList != null)
                    {
                        @Html.DropDownListFor(x => Model.SetupTypeId, (IEnumerable<SelectListItem>)@ViewBag.VBdocumentsorPrequalificationsList)
                    }
                    else
                    {
                        @Html.DropDownListFor(x => Model.SetupTypeId, new List<SelectListItem>()) 
                    }
                    <div class="alertText">@Html.ValidationMessageFor(x => Model.SetupTypeId)</div>
                </div>

                <div class="rowIST">
        	        <label class="enableStar">@Resources.EmailSetupNotifications_label_firstnotification</label>
                    @Html.TextBoxFor(x => Model.FirstNotification)                
                    <div class="alertText">@Html.ValidationMessageFor(x => Model.FirstNotification)</div>
                </div>

                <div class="rowIST">
        	        <label>@Resources.EmailSetupNotifications_label_secondnotification</label>
                    @Html.TextBoxFor(x => Model.SecondNotification)
                    <div class="alertText">@Html.ValidationMessageFor(x => Model.SecondNotification)</div>
                </div>

                <div class="rowIST">
        	        <label>@Resources.EmailSetupNotifications_label_thirdnotification</label>
                    @Html.TextBoxFor(x => Model.ThirdNotification)
                    <div class="alertText">@Html.ValidationMessageFor(x => Model.ThirdNotification)</div>
                </div>

                <div class="rowIST">
        	        <label class="enableStar">@Resources.EmailSetupNotifications_label_primaryuser</label>
                    @Html.DropDownListFor(x => Model.PrimaryUserId, (List<SelectListItem>)@ViewBag.VBsysUserOrg_Users) 
                    <div class="alertStar">@Html.ValidationMessageFor(x => Model.PrimaryUserId)</div>
                </div>
                
                <div class="rowCheckBox">        	        
                    <table>
            	        <tr>
                            <td  valign="top"rowspan="2">
                                <label class="enableStar">@Resources.EmailSetupNotifications_label_sendnotificationto</label>
                            </td>
                            <td><input type="checkbox" name="SendNotificationToClient" id="SendNotificationToClient" 
                            
                                value="true"
                            @if (Model.SendNotificationToClient)
                            {
                                @:checked="checked"
                            }
                            /></td>                	        
                            <td><label for="SendNotificationToClient">@Resources.EmailSetupNotifications_label_client</label></td>   
                   	        
                   	        @* Changed code to nonedit the checkbox as the mail to vendor has to sent by default on 09/08/2013 by Kiran Talluri *@
                            <td><input type="checkbox" name="SendNotificationToVendor" id="SendNotificationToVendor" value="true" disabled="disabled" checked="checked"/>
                            </td>                             
                            @* Ends *@
                             
                            <td><label for="SendNotificationToVendor">@Resources.EmailSetupNotifications_label_vendor</label></td>  
                        </tr>
                
                        <tr>
                            <td><input type="checkbox" name="SendNotificationToFirstVerify" id="SendNotificationToFirstVerify"
                            
                             value="true"
                            @if (Model.SendNotificationToFirstVerify)
                            {
                                @:checked="checked"
                            }
                            /></td>                	        
                            <td><label for="SendNotificationToFirstVerify" >@Resources.EmailSetupNotifications_label_firstverify</label></td>   
                   	        <td><input type="checkbox" name="SendNotificationToSiteContacts" id="SendNotificationToSiteContacts" 
                            
                                 value="true"
                            @if (Model.SendNotificationToSiteContacts)
                            {
                                @:checked="checked"
                            }
                            /></td>                            
                            <td><label for="SendNotificationToSiteContacts" class="">@Resources.EmailSetupNotifications_label_sitecontacts</label></td>  
                        </tr>
                
                    </table>
                </div>

                @*Kiran on 11/27/2013*@
                <div class="rowIST">
                    <table>
                        <tr>
                            <td  valign="top"rowspan="2">
                                <label>@Resources.EmailSetUpNotifications_label_templatetype</label>
                            </td>
                            <td><input type="radio" name="EmailTemplateType" id="Custom" value="0" /></td>                            
                            <td><label for="Custom">@Resources.EmailSetUpNotifications_Custom</label></td>
                            <td><input type="radio" name="EmailTemplateType" id="Predefined" value="1" /></td>                  	        
                            <td><label for="Predefined">@Resources.EmailSetUpNotifications_Predefined</label></td>
                            </tr>
                    </table>
                </div>

                <div class="rowIST" id="EmailTemplatesList">
                    <label></label>
                    @Html.DropDownListFor(model => model.EmailTemplateID, (List<SelectListItem>)@ViewBag.VBEmailTemplates)
                    <div class="alertStar">@Html.ValidationMessageFor(model => model.EmailTemplateID)</div>
                </div>
                @*Ends<<<*@
            </div>

            <div class="contentSub">
                <div class="pageFooterContent">
                    <div class="PageFooter_Buttons">
			            <table>
				            <tr>

                            @if (@Model.isInsert)
                            {
					            <td><button type="submit" class="PageFooter_Button" btnType="Insert">@Resources.Common_Save</button></td>
					            <td btnType="Insert">@Resources.Common_label_or</td>
                            }
                            else
                            {
                                 <td><button type="submit" class="PageFooter_Button" btnType="Update">@Resources.Common_Save</button></td>
					             <td btnType="Update">@Resources.Common_label_or</td>
                            }					        
					            <td class="EmailSetUpNotif_cancel"><a href="~/EmailSetupNotifications/EmailSetupNotificationsList">@Resources.Common_Cancel</a></td>
				            </tr>
			            </table>
                    </div> 
	            </div>
            </div>
        </div>        
    }    
    <script type="text/javascript">
            selectedItem(@Model.SetupType,'@Model.SetupTypeId');
            selectedTemplateType('@Model.EmailTemplateType'); //Kiran on 11/27/2013
    </script>
</body>
</html>
