﻿<!--
 *****************************************************
Page Created Date:  06/22/2013
Created By: Kiran Talluri
Purpose:
Version: 1.0
****************************************************
-->

@using FVGen3.Domain.Entities;
@using Resources;
@{
    ViewBag.Title = "Email Setup Notifications";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />   
</head>

@* Added code to call setPermissions() function on 08/07/2013 by Kiran Talluri*@      
    <script type="text/javascript">

        $(document).ready(function () {
            setPermissions('@ViewBag.ViewPermissions');
        });
                
    </script>
        @* Ends <<<*@

<body>
    <div class="contentSub">
        <table width="694" border="0">
              <tr>
                <td class="page-title">
                  <h2>@Resources.EmailSetupNotificationsList_heading</h2>
                </td>
                <td align="right" valign="top">
                    <button type="button" btnType="Insert" onclick="document.location = '@Url.Action("EmailSetupNotifications", "EmailSetupNotifications", new { OrgEmailSetupId = -1 })';">@Resources.Common_AddNew</button>
                </td>
              </tr>
        </table>       
        
    @*<a href="~/EmailSetupNotifications/EmailSetupNotifications?OrgEmailSetupId=-1">Add New</a><br />*@        
            
            @if (@ViewBag.VBcurrentUserOrg_emailNotificationsList != null)
            {        
                <div class="partialPage">        
                    <table>
        	        <tr class="partialHeader">
            	        <td width="150">@Resources.EmailSetupNotificationsList_tableheader_setuptype</td>
                        <td width="150">@Resources.common_Label_name_NoColon</td>
                        <td width="90">@Resources.EmailSetupNotificationsList_tableheader_firstnotification</td>
                        <td width="90">@Resources.EmailSetupNotificationsList_tableheader_secondnotification</td>
                        <td width="90">@Resources.EmailSetupNotificationsList_tableheader_thirdnotification</td>
                        <td width="160">@Resources.EmailSetupNotificationsList_tableheader_sendnotificationsto</td>
                    </tr>
                
                    @foreach (var notification in (List<OrganizationsEmailSetupNotifications>)@ViewBag.VBcurrentUserOrg_emailNotificationsList)
                    {
                        var query = "../EmailSetupNotifications/EmailSetupNotifications" + QueryStringModule.Encrypt("OrgEmailSetupId="+@notification.OrgEmailSetupId);
                        <tr>
            	            <td>
                                @if (@notification.SetupType == 0)
                                {
                                   @:Document Type
                                }
                                else
                                {
                                    @:Prequalification Status
                                }
                            </td>

                            <td>
                                <a href="@query">
                                    @if (@notification.SetupType == 0)
                                    {
                                        @(((List<DocumentType>)@ViewBag.VBcurrentUserOrg_documentTypes).FirstOrDefault(row => row.DocumentTypeId == notification.SetupTypeId).DocumentTypeName);
                                    }
                                    else
                                    {
                                       @(((List<PrequalificationStatus>)@ViewBag.VBcurrentUserOrg_prequalificationStatus).FirstOrDefault(row => row.PrequalificationStatusId == notification.SetupTypeId).PrequalificationStatusName);

                                    }
                                </a>
                            </td>

                            <td>
                                @notification.FirstNotification
                            </td>

                            <td>
                                @if (@notification.SecondNotification != null && @notification.SecondNotification != 0)
                                {
                                        @notification.SecondNotification
                                }
                                else
                                {
                                    @:- 
                                }
                            </td>

                            <td>
                            @if (@notification.ThirdNotification != null && @notification.ThirdNotification != 0)
                            {
                                        @notification.ThirdNotification
                            }
                            else
                            {
                                    @:- 
                            }
                            </td>

                            <td>
                                @notification.SendNotificationTo
                            </td>
                        </tr>
                    }
                    </table>
                </div>
                
                if (@ViewBag.VBcurrentUserOrg_emailNotificationsList.Count == 0)
                {
                    <table>
                        <tr>
                            <td class="commentsItalic">
                               @Resources.Common_NoRecords
                            </td>
                        </tr>
                    </table>
                }
            }                       
                
    </div>
</body>
</html>
