﻿<!--
*****************************************************
Page Created Date:  10/27/2015
Created By: Sumanth     
Purpose:Setup Notifications for Invited Vendors FV-223
Version: 1.0
****************************************************
-->

@using Resources;
@model FVGen3.Domain.Entities.LocalOrganizationsEmailSetupNotifications
@{
    ViewBag.Title = "ManageInvitationNotifications";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>

@Scripts.Render("~/js/common.js")
@Scripts.Render("~/Scripts/jquery-1.9.1.min.js")
   
    <script type = "text/javascript">

        $(document).ready(function () {
            // Added code to call setPermissions() function on 08/07/2013 by Kiran Talluri
            setPermissions('@ViewBag.ViewPermissions');
            // Ends<<< 
        });

        var winPop = false;
        function openWindow(orgEmailSetUpId, orgId) {
            clientId = $("#ClientId").val();
            if (clientId != -1) {
                if (winPop && !winPop.closed) {  //checks to see if window is open  
                    winPop.focus();
                }
                else {
                    var orgId = $("#ClientId").val();
                    if (orgId != -1) {
                        winPop = window.open("AddEmailSetupInvitationNotification?orgId=" + orgId + "&orgEmailSetUpId=" + orgEmailSetUpId, "_blank", "toolbar=no,  directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=yes, width=850, height=750");
                    }
                    else {
                        return false;
                    }
                }
            }
            else {
                alert("@Resources.Common_PromptUser_Errormessage1 ");
            }
        }

        function NotificationsList(clientId) {
            clientId = $("#ClientId").val();
            //alert(isSuperUser);
            $.ajax({
                type: 'GET',
                url: 'PartialManageInvitationNotificationsList',
                data: 'clientId=' + clientId,
                success: function (data) {
                    $("#SetupNotificationsResultsBlock_id").html(data);
                },
                error: function () {
                    console.trace();
                    alert("@Resources.Common_unableToProcess ");
                }
            });
        }

        // Kiran on 01/19/2015
        function deleteNotification(notificationId) {
            var c = confirm("@Resources.Common_Notifications_ErrorMessage");
            if (c == true) {
                $.ajax({
                    type: 'GET',
                    url: 'DeleteInvitationNotification',
                    data: 'OrgEmailSetupId=' + notificationId,
                    success: function (data) {
                        $("#SetupNotificationsResultsBlock_id").html(data);
                    },
                    error: function () {
                        console.trace();
                        alert("Fail ");
                    }
                });
            }
        }
        // Ends<<
    </script>

<body>
@using (Html.BeginForm())
{
    <div class="contentSub">
        
        <div class="page-title">
            <h2>@Resources.ManageInvitationNotifications_title</h2>
        </div>

        <div class="rowIST">
    		<label class="enableStar">@Resources.ManageNotifications_Client</label>
        	@Html.DropDownListFor(x => Model.ClientId, (IEnumerable<SelectListItem>)@ViewBag.VBclientsList)
    	</div>

        <div class="rowIST">
            <table>
                <tr>
    		        <td><button type="button" onclick="NotificationsList(-1)">@Resources.ManageSites_button_text</button></td>
                </tr>

                <tr>
    		        <td><button type="button" btnType="Insert" onclick="openWindow('-1', '-1')">@Resources.Common_AddNew</button></td>
                </tr>
            </table>
    	</div>
    
    
        <div id="SetupNotificationsResultsBlock_id">                        
        </div>
    </div>
}
</body>
</html>
