﻿<!--
 *****************************************************
Page Created Date:  11/27/2013
Created By: Kiran Talluri
Purpose:
Version: 1.0
****************************************************
-->
@using Resources
@model FVGen3.Domain.Entities.LocalOrganizationsEmailSetupNotifications
@{
    ViewBag.Title = "Manage Notifications";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>

@Scripts.Render("~/js/common.js")
@Scripts.Render("~/Scripts/jquery-1.9.1.min.js")
   
    <script type = "text/javascript">

        $(document).ready(function () {
            // Added code to call setPermissions() function on 08/07/2013 by Kiran Talluri
            setPermissions('@ViewBag.ViewPermissions');
            // Ends<<< 
        });

        var winPop = false;
        function openWindow(orgEmailSetUpId, orgId) {
            if (winPop && !winPop.closed) {  //checks to see if window is open  
                winPop.focus();
            }
            else {
                var orgId = $("#ClientId").val();
                //if (orgId != -1) {
                    winPop = window.open("AddEmailSetupNotification?orgId=" + orgId + "&orgEmailSetUpId=" + orgEmailSetUpId, "_blank", "toolbar=no,  directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=yes, width=850, height=750");
                //}
                //else {
                //    return false;
                //}
            }
        }

        function NotificationsList(clientId) {
            clientId = $("#ClientId").val();
            //alert(isSuperUser);
            $.ajax({
                type: 'GET',
                url: 'PartialManageNotificationsList',
                data: 'clientId=' + clientId,
                success: function (data) {
                    $("#SetupNotificationsResultsBlock_id").html(data);                    
                },
                error: function () {
                    console.trace();
                    alert("@Resources.Common_unableToProcess ");
                }
            });
        }

        // Kiran on 01/19/2015
        function deleteNotification(notificationId) {
            var c = confirm("@Resources.Common_Notifications_ErrorMessage");
            if (c == true) {
                $.ajax({
                    type: 'GET',
                    url: 'DeleteNotification',
                    data: 'OrgEmailSetupId=' + notificationId,
                    success: function (data) {
                        $("#SetupNotificationsResultsBlock_id").html(data);
                    },
                    error: function () {
                        console.trace();
                        alert("@Resources.Common_unableToProcess ");
                    }
                });
            }
        }
        // Ends<<
    </script>

<body>
@using (Html.BeginForm())
{
    <div class="contentSub">
        
        <div class="page-title">
            <h2>@Resources.ManageNotifications_title</h2>
        </div>

        <div class="rowIST">
    		<label class="enableStar">@Resources.ManageNotifications_Client</label>
        	@Html.DropDownListFor(x => Model.ClientId, (IEnumerable<SelectListItem>)@ViewBag.VBclientsList)
    	</div>

        <div class="rowIST">
            <table>
                <tr>
    		        <td><button type="button" onclick="NotificationsList(-1)">@Resources.ManageSites_button_text</button></td>
                </tr>

                <tr>
    		        <td><button type="button" btnType="Insert" onclick="openWindow('-1', '-1')">@Resources.Common_AddNew</button></td>
                </tr>
            </table>
    	</div>
    
    
        <div id="SetupNotificationsResultsBlock_id">                        
        </div>
    </div>
}
</body>
</html>
