﻿<!--
 *****************************************************
Page Created Date:  10/27/2015
Created By: Sumanth
Purpose:Setup Notifications for Invited Vendors FV-223
Version: 1.0
****************************************************
-->

@using FVGen3.Domain.Entities;
@using Resources;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Resources.EmailSetupNotificationsList_title</title>    
</head>

<body>        
    @if ((Boolean)@ViewBag.notValidId)
    {
        <div class="commentsItalic">@Resources.Common_PromptUser_Errormessage1</div>
    }
            
    @if (@ViewBag.VBcurrentUserOrg_emailNotificationsList != null)
    {        
        <div class="partialPage">        
            <table>
        	<tr class="partialHeader">
                <td width="150">@Resources.EmailSetupNotificationsList_tableheader_setuptype</td>
            	<td width="90">@Resources.EmailSetupNotificationsList_tableheader_firstnotification</td>
                <td width="90">@Resources.EmailSetupNotificationsList_tableheader_secondnotification</td>
                <td width="90">@Resources.EmailSetupNotificationsList_tableheader_thirdnotification</td>
                @*Kiran on 01/19/2015*@
                <td width="5"></td>
                @*Ends<<<*@
            </tr>
                
            @foreach (var notification in (List<OrganizationsEmailSetupNotifications>)@ViewBag.VBcurrentUserOrg_emailNotificationsList)
            {
                   <tr>
            	  <td>
                       <a href="#!" btnType = "Update" onclick="openWindow('@notification.OrgEmailSetupId', '@notification.OrganizationId')">
                          @if (@notification.SetupType == 2)
                        {
                            @:Invitation Reminder
                        }
                        </a>
                       
                   </td>
                    <td>
                        @notification.FirstNotification
                    </td>

                    <td>
                        @if (@notification.SecondNotification != null && @notification.SecondNotification != 0)
                        {
                                @notification.SecondNotification
                        }
                        else
                        {
                            @:- 
                        }
                    </td>

                    <td>
                    @if (@notification.ThirdNotification != null && @notification.ThirdNotification != 0)
                    {
                                @notification.ThirdNotification
                    }
                    else
                    {
                            @:- 
                    }
                    </td>
                    @*Kiran on 01/19/2015*@
                    <td>
                        <img class="imgCursor" style="margin-right:10px;" src="~/images/DelButton.png" name="image" onclick="deleteNotification('@notification.OrgEmailSetupId')" />
                    </td>
                    @*Ends<<*@
                </tr>
            }
            </table>
        </div>
                
        if (@ViewBag.VBcurrentUserOrg_emailNotificationsList.Count == 0)
        {
            @*<table>
                <tr>
                    <td class="commentsItalic">
                        @Resources.Common_NoRecords
                    </td>
                </tr>
            </table>*@
            <div class="commentsItalic">
                <label>@Resources.Common_NoRecords</label>
            </div>
        }
     }                                       
   
</body>
</html>
