﻿<!--
 *****************************************************
Page Created Date:  11/27/2013
Created By: Kiran Talluri
Purpose:
Version: 1.0
****************************************************
-->

@using FVGen3.Domain.Entities;
@using Resources;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Resources.EmailSetupNotificationsList_title</title>    
</head>

<body>        
    @if ((Boolean)@ViewBag.notValidId)
    {
        <div class="commentsItalic">@Resources.Common_PromptUser_Errormessage1</div>
    }
            
    @if (@ViewBag.VBcurrentUserOrg_emailNotificationsList != null)
    {        
        <div class="partialPage">        
            <table>
        	<tr class="partialHeader">
            	<td width="150">@Resources.EmailSetupNotificationsList_tableheader_setuptype</td>
                <td width="150">@Resources.common_Label_name_NoColon</td>
                <td width="90">@Resources.EmailSetupNotificationsList_tableheader_firstnotification</td>
                <td width="90">@Resources.EmailSetupNotificationsList_tableheader_secondnotification</td>
                <td width="90">@Resources.EmailSetupNotificationsList_tableheader_thirdnotification</td>
                @*Kiran on 01/19/2015*@
                <td width="155">@Resources.EmailSetupNotificationsList_tableheader_sendnotificationsto</td>
                <td width="5"></td>
                @*Ends<<<*@
            </tr>
                
            @foreach (var notification in (List<OrganizationsEmailSetupNotifications>)@ViewBag.VBcurrentUserOrg_emailNotificationsList)
            {
                //var query = "../EmailSetupNotifications/AddEmailSetupNotification" + QueryStringModule.Encrypt("OrgEmailSetupId=" + @notification.OrgEmailSetupId);
                <tr>
            	    <td>
                        @if (@notification.SetupType == 0)
                        {
                            @:Document Type
                        }
                        else if(@notification.SetupType == 1)
                        {
                            @:Prequalification Status
                        }
                        else
                        {
                            @: Contractor Evaluation
                        }
                    </td>

                    <td>
                    @* sumanth on 10/31/2015 added else if to filter out the setup type 2 values. *@
                        <a href="#!" btnType = "Update" onclick="openWindow('@notification.OrgEmailSetupId', '@notification.OrganizationId')">
                            @if (@notification.SetupType == 0)
                            {
                                @(((List<DocumentType>)@ViewBag.VBcurrentUserOrg_documentTypes).FirstOrDefault(row => row.DocumentTypeId == notification.SetupTypeId).DocumentTypeName);
                            }
                            else if (@notification.SetupType == 1)
                            {
                                @(((List<PrequalificationStatus>)@ViewBag.VBcurrentUserOrg_prequalificationStatus).FirstOrDefault(row => row.PrequalificationStatusId == notification.SetupTypeId).PrequalificationStatusName);

                            }
                            else
                            {
                                @:Edit
                            }
                        </a>
                    </td>

                    <td>
                        @notification.FirstNotification
                    </td>

                    <td>
                        @if (@notification.SecondNotification != null && @notification.SecondNotification != 0)
                        {
                                @notification.SecondNotification
                        }
                        else
                        {
                            @:- 
                        }
                    </td>

                    <td>
                    @if (@notification.ThirdNotification != null && @notification.ThirdNotification != 0)
                    {
                                @notification.ThirdNotification
                    }
                    else
                    {
                            @:- 
                    }
                    </td>

                    <td>
                        @notification.SendNotificationTo @*Kiran on 9/22/2014*@
                    </td>
                    @*Kiran on 01/19/2015*@
                    <td>
                        <img class="imgCursor" style="margin-right:10px;" src="~/images/DelButton.png" name="image" onclick="deleteNotification('@notification.OrgEmailSetupId')" />
                    </td>
                    @*Ends<<*@
                </tr>
            }
            </table>
        </div>
                
        if (@ViewBag.VBcurrentUserOrg_emailNotificationsList.Count == 0)
        {
            @*<table>
                <tr>
                    <td class="commentsItalic">
                        @Resources.Common_NoRecords
                    </td>
                </tr>
            </table>*@
            <div class="commentsItalic">
                <label>@Resources.Common_NoRecords</label>
            </div>
        }
     }                                       
   
</body>
</html>
