﻿<!--
 *****************************************************
Page Created Date:  10/21/2014
Created By: Kiran Talluri
Purpose: To add vendor employees
Version: 1.0
****************************************************
-->
@using FVGen3.Domain.Entities;
@using Resources;
@model FVGen3.Domain.Entities.LocalAddEmployees
@{
    ViewBag.Title = "Add Employees";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>

    <meta content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="My Account page" />
    <meta name="viewport" content="width=device-width" />
</head>

<script type="text/javascript" src="~/js/jquery-1.9.1.min.js"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="~/js/common.js"></script>
<script type="text/javascript">

    $(document).ready(function () {

        if ('@ViewBag.alertTraining' == "Training") {
            $("#NewEmployees").hide();
            alert("@Resources.AddEmployees_Training_Assignment_Success_Message");
            window.location.href = "AddEmployees";
        }
        // For Roles and Permissions
        setPermissions('@ViewBag.ViewPermissions');

        $("#NewEmployees").hide();

        $("#form").submit(function (event) {

            var rowCount = $('#EmployeesListDisplayView tr').length;
            if (rowCount == 1) {
                alert("@Resources.AddEmployees_User_ErrorMessage");
                return false;
            }
            else
                return true;
        });
    });

    var i = 0;

    function validateEmail(email) {
        var emailReg = /^([\w\-\.\']+)@@((\[([0-9]{1,3}\.){3}[0-9]{1,3}\])|(([\w\-]+\.)+)([a-zA-Z]{2,8}))$/; // Kiran on 01/20/2015
        if (!emailReg.test(email)) {
            return false;
        }
        else {
            return true;
        }
    }

    function addEmployee() {
        //alert("Hai");
        debugger;
        var firstName = $('#FirstName').val().trim();
        var lastName = $('#LastName').val().trim();
        //alert(lastName);
        var title = $('#Title').val().trim();
        var email = "";
        var usernameIsEmail = $("#usernameStyleEmail").is(':checked');
        var documentType = $('#DocumentType').val().trim();
        var last4Digits = $('#Last4Digits').val().trim();
        //var phoneNumber = $('#PhoneNumber').val().trim();
        
        if (usernameIsEmail) {
            email = $('#Email').val().trim();
        }
        else {
            email = $('#CustomUserName').val().trim();
        }

        if (firstName == "" || lastName == "" || title == "" || email == "" || documentType == "" || last4Digits == "") {
            alert("@Html.Raw(@Resources.AddEmployees_Mandatory_Fields_ErrorMessage)");
            return;
        }
        var content = "";

        if (usernameIsEmail) {
            var validEmail = validateEmail(email);
            //alert(validEmail);
            if (!validEmail) {
                alert("@Resources.Common_Email_Invalid_ErrorMessage");
                $("#Email").val("");
                return false;
            }
            var emailExists = CheckEmailExists(email);
            //alert(emailExists);
            if (!emailExists) {
                alert("@Resources.AddEmployees_Email_Custom_ErrorMessage");
                return false;
            }
            

        }
        else {
            //custom usernameS
            var usernameExists = CheckUserNameExists(email);
            if (!usernameExists) {
                alert("@Resources.AddEmployees_UserName_Custom_ErrorMessage");
                return false;
            }
        }
        var status = isEmailExistinLocal(email);
        if (status) {
            alert("@Resources.AddEmployees_Duplicate_Email_ErrorMessage");
            return false;
        }
        content = content + "<tr><td width='35%'><label>" + lastName + " " + firstName + "</label></td><td width='35%'><label>" + title + "</label></td><td width='30%'><label>" + email + "</label></td></tr>";

        content = content + "<input type='hidden' value=\"" + firstName + "\"  name='Employees[" + i + "].FirstName' />";
      
        content = content + "<input type='hidden' value='" + lastName + "'  name='Employees[" + i + "].LastName'/>";
        content = content + "<input type='hidden' value='" + title + "'  name='Employees[" + i + "].Title'/>";
        content = content + "<input type='hidden' value='" + documentType + "'  name='Employees[" + i + "].DocumentType'/>";
        content = content + "<input type='hidden' value='" + last4Digits + "'  name='Employees[" + i + "].Last4Digits'/>";
        //content = content + "<input type='hidden' value='" + phoneNumber + "'  name='Employees[" + i + "].PhoneNumber'/>";
        content = content + "<input type='hidden' value='" + email + "'  name='Employees[" + i + "].Email' fieldType='Emails'/>";
        if ($("#usernameStyleEmail").is(':checked'))
        {
            content = content + "<input type='hidden' value='true'  name='Employees[" + i + "].UserHasEmail'/>";
        }
        else
        {
            content = content + "<input type='hidden' value='false'  name='Employees[" + i + "].UserHasEmail'/>";
        }
        content = content + "</div>";
        i++;
        //alert(content);
        $('#EmployeesListDisplayView tr:first').after(content);

        $('#FirstName').val("");
     
        $('#LastName').val("");
        $('#Title').val("");
        $('#DocumentType').val("");
        $('#Last4Digits').val("");
        //$('#PhoneNumber').val("");
        $('#Email').val("");
        $('#CustomUserName').val('');
        $("#usernameStyleEmail").prop('checked', true);
    }
    function isEmailExistinLocal(email)
    {
        var status = false;
        $("[fieldType='Emails']").each(function () {
            debugger;
            if ($(this).val() == email)
                status = true;
        });
        return status;
    }

    function CheckEmailExists(email) {
        var succeed = false;
        $.ajax(
        {
            async: false,
            type: 'GET',
            url: 'CheckEmailExists',
            data: 'Email=' + email,
            success: function (data) {
                if (data == "Email Exists") {
                    succeed = false;
                }
                else {
                    succeed = true;
                }
            },
            error: function () {
                alert("@Resources.Common_unableToProcess");
            }
        });
        return succeed;
    }

    function deleteEmployee(sysUserOrgId) {
        if (sysUserOrgId != -1) {
            var c = confirm("@Resources.AddEmployees_DeleteEmployee_Confirmbox_Message");
            if (c == true) {
                $.ajax({
                    type: 'GET',
                    url: 'deleteEmployee',
                    data: 'sysUserOrgId=' + sysUserOrgId,
                    success: function (data) {
                        if (data.indexOf("Session expired") >= 0) {
                            window.location = "../SystemUsers/Login";
                        }
                        else if (data == "EmployeeDeleted") {
                            Notification.error("Kendo Notification");
                           // window.location = "../Employee/AddEmployees";
                        }
                        else
                        {
                            old_alert(data);
                        }
                        //                            else if (data.indexOf("started") != -1) {
                        //                                alert(data);
                        //                            } // Kiran on 1/6/2015
                    },
                    error: function () {
                        console.trace();
                        alert("Fail ");
                    }
                });
            }
            else {
                return false;
            }
        }
    }

    function showAddEmployee() {
        $("#NewEmployees").show();
        $("#ExistingEmployees").hide();
    }

    function hideAddEmployee() {
        $("#NewEmployees").hide();
        $("#ExistingEmployees").show();
    }

    //        var winPop = false;
    //        function AddEmployeeCheckLists(SysUserOrgId) {
    //            if (winPop && !winPop.closed) {  //checks to see if window is open
    //                winPop.focus();
    //            }
    //            else {
    //                winPop = window.open("AddEmployeeCheckList?SysUserOrganizationId=" + SysUserOrgId, "_blank", "toolbar=no,  directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=yes, width=550, height=500");
    //            }
    //        }



</script>

<script>



    var winPop = false;
    function AddEmployeeCheckLists(sysUserOrgId) {
        //alert("Hai");
        if (winPop && !winPop.closed) {  //checks to see if window is open
            winPop.focus();
        }
        else {
            winPop = window.open("AddEmployeeCheckLists?sysUserOrgId=" + sysUserOrgId, "_blank", "toolbar=no,  directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=yes, width=650, height=500");
        }
    }
    // Kiran on 03/24/2015
    //    var winPopForBulkTrainings = false;
    //    function AssignBulkTrainings()
    //    {
    //        if (winPopForBulkTrainings && !winPopForBulkTrainings.closed) {  //checks to see if window is open
    //            winPopForBulkTrainings.focus();
    //        }
    //        else {
    //            winPopForBulkTrainings = window.open("AssignBulkTrainings?VendorId=" + '@Session["currentOrgId"]', "_blank", "toolbar=no,  directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=yes, width=650, height=500");
    //        }
    //    }
</script>
<body>

    @using (Html.BeginForm("AddEmployees", "Employee", FormMethod.Post, new { id = "form" }))
    {
        <div class="contentSub" id="NewEmployees">
            <div class="page-title">
                <h2>@Resources.AddEmployees_Heading</h2>
            </div>
            <span style="font-weight:bold;color:red;">@Resources.Employee_Note</span>
           @if(@ViewBag.IsNskVendor){
             <div style="font-weight:bold;color:red;margin-top: 10px;">@Resources.Nsk_Employee_Alert</div>
           }
             <div class="rowIST">
                <label class="enableStar">@Resources.Common_Label_FirstName</label>
                <input type="text" id="FirstName" maxlength="80" />
            </div>
           
            <div class="rowIST">
                <label class="enableStar">@Resources.Common_Label_LastName</label>
                <input type="text" id="LastName" maxlength="80" />
            </div>
            
            <div class="rowIST">
                <label class="enableStar">@Resources.Common_Title</label>
                <input type="text" id="Title" maxlength="80" />
            </div>

            @*<div class="rowIST">
                <label class="enableStar">@Resources.Common_Label_PhoneNumber</label>
                <input type="text" id="PhoneNumber" maxlength="80" />
            </div>*@

            <div class="rowIST">
                <label class="enableStar">@Resources.Label_ID</label>
                <select id="DocumentType">
                    <option value="1">@Resources.DocumentType_Option_DriversLicense</option>
                    <option value="2">@Resources.DcoumentType_Option_GreenCard</option>
                    <option value="3">@Resources.DocumentType_Option_SSN</option>
                    <option value="4">@Resources.EmployeeAck_PhoneNumber_Option</option>
                </select>
            </div>

            <div class="rowIST">
                <label class="enableStar">@Resources.Label_Last4Digits</label>
                <input type="text" id="Last4Digits" maxlength="80" />
            </div>

            <div class="rowIST" style="display:table">
                <label class="enablestar">
                    @Resources.Common_Label_UserName
                </label>
                <div style="display:table-row;vertical-align:middle">
                    <div style="display:table-cell;width:20px"><input type="radio" name="usernameStyle" id="usernameStyleEmail" value="email" checked style="height:25px;width:20px"></div>
                    <div style="display:table-cell">
                        <input type="text" id="Email" maxlength="150" data-placeholder="Email Address" />
                    </div>
                </div>
                <div style="display:table-row;vertical-align:middle">
                    <div style="display:table-cell"></div>
                    <div style="display:table-cell">
                        @Resources.AddEmployees_Select_Custom_UserName</div>
                </div>
                    <div style="display:table-row;vertical-align:middle">
                        <div style="display:table-cell;width:20px">
                            <input type="radio" name="usernameStyle" id="usernameStyleCustom" value="custom" style="height:25px;width:20px;" onclick="GenerateCustomUsername()">
                        </div>
                        <div style="display:table-cell">
                            <input type="text" id="CustomUserName" maxlength="150" data-placeholder="Custom Username" />
                        </div>
                    </div>
                </div>

            <div class="rightButton">
                <button type="button" onclick="addEmployee()">@Resources.AddEmployees_Label_AddEmployeeToList</button>
            </div>

            <div id="EmployeesListDisplayView" class="Users">
                <div class="page-subtitle"><h2>@Resources.AddEmployees_Label_EmployeesToAdd</h2></div>
                <table cellspacing="0">
                    <tr>
                        <th width="35%">@Resources.common_Label_name_NoColon</th>
                        <th width="30%">@Resources.Common_Label_Title_NoColon</th>
                        <th width="35%">@Resources.Common_Label_Email_UserName_NoColon</th>
                    </tr>
                </table>
            </div>

            <div class="contentSub">
                <div class="pageFooterContent">
                    <div class="pageFooterButtons">
                        <table>
                            <tr>
                                <td><button type="submit">@Resources.AddEmployees_Save_Button_Text</button></td>
                                <td><div class="pageFooterCancelButton"><a href="#" onclick="hideAddEmployee()">@Resources.Common_Cancel</a></div></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

        </div>

        <div class="contentSub existingUser" id="ExistingEmployees">
            @*Kiran on 11/29/2014*@
            <div class="page-subtitle">
                <h2>@Resources.AddEmployees_Review_Employer_Guide</h2>
            </div>

            <table border="0">
                <tr>
                    <td width="7%" align="center">
                        <img src="../images/pdf12.png" />
                    </td>
                    <td width="93%">
                        <a href="#!" onclick="window.open('../Employee/DownloadDoc?fileName=@HttpUtility.UrlEncode(@ViewBag.VBEmployerGuide)')">
                            @ViewBag.VBEmployerGuide
                        </a>
                    </td>
                </tr>
                @*Kiran on 01/20/2015*@
                @*Rajesh on 1/6/2015*@
                @*<tr>
                        <td width="7%" align="center">
                            <img src="../images/pdf12.png"/>
                        </td>
                        <td width="93%">
                            <a href="#!" onclick="window.open('../Employee/DownloadDoc?fileName=@HttpUtility.UrlEncode(@ViewBag.VBEmployeeGuide)&ConfigPath=EmployeeGuide')">
                                @ViewBag.VBEmployeeGuide
                            </a>
                        </td>
                    </tr>*@
                @*Ends<<<*@
            </table>
            @*Ends<<<*@

            <div class="rightButton">
                <button type="button" onclick="showAddEmployee()">@Resources.AddEmployees_Button_AddEmployees</button>
                <button type="button" style="float:left;" onclick="window.location='EditEmployeeEmails?VendorOrgId=@Session["currentOrgId"]'" btntype='Update'>@Resources.AddEmployees_Button_EditEmployeesEmail</button>@* Rajesh on 12/2/2014*@
            </div>

            <div class="page-subtitle" style="float: left; width: 100%; margin-bottom: 10px;">
                <h2>@Resources.Common_Heading_ExistingEmployees</h2>
                @*<button type="button" style="float:right;" onclick="AssignBulkTrainings()">Assign Bulk Training(s)</button>*@
                <button type="button" style="float:right;" btntype="Insert" onclick="window.location='AssignBulkTrainings?VendorId=@Session["currentOrgId"]'">@Resources.AddEmployees_Button_AssignBulkTraining</button> @*Kiran on 11/30/2015 for FV-233*@
            </div>
        <br />
            @if (@ViewBag.VBEmployeeSysUserOrgs != null)
            {
                <div>
                    <table width="100%" border="0">
                        <tr>
                            <td width="2%">
                                <img src="~/images/quizpassed.png">
                            </td>
                            <td width="14.6%" style="padding-left: 7px !important;">
                                @Resources.Common_Status_Color_Passed
                            </td>
                            <td width="2%">
                                <img src="~/images/ExpireColor.png">
                            </td>
                            <td width="14.6%" style="padding-left: 7px !important;">
                                @Resources.Common_Status_Color_Expired
                            </td>
                            <td width="2%">
                                <img src="~/images/quizfailed.png">
                            </td>
                            <td width="14.6%" style="padding-left: 7px !important;">
                                @Resources.Common_Status_Color_Failed
                            </td>
                            <td width="2%">
                                <img src="~/images/quizinprocess.png">
                            </td>
                            <td width="14.6%" style="padding-left: 7px !important;">
                                @Resources.Common_Status_Color_InProcess
                            </td>
                            <td width="2%">
                                <img src="~/images/mixed.jpg">
                            </td>
                            <td width="14.6%" style="padding-left: 7px !important;">
                                @Resources.Common_Status_Color_Multiple
                            </td>
                            <td width="2%">
                                <img src="~/images/quiznottaken.png">
                            </td>
                            <td width="14.6%" style="padding-left: 7px !important;">
                                @Resources.Common_Status_Color_NotTaken
                            </td>
                        </tr>
                    </table>
                </div>
            }
        <br />

            <div class="Users">
                <table>
                    @if (@ViewBag.VBEmployeeSysUserOrgs != null)
                    {
                        // Kiran on 12/18/2014
                        <tr>
                            <th width="3%"></th>
                            <th width="33.66%">@Resources.Common_Label_EmployeeName</th>
                            <th width="10%">@Resources.AddEmployees_Header_ExpiringOrExpired</th>                            
                            <th width="5%">@Resources.AddEmployees_Header_RenewTraining</th>
                            <th width="43%">@Resources.Common_Label_Title_NoColon</th>
                            <th width="10%">ID</th>
                            <th width="10%">Last 4 Digits of ID</th>
                            <th width="23%"></th>
                            <th width="3%"></th>
                        </tr>

                        foreach (var employee in (List<SystemUsersOrganizations>)@ViewBag.VBEmployeeSysUserOrgs)
                        {
                            if (@employee.SystemUsers.UserStatus == true)
                            {
                                <forerror>
                                    @{var empSystemUserOrgQuizzes = @employee.SystemUsersOrganizationsQuizzes.Where(rec => rec.QuizRemoved == null || rec.QuizRemoved == false).ToList(); // Kiran on 03/30/2015
                                    var empQuizzesPassedCount = 0;
                                    var empQuizzesFailedCount = 0;
                                    var empQuizzesNotAttended = 0;
                                    var isPassFailAttended = false;
                                    var isPass = false;
                                    var Inprocessquiz = false;
                                    var empexpired = 0;
                                    //var empCheckLists = @employee.SystemUsersOrganizationsEmpQuizChecklist.ToList();
                                    }

                                    @foreach (var quiz in empSystemUserOrgQuizzes)
                                    {
                                        var empQuiz = quiz;

                                        if (@empQuiz.QuizExpirationDate != null && @empQuiz.QuizExpirationDate < DateTime.Now && @empQuiz.QuizResult == true)
                                        {
                                            empexpired++;
                                        }
                                        else if (empQuiz.QuizDateStart == null)
                                        {
                                            empQuizzesNotAttended++;
                                        }
                                        else if (empQuiz.QuizResult == true && @empQuiz.QuizExpirationDate != null && @empQuiz.QuizExpirationDate > DateTime.Now) // Kiran on 3/30/2015
                                        {
                                            empQuizzesPassedCount++;
                                        }
                                        else if (empQuiz.QuizResult == false)
                                        {
                                            empQuizzesFailedCount++;
                                        }
                                        else if (empQuiz.QuizResult == null)
                                        {
                                            Inprocessquiz = true;
                                        }
                                    }

                                    @if (empQuizzesFailedCount > 0 || empQuizzesNotAttended > 0)
                                    {
                                        isPassFailAttended = true;
                                    }
                                    @if (empQuizzesPassedCount > 0)
                                    {
                                        isPass = true;
                                    }
                                </forerror>
                                <tr>
                                    <td>
                                        @{var numberofcombination = 0;
                                        if (empQuizzesNotAttended > 0) { numberofcombination++; }
                                        if (empQuizzesFailedCount > 0) { numberofcombination++; }
                                        if (empQuizzesPassedCount > 0) { numberofcombination++; }
                                        if (empexpired > 0) { numberofcombination++; }
                                        }
                                        @if (numberofcombination > 1)
                                        {
                                            <img src="~/images/mixed.jpg" />
                                        }
                                        else if (empexpired > 0)
                                        {
                                            <img src="~/images/ExpireColor.png" />
                                        }
                                        
                                        else if (empQuizzesNotAttended > 0 && empQuizzesFailedCount == 0 && empQuizzesPassedCount == 0)
                                        {
                                            <img src="~/images/quiznottaken.png"/>
                                        }
                                        else if (isPass == true && isPassFailAttended == false)
                                        {
                                            <img src="~/images/quizpassed.png"/>
                                        }
                                        else if (isPassFailAttended == true && isPass == true)
                                        {
                                            <img src="~/images/quiznottaken.png"/>
                                        }
                                        else if (isPassFailAttended == true && isPass == false)
                                        {
                                            <img src="~/images/quizfailed.png"/>
                                        }
                                        else if (Inprocessquiz == true)
                                        {
                                            <img src="~/images/quizinprocess.png"/>
                                        }
                                    </td>
                                    <td>
                                        @*Kiran on 02/03/2015 to display the employees in this format(Lastname-Firstname)*@
                                        <a href="VendorEmployeeQuizzes?userId=@employee.UserId">@employee.SystemUsers.Contacts[0].LastName, @employee.SystemUsers.Contacts[0].FirstName</a>
                                    </td>
                                    
                                    <td>
                                        @foreach (var quizexp in empSystemUserOrgQuizzes.Where(rec => rec.QuizResult == true && rec.QuizExpirationDate != null && rec.QuizExpirationDate <= DateTime.Now.AddDays(30)).OrderBy(rec => rec.QuizExpirationDate))
                                        {
                                            @(quizexp.ClientTemplates.Templates.TemplateName + ":-")<br /><b>@(quizexp.QuizExpirationDate.Value.ToShortDateString())</b><br />
                                        }
                                    </td>
                                    <td>
                                        @foreach (var quizexp in empSystemUserOrgQuizzes.Where(rec => rec.QuizResult == true).OrderBy(rec => rec.QuizExpirationDate))
                                        {
                                            if (quizexp.QuizExpirationDate != null && quizexp.QuizExpirationDate <= DateTime.Now.AddDays(30))
                                            {
                                                if (!quizexp.QuizPayments.Any(r => r.IsOpen != null && r.IsOpen.Value))
                                                {
                                                    <img width="25" height="25" style="float:left !important;" src="~/images/renewtraining.png" btntype="Insert" onclick="window.location='AssignBulkTrainings?VendorId=@Session["currentOrgId"]&empid=@employee.UserId'">
                                                    @*<button type="button" btntype="Insert" onclick="window.location='AssignBulkTrainings?VendorId=@Session["currentOrgId"]&empid=@employee.UserId'">@Resources.Employee_Renew</button>*@
                                                    break; 
                                                }
                                                
                                            }
                                        }
                                    </td>

                                    <td style="word-break:break-word;">@employee.SystemUsers.Contacts[0].ContactTitle</td>
                                    <td>
                                        @if(@employee.SystemUsers.Contacts[0].DocumentType == 1)
                                        {
                                            @: DL
                                        }
                                        else if(@employee.SystemUsers.Contacts[0].DocumentType == 2)
                                        {
                                            @: GC
                                        }
                                        else if(@employee.SystemUsers.Contacts[0].DocumentType == 3)
                                        {
                                            @: SSN
                                        }
                                        else if (@employee.SystemUsers.Contacts[0].DocumentType == 4)
                                        {
                                            @: Phone#
                                        }
                                    </td>
                                    <td>
                                        @if(!string.IsNullOrEmpty(@employee.SystemUsers.Contacts[0].DriversLicenseLast4Digits))
                                        {
                                            @employee.SystemUsers.Contacts[0].DriversLicenseLast4Digits
                                        }
                                        else if(!string.IsNullOrEmpty(@employee.SystemUsers.Contacts[0].GreenCardLast4Digits))
                                        {
                                            @employee.SystemUsers.Contacts[0].GreenCardLast4Digits
                                        }
                                        else if(!string.IsNullOrEmpty(@employee.SystemUsers.Contacts[0].SocialSecurityNumberLast4Digits))
                                        {
                                            @employee.SystemUsers.Contacts[0].SocialSecurityNumberLast4Digits
                                        }
                                        else if (!string.IsNullOrEmpty(@employee.SystemUsers.Contacts[0].PhoneNumberLast4Digits))
                                        {
                                            @employee.SystemUsers.Contacts[0].PhoneNumberLast4Digits
                                        }
                                    </td>
                                    @*Rajesh on 2/17/2015*@
                                    <td>
                                        <a class="imgCursor" href="#!" onclick="AddEmployeeCheckLists('@employee.SysUserOrganizationId')">@Resources.Employess_Partial_AddCategories</a>
                                    </td>
                                    @*Ends<<<*@

                                    <td>
                                        <img class="imgCursor" src="~/images/DelButton.png" name="image" onclick="deleteEmployee('@employee.SysUserOrganizationId')" />
                                    </td>

                                </tr>
                                @*Kiran on 02/18/2015*@
                                if (@employee.SystemUsersOrganizationsCategories != null && @employee.SystemUsersOrganizationsCategories.Count() != 0)
                                {
                                    <tr>
                                        <td colspan="5" style="padding:5px;">
                                            <div class="categories-list">
                                                <table>
                                                    @foreach (var category in @employee.SystemUsersOrganizationsCategories)
                                                    {
                                                        <tr>
                                                            <td>@category.EmployeeQuizCategories.CategoryName</td>
                                                            <td>
                                                                @try
                                                                {
                                                                    @category.SystemUsers.Contacts[0].LastName @: @category.SystemUsers.Contacts[0].FirstName
                                                            }
                                                                catch
                                                                {
                                                                    if (@category.SystemUsers != null)
                                                                    {
                                                                        @category.SystemUsers.Email // Kiran on 03/18/2015
                                                                    }
                                                                }
                                                            </td> @*Kiran on 03/13/2015*@
                                                            <td style="text-align:center;">@category.SubCategoryInputValue</td>
                                                            <td style="text-align:center;">
                                                                @if (@category.SubCategoryEnteredDate != null)
                                                                {@category.SubCategoryEnteredDate.Value.Date.ToShortDateString()}
                                                            </td>
                                                        </tr>
                                                    }
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                }
                                @*Ends<<<*@

                            }
                        }
                    }
                    @*Ends<<<*@
                </table>
            </div>
        </div>

    }
</body>

</html>
<script>
    $(document).ready(function () {
        var inputs = document.getElementsByTagName("input");
        for (var i = 0; i < inputs.length; i++) {
            inputs[i].value = inputs[i].getAttribute('data-placeholder');
            inputs[i].addEventListener('focus', function () {
                if (this.value == this.getAttribute('data-placeholder')) {
                    this.value = '';
                }
            });
            inputs[i].addEventListener('blur', function () {
                if (this.value == '') {
                    this.value = this.getAttribute('data-placeholder');
                }
            });
        }
    });
    function GenerateCustomUsername() {
 //Generate name from first and last name (complain if empty)
        var tmpUserName = $('#FirstName').val().trim() + $('#LastName').val().trim();
        //Call server  with it and server will return reccomendation
        var reccomendedName = GetServerReccomendation(tmpUserName);        
        $("#CustomUserName").val(reccomendedName);
    }
    function GetServerReccomendation(nameBase) {
        
        var result = "ERROR";
        $.ajax({
            async: false,
            type: 'GET',
            url: 'GetUsernameReccomendation',
            data: 'nameBase=' + nameBase,
            success: function (data) {                
                result = data;
            },
            error: function () {
                alert("@Resources.Common_unableToProcess");
            }
        });
        return result;
    }
    function CheckUserNameExists(username) {
        
        //look at CheckEmailExists
        //pass username to server and set a label to say good if valid
        var succeed = false;
        $.ajax(
        {
            async: false,
            type: 'GET',
            url: 'CheckUserNameExists',
            data: 'username=' + username,
            success: function (data) {
                if (data == "Username Exists") {
                    succeed = false;
                }
                else {
                    succeed = true;
                }
            },
            error: function () {
                alert("@Resources.Common_unableToProcess");
            }
        });
        return succeed;

    }

</script>