﻿<!--
 *****************************************************
Page Created Date:  10/21/2014
Created By: Kiran Talluri
Purpose: To add vendor employees 
Version: 1.0
****************************************************
-->

@using FVGen3.Domain.Entities;
@using Resources;
@model FVGen3.Domain.Entities.LocalAddEmployees
@{
    ViewBag.Title = "Add Employees";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>

    <meta content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="description" content="My Account page"/>
    <meta name="viewport" content="width=device-width"/>
</head>

<script type="text/javascript" src="~/js/jquery-1.9.1.min.js"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<script type="text/javascript">

    $(document).ready(function () {
        // For Roles and Permissions
        setPermissions('@ViewBag.ViewPermissions');

        $("#NewEmployees").hide();

        $("#form").submit(function (event) {

            var rowCount = $('#EmployeesListDisplayView tr').length;
            if (rowCount == 1) {
                alert("Please add atleast one user");
                return false;
            }
            else
                return true;
        });
    });

    var i = 0;

    function validateEmail(email) {
        var emailReg = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;
        if (!emailReg.test(email)) {
            return false;
        }
        else {
            return true;
        }
    }

    function addEmployee() {
        //alert("Hai");
            var firstName = $('#FirstName').val();
            var lastName = $('#LastName').val();
            var title = $('#Title').val();
            var email = $('#Email').val();

            if (firstName == "" || lastName == "" || title == "" || email == "") {
                alert("can't add employee, all fields are mandatory");
                return;
            }
            var content = "";

               if(email != "") {
                   var validEmail = validateEmail(email);
                   //alert(validEmail);
                   if (!validEmail) {
                       alert("Invalid Email");
                       $("#Email").val("");
                       return false;
                   }
                   var emailExists = CheckEmailExists(email);
                   //alert(emailExists);
                   if (!emailExists) {
                       alert("The email address you specified is already in use. Please enter a different email address.");
                       return false;
                   }
                  
                }
        
           content=content+"<tr><td width='35%'><label>"+firstName+" "+lastName+"</label></td><td width='35%'><label>"+title+"</label></td><td width='30%'><label>"+email+"</label></td></tr>";


            content = content + "<input type='hidden' value='" + firstName + "' name='Employees[" + i + "].FirstName' />";
            content = content + "<input type='hidden' value='" + lastName + "'  name='Employees[" + i + "].LastName'/>";
            content = content + "<input type='hidden' value='" + title + "'  name='Employees[" + i + "].Title'/>";
            content = content + "<input type='hidden' value='" + email + "'  name='Employees[" + i + "].Email'/>";

            content = content + "</div>";
            i++;
            //alert(content);
            $('#EmployeesListDisplayView tr:first').after(content);

            $('#FirstName').val("");
            $('#LastName').val("");
            $('#Title').val("");
            $('#Email').val("");
        }

        function CheckEmailExists(email) {
            var succeed = false;
            $.ajax(
            {
                async: false,
                type: 'GET',
                url: 'CheckEmailExists',
                data: 'Email=' + email,
                success: function (data) {
                    if (data == "Email Exists") {
                        succeed = false;
                    }
                    else {
                        succeed = true;
                    }
                },
                error: function () {
                    alert("@Resources.Common_unableToProcess");
                }
            });
            return succeed;
        }

        function deleteEmployee(sysUserOrgId) {
            if (sysUserOrgId != -1) {
                var c = confirm("@Resources.VendorEmployee_delete_confirmmessage");
                if (c == true) {
                    $.ajax({
                        type: 'GET',
                        url: 'deleteEmployee',
                        data: 'sysUserOrgId=' + sysUserOrgId,
                        success: function (data) {
                            if (data.indexOf("Session expired") >= 0) {
                                window.location = "../SystemUsers/Login";
                            }
                            else if (data == "EmployeeDeleted") {
                                window.location = "../Employee/AddEmployees";
                            }
                            else if (data.indexOf("started") != -1) {
                                alert(data);
                            }
                        },
                        error: function () {
                            console.trace();
                            alert("Fail ");
                        }
                    });
                }
                else {
                    return false;
                }
            }
        }

        function showAddEmployee()
        {
            $("#NewEmployees").show();
            $("#ExistingEmployees").hide();
        }

        function hideAddEmployee()
        {
            $("#NewEmployees").hide();
            $("#ExistingEmployees").show();
        }

</script>

<body>
   
    @using (Html.BeginForm("AddEmployees", "Employee", FormMethod.Post, new { id="form" }))
    {   
        <div class="contentSub" id="NewEmployees">
            <div class="page-title">
                <h2>@Resources.AddEmployees_Heading</h2>
            </div>

            <div class="rowIST">
                <label>@Resources.Common_Label_FirstName</label>
                <input type="text" id="FirstName"/>
            </div>
                        
            <div class="rowIST">
                <label>@Resources.Common_Label_LastName</label>
                <input type="text" id="LastName"/>
            </div>
                
            <div class="rowIST">
                <label>@Resources.Common_Title</label>
                <input type="text" id="Title"/>
            </div>
                
            <div class="rowIST">
                <label>@Resources.Common_Label_Email</label>
                <input type="text" id="Email"/>
            </div>
                
            <div class="rightButton">
                <button type="button" onclick="addEmployee()">@Resources.AddEmployees_Label_AddEmployeeToList</button>
            </div>
                
            <div id="EmployeesListDisplayView" class="Users">
                <div class="page-subtitle"><h2>@Resources.AddEmployees_Label_EmployeesToAdd</h2></div>
                    <table cellspacing="0">
                    	<tr>
                        	<th width="35%">@Resources.common_Label_name_NoColon</th>
                            <th width="30%">@Resources.Common_Label_Title_NoColon</th>
                            <th width="35%">@Resources.Employees_Partial_Header_Email</th>
                        </tr>
                   </table>
            </div>

            <div class="contentSub">
                <div class="pageFooterContent"> 
                    <div class="pageFooterButtons">
                        <table>
                            <tr>
                                <td><button type="submit">@Resources.Employee_Notification_Button</button></td>
                                <td><div class="pageFooterCancelButton"><a href="#" onclick="hideAddEmployee()">@Resources.Common_Cancel</a></div></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            
        </div>
        
        <div class="contentSub existingUser" id="ExistingEmployees">
            <div class="rightButton">
                <button type="button" onclick="showAddEmployee()">@Resources.AddEmployees_Button_AddEmployees</button>
            </div>

            <div class="page-subtitle"><h2>@Resources.Common_Heading_ExistingEmployees</h2>
               
            </div>

            <div class="Users">
                	<table>
                    @if (@ViewBag.VBEmployeeSysUserOrgs != null)
                     {
                    	<tr>
                        	<th width="35%">@Resources.Common_Label_EmployeeName</th>
                            <th width="30%">@Resources.Common_Label_Title_NoColon</th>
                            <th width="35%" colspan="3">@Resources.Employees_Partial_Header_Email</th>
                        </tr>
                         foreach (var employee in (List<SystemUsersOrganizations>)@ViewBag.VBEmployeeSysUserOrgs)
                         {
                            <tr>
                        	    <td width="35%">
                                    <a href= "VendorEmployeeQuizzes?userId=@employee.UserId">@employee.SystemUsers.Contacts[0].FirstName @employee.SystemUsers.Contacts[0].LastName</a>
                                </td>
                                <td width="30%">@employee.SystemUsers.Contacts[0].ContactTitle</td>
                                <td width="24%">@employee.SystemUsers.Email</td>
                                <td width="3%">@*<img src="~/images/EditIcon.png" />*@</td>
                                 <td>
                                    <img class="imgCursor" src="~/images/DelButton.png" name="image" onclick="deleteEmployee('@employee.SysUserOrganizationId')"/>
                                </td>
                            </tr>
                         }
                     }
                    </table>
                </div>
        </div>

    }
</body>
</html>
