﻿<!--
Page Created Date:  11/04/2014
Created By: Kiran Talluri
Purpose:  To display the list of Check Lists & add it to employee
Version: 1.0
****************************************************
-->

@using FVGen3.Domain.Entities;
@using Resources;
@model FVGen3.Domain.Entities.LocalAddEmployeeCheckLists
@{
    ViewBag.Title = "Add Status to Employee";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>

@Styles.Render("~/css/appPopUp.css")
@Styles.Render("~/css/appInnerPages.css")
@Scripts.Render("~/js/common.js")
@Scripts.Render("~/Scripts/jquery-1.9.1.min.js")
@Styles.Render("~/Content/Site.css") 

<script type="text/javascript">

    $(document).ready(function () {
        setPermissions('@ViewBag.ViewPermissions');
    });

    function SelectAllCheckLists() {

        if ($("#selectAllCheckLists").is(":checked")) {

            $("#CheckLists").find(":checkbox").each(function () {

                if ($(this).attr("editable") == "true")
                    if ($("#selectAllCheckLists").is(":checked")) {
                        $(this).prop("checked", true);
                    }

            });
        }

        else {

            $("#CheckLists").find(":checkbox").each(function () {

                if ($(this).attr("editable") == "true")
                    if (!$("#selectAllCheckLists").is(":checked")) {

                        $(this).prop("checked", false);
                    }

            });
        }
    }

</script>

<body>
    @if (@ViewBag.VBDisplayError != null && @ViewBag.VBDisplayError == true)
    {
    <div class="errorMessage">
        @Resources.Check_LatestCategory
    </div>
    }

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.SysUserOrgQuizId) // Kiran on 12/22/2014
    <div class="popUpContainer">
        <div class="popUpContent">
    	    <div class="popUpSubContent">
                @if (Model.checkLists != null && Model.checkLists.Count() != 0)
                {
                    <div class="page-title">
	                    <h5>@Resources.Category_Selection</h5>
                    </div>

                    <div class="assignTemplateScrollCheckbox" style="width:50%" id="CheckLists">
                        <table style="margin:0px;">
                            <tr>
                                <td valign="top"> 
                                    <input type="checkbox" name="selectAllCheckLists" id="selectAllCheckLists" onclick="SelectAllCheckLists()" />
                                </td>
                                    <td valign="top"> 
                                        <label for="selectAllCheckLists">@Resources.Common_Label_SelectAll</label>
                                </td>
                                    <td valign="top"> 
                                
                                </td>
                            </tr>
                            @if (Model.checkLists != null)
                            {
                                for (var i = 0; i < @Model.checkLists.Count; i++)
                                {
                                    <tr id="BUid_@Model.checkLists[i].id">
                                            <td valign="top"> 
                                            @Html.HiddenFor(model => @Model.checkLists[i].id)
                                            @Html.HiddenFor(model => @Model.checkLists[i].Text)
                                            @Html.CheckBoxFor(model => @Model.checkLists[i].Status, new { @editable = "true" })
                                        </td>
                                            <td valign="top"> 
                                        @{var id4 = "checkLists_" + @i + "__Status";}

                                        <label for="@id4">@Model.checkLists[i].Text </label></td>
                                            <td style="width:5%;" valign="top"> 
                                            </td>
                                    </tr>   
                                }
                            }       
                        </table>
                    </div>

                    <div class="rowPopUp">
                        <button type="submit">@Resources.Common_Confirm</button>
                    </div>
                }
                else
                { 
                    <div class="errorMessage">@Resources.Add_Categories </div>
                }

            </div>
        </div>
    </div>
}
</body>
</html>
