﻿@{
    Layout = null;
}
@using Resources;
@model List<FVGen3.Domain.Entities.LocalAddCategories>
<!DOCTYPE html>

@Scripts.Render("~/Scripts/jquery-1.9.1.min.js")
@Styles.Render("~/css/appPopUp.css")
@Styles.Render("~/css/appInnerPages.css")
@Scripts.Render("~/js/common.js")
@Styles.Render("~/Content/Site.css") 

<script src="~/Scripts/jquery-ui.js"></script>
<link rel="stylesheet" href="~/css/jquery-ui.css" />

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Employee Categories</title>
</head>
<script>
    $(document).ready(function () {
        jQuery.validator.methods["date"] = function (value, element) { return true; }
        $('form :input').each(function () {

            if ($(this).attr('type') == "datetime") {
                $(this).datepicker();
                $(this).attr("readonly", "readonly");
            }
        });
    });

    function showHideDate(obj) {
        //alert($(obj).val());
        var dropDownSelectedValue = $(obj).val();
        if (dropDownSelectedValue == "N/A") {
            $(obj).closest('tr').find('input[type="datetime"]').hide();
        }
        else {
            $(obj).closest('tr').find('input[type="datetime"]').show();
        }
    }
</script>
<body>
@using (@Html.BeginForm())
{
    <div class="popUpContainer">
        <div class="popUpContent">
    	    <div class="popUpSubContent  core">
            <div class="page-title">
                  <h2>@Resources.AddEmployeeCheckLists_Heading</h2>
            </div>
        @if (@Model.Count() != 0)
        {
        <table>
            <tr>
                <th width="33%">@Resources.Common_TableHeading_CategoryName</th>
                <th width="33%">@Resources.Common_TableHeading_CategoryValue</th>
                <th width="33%">@Resources.Common_Date</th>
            </tr>
            @for (int i = 0; i < @Model.Count(); i++)
            {
                @Html.HiddenFor(rec => rec[i].CategoryName) 
                @Html.HiddenFor(rec => rec[i].EmpQuizCategoryId) 
                @Html.HiddenFor(rec => rec[i].SubCategoriesValue) 
                @Html.HiddenFor(rec => rec[i].SubCategoryControlType)
                @Html.HiddenFor(rec => rec[i].SysUserOrgId)  
                <tr>
                    <td><label>@Model[i].CategoryName</label></td>
                    <td class="core-options">
                    @if (@Model[i].SubCategoryControlType == 1)
                    {
                        foreach (var val in Model[i].SubCategoriesValue.Split('|'))
                        {
                            <div>
                                @Html.RadioButtonFor(rec => rec[i].SubCategorySelectedValue, val, new { id = val + i })
                                @Html.ValidationMessageFor(rec => rec[i].SubCategorySelectedValue)
                                <label for="@val@i">@val</label>
                            </div>
                        }
                    }
                    else
                    {
                        <select name="[@i].SubCategorySelectedValue" onchange="showHideDate(this)">
                        @foreach (var val in Model[i].SubCategoriesValue.Split('|'))
                        {
                            if (@Model[i].SubCategorySelectedValue != null && @Model[i].SubCategorySelectedValue.Equals(val))
                            {
                                <option selected>@val</option>
                            }
                            else
                            {
                                <option>@val</option>
                            }
                        }
                        </select>
                        @Html.ValidationMessageFor(rec => rec[i].SubCategorySelectedValue)
                    }
                    </td>
                    <td> 
                        @Html.EditorFor(rec => rec[i].SubCategoryEnteredDate, new { @id = "SubCategoryEnteredDate_"+i })
                        <div class="alertStar">@Html.ValidationMessageFor(rec => rec[i].SubCategoryEnteredDate)
                        </div>
                        @if (string.IsNullOrEmpty(@Model[i].SubCategorySelectedValue) || @Model[i].SubCategorySelectedValue == "N/A")
                        {
                            {
                                <script>
                                    $("input[name='[@i].SubCategoryEnteredDate']").hide();
                                </script>
                            }
                        }
                    </td>

                </tr>
            }
        </table>
            <div class="pageFooterButtons">
                <table>
                    <tr>
                        <td><button type="submit" class="PageFooter_Button">@Resources.Common_Save</button></td>
                        <td>@Resources.Common_label_or</td>
                        <td><div class="PageFooter_CancleBtn"><a href="#" onclick="window.close();">@Resources.Common_Cancel</a></div></td>
                    </tr> 
                </table> 
            </div>
        }
        else
        { 
            <div class="errorMessage">
                @Resources.AddEmployeeCheckLists_Categories_ErrorMessage
            </div>
        }
    </div>
    </div>
    </div>
    
   
    
}
</body>
</html>
