﻿<!--
Page Created Date:  11/04/2014
Created By: Kiran Talluri
Purpose:  To display the list of Check Lists & assign it to employee training
Version: 1.0
****************************************************
-->


@using FVGen3.Domain.Entities;
@using Resources;
@model List<FVGen3.Domain.Entities.LocalAddCategories>
@{
    Layout=null;
    ViewBag.Title = "Add Status to Employee Training";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
   <title>@Resources.AddEmployeeQuizCheckLists_Heading</title>
@Styles.Render("~/css/appPopUp.css")
@Styles.Render("~/css/appInnerPages.css")

@Scripts.Render("~/Scripts/jquery-1.9.1.min.js")
@Scripts.Render("~/js/common.js")
@Styles.Render("~/Content/Site.css") 

<script src="~/Scripts/jquery-ui.js"></script>
<link rel="stylesheet" href="~/css/jquery-ui.css" />
 
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('form :input').each(function () {
            if ($(this).attr('type') == "datetime") {
                $(this).datepicker();
                $(this).attr('readonly', 'readonly');
            }
        });
    });

    function showHideDate(obj) {
        //alert($(obj).val());
        var dropDownSelectedValue = $(obj).val();
        if (dropDownSelectedValue == "N/A") {
            $(obj).closest('tr').find('input[type="datetime"]').hide();
        }
        else {
            $(obj).closest('tr').find('input[type="datetime"]').show();
        }
    }
   
</script>
</head>

<body>
@using (Html.BeginForm())
{
    <div class="popUpContainer">
        <div class="popUpContent">
    	    <div class="popUpSubContent core">
                <div class="page-title">
                    <h2>@Resources.AddEmployeeQuizCheckLists_Heading</h2>
                </div><!--page-title-->
                @if (@Model.Count() != 0)
                {
                <table>
                    <tr>
                        <th width="33%">@Resources.Common_TableHeading_CategoryName</th>
                        <th width="33%">@Resources.Common_TableHeading_CategoryValue</th>
                        <th width="33%">@Resources.Common_Date</th>
                    </tr>
                    @for (int i = 0; i < @Model.Count(); i++)
                    {
                        @Html.HiddenFor(model => model[i].CategoryName)
                        @Html.HiddenFor(model => model[i].EmpQuizCategoryId)
                        @Html.HiddenFor(model => model[i].SubCategoryControlType)
                        @Html.HiddenFor(model => model[i].SysUserOrgQuizId)
                        <tr>
                            <td>
                                <label>@Model[i].CategoryName</label>
                            </td>
                            <td class="core-options">
                            @if (@Model[i].SubCategoryControlType == 1)
                            {
                                foreach (var option in Model[i].SubCategoriesValue.Split('|'))
                                {   
                                    <div>
                                        @Html.RadioButtonFor(model => model[i].SubCategorySelectedValue, option, new { id = option + i })
                                        @Html.ValidationMessageFor(model => model[i].SubCategorySelectedValue)
                                        <label style="float:none;" for="@option@i">@option</label>
                                    </div>
                                }
                            }

                            else if (@Model[i].SubCategoryControlType == 2)
                            {   
                                <select name="[@i].SubCategorySelectedValue" onchange="showHideDate(this)">
                                    @{string[] options = Model[i].SubCategoriesValue.Split('|');}
                                    @foreach (var option in options)
                                    {
                                        if (@option == @Model[i].SubCategorySelectedValue)
                                        {
                                            <option value="@option" selected="selected">@option</option>
                                        }
                                        else
                                        {
                                            <option value="@option">@option</option>
                                        }
                                    }
                                </select>
                                @Html.ValidationMessageFor(model => model[i].SubCategorySelectedValue)
                            }
                            </td>
                            <td>
                                @Html.EditorFor(model => model[i].SubCategoryEnteredDate, new { @id = "SubCategoryEnteredDate_" + i })
                                <div class="alertStar">@Html.ValidationMessageFor(model => model[i].SubCategoryEnteredDate)</div>

                                
                                @if (string.IsNullOrEmpty(@Model[i].SubCategorySelectedValue) || @Model[i].SubCategorySelectedValue == "N/A")
                                {
                                    <script>
                                        $("input[name='[@i].SubCategoryEnteredDate']").hide();
                                    </script>
                                }
                            </td>
                        </tr>
                    }
                </table>
                    <div class="pageFooterButtons">
                        <table>
                            <tr>
                                <td><button type="submit" class="PageFooter_Button">@Resources.Common_Save</button></td>
                                <td>@Resources.Common_label_or</td>
                                <td><div class="PageFooter_CancleBtn"><a href="#" onclick="window.close();">@Resources.Common_Cancel</a></div></td>
                            </tr>	
                        </table> 
                    </div>
                }
                else
                { 
                    <div class="errorMessage">
                        @Resources.AddEmployeeQuizCheckLists_Categories_ErrorMessage
                    </div>
                }
            </div>
        </div>
    </div>
}
</body>
</html>
