﻿
@using FVGen3.Domain.Entities;
@using Resources;
@model FVGen3.Domain.Entities.LocalAssignBulkTrainings
@{
    ViewBag.Title = "Assign Bulk Training";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>

@Scripts.Render("~/Scripts/jquery-1.9.1.min.js")
@Styles.Render("~/css/appPopUp.css")
@Styles.Render("~/css/appInnerPages.css")
@Scripts.Render("~/js/common.js")
@Styles.Render("~/Content/Site.css")
<style>
.second-div label
{
    width:auto!important;
    display:inline!important;
}
</style>
<script type="text/javascript">
    $(document).ready(function () {
        setPermissions('@ViewBag.ViewPermissions');

        $("#form").submit(function (event) {
            var selectedTrainingsCount = $('#ListOfTrainings').find("input:checkbox:checked").length;
            var selectedEmployeesCount = $('#ListOfEmployees').find("input:checkbox:checked").length;
            if (selectedTrainingsCount == 0 || selectedEmployeesCount == 0) {
                alert("@Resources.AssignBulkTrainings_ErrorMessage");
                return false;
            }
            else {
                return true;
            }

        });
    });
    function RadioSelect(obj) {
        $(".assignTemplateScrollCheckbox").find("input[type=radio]").removeProp('checked');
        $(obj).prop('checked', true)
    }
    function SelectAllTrainings() {
        var selectedTrainingsToDisplay = "";
        if ($("#selectAllTrainings").is(":checked")) {
            $("form :input[type='checkbox']").each(function () {
                if ($(this).attr("training") == "true") {
                    $(this).prop("checked", true);
                    var currentTraining = $(this).attr("displayTraining");
                    selectedTrainingsToDisplay = selectedTrainingsToDisplay + "<label>" + currentTraining + "</label>";
                }
            });
        }
        else {
            $("form :input[type='checkbox']").each(function () {
                if ($(this).attr("training") == "true") {
                    $(this).prop("checked", false);
                }
            });
        }
        $("#selectedTrainings").html(selectedTrainingsToDisplay);
    }

    function SelectAllEmployees() {
        var selectedEmployeesToDisplay = "";
        if ($("#selectAllEmployees").is(":checked")) {
            $("form :input[type='checkbox']").each(function () {
                if ($(this).attr("employee") == "true") {
                    $(this).prop("checked", true);
                    var currentEmployee = $(this).attr("displayEmployee");
                    selectedEmployeesToDisplay = selectedEmployeesToDisplay + "<label>" + currentEmployee + "</label>";
                }
            });
        }
        else {
            $("form :input[type='checkbox']").each(function () {
                if ($(this).attr("employee") == "true") {
                    $(this).prop("checked", false);
                }
            });
        }
        $("#selectedEmployees").html(selectedEmployeesToDisplay);
    }

    function DisplaySelectedTrainings(obj) {
        var selectedTrainingsToDisplay = "";
        var parentdiv = $(obj).closest('.assignTemplateScrollCheckbox');
        $(parentdiv).find('input').each(function () {
            if ($(this).is(":checked") && ($(this).attr("training") == "true")) {
                
                var currentTraining = $(this).attr("displayTraining");
                selectedTrainingsToDisplay = selectedTrainingsToDisplay + "<label>" + currentTraining + "</label>";
            }
        });
        $("#selectedTrainings").html(selectedTrainingsToDisplay);

        if ($(obj).is(":checked")) {
            $(obj).val(true);
            if ($(obj).closest(".assignTemplateScrollCheckbox").find("input[type='checkbox']:checked").length +1 == $(obj).closest(".assignTemplateScrollCheckbox").find("input[type='checkbox']").length) {
                $(obj).closest(".assignTemplateScrollCheckbox").find(".SelectTrainingAll").prop("checked", true);
            }
        }
        else {
            $(obj).closest(".assignTemplateScrollCheckbox").find(".SelectTrainingAll").prop("checked", false);
            $(obj).val(false);
        }
        return;
    }

    function DisplaySelectedEmployees(obj) {
        var selectedEmployeesToDisplay = "";
        var parentdiv = $(obj).closest('.assignTemplateScrollCheckbox');
        $(parentdiv).find('input').each(function () {
            if ($(this).is(":checked") && ($(this).attr("employee") == "true")) {
                var currentEmployee = $(this).attr("displayEmployee");
                selectedEmployeesToDisplay = selectedEmployeesToDisplay + "<label style='display:block;'>" + currentEmployee + "</label>";
            }
        });
        $("#selectedEmployees").html(selectedEmployeesToDisplay);

        if ($(obj).is(":checked")) {
            $(obj).val(true);
            if ($(obj).closest("#ListOfEmployees").find("input[type='checkbox']:checked").length + 1 == $(obj).closest("#ListOfEmployees").find("input[type='checkbox']").length) {
                $(obj).closest("#ListOfEmployees").find(".selectAllEmployees").prop("checked", true);
            }
        }
        else {
            $(obj).closest("#ListOfEmployees").find(".selectAllEmployees").prop("checked", false);
            $(obj).val(false);
        }
        return;
    }
</script>


<body>
    @using (Html.BeginForm("AssignBulkTrainings", "Employee", FormMethod.Post, new { id = "form" }))
    {
        @Html.HiddenFor(model => model.VendorId)
        <div class="popUpContainer">
            <div class="popUpContent">
    	        <div class="popUpSubContent trainings">
                    @if (@Model.trainings != null && @Model.trainings.Count() != 0)
                    {
                        <div class="notifyUser">
                            <p><b>@Resources.Common_Label_Note</b><br /> @Resources.AssignBulkTrainings_ErrorMessage2</p> @*Kiran on 11/30/2015 for FV-233*@
                        </div>
                        
                        <div class="rowPopUp" style="width:100%; ">
                            <div class="promptMessage">
	                            <h5>@Resources.AssignBulkTrainings_ErrorMessage3</h5>
                            </div>
                        
                            <div class="first-div">
                                <div class="assignTemplateScrollCheckbox" id="ListOfTrainings">
                                    <table style="margin:0px; width:100%;">
                                        <tr style="display:none">
                                            <td><input type="checkbox" class="SelectTrainingAll" name="selectAllTrainings" id="selectAllTrainings" onclick="SelectAllTrainings()"/></td>
                                            <td><label for="selectAllTrainings">@Resources.Common_Label_SelectAll</label></td>
                                        </tr>
                                        @{String OldClient = "";
                                            int i = 0;
                                            var selectedTrainings = "";}

                                        @foreach (var trainings in @Model.trainings.GroupBy(rec => rec.clientOrgName))
                                        {
                                                <tr class="Alltraining">
                                                    <td colspan="2">
                                                        <strong>@trainings.Key</strong>
                                                    </td>
                                                </tr>
                                            foreach (var training in trainings.OrderBy(rec => rec.Text))
                                            {
                                                <tr id="EmpTrainingid_@Model.trainings[i].id">
                                                    <td valign="top">
                                                        <input type="hidden" name="trainings[@i].id" value="@training.id" />
                                                        <input type="hidden" name="trainings[@i].Text" value="@training.Text" />
                                                        <input type="hidden" name="trainings[@i].employeeTakenTraining" value="@training.employeeTakenTraining" />
                                                        <input type="hidden" name="trainings[@i].assignedStatus" value="@training.assignedStatus" />
                                                        <input type="hidden" name="trainings[@i].clientOrgName" value="@training.clientOrgName" />
                                                        
                                                        @if (ViewBag.trainingids!=null && ((List<string>)ViewBag.trainingids).Contains(training.id))
                                                        {
                                                            selectedTrainings += @training.Text+",";
                                                            <input data-val="true" data-val-required="The status field is required." id="trainings_@(i)__status" name="trainings[@i].status" value="true" type="checkbox" training="true" displaytraining="@training.Text" onclick="DisplaySelectedTrainings(this)"
                                                                   assigned="true" checked="checked" />
                                                        }
                                                        else
                                                        {
                                                            <input data-val="true" data-val-required="The status field is required." id="trainings_@(i)__status" name="trainings[@i].status" value="true" type="radio" training="true" displaytraining="@training.Text" onclick=" RadioSelect(this);DisplaySelectedTrainings(this);" />
                                                        }


                                                        @*<input data-val="true" data-val-required="The status field is required." id="trainings_@(i)__status" name="trainings[@i].status" value="true" type="checkbox" training="true" displayTraining="@training.Text" onclick="DisplaySelectedTrainings(this)"/>*@  
                                                
                                                    </td>

                                                    <td valign="top"> 
                                                        @{var id = "trainings_" + @i + "__status";}

                                                        <label for="@id" style="min-height:12px;">@training.Text </label>
                                                    </td>

                                                    <td style="width:5%;" valign="top"> 
                                                    </td>
                                                </tr>
                                                          i++;
                                            }
                                        }
                            
                            </table>
                        </div>
                            </div>

                            <div class="second-div">
                                <div class="border-box" id="selectedTrainings">
                                    @(selectedTrainings.Length>0?selectedTrainings.Substring(0,selectedTrainings.Length-1):"")
                                </div>
                            </div>
                        </div>
                        
                        if (@Model.employeeSysUserOrgs != null && @Model.employeeSysUserOrgs.Count() != 0)
                        {   
                            <div class="rowPopUp" style="width:100%;padding-top:0px; ">
                                <div class="promptMessage">
                                    <h5>@Resources.AssignBulkTrainings_ErrorMessage4</h5> @*Kiran on 11/30/2015 for FV-233*@
                                </div>
                                <div class="first-div">
                                    <div class="assignTemplateScrollCheckbox" id="ListOfEmployees">
                                        <table>
                                            <tr>
                                                <td><input type="checkbox" name="selectAllEmployees" class="selectAllEmployees" id="selectAllEmployees" onclick="SelectAllEmployees()" /></td>
                                                <td><label for="selectAllEmployees">@Resources.Common_Label_SelectAll</label></td>
                                            </tr>
                                            @{ int j = 0;
                                                var selectedemployee = ""; }
                                            @foreach (var employee in @Model.employeeSysUserOrgs.Where(rec => rec.empUserStatus == true).ToList())
                                            {
                                                <tr id="EmployeeId_@Model.employeeSysUserOrgs[j].UserId">
                                                    <td valign="top">
                                                        <input type="hidden" name="employeeSysUserOrgs[@j].UserId" value="@employee.UserId"/>
                                                        <input type="hidden" name="employeeSysUserOrgs[@j].SysUserOrgId" value="@employee.SysUserOrgId"/>
                                                        
                                                        @if (ViewBag.empid != null && employee.UserId == ViewBag.empid)
                                                        {
                                                            selectedemployee += @employee.EmployeeName + ",";
                                                            <input data-val="true" data-val-required="The empStatus field is required." id="employeeSysUserOrgs_@(j)__empStatus" name="employeeSysUserOrgs[@j].empstatus" value="true" type="checkbox" employee="true" displayemployee="@employee.EmployeeName" onclick="DisplaySelectedEmployees(this)"
                                                                   assigned="true" checked="checked" />
                                                        }
                                                        else
                                                        {
                                                            <input data-val="true" data-val-required="The empStatus field is required." id="employeeSysUserOrgs_@(j)__empStatus" name="employeeSysUserOrgs[@j].empstatus" value="true" type="checkbox" employee="true" displayemployee="@employee.EmployeeName" onclick="DisplaySelectedEmployees(this)" />
                                                        }

                                                        @*<input data-val="true" data-val-required="The empStatus field is required."  id="employeeSysUserOrgs_@(j)__empStatus" name="employeeSysUserOrgs[@j].empstatus" value="true" type="checkbox" employee="true" displayEmployee="@employee.EmployeeName" onclick="DisplaySelectedEmployees(this)"/>*@  
                                                    </td>

                                                    <td valign="top"> 
                                                        @{var id = "employeeSysUserOrgs_" + @j + "__empStatus";}

                                                        <label for="@id" style="min-height:12px;">@employee.EmployeeName </label>
                                                    </td>
                                                </tr>
                                                          j++;
                                            }
                                        </table>
                                    </div>
                                </div>

                                <div class="second-div">
                                    <div class="border-box" id="selectedEmployees">
                                    @(selectedemployee.Length>0?selectedemployee.Substring(0,selectedemployee.Length-1):"")
                                    </div>
                                </div>
                            </div>
                        }
                        
                        <div class="rowPopUp">
                            <button type="submit">@Resources.Common_Button_SaveAndNotifyEmployee</button>
                            
                        </div>
    <p>@Resources.AssignBulkTrainings_DisplayMessage</p>
                    }
                    else
                    {
                        <div class="errorMessage">
                            @Resources.AssignBulkTrainings_CannotAssignTrainings_ErrorMessage<br /><br />

                            @Resources.AssignBulkTrainings_CannotAssignTrainings_ErrorMessage2<br />
                            @Resources.AssignBulkTrainings_CannotAssignTrainings_ErrorMessage3<br />
                            @Resources.AssignBulkTrainings_CannotAssignTrainings_ErrorMessage4
                            
                        </div>
                                
                    }
                </div>
            </div>
        </div>
    }
</body>
</html>
