﻿<!--
 *****************************************************
Page Created Date: 12/2/2014
Created By: Rajesh Pendela
Purpose: To edit employee emails
Version: 1.0
****************************************************
-->

@using FVGen3.Domain.Entities;
@using Resources;
@{
    ViewBag.Title = "Add Employees";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}

<style>
.newClass input[type="text"]{
	float: left;
	width: 96%;
	padding: 5px 2%;
	background: none repeat scroll 0% 0% #FFF;
	transition: all 200ms ease-out 0s;
	border: 2px solid #DDD;
	font-size: 15px;
	color: #222;
}
.newClass label{
	padding: 0px 2% 0px 2.5%;
	font-size: 16px;
	color: #666;
}
.newClass button{
	float:right;
	margin:0;
	width:130px;
}
.newClass .td{
	padding: 0px 2% 0px 1.5%;
}
.rightButton .pageFooterCancelButton{
	float:right;
}
</style>
<script>
    var role = '@Session["RoleName"]';
    function EditOrDoneClick(currentObj) {
        var fieldObj = $(currentObj).closest("tr");
        var userNameTD = fieldObj.find(".UserName");
        var firstNameTD = fieldObj.find(".firstName");
        var lastNameTD = fieldObj.find(".lastName");
        if ($(currentObj).text() == "Edit") {
            var userName = $(userNameTD).find("label").html();
            var firstName = $(firstNameTD).html();
            var lastName = $(lastNameTD).html();
            $(userNameTD).html("<input type='text' name='userName' value='" + userName + "'>");
            if (role !== 'Vendor') {
                $(firstNameTD).html("<input type='text' name='firstName' value='" + firstName + "'>");
                $(lastNameTD).html("<input type='text' name='lastName' value='" + lastName + "'>");
            }
            
            
            $(currentObj).text("Done");
        }
        else {

            var userName = $(userNameTD).find("input[name='userName']").val();
            var isEmail = true;
            // Rajesh on 02/18/2015
            var firstName = $(firstNameTD).find("input").val();
            var lastName = $(lastNameTD).find("input").val();
            var emailReg = /^([\w\-\.]+)@@((\[([0-9]{1,3}\.){3}[0-9]{1,3}\])|(([\w\-]+\.)+)([a-zA-Z]{2,8}))$/; 
            if (!emailReg.test(userName)) {
                isEmail = false;
            }
            // Ends<<<
            
            var UserID = $(currentObj).closest("tr").find(".UserID").html();
            $.ajax({
                type: 'GET',
                url: '../Employee/EditUserEmail',
                data: 'userId=' + UserID + '&userName=' + userName + '&firstName=' + firstName + '&lastName=' + lastName,
                success: function (data) {
                    
                    if (data == "Ok") {
                        $(userNameTD).html("<label>" + userName + "</label>");
                        if (role !== 'Vendor') {
                        $(firstNameTD).html(firstName);
                        $(lastNameTD).html(lastName);
                            }
                        $(currentObj).text("Edit");
                    }
                    else if (data == "UserExist") {
                        alert("@Resources.Common_Error_Email_Message");
                    }
                },
                error: function () {
                    console.trace();
                    alert("@Resources.Common_unableToProcess");
                }
            });

          
        }
    }
</script>




<div class="contentSub" >
                <div class="rightButton">
                	
                </div><!--rightButton-->
                <div class="page-subtitle">
                    <h2>@Resources.Common_Heading_ExistingEmployees</h2>
                </div><!--page-subtitle-->
                <div class="Users newClass">
                    <table cellpadding="0" cellspacing="0">
                        <tr>
                            <th width="40%">@Resources.common_Label_name_NoColon</th>
                            <th width="40%" class="td">@Resources.Employees_Partial_Header_Email</th>
                            <th width="20%"></th>
                        </tr>
                    @if (@ViewBag.VBEmployeeSysUserOrgs != null)
                    {
                        foreach (var SysUsrOrg in (List<SystemUsersOrganizations>)ViewBag.VBEmployeeSysUserOrgs)
                        {
                            <tr>
                                <td><a href="#!"><text class="lastName">@SysUsrOrg.SystemUsers.Contacts[0].LastName</text> <text class="firstName">@SysUsrOrg.SystemUsers.Contacts[0].FirstName</text></a></td>
                                <td class="UserName"><label>@SysUsrOrg.SystemUsers.UserName</label></td>
                                <td class="UserID" style="display:none;">@SysUsrOrg.SystemUsers.UserId</td>
                                <td><button type="button" onclick="EditOrDoneClick(this)" btntype='Update'>@Resources.Employees_Partial_Edit</button></td>
                            </tr>
                        }
                    }
                    </table>
                </div><!--Users newClass-->
            </div>
<script>
    $(document).ready(function () {
        setPermissions('@ViewBag.ViewPermissions');
    });
    function CheckUserNameExists(username) {
      
        //look at CheckEmailExists
        //pass username to server and set a label to say good if valid
        var succeed = false;
        $.ajax(
        {
            async: false,
            type: 'GET',
            url: 'CheckUserNameExists',
            data: 'username=' + username,
            success: function (data) {
                if (data == "Username Exists") {
                    succeed = false;
                }
                else {
                    succeed = true;
                }
            },
            error: function () {
                alert("@Resources.Common_unableToProcess");
            }
        });
        return succeed;

    }

</script>



@*<table>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th></th>
    </tr>

    @foreach (var SysUsrOrg in (List<SystemUsersOrganizations>)ViewBag.VBEmployeeSysUserOrgs)
    {
        <tr>
            <td>@SysUsrOrg.SystemUsers.Contacts[0].FirstName @SysUsrOrg.SystemUsers.Contacts[0].LastName</td>
            <td class="UserName"><label>@SysUsrOrg.SystemUsers.UserName</label></td>
            <td class="UserID" style="display:none;">@SysUsrOrg.SystemUsers.UserId</td>
            <td><button type="button" onclick="EditOrDoneClick(this)">Edit</button></td>
        </tr>
    }
</table>*@