﻿<!--
 *****************************************************
Page Created Date:  08/23/2013
Created By: Kiran Talluri
Purpose: To display the employee quizzes
Version: 1.0
****************************************************
-->

@using FVGen3.Domain.Entities;
@model FVGen3.Domain.Entities.LocalVendorEmployeeQuizzes
@using Resources
@{
    ViewBag.Title = "Quizzes";
   Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
</head>

    @Scripts.Render("~/js/common.js")
    @Scripts.Render("~/Scripts/jquery-1.9.1.min.js")

<script type="text/javascript">

    $(document).ready(function () {
        setPermissions('@ViewBag.ViewPermissions');
        //alert($(document).width());
       
        
    });
    //function myFunction(x) {
    //    if (window.outerWidth <= 750) {
    //        $(".sidebar_left").hide();
    //        $(".main_right").css("width", "100%");
    //        $("#s5_logo_FV").css("width", "100%");
    //        $("#s5_logo_FV").css("text-align", "center");
    //        $("#s5_textInsteadOfLogoWrap").css("text-align", "center");
    //        $("#s5_textInsteadOfLogoWrap").css("width", "100%");
    //        $("#s5_logo_wrap").css("width", "100%");
    //    } else {
    //        $(".sidebar_left").show();
    //        $(".main_right").css("width", "66%");
    //        $("#s5_logo_FV").css("text-align", "right");
    //        $("#s5_textInsteadOfLogoWrap").css("text-align", "left");
    //    }
    //}
    //var x = window.matchMedia("(max-width: 750px)");
   
    //myFunction(x) // Call listener function at run time
    //x.addListener(myFunction)
    
    function updateQuizList(userId)
    { 
        $.ajax({
                type: 'GET',
                url: 'PartialEmployeeQuizList',
                data: 'userId=' + userId + "&type=1",
                success: function (data) {
                    $("#quizListBlock_Id").html(data);
                    setPermissions('@ViewBag.ViewPermissions');
                },
                error: function () {
                    console.trace();
                    alert("Fail ");
                }
            });
    }
</script>

<body>
    <div class="content">
    @Html.HiddenFor(model => model.UserId)
        <div class="page-title"><h2>@Resources.VendorEmployeeQuizzes_heading</h2>
        </div>
        
        <div id = "quizListBlock_Id">
        <script>
            updateQuizList('@Model.UserId');
        </script>
        </div>                
    </div>
</body>
</html>
<style>
    html, body{
        background:#fff;
    }
</style>