﻿<!--
 *****************************************************
Page Created Date:  10/25/2019
Created By: Kiran Talluri
Purpose: To add vendor employees privacy policy acknowledgement
Version: 1.0
****************************************************
-->
@using FVGen3.Domain.Entities;
@using Resources;


@model FVGen3.Domain.Entities.LocalEmployeeDetails
@{
    ViewBag.Title = "EmployeeAcknowledgement";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <meta content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="My Account page" />
    <meta name="viewport" content="width=device-width" />
</head>
<script src="~/Scripts/Application/Common/Http.js"></script>

<script type="text/javascript">
    function validateForm() {
        var policyAccepted = $('#AckPol').val();
        var empSignature = $('#Signature').val();
        if (policyAccepted == false) {
            alert("Please check the checkbox by acknowledging the privacy policy");
            return false;
        }
        if(empSignature != '@ViewBag.EmployeeName')
        {
            alert("Type your full name exactly as it appears in the section above");
            return false;
        }
                 
        else
            return true;
    }   
</script>
<style>
    .sidebar_left
    {
        padding: 0 !important;
        box-shadow: none;
    }
    .main_right{
        float:none;
        width:0;
        padding:0;
        height:0;
        background:none;
    }
    .contentSub
    {

    }
</style>
<body>
@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.UserId)
    @Html.HiddenFor(m => m.LastName)
    @Html.HiddenFor(m => m.FirstName)

    if (@ViewBag.checkBoxStatus != null && @ViewBag.checkBoxStatus == false)
    {
        <div class="errorMessage">@Resources.Checkbox_Error</div>
    }
    if (@ViewBag.signatureMismatch != null && @ViewBag.signatureMismatch == false)
    {
        <div class="errorMessage">@Resources.Signature_Mismatch_Error</div> 
    }

    <div class="contentSub">
        <div class="page-title">
            <h3 style="color:#1f83bc;">@Resources.EmployeeAcknowledgement_UpdateInfo</h3>
        </div>
        @Html.HiddenFor(r=>r.HasExistingData)
        @if (!Model.HasExistingData)
        {
        <div class="rowIST">
            <label class="enableStar">@Resources.Label_ID</label>
            @Html.DropDownListFor(m => m.DocumentType, new[] {

                       new SelectListItem(){Text=@Resources.DocumentType_Option_DriversLicense,Value="1"},
                       new SelectListItem(){Text=@Resources.DcoumentType_Option_GreenCard,Value="2"},
                       new SelectListItem(){ Text = @Resources.DocumentType_Option_SSN, Value = "3" },
                       new SelectListItem(){ Text = @Resources.EmployeeAck_PhoneNumber_Option, Value = "4" }})
            <div class="alertStar"> @Html.ValidationMessageFor(m => m.DocumentType) </div>
        </div>

        <div class="rowIST">
            <label class="enableStar">@Resources.Label_Last4Digits</label>
            @Html.TextBoxFor(m => m.Last4Digits)
            <div class="alertStar"> @Html.ValidationMessageFor(m => m.Last4Digits) </div>
        </div>

        @*<div class="rowIST">
            <label class="enableStar">@Resources.Common_Label_PhoneNumber</label>
            @Html.TextBoxFor(m => m.PhoneNumber)
            <div class="alertStar"> @Html.ValidationMessageFor(m => m.PhoneNumber) </div>
        </div>*@
        }
        <div class="rowIST">
            @Html.Partial("EmployeePrivacyPolicy", "Employee")
        </div>
            <div class="rowIST">
                <label>
                    Name of person completing:
                </label>
                <select name="UserName">
                    <option>@ViewBag.EmployeeName</option>
                </select>
            </div>
            <div class="rowRadioCheckbox">
                <table>

                    <tr>
                        <td colspan="2">
                            <label>@Resources.Check_Box_Confirm</label>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="AckPol" id="AckPol" value="true" /></td>
                        <td>
                            <label for="AckPol" style="width:500px;">
                                <b>@Resources.EmployeeAcknowledgement_AcceptPrivacyPolicy</b>
                            </label>
                        </td>
                    </tr>
                </table>
            </div>
            <table>
                <tr>
                    <td>
                        <p>
                            @Resources.Common_Label_TypeFullName
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>@Html.TextBoxFor(m =>m.Signature)</td>
                    <td class="alertStar">@Html.ValidationMessageFor(m => m.Signature)</td>
                </tr>

            </table>
            <div class="contentSub">
                <div class="pageFooterContent">
                    <div class="pageFooterButtons">
                        <table>
                            <tr>
                                <td><button type="submit" btnType="Update" class="PageFooter_Button">@Resources.Common_Save</button></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
}
</body>
</html>
