﻿@{
    Layout = null;
}
<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
    <title>Privacy Policy</title>
    <meta http-equiv="X-UA-Compatible" content="IE=7">
    <meta http-equiv="X-UA-Compatible" content="IE=8">
    <meta http-equiv="X-UA-Compatible" content="IE=9">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/appInnerPages.css">
    <link rel="stylesheet" href="../css/common.css">
    <style>
        #termsandConditions p {
            text-align: justify;
            margin-left: 5px;
        }
    </style>
</head>
<div class="container">
    <div class="content">
        <div class="">
            <div class="contentSub" style="padding:0px !important;">
                <div class="page-title">
                    <h2>Statement of Privacy</h2>
                </div><!--page title-->
                <p>
                    Protecting your private information is our priority. This Statement of Privacy applies to the  <a href="#!" onClick="window.open('https://pq.firstverify.com')"> https://pq.firstverify.com</a> website and <b>FIRST,</b> VERIFY and governs data collection and usage. For the purposes of this Privacy Policy, unless otherwise noted, all references to <b>FIRST,</b> VERIFY include <a href="#!" onClick="window.open('https://pq.firstverify.com')"> https://pq.firstverify.com</a> and <b>FIRST,</b> VERIFY. The <b>FIRST,</b> VERIFY website is a database site. By using the <a href="#!" onClick="window.open('https://pq.firstverify.com')">https://pq.firstverify.com</a> website, you consent to the data practices described in this statement.
                </p>
                <br />
                <p><strong>Collection of your Personal Information </strong></p>
                <p>
                    <b>FIRST,</b> VERIFY will collect personally identifiable information, such as your name, address, company information and so on. We will gather additional personal or non-personal information in the future.
                </p>
                <br />
                <p>
                    Information about your computer hardware and software may be automatically collected by <b>FIRST,</b> VERIFY. This information can include: your IP address, browser type, domain names, access times and referring website addresses. This information is used for the operation of the service, to maintain quality of the service, and to provide general statistics regarding use of the <b>FIRST,</b> VERIFY website.
                </p>
                <br />
                <p>
                    <b>FIRST,</b> VERIFY encourages you to review the privacy statements of websites you choose to link to from <b>FIRST,</b> VERIFY so that you can understand how those websites collect, use and share your information. <b>FIRST,</b> VERIFY is not responsible for the privacy statements or other content on websites outside of the <b>FIRST,</b> VERIFY website.
                </p>
                <br />
                <p><strong>Use of your Personal Information </strong><p>
                <p>
                    <b>FIRST,</b> VERIFY collects and uses your personal information to operate its website(s) and deliver the services you have requested.
                    <br />
                <p>
                    <b>FIRST,</b> VERIFY may also use your personally identifiable information to inform you of other products or services available from <b>FIRST,</b> VERIFY and its affiliates. <b>FIRST,</b> VERIFY may also contact you via surveys to conduct research about your opinion of current services or of potential new services that may be offered.
                </p>
                <br />
                <p>
                    <b>FIRST,</b> VERIFY does not sell, rent or lease its customer lists to third parties, however information provided by you is intended for use by <b>FIRST,</b> VERIFY clients in their prequalification and information management programs.
                </p>
                <br />
                <p>
                    <b>FIRST,</b> VERIFY may share data with trusted partners to help perform statistical analysis, send you email or postal mail, or to provide customer support. All such third parties are prohibited from using your personal information except to provide these services to <b>FIRST,</b> VERIFY, and they are required to maintain the confidentiality of your information.
                </p>
                <br />
                <p>
                    <b>FIRST,</b> VERIFY may keep track of the websites and pages our users visit within <b>FIRST,</b> VERIFY, in order to determine what <b>FIRST,</b> VERIFY features are the most popular. This data is used to deliver customized content and advertising within <b>FIRST,</b> VERIFY to customers whose behavior indicates that they are interested in a particular subject area.
                </p>
                <br />
                <p>
                    <b>FIRST,</b> VERIFY may also disclose your personal information in connection with a corporate re-organization, a merger or amalgamation with another entity, a sale of all or a substantial portion of <b>FIRST,</b> VERIFY assets or stock, including any due diligence exercise carried out in relation to the same, provided that the information disclosed continues to be used for the purposes permitted by this Privacy Policy by the entity acquiring the information.
                </p>
                <br />
                <p>
                    Other than to its clients as described above, <b>FIRST,</b> VERIFY will disclose your personal information without notice only if required to do so by law or in the good faith belief that such action is necessary to: (a) conform to the edicts of the law or comply with legal process served on <b>FIRST,</b> VERIFY or the site; (b) protect and defend the rights or property of <b>FIRST,</b> VERIFY; and, (c) act under exigent circumstances to protect the personal safety of users of <b>FIRST,</b> VERIFY, or the public.
                </p>
                <br />
                <p>Use of Cookies </p>
                <p>
                    The <b>FIRST,</b> VERIFY website may use "cookies" to help you personalize your online experience. A cookie is a text file that is placed on your hard disk by a web page server. Cookies cannot be used to run programs or deliver viruses to your computer. Cookies are uniquely assigned to you, and can only be read by a web server in the domain that issued the cookie to you.
                </p>
                <br />
                <p>
                    One of the primary purposes of cookies is to provide a convenience feature to save you time. The purpose of a cookie is to tell the Web server that you have returned to a specific page. For example, if you personalize <b>FIRST,</b> VERIFY pages, or register with <b>FIRST,</b> VERIFY site or services, a cookie helps <b>FIRST,</b> VERIFY to recall your specific information on subsequent visits. When you return to the same <b>FIRST,</b> VERIFY website, the information you previously provided can be retrieved so you can easily use the <b>FIRST,</b> VERIFY features.
                </p>
                <br />
                <p>
                    You have the ability to accept or decline cookies. Most Web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. If you choose to decline cookies, you may not be able to fully experience the interactive features of the <b>FIRST,</b> VERIFY services or websites you visit.
                </p>
                <br />
                <p><strong>Security of your Personal Information </strong><p>
                <p>
                    <b>FIRST,</b> VERIFY secures your personal information from unauthorized access, use or disclosure. When personal information (such as a credit card number) is transmitted to other websites, it is protected through the use of encryption, such as the Secure Sockets Layer (SSL) protocol. We use industry standard practices to protect your privacy, however, we do not promise, and you should not expect, that your personal information or private communications will always remain private. We cannot ensure that all of your private communications and other personal information will never be disclosed in ways not otherwise described in this Policy.  For example, we may be forced to disclose information to the government or third parties under certain circumstances, third parties may unlawfully intercept or access transmissions or private communications, or users may abuse or misuse your personal information that they unlawfully collect from the service.
                </p>
                <br />
                <p><strong>Children Under Thirteen </strong>
                <p>
                    <b>FIRST,</b> VERIFY does not knowingly collect personally identifiable information from children under the age of thirteen. If you are under the age of thirteen, you must ask your parent or guardian for permission to use this website.
                </p>
                <br />
                <p><strong>Changes to this Statement</strong> </p>
                <p>
                    <b>FIRST,</b> VERIFY will occasionally update this Statement of Privacy to reflect company and customer feedback. <b>FIRST,</b> VERIFY encourages you to periodically review this Statement to be informed of how <b>FIRST,</b> VERIFY is protecting your information.
                </p>
                <br />
                <p><strong>Contact Information </strong></p>
                <p>
                    <b>FIRST,</b> VERIFY welcomes your questions or comments regarding this Statement of Privacy. If you believe that <b>FIRST,</b> VERIFY has not adhered to this Statement, please contact <b>FIRST,</b> VERIFY at:
                </p>
                <br />
                <p>
                    <b>FIRST,</b> VERIFY <br>
                    9211 Forest Hill Ave., Suite 201<br/>
                    Richmond, VA 23235<br />
                    -or-<br />
                    2475 39th Ave., Suite A <br>
                    Columbus, NE 68601 <br>
                </p>
                <br />
                <p>
                    Email Address:<br>
                    <a href="mailto:notification@firstverify.com">notification@firstverify.com</a><br>
                </p>
                <br />
                <p>
                    Telephone number:<br>
                    (402) 562-5930<br>
                </p>
                <br>
                <p>Effective as of December 2, 2017</p>
            </div><!---content sub--->
        </div><!--main right-->
    </div><!--content-->
</div><!--container-->
<body>
</body>
</html>
