﻿<!--
 *****************************************************
Page Created Date:  04/15/2015
Created By: Kiran
Purpose: To get Employee Training fee details
Version: 1.0
****************************************************
-->
<!DOCTYPE HTML>
@using FVGen3.Domain.Entities;
@using Resources;
@model FVGen3.Domain.Entities.LocalGetTrainingDetails
@{
    ViewBag.Title = "Training Payment";
    Layout = "~/Views/Shared/_TrainingPaymentLayout.cshtml";
}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Training Payment</title> 
<link rel="stylesheet" href="../index.css">
<link rel="stylesheet" href="/css/appInnerPages.css" />
</head>
<style>
.price-main{
	float:left;
	width:98%;
	height:auto;
	padding:10px 10px 0px 10px;
	-webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
	-moz-box-sizing: border-box;    /* Firefox 1 - 28 */
	box-sizing: border-box;         /* Safari 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+, Android 4.0+, iOS any */
	border:0px solid #ddd;
	background:#fff;
}
.price-sub + .price-sub{
	
}
.price-top{
	width:100%;
	padding:10px 0;
}
.price-top  h2{
	float:none !important;
	font-weight:600;
	margin-bottom:0;
	font-size:18px;
}
.price-emp{
	padding:10px 0;
}
.price-subprice{
		padding:0% 3% 0% 3%;
	    border:0px solid #ddd;
}
.price-subprice + .price-subprice{
	margin-top:10px;
}
.price-row{
	padding:3px 0px 3px 0px ;
	/*border-bottom:1px solid #ddd;*/
	width:95%;
	margin:0 auto;
}
.price-row label {
	display:inline-block;
	text-align:left;
	vertical-align:top;
}
.price-row input[type="checkbox"] {
	margin:2px 0 0 0;
}
/*.price-row label:first-child{
	width:69%; 
}
.price-row label:last-child{
	width:20%;
	text-align:right;
}*/
.payment-row div{
	display:inline-block;
	width:48%;
	padding:20px 0;
}
.payment-row button{
	float:none !important;
	margin:0 !important;
}
.payment-row div:first-child{
	text-align:left;
}
.payment-row  a{
	float:none !important;
}
.price-total {
	font-weight:700;
	font-size:15px;
	
}
.price-totalDiv{
	width:94%;
	background:#f1f1f1;
	padding: 2% 3%;
	float:left;
	margin-top:20px;
}
.price-totalDiv  .price-row{
	padding:0;
	border-bottom:0;
}
.price-payment{
	display:inline-table;
	width:100%;
	padding:10px 0;
}
.price-payment .payment-row{
	display:table-row;
}
.payment-row div{
	display:table-cell;
	vertical-align:middle;
	padding:15px 0;
}
.payment-row div:first-child{
	width:30%;
}
.payment-row div:last-child{
	
	text-align:right; 
}
.payment-row div:last-child img , p{
		display:inline;
		vertical-align:middle;
}
.employeesGroup
{
    padding:1% 0px 0% 0px;
    border:1px solid #ddd;    
    float:left;
    width:100%;
}
.totalAmount{
	width:94%;
	float:left;
	padding:  3%;
}
.totalAmount .price-row{
	width:98.5%;
	background:#f8f8f8;
	padding:2% 1%;
}
.test + .test{
margin-bottom:10px;
margin-top:10px;

background-color:Red;
}
</style>
<script>

    function SelectAll(obj) {
        var amt1 = 0;
        var selectedIds = "";
        var initial = true;
        var id = $(obj).attr("id");
        var clientTemplateId = id.split('_');
        var clientTemplateIdOfCurrentQuiz = clientTemplateId[1];
        if ($(obj).prop('checked') == true) {
            
            $(obj).closest(".employeesGroup").find("input").each(function () {
                $(this).prop("checked", true);
                var val = $(this).closest(".price-row").find(".TraineeFee").html();
                val = val.replace("$", "");
                //alert(val);
                if ($(this).is(":checked") && val != 0) {
                    amt1 = eval(amt1) + eval(val);
                    
                }
            });
            
            //alert(clientTemplateIdOfCurrentQuiz);
            $("#IndividualQuizAmt_" + clientTemplateIdOfCurrentQuiz).html("$" + amt1);            
        }
        else
        {
            $(obj).closest(".employeesGroup").find("input").each(function () {
                $(this).prop("checked", false);
            });
            amt1 = 0;
            $("#IndividualQuizAmt_" + clientTemplateIdOfCurrentQuiz).html("$"+ amt1);
        }
        var totalAmountPay = 0;
        $("#PaymentQuiz").find(".price-totalDiv .price-total").each(function () {
            totalAmountPay += parseInt($(this).html().replace('$', ''));
        });
        $("#PaymentQuiz").find("input").each(function () {
            var val = $(this).closest(".price-row").find(".TraineeFee").html();
            if ($(this).is(":checked") && val != 0) {

                if (initial) {
                    selectedIds = $(this).prop("id");
                    initial = false;
                }
                else
                    selectedIds = selectedIds + "," + $(this).prop("id");
                //alert(selectedIds);
            }
        });

        $("#QuizAmt").html("$" + totalAmountPay);
        $("#payment").val(totalAmountPay);
        $("#Quizids").val(selectedIds);
    }

    function QuizClick(obj) {
        var amt = 0;
        var selectedIds = "";
        var initial = true;
        $("#PaymentQuiz").find("input").each(function () {
            var val = $(this).closest(".price-row").find(".TraineeFee").html();
            val = val.replace("$", "");

            if ($(this).is(":checked")) {
                amt = eval(amt) + eval(val);
                if (initial) {
                    selectedIds = $(this).prop("id");
                    initial = false;
                }
                else
                    selectedIds = selectedIds + "," + $(this).prop("id");
                //alert(selectedIds);
            }
        });
        $(obj).closest(".employeesGroup").find(".price-total").html("$" + amt);
        $("#QuizAmt").html("$" + amt);
        $("#payment").val(amt);
        $("#Quizids").val(selectedIds);
        if ($(obj).is(":checked")) {
            $(obj).val(true);
            if ($(obj).closest(".employeesGroup").find("input[type='checkbox']:checked").length + 1 == $(obj).closest(".employeesGroup").find("input[type='checkbox']").length) {
                $(obj).closest(".employeesGroup").find(".SelectALL").prop("checked", true);
            }
        }

        else {
            $(obj).closest(".employeesGroup").find(".SelectALL").prop("checked", false);
            $(obj).val(false);
        }
    }

    $(document).ready(function () {

        $("form").submit(function (event) {

            if ($("#payment").val() == "" || $("#payment").val() == "0") {
                alert("Please select the employee trainigs for which you wish to make payment and the payment amount should not be Zero.");
                return false;
            }
        });
    });
</script>
  @*
 <div class="container">
        <div class="content">
            <div class="main">*@
                <div class="price-main">
                    <div class="price-sub">
                        <div class="price-top" id="PaymentQuiz">
                       @foreach (var client in @Model.employeeAdditionAlFeeTrainings.Where(rec => rec.TrainingFee != 0).OrderBy(rec => rec.EmployeeName).GroupBy(rec => rec.ClientName).ToList())
                       {
                        	<h2>@client.Key</h2>    
                           var i=0;
                           foreach (var training in client.GroupBy(rec => rec.TemplateName).ToList())
                           {
                               <error>
                               @{
                               decimal trainingTotalPrice = @training.ToList().FirstOrDefault().TrainingFee;
                                }
                                </error>
                               //if (!trainingTotalPrice.Equals(0))
                               //{
                                   var clientTemplateId = @training.ToList().FirstOrDefault().ClientTemplateId;   
                                <div class="test">
                                <div class="price-subprice">
                                    <div class="price-row" style="padding-top:10px;padding-bottom:10px;">
                                        <label class="price-total" style="width:69%;">@training.Key</label>
                                        <label class="price-total">$@training.ToList().FirstOrDefault().TrainingFee </label>
                                    </div>
                                    
                                    <div class="employeesGroup">
                                    <div class="price-row">
                                        <input type="checkbox" class="SelectALL" id="SelectAll_@clientTemplateId" onclick="SelectAll(this)"/>
                                        <label for="SelectAll_@clientTemplateId">@Resources.Common_Label_SelectAll</label>
                                        <label style="display:none;" class="TraineeFee">@Resources.Training_Fee_Value</label>
                                    </div>
                                @foreach (var employee in @training.OrderBy(rec => rec.EmployeeName).ToList())
                                {
                                    <div class="price-row">
                                        <input type="checkbox" id="@employee.SysUserOrgQuizId" onclick="QuizClick(this)"/>
                                        <label for="@employee.SysUserOrgQuizId">@employee.EmployeeName</label>
                                        <label style="display:none;" id="@employee.SysUserOrgQuizId" class="TraineeFee">$@training.ToList().FirstOrDefault().TrainingFee</label>
                                    </div>
                                }
                                
                                    <div class="price-totalDiv" style="background:none; border-top:1px solid #ddd; ">
                                        <div class="price-row">
                                            <label style="width:69%;font-weight:600; padding:0;">@Resources.Employee_Amount_Payable</label>
                                            <label class="price-total" id="IndividualQuizAmt_@clientTemplateId" style="font-weight:600;">@Resources.Employee_Quiz_Amount</label>
                                        </div>
                                    </div>
                                    
                                </div>
                                </div>
                                </div>    
                               //}
                               i++;
                           }
                       }
                       </div>

                @*    <div class="price-top">
                        <h2>Green Plains Inc.</h2>
                        <div class="price-subprice">
                            <div class="price-row" style="padding-top:10px;padding-bottom:10px;">
                                <label style="width:69%;" class="price-total">Test Training</label>
                                <label class="price-total" >$20</label>
                            </div>
                           
                            <div class="employeesGroup">
                                <div class="price-row">
                                    <input type="checkbox" />
                                    <label><strong>Select All</strong></label>
                                </div>
                                <div class="price-row">
                                    <input type="checkbox" />
                                    <label>Rapuri Srinivas</label>
                                </div>
                                <div class="price-row">
                                    <input type="checkbox" />
                                    <label>Rapuri Srinivas</label>
                                </div>
                                <div class="price-row">
                                    <input type="checkbox" />
                                    <label>Rapuri Srinivas</label>
                                </div>

                                <div class="price-totalDiv" style="background:none; border-top:1px solid #ddd; ">
                                    <div class="price-row">
                                        <label style="width:69%;font-weight:normal;" class="price-total">Total Amount Payable:</label>
                                        <label class="price-total" id="QuizAmt" style="font-weight:700;">$0.00</label>
                                    </div><!--price-row-->
                                </div> <!--price-totalDiv-->
                            </div>
                            
                        </div>
                    </div>*@

                    @if (@Model.employeeAdditionAlFeeTrainings.Where(rec => rec.TrainingFee != 0).ToList().Count != 0)
                    {
                    <div class="totalAmount">
                <div class="price-row">
                            <label style="width:69%;" class="price-total">@Resources.Employee_Total_Amount_Payable</label>
                            <label class="price-total" id="QuizAmt" style="height: 16px;width:29%">$0</label>
                        </div><!--price-row-->
                    </div> <!--price-totalDiv-->
                     <div class="totalAmount" style="border-top:1px solid #ccc; padding:0px 3%; margin-top:15px;">
                    	<div  class="payment-row">
                            <div>
                                    <img src="../images/img_accepted-cc.gif">
                             </div>
                            <div>
                                <p>@Resources.Online_Payments_processed_Securely</p>
                                <img src="../images/logo_paypal_76w_20h.gif" />
                            </div>
                        </div><!--payment-row-->
                    </div> <!--price-totalDiv-->
                    <div class="totalAmount" style="padding:0px ;" >    
                        <div  class="payment-row">
                        @using (Html.BeginForm("EmployeeTrainingdetails", "Employee", FormMethod.Post, new { id = "form" }))
                        {
                                <input type="hidden" name="payment" id="payment"/>
                                <input type="hidden" name="Quizids" id="Quizids"/>
                                <div class="rightButton" style="width:100%">
                                    <button type="submit" >@Resources.Pay_Now_Button</button>
                                </div>
                        }
                          </div>
                    </div>
                    }
                    else
                    { 
                        <div class="commentsItalic">@Resources.Employee_Training_Video</div>
                        <div>
                            <button type="button" value="Add New" onclick="window.location='../Vendor/VendorDashboard'">@Resources.Dashboard</button>
                        </div>
                    }
                  </div>
           </div>
@* </div>
</div>
</div>*@
 