﻿<!--
 *****************************************************
Page Created Date:  04/15/2015
Created By: Sandhya
Purpose: To get Employee Training fee details
Version: 1.0
****************************************************
-->
<!DOCTYPE HTML>
@using FVGen3.Domain.Entities;
@using Resources;
@model FVGen3.Domain.Entities.LocalGetTrainingDetails
@{
    ViewBag.Title = "Training Payment";
    Layout = "~/Views/Shared/_TrainingPaymentLayout.cshtml";
}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>@Resources.Payment_For_Training</title> 
<link rel="stylesheet" href="../index.css">
<link rel="stylesheet" href="/css/appInnerPages.css" />
</head>
<style>
.price-main{
	float:left;
	width:98%;
	height:auto;
	padding:10px 10px 0px 10px;
	-webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
	-moz-box-sizing: border-box;    /* Firefox 1 - 28 */
	box-sizing: border-box;         /* Safari 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+, Android 4.0+, iOS any */
	border:0px solid #ddd;
	background:#fff;
}
.price-sub + .price-sub{
	
}
.price-top{
	width:100%;
	padding:10px 0;
}
.price-top  h2{
	float:none !important;
	font-weight:600;
	margin-bottom:0;
	font-size:18px;
}
.price-emp{
	padding:10px 0;
}
.price-subprice{
		padding:0% 3% 0% 3%;
	    border:0px solid #ddd;
}
.price-subprice + .price-subprice{
	margin-top:10px;
}
.price-row{
	padding:8px 0px 8px 0px ;
	border-bottom:1px solid #ddd;
	width:95%;
	margin:0 auto;
}
.price-row label {
	display:inline-block;
	text-align:left;
}
.price-row label:first-child{
	width:69%; 
}
.price-row label:last-child{
	width:20%;
	text-align:right;
}
.payment-row div{
	display:inline-block;
	width:48%;
	padding:20px 0;
}
.payment-row button{
	float:none !important;
	margin:0 !important;
}
.payment-row div:first-child{
	text-align:left;
}
.payment-row  a{
	float:none !important;
}
.price-total {
	font-weight:700;
	font-size:15px;
}
.price-totalDiv{
	width:94%;
	background:#f1f1f1;
	padding: 2% 3%;
	float:left;
	margin-top:20px;
}
.price-totalDiv  .price-row{
	padding:0;
	border-bottom:0;
}
.price-payment{
	display:inline-table;
	width:100%;
	padding:10px 0;
}
.price-payment .payment-row{
	display:table-row;
}
.payment-row div{
	display:table-cell;
	vertical-align:middle;
	padding:15px 0;
}
.payment-row div:first-child{
	width:30%;
}
.payment-row div:last-child{
	width:69%;
	text-align:right; 
}
.payment-row div:last-child img , p{
		display:inline;
		vertical-align:middle;
}
</style>
<script>

    function QuizClick(obj) {
        var amt = 0;
        var selectedIds = "";
        var initial = true;
        $("#PaymentQuiz").find("input").each(function () {
            var val = $(this).closest(".price-row").find(".TraineeFee").html();
            val = val.replace("$", "");
            if ($(this).is(":checked")) {
                amt = eval(amt) + eval(val);
                if (initial) {
                    selectedIds = $(this).prop("id");
                    initial = false;
                }
                else
                    selectedIds = selectedIds + "," + $(this).prop("id");
            }
        });
        $("#QuizAmt").html("$" + amt);
        $("#payment").val(amt);
        $("#Quizids").val(selectedIds);
    }

    $(document).ready(function () {

        $("form").submit(function (event) {

            if ($("#payment").val() == "" || $("#payment").val() == "0") {
                alert("Please select the employee trainigs for which you wish to make payment and the payment amount should not be Zero.");
                return false;
            }
        });
    });
</script>
  @*
 <div class="container">
        <div class="content">
            <div class="main">*@
                <div class="price-main">
                    <div class="price-sub">
                        <div class="price-top" id="PaymentQuiz">
                       @foreach (var client in @Model.employeeAdditionAlFeeTrainings.GroupBy(rec => rec.ClientName).ToList())
                       {
                        	<h2>@client.Key</h2>
                           foreach (var employee in client.GroupBy(rec => rec.EmployeeName).ToList())
                           { 
                            <div class="price-subprice">
                                <div class="price-emp" >
                                    <label class="price-total">@employee.Key</label>
                                </div><!--price-emp-->
                               @foreach (var employeeTraining in employee.OrderBy(rec => rec.TemplateName).ToList())
                               {
                                    <div class="price-row">
                                        <input type="checkbox" id="@employeeTraining.SysUserOrgQuizId" onclick="QuizClick()"/>
                                        <label style="width:69%;" for="@employeeTraining.SysUserOrgQuizId">@employeeTraining.TemplateName</label>
                                        <label class="TraineeFee">$@employeeTraining.TrainingFee</label>
                                    </div>
                               }
                            </div> 
                           }
                       }
                       </div>


                    <div class="price-totalDiv">
                        <div class="price-row">
                            <label style="width:69%;" class="price-total">@Resources.Employee_Total_Amount_Payable</label>
                            <label class="price-total" id="QuizAmt" style="height: 16px;">@Resources.Price_Total</label>
                        </div><!--price-row-->
                    </div> <!--price-totalDiv-->
                    <div class="price-payment">
                    	<div  class="payment-row">
                            <div>
                                    <img src="../images/img_accepted-cc.gif">
                             </div>
                            <div>
                                <p>@Resources.Online_Payments_processed_Securely</p>
                                <img src="../images/logo_paypal_76w_20h.gif" />
                            </div>
                        </div><!--payment-row-->
                        <div  class="payment-row">
                        	@using (Html.BeginForm("EmployeeTrainingdetails", "Employee", FormMethod.Post, new { id = "form" }))
                                {
                                <input type="hidden" name="payment" id="payment"/>
                                <input type="hidden" name="Quizids" id="Quizids"/>
                                <div class="rightButton" style="width:95.5%">
                                    <button type="submit" >@Resources.Pay_Now_Button </button>
                                </div>
                                    @*<div class="pageFooterCancelButton"><a href="#">Cancel</a></div>*@
                                }
                          </div>
                    </div>
                  </div>
           </div>
@* </div>
</div>
</div>*@
 