﻿<!--
 *****************************************************
Page Created Date:  08/01/2013
Created By: Kiran Talluri
Purpose: To display the Quiz list
Version: 1.0
****************************************************
-->
@using FVGen3.Domain.Entities;
@using Resources
@{
    Layout = null;  
}
<link href="~/css/Quiz.css" rel="stylesheet" />
<script type="text/javascript" src="~/js/jquery-1.9.1.min.js"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script> 
@*<script> 

    function DeleteTrainings(SysUserOrgQuizId) {
        

        if (SysUserOrgQuizId != -1) {
                var c = confirm("you want to delete the record");
                if (c == true) {
                    $.ajax({
                        type: 'GET',
                        url: 'DeleteTraining',
                        data:{ 'SysUserOrgQuizId': + SysUserOrgQuizId,
                           },

                        success: function (data) {
                            if (data.indexOf("Session expired") >= 0) {
                                window.location = "../SystemUsers/Login";
                            }
                            else if (data == "EmployeeDeleted") {
                                location.reload(true);
                            }

                        },
                        error: function () {
                            console.trace();
                            alert("Fail ");
                        }
                    });
                }
                else {
                    return false;
                }
            }
    }

</script>*@
<!DOCTYPE html>
<html>
<head>
    @*<meta name="viewport" content="width=device-width" />*@
    <title>@Resources.PartialQuizList_title</title>
</head>
<body>
    <div class="partialPage">
        @if (@ViewBag.VBsysUserOrgQuizGroupByClient != null)
        {
            if (@ViewBag.VBsysUserOrgQuizGroupByClient.Count == 0)
            {
                <div class="commentsItalic">
                    @if (ViewBag.userType == null || ViewBag.userType == 0)//Admin Vendor
                    {
                        @Resources.Common_NoRecords
                    }
                    else //trainee
                    {
                        @Resources.Employee_NoQuizzes
                    }
                </div>
            }
            else
            {
                <table width="100%" border="0" >
                    <tr>
                        <td width="2%">
                            <img src="~/images/quizpassed.png">
                        
                            @Resources.Common_Status_Color_Passed
                        </td>
                        <td width="2%">
                            <img src="~/images/quiznottaken.png">
                       
                            @Resources.Common_Status_Color_NotTaken
                        </td>
                        <td width="2%">
                            <img src="~/images/quizfailed.png">
                       
                            @Resources.Common_Status_Color_Failed
                        </td>
                        <td width="2%">
                            <img src="~/images/quizinprocess.png">
                       
                            @Resources.Common_Status_Color_InProcess
                        </td>
                        <td width="2%">
                            <img src="~/images/ExpireColor.png">
                       
                            @Resources.Common_Status_Color_Expired
                        </td>
                        <td width="2%">
                            <img src="~/images/quizrenewal.png">
                       
                            @Resources.Employee_Quiz_Renewal_NotAttended
                        </td>

                    </tr>
                </table>
            }

            foreach (var client in (List<IGrouping<string, SystemUsersOrganizationsQuizzes>>)@ViewBag.VBsysUserOrgQuizGroupByClient)
            {
                // Kiran on 12/18/2014
                <table border="0">
                    <tr style="background:#f9f9f9; ">
                        <td colspan="5">
                            <h3>@client.Key</h3>
                        </td>
                    </tr>
                    @*Kiran on 01/20/2015*@
                    @foreach (var clientEmployeeGuide in (List<LocalEmployeeGuideDocumentsGroupedByClient>)@ViewBag.VBEmployeeGuidesGroupedByClient)
                    {
                        if (clientEmployeeGuide.prequalifcation == null) { continue; }
                        var AnnualBus = clientEmployeeGuide.prequalifcation.ClientTemplates.ClientTemplatesForBU.Where(rec => rec.ClientTemplateBUGroupId != null && rec.ClientTemplatesBUGroupPrice.GroupingFor == 1 && rec.ClientTemplatesBUGroupPrice.GroupPriceType != -1 && rec.ClientTemplatesBUGroupPrice.GroupPrice != 0).ToList(); // Kiran on 11/25/2015 for FV-232
                        decimal templateAnnualPrice = 0;
                        var prequalBusinessUnits = clientEmployeeGuide.prequalifcation.PrequalificationSites.Select(rec => rec.ClientBusinessUnitId).Distinct().ToList();

                        foreach (var AnnualBu in AnnualBus)
                        {
                            if (prequalBusinessUnits.Contains(AnnualBu.ClientBusinessUnitId))
                            {
                                templateAnnualPrice = templateAnnualPrice + (decimal)AnnualBu.ClientTemplatesBUGroupPrice.GroupPrice;
                            }
                        }


                        if (@clientEmployeeGuide.key == @client.Key)
                        {
                            <tr>
                                @if (@clientEmployeeGuide.FileNames.Any())
                                {
                                    foreach (var fileName in @clientEmployeeGuide.FileNames)
                                    {
                                    <td width="7%" align="center">
                                        <img src="../images/pdf12.png" />
                                    </td>
                                    <td width="45%">
                                        <a href="#!" onclick="window.open('../Employee/DownloadDoc?fileName=@HttpUtility.UrlEncode(@fileName)&ConfigPath=EmployeeGuide&clientId=@clientEmployeeGuide.OrganizationId')">
                                            @fileName
                                        </a>
                                    </td>
                                    }
                                }
                                @if (@clientEmployeeGuide.qualified == null && @ViewBag.Employee != true)
                                {
                                    <td style="!important; color:#e81f25; font-weight:400;" colspan="3" width="48%">
                                        @Resources.Common_Quiz_Assign_ErrorMessage
                                    </td>
                                }
                            </tr>
                        }

                        @*Ends<<<*@
                        if (@clientEmployeeGuide.key == @client.Key)
                        {
                            <tr>
                                <td width="3%" class="QuizIcons"> </td>
                                <td width="10%" class="certificate"></td>
                                <td width="10%" class="waiverform"></td>
                                <td width="24%"><b>@Resources.Common_Quiz_Partial_Header_QuizName</b></td>
                                <td width="20%"><b>@Resources.Common_Quiz_Partial_Header_LastWatched</b></td>
                                <td width="3%"><b>@Resources.Common_Quiz_Partial_Header_ExpireDate</b></td>
                                <td width="11%"><b>@Resources.Common_Quiz_Partial_Header_PreviouslyPassed</b></td>
                                <td width="30%"><b>@Resources.Common_Quiz_Partial_Header_PaymentStatus</b></td>
                            </tr>

                        foreach (var quiz in client.OrderBy(rec => rec.ClientTemplates.Templates.TemplateName).ToList()) // Kiran on 01/31/2015 for sorting the trainings by name
                        {
                                <error>
                                    @{
                                        var clientTemplatesForBU = @quiz.ClientTemplates.ClientTemplatesForBU.Where(rec => rec.ClientTemplateBUGroupId != null && rec.ClientTemplatesBUGroupPrice.GroupPriceType != -1 && rec.ClientTemplatesBUGroupPrice.GroupingFor == 2).ToList();
                                        decimal templateTotalPrice = 0;
                                    }
                                </error>
                                        foreach (var clientTemplateForBU in clientTemplatesForBU)
                                        {
                                            {
                                                try
                                                {
                                                    var annualFeeBUs = AnnualBus.Select(rec => rec.ClientBusinessUnitId).ToList();
                                                    if (!annualFeeBUs.Contains(clientTemplateForBU.ClientBusinessUnitId) && prequalBusinessUnits.Contains(clientTemplateForBU.ClientBusinessUnitId)) // Sandhya on 08/20/2015
                                                    {
                                                        templateTotalPrice = templateTotalPrice + (decimal)clientTemplateForBU.ClientTemplatesBUGroupPrice.GroupPrice;
                                                    }
                                                }
                                                catch { }
                                            }
                                        }

                                        var quizRecord = @quiz;
                                        //var empCheckLists = @quiz.SystemUsersOrganizationsEmpQuizChecklist.ToList();
                                <tr>
                                    @try
                                    {
                                        <td class="QuizIcons">
                                            @if (@quizRecord.QuizResult == false) // Kiran on 3/10/2014
                                            {

                                                @:<img src="../images/quizfailed.png" />


                                            }

                                            else if (@quizRecord.QuizResult == true && @quizRecord.QuizExpirationDate != null && @quizRecord.QuizExpirationDate > DateTime.Now) // Kiran on 3/24/2015
                                            {

                                                @:<img src="../images/quizpassed.png" />


                                            }

                                            else if (@quizRecord.QuizExpirationDate != null && @quizRecord.QuizExpirationDate < DateTime.Now && @quizRecord.QuizResult == true)
                                            {

                                                @:<img src="../images/ExpireColor.png" />


                                            }

                                            else if (@quizRecord.QuizDateStart == null)
                                            {
                                                if (@quizRecord.PreviousLastQuizSubmittedDate != null)
                                                {
                                                    var expiration = quizRecord.PreviousLastQuizSubmittedDate.Value.AddYears(1);
                                                    if (DateTime.Now < expiration)
                                                    {

                                                        @:<img src="../images/quizrenewal.png" />


                                                    }
                                                    else
                                                    {

                                                        @:<img src="../images/quiznottaken.png" />


                                                    }
                                                }
                                                else
                                                {

                                                    @: <img src="../images/quiznottaken.png" />


                                                }
                                            }

                                            else if (@quizRecord.QuizResult == null)
                                            {

                                                @:<img src="../images/quizinprocess.png" />


                                            }
                                        </td>
                                    }
                                    catch { }
                                    @{
                                        var ShowCert = ((System.Data.Entity.DbSet<Organizations>)ViewBag.orgs).Where(rec => rec.OrganizationID == @quiz.ClientId).FirstOrDefault().TrainingCertificate;
                                        <td width="10%" class="certificate">
                                            @if (@quiz.QuizResult == true && @quiz.QuizExpirationDate > DateTime.Now
                                            && (ShowCert.HasValue && ShowCert.Value))
                                            {

                                            @:<a href="@Url.Action("GenerateTrainingCompletionCertificate", "Employee", new { sysUserOrgQuizId = @quiz.SysUserOrgQuizId })" target="_blank"><i class="fa fa-file-pdf-o" style="color:#ce1c1c;font-size:20px;" aria-hidden="true"></i></a>
                                        
                                            }

                                        <div class="mobileStatusIcon">
                                            @if (@quizRecord.QuizResult == false) // Kiran on 3/10/2014
                                            {

                                                @:<img src="../images/quizfailed.png" />
                                            }

                                            else if (@quizRecord.QuizResult == true && @quizRecord.QuizExpirationDate != null && @quizRecord.QuizExpirationDate > DateTime.Now) // Kiran on 3/24/2015
                                            {

                                                @:<img src="../images/quizpassed.png" />




                                            }

                                            else if (@quizRecord.QuizExpirationDate != null && @quizRecord.QuizExpirationDate < DateTime.Now && @quizRecord.QuizResult == true)
                                            {

                                                @:<img src="../images/ExpireColor.png" />




                                            }

                                            else if (@quizRecord.QuizDateStart == null)
                                            {
                                                if (@quizRecord.PreviousLastQuizSubmittedDate != null)
                                                {
                                                    var expiration = quizRecord.PreviousLastQuizSubmittedDate.Value.AddYears(1);
                                                    if (DateTime.Now < expiration)
                                                    {

                                                        @:<img src="../images/quizrenewal.png" />




                                                    }
                                                    else
                                                    {

                                                        @:<img src="../images/quiznottaken.png" />




                                                    }
                                                }
                                                else
                                                {

                                                    @: <img src="../images/quiznottaken.png" />




                                                }
                                            }

                                            else if (@quizRecord.QuizResult == null)
                                            {

                                                @:<img src="../images/quizinprocess.png" />




                                            }
                                        </div>
                                    </td>
                                    }

                                   
                                       @try
                                       {
                                           if (@quiz.QuizDateSubmitted != null)
                                           {
                                               var submittedDateWithGracePeriod = @quiz.QuizDateSubmitted.Value.AddDays(7);
                                               var quizWaiverFormCompletionLog = @quiz.QuizWaiverFormCompletionLog.FirstOrDefault(rec => rec.SubmittedDate >= quiz.QuizDateSubmitted && rec.SubmittedDate <= submittedDateWithGracePeriod);
                                           }

                                           var waiverFormConfigured = @quiz.ClientTemplates.ClientTemplatesQuizDetails.FirstOrDefault().WaiverForm;
                                        <t>
                                            @if (@quiz.QuizResult == true && waiverFormConfigured.HasValue && waiverFormConfigured.Value && @quiz.QuizWaiverFormCompletionLog.Count() != 0)
                                            {
                                            <td width="10%" class="waiverform">
                                                @*<a href="@(Url.Action("GenerateQuizWaiverFormCertificate", "Employee", new { sysUserOrgQuizId = @quiz.SysUserOrgQuizId }))" target="_blank"><img src="~/images/pdf.png" />Waiver</a>*@
                                                <i class="fa fa-file-pdf-o" style="color:#ce1c1c;font-size:20px;" aria-hidden="true"><a style="font-size:14px;font-family: 'Open Sans', Arial, sans-serif;" href="@Url.Action("GenerateQuizWaiverFormCertificate", "Employee", new { sysUserOrgQuizId = @quiz.SysUserOrgQuizId })" target="_blank">&nbsp;Waiver</a></i>
                                            </td>
                                            }
                                            else if (@quiz.QuizResult == true && @quiz.ClientTemplates.ClientTemplatesQuizDetails.FirstOrDefault().WaiverForm == true && @quiz.QuizWaiverFormCompletionLog.Count() == 0 && @ViewBag.Employee != null && @ViewBag.Employee)
                                            {
                                                <td width="10%" class="waiverform">
                                                    <i class="fa fa-exclamation-triangle" style="color:#ce1c1c;font-size:20px;" aria-hidden="true"><a style="font-size:14px;font-family: 'Open Sans', Arial, sans-serif;" href="@Url.Action("QuizWaiverForm", "Quiz", new { quizId = @quiz.SysUserOrgQuizId })">&nbsp;Waiver</a></i>
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="waiverform"></td>
                                            }
                                        </t>

                                           
                                          
                                       }
                                       catch { }


                                    <td>
                                        @*Rajesh on 11/7/2014*@
                                        @if (@ViewBag.Employee == true)
                                        {
                                            if ((clientEmployeeGuide.qualified == null || clientEmployeeGuide.qualified == false))
                                            {
                                                <div> @quiz.ClientTemplates.Templates.TemplateName</div>
                                            }
                                            @*else if (@quizRecord != null && @quizRecord.QuizResult == true && @quizRecord.QuizExpirationDate != null && (((DateTime)@quizRecord.QuizExpirationDate) >= DateTime.Now)) // Mani on 814/2015
                                                {
                                                <div> @quiz.ClientTemplates.Templates.TemplateName</div>
                                                }*@
                                        else if (@quizRecord != null && @quizRecord.QuizResult == true && @quizRecord.QuizExpirationDate != null && (((DateTime)@quizRecord.QuizExpirationDate).AddDays(-30) >= DateTime.Now)) // Kiran on 11/17/2014
                                        {
                                                <div> @quiz.ClientTemplates.Templates.TemplateName</div> 
                                        }
                                        else
                                        {
                                            //     if ((@quiz.SystemUsersOrganizations.SystemUsersOrganizationsQuizzes.FirstOrDefault(rec => rec.SysUserOrgId == @quiz.SysUserOrgId && rec.ClientTemplateId == @quiz.ClientTemplateId).NoOfAttempts < @quiz.ClientTemplates.ClientTemplatesQuizDetails.FirstOrDefault(rec => rec.ClientTemplateID == @quiz.ClientTemplateId).NumberOfAttempts) || (@quiz.SystemUsersOrganizations.SystemUsersOrganizationsQuizzes.FirstOrDefault(rec => rec.SysUserOrgId == @quiz.SysUserOrgId && rec.ClientTemplateId == @quiz.ClientTemplateId).NoOfAttempts.Equals(null)))
                                            //    {

                                            // Sandhya on 05/08/2015
                                            if ((!templateTotalPrice.Equals(0) && @quizRecord.QuizPayments.Any(rec => rec.IsOpen != null && rec.IsOpen.Value)) && (templateAnnualPrice.Equals(0)) || (!templateAnnualPrice.Equals(0) && clientEmployeeGuide.prequalifcation.PrequalificationTrainingAnnualFees.Count != 0 && templateTotalPrice.Equals(0)))
                                            {
                                                    <a href="../Quiz/StartQuiz?clientTemplateId=@quiz.ClientTemplateId&userQuizId=@quiz.SysUserOrgQuizId"> @quiz.ClientTemplates.Templates.TemplateName </a>
                                            }

                                            else if ((templateTotalPrice.Equals(0) && templateAnnualPrice.Equals(0)) || (@ViewBag.VendorIsTrainingExempt))
                                            {
                                                    <a href="../Quiz/StartQuiz?clientTemplateId=@quiz.ClientTemplateId&userQuizId=@quiz.SysUserOrgQuizId"> @quiz.ClientTemplates.Templates.TemplateName </a>
                                            }
                                            else if (!templateTotalPrice.Equals(0) && @quizRecord.QuizPayments.Any(rec => rec.IsOpen != null && rec.IsOpen.Value) && !templateAnnualPrice.Equals(0) && clientEmployeeGuide.prequalifcation.PrequalificationTrainingAnnualFees.Count != 0)
                                            {
                                                    <a href="../Quiz/StartQuiz?clientTemplateId=@quiz.ClientTemplateId&userQuizId=@quiz.SysUserOrgQuizId"> @quiz.ClientTemplates.Templates.TemplateName </a>
                                            }
                                            else
                                            {
                                                    @quiz.ClientTemplates.Templates.TemplateName

                                                }
                                                // Ends<<<
                                            }

                                        }
                                        else
                                        {
                                            @quiz.ClientTemplates.Templates.TemplateName
                                        }
                                        @*Ends<<<*@
                                    </td>
                                    <td>
                                        @try
                                        {
                                            // Kiran on 12/17/2014
                                            @quizRecord.QuizDateSubmitted.Value.Date.ToShortDateString()
                                            // Ends<<<
                                        }
                                        catch (Exception e) { }

                                    </td>
                                    
                                    <td>
                                        @{int periodLength = quizRecord.ClientTemplates.ClientTemplatesQuizDetails.FirstOrDefault().PeriodLength.Value; }
                                        @(quizRecord.QuizExpirationDate != null ? quizRecord.QuizExpirationDate.Value.Date.ToShortDateString() : (quizRecord.QuizDateStart == null && quizRecord.PreviousLastQuizSubmittedDate!= null && quizRecord.PreviousLastQuizSubmittedDate < DateTime.Now) ? quizRecord.PreviousLastQuizSubmittedDate.Value.Date.AddYears(periodLength).ToShortDateString(): "")
                                    </td>


                                    <td>
                                        @*Kiran on 12/17/2014*@
                                        @if (@quizRecord != null)
                                        {
                                            if (@quizRecord.PreviousLastQuizSubmittedDate != null)
                                            {
                                                @: @(quizRecord.PreviousLastQuizTakenStatus == true ? "Yes" : "No")  - @quizRecord.PreviousLastQuizSubmittedDate.Value.Date.ToShortDateString()
                                }
                                            else
                                            {
                                                if (@quizRecord.PreviousLastQuizTakenStatus != null)
                                                {
                                                    @: @(quizRecord.PreviousLastQuizTakenStatus == true ? "Yes" : "No")
                                                }
                                                else
                                                {
                                                    @: @quizRecord.PreviousLastQuizTakenStatus
                                                }
                                            }
                                        }

                                    </td>
                                    @*Sandhya on 05/08/2015*@
                                    @if (@quizRecord != null)
                                    {
                                        if ((!templateTotalPrice.Equals(0) && @quizRecord.QuizPayments.Any(rec => rec.IsOpen!=null && rec.IsOpen.Value)) && (templateAnnualPrice.Equals(0)) || (!templateAnnualPrice.Equals(0) && clientEmployeeGuide.prequalifcation.PrequalificationTrainingAnnualFees.Count != 0 && templateTotalPrice.Equals(0)))
                                        {

                                        }
                                        else if (templateTotalPrice.Equals(0) && templateAnnualPrice.Equals(0))
                                        {
                                        }
                                        else if (!templateTotalPrice.Equals(0) && @quizRecord.QuizPayments.Any(rec => rec.IsOpen != null && rec.IsOpen.Value) && !templateAnnualPrice.Equals(0) && clientEmployeeGuide.prequalifcation.PrequalificationTrainingAnnualFees.Count != 0)
                                        {

                                        }
                                        else if (@ViewBag.VendorIsTrainingExempt)
                                        {
                                            
                                        }
                                        else if (quizRecord.QuizResult!=true)
                                        {
                                            <td> @Resources.PartialEmployeeQuiz_Quiz_Payment_Status</td>
                                        }
                                    }

                                    @*Kiran on 03/13/2015*@
                                    @if (@ViewBag.VBLoggedInUserIsVendorHasNoAccess != null && !@ViewBag.VBLoggedInUserIsVendorHasNoAccess)
                                    {
                                        <td>
                                            <a class="imgCursor" href="#!" onclick="AddEmployeeQuizCheckLists('@quizRecord.SysUserOrgQuizId')">@Resources.PartialEmployeeQuiz_Quiz_CheckList</a>
                                        </td>

                                    }
                                    <td></td>
                                    @*<td><button onclick="DeleteTrainings('@quiz.SysUserOrgQuizId')">delete</button></td>*@
                                </tr>
                                @*Kiran on 02/18/2015*@
                                if (@quiz.SystemUsersOrganizationsQuizzesCategories != null && @quiz.SystemUsersOrganizationsQuizzesCategories.Count() != 0)
                                {
                                    <tr>
                                        <td colspan="6">
                                            <div class="categories-list" style="background:#e6e6e6;">
                                                <table style="float:none;">
                                                    @foreach (var category in @quiz.SystemUsersOrganizationsQuizzesCategories)
                                                    {
                                                        <tr>
                                                            <td>@category.EmployeeQuizCategories.CategoryName</td>
                                                            <td>
                                                                @try
                                                                {
                                                                    @category.SystemUsers.Contacts[0].LastName @: @category.SystemUsers.Contacts[0].FirstName
                                                                }
                                                                catch
                                                                {
                                                                    if (@category.SystemUsers != null)
                                                                    {
                                                                        @category.SystemUsers.Email // Kiran on 03/18/2015
                                                                    }
                                                                }
                                                            </td> @*Kiran on 03/13/2015*@
                                                            <td style="text-align:center;">@category.SubCategoryInputValue</td>
                                                            <td style="text-align:center;">
                                                                @if (@category.SubCategoryEnteredDate != null)
                                                                {@category.SubCategoryEnteredDate.Value.Date.ToShortDateString()}
                                                        </td>
                                                    </tr>
                                                    }
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                }
                                @*Ends<<<*@
                            }
                        }
                    }
                </table>
            }
        }
    </div>
</body>
</html>
