﻿@{
    ViewBag.Title = "PartialEmployeeQuizList";
}

@*<h2>PartialEmployeeQuizList</h2>*@
<!--
 *****************************************************
Page Created Date:  08/01/2013
Created By: Kiran Talluri
Purpose: To display the Quiz list
Version: 1.0
****************************************************
-->
@model FVGen3.Domain.LocalModels.LocalEmployeeQuizzes
@using FVGen3.Domain.Entities;
@using Resources
@{
    Layout = null;
}
<link href="~/css/prequalificationdynamic.css" rel="stylesheet" />
<link href="~/css/EmployeeQuiz.css" rel="stylesheet" />
@*<link href="~/css/Quiz.css" rel="stylesheet" />*@
<script type="text/javascript" src="~/js/jquery-1.9.1.min.js"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<!DOCTYPE html>
<html>
<head>
    @*<meta name="viewport" content="width=device-width" />*@
    <title>@Resources.PartialQuizList_title</title>
</head>
<body>
    <div class="partialPage">
        @*@if (@ViewBag.VBsysUserOrgQuizGroupByClient != null)
            {*@
        @if (Model.LocalEmployeeGuideDocumentsGroupedByClient.Count == 0)
            {
            <div class="commentsItalic">
                @if (ViewBag.userType == null || ViewBag.userType == 0)//Admin Vendor
                {
                    @Resources.Common_NoRecords
                }
                else //trainee
                {
                    @Resources.Employee_NoQuizzes
                }
            </div>
        }
        else
        {
            <table width="100%" border="0" class="quizLegends">
                <tr>
                    <td width="2%">
                        <img src="~/images/quizpassed.png">

                        @Resources.Common_Status_Color_Passed
                    </td>
                    <td width="2%">
                        <img src="~/images/quiznottaken.png">

                        @Resources.Common_Status_Color_NotTaken
                    </td>
                    <td width="2%">
                        <img src="~/images/quizfailed.png">

                        @Resources.Common_Status_Color_Failed
                    </td>
                    <td width="2%">
                        <img src="~/images/quizinprocess.png">

                        @Resources.Common_Status_Color_InProcess
                    </td>
                    <td width="2%">
                        <img src="~/images/ExpireColor.png">

                        @Resources.Common_Status_Color_Expired
                    </td>
                    <td width="2%">
                        <img src="~/images/quizrenewal.png">

                        @Resources.Employee_Quiz_Renewal_NotAttended
                    </td>

                </tr>
            </table>
        }
        <div>
        @foreach (var client in @ViewBag.Clients)
        {
            // Kiran on 12/18/2014
            <div class="PrequalificationHeader mobiledata">
                <label>@client</label>
            </div>
                <table border="0" class="webdata" >
                    <tr style="background:#f9f9f9; ">
                        <td colspan="5">
                            <h3>@client</h3>
                        </td>
                    </tr>
                  
                   

                @*Kiran on 01/20/2015*@
                @foreach (var clientEmployeeGuide in Model.LocalEmployeeGuideDocumentsGroupedByClient.Where(r=>r.key==client))
                {
                    if (clientEmployeeGuide.prequalifcation == null) { continue; }
                    

                    decimal templateAnnualPrice = clientEmployeeGuide.templateAnnualPrice;
                    if (@clientEmployeeGuide.key == @client)
                    {
                        <thead><tr>
                            @if (@clientEmployeeGuide.FileNames.Any())
                            {
                            foreach (var fileName in @clientEmployeeGuide.FileNames)
                            {
                                    <th width="7%" align="center">
                                        <img src="../images/pdf12.png" />
                                    </th>
                                        <th width="45%" style="font-weight: normal;">
                                            <a href="#!" onclick="window.open('../Employee/DownloadDoc?fileName=@HttpUtility.UrlEncode(@fileName)&ConfigPath=EmployeeGuide&clientId=@clientEmployeeGuide.OrganizationId')">
                                                @fileName
                                            </a>
                                        </th>
                                }
                        }
                        @if (@clientEmployeeGuide.qualified == null && Model.Employee != true)
                            {
                                <th style="!important; color:#e81f25; font-weight:400;" colspan="3" width="48%">
                                    @Resources.Common_Quiz_Assign_ErrorMessage
                                </th>
                            }</tr>
                        </thead>
                    }
              
                    @*Ends<<<*@
                if (@clientEmployeeGuide.key == @client)
                {
                    <tr>
                        <td width="3%" class="QuizIcons"> </td>
                        <td width="10%" class="certificate"></td>
                        <td width="10%" class="waiverform"></td>
                        <td width="24%" ><b>@Resources.Common_Quiz_Partial_Header_QuizName</b></td>
                        <td width="20%"><b>@Resources.Common_Quiz_Partial_Header_LastWatched</b></td>
                        <td width="3%"><b>@Resources.Common_Quiz_Partial_Header_ExpireDate</b></td>
                        <td width="11%"><b>@Resources.Common_Quiz_Partial_Header_PreviouslyPassed</b></td>
                        <td width="30%"><b>@Resources.Common_Quiz_Partial_Header_PaymentStatus</b></td>
                    </tr>

                    foreach (var quiz in Model.ClientQuizzes.Where(r => r.ClientName == client).OrderBy(r => r.TemplateName).ToList()) // Kiran on 01/31/2015 for sorting the trainings by name
                    {
                        var quizRecord = @quiz;
                        <tr>
                            <td class="QuizIcons">
                             
                                <img src="../images/@quiz.QuizStatus"  />
                            </td>
                            <td width="10%" class="certificate">

                                @if(@quiz.HasTrainingCertificate)
                            {

                        @:<a href="@Url.Action("GenerateTrainingCompletionCertificate", "Employee", new { sysUserOrgQuizId = @quiz.SysUserOrgQuizId })" target="_blank"><i class="fa fa-file-pdf-o" style="color:#ce1c1c;font-size:20px;" aria-hidden="true"></i></a>
                            }


                            </td>
                            @try
                            {
                                <t>
                                    @if (@quiz.QuizResult == true && @quiz.waiverFormConfigured.HasValue && @quiz.waiverFormConfigured.Value && @quiz.quizWaiverFormCompletionLog != 0)
                            {
                            <td width="10%" class="waiverform">
                                @*<a href="@(Url.Action("GenerateQuizWaiverFormCertificate", "Employee", new { sysUserOrgQuizId = @quiz.SysUserOrgQuizId }))" target="_blank"><img src="~/images/pdf.png" />Waiver</a>*@
                                <i class="fa fa-file-pdf-o" style="color:#ce1c1c;font-size:20px;" aria-hidden="true"><a style="font-size:14px;font-family: 'Open Sans', Arial, sans-serif;" href="@Url.Action("GenerateQuizWaiverFormCertificate", "Employee", new { sysUserOrgQuizId = @quiz.SysUserOrgQuizId })" target="_blank">&nbsp;Waiver</a></i>
                            </td>
                            }
                            else if (@quiz.QuizResult == true && @quiz.waiverFormConfigured == true && @quiz.quizWaiverFormCompletionLog == 0 && Model.Employee != null && Model.Employee)
                            {
                            <td width="10%" class="waiverform">
                                <i class="fa fa-exclamation-triangle" style="color:#ce1c1c;font-size:20px;" aria-hidden="true"><a style="font-size:14px;font-family: 'Open Sans', Arial, sans-serif;" href="@Url.Action("QuizWaiverForm", "Quiz", new { quizId = @quiz.SysUserOrgQuizId })">&nbsp;Waiver</a></i>
                            </td>
                            }
                            else
                            {
                            <td class="waiverform"></td>
                            }
                                </t>
                            }
                            catch { }


                            <td>
                                @*Rajesh on 11/7/2014*@
                                @if (Model.Employee == true)
                        {
                            if ((clientEmployeeGuide.qualified == null || clientEmployeeGuide.qualified == false))
                            {
                        <div> @quiz.TemplateName</div>
                            }

                            else if (@quizRecord != null && @quizRecord.QuizResult == true && @quizRecord.QuizExpirationDate != null && (((DateTime)@quizRecord.QuizExpirationDate).AddDays(-30) >= DateTime.Now)) // Kiran on 11/17/2014
                            {
                        <div> @quiz.TemplateName</div>
                            }
                            else
                            {

                                if ((!@quiz.templateTotalPrice.Equals(0) && @quizRecord.HasQuizPayments) && (templateAnnualPrice.Equals(0)) || (!templateAnnualPrice.Equals(0) && clientEmployeeGuide.PqTrainingAnnualFeeCount != 0 && @quiz.templateTotalPrice.Equals(0)))
                                {
                        <a href="../Quiz/StartQuiz?clientTemplateId=@quiz.ClientTemplateId&userQuizId=@quiz.SysUserOrgQuizId"> @quiz.TemplateName </a>
                                }

                                else if ((@quiz.templateTotalPrice.Equals(0) && templateAnnualPrice.Equals(0)) || (Model.vendorIsExemptFromTrainingFee))
                                {
                        <a href="../Quiz/StartQuiz?clientTemplateId=@quiz.ClientTemplateId&userQuizId=@quiz.SysUserOrgQuizId"> @quiz.TemplateName </a>

                                }
                                else if (@quiz.templateTotalPrice.Equals(0) && @quizRecord.HasQuizPayments && !templateAnnualPrice.Equals(0) && clientEmployeeGuide.PqTrainingAnnualFeeCount != 0)
                                {
                                    <a href = "../Quiz/StartQuiz?clientTemplateId=@quiz.ClientTemplateId&userQuizId=@quiz.SysUserOrgQuizId" > @quiz.TemplateName </a>
                                 }
                                else
                                {
                        @quiz.TemplateName


                                }
                                // Ends<<<
                            }

                        }
                        else
                        {
                        @quiz.TemplateName
                        }
                                @*Ends<<<*@
                            </td>
                            <td>
                                @try
                                {
                                    // Kiran on 12/17/2014
                                    @quizRecord.QuizDateSubmitted.Value.Date.ToShortDateString()
                                    // Ends<<<
                                }
                                catch (Exception e) { }

                            </td>

                            <td> @quiz.QuizExpired</td>


                            <td> @quiz.PreviousLastQuizTakenStatus</td>
                            @*Sandhya on 05/08/2015*@
                            @if (@quizRecord != null)
                            {
                                if ((!@quiz.templateTotalPrice.Equals(0) && @quizRecord.HasQuizPayments) && (templateAnnualPrice.Equals(0)) || (!templateAnnualPrice.Equals(0) && clientEmployeeGuide.PqTrainingAnnualFeeCount != 0 && @quiz.templateTotalPrice.Equals(0)))
                                {

                                }
                                else if (@quiz.templateTotalPrice.Equals(0) && templateAnnualPrice.Equals(0))
                                {
                                }
                                else if (!@quiz.templateTotalPrice.Equals(0) && @quizRecord.HasQuizPayments && !templateAnnualPrice.Equals(0) && clientEmployeeGuide.PqTrainingAnnualFeeCount != 0)
                                {

                                }
                                else if (Model.vendorIsExemptFromTrainingFee)
                                {

                                }
                                else if (quizRecord.QuizResult != true)
                                {
                                    <td> @Resources.PartialEmployeeQuiz_Quiz_Payment_Status</td>
                                }
                            }

                            @*Kiran on 03/13/2015*@
                            @if (@ViewBag.VBLoggedInUserIsVendorHasNoAccess != null && !@ViewBag.VBLoggedInUserIsVendorHasNoAccess)
                            {
                                <td>
                                    <a class="imgCursor" href="#!" onclick="AddEmployeeQuizCheckLists('@quizRecord.SysUserOrgQuizId')">@Resources.PartialEmployeeQuiz_Quiz_CheckList</a>
                                </td>

                            }
                            <td></td>
                            @*<td><button onclick="DeleteTrainings('@quiz.SysUserOrgQuizId')">delete</button></td>*@
                        </tr>
                                    @*Kiran on 02/18/2015*@
                if (@quiz.QuizzesCategories != null && @quiz.QuizzesCategories.Count() != 0)
                {
                    <tr>
                        <td colspan="6">
                            <div class="categories-list" style="background:#e6e6e6;">
                                <table style="float:none;">
                                    @foreach (var category in @quiz.QuizzesCategories)
                                    {
                                        <tr>
                                            <td>@category.CategoryName</td>
                                            <td>
                                                @try
                                                {
                                                    @category.UserName
                                                }
                                                catch
                                                {
                                                    
                                                    @category.Email // Kiran on 03/18/2015
                                                 
                                                }
                                            </td> @*Kiran on 03/13/2015*@
                                            <td style="text-align:center;">@category.SubCategoryInputValue</td>
                                            <td style="text-align:center;">
                                                @if (!string.IsNullOrEmpty(@category.SubCategoryEnteredDate))
                                                {@category.SubCategoryEnteredDate}
                                            </td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        </td>
                    </tr>
                }
                @*Ends<<<*@
                                            }
                                        }
                                    }
                  
            </table>
            <div class="mobiledata">

               

    @*Kiran on 01/20/2015*@
    @foreach (var clientEmployeeGuide in Model.LocalEmployeeGuideDocumentsGroupedByClient.Where(r => r.key == client))
    {
        if (clientEmployeeGuide.prequalifcation == null) { continue; }


        decimal templateAnnualPrice = clientEmployeeGuide.templateAnnualPrice;



     
            <table class="EmpQuizData" border="1" style="table-layout:auto">
                <thead>

                    @if (@clientEmployeeGuide.FileNames.Any())
                    {
                        foreach (var fileName in @clientEmployeeGuide.FileNames)
                        {
                        <td width="8%" align="center" colspan="2" style="font-weight:bold">
                            <img src="../images/pdf12.png" />

                            <a href="#!" onclick="window.open('../Employee/DownloadDoc?fileName=@HttpUtility.UrlEncode(@fileName)&ConfigPath=EmployeeGuide&clientId=@clientEmployeeGuide.OrganizationId')">
                                @fileName
                            </a>
                        </td>

                        }
                    }
                    @if (@clientEmployeeGuide.qualified == null && Model.Employee != true)
                    {
                        <th style="!important; color:#e81f25; font-weight:400;" colspan="3" width="48%">
                            @Resources.Common_Quiz_Assign_ErrorMessage
                        </th>
                    }

                    </thead>
                  
                    @*Ends<<<*@
                  
                    @foreach (var quiz in Model.ClientQuizzes.Where(r => r.ClientName == client).OrderBy(r => r.TemplateName).ToList()) // Kiran on 01/31/2015 for sorting the trainings by name
                    {

                        var quizRecord = @quiz;
                        <tr>
                            <td colspan="2" style="text-align:center;font-size:large;font-weight:bold;margin-left:20%;">
                                @*<div class="subsectionHeader">*@
                                @if (Model.Employee == true)
                                {
                                   
                                        if ((clientEmployeeGuide.qualified == null || clientEmployeeGuide.qualified == false))
                                        {
                                        @quiz.TemplateName

                                        }

                                        else if (@quizRecord != null && @quizRecord.QuizResult == true && @quizRecord.QuizExpirationDate != null && (((DateTime)@quizRecord.QuizExpirationDate).AddDays(-30) >= DateTime.Now)) // Kiran on 11/17/2014
                                        {
                                       @quiz.TemplateName
                                        }
                                        else
                                        {

                                        if ((!@quiz.templateTotalPrice.Equals(0) && @quizRecord.HasQuizPayments) && (templateAnnualPrice.Equals(0)) || (!templateAnnualPrice.Equals(0) && clientEmployeeGuide.PqTrainingAnnualFeeCount != 0 && @quiz.templateTotalPrice.Equals(0)))
                                        {
                                        <a href="../Quiz/StartQuiz?clientTemplateId=@quiz.ClientTemplateId&userQuizId=@quiz.SysUserOrgQuizId"> @quiz.TemplateName <i class="fa fa-play" aria-hidden="true"></i></a>
                                        }

                                        else if ((@quiz.templateTotalPrice.Equals(0) && templateAnnualPrice.Equals(0)) || (Model.vendorIsExemptFromTrainingFee))
                                        {
                                        <a href="../Quiz/StartQuiz?clientTemplateId=@quiz.ClientTemplateId&userQuizId=@quiz.SysUserOrgQuizId"> @quiz.TemplateName <i class="fa fa-play" aria-hidden="true"></i></a>

                                        }
                                        else if (@quiz.templateTotalPrice.Equals(0) && @quizRecord.HasQuizPayments && !templateAnnualPrice.Equals(0) && clientEmployeeGuide.PqTrainingAnnualFeeCount != 0)
                                        {
                                        <a href = "../Quiz/StartQuiz?clientTemplateId=@quiz.ClientTemplateId&userQuizId=@quiz.SysUserOrgQuizId" > @quiz.TemplateName <i class="fa fa-play" aria-hidden="true"></i></a >
                                        }
                                        else
                                        {
                                        @quiz.TemplateName
                                        }

                                        }

                                        }
                                        else
                                        {
                                        @quiz.TemplateName
                                        }
                                        @*Ends<<<*@


                              


                          @*</div>*@
                            </td>
                        </tr>



                        <tr>
                            <td style="font-weight:bold">@Resources.Common_Status</td>
                            <td class="QuizIcons">
                                @try
                                {
                                    if (@quizRecord.QuizStatus== "quizfailed.png") 
                                    {
                                        @:@Resources.Common_Status_Color_Failed
                                    }
                                    else if(@quizRecord.QuizStatus == "quizpassed.png")
                                    {
                                        @:@Resources.Common_Status_Color_Passed
                                    }
                                    else if(@quizRecord.QuizStatus == "ExpireColor.png")
                                    {
                                        @:@Resources.Common_Status_Color_Expired
                                    }
                                    else if (@quizRecord.QuizStatus == "quizrenewal.png")
                                    {
                                        @:@Resources.Employee_Quiz_Renewal_NotAttended  
                                    }
                                  else if (@quizRecord.QuizStatus == "quiznottaken.png")
                                     {
                                      @:@Resources.Common_Status_Color_NotTaken
                                    }
                                    else { 
                                        @:@Resources.Common_Status_Color_InProcess 
                                        }
                                    // Kiran on 12/17/2014


                                    // Ends<<<
                                }
                                catch (Exception e)
                                {

                                }


                            </td>
                        </tr>
                        <tr>
                            <td width="20%"><b>@Resources.Common_Quiz_Partial_Header_LastWatched</b></td>



                            <td>
                                @try
                                {
                                    // Kiran on 12/17/2014
                                    @quizRecord.QuizDateSubmitted.Value.Date.ToShortDateString()
                                    // Ends<<<
                                }
                                catch (Exception e) { }

                            </td>
                        </tr>
                        <tr>
                            <td width="3%"><b>@Resources.Common_Quiz_Partial_Header_ExpireDate</b></td>
                            <td> @quiz.QuizExpired</td>

                        </tr>
                        <tr>
                            <td width="11%"><b>@Resources.Common_Quiz_Partial_Header_PreviouslyPassed</b></td>
                            <td> @quiz.PreviousLastQuizTakenStatus</td>
                        </tr>
                        <tr>
                            <td width="30%"><b>@Resources.Common_Quiz_Partial_Header_PaymentStatus</b></td>
                            <td>
                                @*Sandhya on 05/08/2015*@
                                @if (@quizRecord != null)
                                {
                                    if ((!@quiz.templateTotalPrice.Equals(0) && @quizRecord.HasQuizPayments) && (templateAnnualPrice.Equals(0)) || (!templateAnnualPrice.Equals(0) && clientEmployeeGuide.PqTrainingAnnualFeeCount != 0 && @quiz.templateTotalPrice.Equals(0)))
                                    {

                                    }
                                    else if (@quiz.templateTotalPrice.Equals(0) && templateAnnualPrice.Equals(0))
                                    {
                                    }
                                    else if (!@quiz.templateTotalPrice.Equals(0) && @quizRecord.HasQuizPayments && !templateAnnualPrice.Equals(0) && clientEmployeeGuide.PqTrainingAnnualFeeCount != 0)
                                    {

                                    }
                                    else if (Model.vendorIsExemptFromTrainingFee)
                                    {

                                    }
                                    else if (quizRecord.QuizResult != true)
                                    {
                                        @Resources.PartialEmployeeQuiz_Quiz_Payment_Status
                                    }
                                }
                            </td>
                        </tr>

                        <tr>
                            <td style="font-weight:bold">
                                Downloads
                            </td>
                            <td>
                                @if (@quiz.HasTrainingCertificate)
                                {

                                    @:<a href="@Url.Action("GenerateTrainingCompletionCertificate", "Employee", new { sysUserOrgQuizId = @quiz.SysUserOrgQuizId })" target="_blank"><i class="fa fa-file-pdf-o" style="color:#ce1c1c;font-size:20px;float:left;" aria-hidden="true"></i></a>
                            }
                                @try
                            {
                                   
                                        if (@quiz.QuizResult == true && @quiz.waiverFormConfigured.HasValue && @quiz.waiverFormConfigured.Value && @quiz.quizWaiverFormCompletionLog != 0)
                                        {
                                    
                                        @*<a href="@(Url.Action("GenerateQuizWaiverFormCertificate", "Employee", new { sysUserOrgQuizId = @quiz.SysUserOrgQuizId }))" target="_blank"><img src="~/images/pdf.png" />Waiver</a>*@
                                        <i class="fa fa-file-pdf-o" style="color:#ce1c1c;font-size:20px;" aria-hidden="true"><a style="font-size:14px;padding-left: 20%;;font-family: 'Open Sans', Arial, sans-serif;" href="@Url.Action("GenerateQuizWaiverFormCertificate", "Employee", new { sysUserOrgQuizId = @quiz.SysUserOrgQuizId })" target="_blank">&nbsp;Waiver</a></i>
                                   
                                        }
                                        else if (@quiz.QuizResult == true && @quiz.waiverFormConfigured == true && @quiz.quizWaiverFormCompletionLog == 0 && Model.Employee != null && Model.Employee)
                                        {
                                          
                                                <i class="fa fa-exclamation-triangle" style="color:#ce1c1c;font-size:20px;padding-left: 20%;" aria-hidden="true"><a style="font-size:14px;font-family: 'Open Sans', Arial, sans-serif;" href="@Url.Action("QuizWaiverForm", "Quiz", new { quizId = @quiz.SysUserOrgQuizId })">&nbsp;Waiver</a></i>
                                          
                                        }
                                        else
                                        {
                                          
                                        }
                                    
                            


                                }
                                catch { }


                            </td>
                        </tr>

                        if (@ViewBag.VBLoggedInUserIsVendorHasNoAccess != null && !@ViewBag.VBLoggedInUserIsVendorHasNoAccess)
                        {
                            <tr>
                                <td>
                                    <a class="imgCursor" href="#!" onclick="AddEmployeeQuizCheckLists('@quizRecord.SysUserOrgQuizId')">@Resources.PartialEmployeeQuiz_Quiz_CheckList</a>
                                </td>
                            </tr>
                        }

                        if (@quiz.QuizzesCategories != null && @quiz.QuizzesCategories.Count() != 0)
                        {
                            <tr>
                                <td colspan="6">
                                    <div class="categories-list" style="background:#e6e6e6;">
                                        <table style="float:none;">
                                            @foreach (var category in @quiz.QuizzesCategories)
                                {
                                                <tr>
                                                    <td>@category.CategoryName</td>
                                                    <td>
                                                        @try
                                                        {
                                                            @category.UserName
                                                        }
                                                        catch
                                                        {

                                                            @category.Email // Kiran on 03/18/2015

                                                        }
                                                    </td> @*Kiran on 03/13/2015*@
                                                    <td style="text-align:center;">@category.SubCategoryInputValue</td>
                                                    <td style="text-align:center;">
                                                        @if (!string.IsNullOrEmpty(@category.SubCategoryEnteredDate))
                                                        {@category.SubCategoryEnteredDate}
                                                    </td>
                                                </tr>
                                            }
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        }
                        @*Ends<<<*@
                    }
                </table>  }
    


            </div>
}
               
            </div>
      
        @*}*@
    </div>
</body>
</html>
