﻿<!--
Page Created Date:  06/06/2015
Created By: Kiran
Purpose: To get Employee assigned Training fee details
Version: 1.0
-->

<!DOCTYPE html>
@using FVGen3.Domain.Entities;
@using Resources;
@model FVGen3.Domain.Entities.LocalGetTrainingDetails
@{
    ViewBag.Title = "Training fee Payment";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml"; //sandhya on 06/13/2015
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Training fee Payment</title>
    <link rel="stylesheet" href="../index.css">
    <link rel="stylesheet" href="/css/appInnerPages.css" />
</head>

<style>
.price-main{
	float:left;
	width:98%;
	height:auto;
	padding:10px 10px 0px 10px;
	-webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
	-moz-box-sizing: border-box;    /* Firefox 1 - 28 */
	box-sizing: border-box;         /* Safari 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+, Android 4.0+, iOS any */
	border:0px solid #ddd;
	background:#fff;
}
.price-sub + .price-sub{
	
}
.price-top{
	width:100%;
	padding:10px 0;
}
.price-top  h2{
	float:none !important;
	font-weight:600;
	margin-bottom:0;
	font-size:18px;
}
.price-emp{
	padding:10px 0;
}
.price-subprice{
		padding:0% 3% 0% 3%;
	    border:0px solid #ddd;
}
.price-subprice + .price-subprice{
	margin-top:10px;
}
.price-row{
	padding:3px 0px 3px 0px ;
	/*border-bottom:1px solid #ddd;*/
	width:95%;
	margin:0 auto;
}
.price-row label {
	display:inline-block;
	text-align:left;
	vertical-align:top;
}
.price-row input[type="checkbox"] {
	margin:2px 0 0 0;
}

.payment-row div{
	display:inline-block;
	width:48%;
	padding:20px 0;
}
.payment-row button{
	float:none !important;
	margin:0 !important;
}
.payment-row div:first-child{
	text-align:left;
}
.payment-row  a{
	float:none !important;
}
.price-total {
	font-weight:700;
	font-size:15px;
	
}
.price-totalDiv{
	width:94%;
	background:#f1f1f1;
	padding: 2% 3%;
	float:left;
	margin-top:20px;
}
.price-totalDiv  .price-row{
	padding:0;
	border-bottom:0;
}
.price-payment{
	display:inline-table;
	width:100%;
	padding:10px 0;
}
.price-payment .payment-row{
	display:table-row;
}
.payment-row div{
	display:table-cell;
	vertical-align:middle;
	padding:15px 0;
}
.payment-row div:first-child{
	width:30%;
}
.payment-row div:last-child{
	
	text-align:right; 
}
.payment-row div:last-child img , p{
		display:inline;
		vertical-align:middle;
}
.employeesGroup
{
    padding:1% 0px 0% 0px;
    border:1px solid #ddd;    
    float:left;
    width:100%;
}
.totalAmount{
	width:94%;
	float:left;
	padding:  3%;
}
.totalAmount .price-row{
	width:98.5%;
	background:#f8f8f8;
	padding:2% 1%;
}
.price-top + .price-top{

float:left;
}
</style>


<body>
     <div class="price-main">
        <div class="price-sub">
            <div class="price-top">
                @foreach (var client in @Model.employeeAdditionAlFeeTrainings.Where(rec => rec.TrainingFee != 0).OrderBy(rec => rec.EmployeeName).GroupBy(rec => rec.ClientName).ToList())
                {
                    <h2>@client.Key</h2>  
                    foreach (var training in client.GroupBy(rec => rec.TemplateName).ToList())
                    { 
                        <div class="price-subprice">
                            
                            <div class="price-row" style="padding-top:10px;padding-bottom:10px;">
                                <label class="price-total" style="width:69%;">@training.Key</label>
                                <label class="price-total">$@training.ToList().FirstOrDefault().TrainingFee </label>
                            </div>

                            <div class="employeesGroup">
                                @foreach (var employee in @training.OrderBy(rec => rec.EmployeeName).ToList())
                                {
                                    <div class="price-row">
                                        <label for="@employee.SysUserOrgQuizId">@employee.EmployeeName</label>
                                        <label style="display:none;" id="@employee.SysUserOrgQuizId" class="TraineeFee">$@training.ToList().FirstOrDefault().TrainingFee</label>
                                    </div>
                                }
                            </div>

                        </div>
                    }  
                }
            </div>

            @if (@Model.employeeAdditionAlFeeTrainings.Where(rec => rec.TrainingFee != 0).ToList().Count != 0)
            {
                using (Html.BeginForm("TrainingFeePaymentForAssignedTrainings", "Employee", FormMethod.Post, new { id = "form" }))
                {
                    for (int i = 0; i < @Model.employeeAdditionAlFeeTrainings.Count(); i++ )
                    {
                        @Html.HiddenFor(model => model.employeeAdditionAlFeeTrainings[i].SysUserOrgQuizId)
                        @Html.HiddenFor(model => model.employeeAdditionAlFeeTrainings[i].ClientId)
                        @Html.HiddenFor(model => model.employeeAdditionAlFeeTrainings[i].ClientName)
                        @Html.HiddenFor(model => model.employeeAdditionAlFeeTrainings[i].ClientTemplateId)
                        @Html.HiddenFor(model => model.employeeAdditionAlFeeTrainings[i].EmployeeName)
                        @Html.HiddenFor(model => model.employeeAdditionAlFeeTrainings[i].EmpId)
                        @Html.HiddenFor(model => model.employeeAdditionAlFeeTrainings[i].TrainingFee)
                        @Html.HiddenFor(model => model.employeeAdditionAlFeeTrainings[i].TemplateName)
                        @Html.HiddenFor(model => model.employeeAdditionAlFeeTrainings[i].PrequalificationID)

                    }

                    <div class="totalAmount">
                        <div class="price-row">
                            <label style="width:69%;" class="price-total">@Resources.Employee_Total_Amount_Payable</label>
                            @*<label class="price-total" style="height: 16px;width:29%">$@Model.employeeAdditionAlFeeTrainings.Sum(rec => rec.TrainingFee)</label>*@
                            <label class="price-total" style="height: 16px;width:29%">@string.Format("{0:c}", ViewBag.TotalDue)
                            @if (ViewBag.TotalDue == 0 && ViewBag.FeeCap != null && ViewBag.FeeCap > 0)
                            {
                                @:(Fee cap Applied)
                            }
                            </label>
                        </div>
                    </div>
                
                    <div class="totalAmount" style="border-top:1px solid #ccc; padding:0px 3%; margin-top:15px;">
                        @if (ViewBag.FeeCap != null && ViewBag.FeeCap > 0)
                        {
                            <div class="price-total">@Resources.FEE_Cap_For @String.Format("{0:C}", ViewBag.FeeCap) @Resources.Prequalification_For_Fee_Cap</div>
                        }
                    <div class="payment-row">
                        <div>
                            <img src="../images/img_accepted-cc.gif">
                        </div>

                        <div>
                            <p>Online Payments are processed securely by</p>
                            <img src="../images/logo_paypal_76w_20h.gif" />
                        </div>
                    </div>
                </div>
                
                    <div class="totalAmount" style="padding:0px ;" >    
                    <div  class="payment-row">
                   
                            @*<input type="hidden" name="payment" id="payment"/>
                            <input type="hidden" name="Quizids" id="Quizids"/>*@
                            <div class="rightButton" style="width:100%">
                                <button type="submit">
                                    @if (ViewBag.TotalDue == 0)
                                    {
                                        @:Notify
                                    }
                                    else
                                    {
                                        @:Pay & Notify
                                    }
                                </button>
                            </div>

                        </div>
                </div>
                }
            }
            else
            { 
                <div class="commentsItalic">@Resources.Employee_Training_Video</div>
                <div>
                    <button type="button" value="Add New" onclick="window.location='../Employee/AddEmployees'">@Resources.Employee_Button</button>
                </div>
            }
        </div>
    </div>
</body>
</html>
