﻿<!--
 *****************************************************
Page Created Date:  11/25/2014
Created By: Kiran Talluri
Purpose: To display the employee assigned trainings
Version: 1.0
****************************************************
-->

@using FVGen3.Domain.Entities;
@using Resources;
@model FVGen3.Domain.Entities.LocalEmployeeUpdateTrainings
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Resources.Update_Employee_Trainings</title>
</head>

@Scripts.Render("~/Scripts/jquery-1.9.1.min.js")
@Styles.Render("~/css/appPopUp.css")
@Styles.Render("~/css/appInnerPages.css")
@Scripts.Render("~/js/common.js")
@Styles.Render("~/Content/Site.css")

<script type="text/javascript">
    $(document).ready(function () {
        $("form :input[type='checkbox']").each(function () {
            if ($(this).attr("assigned") == "true")
                $(this).prop("checked", true);
        });

        setPermissions('@ViewBag.ViewPermissions');

        $("#form").submit(function (event) {
            var rowCount = $('.assignTemplateScrollCheckbox').find("input:checkbox:checked:not([disabled])").length;
            if (rowCount == 0) {
                alert("Please select at least one Training");
                return false;
            }
            else
                return true;
        });
    });
   //Kiran on 11/29/2014
   function SelectAllTrainings()
   {
       if ($("#selectAllTrainings").is(":checked")) {
           $("form :input[type='checkbox']").each(function () {
               if ($(this).attr("editable") == "true")
               {
                    $(this).prop("checked", true);
               }
           });
       }
       else {
           $("form :input[type='checkbox']").each(function () {
           if ($(this).attr("editable") == "true")
               {
                   $(this).prop("checked", false);
               }
            });
       } 
   }
   // Ends<<<
</script>

<body>

@*@if (@ViewBag.VBDisplayError != null && @ViewBag.VBDisplayError == true)
{
<div class="errorMessage">
    Please check atleast one training.
</div>
}*@

@using (Html.BeginForm("UpdateEmployeeTrainings", "Employee", FormMethod.Post, new { id = "form" }))
{
    @Html.HiddenFor(model => model.sysUserOrgId)
    <div class="popUpContainer">
        <div class="popUpContent">
    	    <div class="popUpSubContent">
                @if ((Model.employeeTrainings != null && Model.employeeTrainings.Count() != 0) ||(Model.trainingsToBeAssignedToEmployee != null && Model.trainingsToBeAssignedToEmployee.Count() != 0))
                {
                    <div class="page-title">
	                    <h5>@Resources.Employee_Training_Selection</h5>
                    </div>

                    <div class="assignTemplateScrollCheckbox" style="width:50%" id="BusinessUnits">
                        <table style="margin:0px;">
                            <tr>
                                <td><input type="checkbox" name="selectAllTrainings" id="selectAllTrainings" onclick="SelectAllTrainings()"/></td>
                                <td><label for="selectAllTrainings">@Resources.Common_Label_SelectAll</label></td>
                            </tr>
                            @for (var i = 0; i < @Model.employeeTrainings.Count; i++)
                            {
                                <tr id="EmpTrainingid_@Model.employeeTrainings[i].id">
                                    <td valign="top">
                                        @Html.HiddenFor(model => model.employeeTrainings[i].id)
                                        @Html.HiddenFor(model => model.employeeTrainings[i].Text)
                                        @Html.HiddenFor(model => model.employeeTrainings[i].employeeTakenTraining)
                                        @if (Model.employeeTrainings[i].employeeTakenTraining == false)
                                        {
                                            @Html.CheckBoxFor(model => model.employeeTrainings[i].status, new { @editable = "true", @assigned ="true" })
                                        }
                                        else
                                        { 
                                            @Html.CheckBoxFor(model => model.employeeTrainings[i].status, new { @editable = "false", @disabled = "disabled", @assigned = "true" })
                                        }
                                    </td>

                                    <td valign="top"> 
                                        @{var id = "employeeTrainings_" + @i + "__status";}

                                        <label for="@id">@Model.employeeTrainings[i].Text </label>
                                    </td>

                                    <td style="width:5%;" valign="top"> 
                                    </td>
                                </tr>
                            }
                            
                            @if (Model.trainingsToBeAssignedToEmployee != null && Model.trainingsToBeAssignedToEmployee.Count() != 0)
                            {
                                for (var j = 0; j < Model.trainingsToBeAssignedToEmployee.Count; j++)
                                { 
                                    <tr id="ClientTemplateId_@Model.trainingsToBeAssignedToEmployee[j].clientTemplateID">
                                        <td valign="top">
                                            @Html.HiddenFor(model => model.trainingsToBeAssignedToEmployee[j].clientTemplateID)
                                            @Html.HiddenFor(model => model.trainingsToBeAssignedToEmployee[j].Text)
                                            @Html.CheckBoxFor(model => model.trainingsToBeAssignedToEmployee[j].statusForTrainingToAssign, new { @editable = "true"})   
                                        </td>

                                        <td valign="top">
                                            @{var id2 = "trainingsToBeAssignedToEmployee_" + @j + "__statusForTrainingToAssign";}
                                            <label for="@id2">@Model.trainingsToBeAssignedToEmployee[j].Text</label>
                                        </td>
                                    </tr>
                                }
                            }
                            
                        </table>
                    </div>
                    
                    <div class="rowPopUp">
                        <button type="submit">@Resources.Common_Confirm</button>
                    </div>
                }
                else
                { 
                    <div class="errorMessage">@Resources.Employee_No_Traingings</div>
                }
                </div>

            </div>
        </div>  
}
</body>
</html>
