﻿<!--
 *****************************************************
Page Created Date:  11/25/2014
Created By: Kiran Talluri
Purpose: To display the employee assigned trainings
Version: 1.0
****************************************************
-->

@using FVGen3.Domain.Entities;
@using Resources;
@model FVGen3.Domain.Entities.LocalEmployeeUpdateTrainings
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Update Employee Training</title>
    <style>
    .popUpSubContent .scroll
    {
        width:380px;
    }
    </style>
</head>

@Scripts.Render("~/Scripts/jquery-1.9.1.min.js")
@Styles.Render("~/css/appPopUp.css")
@Styles.Render("~/css/appInnerPages.css")
@Scripts.Render("~/js/common.js")
@Styles.Render("~/Content/Site.css")

<script type="text/javascript">
    $(document).ready(function () {
        $("form :input[type='checkbox']").each(function () {
            if ($(this).attr("assigned") == "true")
                $(this).prop("checked", true);
        });

        setPermissions('@ViewBag.ViewPermissions');

        $("#form").submit(function (event) {
            var rowCount = $('.assignTemplateScrollCheckbox').find("input:checkbox:checked:not([disabled])").length;
            if (rowCount == 0) {
                alert("Please select at least one Training");
                return false;
            }
            else
                return true;
        });
    });
   //Kiran on 11/29/2014
   function SelectAllTrainings()
   {
       if ($("#selectAllTrainings").is(":checked")) {
           $("form :input[type='checkbox']").each(function () {
               if ($(this).attr("editable") == "true")
               {
                    $(this).prop("checked", true);
               }
           });
       }
       else {
           $("form :input[type='checkbox']").each(function () {
           if ($(this).attr("editable") == "true")
               {
                   $(this).prop("checked", false);
               }
            });
       } 
   }
   // Ends<<<
</script>

<body>

@*@if (@ViewBag.VBDisplayError != null && @ViewBag.VBDisplayError == true)
{
<div class="errorMessage">
    Please check atleast one training.
</div>
}*@

@using (Html.BeginForm("UpdateEmployeeTrainings", "Employee", FormMethod.Post, new { id = "form" }))
{
    @Html.HiddenFor(model => model.sysUserOrgId)
    <div class="popUpContainer">
        <div class="popUpContent">
    	    <div class="popUpSubContent">
                @if ((Model.employeeTrainings != null && Model.employeeTrainings.Count() != 0))
                {
                    <div class="page-title">
	                    <h5>@Resources.AssignBulkTrainings_ErrorMessage3</h5>
                    </div>

                    <div class="assignTemplateScrollCheckbox" style="width:50%">
                        <table style="margin:0px;">
                            <tr>
                                <td><input type="checkbox" name="selectAllTrainings" id="selectAllTrainings" onclick="SelectAllTrainings()"/></td>
                                <td><label for="selectAllTrainings">@Resources.Common_Label_SelectAll</label></td>
                            </tr>
                            @{String OldClient = "";
                              int i=0;}


                             @*  @for (var i = 0; i < @Model.employeeTrainings.Count; i++)
                            {
                                if(OldClient!=@Model.employeeTrainings[i].clientOrgName)
                                {
                                    <tr>
                                        <td colspan="2">
                                            <strong>@Model.employeeTrainings[i].clientOrgName</strong>
                                        </td>
                                    </tr>
                                    OldClient=@Model.employeeTrainings[i].clientOrgName;
                                }

                                <tr id="EmpTrainingid_@Model.employeeTrainings[i].id">
                                    <td valign="top">
                                        @Html.HiddenFor(model => model.employeeTrainings[i].id)
                                        @Html.HiddenFor(model => model.employeeTrainings[i].Text)
                                        @Html.HiddenFor(model => model.employeeTrainings[i].employeeTakenTraining)
                                        @Html.HiddenFor(model => model.employeeTrainings[i].assignedStatus)
                                        @Html.HiddenFor(model => model.employeeTrainings[i].clientOrgName)
                                        @if (Model.employeeTrainings[i].assignedStatus == true)
                                        {
                                            @Html.CheckBoxFor(model => model.employeeTrainings[i].status, new { @editable = "true", @assigned = "true" })
                                        }
                                        else
                                        { 
                                            @Html.CheckBoxFor(model => model.employeeTrainings[i].status, new { @editable = "true" })
                                        }
                                    </td>

                                    <td valign="top"> 
                                        @{var id = "employeeTrainings_" + @i + "__status";}

                                        <label for="@id">@Model.employeeTrainings[i].Text </label>
                                    </td>

                                    <td style="width:5%;" valign="top"> 
                                    </td>
                                </tr>
                            }*@



                            @foreach (var empTrainings in @Model.employeeTrainings.GroupBy(rec=>rec.clientOrgName))
                            {
                                    <tr>
                                        <td colspan="2">
                                            <strong>@empTrainings.Key</strong>
                                        </td>
                                    </tr>

                                foreach (var empTraining in empTrainings.OrderBy(rec=>rec.Text))
                                {
                                    <tr id="EmpTrainingid_@Model.employeeTrainings[i].id">
                                        <td valign="top">
                                            <input type="hidden" name="employeeTrainings[@i].id" value="@empTraining.id" />
                                            <input type="hidden" name="employeeTrainings[@i].Text" value="@empTraining.Text" />
                                            <input type="hidden" name="employeeTrainings[@i].employeeTakenTraining" value="@empTraining.employeeTakenTraining" />
                                            <input type="hidden" name="employeeTrainings[@i].assignedStatus" value="@empTraining.assignedStatus" />
                                            <input type="hidden" name="employeeTrainings[@i].clientOrgName" value="@empTraining.clientOrgName" />

                                            @*Kiran on 12/23/2014*@
                                            @if (empTraining.assignedStatus == true)
                                            {   
                                                <input data-val="true" data-val-required="The status field is required." editable="true" id="employeeTrainings_@(i)__status" name="employeeTrainings[@i].status" value="true" type="checkbox"  assigned = "true"
                                                
                                                 @if(empTraining.status)
                                                {
                                                    @:checked="checked"
                                                }
                                                />  
                                            }
                                            @*Ends<<<*@
                                            else
                                            {   
                                                 <input data-val="true" data-val-required="The status field is required." editable="true" id="employeeTrainings_@(i)__status" name="employeeTrainings[@i].status" value="true" type="checkbox"
                                                
                                                 @if (empTraining.status)
                                                 {
                                                    @:checked="checked"
                                                }
                                                />
                                            }
                                        </td>

                                        <td valign="top"> 
                                            @{var id = "employeeTrainings_" + @i + "__status";}

                                            <label for="@id">@empTraining.Text </label>
                                        </td>

                                        <td style="width:5%;" valign="top"> 
                                        </td>
                                    </tr>
                                              i++;
                                }
                            }
                            
                        </table>
                    </div>
                    
                    <div class="rowPopUp">
                        <button type="submit">@Resources.Common_Button_SaveAndNotifyEmployee</button>
                        </div>
    <p>@Resources.AssignBulkTrainings_DisplayMessage</p>
                }
                else
                {
                    <div class="errorMessage">@Resources.AssignBulkTrainings_CannotAssignTrainings_ErrorMessage<br /><br />

                       @Resources.AssignBulkTrainings_CannotAssignTrainings_ErrorMessage2<br />
                        @Resources.AssignBulkTrainings_CannotAssignTrainings_ErrorMessage3<br />
                        @Resources.AssignBulkTrainings_CannotAssignTrainings_ErrorMessage4
                    </div>
                }
                </div>
        </div>
    </div>
}
</body>
</html>
