﻿<!--
 *****************************************************
Page Created Date:  06/10/2013
Created By: Kiran Talluri
Purpose:
Version: 1.0
****************************************************
-->

@model FVGen3.Domain.Entities.LocalAddClientBusinessUnit
@using Resources
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=8"/>
<meta http-equiv="X-UA-Compatible" content="IE=9"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width"/>

<title>@Resources.AddClientBusinessUnit_title</title>
    
</head>
        
    @Styles.Render("~/css/appPopUp.css")
    @Styles.Render("~/css/appInnerPages.css")
    @Scripts.Render("~/js/common.js")
    @Scripts.Render("~/Scripts/jquery-1.9.1.min.js")
    @Styles.Render("~/Content/Site.css")    
 
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

    @* Added code to call setPermissions() function on 08/07/2013 by Kiran Talluri*@      
    <script type="text/javascript">

        $(document).ready(function () {
            setPermissions('@ViewBag.ViewPermissions');

            // Kiran on 11/22/2013
            //$('#RegionLocationTextBox').hide();

            $("#BusinessUnitRegionTxt").change(function () {
                var busUnitLocationValue = $(this).val();
                busUnitLocationValue = $.trim(busUnitLocationValue);

                $('#BusinessUnitRegion option').each(function () {
                    if (this.value.toUpperCase() == busUnitLocationValue.toUpperCase()) {

                        alert("Region named - " + $("#BusinessUnitRegionTxt").val() + " already exist");
                        $("#BusinessUnitRegionTxt").val("");
                        return false;
                    }
                });
            });
            // Ends<<<

        });

        // Kiran on 11/22/2013
        function selectStateOrRegion(stateOrRegion) {
            //alert(stateOrRegion);         
            if (stateOrRegion == "true") {
                $("#State").attr('checked', true);
                showHideRegion();
            }
            else {
                $("#Region").attr('checked', true);
                
                showHideRegion();
            }
        }

        function regionChanged() {
            var busRegion = $("#BusinessUnitRegion").val();

            //alert($('#RegionLocationTextBox').html());
            if (busRegion == "-1") {
                
                $('#RegionLocationTextBox').show();
            }
            else {
                
                $('#RegionLocationTextBox').hide();
            }
        }

        function showHideRegion() {
            var stateOrRegionValue = $("#State").val();
            //alert($("#State").is(":checked"));
            if ($("#State").is(":checked")) {
                $('#RegionLocation').hide();
                $('#StateLocation').show();
                $('#RegionLocationTextBox').hide();
            }
            else {
                $('#RegionLocation').show();
                $('#StateLocation').hide();
                regionChanged();
            }
        }
        // Ends

    </script>
        @* Ends <<<*@    

<body>
    @using (Html.BeginForm())
    {
        <div class="popUpContainer"> 
            <div class="popUpContent">
                <div class="popUpSubContent"> 
             
                    @Html.HiddenFor(x => Model.ClientId) 
                    <div class="page-title">
                        <h2>@Resources.AddClientBusinessUnit_Heading  </h2>
	                </div> 

                    <div class="rowPopUp">
                        <table>
                            <tr>
                                <td><label class="enableStarPopUp">@Resources.AddClientBusinessUnit_Label_UnitName</label></td>
                                <td>
                                    @Html.TextBoxFor(x => Model.BusinessUnitName, new { @maxlength = "50" })
                                    <div class="alertStar">@Html.ValidationMessageFor(x => Model.BusinessUnitName)</div>
                                </td>
                            </tr>
                        </table>                        
                    </div>

                    @* Kiran on 11/22/2013*@
                    @*<div class="rowGeneric" style="float:left;">
                        <table style="margin-left:10px;">
                            <tr>
                               <td width="200">
                                    <label>State or Region</label>                                      
                                </td>
                                <td>
                                    <table>
                                        <tr>
                                            <td width="100" style="padding-left:5px;">
                                                <input type="radio" name="BusinessUnitType" id="State" value="True" onclick="showHideRegion()" />                                                
                                                <label for="State">State</label>
                                            </td>
                                            <td width="100">
                                                <input type="radio" name="BusinessUnitType" id="Region" value="false" onclick="showHideRegion()"/>                                                
                                                <label for="Region">Region</label>
                                            </td>                                             
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>*@

                    @*Srinivas for radio and Checkbox*@

                    <div class="rowPopUpRadioCheckbox">
                        <table>
                            <tr>
                                <td><label style="padding-right:10px;">State or Region</label></td>
                                <td><input type="radio" name="BusinessUnitType" id="State" value="True" onclick="showHideRegion()" /></td>
                                <td><label for="State" style="width:80px;">State</label></td>
                                <td><input type="radio" name="BusinessUnitType" id="Region" value="false" onclick="showHideRegion()"/></td>
                                <td><label for="Region">Region</label></td>
                            </tr>
                        </table>
                    </div>

                    @*<<<<<<<<<<<<Srinivas*@

                    <div class="rowPopUp" id="RegionLocation">
                        <table>
                            <tr>
                             <td><label class="enableStarPopUp">Business Unit Region</label></td>
                                    <td>
                                        @Html.DropDownListFor(model => model.BusinessUnitRegion, (IEnumerable<SelectListItem>)@ViewBag.VBBusinessUnitRegions, new { @onchange = "regionChanged()" })
                                    </td>
                                @*@if (@ViewBag.VBBusinessUnitRegions != null)
                                {    
                                    <td><label class="enableStarPopUp">Business Unit Region</label></td>
                                    <td>
                                        @Html.DropDownListFor(model => model.BusinessUnitRegion, (IEnumerable<SelectListItem>)@ViewBag.VBBusinessUnitRegions, new { @onchange = "regionChanged()" })
                                    </td>
                                }
                                else
                                { 
                                    <td><label class="enableStarPopUp">Business Unit Region</label></td>
                                    <td>
                                        @Html.TextBoxFor(model => model.BusinessUnitRegionTxt)
                                        <div class="alertStar">@Html.ValidationMessageFor(model => model.BusinessUnitRegionTxt)</div>
                                    </td>                                
                                }*@
                            </tr>
                        </table>                        
                    </div>

                    <div class="rowPopUp" id="RegionLocationTextBox">
                        <table>
                            <tr>    
                                <td><label></label></td>                            
                                <td>
                                    @Html.TextBoxFor(model => model.BusinessUnitRegionTxt)                                
                                    <div class="alertStar">@Html.ValidationMessageFor(x => Model.BusinessUnitRegionTxt)</div>
                                </td>
                            </tr>
                        </table>
                    </div>

                    @*Ends <<<*@

                    <div class="rowPopUp" id="StateLocation"> @*Kiran on 11/22/2013*@

                        <table>
                            <tr>
                                <td><label class="enableStarPopUp">@Resources.AddClientBusinessUnit_Label_UnitLocation</label></td>
                                <td>
                                    @Html.DropDownListFor(x => Model.BusinessUnitLocation, new[] {
                    new SelectListItem() { Text = "", Value="" },
                    new SelectListItem() { Text = @Resources.VendorReg_NotApplicable, Value=@Resources.VendorReg_NotApplicable },
                    new SelectListItem() { Text = @Resources.VendorReg_Alabama, Value=@Resources.VendorReg_Alabama },
                    new SelectListItem() { Text = @Resources.VendorReg_Alaska, Value=@Resources.VendorReg_Alaska },      
                    new SelectListItem() { Text = @Resources.VendorReg_Arizona, Value=@Resources.VendorReg_Arizona },
                    new SelectListItem() { Text = @Resources.VendorReg_Arkansas, Value=@Resources.VendorReg_Arkansas },
                    new SelectListItem() { Text = @Resources.VendorReg_California, Value=@Resources.VendorReg_California },
                    new SelectListItem() { Text = @Resources.VendorReg_Colorado, Value=@Resources.VendorReg_Colorado },
                    new SelectListItem() { Text = @Resources.VendorReg_Connecticut, Value=@Resources.VendorReg_Connecticut },
                    new SelectListItem() { Text = @Resources.VendorReg_Delaware, Value=@Resources.VendorReg_Delaware },
                    new SelectListItem() { Text = @Resources.VendorReg_DistOfColumbia, Value=@Resources.VendorReg_DistOfColumbia },
                    new SelectListItem() { Text = @Resources.VendorReg_Florida, Value=@Resources.VendorReg_Florida },
                    new SelectListItem() { Text = @Resources.VendorReg_Georgia, Value=@Resources.VendorReg_Georgia },
                    new SelectListItem() { Text = @Resources.VendorReg_Hawali, Value=@Resources.VendorReg_Hawali },
                    new SelectListItem() { Text = @Resources.VendorReg_Idaho, Value=@Resources.VendorReg_Idaho },
                    new SelectListItem() { Text = @Resources.VendorReg_Illinois, Value=@Resources.VendorReg_Illinois },
                    new SelectListItem() { Text = @Resources.VendorReg_Indiana, Value=@Resources.VendorReg_Indiana },
                    new SelectListItem() { Text = @Resources.VendorReg_Iowa, Value=@Resources.VendorReg_Iowa },
                    new SelectListItem() { Text = @Resources.VendorReg_Kansas, Value=@Resources.VendorReg_Kansas },
                    new SelectListItem() { Text = @Resources.VendorReg_kentucky, Value=@Resources.VendorReg_kentucky },
                    new SelectListItem() { Text = @Resources.VendorReg_Louisiana, Value=@Resources.VendorReg_Louisiana },
                    new SelectListItem() { Text = @Resources.VendorReg_Maine, Value=@Resources.VendorReg_Maine },
                    new SelectListItem() { Text = @Resources.VendorReg_Maryland, Value=@Resources.VendorReg_Maryland },
                    new SelectListItem() { Text = @Resources.VendorReg_Massachusetts, Value=@Resources.VendorReg_Massachusetts },
                    new SelectListItem() { Text = @Resources.VendorReg_Michigan, Value=@Resources.VendorReg_Michigan },
                    new SelectListItem() { Text = @Resources.VendorReg_Minnesota, Value=@Resources.VendorReg_Minnesota },
                    new SelectListItem() { Text = @Resources.VendorReg_Mississippi, Value=@Resources.VendorReg_Mississippi },
                    new SelectListItem() { Text = @Resources.VendorReg_Missouri, Value=@Resources.VendorReg_Missouri },
                    new SelectListItem() { Text = @Resources.VendorReg_Montana, Value=@Resources.VendorReg_Montana },
                    new SelectListItem() { Text = @Resources.VendorReg_Nebraska, Value=@Resources.VendorReg_Nebraska },
                    new SelectListItem() { Text = @Resources.VendorReg_Nevada, Value=@Resources.VendorReg_Nevada },
                    new SelectListItem() { Text = @Resources.VendorReg_NewHampshire, Value=@Resources.VendorReg_NewHampshire },
                    new SelectListItem() { Text = @Resources.VendorReg_NewJersey, Value=@Resources.VendorReg_NewJersey },
                    new SelectListItem() { Text = @Resources.VendorReg_NewMexico, Value=@Resources.VendorReg_NewMexico },
                    new SelectListItem() { Text = @Resources.VendorReg_NewYork, Value=@Resources.VendorReg_NewYork },
                    new SelectListItem() { Text = @Resources.VendorReg_NorthCarolina, Value=@Resources.VendorReg_NorthCarolina },
                    new SelectListItem() { Text = @Resources.VendorReg_NorthDakota, Value=@Resources.VendorReg_NorthDakota },
                    new SelectListItem() { Text = @Resources.VendorReg_Ohio, Value=@Resources.VendorReg_Ohio },
                    new SelectListItem() { Text = @Resources.VendorReg_Oklahoma, Value=@Resources.VendorReg_Oklahoma },
                    //new SelectListItem() { Text = @Resources.VendorReg_Ontario, Value=@Resources.VendorReg_Ontario },
                    new SelectListItem() { Text = @Resources.VendorReg_Oregon, Value=@Resources.VendorReg_Oregon },
                    new SelectListItem() { Text = @Resources.VendorReg_Pennsylvania, Value=@Resources.VendorReg_Pennsylvania },
                    new SelectListItem() { Text = @Resources.VendorReg_PuertoRico, Value=@Resources.VendorReg_PuertoRico},
                    //new SelectListItem() { Text = @Resources.VendorReg_Quebec, Value=@Resources.VendorReg_Quebec },
                    new SelectListItem() { Text = @Resources.VendorReg_RhodeIsland, Value=@Resources.VendorReg_RhodeIsland },
                    //new SelectListItem() { Text = @Resources.VendorReg_Saskatchewan, Value=@Resources.VendorReg_Saskatchewan },
                    new SelectListItem() { Text = @Resources.VendorReg_SouthCarolina, Value=@Resources.VendorReg_SouthCarolina },
                    new SelectListItem() { Text = @Resources.VendorReg_SouthDakota, Value=@Resources.VendorReg_SouthDakota },
                    new SelectListItem() { Text = @Resources.VendorReg_Tennessee, Value=@Resources.VendorReg_Tennessee },
                    new SelectListItem() { Text = @Resources.VendorReg_Texas, Value=@Resources.VendorReg_Texas },
                    new SelectListItem() { Text = @Resources.VendorReg_USVirginIslands, Value=@Resources.VendorReg_USVirginIslands },
                    new SelectListItem() { Text = @Resources.VendorReg_Utah, Value=@Resources.VendorReg_Utah },
                    new SelectListItem() { Text = @Resources.VendorReg_Vermont, Value=@Resources.VendorReg_Vermont },
                    new SelectListItem() { Text = @Resources.VendorReg_Virginia, Value=@Resources.VendorReg_Virginia },
                    new SelectListItem() { Text = @Resources.VendorReg_Washington, Value=@Resources.VendorReg_Washington },
                    new SelectListItem() { Text = @Resources.VendorReg_WestVirginia, Value=@Resources.VendorReg_WestVirginia },
                    new SelectListItem() { Text = @Resources.VendorReg_Wisconsin, Value=@Resources.VendorReg_Wisconsin },
                    new SelectListItem() { Text = @Resources.VendorReg_Wyoming, Value=@Resources.VendorReg_Wyoming },})
                
                            <div class="alertStar">@Html.ValidationMessageFor(x => Model.BusinessUnitLocation)</div>
                                </td>
                            </tr>
                        </table>                                               
                    </div>
                </div>

                <div class="popUpSubContent">
                    <div class="pageFooterContent"> 
                        <div class="pageFooterButtons">
                            <table>
                                <tr>
                                    <td><button type="submit" btnType="Insert" class="PageFooter_Button">@Resources.Common_Save</button></td>
                                    <td btnType="Insert">@Resources.Common_label_or</td>
                                    <td><div class="pageFooterCancelButton"><a href="#!" onclick="window.close();">@Resources.Common_Cancel</a></div></td>
                                </tr>	
                            </table> 
                        </div>
                    </div>        
                </div>                 
            </div>
        </div>
        
        //Kiran on 11/22/2013
    <script type="text/javascript">
        selectStateOrRegion('@Model.BusinessUnitType.ToString().ToLower()');
        //showHideRegion();
    </script>
    }
    @*Ends<<<*@    
</body>
</html>
