﻿<!--
 *****************************************************
Page Created Date:  06/10/2013
Created By: Kiran Talluri
Purpose:
Version: 1.0
****************************************************
-->

@model FVGen3.Domain.Entities.LocalAddClientBusinessUnit
@using Resources
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=8"/>
<meta http-equiv="X-UA-Compatible" content="IE=9"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width"/>

<title>@Resources.AddClientBusinessUnit_title</title>
    
</head>
        
    @Styles.Render("~/css/appPopUp.css")
    @Styles.Render("~/css/appInnerPages.css")
    @Scripts.Render("~/js/common.js")
    @Scripts.Render("~/Scripts/jquery-1.9.1.min.js")
    @Styles.Render("~/Content/Site.css")    
 
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

    @* Added code to call setPermissions() function on 08/07/2013 by Kiran Talluri*@      
    <script type="text/javascript">

        $(document).ready(function () {
            setPermissions('@ViewBag.ViewPermissions');

        });

        

    </script>
        @* Ends <<<*@    

<body>
    @using (Html.BeginForm())
    {
        <div class="popUpContainer"> 
            <div class="popUpContent">
                <div class="popUpSubContent"> 
             
                    @Html.HiddenFor(x => Model.ClientId) 
                    <div class="page-title">
                        <h2>@Resources.AddClientBusinessUnit_Heading  </h2>
	                </div> 

                    <div class="rowPopUp">
                        <table>
                            <tr>
                                <td><label class="enableStarPopUp">@Resources.AddClientBusinessUnit_Label_UnitName</label></td>
                                <td>
                                    @Html.TextBoxFor(x => Model.BusinessUnitName, new { @maxlength = "50" })
                                    <div class="alertStar">@Html.ValidationMessageFor(x => Model.BusinessUnitName)</div>
                                </td>
                            </tr>
                        </table>                        
                    </div>

                </div>

                <div class="popUpSubContent">
                    <div class="pageFooterContent"> 
                        <div class="pageFooterButtons">
                            <table>
                                <tr>
                                    <td><button type="submit" btnType="Insert" class="PageFooter_Button">@Resources.Common_Save</button></td>
                                    <td btnType="Insert">@Resources.Common_label_or</td>
                                    <td><div class="pageFooterCancelButton"><a href="#!" onclick="window.close();">@Resources.Common_Cancel</a></div></td>
                                </tr>	
                            </table> 
                        </div>
                    </div>        
                </div>                 
            </div>
        </div>
        
        
    }
    @*Ends<<<*@    
</body>
</html>
