﻿<!--
 *****************************************************
Page Created Date:  06/08/2013
Created By: Kiran Talluri
Purpose:
Version: 1.0
****************************************************
-->

@using FVGen3.Domain.Entities
@model FVGen3.Domain.Entities.LocalAddClientBusinessUnitSite
@using Resources
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=8"/>
<meta http-equiv="X-UA-Compatible" content="IE=9"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width"/>

        
<title>@Resources.AddClientBusinessUnitSite_title</title>
                    
</head>
    
@Styles.Render("~/css/appPopUp.css")
@Styles.Render("~/css/appInnerPages.css")
@Scripts.Render("~/js/jquery-1.9.1.min.js")
@Scripts.Render("~/js/common.js")
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

    
   
    @* Added code to call setPermissions() function on 08/07/2013 by Kiran Talluri*@      
    <script type="text/javascript">

        $(document).ready(function () {
            setPermissions('@ViewBag.ViewPermissions');
        });
                
    </script>
    @* Ends <<<*@


<body>
    @using (Html.BeginForm())
    {
    	<div class="popUpContainer"> 
    	    <div class="popUpContent">
                <div class="popUpSubContent">
                    @Html.HiddenFor(x => Model.ClientBusinessUnitId)
                    @Html.HiddenFor(m => m.isSiteEdit)
                    @Html.HiddenFor(m => m.OldBusSiteId)
                    @Html.HiddenFor(m => m.ClientId)
                    @Html.HiddenFor(m => m.ClientBusinessUnitSiteId)

                    <div class="page-title">
                        <h2>@Resources.AddClientBusinessUnitSite_heading</h2>
	                </div>

                    <div class="rowPopUp">
                        <table>
                            <tr>
                                <td><label >Business Unit</label></td>
                                <td>@*Added Textbox for businessunit instead of dropdownlist to stop form submission on 8/22/2013*@
                                    @Html.TextBoxFor(x => Model.ClientSelectedBusinessUnit, new { value = Model.ClientSelectedBusinessUnit, @readonly = "readonly" })
                                    @*Ends*@
                                </td>
                            </tr>
                        </table>
    	            </div>            

                    @*<div class="rowPopUp">
                        <table>
                            <tr>
                                <td><label class = "enableStarPopUp">@Resources.AddClientBusinessUnitSite_Label_SiteName
                                    </label> 
                                    <br />
       				                    <p style="margin:0px 5px 0px 10px;font-weight:700;">@Resources.AddClientBusinessUnitSite_Label_SiteName_Example</p>
                                </td>
                                <td>@Html.TextBoxFor(x => Model.BusinessUnitSiteName, new { @maxlength = "50" })
                                    <div class="alertStar">@Html.ValidationMessageFor(x => Model.BusinessUnitSiteName)</div>
                                </td>
                            </tr>
                        </table>
    	            </div>*@

                    <div class="rowPopUp"> @*Srinivas on 18th Dec-2013*@
                        <table>
                            <tr>
                                <td>
                                    <label class = "enableStarPopUp">@Resources.AddClientBusinessUnitSite_Label_SiteName </label> 
                                </td>  
                                <td rowspan="2">
                                    @Html.TextBoxFor(x => Model.BusinessUnitSiteName, new { @maxlength = "50" })
                                    <div class="alertStar">@Html.ValidationMessageFor(x => Model.BusinessUnitSiteName)</div>
                                </td>
                            </tr>
                            <tr> 
       	                        <td>
                                    @Resources.AddClientBusinessUnitSite_Label_SiteName_Example
                                </td>
                            </tr>
                        </table>
                    </div>

                    @*<<<<< End*@


                    <div class="rowPopUp">
                        <table>
                            <tr>
                                <td><label class="enableStarPopUp">@Resources.AddClientBusinessUnitSite_Label_Safetyrep</label>
                                </td>
                                <td>@Html.ListBoxFor(x => Model.BusinessUnitSiteSafetyRepresentative, new MultiSelectList(Model.SafetyRepresentataives, "Value", "Text"), new { multiple="multiple", size="4"})
                                    <div class="alertStar">@Html.ValidationMessageFor(x => Model.BusinessUnitSiteSafetyRepresentative)</div>
                                </td>
                            </tr>
                        </table>
    	            </div>
                </div>
                        
                         


                <div class="contentSub">
            <div class="pageFooterContent"> 
                <div class="pageFooterButtons">
                    <table>
                        <tr>
                             @*Added code on 08/07/2013 for permissions by Kiran Talluri*@
                                    @if (@Model.isSiteEdit)
                                    {
                                        <td><button type="submit" btnType="Update" class="PageFooter_Button">@Resources.Common_Save</button></td>
                                        <td btnType="Update">@Resources.Common_label_or</td>
                                    }
                                    else
                                    {
                                        <td><button type="submit" btnType="Insert" class="PageFooter_Button">@Resources.Common_Save</button></td>
				                        <td btnType="Insert">@Resources.Common_label_or</td>    
                                    } @*Ends<<<*@ 
                            <td><div class="pageFooterCancelButton"><a href="#!" onclick="window.close();">@Resources.Common_Cancel</a></div></td>
                        </tr>	
                    </table> 
                </div>
            </div>
        </div>

            </div>
        
        </div>
    }
    </body>
</html>

