﻿<!--
 *****************************************************
Page Created Date:  06/10/2013
Created By: Kiran Talluri
Purpose:
Version: 1.0
****************************************************
-->

@model FVGen3.Domain.Entities.LocalManageSites
@using Resources
@{
    Layout = null;
}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <title>@Resources.CloseAddClientBusinessUnit_title</title>
        <meta name="viewport" content="width=device-width"/>          
    </head>

    @Styles.Render("~/css/appPopUp.css")
    @Styles.Render("~/css/appInnerPages.css")
    @Scripts.Render("~/Scripts/jquery-1.9.1.min.js")
    <script type = "text/javascript">

        $(document).ready(function () {
            window.close();
            window.opener.updateUnitsList('@Model.ClientId');
        });        

        function closeView(ClientId) {
           // window.opener.updateUnitsList(ClientId);
            window.close();
        }
    </script>

    <body>
        @using (Html.BeginForm())
        {
            <div class="popUpContainer">
                <div class="popUpContent">
                    <div class="popUpSubContent">
	                    <div class="page-title">
                            <h2>@Resources.AddClientBusinessUnitSite_heading</h2>
	                    </div>
                    </div>    
                        <div>
                            <p class="successMessage">@Resources.Common_ChangesSavedSuccessMsg </p>
                        </div>
                
                        <div class="popUpSubContent">
                            <div class="pageFooterContent"> 
                                <div class="pageFooterButtons">
		                            <table>
        	                            <tr>
            	                            <td> <button type="submit" onclick = "closeView('@Model.ClientId')">@Resources.Close_Button_Text</button></td>
                                        </tr>
		                            </table>
	                            </div>
                            </div>
                        </div>                    
                </div>
            </div>
        }
    </body>
</html>
