﻿<!--
 *****************************************************
Page Created Date:  06/07/2013
Created By: Kiran Talluri
Purpose:
Version: 1.0
****************************************************
Date: 7/3/2013 Added code to handle session expiry
****************************************************
-->

@using FVGen3.Domain.Entities;
@model FVGen3.Domain.Entities.LocalManageSites
@using Resources
@{
    ViewBag.Title = "Site Management";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}

<!DOCTYPE html>

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />       
    </head>

    @Scripts.Render("~/js/common.js")
    @Scripts.Render("~/Scripts/jquery-1.9.1.min.js")
   
    <script type = "text/javascript">

        $(document).ready(function () {
            // Added code to call setPermissions() function on 08/07/2013 by Kiran Talluri
            setPermissions('@ViewBag.ViewPermissions');
            // Ends<<< 
        });

        var winPop = false;
        function openWindow(siteId) {
            if (winPop && !winPop.closed) {  //checks to see if window is open  
                winPop.focus();
            }
            else {
                var orgId = $("#ClientId").val();
                if (orgId != -1) {
                    winPop = window.open("AddClientBusinessUnit?orgId=" + orgId + "&siteId=" + siteId, "_blank", "toolbar=no,  directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=yes, width=650, height=400");
                }
                else {
                    return false;
                }
            }
        }

        var winPop = false;
        function openWindow1(clientId, siteId, unitId) {
            if (winPop && !winPop.closed) {  //checks to see if window is open  
                winPop.focus();
            }
            else {
                if (clientId != -1) {
                    winPop = window.open("AddClientBusinessUnitSite?clientId=" + clientId + "&siteId=" + siteId + "&unitId=" + unitId, "_blank", "toolbar=no,  directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=yes, width=650, height=400");
                }
                else {
                    return false;
                }
            }
        }
        

//        function openWindow1(clientId, siteId, unitId) {
//            if (clientId != -1) {
//                window.open("AddClientBusinessUnitSite?clientId=" + clientId + "&siteId=" + siteId + "&unitId=" + unitId, "_blank", "toolbar=no,  directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=yes, width=650, height=400");
//            }
//            else {
//                return false;
//            }
//        }

        function deleteSite(clientId, siteId, lastpageurl) {
            if (siteId != -1) {
                var c = confirm("@Resources.ManageSites_ConfirmDialogue_deletemessage");
                if (c == true) {
                    $.ajax({
                        type: 'GET',
                        url: 'deleteSite',
                        data: 'siteId=' + siteId,
                        success: function (data) {
                            if (data.indexOf("Session expired") >= 0) {
                                window.location = "../SystemUsers/Login?lastLoginPage=" + lastpageurl;
                            }
                            else if (data == "SiteDeleteSuccess") {
                                updateUnitsList(clientId);
                            }
                            // Kiran on 3/22/2014
                            else if (data == "PrequalSiteExists") {
                                alert("Can't delete this site as it is used in one of the Prequalifications");
                                updateUnitsList(clientId);
                            }
                        },
                        error: function () {
                            console.trace();
                            alert("Fail ");
                        }
                    });
                }
            }
            else {
                return false;
            }
        }


        // Kiran on 11/23/2013
        function deleteBusUnitAndSites(busUnitId, id) {
            if (busUnitId != -1) {
                var c = confirm("Do you want to delete Business Unit & its related sites?");
                if (c == true) {
                    $.ajax({
                        type: 'GET',
                        url: 'DeleteBusinessUnitAndSites',
                        data: 'busUnitId=' + busUnitId,
                        success: function (data) {
                            if (data.indexOf("Session expired") >= 0) {
                                //window.location = "../SystemUsers/Login?lastLoginPage=" + lastpageurl;
                                window.location = "../SystemUsers/Login"; //Rajesh on 8/12/2014
                            }
                            else if (data == "UnitDeleteSuccess") {
                                updateUnitsList(id);
                            }
                            else if (data == "Prequalification exist") {
                                alert("This Business Unit has been used by vendor(s) in Prequalification process, can not delete it.");
                            }
                        },
                        error: function () {
                            console.trace();
                            alert("Fail ");
                        }
                    });
                }
            }
            else {
                return false;
            }
        }
        // Ends<<<



        function updateUnitsList(ClientId, lastpageurl) {
            if (ClientId == -1)
                ClientId = $("#ClientId").val();
            $.ajax({
                type: 'GET',
                url: 'PartialManageSitesList',
                data: 'ClientId=' + ClientId,
                success: function (data) {
                    if (data.indexOf("Session expired") >= 0) {
                        window.location = "../SystemUsers/Login?lastLoginPage=" + lastpageurl;
                    }
                    else {
                        $("#SitesManagementResultsBlock_id").html(data);
                        // Added code to call setPermissions() function on 08/07/2013 by Kiran Talluri
                        setPermissions('@ViewBag.ViewPermissions');
                        // Ends<<< 
                    }
                },
                error: function () {
                    console.trace();
                    alert("Fail ");
                }
            });
        }
       
                
    </script>

<body>
    @using (Ajax.BeginForm(new AjaxOptions { UpdateTargetId = "SitesManagementResultsBlock_id" }))
    {
        <div class="contentSub">
            <div>
		        <div class="page-title">
                <h2>@Resources.ManageSites_heading</h2>
                </div>

                <div class="rowIST">
    		    <label class="enableStar">@Resources.ManageSites_Label_client</label>
        	    @Html.DropDownListFor(x => Model.ClientId, (IEnumerable<SelectListItem>)@ViewBag.VBclientsList)
    	        </div>
                
                <div class="rowIST">
                    <table>
                        <tr style="height:50px;">
    		                <td><button type="button" onclick="updateUnitsList(-1,'~/SitesManagement/ManageSites')">@Resources.ManageSites_button_text</button></td>
                        </tr>

                        <tr style="height:50px;">
    		                <td><button type="button" btnType="Insert" onclick="openWindow('-1')">@Resources.Common_AddNew</button></td>
                        </tr>
                    </table>
    	        </div>
            </div><!-------------------------------------------Content01------------------------------------>   

           
        <div id="SitesManagementResultsBlock_id">                        
        </div>
    </div>
    }
    
</body>
</html>
