﻿<!--
 *****************************************************
Page Created Date:  06/10/2013
Created By: Kiran Talluri
Purpose:
Version: 1.0
****************************************************
-->
@using FVGen3.Domain.Entities;
@using Resources
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    
    <head>        
        <title>@Resources.PartialManageSitesList_title</title>
    </head>   

    <body>  
        @if ((Boolean)@ViewBag.notValidId)
        {
            <div class="commentsItalic">@Resources.Common_PromptUser_Errormessage1</div>
        }          
           
         <div class="partialPage">     
             <div> 

                @if (@ViewBag.VBclientBusUnitsList != null)
                {
                    if (@ViewBag.VBclientBusUnitsList.Count == 0)
                    {
                        <div class="commentsItalic">@Resources.Common_NoRecords</div>
                    }

                    foreach (var busUnit in (List<ClientBusinessUnits>)@ViewBag.VBclientBusUnitsList)
                    { 
                        <table>
                            <tr class="partialHeader">
                                <td width="250">
                                    @busUnit.BusinessUnitName 
                                </td>

                                <td width="250">
                                    @Resources.PartialManageSitesList_safetyrep
                                </td>

                                <td align="middle" width="125">
                                    <a href="#!" btnType = "Insert" onclick="openWindow1('@busUnit.ClientId','-1','@busUnit.ClientBusinessUnitId')">
                                            @Resources.PartialManageSitesList_AddSite
                                    </a>
                                </td>

                                <td width="84">
                                    <button type="button" btnType = "Delete" onclick="deleteBusUnitAndSites('@busUnit.ClientBusinessUnitId', '@busUnit.ClientId')" >Delete</button>
                                </td>

                            </tr>
                            @if (busUnit.ClientBusinessUnitSites != null)
                            {
                            foreach (var unitSite in busUnit.ClientBusinessUnitSites.OrderBy(rec => rec.SiteName))  
                                {
                                    var temp = "";
                                    <tr>
					                    <td width="250"><a href="#!" btnType = "Update" onclick="openWindow1('@busUnit.ClientId','@unitSite.ClientBusinessUnitSiteId','@busUnit.ClientBusinessUnitId')">@unitSite.SiteName</a></td>
                	                    <td width="250">
                                                
                                        @foreach (var siteRepresentative in unitSite.ClientBusinessUnitSiteRepresentatives)
                                        {
                                            if (@siteRepresentative.SystemUsers.Contacts.FirstOrDefault() != null)
                                            {
                                                temp = temp + (@siteRepresentative.SystemUsers.Contacts[0].LastName) + " " + (@siteRepresentative.SystemUsers.Contacts[0].FirstName) + ",";
                                            }
                                            else
                                            {
                                                temp = temp + (@siteRepresentative.SystemUsers.Email.ToString()) + ",";
                                            }
                                        }

                                        @if (temp.Length > 0)
                                        {
                                            @temp.Substring(0, temp.Length - 1);
                                        }

                                        </td>
                                        
                	                    <td width="208" colspan="2" align="right">
                		                    <img class="imgCursor" src="~/images/DelButton.png" btnType = "Delete" onclick="deleteSite('@busUnit.ClientId','@unitSite.ClientBusinessUnitSiteId','~/SitesManagement/ManageSites')" />
                	                    </td>
                                        
				                    </tr>
                                }
                            }
                        </table>
                    }
                    
                    @*foreach (var busUnit in (List<IGrouping<string, ClientBusinessUnits>>)@ViewBag.VBclientBusUnitsList)
                    {                        
                        <table>
        		            <tr>
            		            <td class = "page-subtitle">
                                    <h2>@busUnitbyLocation.Key </h2>       				            
                	            </td>
            	            </tr>
        	            </table>  
                                             
                        foreach (var unit in busUnitbyLocation)
                        {
                             <table><!----------Add to table to Sub_Header-------->
                                <tr class="partialHeader">
					                <td width="250">
                                        @unit.BusinessUnitName 
                                    </td>
                                    <td width="250">
                                    @if(@unit.BusinessUnitType==0)
                                    {
                                        @Resources.PartialManageSitesList_safetyrep
                                    }
                                    </td>
                                    <td align="middle" width="125">
                                       Kiran on 3/12/2014
                                        @if(@unit.BusinessUnitType == 0)
                                        {
                                            <a href="#!" btnType = "Insert" onclick="openWindow1('@unit.ClientId','-1','@unit.ClientBusinessUnitId')">
                                                @Resources.PartialManageSitesList_AddSite
                                            </a>
                                        }
                                        Ends<<
                                    </td>
                                    Kiran on 11/23/2013
                                    <td width="84">
                                        <button type="button" btnType = "Delete" onclick="deleteBusUnitAndSites('@unit.ClientBusinessUnitId', '@unit.ClientId')" >Delete</button>
                                    </td>
                                    Ends<<<
				                </tr>
				               
                                @foreach (var unitSite in unit.ClientBusinessUnitSites)
                                {
                                    var temp = "";
                                    <tr>
					                    <td width="250"><a href="#!" btnType = "Update" onclick="openWindow1('@unit.ClientId','@unitSite.ClientBusinessUnitSiteId','@unit.ClientBusinessUnitId')">@unitSite.SiteName</a></td>
                	                    <td width="250">
                                                
                                        @foreach (var siteRepresentative in unitSite.ClientBusinessUnitSiteRepresentatives)
                                        {
                                            temp = temp + (@siteRepresentative.SystemUsers.Contacts[0].FirstName) + " " + (@siteRepresentative.SystemUsers.Contacts[0].LastName) + ",";
                                        }

                                        @if (temp.Length > 0)
                                        {
                                            @temp.Substring(0, temp.Length - 1);
                                        }

                                        </td>
                                        
                	                    <td width="208" colspan="2" align="right">
                		                    <img class="imgCursor" src="~/images/DelButton.png" btnType = "Delete" onclick="deleteSite('@unit.ClientId','@unitSite.ClientBusinessUnitSiteId','~/SitesManagement/ManageSites')" />
                	                    </td>
                                        
				                    </tr>
                                }
                            </table>    
                                                     
                        }

                    }*@
                }           
        
            </div>
        </div>
        
    </body>
</html>
