@charset "utf-8";
/*  Change_Password   */

.AddEdit_content 
  {
	float:left;
	width:680px;
    min-height:100px;
	height:auto;
	font:14px Arial, Helvetica, sans-serif; 
	    
  }             

.AddEdit_row

 { 
 
   float:left; 
	width:668px; 
	height:auto;  
	border-bottom:1px dotted #e6e6e6;
	padding:10px 0 10px 12px;
   } 


.AddEdit_row label
  
  { 
    float:left; 
	width:200px; 
	height:auto; 	
	padding-top:5px;
  }                      
 
.AddEdit_row input
  
  { 
   
    float:left; 
    width:237px; 
    height:24px;
    outline-color:#F93; 
    border:1px solid #ccc;
    box-shadow: 0 0 9px #CFD1D4 inset;
	padding:0 5px 0 5px;
	
	}
.AddEdit_row select
  
  { 
   
   float:left; 
    width:250px; 
    height:26px;
    outline-color:#F93; 
    border:1px solid #ccc;
    box-shadow: 0 0 9px #CFD1D4 inset;
	padding:0 0px 0 5px;
	
  }
.AddEdit_row_select
  
  { 
   
    float:left; 
    width:255px; 
    height:24px;
    outline-color:#F93; 
    border:1px solid #ccc;
    box-shadow: 0 0 9px #CFD1D4 inset;
    margin:0.6em 0 0.5em 0;
	padding:0 0px 0 5px;
	
	}
 
.AddEdit_footer
   
   { 
   
   float:left; 
   margin:30px 0 30px 0;				
   width:665px; 
   min-height:50px;
   height:auto; 
   background-color:#e6e6e6;
   border-top:3px solid #000;
   font-weight:bold; 
   padding:5px 5px 20px 10px; 
 
   }
   

.AddEdit_footer table 
   
   {
	   
	width:220px;
	margin-top:15px;
	 
 
	   
   }
   
   
.AddEdit_close
{
	float:left;
	width:100px;
	height:30px;
	background:#000;
	color:#fff;
	font-size:16px;
	margin-left:10px;
	border:0px;
	outline:none;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
}
 
 
 
.AddEditSave_button:link 

  {
	
	color:#fff; text-decoration:none; 
	
  } 


.AddEditSave_button:visited
  
  {
	color:#fff; text-decoration:none; 
	
  }

.AddEditSave_button:hover
   
   {
	
	color:#fff; 
	text-decoration:none; 
	
   }



.AddEdit_cancel


    {
	
	color:#1c94c4;
	padding-left:13px; 
	line-height:2em; 
	 
   }


.AddEdit_cancela:{  }

.AddEdit_cancel a:link

  {
	  
   color:#1c94c4; text-decoration:none; 
   
   }

.AddEdit_cancel a:visited


   { 
   
   color:#1c94c4; 
   
    }
.AddEdit_cancel:hover

   { 
    
	text-decoration:underline;
    cursor:pointer;
	
	}
 
 .AddEdit_row  label:after

    { 
    
	 content:" * ";
     position:absolute;
     font-size:26px;
	 font-weight:700;
     color:#f00;
     margin:-5px 0px 0px 5px;
	
      }   
 
.AddEdit_rowNoStar
{ 
    float:left; 
    width:668px; 
    height:auto;  
    border-bottom:1px dotted #e6e6e6;
    padding:10px 0 10px 12px;
} 
 
.AddEdit_rowNoStar input
{ 
    float:left; 
    width:237px; 
    height:24px;
    outline-color:#F93; 
    border:1px solid #ccc;
    box-shadow: 0 0 9px #CFD1D4 inset;
    padding:0 5px 0 5px;
}   
	
.AddEdit_rowNoStar label
{ 
    float:left; 
    width:200px; 
    height:auto; 	
    padding-top:5px;
}                      
