/*=======================================================
    CSS for SMI Pages
    Srinivas On 3/30/2015
=====================================================*/

.evaluate .rowIST
{
    position: relative;
}
.evaluated .rowIST input[type="datetime"]{
      width:50%;
      padding: 6px 2%; /* srinivas 1/22/2014 */
	background:#fff;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
	border: solid 2px #ddd;
	
	font-size: 16px;
	color: #222222;
}
.evaluated  .page-subtitle, .buttonDiv{
	display:inline-block;
	float:none !important;
	clear:both;
}

.evaluated  .page-subtitle {
	width:71%;
}
.evaluated  .buttonDiv{
	width:28%;
	text-align:right;
}
.evaluated  .performance{
	float:left;
	width:97%;
	background:#f1f1f1;
	padding: 2% ;
	font-style:italic;
	line-height:150%;
	color:#666;
}
.evaluated  .performance  table{
	width:100%;
}
.evaluated  .performance  th{
	padding:15px 0;
	text-align:left;
	font-weight:normal;
	
}
.performance span{
	
	background:#333;
	padding:5px 8px ;
	color:#fff;
	border-radius:4px;
	margin-right:5px;
	font-size:10px;
	font-weight:600;
	
}
.evaluated  .page-subtitle h2{
	float:none !important;
}
.evaluated .rowIST input[type="radio"]{
	top:0 !important;
}
.evaluated  .commentsItalic{
	clear:both;
	font-style:normal;
	font-weight:600;
}
.divRadioCheckbox *{ 
	display:inline-block;
	float:none !important;
}
.divRadioCheckbox label{ 
	width:auto !important;
}
.divRadioCheckbox div:first-child{
	width:48%;
	padding-right:2%
}
.divRadioCheckbox div  + div{
	width:11.5%;
	vertical-align:top;
}
.belowContentLine {
  float: left;
  margin: 10px 0;
  height: 0;
  width: 100%;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid #ddd;
}
.vendorDetailsTableLeft
{
	float:left;
	width:50%;
	height:auto;
 
	padding-left:0px;
	margin-bottom:10px;
	background:#fff;
}
.vendorDetailsTableright
{
	float:right;
	width:42%;
	height:auto;
	margin-bottom:10px;
}

.vendorComments
{
	float:left;
	width:100%;
	border-collapse:collapse;
	height:auto;  
}

.vendorComments td
{
	padding:5px 0 5px 0 ;
}
.vendorComments_tr
{
	border-bottom:1px solid #ddd;
   
}
    
.contractRating{
 padding:5px 0;
 width:100%;
 float:left;
 font-size:14px;
}
.ratingRow{
 padding:5px 0;
 width:100%;
}
.ratingRow > *{
 display:inline-block;
 vertical-align:middle;
}
.contractRating .green{
 color:#048731;
}
.contractRating h3{
 
 font-size:18px;
}
.separator
{
 padding-bottom:5px;
 border-bottom:1px solid #000;        
}

/*=======================================================
    CSS for SMI Pages
    Srinivas On 3/30/2015
=====================================================*/
.evaluated input[type="datetime"]{
    height: 22px;
    padding : 0px 5px 0px 5px;
    background : #fff;
    float :none !important;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1) inset;
}
.evaluated  .performance{
	float:left;
	width:96%;
	background:#f1f1f1;
	padding: 2% ;
	line-height:150%;
	color:#000;
}
.evaluated  .performance  table{
	width:100%;
	font-style:italic;
}
.evaluated  .performance  th{
	padding:15px 0;
	text-align:left;
	font-weight:normal;
}
.performance span{
	background:#333;
	padding:5px 8px ;
	color:#fff;
	border-radius:4px;
	margin-right:5px;
	font-size:10px;
	font-weight:600;
}
.evaluated .ctrlDivRow div:first-child{
	vertical-align:top;
}
.evaluated .ctrlDivRow div:first-child label{
	width:100%;
}
.evaluated .divCtrl{
	display:inline-block;
	width:49%;
}
.divCtrl > .divCtrlFirst ,  .divCtrlSecond {
	width:48%;
}
.divCtrl > .divCtrlFirst ,  .divCtrlSecond , .divCtrlThird ,  .divCtrlFourth, .divCtrlFifth ,  .divCtrlSixth{
	display:inline-block;
}
.divCtrl > .divCtrlThird ,  .divCtrlFourth , .divCtrlFifth ,  .divCtrlSixth{
	width:24%;
}
.evaluated .ctrlDivRow label , input[type="text"]{
	float:none !important;
}
.evaluated .subsectionHeader{
	width:100%;
	padding:10px 0;
}
.evaluated > .subsectionHeader h3{
	font-size:16px;
	font-weight:700;
	color:#999;
	padding-left:10px;
}
/*4/4/2015 for vendorsearch checkboxes*/
.businessUnitsWithSites .rowIST label{
	

}
.businessUnitsWithSites .first-div , .businessUnitsWithSites .second-div{
	float:left;
	width:100%;
	vertical-align:top;
 }
 .businessUnitsWithSites .first-div {
	/*margin-left:3px;*/
}
.businessUnitsWithSites .second-div {
	float:left;
	/*margin-right:3px;*/
}

.sree  label ,
.sree  input[type="checkbox"]{
	display:table-cell;
	float:none ;
	vertical-align:top;
	
}
.sree  label 
{
	width:auto !important;
	line-height:normal !important;
}
.sree  input[type="checkbox"]{
	margin-top:5px;
	margin-left:0 ;
}
.businessUnitsWithSites .scrollCheckbox{
	 width:100%;
	margin:0;
	padding: 10px 10px 10px 0;
}
.businessUnitsWithSites .scrollCheckbox > .sree{
	display:table.
}
 .sree div{
	display:table-row;
}
