/*===========================Admin Dashboard========================>
 
/* CSS Document for Admin Dashboard.*/

.admDashboardContent
{
	float:left; 
    
	width: 100%; 
    color:#000;
    min-height:480px;
    height:auto; font-size:14px;
	font-family: 'Open Sans', Arial, sans-serif;
	margin-left:0px;
    
	background: #f8f8f8;
}

.dashboardContent table {
    float: left;
}


#search {
	clear:both;
}

.admDashboardQuesSubmitted
{
    float:left;
	min-height:350px;
	height:auto;
	width:690px;
	border-right:1px solid #ddd;
}

.admDashboardQuesSubmitted ul
{
    float:left;
    width:90%;
    display:inline; 
    line-height:1.3em;margin:10px 0px 0px 0px; color:#000;
    padding:5px;/* Srinivas 11/29/2013*/ 
    letter-spacing:0.1px;
}

.admDashboardQuesSubmitted ul li  {list-style:none;}  /* Srinivas 11/29/2013*/

.admDashboardQuesSubmitted ul li a:link { color:#e81f25; text-decoration:none;}/* Srinivas 11/29/2013*/

.admDashboardQuesSubmitted ul li a:visited { color:#e81f25; text-decoration:none;}/* Srinivas 11/29/2013*/

.admDashboardQuesSubmitted ul li a:hover { color:#0000ee; text-decoration:underline; cursor:pointer;}/* Srinivas 11/29/2013*/

.companyLogoWrap { width:150px; height:117px; }  /* Srinivas 11/29/2013*/ 

.companyLogoWrap img  {  /* Srinivas 11/29/2013*/
   
    max-width:150px;
    max-height:100%;    
    cursor: pointer;  
    display:block;
 }

a:link{ }/* Srinivas 11/29/2013*/

a:visited{}/* Srinivas 11/29/2013*/

#clientDashboardInnerContent ul  { /* Srinivas 11/29/2013*/
    
    margin:0;
    padding:1px;
    background:#f5f9fc;
    
}
#clientDashboardInnerContent ul li { /* Srinivas 11/29/2013*/

   
    list-style:none;
    width:82%;
    padding:0px;
    margin:0px;
}
.dashboardRightBorder {/* Srinivas 11/29/2013*/

    float:left;
    width:100%;
    height:100%;
    border-right:1px solid #ddd;
}
.dashboardRightBorder a:link  {/* Srinivas 11/29/2013*/

    color:#e81f25;
    text-decoration:none;
}
.dashboardRightBorder a:visited  {/* Srinivas 11/29/2013*/

    color:#e81f25;
    text-decoration:none;
}
.dashboardRightBorder a:hover  {/* Srinivas 11/29/2013*/

    color:#0000ee;
    text-decoration:underline;
    cursor:pointer;
}


.dashboardInnerContent   /* Used only in Admin Dashboard*/
{
	width:50%;/* Srinivas 11/30/*/
	height:auto;
	/*border-right:1px solid #ccc; */
}
.dashboardInnerContentRightColumn
{
	width:290px;
	height:auto;
	/*border-right:1px solid #ccc; */
}
/*********** Below one is used for left pane ***********/
.dashboardInnerContent ul li,dashboardInnerContentRightColumn ul li
{  
	list-style-type:none;list-style-type:none; float:left;width:99.5%;
	padding:1px 0px 1px 5px; 
}

.dashboardInnerContent ul
{
     width:98%;
     display:inline; 
     line-height:1.3em;margin:3px;/* Srinivas 11/30/*/ color:#000;
	 padding:0px; letter-spacing:0.1px;
}

.dashboardInnerContentRightColumn ul
{
     width:98%;
     display:inline; 
     line-height:1.3em;margin:10px 0px 0px 0px; color:#000;
	 padding:0px; letter-spacing:0.1px;
}

.dashboardInnerContent ul li a:link{ color:#e81f25; text-decoration:none;}
.dashboardInnerContent ul li a:visited{ color:#e81f25;text-decoration:none;  }
.dashboardInnerContent ul li a:hover{ color:#0000ee;text-decoration:underline;  }
.dashboardInnerContent ul:nth-child(odd){background-color:#f6f9fc;}

.dashboardInnerContentRightColumn ul li a:link{ color:#e81f25; text-decoration:none;}
.dashboardInnerContentRightColumn ul li a:visited{ color:#e81f25;text-decoration:none;  }
.dashboardInnerContentRightColumn ul li a:hover{ color:#0000ee;text-decoration:underline;  }
.dashboardInnerContentRightColumn ul:nth-child(odd){background-color:#f6f9fc;}

/************************/

.dashboardInnerContentRightColumn ul li
{  
	list-style-type:none;list-style-type:none; float:left;
	padding:1px 0px 1px 5px; margin:0;
}

.dashboardInnerContentRight ul li
{  
	list-style-type:none;list-style-type:none; float:left;width:99.5%;
	padding:1px 0px 1px 5px; 
}

.dashboardInnerContentRight ul li a:link{ color:#e81f25; text-decoration:none;}
.dashboardInnerContentRight ul li a:visited{ color:#e81f25;text-decoration:none;  }
.dashboardInnerContentRight ul li a:hover{ color:#0000ee;text-decoration:underline;  }
.dashboardInnerContentRight ul:nth-child(even){background-color:#f6f9fc;}

/*
.admDashboardQuesSubmittedTitle
{
	float:left;
	width:100%;
	height:30px;
	background:url(~/images/UnderlineOne.png) no-repeat bottom left;   
}
*/

.dashBoardSubtitles
{
	float:left;
	width: 97.5%; 
	height:auto;
	padding:1% 0 1% 1%;
    /*background:url(~/images/UnderlineTwo.png) no-repeat bottom left; */
}

 
.admDashboardSearch
{
	float:left;
	width:40px;
	height:40px;
	background:url(../images/search.png);
}

.admDashboardRight img
{
	vertical-align:middle;
}

.admDashboardRight ul
{
        float:left;
        width:240px;
        height:auto;
        display:inline;
        
}


.admDashboardRight ul li a:{ color:#000; }
.admDashboardRight ul li a:link{color:#000; text-decoration:none;  }
.admDashboardRight ul li a:visited{ color:#000; }
.admDashboardRight ul li a:hover{ color:#000; cursor:pointer; text-decoration:underline; }
/*
.indicationText
{
    min-width:10px; 
    padding:1px 3px 1px 3px ; 
    font-size:9px; 
    position:absolute; 
    margin:0px 0 0 5px; 
    font-family: 'Open Sans', Arial, Helvetica, Sans-Serif; 
    font-weight:bold; 
    line-height:normal;
    letter-spacing:normal;
    background-color:#555; 
    color:White; 
    border:1px solid white;
}
*/

/*==========================End of the Admin Dashboard==================*/

/*
  Srinivas on 12/012013
------------------------- */


/*
    Page Created Date: 08/29/2013
    Created By: Srinivas
    Purpose: CSS for Admin, Vendor, Client Dashboards.

==================================================
    StyleSheet Structure 
==================================================
	1.Dashboards Menu Styles.
	2.Dashboards Sidebar Styles.
*/

/*
     1.Dashboards Menu Styles.
   ---------------------------*/
.dashboardContent {
	float:left; 
    
	width: 100%; 
    color:#000;
    min-height:480px;
    height:auto; 
    font-size:14px;
    font-family: 'Open Sans', Arial, Helvetica, Sans-Serif;
    margin-left:0px;
}
#search {
	clear:both;
}
input#search-box, select#status-box {
    border: 2px solid;
    box-shadow: 0 0 9px #CFD1D4  inset;
    color: #A7A9AC;
    float: left;
    height:32px;
    max-width: 865px;
    padding-left: 15px;
    padding-right: 15px;
    width: 560px;
	margin-left:0px;
	background:#f9f9f9;
	
}
input#search-button {
    background:url("../images/search.png") no-repeat scroll right -5px transparent;
    border: 1px solid;
    color: #A7A9AC;
    height:36px;
    width: 40px; cursor:pointer;
}
input#status-button {
	background-color: #000;
    border: 0 none;
    color: #fff;
    font-size: 2em;
    /*height: 42px;*/
    margin-left: 5px;
    /*width: 42px; */
}
.dashboardMenu {
    float:left;
	min-height:350px;
	height:auto;	
    width: 100%;
}
.paginationMenu {
    float:left;
	
	height:auto;
	
    width: 100%;
	border-right:1px solid #ddd;
}
.dashboardMenu ul
{
    float:left;
    width:95%;
    display:inline; 
    line-height:1.6em;
    margin:0; 
    color:#000;
    padding:5px; 
    letter-spacing:0.1px;
}
.dashboardMenu ul li  {list-style:none;}  

.dashboardMenu ul li a:link { color:#e81f25; text-decoration:none;} 

.dashboardMenu ul li a:visited { color:#e81f25; text-decoration:none;} 

.dashboardMenu ul li a:hover { color:#0000ee; text-decoration:underline; cursor:pointer;} 

.ClientBG table:nth-child(odd) 
{
    background-color:#e5e6e8;
}
.ClientBGUL ul:nth-child(even) 
{
    background-color:#e5e6e8;
}

.VendorBG ul:nth-child(odd) 
{
    background-color:#e5e6e8;
}
.Prequalifications1 td {
    background: transparent !important;
}

/* Commented by Suresh
.AdminBG tr:nth-child(even) {
    background-color:#f6f6f6;
}
*/


.indicationText {
    min-width:10px; 
    padding:1px 3px 1px 3px ; 
    font-size:9px; 
    position:absolute; 
    margin:0px 0 0 5px; 
    font-family: 'Open Sans', Arial, Helvetica, Sans-Serif; 
    font-weight:bold; 
    line-height:normal;
    letter-spacing:normal;
    background-color:#555; 
    color:White; 
    border:1px solid white;
}

.postionIndicationText{
    text-overflow: ellipsis;
    width: 80px;
    white-space: nowrap;
    overflow: hidden;
}

#superText {
    font-size: 15px;
    position: absolute;
    margin: 0px 0 0 5px;
    font-family: 'Open Sans', Arial, Helvetica, Sans-Serif;
    font-weight: normal;
    line-height: normal;
    letter-spacing: normal;
    color: white;
    top: 6px;
    right: -30px;
}

#superText:before {
    content: "( ";
    font-size: 15px;
    font-family: 'Open Sans', Arial, Helvetica, Sans-Serif;
    color: white;
}
#superText:after {
    content: " )";
    font-size: 15px;
    font-family: 'Open Sans', Arial, Helvetica, Sans-Serif;
    color: white;
}
.admDashboardSearch
{
	float:left;
	width:40px;
	height:40px;
	background:url(../images/search.png);
}
/*
2.Dashboards Sidebar Styles.
   -------------------------------*/
.admDashboardRight {
    float: right;
    width: 100%;
    height: auto;
}
.admDashboardRight img {
	vertical-align:middle;
}
.admDashboardRight ul {
    float:left;
    width:240px;
    height:auto;
    display:inline;
}
.admDashboardRight ul li {
    float:left;
    list-style:none;
    list-style-type: none;
    font-size:1.3em;
    color:#000;
    font-weight:normal;
}
.admDashboardRight ul li a:{ color:#000; }
.admDashboardRight ul li a:link{
    color:#000;
    width: 100%;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.admDashboardRight ul li a:visited{ color:#000; }
.admDashboardRight ul li a:hover{ color:#000; cursor:pointer; text-decoration:underline; }



/********** Ramesh on 12/12/12 ************/

.AdminBG tr td ul:nth-child(even) {
    background-color:#e5e6e8;
}/*--------------------------------------Ramesh-*/
.AdminBG ul /*-----Ramesh----*/ 
{
    position:relative;
}
.AdminBG ul .tag /*-----Ramesh----*/ 
{
    position:absolute;
    top:40%;
    right:4%;
}
.Ul_bgcolor /*-----Ramesh----*/
{
    background:#e5e6e8;
    
    
}
.pagination {/*-----Ramesh----*/
    
    width:97.5%;
    height:99%;
    padding:0.5% 1% 0.5% 0%;
    background:#e5e6e8;
    float:left;
    
    
}

.pagination ul /*-----Ramesh----*/
{
    
    width:auto;
    height:auto;
    margin:0 auto;
    padding:0;
   
    float:right;
}
.pagination ul li /*-----Ramesh----*/ 
{
    display:inline;
    float:left;
    width:auto;
    height:24px;
    text-align:center;
    margin:0 1px 0 1px;
    border:1px solid #ccc;
    background:#dedede;
    cursor:pointer;
    padding: 0 5px;
    
}
.pagination_selection /*----Ramesh---*/
{

    background:#fff;
    
    
}/******** Ends *********/

/*Rajesh on 12/27/2013*/
.rowTabs,.rowTabsCompanies
{
	float:left;
	width:98.5%;
	height:auto;
	border-bottom:1px solid #ddd;
	padding:0px 0px 0px 0px;
	
	
}

.rowTabsCompanies table
{
    float:right;
    border-collapse:collapse;
    margin:0px 20px 0px 0px; 
    padding:0;    
    
}

.rowTabsLabel
{
	float:left;
	width:290px;
	min-height:24px;
	height:auto;
	padding:2px 10px 0px 10px;
	letter-spacing:0.1px;    
}


.selectedTabDB
{
	text-align: center;
	padding: 8px;
	font-size: 1.5em;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top: 1px solid #2083bc;
	border-left: 1px solid #2083bc;
	border-bottom: none;
	border-right: 1px solid #2083bc;
	font-size: 14px;
	font-family: inherit;
	background: transparent;
	color: #2083bc !important;
	margin-right: 5px;
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
}

.selectedTabDB label h3,
.unSelectedTabDB label h3 {
    -webkit-margin-before: 0!important;
    -webkit-margin-after: 0!important;
}

.selectedTabDB label h3 strong,
.unSelectedTabDB label h3 strong {
    font-weight: normal !important;
}

.unSelectedTabDB { 	
	text-align: center;
	padding: 8px;
	font-size: 1.5em;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top: 1px solid #2083bc;
	border-left: 1px solid #2083bc;
	border-bottom: none;
	border-right: 1px solid #2083bc;
	font-size: 14px;
	font-family: inherit;
	background: #2083bc;
	color: #fff !important
}

.unSelectedTabDB label
{
    cursor:pointer;    
}

.unSelectedTabDB input[type='radio'],.selectedTabDB input[type='radio']
{
	display:none;
}
.header .page-title {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
    bottom: 170px;
}
.header .page-title h2 {
    font-size: 3.5em;
    margin-top: 5px;
    color: #fff;
    border-bottom: 1px solid #fff;
    display: inline-block;
}

.Name
{ cursor:pointer;
}
.FirstName
{
cursor:pointer;
}
.ADdvance
{
cursor:pointer;
}
/*Ends<<<*/

/* Srinivas on 8/30/2014 */
.highlightText
{
    background-color:#fcff00;
    font-style:normal;   
    margin-right:3px;
}
.embedList
{
    font-style:italic;   
}
/* Ends */