/*=======================================================
    CSS for Inner Pages
=========================================================
    1. All Rows Textbox, Dropdown, MultiSelect,TextArea and Labels.
        (a). rowIST
        (b). rowRadiocheckbox
        (c). rowGeneric
    2. Fonts.
    3. Alert text to appear below text field.
    4. Star to appear besides textfield.
    5. Error Message & Success Message.
    6. Asterisk for Mandatory Fields.
    7. Individual Page's Footer.
    8. Inner Pages left Side bar.
    9. CSS for Partial page.
    10. Partial page's header and search tab.
    11. Vendor Search.
    12.Hyper Links.
........................................................*/

.rowGeneric {
    float: left;
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    padding: 10px 0px 10px 0px;
}

.rowGenericSelect {
    width: 152px;
    height: 24px;
    padding: 2px 0px 0px 5px;
    background: #fff;
    -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1) inset;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
    border: solid 1px #CCCCCC;
}

.rowGenericInput {
    width: 148px;
    height: 22px;
    padding: 10px 5px;
    background: #fff;
    -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1) inset;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
    border: solid 1px #CCCCCC;
}
/*
.rowGeneric label
{
	float:left;
	width:150px;
	min-height:24px;
	height:auto;
	padding:2px 10px 0px 10px;
	letter-spacing:0.1px; 
}
*/
/* .rowIST is used for Input, Select and TextArea */
.rowIST {
    float: left;
    width: 100%;
    height: auto;
    padding: 10px 0px;
    background: transparent;
}

    .rowIST table {
        width: 100%;
        margin-left: 0 !important;
    }

    .rowIST label {
        float: left;
        width: 100% !important;
        min-height: 24px;
        height: auto;
        padding: 2px 10px 0px 0;
        letter-spacing: 0.1px;
        color: #999999;
        font-size: 14px;
    }

    .rowIST input[type='text'],
    .rowIST input[type='password'],
    .rowIST input[type='file'],
    .rowIST input[type='date'],
    .rowIST input[type='dates'] {
        float: left;
        width: 96%;
        padding: 12px 2%; /* srinivas 1/22/2014 */
        background: #fff;
        -webkit-transition: all 200ms ease-out;
        -moz-transition: all 200ms ease-out;
        -o-transition: all 200ms ease-out;
        transition: all 200ms ease-out;
        border: solid 2px #ddd;
        font-size: 16px;
        color: #222222;
    }

    .rowIST input[type='file'] {
        height: 24px; /* srinivas 1/22/2014 */
        padding: 0px 5px 0px 0px; /* srinivas 1/22/2014 */
    }

    .rowIST input[type="radio"] {
        position: relative;
        top: -4px;
    }


    .rowIST select {
        float: left;
        width: auto;
        height: 24px;
        /*padding:2px 0px 0px 5px;*/
        padding: 0px 0px 2px 5px; /*Srinivas by 6th, Dec-2013 */
        background: #fff;
        -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1) inset;
        -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1) inset;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1) inset;
        -webkit-transition: all 200ms ease-out;
        -moz-transition: all 200ms ease-out;
        -o-transition: all 200ms ease-out;
        transition: all 200ms ease-out;
        border: solid 1px #CCCCCC;
    }

    .rowIST textarea {
        float: left;
        width: 100%;
        height: 100px;
        padding: 5px 5px 5px 5px;
        background: #fff;
        -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1) inset;
        -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1) inset;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1) inset;
        -webkit-transition: all 200ms ease-out;
        -moz-transition: all 200ms ease-out;
        -o-transition: all 200ms ease-out;
        transition: all 200ms ease-out;
        border: solid 1px #CCCCCC;
    }
/*Srinivas on 4/9/2015*/
.title-button {
    width: 100%;
    margin-bottom: 16px;
}

    .title-button h2 {
        margin-bottom: 0 !important;
    }

    .title-button button {
        float: right;
    }

    .title-button div {
        width: 49%;
        display: inline-block;
        vertical-align: middle;
        text-align: left;
    }
/* Ends */
.sortBySelect {
    width: 150px;
    height: 24px;
    padding: 2px 0px 0px 5px;
    background: #fff;
    -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1) inset;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
    border: solid 1px #CCCCCC;
}

.answerInlabel {
    float: left;
    width: 290px;
    min-height: 24px;
    height: auto;
    letter-spacing: 0.1px;
}

label:after {
    content: " ";
    font-weight: 700;
    color: #e81f25;
    margin: 0;
}

.enableStar:after {
    content: "*";
    font-size: 13px;
    font-weight: 700;
    color: #e81f25;
    margin: 0em 0 0 0.1em;
}

.imgCursor {
    cursor: pointer;
}

@font-face {
    font-family: 'WhitneyHTF';
    src: url('fonts/WhitneyHTF.otf');
    src: local('WhitneyHTF'), local('WhitneyHTF'), url('fonts/whitneyhtf.ttf') format('truetype');
}

@font-face {
    font-family: 'WhitneyHTF Bold';
    src: url('fonts/WhitneyHTF-Bold.otf');
    src: local('WhitneyHTF Bold'), local('WhitneyHTF'), url('fonts/whitneyhtf-bold.ttf') format('truetype');
}

/* Alert text to appear below text field*/
.alertText {
    margin: 0 0px 0 310px;
    width: 380px;
    height: auto;
    /*padding:5px 0 5px 3px; */
    color: #e81f25;
    font-weight: normal;
    float: left;
}

/* Star to appear besides textfield*/
.alertStar {
    float: left;
    color: #e81f25;
    line-height: 2.0em;
    margin-left: 5px;
    font-size: 14px;
    margin-bottom: 0px;
}

.successMessage {
    float: left;
    width: 699px;
    height: auto;
    text-align: left;
    padding-top: 5px;
    color: #009900;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

.errorMessage {
    float: left;
    width: 699px;
    height: auto;
    text-align: left;
    padding-top: 5px;
    color: #e81f25;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

    .errorMessage li {
        display: block;
    }


/*==================================Individual Page's content footer used for Save/Cancel etc...===================================*/
.pageFooterContent {
    float: left;
    width: 100%;
    padding: 10px 0px;
    background: #f9f9f9;
    border-top: 2px solid #ccc;
    font-size: 14px;
    margin: 10px 0px 0px 0px;
}

    .pageFooterContent P {
        text-align: justify;
        margin: 0px;
        line-height: 1.5em;
        padding: 10px; /*Rajesh*/
    }

.pageFooterConfirmText {
    float: left;
    width: 100%;
    height: auto;
    margin: 15px 0px 15px 10px; /*Rajesh*/
    padding: 0px; /*Rajesh*/
}

    .pageFooterConfirmText input {
        float: left;
        margin: 0px -5px 0px 0px; /*Rajesh*/
    }


    .pageFooterConfirmText label {
        float: left;
        width: auto;
        height: auto;
        padding: 0px; /*Rajesh*/
        margin: 0px; /*Rajesh*/
    }

.popUpPageFooterContent {
    float: left;
    width: 100%;
    padding: 10px 0px;
    background: #f9f9f9;
    border-top: 2px solid #ccc;
    font-size: 14px;
    margin: 10px 0px 0px 0px;
}

/*
.pageFooterButton
{
	float:left;
	padding:5px;
	background:#000;
	color:#fff;
	font-weight:bold;
	font-size:16px;
	border:0px;
	cursor:pointer;
}
*/
.pageFooterButtons {
    float: left;
    width: auto;
    height: auto;
    /*padding:20px 0px 20px 0px;*/
}

.pageFooterContent td {
    padding: 0px 10px 0px 0px;
}

.pageFooterCancelButton a:link {
    color: #0000ee;
    text-decoration: none;
}

.pageFooterCancelButton a:visited {
    color: #0000ee;
    text-decoration: none;
}

.pageFooterCancelButton a:hover {
    color: #0000ee;
    text-decoration: underline;
}

.pageFooterContent a:link {
    color: #0000ee;
    text-decoration: none;
}

.pageFooterContent a:visited {
    color: #0000ee;
    text-decoration: none;
}

.pageFooterContent a:hover {
    color: #0000ee;
    text-decoration: underline;
}

.PageFooter_Button,
.pageFooterCancelButton a,
.PageFooter_CancleBtn a,
a.button,.k-button,
button {
    float: left;
    padding: 10px 30px;
    width: auto;
    color: #ffffff !important;
    border: 1px solid #afc6e9;
    border-radius: 5px;
    font-size: 16px;
    font-family: inherit;
    font-weight: normal;
    background: #1f83bc !important;
    /*-webkit-box-shadow: 0px 3px 0px rgba(0,0,0,0.25);
	  -moz-box-shadow: 0px 3px 0px rgba(0,0,0,0.25);
	  box-shadow: 0px 3px 0px rgba(0,0,0,0.25);
	  -ms-filter: "progid:DXImageTransform.Microsoft.DropShadow(OffX=0,OffY=3,Strength=0,Color='#444444')";*/
    outline: none;
    text-decoration: none !important;
    text-align: center;
    box-sizing: border-box;
}

    /*.PageFooter_Button,
.pageFooterCancelButton a,
.PageFooter_CancleBtn a,
button {
	float:left;
	padding:5px 50px;
	color:#ffffff !important;
	margin-left:10px; 
    font-size: 1.5em;
	border:1px solid #afc6e9;
	border-radius:8px;
	font-size: 16px;
	font-family: inherit;
	background: #1f83bc;
	box-shadow: inset 0 0 25px rgba(0,0,0,.4);
	outline: none;
	text-decoration: none !important;
}*/

    .PageFooter_Button:hover,
    button:hover {
        background: #17638e;
        cursor: pointer;
    }

.pageFooterCancelButton a,
.PageFooter_CancleBtn a {
    background: #ccc;
}

    .pageFooterCancelButton a:hover,
    .PageFooter_CancleBtn a:hover {
        background: #999;
    }

/*==================================Page Footer===================================*/

/*===================================Inner Pages left Side bar================================*/


.navigation {
    float: left;
    width: 100%;
    height: auto;
}

    .navigation ul {
        display: block;
        width: 100%;
    }

        .navigation ul li {
            float: left;
            width: 100%;
        }

.sideBarContent ul {
    list-style: none;
}

    .sideBarContent ul li {
        float: left;
        width: 100%;
        padding: 11px 0px;
        text-align: left;
        position: relative;
        background-color: #EFEFEF;
    }

        .sideBarContent ul li a {
            color: #1f83bc !important;
            text-decoration: none;
            font-size: 16px;
            /*border-left: 3px solid #1f83bc;*/
            padding: 10px 0 10px 15px;
            display: block;
            text-decoration: none !important;
        }

            .sideBarContent ul li a.sidebar_activie,
            .sideBarContent ul li a:hover {
                color: #fff !important;
                border: none;
                background: #1f83bc;
                padding-left: 17px;
            }

.sideBarContent li a:hover {
    color: #666;
    text-decoration: underline;
}

.sideBarContent li a:active, .sideBarContent li a:focus {
    outline: none;
}

.sideBarContent h3 {
    float: left;
    width: 100%;
    margin: 0px 0 10px 0px;
    padding-bottom: 0px;
    font-size: 1.4em;
    color: #e81f25;
    font-weight: normal;
    height: 25px;
    background: url(../images/sidebarbar.png) no-repeat bottom left;
    text-align: left;
}


/*===================================Side bar left================================*/
/*
.addNewButtonLeft
{
   float:left;
    width:120px;
    height:26px;
    background:url("../images/AddNew1.png") no-repeat;
    border:0px;
    outline:none;
    background-color:transparent;   
    color:#fff;
    font-size:13px;      
    padding:5px 0px 0px 10px; 
}

.addNewButtonLeft:hover
{
    color:#fff;
    text-decoration:underline;
    cursor:pointer;
}

.addNewButtonRight
{
    float:right;
    width:120px;
    height:26px;
    background:url("../images/AddNew1.png") no-repeat;
    border:0px;
    outline:none;
    background-color:transparent;   
    color:#fff;
    font-size:13px;      
    padding:5px 0px 0px 10px;    
    
}

.addNewButtonRight:hover
{
    color:#fff;
    text-decoration:underline;
    cursor:pointer;
} 
*/

button::-moz-focus-inner {
    border: 0;
}

.rowCheckBox {
    float: left;
    width: 100%;
    height: auto;
    border-bottom: 0px solid #ddd;
    padding: 5px 0px 5px 0px;
}

/* CSS for Partial page --- */

.partialPage {
    /*float:left; */
    width: 100%;
    height: auto;
    margin-top: 0.4em;
}

    .partialPage table {
        float: left;
        width: 100%;
        height: auto;
        border-collapse: collapse;
    }

    .partialPage tr {
        border-bottom: 1px solid #ddd;
    }

    .partialPage td {
        padding: 10px 0px 10px 10px;
    }

    .partialPage table ul, ol {
        float: left;
        width: auto;
        height: auto;
        margin-left: 20px;
    }

    .partialPage td img {
        margin: 0 0 -0.2em 0.2em;
    }

.partialHeader {
    font-weight: bold;
}



/*----Partial page's header and search tab -----*/

.rowTabs, .rowTabsCompanies {
    float: left;
    width: 709px;
    height: auto;
    border-bottom: 1px solid #ddd;
    padding: 0px 0px 0px 0px;
}

    .rowTabs > table,
    .rowGeneric > table {
        width: 100% !important;
    }

        .rowTabs > table > tbody > tr > td {
            width: 25% !important;
            display: inline-block;
        }

    .rowTabsCompanies table {
        float: right;
        border-collapse: collapse;
        margin: 0px 20px 0px 0px;
        padding: 0;
    }

.rowTabsLabel {
    float: left;
    width: 290px;
    min-height: 24px;
    height: auto;
    padding: 2px 10px 0px 10px;
    letter-spacing: 0.1px;
}


/*.selectedTab
{
	text-align:center;
	min-width:60px;
	padding:2px 5px;
	color:#214478;
	font-size: 1.5em;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	border-top:1px solid #ddd;
	border-left:1px solid #ddd;
	border-bottom:0px solid #ddd;
	border-right:1px solid #ddd;
	font-size: 14px;
	font-family: inherit;
	 background: #fff; 
}*/
.selectedTab {
    font-size: 18px;
    margin-right: 5px;
    padding: 10px 25px 7px;
    display: block;
    color: #1f83bc !important;
    text-decoration: none !important;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    min-width: 60px;
    background: #ffffff;
    border: 2px solid #1f83bc;
    border-bottom: none;
    white-space: nowrap;
}

.unSelectedTab {
    font-size: 18px;
    margin-right: 5px;
    padding: 10px 25px 7px;
    display: block;
    color: #fff !important;
    text-decoration: none !important;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    min-width: 60px;
    background: #1f83bc;
    border: 2px solid #1f83bc;
    white-space: nowrap;
    align-content: center;
}

    .unSelectedTab label {
        cursor: pointer;
    }

    .unSelectedTab input, .selectedTab input {
        display: none;
    }

.permissionChkBoxes {
    float: left;
    width: 730px;
    height: auto;
    overflow: hidden;
    letter-spacing: 0.1px;
}

    .permissionChkBoxes table {
        width: 100%;
        height: auto;
        margin-bottom: 5px;
        overflow: hidden;
        border-collapse: collapse;
    }

    .permissionChkBoxes tr {
        border-bottom: 1px solid #ddd;
    }

    .permissionChkBoxes td {
        text-align: center; /* center checkbox horizontally */
        vertical-align: middle; /* center checkbox vertically */
        padding: 5px 0 5px 0;
    }

    .permissionChkBoxes th {
        padding-bottom: 5px;
        padding-top: 5px;
        border-bottom: 0px solid #ddd;
        font-size: 1.1em;
    }

permissionChkBoxes2 {
    float: left;
    width: 730px;
    height: auto;
    overflow: visible;
    letter-spacing: 0.1px;
}

.permissionChkBoxes2 table {
    width: 100%;
    height: auto;
    margin-bottom: 5px;
    overflow: visible;
    border-collapse: collapse;
}

.permissionChkBoxes2 tr {
    border-bottom: 1px solid #ddd;
}

.permissionChkBoxes2 td {
    text-align: center; /* center checkbox horizontally */
    vertical-align: middle; /* center checkbox vertically */
    padding: 5px 0 5px 0;
}

.permissionChkBoxes2 th {
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 0px solid #ddd;
    font-size: 1.1em;
}

/********** for Vendor Search *************/
.firstLetter {
    float: left;
    width: 100%;
    height: auto;
    min-height: 86px;
    margin-top: 5px;
    padding: 10px 0 10px 0;
    border-bottom: 1px solid #ddd;
}

.firstLetterLabel {
    float: left;
    width: 100%;
    margin-bottom: 10px;
    padding-top: 5px;
}

.firstLetter table input {
    display: none;
}

.firstLetter table {
    float: right;
    width: 300px;
    height: auto;
    font-weight: 700;
    /*border:1px solid #ddd;*/
    overflow: hidden;
}

/*.alphaCharacters 
{ 
	float:left; 
	width:34px; 
	height:34px; 
	line-height:2.5em; 
	text-align:center; 
	background:#fff; 
    border:1px solid #ddd;
	cursor:pointer; 
	font-weight:bold; 
	color:#0000ee;
}*/
.alphaCharacters {
    float: left;
    width: 34px;
    height: 34px;
    line-height: 2.5em;
    text-align: center;
    background: transparent !important;
    border: none !important;
    cursor: pointer;
    font-weight: bold;
    color: #1f83bc;
}

/* Vendor Search Advanced Tab*/


.scrollCheckbox,
.scrollCheckboxmin /*-----for Bidding Interest----*/ {
    width: 100%;
    height: 100px;
    overflow: scroll;
    overflow-x: hidden;
    outline-color: #F93;
    border: 1px solid #ccc;
    box-shadow: 0 0 9px #CFD1D4t;
    margin: 0px 76px 20px 0px;
    padding: 10px 0px 5px 10px;
}

.scrollCheckboxmin {
    width: 93%;
}

    .scrollCheckbox td,
    .scrollCheckboxmin td {
        padding: 2px 0px 2px 0px;
        width: 1px;
    }

    .scrollCheckboxmin td {
        width: auto;
    }

    .scrollCheckbox label,
    .scrollCheckboxmin label /*-----for Bidding Interest----*/ {
        float: left;
        width: auto;
        height: auto;
        padding-left: 5px;
        font-weight: normal;
        color: #000;
        line-height: .1em;
    }

    .scrollCheckboxmin label /*-----for Bidding Interest----*/ {
        margin-top: 5px;
    }

    .scrollCheckbox input,
    .scrollCheckboxmin input /*-----for Bidding Interest----*/ {
        float: left;
        margin-top: 3px;
    }

        .scrollCheckboxmin input[type="checkbox"] /*-----for Bidding Interest----*/ {
            margin-right: 0;
        }

.buttonmin button {
    margin-left: 0 !important;
}

.commentsItalic {
    color: #999999;
    font-style: italic;
    padding: 5px 0px;
    width: auto;
    float: left;
}

.contractRating {
    padding: 0px 0;
    width: 100%;
    float: left;
    font-size: 14px;
}

.ratingRow {
    padding: 5px 0;
    width: 100%;
}

    .ratingRow > * {
        display: inline-block;
        vertical-align: middle;
    }

.contractRating .green {
    color: #048731;
}

.contractRating h3 {
    font-size: 18px;
}

.like, .dislike {
    width: 40%;
}

    .like img, .dislike img {
        float: left;
        margin-top: 1px;
        margin-right: 4px;
    }

    .like label, .dislike label {
        font-size: 20px;
        float: left;
        margin-top: -1px;
        color: #333;
    }
/*Rajesh on 9-3-2013 for All Common links*/

a:link {
    color: #0000ee;
    text-decoration: none;
}

a:visited {
    color: #0000ee;
    text-decoration: none;
}

a:hover {
    color: #0000ee;
    text-decoration: underline;
}

a:focus {
    color: #0000ee;
    outline-style: none;
}

.controlHintText {
    padding-left: 5px;
}

    .controlHintText li {
        margin-left: 15px;
    }

.subTitleWithBG /* For Title with Background*/ {
    float: left;
    width: 100%;
    height: auto;
    padding: 6px 0 6px 10px;
    background: #e5e6e8;
}

    .subTitleWithBG h2 {
        font-size: 1.4em;
        float: left;
        text-align: left;
        margin: 0;
        padding: 0;
    }

/*
      (c). rowRadioCheckbox
------------------------------*/
.rowRadioCheckbox {
    float: left;
    width: 709px;
    height: auto;
    border-bottom: 1px solid #ddd;
    padding: 11px 0px 11px 0px;
}

    .rowRadioCheckbox input[type='radio'] {
        float: left;
        margin: 3px 3px 0px 5px;
        box-sizing: border-box;
        display: inline-block;
        padding: 1px;
    }

    .rowRadioCheckbox input[type='checkbox'] {
        float: left;
        margin: 3px 3px 3px 4px;
        box-sizing: border-box;
        display: inline-block;
        padding: 1px;
    }

    .rowRadioCheckbox table {
        float: left;
        margin: 0px 0 0 10px;
        border-collapse: collapse;
    }

        .rowRadioCheckbox table td {
            padding-top: 5px;
            padding-bottom: 5px;
        }

        .rowRadioCheckbox table label {
            float: left;
            width: 290px;
            height: auto;
            padding: 0px 8px 0 0;
            letter-spacing: 0.1px;
            line-height: normal;
            margin: 0px;
        }

        .rowRadioCheckbox table input[type='radio'] {
            float: left;
            margin: 3px 5px 3px 3px;
            box-sizing: border-box;
            display: inline-block;
            padding: 1px;
        }

        .rowRadioCheckbox table input[type='checkbox'] {
            float: left;
            margin: 3px 5px 3px 3px;
            box-sizing: border-box;
            display: inline-block;
            padding: 1px;
        }

.noBorder {
    border: none;
}
/*Rajesh on1/6/2014 */
.textEllipse {
    white-space: nowrap;
    width: 12em;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*
Page Created Date: 08/29/2013
Created By: Srinivas
Purpose:Seperating our css with FV just for Dashboard's
Version: 1.0
*/


/*===========================Admin Dashboard========================>
 
/* CSS Document for Admin Dashboard.*/

.admDashboardContent {
    float: left;
    width: 100%;
    color: #000;
    min-height: 480px;
    height: auto;
    font-size: 14px;
    font-family: 'Open Sans', Arial, sans-serif;
    margin-left: 0px;
    background: #f8f8f8;
}

#search {
    clear: both;
}

.admDashboardQuesSubmitted {
    float: left;
    min-height: 350px;
    height: auto;
    width: 690px;
    border-right: 1px solid #ddd;
}

    .admDashboardQuesSubmitted ul {
        float: left;
        width: 90%;
        display: inline;
        line-height: 1.3em;
        margin: 10px 0px 0px 0px;
        color: #000;
        padding: 5px; /* Srinivas 11/29/2013*/
        letter-spacing: 0.1px;
    }

        .admDashboardQuesSubmitted ul li {
            list-style: none;
        }
            /* Srinivas 11/29/2013*/

            .admDashboardQuesSubmitted ul li a:link {
                color: #e81f25;
                text-decoration: none;
            }
            /* Srinivas 11/29/2013*/

            .admDashboardQuesSubmitted ul li a:visited {
                color: #e81f25;
                text-decoration: none;
            }
            /* Srinivas 11/29/2013*/

            .admDashboardQuesSubmitted ul li a:hover {
                color: #0000ee;
                text-decoration: underline;
                cursor: pointer;
            }
/* Srinivas 11/29/2013*/

.companyLogoWrap {
    width: 150px;
    height: 117px;
}
    /* Srinivas 11/29/2013*/

    .companyLogoWrap img { /* Srinivas 11/29/2013*/
        max-width: 150px;
        max-height: 100%;
        cursor: pointer;
        display: block;
    }


#clientDashboardInnerContent ul { /* Srinivas 11/29/2013*/
    margin: 0;
    padding: 1px;
    background: #f5f9fc;
}

    #clientDashboardInnerContent ul li { /* Srinivas 11/29/2013*/
        list-style: none;
        width: 82%;
        padding: 0px;
        margin: 0px;
    }

.dashboardRightBorder { /* Srinivas 11/29/2013*/
    float: left;
    width: 100%;
    height: 100%;
    border-right: 1px solid #ddd;
}

    .dashboardRightBorder a:link { /* Srinivas 11/29/2013*/
        color: #e81f25;
        text-decoration: none;
    }

    .dashboardRightBorder a:visited { /* Srinivas 11/29/2013*/
        color: #e81f25;
        text-decoration: none;
    }

    .dashboardRightBorder a:hover { /* Srinivas 11/29/2013*/
        color: #0000ee;
        text-decoration: underline;
        cursor: pointer;
    }


.dashboardInnerContent /* Used only in Admin Dashboard*/ {
    width: 50%; /* Srinivas 11/30/*/
    height: auto;
    /*border-right:1px solid #ccc; */
}

.dashboardInnerContentRightColumn {
    width: 290px;
    height: auto;
    /*border-right:1px solid #ccc; */
}
/*********** Below one is used for left pane ***********/
.dashboardInnerContent ul li, dashboardInnerContentRightColumn ul li {
    list-style-type: none;
    list-style-type: none;
    float: left;
    width: 99.5%;
    padding: 1px 0px 1px 5px;
}

.dashboardInnerContent ul {
    width: 98%;
    display: inline;
    line-height: 1.3em;
    margin: 3px; /* Srinivas 11/30/*/
    color: #000;
    padding: 0px;
    letter-spacing: 0.1px;
}

.dashboardInnerContentRightColumn ul {
    width: 98%;
    display: inline;
    line-height: 1.3em;
    margin: 10px 0px 0px 0px;
    color: #000;
    padding: 0px;
    letter-spacing: 0.1px;
}

.dashboardInnerContent ul li a:link {
    color: #e81f25;
    text-decoration: none;
}

.dashboardInnerContent ul li a:visited {
    color: #e81f25;
    text-decoration: none;
}

.dashboardInnerContent ul li a:hover {
    color: #0000ee;
    text-decoration: underline;
}

.dashboardInnerContent ul:nth-child(odd) {
    background-color: #f6f9fc;
}

.dashboardInnerContentRightColumn ul li a:link {
    color: #e81f25;
    text-decoration: none;
}

.dashboardInnerContentRightColumn ul li a:visited {
    color: #e81f25;
    text-decoration: none;
}

.dashboardInnerContentRightColumn ul li a:hover {
    color: #0000ee;
    text-decoration: underline;
}

.dashboardInnerContentRightColumn ul:nth-child(odd) {
    background-color: #f6f9fc;
}

/************************/

.dashboardInnerContentRightColumn ul li {
    list-style-type: none;
    list-style-type: none;
    float: left;
    padding: 1px 0px 1px 5px;
    margin: 0;
}

.dashboardInnerContentRight ul li {
    list-style-type: none;
    list-style-type: none;
    float: left;
    width: 99.5%;
    padding: 1px 0px 1px 5px;
}

    .dashboardInnerContentRight ul li a:link {
        color: #e81f25;
        text-decoration: none;
    }

    .dashboardInnerContentRight ul li a:visited {
        color: #e81f25;
        text-decoration: none;
    }

    .dashboardInnerContentRight ul li a:hover {
        color: #0000ee;
        text-decoration: underline;
    }

.dashboardInnerContentRight ul:nth-child(even) {
    background-color: #f6f9fc;
}

/*
.admDashboardQuesSubmittedTitle
{
	float:left;
	width:100%;
	height:30px;
	background:url(~/images/UnderlineOne.png) no-repeat bottom left;   
}
*/

.dashBoardSubtitles {
    float: left;
    width: 97.5%;
    height: auto;
    background: #e5e6e8;
    padding: 1% 0 1% 1%;
    /*background:url(~/images/UnderlineTwo.png) no-repeat bottom left; */
}


.admDashboardSearch {
    float: left;
    width: 40px;
    height: 40px;
    background: url(../images/search.png);
}

.passwordRequirements {
    width: 450px;
    height: auto;
    display: inline-block;
    margin-left: 30px;
    padding: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

    .passwordRequirements ul {
        height: auto;
        display: inline;
        margin-top: 10px;
    }

        .passwordRequirements ul li {
            margin-left: 50px;
        }

    .passwordRequirements .passwordRequirementshdr {
        width: 100% !important;
        min-height: 24px;
        padding: 2px 10px 0px 10px;
        letter-spacing: 0.1px;
        color: #999999;
        font-size: 14px;
    }

}

.admDashboardRight {
    float: right;
    width: 265px;
    height: auto;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

    .admDashboardRight img {
        vertical-align: middle;
    }

    .admDashboardRight ul {
        float: left;
        width: 240px;
        height: auto;
        display: inline;
    }


{
}

.admDashboardRight ul li a: {
    color: #000;
}

    .admDashboardRight ul li a:link {
        color: #000;
        text-decoration: none;
    }

    .admDashboardRight ul li a:visited {
        color: #000;
    }

    .admDashboardRight ul li a:hover {
        color: #000;
        cursor: pointer;
        text-decoration: underline;
    }
/*
.indicationText
{
    min-width:10px; 
    padding:1px 3px 1px 3px ; 
    font-size:9px; 
    position:absolute; 
    margin:0px 0 0 5px; 
    font-family: 'Open Sans', Arial, Helvetica, Sans-Serif; 
    font-weight:bold; 
    line-height:normal;
    letter-spacing:normal;
    background-color:#555; 
    color:White; 
    border:1px solid white;
}
*/
#superText {
    min-width: 10px;
    padding: 1px 3px 1px 3px;
    font-size: 12px;
    position: absolute;
    margin: 0px 0 0 5px;
    font-family: 'Open Sans', Arial, Helvetica, Sans-Serif;
    font-weight: bold;
    line-height: normal;
    letter-spacing: normal;
    background-color: #555;
    color: White;
    border: 1px solid white;
}


/*==========================End of the Admin Dashboard==================*/

/*
  Srinivas on 12/012013
------------------------- */


/*
    Page Created Date: 08/29/2013
    Created By: Srinivas
    Purpose: CSS for Admin, Vendor, Client Dashboards.

==================================================
    StyleSheet Structure 
==================================================
	1.Dashboards Menu Styles.
	2.Dashboards Sidebar Styles.
*/

/*
     1.Dashboards Menu Styles.
   ---------------------------*/
.dashboardContent {
    float: left;
    width: 100%;
    color: #000;
    min-height: 480px;
    height: auto;
    font-size: 14px;
    font-family: 'Open Sans', Arial, Helvetica, Sans-Serif;
    margin-left: 0px;
}

#search {
    clear: both;
}

input#search-box, select#status-box {
    border: 2px solid;
    box-shadow: 0 0 9px #CFD1D4 inset;
    color: #A7A9AC;
    float: left;
    height: 32px;
    max-width: 865px;
    padding-left: 15px;
    padding-right: 15px;
    width: 560px;
    margin-left: 0px;
    background: #f9f9f9;
}

input#search-button {
    background: url("../images/search.png") no-repeat scroll right -5px transparent;
    border: 1px solid;
    color: #A7A9AC;
    height: 36px;
    width: 40px;
    cursor: pointer;
}

input#status-button {
    background-color: #000;
    border: 0 none;
    color: #fff;
    font-size: 2em;
    /*height: 42px;*/
    margin-left: 5px;
    /*width: 42px; */
}

.dashboardMenu {
    float: left;
    min-height: 350px;
    height: auto;
    width: 100%;
}

.paginationMenu {
    float: left;
    height: auto;
    width: 100%;
    border-right: 1px solid #ddd;
}

.dashboardMenu ul {
    float: left;
    width: 95%;
    display: inline;
    line-height: 1.6em;
    margin: 0;
    color: #000;
    padding: 5px;
    letter-spacing: 0.1px;
}

    .dashboardMenu ul li {
        list-style: none;
    }

        .dashboardMenu ul li a:link {
            color: #e81f25;
            text-decoration: none;
        }

        .dashboardMenu ul li a:visited {
            color: #e81f25;
            text-decoration: none;
        }

        .dashboardMenu ul li a:hover {
            color: #0000ee;
            text-decoration: underline;
            cursor: pointer;
        }

.ClientBG table:nth-child(odd) {
    background-color: #e5e6e8;
}

.ClientBGUL ul:nth-child(even) {
    background-color: #e5e6e8;
}

.VendorBG ul:nth-child(odd) {
    background-color: #e5e6e8;
}

/* Commented by Suresh
.AdminBG tr:nth-child(even) {
    background-color:#f6f6f6;
}
*/


.indicationText {
    min-width: 10px;
    padding: 1px 3px 1px 3px;
    font-size: 9px;
    position: absolute;
    margin: 0px 0 0 5px;
    font-family: 'Open Sans', Arial, Helvetica, Sans-Serif;
    font-weight: bold;
    line-height: normal;
    letter-spacing: normal;
    background-color: #555;
    color: White;
    border: 1px solid white;
}

#superText {
    min-width: 10px;
    padding: 1px 3px 1px 3px;
    font-size: 12px;
    position: absolute;
    margin: 0px 0 0 5px;
    font-family: 'Open Sans', Arial, Helvetica, Sans-Serif;
    font-weight: bold;
    line-height: normal;
    letter-spacing: normal;
    background-color: #555;
    color: White;
    border: 1px solid white;
}

.admDashboardSearch {
    float: left;
    width: 40px;
    height: 40px;
    background: url(../images/search.png);
}
/*
2.Dashboards Sidebar Styles.
   -------------------------------*/
.admDashboardRight {
    float: right;
    width: 80%;
    height: auto;
    background: #fff;
    padding: 10%;
}

    .admDashboardRight img {
        vertical-align: middle;
    }

    .admDashboardRight ul {
        float: left;
        width: 240px;
        height: auto;
        display: inline;
    }

        .admDashboardRight ul li {
            float: left;
            list-style: none;
            list-style-type: none;
            font-size: 1.3em;
            color: #000;
            font-weight: normal;
        }

            .admDashboardRight ul li a: {
                color: #000;
            }

                .admDashboardRight ul li a:link {
                    color: #000;
                    border-bottom: 1px solid #ccc;
                    width: 100%;
                    padding-bottom: 5px;
                    margin-bottom: 5px;
                }

                .admDashboardRight ul li a:visited {
                    color: #000;
                }

                .admDashboardRight ul li a:hover {
                    color: #000;
                    cursor: pointer;
                    text-decoration: underline;
                }



/********** Ramesh on 12/12/12 ************/

.AdminBG tr td ul:nth-child(even) {
    background-color: #e5e6e8;
}
/*--------------------------------------Ramesh-*/
.AdminBG ul /*-----Ramesh----*/ {
    position: relative;
}

    .AdminBG ul .tag /*-----Ramesh----*/ {
        position: absolute;
        top: 40%;
        right: 4%;
    }

.Ul_bgcolor /*-----Ramesh----*/ {
    background: #e5e6e8;
}

.pagination { /*-----Ramesh----*/
    width: 97.5%;
    height: 99%;
    padding: 0.5% 1% 0.5% 0%;
    background: #e5e6e8;
    float: left;
}

    .pagination ul /*-----Ramesh----*/ {
        width: 200px;
        height: auto;
        margin: 0 auto;
        padding: 0;
        float: right;
    }

        .pagination ul li /*-----Ramesh----*/ {
            display: inline;
            float: right;
            width: 24px;
            height: 24px;
            text-align: center;
            margin: 0 1px 0 1px;
            border: 1px solid #ccc;
            background: #dedede;
            cursor: pointer;
        }

.pagination_selection /*----Ramesh---*/ {
    background: #fff;
}
/******** Ends *********/

/*Rajesh on 12/27/2013*/
.rowTabs, .rowTabsCompanies {
    float: left;
    width: 98.5%;
    height: auto;
    border-bottom: 1px solid #ddd;
    padding: 0px 0px 0px 0px;
}

    .rowTabsCompanies table {
        float: right;
        border-collapse: collapse;
        margin: 0px 20px 0px 0px;
        padding: 0;
    }

.rowTabsLabel {
    float: left;
    width: 290px;
    min-height: 24px;
    height: auto;
    padding: 2px 10px 0px 10px;
    letter-spacing: 0.1px;
}


.selectedTabDB {
    text-align: center;
    padding: 2px;
    /*color:#214478;*/
    color: #000;
    font-size: 1.5em;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top: 1px solid #999;
    border-left: 1px solid #999;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #999;
    font-size: 14px;
    font-family: inherit;
    background: #fff; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
}

.unSelectedTabDB {
    text-align: center;
    height: auto;
    padding: 2px;
    color: #000;
    font-size: 1.5em;
    border-top: 1px solid #999;
    border-left: 1px solid #999;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #999;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 14px;
    font-family: inherit;
}


    .unSelectedTabDB label {
        cursor: pointer;
    }

    .unSelectedTabDB input[type='radio'], .selectedTabDB input[type='radio'] {
        display: none;
    }

.Name {
    cursor: pointer;
}

.FirstName {
    cursor: pointer;
}

.ADdvance {
    cursor: pointer;
}
/*Ends<<<*/

/* Srinivas on 7/29/2014 For QuestionDependants*/

.forDependancies {
    color: #d00f0f;
}

.scrollCheckboxQuestionDep {
    width: 90%;
    height: 100px;
    overflow: scroll;
    overflow-x: hidden;
    outline-color: #F93;
    border: 1px solid #ccc;
    box-shadow: 0 0 9px #CFD1D4t;
    margin: 0px 76px 20px 0px;
    padding: 10px 0px 5px 10px;
}

    .scrollCheckboxQuestionDep table {
        width: 100%;
        border-collapse: collapse;
    }

    .scrollCheckboxQuestionDep td {
        padding: 2px 0px 2px 0px;
        width: 1px;
    }

    .scrollCheckboxQuestionDep label {
        float: left;
        width: auto;
        height: auto;
        padding-left: 0px;
        font-weight: normal;
        color: #000;
        /*line-height:.1em;*/
    }

    .scrollCheckboxQuestionDep input[type='checkbox'] {
        float: left;
        margin-top: 3px;
        margin: 3px 0 0 0;
    }

/* Srinivas on 8/26/2014 */
.twoLineSpace {
    line-height: 2.0em;
}
/* Ends */

/* Srinivas on 8/21/2014 */
.vendorArchiveddetailsMain {
    float: left;
    width: 100%;
    height: auto;
    padding-top: 30px;
}

.vendorArchivedDetails {
    float: left;
    width: 100%;
    height: auto;
    margin: 0px 0 5px;
}

.versionBar {
    float: left;
    width: 100%;
    height: auto;
    margin: 0 0 5px 0;
}

.versionBarHeader {
    float: left;
    width: 98%;
    height: auto;
    background: #e5e6e8;
    padding: 6px 0px 6px 2%;
    position: relative;
}

    .versionBarHeader table {
        float: left;
        width: 100%;
        height: auto;
        color: #999999;
        font-size: 16px;
        line-height: 30px;
        font-weight: bold;
    }

        .versionBarHeader table td {
            padding-left: 0px;
        }

.versionData {
    float: left;
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    padding: 10px 0px 10px 0px;
}

.staticLabelForVendorArchivedDetails {
    float: left;
    width: 40%;
    height: auto;
    padding-left: 0px;
    padding-right: 10px;
    font-weight: 700;
}

.versionChangedDate {
    float: left;
    width: 100%;
    height: auto;
    padding: 10px 0px 10px 0px;
}

    .versionChangedDate h4 {
        font-style: italic;
        color: #000;
    }
/* Ends */

/* Srinivas on 8/26/2014 */
.BCCText label {
    width: 100%;
    padding-left: 123px;
    line-height: normal;
    min-height: 10px;
}

/* srinivas on 9/11/2014 */
.QuizzesList {
    float: left;
    width: 100%;
    height: auto;
}

    .QuizzesList > table {
        width: 100%;
    }

.QuizzesListCheckbox {
    width: 2%;
}

.QuizzesListLabel {
    width: 98%;
}

.QuizzesList > label {
    padding: 0;
    margin: 0;
    line-height: normal;
    float: none;
    width: 100%;
}
/* Ends */

/* Srinivas on 10/02/2014 */

.scroll {
    float: left;
    width: 98%;
    padding: 1%;
    height: 150px;
    overflow: scroll;
    overflow-x: hidden;
    outline-color: #F93;
    border: 1px solid #ccc;
    box-shadow: 0 0 9px #CFD1D4t;
}

    .scroll > table {
        width: 100%;
    }

.scrollHeader {
    float: left;
    width: 100% !important;
    min-height: 24px;
    height: auto;
    letter-spacing: 0.1px;
    color: #999999;
    font-size: 14px;
}
/* Ends */

/* Srinivas on 10/21/2014 */
.rightButton {
    float: left;
    width: 100%;
    height: auto;
    padding: 10px 0px;
    background: transparent !important;
}

    .rightButton button {
        float: right;
    }

.Users {
    float: left;
    width: 100%;
    height: auto;
    color: #999;
    margin-bottom: 30px;
}

    .Users h2 {
        color: #333;
    }

    .Users table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 10px;
    }

    .Users th,
    .Users td {
        text-align: left;
        padding: 12px 5px;
        border-bottom: 1px solid #ddd;
    }

        .Users td img {
            float: right;
            cursor: pointer;
        }

.existingUser {
    background: #e8e6e6;
    border-top: 4px solid #ccc;
    padding: 10px;
}

    .existingUser h2 {
        color: #444;
    }

    .existingUser th,
    .existingUser td {
        border-bottom: 1px solid #ccc;
        color: #666;
    }

/*
    For Quiz Videos Preview & Employee Training
-------------------------------------------------- */
/* Srinivas on 10/31/2014 for Quiz Videos Preview */

.leftright {
    width: 94%;
    height: auto;
    float: left;
    background-color: black;
    padding: 0 3%;
}

.left {
    float: left;
    width: 30%;
    height: auto;
    padding-top: 30px;
}

.videoTitle {
    float: left;
    width: 100%;
    height: auto;
    font-size: 15px;
    padding: 10px 0;
}

.Video {
    float: left;
    width: auto;
    height: auto;
}

.right {
    float: left;
    width: 54%;
    height: auto;
    padding: 0 8%;
}

.PlayVideo {
    float: left;
    width: 500px;
    height: 325px;
}

    .PlayVideo iframe {
        margin-top: 50px;
        width: 100%;
        height: 100%;
    }

.PlayVideoTitle {
    float: left;
    width: 100%;
    height: 30px;
    font-size: 20px;
    color: #000;
    text-align: left;
}

/* Srinivas on 02/18/2015 */
.categories-list {
    padding: 10px; /*background:#e1dede;*/
    background: #f6f6f6;
}

    .categories-list td, .categories-list th {
        padding: 6px;
        width: 33%;
    }
/* Ends */
.OnsiteOffSiteCriteria {
    display: table;
    margin-bottom: 15px;
}

    .OnsiteOffSiteCriteria > div {
        display: table-row;
        margin: 15px;
    }

        .OnsiteOffSiteCriteria > div > div {
            display: table-cell;
            padding: 5px;
        }

.OnsiteOffSiteCriteriaHeader {
    font-weight: 600;
    width: 125px;
}

.OnsiteOffSiteTrainingComplete {
    font-weight: 600;
    color: green;
}

.OnsiteOffSiteTrainingIncomplete {
    font-weight: 600;
    color: red;
}

#newVisitorButton{
    margin-top:12px;
    margin-left:0px;
}
.ContractorCheckinHidden{
    display: none;
}
.OnsiteOffSiteTrainingNA {
    font-weight: 600;
    color: black;
}
#employeeCheckins,#visitorsCheckins,#checkinsCheckins{
    border-right: 2px gray solid;
    border-top: 2px gray solid;
    border-left: 1px gray solid;
    border-bottom: 2px gray solid;
    display: inline-block;
}
.ContractorCheckinRow {
    display: table-row;
    border: none;
    
}

.ContractorCheckinCell {
    display: table-cell;
    padding: 5px;
    border-left: 1px gray solid;
    border-bottom: 1px gray solid;
    /*white-space: nowrap;*/
}

.ContractorGroup .ContractorCheckinCell{
    border-top: 2px gray solid;
}

.CheckinHeader {
    font-weight: 600;
}
.hideDiv {
    display: none;
}
