/*=============================Login============================*/

.loginMain
{
	height:auto;  
	width:100%;
	float: none !important;
	width: 96% !important;
	max-width: 960px;
	margin: 0 auto !important;
	padding: 0 2%;
	
}

.AreaTwo {
    width: 100%;
    height: auto;
    background: transparent !important;
}
 
.loginAlert
{  
    float:left;
    width:450px;
    /* height:30px; commented by sumanth on 10/31/2015 for FVOS-107 */
    margin-top:0px;
    color:#e91e24;
    text-align:left;
    padding-left:40px;
}

.loginAlert li
{
    display:block;
}

.loginContent
{   
	margin:auto;  
	width:960px;
    min-height:530px;
	height:auto;
	color:#000;
	background:#fff;
    line-height:1.4em;
}
 
 
.loginLeftSide
{
    float:left;
    margin-right: 1%;
    padding:30px 4%;
    width: 45%; 
    color: #999;
	
    background: #ffffff;
    box-shadow: 0 3px 10px 1px rgba(0,0,0,.1);
}
 
 
 .loginRightSide
{
    float: left;
    width: 35%;
    margin-left: 0;
    padding: 65px 0 0 10%;
}
 
 .loginRow
 {
	 float:left;
	 width:100%;
	 height:auto;
	padding:10px 0px 10px 0px;
}

 .loginRow label {
	 float:none;
	 width:100%;
	 display: block;
	 color: #999;
	 font-size: 16px;
	 font-weight: 200;
	 letter-spacing: .03em;
}

.loginRow input {
	float:left;
	width: 90%;
	padding: 10px 0 10px 4%;

	border: solid 1px #ddd;
	background: #fff;
	font-size: 16px;
	
}
 
.loginRemember
{
	float:left;
	width:100%; 
	height:30px;  
	
}
	
.loginRemember input
{
	float:left;
	margin-right:5px;
	background:#fff;
	-moz-box-shadow:0 3px 3px rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1) inset;
	box-shadow:0 3px 3px rgba(0, 0, 0, 0.1) inset;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
	border:solid 1px #CCCCCC;
}
	
.loginRemember label
{
	float:left;
	width:auto;
	line-height:1em;/*Rajesh 1.3->1em*/
}

.loginVendorRegButton, .loginButton {
    color:#fff; 
    border-radius:10px;
    font-size: 20px;
	padding: 10px 20px;
	text-align:center;
	width: 100%;
	
    min-width: 200px;
    background: #1f83bc;
    outline: none;
    border: none;
    cursor: pointer;
	box-shadow: inset 0 0 20px 0 rgba(0,0,0,.4);
    font-weight: 400 !important;
    font-family: 'Open Sans', Arial, sans-serif;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}

.loginVendorRegButton:hover, .loginButton:hover {
	box-shadow: inset 0 0 20px 0 rgba(0,0,0,.7);
	background: #126696;
}

.loginForgot {
	float:left;
	width:auto;
	height:auto;
}
 

a:link {color: #4db8f6; text-decoration:none; }

a:hover {color:#999;}

.loginRightSideHeader
{
	float:left;
	width:100%;
	font-size: 34px;
	font-weight: 300;
	text-align: left;
	color: #4db8f6;
	margin-bottom: 10px;
}

.loginRightSide P
{
	float:left;
	width:auto; 
	text-align:left; 
	color: #999;
	line-height:150%; font-size:14px; letter-spacing:0.1px;
	
	 
	margin-bottom: 15px;
}

/*===========================End of the Login======================*/
.helpContent
{
    font-size:1.2em;
}
.helpContent p
{
    padding:10px;
}


.field-validation-error 
{
    float:left;
    color: #e81f25;
    line-height:2.0em;
    margin-left:5px;
    font-size:14px;
    margin-bottom:0px;
}

