/*=================================================================
    CSS for PopUp Pages
===================================================================
    1. PopUp Index CSS.    
    2. Fonts
    3. Common CSS uses for PopUps    
    4. All Rows Textbox, Dropdown, MultiSelect,TextArea and Lables.
        (a) rowPopUp
        (b) rowGenereric
        (c) rowPopUpRadioCheckbox
    5. Star to appear besides Labels.
    6. Special case in Add Company Pop Up for radio,input and select.
...................................................................*/

/************ for Pop Up Pages ******************/


.popUpContainer
{
	margin:0 auto;
	background:#fff;
	width:100%; 
	font-family: 'Open Sans', Arial, Helvetica, Sans-Serif;
	color:#333; 
	font-size:14px;
	height:auto;  
}

.popUpContent
{
    
	float:left;
	height:auto; 
	width:100%; 
	background:#fff;
	overflow:hidden;  
}
.popUpSubContent
{
	float:left;
	width:100%;
	height:auto;
	background:#fff;
	letter-spacing:0.1px;
	margin-bottom:15px;
}

/******************* For Pop Up Pages *********************/
.rowPopUpGeneric
{
	float:left;
	width:709px;
	height:auto;
	border-bottom:1px solid #ddd;
	padding:10px 0px 10px 0px;
}

.rowPopUpGeneric select   
{	
	float:left;
	width:200px;
	height:24px;
	padding:2px 0px 0px 5px;
	background:#fff;
	-moz-box-shadow:0 3px 3px rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1) inset;
	box-shadow:0 3px 3px rgba(0, 0, 0, 0.1) inset;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
	border:solid 1px #CCCCCC;
	letter-spacing:0px;
}

.rowPopUp
{
	float:left;
	width:709px;
	height:auto;
	border-bottom:1px solid #ddd;
	padding:10px 0px 10px 0px;
}

label:after
{
    content: " ";
    position:absolute;
    font-size:26px;
    font-weight:700;
    color:#e81f25;
    margin:-0.2em 0 0 0.1em;
}

.enableStarPopUp:after
{
    content: "*";
    position:absolute;
    font-size:26px;
    font-weight:700;
    color:#e81f25;
    margin:-5px 0 0 3px;
	
}


/*
.rowPopUp table
{
	width:400px; 
}

.rowPopUp td
{
	width:50%; 
}
*/
.rowPopUp label
{
float: left;
width: 113px;
min-height: 24px;
height: auto;
padding: 2px 10px 0px 0;
letter-spacing: 0.1px;   
}

.rowPopUp input[type='text'],.rowPopUp input[type='password'],.rowPopUp input[type='file'],.rowPopUp input[type='datetime']
{

	float:left;
	width:200px;
	height:24px;
	padding:0px 0px 0px 5px;
	background:#fff;
	-moz-box-shadow:0 3px 3px rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1) inset;
	box-shadow:0 3px 3px rgba(0, 0, 0, 0.1) inset;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
	border:solid 1px #CCCCCC;
	
}

.rowPopUp select   /************ for Multi Select ******/
{	
	float:left;
	width:200px;
	height:24px;
	padding:2px 0px 0px 5px;
	background:#fff;
	-moz-box-shadow:0 3px 3px rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1) inset;
	box-shadow:0 3px 3px rgba(0, 0, 0, 0.1) inset;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
	border:solid 1px #CCCCCC;
	letter-spacing:0px;
}

.rowPopUp select[multiple] {
    height: 80px;
}
.rowPopUp textarea
{
	float:left;
	width:260px;
	height:100px;
	padding:0px 5px 0px 5px;
	background:#fff;
	-moz-box-shadow:0 3px 3px rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1) inset;
	box-shadow:0 3px 3px rgba(0, 0, 0, 0.1) inset;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
	border:solid 1px #CCCCCC;
}

.rowPopUpCombo
{ 
	float:left; 
	width:260px; 
	height:24px;
	outline-color:#F93; 
	border:1px solid #ccc;
	box-shadow: 0 0 9px #CFD1D4 inset;
	margin:0.6em 0 0.5em 0;
	padding:0 0px 0 5px;
}

.errorMessageXXX
{

 float:left;
 width:699px;
 height:auto;
 text-align:left; 
 /*padding-top:5px;*/
 color:#e81f25;
 /*margin-bottom:10px;*/
 border-bottom:1px solid #ddd;
 /*padding-bottom:5px;*/
}


/*
.rowPopUpAddCompanies
{
	float:left;
	width:100%;
	height:auto;
	border-bottom:1px solid #ddd;
	padding:10px 0px 10px 0px;
}

.rowPopUpAddCompaniesLabel
{
	float:left;
	width:300px;
	min-height:24px;
	height:auto;
	padding:2px 10px 0px 10px;
	letter-spacing:0.1px;   
	background:red;
}

.rowPopUpAddCompanies select 
{	
	float:left;
	width:260px;
	height:24px;
	padding:2px 0px 0px 5px;
	outline-color:#F93; 
	border:1px solid #ccc;
	box-shadow: 0 0 9px #CFD1D4 inset;
}
*/

/**************** Special case in Add Company Pop Up for radio,input and select *************/
.popUpAddCompany
{
	float:left;
	width:40%;
	padding:px 0px 0px 0px;
	margin-left:300px;
}
.popUpAddCompany label
{
	float:left;
	width:auto;
	height:auto;
	padding:0px 0px 0px 0px;
	line-height:1.5em;
}
.popUpAddCompany input
{
	float:left;
	width:24px;
	height:24px;
}

#popUpAddCompanyLabel
{
	float:left;
	width:200px;
	min-height:24px;
	height:auto;
	padding:2px 3px 0px 10px;
	letter-spacing:0.1px;   
}

.popUpAddCompanyInput
{
	float:left;
	width:200px;
	height:24px;
	padding:0px 0px 0px 5px;
	background:#fff;
	-moz-box-shadow:0 3px 3px rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1) inset;
	box-shadow:0 3px 3px rgba(0, 0, 0, 0.1) inset;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
	border:solid 1px #CCCCCC;
	
}
/****************** Using their css with our name and minor changes ===============*/
/**** page-tile and page-Subtitle are exception as the old name is already used in old css ********/

h2, h1 {	font-size:1.6em;font-weight: normal; margin-bottom:16px;}

.page-title h2, .s5_mod_h3, .home h3, .left .active a, .col-left h3 {
/* font-family:'WhitneyHTF Bold','Open Sans',Helvetica,Arial,Sans-Serif 

!important; */
}

.page-title h2 {
font-size:2em;
}
.page-title h2, .left .active a {
color:#000 !important;
}

.page-subtitle h2, .s5_mod_h3, .home h3, .left .active a, .col-left h3 {
/* font-family:'WhitneyHTF Bold','Open Sans',Helvetica,Arial,Sans-Serif 

!important; */
}

.page-subtitle h2 {
font-size:1.4em;
}
.page-subtitle h2, .left .active a {
color:#000 !important;
}

@font-face {
	font-family: 'WhitneyHTF';
	src: url('fonts/WhitneyHTF.otf');
	src: local('WhitneyHTF'), local('WhitneyHTF'), url('fonts/whitneyhtf.ttf') format('truetype');
}
@font-face {
	font-family: 'WhitneyHTF Bold';
	src: url('fonts/WhitneyHTF-Bold.otf');
	src: local('WhitneyHTF Bold'), local('WhitneyHTF'), url('fonts/whitneyhtf-bold.ttf') format('truetype');
}


textarea
{
    font-family: 'Open Sans', Arial, Helvetica, Sans-Serif;
	color:#000; 
	font-size:13.4px;
	background:#fff;
	line-height:146%;
}

/*
    (b) rowPopUpRadioCheckbox
-------------------------------*/
.rowPopUpRadioCheckbox {
	float:left;
	width:709px;
	height:auto;
	border-bottom:1px solid #ddd;
	padding:11px 0px 11px 0px;
}
.rowPopUpRadioCheckbox table input[type='text'] {
    float:left;
	width:200px;
	height:24px;
	padding:0px 0px 0px 5px;
	background:#fff;
	-moz-box-shadow:0 3px 3px rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1) inset;
	box-shadow:0 3px 3px rgba(0, 0, 0, 0.1) inset;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
	border:solid 1px #CCCCCC;
}
.rowPopUpRadioCheckbox table {
    float:left;
    margin:0px 0 0 10px; 
    border-collapse:collapse;
}
.rowPopUpRadioCheckbox table td {
    padding-top:5px;
    padding-bottom:5px;
}
.rowPopUpRadioCheckbox table label {
	float:left;
	width:200px;
	height:auto;
	padding:0px 7px 0px 0px;
	letter-spacing:0.1px; 
	line-height:normal;
	margin:0px;  
}
.rowPopUpRadioCheckbox table input[type='radio'] {
	float:left;
	margin: 3px 5px 3px 5px;
	box-sizing: border-box;
	display: inline-block;
	padding:1px;
}
.rowPopUpRadioCheckbox table input[type='checkbox']
{	
	float:left;
	margin:3px 5px 3px 5px;
	box-sizing: border-box;
	display: inline-block;
	padding:1px;
}
.rowPopUpRadioCheckbox input[type='file'] {
    float:left;
	width:280px;
    padding:1px 10px 0 0px;
    height:23px;
}

.assignTemplateScrollCheckbox  
{
     width:210px; 
     float:left;
     height:200px;
	overflow:scroll;
	overflow-x:hidden;
    outline-color:#F93; 
    border:1px solid #ccc;
    box-shadow: 0 0 9px #CFD1D4t;
     padding:5px;  
    /*padding:10px 0px 5px 10px;  */
}
/* Srinivas on 02/17/2015 */
.core table{
	width:99%;
	margin:0 auto;
}
.core th , .core td{
	text-align:left;
	padding:10px;
	vertical-align:top;
	border-bottom:1px solid #ddd;

}
.core lable{
	
	width: 113px;
	min-height: 24px;
	height: auto;
	padding: 2px 10px 0px 0px;
	letter-spacing: 0.1px;
	font-weight: inherit;
	line-height: 1.7em;
	margin: 0px 0px 0px 0px;
}
.core input[type="text"],.core input[type='datetime'], .core select{
	float:left;
	width:200px;
	height:24px;
	padding:0px 0px 0px 5px;
	background:#fff;
	-moz-box-shadow:0 3px 3px rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1) inset;
	box-shadow:0 3px 3px rgba(0, 0, 0, 0.1) inset;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
	border:solid 1px #CCCCCC;
}

.core-options lable, .core-options input[type="radio"]{
	display:inline-block;
	
}

/* Ends */
/* Srinivas on 03/26/2015 */

.trainings .first-div , .trainings .second-div{
	float:left;
	width:49%;
	vertical-align:top;
 }
 .trainings .first-div {
	margin-left:3px;
}
.trainings .second-div {
	float:right;
	margin-right:3px;
}
.trainings .border-box{
	background: none repeat scroll 0% 0% #F8F8F8;
	color: #808080;
	overflow: hidden;
	width: 100%;
	height: auto;
	border: 1px solid #ddd;
	padding: 2%;
    -webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
    -moz-box-sizing: border-box;    /* Firefox 1 - 28 */
    box-sizing: border-box; 
    height:210px;
    overflow-y:Scroll;
    overflow-x:hidden;
}

.trainings .second-div label:after{
	content: " , ";
	color: #808080;
	font-size: 16px;
	font-weight: normal;
	position:relative;
	margin:0  1px 0 0 !important;
}
 
.trainings .second-div label:last-child:after{
	content: "  ";
}

.trainings .assignTemplateScrollCheckbox
{
    width:95%;
}
.trainings .assignTemplateScrollCheckbox label, 
.trainings .border-box label
{
    width:100% !important;
    float:none !important;
    padding-left:0px !important;
    padding-right:0px !important;
}
.notifyUser p
{
    color:#e81f25;
    font-style:italic;  
    line-height:150%;  
    margin:0;
    padding:0;
}
.promptMessage h5
{
}
/* Ends */

/* 9th, Apr-2015 by srinivas */
.statusHistory table{
 width:100%;
 border-collapse:collapse;
}
.statusHistory th, .statusHistory td{
 padding:10px;
 border-bottom:1px solid #ddd;
 text-align:left;
 width:33.3%;
}
/* Ends */
 /* Srinivas on 04/10/2015 */
 .popupCheckBox{
    width:100%;
    height:auto;
    display:table;
  }
  .popupCheckBox div{
   width:100%; 
   display:table-row;     
   }
  .popupCheckBox input[type="checkbox"] , popupCheckBox label{
      float:none !important;
      display:table-cell;
      vertical-align:middle;
  }
   .popupCheckBox input[type="checkbox"]{
      padding-top:6px !important;
  }
    .popupCheckBox label{
     width:100% !important;
      padding:0 0 0 5px !important;	
      float:none !important; 
  }
  /* Ends */
  
/* Srinivas on 04/21/2015 */
 .emailDiv{
 width:100%;
 float:left;
 padding:10px 0;
}
.emailDiv div{
 display:block;
}
.emailDiv div input[type="checkbox"], .emailDiv div label{
 display:inline-block;
 vertical-align:middle;
}
.emailDiv div input[type="checkbox"]{
 margin-left:10px;
}
.emailCheck label{
 width:auto !important;
 float:none !important;
 color:#666;
 font-size:13px;
 min-height:12px;
}
/* Ends */