.mainReports
{
	float:left;
	width: 66%;
	padding: 2%;
	height:auto;
}
.reportSideBar
{
    float:right;
    width:100%;
    height:auto;        
    color:#000;      
}

.reportSideBar ul
{
    margin: 0;
    float:left;
    width:100%;
    height:auto;
    display:inline; 
    
}

.reportSideBar ul li
{
    float:left;
    width:100%;    
    height:auto;
    list-style:none;
    font-size:1.3em;
    color:#000;
    font-weight:normal; 
    padding:11px 0px;
    text-align: left;   
    background: #f8f8f8!important;  
    margin-top:3px
}

.reportSideBar ul li a {
     color:#1f83bc !important;
     text-decoration:none;
     /*border-left: 3px solid #1f83bc;*/
     padding: 10px 0 10px 15px;
     display: block;
     text-decoration:none !important;
 }
.reportSideBar ul li a:hover {
    color:#fff !important;
    border: none;
    background: #1f83bc;
    padding-left: 17px;
}

#panel, #flip { padding: 0!important;}

.reportSideBar table
{
    font-size:0.9em;  
    margin-bottom:10px;  
}

.reportSideBar td
{
    padding:5px 0px;    
}

.reportSideBar table CheckBox
{
    height:24px;
    width:24px;    
}

.rowISTReports {
	float:left;
	width: 100%;
	height:auto;
	padding: 10px 0px;
	background: transparent !important;
}
.rowISTReports table {
    width: 100%;
    margin-left: 0 !important;
}
.rowISTReports table tr td {
    width: 100%;
    display: block;
}


.rowISTReports label,
.rowGenericReportsLabel {
	float:left;
	width: 100% !important;
	min-height:24px;
	height:auto;
	padding: 2px 10px 0px 0;
	letter-spacing:0.1px;   
	color: #999999;
	font-size: 14px;
}

.rowISTReports input[type='text'],.rowISTReports input[type='password'],.rowISTReports input[type='file'],.rowISTReports input[type='date'],.rowISTReports input[type='dates'] {
	
	float:left;
	width: 93%;
	height:14px; /* srinivas 1/22/2014 */
	padding: 12px 2%; /* srinivas 1/22/2014 */
	background:#fff;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
	border: solid 2px #ddd;
	
	font-size: 16px;
	color: #222222;
}
.rowISTReports input[type='file']
{
    height:24px; /* srinivas 1/22/2014 */
	padding:0px 5px 0px 0px; /* srinivas 1/22/2014 */
}
.rowISTReports select,
.rowGenericReportsSelect
{	
	width: 96%;
	height:50px;
	padding:2px 0px 0px 15px;
	background:#fff;
	-moz-appearance: none;
	-webkit-appearance: none;
	-moz-box-shadow:0 3px 3px rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1) inset;
	box-shadow:0 3px 3px rgba(0, 0, 0, 0.1) inset;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
	border:solid 1px #CCCCCC;
}

.rowISTReports textarea
{
	float:left;
	width: 100%;
	height:100px;
	padding:5px 5px 5px 5px;
	background:#fff;
	-moz-box-shadow:0 3px 3px rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1) inset;
	box-shadow:0 3px 3px rgba(0, 0, 0, 0.1) inset;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
	border:solid 1px #CCCCCC;
}

/*.rowISTReports
{
	float:left;
	width:100%;
	height:auto;
	padding:10px 0px;
}
.rowISTReports label
{
	float: left;
	width: 40%;
	height: auto;
	padding: 0 10px;
	letter-spacing: 0.1px;
	line-height: 10px;  
}
.rowISTReports input[type='text']
{
	float:left;
	width:296px;
	height:24px;
	padding:0px 5px 0px 5px;
	background:#fff;
	-moz-box-shadow:0 3px 3px rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1) inset;
	box-shadow:0 3px 3px rgba(0, 0, 0, 0.1) inset;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
	border:solid 1px #CCCCCC;
	
}

.rowISTReports select
{	
	float:left;
	width:302px;
	height:24px;
	padding:2px 0px 0px 5px;
	background:#fff;
	-moz-box-shadow:0 3px 3px rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1) inset;
	box-shadow:0 3px 3px rgba(0, 0, 0, 0.1) inset;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
	border:solid 1px #CCCCCC;
}

.rowISTReports textarea
{
	float:left;
	width:290px;
	height:100px;
	padding:0px 5px 0px 5px;
	background:#fff;
	-moz-box-shadow:0 3px 3px rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1) inset;
	box-shadow:0 3px 3px rgba(0, 0, 0, 0.1) inset;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
	border:solid 1px #CCCCCC;
}*/

.rowGenericReports
{
	float:left;
	width: 95%;
	height:auto;
	padding:10px 0px 10px 0px;
}

.rowGenericReports table {
    width: 100%;
}

/*.rowGenericReports table > tbody > tr > td {
    width: 50% !important;
}*/


.rowGenericReportsSelect {
	width: 96%;
	height:50px;
	padding:2px 0px 0px 15px;
	background:#fff;
	-moz-appearance: none;
	-webkit-appearance: none;
	-moz-box-shadow:0 3px 3px rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1) inset;
	box-shadow:0 3px 3px rgba(0, 0, 0, 0.1) inset;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
	border:solid 1px #CCCCCC;
}
.rowGenericReportsInput {    
	width: 91%;
	height:22px;
	padding: 12px 2%;
	background:#fff;
	-moz-box-shadow:0 3px 3px rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1) inset;
	box-shadow:0 3px 3px rgba(0, 0, 0, 0.1) inset;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
	border:solid 1px #CCCCCC;
}

.rowGenericReportsLabel
{
	float: left;
	width: 40%;
	padding-left: 10px;
	line-height: 10px;
}

.scrollCheckboxReports/*-----for Bidding Interest----*/
{
    width:96% !important; 
    height:100px;
	overflow:scroll;
	overflow-x:hidden;
    outline-color:#F93; 
    border:1px solid #ccc;
    box-shadow: 0 0 9px #CFD1D4t;
    margin:0px 0px 0px   0px;
    padding:10px 0px 5px 10px;
    background: #fff; 
}
.scrollCheckboxReports td
{
	padding:2px 0px 2px 0px ;
}
.scrollCheckboxReports label/*-----for Bidding Interest----*/
{
	float:left;
	width:auto; 
	height:auto; 
	padding-left:5px; 
	font-weight:normal;
	color:#000;
	line-height:.1em;
   
}

.scrollCheckboxReports input/*-----for Bidding Interest----*/
{
	float:left;
	margin-top:3px;
}
#ClientOrgId{
    width:96%;
}
.sortBySelectReports
{	
    width:150px;
	height:24px;
	padding:2px 0px 0px 5px;
	background:#fff;
	-moz-box-shadow:0 3px 3px rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1) inset;
	box-shadow:0 3px 3px rgba(0, 0, 0, 0.1) inset;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
	border:solid 1px #CCCCCC;
}
.controls {
    width: 98%;
}