/* CSS Document for BUs

	Date: 19th, Feb-2015 */
 
.list-bu .page-subtitle{
	width:100%;
	float:left;
}
.list-title {
	font-weight:600;
	line-height:35px;
}
.lable-comma-first {
	float:left;

}
.orgName{
	margin-bottom:10px;
}
.pricebu-row{
	width:100%;
	padding:10px 0;
}
.pricebu-row .list-title{
	margin-bottom:10px;
	line-height:normal !important;
}
.pricebu-row label, .pricebu-row input[type="text"], .pricebu-row buttoon{
	display:inline-block;
}
.pricebu-row  input[type="text"]  {
	float:none !important;
	margin-left:10px;
}
.pricebu-tempname table{
	width:40%;
}
.pricebu-tempname td, .pricebu-tempname th{
	padding:10px 0;
	width:50%;
	text-align:left;
}
.list-bu .first-div, .list-bu .second-div{
	display:inline-block;
	vertical-align:top;
}
.list-bu .first-div{
	width:30%; 
}
.list-bu .second-div{
	width:65%;
	margin-left:4%;
}
/* Border-Box  & Background-Border-box*/
.list-bu .border-box , .border-bg-box{
	width:96%;
	height:auto;
	border:1px solid #ccc;
	padding:2%;
}
.border-bg-box{
	background:#f8f8f8;
	color:#808080;
	overflow:hidden;
}
.border-bg-box label{
	margin-right:10px !important;
	max-width: 200px;
}
.border-box input[type="radio"], .border-box input[type="checkbox"], .border-box label{
	display:inline-block;
	margin-top: 8px ;
	margin-bottom: 8px ;
	margin-left:20px;
	vertical-align:middle;
}
.border-box label{
	width:auto !important;
	float:none;
	margin:0 0 0 3px;
	padding:0;
	min-height:auto !important;
}
.label-comma:after{ /* for Comma */
	content:" , ";
	color:#808080;
	font-size:16px;
	font-weight:normal;
	margin-right:20px;
}
.lable-del {           /* for  delete label */
	padding:5px !important;
	border:1px solid #ccc;
	border-radius:4px;
	width:auto;
	float:left;
	width:auto;
	margin: 0 2px 2px 0;
	-webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1) inset;
	box-shadow:0 3px 3px rgba(0, 0, 0, 0.1) inset;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
}
.lable-del:hover{
	-webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0) inset;
	box-shadow:0 3px 3px rgba(255, 0, 0, 0) inset;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	cursor:pointer;
}
.lable-del label{
	margin-right:10px !important;
	max-width:280px;
}
.lable-del label, .lable-del div{
	display:inline-block;	
}
.lable-del div{
	background:url(../images/del.gif) no-repeat right;
	width:10px;
	height:10px;
	vertical-align:middle;
}
.right-button{
	width:100%;
	height:auto;
	padding:15px 0;
	text-align:right;
	margin-bottom:20px;
}
.right-button button{
	float:none;
}
.first-div .border-box {
	min-height:648px;
}
.second-div .border-box + .border-box{
	margin-top:20px;
}