﻿.mobiledata{
    display:none;
}



@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
    .incognitouser {
        /*margin: 0 0 0 50px;
        padding-left:50px;*/
            width: 100%; 
    text-align: center;
    }
    .sidebar_right{background: none!important;
    box-shadow: none!important;

    }
    #s5_logo{display:none!important;}
    .clientOrgName { 
        font-size:20px;
        padding-right: 60px;
        padding-top:80px;
            text-align:center;
    }
    .header .page-title {
    
    padding: 40px 10px;
    }
        .header .page-title h2 {
            font-size: 2em;
        }
        .mobiledata{
            display:block;
        }
   
        .webdata{display:none;}
       .pieChart{width:100%}
    #s5_logo_FV {
  margin-top:15px;  }
    .section-heading h2 {
    font-size:18px;}
}
