@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,600,300);

/*================================for Header===============================>
/* CSS Document */

fieldset a  {font-weight: bold; }



h2, h1 {	font-size: 18px; font-weight: normal; margin-bottom:16px;}

h3 {	font-size:1.3em;font-weight:normal;}

#s5_component_wrap_inner h3 {
margin-bottom:10px;
}

h4 {	font-size:1.1em;font-weight: normal;}

h5 {	font-size:0.9em;font-weight: normal;}


/* IMAGES
----------------------------------------------------------- */

a img, fieldset, img  {	border: none; }

#vdcolor .status-icon {
    display: none;
    visibility: hidden;
    zoom: 1;
}
#vdcolor.neutral #neu-icon {
    display: block!important;
    visibility: visible!important;
}
#vdcolor.negative #neg-icon {
    display: block!important;
    visibility: visible!important;
}
#vdcolor.warning #neu-icon {
    display: block!important;
    visibility: visible!important;
}
#vdcolor.approved #pos-icon {
    display: block!important;
    visibility: visible!important;
}

#vdcolor {
    zoom: 1;
}



.mosimage  {
	padding: 0;
	border:1px solid #333;
	margin:6px;	}

.mosimage img  {
	padding: 0;
	margin: 0!important; }

.mosimage_caption {
	background:#333;
	border-top:1px solid #333;
	color:#fff;
	font-size:8pt;
	margin-top:2px;
	padding:1px 2px;}


#s5_component_wrap ul {	list-style:disc;margin-left:20px;}
#s5_component_wrap ul.pagenav { margin:0px; clear:both; }

/* FORM
----------------------------------------------------------- */
fieldset  {
	margin-bottom:12px;
	padding-bottom:12px;}

#form-login fieldset {
	border:none;
	padding-top:0px;}

#form-login p {
	padding-top:0px;}

#login br {
	display:none;}

#login .button {
	margin-top:8px;
	margin-bottom:8px;}

#login ul, #form-login ul {
	/* padding-top:8px;
	padding-bottom:8px; */}

#modlgn_username, #modlgn_passwd, #username_vmlogin, #password_vmlogin {
	width:92%;}

.inputbox, .registration input, .login input, .contact-form input, #jform_contact_message {
	border:solid 1px #CCCCCC;
	margin-top: 4px;
	margin-bottom:4px;
	padding: 6px 11px 6px 11px;
	font-family: inherit;
    font-size: 1em;
	background:#F1F1F1;
	-moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 1px rgba(0, 0, 0, 0.1) inset;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;}
	
#login-form #modlgn-username, #login-form #modlgn-passwd {
width:87%;
}
	
	
#jform_contact_message {
width:64%;
}



.vendordetails-section {
    background: #efefef!important;
    width: 100%;
    display: block;
    position: relative;
    margin-bottom: 30px;
    padding: 30px!important;
    box-sizing: border-box;
}

.vendordetails-section.notice {
  background: #fff;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  border: 1px solid #ccc;
}

.vendordetails-section.notice h2 {
    margin-bottom: 0;
    font-weight: bold;
    color: #1f83bc;
}

.section-heading h2 {
    font-weight: bold;
    color: #1f83bc;
    font-size: 22px;
}

.section-heading h2 span {
    font-weight: normal;
    color: rgb(136, 131, 133);
    font-size: 18px;
}

.vendordetails-section table tr td {
    padding: 2px 0;
}
.vendorDetailsTableLeft .itemHeader{
    font-weight:700;
}
.contentSub{
    padding: 30px!important;
   
}
.sidebar-hidden {
    display: none!important;
    visibility: hidden!important;
}
.inputbox:hover, .registration input:hover, .login input:hover, .contact-form input:hover, #jform_contact_message:hover {
	background:#E1E1E1;
	border:solid 1px #B1B1B1;
	-webkit-transition: all 500ms ease-in;
	-moz-transition: all 500ms ease-in;
	-o-transition: all 500ms ease-in;
	transition: all 500ms ease-in;}
	
select.inputbox {
behavior:none;}

label.invalid {
	color:#FF0000;}

label.invalid {
	color:red;}

.invalid {
	border-color:#FF0000;}

.invalid {
	border-color:red !important;}

.tool-tip {
	float: left;
	background: #CCCCCC;
	border: 1px solid #333;
	padding: 5px;
	color:#000;
	max-width: 200px;}

.tool-title {
	padding: 0;
	margin: 0;
	font-weight: bold;
	margin-top: -15px;
	padding-top: 15px;
	padding-bottom: 5px;
	color:#000;}

.tool-text {
	color:#000;
	margin: 0;}

form {
    position: relative;
}

/* BUTTONS
----------------------------------------------------------- */

.button, a.readon, p.readmore a, div.catItemReadMore, .userItemReadMore, div.catItemCommentsLink, .userItemCommentsLink, a.readmore-link, a.comments-link, div.itemCommentsForm form input#submitCommentButton {
	padding:6px;
	padding-bottom:5px;
	padding-left:19px;
	padding-right:19px;
	margin-top:20px;
	margin-bottom:0px;
	font-weight: bold;
	border:none;
	color:#fff !important;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	text-decoration: none; 
	float:left;
	font-size:0.9em;}
	
.module_round_box_outer a.readon {
	font-size:0.8em;
	padding:5px 16px;
}

#s5_component_wrap p.readmore a {
	margin-top:30px;
}

.button, li.pagenav-next, li.pagenav-prev, a.readon, p.readmore a {
	-webkit-transition: background 300ms ease-out;
	-moz-transition: background 300ms ease-out;
	-o-transition: background 300ms ease-out;
	transition: background 300ms ease-out;
}
	
.button, li.pagenav-next, li.pagenav-prev {
	margin:3px 8px 0 0;
	color:#fff;}
	
.button:hover, li.pagenav-next:hover, li.pagenav-prev:hover, a.readon:hover, p.readmore:hover a {
	background:#333;
	}
	
#contact-form .button {
margin-top:18px;
}

li.pagenav-next, li.pagenav-prev {
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	padding:6px;
	padding-bottom:5px;
	padding-left:19px;
	padding-right:19px;
	}


/* FONT CONTROLS
----------------------------------------------------------- */
#fontControls {
	float:right;}

#fontControls a {
	color:#31302E !important;}

.decreaseSize {
	font-size:12px;}

.increaseSize {
	font-size:19px;}

.resetSize {
	font-size:16px;
	margin-left:5px;
	margin-right:5px;}	
	
/* SCROLL TO TOP
----------------------------------------------------------- */

#s5_scrolltotop {
	height: 0;
	visibility:hidden;}


.s5_scrolltotop  {	
	width:15px;
	height:9px;
	cursor:pointer;
	float: right;
	margin-right: 37px;
	margin-top:-12px;
	background:transparent url(../../first-verify-revamp/images/s5_scroll_arrow.png) no-repeat;
	position:relative;
}	



/* COLUMN MENU
----------------------------------------------------------- */

.module_round_box ul.menu a {
padding:18px;
padding-bottom:3px;
padding-top:3px;
display:block;
background:url(../../first-verify-revamp/images/system/arrow.png) no-repeat;
background-position:left center;
color:#333;
}

.module_round_box ul.menu img {
display:none;
}

#s5_bottom_row3_wrap .module_round_box ul.menu a {
background:none;
padding:0px;
padding-bottom:4px;
}

.module_round_box ul.menu a:hover {
text-decoration:underline;}

.module_round_box ul.menu ul a:hover {
text-decoration:underline;}

.module_round_box ul.menu ul a {
background:none;
padding:6px;
padding-left:10px;
border-bottom: none;
display:block;}

.module_round_box ul.menu ul ul a {
font-size:8pt;
padding:3px;
padding-left:20px;
border-bottom: none;
display:block;
font-weight:normal;}

.module_round_box ul.menu #current ul span {
font-weight:normal;}

.module_round_box ul.menu li {
padding:0px;}

.module_round_box ul.menu li ul li {
margin-left:24px;}


	
/* ACCORDION MENU
----------------------------------------------------------- */


#s5_accordion_menu ul li span {
font-weight:normal;}

#s5_accordion_menu h3.s5_am_toggler a.mainlevel {
color:#333;}

div.s5_accordion_menu_element li li{
padding-left:4px;}

div.s5_accordion_menu_element li li li{
padding-left:12px;}

div.s5_accordion_menu_element li a, .s5_am_inner_li .separator span {
padding-top:6px;
padding-bottom:6px;
padding-left:18px;
background:url(../../first-verify-revamp/images/system/arrow.png) no-repeat;
background-position:left center;
display:block;
border-bottom:none;
font-size:0.9em;
color:#333;
}

div.s5_accordion_menu_element li li a, .s5_am_innermenu .s5_am_inner_li .separator span  {
background:none;
padding-left:10px;
padding-right:6px;
font-size:0.9em;
border:none;
padding-top:4px;
padding-bottom:4px;}


span.s5_accordion_menu_left {
padding:0px;
}

#s5_accordion_menu img {
display:none;
}

.s5_am_inner_li span.s5_accordion_menu_left, .s5_am_innermenu #current span.s5_accordion_menu_left {
padding:0px;}

.s5_am_innermenu span.s5_accordion_menu_left {
background:none;}

#s5_accordion_menu ul li {
padding-bottom:0px;
padding-top:0px;}

#s5_accordion_menu div {

width:100%;
display:block;}

#s5_accordion_menu h3 {
background: #fff; /* Old browsers */
border-top:1px solid #D8D8D8;
margin:0px;
position:relative;
display:block;
font-size:1.3em;
height:18px;
padding:11px 15px;
}

#s5_accordion_menu {
border-left:1px solid #D8D8D8;
border-right:1px solid #D8D8D8;
border-bottom:1px solid #D8D8D8;
}

#s5_accordion_menu h3.s5_am_parent {
cursor: pointer;
background:url(../../first-verify-revamp/images/s5_acc_r_parent.png) no-repeat bottom right;
position:relative;}

#s5_accordion_menu h3.s5_am_open {
background:url(../../first-verify-revamp/images/s5_acc_r_parent.png) no-repeat top right;}

#s5_accordion_menu h3.s5_am_not_parent span.s5_accordion_menu_left {
background:none;
}

#s5_accordion_menu h3.s5_am_not_parent {
background:none !important;
cursor:pointer;}

#s5_accordion_menu h3:hover, #s5_accordion_menu h3.s5_am_open {
background-color: #F5F5F5 !important;
}

#s5_accordion_menu h3.s5_am_toggler div {
margin:0px;
padding:0px;}

#s5_accordion_menu h3.s5_am_toggler a.mainlevel {	
width:auto;
border:none;
padding:0px;
margin:0px;}

div.s5_accordion_menu_element li {	
list-style-image:none;
list-style-position:outside;
list-style-type:none;}

div.s5_accordion_menu_element {
width:auto;}

#s5_accordion_menu #s5_am_parent_div_current, #s5_accordion_menu .s5_accordion_menu_element {
background:none;}

ul.s5_am_innermenu {
padding:15px;
padding-top:5px;
padding-bottom:5px;
border-top:1px solid #D8D8D8;
margin-left:0px;
margin-top:0px;}

ul.s5_am_innermenu ul.s5_am_innermenu {
border:none;
font-size:0.9em !important;
padding-top:0px;
padding-bottom:0px;
}

#s5_accordion_menu h3 span.s5_accordion_menu_left {
overflow:hidden;
height:18px;}

	
/* BODY ELEMENTS
----------------------------------------------------------- */

#top-bar {
    height: 45px;
    position: absolute;
    background: rgba(0,0,0,.1);
    width: 100%;
    top: 0;
    z-index: 9999;
}

#top-bar .inner {
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
}

#top-bar .inner .notifications {
    float: left;
    position: relative;
	margin: 8px 0 0 10px;
}
#top-bar .inner .notifications a {
    color: #fff;
    text-decoration: none;
}
#top-bar .inner .notifications img { 
    width: 22px;
    height: 22px;
    position: relative;
    top: 7px;
}
#top-bar .inner #login-box {
    float: right;
    margin-right: 20px;
}
#top-bar .inner #login-box ul {
    list-style: none;
    font-size: 13px;
}
#top-bar .inner #login-box a {
    color: #c1d8e6;
}

#nav-trigger {
    display: none;
    visibility: hidden;
    background: #f8f8f8 !important;
    color: #2083bc !important;
    font-size: 18px;
    margin-right: 5px;
    padding: 15px 25px 7px;
    display: block;
    text-decoration: none !important;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: absolute;
    bottom: 0;
    width: 250px;
    /*left: 50%;
    margin-left: -150px;*/
    text-align: center;
    right:0;
    cursor: pointer;
}

#s5_body_wrap {
background:#fff; 
/* -moz-box-shadow:0 0px 11px rgba(0, 0, 0, 0.18);
-webkit-box-shadow: 0 0px 11px rgba(0, 0, 0, 0.18) ;
box-shadow:0 0px 11px rgba(0, 0, 0, 0.18); */
}

#s5_body_wrap_inner {
/* border-left:solid 1px #fff;
border-right:solid 1px #fff; */
}

#s5_header_area1 {
    max-width: 960px;
    margin: 0 auto;
	padding: 0 20px;
}

/* for ADMIN Dashboard main Logo */

#s5_logo_wrap {/*By Srinivas on 26th Nov-2013*/

    position: absolute;
    left: 0;
    bottom: 56px;
}

#s5_textInsteadOfLogoWrap {

    float: left;
    text-align:left;
    font-size:24px;
 }
#s5_textInsteadOfLogo {
     
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 200;
    color: #ffffff;
}

.clientOrgName {
	font-size: 25px;
	color: #fff;
	font-weight: 200;
	position: relative;
	padding-left: 80px;
}
.clientOrgName img {
	position: absolute;
	left: 0;
	max-height: 35px;
	max-width: 70px;
}

/*---/* for FV small Logo ---------------*/
#s5_logo_FV {
     
    text-align:right;
    padding-top:6px; 
    margin-bottom:5px;  
    height:35px;
    position: absolute;
    right: 0;
    top: 60px;
}
#s5_logoFV {
cursor: pointer;
    /*margin-bottom: 25px;*/
    max-width:220px;
}

/*------------------*/
#s5_logo_module {
float: left;
margin-bottom:38px;  
}

#s5_header_right {
    width: 100%;
}

#s5_social_wrap {
float:none;
margin-top: 25px;
}

#s5_social_wrap > div {
height:33px;
width:32px;
background-image:url(../../first-verify-revamp/images/social-icons.png);
background-repeat:no-repeat;
cursor:pointer;
margin-left:8px;
float:left;
border-radius: 5px;
box-shadow:none;
text-indent:-99999px;
}

#s5_social_wrap > div:hover {
box-shadow: 0 0 4px #fff;
}

#s5_rss {background-position: 0 -511px;}

#s5_facebook {background-position: 0 -73px;}

#s5_twitter {background-position: 0 -109px;}

#s5_youtube {background-position: 0 -219px;}

#s5_flickr {background-position: 0 -183px;}

#s5_tumblr {background-position: 0 -402px;}

#s5_linked_in {background-position: 0 -292px;}

#s5_google {background-position: 0 -1302px;}

#s5_rss {background-position: 0 -511px;}

#loginreg, #register, #login {
	float: right;
    font-size: 19px;
    height: 23px;
    margin-right: 0px;
    margin-top: 10px;
    line-height:normal;/* add By Srinivas */
	color: rgba(255,255,255,.7);
}

#s5_logregtm {
    margin-right: 16px;
    /*margin-top: 10px;  */ /* Remove By Srinivas */
    
}
#s5_logregtm  a {
text-decoration:none;
color: #ddd;
 color: rgba(255,255,255,.7);}

#s5_logregtm  a:hover {
color: #fff;
 color: rgba(255,255,255,1);
}

#register {
padding-left:10px;
margin-left:10px;
border-left:solid 1px #D2D1D1; 
}

#s5_logregtm ul li {
padding:0px !important;
padding-top:1px !important; 
list-style:none;/*me*/
font-size: 15px;
}

#register:hover{
text-decoration:underline;
cursor:pointer;
}

#register a:active,#login a:active,#register a:focus,#login a:focus
{
	outline:none;
}

#s5_top_menu {
float:right;
}

#s5_top_menu li {
float:right;
font-size:0.85em;
padding:0px !important;
}

#s5_top_menu li a  {
padding-left:16px;
color:#333;
padding-top:14px;
display:block;
}

#s5_menu_wrap {
clear: both;
position: absolute;
bottom: 0;
/* width: 100%; */
overflow: hidden;
}

#phone {
    bottom: 22px;
    font-size: 25px;
    font-weight: 700;
    position: absolute;
    right: 20px; color:#e81e25; background:#fff;
    display: none;
    visibility: hidden;
}

#s5_header_wrap { 
    /* padding: 0 20px; */ 
    position: relative;
    height: 250px;
}

#s5_menu_wrap_inner { 
/* padding-left:5px;
padding-right:5px; */
}

#s5_top_row1_area1 {
/* border-bottom:solid 1px #C4C5C6; */
padding:0px;
/* padding-top:20px;
padding-left:10px;
padding-right:10px; */
/* background: #E6E6E6 url(../images/s5_top_row1.png) repeat-x top left; */ /* Old browsers */
}

#s5_breadcrumb_wrap {
padding-bottom:20px;
}

#fontControls {
padding-bottom:17px;
padding-right:10px;
}

#s5_breadcrumb_wrap {
padding-left:10px;
font-weight:bold;
float:left;
}

#s5_breadcrumb_wrap img {
margin-left:6px;
margin-right:6px;
}

#s5_top_row3_wrap, #s5_above_columns_wrap, #s5_bottom_row1_wrap, #s5_bottom_row2_wrap, #s5_below_columns_wrap, #s5_center_area1 {
padding-top:16px;
padding-right:8px;
padding-left:8px;
}

.s5_dark_modules {
/* background:#151618; */
padding-top:10px;
padding-bottom:10px;


}

#s5_bottom_menu_wrap {
margin-left:auto;
margin-right:auto;
text-align:center;
margin-bottom:14px;
}

#s5_bottom_menu_wrap ul.menu li {
display:inline;
margin-left:4px;
margin-right:4px;
}

#s5_footer, #s5_footer_module {
margin-left:auto;
margin-right:auto;
font-size: 75%;
    text-align: center;
}
#s5_footer {
/*border-top: 1px dotted;*/
border-top: 1px dotted  #999999; margin:auto;

}


#s5_footer a, #s5_footer_module a {
color:#888 !important;
}

#s5_bottom_row3_area1 {
/* border-bottom:solid 1px #212224; */
}

#s5_footer_area1 {
color:#888;
/* padding-left:12px;
padding-right:12px; */

}

#s5_bottom_row3_area1 {
padding-bottom:6px;
margin-bottom:36px;
}

.s5_resize_bottom_row3 {
min-height:1px !important;
}

.custom-no_border a.readon {
margin-top:10px !important;
}

/* INFO SLIDE
----------------------------------------------------------- */

.s5_is_slide {
opacity:0.85 !important;
}

.s5_is_display h3 {
font-size:1.2em !important;
}

.s5_is_slide a {
font-weight:bold;
}


/* VERTICAL ACCORDION
----------------------------------------------------------- */

#s5_va_accordion {
width:100% !important;
}

#s5_va_accordion_inner a.readon {
margin-top:9px;
}

.s5_va_active, .s5_va_inactive  { 
cursor:pointer;
font-size:1.3em;
padding:11px;
padding-left:15px;
padding-right:15px;
margin-bottom:0px;
height:18px;
overflow:hidden;
border-top:solid 1px #D8D8D8;
}

.s5_va_active {
background:url(../../first-verify-revamp/images/s5_acc_r_parent.png) no-repeat top right;
background-color:#F5F5F5;

}

.s5_va_inactive {
background:url(../../first-verify-revamp/images/s5_acc_r_parent.png) no-repeat bottom right;
color:#333 !important;
}

.s5_va_inactive:hover {
background-color:#F5F5F5;
}

#s5_va_accordion_inner {
border-left:solid 1px #D8D8D8;
border-right:solid 1px #D8D8D8;
border-bottom:solid 1px #D8D8D8;
}

.s5_va_element_inner { 
padding:8px; 
padding-top:10px;
padding-bottom:18px;
margin:0px;
}

.s5_va_element {
font-size:0.9em;
}

.s5_va_element h1 {
font-size:1.4em;
margin-bottom:6px;
}

.s5_va_element_inner .readmore {
font-size:1.1em;
margin-bottom:18px;
}

.s5_va_element {
font-size:0.85em;
line-height:146%;
}

.s5_va_element_inner {
padding:15px;
border-top:solid 0px #D8D8D8;
}

.switchuser {
        float: left;
        position: relative;
        margin: 8px 0 0 10px;
        color: #333;
        font-weight: 800;
    }
.incognitouser {
        float: left;
        position: relative;
        margin: 8px 0 0 10px;
        color: #333;
        font-weight: 300;
        padding-left: 50px;
}
.incognitouser a {
    color: #ccdfea !important;
}

/* MODULE STYLES
----------------------------------------------------------- */

/* .s5_light_modules .module_round_box_outer,  */#s5_component_wrap {
margin-left:8px;
margin-right:8px;
margin-bottom:16px;
}

.s5_light_modules .module_round_box, #s5_component_wrap {
background:#fff;
padding:15px;
border:solid 0px #D8D8D8;
}

.s5_light_modules .s5_mod_h3 {
margin-bottom:15px;
}


.s5_light_modules .module_round_box-dark_less_padding {
background:#333;
padding:7px;
border:none;
color:#B0B0AF !important;
}

.s5_light_modules .module_round_box-dark_less_padding .s5_mod_h3, .s5_light_modules .module_round_box-dark_less_padding .s5_h3_first {
color:#fff !important;
}


.s5_light_modules .module_round_box-dark {
background:#333;
padding:15px;
border:none;
color:#B0B0AF !important;
}

.s5_light_modules .module_round_box-dark .s5_mod_h3, .s5_light_modules .module_round_box-dark .s5_h3_first {
color:#fff !important;
}


.s5_light_modules .module_round_box-highlight {
padding:15px;
border:none;
color:#fff !important;
}

.s5_light_modules .module_round_box-highlight .s5_mod_h3, .s5_light_modules .module_round_box-highlight .s5_h3_first {
color:#fff !important;
}

.s5_light_modules .module_round_box-highlight a {
color:#CCCCCC;
}


.s5_light_modules .module_round_box-small_title {
padding:0px;
border:none;
}

.s5_light_modules .module_round_box-small_title .s5_mod_h3 {
font-size:1.1em;
margin-bottom:8px;
}


.s5_light_modules .module_round_box-less_padding {
background:#fff;
padding:7px;
border:solid 0px #D8D8D8;
}


.s5_light_modules .module_round_box-no_border {
background:#fff;
padding:15px;
border:none;
margin-bottom:-16px;
}

.s5_light_modules .module_round_box-no_border .s5_mod_h3 {
font-size:1.8em;
margin-bottom:18px;
}


.s5_light_modules .module_round_box-grey {
background:#F5F5F5;
padding:15px;
padding:15px;
border:solid 0px #D8D8D8;
}


.s5_dark_modules .module_round_box_outer {
margin-left:24px;
margin-right:24px;
margin-bottom:28px;
color:#B0B0AF !important;
font-size:0.9em;
}

.s5_dark_modules .module_round_box_outer a {
color:#fff !important;
}

.s5_dark_modules .s5_mod_h3 {
margin-bottom:18px;
color:#fff !important;
font-size:1.8em;
}

.s5_dark_modules .s5_h3_first {
color:#fff !important;
}

/* S5 BOX
----------------------------------------------------------- */


#s5box_one {padding:20px;}
#s5box_two {padding:20px;}
#s5box_three {padding:20px;}
#s5box_four{padding:20px;}
#s5box_five{padding:20px;}
#s5box_six{padding:20px;}
#s5box_seven {padding:20px;}
#s5box_eight {padding:20px;}
#s5box_nine {padding:20px;}
#s5box_ten {padding:20px;}
#s5box_login {padding:20px;}
#s5box_register {padding:20px;}

#cboxContent {
overflow: visible;
position: relative;
}

#cboxWrapper {
background: #fff url(../../first-verify-revamp/images/s5_header_bg.png) repeat-x bottom left;
-webkit-box-shadow: 0 0px 40px rgba(0, 0, 0, 0.5);
-moz-box-shadow: 0 0px 40px rgba(0, 0, 0, 0.5);
box-shadow: 0 0px 40px rgba(0, 0, 0, 0.5);
}

#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxOverlay{background:#000;display:none;}

#cboxClose {
float:right;
position:absolute;
top:0px;
background:url(../../first-verify-revamp/images/multibox/close.png) no-repeat top left;
height:30px;
width:30px;
padding:0px;
margin:0px;
margin-top:-12px;
right:-12px;
text-indent:500px;
overflow:hidden;
cursor:pointer;
}

#cboxClose:hover {
color:#000;
}

#s5box_login ul li, #s5box_register ul li  {
padding-left:16px;
background:url(../../first-verify-revamp/images/system/arrow.png) no-repeat;
background-position:left center;
}
 #s5box_register ul li a:active,#s5box_register ul li a:focus
 {
	 outline:none;
 }
#cboxTopLeft, #cboxTopCenter, #cboxTopRight, #cboxMiddleLeft, #cboxMiddleRight, #cboxBottomLeft, #cboxBottomCenter, #cboxBottomRight {
display:none;
}

#cboxWrapper {
height:auto !important;
width:auto !important;
}

#cboxLoadedContent .s5_mod_h3 {
	margin-bottom:20px;
}


/* S5 MAP IT WITH GOOGLE
----------------------------------------------------------- */

#s5_map_canvas {
width:100% !important;
}


/* S5 IMAGE AND CONTENT FADER
----------------------------------------------------------- */


#myGallery, #myGallerySet, #flickrGallery
{
	position:relative;
	z-index:0;}


#myGallery img.thumbnail, #myGallerySet img.thumbnail
{
	display: none;
}

.jdGallery
{
	overflow: hidden;
	position: relative;
	z-index:1;
}

.jdGallery img
{
	border: 0;
	margin: 0;
}

.jdGallery .slideElement
{
	width: 100%;
	height: 100%;
	z-index:0;
	background-image: url(../../first-verify-revamp/html/mod_s5_image_and_content_fader/images/loading-bar-black.gif);
	background-position:center center;
	background-repeat:no-repeat;
}

.jdGallery .loadingElement
{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url(../../first-verify-revamp/html/mod_s5_image_and_content_fader/images/loading-bar-black.gif);
}

.jdGallery .slideInfoZone
{
	position: absolute;
	z-index: 1;
	width: 55%;
	margin: 0px;
	bottom: 0;
	height: 100% !important;
	text-indent: 0;
	overflow: hidden;
	float:left;
	left:9%;
}

#slideInfoZoneInner {
position: absolute;
top: 42%;
left: 0px;
}

.jdGallery .slideInfoZone h2{
	color: #fff;
    display: block;
    font-size: 4.6em;
    font-weight: bold;
    height: 200px;
    line-height: 100%;
    margin: 0 0 3%;
    padding: 0;
    text-shadow: 0 0 4px #000;
}


.jdGallery .slideInfoZone p
{
	color:#fff;
	padding:0;
	font-size: 2.3em;
	text-shadow: 0 0 4px #000;
}
span.learn-more
{
	color:#fff;
	font-size:0.6em;
	font-weight:700;
	padding:10px 15px;
	background-color:#121212;
	display: inline-block;
	margin-top: 20px;
}

.jdGallery .slideInfoZone a.readon {
	float:left;
	margin-top:12px !important;
	}

.jdGallery div.carouselContainer
{
	position: absolute;
	height: 126px;
	width: 100%;
	z-index: 2;
	margin: 0px;
	left: 0;
	top: 0;
}

.jdGallery a.carouselBtn
{
	position: absolute;
	bottom: 0;
	right: 30px;
	height: 20px;
	/*width: 100px; background: url('../html/mod_s5_image_and_content_fader/images/carousel_btn.gif') no-repeat;*/
	text-align: center;
	padding: 0 10px;
	font-size: 13px;
	background: #333;
	color: #fff;
	cursor: pointer;
	z-index:0;
}

.jdGallery .carousel
{
	position: absolute;
	width: 100%;
	margin: 0px;
	left: 0;
	top: 0;
	height: 106px;
	background: #333;
	color: #fff;
	text-indent: 0;
	overflow: hidden;
}

.jdExtCarousel
{
	overflow: hidden;
	position: relative;
}

.jdGallery .carousel .carouselWrapper, .jdExtCarousel .carouselWrapper
{
	position: absolute;
	width: 100%;
	height: 78px;
	top: 6px;
	left: 0;
	overflow: hidden;
}

.jdGallery .carousel .carouselInner, .jdExtCarousel .carouselInner
{
	position: relative;
}

.jdGallery .carousel .carouselInner .thumbnail, .jdExtCarousel .carouselInner .thumbnail
{
	cursor: pointer;
	background: #000;
	background-position: center center;
	float: left;
	border: solid 1px #fff;
}

.jdGallery .wall .thumbnail, .jdExtCarousel .wall .thumbnail
{
	margin-bottom: 10px;
}

.jdGallery .carousel .label, .jdExtCarousel .label
{
	font-size: 13px;
	position: absolute;
	bottom: 5px;
	left: 10px;
	padding: 0;
	margin: 0;
}

.jdGallery .carousel .wallButton, .jdExtCarousel .wallButton
{
	font-size: 10px;
	position: absolute;
	bottom: 5px;
	right: 10px;
	padding: 1px 2px;
	margin: 0;
	background: #222;
	border: 1px solid #888;
	cursor: pointer;
}

.jdGallery .carousel .label .number, .jdExtCarousel .label .number
{
	color: #b5b5b5;
}

.jdGallery a.right, .jdGallery a.left
{
	position: absolute;
	height: 99%;
	width: 25%;
	cursor: pointer;
	z-index:1;
}

.jdGallery a.right:hover, .jdGallery a.left:hover
{
	filter:alpha(opacity=70);
	-moz-opacity:1;
	-khtml-opacity: 1;
	opacity: 1;
}

.jdGallery a.left
{
	left: 0;
	top: 0;
	background: url(../../first-verify-revamp/html/mod_s5_image_and_content_fader/images/fleche1.png) no-repeat center left;
}

.jdGallery a.left:hover
{
	background: url(../../first-verify-revamp/html/mod_s5_image_and_content_fader/images/fleche1_hover.png) no-repeat center left;
}


.jdGallery a.right
{
	right: 0;
	top: 0;
	background: url(../../first-verify-revamp/html/mod_s5_image_and_content_fader/images/fleche2.png) no-repeat center right;
}

.jdGallery a.right:hover
{
	background: url(../../first-verify-revamp/html/mod_s5_image_and_content_fader/images/fleche2_hover.png) no-repeat center right;
}


.jdGallery a.open
{
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.withArrows a.open
{
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	cursor: pointer;
	z-index: 1;
	background: none;
	-moz-opacity:0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}

	
/* Gallery Sets */

.jdGallery a.gallerySelectorBtn
{
	z-index: 1;
	position: absolute;
	top: 0;
	left: 30px;
	height: 20px;
	/*width: 100px; background: url('../html/mod_s5_image_and_content_fader/images/carousel_btn.gif') no-repeat;*/
	text-align: center;
	padding: 0 10px;
	font-size: 13px;
	background: #333;
	color: #fff;
	cursor: pointer;
	opacity: .4;
	-moz-opacity: .4;
	-khtml-opacity: 0.4;
	filter:alpha(opacity=40);
}

.jdGallery .gallerySelector
{
	z-index: 1;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #000;
}

.jdGallery .gallerySelector h2
{
	margin: 0;
	padding: 10px 20px 10px 20px;
	font-size: 20px;
	line-height: 30px;
	color: #fff;
}

.jdGallery .gallerySelector .gallerySelectorWrapper
{
	overflow: hidden;
}

.jdGallery .gallerySelector .gallerySelectorInner div.galleryButton
{
	margin-left: 10px;
	margin-top: 10px;
	border: 1px solid #888;
	padding: 5px;
	height: 40px;
	color: #fff;
	cursor: pointer;
	float: left;
}

.jdGallery .gallerySelector .gallerySelectorInner div.hover
{
	background: #333;
}

.jdGallery .gallerySelector .gallerySelectorInner div.galleryButton div.preview
{
	background: #000;
	background-position: center center;
	float: left;
	border: none;
	width: 40px;
	height: 40px;
	margin-right: 5px;
}

.jdGallery .gallerySelector .gallerySelectorInner div.galleryButton h3
{
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-weight: normal;
}

.jdGallery .gallerySelector .gallerySelectorInner div.galleryButton p.info
{
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-weight: normal;
	color: #aaa;
}

.jdGallery .carousel .carouselInner .active {
	opacity: .9 !important;
	-moz-opacity: .9 !important;
	-khtml-opacity: 0.9 !important;
	filter:alpha(opacity=90) !important;}


.jdGallery .slideElement {}	
	
.jdGallery .slideElement.active {}
	
	
#myGallery_height {
width:100%;
float:left;
overflow:hidden;
opacity:0;
filter: alpha(opacity=0);
}

#myGallery_height_img {
width:100%;
}

#ff_form5 ul{
	list-style:inside none;
	padding-left:60px;
}

#ff_form5 ul.first{
	background: url(../../first-verify-revamp/images/mouse.png) no-repeat scroll 0 0 transparent;
}

#ff_form5 ul.second{
	background: url(../../first-verify-revamp/images/48-comment.png) no-repeat scroll 0 0 transparent;
}
#ff_form5 ul.third{
	background: url(../../first-verify-revamp/images/48-globe.png) no-repeat scroll 0 0 transparent;
}
/* .finder.error-404 {
    margin-top: -25px;
    position: absolute;
} */

.shadow {
	-moz-box-shadow:0 0 4px #000;
	-webkit-box-shadow:0 0 4px #000;
	box-shadow:0 0 4px #000;
}
#ff_form6 button#bfSubmitButton {
    background: /* url("../images/submit.jpg") */ none repeat-x scroll 0 0 #004990;
    border: 1px solid #FFF;
    border-radius: 4px;
    box-shadow: 0 0 8px #555;
    color: #FFF;
    font-family: 'Open Sans', Arial, sans-serif;;
    font-size: 1.5em;
    height: 37px;
    margin-top: 5px;
    padding: 0 8px;
}
#ff_form6 button#bfSubmitButton:hover {
    border: 1px solid #7F1417;
	cursor:pointer;
}
#ff_form6 button#bfSubmitButton:active {
    box-shadow: 0 0 4px #333 inset;
}
.bfQuickMode p input[type="text"], .bfQuickMode p textarea, .bfQuickMode p select {
    width: 92%;
}
#ff_formdiv6 {
    background-color: #AAAAAA;
    border: 1px solid #888888;
    padding: 0 10px 10px;
}
.bfQuickMode p.bfElemWrap {
    padding: 5px 0;
}
.bfQuickMode .bfPageIntro { padding:0; }

#bfPage1 > h3 {
    font-size: 1.8em;
}
#ff_form5 .bfFieldset-wrapper {
float:right;
width:525px;
}
.col-left {
float:left;
width:390px;
}
#ff_form6 #bfPage1 > p { display:none; }
#ff_form7 #bfPage1 > p:first-child { display:none; }
.home, #myGallery { /* border: 1px solid #ccc; box-shadow:2px 2px 4px #ccc; */ }
.home {
    background-image: url(../../first-verify-revamp/images/fade.png);
    background-position: 0 0;
    background-repeat: repeat-x;
    margin-right: 1px;
    margin-top: 20px;
    padding: 10px;
    position: relative;
}
.home.fourth {
    /* border-right: 0; */
	/* margin-right: 0;
    padding-right: 0; */
}/* 
.s5_mod_h3_outer {
    display: table;
}
.home h3 {
    display: table-cell;
    font-size: 1.1em;
    font-weight: 700;
    height: 45px;
    line-height: 21px;
    padding-left: 50px;
    text-transform: capitalize;
    vertical-align: middle;
} */
.home h3 {
	color: #000 !important;
    font-size: 1.2em;
    font-weight: 700;
    left: 5px;
    position: absolute;
    text-transform: capitalize;
    top: -16px;
}

.home .icons { padding-left:50px; }

#s5_left_wrap .s5_mod_h3, .home .icons {
	background-image: url(../../first-verify-revamp/images/icon-sprite.png);
    background-repeat: no-repeat;
}
.s5_mod_h3 {
background-position: -6px -124px;
margin-bottom: 0px !important;
padding-bottom: 0;
margin-top: 0;
}
.left .s5_mod_h3 {
padding-bottom: 15px;
margin-top: 30px;
}
.left.first .s5_mod_h3 {
margin-top: 0;
}
.item-page h2, .s5_mod_h3, .home h3, .left .active a, .col-left h3 {
	font-family: 'Open Sans', Arial, sans-serif;;
}

.item-page h2 {
font-size:2em;
}
.item-page h2, .left .active a {
color:#000 !important;
}
.home.first .icons {
    background-position:0 10px;
}
.home.third .icons {
    background-position:-250px 10px;
	/* min-height: 33px;
    padding-top: 10px; */
}
.home.second .icons {
    background-position:-515px 7px;
}
.home.fourth .icons {
    background-position:-779px 6px;
}
.home.first {background-color:#92C294;}
.home.second, .home.fourth {background-color:#D9CEC5;}
.home.third {background-color:#72A0D4;}
/* .home.fourth {background-color:#CEB39F;} */

.home a {
    color: #000 !important;
    /* bottom: 5px; */
    font-weight: 700;
	margin-right:20px;
	float:right;
    /* position: absolute;
    right: 20px; */
}

.item-page {
    border-left: 1px solid #ddd;
    padding-left: 15px;
}
.left a, .left p {
color:#555;
}

.left .active a { font-size: 1.1em; outline:none; }
.left li { padding:9px 0; }
.left li:last-child { padding-bottom:0; }

ul#s5_nav {
    display: block;
    width: 100%;
	font-size:1.2em;
	
    overflow:hidden;
	position:relative; /* Srinivas on 6th, Dec-2013 */
}

.s5_wrap/*----me---*/ 
{
	max-width:1000px !important;
	}

#s5_nav li {
    display:inline-block;
    float:left !important; /* Srinivas on 6th, Dec-2013 */	
    text-align: center;
}
#s5_nav li a {
	font-size: 18px;
    
	margin-right: 5px;
	padding: 10px 25px 7px;
    display: block;
    color: #fff !important;
	text-decoration:none !important;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
#s5_nav li .s5_level1_span1 a {
    background: #f8f8f8 !important;
    color: #2083bc !important;
}
#s5_nav li:hover a {
    background: #f8f8f8 !important;
	color: #2083bc !important;
    text-decoration: none !important;
}
#s5_nav li .s5_level1_span1 {
    /*padding-top: 8px;*/
	padding:10px 0px 0px 0px;
	border-bottom:2px solid #000;
}

#landing-page > img,#free-demo > img {
    float: left;
    margin: 0 15px 15px 0;
    width: 510px;
}

#container > h3 {
    margin-bottom: 14px;
    margin-top: 17px;
    padding-top: 6px;
}
#landing-page a img,#free-demo a img {
    float: left;
    margin-right: 20px;
}	
	
#landing-page h4 {
    font-size: 20px;
    line-height: 35px;
    margin-top: 40px;
    text-align: center;
}	
#free-demo h4 {
    background-image:url(../../first-verify-revamp/images/icon-sprite2.png);
    background-repeat:no-repeat;
    color: #E91E24;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
}
#free-demo h4.cert { 
	background-position:0 0; 
	height: 26px;
    margin-bottom: 14px;
	padding: 5px 0 0 30px;
}
#free-demo h4.vend { 
	background-position:0 -35px; 
	height: 28px;
    margin-bottom: 12px;
	padding: 5px 0 0 30px;
}
#free-demo h4.says { 
	background-position: 0 -72px; 
	height: 30px;
    margin-bottom: 10px;
	padding: 5px 0 0 50px;
}

#testimonial, #video {
    float: right;
}
#testimonial {
    border-left: 1px solid #CCCCCC;
    /* margin-left: 20px; */
    padding-left: 20px;
	width: 380px;
}
#landing-page > iframe.video {
    float: left;
    margin: 0 25px 15px 0;
    width: 510px;
	height:340px;
}	
#video {
    border-top: 1px solid #CCCCCC;
    margin-top: 20px;
    padding-top: 20px;
	width: 100%;
}	
#free-demo #video {
    border-top: 0px solid #CCCCCC;
	margin-top:15px;
	padding-top: 15px;
}

#video h5 {
    font-size: 1.2em;
    font-weight: 700;
    margin-bottom: 15px;
}
#free-demo #video h5 {
    color: #000000;
    font-size: 18px;
    margin-top: 41px;
}
#video > a img {
    float: right;
	width: 220px;
	margin-left:10px;
}	
#free-demo #video > a img {
    float: left;
	width:236px;
}	

#landing-page #button,#free-demo #button {
    background: url(../../first-verify-revamp/images/gradient.png) repeat scroll 0 -11px #D10602;
    border: 2px solid #fff;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
	-webkit-box-shadow:0 0 4px 1px #000;
	-moz-box-shadow:0 0 4px 1px #000;
	box-shadow:0 0 4px 1px #000;
    color: #FFF;
    font-size: 28px;
    font-weight: 700;
    margin: 45px auto;
    padding: 15px 0;
    text-align: center;
    text-shadow: 0 0 4px #000;
    width: 500px;
	
}
#landing-page > a:hover, #landing-page > a:active, #landing-page > a:focus, #free-demo > a:hover, #free-demo > a:active, #free-demo > a:focus { text-decoration:none; }
#landing-page #button:hover, #free-demo #button:hover {
    background: none repeat scroll 0 0 #A20000;
    -webkit-box-shadow: 0 0 4px #000 inset;
    -moz-box-shadow: 0 0 4px #000 inset;
    box-shadow: 0 0 4px #000 inset;
	-webkit-box-shadow:0 0 4px 1px #000;
	-moz-box-shadow:0 0 4px 1px #000;
	box-shadow:0 0 4px 1px #000;
}

.bfQuickMode p.bfElemWrap {
    background: none repeat scroll 0 0 transparent;
}
.box-shadow{ 
	-webkit-box-shadow:0 0 4px 1px #000;
	-moz-box-shadow:0 0 4px 1px #000;
	box-shadow:0 0 4px 1px #000;
}

.s5_mod_content #ff_formdiv2 {
    margin: 0 auto;
    width: 660px;
}
#ff_form8 button#bfSubmitButton {
    background: url(../../first-verify-revamp/images/submit.png) no-repeat scroll 0 0 transparent;
    border: medium none;
    float: right;
    height: 55px;
    margin-top: -4px;
    padding: 0 8px;
    text-indent: -9999px;
    width: 136px;
}
#ff_form8 button#bfSubmitButton:hover {
    /* border: 1px solid #7F1417;
    box-shadow: 0 0 4px #333 inset; */
	cursor:pointer;
}
.bfQuickMode p input[type="text"], .bfQuickMode p textarea, .bfQuickMode p select {
    width: 90%;
}
#ff_formdiv8 {
	width: 300px;
	color: #191919;
}
.bfQuickMode p.bfElemWrap {
    padding: 0;
}
.bfQuickMode .bfPageIntro { padding:0; }

#bfPage1 > h3 {
    margin-bottom:-15px;
}


#free-demo > iframe.video {
    float: left;
    height: 401px;
    margin: 0 25px 5px 0;
    width: 595px;
}
h3.intro {
    font-size: 20px !important;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
}
p.intro {
    color: #000000;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 10px;
	text-align:center;
}
#free-demo #modules {
    border-top: 1px solid #CCCCCC;
    padding-top: 20px;
}
#free-demo #modules > div {
    border-right: 1px solid #E91E24;
    float: left;
    margin-right: 25px;
    min-height: 240px;
    padding-right: 20px;
    width: 29%;
}
#modules > div:last-child {
    border-right: 0 none !important;
    margin-right: 0 !important;
    padding-right: 0 !important;
}
#modules p {
    padding: 0;
}
div.read-more {
    background: url(../../first-verify-revamp/images/checkbox.png) no-repeat scroll 0 5px transparent;
    float: right;
    font-size: 15px;
    height: 20px;
    padding-left: 24px;
    padding-top: 10px;
}
div.read-more a {
    color:#43AAD5;
}

#video div.read-more {
    background-position: 0 -25px;
    margin-right: 122px;
    margin-top: -15px;
	padding-top: 6px;
}
#video div.read-more a {
    color:#000;
}
.contentpane > div {
    padding: 0 !important;
}
#ff_formdiv7 {
    margin-left: 35px;
}

.inline-img {
    box-shadow: 0 2px 6px #888;
    float: right;
    margin: 0 0 15px 20px;
}


#bfElemWrap90 > label, #bfElemWrap91 > label {
    clear: both;
    float: left;
    width: 100%;
}
#bfElemWrap90  input, #bfElemWrap91  input {
    width:330px;
}
#mailtoForm button {
    background-color: #333;
}
/*----------------------------------End of the Header CSS------------------>

/*====================================Footer================================*/

.footer nav
{
	text-align:center;
	font-size:0.9em;
}
.footer nav ul
{
	margin:0px;
	 
}
.footer nav ul li
{
	display:inline; 
	list-style:none;
	padding:0px 0px 10px 3px ;
 
}
.footer  a:link
{
	text-decoration:none;
	color:#999999;
}
.footer  a:visited
{
	text-decoration:none;
	color:#999999;
}

.footer   a:hover
{
	text-decoration:underline;
	color:#999999;
}

/*======================================End of the Footer========================*/

/****************** Using their css with our name and minor changes ===============*/
/**** page-tile and page-Subtitle are exception as the old name is already used in old css ********/


.s5_mod_h3, .home h3, .left .active a, .col-left h3 {
	font-family: 'Open Sans', Arial, sans-serif;
}
/*.page-title {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
    bottom: 170px;
}*/

.main_right .page-title {
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    bottom: auto;    
}
.page-title h2,
.main_right .page-title h2 {
    font-size: 2.5em;
    margin-top: 5px;
    color: #1f83bc;
    border-bottom: none;
    display: inline-block;
}

/*.page-title h2 {
    font-size: 3.5em;
    margin-top: 5px;
    color: #fff;
    border-bottom: 1px solid #fff;
    display: inline-block;
}*/
.left .active a {
color:#000 !important;
}

.page-subtitle h2, .s5_mod_h3, .home h3, .left .active a, .col-left h3 {
	font-family: 'Open Sans', Arial, sans-serif;
}

.page-subtitle h2 {
font-size:1.4em;
float:left;
text-align:left;

}
.left .active a {
color:#000 !important;
}

/* For Spinner */

.spinnerOverlay
{
	display: none;
	position:absolute;
	top: 0%;
	left:0%;
	width:100%;
	height:4000px; 
	background:#000; 
	z-index:1001; 
	-moz-opacity: 0.7; 
	opacity: .7;
	filter:alpha(opacity=70);
}
.importSubmitSpinner
{
    margin: 0px 10px 0px 6px;
    width: 28px;
    height: 28px;
    display: none;
	position:fixed;
	top:46%;
	left:50%;
	z-index:1001;
}

/*For DialogBox*/

.dialogueBox {
	float:right;
	width:250px;
	height:auto;
	font-size:12px;
	background-color: #b9d7f6;
	position: relative;
	border: 1px solid #0568d0;
	font-family: 'Open Sans', Arial, sans-serif;;
	padding:10px 20px 10px 10px;
	line-height:1.6em;
	display: block;
	-webkit-box-shadow: 1px 1px 10px 1px #7d7d7d;
    -moz-box-shadow: 1px 1px 10px 1px #7d7d7d;
    -ms-box-shadow: 1px 1px 10px 1px #7d7d7d;
    -o-box-shadow: 1px 1px 10px 1px #7d7d7d;
    box-shadow: 1px 1px 10px 1px #7d7d7d;
}

.dialogueBox:after, .dialogueBox:before {
	border: solid transparent;
	content: ' ';
	height: 0;
	left: 100%;
	position: absolute;
	width: 0;
}

.dialogueBox:after {
	border-width: 11px;
	border-left-color: #b9d7f6;
	top: 12px;
}

.dialogueBox:before {
	border-width: 12px;
	border-left-color:   #0568d0;
	top: 11px;
}

#helpContent {
    float: none !important;
    width: 100% !important;
    max-width: 960px !important;
    padding: 0 !important;
    margin: 0 auto !important;
}

#helpContent table {
    padding: 45px 0;
}

/* ==================== Media:Mobile ==================== */

/* Desktop less than 1224px */
@media only screen 
and (max-width : 1224px) {}

/* Desktop less than 1024px */
@media only screen
and (max-width: 1024px) {
    .loginRightSideHeader { font-size: 30px!important;}
    .contentSub{width:90%!important;}
     .rowRadioCheckbox{width:auto!important;}
    .rowRadioCheckbox table label {
        width:auto!important;
    }
}

/* Desktop less than 768px */
@media only screen
and (max-width: 768px) {
    .loginRightSide { padding: 40px 5% 0 !important;}
    #s5_header_area1 {padding: 0;}
    #s5_menu_wrap {
        width: 100%;
        z-index: 3000;
        box-shadow: 0 5px 10px rgba(0,0,0,.2);
        display: none;
    }
    ul#s5_nav { background-color: #eeeeee;}
    #s5_nav li {
        width: 100%;
        display: block;
    }
    #s5_nav li a {
        color: #2083bc !important;
        border-radius: 0;
        margin: 0;
    }
    #s5_nav li .s5_level1_span1 a,
    #s5_nav li a:hover { background: #dddddd !important;}
    .sidebar_right,
    .sidebar_left {
        float: none !important;
        width: 96% !important;
        position: relative;
    }
    .sidebar_left {
        display: none;
    }
    
    .sidebar_right:before,
    .sidebar_left:before,
    .sidebar_right:after,
    .sidebar_left:after {
         content: ""; display: table;
    }
    
    .sidebar_right:after,
    .sidebar_left:after {
        clear: both;
    }
    
    .main,
    .mainReports {
        float: none;
        width: 100% !important;
    }
    .main_right {
        float: none !important;
        width: 96% !important;
    }
    .scrollCheckboxReports {
        /*height: auto !important;
        overflow: hidden !important;*/
        overflow-x: hidden;
        width: 93% !important;
    }
    .PageFooter_Button,
    .pageFooterCancelButton a,
    button {
    	padding: 5px 15px !important;
    }
    #s5_logo_wrap {
        position: relative;
        left: auto;
        bottom: auto;
    	width:200px;
    	top:50px;
    }
    #s5_logo{
        width:200px;
    }
    #nav-trigger {
        display: block;
        visibility: visible;
    }
    #nav-trigger
    
     
}

/* Desktop less than 640px */
@media only screen
and (max-width: 640px) {}

/* Desktop less than 568px */
@media only screen
and (max-width: 768px) {
    .loginLeftSide,
    .loginRightSide {
        float: none!important;
        width: 90%!important;
        padding: 30px 5% 0;
		margin: 0 auto;
    }
	#s5_logo_wrap {
        float: left;
        padding-top: 40px;
		margin: 0 auto;
        width: 100%;
    text-align: center;
        /*margin-top:50px;*/
	}
    #s5_logo_FV,#s5_textInsteadOfLogoWrap{
         width: 100%;
    text-align: center;
    }
    #s5_textInsteadOfLogo{
        margin-top: 46px;
    }
	.table_data .ctrlDiv{
        width:100%;
	}
    .webdata{
        display:none;
    }  .toBeReplaced span { 
           display: none; 
       } 
    .toBeReplaced:after { 
        content: "link above."; 
    } 
    .mobile{
        display:block;
    } 
    .mobiledata{
        display:block;
    }
    .mobileQuiz{display:block;}
}

/* Desktop less than 480px */
@media only screen
and (max-width: 480px) {}

/* Desktop less than 400px */
@media only screen
and (max-width: 400px) {}


/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
		.table_data .ctrlDiv{
        width:100%;
	}

}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px)
and (max-device-width : 1024px) 
and (orientation : landscape) {
	
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {

}

/* iPads Retina (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 2) {
		
}

/* iPads Retina (landscape) ----------- */
@media only screen 
and (min-device-width : 768px)
and (max-device-width : 1024px) 
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 2) {
	
}

/* iPads Retina (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {

}

/* iPhone 5 (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {

}

/* iPhone 5 (portrait) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : portrait) {
	
}

/* iPhone 5 (landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : landscape) {
	
}

/* iPhone 2G,3G,4,4S (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

}

/* iPhone 2G,3G,4,4S (portrait) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) 
and (orientation : portrait) {
	
}

/* iPhone 2G,3G,4,4S (landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) 
and (orientation : landscape) {
	
}


