﻿
.mobileStatusIcon{
    display:none;
}

.mobileQuiz{
    display:none;
}
 .mobiledata{
       display:none;
   }
  .mobile{
       display:none;
   }
@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
   
  
     .EmpQuizData {
    border: 1px solid black;
    border-collapse: collapse;
}
    .EmpQuizData tr:last-child
{
   border-bottom: 1px solid black;
}
    .categories-list table tr:last-child{border-bottom:none;}
.EmpQuizData tr th {
    border: none;
}
.webdata{
    display:none;
}  .toBeReplaced span { 
            display: none; 
        } 
        .toBeReplaced:after { 
            content: "link above."; 
        } 
.mobile{
       display:block;
   } 
 .mobiledata{
       display:block;
   }
   .mobileQuiz{display:block;}
 body{
     /*font-size:10px!important;*/
 }
 .subsectionHeader {
   
    padding: 6px 0px 8px 8px;
  
    text-align: center;
}
 .quizLegends{display:none;}
 .waiverform{display:none;}
 .mobileStatusIcon{
    display:block;
}
 .EmpQuizData tr:nth-child(odd){ 
		/*background: #b8d1f3;*/
        background-color:#CEECF5;  
	}
	/*  Define the background color for all the EVEN background rows  */
	.EmpQuizData tr:nth-child(even){
		/*background: #dae5f4;*/
        background-color:#81DAF5 ;
	}
}