﻿body {
			font-size: 15px;
			color: #343d44;
			font-family: "segoe-ui", "open-sans", tahoma, arial;
			padding: 0;
			margin: 0;
		}
		table {
			margin: auto;
			font-family: "Lucida Sans Unicode", "Lucida Grande", "Segoe Ui";
			font-size: 12px;
		}

		h1 {
			margin: 25px auto 0;
			text-align: center;
			text-transform: uppercase;
			font-size: 17px;
		}

		table td {
			transition: all .5s;
		}
		
		/* Table */
		.data-table {
			border-collapse: collapse;
			font-size: 14px;
			min-width: 537px;
		}

		.data-table th, 
		.data-table td {
			border: 1px solid #e1edff;
			padding: 7px 17px;
		}
		.data-table caption {
			margin: 7px;
		}

		/* Table Header */
		.data-table thead th {
			background-color: #508abb;
			color: #FFFFFF;
			border-color: #6ea1cc !important;
			/*text-transform: uppercase;*/
		}

		/* Table Body */
		.data-table tbody td {
			color: #353535;
		}
		.data-table tbody td:first-child{text-align:left !important;}
            .data-table  td {
                text-align: right;
            }
        .data-table tbody tr:nth-child(even) td {
			background-color:#81DAF5 ;	
           
        }
		.data-table tbody tr:nth-child(odd) td {
			background-color:#CEECF5;		}
		.data-table tbody tr:hover td {
			background-color: #ffffa2;
            
			border-color: #ffff0f;
		}
       
		/* Table Footer */
		.data-table tfoot th {
			background-color: #e5f5ff;
			text-align: right;
		}
		.data-table tfoot th:first-child {
			text-align: left;
		}
		.data-table tbody td:empty
		{
			background-color: #ffcccc;
           
		}
	
         .colorGreen {
            background-color:#a5ed69 !important;
        }

        .colorRed {
            background-color:#f37c7c !important;
        }   .colorYellow {
            background-color:#fbf46b !important;
        }