/* CSS Document for Inner Pages Index */

 
/* CSS Document  for Login Index.*/

*
{
	margin:0px;
	padding:0px;
}
.RichTextArea ul {
    padding-left: 40px;
}
blockquote
{
    margin: 0px 0px 0px 40px;    
}

html,body
{
	margin:auto;
	height:100%;
	font-family: 'Open Sans', Arial, sans-serif;
	color:#333; 
	font-size:14px;
	background: #222;
	overflow-x: hidden;
	position: relative;
}
.ie8 html,body,.ie9 html,body,.ie10 html,body
{	
	height:auto;
}

.container {
	margin:0 auto;
	background:#f8f8f8;
	width: 100%; 
	height: auto;  
}
.header {
	float: none;
	height: 250px;
	width: 100%;
	position: relative;
	background: #4db8f6;
	background: -moz-linear-gradient(top, #4db8f6 0%, #1475ad 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4db8f6), color-stop(100%,#1475ad));
	background: -webkit-linear-gradient(top, #4db8f6 0%,#1475ad 100%);
	background: -o-linear-gradient(top, #4db8f6 0%,#1475ad 100%);
	background: -ms-linear-gradient(top, #4db8f6 0%,#1475ad 100%);
	background: linear-gradient(to bottom, #4db8f6 0%,#1475ad 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4db8f6', endColorstr='#1475ad',GradientType=0 );
}
.adminHeader {
        background: linear-gradient(to bottom, #f64d4d 0%, #4bca95 100%);
    }
.bannerHeader {
	height:auto;
	width:100%;
	max-width: 1000px;
	margin: 20px auto 0;
}
.bannerHeader table {
    width: 100% !important;
}

textarea {
    font-family: 'Open Sans', Arial, Helvetica, Sans-Serif;
	color:#000; 
	font-size:14px;
	background:#fff;
	line-height:146%;
}
.content {	 
	width: 100%;   
	max-width: 1000px;
	margin: 0 auto;
	padding: 40px 0 60px;
	*zoom: 1;
}
.content:before, .content:after { content: ""; display: table; }
.content:after { clear: both; }

.contentSub {
	float:left;
	height:auto;
	/*letter-spacing:0.1px;*/
	margin-bottom:15px;
	width: 100%;
}
.contentSub table {
    width:100% !important;
}

.sidebar_left
{
	float:left;
	width: 25%;
	height:100%;
	background:#fff;
	padding: 2%;
	box-shadow: 0 5px 10px rgba(0,0,0,.2);
	
}
 .sidebar_right {
	float:right;
	width: 26%;
	padding: 2%;
	height:auto;
	background:#fff;
	box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.main
{
	float:left;
	height: 100%;
	width: 70%;
}
.main_left
{
	float:left;
	width:66%;
	height:auto;
	background:#fff;
	padding:2%;
	 
}
.main_right
{
	float:right;
	width: 66%;
	padding:2%;
	height:auto;
	background:transparent;
}
#accord {
    width: 100% !important;
}
.ExpandListButton {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 15px;
    margin: 0 !important;
    float: none !important;
    top: 8px;
}
.page-subtitleAdd {
    position: relative;
}
#PrequalificationsList {
    float: left;
}

.footer {
	 float:left; 
	 width:100%; 
	 background: #222222;   
	 color:#ffffff; 
	 border-top: 6px solid #4db8f6;
	 height: 150px;
	 padding-top: 20px;
}
.footer_content {
    width: 96%;
    max-width: 960px;
    padding: 0 2%;
    margin: 0 auto;
}
.footer nav {
	text-align: left;
	font-size:0.9em;
}
.footer nav ul {
	margin-top:2px;
	padding:0px;
}
.footer nav ul li:first-child {
	display:block;
	font-size: 20px;
	font-weight: 200;
	color: #4eb9ed;
}
.footer nav ul li {
	display: inline-block; 
	list-style:none;
	padding: 0 5px 15px 5px;
	border-right:0px solid #999999;
}
.footer nav ul li:nth-child(2) {
    display: block;
}
.footer nav ul li a:link {
	text-decoration:none;
	color:#999999;
}
.footer nav ul li a:visited {
	text-decoration:none;
	color:#999999;
}

.footer nav ul li  a:hover {
	text-decoration:underline;
	color:#999999;
}