 
/* CSS Document  for Login Index.*/

*
{
	margin:0px;
	padding:0px;
}

html,body
{
	margin:auto;
	height:100%;
	font-family: 'Open Sans', Arial, sans-serif;;
	color:#333; 
	font-size:14px;
	background:#f8f8f8;
	overflow-x: hidden;
	position: relative;
}
.container {
	margin:0 auto;
	background:#f8f8f8;
	width: 100%; 
	height:100%;  
}
.header {
	float: none;
	height: 200px;
	width: 100%;
	position: relative;
	background: #4db8f6;
	background: -moz-linear-gradient(top, #4db8f6 0%, #1475ad 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4db8f6), color-stop(100%,#1475ad));
	background: -webkit-linear-gradient(top, #4db8f6 0%,#1475ad 100%);
	background: -o-linear-gradient(top, #4db8f6 0%,#1475ad 100%);
	background: -ms-linear-gradient(top, #4db8f6 0%,#1475ad 100%);
	background: linear-gradient(to bottom, #4db8f6 0%,#1475ad 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4db8f6', endColorstr='#1475ad',GradientType=0 );
}
#s5_header_wrap { height: 200px;}
#s5_logo_wrap { bottom: 65px;}

.content {	 
	width:100%;   
	padding-bottom: 60px;
	float: left;
}

.content table {
    max-width: 960px !important;
    margin: 0 auto !important;
    padding: 0;
}

.side_left
{
	float:left;
	width:270px;
	height:100%;
	background:#fff;
}
 .sidebar_right
{
	float:right;
	width:260px;
	height:auto;
	background:#fff;
}
.main
{
	float:left;
	width:100%;
	height:100%;
	background:#fff;
}
.main_left
{
	float:left;
	width:709px;
	height:auto;
	background:#fff;
	padding-left:10px;
	 
}
.footer {
	 float:left; 
	 width:100%; 
	 background:#222222;   
	 color:#ffffff; 
	 border-top: 6px solid #4db8f6;
	 height: 150px;
	 padding-top: 20px;
}
.footer_content {
    width: 96%;
    max-width: 960px;
    padding: 0 2%;
    margin: 0 auto;
}
.footer nav {
	text-align: left;
	font-size:0.9em;
}
.footer nav ul {
	margin-top:2px;
	padding:0px;
}
.footer nav ul li:first-child {
	display:block;
	font-size: 20px;
	font-weight: 200;
	color: #4eb9ed;
}
.footer nav ul li {
	display: inline-block; 
	list-style:none;
	padding: 0 5px 15px 5px;
	border-right:0px solid #999999;
}
.footer nav ul li:nth-child(2) {
    display: block;
}
.footer nav ul li a:link {
	text-decoration:none;
	color:#999999;
}
.footer nav ul li a:visited {
	text-decoration:none;
	color:#999999;
}

.footer nav ul li  a:hover {
	text-decoration:underline;
	color:#999999;
}

/* Srinivas on 7/29/2014 */
.contentWrapper
{
    float:left;
    width:100%;
    height:auto;
    padding:3% 0 ;   
}

.contentWrapper table
{
    max-width: 920px !important;
    margin: 0 auto !important;
    padding: 0;
}
/* Ends */