/* CSS Document  Site Maintenance*/

html, body{
	background: #0572b1;
	font-family: 'Open Sans', Arial, sans-serif;
	color:#fff;
	font-size:18px;
}
.container{
	width:100%;
	height:100%;
	position:relative;
}
.content{
	width:50%;
	margin:7% auto 0 auto;
	text-align:center;
	padding:30px;
	position:relative;
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	border-radius:8px;
}
.content:before, .content:after{
   content:"";
   position:absolute;
   z-index:-1;
   -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
   -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
   box-shadow:0 0 20px rgba(0,0,0,0.8);
   top:0;
   bottom:0;
   left:10px;
   right:10px;
   -moz-border-radius:100px / 10px;
   border-radius:100px / 10px;
}
.content:after{
   right:10px;
   left:auto;
   -webkit-transform:skew(8deg) rotate(3deg);
      -moz-transform:skew(8deg) rotate(3deg);
       -ms-transform:skew(8deg) rotate(3deg);
        -o-transform:skew(8deg) rotate(3deg);
           transform:skew(8deg) rotate(3deg);
}
h1{
	font-weight:500;
	font-size:52px;
	line-height:24px;
}
p{
	color:#f1f1f1;
	font-size:16px;
}
span{
	font-size:20px;
	font-weight:500;
	color:#fff;
}
sup{
	font-size:14px;
}
@font-face {
	font-family: 'WhitneyHTF';
	src: url('file:///E|/fv on 21-10-2214/fonts/WhitneyHTF.otf');
	src: local('WhitneyHTF'), local('WhitneyHTF'), url('file:///E|/fv on 21-10-2214/fonts/whitneyhtf.ttf') format('truetype');
}
@font-face {
	font-family: 'WhitneyHTF Bold';
	src: url('file:///E|/fv on 21-10-2214/fonts/WhitneyHTF-Bold.otf');
	src: local('WhitneyHTF Bold'), local('WhitneyHTF'), url('file:///E|/fv on 21-10-2214/fonts/whitneyhtf-bold.ttf') format('truetype');
}