﻿.mobileonsite{display:none;}
.mobiledata{
    display:none;
}

@media only screen and (max-width: 768px) {
    .rowTabs > table > tbody > tr > td {
    display: contents !important;
}
    .webdata{
        display:none;
    }
    .mobiledatatabs{
        float:left;
        padding-left:15%;
         background:none;
        padding-right: 11%;
    }
  .unSelectedTab {
   
     color: black!important;
      background:none;  
     border: none; 
     height:auto!important;
    
}
  .modal-content {
    
    width: 80%!important;
    height:auto!important;
}
  .tscroll  {
  width: 350px;
  height:300px;

  overflow: scroll;
 
}

.sticky {
  position: sticky;
  position: -webkit-sticky;
  background-color: #9e9e9e;
  left:0px;
}

 .selectedTab {
    height:auto!important;
     background:none;
     border: none; 
    
}
 /*#visitorsCheckins {
width: 90%;
height: 100%;
min-width: 1000px;
min-height: 1000px;
}*/
 /*#visitorsCheckins{border:none;}*/
 /*.visitortable {border-collapse:collapse;padding-left:5%;}
 .visitortable tr td:first-child{font-weight:bold;}
 .visitortable tr td{padding:10px;border: 1px solid black;}*/
 .mobiledata{
    display:block;
}
 .mobileonsite{display:block;}
   
 /*.CheckinTable, thead, tbody, th, td, tr {
			display: block;
		}

	.CheckinTable,thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

   .CheckinTable,tr {
      margin: 0 0 1rem 0;
    }
    .CheckinTable,  .columnheader{display:none!important;}
   
    
		.CheckinTable, td {
			
			border: none;
			border-bottom: 1px solid #eee;
			position: relative;
			padding-left: 50%;
		}

	.CheckinTable,td:before {
			position: absolute;
			top: 0;
			left: 6px;
			width: 60%;
			padding-right: 10px;
			white-space: nowrap;
		}

		
		 td:nth-of-type(1):before { content: "Vistor Name"; }
		td:nth-of-type(2):before { content: "Company Name"; }
		td:nth-of-type(3):before { content: "Employee/Visitor Name"; }
		td:nth-of-type(4):before { content: "Tag #"; }
		td:nth-of-type(5):before { content: "Badge #"; }
		td:nth-of-type(6):before { content: "Check-In"; }
		td:nth-of-type(7):before { content: "Offsite"; }
	td:nth-of-type(8):before { content: "Reset Check-In"; }
	td:nth-of-type(9):before { content: "Reset Tag # "; }
       td:nth-of-type(10):before { content: "Reset Badge # "; }
        #visitorsCheckins{display:block;}
        .ContractorCheckinRow {
    display: block;
    border: none;
}*/
   
	
}
 