﻿   
         .main_right {
        float: left;
        width: 100%;
    }
    .content{
        max-width: 100% !important;
    }
    /* PowerBiReports */
      ul.breadcrumb {
        padding: 10px 16px;
        list-style: none;
        /*background-color: #eee;*/
    }

    /* Display list items side by side */
    ul.breadcrumb li {
        display: inline;
        font-size: 18px;
    }
     
    /* Add a slash symbol (/) before/behind each list item */
    ul.breadcrumb li+li:before {
        padding: 8px;
        color: black;
        content: "|";
    }

    /* Add a color to all links inside the list */
    ul.breadcrumb li a {
        color: #0275d8;
        text-decoration: none;
    }

    /* Add a color on mouse-over */
    ul.breadcrumb li a:hover {
        color: #01447e;
        text-decoration: underline;
    }