﻿.mobileStatusIcon{
    display:none;
}
  .webdata{display:block;}
.weblogin{font-size:small;}
@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
   /*.partialPage td {
       padding:10px 0px 0px 0px!important;
    }
 body{
     font-size:10px!important;
 }
 .QuizIcons{display:none;} 
 .waiverform{display:none;}
 .mobileStatusIcon{
    display:block;
}*/
   .webdata{display:none;}
   .weblogin{font-size:x-small;}
}

