﻿.colorGreen {
            background-color:#abf78c !important;
        }

        .colorRed {
            background-color:#f5acac!important;
        }   .colorYellow {
            background-color:#f6e271!important;
        }

            .data-table thead th {
			background-color: #508abb;
			color: #FFFFFF;
			border-color: #6ea1cc !important;
			
		}

		
	.vendorDetailsTableLeft	.data-table tbody td {
			color: #353535;
		}
	.vendorDetailsTableLeft	.data-table{border-color:burlywood;}
      .vendorDetailsTableLeft  .data-table tbody tr:nth-child(even) td {
			background-color:#f8cdae;	
          
           
        }
	.vendorDetailsTableLeft	.data-table tbody tr:nth-child(odd) td {
			background-color:#CEECF5;		 }
    .vendorDetailsTableLeft .data-table tbody td:not(:first-child) {text-align:center!important;}