/*
Page Created Date: 08/29/2013
Created By: Srinivas
Purpose:Seperating our css with FV
Version: 1.0
*/

/*=======================================================
    CSS for Inner Pages
=========================================================
    1. All Rows Textbox, Dropdown, MultiSelect,TextArea and Lables.
        (a). rowIST
        (b). rowRadiocheckbox
        (c). rowGeneric
    2. Fonts.
    3. Alert text to appear below text field.
    4. Star to appear besides textfield.
    5. Error Messege & Success Message.
    6. Astrick for Mandaroty Fields.
    7. Individual Page's Footer.
    8. Inner Pages left Side bar.
    9. CSS for Partial page.
    10. Partial page's header and search tab.
    11. Vendor Search.
    12.Hyper Links.
........................................................*/

.rowGeneric
{
	float:left;
	width:709px;
	height:auto;
	border-bottom:1px solid #ddd;
	padding:10px 0px 10px 0px;
}
.rowGenericSelect
{
    
	width:152px;
	height:24px;
	padding:2px 0px 0px 5px;
    background:#fff;
	-moz-box-shadow:0 3px 3px rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1) inset;
	box-shadow:0 3px 3px rgba(0, 0, 0, 0.1) inset;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
	border:solid 1px #CCCCCC;
}

.rowGenericInput
{
    
	width:148px;
	height:22px;
	padding:0px 0px 0px 5px;
    background:#fff;
	-moz-box-shadow:0 3px 3px rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1) inset;
	box-shadow:0 3px 3px rgba(0, 0, 0, 0.1) inset;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
	border:solid 1px #CCCCCC;
}
/*
.rowGeneric label
{
	float:left;
	width:150px;
	min-height:24px;
	height:auto;
	padding:2px 10px 0px 10px;
	letter-spacing:0.1px; 
}
*/
/* .rowIST is used for Input, Select and TextArea */
.rowIST
{
	float:left;
	width:709px;
	height:auto;
	border-bottom:1px solid #ddd;
	padding:10px 0px 10px 0px;
}
.rowIST label
{
	float:left;
	width:290px;
	min-height:24px;
	height:auto;
	padding:2px 10px 0px 10px;
	letter-spacing:0.1px;   
}

.rowIST input[type='text'],.rowIST input[type='password'],.rowIST input[type='file'],.rowIST input[type='date'],.rowIST input[type='dates'] {
	
	float:left;
	width:300px;
	height:14px; /* srinivas 1/22/2014 */
	padding:5px 5px 5px 5px; /* srinivas 1/22/2014 */
	background:#fff;
	-moz-box-shadow:0 3px 3px rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1) inset;
	box-shadow:0 3px 3px rgba(0, 0, 0, 0.1) inset;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
	border:solid 1px #CCCCCC;
	
}
.rowIST input[type='file']
{
    height:24px; /* srinivas 1/22/2014 */
	padding:0px 5px 0px 0px; /* srinivas 1/22/2014 */
}
.rowIST select
{	
	float:left;
	width:312px;
	height:24px;
	/*padding:2px 0px 0px 5px;*/
	padding:0px 0px 2px 5px;/*Srinivas by 6th, Dec-2013 */
	background:#fff;
	-moz-box-shadow:0 3px 3px rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1) inset;
	box-shadow:0 3px 3px rgba(0, 0, 0, 0.1) inset;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
	border:solid 1px #CCCCCC;
}

.rowIST textarea
{
	float:left;
	width:300px;
	height:100px;
	padding:5px 5px 5px 5px;
	background:#fff;
	-moz-box-shadow:0 3px 3px rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1) inset;
	box-shadow:0 3px 3px rgba(0, 0, 0, 0.1) inset;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
	border:solid 1px #CCCCCC;
}

.sortBySelect
{	
    width:150px;
	height:24px;
	padding:2px 0px 0px 5px;
	background:#fff;
	-moz-box-shadow:0 3px 3px rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1) inset;
	box-shadow:0 3px 3px rgba(0, 0, 0, 0.1) inset;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
	border:solid 1px #CCCCCC;
}

.answerInlabel
{
	float:left;
	width:290px;
	min-height:24px;
	height:auto;
	letter-spacing:0.1px;  

}

label:after
{
    content: " ";
    position:absolute;
    font-size:26px;
    font-weight:700;
    color:#e81f25;
    margin:-0.2em 0 0 0.1em;
}

.enableStar:after
{
    content: "*";
    position:absolute;
    font-size:26px;
    font-weight:700;
    color:#e81f25;
    margin:0em 0 0 0.1em;
	
}

.imgCursor
{
    cursor:pointer;
}

@font-face {
	font-family: 'WhitneyHTF';
	src: url('fonts/WhitneyHTF.otf');
	src: local('WhitneyHTF'), local('WhitneyHTF'), url('fonts/whitneyhtf.ttf') format('truetype');
}
@font-face {
	font-family: 'WhitneyHTF Bold';
	src: url('fonts/WhitneyHTF-Bold.otf');
	src: local('WhitneyHTF Bold'), local('WhitneyHTF'), url('fonts/whitneyhtf-bold.ttf') format('truetype');
}

/* Alert text to appear below text field*/
.alertText
{	
    margin:0 0px 0 310px; 
	width:380px; 
	height:auto; 
	/*padding:5px 0 5px 3px; */
	color:#e81f25; 
	font-weight:normal; 
	float:left; 
	
}

/* Star to appear besides textfield*/
.alertStar
{	
    float:left;
    color: #e81f25;
    line-height:2.0em;
    margin-left:5px;
    font-size:14px;
    margin-bottom:0px;
}

.successMessage
{

 float:left;
 width:699px;
 height:auto;
 text-align:left; 
 padding-top:5px;
 color:#009900;
 margin-bottom:10px;
 border-bottom:1px solid #ddd;
 padding-bottom:5px;
}

.errorMessage
{

 float:left;
 width:699px;
 height:auto;
 text-align:left; 
 padding-top:5px;
 color:#e81f25;
 margin-bottom:10px;
 border-bottom:1px solid #ddd;
 padding-bottom:5px;
}

.errorMessage li
{
    display:block;
}


/*==================================Individual Page's content footer used for Save/Cancel etc...===================================*/
.pageFooterContent
{
	float:left;
	width:709px;
	padding:10px 0px;
	background:#f9f9f9;
	border-top:2px solid #ccc;
	font-size:14px;
	margin:10px 0px 0px 0px;
}

.pageFooterContent P
{
	text-align:justify;
	margin:0px;
	line-height:1.5em;
	padding:10px;/*Rajesh*/
}

.pageFooterConfirmText
{
	float:left;
	width:100%;
	height:auto;
    margin:15px 0px 15px 10px;/*Rajesh*/
	padding:0px;/*Rajesh*/
}

.pageFooterConfirmText input
{
	float:left; 
	margin:0px -5px 0px 0px;/*Rajesh*/ 
}


.pageFooterConfirmText label
{   
	float:left;
	width:auto;
	height:auto;
	padding:0px;/*Rajesh*/
	margin:0px;/*Rajesh*/
}

.popUpPageFooterContent
{
	float:left;
	width:100%;
	padding:10px 0px;
	background:#f9f9f9;
	border-top:2px solid #ccc;
	font-size:14px;
	margin:10px 0px 0px 0px;
}

/*
.pageFooterButton
{
	float:left;
	padding:5px;
	background:#000;
	color:#fff;
	font-weight:bold;
	font-size:16px;
	border:0px;
	cursor:pointer;
}
*/
.pageFooterButtons
{
	float:left;
	width:auto;
	height:auto;
	/*padding:20px 0px 20px 0px;*/
	 
}
.pageFooterContent td
{
	padding:0px 10px 0px 0px;
}

.pageFooterCancelButton 
{
	float:left;
	width:auto;
	color:#3399cc;
	 
}


.pageFooterCancelButton a:link
{
	color:#0000ee;
	text-decoration:none;
	
}
.pageFooterCancelButton a:visited
{
	color:#0000ee;
	text-decoration:none;
	
}
.pageFooterCancelButton a:hover
{
	color:#0000ee;
	text-decoration:underline;
	
}

.pageFooterContent a:link
{
	color:#0000ee;
	text-decoration:none;
	
}
.pageFooterContent a:visited
{
	color:#0000ee;
	text-decoration:none;
	
}
.pageFooterContent a:hover
{
	color:#0000ee;
	text-decoration:underline;
	
}

.PageFooter_Button
{
	 float:left;
	min-width:90px;
	padding:2px 5px;
	color:#214478;
	 margin-left:10px; 
    font-size: 1.5em;
	border:1px solid #afc6e9;
	border-radius:4px;
	font-size: 16px;
	font-family: inherit;
	 background: #f6f9fc; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2ZjlmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkYWU1ZjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #f6f9fc 0%, #dae5f5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f9fc), color-stop(100%,#dae5f5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f6f9fc 0%,#dae5f5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f6f9fc 0%,#dae5f5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f6f9fc 0%,#dae5f5 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f6f9fc 0%,#dae5f5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f9fc', endColorstr='#dae5f5',GradientType=0 ); /* IE6-8 */
	
}

.PageFooter_Button:hover
{
	background: #dae5f5; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RhZTVmNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNmY5ZmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #dae5f5 0%, #f6f9fc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dae5f5), color-stop(100%,#f6f9fc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #dae5f5 0%,#f6f9fc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #dae5f5 0%,#f6f9fc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #dae5f5 0%,#f6f9fc 100%); /* IE10+ */
	background: linear-gradient(to bottom, #dae5f5 0%,#f6f9fc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dae5f5', endColorstr='#f6f9fc',GradientType=0 ); /* IE6-8 */
	cursor:pointer;
}
/*==================================Page Footer===================================*/

/*===================================Inner Pages left Side bar================================*/


.navigation
{
	float:left;
	width:100%;
	height:auto;
}

.navigation ul
{ 
   display:block;
   width:100%;
}

.navigation ul li
{
	float:left; 
    width:100%;
}

.sideBarContent
{
	float:left;
	width:255px;
	height:auto;
	font-family: 'Arial Narrow',Arial,Helvetica,Sans-Serif ;
	color:#666;
	font-size:1.1em; margin-top:0px; padding-left:10px; background:#FFF;
	
}
.sideBarContent nav
{	 margin-top:-18px;
}
.sideBarContent nav ul
{	
	list-style-type:none;
	margin:0 0 0 0;
	padding:0;
}
.sideBarContent  ul li
{
	float:left;
	width:100%;	
	padding:11px 0px;
	text-align:left;
}
.sideBarContent a:link
{
	color:#666;
	text-decoration:none;
}
.sideBarContent li a:visited
{
	color:#666;
	text-decoration:none;
}
.sideBarContent li a:hover
{
	color:#666;
	text-decoration:underline;
}
.sideBarContent li a:active,.sideBarContent li a:focus
{
	outline:none;
}
.sideBarContent h3
{
	float:left; width:100%; margin:0px 0 10px 0px; padding-bottom:0px;
	 font-size:1.4em;
	 color:#e81f25; font-weight:normal;   height:25px;
	background:url(../images/sidebarbar.png) no-repeat bottom left; text-align:left;  
}


/*===================================Side bar left================================*/
/*
.addNewButtonLeft
{
   float:left;
    width:120px;
    height:26px;
    background:url("../images/AddNew1.png") no-repeat;
    border:0px;
    outline:none;
    background-color:transparent;   
    color:#fff;
    font-size:13px;      
    padding:5px 0px 0px 10px; 
}

.addNewButtonLeft:hover
{
    color:#fff;
    text-decoration:underline;
    cursor:pointer;
}

.addNewButtonRight
{
    float:right;
    width:120px;
    height:26px;
    background:url("../images/AddNew1.png") no-repeat;
    border:0px;
    outline:none;
    background-color:transparent;   
    color:#fff;
    font-size:13px;      
    padding:5px 0px 0px 10px;    
    
}

.addNewButtonRight:hover
{
    color:#fff;
    text-decoration:underline;
    cursor:pointer;
} 
*/
button
{
 	text-align:center;
	min-width:90px;
	padding:2px 5px;
	color:#214478;
	font-size: 1.5em;
	border:1px solid #afc6e9;
	border-radius:4px;
	font-size: 16px;
	font-family: inherit;
	 background: #f6f9fc; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2ZjlmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkYWU1ZjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #f6f9fc 0%, #dae5f5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f9fc), color-stop(100%,#dae5f5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f6f9fc 0%,#dae5f5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f6f9fc 0%,#dae5f5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f6f9fc 0%,#dae5f5 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f6f9fc 0%,#dae5f5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f9fc', endColorstr='#dae5f5',GradientType=0 ); /* IE6-8 */
	
}
button:hover
{
	background: #dae5f5; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RhZTVmNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNmY5ZmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #dae5f5 0%, #f6f9fc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dae5f5), color-stop(100%,#f6f9fc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #dae5f5 0%,#f6f9fc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #dae5f5 0%,#f6f9fc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #dae5f5 0%,#f6f9fc 100%); /* IE10+ */
	background: linear-gradient(to bottom, #dae5f5 0%,#f6f9fc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dae5f5', endColorstr='#f6f9fc',GradientType=0 ); /* IE6-8 */
	cursor:pointer;
}

button::-moz-focus-inner 
{
  border: 0;
}

.rowCheckBox
{
	float:left;
	width:709px;
	height:auto;
	border-bottom:0px solid #ddd;
	padding:5px 0px 5px 0px;
	
}

/* CSS for Partial page --- */

.partialPage
{
	/*float:left; */
	width:709px;
	height:auto;
 	margin-top:0.4em;  
}

.partialPage table
{
	float:left;
	width:100%;
	height:auto;
	border-collapse:collapse;
}

.partialPage tr
{
	border-bottom:1px solid #ddd;
}

.partialPage td
{
	padding:10px 0px 10px 10px;
}
	
.partialPage table ul,ol
{
    float:left;
    width:auto;
    height:auto;
    margin-left:20px;
}	
	
.partialPage td img
{
	margin:0 0 -0.2em 0.2em;
}	

.partialHeader
{
    font-weight:bold;
}



/*----Partial page's header and search tab -----*/

.rowTabs,.rowTabsCompanies
{
	float:left;
	width:709px;
	height:auto;
	border-bottom:1px solid #ddd;
	padding:0px 0px 0px 0px;
}

.rowTabsCompanies table
{
    float:right;
    border-collapse:collapse;
    margin:0px 20px 0px 0px; 
    padding:0;    
}

.rowTabsLabel
{
	float:left;
	width:290px;
	min-height:24px;
	height:auto;
	padding:2px 10px 0px 10px;
	letter-spacing:0.1px;    
}


.selectedTab
{
	text-align:center;
	min-width:60px;
	padding:2px 5px;
	color:#214478;
	font-size: 1.5em;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	border-top:1px solid #ddd;
	border-left:1px solid #ddd;
	border-bottom:0px solid #ddd;
	border-right:1px solid #ddd;
	font-size: 14px;
	font-family: inherit;
	 background: #fff; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
}

.unSelectedTab
{ 	
	text-align:center;
	min-width:60px;
	height:auto;
	padding:2px 5px;
	color:#214478;
	font-size: 1.5em;
	border:1px solid #afc6e9;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	margin-bottom:-0.05em;
	
	font-size: 14px;
	font-family: inherit;
	 background: #f6f9fc; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg

+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d

3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD

0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI

+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudF

VuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwM

CUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2ZjlmYyIgc3RvcC1v

cGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkYWU

1ZjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ

+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKC

NncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #f6f9fc 0%, #dae5f5 

100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, 

color-stop(0%,#f6f9fc), color-stop(100%,#dae5f5)); /* Chrome,Safari4+ 

*/
	background: -webkit-linear-gradient(top, #f6f9fc 0%,#dae5f5 

100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f6f9fc 0%,#dae5f5 100%); 

/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f6f9fc 0%,#dae5f5 100%); 

/* IE10+ */
	background: linear-gradient(to bottom, #f6f9fc 0%,#dae5f5 

100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( 

startColorstr='#f6f9fc', endColorstr='#dae5f5',GradientType=0 ); /* 

IE6-8 */
}

.unSelectedTab label
{
    cursor:pointer;    
}

.unSelectedTab input,.selectedTab input
{
	display:none;
}

.permissionChkBoxes
{
	float:left;
	width:730px;
	height:auto;
	overflow:hidden;
	letter-spacing:0.1px;
}
.permissionChkBoxes table
{
	 
	width:100%;
	height:auto; 
	margin-bottom:5px;
	overflow:hidden;
	border-collapse:collapse;
}
.permissionChkBoxes tr
{
    border-bottom:1px solid #ddd;
    
}
.permissionChkBoxes td
{
	text-align: center; /* center checkbox horizontally */
    vertical-align: middle; /* center checkbox vertically */
    padding: 5px 0 5px 0;
}
.permissionChkBoxes th
{
	padding-bottom:5px;
	padding-top:5px;
	border-bottom:0px solid #ddd;
	font-size:1.1em;
}

/********** for Vendor Search *************/
.firstLetter
{
	float:left;
	width:709px;
	height:auto;
	min-height:86px;	
	margin-top:5px;
	padding:10px 0 10px 0;
	border-bottom:1px solid #ddd;
}
.firstLetterLabel
{
	float:left;
	width:300px;
	padding-top:5px;
	padding-left:10px;
	 
}

.firstLetter table input
{
	display:none;	
}

.firstLetter table
{
	float:right;
	width:300px;
	height:auto;
	border:1px solid #ddd;
	overflow:hidden;
	
}

.alphaCharacters 
{ 
	float:left; 
	width:34px; 
	height:34px; 
	line-height:2.5em; 
	text-align:center; 
	background:#fff; 
    border:1px solid #ddd;
	cursor:pointer; 
	font-weight:bold; 
	color:#0000ee;
}



/* Vendor Search Advanced Tab*/


.scrollCheckbox/*-----for Bidding Interest----*/
{
    width:295px; 
    height:100px;
	overflow:scroll;
	overflow-x:hidden;
    outline-color:#F93; 
    border:1px solid #ccc;
    box-shadow: 0 0 9px #CFD1D4t;
    margin:0px 76px 0px   0px;
    padding:10px 0px 5px 10px;  
}
.scrollCheckbox td
{
	padding:2px 0px 2px 0px ;
}
.scrollCheckbox label/*-----for Bidding Interest----*/
{
	float:left;
	width:auto; 
	height:auto; 
	padding-left:5px; 
	font-weight:normal;
	color:#000;
	line-height:.1em;
   
}

.scrollCheckbox input/*-----for Bidding Interest----*/
{
	float:left;
	margin-top:3px;
}
.commentsItalic
{
    color:#999999;
    font-style:italic;
    padding:5px 0px;
    width:auto;
    float:left;
}


/*Rajesh on 9-3-2013 for All Common links*/

a:link
{
    color:#0000ee;
    text-decoration:none;
}
a:visited
{
    color:#0000ee;
    text-decoration:none;
}
a:hover
{
    color:#0000ee;
    text-decoration:underline;
}

a:focus
{
	color:#0000ee;
	outline-style:none;
}
.controlHintText
{
    padding-left:5px;
}

.controlHintText li
{
    margin-left:15px;
}
.subTitleWithBG /* For Title with Background*/
{
    float:left;
    width:100%;
    height:auto;
    padding:6px 0 6px 10px;
    background:#e5e6e8;
}
.subTitleWithBG h2
{
    font-size:1.4em;
    float:left;
    text-align:left;
    margin:0;
    padding:0;
}

/*
      (c). rowRadioCheckbox
------------------------------*/
.rowRadioCheckbox {
	float:left;
	width:709px;
	height:auto;
	border-bottom:1px solid #ddd;
	padding:11px 0px 11px 0px;
}
.rowRadioCheckbox input[type='radio'] {
	float:left;
	margin: 3px 3px 0px 5px;
	box-sizing: border-box;
	display: inline-block;
	padding:1px;
}
.rowRadioCheckbox input[type='checkbox'] {	
	float:left;
	margin: 3px 3px 3px 4px;
	box-sizing: border-box;
	display: inline-block;
	padding:1px;
}
.rowRadioCheckbox table {
    float:left;
    margin:0px 0 0 10px;
    border-collapse:collapse;
}
.rowRadioCheckbox table td {
    padding-top:5px;
    padding-bottom:5px;
} 
.rowRadioCheckbox table label {
	float:left;
	width:290px;
	height:auto;
	padding:0px 8px 0 0;
	letter-spacing:0.1px; 
	line-height:normal;
	margin:0px;  
}
.rowRadioCheckbox table input[type='radio'] {
	float:left;
	margin: 3px 5px 3px 3px;
	box-sizing: border-box;
	display: inline-block;
	padding:1px;
}
.rowRadioCheckbox table input[type='checkbox'] {	
	float:left;
	margin:3px 5px 3px 3px;
	box-sizing: border-box;
	display: inline-block;
	padding:1px;
}
/*Rajesh on1/6/2014 */
.textEllipse
{
    white-space:nowrap; 
width:12em; 
overflow:hidden; 

text-overflow:ellipsis;
}