/*
Page Created Date: 08/29/2013
Created By: Srinivas
Purpose:Seperating our css with FV just for Login
Version: 1.0
*/


/* Added By Kiran on 09/05/2013 for Reports */

.mainReports
{
	float:left;
	width:699px;
	height:auto;
	background:#fff;
	border-right:1px solid #ddd;
}
.reportSideBar
{
    float:right;
    width:265px;
    height:auto;  
    padding-top:10px;      
    color:#000;      
}

.reportSideBar ul
{
    margin:30px 0px 0px 0px;
    float:left;
    width:240px;
    height:auto;
    display:inline; 
}

.reportSideBar ul li
{
    float:left;
    width:240px;    
    height:auto;
    padding-top:20px;
    padding-bottom:20px;
    border-bottom:1px solid #ccc;
    list-style:none;
    font-size:1.3em;
    color:#000;
    font-weight:normal;    
      
}

reportSideBar ul li a:{ color:#000; }
.reportSideBar ul li a:link{color:#000; text-decoration:none;  }
.reportSideBar ul li a:visited{ color:#000; }
.reportSideBar ul li a:hover{ color:#000; cursor:pointer; text-decoration:underline; }

.reportSideBar table
{
    font-size:0.9em;  
    margin-bottom:10px;  
}

.reportSideBar td
{
    padding:5px 0px;    
}

.reportSideBar table CheckBox
{
    height:24px;
    width:24px;    
}

.rowISTReports
{
	float:left;
	width:679px;
	height:auto;
	border-bottom:1px solid #ddd;
	padding:10px 0px 10px 0px;
}
.rowISTReports label
{
	float:left;
	width:290px;
	min-height:24px;
	height:auto;
	padding:2px 10px 0px 10px;
	letter-spacing:0.1px;   
}
.rowISTReports input[type='text']
{
	float:left;
	width:296px;
	height:24px;
	padding:0px 5px 0px 5px;
	background:#fff;
	-moz-box-shadow:0 3px 3px rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1) inset;
	box-shadow:0 3px 3px rgba(0, 0, 0, 0.1) inset;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
	border:solid 1px #CCCCCC;
	
}

.rowISTReports select
{	
	float:left;
	width:302px;
	height:24px;
	padding:2px 0px 0px 5px;
	background:#fff;
	-moz-box-shadow:0 3px 3px rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1) inset;
	box-shadow:0 3px 3px rgba(0, 0, 0, 0.1) inset;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
	border:solid 1px #CCCCCC;
}

.rowISTReports textarea
{
	float:left;
	width:290px;
	height:100px;
	padding:0px 5px 0px 5px;
	background:#fff;
	-moz-box-shadow:0 3px 3px rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1) inset;
	box-shadow:0 3px 3px rgba(0, 0, 0, 0.1) inset;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
	border:solid 1px #CCCCCC;
}

.rowGenericReports
{
	float:left;
	width:679px;
	height:auto;
	border-bottom:1px solid #ddd;
	padding:10px 0px 10px 0px;
}

.rowGenericReportsSelect
{
    
	width:152px;
	height:24px;
	padding:2px 0px 0px 5px;
	background:#fff;
	-moz-box-shadow:0 3px 3px rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1) inset;
	box-shadow:0 3px 3px rgba(0, 0, 0, 0.1) inset;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
	border:solid 1px #CCCCCC;
}
.rowGenericReportsInput
{
    
	width:145px;
	height:22px;
	padding:0px 0px 0px 5px;
	background:#fff;
	-moz-box-shadow:0 3px 3px rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1) inset;
	box-shadow:0 3px 3px rgba(0, 0, 0, 0.1) inset;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
	border:solid 1px #CCCCCC;
	
}

.rowGenericReportsLabel
{
	float:left;
	width:300px;
	padding-top:5px;
	padding-left:10px;
}

.scrollCheckboxReports/*-----for Bidding Interest----*/
{
    width:290px; 
    height:100px;
	overflow:scroll;
	overflow-x:hidden;
    outline-color:#F93; 
    border:1px solid #ccc;
    box-shadow: 0 0 9px #CFD1D4t;
    margin:0px 0px 0px   0px;
    padding:10px 0px 5px 10px;  
}
.scrollCheckboxReports td
{
	padding:2px 0px 2px 0px ;
}
.scrollCheckboxReports label/*-----for Bidding Interest----*/
{
	float:left;
	width:auto; 
	height:auto; 
	padding-left:5px; 
	font-weight:normal;
	color:#000;
	line-height:.1em;
   
}

.scrollCheckboxReports input/*-----for Bidding Interest----*/
{
	float:left;
	margin-top:3px;
}

.sortBySelectReports
{	
    width:150px;
	height:24px;
	padding:2px 0px 0px 5px;
	background:#fff;
	-moz-box-shadow:0 3px 3px rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1) inset;
	box-shadow:0 3px 3px rgba(0, 0, 0, 0.1) inset;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
	border:solid 1px #CCCCCC;
}