@charset "utf-8";
/* CSS Document */



.label_2:after{ content:"";}




/*---Header---*/
.dashboard_wrapper { float:left; width:100%; height:100px; margin:0px; background:#fff;}
.dashboard_top { margin:auto; width:100%; height:48px; background:#fff; background-image:url(../images/nav.jpg);}

.dashboard_nav { margin:auto; width:980px; height:58px; font:16pt Arial, Helvetica, sans-serif; line-height:2.3em; .line-height:2.35em; color:#fff; text-shadow:1px 1px 1px #000; }
.dashboard_nav ul { margin:0em 0em 0em -2.3em; .margin:0em 0em 0em -0.1em;}
.dashboard_nav ul li { display:inline;}
.dashboard_nav li { display:block; padding:14px 8px 14px; .margin:0em 0.1em 0em;}
.dashboard_nav li a:link {color:#fff; text-decoration:none; }
.dashboard_nav li a:visited  {color:#fff; }
.dashboard_nav li a:hover {color:yellow;}
.dashboard_nav li a:active  {color:#fff; }

/*---Header End---*/

.client_dashboard { margin:0.4em auto; width:960px; height:155px;}
.client_img { float:left; width:152px; height:152px;}
.logo { float:right; width:313px; height:76px; margin:0em;}
.client_name { float:left; width:auto; margin:0em 0em 0em 0.2em; .margin:0em 0em 0em 0.5em; font-size:34px; font-weight:bold; color:#ec0000;}

.dashboard_help { float:right; width:120px; height:58px; font:16pt Arial, Helvetica, sans-serif; text-align:center; line-height:2.3em; .line-height:2.35em; color:#fff; text-shadow:1px 1px 1px #000;}
.dashboard_help a:link {color:#fff; text-decoration:none; }
.dashboard_help a:visited  {color:#fff; }
.dashboard_help a:hover {color:yellow;}
.dashboard_help a:active  {color:#fff; }




.dashboard_sub { float:right; margin:0em 0em 0em 2em; width:980px; height:35px; font:11pt Arial, Helvetica, sans-serif; color:#fff; text-align:left;}
.dashboard_sub label { float:left; margin:0; width:590px; height:58px; font:10pt Arial, Helvetica, sans-serif; color:#000; text-align:right; line-height:1em; }
.dashboard_sub ul { float:right; width:378px; height:33px; margin:-0.7em -3.4em 0em 0em; .text-align:center; line-height:2em;  background-image:url(../images/sub.png); background-repeat:no-repeat;}
.dashboard_sub ul li { display:inline;}
.dashboard_sub li { display:block; padding:20px 8px 20px; .margin:0em 0.1em 0em;}
.dashboard_sub li a:link {color:#fff; text-decoration:none; }
.dashboard_sub li a:visited  {color:#fff; }
.dashboard_sub li a:hover {color:#808181;}
.dashboard_sub li a:active  {color:#fff; }




