/*
Page Created Date: 08/29/2013
Created By: Srinivas
Purpose:Seperating our css with FV
Version: 1.0
*/
 
/* CSS Document for Inner Pages Index */

*
{
	margin:0px;
	padding:0px;
}

blockquote
{
    margin: 0px 0px 0px 40px;    
}

html,body
{
	margin:auto;
	height:100%;
	font-family: 'Arial Narrow',Arial,Helvetica,Sans-Serif ;
	color:#000; 
	font-size:14px;
	background:#fff;
	line-height:146%;
}

textarea
{
    font-family: 'Arial Narrow',Arial,Helvetica,Sans-Serif ;
	color:#000; 
	font-size:14px;
	background:#fff;
	line-height:146%;
}

.header
{
	float:left;
	/*height:20.5%; */
	height:auto;
	width:100%; 
	background:#fff;
}

.bannerHeader
{
	float:left;
	/*height:20.5%; */
	height:auto;
	width:100%; 
	background:#fff;
}
.container
{
	margin:0 auto;
	background:#fff;
	width:1000px; 
	height:auto;  
	
}
.content
{
    
	float:left;
	height:auto; 
	min-height:500px;
	width:100%; 
	background:#fff;
	overflow:hidden;  
}

.contentSub
{
	float:left;
	width:98.5%;
	height:auto;
	background:#fff;
	/*letter-spacing:0.1px;*/
	margin-bottom:15px;
}

.sidebar_left
{
	float:left;
	width:250px;
	height:auto;
	background:#fff;
	margin-top:10px;
}
.sidebar_right
{
	float:right;
	width:260px;
	height:auto;
	background:#fff;
}
.main_left
{
	float:left;
	width:709px;
	height:auto;
	background:#fff;
	padding-left:10px;
	border-left:1px solid #ddd;
}
.main_right
{
	float:right;
	width:713px;
	height:auto;
	background:#fff;
	padding-left:15px;
	border-left:1px solid #ddd;
}

.main
{
	float:right;
	width:729px;
	height:auto;
	background:#fff;
	border-right:0px solid #ddd;
}
.footer
{
	
	 float:left;
	 height:25px; 
	 width:100%; 
	 background:#fff; 
	 text-align:center;   
	 color:#999999; 
	 border-top:1px dotted #999999;
}
.footer nav
{
	text-align:center;
	font-size:0.9em;
}
.footer nav ul
{
	margin-top:2px;
	padding:0px;
}
.footer nav ul li
{
	display:inline; 
	list-style:none;
	padding:0px 5px 0px 5px ;
	border-right:0px solid #999999;
}
.footer nav ul li  a:link
{
	text-decoration:none;
	color:#999999;
}
.footer nav ul li  a:visited
{
	text-decoration:none;
	color:#999999;
}

.footer nav ul li  a:hover
{
	text-decoration:underline;
	color:#999999;
}

@font-face {
	font-family: 'WhitneyHTF';
	src: url('fonts/WhitneyHTF.otf');
	src: local('WhitneyHTF'), local('WhitneyHTF'), url('fonts/whitneyhtf.ttf') format('truetype');
}
@font-face {
	font-family: 'WhitneyHTF Bold';
	src: url('fonts/WhitneyHTF-Bold.otf');
	src: local('WhitneyHTF Bold'), local('WhitneyHTF'), url('fonts/whitneyhtf-bold.ttf') format('truetype');
}
 



