 
/* CSS Document  for Login Index.*/

*
{
	margin:0px;
	padding:0px;
}

html,body
{
	margin:auto;
	height:100%;
	font-family: 'Arial Narrow',Arial,Helvetica,Sans-Serif ;
	color:#333; 
	font-size:14px;
	background:#fff;
}
.container
{
	margin:0 auto;
	background:#fff;
	 width:1000px; 
	height:100%;  
	
}
.header
{
	float:left;
	/*height:20.5%; */
	height:auto;
	width:100%; 
	background:#fff;
}

.content
{
	float:left;
	height:74.9%; 
	 
	width:100%; 
	background:#fff;
	overflow:hidden;  
}

.side_left
{
	float:left;
	width:270px;
	height:100%;
	background:#fff;
}
 .sidebar_right
{
	float:right;
	width:260px;
	height:auto;
	background:#fff;
}
.main
{
	float:left;
	width:100%;
	height:100%;
	background:#fff;
}
.main_left
{
	float:left;
	width:709px;
	height:auto;
	background:#fff;
	padding-left:10px;
	 
}
.footer
{
	
	 float:left;
	 height:4.5%; 
	 width:100%; 
	 background:#fff; 
	 text-align:center;   
	 color:#999999; 
	 border-top:1px dotted #999999;
}
.footer nav
{
	text-align:center;
	font-size:0.9em;
}
.footer nav ul
{
	margin-top:2px;
	padding:0px;
}
.footer nav ul li
{
	display:inline; 
	list-style:none;
	padding:0px 5px 0px 5px ;
	border-right:0px solid #999999;
}
.footer nav ul li  a:link
{
	text-decoration:none;
	color:#999999;
}
.footer nav ul li  a:visited
{
	text-decoration:none;
	color:#999999;
}

.footer nav ul li  a:hover
{
	text-decoration:underline;
	color:#999999;
}

@font-face {
	font-family: 'WhitneyHTF';
	src: url('fonts/WhitneyHTF.otf');
	src: local('WhitneyHTF'), local('WhitneyHTF'), url('fonts/whitneyhtf.ttf') format('truetype');
}
@font-face {
	font-family: 'WhitneyHTF Bold';
	src: url('fonts/WhitneyHTF-Bold.otf');
	src: local('WhitneyHTF Bold'), local('WhitneyHTF'), url('fonts/whitneyhtf-bold.ttf') format('truetype');
}
 


