
/* CSS Document for Spinner */

 
.Spinner_Overlay
{
	display: none;
	position:absolute;
	top: 0%;
	left: 0%;
	width:100%;
	height:100%; 
	background:#fff; 
	z-index:1001; 
	-moz-opacity: 0.7; 
	opacity:.7;filter: 
	alpha(opacity=70);
}

.Import_Submit_Spinner
{
    margin: 0px 10px 0px 6px;
    width:114px;
    height: 106px;
    display: none;
	position:fixed;
	top:36%;
	left:42%;
	z-index:1001;
}

 