

@charset "utf-8";
/* CSS Document */

#accord ul
{
	margin:0px;
	padding:0px;
	width:100%;
	height:auto;
	float:left;
	border:0px;
}

#accord li
{
	float:left;
	width:99%;
	padding:0px 0px;
	display:block;
	cursor:pointer;
}

#accord li ul li
{
	float:left;
	padding:5px 0px 5px 0px;
	width:97%;
	margin:10px 0px 0px 30px; 
	display:block;
	border:0px;border-bottom:1px solid #ddd; 
	background-color:#eee;
	 
}


#accord .div
{
	float:left;
	width:98%;
	display:none;
	
}

.templateListDisplay 
{
	float:left;
	padding:5px 0px 5px 0px;
	width:97%;
	margin:10px 0px 5px 20px; 
	height:auto;
	 
	border-bottom:1px solid #ddd; 
	
}

.subTitle
{
	
	float:left;
	padding:5px 0px 5px 10px;
	width:98.2%;
	margin:0px 0px 5px 0px;  
	height:auto;
	
}

.sortable
{
	list-style-type: none; 
	margin: 00px 0 0 0; 
	padding: 0 0 0 0; 
	width: 709px; float:left;
}


.sortable table
{
	float:left;
	border-collapse:collapse;
	margin-left:10px;
}

.sortable li 
{ 
	margin: 0 3px 0px 3px; 
	padding-left:5px; 
	width:709px;
	cursor:pointer;
	position:relative; 
	float:left;
	 
}

.sortable li span 
{   
	position: absolute;
	right:5px;   
}

.defaultList
{
	/*background:#e6e6e6;*/
	background:#fffff;
	border-bottom:1px solid #ddd;  
	width:600px;
	 
}

.icon 
{
	display: block;
	text-indent: -99999px;
	overflow: hidden;
 	background-repeat: no-repeat;
}
 
/*.icon-arrowthick-2-n-s {  
	background-position:  0px -5px; 
}*/

.icon 
{
	width: 20px;
	height: 30px;  
}
.icon,
.widget-content .icon 
{
    margin-top:3px;
    margin-right:5px;
	background-image: url(../images/rearrange.png);
}




.subSectionData
{
	padding:0px 0 50px 5px;
	  
	font-weight:bold; 
	color:#214478; 
	width:99%; 
	border:2px dashed #afc6e9; 
	background:#f6f9fc; 
	cursor:pointer;
	float:left;
	position:relative;
}
.subSectionData p
{
	text-align:center;
}
.subSectionDataContent
{
	float:left;
	width:95%;
    color:#000;
	margin:0px;
	padding:0 10px 0 10px;
	text-align:justify;  
}

.subSectionDataButtons
{
	width:100%;
	height:auto;
	float:right;
	margin-right:10px;
	margin-top:-20px;
	text-align:right;  
	
}

.subSectionData
{
	padding:30px; 
	  
	font-weight:bold; 
	color:#214478; 
	width:91%; 
	border:2px dashed #afc6e9; 
	background:#f6f9fc; 
	cursor:pointer;
	float:left;
	position:relative;
}
.subSectionData p
{
	text-align:center;
}
.subSectionDataContent
{
	float:left;
	width:100%;
color:#000;
	margin:0px;
	text-align:justify;  
}

.subSectionDataButtons
{
	width:100%;
	height:auto;
	float:right;
	margin-right:-20px;
	margin-top:-50px;
	text-align:right;  
	
}

.subSectionDataBackground
{
	float:left; 
	width:99.5%; 
	height:auto; 
	background:#f9f9f9; 
	padding:0 0 10px 0;
	
	
}

.welcomeTextWizard
{
	float:left;
	width:97%;
	min-height:100px;
	height:auto;
	margin:20px 10px 0 10px;
	background:#fff;
	border:2px dashed #e6e6e6;
	position:relative;
}

.welcomeText
{
	position:absolute;
	top:30%;
	height:auto;
	text-align:center;
	/*color:#888;*/
		color:#ddd;
	font-weight:bold;
	padding:0px 10px 0px 10px;
	width:97%;
}
.newTemplateWizard
{
	float:left;
	width:97%;
	min-height:100px;
	height:auto;
	margin:20px 10px 0 10px;
	background:#fff;
	border:1px solid #e6e6e6;
	position:relative;
}
.subSectionText_1
{
	float:left;
	  overflow:hidden;
	width:100%;
	height:auto;
	text-align:center;
	/*color:#888;*/
		color:#ddd;
	font-weight:bold;
	padding-bottom:10px;
}
.newTemplateSectionList ul li
{
    float:left;
	padding:0px 0px 0px 0px;
	width:94%;
	margin:0px 0px 10px 10px; 
	display:block;
	border:0px;border-bottom:1px solid #ddd; 
	background-color:#eee;
}

#SelectAnotherTemplate select
{
	float:left;
	width:95%;
	height:24px;
	padding:2px 0px 0px 5px;
	background:#fff;
	-moz-box-shadow:0 3px 3px rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1) inset;
	box-shadow:0 3px 3px rgba(0, 0, 0, 0.1) inset;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
	border:solid 1px #CCCCCC;
}
#Edit:hover
{
	cursor:pointer;
}
