@charset "utf-8";
/* CSS Document */

body{ margin:0px; padding:0px; background-color:#fff;}

.termCondition_content{ float:left; width:100%; min-height:100px; height:auto;
                         font-family:Arial, Helvetica, sans-serif; color:#000; }
						

.termCondition_img{float:left; width:99.5%; height:30px; background-image:url(../images/termCondition_header.png); font-size:14px; color:#663300; line-height:2em; padding-left:0.5%;  }


.termCondition_data{ width:96%; height:auto; font-size:12px; padding-left:10px; margin-top:20px; margin-bottom:1px; text-align:left; line-height:1.3em;}


h3{ float:left; width:100%;  font-size:14px; font-weight:bold;   margin-bottom:10px;   }
p{float:left; width:100%; height:auto; margin-bottom:10px; margin-top:0px;}