@charset "utf-8";
/* CSS Document */
.user-search_content button { border:0px; outline:none; background-color:transparent;}


.user-search_content 
{ 
    float:left; 
    width:680px; 
    min-height:440px;
    height:auto;  
    font-family: Arial, Helvetica, sans-serif; 
    font-size:14px;
	
}

	
.user-search_content1 
{ 
    float:left; 
    width:680px; 
    min-height:310px; 
    height:auto;
	background-color:#fff;
}
   
   
.user-search_content2
{ 
    float:left; 
    width:680px; 
    min-height:100px;
    height:auto;
	margin-top:2px; 
	margin-bottom:10px;
	border-top: 1px Solid #eee;
}

	
.user-search_content select

    { 
	
	 border:1px solid #ccc; 
	 outline:0px;
	 
	 }
	 
.user-search_content  input
   
    { 
	
	 outline-color:#F93; 
     border:1px solid #ccc;
     box-shadow: 0 0 9px #CFD1D4 inset;
    
	 
	 }

.head_user 

    { 
	
	 float:left; 
	 width:550px; 
	 height:30px;  
	  
	 color:#663300; 
	 line-height:2em; 
	 padding-left:10px; 
	 text-shadow:#fff 0px 1px 0px; 
	 background:#cbcbcb; 
	 
	 }
/*	 
.userSearch_img_two

     { 
	  float:right;   
	  width:120px; 
	  height:26px;
      background-image:url(../images/AddNew1.png); 
	  background-repeat:no-repeat;
	  margin-right:0px; 
	  margin-top: -3px;
	  color:#fff; 
	  font-weight:bold;
	  font-size:12px;
	  text-align:center; 
	  line-height:2.7em; 
	  
	  }
	  
	  

.userSearch_img_two:hover
    
	 {
		 
	  text-decoration:underline;
	  color:#fff;
	  
	  }
	*/  




.user-searchbox 

   { 
 
    float:left; 
	width:680px; 
	height:280px; 
	 
	
	}
 user-line 

   { 
   
    float:left; 
	width:100%;
	 height:1px; 
	 border-bottom:1px solid #eee;
	 
	 
	 }


/*---Name & Advace---*/


.userSearch_line2 
 { 
     float:left; 
	 width:660px; 
	 min-height:40px;
	 height:auto;
	 margin-top:-5px; 
    
 
 }
.userSearch_line2 label 

    { 
	
	float:left; 
	width:270px; 
	height:24px; 
	color:#000; 
	padding-left:5px;
	line-height:2.2em;
	 
	
	}
.userSearch_line2 input 
{ 
	 float:left; 
	 width:200px; 
	 height:24px; 
	 color:#000;
	 padding:0px 5px 0px 5px;
	 
	 
	  
	 }

.userSearch_line2_checkBox input 

     { 
	
	 float:left; 
	 width:180px; 
	 height:22px; 
	 margin:8px 0px 8px 0px; 
	 padding:0 10px 0 10px; 
	 border-bottom:1px solid #c1ccd1; 
	 border:1px solid #bab9b9; 
	 outline-color:#F93; 
	  line-height:1em; 
	 
	 }










.user-menu 

     { 
	 
	 float:left; 
	 width:680px;
	 height:32px; 
	 margin:10px 0px 10px 0px;
	 padding:0px; 
	 border-bottom:1px solid #eee;
	 
	 }
	 
.user-name

     { 
	 
	 float:left; 
	 width:66px; 
	 height:32px; 
	 text-align:center; 
	 line-height:2.3em; 
	padding:0px; 
	 background-image:url(../images/name.png);  
	 background-repeat:no-repeat; 
	 margin:0px 0px 10px 30px; 
	 font-weight:bold; 
	 color:#6a95c5;  
	 
	 }

.user-advance 

{ 
	 
    float:left; 
    width:88px; 
    height:32px; 
    text-align:center; 
    line-height:2.3em; 
    background-image:url(../images/advance.png);
    margin:0px 0px 10px -1px; 
    padding:0px; 
    font-weight:bold; 
    color:#9c5000; 
	 
}
.user-strong 

     { 
	 
	 float:left; 
	 width:280px; 
	   
	 padding-left:20px; 
	 color:#000; 
	 padding-top:10px;
	 
	 
	 }


.user-menu input

     { 
	 
	 width:200px; 
	 height:24px; 
	 display:none; 
	 border:1px solid #eee;
	 
	 }



.user-status 

    { 
	
	float:left; 
	width:670px; 
	height:120px; 
	
	padding:10px 0px 10px 10px; 
	border-bottom:1px solid #eee;
	
	}
.user-status input 

    { 
	
	width:24px; 
	height:auto;
	padding-top:5px; 
	background:#900
	
	}
	
.user-status01 

    { 
	
	float:left; 
	width:640px; 
	height:100px; 
 
	padding:20px; 
	border-bottom:1px solid #eee;
	
	}
	
.status-label 

     { 
	 
	 float:left; 
	 width:220px; 
	 height:50px; 
	 margin-right: 50px;
	 
	 color:#000;
	 
	 }
	 
.ch_label 

     { 
	 
	 width:80px; 
	 height:auto; 
	 
	 color:#000;
	 
	 }

.client-line 

    { 
	
	float:left; 
	width:100%; 
	height:auto; 
	
	margin-bottom:0.2em;
	
	}
	
.client-line label 

    { 
	float:left; 
	width:220px; 
	height:auto; 
	margin-right: 50px;
	
	color:#000;
	
	}
	
.client-line select 

     { 
	 
	 float:left; 
	 width:300px; 
	 height:24px; 
	 color:#000; 
	 outline-color:#F93; 
     border:1px solid #ccc;
     box-shadow: 0 0 9px #CFD1D4 inset;
    
	 
	 }


.searchUser_search_button 
     { 
	 
	 float:left; 
	 width:100px; 
	 height:30px; 
	 font-size:16px; 
	 font-weight:700; 
	 color:#000; 
	 margin:20px 0px 5px 24px;
	 background-image:url(../images/SearchButton.png); 
	 background-repeat:no-repeat;
	 font-family:Arial, Helvetica, sans-serif;
	 outline:none;
	 border:0px;
	 
	 }
	 
.search-button:hover {color:#000;}


.user-search_table table
 
    {
		float:left; 
		width:680px;
		height:auto;
		
		font-size:14px;
		margin-top:0.4em;
		
	}



.user-search_table table tr
 
    {
		height:30px;
		border-bottom:1px solid #ccc;
		
	}
	
	
.user-search_table table td
 
    {
		height:30px;
		padding-left:10px;
		
	}
.user-search_table table td a:
{
  color:#6a95c5; 
  text-decoration:underline; 
}

.user-search_table table td a:link
{
    color:#6a95c5;
    text-decoration:underline;
}

.user-search_table table td a:visited
{
    color:#6a95c5;
    text-decoration:underline;
}

.user-search_table table td a:hover
{
    color:#6a95c5;
    text-decoration:underline;
}	
	
.user-search_table table td img
 
   {
 margin:0 0 0 -2px;
		
	}	
		
	
	
.head_tr 

    {
        
		height:32px;
		/*background-image:url(../images/VendorBar.png);*/
		background-color:#eee;
		border-bottom:1px solid #ccc;
		
		
		
	}	


.td_name 

    {
		width:180px;
		font-weight:700;
		padding:0 20px 0 10px;
		border-right:1px solid #b6b6b6;
		
	}
	
	
.td_email 

    {
		width:240px;
		font-weight:700;
		border-right:1px solid #b6b6b6;
		
	}
	
	
.td_status 

    {
		width:120px;
		font-weight:700;
		
	}		


.user-search_table table a { color:#0CF;}
.user-search_table table a:link { color:#0CF;text-decoration:underline;}
.user-search_table table a:hover { color:#000;  text-decoration:none;  }










/*---------------------------------------------*/



.UserSearch_content1
{   float:left;
	width:680px;
    min-height:100px;
	height:auto;
	font:14px Arial, Helvetica, sans-serif; 
	color:#000;
    margin:10px 0px 10px 0px;
	line-height:1.4em;  
	
}
.UserSearch_alert_Txt

{float:left;
 width:200px;
 min-height:10px;
 height:auto;
 font-weight:bold;
 margin-top:10px;
 margin-bottom:10px;
 padding-left:5px;
 }
 
.UserSearch_Bar
{
 float:left;
 width:680px;
 height:30px;
 background:#e6e6e6;
 border-bottom:2px solid #A2A3A2;
 margin-top:5px;
}

.UserSearch_Bar_row 
{
 float:left;
 width:675px;
 min-height:20px;
 height:auto;
 padding-left:5px;

 margin-top:10px;
 padding-bottom:5px;  
}

.UserSearch_Bar_row table
{
	float:left;
	width:auto;
	height:auto; ;
}

.UserSearch_Bar_row table tr
{	float:left;
	 border-bottom:1px solid #eee;
}

.UserSearch_border
{
    	 
}

 .UserSearch_Name
{   
	width:42.5%; 
	height:auto;  
	 
	   
}



 .UserSearch_Name a:{ }

 .UserSearch_Name a:link{ text-decoration:none; color:#3a81c3;}

 .UserSearch_Name a:visited{ text-decoration:none; color:#3a81c3  ;}
 .UserSearch_Name a:hover{ text-decoration:underline; color:#3a81c3  ;}



.UserSearch_Status


{
  width:210px;
  text-align:left;
  
 	
}


 .UserSearch_StatusPeriod

{width:285px; 
text-align:center; 
       	
}

.UserSearch_table
{
	float:left;
	width:680px;
	height:auto;
}

.UserSearch_table tr
{border:1px solid #000;
	
}
 
.UserSearch_table_td1
{
	float:left;
	width:230px; 
	height:auto;
	text-align:left;
	padding-right:30px;
	padding-left:8px;
	 
 
	
}


	
	
.UserSearch_table_td2
{
	float:left;
	width:230px; 
	height:auto;
	text-align:left;
	 
	padding-right:50px; 
	 
 
	
}


.UserSearch_table_td3
{
	float:left;
	width:100px; 
	height:auto;
	text-align:center;
	 
	padding-left:20px; 
	 
 
	
}

/*
.clientuser-search_addnewbt
{
    float:right;
    width:120px;
    height:30px;
    font-weight:bold;
    color:#fff;
    background-image:url(../images/AddNew1.png);
    background-repeat:no-repeat;
    background-color:transparent;
    border:0px;
    outline:none;   
    font-size:12px;
    text-decoration:underline;
    
}
*/


.searchType_row
{
    float:left;
    width:680px;
    height:auto;
    padding:10px 0px 10px 0px;
    border-bottom:1px solid #e6e6e6;
}

.searchType_row label
{
    float:left;
    width:200px;
    padding:5px 0px 0px 12px;
}

