﻿<!--
 *****************************************************
Page Created Date:  01/05/2013
Created By: Rajesh Pendela
Purpose: To create login page layout(Footer with header) with login page content
Version: 1.0
****************************************************
-->
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=8"/>
<meta http-equiv="X-UA-Compatible" content="IE=9"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width"/>

<title>@ViewBag.Title</title>

@Styles.Render("~/css/index.css")
@Scripts.Render("~/js/index.js")


</head>

<body>


<top_header> @Html.Partial("_DashboardHeaderPartial")</top_header>
<content>
<sidebar_right>@Html.Partial("_VendorSideBar")</sidebar_right>
<main> @RenderBody()</main>
</content>
<bottom> @Html.Partial("_LoginFooter")</bottom>