﻿<!--
 *****************************************************
Page Created Date:06/04/2013
Created By: Rajesh Pendela
Purpose: To display the required Vendors 
Version: 1.0
****************************************************
-->

<!DOCTYPE html>
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=8"/>
<meta http-equiv="X-UA-Compatible" content="IE=9"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width"/>

<title>Admin Dashboard- FIRST, VERIFY</title>

<div class="admDashboardRight">
    	<ul>
        	<li><img src="~/images/reports.png">@Html.ActionLink("Reports ","CustomReports","AdminVendors")</li>

            @* Dec 4th *@
            <li><img src="~/images/notifications.png"/> <a href="#!" onclick="showLeftPanel(3,this)">Notifications </a>
                @if (@ViewBag.NotificationCount > 0) { 
                    <sup id="superText">@ViewBag.NotificationCount</sup>
                }
            </li>
            <li><img src="~/images/notifications.png"> <a href="#!" onclick="showLeftPanel(1,this)">Prequalifications</a></li>
            <li><img src="~/images/status.png"> <a href="#!" onclick="showLeftPanel(2,this)">Status Descriptions</a></li>
            @*End Dec 4th *@

            <li><img src="~/images/invitevendor.png"> <a href="../AdminVendors/InviteVendor">Invite a Vendor</a></li>
                        <li><img src="~/images/status.png"> <a href="#!" onclick="showLeftPanel(4,this)">Vendors Invited</a></li>
        </ul>
    </div>
