﻿<!--
 *****************************************************
Page Created Date:  04/30/2013
Created By: Rajesh Pendela
Purpose:
Version: 1.0
DT:7/3/2013 DV:RP Modifications:Changed static menu to dynamic menu for all users
****************************************************
-->

<div id="s5_header_area1"> 
    <div id="s5_header_area2">
        <div id="s5_header_area_inner">
            <div id="s5_header_wrap">
                <div id ="s5_logo_wrap">
                    @{var imgSrc = "../logo/" + Session["currentOrgId"] + ".png";}
                
                    @if (@Session["RoleName"].ToString().Equals("Admin"))
                    {    
         			    <img alt="logo" src="../images/logo.png" id="s5_logo" ></img>
                    }
                    else if (@Session["RoleName"].ToString().Equals("Client"))
                    {
                    
                        <img alt="logo" src="@imgSrc" id="s5_logo" ></img>                
                    }
                    else
                    {
                        <div id ="s5_textInsteadOfLogoWrap">
                            <div id="s5_textInsteadOfLogo" > @Session["LoginVendorOrgName"]</div>
                        </div>   
                    }
                </div>
            <div id="s5_header_right">
            <div id="s5_loginreg">
                    <div id="s5_logregtm">
                        <div id="register">
                            <ul>
                                <li><a href="@Url.Action("LogOut", "SystemUsers")">Log Out</a></li>
                            </ul>
                        </div>
                        <div id="login">
                            <ul>
                                <li> @if (@Session["UserName"] != null && !@Session["UserName"].ToString().Equals(""))
                                     {
                                @:Logged in as @Session["UserName"]
                                }</li>
                                </ul>
                        </div>
                    </div>
                </div><!----dd--->
                <!--</div>-->
                @if (@Session["RoleName"].ToString().Equals("Admin"))
                {
                    <div id="s5_logo_FV"></div> @* Srinivas on 6th, Dec-2013*@
                    <div id="phone"></div> 
                }
                else
                {
                    <div id="s5_logo_FV"> <img alt="logo" src="../images/logo.png" id="s5_logoFV" ></img></div>
                    <div id="phone">(402) 562-5930</div> 
                }
            </div>
            <div id="s5_menu_wrap">
                    
                <div id="s5_menu_wrap_inner">
                    <ul id='s5_nav' class='menu'>
                                                      		
                        @try
                        {
                            foreach (var header in (List<FVGen3.Domain.Entities.LocalHeaderMenuModel>)@ViewBag.headerMenus)
                            {

                                if (@header.menuDisplayname == "")
                                {
                                    continue;
                                }
                                if (!header.isChecked)
                                {
                            <li>
                                @if (@header.actionName == "")
                                {
                                    <a href="#!">@header.menuDisplayname</a>
                                }
                                else
                                {
                                    <a href="@Url.Action(@header.actionName, @header.controllerName)">@header.menuDisplayname</a>
                                }
                            </li> 
                                }
                                else
                                {
                        <li> @if (@header.actionName == "")
                             {
                            <span class="s5_level1_span1"><a href="#" class="active">@header.menuDisplayname</a> </span>
                            
                             }
                             else
                             {
                            <span class="s5_level1_span1"><a href="@Url.Action(@header.actionName, @header.controllerName)" class="active">@header.menuDisplayname</a> </span>
				            
                             }</li> 
                                }

                            }

                        }
                        catch (Exception ee)
                        {

                        }
                        
                        @*These are static menus only for vendor*@
                        @*@if (@Session["RoleName"].ToString().Equals("Vendor"))
                        {
                            <li><a href="../SystemUsers/HelpPage" target="_blank">Prequalification Requirements</a></li>
                            <li><a href="../SystemUsers/HelpPage" target="_blank">Help</a></li>
                        }*@
                                                                                     
                    </ul>
                                                     
                <div style="clear:both; height:0px"></div>
            </div>
    </div>
    <div style="clear:both; height:0px"></div>	
    </div>
    </div>
    </div>
</div>
		
		