﻿<!--
 *****************************************************
Page Created Date:  05/01/2013
Created By: Rajesh Pendela
Purpose: To create login page layout(Footer with header) with login page content
Version: 1.0
****************************************************
-->

<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=8"/>
<meta http-equiv="X-UA-Compatible" content="IE=9"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width"/>

<title>@ViewBag.Title</title>

@Styles.Render("~/css/common.css")
@Styles.Render("~/css/appInnerPages.css")
@Styles.Render("~/css/index.css")
@Scripts.Render("~/js/jquery-1.9.1.min.js")
@Scripts.Render("~/js/common.js")
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

    
    
</head>

<body>


<div class="container">

<div class="header">
     @Html.Partial("_DashboardHeaderPartial")
</div>
<div class="content">
    <div class="sidebar_left">
        @Html.Partial("_DashBoardSideBar")
    </div>
    <div class="main_right">

        @RenderBody()
    </div>
</div>
<div class="footer">
    @Html.Partial("_LoginFooter")
</div>
</div>



</body>