﻿<!--
 *****************************************************
Page Created Date:  04/30/2013
Created By: Rajesh Pendela
Purpose:
Version: 1.0

DT:7/3/2013 DV:RP Modifications:Changed static menu to dynamic menu for all users
****************************************************
-->
<!DOCTYPE html>
<html>
<!-- Do not change this file with out Rajesh/Suresh Presence.-->


<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=9"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width"/>
    <title>dashboardSidebar</title>
    @Scripts.Render("~/Scripts/jquery-1.9.1.min.js")
</head>
<body>

<script>
    $(document).ready(function () {

        $(".sidebar_activie").each(function () {

            BoldText(this);
        });
        function BoldText(elem) {

            //        if (elem != currElem) { //do thing if you're clicking on a link

            //            if (currElem)

            //                currElem.style.fontSize = '1em';

            //            currElem = elem; //assign this element as the current one

            //            elem.style.fontSize = '1.1em';  //make the element clicked bold
            //            elem.style.color = '#000';
            //        }
            elem.style.fontSize = '1.1em';  //make the element clicked bold
            elem.style.color = '#000';

        }
    });
</script>
<!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
      
    <div class="sideBarContent">
    <nav>
	    <ul> 
        @try
        {
            if (@ViewBag.headerMenus != null)
            {
                var selectedHeader = ((List<FVGen3.Domain.Entities.LocalHeaderMenuModel>)@ViewBag.headerMenus).FirstOrDefault(rec => rec.isChecked == true);
                if (selectedHeader != null && selectedHeader.sideMenus.Count > 0)
                {
                    foreach (var sideMenus in selectedHeader.sideMenus.OrderBy(rec => rec.DisplayOrder).ToList())
                    {
                        if (@sideMenus.actionName == "")
                        {
                            <li><a href="#!">@sideMenus.menuName</a></li>
                        }
                        else
                        {
                            if (@sideMenus.isChecked)
                            {
                                <li >
                                    <a href="@Url.Action(@sideMenus.actionName, @sideMenus.controllerName)" class="sidebar_activie"> @sideMenus.menuDisplayname </a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a href="@Url.Action(@sideMenus.actionName, @sideMenus.controllerName)"> @sideMenus.menuDisplayname </a>
                                </li>
                            }
                        }
                    }
                }
            }
        }
        catch(Exception ee)
        {
            
        }

           @* @if (@ViewBag.sideMenu != null)
            {
                foreach (var name in @ViewBag.sideMenu)
                {
                    if(@name.actionName=="")
                    {
                        <li><a href="#!">@name.menuName</a></li>
                    }
                    else
                    {
                        if(@name.isChecked)
                        {
                            <li style = 'font-weight:bold;'>
                                <a href="@Url.Action(@name.actionName, @name.controllerName)"> @name.menuName </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="@Url.Action(@name.actionName, @name.controllerName)"> @name.menuName </a>
                            </li>
                        }
                    }
                
                    
                }
            }*@
                            
	    </ul> 
        </nav>
	</div>

 

</body>
</html>
