﻿<!--
 *****************************************************
Page Created Date:  05/01/2013
Created By: Rajesh Pendela
Purpose: To create login page layout(Footer with header) with login page content
Version: 1.0
****************************************************
-->


<div class="admDashboardRight">
    	<ul>
        	<li><img src="~/images/reports.png"/>@Html.ActionLink("Reports ","CustomReports","AdminVendors")</li>
            <li><img src="~/images/recentdocuments.png"/> <a href="#!" onclick="showLeftPanel(0, this)">Recent Documents</a></li>
            <li><img src="~/images/status.png"/> <a href="#!" onclick="showLeftPanel(2, this)">Status Descriptions</a></li>
            
            @* Dec 4th *@
            <li><img src="~/images/notifications.png"/> <a href="#!" onclick="showLeftPanel(1,this)">Notifications </a>
                @if (@ViewBag.NotificationCount > 0) { 
                    <sup id="superText">@ViewBag.NotificationCount</sup>
                }
            </li>
            @*End Dec 4th *@

            <li><img src="~/images/invitevendor.png"/> <a href="../AdminVendors/InviteVendor">Invite a Vendor</a></li>
        </ul>
    </div>

     