﻿<!--
 *****************************************************
Page Created Date:  05/01/2013
Created By: Rajesh Pendela
Purpose: To create footer in login page
Version: 1.0
****************************************************
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>



<div class="footer_content">
                            	<nav>
                           			<ul>
                                        <li>© 2014 <b>FIRST,</b> VERIFY. All Rights Reserved.</li>
                                        <li><a href="~/html/TermsAndConditions.html">Terms and Conditions</a></li>
                                        <li><a href="~/html/PrivacyPolicy.html">Privacy Policy</a></li>
                                        <li><a href="../SystemUsers/HelpPage">Contact Us</a></li>
                                        <li  style="border:0px;"><a href="http://www.firstverify.com" target="_blank">FirstVerify.com</a></li>
                            		</ul>
                            	</nav>
                           </div>



</html>