﻿<!--
 *****************************************************
Page Created Date:  05/01/2013
Created By: Rajesh Pendela
Purpose: To create login page layout(Footer with header) with login page content
Version: 1.0
****************************************************
-->

<div id="s5_header_area1"> 
                <div id="s5_header_area2">
                    <div id="s5_header_area_inner">
                        <div id="s5_header_wrap">
                            <div id ="s5_logo_wrap">
                                    <img alt="logo" src="~/images/logo.png" id="s5_logo" />
                            </div>
                        @*<div id="s5_header_right">
                                <div id="phone">(402) 562-5930</div> 
                        </div>*@

                        <div id="s5_header_right" style="height:85px;">
                            <div id="s5_logo_FV"> </div>
                            <div id="phone" style="bottom: 16px;">(402) 562-5930</div> 
                            
                        </div>

                        <div id="s5_menu_wrap">
                    
                            <div id="s5_menu_wrap_inner">
                                <ul id='s5_nav' class='menu'>
                                        <li>
                                           @if (@ViewBag.PageType!=null && @ViewBag.PageType == "Login")
                                           {
                                               @: <span class="s5_level1_span1">
                                           }
                                                <a href="@Url.Action("Login", "SystemUsers")" class="active" >Login</a> 
                                           @if (@ViewBag.PageType != null && @ViewBag.PageType == "Login")
                                           {
                                            @:</span>
                                           }
                                        </li>
                                        <li>
                                           @if (@ViewBag.PageType != null && @ViewBag.PageType == "Registration")
                                           {
                                               @: <span class="s5_level1_span1">
                                           }
                                            <a href="@Url.Action("VendorRegistration", "Vendor")" class="active">Vendor Registration</a>
                                           @if (@ViewBag.PageType != null && @ViewBag.PageType == "Registration")
                                           {
                                                @:</span>
                                           }
                                        </li>
                                        <li style=" float:right;">
                                        
                                         @if (@ViewBag.PageType != null && @ViewBag.PageType == "Help")
                                           {
                                               @: <span class="s5_level1_span1">
                                           }
                                            <a href="../SystemUsers/HelpPage">Help</a>
                                        @if (@ViewBag.PageType != null && @ViewBag.PageType == "Help")
                                           {
                                                @:</span>
                                           }
                                        
                                        </li>
                                    </ul>
                                                     
                                <div style="clear:both; height:0px"></div>
                            </div>
                    </div>
                    <div style="clear:both; height:0px"></div>	
                </div>
            </div>
        </div>
    </div>
            


