﻿<!--
 *****************************************************
Page Created Date:  05/01/2013
Created By: Rajesh Pendela
Purpose: 
Version: 1.0
****************************************************
-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=9"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width"/>
    <title>Templete Sub Section - First,verify</title>    
    <link rel="stylesheet" href="~/css/sidebar.css"/>
</head>
<body>

 <div class="sideBarContent">

 <div class="sideBarList">
   
    <ul>
       
       @*@if (@ViewBag.sideMenu != null)
        { 
                foreach (var name in @ViewBag.sideMenu)
                {
                    if(@name.actionName=="")
                    {
                        <li><a href="#!" >@name.menuName</a></li>
                    }
                    else
                    {
                        if(@name.isChecked)
                        {
                            <li style = 'font-weight:bold;'>

                            @if (name.isSectionCompleted)
                            {
                                <img align="middle" src="../images/completed.png" />
                            }
                            else
                            {
                                <img align="middle" src="../images/notcompleted.png" />
                            }
                                <a href="@Url.Action(@name.actionName, @name.controllerName)?@name.param"+ > @name.menuName </a>
                            </li>
                        }
                        else
                        {
                            <li>
                             @if (name.isSectionCompleted)
                            {
                                <img align="middle" src="../images/completed.png" />
                            }
                            else
                            {
                                <img align="middle" src="../images/notcompleted.png" />
                            }
                                <a href="@Url.Action(@name.actionName, @name.controllerName)?@name.param"> @name.menuName </a>
                            </li>
                        }
                    }
                }
        }*@

        @if (@ViewBag.sideMenu != null)
        { 
                foreach (var name in @ViewBag.sideMenu)
                {
                    if(@name.actionName=="")
                    {
                        <li><a href="#!" >@name.menuName</a></li>
                    }
                    else
                    {
                        if(@name.isChecked)
                        {
                           
                            if (name.isSectionCompleted == null)
                            {
                                <li style="background:#f6f9fc" >
                                    <label style="padding-left:10px;"><a class="sidebar_activie"  href="@Url.Action(@name.actionName, @name.controllerName)?@name.param" style="font-size: 1.1em; color: rgb(0, 0, 0);"> @name.menuName </a></label> 
                                </li>
                            }
                            else
                            {
                                <li >
                                    <table>
                                        <tr>
                                            <td  valign="top">
                                                @if (name.isSectionCompleted == true)
                                                {
                                                    <img align="middle" src="../images/completed.png" />
                                                }
                                                else
                                                {
                                                    <img align="middle" src="../images/notcompleted.png" />
                                                }
                                            </td>
                                            <td>
                                                <div style="padding-left:10px;"> <a class="sidebar_activie" href="@Url.Action(@name.actionName, @name.controllerName)?@name.param" style="font-size: 1.1em; color: rgb(0, 0, 0);"> @name.menuName </a></div>                                           
                                            </td>
                                        </tr>
                                    </table>
                                    
                                    
                                    
                                </li>
                            }
                        }
                        else
                        {
                            if (name.isSectionCompleted == null)
                            {
                                <li style = 'background:#f6f9fc;' class="page-subtitle">
                                    <a href="@Url.Action(@name.actionName, @name.controllerName)?@name.param"> <h2 style="margin:0px 0 0 10px;font-size:1.0em;"> @name.menuName </h2></a>
                                </li>
                            }
                            else
                            {
                                <li> 
                                    <table>
                                        <tr>
                                            <td  valign="top">
                                                @if (name.isSectionCompleted == true)
                                                {
                                                    <img align="middle" src="../images/completed.png" />
                                                }
                                                else
                                                {
                                                    <img align="middle" src="../images/notcompleted.png" />
                                                }
                                            </td>
                                            <td>
                                                <div style="padding-left:10px;"><a href="@Url.Action(@name.actionName, @name.controllerName)?@name.param"> @name.menuName </a></div>
                                            </td>
                                        </tr>
                                    </table>                           
                                </li>
                            }
                        }
                    }
                }
        }
    </ul>
   </div>              
</div><!--temp_sub_sidebar-->
                
                       


						 
						 
		

</body>
</html>
