﻿<!--
 *****************************************************
Page Created Date:  09/05/2013
Created By: Kiran Talluri, Suma Jeldi
Purpose: To create Report page layout(Footer with header) with login page content
Version: 1.0
****************************************************
-->

@{
    Layout = null;    
}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 

<html class="no-js"> <!--<![endif]-->
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<title>ADMIN Dashboard_sidebar- First, Verify</title>
<meta name="description" content="Client Dashboard - First, Verify"/>
<meta name="viewport" content="width=device-width"/>

<script src="~/js/jquery-1.9.1.min.js" type="text/javascript"></script>
<script src="~/js/jquery.ui.datepicker.js"></script>
<script src="~/js/jquery.ui.widget.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>
<link rel="stylesheet" href="~/css/jquery-ui.css" />
@Styles.Render("~/css/jqueryindex.css")
@Styles.Render("~/css/jquery.ui.all.css")
</head>


    <script type="text/javascript">
        $(document).ready(function () {
            $("#flip").click(function () {
                $("#panel").slideToggle("");
            });

            $("#invitation").click(function () {
                $("#invitationpanel").slideToggle("");
            });

            $("#fromdate").datepicker();
            $("#todate").datepicker();
        });

        var selectedTypes;

        function Checkselected() {
            // alert("hai in Expired Document report");
            var doctypeList = new Array();

            $("#panel input:checked").each(function () {
                doctypeList.push($(this).attr('DocumentID'));
            });

            
            if (doctypeList == "") {
                alert("Please select a document type");
                return;
            }
            $.ajax({
                type: 'Post',
                url: 'ExpiredDocument',
                data: 'doctypeList=' + doctypeList,
                success: function (data) {
                    var form = document.createElement("form");
                    form.setAttribute("method", "post");
                    form.setAttribute("action", "../Reports/ExpiringDocumentWebForm.aspx");
                    form.setAttribute("target", "_blank");
                    //window.location = "../ReportsForAdmin/CustomReportWebForm.aspx?sql=" + data;

                    var hiddenField = document.createElement("input");
                    hiddenField.setAttribute("type", "hidden");
                    hiddenField.setAttribute("name", "sql");
                    hiddenField.setAttribute("value", data);
                    form.appendChild(hiddenField);
                    document.body.appendChild(form);
                    form.submit();


                    //window.location = "../ReportsForAdmin/ExpiringDocumentWebForm.aspx?sql=" + data;

                },
                error: function () {
                    console.trace();
                    alert("Unable to process request please try again ");
                }
            });

        }

        checked = false;
        function checkedAll() {
            if (checked == false) { checked = true } else { checked = false }
            for (var i = 0; i < document.getElementById('myform').elements.length; i++) {
                document.getElementById('myform').elements[i].checked = checked;
            }
        }


        function openVendorEmployeeQuizReport() {


            var form = document.createElement("form");
            form.setAttribute("method", "post");
            form.setAttribute("action", "../Reports/VendorEmployeeQuizzesReport.aspx");
            form.setAttribute("target", "_blank");
            //window.location = "../ReportsForAdmin/CustomReportWebForm.aspx?sql=" + data;

            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", "sql");
            var data = "SELECT Templates.TemplateName, Contact.FirstName + Contact.LastName AS EmpName, EmployeeQuizzes.QuizResult, EmployeeQuizzes.QuizDateStart, vendor.Name as Vendor, client.Name AS Client FROM     EmployeeQuizzes INNER JOIN Organizations AS vendor ON EmployeeQuizzes.VendorId = vendor.OrganizationID INNER JOIN Organizations AS client ON EmployeeQuizzes.ClientId = client.OrganizationID INNER JOIN ClientTemplates ON EmployeeQuizzes.QuizClientTemplateId = ClientTemplates.ClientTemplateID INNER JOIN Templates ON ClientTemplates.TemplateID = Templates.TemplateID INNER JOIN SystemUsersOrganizationsQuizzes ON EmployeeQuizzes.SysUserOrgQuizId = SystemUsersOrganizationsQuizzes.SysUserOrgQuizId INNER JOIN SystemUsersOrganizations ON SystemUsersOrganizationsQuizzes.SysUserOrgId = SystemUsersOrganizations.SysUserOrganizationId INNER JOIN Contact ON Contact.UserId = SystemUsersOrganizations.UserId GROUP BY vendor.Name, client.Name, Templates.TemplateName, Contact.FirstName + Contact.LastName, EmployeeQuizzes.QuizResult, EmployeeQuizzes.QuizDateStart";
            if ('@Session["RoleName"]' == "Client") {
                //data = //data + " where EmployeeQuizzes.ClientId=" + '@Session["currentOrgId"]';
                //data = "SELECT Templates.TemplateName, Contact.FirstName + Contact.LastName AS EmpName, EmployeeQuizzes.QuizResult, EmployeeQuizzes.QuizDateStart, vendor.Name as Vendor, client.Name AS Client FROM     EmployeeQuizzes INNER JOIN Organizations AS vendor ON EmployeeQuizzes.VendorId = vendor.OrganizationID INNER JOIN Organizations AS client ON EmployeeQuizzes.ClientId = client.OrganizationID INNER JOIN ClientTemplates ON EmployeeQuizzes.QuizClientTemplateId = ClientTemplates.ClientTemplateID INNER JOIN Templates ON ClientTemplates.TemplateID = Templates.TemplateID INNER JOIN Contact ON EmployeeQuizzes.EmpId = Contact.UserId WHERE EmployeeQuizzes.ClientId=" + '@Session["currentOrgId"]' + " GROUP BY vendor.Name, client.Name, Templates.TemplateName, Contact.FirstName + Contact.LastName, EmployeeQuizzes.QuizResult, EmployeeQuizzes.QuizDateStart";
                data = "SELECT Templates.TemplateName, Contact.FirstName + Contact.LastName AS EmpName, EmployeeQuizzes.QuizResult, EmployeeQuizzes.QuizDateStart, vendor.Name as Vendor, client.Name AS Client FROM     EmployeeQuizzes INNER JOIN Organizations AS vendor ON EmployeeQuizzes.VendorId = vendor.OrganizationID INNER JOIN Organizations AS client ON EmployeeQuizzes.ClientId = client.OrganizationID INNER JOIN ClientTemplates ON EmployeeQuizzes.QuizClientTemplateId = ClientTemplates.ClientTemplateID INNER JOIN Templates ON ClientTemplates.TemplateID = Templates.TemplateID INNER JOIN SystemUsersOrganizationsQuizzes ON EmployeeQuizzes.SysUserOrgQuizId = SystemUsersOrganizationsQuizzes.SysUserOrgQuizId INNER JOIN SystemUsersOrganizations ON SystemUsersOrganizationsQuizzes.SysUserOrgId = SystemUsersOrganizations.SysUserOrganizationId INNER JOIN Contact ON Contact.UserId = SystemUsersOrganizations.UserId WHERE EmployeeQuizzes.ClientId=" + '@Session["currentOrgId"]' + "GROUP BY vendor.Name, client.Name, Templates.TemplateName, Contact.FirstName + Contact.LastName, EmployeeQuizzes.QuizResult, EmployeeQuizzes.QuizDateStart";
            }
            //Session["RoleName"] = OrgType;
                        
            hiddenField.setAttribute("value", data);
            form.appendChild(hiddenField);
            document.body.appendChild(form);
            form.submit();
        }

        function getInvitationSent()
        {
            var fromDate = $('#fromdate').val();
            var toDate = $('#todate').val() + " 23:59:59.997";
                        
            if (fromDate > toDate) 
            {
                alert("From date should be less than To date");
                return false;
            }
            if(fromDate == "")
            {
                alert("Please choose From date");
                return false;
            }

            if (toDate == "") {
                alert("Please choose to date");
                return false;
            }
            //alert(fromDate);
            var form = document.createElement("form");
            form.setAttribute("method", "post");
            form.setAttribute("action", "../Reports/InvitationsSent.aspx");
            form.setAttribute("target", "_blank");
            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", "sql");

            var data = "select vid.VendorFirstName, vid.VendorLastName, vid.Address1, vid.Address2, vid.State, vid.Zip, vid.Country, vid.VendorEmail, vid.InvitationDate, org.Name from VendorInviteDetails as vid INNER JOIN Organizations as org on vid.ClientId = org.OrganizationID where InvitationDate >='" + fromDate + "' AND InvitationDate <='" + toDate + "'";
            //alert(data);
            if ('@Session["RoleName"]' == "Client") 
            {
                data = "select vid.VendorFirstName, vid.VendorLastName, vid.Address1, vid.Address2, vid.State, vid.Zip, vid.Country, vid.VendorEmail, vid.InvitationDate from VendorInviteDetails as vid INNER JOIN Organizations as org on vid.ClientId = org.OrganizationID where vid.ClientId ='" + '@Session["currentOrgId"]' + "' AND InvitationDate >= '"+ fromDate + "' AND InvitationDate <='" + toDate +"'";
            }

            hiddenField.setAttribute("value", data);
            form.appendChild(hiddenField);
            document.body.appendChild(form);
            form.submit();
        }

</script>
 
    <style type="text/css"> 
    #panel,#flip
    {
    padding:10px 0px 0px 0px;    
    }    
    #panel
    {    
    display:none;
    }
     #invitation,#invitationpanel
    {
    padding:10px 0px 0px 0px;    
    }    
    #invitationpanel
    {    
    display:none;
    }
    </style>

<body>

    <div class="reportSideBar">
    	<ul>
        	<li>
                <div id="flip"><a href="#">Expiring/Expired Documents</a></div>
                <div id="panel">
                <div class="scrollCheckboxReports" style="width:220px; font-size:14px;">
                    <table style="margin-top:-10px;">
                        @{FVGen3.Domain.Entities.ExpiringDocumentAndCOIReport expireDoc = (FVGen3.Domain.Entities.ExpiringDocumentAndCOIReport)@ViewBag.DocReports;}
                            @for (var i = 0; i < @expireDoc.DocumentTypeList.Count; i++)
                                {
                                <tr>                    
                                    <td valign="top"> @*Srinivas on 2/25/2014*@
                                    @Html.CheckBoxFor(m => expireDoc.DoctypeList[i], new { @DocumentID = @expireDoc.DocumentTypeList[i].DocumentTypeId })
                                    </td>
                     
                                    <td valign="top"> @*Srinivas on 2/25/2014*@
                                    @{var id = "expireDoc_DoctypeList_" + @i + "_";}
                                    <label for="@id" style="line-height:normal;">@expireDoc.DocumentTypeList[i].DocumentTypeName</label>@*Srinivas on 2/25/2014*@
                                    </td>
                                </tr>
                  
                                }                              
                    </table>
                    </div>
                    <div style="float:left; margin:10px 0px 5px 0px;"><button type="button"  onclick="Checkselected()">Create Report</button></div>
                </div>
            </li>

             @if (@Session["RoleName"].ToString().Equals("Admin"))
             {
                <li><a href="#!" onclick="window.open('../Reports/Clients.aspx')">Clients List</a></li>
             }
            <li><a href="#!" onclick="openVendorEmployeeQuizReport()">Vendor Employee Training Summary</a></li>  
            <li>
                <div id="invitation"><a href="#">Invitations Sent</a></div>
                    <div id="invitationpanel">
                        <div>
                        <table>
                            <tr>
                                <td><label>From:</label></td>
                                <td><input type="text" id="fromdate"/></td>
                            </tr>
                            <tr>
                                <td><label>To:</label></td>
                                <td><input type="text" id="todate" /></td>
                            </tr>
                        </table>
                    </div>
                    <div style="float:left; margin:10px 0px 5px 0px;"><button type="button"  onclick="getInvitationSent()">Create Report</button></div>
                </div>
            </li>          
        </ul>
    </div>
</body>
</html>

