﻿<!--
 *****************************************************
Page Created Date:  05/01/2013
Created By: Rajesh Pendela
Purpose: 
Version: 1.0
****************************************************
-->
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Templete Sub Section - First,verify</title>    
    <link rel="stylesheet" href="~/css/sidebar.css"/>
</head>

<script type = "text/javascript">

    var winPop = false;
    function OpenEmailModelTemplatesPopup(templateId) {
        if (winPop && !winPop.closed) {  //checks to see if window is open  
            winPop.focus();
        }
        else {
            //alert("else");
            winPop = window.open("../Prequalification/EmailModelTemplatesList?prequalificationId=" + "@ViewBag.PrequalificationId", "_blank", "toolbar=no, location=yes, directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=yes, width=780, height=700");
        }
    }
    function goPrequalification() {
        //alert("ASDFA");
        //window.location = "TemplatesList?PreQualificationId=" + $('#PreQualificationList').val();
        window.location = "../Prequalification/TemplatesList?PreQualificationId=" + $('#PreQualificationList').val() + "&oldPreQualificationId=@ViewBag.PrequalificationId"; //Rajesh on 9/21/2013
    }
</script>

<body>

 <div class="sideBarContent">

        <div class="vendorSearchContent">
        @*Kiran on 04/30/2014*@
        @if (@Session["RoleName"].ToString() == "Admin" || @Session["RoleName"].ToString() == "Client") 
        {
    	<table>
        	<tr>
            	<td> @if (@ViewBag.VBPreQualifications != null)
                  {
                         @Html.DropDownList("PreQualificationList", (IEnumerable<SelectListItem>)ViewBag.VBPreQualifications);
                  }
                </td>
               <td><button type="button" id="preQualificationGoBttn" onclick="goPrequalification()">Go</button></td>
            </tr>
        </table>
        }
            @if (@Session["RoleName"].ToString() == "Admin")
            {
      		<div class="preQualificationEditButtons">
				<table width="100%">
            		<tr>
                		<td  align="center" width="23%"><a href="#!" onclick = "OpenEmailModelTemplatesPopup()">Email</a></td>
                        <!--//Rajesh On 8-31-2013 >>>-->
                        @if (@ViewBag.mode == null || @ViewBag.mode == 0)
                        {
                            var query = "../Prequalification/TemplateSectionsList" + QueryStringModule.Encrypt("templateId=" + @ViewBag.templateId + "&TemplateSectionID=-1&PreQualificationId=" + @ViewBag.PreQualificationId + "&mode=1");
                    	    <td style="border-left:1px solid #ddd;" align="center" width="35%"><a href="@query">View Mode</a></td>
                        }
                        else
                        {
                            var query = "../Prequalification/TemplateSectionsList" + QueryStringModule.Encrypt("templateId=" + @ViewBag.templateId + "&TemplateSectionID=-1&PreQualificationId=" + @ViewBag.PreQualificationId + "&mode=0");
                    	    <td style="border-left:1px solid #ddd;" align="center" width="35%"><a href="@query">Edit Mode</a></td>
                        }
                        <!-- Ends -->
                        @{var query1 = "../Companies/EditVendor" + QueryStringModule.Encrypt("OrganizationID=" + @ViewBag.VendorId + "&isSuccess=false");}
                    	<td style="border-left:1px solid #ddd;" align="center" width="42%"><a href="@query1">Edit Company</a></td>
                	</tr>
            	</table>
            </div>
            }
        
            <div class="VendorDetails" style="margin-bottom:10px;
             @if (@ViewBag.StatusId.ToString() == "10")
             {
                @:background:@ViewBag.VBPreviousStatusColour url(../images/prequalificationExpiration.png);
             }
             else
             {
                 @:background-color:@ViewBag.VBStatusColor;
             }
                 ">@*Rajesh on 2/21/2014*@
            	<table border="0" width="92%">
                	<tr><td class="page-subtitle" width="80%"><h2 style="margin:0px;font-size:1.1em;">@ViewBag.VendorName,</h2></td>
                    <td width="20%" align="right" valign="top"> 
                        <h2 style="color:#000; margin:0px;font-size:1.1em;">
                            @if (@Session["RoleName"].ToString() != "Vendor")
                            {
                                @:@ViewBag.TemplateCode
                            }
                        </h2>
                    </td></tr>
                    <tr><td class="page-subtitle" colspan="2"><h2 style="margin:0px;font-size:1.1em;">Started: @ViewBag.PrequalStartDate</h2></td></tr>
                    <tr><td class="page-subtitle" colspan="2"><h2 style="margin:0px;font-size:1.1em;">@ViewBag.ClientName</h2></td></tr>                    
                    <tr><td class="page-subtitle" colspan="2"><h2 style="margin:0px;font-size:1.1em;">
                    @if (@ViewBag.StatusId.ToString() == "10")
                    {
                        @:Status: @ViewBag.VBPreviousStatusName - @ViewBag.StatusName
                    }
                    else
                    {
                        @:Status: @ViewBag.StatusName   
                    }
                        </h2></td></tr>
                    <tr><td class="page-subtitle" colspan="2"><h2 style="margin:0px;font-size:1.1em;">
                    @if (@ViewBag.StatusId.ToString() == "10")
                    {
                        @:Status Period: @ViewBag.VBPreviousPeriod  
                    }
                    else
                    {
                        @:Status Period: @ViewBag.Period
                    }
                    </h2></td></tr>
                </table>
            </div>
        
            @if (@Session["RoleName"].ToString() == "Admin" || @Session["RoleName"].ToString() == "Client")
            {
               @*Rajesh on 2/21/2014*@
                <div class="VendorDetails" style="height:auto;min-height:20px;padding-bottom:10px;margin-top:0px;margin-bottom:10px;background-color:#e5e6e8;">
                    <table border="0" width="92%">
                        <tr><td style="font-size:1.1em;color:#000;">@ViewBag.InvitationSentBy</td></tr>
                        <tr><td style="font-size:1.1em;color:#000;">@ViewBag.InvitationSentByUser</td></tr>
                    </table>
               
                </div>
                @*Ends<<<*@
            }
        </div>
   <div class="sideBarList">
    <ul style="word-break:normal;">
       
       @if (@ViewBag.sideMenu != null)
       {
           foreach (var name in @ViewBag.sideMenu)
           {
               if (!name.isVisible)
               {
                   continue;
               }
               var query = Url.Action(name.actionName, name.controllerName) + QueryStringModule.Encrypt(name.param);
               if (@name.actionName == "")
               {
                        <li><a href="#!" >@name.menuName</a></li>
               }
               else
               {

                   if (@name.isChecked)
                   {

                       if (name.isSectionCompleted == null)
                       {
                                <li style="background:#e5e6e8;" >
                                    <label style="padding-left:10px;"><a class="sidebar_activie"  href="@query" style="font-size: 1.1em; color: rgb(0, 0, 0);"> @name.menuName </a></label> 
                                </li>
                       }
                       else
                       {
                                <li >
                                    <table>
                                <tr>
                                    <td valign="top">
                                    @if (@ViewBag.mode == 0 || @ViewBag.mode == null) // kiran on 3/18/2014
                                    {
                                        if (name.isSectionCompleted == true)
                                        {
                                            <img align="middle" src="../images/completed.png" />
                                        }
                                        else
                                        {
                                            <img align="middle" src="../images/notcompleted.png" />
                                        }
                                    }
                                    </td>
                                    <td>
                                        <div style="padding-left:10px;">
                                            <a class="sidebar_activie" href="@query" style="font-size: 1.1em; color: rgb(0, 0, 0);"> @name.menuName </a>                               
                                        </div>
                                    </td>
                                </tr>
                                </table>
                                </li>
                       }
                   }
                   else
                   {
                       if (name.isSectionCompleted == null)
                       {
                                <li style = 'background:#e5e6e8;' class="page-subtitle">
                                    <a href="@query"> <h2 style="margin:0px 0 0 10px;font-size:1.0em;"> @name.menuName </h2></a>
                                </li>
                       }
                       else
                       {
                                <li>                            
                                   <table>
                                    <tr>
                                        <td valign="top">
                                        @if (@ViewBag.mode == 0 || @ViewBag.mode == null) // kiran on 3/18/2014
                                        {
                                            if (name.isSectionCompleted == true)
                                            {
                                                <img align="top" src="../images/completed.png" />
                                            }
                                            else
                                            {
                                                <img align="top" src="../images/notcompleted.png" />
                                            }
                                        }
                                        </td>
                                        <td>
                                        <div style="padding-left:10px;">
                                            @if (name.isVendorNoPaymentNoAccess != null && name.isVendorNoPaymentNoAccess == false)
                                            {
                                                <div style="cursor:crosshair;margin:0;"> @name.menuName </div>   
                                            }
                                            else
                                            {
                                                <a href="@query"> @name.menuName </a>   
                                            }
                                            </div>
                                        </td>
                                    </tr>
                                   </table>
                                    
                                    
                                </li>
                       }
                   }
               }
           }
       }
    </ul>
   </div>      
</div><!--temp_sub_sidebar-->
                
                       


						 
						 
		

</body>
</html>
