﻿<!--
 *****************************************************
Page Created Date:  05/01/2013
Created By: Rajesh Pendela
Purpose: 
Version: 1.0
****************************************************
-->
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=8"/>
<meta http-equiv="X-UA-Compatible" content="IE=9"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width"/>

<title>@ViewBag.Title</title>
 @Styles.Render("~/css/common.css")
    @Styles.Render("~/css/appDashboard.css")    
      @Scripts.Render("~/js/jquery-1.9.1.min.js")
    <link rel="stylesheet" href="~/css/index.css">

</head>

<body>
<div class="container">
<div class="header">
     @Html.Partial("_DashboardHeaderPartial")
</div>
<div class="bannerHeader">
     <table width="97%" style="height:60px;margin:0 0 10px 7px">
            <tr>
                <td width="25%">
                    <div class="page-title">
    		            <h2 style="margin:0px;">Vendor Dashboard</h2>
                        <div class="VendorDashboard_OrgType">
                        @if (((IEnumerable<SelectListItem>)@ViewBag.VBVendorOrgList).Count() > 1)
                        {
                            <label> Organization: </label>
                        }
                            @Html.DropDownList("VendorIds", (IEnumerable<SelectListItem>)@ViewBag.VBVendorOrgList)
                        </div>
                    </div>
                </td>
                <td width="75%" style="padding:5px;text-align:justify;background:#e5e6e8;">@ViewBag.Instruction </td>
            </tr>
        </table>
</div>
<div class="content">
    <div class="sidebar_right">
         @Html.Partial("_VendorDashBoardSideBarPartial")
    </div>
    <div class="main">

        @RenderBody()
    </div>
</div>
<div class="footer">
    @Html.Partial("_LoginFooter")
</div>
</div>
</body>
</html>