﻿<!--
 *****************************************************
Page Created Date:  05/01/2013
Created By: Rajesh Pendela
Purpose: 
Version: 1.0
****************************************************
-->

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>ADMIN Dashboard_sidebar- First, Verify</title>
<meta name="description" content="Client Dashboard - First, Verify">
<meta name="viewport" content="width=device-width">

</head>

<body>

<div class="admDashboardRight">
    	<ul>
            
            @* Dec 4th *@
            @*<li><img src="~/images/notifications.png"> <a href="#!" onclick="showLeftPanel(3,this)">DashBoard</a></li>*@
            <li><img src="~/images/notifications.png"/> <a href="#!" onclick="showLeftPanel(1,this)">Notifications </a>
                @if (@ViewBag.NotificationCount > 0) { 
                    <sup id="superText">@ViewBag.NotificationCount</sup>
                }
            </li>
            <li><img src="~/images/status.png"> <a href="#!" onclick="showLeftPanel(2,this)">Status Descriptions</a></li>
            @*End Dec 4th *@

        </ul>
    </div>
</body>
</html>

