﻿<!--
 *****************************************************
Page Created Date:  06/15/2013
Created By: Kiran Talluri
Purpose: To create Vendor Registration page layout(Footer with header) with Registration page content
Version: 1.0
****************************************************
-->
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=8"/>
<meta http-equiv="X-UA-Compatible" content="IE=9"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width"/>

<title>@ViewBag.Title</title>
    @Styles.Render("~/css/common.css")
    @Styles.Render("~/css/appInnerPages.css")
    @Styles.Render("~/css/index.css")
    @Scripts.Render("~/js/jquery-1.9.1.min.js")
    @Scripts.Render("~/js/common.js")


</head>




<body>
  <div class="container">

<div class="header">
     @Html.Partial("_LoginHeader")
</div>
<div class="content">
    <div class="sidebar_left">
       @Html.Partial("_VendorRegistrationSideBar")
    </div>
    <div class="main_right">

        @RenderBody()
    </div>
</div>
<div class="footer">
    @Html.Partial("_LoginFooter")
</div>
</div>
</body>
