﻿@{
    ViewBag.Title = "Quiz Result";
    Layout = "~/Views/Shared/_QuizSectionMainLayout.cshtml";
}


<style type="text/css">
.result_content
{
	float:left;
	/*width:680px;
	min-height:100px;
	height:auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	background:#fff;*/
	width:709px;
	height:auto;
	padding:25px 0 25px 0 ;
	text-align:center;
	background-color:#f1f1f1;
	border:1px solid #ccc;	
}
.result_content p
{
	
	font-weight:bold;
	text-align:center;
	margin-top:80Px;
}
.PageTitle
{
 float:left;
 width:670px;
 height:27px;
 background:#fff;
 font-size:18px;
 color:#e91e24; 
 padding:6px 0px 0px 10px;
 border-bottom:2px solid #333534;	
}

</style>
<div class="result_content">
	@*<div class="PageTitle"></div>*@
	<h3 style="margin:0px; ">
        @Resources.Resources.Quiz_NoAccess_Message
    </h3>
</div>