﻿
@{
    ViewBag.Title = "Quiz Result";
    Layout = "~/Views/Shared/_QuizSectionMainLayout.cshtml";
}
@using FVGen3.Domain.Entities;
<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="~/css/EmployeeQuiz.css" rel="stylesheet" />
<script type="text/javascript">
    (function ($, global) {

        var _hash = "!",
    noBackPlease = function () {
        global.location.href += "#";

        setTimeout(function () {
            global.location.href += "!";
        }, 50);
    };

        global.setInterval(function () {
            if (global.location.hash != _hash) {
                global.location.hash = _hash;
            }
        }, 100);

        global.onload = function () {
            noBackPlease();

            // disables backspace on page except on input fields and textarea.
            $(document.body).keydown(function (e) {
                var elm = e.target.nodeName.toLowerCase();
                if (e.which == 8 && elm !== 'input' && elm !== 'textarea') {
                    e.preventDefault();
                }
                // stopping event bubbling up the DOM tree..
                e.stopPropagation();
            });
        }

    })(jQuery, window);
</script>
<style type="text/css">
.result_content
{
	float:left;
	/*width:680px;
	min-height:100px;
	height:auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	background:#fff;*/
	width:100%;
	height:auto;
	padding:25px 0 25px 0 ;
	text-align:center;
	background-color:#f1f1f1;
	border:1px solid #ccc;	
}
.result_content p
{
	
	font-weight:bold;
	text-align:center;
	margin-top:80Px;
}
.PageTitle
{
 float:left;
 width:670px;
 height:27px;
 background:#fff;
 font-size:18px;
 color:#e91e24; 
 padding:6px 0px 0px 10px;
 border-bottom:2px solid #333534;	
}

</style>

<style>
    .incorrectQuestion
    {
        float:left;
        width:709px;
        height:auto;        
    }
    
    .incorrectQuestion table
    {
        border-collapse:collapse;
        width:100%;     
        border-bottom: 1px solid #ddd;              
    }
    
    .incorrectQuestion table td
    {
        padding:10px 0 10px 0;
    }
</style>
</head>

<body>
<div class="result_content">
	@*<div class="PageTitle"></div>*@
	<h3 style="margin:0px; ">@if (@ViewBag.VBQuizPassed)
    {
        @:Congratulations! You have passed the quiz.<br /><br />
        if ((@ViewBag.VBWaiverForm != null && @ViewBag.VBWaiverForm) || (@ViewBag.TrainingCertificateRequired != null && @ViewBag.TrainingCertificateRequired))
        {
            if ((@ViewBag.VBWaiverForm != null && @ViewBag.VBWaiverForm) && (@ViewBag.TrainingCertificateRequired != null && @ViewBag.TrainingCertificateRequired))
            {
                @:<b>TO ACCESS YOUR Training Certificate/Waiver Form:</b><br />
            }
            else if (@ViewBag.VBWaiverForm != null && @ViewBag.VBWaiverForm)
            {
                @:<b>TO ACCESS YOUR Waiver Form:</b><br/>
            }
            else if (@ViewBag.TrainingCertificateRequired != null && @ViewBag.TrainingCertificateRequired)
            {
                @:<b>TO ACCESS YOUR Training Certificate:</b><br />
            }

            @:<b>1. Click on the "Go to dashboard" button below.</b>
            <br />
            @:<b>2. Click on the icon next to course name (or "Downloads").</b><br />
            @:<b>3. Save and/or print for future reference.</b><br />
        }
        
        <div style="float: left; width: 100%; margin-top: 20px; text-align: center">
                <button type="button" style="float: none" onclick="window.location = '../SystemUsers/Dashboard'">Go to dashboard</button>
            </div>
    }
    else
    {
    @:Sorry, you have failed the quiz.<br />
    @:Score: @((@ViewBag.noOfCorrectAns * 100 / @ViewBag.noOfQuestions)) % <br />
    @:Passing score: @ViewBag.VBQuizPassRate %
}</h3>
</div>

<div class="contentSub">

 @foreach (var question in (List<LocalQuizResultAns>)@ViewBag.VBEmployeeQuizQuestionsWithAnswers)
 {
     //if (@ViewBag.VBQuizPassed)
     //{
         if (question.EmployeeAnswer.Trim() != question.CorrectAnswer.Trim())
         {
            <table width="100%" border="0">
                <tr>
                    <td width="42%" valign="top">@question.Question</td>
                    <td width="28%" valign="top">
                        <table>
                            @getInputControl(@question.QuestionControlType, @question.EmployeeAnswer, @question)                            
                        </table>
                    </td>
        
                    <td width="30%" valign="top">
                        <p>
                            <b>Incorrect Answer</b><br />
                            @if (@ViewBag.VBQuizPassed)
                            {
                                @:Correct Answer is: @question.CorrectAnswer
                            }
                        </p></td>
                </tr>

            </table>
         }
     @*}
     else
     { 
        <table width="100%" border="0" style="border-bottom:1px solid #ddd; margin:10px 0 10px 0;">
                <tr>
                    <td width="42%" valign="top">@question.Question</td>
                    <td width="28%" valign="top" style="padding:0 5px 0 15px;">
                        <table>
                            @getInputControl(@question.QuestionControlType, @question.EmployeeAnswer, @question)                            
                        </table>
                    </td>
        
                    <td width="30%" valign="top">
                        <p style="width:100%; background-color:#b9d7f6; padding:10px; margin-bottom:10px;">
                            <b>Incorrect Answer</b><br />                            
                        </p></td>
                </tr>

            </table>
     }*@
 }


    @helper getInputControl(long QuestionType, string employeeAnswer, LocalQuizResultAns question)
    {
        switch(QuestionType)    
        {
            case 1: 
                {
                    <tr>
                        <td>
                            <label></label>
                        </td>                        
                    </tr>
                }
                break;
            
            case 2:
                {
                    <tr>
                        <td>
                            <input type="text" value="@employeeAnswer" readonly />
                        </td>                        
                    </tr>
                }
                break;
                
            case 3:
                {
                    <tr>
                        <td>
                            <input type="text" value="@employeeAnswer" readonly/>
                        </td>
                    </tr>
                }
                break;
                
            case 4:
                {
                    <tr>
                        <td>
                            <textarea>@employeeAnswer</textarea>
                        </td>
                    </tr>
                }
                break;
                
            case 5:
                {
                    <tr>
                        <td>
                            <input type="text" value="@employeeAnswer" readonly/>
                        </td>
                    </tr>
                }
                break;
                
            case 6:
                {
                    <tr>
                        <td>
                            <input type="text" value="@employeeAnswer" />
                        </td>
                    </tr>

                }
                break;
                
            case 7:
                {
                    foreach(var option in @question.Options.Split('|'))
                    {
                        <tr>
                            <td>
                                <input type="radio"
                                @if(@option.Trim().Equals(@employeeAnswer.Trim()))
                                {
                                    @: checked="checked"
                                    @: disabled="disabled"
                                }
                                else
                                {
                                    @: disabled="disabled"
                                }
                                />
                           </td>
                           <td>
                                @option
                           </td>
                        </tr>
                    }
                }
                break;

            case 8:
                {
                    foreach(var option in @question.Options.Split('|'))
                    {
                        <tr>
                            <td>
                                <input type="checkbox"
                                @if(@option.Trim().Equals(@employeeAnswer.Trim()))
                                {
                                    @: checked="checked"
                                    @: disabled="disabled"
                                }
                                else
                                {
                                    @: disabled="disabled"
                                }                   
                                 />
                            </td>
                            <td>
                                @option
                            </td>
                        </tr>

                    }
                }
                break;

            case 9:
                {
                    <tr>
                        <td>
                            <select disabled>
                                @foreach(var option in @question.Options.Split('|'))
                                {
                                    if(@option.Equals(@employeeAnswer))
                                    {
                                        <option value="@option" selected></option>
                                    }
                                    else
                                    {
                                        <option value="@option"></option>
                                    }
                                }
                            </select>                                
                        </td>
                    </tr>
                }
                break;

            case 10:
                {
                    <tr>
                        <td>
                            <select multiple="multiple" disabled>
                                @foreach(var option in @question.Options.Split('|'))
                                {
                                    if(@option.Equals(@employeeAnswer))
                                    {
                                        <option value="@option" selected></option>
                                    }
                                    else
                                    {
                                        <option value="@option"></option>
                                    }                                    
                                }
                            </select>
                        </td>
                    </tr>
                }
                break;

            case 11:
                {
                    <input type="date" value="@employeeAnswer" readonly/>
                }
                break;

            case 12:
                {
                    <input type="button" />
                }
                break;

            case 13:
                {
                    <input type="text" value="@employeeAnswer" readonly/>
                }
                break;

            case 14:
                {
                    <input type="password" value="@employeeAnswer" readonly/>
                }
                break;

            case 15:
                {

                }
                break;

            default: break;
        }
    }

    @if (@ViewBag.VBWaiverForm != null && @ViewBag.VBWaiverForm && @ViewBag.VBQuizPassed != null && @ViewBag.VBQuizPassed)
    {
        <button type="button" onclick="document.location = '@Url.Action("QuizWaiverForm", new { quizId = @ViewBag.VBQuizId})';">Continue to Waiver Form</button>
    }

</div>

@*Ends<<<*@  





</body>
</html>















