﻿<!--
Page Created Date:  05/28/2013
Created By: Rajesh Pendela
Purpose:  All operations of prequalification will be controlled here
Version: 1.0
****************************************************
-->
@using FVGen3.Domain.Entities;
@using System.Data.SqlClient;
@using Resources;
@model FVGen3.Domain.Entities.Templates
@{
    ViewBag.Title = "Quiz Sections List";
    Layout = "~/Views/Shared/_QuizSectionMainLayout.cshtml";
}

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>@Resources.Temp_SubSection_Heading</title>
<link rel="stylesheet" href="../css/prequalificationdynamic.css">

<script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@*<script src="@Url.Content("~/js/jquery.maskedinput.js")" type="text/javascript"></script>*@

<link rel="stylesheet" href="@Url.Content("~/Content/Site.css")"/>
</head>
<style>
    @@media only screen
and (max-width: 568px) {
   .table_data .ctrlDiv{
        width:100%;
	}
   .contentSub{
       display:flex!important;
       justify-content:center!important;
       align-content:center!important;
       /*height:100vh!important*/
   }
   .youtube-player{width:100%!important;
                  
   }
}
</style>
<script type="text/javascript">
    function DynamicFieldsHiding(allFields, hideFields,dependType,allDepends) {
        //alert(allFields);
        var split=allFields.split(",");
        for (var i = 0; i < split.length; i++) {
            if (allDepends.split(",")[i] == "0")
                $("#id_" + split[i]).hide();
            else
                $("#subid_" + split[i]).hide();
            //alert("#id_" + split[i]);
        }
        var split = hideFields.split(",");
        for (var i = 0; i < split.length; i++) {
            if (dependType.split(",")[i] == "0")
                $("#id_" + split[i]).show();
            else
                $("#subid_" + split[i]).show();
            //alert("#id_" + split[i]);
        }
    }

    function goPrequalification() {
        //alert("ASDFA");
        window.location = "TemplatesList?PreQualificationId=" + $('#PreQualificationList').val();
    }
    
    function dropDownChange(currentDropDown) {
        DynamicFieldsHiding($(currentDropDown).attr("AllDepends"), $('option:selected', currentDropDown).attr("presentDepends"), $('option:selected', currentDropDown).attr("dependsType"), $(currentDropDown).attr("allDependsType"))
    }
    
    $(document).ready(function () {
        
        $('[HideMe]').each(function () {
            //alert($(this).attr("HideMe") + "   " + $(this).val());
            DynamicFieldsHiding($(this).attr("HideMe").split("|")[0], $(this).attr("HideMe").split("|")[1], $(this).attr("HideMe").split("|")[2], $(this).attr("HideMe").split("|")[3]);
        });

    
        $('form :input').each(function () {
            if ($(this).attr("isMandatory") == "True") {
                //if (!($(this).attr('type') == "radio")) //For All Required Fields except radio button Kiran on 9/11/2014
                {
                    $(this).rules("add",
                    {
                        required: true,

                        messages:
                        {
                            required: "*"
                        }
                    });

                }
            }

            if ($(this).attr('ctrlType') == "Email") {

                $(this).rules("add",
                    {
                        email: true,
                        messages:
                        {
                            email: "Invalid Email"
                        }
                    });

            }
            if ($(this).attr('ctrlType') == "Number") {

                $(this).rules("add",
                    {

                        number: true,

                        messages:
                        {
                            number: "Invalid Number"
                        }
                    });

            }


        });
        
        $('form :input').blur(function () {
            $(this).valid();
        });


        // For Roles and Permissions
        setPermissions('@ViewBag.ViewPermissions');
        // Ends<<< 

    });

    function deleteDocument(docId, subSecId) {
        var confirmDelete = confirm("Are you sure you want to delete?");
        if (confirmDelete) {
            $.ajax({
                type: 'POST',
                url: 'RemoveDocument',
                data: 'documentId=' + docId,
                success: function (data) {
                    //alert(data);
                    getSubSectionData(subSecId);


                },
                error: function () {
                    //alert("Fail");
                }
            });
        }
    }

    function submitForm() {

        if (!$('form').valid()) {

            var inp = $('.input-validation-error:first').get(0);

            if (inp) {
                inp.focus();
            }
            alert("All Questions are mandatory"); // Kiran on 9/11/2014
            return;
        }

        var fieldsWithValues = "";
        $('form :input').each(function () {

            if (!$(this).is(":visible")) {
                $(this).val("");
            }
            if ($(this).attr('type') != "button" && $(this).attr('type') != "radio") //For All Required Fields except radio button
            {
                //fieldsWithValues += $(this).attr('questionColumnId') + "^" + $(this).val() + "|";
                //alert($(this).attr('questionColumnId') + " Name: " + $(this).attr('name') + " Value :" + $(this).val());
            }
            else if ($(this).attr('type') == "radio" && $(this).is(":checked")) {
                //alert($(this).attr('questionColumnId') + " Name: " + $(this).attr('name') + " Value :" + $(this).val());
                fieldsWithValues += $(this).attr('questionColumnId') + "^" + $(this).val() + "|";
            }
        });
        if ($("form").find("#VideoChk").length) {
            if ($("#VideoChk").is(":Checked") == false) {
                alert("Please confirm that you have watched the video.");
                return;
            }
            else {
                fieldsWithValues = ""; //Bcz Quiz Video Section dose not contains any fields
            }

        }

        //Rajesh on 10/31/2014
        if ($("form").find("#EmpSign").length) {
          
            var empName ="@Html.Raw(@ViewBag.UserName)";
           var empsign = $("#EmpSign").val().trim();
            if ($("#EmpSign").val().trim() != empName.trim()) {
                alert("Type your full name exactly as it appears in the section above");
                return;
            }


        }
        //Ends
       // alert(fieldsWithValues);
        $.ajax({
            type: 'POST',
            url: 'SubmitFormData',
            data: 'fieldsWithValues=' + encodeURIComponent(fieldsWithValues) + '&SectionId=@ViewBag.TemplateSectionID' + '&quizId=@ViewBag.quizId',
            success: function (data) {
                //alert(data);
                window.location = data;
            },
            error: function () {
                //alert("Fail");
            }
        });
    }
    function getSubSectionData(subsectionId) {
        
        $.ajax({
            type: 'GET',
            url: 'GetDynamicSubSectionContent',
            data: 'subSectionId=' + subsectionId,
            success: function (data) {
                $("#id_" + subsectionId).html(data);
                
            },
            error: function () {
                //alert("Fail");
            }
        });
    }
</script>
<style>
.fv_singInComment,
.fv_singInContent
{
	float:left;
	width:97%;
	height:auto;
	padding:8px 0 8px 25px ;
	color:#333;
	font-size:14px;
	font-weight:bold; 
	border-bottom:1px solid #ddd;
}
.fv_singInContent{
	border:1px solid #ddd;
	margin:10px 0;
	font-weight:normal;
	padding:15px 0 15px 25px ;
}
.fv_singInContent input[type="text"]{
	float:left;
	width: 40%;
	padding: 12px 2%; /* srinivas 1/22/2014 */
	background:#fff;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
	border: solid 2px #ddd;
	font-size: 16px;
	color: #222222;
}
.fv_singInContent span{
	color:#437402;
	font-size:18px;
	 line-height:2.5em;
}
</style>
<body>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true);
<div class="templateSubSecMain">
@{TemplateSections selectedTemplateSection = @Model.TemplateSections.ToList().FirstOrDefault(x => x.TemplateSectionID == @ViewBag.TemplateSectionID);
  SqlCommand command = (SqlCommand)ViewBag.command;
  var hidFields = "";
  }
    @*<a href="TemplateSectionsList?templateId=@v.TemplateID&TemplateSectionID=@v.TemplateSectionID"> @v.SectionName</a><br />*@
   @if (@selectedTemplateSection != null)
   {
       //Header Insertion 
       if (@selectedTemplateSection.TemplateSectionsHeaderFooter != null)
       {
           foreach (var HandF in @selectedTemplateSection.TemplateSectionsHeaderFooter.Where(x => x.PositionType == 0).ToList())
           {
               <div class="PrequalificationHeader">               
               @if (!string.IsNullOrEmpty(@HandF.PositionTitle))
               {
                   <label>@Html.Raw(@HandF.PositionTitle)</label>
               }
              <p>@Html.Raw(@HandF.PostionContent)</p>
               </div>
               if (@HandF.AttachmentExist == null || @HandF.AttachmentExist == false)
               {
                   //Do Nothing
               }
               else
               {
                   <div class="unOrderlistRow">
                        <ul>@foreach (var document in ((System.Data.Entity.DbSet<Document>)ViewBag.VBDocumentsList).Where(rec => rec.ReferenceType == "Section Header" && rec.ReferenceRecordID == HandF.HeaderFooterId))
                            {                                
                                <li>
                                    <a href="#!" onclick="window.open('../Companies/DownloadDoc?idAsFileName=@document.DocumentId&userEnteredFilename=@document.DocumentName&clientId=@document.OrganizationId')">
                                        @document.DocumentName
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
               }
           }

       }
       //Inserting Subsections
       if (@selectedTemplateSection.TemplateSubSections != null)
       {

           foreach (var SubSection in @selectedTemplateSection.TemplateSubSections.OrderBy(x => x.DisplayOrder).ToList())
           {
               //If Subsection is sub header
               <div id="subid_@SubSection.SubSectionID" class="totalSubsection">
               
               @if (SubSection.SubHeader != null && SubSection.SubHeader == true)
               {
                   <div class="subsectionSubHeader">
                   @if (!String.IsNullOrEmpty(SubSection.SubSectionName))
                   {
                       <table width="670px;"><tr>
                           @{var width = 670 / SubSection.SubSectionName.Split(',').Count() + "px";}
                           @foreach (var subSec in SubSection.SubSectionName.Split(','))
                           {
                               <td style="width:@width">@subSec</td>
                           }  
                       </tr></table>
                           if (!string.IsNullOrEmpty(SubSection.SectionNotes))
                           {
                           <p>@SubSection.SectionNotes</p>
                           }
                   }
                    </div>
               }
               else//If Subsection Main Header
               {
                    <div class="subsectionHeader">
                    @if (!String.IsNullOrEmpty(SubSection.SubSectionName))
                    {
                       <table width="670px;"><tr>
                           @{var width = 670 / SubSection.SubSectionName.Split(',').Count() + "px";}
                           @foreach (var subSec in SubSection.SubSectionName.Split(','))
                           {
                               <td style="width:@width">@subSec</td>
                           }  
                       </tr></table>
                           if (!string.IsNullOrEmpty(SubSection.SectionNotes))
                           {
                           <p>@SubSection.SectionNotes</p>
                           }
                    }
                    </div>
               }
               @if (SubSection.SubSectionType == null || SubSection.SubSectionType == 0)//Standard
               {
                   //Placing controls
                    @PlaceControls(SubSection.Questions.Where(rec => rec.Visible == true).OrderBy(x => x.DisplayOrder).ToList(), command); // Kiran on 9/11/2014
               }
               else if (SubSection.SubSectionType == 1)//Dynamic
               {
                   <div class="dynamicSubsection">
                       <button type="button" onclick='window.open("../Prequalification/DynamicPopUpView?subSectionId=@SubSection.SubSectionID","_blank", "toolbar=no,  directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=yes, width=650, height=400")'>@Resources.Common_AddNew</button>
                   </div>
                   <div id="id_@SubSection.SubSectionID">                    
                            <script>getSubSectionData('@SubSection.SubSectionID');</script>
                   </div>
               }
               else if (SubSection.SubSectionType == 2)//Predifined
               {
                   @PlacePredefined(SubSection.SubSectionTypeCondition + "", command);
               }

               @if (@SubSection.AttachmentExist == null || @SubSection.AttachmentExist == false)
               {
                   //Do Nothing
               }
               else
               {
                <div class="unOrderlistRow">
                   <ul>@foreach (var document in ((System.Data.Entity.DbSet<Document>)ViewBag.VBDocumentsList).Where(rec => rec.ReferenceType == "SubSection" && rec.ReferenceRecordID == SubSection.SubSectionID))
                       {
                        <li>
                            <a href="#!" onclick="window.open('../Companies/DownloadDoc?idAsFileName=@document.DocumentId&userEnteredFilename=@document.DocumentName&clientId=@document.OrganizationId')">
                                @document.DocumentName
                            </a>
                        </li>
                       }
                   </ul>
                </div>
               }
            </div>
           }
       }
       //Footer Insertion
       if (@selectedTemplateSection.TemplateSectionsHeaderFooter != null)
       {

           foreach (var HandF in @selectedTemplateSection.TemplateSectionsHeaderFooter.Where(x => x.PositionType == 1).ToList())
           {
               <div class="PrequalificationHeader">               
               @if (!string.IsNullOrEmpty(@HandF.PositionTitle))
               {
                   <label>@Html.Raw(@HandF.PositionTitle)</label>
               }
              <p>@Html.Raw(@HandF.PostionContent)</p>
               </div>
       
               if (@HandF.AttachmentExist == null || @HandF.AttachmentExist == false)
               {
                   //Do Nothing
               }
               else
               {
                   <div class="unOrderlistRow"><ul>
                   @foreach (var document in ((System.Data.Entity.DbSet<Document>)ViewBag.VBDocumentsList).Where(rec => rec.ReferenceType == "Section Footer" && rec.ReferenceRecordID == HandF.HeaderFooterId))
                   {
                        <li>
                            <a href="#!" onclick="window.open('../Companies/DownloadDoc?idAsFileName=@document.DocumentId&userEnteredFilename=@document.DocumentName&clientId=@document.OrganizationId')">
                                @document.DocumentName
                            </a>
                        </li>
                   }
                   </ul></div>
               }
           }

       }
   }
   
   
</div>
   if ((@selectedTemplateSection.TemplateSubSections.FirstOrDefault(rec => rec.SubSectionTypeCondition == "QuizVideos") != null) ||
    (@selectedTemplateSection.TemplateSubSections.FirstOrDefault(rec => rec.SubSectionTypeCondition == "QuizIFrame") != null))
   {
    
            <div class="rowRadioCheckbox">
                    <table  style="margin-left:0px;">
                        <tr>
                            <td colspan="2">
                                <label style="width:100%;"></label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" id="VideoChk"/>
                            </td>
                            <td>
                                <label style="width:100%;" for="VideoChk">
                                    <b>@Resources.Quiz_Video</b>
                                </label>
                            </td>
                        </tr>
                    </table>
               </div>
    
   }
   else
   {
       <div class="subsectionHeader">
                    <table width="709px;">
                    	<tr>
                    		<td>@Resources.Quiz_Sign</td>
                    	</tr>
                    </table>
                   </div>
                     <div class="fv_singInComment">
                     	@Resources.Quiz_Assistance
                    </div>
                    <div class="fv_singInContent">
                    	<table cellspacing="0" border="0">
                            <tr>
                            	<td><p>@Resources.Quiz_Copy_Name</p></td>
                            </tr>
                             <tr>
                            	<td><span>@ViewBag.UserName</span></td>
                                 
                            </tr>
                            <tr>
                            	<td><input type="text" id="EmpSign"/></td>
                            </tr>
                        </table>
                    	
                    </div>
        
   }
   //ends<<<
    <div class="pageFooterContent"> 
            <div class="pageFooterButtons">
                <table>
                    <tr>
                     @if (selectedTemplateSection != null)
                     {
                        <td><button type="button"   class="PageFooter_Button" onclick="submitForm()">
                            
                          
                                @if (selectedTemplateSection.TemplateSectionType == null || selectedTemplateSection.TemplateSectionType != 0)
                                {
                                    @:Save & Continue
                                }
                                else
                                {
                                    @:Continue
                                }
                           
                        </button></td>
                         
                        <td>or</td>
                        <td><div class="PageFooter_CancleBtn"><a href="../SystemUsers/DashBoard">@Resources.Common_Cancel</a></div></td>
                         
                     }
                     else
                     {
                         <td><div class="PageFooter_CancleBtn" style="margin-left:10px;"><a href="../SystemUsers/DashBoard">@Resources.Return_To_Dashboard</a></div></td>
                     }
                    </tr>	
                </table> 
            </div>
        </div>
}
</body>
@helper PlacePredefined(string condition, SqlCommand command)
    {
        if (condition.Equals("PrequalificationPayment"))
        {
            
            <div class="PaymentDetails_content">
                <table  border="0" width="660" cellpadding="5">
                    <tr>
                    <td class="Details">@Resources.Vendor_Pq_Orgid @ViewBag.VendorId</td>
                    <td class="Details_Cost">$@ViewBag.TemplatePrice</td>
                    </tr>
                </table>
                <div class="Details_Data"> 
                </div>
    
                <table width="660">
                    <tr>
                    <td><img src="../images/img_accepted-cc.gif" /></td> 
                    <td><span class="Payment_Data">@Resources.Online_Payments_processed_Securely</span><td id="Payment_spanOne"></td>
                    </tr>
                </table>
            </div>
            


            return;
        }
        else if (condition.Equals("QuizVideos"))//Rajesh on 08/26/2013>>> For handling quiz vedios
        {
            if(@ViewBag.VBVideo != null) // Kiran on 11/5/2014
            {
                var dotIndex = ((Document)@ViewBag.VBVideo).DocumentName.LastIndexOf('.');
                var strLength = ((Document)@ViewBag.VBVideo).DocumentName.Length - 1;
                var extension = ((Document)@ViewBag.VBVideo).DocumentName.Substring(dotIndex);
                var src = ViewBag.VBTrainingVideosPath + "/" + ((Document)@ViewBag.VBVideo).DocumentId + extension;
                <div class="container">
                    <div>
                        <div class="contentSub">
                            <div class="leftright">  
                                @*<div class="video_content">
                                    <div class="Video_player">*@
                                    @*@Video.Flash(path: src,
                                                    width: "400",
                                                    height: "400",
                                                    play: true)*@
                                        <iframe title='YouTube video player' class='youtube-player' type='text/html'width="620" height="300" 
                            
                                            src="@src"
                                            type='application/x-shockwave-flash'
                                            allowscriptaccess='always' allowfullscreen='true'
                                            frameborder='0'>
                                        </iframe> 
                                    @*</div>
                                </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            }
            return;
        }
        else if (condition.Equals("QuizIFrame"))
        {


            if (@ViewBag.iFrameData != null) // Kiran on 11/5/2014
            {

                <div class="container">
                    <div class="content">
                        <div class="contentSub">
                            @*//IFRAME HERE*@
                            @{LocalQuizTemplateBuilderIFrame iframeData = ViewBag.iFrameData;
                            <iframe src="@iframeData.QuizIFrameURL" width="@iframeData.QuizIFrameWidth" height="@iframeData.QuizIFrameHeight" frameborder="0">@Resources.Browser_NT_Comp_Content</iframe>
                            }
                        </div>
                    </div>
                </div>
            }
            return;

        }
        else if (condition.Equals("QuizAlternateFormats"))
        {
            <div class="partialPage">
                <table>
                        @if (ViewBag.VBAlternateFormatDocuments != null)
                        {
                            foreach (var alternateDocument in (List<FVGen3.Domain.Entities.Document>)ViewBag.VBAlternateFormatDocuments)
                            {
                                <tr>
                                    <td width="90%">
                                        <a href="#!" onclick="window.open('../Quiz/DownloadDoc?idAsFileName=@alternateDocument.DocumentId&userEnteredFilename=@HttpUtility.UrlEncode(@alternateDocument.DocumentName)&clientId=@alternateDocument.OrganizationId')">
                                            @alternateDocument.DocumentName
                                        </a>
                                    </td>
                                    <td width="5%">
                                    </td>
                                    <td width="5%">
                                    </td>
                                </tr>
                            }
                        }
                </table>
            </div>
        }

        //End <<<<<



        List<TemplateSubSectionsPreDefinedFields> templateSubSectionsPreDefinedFields = new List<TemplateSubSectionsPreDefinedFields>();
        command.CommandText = "Select TableRecordId,TableRefName,TableRefField,ReferenceLabel from TemplateSubSectionsPreDefinedFields where PredefinedKeyWord='" + condition + "'";
        SqlDataReader dataValues = command.ExecuteReader();

        while (dataValues.Read())
        {
            TemplateSubSectionsPreDefinedFields localFieldsData = new TemplateSubSectionsPreDefinedFields();
            localFieldsData.TableRecordId = (long)dataValues[0];
            localFieldsData.TableRefName = dataValues[1].ToString();
            localFieldsData.TableRefField = dataValues[2].ToString();
            localFieldsData.ReferenceLabel = dataValues[3].ToString();
            localFieldsData.PredefinedKeyWord = condition;

            templateSubSectionsPreDefinedFields.Add(localFieldsData);
        }

        dataValues.Close();
        
        <div class="Predefined">
            
            @foreach (var preDefinedField in templateSubSectionsPreDefinedFields)
            {

                var sql = "Select " + @preDefinedField.TableRefField + " From " + @preDefinedField.TableRefName;

                if (condition.Equals("UserOrganization"))
                    sql += " Where OrganizationID='" + @ViewBag.VendorId + "'";

                command.CommandText = sql;
                var result = command.ExecuteScalar();
                <div class="ctrlDivRow">
                    <label class="staticLabel">  @preDefinedField.ReferenceLabel </label>
            
                    <label>@Html.Raw(result.ToString())</label>
                </div>
            }
        </div>
}
@helper PlaceControls(List<Questions> questionsList, SqlCommand command)
    {
        //kiran on 11/8/2014
        List<Questions> randomList = new List<Questions>();

        Random r = new Random();
        int randomIndex = 0;
        while (questionsList.Count() > 0)
        {
            randomIndex = r.Next(0, questionsList.Count());
            randomList.Add(questionsList[randomIndex]);
            questionsList.RemoveAt(randomIndex);
        }
        // Ends<<<
        
        //Placing controls
        foreach (var question in randomList)
        {
            //Question Row Starts here
            <div class="ctrlDivRow" id="id_@question.QuestionID">
                <!--Question Heading -->
                @if (@question.NumberOfColumns == 0)
                {
                    @:<div class="ctrlDiv" style="width:670px;"> 
                }
                else if (@question.NumberOfColumns == 1)
                {
                    @:<div class="ctrlDiv" style="width:300px;">
                }
                else
                {
                    int numberofColumns = question.NumberOfColumns + 1;
                    var width = 670 / numberofColumns + "px";
                    @:<div class="ctrlDiv" style="width:@width;">
                }
                    @if (@question.IsMandatory != null && @question.IsMandatory == true)
                    {
		                <label class="labelStart"> @Html.Raw(@question.QuestionText.Trim()) </label>  
                    }
                    else
                    {
                        <label> @Html.Raw(@question.QuestionText.Trim()) </label>
                    }
                @if (true)
                {
                    @:</div>
                }
                <!--Question Fields(Question column details) -->
                @if (@question.QuestionText != null && !@question.QuestionText.Equals(""))
                {
                    if (@question.NumberOfColumns == 1)//Means number of colums graterthan
                    {
                        @:<table width="360px" class="table_data">
                    }
                    else if (@question.NumberOfColumns > 1)
                    {
                        int numberofColumns = question.NumberOfColumns + 1;
                        var width = (670 - 670 / numberofColumns) + "px";
                        @:<table width="@width" class="table_data">
                    }


                }
                else
                {
                    @:<table width="670px" class="table_data">
                }
               
                    
                @for (int i = 0; i < question.QuestionColumnDetails.Count; i++)
                {

                    var fieldWidth = 0;
                    var strInputVal = "";
                    int numberofColumns = question.NumberOfColumns;
                    if (numberofColumns == 0)
                    {
                        numberofColumns = question.QuestionColumnDetails.Count;
                    }
                    if (@question.QuestionText != null && !@question.QuestionText.Equals(""))
                    {
                        fieldWidth = 360 / numberofColumns;
                    }
                    else
                    {
                        fieldWidth = 670 / numberofColumns;
                    }


                    //if (question.QuestionColumnDetails[i].EmployeeQuizUserInput != null && question.QuestionColumnDetails[i].EmployeeQuizUserInput.Count > 0)
                    //{
                    //    try
                    //    {
                    //        strInputVal = question.QuestionColumnDetails[i].EmployeeQuizUserInput.Find(rec => rec.SysUserOrgQuizId == Convert.ToInt64(@ViewBag.quizId)).UserInput; // Kiran on 12/18/2014

                    //    }
                    //    catch (Exception ee)
                    //    {
                    //        strInputVal = "";

                    //    }
                    //}


                    if (i == 0)
                    {
                       @:<tr>
                    }
                    @getControl(@question.QuestionColumnDetails[i].QuestionControlType.QuestionTypeID, @question.QuestionColumnDetails[i].ColumnValues, question.QuestionColumnDetails[i].DisplayType, question.QuestionColumnDetails[i].QuestionColumnId + @question.QuestionColumnDetails[i].ColumnValues, question.QuestionColumnDetails[i].QuestionColumnId + "", @question.IsMandatory + "", @question.QuestionColumnDetails[i].QuestionColumnId.ToString(), strInputVal, @fieldWidth, @question.HasDependantQuestions, question, question.QuestionColumnDetails[i], @command)
                    if (i == question.QuestionColumnDetails.Count - 1)
                    {
                       @:</tr>
                    }
                    
                    @*if (question.QuestionColumnDetails[i].DisplayType == 0)//Means Controls in Horizontal
                    {
                        if (i == 0)
                        {
                           @:<tr>
                       }
                       @getControl(@question.QuestionColumnDetails[i].QuestionControlType.QuestionTypeID, @question.QuestionColumnDetails[i].ColumnValues, question.QuestionColumnDetails[i].DisplayType, question.QuestionColumnDetails[i].QuestionColumnId + @question.QuestionColumnDetails[i].ColumnValues, question.QuestionColumnDetails[i].QuestionColumnId + "", @question.IsMandatory + "", @question.QuestionColumnDetails[i].QuestionColumnId.ToString(), strInputVal, @fieldWidth)
                        if (i == question.QuestionColumnDetails.Count - 1)
                        {
                           @:</tr>
                       }
                    }
                    else//Vertical
                    {
                        @getControl(@question.QuestionColumnDetails[i].QuestionControlType.QuestionTypeID, @question.QuestionColumnDetails[i].ColumnValues, question.QuestionColumnDetails[i].DisplayType, question.QuestionColumnDetails[i].QuestionColumnId + @question.QuestionColumnDetails[i].ColumnValues, question.QuestionColumnDetails[i].QuestionColumnId + "", @question.IsMandatory + "", @question.QuestionColumnDetails[i].QuestionColumnId.ToString(), strInputVal, @fieldWidth)
                    }*@
                }
                @{
                    @:</table>
                }
            </div>
        }
    }
    <!-- to create a control based on control type (Ref.Table :- QuestionControlType)-->
    <!-- Question Type 0-Horiz 1- Vert.-->
@helper getControl(long controlType, string defaultValue, int questionType, string id,
            string name, string isMandatory, string questionColumnId,
            string InputVal, int fieldWidth, bool? hasDependent, Questions question, QuestionColumnDetails columnDetails, SqlCommand command)
    {
        hasDependent = hasDependent != null && hasDependent == true;
        switch (controlType)
        {
            case 1:
                if (questionType == 0)
                {
                 <td><label id="@id">@defaultValue</label></td>
                }
                else
                {
                <tr><td><label id="@id">@defaultValue</label></td></tr>
                }
                break;
            case 2:
                if (questionType == 0)
                {
                    var width = fieldWidth + "px";
                    <td><input style="width:90%;" type="text"  ctrlType="Text" isMandatory="@isMandatory" name="@id" questionColumnId="@questionColumnId" value="@InputVal" class="class_input"/>
                    <span class="field-validation-valid" data-valmsg-for="@id" data-valmsg-replace="true"></span></td>
                }
                else
                {
                     <tr><td><input type="text"  ctrlType="Text" isMandatory="@isMandatory" name="@id" questionColumnId="@questionColumnId" value="@InputVal" class="class_input"/>
                     <span class="field-validation-valid" data-valmsg-for="@id" data-valmsg-replace="true"></span></td></tr> 
                }
                break;
            case 3:
                if (questionType == 0)
                {
                 <td><input type="text" id="@id"  ctrlType="Number" isMandatory="@isMandatory" name="@id" questionColumnId="@questionColumnId" value="@InputVal" class="class_input"/>
                 <span class="field-validation-valid" data-valmsg-for="@id" data-valmsg-replace="true"></span></td>
                }
                else
                {
                 <tr><td><input type="text" id="@id"  ctrlType="Number" isMandatory="@isMandatory" name="@id" questionColumnId="@questionColumnId" value="@InputVal" class="class_input"/>
                 <span class="field-validation-valid" data-valmsg-for="@id" data-valmsg-replace="true"></span></td></tr> 
                }

                break;
            case 4:
                if (questionType == 0)
                {
                <td><textarea id="@id" isMandatory="@isMandatory" name="@id" questionColumnId="@questionColumnId" class="classTextarea">@InputVal</textarea>
                <span class="field-validation-valid" data-valmsg-for="@id" data-valmsg-replace="true"></span></td>
                }
                else
                {
                <tr> <td><textarea rows="2" id="@id" cols="2" isMandatory="@isMandatory" name="@id" questionColumnId="@questionColumnId" class="classTextarea">@InputVal</textarea>
                <span class="field-validation-valid" data-valmsg-for="@id" data-valmsg-replace="true" questionColumnId="@questionColumnId"></span></td></tr>
                }
                break;
            case 5:
                if (questionType == 0)
                {
               <td> <input type="text" id="@id" ctrlType="Email" isMandatory="@isMandatory" name="@id" questionColumnId="@questionColumnId" value="@InputVal"  class="class_input"/>
               <span class="field-validation-valid" data-valmsg-for="@id" data-valmsg-replace="true"></span></td>
                }
                else
                {
                <tr><td> <input type="text" id="@id"  ctrlType="Email" isMandatory="@isMandatory" name="@id" questionColumnId="@questionColumnId" value="@InputVal"  class="class_input"/>
                <span class="field-validation-valid" data-valmsg-for="@id" data-valmsg-replace="true"></span></td></tr>
                }
                break;
            case 6:
                if (questionType == 0)
                { 
                <td><input type="text" id="@id"  ctrlType="Mobile" isMandatory="@isMandatory" name="@id" questionColumnId="@questionColumnId" value="@InputVal" class="class_input"/>
                <span class="field-validation-valid" data-valmsg-for="@id" data-valmsg-replace="true"></span></td>
                }
                else
                {
                <tr><td><input type="text" id="@id"  ctrlType="Mobile" isMandatory="@isMandatory" name="@id" questionColumnId="@questionColumnId" value="@InputVal" class="class_input"/>
                <span class="field-validation-valid" data-valmsg-for="@id" data-valmsg-replace="true"></span></td></tr>
                }
                break;
            case 7:
                {
                    string[] resString = defaultValue.Split('|');
                    <td><table width="100%">
                    @if (questionType == 0)
                    {
                        @:<tr>
                    }
                    @{
                    var AllDepends = "";
                    var AllDependsType = "";
                    }
                    @if (hasDependent == true)
                    {
                        foreach (var depend in @question.QuestionsDependants)
                        {
                            AllDepends += depend.DependantId + ",";
                            AllDependsType += depend.DependantType + ",";
                        }
                        if (AllDepends.Length > 1)
                        {
                            AllDepends = AllDepends.Substring(0, AllDepends.Length - 1);
                            AllDependsType = AllDependsType.Substring(0, AllDependsType.Length - 1);
                        }
                    }
                     
                    @for (int i = 0; i < resString.Length; i++)
                    {


                        var presentDepends = "";
                        var dependsType = "";
                        if (hasDependent == true)
                        {
                            foreach (var a in @question.QuestionsDependants.FindAll(rec => rec.DependantValue == resString[i].Trim()))
                            {
                                presentDepends += a.DependantId + ",";
                                dependsType += a.DependantType + ",";
                            }
                            if (presentDepends.Length > 1)
                            {
                                presentDepends = presentDepends.Substring(0, presentDepends.Length - 1);
                                dependsType = dependsType.Substring(0, dependsType.Length - 1);
                            }
                        }
                        if (questionType == 0)
                        {
                            @:<td>
                        }
                        else
                        {
                            @:<tr><td width="1%" valign="top">
                        }
                        
                        <input type="radio" id="@id+@resString[i]" name="@name" isMandatory="@isMandatory" name="@id"  value="@resString[i]"  questionColumnId="@questionColumnId" class="classRadio"
                        @if (hasDependent == true)
                        {
                             @: onchange="DynamicFieldsHiding('@AllDepends','@presentDepends','@dependsType','@AllDependsType')"                            
                        }
                        @*Kiran on 9/11/2014*@
                        @*@if (@String.IsNullOrEmpty(InputVal))
                        {
                             @: HideMe="@AllDepends|@presentDepends|@dependsType|@AllDependsType"      
                             @: checked="checked"                      
                        }*@
                        else if (resString[i].Equals(InputVal))
                        {
                            @: HideMe="@AllDepends|@presentDepends|@dependsType|@AllDependsType"      
                            @: checked="checked"                      
                        }
                        />
                        @: </td>
                        @:<td width="99%">
                        <label for="@id+@resString[i]" style="line-height:normal;padding:0;margin:0;">@resString[i]</label>
                        //Kiran on 9/11/2014
                        <span class="field-validation-valid" data-valmsg-for="@questionColumnId" data-valmsg-replace="true"></span> 
                        if (questionType == 0)
                        {
                            @:</td>
                        }
                        else
                        {
                            @:</tr></td>
                        }
                    }
                    @if (questionType == 0)
                    {
                        @:</tr>
                    }
                    </table></td>
                }
                @*if (questionType == 0)
                {
                    string[] resString = defaultValue.Split(',');
                    for (int i = 0; i < resString.Length; i++)
                    {
                        <td>
                            @if (resString[i].Equals(InputVal) || i == 0)
                            {
                                <input type="radio" id="@id+@resString[i]" name="@name" isMandatory="@isMandatory" name="@id" checked="checked" value="@resString[i]"  questionColumnId="@questionColumnId" class="classRadio"/>
                            }
                            else
                            {
                                <input type="radio" id="@id+@resString[i]" name="@name" isMandatory="@isMandatory" name="@id" value="@resString[i]"  questionColumnId="@questionColumnId" class="classRadio"/>
                            }
                            <label for="@id+@resString[i]">@resString[i]</label>
                        <span class="field-validation-valid" data-valmsg-for="@id" data-valmsg-replace="true"></span></td>
                    }
                }
                else
                {
                    string[] resString = defaultValue.Split(',');
                    for (int i = 0; i < resString.Length; i++)
                    {
                        <tr><td>
                            @if (resString[i].Equals(InputVal) || i == 0)
                            {
                                <input type="radio" id="@id+@resString[i]" name="@name" isMandatory="@isMandatory" name="@id" checked="checked" value="@resString[i]"  questionColumnId="@questionColumnId" class="classRadio"/>
                            }
                            else
                            {
                                <input type="radio" id="@id+@resString[i]" name="@name" isMandatory="@isMandatory" name="@id" value="@resString[i]"  questionColumnId="@questionColumnId" class="classRadio"/>
                            }
                            <label for="@id+@resString[i]">@resString[i]</label>
                            <span class="field-validation-valid" data-valmsg-for="@id" data-valmsg-replace="true"></span>
                        </td></tr>
                    }
                }*@
                break;
            case 8:
                if (questionType == 0)
                {
                <td>
                    @if (@defaultValue.Equals(InputVal))
                    {
                        <input type="checkbox" id="@id" isMandatory="@isMandatory" name="@id" questionColumnId="@questionColumnId" checked="checked" class="classRadio"/>                
                    }
                    else
                    {
                        <input type="checkbox" id="@id" isMandatory="@isMandatory" name="@id" questionColumnId="@questionColumnId"/>
                    }
                    <label>@defaultValue</label>
                    <span class="field-validation-valid" data-valmsg-for="@id" data-valmsg-replace="true"></span>
                </td>
                }
                else
                {
                <tr><td>
                    @if (@defaultValue.Equals(InputVal))
                    {
                        <input type="checkbox" id="@id" isMandatory="@isMandatory" name="@id" questionColumnId="@questionColumnId" checked="checked" class="classRadio"/>                
                    }
                    else
                    {
                        <input type="checkbox" id="@id" isMandatory="@isMandatory" name="@id" questionColumnId="@questionColumnId"/>
                    }
                    <label>@defaultValue</label>
                    <span class="field-validation-valid" data-valmsg-for="@id" data-valmsg-replace="true"></span>
                </td></tr>
                }
                break;
            case 9://DropDown/Select
                {
                    var AllDepends = "";
                    var AllDependsType = "";
                    if (hasDependent == true)
                    {
                        foreach (var depend in @question.QuestionsDependants)
                        {
                            AllDepends += depend.DependantId + ",";
                            AllDependsType += depend.DependantType + ",";
                        }
                        if (AllDepends.Length > 1)
                        {
                            AllDepends = AllDepends.Substring(0, AllDepends.Length - 1);
                            AllDependsType = AllDependsType.Substring(0, AllDependsType.Length - 1);
                        }
                    }
                    //if (questionType == 0)
                    //{
                        <td><select isMandatory="@isMandatory" name="@id" questionColumnId="@questionColumnId" class="classSelect" id="@id" allDepends="@AllDepends" allDependsType="@AllDependsType" onchange="dropDownChange(this)">
                            @if (String.IsNullOrEmpty(columnDetails.ColumnValues) && !String.IsNullOrEmpty(columnDetails.TableReference))
                            {

                                //var sql = "Select " + @columnDetails.TableReferenceField + "," + @columnDetails.TableRefFieldValueDisplay + " From " + @columnDetails.TableReference;
                                //command.CommandText = sql;
                                //var result = command.ExecuteReader();
                                <p></p>
                                var dds = new FVGen3.BusinessLogic.DropdDownDataSupplier();
                                var items = dds.GetDynamicTableData(@columnDetails.TableReference,@columnDetails.TableReferenceField,@columnDetails.TableRefFieldValueDisplay,null,@ViewBag.VendorId);
                                //RAB TODO - if UnitesStates then call fo List<keyvalue<string,string> else run the query and convert (helper method) then look through the list.
                                //while (@result.Read())
                                foreach (var item in items)                                
                                {
                                    var presentDepends = "";
                                    var dependsType = "";
                                    if (hasDependent == true)
                                    {
                                        //@question.QuestionsDependants.FindAll(rec => rec.DependantValue == @result[1]).Count;
                                        foreach (var a in @question.QuestionsDependants.FindAll(rec => rec.DependantValue == item.key + ""))
                                        {
                                            presentDepends += a.DependantId + ",";
                                            dependsType += a.DependantType + ",";
                                        }
                                        if (presentDepends.Length > 1)
                                        {
                                            presentDepends = presentDepends.Substring(0, presentDepends.Length - 1);
                                            dependsType = dependsType.Substring(0, dependsType.Length - 1);
                                        }
                                    }@item.key  @InputVal
                                    if (@item.key.ToString().Equals(InputVal))
                                    { 
                                        <option value="@item.key" presentDepends="@presentDepends" dependsType="@dependsType"
                                         HideMe="@AllDepends|@presentDepends|@dependsType|@AllDependsType"
                                         selected >@item.value</option>
                                    }
                                    else
                                    { 
                                        <option value="@item.key" presentDepends="@presentDepends" dependsType="@dependsType"
                                        
                                        >@item.value</option>
                                    }
                                }
                                //result.Close();
                            }
                            else
                            {
                                var i = 0;
                                foreach (var resString in defaultValue.Split('|'))
                                {

                                    var presentDepends = "";
                                    var dependsType = "";
                                    if (hasDependent == true)
                                    {
                                        foreach (var a in @question.QuestionsDependants.FindAll(rec => rec.DependantValue == resString.Trim()))
                                        {
                                            presentDepends += a.DependantId + ",";
                                            dependsType += a.DependantType + ",";
                                        }
                                        if (presentDepends.Length > 1)
                                        {
                                            presentDepends = presentDepends.Substring(0, presentDepends.Length - 1);
                                            dependsType = dependsType.Substring(0, dependsType.Length - 1);
                                        }
                                    }
                                    if (resString.Equals(InputVal) || i == 0)
                                    { 
                                        <option value="@resString" presentDepends="@presentDepends" dependsType="@dependsType"
                                         HideMe="@AllDepends|@presentDepends|@dependsType|@AllDependsType"
                                         selected >@resString</option>
                                    }
                                    else
                                    { 
                                        <option value="@resString" presentDepends="@presentDepends"
                                        
                                         dependsType="@dependsType">@resString</option>
                                    } i++;
                                }
                            }
                        </select>
                        <span class="field-validation-valid" data-valmsg-for="@id" data-valmsg-replace="true"></span></td> 
                    //}
                    //else
                    //{
                    //    <tr><td><select isMandatory="@isMandatory" name="@id" questionColumnId="@questionColumnId" class="classSelect" id="@id" allDepends="@AllDepends" onchange="dropDownChange(this)">

                    //            @{var i=0;}
                    //            @foreach (var resString in defaultValue.Split(','))
                    //            {

                    //                var presentDepends = "";

                    //                foreach (var a in @question.QuestionsDependants.FindAll(rec => rec.DependantValue == resString.Trim()))
                    //                {
                    //                    presentDepends += a.DependantQuestionId + ",";
                    //                }
                    //                if (presentDepends.Length > 1)
                    //                {
                    //                    presentDepends = presentDepends.Substring(0, presentDepends.Length - 1);
                    //                }

                    //                if (resString.Equals(InputVal) || i==0)
                    //                { 
                    //                    <option value="@resString" presentDepends="@presentDepends" HideMe="@AllDepends|@presentDepends" selected >@resString</option>
                    //                }
                    //                else
                    //                { 
                    //                    <option value="@resString" presentDepends="@presentDepends" >@resString</option>
                    //                } i++;
                    //            }

                    //    </select>
                    //    <span class="field-validation-valid" data-valmsg-for="@id" data-valmsg-replace="true"></span></td> </tr>
                    //}
                }
                break;
            case 10:
                if (questionType == 0)
                {
                <td><select multiple="multiple" isMandatory="@isMandatory" name="@id" questionColumnId="@questionColumnId" class="classMultiple">
                    @*@foreach (var resString in defaultValue.Split(','))*@
                    @foreach (var resString in defaultValue.Split('|'))
                    {
                        if (resString.Equals(InputVal))
                        { 
                            <option value="@resString" selected>@resString</option>
                        }
                        else
                        { 
                            <option value="@resString">@resString</option>
                        }
                    }
                </select>
                <span class="field-validation-valid" data-valmsg-for="@id" data-valmsg-replace="true"></span></td> 
                }
                else
                {
                
                <tr><td><select multiple="multiple" isMandatory="@isMandatory" name="@id" questionColumnId="@questionColumnId" class="classMultiple">
                    @foreach (var resString in defaultValue.Split(','))
                    {
                        if (resString.Equals(InputVal))
                        { 
                            <option value="@resString" selected>@resString</option>
                        }
                        else
                        { 
                            <option value="@resString">@resString</option>
                        }
                    }
                </select>
                <span class="field-validation-valid" data-valmsg-for="@id" data-valmsg-replace="true"></span></td> </tr>
                }
                break;
            case 11:
                if (questionType == 0)
                {
               <td><input type="date" id="@id"   ctrlType="Date" isMandatory="@isMandatory" name="@id"  questionColumnId="@questionColumnId" value="@InputVal" class="class_input"/> 
                    <span class="field-validation-valid" data-valmsg-for="@id" data-valmsg-replace="true"></span>
               </td>
                }
                else
                {
                <tr> <td><input type="date" id="@id"  ctrlType="Date" isMandatory="@isMandatory" name="@id" questionColumnId="@questionColumnId" value="@InputVal" class="class_input"/> 
                    <span class="field-validation-valid" data-valmsg-for="@id" data-valmsg-replace="true"></span></td></tr>
                }
                break;
            case 12:
                if (questionType == 0)
                {
                <td><input type="button" id="@id" value="@defaultValue" isMandatory="@isMandatory" name="@id" questionColumnId="@questionColumnId"/>
                <span class="field-validation-valid" data-valmsg-for="@id" data-valmsg-replace="true"></span></td>
                }
                else
                {
                <tr><td><input type="button" id="@id" value="@defaultValue" isMandatory="@isMandatory" name="@id" questionColumnId="@questionColumnId"/>
                <span class="field-validation-valid" data-valmsg-for="@id" data-valmsg-replace="true"></span></td></tr>
                }
                break;

            case 13:
                if (questionType == 0)
                {
                <td><input type="text" id="@id" ctrlType="Currency" isMandatory="@isMandatory" name="@id" questionColumnId="@questionColumnId" value="@InputVal" class="class_input"/>
                <span class="field-validation-valid" data-valmsg-for="@id" data-valmsg-replace="true"></span></td>
                }
                else
                {
                <tr><td><input type="text" id="@id" ctrlType="Currency" isMandatory="@isMandatory" name="@id" questionColumnId="@questionColumnId" value="@InputVal" class="class_input"/>
                <span class="field-validation-valid" data-valmsg-for="@id" data-valmsg-replace="true"></span></td></tr>
                }
                break;
            case 14:
                if (questionType == 0)
                {
                <td><input type="password" id="@id"  isMandatory="@isMandatory" name="@id" questionColumnId="@questionColumnId" class="class_input"/>
                <span class="field-validation-valid" data-valmsg-for="@id" data-valmsg-replace="true"></span></td>
                }
                else
                {
                <tr><td><input type="password" id="@id"  isMandatory="@isMandatory" name="@id" questionColumnId="@questionColumnId" class="class_input"/>
                <span class="field-validation-valid" data-valmsg-for="@id" data-valmsg-replace="true"></span></td></tr>
                }
                break;

            case 15:
        
            <table>
            </table>
                break;

            default: break;

        }
}