﻿<!--
 *****************************************************
Page Created Date:  11/12/2019
Created By: Kiran Talluri
Purpose: To display waiver form to employees
Version: 1.0
****************************************************
-->

@using FVGen3.Domain.Entities;
@using Resources;

@model FVGen3.Domain.Entities.LocalWaiverForm
@{
    ViewBag.Title = "Quiz Waiver Form";
    Layout = "~/Views/Shared/_QuizSectionMainLayout.cshtml";
}


<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="~/js/jquery.ui.datepicker.js"></script>
    <script src="~/js/jquery.ui.widget.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <link rel="stylesheet" href="~/css/jquery-ui.css" />
</head>

<script type="text/javascript">
    $(document).ready(function () {
        $("#Date").datepicker();
    });
</script>

<body>
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.quizId)
        @Html.HiddenFor(model => model.UserId)
        @Html.HiddenFor(model => model.EmployeeName)

        if (@ViewBag.signatureMismatch != null && @ViewBag.signatureMismatch == true)
        {
            <div class="errorMessage">@Resources.WaiverForm_Signature_Mismatch_Error</div>
        }
        <div class="fancy">
            <iframe style="margin-left:25px;" width="660" height="500" src="../Quiz/PartialQuizWaiverForm?quizId=@Model.quizId">
                @*@Html.Raw(@Model.Content)*@
            </iframe>
        </div>
        <div class="contentSub">

            

            <div class="rowIST">
                <label class="enableStar">Vendor Company:</label>
                @Html.TextBoxFor(model => model.VendorCompany, new { @readonly= "readonly" })
                <div class="alertStar"> @Html.ValidationMessageFor(m => m.VendorCompany) </div>
            </div>

            <div class="rowIST">
                <label class="enableStar">Date:</label>
                <input type="text" id="Date" name="Date" value="@DateTime.Now.Date.ToShortDateString()" readonly="readonly"/>
                @*@Html.TextBoxFor(model => model.Date, new { value= "@DateTime.Now.Date.ToShortDateString()" })*@
                <div class="alertStar"> @Html.ValidationMessageFor(m => m.Date) </div>
            </div>

            <div class="rowIST">
                <label class="enableStar">Signature:</label>
                @Html.TextBoxFor(model => model.Signature, new { @Placeholder = "LastName, FirstName" })
                <div class="alertStar"> @Html.ValidationMessageFor(m => m.Signature) </div>
            </div>

            <div class="contentSub">
                <div class="pageFooterContent">
                    <div class="pageFooterButtons">
                        <table>
                            <tr>
                                <td><button type="submit" btnType="Update" class="PageFooter_Button">Submit</button></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    }
</body>
</html>

