﻿
<!--//
****************************************************
Page Created Date:  12/10/2013 
Created By: Siva Bommisetty
Purpose:
Version: 1.0
****************************************************
-->
@using Resources;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>Add Prequalification Requirement Success Page</title>
    <meta name="description" content="Client Dashboard - First, Verify"/>
    <meta name="viewport" content="width=device-width"/>
    
    @Styles.Render("~/css/appPopUp.css")
    @Styles.Render("~/css/appInnerPages.css")

</head>

<script type = "text/javascript">
    window.onload = function () {
        parent.window.close();
        window.opener.updatePrequalRequirementsList();
    }
</script>

<body>
    <div class="popUpContainer"> 
        <div class="popUpContent">

            <div class="popUpSubContent">   
                <div>
                    <h2> @Resources.AddPrequalificationRequirement_Heading</h2>
                </div> 
                <p class="successMessage"> @Resources.AddPrequalification_Requirement_SuccessMessage </p>        
            </div>
            
            <div class="popUpSubContent">
                <div class="pageFooterContent"> 
                    <div class="pageFooterButtons">              
                        <button type="button" onclick = "closeView()" class="PageFooter_Button">
                            @Resources.EmailTemplatesClose
                        </button>            
                    </div>
                </div>
            </div>                                                          
        
        </div>
    </div>
</body>
</html>
