﻿<!--
*****************************************************
Page Created Date:  06/25/2013
Created By: Siva Bommisetty
Purpose:
Version: 1.0
****************************************************
-->

@using FVGen3.Domain.Entities;
@using Resources;

@model FVGen3.Domain.Entities.LocalAddNewPrequalRequirement
@{
    ViewBag.Title = "Add New Prequalificatin Requirement";

    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

<meta charset="utf-8">
<title>@Resources.AddPrequalificationRequirement_Heading</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=8"/>
<meta http-equiv="X-UA-Compatible" content="IE=9"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width"/>


<script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@Scripts.Render("~/js/common.js")

<script type="text/javascript" src="@Url.Content("~/Content/Javascript/ckeditor/ckeditor.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/Javascript/ckeditor/adapters/jquery.js")"></script>

@Styles.Render("~/css/appPopUp.css")
@Styles.Render("~/css/appInnerPages.css")
    
</head>

<script type = "text/javascript">

    $(document).ready(function () {

        $(".adminRichText").ckeditor();

        // For Roles and Permissions
        setPermissions('@ViewBag.ViewPermissions');
        // Ends<<<
        
    });

    function closeWindow() {
        window.close();
    }
    
</script>
  


@*Don't remove this class, it is used for rich text box*@
<style type = "text/css">
    .adminRichText
    {
        width:360px;
        height:70px;
        background:#000;
        float:left;
    }
</style>

<body>
    
    @using (Html.BeginForm())
    {
        <div class=" popUpContainer">
            <div class="popUpContent">
                <div class="popUpSubContent">
                    <div class="page-title"> <h2> @Resources.Companies_addNewPrequalRequirement @Model.TemplateName </h2> </div>

                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(model => model.OrganizationID)
                    @Html.HiddenFor(model => model.TemplateID)
                    @Html.HiddenFor(model => model.ClientTemplateProfileId)

                    <div class="rowPopUpGeneric">
                        <table>
                            <tr>
                                <td><label id="popUpAddCompanyLabel"  >@Resources.Common_Title </label></td>
                                <td>
                                    @Html.TextBoxFor(model => model.PrequalRequirementTitle, new { @class = "popUpAddCompanyInput", @maxlength="100"})
                                    <div class = "alertStar">@Html.ValidationMessageFor(model => model.PrequalRequirementTitle)</div>
                                </td>
                            </tr>
                        </table>
                        
                    </div>
                
                    <div class="rowPopUp">
                        <table width="87%">
                            <tr>
                                <td valign="top"><label class = "enableStarPopUp">@Resources.Companies_Content</label></td> 
                            </tr>
                            <tr>
                                <td> 
                                    @*@Html.TextAreaFor(model => model.PrequalRequirementContent)*@
                                    <textarea id="PrequalRequirementContent"   name="PrequalRequirementContent" class="adminRichText">
                                        @Html.Raw(Model.PrequalRequirementContent)
                                    </textarea>
                                </td>
                            </tr>
                            
                        </table>
             	    
                        <div class="alertStar"> @Html.ValidationMessageFor(model => model.PrequalRequirementContent) </div>
                    </div>
                </div>
            </div>    
                    
            <div class = "popUpSubContent">    
                <div class="pageFooterContent"> 
                    <div class="pageFooterButtons">
                        <table>
                            <tr>
                                <td>
                                    <button type = "submit" btnType = "Insert" class="PageFooter_Button">
                                        @Resources.Common_Save 
                                    </button>
                                </td>
                                <td btnType = "Insert">@Resources.Common_label_or</td>
                            
                                <td>
                                    <div class="pageFooterCancelButton">
                                        <a href="#" onclick="closeWindow()">@Resources.Common_Cancel</a>
                                    </div>
                                </td>
                            </tr>	
                        </table> 
                    </div>
                </div>
            </div>
           
        </div>        
    }
    
</body>
</html>
