﻿<!--
 *****************************************************
Page Created Date:  06/14/2013
Created By: Siva Bommisetty
Purpose:
Version: 1.0
****************************************************
-->

@using FVGen3.Domain.Entities;
@using Resources;

@model FVGen3.Domain.Entities.LocalAddNewDocument
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
<title>@Resources.AddNewDocument_Heading</title>

<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=8"/>
<meta http-equiv="X-UA-Compatible" content="IE=9"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width"/>


@Styles.Render("~/css/appPopUp.css")
@Styles.Render("~/css/appInnerPages.css")
@Scripts.Render("~/js/jquery-1.9.1.min.js")
@Scripts.Render("~/js/common.js")
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="../js/jquery-1.10.3.js"></script>

    <script src="~/Scripts/kendo/kendo.all.min.js"></script>
    <link href="~/css/kendo/kendo.default.min.css" rel="stylesheet" />
    <link href="~/css/kendo/kendo.common.min.css" rel="stylesheet" />
    <link href="~/css/kendo/kendo.default.mobile.min.css" rel="stylesheet" />
    <script src="~/Scripts/Application/VendorRegistration.js"></script>

</head>
<style>
    .k-list
  {
    white-space: nowrap;
  }
      .k-popup > .k-group-header, .k-popup > .k-virtual-wrap > .k-group-header {
      color: black;
      background: #c3c4c5;
    }
      .k-draghandle.k-state-selected:hover, .k-ghost-splitbar-horizontal, .k-ghost-splitbar-vertical, .k-list>.k-state-highlight, .k-list>.k-state-selected, .k-marquee-color, .k-panel>.k-state-selected, .k-scheduler .k-scheduler-toolbar .k-state-selected, .k-scheduler .k-today.k-state-selected, .k-state-selected, .k-state-selected:link, .k-state-selected:visited, .k-tool.k-state-selected {
    color: black;
    /*background-color:rgb(136, 206, 210);
    border-color:rgb(136, 206, 210);*/
}</style>
<script type="text/javascript">

    $(document).ready(function ()
    {
        $("#Header_RadioId").change(function ()
        {
            checkRadioButton("1")
        });

        $("#Footer_RadioId").change(function ()
        {
            checkRadioButton("2")
        });
        $("#SubSec_RadioId").change(function ()
        {
            checkRadioButton("3")
        });
        $("#SubSec_RadioId").change(function ()
        {
            checkRadioButton("3")
        });

        $("#Intro_RadioId").change(function ()
        {
            checkIntroOrBURadioButton("1")
        });
        $("#BU_RadioId").change(function ()
        {
            checkIntroOrBURadioButton("2")
        });
        $("#BUSite_RadioId").change(function ()
        {
            checkIntroOrBURadioButton("3")
        });
        $("#PQRequire_RadioId").change(function ()
        {
            checkIntroOrBURadioButton("4")
           
        });
        // For Roles and Permissions
        setPermissions('@ViewBag.ViewPermissions');
        // Ends<<<

    });

  
                $(document).ready(function() {
                    $("#ClientBusinessUnitsiteId").kendoDropDownList({
                        dataTextField: "BusinesUnitsiteName",
                        dataValueField: "BusinessUnitSiteID",
                        height: 200,
                        width:40,
                        dataSource: {
                            type: "GET",
                            transport: {
                                read: "../Companies/GetClientBusinessUnitSites?ClientId=" +@Model.OrganizationID
                            },
                            group: { field: "BusinessUnitName" }
                            
                        }
                    });
                });
    
   
   

    function checkIntroOrBURadioButton(radioValue)
    {debugger;
        //alert("checkIntroOrBURadioButton: " + radioValue + " Introofbuid: " + introOrBUIdLocal);
        if(radioValue == "2" || $("#TemplateSectionID").val() == "-1")
        {
            $("#BU_RadioId").prop('checked', true);
            $("[name = IntroOrUnit]").val("2");
            $("#Footer_id").hide();
            $("#BUSelectionDiv_Id").show();
            $("#IntroSubDiv_Id").hide();
            $("#HeadOrFootOrSubSecTitle_div_id").hide();
            $("#BUSiteSelectionDiv_Id").hide();
            if($("#TemplateSectionID").val() == "-1")
                $("#IntroSecNotAvailable_ErrorMessage_divId").show();
        }
        else if(radioValue == "1"){
            $("#Intro_RadioId").prop('checked', true);
            $("[name = IntroOrUnit]").val("1");
            $(".footer_ID").show();
            $("#IntroSubDiv_Id").show();
            $("#HeadOrFootOrSubSecTitle_div_id").show();
            $("#IntroSecNotAvailable_ErrorMessage_divId").hide();
            $("#BUSelectionDiv_Id").hide();
            $("#BUSiteSelectionDiv_Id").hide();
            //getAndAssignHeadersOrFooters();
            checkRadioButton($("#HeadOrFootOrSubSec").val())
        }
        else if(radioValue == "4"){
            $("[name = IntroOrUnit]").val("4");
            $("#HeadOrFootOrSubSecTitle_div_id").show();
            $("#BUSelectionDiv_Id").hide();
            $("#BUSiteSelectionDiv_Id").hide();
            $(".footer_ID").hide();
            //$("#Footer_RadioId"). prop("checked", false);
            //$("#Header_RadioId"). prop("checked", true);
            $("#IntroSubDiv_Id").show();
            checkRadioButton("4")
        }
        else{ $("#BUSite_RadioId").prop('checked', true);
            $("[name = IntroOrUnit]").val("3");
            $("#BUSelectionDiv_Id").hide();
            $("#BUSiteSelectionDiv_Id").show();
            $("#IntroSubDiv_Id").hide();
            $("#HeadOrFootOrSubSecTitle_div_id").hide();

            if($("#TemplateSectionID").val() == "-1")
                $("#IntroSecNotAvailable_ErrorMessage_divId").show();
        }

    }


    var headFootSubSecIdJS;
    function checkRadioButton(radioValue, headFootSubSecIdLocal)
    {debugger;
        //alert("checkRadioButton:" + radioValue);
        if(radioValue == "4")
        {
            $("#SubSec_RadioId").prop('checked', true);
            $("[name = HeadOrFootOrSubSec]").val("1");
            var templatesectionid=   $("#TemplateSectionID").val()
            var clientid= $("#OrganizationID").val();
           
            getAndAssignHeadersOrFooters(templatesectionid,31,radioValue,clientid)
          
        }
        if(radioValue == "3")
        {
            $("#SubSec_RadioId").prop('checked', true);
            $("[name = HeadOrFootOrSubSec]").val("3");
        }
        else if(radioValue == "2")
        {
            $("#Footer_RadioId").prop('checked', true);
            $("[name = HeadOrFootOrSubSec]").val("2");
            var templateSectionId = $("#TemplateSectionID").val();
            var sectionType = "0";
        
        
            var radioValue = $("[name = HeadOrFootOrSubSec]").val();
            var clientId = $("#OrganizationID").val();
            headFootSubSecIdJS = headFootSubSecIdLocal;
            getAndAssignHeadersOrFooters();
        }
        else if(radioValue == "1"||radioValue==undefined){
            $("#Header_RadioId").prop('checked', true);
            $("[name = HeadOrFootOrSubSec]").val("1");
            $("#Footer_RadioId").attr('disabled', false);
            var templateSectionId = $("#TemplateSectionID").val();
            var sectionType = "0";
        
        
            var radioValue = $("[name = HeadOrFootOrSubSec]").val();
            var clientId = $("#OrganizationID").val();
            headFootSubSecIdJS = headFootSubSecIdLocal;
            getAndAssignHeadersOrFooters();
        }
    }
  
    //headersOrFooters-- 1 for headers, 2 for footers, 3 for SubSections
    function getAndAssignHeadersOrFooters(templatesectionid,sectiontype,radiovalue,clientid)
    {debugger;
    var templateSectionId = $("#TemplateSectionID").val();
    var sectionType = "0";
        //0 means intro
    if(radiovalue=="4"){sectionType="31";}
    var radioValue = $("[name = HeadOrFootOrSubSec]").val();
      
    var clientId = $("#OrganizationID").val();

        //alert("templateSectionId: "+templateSectionId + " radioValue: "+radioValue + " sectionType: "+sectionType);

        $.ajax({
            url: "@Url.Action("getHeadersOrFootersOrSubSections", "Companies")",
            data: {templateSecId: templateSectionId, HeadFootOrSubSecId: "-1", headOrFootOrSubSec: radioValue, sectionType: sectionType, clientId: clientId},
            dataType: "json",
            type: "POST",
            error: function() {
                //alert("An error occurred while fetching Headers.");
            },
            success: function(data) 
            {
                var items = "";
                $.each(data, function(i, item) {
                    items += "<option value=\"" + item.Value + "\">" + item.Text + "</option>";
                });

                $("#HeadFootSubSecId").html(items);
                
                $("#HeadFootSubSecId").val(headFootSubSecIdJS);
                

                //To enable or disable head/Foot title field .. 
                headFootSubSecChanged()
            }
        });
    }

    @* Siva on 21st Aug *@
    function headFootSubSecChanged()
    {debugger;
        var headOrFootId = $("#HeadFootSubSecId").val();
        var IntroOrBUnitRadioValue = $("[name = IntroOrUnit]").val();
        //alert("IntroOrBUnitRadioValue " + IntroOrBUnitRadioValue);
        if(headOrFootId == -1 && IntroOrBUnitRadioValue == "1")
        {
            //$('#headerOrFooterTitle').prop("disabled", false);
            $('#HeadOrFootOrSubSecTitle_div_id').show();
        }
        else{
            //$('#headerOrFooterTitle').prop("disabled", true);
            $('#HeadOrFootOrSubSecTitle_div_id').hide();
        }
    }        
    @* End of 21st Aug *@

    function TemplateChanged(thiss) 
    {
        //alert($("#TemplateID").val());
        var templateId = $("#TemplateID").val();
        getIntroductionSections(templateId);  
    }

    function getIntroductionSections(templateId) 
    {
        //alert("getIntroductionSections " + templateId);
        $.ajax({
            url: "@Url.Action("getIntroductionSections", "Companies")",
            data: {templateId: templateId},
            dataType: "json",
            type: "POST",
            error: function() {
                //alert("An error occurred while getting sections.");
            },
            success: function(data) 
            {
                $("#TemplateSectionID").val(data);
                
                //to get sections of selected template
                if ($("#TemplateSectionID").val() != "-1")
                {
                    checkIntroOrBURadioButton("1");
                }
                else
                {
                    checkIntroOrBURadioButton("2");
                }
            }
        });
    }

    function TempSecChanged(thiss) 
    { var templateSectionId = $("#TemplateSectionID").val();
        var sectionType = "0";
     //0 means intro
        
        var radioValue = $("[name = HeadOrFootOrSubSec]").val();
      
        var clientId = $("#OrganizationID").val();
        radiovalue=$("[name = HeadOrFootOrSubSec]").val();
        getAndAssignHeadersOrFooters(templatesectionid,sectiontype,radiovalue,clientid)
      //  getAndAssignHeadersOrFooters();
    }


    function closeWindow() {
        window.close();
    }

    /* Added on 28th Aug */
    function verifyFile(thisAsFile) {
        //alert("verifyImage");
        $file = $(thisAsFile);
        var $filePath = $.trim($file.val());
        if ($filePath == "") {
            alert("@Resources.Common_BrowseFile_Message");
            return;
        }

        // Kiran on 12/16/2014
        var file = thisAsFile.files[0];
        if (file.size > 5242880) {
            alert("@Resources.Common_FileSize_ErrorMessage");
            $(thisAsFile).val("");
            return false;
        }
        // Ends<<<

        var $ext = $filePath.split(".").pop().toLowerCase();
        var $allow = new Array("pdf");
        if ($.inArray($ext, $allow) == -1) {
            alert("@Resources.AddNewDocument_PDFFile_Error");
            $(thisAsFile).val("");
            return;
        }
    }
    /* End 28th Aug */


</script>

<body>
@using (Html.BeginForm("AddNewDocument", "Companies", FormMethod.Post, new { enctype = "multipart/form-data", id = "target" }))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.OrganizationID)
    @Html.HiddenFor(model => model.TemplateSectionID)

    <div class="popUpContainer">
        <div class="popUpContent">
            @if (ViewBag.docTypeNotExist)
            { 
                <div class="rowIST">
                    <p class="errorMessage">
                        @Resources.Companies_DocAddAlert
                    </p>
                </div>
            }
        
            @*Nov 22nd *@
            @if (@Model.TemplateSectionID == "-1")
            { 
                <div id = "IntroSecNotAvailable_ErrorMessage_divId">
                    <p class="errorMessage">
                        @Resources.AddNewDocument_IntroductionSection_Error
                    </p>
                </div>
            }
        
            
        
                <div class="popUpSubContent">
                    <div class="page-title"> 
                        <h2>@Resources.AddNewDocument_Heading</h2> 
                    </div>

                    <div class="rowPopUp" popText="">
            	        <label class = "enableStarPopUp"> @Resources.Companies_Template </label>
                        @if (@ViewBag.Templates != null)
                        {
                            @Html.DropDownListFor(x => x.TemplateID, (List<SelectListItem>)@ViewBag.Templates, new { @onchange = "TemplateChanged(this)" }) 
                        }
                        else
                        { 
                            @Html.DropDownListFor(x => x.TemplateID, new List<SelectListItem>(), new { @onchange = "TemplateChanged(this)" }) 
                        }
                        <div class="alertStar"> @Html.ValidationMessageFor(model => model.TemplateID) </div>
                    </div>
            
                    @*Nov 22nd*@
                     @*<div class="rowPopUp" popText="">
            	        <label class="enableStarPopUp"> @Resources.Companies_TempSection </label>
                        @if (@ViewBag.TemplateSections != null)
                        {
                            @Html.DropDownListFor(x => x.TemplateSectionID, (List<SelectListItem>)@ViewBag.TemplateSections, new { @onchange = "TempSecChanged(this)" }) 
                        }
                        else
                        { 
                            @Html.DropDownListFor(x => x.TemplateSectionID, new List<SelectListItem>(), new { @onchange = "TempSecChanged(this)" }) 
                        }          
                        <div class="alertStar"> @Html.ValidationMessageFor(model => model.TemplateSectionID) </div>
                    </div>*@

                    @* Srinivas for Radio and Checkbox*@
                    <div class="rowPopUpRadioCheckbox">
                        <table>
                            <tr>
                                <td><label>@Resources.AddNewDocument_Label_DownloadsFor</label></td>
                                <td><input type = "radio" name="IntroOrUnit" id = "Intro_RadioId" value="1"/></td>
                                <td><label for="Intro_RadioId" style="width:80px;">@Resources.AddNewDocument_Label_Introduction</label></td>
                                <td><input type="radio" name="IntroOrUnit" id="PQRequire_RadioId" value="4" /></td>
                                <td><label for="Intro_RadioId" style="width:100px;">PQRequirements</label></td><td></td>
                                <td><input type = "radio" name="IntroOrUnit" id = "BU_RadioId" value="2"/></td>
                                <td><label for="BU_RadioId" style="width:100px;">@Resources.AddNewDocument_Label_BusinessUnit</label></td>
                                <td><input type="radio" name="IntroOrUnit" id="BUSite_RadioId" value="3"/></td>
                                <td><label for="BUSite_RadioId">@Resources.BusinessUnitSites</label></td>
                            </tr>
                        </table>
                    </div>

                    @*<div class="rowPopUpGeneric">
                        <table border = "0" width="70%">
                            <tr>
                                <td width="210">
                                    <label style="padding-left:10px;">Downloads for</label> 
                                </td>
                                <td>
                                    <table width="100%" border="0">
                                        <tr>
                                            <td id = "TableDataIdForIntroRadiobutton">
                                                <input type = "radio" name="IntroOrUnit" id = "Intro_RadioId" value="1"/>
                                                <label for="Intro_RadioId">Introduction</label>
                                            </td>

                                            <td>
                                                <input type = "radio" name="IntroOrUnit" id = "BU_RadioId" value="2"/>
                                                <label for="BU_RadioId">Business unit</label>
                                            </td>  
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>*@

                    @*<<<<<<<<<<<<<<<<<<<<<<Srinivas*@

                    @*Nov 22nd*@
                    
                    <div class="rowPopUpRadioCheckbox" id = "IntroSubDiv_Id">
                        <table border="0">
                            <tr>
                                <td><label class="enableStarPopUp">@Resources.Companies_HeadorFootOrSubsec </label></td>
                                <td><input type="radio" name="HeadOrFootOrSubSec" id="Header_RadioId" value="1" /></td>
                                <td><label for="Header_RadioId" style="width:80px;">@Resources.Common_Label_header</label></td>
                                
                                    <td class="footer_ID"><input type="radio" name="HeadOrFootOrSubSec" id="Footer_RadioId" value="2" /></td>
                                    <td class="footer_ID"><label for="Footer_RadioId">@Resources.Common_Label_footer</label></td>
                                
                            </tr>
                            <tr>
                                <td></td>
                                <td colspan="4">
                                    
                                    @if (@ViewBag.HeadFootSubSecs != null)
                                    {
                                        @Html.DropDownListFor(x => x.HeadFootSubSecId, (List<SelectListItem>)@ViewBag.HeadFootSubSecs, new { @onchange = "headFootSubSecChanged()", @class = "popUpAddCompanyInput" })
                                    }
                                    else
                                    { 
                                    @Html.DropDownListFor(x => x.HeadFootSubSecId, new List<SelectListItem>(), new { @onchange = "headFootSubSecChanged()", @class = "popUpAddCompanyInput" }) 
                                    }
                                    <div class="alertStar"> @Html.ValidationMessageFor(model => model.HeadFootSubSecId) </div>
                                </td>
                                
                            </tr>
                        </table>
                    </div>
 
            
                    <div class="rowPopUp" popText="" id ="BUSelectionDiv_Id">
            	        <label class = "enableStarPopUp"> @Resources.AddNewDocument_Label_BusinessUnit </label>
                        @if (@ViewBag.BusinessUnits != null)
                        {
                            @Html.DropDownListFor(x => x.ClientBusinessUnitId, (List<SelectListItem>)@ViewBag.BusinessUnits, new { @onchange = "BusinessUnitChanged(this)" }) 
                        }
                        else
                        { 
                            @Html.DropDownListFor(x => x.ClientBusinessUnitId, new List<SelectListItem>(), new { @onchange = "BusinessUnitChanged(this)" }) 
                        }
                        <div class="alertStar"> @Html.ValidationMessageFor(model => model.ClientBusinessUnitId) </div>
                    </div>
            <div class="rowPopUp" popText="" id ="BUSiteSelectionDiv_Id">

  
      
        @Html.HiddenFor(x => x.ClientBusinessUnitsiteId)
        <label>@Resources.BusinessUnitSites </label> @*<input id="ClientBusinessUnitsiteId"  style="width:50%;margin-left:40px" />*@<div class="alertStar"> @Html.ValidationMessageFor(model => model.ClientBusinessUnitsiteId) </div>
   
</div>
                    <div class="rowPopUp" id="HeadOrFootOrSubSecTitle_div_id" popText = "">
            	        <label class="AddNewDocument_disableastrick"> @Resources.Common_Title </label>
                        @Html.TextBoxFor(model => model.headerOrFooterTitle)
                        <div class="alertStar"> @Html.ValidationMessageFor(model => model.headerOrFooterTitle) </div>
                    </div>

                    @* Added on 28th Aug *@
                    <div class="rowPopUp" popText="">
            	        <label class="enableStarPopUp"> @Resources.EmailTemplatesSelectFile <br/> @Resources.AddNewDocument_Label_OnlyPDFFiles </label>
                        <input type="file" name="file" id="file" data-val-required="*" data-val="true" onchange = "verifyFile(this)"/>
                        <div class="alertStar"> @Html.ValidationMessageFor(model => model.file) </div>
                    </div>
                    @* End of 28th Aug *@
            
                    <div class="rowPopUp" popText="">
            	        <label class="enableStarPopUp"> @Resources.Companies_fileTitle </label>
                        @Html.TextBoxFor(model => Model.fileTitle)
                        <div class="alertStar"> @Html.ValidationMessageFor(model => model.fileTitle) </div>
                    </div>
                    <div class="rowPopUp" popText="">
                        <label class="enableStarPopUp"> @Resources.Disp_order</label>
                        @Html.TextBoxFor(model => Model.displayOrder)
                        <div > @Html.ValidationMessageFor(model => model.displayOrder) </div>
                    </div>

                </div>
            </div> 
        
            <div class = "popUpSubContent">    
                <div class="pageFooterContent"> 
                    <div class="pageFooterButtons">
                        <table>
                            <tr>
                                @*//ADDED on 22nd July*@
                                @if (ViewBag.docTypeNotExist)
                                { 
                                    <td>
                                        <button type = "button" btnType = "Insert" class="PageFooter_Button">
                                            @Resources.EmailTemplatesUpload 
                                        </button>
                                    </td>
                                    <td btnType = "Insert">@Resources.Common_label_or</td>
                                }
                                else
                                {
                                    <td>
                                        <button type = "submit" btnType = "Insert"id="Submit-Button" class="PageFooter_Button">
                                            @Resources.EmailTemplatesUpload 
                                        </button>
                                    </td>
                                    <td btnType = "Insert">@Resources.Common_label_or</td>
                                }
                                @*//End of addition on 22nd July*@
                                <td>
                                    <div class="pageFooterCancelButton">
                                        <a href="#" onclick="closeWindow()">@Resources.Common_Cancel</a>
                                    </div>
                                </td>
                            </tr>	
                        </table> 
                    </div>
                </div>
            </div>
        </div>
                
    }

    <script type = "text/javascript">
        //alert("TemplateSectionID:" + $("#TemplateSectionID").val());

        checkIntroOrBURadioButton('@Model.IntroOrUnit');

        if ($("#TemplateSectionID").val() == "-1")
        {
            checkRadioButton('@Model.HeadOrFootOrSubSec', '@Model.HeadFootSubSecId');
        }

    </script>
    
</body>
</html>
@*<script> $('#target').submit(function(e)
 { e.preventDefault();
 var isValid = true;

 var SiteNAme=$("#ClientBusinessUnitsiteId").data("kendoDropDownList").value();
 if(SiteNAme=="")isValid=false;
 $('#BusinessUnitsiteId').val($("#ClientBusinessUnitsiteId").data("kendoDropDownList").value());
 if (isValid)
     target.submit();
 else alert("Please Select BusinessUnitSites ");
 });</script>*@


