﻿<!--
*****************************************************
Page Created Date:  06/25/2013
Created By: Siva Bommisetty
Purpose:
Version: 1.0
****************************************************
-->

@using FVGen3.Domain.Entities;
@using Resources;

@model FVGen3.Domain.Entities.LocalAddNewClientTemplateProfile
@{
    ViewBag.Title = Resources.AddOrEditClientTab1;

    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

<meta charset="utf-8">
<title>@Resources.Add_Or_Edit_Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=8"/>
<meta http-equiv="X-UA-Compatible" content="IE=9"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width"/>


<script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@Scripts.Render("~/js/common.js")

<script type="text/javascript" src="@Url.Content("~/Content/Javascript/ckeditor/ckeditor.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/Javascript/ckeditor/adapters/jquery.js")"></script>

@Styles.Render("~/css/appPopUp.css")
@Styles.Render("~/css/appInnerPages.css")
    
</head>

<script type = "text/javascript">

    $(document).ready(function () {

        $(".adminRichText").ckeditor();

        //to check header radio button by default
        //to assign value 1 to positionType, (means header is selected)
        var positionType = @Model.PositionType;
        if(positionType == 0 || positionType == null)
        {
            $("#Header_RadioId").attr('checked', true);
        }
        else
        {
            $("#Footer_RadioId").attr('checked', true);
        }

        // to disable template dropdown, section name, and headfoot radios, while editing..
        var headFootId = @Model.HeaderFooterId;
        if(headFootId != -1)
        {
            $("#TemplateId").attr("disabled", true);
            //$("#TemplateSectionName").attr("readonly", true);

            var position = @Model.PositionType;
            if(position == 0 || position == null)
            {
                $("#Footer_RadioId").attr("disabled", true);
            }
            else
            {
                $("#Header_RadioId").attr("disabled", true);
            }
        }
        
        // For Roles and Permissions
        setPermissions('@ViewBag.ViewPermissions');
        // Ends<<<
    });

    function TemplateChanged(thiss) 
    {
        var templateId = $("#TemplateId").val();
        $("#TemplateSectionId").val(-1);
        //alert(templateId +"  "+ $("#TemplateSectionId").val());
        getSections();
    }

    function getSections() 
    {
        
        var templateId = $("#TemplateId").val()
        var sectionId = $("#TemplateSectionId").val();

        //alert("getSections TemplateSectionId :" + $("#TemplateSectionId").val());
        $.ajax(
        {
            url: "@Url.Action("getSectionsForHeaderFooter", "Companies")",
            data: {templateId: templateId, sectionId: sectionId},
            dataType: "json",
            type: "POST",
            error: function() {
                alert("@Resources.Common_unableToProcess");
            },
            success: function(data) 
            {
                $.each(data, function(i, item) 
                {
			        $("#TemplateSectionId").val(item.Value);
  			        $("#TemplateSectionName").val(item.Text);
                });
            },
            
        });
    }

    function closeWindow() {
        window.close();
    }
</script>


@*Don't remove this class, it is used for rich text box*@
<style type = "text/css">
    .adminRichText
    {
        width:360px;
        height:70px;
        background:#000;
        float:left;
    }
</style>

<body>
    
    @using (Html.BeginForm())
    {
        <div class=" popUpContainer">
            <div class="popUpContent">
                <div class="popUpSubContent">
                    <div class="page-title"> <h2> @Resources.Companies_addNewHeadFoot </h2> </div>

                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(model => model.OrganizationID)
                    @Html.HiddenFor(model => model.TemplateSectionId)
                    @Html.HiddenFor(model => model.HeaderFooterId)

                    <div class="rowPopUp" popText="">
            	        <label class=" enableStarPopUp">@Resources.Companies_Template </label>
                        @if (@ViewBag.Templates != null)
                        {
                            @Html.DropDownListFor(x => x.TemplateId, (List<SelectListItem>)@ViewBag.Templates, new { @onchange = "TemplateChanged(this)" }) 
                        }
                        else
                        { 
                            @Html.DropDownListFor(x => x.TemplateId, new List<SelectListItem>(), new { @onchange = "TemplateChanged(this)" }) 
                        }
                        <div class="alertStar"> @Html.ValidationMessageFor(model => model.TemplateId) </div>
                    </div>
                
                    <div  class="rowPopUp" popText="">
            	        <label class="enableStarPopUp">@Resources.Companies_SecName</label>
                        @Html.TextBoxFor(model => model.TemplateSectionName, new { @maxlength = "50" })
                        <div class="alertStar"> @Html.ValidationMessageFor(model => model.TemplateSectionName) </div>
                    
                        <script type = "text/javascript">
                            if ('@Model.TemplateSectionName' == "" || '@Model.TemplateSectionName' == null) {
                                getSections();
                            }
                        </script>
                    </div>
                
                    @* Srinivas for Radio and Checkbox*@
                    <div class="rowPopUpRadioCheckbox">
                        <table>
                            <tr>
                                <td><label></label></td>
                                <td><input type = "radio" name="PositionType" id = "Header_RadioId" value="0"/></td>
                                <td><label for="Header_RadioId" style="width:80px;">@Resources.Common_Label_header</label></td>
                                <td><input type = "radio" name="PositionType" id = "Footer_RadioId" value="1"/></td>
                                <td><label for="Footer_RadioId">@Resources.Common_Label_footer</label></td>
                            </tr>
                        </table>
                        <table>
                            <tr>
                                <td><label>@Resources.Common_Title</label></td>
                                <td>@Html.TextBoxFor(model => model.PositionTitle)</td>
                            </tr>
                        </table>
                    </div>
                    
                      @*<<<<<<<<<<<<<<<<<<<<<<Srinivas*@ 
                    
                    @*<div class="rowPopUpGeneric">
            	        <table style="margin-left:210px;">
                            <tr>
                                <td>
                                    <label></label>  
                                </td>
                                <td>
                                    <table>
                                        <tr>
                                            <td>
                                                <input type = "radio" name="PositionType" id = "Header_RadioId" value="0"/>
                                                <label for="Header_RadioId">Header</label>
                                            </td>
                       
                                            <td>
                                                <input type = "radio" name="PositionType" id = "Footer_RadioId" value="1"/>
                                                <label for="Footer_RadioId">Footer</label>
                                            </td>  
                                        </tr>
                            
                                    </table>
                                </td>
                            </tr>
                        </table> 
                        
                        <table>
                            <tr>
                                <td><label id="popUpAddCompanyLabel"  >Title: </label></td>
                                <td>@Html.TextBoxFor(model => model.PositionTitle, new { @class = "popUpAddCompanyInput"})</td>
                            </tr>
                        </table>
                        
            	        
                        
                    </div>*@
                
                    <div class="rowPopUp">
                        <table width="87%">
                            <tr>
                                <td valign="top"><label class = "enableStarPopUp">@Resources.Companies_Content</label></td> 
                            </tr>
                            <tr>
                                <td> 
                                    <textarea id="PostionContent" name="PostionContent" class="adminRichText">
                                        @Html.Raw(Model.PostionContent)
                                    </textarea>
                                </td>
                            </tr>
                            
                        </table>
             	    
                        <div class="alertStar"> @Html.ValidationMessageFor(model => model.PostionContent) </div>
                    </div>
                </div>
            </div>    
                    
            <div class = "popUpSubContent">    
            <div class="pageFooterContent"> 
                <div class="pageFooterButtons">
                    <table>
                        <tr>
                            @if (@Model.HeaderFooterId > 0)
                            { 
                                <td>
                                    <button type = "submit" btnType = "Update" class="PageFooter_Button">
                                        @Resources.Common_Save 
                                    </button>
                                </td>
                                <td btnType = "Update">@Resources.Common_label_or</td>
                            }
                            else
                            {
                                <td>
                                    <button type = "submit" btnType = "Insert" class="PageFooter_Button">
                                        @Resources.Common_Save 
                                    </button>
                                </td>
                                <td btnType = "Insert">@Resources.Common_label_or</td>
                            }
                            @*//End of addition on 22nd July*@
                            <td>
                                <div class="pageFooterCancelButton">
                                    <a href="#" onclick="closeWindow()">@Resources.Common_Cancel</a>
                                </div>
                            </td>
                        </tr>	
                    </table> 
                </div>
            </div>
        </div>
           
        </div>        
    }
    
</body>
</html>
