﻿<!--
 *****************************************************
Page Created Date:  06/06/2013
Created By: Siva Bommisetty
Purpose:
Version: 1.0

Updated on: 4th Jul 2013
Added ids and labels to radio buttons
Added jquery library in head section

****************************************************
-->

@using FVGen3.Domain.Entities;
@using Resources;
@using Microsoft.Web.Helpers;
@using FVGen3.WebUI.Constants;

@model FVGen3.Domain.Entities.LocalAddNewCompany
@{
    ViewBag.Title = "Add Company";
    
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="description" content="My Account page"/>
    <meta name="viewport" content="width=device-width"/>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="~/Scripts/Application/VendorRegistration.js"></script>
    @Styles.Render("~/css/appReports.css")
</head>
@Scripts.Render("~/js/jquery.mask.js")
@Scripts.Render("~/Scripts/FVHelpers.js")
<Script>
    $(document).ready(function () {

        var myWindow = $("#Details");
        var window=$("#Location")
    undo = $(".undo");
    sites = $(".Locations");
    undo.click(function() {
       // var ClientId=$("#OrganizationID").val();
        myWindow.data("kendoWindow").open().center();

        undo.fadeOut();
    });
    sites.click(function () {
        // var ClientId=$("#OrganizationID").val();
        window.data("kendoWindow").open().center();

        sites.fadeOut();
    });
    function onClose() {
        undo.fadeIn();
        sites.fadeIn();
    }
    $("#Location").attr("style", "display:block")
    $("#Details").attr("style", "display:block")

    myWindow.kendoWindow({
        width: "500px",
        minHeight: "200px",
        title: "",
        visible: false,
        actions: [

            "Close"
        ],
        close: onClose
    });
    window.kendoWindow({
        width: "500px",
        minHeight: "200px",
        title: "",
        visible: false,
        actions: [

            "Close"
        ],
        close: onClose
    });
    });
    var regex = new RegExp("(.*?)\.(csv)$");
    function Closewindow()
    {
        $('#LocFile').val('');
        $('#txtFile').val('');
        $("#Details").data("kendoWindow").close();
        $("#Location").data("kendoWindow").close();
    }
    function SaveBulkLocationData() {
        var formData = new FormData();

      
        var file = $('#LocFile')[0].files[0];
        if (file) {
            window.kendo.ui.progress($("#Location"), true);
            formData.append("Template", $('#Templates').val());
            formData.append("file", file);
            var Template = $('#Templates').val();

            $.ajax({
                type: "POST",
                url: "BulkVendorLocationInsertion",
                data: formData,
                cache: false,
                contentType: false,
                processData: false,

                success: function (response) {
                    debugger;
                    window.kendo.ui.progress($("#Location"), false);
                    $('#LocFile').val('');
                    Closewindow();
                    alert(response);

                },
                error: function (error) {

                }
            });
        }
        else {
            alert("Please select csv file");
          
        }
    }
   
    function SaveBulkData()
    {
        var formData = new FormData();
    
   
        var file = $('#txtFile')[0].files[0];
        if (file) {
            window.kendo.ui.progress($("#Details"), true);
            formData.append("Template", $('#Templates').val());
            formData.append("file", file);
            var Template = $('#Templates').val();

            $.ajax({
                type: "POST",
                url: "BulkVendorInsertion",
                data: formData,
                cache: false,
                contentType: false,
                processData: false,

                success: function (response) {
                    debugger;
                    window.kendo.ui.progress($("#Details"), false);
                    $('#txtFile').val('');
                    Closewindow();
                    alert(response);
                   
                },
                error: function (error) {

                }
            });
        }
        else {
            alert("Please select csv file");

        }
    }
</Script>
<script type = "text/javascript">

    $(document).ready(function () {
        $('#TaxID').rules("add",
                      {
                          required: true,

                          messages:
                          {
                              required: "*"
                          }
                      });
             // Kiran on 8/26/2014
        $("#PhoneNumber").mask('(000) 000-0000');
        $("#FaxNumber").mask('(000) 000-0000');
        FVHelper.PopulateStateDropdown($('#stateForUSA'), -1, '', true);
        VendorRegistration.GetCountryStates('0', false, $('#State'));
        VendorRegistration.GetCountryLanguages($('#Language'));
        // Ends<<<


        $(".Business_Information_Label_Id").click(function () {
            $(".BusinessInformation_content").show();
            $(".PreQualification_content").hide();
            $(".DeleteComp_content").hide();

            //To remove all css
            $("#buttonTabOne").removeClass("selectedTab");
            $("#buttonTabOne").removeClass("unSelectedTab");
            $("#buttonTabTwo").removeClass("selectedTab");
            $("#buttonTabTwo").removeClass("unSelectedTab");
            //To Add Relavent classes
            $("#buttonTabOne").addClass("selectedTab");
            $("#buttonTabTwo").addClass("unSelectedTab");
        });

        $(".Pre_Qualification_Label_Id").click(function () {
            $(".BusinessInformation_content").hide();
            $(".PreQualification_content").show();
            $(".DeleteComp_content").hide();

        });

        $(".Delete_Company_Label_Id").click(function () {
            $(".BusinessInformation_content").hide();
            $(".PreQualification_content").hide();
            $(".DeleteComp_content").show();

        });

        //Siva on 10th Aug
        $("#Vendor_RadioId").change(function ()
        {
            $("#acceptVendor_Div_Id").hide();
            $("#TrainingRequiredForClient").hide(); // Kiran on 10/29/2014
            $("#CompanyPricipalOfficer").show(); // Kiran on 3/20/2014
            $("#CompanyTaxId").show(); // Kiran on 8/5/2014
            $("#CompanyTaxType").show();
            $("#CopyAnswers").show(); // Kiran on 3/25/2014
            $("#FinancialMonth").show();
            $("FinancialDate").show();
            $("#Language_Row").show();
            $("#subClients").hide();
            $(".undo").show();
            $(".Locations").show();
        });
        $("#Client_RadioId").change(function ()
        {
            $('#GeographicArea').hide();
            $("#acceptVendor_Div_Id").show();
            $("#TrainingRequiredForClient").show(); // Kiran on 10/29/2014
            $("#CompanyPricipalOfficer").hide(); // Kiran on 3/20/2014
            $("#CompanyTaxId").hide(); // Kiran on 8/5/2014
            $("#CompanyTaxType").hide();
            $("#CopyAnswers").hide(); // Kiran on 3/25/2014
            $("#FinancialMonth").hide();
            $("FinancialDate").hide();
            $("#Language_Row").hide();
            $("#subClients").hide();
            $(".undo").hide();
            $(".Locations").hide();
        });

        $("#Super_Client_RadioId").change(function () {
            $("#acceptVendor_Div_Id").show();
            $("#TrainingRequiredForClient").show(); // Kiran on 10/29/2014
            $("#CompanyPricipalOfficer").hide(); // Kiran on 3/20/2014
            $("#CompanyTaxId").hide(); // Kiran on 8/5/2014
            $("#CompanyTaxType").hide();
            $("#CopyAnswers").hide(); // Kiran on 3/25/2014
            $("#FinancialMonth").hide();
            $("FinancialDate").hide();
            $("#subClients").show();
            $("#Language_Row").hide();
            $('#GeographicArea').hide();
            $(".undo").hide();
            $(".Locations").hide();
        });

        //Ends <<<

        //Dec 2nd
        var _URL = window.URL || window.webkitURL;
        $("#logo").change(function (e) {
            var file, img;
            if ((file = this.files[0])) {
                img = new Image();
                img.onload = function () {
                    //alert(this.width + " " + this.height);
                    if (this.width > 250 || this.height > 250) {
                        alert("@Resources.Companies_Logo250pixels");
                        $("#logo").val("");
                    }
                };
                img.src = _URL.createObjectURL(file);
            }
        });
        //End Dec 2nd


        // For Roles and Permissions
        setPermissions('@ViewBag.ViewPermissions');
        // Ends<<<
        VendorRegistration.StateChange(@Model.CountryType);
    });


      function deleteCompany(OrganizationID) {
        var confirmDelete = $("#ConfirmDelete").is(":checked");
        if (confirmDelete) {
            $.ajax(
            {
                type: 'GET',
                url: 'deleteCompany',
                data: 'OrganizationID=' + OrganizationID,
                success: function (data)
                {
                    if (data.indexOf("Session expired") >= 0) {
                    window.location = "../SystemUsers/Login?lastLoginPage=" + "~/Companies/SearchCompany";
                    }
                    else if (data == "PrequalificationsExist") {
                        alert("@Resources.Company_prequalExist");
                    }
                    else if (data == "DeleteComapnySuccess") {
                        window.location = "../Companies/SearchCompany";
                    }
                    else {
                        alert("@Resources.Common_unableToProcess");
                    }
                },
                error: function () {
                    alert("@Resources.Common_unableToProcess");
                }
            });
        }
        else {
            alert("@Resources.Company_confirmDelete ");

        }
    }


    function deletePrequalification(prequalId, vendorId, lastpageurl) {
        var r = confirm('@Resources.Company_areYouSure');
        if (r == true) {
            $.ajax(
            {
                type: 'GET',
                url: 'deletePrequalification',
                data: 'prequalId=' + prequalId,
                success: function (data) {

                    if (data.indexOf("Session expired") >= 0) {
                        window.location = "../SystemUsers/Login?lastLoginPage=" + lastpageurl;
                    }
                    else if (data == "PrequalDeleteSuccess") {
                        @*alert("@Resources.Company_prequalDeleteSuccess");*@
                        updatePrequalifications(vendorId)
                    }
                    else {
                        alert("@Resources.Common_unableToProcess");
                    }
                },
                error: function () {
                    alert("@Resources.Common_unableToProcess");
                }
            });
        }
    }

    function unlockPrequalification(prequalId, vendorId, lastpageurl, refImage) {
        var r = confirm('@Resources.Common_UnlockPrequalification_Message');
        if (r == true) {
            showSpinner();//Siva on 5th Apr
            $.ajax(
            {
                type: 'GET',
                url: 'unlockPrequalification',
                data: 'prequalId=' + prequalId + '&commitStatus=true',
                success: function (data) {

                    if (data.indexOf("Session expired") >= 0) {
                        window.location = "../SystemUsers/Login?lastLoginPage=" + lastpageurl;
                    }
                    else if (data == "PrequalUnlockSuccess") {
                        // updatePrequalifications(vendorId)
                        refImage.hide();
                    }
                    else {
                        alert("@Resources.Common_UnlockPrequalification_ErrorMessage");
                    }
                    hideSpinner();
                },
                error: function () {
                    hideSpinner();
                    alert("@Resources.Common_unableToProcess");
                }
            });
        }
    }
    function updatePrequalifications(vendorId) {
        $.ajax({
            type: 'GET',
            url: 'PrequalificationsListPartial',
            data: 'vendorId=' + vendorId,
            success: function (data) {
                if (data.indexOf("Session expired") >= 0) {
                    window.location = "../SystemUsers/Login?lastLoginPage=" + window.location;
                }
                else {
                    $("#PrequalificationsList_id").html(data);

                    // For Roles and Permissions
                    setPermissions('@ViewBag.ViewPermissions');
                    // Ends<<<

                }
            },
            error: function () {
                alert("@Resources.Common_unableToProcess");
                $("#PrequalificationsList_id").html("<html></html>");
            }
        });
    }

    function selectVendorClientRadio(orgType) {
        if (orgType == '@OrganizationType.Vendor') {
            $("#Vendor_RadioId").prop('checked', true);
            $("#acceptVendor_Div_Id").hide();
            $("#TrainingRequiredForClient").hide(); // kiran on 10/29/2014
            $("#CompanyPricipalOfficer").show(); // Kiran on 3/20/2014
            $("#CompanyTaxId").show(); // Kiran on 8/5/2014
            $("#subClients").hide();
          $("#bulkVendorsbtn").show(); 
        }
        if (orgType == '@OrganizationType.Client') {
           $("#bulkVendorsbtn").hide(); 
            $("#Client_RadioId").prop('checked', true);
            $("#acceptVendor_Div_Id").show();
            $("#TrainingRequiredForClient").show(); // Kiran on 10/29/2014
            $("#CompanyPricipalOfficer").hide(); // Kiran on 3/20/2014
            $("#CopyAnswers").hide(); // Kiran on 3/25/2014
            $("#CompanyTaxId").hide(); // Kiran on 3/25/2014
            $("#subClients").hide();
            $("#Language_Row").hide();
        }
        if (orgType == '@OrganizationType.SuperClient') {
            $("#Client_RadioId").prop('checked', true);
            $("#acceptVendor_Div_Id").show();
            $("#TrainingRequiredForClient").show();
            $("#CompanyPricipalOfficer").hide();
            $("#CopyAnswers").hide();
            $("#CompanyTaxId").hide();
            $("#subClients").show();
            $("#Language_Row").hide();
            $("#bulkVendorsbtn").hide(); 
        }
    }

    @* Added on 10th Aug *@
    function verifyImage(thisAsImage) {
        //alert("verifyImage");
        $file = $(thisAsImage);
        var $filePath = $.trim($file.val());
        if ($filePath == "") {
            alert("@Resources.Common_BrowseFile_Message");
            return;
        }

        var $ext = $filePath.split(".").pop().toLowerCase();
        var $allow = new Array("png");
        if ($.inArray($ext, $allow) == -1) {
            alert("@Resources.Companies_pngfileUpload");
            $(thisAsImage).val("");
            $(thisAsImage).replaceWith($(thisAsImage).clone(true)); // kiran on 03/10/2015 for IE
            return;
        }

        //Dec 2nd
        var node_list = document.getElementsByTagName('input');
        for (var i = 0; i < node_list.length; i++) {
            var node = node_list[i];
            if (node.getAttribute('type') == 'file') {
                var sFileName = node.value;
                var sFileExtension = sFileName.split('.')[sFileName.split('.').length - 1];
                var iFile = node.files[0];
                if ((iFile.size / 1024).toFixed(2) > 30) {
                    alert("@Resources.Common_FileSizeLimit_Message");
                    $(thisAsImage).val("");
                }
                //alert((iFile.size / 1024).toFixed(2));
            }
        }
        //End Dec 2nd
    }
    @* End 10th Aug *@
    function TaxTypeChange(type)//1-USA 2-Non-USA
    {
        if (type == 1)
            $("#TaxID").attr("maxlength", 11);
        else
            $("#TaxID").attr("maxlength", 50);
    }
</script>

<style>
    .selectedTab{font-size:15px!important;padding-left:inherit!important;}
</style>
<body>
    @if (@Model.isSuccess)
    {
        <div>
            <p class="successMessage">@Resources.Common_ChangesSavedSuccessMsg </p>
        </div>
    }

    @if ((Boolean)@ViewBag.appIdNotAvailable)
    {
        <div >
            <label > @Resources.RegisterVendor_Error </label>
            <div > @Resources.RegisterVendor_Error_ApplicationID_Message </div>
        </div>
    }
    
    @*kiran on 8/25/2014*@
    @if (@ViewBag.taxIdCountError != null && (Boolean)@ViewBag.taxIdCountError)
    {
            <div class="errorMessage">@Resources.Common_error_taxidCount</div>
    }
    // Ends<<<
    
    
    @*kiran on 8/5/2014*@
        @if (@ViewBag.isTaxIdExists != null && (Boolean)@ViewBag.isTaxIdExists)
        {
             <div class="errorMessage">@Resources.Common_TaxId_ErrorMessage1 @ViewBag.VBTaxIdOrg. @Resources.Common_TaxId_ErrorMessage2</div>
        }
    @*Ends<<<*@
    
    @* Added on 23rd July *@
    @using (Html.BeginForm("AddNewCompany", "Companies", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.OrganizationID)

        <div class="contentSub">
            <div class="rowTabs" >
                <label class="rowTabsLabel"></label>
                @if (@Model.OrganizationID > 0)
                {
                    <table>
                	    <tr>
                    	    <td>
                                <div class="selectedTab" id="buttonTabOne">
                        	        <input type="radio" id="Bi" value="true"/>
                                    <label for="Bi" id="Business_Information_Label_Id">@Resources.Company_businessInfor</label>
                                </div>
                            </td>
                            <td>
                                <div class="unSelectedTab" id="buttonTabTwo">
                        	        <input type="radio" id="Bi1" value="false"/>
                                    <label for="Bi1" id="Pre_Qualification_Label_Id">@Resources.Company_Prequalifications</label>
                                </div>
                            </td>
                            <td>
                                <div class="unSelectedTab" id="buttonTabThree">
                        	        <input type="radio" id="Bi2" value="false"/>
                                    <label for="Bi2" id="Delete_Company_Label_Id">@Resources.Company_deleteCompany</label>
                                </div>
                            </td>
                        </tr>
                    </table> 
                    
                }
                else
                {
                    <table style="border-collapse:collapse; margin:0; padding:0;">
                	    <tr>
                    	    <td>
                                <div class="selectedTab" id="buttonTabOne">
                        	        <input type="radio" id="Bi" value="true"/>
                                    <label for="Bi" id="Business_Information_Label_Id">@Resources.Company_businessInfor</label>
                                </div>
                            </td>
                        </tr>
                    </table> 
                }  
    	        	
  	        </div>
            
            <div class="BusinessInformation_content"> 
                @if (@Model.OrganizationID == -5)
                {

                    //Srinivas for Radio and Checkbox
                    <div class="rowRadioCheckbox"> 
                       <table>
                            <tr>
                                <td><label>@Resources.Company_OrgType</label></td>
                                <td><input type="radio" name="OrganizationType" id = "Vendor_RadioId" value="@OrganizationType.Vendor"/></td>
                                <td><label for="Vendor_RadioId" style="width:60px;">@Resources.Company_Vendor </label></td>
                                <td><input type="radio" name="OrganizationType" id = "Client_RadioId" value="@OrganizationType.Client"/></td>
                                <td><label for="Client_RadioId" style="width:60px;">@Resources.Company_Client</label></td>

                                <td><input type="radio" name="OrganizationType" id="Super_Client_RadioId" value="@OrganizationType.SuperClient" /></td>
                                <td><label for="Super_Client_RadioId" style="margin-bottom:2px;">@Resources.Common_Label_SuperClient</label></td>
                            </tr>
                        </table>
                    </div>
                    @*<<<<<<<<<<<<<<<<<<Srinivas*@
                    
                }
                <div class="rowGenericReports vendordetails-section" id="subClients">
                    <label><b>@Resources.SelectSubClient</b></label>
                    <div class="scrollCheckboxReports" >
                        <table style="margin:0px;">
                            <tr></tr>
                            @if (Model.clients != null && Model.clients.Count > 0)
                            {
                                for (int i = 0; i < Model.clients.Count; i++)
                                {
                                    @Html.CheckBoxFor(m => m.clients[i].Selected, new { id = @Model.clients[i].Value })                                  
                                    <label for="@Model.clients[i].Value" style="margin-top:10px;">@Model.clients[i].Text</label>
                                    <br />
                                    @Html.HiddenFor(m => Model.clients[i].Value);
                                    @Html.HiddenFor(m => Model.clients[i].Text);
                                    @Html.HiddenFor(m => Model.clients[i].Selected);
                                }
                            }
                            <div class="alertStar">@Html.ValidationMessageFor(model => model.clients)</div>
                        </table>
                    </div>
                    </div>
                <div >
                    <button type="button" btnType="Insert" class="Locations" style="float:right;margin-top:2%"> Add Locations For Clayco Vendors </button>
                    <button type="button" btnType="Insert" class="undo" style="float:right;margin-top:2%;margin-right:40px;">
                        Clayco Vendor Bulk Registration
                    </button>
                </div>
                    <div class="rowRadioCheckbox noBorder">
                        <table border="0">
                            <tbody>
                                <tr>
                                    <td><label class="enableStar"> @Resources.Common_Label_stateType</label></td>
                                    <td> @Html.RadioButtonFor(model => model.CountryType, "0", new { id = "USA", onclick = "VendorRegistration.StateChange(0)" })</td>
                                    <td><label for="USA">@Resources.Common_StateType1</label></td>
                                </tr>
                                <tr>
                                    <td><label></label></td>
                                    <td>@Html.RadioButtonFor(model => model.CountryType, "1", new { id = "NonUSA", onclick = "VendorRegistration.StateChange(1)" })</td>
                                    <td><label for="NonUSA">@Resources.Common_StateType2</label></td>
                                </tr>
                                <tr><td colspan="3"><div class="alertStar">@Html.ValidationMessageFor(model => model.CountryType)</div></td></tr>
                            </tbody>
                        </table>
                    </div>
               
             
                    <div class="rowIST" popText="@Resources.AddOrEditClient_Name_hint">
                        <label class="enableStar">@Resources.Common_Label_LegalNameOfBusiness</label>
                        @Html.TextBoxFor(model => model.Name, new { @maxlength = "200" })
                        <div class="alertStar">@Html.ValidationMessageFor(model => model.Name)</div>
                    </div>
                    @*Kiran on 8/5/2014*@
                    <div class="rowIST" id="CompanyTaxId" popText="@Resources.Common_Hint_TaxID">
                        <label class="enableStar">@Resources.Common_Label_taxid</label>
                        <input type="text" id="TaxID" name="TaxID" value="@Model.TaxID" />
                        @*@Html.TextBoxFor(rec => rec.TaxID, new { @maxlength = "11" })*@
                        <div class="alertStar">@Html.ValidationMessageFor(model => model.TaxID)</div>
                    </div>
                    @*Ends<<<*@

                    @*Kiran on 3/20/2014*@
                    <div class="rowIST" id="CompanyPricipalOfficer">
                        <label class="enableStar">@Resources.Common_label_CompanyPrincipalName</label>
                        @Html.TextBoxFor(model => model.PrincipalCompanyOfficerName, new { @maxlength = "200" })
                        <div class="alertStar">@Html.ValidationMessageFor(model => model.PrincipalCompanyOfficerName)</div>
                    </div>
                    @*Ends<<<*@

                    @*Kiran on 9/19/2014*@
                    <div class="rowIST" popText="@Resources.Common_HintTextAddressLine1">
                        <label class="enableStar">@Resources.Common_Label_AddressLine1</label>
                        @Html.TextBoxFor(model => Model.Address1, new { @maxlength = "200", @style = "margin-bottom:8px;" })
                        <div class="alertStar">@Html.ValidationMessageFor(model => model.Address1)</div>
                    </div>

                    <div class="rowIST" popText="@Resources.Common_hintTextAddressLine2">
                        <label>@Resources.Common_Label_AddressLine2</label>
                        @Html.TextBoxFor(model => Model.Address2, new { @maxlength = "200" })
                    </div>

                    <div class="rowIST" popText="@Resources.Common_hintTextAddressLine3">
                        <label>@Resources.Common_Label_AddressLine3</label>
                        @Html.TextBoxFor(model => Model.Address3, new { @maxlength = "200" })
                    </div>
                    @*Ends<<<*@

                    <div class=" rowIST" popText="">
                        <label class="enableStar"> @Resources.Common_Label_City </label>
                        @Html.TextBoxFor(model => model.City, new { @maxlength = "100" })
                        <div class="alertStar"> @Html.ValidationMessageFor(model => model.City) </div>
                    </div>

                   
                    @*<div class="rowIST" id="FinancialMonth" poptext="">
                <label class="enableStar">@Resources.Companies_FinancialMonth</label>
                @Html.DropDownListFor(m => m.FinancialMonth, new[] {
                   //new SelectListItem() { Text = "", Value = "" },
                   new SelectListItem(){Text="Jan",Value="1"},
                   new SelectListItem(){Text="Feb",Value="2"},
                   new SelectListItem(){ Text = "Mar", Value = "3" },
                   new SelectListItem(){ Text = "Apr", Value = "4" },
                   new SelectListItem(){ Text = "May", Value = "5" },
                   new SelectListItem(){ Text = "Jun", Value = "6" },
                   new SelectListItem(){ Text = "Jul", Value = "7" },
                   new SelectListItem(){ Text = "Aug", Value = "8" },
                   new SelectListItem(){ Text = "Sep", Value = "9" },
                   new SelectListItem(){ Text = "Oct", Value = "10" },
                   new SelectListItem(){ Text = "Nov", Value = "11" },
                   new SelectListItem(){ Text = "Dec", Value = "12" },
               }, "Select")

                <div class="alertStar"> @Html.ValidationMessageFor(model => model.FinancialMonth) </div>
            </div>

            <div class="rowIST" id="FinancialDate" poptext="">
                <label class="enableStar">@Resources.Companies_FinancialDate</label>
                @Html.DropDownListFor(m => m.FinancialDate, new[] {

                   new SelectListItem(){Text="1",Value="1"},
                   new SelectListItem(){Text="2",Value="2"},
                   new SelectListItem(){ Text = "3", Value = "3" },
                   new SelectListItem(){ Text = "4", Value = "4" },
                   new SelectListItem(){ Text = "5", Value = "5" },
                   new SelectListItem(){ Text = "6", Value = "6" },
                   new SelectListItem(){ Text = "7", Value = "7" },
                   new SelectListItem(){ Text = "8", Value = "8" },
                   new SelectListItem(){ Text = "9", Value = "9" },
                   new SelectListItem(){ Text = "10", Value = "10" },
                   new SelectListItem(){ Text = "11", Value = "11" },
                   new SelectListItem(){ Text = "12", Value = "12" },
                   new SelectListItem(){ Text = "13", Value = "13" },
                   new SelectListItem(){ Text = "14", Value = "14" },
                   new SelectListItem(){ Text = "15", Value = "15" },
                   new SelectListItem(){ Text = "16", Value = "16" },
                   new SelectListItem(){ Text = "17", Value = "17" },
                   new SelectListItem(){ Text = "18", Value = "18" },
                     new SelectListItem(){ Text = "19", Value = "19" },
                     new SelectListItem(){ Text = "20", Value = "20" },
                     new SelectListItem(){ Text = "21", Value = "21" },
                     new SelectListItem(){ Text = "22", Value = "22" },
                     new SelectListItem(){ Text = "23", Value = "23" },
                     new SelectListItem(){ Text = "24", Value = "24" },
                     new SelectListItem(){ Text = "25", Value = "25" },
                     new SelectListItem(){ Text = "26", Value = "26" },
                     new SelectListItem(){ Text = "27", Value = "27" },
                     new SelectListItem(){ Text = "28", Value = "28" },
                     new SelectListItem(){ Text = "29", Value = "29" },
                     new SelectListItem(){ Text = "30", Value = "30" },
                     new SelectListItem(){ Text = "31", Value = "31" },
               }, "Select")

                <div class="alertStar"> @Html.ValidationMessageFor(model => model.FinancialDate) </div>
            </div>*@




                    <div class="rowIST" popText="">
                        <label class="enableStar">@Resources.AddOrEditClient_Zip</label>
                        @Html.TextBoxFor(model => model.Zip, new { @maxlength = "10" })
                        <div class="alertStar">@Html.ValidationMessageFor(model => model.Zip)</div>
                    </div>

                    <div class="rowIST" popText>
                        <label class="enableStar">@Resources.Common_Label_Country</label>
                        @Html.DropDownListFor(x => Model.Country, (List<SelectListItem>)@ViewBag.Countries, new { @onchange = "VendorRegistration.GetCountryStates(" + 0 + ", false, $('#State'));VendorRegistration.GetCountryLanguages($('#Language'))" })
                        <div class="alertStar">@Html.ValidationMessageFor(model => model.Country)</div>
                    </div> 
                    
                    <div class="rowIST" popText="">
                        <label class="enableStar"> @Resources.Common_Label_State </label>
                        <select id="State" name="State"></select>
                        @*@Html.TextBoxFor(m => m.State, new { id = "stateForNonUSA", @style = "display:none" })*@
                        <div class="alertStar"> @Html.ValidationMessageFor(model => model.State) </div>
                    </div>
                <div class="rowIST"id="Language_Row" popText="">
                    <label class="enableStar">@Resources.Common_Label_Language</label>
                    <select id="Language" name="Language" style="width: 300px"></select>
                    <div class="alertStar">@Html.ValidationMessageFor(model => model.Language)</div>
                </div>
                    @*<div class="rowIST" popText="">
                        <label class="enableStar"> @Resources.Common_Label_Country </label>
                        @Html.DropDownListFor(m => m.Country, new[] {
                            new SelectListItem() { Text = "", Value="" },
                            new SelectListItem() { Value = @Resources.Common_NotApplicable, Text=@Resources.Common_NotApplicable },
                            new SelectListItem() { Value = @Resources.VendorReg_UnitedStates, Text=@Resources.VendorReg_UnitedStates },
                            new SelectListItem() { Value = @Resources.VendorReg_Canada, Text=@Resources.VendorReg_Canada },}, new { @id = "countryForUSA" })
                        @Html.TextBoxFor(rec => rec.Country, new { id = "countryForNonUSA", @style = "display:none" })
                        <div class="alertStar"> @Html.ValidationMessageFor(model => model.Country) </div>
                    </div>*@

                    <div class="rowIST" popText="@Resources.AddOrEditClient_Phone_Hint">
                        <label class="enableStar"> @Resources.Common_Label_Telephone </label>
                        @Html.TextBoxFor(model => model.PhoneNumber, new { @maxlength = "14" }) @*Kiran on 8/26/2014*@
                        <div class="alertStar"> @Html.ValidationMessageFor(model => model.PhoneNumber) </div>
                    </div>

                    @*Kiran on 8/26/2014*@
                    <div class="rowIST" popText="">
                        <label>@Resources.Common_label_ExtNumber</label>
                        @Html.TextBoxFor(model => Model.ExtNumber, new { @maxlength = "14" })
                        <div class="alertText"> @Html.ValidationMessageFor(model => model.ExtNumber) </div>
                    </div>
                    @*Ends<<<*@

                    <div class="rowIST" popText="">
                        <label> @Resources.AddOrEditClient_Fax </label>
                        @Html.TextBoxFor(model => model.FaxNumber, new { @maxlength = "14" }) @*Kiran on 8/26/2014*@
                        <div class="alertStar"></div>
                    </div>

                    <div class="rowIST" popText=" @Resources.AddOrEditClient_Web_hint ">
                        <label> @Resources.AddOrEditClient_WebURL </label>
                        @Html.TextBoxFor(model => model.WebsiteURL, new { @maxlength = "100" })
                        <div class="alertStar"> </div>
                    </div>

                    <div class="rowIST" popText="@Resources.AddOrEditClient_FederalId_hint" style="display:none;">
                        <label> @Resources.AddOrEditClient_FederalId </label>
                        @Html.TextBoxFor(model => model.FederalIDNumber, new { @maxlength = "15" })
                        <div class="alertStar"> </div>
                    </div>
                <div class="rowIST" id="GeographicArea"popText="">
                <label class="enableStar">@Resources.GeographicArea </label>
                    <div>@Html.ListBoxFor(m => m.GeographicArea, new MultiSelectList(@ViewBag.Regions, "Value", "Text"), new { size = 4, style = "Height: 100%" })</div>
                <div class="alertStar">@Html.ValidationMessageFor(model => model.GeographicArea)
            </div></div>
                    @*Kiran on 3/25/2014*@
                    <div class="rowIST" id="CopyAnswers">
                        <label class="enableStar">@Resources.AddOrEditClient_CopyAnswers</label>
                        @Html.DropDownListFor(model => model.CopyAnswers, new[] {
                   //new SelectListItem() { Text = "", Value = "" },
                    new SelectListItem() { Text = "Copy Answers", Value = "2" },
                    new SelectListItem() { Text = "Do Not Copy Answers", Value = "0"}})
                        <div class="alertStar"> @Html.ValidationMessageFor(model => model.CopyAnswers) </div>
                    </div>
                    @*Ends<<<*@

                    <div class="rowGeneric" id="acceptVendor_Div_Id">
                        <table style="margin-left:8px; margin-top:10px; float:left;">
                            <tr>
                                <td width="296">
                                    <label for="acceptCheckBox">@Resources.Companies_AcceptVendor</label>
                                    @*Added code for stopping form submission on 8/17/2013 by Kiran talluri*@
                                </td>
                                <td>
                                    <table>
                                        <tr>
                                            <td width="100">
                                                <input type="checkbox" id="acceptCheckBox" name="AcceptVendorsViaInvite" value="true"
                                                       @if (Model.AcceptVendorsViaInvite) { @: checked="checked"
                                                                                                                                                      } />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        @* Ends <<< *@
                    </div>

                    @*Kiran on 10/29/2014*@
                    <div class="rowGeneric" id="TrainingRequiredForClient">
                        <table style="margin-left:8px; margin-top:10px; float:left;">
                            <tr>
                                <td width="296">
                                    <label for="TrainingRequired">@Resources.Common_Label_TrainingRequired</label>
                                </td>
                                <td>
                                    <table>
                                        <tr>
                                            <td width="100">
                                                <input type="checkbox" id="TrainingRequired" name="TrainingRequired" value="true"
                                                       @if (Model.TrainingRequired) { @: checked="checked"
                                                                                                                                                      } />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                    @* Ends <<< *@


                    @*Kiran on 12/30/2013*@
                    <div class="rowIST">
                        <label>@Resources.Common_Label_RepresentativeName</label>
                        @Html.TextBoxFor(m => m.OrgRepresentativeName, new { @maxlength = "150" })
                    </div>

                    <div class="rowIST">
                        <label>@Resources.Common_Label_RepresentativeEmail</label>
                        @Html.TextBoxFor(m => m.OrgRepresentativeEmail, new { @maxlength = "150" })
                        <div class="alertStar"> @Html.ValidationMessageFor(model => model.OrgRepresentativeEmail) </div>
                    </div>

                    <div class="rowIST">
                        <label>@Resources.Common_Label_InfusionSoftContactId</label>
                        @Html.TextBoxFor(m => m.OrgInfusionSoftContactId, new { @maxlength = "100" })
                    </div>
                    @*Ends*@


                    @* Added on 10th Aug *@
                    <div class="rowIST" popText="">
                        <label> @Resources.Companies_selectLogo</label>
                        <input type="file" name="Logo" id="logo" data-val-required="*" data-val="false" onchange="verifyImage(this)" />
                        <div class="alertStar"> @Html.ValidationMessageFor(model => model.Logo) </div>
                    </div>

                    <div class="rowIST" popText="">
                        <label> @Resources.Companies_selectPhoto</label>
                        <input type="file" name="Photo" id="photo" data-val-required="*" data-val="false" onchange="verifyImage(this)" />
                        <div class="alertStar"> @Html.ValidationMessageFor(model => model.Photo) </div>
                    </div>

                    @* Ends *@


                    <div class="pageFooterContent">
                        <div class="pageFooterButtons">
                            <table>
                                <tr>
                                    @if (@Model.OrganizationID == -1)
                                    {
                                        <td><button type="submit" class="PageFooter_Button" btnType="Insert">@Resources.Common_Save</button></td>
                                        <td btnType="Insert">@Resources.Common_label_or</td>
                                    }
                                    else
                                    {
                                        <td><button type="submit" class="PageFooter_Button" btnType="Update">@Resources.Common_Save</button></td>
                                        <td btnType="Update">@Resources.Common_label_or</td>
                                    }
                                    <td><div class="pageFooterCancelButton"><a href="../Companies/SearchCompany">@Resources.Common_Cancel</a></div></td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    @*//to check radio button by default.. *@
                    <script type="text/javascript">
                        selectVendorClientRadio('@Model.OrganizationType');
                    </script>

                </div>





            
        
            @*//////////////////
            //////// Prequalification*@
            <div style="display:none;">
                <div>
                    
                    <button type="button" btnType="Insert" onclick="document.location = '@Url.Action("ListOfPotentialClients", "Vendor")';">
                        @Resources.Common_AddNew
                    </button>
       	        </div>
                
                <div id = "PrequalificationsList_id">
                    <script type = "text/javascript">
                        updatePrequalifications('@Model.OrganizationID');
                    </script>
                </div>
            </div>
        
        
            @*///////////////////////////
            //////////// Delete Company*@
            <div style=" display:none;">
                <div>
                    <p>@Resources.Common_DeleteCompany_Message1</p> 
                    <p>@Resources.Common_DeleteCompany_Message2</p>
                </div>
                
                <div class="pageFooterContent">
                    <div class="pageFooterConfirmText">
                    <table>
                        <tr>
                            <td> <input type="checkbox" id="ConfirmDelete" /> </td>
                            <td> <label for="ConfirmDelete"> @Resources.Common_ConfirmDelete </label> </td>
                        </tr>
                    </table> 
                    </div>
                    <div class="pageFooterButtons">
                        <table>
                            <tr>
                                <td>
                                    <button type="button"  class="pageFooterButton" btnType="Delete" onclick = "deleteCompany('@Model.OrganizationID')">
                                        @Resources.Common_Delete
                                    </button>
                                </td>
                                <td btnType="Delete">@Resources.Common_label_or</td>
                                <td><div class="PageFooter_CancleBtn"><a href="../Companies/SearchCompany">@Resources.Common_Cancel</a></div></td>
                            </tr>	
                        </table> 
                    </div>
                </div>

            </div>
        
        </div>
        <div class="dialogueBox" id="pop-up" style="display:none; position:absolute;">
        <p>
        </p>
        </div>
        

            <div id="window"></div>
            }
  @using (Html.BeginForm("BulkVendorInsertion", "Companies", FormMethod.Post, new { enctype = "multipart/form-data" }))
  {
        <div id="Details" style="display:none;">
            <div class="rowIST">
                <label >Select Template:</label>
                @Html.DropDownList("Templates", (IEnumerable<SelectListItem>)@ViewBag.Templates,new { style = "text-align:center" })
                <br />
                </div>
            <div class="rowIST">
                <label>File:</label>
                <input type="file" name="txtFile" id="txtFile" class="required" accept=".csv" onchange='triggerValidation(this)' /><br />
            </div> @*<input id="csvFileInput" type="file" accept=".png" onchange='triggerValidation(this)'>*@
              <div class="pageFooterButtons">  <button style="margin-right:20px;margin-left:30px" onclick="SaveBulkData()">@Resources.Common_Submit</button>
                <button onclick="Closewindow()" >Cancel</button>
            </div>
        </div>
       }

    @using (Html.BeginForm("BulkVendorLocationInsertion", "Companies", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div id="Location" style="display:none;">
            <div class="rowIST">
                <label>Select Template:</label>
                @Html.DropDownList("Templates", (IEnumerable<SelectListItem>)@ViewBag.Templates, new { style = "text-align:center" })
                <br />
            </div>
            <div class="rowIST">
                <label>File:</label>
                <input type="file" name="txtFile" id="LocFile" class="required" accept=".csv" onchange='triggerValidation(this)' /><br />
            </div> @*<input id="csvFileInput" type="file" accept=".png" onchange='triggerValidation(this)'>*@
            <div class="pageFooterButtons">
                <button style="margin-right:20px;margin-left:30px" onclick="SaveBulkLocationData()">@Resources.Common_Submit</button>
                <button onclick="Closewindow()">Cancel</button>
            </div>
        </div>
    }

</body>
</html>
<script>
    function triggerValidation(el) {
        debugger;
        if (!(regex.test(el.value.toLowerCase()))) {
            el.value = '';
            alert('Please select csv file format');
        }

    }
    
</script>
