﻿
<!--//
****************************************************
Page Created Date:  06/26/2013 
Created By: Siva Bommisetty
Purpose:
Version: 1.0
****************************************************
-->
@using Resources;

@model FVGen3.Domain.Entities.ClientTemplateProfiles
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>@Resources.Company_Content</title>
    <meta name="description" content="Client Dashboard - First, Verify"/>
    <meta name="viewport" content="width=device-width"/>
    
    @Styles.Render("~/css/appPopUp.css")
    @Styles.Render("~/css/appInnerPages.css")

</head>

<script type = "text/javascript">
    window.onload = function () {
        parent.window.close();
        window.opener.updateHeaderFooterList();
    }
</script>

<body>
    
    <div class="popUpContainer"> 
        <div class="popUpContent">

            <div class="popUpSubContent">   
                <div>
                    <h2>@Resources.Companies_addNewHeadFoot</h2>
                </div> 
                <p class="successMessage">@Resources.Companies_ContentAddSuccess </p>        
            </div>
            
            <div class="popUpSubContent">
                <div class="pageFooterContent"> 
                    <div class="pageFooterButtons">              
                        <button type="button" onclick = "closeView()" class="PageFooter_Button">
                            @Resources.EmailTemplatesClose
                        </button>            
                    </div>
                </div>
            </div>                                                          
        
        </div>
    </div>

</body>
</html>
