﻿<!--
 *****************************************************
Page Created Date:  09/21/2013
Created By: Siva Bommisetty
Purpose:
Version: 1.0
****************************************************
-->

@using Resources;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>Download Doc</title>
    <meta name="description" content="My Account page"/>
    <meta name="viewport" content="width=device-width"/>

     <style type="text/css">
        .DownloadDoc
         {
	         float:left;
	         width:100%;
	         text-align:center;
	         margin:100px 0px;
         }
        .DownloadDoc p
        {
	        padding:10px 10px;
        }
    </style>

</head>
<body>
    
    <div class="DownloadDoc">
	    <div class="page-title">
    	    <h2> @Resources.Companies_fileNotFound </h2>
        </div>
	    <p> @Resources.Companies_DocNotAvailable </p>
    </div>
        
</body>
</html>
