﻿<!--
 *****************************************************
Page Created Date:  06/12/2013
Created By: Siva Bommisetty
Purpose:
Version: 1.0
****************************************************

DocumentsList.cshtml
-->

@using Resources;

<div class="partialPage">
    
    <table>
        
        @if (@ViewBag.localDocumentsList != null && @ViewBag.localDocumentsList.Count != 0)
        {
            foreach (var localDoc in @ViewBag.localDocumentsList)
            {
                <tr class = "page-subtitle"> 
                    <td> 
                        @if(localDoc.TemplateOrBUnit == 1)
                        {
                            <h2>@localDoc.Category Questionnaire</h2>
                        }
                        else
                        {
                            <h2>@localDoc.Category</h2>
                        }
                    </td>
                </tr> 
                        foreach (var doc in localDoc.documents)
                        {
                    <tr>
            	        <td width="680">
                            <a href="#!" onclick="window.open('DownloadDoc?idAsFileName=@doc.DocumentId&userEnteredFilename=@HttpUtility.UrlEncode(@doc.DocumentName)&clientId=@doc.OrganizationId')">
                                @doc.DocumentName
                            </a>
                            
                        </td>
               	        <td width="50">
                            <img  class="imgCursor" src="~/images/DelButton.png" btnType="Delete" onclick = "deleteDocument('@doc.DocumentId', '@doc.OrganizationId', '@doc.ReferenceType', '@doc.ReferenceRecordID', '@doc.DocumentId', '@HttpUtility.UrlEncode(@doc.DocumentName)')"/>
                        </td>
                    </tr>
                        }
            }
        }
        else
        {
            <div class="commentsItalic">
                @Resources.Common_NoRecords  
            </div>
        }
    
    </table> 
    
</div>


