﻿@using FVGen3.Domain.Entities;
@using Resources;
@model FVGen3.Domain.Entities.LocalAddNewCompany


@{
    ViewBag.Title = "EditFinancialMonthAndDate";
}
@Styles.Render("~/css/appPopUp.css")
@Styles.Render("~/css/appInnerPages.css")
@Scripts.Render("~/js/common.js")
@Styles.Render("~/Content/Site.css")


<script>
    window.updateMonth = function (iMonth, iDay) {
        var el = document.getElementById(iDay);
        el.options.length = 0;

        for (var d = new Date(2013, iMonth - 1, 1) ; d.getMonth() == iMonth - 1; d.setDate(d.getDate() + 1)) {
            option = new Option(d.getDate(), d.getDate());
            el.options[d.getDate() - 1] = option;
        };

    }


</script>
@using (Html.BeginForm("EditFinancialMonthAndDate", "Companies", FormMethod.Post, new { @id = "target" }))
{
    <div class="popUpContainer">
        <div class="popUpContent">
            <div class="popUpSubContent">
                <div class="page-title">
                    <h2></h2>
                </div>
                @Html.HiddenFor(model => model.OrganizationID)

                <div class="rowPopUp">
                    <table>
                        <tr>
                            <td><label class="enableStar">@Resources.Companies_FinancialMonth </label></td>
                            <td>
                                @Html.DropDownListFor(m => m.FinancialMonth, new[] {

                       new SelectListItem(){Text="Jan",Value="1"},
                       new SelectListItem(){Text="Feb",Value="2"},
                       new SelectListItem(){ Text = "Mar", Value = "3" },
                       new SelectListItem(){ Text = "Apr", Value = "4" },
                       new SelectListItem(){ Text = "May", Value = "5" },
                       new SelectListItem(){ Text = "Jun", Value = "6" },
                       new SelectListItem(){ Text = "Jul", Value = "7" },
                       new SelectListItem(){ Text = "Aug", Value = "8" },
                       new SelectListItem(){ Text = "Sep", Value = "9" },
                       new SelectListItem(){ Text = "Oct", Value = "10" },
                       new SelectListItem(){ Text = "Nov", Value = "11" },
                       new SelectListItem(){ Text = "Dec", Value = "12" },
                   }, "Select", new
                   {
                       id = "start_month",
                       @onchange = "updateMonth(this.value, 'start_day')",
                       @class = "dropdown-menu dropdown-menu-center"
                   })
                                <div class="alertStar"> @Html.ValidationMessageFor(model => model.FinancialMonth)</div>
                            </td>
                        </tr>
                    </table>

                </div>

                <div class="rowPopUp">
                    <table>
                        <tr>
                            <td><label class="enableStar">@Resources.Companies_FinancialDate</label></td>
                            <td>
                                @Html.DropDownListFor(m => m.FinancialDate, new[] {

                       new SelectListItem(){Text="1",Value="1"},
                       new SelectListItem(){Text="2",Value="2"},
                       new SelectListItem(){ Text = "3", Value = "3" },
                       new SelectListItem(){ Text = "4", Value = "4" },
                       new SelectListItem(){ Text = "5", Value = "5" },
                       new SelectListItem(){ Text = "6", Value = "6" },
                       new SelectListItem(){ Text = "7", Value = "7" },
                       new SelectListItem(){ Text = "8", Value = "8" },
                       new SelectListItem(){ Text = "9", Value = "9" },
                       new SelectListItem(){ Text = "10", Value = "10" },
                       new SelectListItem(){ Text = "11", Value = "11" },
                       new SelectListItem(){ Text = "12", Value = "12" },
                       new SelectListItem(){ Text = "13", Value = "13" },
                       new SelectListItem(){ Text = "14", Value = "14" },
                       new SelectListItem(){ Text = "15", Value = "15" },
                       new SelectListItem(){ Text = "16", Value = "16" },
                       new SelectListItem(){ Text = "17", Value = "17" },
                       new SelectListItem(){ Text = "18", Value = "18" },
                         new SelectListItem(){ Text = "19", Value = "19" },
                         new SelectListItem(){ Text = "20", Value = "20" },
                         new SelectListItem(){ Text = "21", Value = "21" },
                         new SelectListItem(){ Text = "22", Value = "22" },
                         new SelectListItem(){ Text = "23", Value = "23" },
                         new SelectListItem(){ Text = "24", Value = "24" },
                         new SelectListItem(){ Text = "25", Value = "25" },
                         new SelectListItem(){ Text = "26", Value = "26" },
                         new SelectListItem(){ Text = "27", Value = "27" },
                         new SelectListItem(){ Text = "28", Value = "28" },
                         new SelectListItem(){ Text = "29", Value = "29" },
                         new SelectListItem(){ Text = "30", Value = "30" },
                         new SelectListItem(){ Text = "31", Value = "31" },
                   }, "Select", new
                   {
                       id = "start_day",
                       @class = "dropdown-menu dropdown-menu-center"

                   })
                                <div class="alertStar"> @Html.ValidationMessageFor(model => model.FinancialDate)</div>
                            </td>
                        </tr>
                    </table>

                </div>

                </div>
            </div>
        </div>

        <div class="pageFooterContent">
            <div class="pageFooterButtons">
                <table>
                    <tr>
                        <td><button type="submit" id="submitbutton">Save</button></td>
                        
                    </tr>
                </table>
            </div>
        </div>

                
                }
                <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")" type="text/javascript"></script>
                <script>
                    $('#target').on('submit', function (e) {

                        if ($("#start_month").val() == null || $("#start_month").val() == "") {

                            alert("please select financial month and date")
                            return false;
                        }
                        else {

                            $("#target").submit(true);
                        }

                    });
                </script>
