﻿<!--
 *****************************************************
Page Created Date:  06/12/2013
Created By: Siva Bommisetty
Purpose:
Version: 1.0
****************************************************
-->
@using FVGen3.Domain.Entities;
@using Resources;
@using FVGen3.WebUI.Constants;
@model FVGen3.Domain.Entities.LocalAddNewCompany
@{
    ViewBag.Title = "Edit Client";

    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="My Account page" />
    <meta name="viewport" content="width=device-width" />
</head>
@Scripts.Render("~/js/jquery.mask.js")
@Scripts.Render("~/Scripts/FVHelpers.js")
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="~/Scripts/Application/VendorRegistration.js"></script>
<script src="~/js/autoNumeric.js"></script>
<script src="../js/jquery-1.10.3.js"></script>

@*<script src="~/Scripts/kendo/kendo.all.min.js"></script>*@
@Styles.Render("~/css/appReports.css")
<style>
    .PrequalificationHeader ol {
        padding: 0 10px 6px 5px;
        color: #000;
        font-weight: normal;
        font-size: 14px;
    }

    .PrequalificationHeader ol /*Rajesh*/ {
        margin: 5px 0 5px 30px;
    }

        .PrequalificationHeader ol li /*Rajesh*/ {
            padding: 5px 0;
        }

    .partialPage table ul, ol {
        float: none !important;
        width: auto;
        height: auto;
        margin-left: 20px;
    }
</style>
<style>
    #Details{
        display: block;
    float: left;
    padding: 30px;
    }
    #customers {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #5db2e3;
            color: white;
        }
</style>
<script type="text/javascript">

    $(document).ready(function ()
    {

        @*if(@ViewBag.OrganizationID==-1){
            debugger;
            $(".BusinessInformation_content").hide();

            $(".IsEri").hide();
            $(".DownloadTab_content").show();
            $("#buttonTabTwo").attr('class', 'selectedTab');


        }*@
        if('@Model.OrganizationType' == "Super Client")
        {
            $("#subClients").show();
        }
        else
        {
            $("#subClients").hide();
        }
        $('#TrainingFeeCap').autoNumeric({ vMin: '0.00', vMax: '999.99' });
        //FVHelper.PopulateStateDropdown($('#State'), -1, 'Not Applicable');

        // Kiran on 8/26/2014
        //$("#PhoneNumber").mask('(000) 000-0000');
        //$("#FaxNumber").mask('(000) 000-0000');
        // Ends<<<
        $("#Business_Information_Label_Id").click(function ()
        {
            $(".BusinessInformation_content").show();
            $(".DownloadTab_content").hide();
            $(".Introduction_content").hide();
            $(".Prequal_Requirements_Div").hide();

            //To remove all css
            $("#buttonTabOne").removeClass("selectedTab");
            $("#buttonTabOne").removeClass("unSelectedTab");
            $("#buttonTabTwo").removeClass("selectedTab");
            $("#buttonTabTwo").removeClass("unSelectedTab");
            $("#buttonTabThree").removeClass("selectedTab");
            $("#buttonTabThree").removeClass("unSelectedTab");
            $("#buttonTabFour").removeClass("selectedTab");
            $("#buttonTabFour").removeClass("unSelectedTab");
            //To Add Relavent classes
            $("#buttonTabOne").addClass("selectedTab");
            $("#buttonTabTwo").addClass("unSelectedTab");
            $("#buttonTabThree").addClass("unSelectedTab");
            $("#buttonTabFour").addClass("unSelectedTab");
        });

        $("#Downloads_Label_Id").click(function ()
        {
            $(".BusinessInformation_content").hide();
            $(".DownloadTab_content").show();
            $(".Introduction_content").hide();
            $(".Prequal_Requirements_Div").hide();

            //To remove all css
            $("#buttonTabOne").removeClass("selectedTab");
            $("#buttonTabOne").removeClass("unSelectedTab");
            $("#buttonTabTwo").removeClass("selectedTab");
            $("#buttonTabTwo").removeClass("unSelectedTab");
            $("#buttonTabThree").removeClass("selectedTab");
            $("#buttonTabThree").removeClass("unSelectedTab");
            $("#buttonTabFour").removeClass("selectedTab");
            $("#buttonTabFour").removeClass("unSelectedTab");
            //To Add Relavent classes
            $("#buttonTabOne").addClass("unSelectedTab");
            $("#buttonTabTwo").addClass("selectedTab");
            $("#buttonTabThree").addClass("unSelectedTab");
            $("#buttonTabFour").addClass("unSelectedTab");

        });

        $("#Intro_Content_Label_Id").click(function ()
        {
            $(".BusinessInformation_content").hide();
            $(".DownloadTab_content").hide();
            $(".Introduction_content").show();
            $(".Prequal_Requirements_Div").hide();

            //To remove all css
            $("#buttonTabOne").removeClass("selectedTab");
            $("#buttonTabOne").removeClass("unSelectedTab");
            $("#buttonTabTwo").removeClass("selectedTab");
            $("#buttonTabTwo").removeClass("unSelectedTab");
            $("#buttonTabThree").removeClass("selectedTab");
            $("#buttonTabThree").removeClass("unSelectedTab");
            $("#buttonTabFour").removeClass("selectedTab");
            $("#buttonTabFour").removeClass("unSelectedTab");
            //To Add Relavent classes
            $("#buttonTabOne").addClass("unSelectedTab");
            $("#buttonTabTwo").addClass("unSelectedTab");
            $("#buttonTabThree").addClass("selectedTab");
            $("#buttonTabFour").addClass("unSelectedTab");

        });

        $("#Prequal_Requirements_Label_Id").click(function () {
            $(".BusinessInformation_content").hide();
            $(".DownloadTab_content").hide();
            $(".Introduction_content").hide();
            $(".Prequal_Requirements_Div").show();

            //To remove all css
            $("#buttonTabOne").removeClass("selectedTab");
            $("#buttonTabOne").removeClass("unSelectedTab");
            $("#buttonTabTwo").removeClass("selectedTab");
            $("#buttonTabTwo").removeClass("unSelectedTab");
            $("#buttonTabThree").removeClass("selectedTab");
            $("#buttonTabThree").removeClass("unSelectedTab");
            $("#buttonTabFour").removeClass("selectedTab");
            $("#buttonTabFour").removeClass("unSelectedTab");
            //To Add Relavent classes
            $("#buttonTabOne").addClass("unSelectedTab");
            $("#buttonTabTwo").addClass("unSelectedTab");
            $("#buttonTabThree").addClass("unSelectedTab");
            $("#buttonTabFour").addClass("selectedTab");

        });

        //Dec 2nd
        var _URL = window.URL || window.webkitURL;
        $("#logo").change(function (e) {
            var file, img;
            if ((file = this.files[0])) {
                img = new Image();
                img.onload = function () {
                    //alert(this.width + " " + this.height);
                    if (this.width > 250 || this.height > 250) {
                        alert("@Resources.Companies_Logo250pixels");
                        $("#logo").val("");
                    }
                };
                img.src = _URL.createObjectURL(file);
            }
        });
        //End Dec 2nd

        // For Roles and Permissions
        setPermissions('@ViewBag.ViewPermissions');
        // Ends<<<
        VendorRegistration.CountryTypeChange(@Model.CountryType);
    });

    var introContentWinPop = false;
    function openAddIntorContentWindow(OrganizationID, sectionId, headFootId)
    {
        var templateId = $("#QuestionarieTypeId").val();

        //we are changing templatesection id value inside addnewheadfoot.cshtml page,
        //so, don't bother about sending -1 in sectionId
        if (introContentWinPop && !introContentWinPop.closed) {  //checks to see if window is open
            introContentWinPop.focus();
        }
        else {
            introContentWinPop = window.open("AddNewHeaderFooter?OrganizationID=" + OrganizationID + "&sectionId=" + sectionId + "&headerFooterId=" + headFootId + "&templateId=" + templateId, "_blank", "toolbar=no,  directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=yes, width=750, height=700");
        }
    }
    function keyGeneration(){
        var OrganizationID = $("#OrganizationID").val();

        $.ajax(
           {
               type: 'POST',
               url: 'Updatekey',
               data: 'OrganizationId='+OrganizationID,
               success: function (data) {
                   if (data == "success") {
                       location.reload();
                   }else{alert("Error in keygeneration");} }
           });

    }
    function openAddHeadFootFromList(sectionId, headFootId) {
        var orgId = $("#OrganizationID").val();
        openAddIntorContentWindow(orgId, sectionId, headFootId)
    }

    function updateHeaderFooterList()
    {
        var templateId = $("#QuestionarieTypeId").val();
        var clientId = $("#OrganizationID").val();

        if(templateId == null)
        {
            $("#HeadFootList_Block_Id").html("<html><div class='commentsItalic'> @Resources.Companies_NoRecordsIntroContent  </div></html>");
        }
        else
        {
            $.ajax(
            {
                type: 'GET',
                url: 'HeaderFootersListPartial',
                data: 'templateId=' + templateId + '&clientId=' + clientId,
                success: function (data) {
                    if (data.indexOf("Session expired") >= 0) {
                        window.location = "../SystemUsers/Login?lastLoginPage=" + "~/Companies/SearchCompany";
                    }
                    else
                    {
                        $("#HeadFootList_Block_Id").html(data);

                        // For Roles and Permissions
                        setPermissions('@ViewBag.ViewPermissions');
                        // Ends<<<
                    }
                },
                error: function ()
                {
                    //alert("Unable to process request, please try again later1");
                    $("#HeadFootList_Block_Id").html("<html></html>");
                }
            });
        }
    }
    function deleteHeaderFooter(headerFooterId) {
        var r = confirm('@Resources.Companies_deleteContentWarning');
        if (r == true) {
            $.ajax(
            {
                type: 'POST',
                url: 'deleteHeaderFooter',
                data: 'headerFooterId=' + headerFooterId,
                success: function (data) {

                    if (data.indexOf("Session expired") >= 0) {
                        window.location = "../SystemUsers/Login?lastLoginPage=" + "~/Companies/SearchCompany";
                    }
                    else if (data == "DeleteHeaderFooterSucceded") {
                        updateHeaderFooterList();
                        updateDocsList('@Model.OrganizationID');
                    }
                    else {
                        alert("@Resources.Common_unableToProcess");
                    }
                },
                error: function () {
                    alert("@Resources.Common_unableToProcess");
                }
            });
        }
    }


    function openAddPrequalRequirementFromList(clientTemplateProfileId) {
        var orgId = $("#OrganizationID").val();
        openAddPrequalRequirementsWindow(orgId, clientTemplateProfileId)
    }

    var prequalRequirementsWinPop = false;
    function openAddPrequalRequirementsWindow(OrganizationID, clientTemplateProfileId) {
        var templateId = $("#QuestionarieTypeIdForPrequalRequirements").val();
        if (prequalRequirementsWinPop && !prequalRequirementsWinPop.closed) {  //checks to see if window is open
            prequalRequirementsWinPop.focus();
        }
        else {
            prequalRequirementsWinPop = window.open("AddNewPrequalRequirement?OrganizationID=" + OrganizationID + "&templateId=" + templateId + "&clientTemplateProfileId=" + clientTemplateProfileId, "_blank", "toolbar=no,  directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=yes, width=750, height=700");
        }
    }

    function updatePrequalRequirementsList() {
        var templateId = $("#QuestionarieTypeIdForPrequalRequirements").val();
        var clientId = $("#OrganizationID").val();

        if (templateId == null) {
            $("#PrequalRequirementsList_Block_Id").html("<html><div class='commentsItalic'> @Resources.Companies_NoRecordsIntroContent  </div></html>");
        }
        else {
            $.ajax(
            {
                type: 'GET',
                url: 'PrequalRequirementsListPartial',
                data: 'templateId=' + templateId + '&clientId=' + clientId,
                success: function (data) {
                    if (data.indexOf("Session expired") >= 0) {
                        window.location = "../SystemUsers/Login?lastLoginPage=" + "~/Companies/SearchCompany";
                    }
                    else {
                        $("#PrequalRequirementsList_Block_Id").html(data);

                        // For Roles and Permissions
                        setPermissions('@ViewBag.ViewPermissions');
                        // Ends<<<
                    }
                },
                error: function () {
                    //alert("Unable to process request, please try again later1");
                    $("#PrequalRequirementsList_Block_Id").html("<html></html>");
                }
            });
        }

    }
   


    function deletePrequalRequirement(headerFooterId) {
        var r = confirm('@Resources.Companies_deleteContentWarning');
        if (r == true) {
            $.ajax(
            {
                type: 'POST',
                url: 'deletePrequalRequirement',
                data: 'templateProfileId=' + headerFooterId,
                success: function (data) {

                    if (data.indexOf("Session expired") >= 0) {
                        window.location = "../SystemUsers/Login?lastLoginPage=" + "~/Companies/SearchCompany";
                    }
                    else if (data == "deletePrequalRequirementSucceded") {
                        updatePrequalRequirementsList();
                    }
                    else {
                        alert("@Resources.Common_unableToProcess");
                    }
                },
                error: function () {
                    alert("@Resources.Common_unableToProcess");
                }
            });
        }
    }




    //////////////////////////////
    //Document functions /////////
    var addDocWinPop = false;
    function openAddDocWindow(OrganizationID)
    {
        if (addDocWinPop && !addDocWinPop.closed) {  //checks to see if window is open
            addDocWinPop.focus();
        }
        else {
            addDocWinPop = window.open("AddNewDocument?OrganizationID=" + OrganizationID, "_blank", "toolbar=no,  directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=yes, width=700, height=500");
        }
    }

    function deleteDocument(documentId, orgId, refType, refRecordId, idAsFileName, userEnteredName) {
        var r = confirm('@Resources.Companies_deleteDocWarning');
        if (r == true) {
            $.ajax(
            {
                type: 'POST',
                url: 'deleteDocument',
                data: 'documentId=' + documentId + '&refType=' + refType + '&refRecordId=' + refRecordId + '&orgId=' + orgId + '&idAsFileName=' + idAsFileName + '&userEnteredFilename=' + userEnteredName,
                success: function (data) {

                    if (data.indexOf("Session expired") >= 0) {
                        window.location = "../SystemUsers/Login?lastLoginPage=" + "~/Companies/SearchCompany";
                    }
                    else if (data == "DeleteSuccess") {
                        updateDocsList(orgId);
                    }
                    else {
                        alert("@Resources.Common_unableToProcess");
                    }
                },
                error: function () {
                    alert("deleteDocccc " + "@Resources.Common_unableToProcess");
                }
            });
        }
    }

    function updateDocsList(orgId) {
        //alert("" + TemplateID);
        $.ajax({
            type: 'GET',
            url: 'DocumentsListPartial',
            data: 'orgId=' + orgId,
            success: function (data) {
                if (data.indexOf("Session expired") >= 0) {
                    window.location = "../SystemUsers/Login?lastLoginPage=" + "~/Companies/SearchCompany";
                }
                else {
                    $("#DocumentList_Block_Id").html(data);

                    //siva on 23rd Aug
                    updateHeaderFooterList();
                    updatePrequalRequirementsList();
                    // For Roles and Permissions
                    setPermissions('@ViewBag.ViewPermissions');
                    // Ends<<<
                }
            },
            error: function () {
                alert("@Resources.Common_unableToProcess");
                $("#DocumentList_Block_Id").html("<html></html>");
            }
        });
    }

    function verifyImage(thisAsImage) {
        $file = $(thisAsImage);

        var $filePath = $.trim($file.val());
        if ($filePath == "") {
            alert("@Resources.Common_BrowseFile_Message");
            return;
        }

        var $ext = $filePath.split(".").pop().toLowerCase();
        var $allow = new Array("png");
        if ($.inArray($ext, $allow) == -1) {
            alert("@Resources.Companies_pngfileUpload");
            $(thisAsImage).val("");
            $(thisAsImage).replaceWith($(thisAsImage).clone(true)); // kiran on 03/10/2015 for IE
            return;
        }

        //Dec 2nd
        var node_list = document.getElementsByTagName('input');
        for (var i = 0; i < node_list.length; i++) {
            var node = node_list[i];
            if (node.getAttribute('type') == 'file') {
                var sFileName = node.value;
                var sFileExtension = sFileName.split('.')[sFileName.split('.').length - 1];
                var iFile = node.files[0];
                if ((iFile.size / 1024).toFixed(2) > 30) {
                    alert("@Resources.Common_FileSizeLimit_Message");
                    $(thisAsImage).val("");
                }
                //alert((iFile.size / 1024).toFixed(2));
            }
        }
        //End Dec 2nd
    }


</script>
<script>

    $(document).ready(function() {

        var myWindow = $("#window");
        undo = $(".undo");

        undo.click(function() {
            var ClientId=$("#OrganizationID").val();
            myWindow.data("kendoWindow").open().center();
            $.get('GetTemplateData?ClientId='+ClientId,function(data)
            {
                var Template='<button onclick="GenerateTemplateKey()" style="float:right">Add</button>';
                Template+="<table id='customers'>";
                Template+="<th>Template Name</th><th>Client Code</th><th></th>"
                for (var i = 0; i < data.length; i++) {
                    Template+="<tr>";

                    Template+="<td>"+data[i].TemplateName+"</td>";
                    Template+="<td>"+data[i].ClientCode+"</td>";
                    Template+="<td><img src='../images/DelButton.png' onclick=deleteTemplateKey("+data[i].ClientId+",'"+data[i].TemplateId+"')></td>";
                    Template+="</tr>";
                }
                Template+="</table>";
                $("#window").empty();
                $("#window").append(Template);
            });
            undo.fadeOut();
        });

        function onClose() {
            undo.fadeIn();
        }

        myWindow.kendoWindow({
            width: "700px",
            minHeight:"200px",
            title:$("#Name").val() ,
            visible: false,
            actions: [

                "Close"
            ],
            close: onClose
        });
    });



    function TemplateBasedkeyGeneration()
    {
        var OrganizationID = $("#OrganizationID").val();
        var templateID=$("#Templates").val();
        $.ajax(
           {
               type: 'POST',
               url: 'Templatekey',
               data: 'OrganizationId='+OrganizationID+'&templateID='+templateID,
               success: function (data) {
                   if (data == "success") {
                       $(".undo").click();
                       $("#Details").data("kendoWindow").close();


                   }else{alert("Error in keygeneration");} }
           });
    }

    //var mywindow =

    function onClose() {

    }
    var initial=true;
    
    function GenerateTemplateKey()
    {
        var ClientId=$("#OrganizationID").val();

        $("#Details") .attr("style", "display:block")

        $("#Details").kendoWindow({
            height: "200px",

            title:$("#Name").val(),
            visible: false,
            modal: true,
            width: "400px"
        }).data("kendoWindow").open().center();

    }

    function deleteTemplateKey(ClientId,TemplateId)
    {
        debugger;
        var r = confirm('@Resources.Generate_Key_Alert');
        if (r == true) {

            $.ajax(
           {

               url: 'deleteTemplateKey?organizationid='+ClientId+' &TemplateId='+TemplateId,

               success: function (data) {

                   $(".undo").click();

               },
               error: function () {
                   alert("@Resources.Common_unableToProcess");
               }
           });

        }
    }
</script>
<body>
    @if (@Model.isSuccess)
    {
        <div>
            <p class="successMessage">@Resources.Common_ChangesSavedSuccessMsg </p>
        </div>
    }

    @* Added on 23rd July *@@using (Html.BeginForm("EditClient", "Companies", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.OrganizationID)
        @Html.HiddenFor(model => model.OrganizationType)



        <div class="contentSub">
            <div class="rowTabsCompanies">
                @*<label class="rowTabsLabelEditClient"></label>*@
                
                @if(@Model.OrganizationType.Equals(OrganizationType.SuperClient) ||Model.OrganizationType.Equals("Client"))
                {
                    <table>
                        <tr>
                            <td class="IsEri">
                                <div class="selectedTab" id="buttonTabOne" style="padding-left:4px;padding-right:4px">
                                    <input type="radio" id="Bi" />
                                    <label for="Bi" id="Business_Information_Label_Id" style="font-size:11pt">@Resources.Company_businessInfor</label>
                                </div>
                            </td>
                            <td>
                                <div class="unSelectedTab" id="buttonTabTwo" style="padding-left:4px;padding-right:4px">
                                    <input type="radio" id="Bi1" />
                                    <label for="Bi1" id="Downloads_Label_Id" style="font-size:11pt">@Resources.Companies_Downloads</label>
                                </div>
                            </td>
                            <td>
                                <div class="unSelectedTab" id="buttonTabThree" style="padding-left:4px;padding-right:4px">
                                    <input type="radio" id="Bi2" />
                                    <label for="Bi2" id="Intro_Content_Label_Id" style="font-size:11pt">@Resources.Companies_IntroContent</label>
                                </div>
                            </td>
                            <td>
                                <div class="unSelectedTab" id="buttonTabFour" style="padding-left:4px;padding-right:4px">
                                    <input type="radio" id="Bi3" />
                                    <label for="Bi3" id="Prequal_Requirements_Label_Id" style="font-size:11pt">@Resources.Companies_PrequalificationRequirements</label>
                                </div>
                            </td>
                        </tr>
                    </table>
                }
                else
                {
                    <table>
                        <tr>
                            <td>
                                <div class="selectedTab" id="buttonTabOne">
                                    <input type="radio" id="Bi" value="true" />
                                    <label for="Bi" id="Business_Information_Label_Id">@Resources.Company_businessInfor</label>
                                </div>
                            </td>
                        </tr>
                    </table>
                }
            </div>
        </div>
        <div class="contentSub">
            <div class="BusinessInformation_content">

                <div class="rowGenericReports vendordetails-section" id="subClients">
                    <label><b>@Resources.SelectSubClient</b></label>
                    <div class="scrollCheckboxReports">
                        <table style="margin:0px;">
                            <tr></tr>
                            @if (Model.clients != null && Model.clients.Count > 0)
                            {
                                for (int i = 0; i < Model.clients.Count; i++)
                                {
                                    
                                    if (Model.DisabledClients!=null && Model.DisabledClients.Contains(Model.clients[i].Value))
                                    {
                                        @Html.CheckBoxFor(m => m.clients[i].Selected, new { id = @Model.clients[i].Value, disabled = "disabled" })
                                    }
                                    else
                                    {
                                        @Html.CheckBoxFor(m => m.clients[i].Selected, new { id = @Model.clients[i].Value})
                                    }

                                    <label for="@Model.clients[i].Value" style="margin-top:10px;">@Model.clients[i].Text</label>
                                    <br />

                                    @Html.HiddenFor(m => Model.clients[i].Value);
                                    @Html.HiddenFor(m => Model.clients[i].Text);
                                    if (ViewBag.disabledClients!=null && ViewBag.disabledClients.Contains(@Model.clients[i].Value))
                                    {
                                        @Html.HiddenFor(m => Model.clients[i].Selected);
                                    }
                                }
                            }
                            <div class="alertStar">@Html.ValidationMessageFor(model => model.clients)</div>
                        </table>
                    </div>
                </div>

                <div class="rowRadioCheckbox noBorder">
                    <table border="0">
                        <tbody>
                            <tr>
                                <td><label class="enableStar"> @Resources.Common_Label_stateType</label></td>
                                <td> @Html.RadioButtonFor(model => model.CountryType, "0", new { id = "USA", onclick = "VendorRegistration.CountryTypeChange(0)" })</td>
                                <td><label for="USA">@Resources.Common_StateType1</label></td>
                            </tr>
                            <tr>
                                <td><label></label></td>
                                <td>@Html.RadioButtonFor(model => model.CountryType, "1", new { id = "NonUSA", onclick = "VendorRegistration.CountryTypeChange(1)" })</td>
                                <td><label for="NonUSA">@Resources.Common_StateType2</label></td>
                            </tr>
                            <tr><td colspan="3"><div class="alertStar">@Html.ValidationMessageFor(model => model.CountryType)</div></td></tr>
                        </tbody>
                    </table>
                </div> 
                <div class="rowIST" poptext="@Resources.AddOrEditClient_Name_hint">
                    <label class="enableStar">@Resources.Common_Label_LegalNameOfBusiness</label>
                    @Html.TextBoxFor(model => model.Name, new { @maxlength = "200" })
                    <div class="alertStar"> @Html.ValidationMessageFor(model => model.Name) </div>
                </div>
                @*Kiran on 9/19/2014*@
                <div class="rowIST" poptext="@Resources.Common_HintTextAddressLine1">
                    <label class="enableStar">@Resources.Common_Label_AddressLine1</label>
                    @Html.TextBoxFor(model => Model.Address1, new { @maxlength = "200", @style = "margin-bottom:8px;" })
                    <div class="alertStar">@Html.ValidationMessageFor(model => model.Address1)</div>
                </div>
                <div class="rowIST" poptext="@Resources.Common_hintTextAddressLine2">
                    <label>@Resources.Common_Label_AddressLine2</label>
                    @Html.TextBoxFor(model => Model.Address2, new { @maxlength = "200" })
                </div>

                <div class="rowIST" poptext="@Resources.Common_hintTextAddressLine3">
                    <label>@Resources.Common_Label_AddressLine3</label>
                    @Html.TextBoxFor(model => Model.Address3, new { @maxlength = "200" })
                </div>
                @*Ends<<<*@
                <div class="rowIST" poptext="">
                    <label class="enableStar"> @Resources.Common_Label_City </label>
                    @Html.TextBoxFor(model => model.City, new { @maxlength = "100" })
                    <div class="alertStar"> @Html.ValidationMessageFor(model => model.City) </div>
                </div>
                
                <div class="rowIST" poptext="">
                    <label class="enableStar">@Resources.AddOrEditClient_Zip</label>
                    @Html.TextBoxFor(model => model.Zip, new { @maxlength = "10" })
                    <div class="alertStar">@Html.ValidationMessageFor(model => model.Zip)</div>
                </div>
                <div class="rowIST" poptext="">
                    <label class="enableStar"> @Resources.Common_Label_Country </label>
                    @Html.DropDownListFor(x => Model.Country, (List<SelectListItem>)@ViewBag.Countries, new { @onchange = "VendorRegistration.GetCountryStates(" + 0 + ", false, $('#State'))" })
                    @*@Html.DropDownListFor(m => m.Country, new[] {
                            new SelectListItem() { Text = "", Value="" },
                            new SelectListItem() { Value = @Resources.Common_NotApplicable, Text=@Resources.Common_NotApplicable },
                            new SelectListItem() { Value = @Resources.VendorReg_UnitedStates, Text=@Resources.VendorReg_UnitedStates },
                            new SelectListItem() { Value = @Resources.VendorReg_Canada, Text=@Resources.VendorReg_Canada },}, new { @id = "countryForUSA" })
                    @Html.TextBoxFor(rec => rec.Country, new { id = "countryForNonUSA", @style = "display:none" })*@
                    <div class="alertStar"> @Html.ValidationMessageFor(model => model.Country) </div>
                </div>

                <div class="rowIST" poptext="">
                    <label class="enableStar"> @Resources.Common_Label_State </label>
                    @Html.DropDownListFor(m => m.State, (List<SelectListItem>)@ViewBag.States, new { id = "State" })
                    @*<select id="State2" name="State2"></select>*@
                    @*@Html.DropDownListFor(m => m.State, ((FVGen3.WebUI.Views.Companies.CompaniesController)this.ViewContext.Controller).GetStateSelectListItems(), new { id = "stateForUSA" })
                    @Html.TextBoxFor(m => m.State, new { id = "stateForNonUSA", @style = "display:none" })*@

                    <div class="alertStar"> @Html.ValidationMessageFor(model => model.State) </div>
                </div>

                <div class="rowIST" poptext="@Resources.AddOrEditClient_Phone_Hint">
                    <label class="enableStar"> @Resources.Common_Label_Telephone </label>
                    @Html.TextBoxFor(model => model.PhoneNumber, new { @maxlength = "14" })
                    <div class="alertStar"> @Html.ValidationMessageFor(model => model.PhoneNumber) </div>
                </div>
                @*Kiran on 8/26/2014*@
                <div class="rowIST" poptext="">
                    <label>@Resources.Common_label_ExtNumber</label>
                    @Html.TextBoxFor(model => Model.ExtNumber)
                </div>
                @*Ends<<<*@
                <div class="rowIST" poptext="">
                    <label> @Resources.AddOrEditClient_Fax </label>
                    @Html.TextBoxFor(model => model.FaxNumber, new { @maxlength = "14" })
                    <div class="alertStar"></div>
                </div>
                <div class="rowIST" poptext=" @Resources.AddOrEditClient_Web_hint ">
                    <label> @Resources.AddOrEditClient_WebURL </label>
                    @Html.TextBoxFor(model => model.WebsiteURL, new { @maxlength = "100" })
                    <div class="alertStar"> </div>
                </div>
                <div class="rowIST" poptext="@Resources.AddOrEditClient_FederalId_hint" style="display:none;">
                    <label> @Resources.AddOrEditClient_FederalId </label>
                    @Html.TextBoxFor(model => model.FederalIDNumber, new { @maxlength = "15" })
                    <div class="alertStar"> </div>
                </div>
                @if (@Model.OrganizationType.Equals(OrganizationType.SuperClient) ||@Model.OrganizationType.Equals("Client"))
                {
                    <div class="rowGeneric" id="acceptVendor_Div_Id">
                        <table>
                            <tr>
                                <td width="296">
                                    <label for="acceptCheckBox">@Resources.Companies_AcceptVendor</label>
                                    @*Added code for stopping form submission on 8/17/2013 by Kiran talluri*@
                                </td>
                                <td>
                                    <table>
                                        <tr>
                                            <td width="100">
                                                <input type="checkbox" id="acceptCheckBox" name="AcceptVendorsViaInvite" value="true"
                                                       @if (Model.AcceptVendorsViaInvite) { @: checked="checked"
                                                                                                   } />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        @* Ends <<< *@
                    </div>

                    @*Kiran on 10/29/2014*@
                    <div class="rowGeneric">
                        <table>
                            <tr>
                                <td width="296">
                                    <label for="TrainingRequired">@Resources.Common_Label_TrainingRequired</label>
                                </td>
                                <td>
                                    <table>
                                        <tr>
                                            <td width="100">
                                                <input type="checkbox" id="TrainingRequired" name="TrainingRequired" value="true" onclick="Validatetext(this);"
                                                       @if (Model.TrainingRequired) { @: checked="checked"
                                                                                               } />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                  
                    <div class="rowGeneric">
                        <table>
                            <tr>
                                <td width="296">
                                    <label for="TrainingRequired">@Resources.EditClient_AlaCarteTrainingFeeCap</label>
                                </td>
                                <td>
                                    <table>
                                        <tr>
                                            <td width="100">
                                                @Html.TextBoxFor(m => m.TrainingFeeCap, new { @maxlength = "10" })
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="rowGeneric">
                        <table>
                            <tr>
                                <td width="296">
                                    <label for="TrainingRequired">@Resources.EditClient_Label_ProvideTrainingCertificate</label>
                                </td>
                                <td>
                                    <table>
                                        <tr>
                                            <td width="100">
                                                <input type="checkbox" id="TrainingCertificate" name="TrainingCertificate" value="true" onclick="Validatetext(this);"
                                                       @if (Model.TrainingCertificate) { @: checked="checked"
                                                                                                                                                                             } />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>


                    @* Ends <<< *@
                }
            <div class="rowIST" poptext="">
                <label> Contractor Evaluation Expiration Period:(Years) </label>
                @Html.DropDownListFor(m => m.ContractorEvaluationExpirationPeriod, new[] {
                            
                            new SelectListItem() { Value = "1", Text= "1" },
                            new SelectListItem() { Value = "2", Text= "2" },
                            new SelectListItem() { Value = "3", Text= "3" },
                            new SelectListItem() { Value = "4", Text= "4" },
                            new SelectListItem() { Value = "5", Text= "5" }
                })
                    
                <div class="alertStar"> @Html.ValidationMessageFor(model => model.ContractorEvaluationExpirationPeriod) </div>
            </div>
                @*Kiran on 12/30/2013*@
                <div class="rowIST">
                    <label>@Resources.Common_Label_RepresentativeName</label>
                    @Html.TextBoxFor(m => m.OrgRepresentativeName, new { @maxlength = "150" })
                </div>
                <div class="rowIST">
                    <label>@Resources.Common_Label_RepresentativeEmail</label>
                    @Html.TextBoxFor(m => m.OrgRepresentativeEmail, new { @maxlength = "150" })
                    <div class="alertText">@Html.ValidationMessageFor(model => model.OrgRepresentativeEmail)</div>
                </div>
                <div class="rowIST">
                    <label>@Resources.Common_Label_InfusionSoftContactId</label>
                    @Html.TextBoxFor(m => m.OrgInfusionSoftContactId, new { @maxlength = "100" })
                </div>
                @*Ends*@
                @* Added on 10th Aug *@
                <div class="rowIST" poptext="">
                    <label> @Resources.Companies_selectLogo </label>
                    <input type="file" name="Logo" id="logo" data-val-required="*" data-val="false" onchange="verifyImage(this)" />
                    <div class="alertStar"> @Html.ValidationMessageFor(model => model.Logo) </div>
                </div>
                <div class="rowIST" poptext="">
                    <label> @Resources.Companies_selectPhoto </label>
                    <input type="file" name="Photo" id="photo" data-val-required="*" data-val="false" onchange="verifyImage(this)" />
                    <div class="alertStar"> @Html.ValidationMessageFor(model => model.Photo) </div>
                </div>
                @* Ends *@
                @if (!ViewBag.IsSubClient && (@Model.OrganizationType.Equals(OrganizationType.SuperClient) ||@Model.OrganizationType.Equals("Client")) )
                {
                    @*Rajesh on 2/21/2014*@
                    <div class="rowIST" poptext="@Resources.AddOrEditClient_Name_hint">
                        <label>@Resources.AddOrEditClientId</label>
                        @Model.OrganizationID
                        @Html.HiddenFor(rec => rec.OrganizationID)

                    </div>
                    <div class="rowIST"style="display: table-row" poptext="@Resources.AddOrEditClient_Name_hint">
                        <div style="display:table-cell;">
                            <label>@Resources.AddOrEditClientCode</label>

                            <span style="float:left">@Model.SingleClientCode</span>
                            @Html.HiddenFor(rec => rec.SingleClientCode)
                        </div>
                         
                        <div style="display:table-cell"> <button type="button" class="undo">@Resources.Generate_Key</button></div> 
                       @*<i class="fa fa-key" aria-hidden="true"  onclick = "OpenPopUp()" title="Multiple Key Configuration"></i>*@
                    </div>
                    <div  class="rowIST" style="display: table-row">
                        <div style="display:table-cell;">
                            <label>@Resources.EditVendor_Client_Secrete</label>
                            @Model.ClientSecrte
                            @Html.HiddenFor(rec => rec.ClientSecrte)
                        </div>
                        @if (Session["RoleName"].ToString().Equals("Admin"))
                        {
                            <div style="display:table-cell"><img src = "../images/refresh-black.png" onclick = "keyGeneration()" title="Generate New Key"/></div>
                        }
                    </div>
                    @*<p class="rowIST">Regions:</p>
                    <div>


                        @Html.DropDownListFor(m => m.Regionid, (IEnumerable<SelectListItem>)ViewBag.Regions, new
                   {
                       @class = "OrgName",
                       multiple = "multiple",

                   })



                    </div>*@
                    @*Ends<<<*@
                }
                <div class="pageFooterContent">
                    <div class="pageFooterButtons">
                        <table>
                            <tr>
                                <td><button type="submit" btntype="Update">@Resources.Common_Save</button></td>
                                <td btntype="Update">@Resources.Common_label_or</td>
                                <td><div class="pageFooterCancelButton"><a href="../Companies/SearchCompany">@Resources.Common_Cancel</a></div></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>


            @*//////////////////
                //////// Downloads*@
            <div class="DownloadTab_content" style=" display:none;">
                <div class="rowIST">
                    <div style="float:right;">
                        <button type="button" btntype="Insert" onclick="openAddDocWindow('@Model.OrganizationID', '1')">
                            @Resources.Common_AddNew
                        </button>
                    </div>
                </div>

                @*////List of Documents*@
                <div id="DocumentList_Block_Id">
                    <script type="text/javascript">
                        updateDocsList('@Model.OrganizationID');
                    </script>
                </div>
            </div>

            @*///////////////////////////
                //////////// Introduction Information*@
            <div class="Introduction_content" style="display:none;">
                <div class="rowIST">
                    <div style="float:right;">
                        @if (@ViewBag.Templates != null && @ViewBag.Templates.Count > 0)
                        {
                            <button type="button" btntype="Insert" onclick="openAddIntorContentWindow('@Model.OrganizationID','-1','-1','-1')">
                                @Resources.Common_AddNew
                            </button>
                        }
                        else
                        {
                            <button type="button" btntype="Insert" onclick="#!">
                                @Resources.Common_AddNew
                            </button>
                        }
                    </div>
                </div>
                <div class="rowIST">
                    <label for="QuestionarieTypeId">@Resources.Common_Label_QuestionnaireType</label>
                    @if (@ViewBag.Templates != null)
                    {
                        @Html.DropDownListFor(x => x.QuestionarieTypeId, (List<SelectListItem>)@ViewBag.Templates, new { @onchange = "updateHeaderFooterList()" })
                    }
                    else
                    {
                        @Html.DropDownListFor(x => x.QuestionarieTypeId, new List<SelectListItem>(), new { @onchange = "updateHeaderFooterList()" })
                    }
                </div>

                @*//List of HeaderFooters...*@
                <div class="contentSub">
                    <div id="HeadFootList_Block_Id">
                        @*<script type = "text/javascript">
                                updateHeaderFooterList(@Model.OrganizationID);
                            </script>*@
                    </div>
                </div>
            </div>

            @*///////////////////////////
                //////////// Prequalificatin Requirements*@
            <div class="Prequal_Requirements_Div" style="display:none;">
                <div class="rowIST">
                    <div style="float:right;">
                        @if (@ViewBag.Templates != null && @ViewBag.Templates.Count > 0)
                        {
                            <button type="button" btntype="Insert" onclick="openAddPrequalRequirementsWindow('@Model.OrganizationID','-1')">
                                @Resources.Common_AddNew
                            </button>
                        }
                        else
                        {
                            <button type="button" btntype="Insert" onclick="#!">
                                @Resources.Common_AddNew
                            </button>
                        }
                    </div>
                </div>
            
   
                <div class="rowIST">
                    <label for="QuestionarieTypeIdForPrequalRequirements">@Resources.Common_Label_QuestionnaireType</label>
                    @if (@ViewBag.Templates != null)
                    {
                        @Html.DropDownListFor(x => x.QuestionarieTypeIdForPrequalRequirements, (List<SelectListItem>)@ViewBag.Templates, new { @onchange = "updatePrequalRequirementsList()" })
                    }
                    else
                    {
                        @Html.DropDownListFor(x => x.QuestionarieTypeIdForPrequalRequirements, new List<SelectListItem>(), new { @onchange = "updatePrequalRequirementsList()" })
                    }
                </div>
                @*//List of HeaderFooters...*@
                <div class="contentSub">
                    <div id="PrequalRequirementsList_Block_Id">
                        <script type="text/javascript">
                            updatePrequalRequirementsList(@Model.OrganizationID);
                        </script>
                    </div>
                </div>
            </div> @*//End of PrequalRequirements...*@
        </div>
        <div class="dialogueBox" id="pop-up" style="display:none; position:absolute;">
            <p>
            </p>
        </div>
        <div id="window">
         
            
        </div>
        <div id="Details" style="display:none;">
            <div>
                <label style="font-weight:bold;margin-right: 20px;">Select Template:</label>
                @Html.DropDownList("Templates",(IEnumerable<SelectListItem>)@ViewBag.Templates)
                <br/>
                <button onclick="TemplateBasedkeyGeneration()"style="margin-top:50px;margin-left:30%"><i class="fa fa-key" aria-hidden="true"  title="Generate Key" style="margin-left:20px;margin-right:20px;"></i>@Resources.Common_Submit</button>
                @*<button onclick="onclose()" >Cancel</button>*@
            </div>
        </div>

    }
    @*<script type="text/javascript">
        setupUI();
    </script>*@

</body>
</html>

