﻿<!--
 *****************************************************
Page Created Date:  08/20/2013
Created By: Siva Bommisetty
Purpose:
Version: 1.0
-->
@using FVGen3.Domain.Entities;
@using FVGen3.Domain.ViewModels
@using Resources;
@model FVGen3.Domain.Entities.LocalAddNewCompany
@{
    ViewBag.Title = "Edit Vendor";

    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="My Account page" />
    <meta name="viewport" content="width=device-width" />
</head>
@Scripts.Render("~/js/jquery.mask.js")
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@Scripts.Render("~/scripts/application/EditVendor.js")
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="~/Scripts/Application/VendorRegistration.js"></script>
<script type="text/javascript">

    $(document).ready(function () {

        $('#TaxID').rules("add",
                       {
                           required: true,

                           messages:
                           {
                               required: "*"
                           }
                       });
        // Kiran on 8/26/2014
        //$("#PhoneNumber").mask('(000) 000-0000');
        //$("#FaxNumber").mask('(000) 000-0000');
        // Ends<<<
        @*if ('@ViewBag.HasFinancialData'.toLowerCase()=='true') {
            $("#FinancialMonth").attr("disabled", true);
            $("#FinancialDate").attr("disabled", true);
        } else {

            $("#FinancialMonth").removeAttr("disabled");
            $("#FinancialDate").removeAttr("disabled");
        }*@
        
        $("#Business_Information_Label_Id").click(function () {
            HideTab();
            $(".BusinessInformation_content").show();
            $("#buttonTabOne").removeClass("unSelectedTab");
            $("#buttonTabOne").addClass("selectedTab");
        });

        $("#Pre_Qualification_Label_Id").click(function () {
            HideTab();
            $(".PreQualification_content").show();
            $("#buttonTabThree").removeClass("unSelectedTab");
            $("#buttonTabThree").addClass("selectedTab");

        });

        $("#Delete_Company_Label_Id").click(function () {
            HideTab();
            $(".DeleteComp_content").show();
            $("#buttonTabFour").removeClass("unSelectedTab");
            $("#buttonTabFour").addClass("selectedTab");
        });

        $("#VendorArchivedDetails_Label_Id").click(function () {
            HideTab();
            $(".ArchiveVendor_Content").show();
            $("#buttonTabTwo").removeClass("unSelectedTab");
            $("#buttonTabTwo").addClass("selectedTab");

        });
        $("#Payments_Label_Id").click(function () {
            HideTab();
          
            $(".Payment_content").show();
            $("#paymentTab").addClass("selectedTab");
            $("#paymentTab").removeClass("unSelectedTab");
        });
        function HideTab() {
            $(".BusinessInformation_content").hide();
            $(".PreQualification_content").hide();
            $(".DeleteComp_content").hide();
            $(".ArchiveVendor_Content").hide();
            $(".Payment_content").hide();
            //To remove all css
            $("#paymentTab").removeClass("selectedTab");
            $("#paymentTab").removeClass("unSelectedTab");
            $("#buttonTabOne").removeClass("selectedTab");
            $("#buttonTabOne").removeClass("unSelectedTab");
            $("#buttonTabTwo").removeClass("selectedTab");
            $("#buttonTabTwo").removeClass("unSelectedTab");
            $("#buttonTabThree").removeClass("selectedTab");
            $("#buttonTabThree").removeClass("unSelectedTab");
            $("#buttonTabFour").removeClass("selectedTab");
            $("#buttonTabFour").removeClass("unSelectedTab");
            //To Add Relavent classes
            $("#buttonTabOne").addClass("unSelectedTab");
            $("#buttonTabTwo").addClass("unSelectedTab");
            $("#buttonTabThree").addClass("unSelectedTab");
            $("#buttonTabFour").addClass("unSelectedTab");
            $("#paymentTab").addClass("unSelectedTab");
        }
        //Siva on 10th Aug
        $("#Vendor_RadioId").change(function () {
            $("#acceptVendor_Div_Id").hide();
        });
        $("#Client_RadioId").change(function () {
            $("#acceptVendor_Div_Id").show();
        });
        //Ends <<<
        window.updateMonth = function (iMonth, iDay) {
            var el = document.getElementById(iDay);
            el.options.length = 0;

            for (var d = new Date(2013, iMonth - 1, 1) ; d.getMonth() == iMonth - 1; d.setDate(d.getDate() + 1)) {
                option = new Option(d.getDate(), d.getDate());
                el.options[d.getDate() - 1] = option;
            };

        }
        //Dec 2nd
        var _URL = window.URL || window.webkitURL;
        $("#logo").change(function (e) {
            var file, img;
            if ((file = this.files[0])) {
                img = new Image();
                img.onload = function () {
                    //alert(this.width + " " + this.height);
                    if (this.width > 250 || this.height > 250) {
                        alert("@Resources.Companies_Logo250pixels");
                        $("#logo").val("");
                    }
                };
                img.src = _URL.createObjectURL(file);
            }
        });
        //End Dec 2nd

        // For Roles and Permissions
        setPermissions('@ViewBag.ViewPermissions');
        // Ends<<<
        VendorRegistration.StateChange(@Model.CountryType);
       
        $(".versionDataMain").hide();
        $(".ExpandListButton").click(function () {

            if ($(this).closest(".vendorArchivedDetails").find(".versionDataMain").is(':visible') == true) {
                $(this).closest(".vendorArchivedDetails").find(".versionDataMain").hide();
                $(this).attr("src", "../images/Expandlist.png");
            }
            else {
                $(this).closest(".vendorArchivedDetails").find(".versionDataMain").show();
                $(this).parent().parent().find(".versionDataMain").slideUp();
                $(this).attr("src", "../images/collapse.png");
            }


            //<<Ends


        });

    });

    //Rajesh on 4/4/2014
    function startPrequalification() {
        document.location = '@Url.Action("ListOfPotentialClients", "Vendor")';
    }
    //Ends<<
    
    function SectionClick(max,src, obj) {
        debugger;
       // $(obj).closest("td").find(".expands").hide();
       // var val = "PQFeeFields"
        //if ($(obj).hasClass('QuizExpand'))
        //{
        //    val = "QuizFields"
        //}
        //for (i = 0; i < max; i++)
        //{
        //    var value = val + i
        //    if (value == src) {
        //        $('.' + src).toggle();
        //    }
        //    else {
        //        $('.' + value).hide();
        //        if (val == "QuizFields") {
        //            $('.QuizExpandListButton' + i).attr("src", "../images/expandlist.png");
        //        }
        //        else
        //        $('.ExpandListButton' + i).attr("src", "../images/expandlist.png");
        //    }
        //}

      $('.' + src).toggle();

         if ($(obj).attr('src') == "../images/collapse.png")
            $(obj).attr("src", "../images/expandlist.png");
        else
        $(obj).attr("src", "../images/collapse.png");
    }
    function deleteCompany(OrganizationID) {
        var confirmDelete = $("#ConfirmDelete").is(":checked");
        if (confirmDelete) {
            showSpinner();//Siva on 5th Apr
            $.ajax(
            {
                type: 'GET',
                url: 'deleteCompany',
                data: 'OrganizationID=' + OrganizationID,
                success: function (data) {
                    if (data.indexOf("Session expired") >= 0) {
                        window.location = "../SystemUsers/Login?lastLoginPage=" + "~/Companies/SearchCompany";
                    }
                    else if (data == "PrequalificationsExist") {
                        alert("@Resources.Company_prequalExist");
                    }
                    else if (data == "DeleteComapnySuccess") {
                        window.location = "../Companies/SearchCompany";
                    }
                    else {
                        alert("@Resources.Common_unableToProcess");
                    }
                    hideSpinner();//Siva on 5th Apr
                },
                error: function () {
                    hideSpinner();//Siva on 5th Apr
                    alert("@Resources.Common_unableToProcess");
                }
            });
        }
        else {
            alert("@Resources.Company_confirmDelete ");

        }
    }

    function deletePrequalification(prequalId, vendorId, lastpageurl) {
        var r = confirm('@Resources.Company_areYouSure');
        if (r == true) {
            showSpinner();//Siva on 5th Apr
            $.ajax(
            {
                type: 'GET',
                url: 'deletePrequalification',
                data: 'prequalId=' + prequalId + '&commitStatus=true',
                success: function (data) {

                    if (data.indexOf("Session expired") >= 0) {
                        window.location = "../SystemUsers/Login?lastLoginPage=" + lastpageurl;
                    }
                    else if (data == "PrequalDeleteSuccess") {
                        @*alert("@Resources.Company_prequalDeleteSuccess");*@
                        updatePrequalifications(vendorId)
                    }
                    else if (data == "UserAddedData") {
                        alert("@Resources.EditVendor_Prequalification_Error_Message");
                    }
                    else {
                        alert("@Resources.Common_unableToProcess");
                    }
                    hideSpinner();//Siva on 5th Apr
                },
                error: function () {
                    hideSpinner();//Siva on 5th Apr
                    alert("@Resources.Common_unableToProcess");
                }
            });
        }
    } function changePQTemplate(prequalId,headding,clientTemplate) {

        PopupModel.reset();
        PopupModel.setData("Loading..");
        PopupModel.setHeader(headding);
        PopupModel.show();

        $.get("/Companies/GetTemplates?PQId=" + prequalId)
            .then(function (response) {
                //var html = "Templates :";
                //html += "<div id='templatesRow'></div> <div><input type='Submit' value='Submit' onclick='changeTemplate("+prequalId+")'/> </div>";
              
                PopupModel.setData(getHtmlTemplate(prequalId));
                $("#templatesRow").html($(Controls.Dropdown(response)).attr("id", "clientTemplate").val(clientTemplate));
            });
    }
    function getHtmlTemplate(prequalId) {
        var html =
            '<div style="color:red;font-size:large;">Note: Payment cannot be carried forward.</div><div class="rowIST"><span style="margin:0 10px;float:left;">Template</span><div id="templatesRow"></div></div><input type="button" class="PageFooter_Button" value="Submit" onclick="changeTemplate(' + prequalId + ')"/>';
        return html;
    }
    function changeTemplate(pqId) {

        Post("../Prequalification/ChangePQTemplate",
             { pqId: pqId, templateId: $("#clientTemplate").val() },
             function (data) {
                 alert("Data has been updated successfully");
                 PopupModel.closeModel();
             });
    }
    function unlockPrequalification(prequalId, vendorId, lastpageurl, refImage) {
        var r = confirm('@Resources.Common_UnlockPrequalification_Message');
        if (r === true) {
            showSpinner();//Siva on 5th Apr
            $.ajax(
            {
                type: 'GET',
                url: 'unlockPrequalification',
                data: 'prequalId=' + prequalId + '&commitStatus=true',
                success: function (data) {

                    if (data.indexOf("Session expired") >= 0) {
                        window.location = "../SystemUsers/Login?lastLoginPage=" + lastpageurl;
                    }
                    else if (data == "PrequalUnlockSuccess") {
                        // updatePrequalifications(vendorId)
                        refImage.hide();
                    }
                    else {
                        alert("@Resources.Common_UnlockPrequalification_ErrorMessage");
                    }
                    updatePrequalifications('@Model.OrganizationID');
                    hideSpinner();
                },
                error: function () {
                    hideSpinner();
                    alert("@Resources.Common_unableToProcess");
                }
            });
        }
    }

    function updatePrequalifications(vendorId) {
        $.ajax({
            type: 'GET',
            url: 'PrequalificationsListPartial',
            data: 'vendorId=' + vendorId,
            success: function (data) {
                if (data.indexOf("Session expired") >= 0) {
                    window.location = "../SystemUsers/Login?lastLoginPage=" + window.location;
                }
                else {
                    $("#PrequalificationsList_id").html(data);

                    // For Roles and Permissions
                    setPermissions('@ViewBag.ViewPermissions');
                    // Ends<<<

                }
            },
            error: function () {
                alert("@Resources.Common_unableToProcess");
                $("#PrequalificationsList_id").html("<html></html>");
            }
        });
    }

    function selectVendorClientRadio(orgType) {
        if (orgType == "Vendor") {
            $("#Vendor_RadioId").attr('checked', true);
            $("#acceptVendor_Div_Id").hide();
        }
        if (orgType == "Client") {
            $("#Client_RadioId").attr('checked', true);
            $("#acceptVendor_Div_Id").show();
        }
    }

    @* Added on 10th Aug *@
    function verifyImage(thisAsImage) {
        //alert("verifyImage");
        $file = $(thisAsImage);
        var $filePath = $.trim($file.val());
        if ($filePath == "") {
            alert("@Resources.Common_BrowseFile_Message");
            return;
        }

        var $ext = $filePath.split(".").pop().toLowerCase();
        var $allow = new Array("png");
        if ($.inArray($ext, $allow) == -1) {
            alert("@Resources.Companies_pngfileUpload");
            $(thisAsImage).val("");
            return;
        }

        //Dec 2nd
        var node_list = document.getElementsByTagName('input');
        for (var i = 0; i < node_list.length; i++) {
            var node = node_list[i];
            if (node.getAttribute('type') == 'file') {
                var sFileName = node.value;
                var iFile = node.files[0];
                var sFileExtension = sFileName.split('.')[sFileName.split('.').length - 1];
                if ((iFile.size / 1024).toFixed(2) > 30) {
                    alert("@Resources.Common_FileSizeLimit_Message");
                    $(thisAsImage).val("");
                }
                //alert((iFile.size / 1024).toFixed(2));
            }
        }
        //End Dec 2nd
    }
    @* End 10th Aug *@

    function showSpinner() {
        $(".spinnerOverlay").show();
        //e.preventDefault();
        $('.importSubmitSpinner').show();
    }
    function hideSpinner() {
        $('.spinnerOverlay').hide();
        $('.importSubmitSpinner').hide();
    }
    //function TaxTypeChange(type)//1-USA 2-Non-USA
    //{
    //    if(type==1)
    //        $("#TaxID").attr("maxlength", 11);
    //    else
    //        $("#TaxID").attr("maxlength", 50);
    //}
   
</script>
<style type="text/css">
    .name {
        cursor: pointer;
    }
    tr.no-bottom-border  {
           
    width: 100%;
    font-size: 1em;
    background: #e5e6e8;
    padding: 6px 0px 6px 5px;
    margin-bottom: 16px;
  border-bottom: none!important;
}
    .advance {
        cursor: pointer;
    }

    #progressbar .ui-progressbar-value {
        background-color: #ccc;
        padding-left: 10px;
    }
</style>
<body>

    @* Siva on 5th Apr *@
    <div class="spinnerOverlay" style="display:none;">
        <img src="~/images/spinner.gif" width="28" height="28" class="importSubmitSpinner" alt="Spinner" />
    </div>
    @*End of Siva on 5th Apr *@

    @if (Model.isSuccess)
    {
        <div>
            <p class="successMessage">@Resources.Common_ChangesSavedSuccessMsg </p>
        </div>
    }
    @if ((Boolean)ViewBag.appIdNotAvailable)
    {
        <div>
            <label> @Resources.RegisterVendor_Error </label>
            <div> @Resources.RegisterVendor_Error_ApplicationID_Message </div>
        </div>
    }

    @*kiran on 8/25/2014*@
    @if (ViewBag.taxIdCountError != null && (Boolean)ViewBag.taxIdCountError)
    {
        <div class="errorMessage">@Resources.Common_error_taxidCount</div>
    }
    // Ends<<<

    @*kiran on 8/5/2014*@
    @if (ViewBag.isTaxIdExists != null && (Boolean)ViewBag.isTaxIdExists)
    {
        <div class="errorMessage">@Resources.Common_TaxId_ErrorMessage1 @ViewBag.VBTaxIdOrg. @Resources.Common_TaxId_ErrorMessage2</div>
    }
    @*Ends<<<*@

        @* Added on 23rd July *@
        @using (Html.BeginForm("EditVendor", "Companies", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.ValidationSummary(true)

            @Html.HiddenFor(model => model.OrganizationID)

            <div class="contentSub">
                <div class="rowTabsCompanies" style="width:auto;">
                    @*<label class="rowTabsLabel"></label>*@
                    @if (Model.OrganizationID > 0)
                    {
                        <table style="width:auto">
                            <tr>
                                <td>
                                    <div class="selectedTab" id="buttonTabOne" style="padding-left:4px;padding-right:4px">
                                        <input type="radio" id="Bi" value="true" />
                                        <label for="Bi" id="Business_Information_Label_Id" style="font-size:11pt">@Resources.Company_businessInfor</label>
                                    </div>
                                </td>

                                <td>
                                    <div class="unSelectedTab" id="buttonTabTwo" style="padding-left:4px;padding-right:4px">
                                        <input type="radio" id="Bi3" value="false" />
                                        <label for="Bi3" id="VendorArchivedDetails_Label_Id" style="font-size:11pt">@Resources.Company_ArchivedBusinessInfo</label>
                                    </div>
                                </td>
                                <td>
                                    <div class="unSelectedTab" id="paymentTab" style="padding-left:4px;padding-right:4px">
                                        <input type="radio" id="Bi4" value="false" />
                                        <label for="Bi4" id="Payments_Label_Id" style="font-size:11pt">@Resources.Payments</label>
                                    </div>
                                </td>
                                <td>
                                    <div class="unSelectedTab" id="buttonTabThree" style="padding-left:4px;padding-right:4px">
                                        <input type="radio" id="Bi1" value="false" />
                                        <label for="Bi1" id="Pre_Qualification_Label_Id" style="font-size:11pt">@Resources.Company_Prequalifications</label>
                                    </div>
                                </td>
                                <td>
                                    <div class="unSelectedTab" id="buttonTabFour" style="padding-left:4px;padding-right:4px">
                                        <input type="radio" id="Bi2" value="false" />
                                        <label for="Bi2" id="Delete_Company_Label_Id" style="font-size:11pt">@Resources.Company_deleteCompany</label>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    }
                    else
                    {
                        <table style="border-collapse:collapse; margin:0; padding:0;">
                            <tr>
                                <td>
                                    <div class="selectedTab" id="buttonTabOne">
                                        <input type="radio" id="Bi" value="true" />
                                        <label for="Bi" id="Business_Information_Label_Id">@Resources.Company_businessInfor</label>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    }
                </div>

                <div class="BusinessInformation_content">
                    <div class="rowRadioCheckbox noBorder">
                        <table border="0">
                            <tbody>
                                <tr>
                                    <td><label class="enableStar"> @Resources.Common_Label_stateType</label></td>
                                    <td> @Html.RadioButtonFor(model => model.CountryType, "0", new { id = "USA", onclick = "VendorRegistration.StateChange(0)" })</td>
                                    <td><label for="USA">@Resources.Common_StateType1</label></td>
                                </tr>
                                <tr>
                                    <td><label></label></td>
                                    <td>@Html.RadioButtonFor(model => model.CountryType, "1", new { id = "NonUSA", onclick = "VendorRegistration.StateChange(1)" })</td>
                                    <td><label for="NonUSA">@Resources.Common_StateType2</label></td>
                                </tr>
                                <tr><td colspan="3"><div class="alertStar">@Html.ValidationMessageFor(model => model.CountryType)</div></td></tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="rowIST" poptext="@Resources.AddOrEditClient_Name_hint">
                        <label class="enableStar">@Resources.Common_Label_LegalNameOfBusiness</label>
                        @Html.TextBoxFor(model => model.Name, new { maxlength = "200" })
                        <div class="alertStar">@Html.ValidationMessageFor(model => model.Name)</div>
                    </div>


                    @*Kiran on 8/5/2014*@
                    <div class="rowIST" poptext="@Resources.Common_Hint_TaxID">
                        <label class="enableStar">@Resources.Common_Label_taxid</label>
                        <input type="text" id="TaxID" name="TaxID" value="@Model.TaxID" />
                        @*@Html.TextBoxFor(rec => rec.TaxID, new { @maxlength = "11" })*@
                        <div class="alertStar">@Html.ValidationMessageFor(model => model.TaxID)</div>
                    </div>
                    @*Ends<<<*@
                    @*Kiran on 3/20/2014*@
                    <div class="rowIST">
                        <label class="enableStar">@Resources.Common_label_CompanyPrincipalName</label>
                        @Html.TextBoxFor(model => model.PrincipalCompanyOfficerName, new { maxlength = "200" })
                        <div class="alertStar">@Html.ValidationMessageFor(model => model.PrincipalCompanyOfficerName)</div>
                    </div>
                    @*Ends<<<*@

                    @*Kiran on 9/19/2014*@
                    <div class="rowIST" poptext="@Resources.Common_HintTextAddressLine1">
                        <label class="enableStar">@Resources.Common_Label_AddressLine1</label>
                        @Html.TextBoxFor(model => Model.Address1, new { maxlength = "200", style = "margin-bottom:8px;" })
                        <div class="alertStar">@Html.ValidationMessageFor(model => model.Address1)</div>
                    </div>
                    <div class="rowIST" poptext="@Resources.Common_hintTextAddressLine2">
                        <label>@Resources.Common_Label_AddressLine2</label>
                        @Html.TextBoxFor(model => Model.Address2, new { maxlength = "200" })
                    </div>

                    <div class="rowIST" poptext="@Resources.Common_hintTextAddressLine3">
                        <label>@Resources.Common_Label_AddressLine3</label>
                        @Html.TextBoxFor(model => Model.Address3, new { maxlength = "200" })
                    </div>
                    @*Ends<<<*@
                    <div class="rowIST" poptext="">
                        <label class="enableStar"> @Resources.Common_Label_City </label>
                        @Html.TextBoxFor(model => model.City, new { maxlength = "100" })
                        <div class="alertStar"> @Html.ValidationMessageFor(model => model.City) </div>
                    </div>
                    
                 
                    @*<div class="rowIST" poptext="">
                        <label class="enableStar">@Resources.Companies_FinancialMonth</label>
                        @Html.DropDownListFor(m => m.FinancialMonth, new[] {

                       new SelectListItem(){Text="Jan",Value="1"},
                       new SelectListItem(){Text="Feb",Value="2"},
                       new SelectListItem(){ Text = "Mar", Value = "3" },
                       new SelectListItem(){ Text = "Apr", Value = "4" },
                       new SelectListItem(){ Text = "May", Value = "5" },
                       new SelectListItem(){ Text = "Jun", Value = "6" },
                       new SelectListItem(){ Text = "Jul", Value = "7" },
                       new SelectListItem(){ Text = "Aug", Value = "8" },
                       new SelectListItem(){ Text = "Sep", Value = "9" },
                       new SelectListItem(){ Text = "Oct", Value = "10" },
                       new SelectListItem(){ Text = "Nov", Value = "11" },
                       new SelectListItem(){ Text = "Dec", Value = "12" },
                   }, "Select")
                       
                        <div class="alertStar"> @Html.ValidationMessageFor(model => model.FinancialMonth) </div>
                    </div>

                    <div class="rowIST" poptext="">
                        <label class="enableStar">@Resources.Companies_FinancialDate</label>
                        @Html.DropDownListFor(m => m.FinancialDate, new[] {

                       new SelectListItem(){Text="1",Value="1"},
                       new SelectListItem(){Text="2",Value="2"},
                       new SelectListItem(){ Text = "3", Value = "3" },
                       new SelectListItem(){ Text = "4", Value = "4" },
                       new SelectListItem(){ Text = "5", Value = "5" },
                       new SelectListItem(){ Text = "6", Value = "6" },
                       new SelectListItem(){ Text = "7", Value = "7" },
                       new SelectListItem(){ Text = "8", Value = "8" },
                       new SelectListItem(){ Text = "9", Value = "9" },
                       new SelectListItem(){ Text = "10", Value = "10" },
                       new SelectListItem(){ Text = "11", Value = "11" },
                       new SelectListItem(){ Text = "12", Value = "12" },
                       new SelectListItem(){ Text = "13", Value = "13" },
                       new SelectListItem(){ Text = "14", Value = "14" },
                       new SelectListItem(){ Text = "15", Value = "15" },
                       new SelectListItem(){ Text = "16", Value = "16" },
                       new SelectListItem(){ Text = "17", Value = "17" },
                       new SelectListItem(){ Text = "18", Value = "18" },
                         new SelectListItem(){ Text = "19", Value = "19" },
                         new SelectListItem(){ Text = "20", Value = "20" },
                         new SelectListItem(){ Text = "21", Value = "21" },
                         new SelectListItem(){ Text = "22", Value = "22" },
                         new SelectListItem(){ Text = "23", Value = "23" },
                         new SelectListItem(){ Text = "24", Value = "24" },
                         new SelectListItem(){ Text = "25", Value = "25" },
                         new SelectListItem(){ Text = "26", Value = "26" },
                         new SelectListItem(){ Text = "27", Value = "27" },
                         new SelectListItem(){ Text = "28", Value = "28" },
                         new SelectListItem(){ Text = "29", Value = "29" },
                         new SelectListItem(){ Text = "30", Value = "30" },
                         new SelectListItem(){ Text = "31", Value = "31" },
                   }, "Select")                       
                        <div class="alertStar"> @Html.ValidationMessageFor(model => model.FinancialDate) </div>
                    </div>*@
                   
                    <div class="rowIST" poptext="">
                        <label class="enableStar">@Resources.AddOrEditClient_Zip</label>
                        @Html.TextBoxFor(model => model.Zip, new { maxlength = "10" })
                        <div class="alertStar">@Html.ValidationMessageFor(model => model.Zip)</div>
                    </div>
                    <div class="rowIST" poptext="">
                        <label class="enableStar"> @Resources.Common_Label_Country </label>
                        @Html.DropDownListFor(x => Model.Country, (List<SelectListItem>)@ViewBag.Countries, new { @onchange = "VendorRegistration.GetCountryStates(" + 0 + ", false, $('#State'));VendorRegistration.GetCountryLanguages($('#Language'))" })
                        @*@Html.DropDownListFor(m => m.Country, new[] {
                            new SelectListItem() { Text = "", Value="" },
                            new SelectListItem() { Value = Resources.Common_NotApplicable, Text=Resources.Common_NotApplicable },
                            new SelectListItem() { Value = Resources.VendorReg_UnitedStates, Text=Resources.VendorReg_UnitedStates },
                            new SelectListItem() { Value = Resources.VendorReg_Canada, Text=Resources.VendorReg_Canada },}, new { id = "countryForUSA" })*@
                        @*@Html.TextBoxFor(rec => rec.Country, new { id = "countryForNonUSA", style = "display:none" })*@
                        <div class="alertStar"> @Html.ValidationMessageFor(model => model.Country) </div>
                    </div>

                    <div class="rowIST" poptext="">
                        <label class="enableStar"> @Resources.Common_Label_State </label>
                        @Html.DropDownListFor(m => m.State, (List<SelectListItem>)@ViewBag.States, new { id = "State" })
                        @*@Html.TextBoxFor(m => m.State, new { id = "stateForNonUSA", @style = "display:none" })*@
                        
                        <div class="alertStar"> @Html.ValidationMessageFor(model => model.State) </div>
                    </div>
                    <div class="rowIST">
                        <label class="enableStar">Language:</label>
                      @Html.DropDownListFor(m => m.Language, (List<SelectListItem>)@ViewBag.Languages, new { id = "Language" })
                        <div class="alertStar">@Html.ValidationMessageFor(model => model.Language)</div>
                    </div>
                   @if (@ViewBag.HasFinancialData)
                   {
                    @Html.HiddenFor(r => r.FinancialDate)
                    @Html.HiddenFor(r => r.FinancialMonth)
                    <div>
                        <div style="float:left;width:95%">
                            <div class="rowIST BgColor" poptext="" style="background-color:#cfbcbc">
                                <label class="enableStar">@Resources.Companies_FinancialMonth</label>
                                @Model.FinancialMonth
                            </div>
                            <div class="rowIST" poptext="" style="background-color:#cfbcbc">
                                <label class="enableStar">@Resources.Companies_FinancialDate</label>
                                @Model.FinancialDate
                            </div>
                        </div>
                        <div style="float:right;width:5%">
                            <img src="../images/edit.png" onclick="EditFinancialYear()" />
                        </div>
                    </div>
                   }
                   else
                   {
                        <div class="rowIST" poptext="">
                            <label>@Resources.Companies_FinancialMonth</label>
                            @Html.DropDownListFor(m => m.FinancialMonth, new[] {

                       new SelectListItem(){Text="Jan",Value="1"},
                       new SelectListItem(){Text="Feb",Value="2"},
                       new SelectListItem(){ Text = "Mar", Value = "3" },
                       new SelectListItem(){ Text = "Apr", Value = "4" },
                       new SelectListItem(){ Text = "May", Value = "5" },
                       new SelectListItem(){ Text = "Jun", Value = "6" },
                       new SelectListItem(){ Text = "Jul", Value = "7" },
                       new SelectListItem(){ Text = "Aug", Value = "8" },
                       new SelectListItem(){ Text = "Sep", Value = "9" },
                       new SelectListItem(){ Text = "Oct", Value = "10" },
                       new SelectListItem(){ Text = "Nov", Value = "11" },
                       new SelectListItem(){ Text = "Dec", Value = "12" },
                   }, "Select", new
                   {
                       id = "start_month",
                       @onchange = "updateMonth(this.value, 'start_day')"
                   })

                            <div class="alertStar"> @Html.ValidationMessageFor(model => model.FinancialMonth) </div>
                        </div>

                        <div class="rowIST" poptext="">
                            <label>@Resources.Companies_FinancialDate</label>
                            @Html.DropDownListFor(m => m.FinancialDate, new[] {

                       new SelectListItem(){Text="1",Value="1"},
                       new SelectListItem(){Text="2",Value="2"},
                       new SelectListItem(){ Text = "3", Value = "3" },
                       new SelectListItem(){ Text = "4", Value = "4" },
                       new SelectListItem(){ Text = "5", Value = "5" },
                       new SelectListItem(){ Text = "6", Value = "6" },
                       new SelectListItem(){ Text = "7", Value = "7" },
                       new SelectListItem(){ Text = "8", Value = "8" },
                       new SelectListItem(){ Text = "9", Value = "9" },
                       new SelectListItem(){ Text = "10", Value = "10" },
                       new SelectListItem(){ Text = "11", Value = "11" },
                       new SelectListItem(){ Text = "12", Value = "12" },
                       new SelectListItem(){ Text = "13", Value = "13" },
                       new SelectListItem(){ Text = "14", Value = "14" },
                       new SelectListItem(){ Text = "15", Value = "15" },
                       new SelectListItem(){ Text = "16", Value = "16" },
                       new SelectListItem(){ Text = "17", Value = "17" },
                       new SelectListItem(){ Text = "18", Value = "18" },
                         new SelectListItem(){ Text = "19", Value = "19" },
                         new SelectListItem(){ Text = "20", Value = "20" },
                         new SelectListItem(){ Text = "21", Value = "21" },
                         new SelectListItem(){ Text = "22", Value = "22" },
                         new SelectListItem(){ Text = "23", Value = "23" },
                         new SelectListItem(){ Text = "24", Value = "24" },
                         new SelectListItem(){ Text = "25", Value = "25" },
                         new SelectListItem(){ Text = "26", Value = "26" },
                         new SelectListItem(){ Text = "27", Value = "27" },
                         new SelectListItem(){ Text = "28", Value = "28" },
                         new SelectListItem(){ Text = "29", Value = "29" },
                         new SelectListItem(){ Text = "30", Value = "30" },
                         new SelectListItem(){ Text = "31", Value = "31" },
                   }, "Select", new { id = "start_day" })
                            <div class="alertStar"> @Html.ValidationMessageFor(model => model.FinancialDate) </div>
                        </div>
                    }
                    <div class="rowIST" poptext="@Resources.AddOrEditClient_Phone_Hint">
                        <label class="enableStar"> @Resources.Common_Label_Telephone </label>
                        @Html.TextBoxFor(model => model.PhoneNumber, new { maxlength = "30" }) @*Kiran on 8/26/2014*@
                        <div class="alertStar"> @Html.ValidationMessageFor(model => model.PhoneNumber) </div>
                    </div>
                    @*Kiran on 8/26/2014*@
                    <div class="rowIST" poptext="">
                        <label>@Resources.Common_label_ExtNumber</label>
                        @Html.TextBoxFor(model => Model.ExtNumber)
                    </div>
                    @*Ends<<<*@
                    <div class="rowIST" poptext="">
                        <label> @Resources.AddOrEditClient_Fax </label>
                        @Html.TextBoxFor(model => model.FaxNumber, new { maxlength = "30" }) @*Kiran on 8/26/2014*@
                        <div class="alertStar"></div>
                    </div>
                    <div class="rowIST" poptext=" @Resources.AddOrEditClient_Web_hint ">
                        <label> @Resources.AddOrEditClient_WebURL </label>
                        @Html.TextBoxFor(model => model.WebsiteURL, new { maxlength = "100" })
                        <div class="alertStar"> </div>
                    </div>
                    @*Kiran on 3/25/2014*@
                    <div class="rowIST">
                        <label class="enableStar">@Resources.AddOrEditClient_CopyAnswers</label>
                        @Html.DropDownListFor(model => model.CopyAnswers, new[] {
                   //new SelectListItem() { Text = "", Value = "" },
                    new SelectListItem() { Text = "Copy Answers", Value = "2" },
                    new SelectListItem() { Text = "Do Not Copy Answers", Value = "0"}})
                        <div class="alertStar"> @Html.ValidationMessageFor(model => model.CopyAnswers) </div>
                    </div>
                    @*Ends<<<*@
                    @*Kiran on 12/30/2013*@
                    <div class="rowIST">
                        <label>@Resources.Common_Label_RepresentativeName</label>
                        @Html.TextBoxFor(m => m.OrgRepresentativeName, new { maxlength = "150" })
                    </div>
                    <div class="rowIST">
                        <label>@Resources.Common_Label_RepresentativeEmail</label>
                        @Html.TextBoxFor(m => m.OrgRepresentativeEmail, new { maxlength = "150" })
                    </div>
                    <div class="rowIST">
                        <label>@Resources.Common_Label_InfusionSoftContactId</label>
                        @Html.TextBoxFor(m => m.OrgInfusionSoftContactId, new { maxlength = "100" })
                    </div>
                    <div class="rowIST">
                    <label>@Resources.GeographicArea</label>
                    @Html.ListBoxFor(m => m.GeographicArea, new MultiSelectList(@ViewBag.Regions, "Value", "Text"), new { size = 4,style ="height:50px" })
                    </div>
                    @*Ends*@

                    @* Added on 10th Aug *@
                    <div class="rowIST" poptext="">
                        <label> @Resources.Companies_selectLogo</label>
                        <input type="file" name="Logo" id="logo" data-val-required="*" data-val="false" accept="image/*" onchange="verifyImage(this)" />
                        <div class="alertStar"> </div>
                    </div>
                    <div class="rowIST" poptext="">
                        <label> @Resources.Companies_selectPhoto</label>
                        <input type="file" name="Photo" id="photo" data-val-required="*" data-val="false" accept="image/*" onchange="verifyImage(this)" />
                        <div class="alertStar"> </div>
                    </div>
                    @* Ends *@



                    <div class="pageFooterContent">
                        <div class="pageFooterButtons">
                            <table>
                                <tr>
                                    @if (Model.OrganizationID == -1)
                                    {
                                        <td>
                                            <button type="submit" class="PageFooter_Button" btntype="Insert">
                                                @Resources.Common_Save
                                            </button>
                                        </td>
                                        <td btntype="Insert">@Resources.Common_label_or</td>
                                    }
                                    else
                                    {
                                        <td>
                                            <button type="submit" class="PageFooter_Button" btntype="Update">
                                                @Resources.Common_Save
                                            </button>
                                        </td>
                                        <td btntype="Update">@Resources.Common_label_or</td>
                                    }
                                    <td>
                                        <div class="pageFooterCancelButton">
                                            <a href="../Companies/SearchCompany">@Resources.Common_Cancel</a>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    @*//to check radio button by default.. *@
                    <script type="text/javascript">
                        selectVendorClientRadio('@Model.OrganizationType');
                    </script>
                </div>


                @*//////////////////
                    //////// Prequalification*@
                <div class="PreQualification_content" style=" display:none;">
                    <div class="contentSub">
                        <div class="rowIST">
                            <div style="float:right;">
                                <button type="button" btntype="Insert" onclick="startPrequalification()">
                                    @*Rajesh on 4/4/2014*@
                                    @Resources.Common_AddNew
                                </button>
                            </div>
                        </div>
                    </div>
                    <div id="PrequalificationsList_id">
                        <script type="text/javascript">
                            updatePrequalifications('@Model.OrganizationID');
                        </script>
                    </div>
                </div>

                <div class="Payment_content" style=" display:none;">
                    <div id="PaymentsList_id">
                       
                        <div id="FeeCap_id"></div>
                        <div id="VendorOpenAmount_id"></div>
                        <div id="pqpaymentsList_id"></div>
                        <div id="QuizpaymentsList_id"></div>
                    </div>
                </div>
                <script type="text/javascript">
                   
                    EditVendor.GetPrequalificationPayments('@Model.OrganizationID', $("#pqpaymentsList_id"));
                    EditVendor.GetQuizPayments('@Model.OrganizationID', $("#QuizpaymentsList_id"), function () {
                        EditVendor.GetVendorOpenPeriods('@Model.OrganizationID', $("#FeeCap_id"), function () {
                            @*EditVendor.GetVendorOpenAmounts('@Model.OrganizationID', $("#VendorOpenAmount_id"));*@
                        });
                    });
                </script>

                @*///////////////////////////
                    //////////// Delete Company*@
                <div class="DeleteComp_content" style=" display:none;">
                    <div class="rowIST">
                        <p>
                            @Resources.Common_DeleteCompany_Message1
                        </p>
                        <p>@Resources.Common_DeleteCompany_Message2</p>
                    </div>

                    <div class="pageFooterContent">
                        <div class="pageFooterConfirmText">
                            <table>
                                <tr>
                                    <td> <input type="checkbox" id="ConfirmDelete" /> </td>
                                    <td> <label for="ConfirmDelete"> @Resources.Common_ConfirmDelete </label> </td>
                                </tr>
                            </table>
                        </div>

                        <div class="pageFooterContent">
                            <div class="pageFooterButtons">
                                <table>
                                    <tr>
                                        <td><button type="button" btntype="Delete" onclick="deleteCompany('@Model.OrganizationID')">@Resources.Common_Delete</button></td>
                                        <td btntype="Delete">@Resources.Common_label_or</td>
                                        <td><div class="pageFooterCancelButton"><a href="../Companies/SearchCompany">@Resources.Common_Cancel</a></div></td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="ArchiveVendor_Content" style=" display:none;">
                    @if (Model.VendorArchivedDetails != null && Model.VendorArchivedDetails.Count != 0)
                    {
                        <div class="contentSub">
                            <div class="vendorArchiveddetailsMain">
                                @foreach (var version in (List<ArchiveOrganizationDetailsViewModel>)Model.VendorArchivedDetails)
                                {
                                    <div class="vendorArchivedDetails">
                                        <div class="versionBar">
                                            <div class="versionBarHeader">
                                                <table width="709px;">
                                                    <tr>
                                                        <td width="40%">@Resources.Common_Label_Version @version.VersionNo</td>
                                                        <td width="40%">
                                                            <em>
                                                                @Resources.Common_Label_ChangedBy: @version.ChangedBy
                                                            </em>
                                                        </td>
                                                        <td style="width:20px">
                                                            <img src="../images/expandlist.png" style="margin-right:5px;cursor:pointer;" class="ExpandListButton">
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>

                                        </div>
                                        <div class="versionDataMain">
                                            <div class="versionChangedDate"><h4>@Resources.EditVendor_Label_ChangedOn @version.ChangedDateTime</h4></div>
                                            <div class="versionData">
                                                <label class="staticLabelForVendorArchivedDetails">@Resources.Common_Label_LegalNameOfBusiness</label>
                                                <label>@version.LegalNameOfBusiness</label>
                                            </div>
                                            <div class="versionData">
                                                <label class="staticLabelForVendorArchivedDetails">@Resources.Common_Label_Address1</label>
                                                <label>@version.Address1</label>
                                            </div>
                                            <div class="versionData">
                                                <label class="staticLabelForVendorArchivedDetails">@Resources.Common_Label_Address2</label>
                                                <label>@version.Address2</label>
                                            </div>
                                            <div class="versionData">
                                                <label class="staticLabelForVendorArchivedDetails">@Resources.Common_Label_City</label>
                                                <label>@version.City</label>
                                            </div>
                                            <div class="versionData">
                                                <label class="staticLabelForVendorArchivedDetails">@Resources.Common_Label_State</label>
                                                <label>@version.State</label>
                                            </div>
                                            <div class="versionData">
                                                <label class="staticLabelForVendorArchivedDetails">@Resources.EditVendor_Label_Zip</label>
                                                <label>@version.Zip</label>
                                            </div>
                                            <div class="versionData">
                                                <label class="staticLabelForVendorArchivedDetails">@Resources.Common_Label_Country</label>
                                                <label>@version.Country</label>
                                            </div>
                                            <div class="versionData">
                                                <label class="staticLabelForVendorArchivedDetails">@Resources.Common_Label_PhoneNumber</label>
                                                <label>@version.PhoneNumber</label>
                                            </div>
                                            <div class="versionData">
                                                <label class="staticLabelForVendorArchivedDetails">@Resources.Common_Label_FaxNumber</label>
                                                <label>@version.FaxNumber</label>
                                            </div>
                                            <div class="versionData">
                                                <label class="staticLabelForVendorArchivedDetails">@Resources.Common_Label_WebsiteURL</label>
                                                <label>@version.WebsiteUrl</label>
                                            </div>
                                            <div class="versionData">
                                                <label class="staticLabelForVendorArchivedDetails">@Resources.Common_Label_FederalID</label>
                                                <label>@version.FederalIdNumber</label>
                                            </div>
                                            <div class="versionData">
                                                <label class="staticLabelForVendorArchivedDetails">@Resources.Common_label_CompanyPrincipalName</label>
                                                <label>@version.PrincipalCompanyOfficerName</label>
                                            </div>
                                            <div class="versionData">
                                                <label class="staticLabelForVendorArchivedDetails">@Resources.Common_Label_taxid</label>
                                                <label>@version.TaxId</label>
                                            </div>
                                            <div class="versionData">
                                                <label class="staticLabelForVendorArchivedDetails">@Resources.Common_Label_RepresentativeName</label>
                                                <label>@version.OrgRepresentativeName</label>
                                            </div>
                                            <div class="versionData">
                                                <label class="staticLabelForVendorArchivedDetails">@Resources.Common_Label_RepresentativeEmail</label>
                                                <label>@version.OrgRepresentativeEmail</label>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="commentsItalic">
                            @Resources.Common_NoRecords
                        </div>
                    }
                </div>

            </div>
            <div class="dialogueBox" id="pop-up" style="display:none;position:absolute;">
                <p>
                </p>
            </div>
        }

    </body>
</html>
<script>
    var winPop = false;

    function EditFinancialYear() {

         if (winPop && !winPop.closed) {  //checks to see if window is open
             winPop.focus();
         }
         else {


             winPop = window.open("../Companies/EditFinancialMonthAndDate?OrganizationID=@Model.OrganizationID", "_blank", "toolbar=no,  directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=yes, width=650, height=400");
         }

     }</script>