﻿<!--//
****************************************************
Page Created Date:  06/26/2013  
Created By: Siva Bommisetty
Purpose:
Version: 1.0
****************************************************
-->

@using FVGen3.Domain.Entities;
@using Resources;

@model FVGen3.Domain.Entities.TemplateSectionsHeaderFooter
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Resources.Companies_HeaderFootersList</title>
</head>
<body>
    <div class = "page-subtitle"> <h2>@Resources.Common_Label_Content</h2> </div> 
    <div class="partialPage">
        
		<table>
            @if (@ViewBag.headerFootersOfTemplates != null && @ViewBag.headerFootersOfTemplates.Count != 0)
            {
                foreach (var headerFooter in @ViewBag.headerFootersOfTemplates)
                {
                    //if (!@headerFooter.AttachmentExist) // If attachment does not exist hide the edit and delete icons
                    {
                        if (!string.IsNullOrEmpty(@headerFooter.PositionTitle ))
                        {
                            <tr>
                                <td width="680">
                                    <label class="page-subtitle"><h3>  @headerFooter.PositionTitle </h3></label>
                                </td>
                            </tr>
                        }
                        <tr>
                            <td width="680">
                                    <label> @Html.Raw(@headerFooter.PostionContent) </label>
                                </td>
                                <td width="50">
                                    <div >
                                        <img class="imgCursor" src="~/images/edit.png" btnType="Update" onclick = "openAddHeadFootFromList('@headerFooter.TemplateSectionId', '@headerFooter.HeaderFooterId')"/>
                                    </div>
                                    <div class="Introduction_TD03_delete">
                                        <img class="imgCursor" src="~/images/DelButton.png" btnType="Delete" onclick = "deleteHeaderFooter('@headerFooter.HeaderFooterId')"/>
                                    </div>
                                </td>
                            @*</div>*@
                        </tr>
                    }
                    //else
                    if (@headerFooter.AttachmentExist)
                    {
                        
                        @*if (!string.IsNullOrEmpty(@headerFooter.PositionTitle ))
                        {
                            <tr>
                                <td width="680">
                                    <label class="page-subtitle"><h3>  @headerFooter.PositionTitle </h3></label>
                                </td>
                            </tr>
                        }*@
                        
                        
                        
                        <tr style="width:auto;border-bottom:1px solid #eee;height:auto;">
                            <td >
                                @*<label >  @headerFooter.PositionTitle </label>*@
                            
                                @foreach (var IntroDoc in @headerFooter.documents)
                                {
                                    var query = "DownloadDoc" + QueryStringModule.Encrypt("idAsFileName=" + @IntroDoc.DocumentId + "&userEnteredFilename=" + @HttpUtility.UrlEncode(@IntroDoc.DocumentName) + "&clientId=" + @IntroDoc.OrganizationId);
                                    <p>
                                        @*<a href="@query">@IntroDoc.DocumentName</a>*@
                                        <a href="#!" onclick="window.open('DownloadDoc?idAsFileName=@IntroDoc.DocumentId&userEnteredFilename=@HttpUtility.UrlEncode(@IntroDoc.DocumentName)&clientId=@IntroDoc.OrganizationId')">
                                            @IntroDoc.DocumentName
                                        </a>
                                    </p>
                                }
                            
                            </td>
                        </tr>
                    }
                }
            }
            else
            {
                <tr>
                    <td width="680">
                        <div class="commentsItalic">
                            @Resources.Companies_NoRecordsIntroContent  
                        </div>
                    </td>
                </tr>

            }
        </table>
    </div>
</body>
</html>
