﻿<!--
 *****************************************************
Page Created Date:  06/12/2013
Created By: Siva Bommisetty
Purpose:
Version: 1.0
****************************************************
-->
<link rel="stylesheet" href="../css/templatetool.css">
<link rel="stylesheet" href="../css/jquery-ui.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script>
  
    $(document).ready(function () {       
        $('.unlockInfo').focus(function () {
            //alert("SDFAS");
            debugger;
            var attr = $(this).attr('popText');

            // For some browsers, `attr` is undefined; for others,
            // `attr` is false.  Check for both.
            if (typeof attr !== 'undefined' && attr !== false) {
                $('div#pop-up').find('p').html($(this).attr('popText'));
                var top = ($(this).position().top);
                var left = $(this).position().left;
                $("div#pop-up").css('top', top).css('left', left - $("div#pop-up").width() - 50);
                $(this).css("background-color", "#b9d7f6");
                if ($(this).attr('popText') != "")
                    $('div#pop-up').show();
            }
        });
        $(".unlockInfo").focusout(function () {
            var attr = $(this).attr('popText');

            // For some browsers, `attr` is undefined; for others,
            // `attr` is false.  Check for both.
            if (typeof attr !== 'undefined' && attr !== false) {
                // ...
                $(this).css("background-color", "#FFF");
                $('div#pop-up').hide();
            }
        });
    });
</script>
@using Resources;

    <div class="partialPage">

        <div class = "page-subtitle"> <h2>@Resources.Companies_existingPrequals</h2> </div> 
            
         <table>
            
            @if (@ViewBag.prequalificationsList != null && @ViewBag.prequalificationsList.Count > 0)
            {
                foreach (var prequalification in @ViewBag.prequalificationsList)
                {
                    <tr>
                        <td >
                            @prequalification.Client.Name - @prequalification.PrequalificationStart.ToString("MM/dd/yyyy")
                        </td>
                        <td width="30px">
                            @if (prequalification.locked != null && prequalification.locked == true)
                            {
                                <img class="imgCursor" src="~/images/unlock.png" height="20px" width="20px" btntype="Update" onclick="unlockPrequalification('@prequalification.PrequalificationId', '@prequalification.VendorId','~/Companies/SearchCompany',$(this))" />
                            }
                            @if (prequalification.UnlockedBy != null)
                            {
                                var user = prequalification.UnlockedUser;
                                var UserName = "";
                                if (user.Contacts[0] != null)
                                {
                                    var contact = user.Contacts[0];
                                    UserName = "Un Locked By " + contact.FirstName + " " + contact.LastName + " On " + prequalification.UnlockedDate.ToString("MM-dd-yyyy");
                                }
                                <div class="unlockInfo" tabindex="-1" title="@UserName"><img class="imgCursor" src="~/images/info.png" height="20" width="20" /></div>
                            }
                        </td>
                        <td>
                            <img class="imgCursor" style="width: 20px" src="~/images/change.jpg" onclick="changePQTemplate('@prequalification.PrequalificationId','@prequalification.Client.Name - @prequalification.PrequalificationStart.ToString("MM/dd/yyyy")','@prequalification.ClientTemplateId')" />
                        </td>
                        <td >
                            <img class="imgCursor" src="~/images/DelButton.png" btnType="Delete" onclick = "deletePrequalification('@prequalification.PrequalificationId', '@prequalification.VendorId','~/Companies/SearchCompany')"/>
                        </td>
                    </tr>
                    if (!string.IsNullOrEmpty(@prequalification.Comments))
                    {
                        <tr><td colspan="4" style="padding-left: 30px;font-weight: 600;">
                            @prequalification.Comments
                        </td></tr>
                    }
                }
            }
            else
            {
                <tr>
                    <td>
                        <div class="commentsItalic">
                            @Resources.Common_NoRecords
                        </div>
                    </td>
                </tr>
            }                
        	
        </table> 

    </div>

<div class="dialogueBox" id="pop-up" style="display:none; position:absolute;">
    <p>
    </p>
</div>  