﻿<!--//
****************************************************
Page Created Date:  12/10/2013  
Created By: Siva Bommisetty
Purpose:
Version: 1.0
****************************************************
-->

@using FVGen3.Domain.Entities;
@using Resources;

@model FVGen3.Domain.Entities.TemplateSectionsHeaderFooter
@{
    Layout = null;
}

<style>
.TextEditorClass p,ul,ol
    {
        clear:both;
        /*word-break:break-all;*/
        padding:0; 
        font-size:14px;     
    }

</style>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Resources.Company_PrequalRequirementsListPartial</title>
</head>
<body>
    <div class = "page-subtitle"> <h2>@Resources.Common_Label_Content</h2> </div> 
    <div class="partialPage">
        
		<table>
            @if (@ViewBag.PrequalRequirementsList != null && @ViewBag.PrequalRequirementsList.Count != 0)
            {
                foreach (var requirement in @ViewBag.PrequalRequirementsList)
                {
                    //if (!@requirement.AttachmentExist) // If attachment does not exist hide the edit and delete icons
                    //{
                    if (!string.IsNullOrEmpty(@requirement.PositionTitle))
                    {
                            <tr>
                                <td width="680">
                                    <label class="page-subtitle"><h3>  @requirement.PositionTitle </h3></label>
                                </td>
                            </tr>
                        }
                        <tr>
                            <td width="680" class="TextEditorClass">
                                    <label> @Html.Raw(@requirement.PostionContent) </label>
                                </td>
                                <td width="50">
                                    <div >
                                        <img class="imgCursor" src="~/images/edit.png" btnType="Update" onclick = "openAddPrequalRequirementFromList('@requirement.HeaderFooterId')"/>
                                    </div>
                                    <div class="Introduction_TD03_delete">
                                        <img class="imgCursor" src="~/images/DelButton.png" btnType="Delete" onclick = "deletePrequalRequirement('@requirement.HeaderFooterId')"/>
                                    </div>
                                </td>
                            @*</div>*@
                        </tr>
                    //}
                    if (@requirement.AttachmentExist)
                    {

                        @*if (!string.IsNullOrEmpty(@requirement.PositionTitle))
                        {
                            <tr>
                                <td width="680">
                                    <label class="page-subtitle"><h3>  @requirement.PositionTitle </h3></label>
                                </td>
                            </tr>
                        }*@
                        
                        
                        <tr>
                            <td >
                                @foreach (var IntroDoc in @requirement.documents)
                {
                                    <p>
                                        <a href="#!" onclick="window.open('DownloadDoc?idAsFileName=@IntroDoc.DocumentId&userEnteredFilename=@HttpUtility.UrlEncode(@IntroDoc.DocumentName)&clientId=@IntroDoc.OrganizationId')">
                                            @IntroDoc.DocumentName
                                        </a>
                                    </p>
                                }
                            
                            </td>
                        </tr>
                    }
                }
            }
            else
            {
                <tr>
                    <td width="680">
                        <div class="commentsItalic">
                            @Resources.Companies_NoRecordsIntroContent  
                        </div>
                    </td>
                </tr>

            }
        </table>
    </div>
</body>
</html>
