﻿<!--
 *****************************************************
Page Created Date:  06/06/2013
Created By: Siva Bommisetty
Purpose:
Version: 1.0

Updated on: 4th Jul 2013
Changed class name of the title from 'PageTitle' to 'pagetitle'
Added ids and labels to check boxes
Added jquey library in head section
****************************************************
-->

@using FVGen3.Domain.Entities;
@using Resources;

@model FVGen3.Domain.Entities.LocalSearchCompany
@{
    ViewBag.Title = "Search Company";

    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="description" content="Client Dashboard - First, Verify"/>
    <meta name="viewport" content="width=device-width"/>
    

    <style type="text/css">
        .name {cursor:pointer;}
        .advance{cursor:pointer;}
        #progressbar .ui-progressbar-value {background-color: #ccc; padding-left:10px;}
    </style>
    
</head>

 <script type = "text/javascript">
     // For Roles and Permissions
     $(document).ready(function () {
         setPermissions('@ViewBag.ViewPermissions');

         //Added on 17th Aug 
         $('#spinner').click(function (e) {
             $(".spinnerOverlay").show();
             //alert('Search');
             e.preventDefault();
             $('.importSubmitSpinner').show();
         });
         //End of 17th Aug 
         //$("#CompanyName").on('keyup', function (e) {
         //    if (e.keyCode == 13) {
         //        searchCompany();
         //    }
         //});
     });
     // Ends<<< 
     
     function searchCompany() {
         $("#progressbar").html("@Resources.SearchClient_loading");

         var CompanyName = $("#CompanyName").val().trim(); // Kiran on 03/18/2015
         var typeClient = $("#typeClient").is(":checked");
         var typeVendor = $("#typeVendor").is(":checked");
         var typeAdmin = $("#typeAdmin").is(":checked");

         $.ajax({
             type: 'GET',
             url: 'GetCompanies',
             cache: false,
             contentType: "application/json; charset=utf-8",
             data: 'CompanyName=' + encodeURIComponent(CompanyName) + '&typeClient=' + typeClient + '&typeVendor=' + typeVendor + '&typeAdmin=' + typeAdmin,
             success: function (data) {
                 if (data.indexOf("Session expired") >= 0) {
                     window.location = "../SystemUsers/Login?lastLoginPage=" + window.location;
                 }
                 else {
                     $("#searchClient_ResultsBlock_id").html(data);

                     // For Roles and Permissions
                     setPermissions('@ViewBag.ViewPermissions');
                     // Ends<<< 
                 }

                 //Added on 17th Aug
                 $('.spinnerOverlay').hide();
                 $('.importSubmitSpinner').hide();
                 //End of 17th Aug

             },
             error: function () {
                 alert("@Resources.Common_unableToProcess");
                 //Added on 17th Aug
                 $('.spinnerOverlay').hide();
                 $('.importSubmitSpinner').hide();
                 //End of 17th Aug 
             }
         });
     }
</script>

<body>

    <div class = "contentSub">

        <table width="694" border="0">
            <tr>
                <td class="page-title">
                    <h2>@Resources.SearchClient_CompanySearch</h2>
                </td>
                <td align="right" valign="top">
                    <button type="button" btnType="Insert" onclick="document.location = '@Url.Action("AddNewCompany", "Companies", new { OrganizationID = -5, isSuccess = false })';">
                        @Resources.Common_AddNew
                    </button>
                </td>
            </tr>
        </table>

        @*@using (Html.BeginForm())*@
        @{
            <div class="rowIST">
                <label> @Resources.SearchClient_CompanyName </label>
                @Html.TextBoxFor(model => Model.CompanyName, new { @onkeydown = "if (event.keyCode == 13)spinner.click()" })
            </div>
            
            //Srinivas for radio and checkbox
            <div class="rowRadioCheckbox" >
                <table border="0">
                    <tr>
                        <td><label> @Resources.SearchClient_Type</label></td>
                        <td> @Html.CheckBoxFor(model => Model.typeClient)</td>
                        <td><label for="typeClient">@Resources.Common_Label_Client_SuperClient</label></td>
                    </tr>
                    <tr>
                        <td><label></label></td>
                        <td>@Html.CheckBoxFor(model => Model.typeVendor)</td>
                        <td><label for="typeVendor">@Resources.SearchClient_Vendor</label></td>
                    </tr>
                    <tr>
                        <td><label></label></td>
                        <td> @Html.CheckBoxFor(model => Model.typeAdmin)</td>
                        <td><label for="typeAdmin">@Resources.SearchClient_Admin</label></td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <button id="spinner" type="button" onclick = "searchCompany()"> 
                                @Resources.Common_Search 
                                </button>
                        </td>
                    </tr>
                </table>
             </div>
            
            //Added on 17th Aug
            <div class="spinnerOverlay" style="display:none;">
	            <img src="~/images/spinner.gif" width="28" height="28" class="importSubmitSpinner" alt="Spinner" />
            </div>
            //End of 17th Aug                 
                
            <div class="contentSub">
                <div id = "searchClient_ResultsBlock_id"> 
                </div>
            </div>
        }
    </div>

</body>
</html>
