﻿<!--
 *****************************************************
Page Created Date:  06/06/2013
Created By: Siva Bommisetty
Purpose:
Version: 1.0
****************************************************
-->

@using Resources;
@using FVGen3.WebUI.Constants;

<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
<body> 
    <style>#shape {
      position: relative;
      width: 12px;
      height: 12px;
    
      background: black;
     
      color: white;
      text-align: center;
     
    }</style>

    <div  class="partialPage">
        <div class = "page-subtitle"> <h2>@Resources.SearchClient_CompanyName</h2> </div>
        <div >
            <table>
                @if (@ViewBag.companiesList != null)
                {
                    if (@ViewBag.companiesList.Count != 0)
                    {
                        foreach (var company in @ViewBag.companiesList)
                        {

	                        <tr>
                                <td>
                                    <a href="#">
                                        @if (@company.OrganizationType == OrganizationType.Vendor)
                                        {
                                            var query = "EditVendor" + QueryStringModule.Encrypt("OrganizationID=" + @company.OrganizationID + "&isSuccess=false");
                                            
                                            <a href="@query">@company.Name</a>
                                            
                                            <img src="~/images/v_image.png" />
                                        }
                                        @if (@company.OrganizationType == OrganizationType.Client || @company.OrganizationType == OrganizationType.SuperClient)
                                        {
                                            var query = "EditClient" + QueryStringModule.Encrypt("OrganizationID=" + @company.OrganizationID + "&isSuccess=false");
                                            
                                            <a href="@query">@company.Name</a>
                                        if (@company.OrganizationType == OrganizationType.Client)
                                        {  <img src="~/images/c_image.png" />
                                        }
                                        else
                                        {
   
                                           <img id="shape" src="~/images/S_letter img.png" />

                                        }
                                        }
                                        @if (@company.OrganizationType == OrganizationType.Admin)
                                        {
                                            var query = "EditClient" + QueryStringModule.Encrypt("OrganizationID=" + @company.OrganizationID + "&isSuccess=false");
                                            
                                            <a href="@query">@company.Name</a>
                                            
                                            <img src="~/images/a_image.png" />
                                        }
                                    
                                    </a>
                                </td>
                            </tr>
                        
                        }
                    }
                    else
                    {
                        <tr>
                            <td>
                                <div class="commentsItalic">
                                    @Resources.Common_NoSearch
                                </div>
                            </td>
                        </tr>

                    }
                }
                else
                {
                    <tr>
                        <td>
                            <div class="commentsItalic">
                                @Resources.Common_NoSearch
                            </div>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    
</body>
</html>


