﻿<!--
 *****************************************************
Page Created Date:  05/18/2013
Created By: Kiran Talluri
Purpose:
Version: 1.0
****************************************************
-->

@{
    Layout = null;
}

@model FVGen3.Domain.Entities.LocalCompaniesList
@using Resources
<!DOCTYPE HTML>
<html>

<head>

<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=8"/>
<meta http-equiv="X-UA-Compatible" content="IE=9"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width"/>


<title>@Resources.CompaniesList_Title</title>
<link rel="stylesheet" href="~/css/common.css"/>        

</head> 

@Styles.Render("~/css/appPopUp.css")
@Styles.Render("~/css/appInnerPages.css")
@Scripts.Render("~/Scripts/jquery-1.9.1.min.js")
@Scripts.Render("~/js/common.js")     @*Kiran on 3/7/2014 *@
      

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>    
<script type="text/javascript">

        $(document).ready(function () {
            // Added code to call setPermissions() function on 08/07/2013 by Kiran Talluri
            setPermissions('@ViewBag.ViewPermissions');
            // Ends<<< 
        })

    </script>     

<body>
    
    @using (Html.BeginForm())
    {     
        @Html.HiddenFor(m => m.isEdit);
        @Html.HiddenFor(m => m.oldOrgId);
        @Html.HiddenFor(m => m.userId);                                        
                                                
    <div class="popUpContainer"> 
    	<div class="popUpContent">
            <div class="popUpSubContent"> 
                @if ((Boolean)@ViewBag.isCompanyExists)
                {
                    <div class="errorMessage">@Resources.CompaniesList_Error_Message</div>
                }
    
                @if ((Boolean)@ViewBag.roleNotSelected)
                {
                    <div class="errorMessage">@Resources.CompaniesList_Roles_Error_Message
                    </div>
                }

                <div class="page-title">
                    <h2>@Resources.CompaniesList_Heading</h2>
  	            </div>           
        
            <div class="rowPopUp">
                <table>
                    <tr>
                        <td><label>@Resources.Common_Label_Company</label></td>
                        @if (!@Model.isEdit)
                        {
                            <td>@Html.DropDownListFor(x => Model.OrganizationId, (IEnumerable<SelectListItem>)@ViewBag.VBorganizationsList)</td>
                        }
                            
                        @if (@Model.isEdit)
                        {
                            <td>@Html.DropDownListFor(x => Model.OrganizationId, (IEnumerable<SelectListItem>)@ViewBag.VBorganizationsList)</td>
                        }
                    </tr>  
                </table>            
            </div>

            <div class="rowPopUp" >                    
                <table>      
                    <tr>
                        <td class="page-subtitle">
                            <h2>@Resources.CompaniesList_UserRoles  </h2>
                        </td>
                    </tr>
                    @for (int i = 0; i < Model.RolesList.Count; i++)
                    {          
                        <tr>
                            <td>@Html.Label(Model.RolesList[i].RoleName)</td>
                            <td>@Html.CheckBoxFor(x => Model.Roles_CheckBoxStatus[i])</td>
                            <td>@Html.ValidationMessageFor(x => Model.Roles_CheckBoxStatus)</td>                                
                        </tr>
                    }                        
                </table>
            </div>
        </div>
        
        <div class="popUpSubContent">
            <div class="pageFooterContent">
                <div class="pageFooterButtons">              
                    <table>
                        <tr>   
                            @if ((Boolean)@Model.isEdit)
                            {
                                <td><button type="submit" btnType="Update">@Resources.Common_Save</button></td>                    
                                <td btnType="Update">@Resources.Common_label_or</td>                    
                            }
                            else
                            {
                                <td><button type="submit" btnType="Insert">@Resources.Common_Save</button></td>                    
                                <td btnType="Insert">@Resources.Common_label_or</td> 
                            }
                            <td><div class="pageFooterCancelButton"><a href="#!" onclick="window.close();">@Resources.Common_Cancel</a></div></td>                    
                        </tr>
                    </table>              
                </div>
            </div>
        </div>
        </div>
        </div>
    }             
</body>
</html>

