﻿<!--
 *****************************************************
Page Created Date:  08/08/2013
Created By: Kiran Talluri
Purpose:
Version: 1.0
****************************************************
-->

@using FVGen3.Domain.Entities;
@using Resources;
@model FVGen3.Domain.Entities.LocalAddClaycoBiddingInterest
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=8"/>
<meta http-equiv="X-UA-Compatible" content="IE=9"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width"/>


<title>@Resources.AddBiddingInterest_title</title>    
</head>

    @Styles.Render("~/css/appPopUp.css")
    @Styles.Render("~/css/appInnerPages.css")
    @Scripts.Render("~/Scripts/jquery-1.9.1.min.js")  
    @Scripts.Render("~/js/common.js")     @*Kiran on 3/7/2014 *@    

    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>    

    @* Added code to call setPermissions() function on 08/07/2013 by Kiran Talluri*@      
    <script type="text/javascript">

        $(document).ready(function () {
            setPermissions('@ViewBag.ViewPermissions');       
        });

        // Added on 8/22/2013 to stop form submission
        function biddingStatus(biddingStatus) {
            //alert(biddingStatus)
            if (biddingStatus == "True") {
                $("#BiddingStatus_Active").attr('checked', true);
            }
            else {
                $("#BiddingStatus_InActive").attr('checked', true);
            }
        }
        // Ends

                
    </script>
    @* Ends <<<*@

<body>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.isEdit)
    @Html.HiddenFor(model => model.BiddingInterestId)

    <div class="popUpContainer"> 
    	<div class="popUpContent">
            <div class="popUpSubContent"> 
                <div class="page-title">
                    <h2>@Resources.AddBiddingInterest_heading</h2>
                </div>

                    <div class="rowPopUp">
                        <table>
                            <tr>
                            <td><label class = "enableStarPopUp">@Resources.Common_label_name</label></td>
                            <td>
                                @Html.TextBoxFor(model => model.BiddingInterestName, new { @maxlength = "150" })                
                                <div class="alertStar">@Html.ValidationMessageFor(model => model.BiddingInterestName)</div>
                            </td>
                            </tr>
                        </table>
                    </div>
                <div class="rowPopUp">
                    <table>
                        <tr>
                            <td><label class="enableStarPopUp">@Resources.Code</label></td>
                            <td>
                                @Html.TextBoxFor(model => model.BiddingInterestCode, new { @maxlength = "10" })
                                <div class="alertStar">@Html.ValidationMessageFor(model => model.BiddingInterestCode)</div>
                            </td>
                        </tr>
                    </table>
                </div>

                    @*<div class="rowGeneric" style="float:left;">
                        <table style="margin-left:10px;">
                            <tr>
                               <td width="200">
                                    <label>@Resources.Common_label_Status</label>  
                                    
                                </td>
                                <td>
                                    <table>
                                        <tr>
                                            <td width="100">
                                                <input type="radio" name="Status" id="BiddingStatus_Active", value="True" />
                                                <label for="BiddingStatus_Active">@Resources.Common_label_Active</label>
                                            </td>
                                            <td width="100">
                                                <input type="radio" name="Status", id="BiddingStatus_InActive", value="false" />
                                                <label for="BiddingStatus_InActive">@Resources.Common_label_InActive</label>
                                            </td>                                             
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>*@

                    @*Srinivas for radio and Checkbox*@
                    
                    <div class="rowPopUpRadioCheckbox">
                        <table>
                            <tr>
                                <td><label style="width:113px;">@Resources.Common_label_Status</label></td>
                                <td><input type="radio" name="Status" id="BiddingStatus_Active", value="True" /></td>
                                <td><label for="BiddingStatus_Active" style="width:80px;">@Resources.Common_label_Active</label></td>
                                <td> <input type="radio" name="Status", id="BiddingStatus_InActive", value="false" /></td>
                                <td><label for="BiddingStatus_InActive">@Resources.Common_label_InActive</label></td>
                            </tr>
                        </table>
                    </div>

                   @*<<<<<<<<<<<<Srinivas*@
                     
                    <div class="rowPopUp">
                        <table>
                            <tr>
                                <td><label class="enableStarPopUp">@Resources.Sel_Lang</label></td>
                                <td>
                                    @Html.DropDownListFor(model => model.LanguageId, (IEnumerable<SelectListItem>)@ViewBag.Languages)
                                    <div class="alertStar">@Html.ValidationMessageFor(model => model.LanguageId)</div>
                                </td>
                            </tr>
                        </table>
                    </div>               
            </div>

            <div class="popUpSubContent">
                <div class="pageFooterContent"> 
            	    <div class="pageFooterButtons">
                	    <table>
                    	    <tr>
                            @if (@Model.isEdit)
                            {
                                <td><button type="submit" class="PageFooter_Button" btnType="Update">@Resources.Common_Save</button></td>
                                <td btnType="Update">@Resources.Common_label_or</td>
                            }
                            else
                            {
                                    <td><button type="submit" class="PageFooter_Button" btnType="Insert">@Resources.Common_Save</button></td>
                                <td btnType="Insert">@Resources.Common_label_or</td>
                            }
                                <td><div class="pageFooterCancelButton"><a href="#" onclick="window.close();">@Resources.Common_Cancel</a></div></td>
                            </tr>	
                            </table> 
                        </div>
                </div>  
            </div>    
        </div>
    </div>
                            //Added on 8/22/2013 to stop form submission
    <script type="text/javascript">
        biddingStatus('@Model.Status');
    </script>
    //Ends
}
</body>
</html>
