﻿<!--
 *****************************************************
Page Created Date:  11/05/2013
Created By: Kiran Talluri
Purpose:
Version: 1.0
****************************************************
-->

@using FVGen3.Domain.Entities;
@using Resources;
@model FVGen3.Domain.Entities.LocalAddDocumentType
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>

<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=8"/>
<meta http-equiv="X-UA-Compatible" content="IE=9"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width"/>

<title>@Resources.AddDocumentType_heading</title>

</head>

@Styles.Render("~/css/appPopUp.css")
@Styles.Render("~/css/appInnerPages.css")
@Scripts.Render("~/Scripts/jquery-1.9.1.min.js")
@Scripts.Render("~/js/common.js")     @*Kiran on 3/7/2014 *@      

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<script type="text/javascript">

    $(document).ready(function () {
        setPermissions('@ViewBag.ViewPermissions');       
    });
</script>

<body>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.isEdit)
    @Html.HiddenFor(model => model.DocumentTypeId)
    <div class="popUpContainer"> 
    	<div class="popUpContent">
            <div class="popUpSubContent"> 

                @if ((Boolean)@ViewBag.isDocumentTypeExists)
                {
                    <div class="errorMessage">@Resources.AddDocumentType_errormessage</div>
                }
                
                <div class="page-title">
                    <h2>@Resources.AddDocumentType_heading</h2>
                </div>

                    <div class="rowPopUp">
                        <table>
                            <tr>
                            <td><label class = "enableStarPopUp">@Resources.AddDocumentType_label_documentTypeName</label></td>
                            <td>
                                @Html.TextBoxFor(model => model.DocumentTypeName, new { @maxlength = "150" })                
                                <div class="alertStar">@Html.ValidationMessageFor(model => model.DocumentTypeName)</div>
                            </td>
                            </tr>
                        </table>
                    </div>

                    <div class="rowPopUp">
                	<table>
                    	<tr>
                        	<td><label>@Resources.AddDocumentType_label_hasExpiry</label></td>
                            <td><input type="checkbox" name="DocumentExpires" value="true"
                             @if (Model.DocumentExpires)
                            {
                                @:checked="checked"
                            }
                            />
                            </td>
                        </tr>
                    </table>
	           </div>

                <div class="rowPopUp">
                    <table>
                        <tr>
                            <td><label>@Resources.Restrict_Acess</label></td>
                            <td>
                                <input type="checkbox" name="RestrictAccess" value="true"
                                       @if (Model.RestrictAccess)
                                       { 
                                           @: checked="checked"
                                        } 
                                       />
                            </td>
                        </tr>
                    </table>
                </div>


            </div>

            <div class="popUpSubContent">
                <div class="pageFooterContent"> 
            	    <div class="pageFooterButtons">
                	    <table>
                    	    <tr>
                            @if (@Model.isEdit)
                            {
                                <td><button type="submit" class="PageFooter_Button" btnType="Update">@Resources.Common_Save</button></td>
                                <td btnType="Update">@Resources.Common_label_or</td>
                            }
                            else
                            {
                                <td><button type="submit" class="PageFooter_Button" btnType="Insert">@Resources.Common_Save</button></td>
                                <td btnType="Insert">@Resources.Common_label_or</td>
                            }
                                <td><div class="pageFooterCancelButton"><a href="#" onclick="window.close();">@Resources.Common_Cancel</a></div></td>
                            </tr>	
                            </table> 
                        </div>
                </div>  
            </div>    

        </div>
    </div>
}
</body>
</html>
