﻿@using FVGen3.Domain.Entities;
@using FVGen3.Domain.LocalModels;
@{
    ViewBag.Title = "AddDepartments";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}

 
<!DOCTYPE html>
<html>
<head>
   
    <style>
        html {
            font-size: 14px;
            font-family: Arial, Helvetica, sans-serif;
        }
     .k-grid-content { min-height:200px!important; }
     #filter{
         float: right;
    height: 40px;
    width: 40%;
     }
    </style>
  



</head>

<Script>
    $(document).ready(function () {
        Organization.GetClientOrgs(function (result) {
            Controls.FillDropdown(result, $("#ClientId"));
        })
        $("#SearchRecentDocs").on("click", function (e) {

            $("#listView").data("kendoGrid").dataSource.read();

        });
        $("#AddTemplate").kendoWindow({
            

            title: "Add",
            visible: false,
            modal: true,
            width: "400px"
        })
        $("#listView").kendoGrid({
            dataSource: new kendo.data.DataSource({
                type: "get",

                transport: {
                    type: 'post',
                    read: {
                        type: 'post',
                        url: "../SystemUsers/GetDepartments",

                        data: function (options) {
                            return Object.assign(getparams(), options.data);
                        }

                    },
                },
                schema: {
                    data: "Data",
                    total: "Total",
                },
                pageSize: 20,
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true

            }),
        sortable: false,
        pageable: true,
        
        pageable: {
            refresh: true,
           
        },  
        columns: [{

            field: "ClientName",
            title: "Client Name",
        }, 
        {

            field: "DepartmentName",
            title: "Department Name",
           
        }, {
            hidden: true,
            field: "Id",
            title: "Id",
            filterable: false,

        }
           
        , {
            width: "100px",
            template: "<a class=k-button k-button-icontext k-grid-edit onclick=\"EditDetails(#=Id#,'#=DepartmentName#',#=ClientId#)\">Edit</a>"

            //command: [
            //{
            //    name: "Edit",
            //    click: function (e) {
            //        e.preventDefault();
            //        // e.target is the DOM element representing the button
            //        var tr = $(e.target).closest("tr"); // get the current table row (tr)
            //        // get the data bound to the current table row
                   
            //        var td = $(e.target).closest("tr").find("td :first");
            //        var content = td.text();
            //        var id = $(e.target).closest("tr").find("td:nth-child(3)").text();
            //        if ($(e.target).closest("tr").find("td:nth-child(2)").find("a:first ").text() == "Update") {
            //            var Newvalue = $('#RemoveTextbox').val();
            //            if (Newvalue == "") {
            //                alert("Please enter the Department Name ");
            //                return;
            //            }
            //            ItemSubmited(id, Newvalue);
            //        }
            //            // command button click handler
            //            // var td = $(e.target).closest("tr").find("td :first");
            //        else {
            //            var a = $(e.target).closest("tr").find("td:nth-child(2)").find("a").text('Update');
            //            //  var content = td.text();
            //            //var content = td.find("a").html();
            //            td.html("<input type='text' id='RemoveTextbox'value=" + content + " onkeypress='return (event.keyCode != 13)'/> ");
            //        }// td.find("input").val(content);
            //    }
            //}
            //]
        }
        ], editable: true
  
       
        });
        $('#filter').on('input', function (e) {
            $("#listView").data("kendoGrid").dataSource.read();
                
            });
          //  grid.dataSource.filter(filter);
        });
   
    function Onclose() {
      
        $("#AddTemplate").data("kendoWindow").close();
    }
    function getparams() {
        var viewModel = kendo.observable({
            param: {
                filters: $('#filter').val()

            }

        });
        return JSON.parse(JSON.stringify(viewModel.param));
    }

    function UpdateDepartment(id){

        Post("../SystemUsers/UpdateDepartment", { Id: id, Name: $('#Departmentname').val(), ClientId: $('#ClientId').val() }, function (result) {
            if (result == "Sucess") {
                var grid = $("#listView").data("kendoGrid").dataSource.read();
                $("#AddTemplate").data("kendoWindow").close();

            }

        });
    }
   
    function EditDetails(Id,DepartmentName,ClientId)
    {
        $('#ClientId').prop("disabled", true);
        $("#Submitbtn").text('Edit');
        $("#Submitbtn").attr('onclick', 'UpdateDepartment(' + Id + ')');
        $('#ClientId').val(ClientId);
        $('#Departmentname').val(DepartmentName);
        $("#AddTemplate").data("kendoWindow").open().center();
       
    }
    function AddDepartment() {
        var DepartmentName = $('#Departmentname').val();
        if (DepartmentName == "") {
            alert("Please enter department name");
            return;
        }
        else {
            Post("../SystemUsers/AddDepartment", { Name: DepartmentName, ClientID: $('#ClientId').val() }, function (result) {
                if (result == "Sucess") {
                    var grid = $("#listView").data("kendoGrid").dataSource.read();
                    $("#AddTemplate").data("kendoWindow").close();
                }
                else { alert(result); }
            });

        }
    }
</Script>
<body>
    <div id="AddTemplate">
        <div class="rowIST" style="margin-left:20px;" popText>
            <label class="enableStar">@Resources.Resources.AddQuiz_label_client</label>
            @Html.DropDownList("ClientId", (new List<SelectListItem>()), new { style = "Width:80%;height:40px;" })

        </div>
        <div class="rowIST" style="margin-left:20px;">
            <label class="enableStar">@Resources.Resources.Dep_name</label>
            <input type="text" id="Departmentname" name="Departmentname" style="width: 80%;"/>
        </div>

        <button id="Submitbtn"onclick="AddDepartment()"style="margin:10px 20px">@Resources.Resources.Add</button><button onclick="Onclose()" style="margin:10px 20px">Cancel</button>
    </div>
    <button id="addBtn"><i class="fa fa-plus" aria-hidden="true"></i> Add New Department</button>
  @*<div>  <img src="~/images/searchquestionbank.png" style="float:right;height:25px;" id="SearchRecentDocs" /><input type="search" placeholder="Search Here ...." id="RecentDocsFilter" size="30" style="height:25px!important;float:right;" />

       </div>*@
    <input id='filter' class='k-textbox' placeholder="Search Here ...."/>
     <div id="listView" style="margin-top:40px;"></div>
  



       
  


</body>
</html>
<script>
 $("#addBtn").click(function () {
     debugger;
     $('#ClientId').prop("disabled", false);
     $('#ClientId').val('');
   $('#Departmentname').val('');
     $("#AddTemplate").data("kendoWindow").open().center();
 });</script>