﻿@using FVGen3.Domain.Entities;
@using FVGen3.Domain.LocalModels;

@{
    ViewBag.Title = "AddUsers";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}
 

<!DOCTYPE html>
<html>
<head>
    @Scripts.Render("~/js/jquery-1.9.1.min.js")
    <script src="~/Scripts/Application/User/ClientUserSetup.js"></script>
    <style>
           html {
               font-size: 14px;
               font-family: Arial, Helvetica, sans-serif;
           }

           .k-grid-content {
               min-height: 200px !important;
           }

           #filter {
               float: right;
               height: 40px;
               width: 40%;
           }

           .rowIST input[type='text'] {
               border: none;
           }
           /*.k-input{
            width:70%!important;
        }*/
    </style>




</head>

@*<Script>
    var UserEmails = []; 
    var UserIDs = [];
    var multiSelectWidget;
    var windowWidget;
    $(document).ready(function () {

        multiSelectWidget = $("#Users").kendoMultiSelect({
                dataTextField: "Name",
                dataValueField: 'UserId',
                filter: "contains",
                minLength: 3,
                separator: ", ",
                select: function (e) {

                    var dataItem = this.dataItem(e.item.index());
                    UserEmails.push(dataItem.Email);
                    UserIDs.push(dataItem.UserId);
                },

                dataSource: []
                    
                
        }).data("kendoMultiSelect");

    });


    $(document).ready(function () {
        Organization.GetClientOrgs(function (result) {
            Controls.FillDropdown(result, $("#ClientId"));
        })


        $("#SearchRecentDocs").on("click", function (e) {

            $("#listView").data("kendoGrid").dataSource.read();

        });
        windowWidget = $("#AddTemplate").kendoWindow({


            title: "Add",
            visible: false,
            modal: true,
            width: "600px"
        }).data("kendoWindow");
        $("#listView").kendoGrid({
            dataSource: new kendo.data.DataSource({
                type: "get",

                transport: {
                    type: 'post',
                    read: {
                        type: 'post',
                        url: "../SystemUsers/GetClientUsers",

                        data: function (options) {
                            return Object.assign(getparams(), options.data);
                        }

                    },
                },
                schema: {
                    data: "Data",
                    total: "Total",
                },
                pageSize: 20,
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true

            }),
        sortable: false,
        pageable: true,

        pageable: {
            refresh: true,

        },
        columns: [{

            field: "ClientName",
            title: "Client Name",
        },
        {
            hidden:true,
            field: "Id",

        },
        {

            field: "UsersEmails",
            title: "User Email's",

        }, {

            field: "UserNames",
            title: "Users",

        },
        {
            hidden: true,

            field: "ClientID",


        }, {
            hidden: true,

            field: "UserIds",


        },
        {
            width: "100px",
            template: "<i class='fa fa-edit'style='font-size: x-large;padding-right: 10px;' onclick=\"EditDetails(#=Id#,'#=UserIds#',#=ClientID#)\"></i><i class='fa fa-trash' aria-hidden='true'style='font-size: x-large;padding-right: 10px;color:red;' onclick=\"deleteDetails(#=Id#,#=ClientID#)\"></i>"

          }
        ], editable: false


        });
        $('#filter').on('input', function (e) {
            var length = $('#filter').val().length;
          //  if (length>=3 ||length ==0)
            $("#listView").data("kendoGrid").dataSource.read();

            });

        });

    function Onclose() {
        Resetdata();
        $("#AddTemplate").data("kendoWindow").close();
    }
    function getparams() {
        var viewModel = kendo.observable({
            param: {
                filters: $('#filter').val()

            }

        });
        return JSON.parse(JSON.stringify(viewModel.param));
    }

    function UpdateDetails(id){
        var dataItem = multiSelectWidget.dataItems();
        var userIDsArray = [];
        var useremails = [];
        for (i = 0; i < dataItem.length; i++)
        {
            userIDsArray.push(dataItem[i].UserId);
            useremails.push(dataItem[i].Email);
        }
        var userEmails = useremails.toString();
        var userIDs = userIDsArray.toString();

        Post("../SystemUsers/SaveClientInvitaionEmails", { ClientUserEmails: userEmails, UserIds: userIDs, ClientID: $('#ClientId').val(), Id: id }, function (result) {
            if (result == "Success") {
                Resetdata();
                var grid = $("#listView").data("kendoGrid").dataSource.read();
                $("#AddTemplate").data("kendoWindow").close();
            }
            else { Resetdata(); alert(result); }

        });

    }
    function deleteDetails(id,clientid)
    {
        var windowWidget = $("#AddTemplate").data("kendoWindow");

        var c = confirm("Do you want to delete this Invitation?")
        if (c) {
            kendo.ui.progress(windowWidget.element, true);
            $.ajax({
                type: 'GET',
                url: 'DeleteClient',
                data: 'Id=' + id,
                success: function (data) {

                    $("#listView").data("kendoGrid").dataSource.read();
                    kendo.ui.progress(windowWidget.element, false);
                },
                error: function (req, status, result) {
                    kendo.ui.progress(windowWidget.element, false);
                    alert("Unable to delete, Please contact administrator");

                }
            });
        }
    }
    function FillUserEmails(users) {
        debugger;
        $("#Users").data().kendoMultiSelect.value([]);
        Post("../SystemUsers/GetClientUsersData?ClientId=" + $('#ClientId').val(), {}, function (result) {
            var info = [];
            var selectedItems = [];
            for (i = 0; i < result.length; i++) {
                //$('#Users').append('<option value="' + data[i].UserId + '">' + data[i].Name + '</option>');
                if (users && $.inArray(result[i].UserId, users) > -1)
                    selectedItems.push({ Name: result[i].Name, UserId: result[i].UserId });
                //$("#Users_taglist").append('<li class="k-button" deselectable="on"><span deselectable="on">' + data[i].Name + '</span><span unselectable="on" aria-label="delete" class="k-select"><span class="k-icon k-i-close Delete"></span></span></li>');
                info.push({ Name: result[i].Name, UserId: result[i].UserId, Email:result[i].Email });
            }
            var dataSource = new kendo.data.DataSource({
                data: info
            });

            multiSelectWidget.setDataSource(dataSource);
            if (users)
                multiSelectWidget.value(users);
        });
        //$.ajax(
        //  {
        //      type: 'get',
        //      url: "../SystemUsers/GetClientUsers?ClientId= " +  $('#ClientId').val(),
        //      success: function (data) {
        //          var info = [];
        //          for (i = 0; i < data.length; i++) {
        //              //$('#Users').append('<option value="' + data[i].UserId + '">' + data[i].Name + '</option>');
        //              //if ($.inArray(data[i].UserId, users) > -1)

        //              //$("#Users_taglist").append('<li class="k-button" deselectable="on"><span deselectable="on">' + data[i].Name + '</span><span unselectable="on" aria-label="delete" class="k-select"><span class="k-icon k-i-close Delete"></span></span></li>');
        //              info.push({ Name: data[i].Name, UserId: data[i].UserId });
        //          }
        //          var dataSource = new kendo.data.DataSource({
        //              data: info
        //          });

        //          multiSelectWidget.setDataSource(dataSource);
        //          multiSelectWidget.trigger("change");
        //          //  $("#Users").data("kendoMultiSelect").value(Users);

        //      }

        //  })


    }
    function EditDetails(Id,UserIds,ClientId)
    {
        var dataItem = multiSelectWidget.dataItems();
        windowWidget.title('Edit');
        var users = UserIds.split(',');
        
        $('#ClientId').val(ClientId);
        FillUserEmails(users);
       
        $('#ClientId').prop("disabled", true);
       // $("#Submitbtn").text('Done');
        $("#Submitbtn").attr('onclick', 'UpdateDetails(' + Id + ')');
        $("#AddTemplate").data("kendoWindow").open().center();
        
       
      

    }
    function AddDetails() {

         FillUserEmails();
        var userEmails = UserEmails.toString();
        var userIDs = UserIDs.toString();
        var clientid=$('#ClientId').val();
        Post("../SystemUsers/SaveClientInvitaionEmails", { ClientUserEmails: userEmails, UserIds: userIDs, ClientID: clientid }, function (result) {
          if (result == "Success") {
              Resetdata();
              var grid = $("#listView").data("kendoGrid").dataSource.read();
              $("#AddTemplate").data("kendoWindow").close();
             // $("#ClientId option[value="+clientid+"]").hide();
                }
          else { Resetdata(); alert(result); }

            });


    }
    function Resetdata()
    {
      
        UserIDs.splice(0);
        UserEmails.splice(0);
    }
</Script>*@
<body>
<div class="page-title">
    <h2>@Resources.Resources.Invitations_CC_title</h2>
</div>
<div>
    <i><b style="color: red">@Resources.Resources.Invitations_CC_message </b></i>
</div><br/>
<input type="hidden" id="Type"name="Type"value="@ViewBag.Type"/>
<div id="AddTemplate">
    <div class="rowIST" style="margin-left: 20px;" popText>
        <label class="enableStar">@Resources.Resources.AddQuiz_label_client</label>
        @Html.DropDownList("ClientId", (new List<SelectListItem>()), new {style = "Width:80%;height:40px;", @onchange = "Resetdata();FillUserEmails();"})

    </div>
    <div class="rowIST" style="margin-left: 20px;">
        <label class="enableStar">@Resources.Resources.Dep_name</label>
        @*<input type="text" id="Users" name="Users" style="width:80%!important;"/>*@
        <select id="Users" style="width: 80%"></select>
    </div>

    <button id="Submitbtn" onclick="AddDetails()" style="margin: 10px 20px">Done</button><button onclick="Onclose()" style="margin: 10px 20px">Cancel</button>
</div>
<button id="addBtn" onclick="OpenKendoWindow()"><i class="fa fa-plus" aria-hidden="true"></i> @Resources.Resources.Add</button>
@*<div>  <img src="~/images/searchquestionbank.png" style="float:right;height:25px;" id="SearchRecentDocs" /><input type="search" placeholder="Search Here ...." id="RecentDocsFilter" size="30" style="height:25px!important;float:right;" />

        </div>*@
<input id='filter' class='k-textbox' placeholder="Search Here ...."/>
<div id="listView" style="margin-top: 40px;"></div>








</body>
</html>
@*<script>
    $("#addBtn").click(function () {
        
     FillUserEmails();
     windowWidget.title('Add');

   $('#ClientId').prop("disabled", false);
     $('#ClientId').val('');

    // $("#Submitbtn").text('Done');
     $("#Submitbtn").attr('onclick', 'AddDetails()');
     Resetdata();

     $("#AddTemplate").data("kendoWindow").open().center();
 });
</script>*@