﻿@using FVGen3.Domain.Entities;
@using FVGen3.Domain.LocalModels;
@model FVGen3.Domain.LocalModels.LocalEmailtemplateConfig
@{
    ViewBag.Title = "AddInvitationTemplates";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}


<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/appInnerPages.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/templatetool.css">
    <link rel="stylesheet" href="../css/assignUnits.css" />
    <link rel="stylesheet" href="../css/jquery-ui.css">
    <script src="../js/jquery-1.9.1.min.js"></script>
    <script src="../js/jquery-1.10.3.js"></script>
    <style>
        html {
            font-size: 14px;
            font-family: Arial, Helvetica, sans-serif;
        }
        #filter{
         float: right;
    height: 40px;
    width: 40%;
     }
         .k-grid-content { min-height:200px!important; }
       ul {
  list-style: none;
}
    </style>
  



</head>

<Script>
   
    $(document).ready(function () {
       
        var EmailID = 0;
        //Organization.GetClientOrgs(function (result) {
        //    Controls.FillDropdown(result, $("#ClientId"));
        //})
        Organization.GetClientOrgs(function (result) {
            Controls.FillDropdown(result, $("#Client"));
        })
    });
    $(document).ready(function () {
        $("#SearchRecentDocs").on("click", function (e) {

            $("#listView").data("kendoGrid").dataSource.read();

        });
        $("#EditTemplate").kendoWindow({
            height: "400px",

            title: "Edit",
            visible: false,
            modal: true,
            width: "400px"
        })
       
        $("#listView").kendoGrid({
            dataSource: new kendo.data.DataSource({
                type: "get",

                transport: {
                    type: 'post',
                    read: {
                        type: 'post',
                        url: "../SystemUsers/GetClientEmailTemplates",

                        data: function (options) {
                            return Object.assign(getparams(), options.data);
                        }

                    },
                },
                schema: {

                    data: "Data",
                    total: "Total",
                   
                },
                pageSize: 30,
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true

            }),
        sortable: false,
        pageable: true,
        
        pageable: {
            refresh: true,
           
        },
        columns: [{

            field: "ClientName",
            title: "Client Name",
            width:"150px"
           
        },
        {

            field: "TemplateName",
            title: "Email Template Name",
            width: "200px"
        },
        {

            field: "InvitationName",
            title: "Invitation Type",
            width: "100px"
        },
         { width: "100px",
            template: "<a class=k-button k-button-icontext k-grid-edit onclick=\"EditDetails(#=ID#,#=InvitationType#,#=EmailTemplateId#,#=ClientId#)\">Edit</a>"
        },
        { width: "100px",
            template: "<a class=k-button k-button-icontext k-grid-edit onclick=\"DeleteDetails(#=ID#)\">Delete</a>"
        }
        ]
  
       
        });
        $('#filter').on('input', function (e) {
            $("#listView").data("kendoGrid").dataSource.read();

        });
        
    });
    function EditDetails(ID,type,EmailTemplateId,ClientID)
    {
        $("#Submitbtn").text('Edit');
        $("#Submitbtn").attr('onclick', 'updateTemplate()');
        $("#EditTemplate").data("kendoWindow").title('Edit').open().center();
        $('#TemplateID').val(EmailTemplateId);
        $('#type').val(type);
        $('#Client').val(ClientID);
       EmailID = ID;

    }
    function getparams() {
        var viewModel = kendo.observable({
            param: {
                filters: $('#filter').val()

            }

        });
        return JSON.parse(JSON.stringify(viewModel.param));
    }

  
    function DeleteDetails(id)
    {
        var c = confirm("Do you want to delete this Invitation?")
        if (c) {
            Post("../SystemUsers/DeleteEmailTemplate", { ID: id, }, function (result) {
                if (result == "Success") {
                    $("#listView").data("kendoGrid").dataSource.read();

                }
            });
        }
    }
    function Onclose() {
        $("#EditTemplate").data("kendoWindow").close();
        //$("#AddTemplate").data("kendoWindow").close();
    }
    function updateTemplate()
    {
        debugger;
        var formData = new FormData();
        formData.append("TemplateID", $('#TemplateID').val());
        formData.append("type", $('#type').val());
        formData.append("ClientID", $('#Client').val());
        formData.append("EmailTemplateID", EmailID);
       
        $.ajax({
            type: "POST",
            url: "UpdateEmailTemplate",
            data:formData,
            cache: false,
            contentType: false,
            processData: false,

            success: function (response) {
                if (response == "Success") {
                    $("#listView").data("kendoGrid").dataSource.read();
                    $("#EditTemplate").data("kendoWindow").close();
                }
                else {
                    alert(response);
                }
            },
            error: function (error) {

            }
        });
       
    }
    function AddTemplate() {
        debugger;
        var formData = new FormData();
        
        formData.append("type", $('#type').val());
        formData.append("ClientID", $('#Client').val());
        formData.append("EmailTemplateID", $('#TemplateID').val());

        $.ajax({
            type: "POST",
            url: "AddEmailTemplate",
            data: formData,
            cache: false,
            contentType: false,
            processData: false,

            success: function (response) {
                if (response == "Success") {
                    $("#EditTemplate").data("kendoWindow").close();
                $("#listView").data("kendoGrid").dataSource.read();
            }
        else{alert(response);}
            },
            error: function (error) {

            }
        });

    }
   
</Script>
<body>
    <button id="addBtn"><i class="fa fa-plus" aria-hidden="true"></i> Add New</button>
    <input id='filter' class='k-textbox' placeholder="Search Here ...." /> 
    <div id="listView" style="margin-top:35px;"></div>
         

            <div id="EditTemplate">


                <div class="rowIST" style="margin-left:20px;" popText>
                    <label class="enableStar">@Resources.Resources.AddQuiz_label_client</label>
                    @Html.DropDownList("Client", (new List<SelectListItem>()), new { style = "Width:80%;height:40px;" })

                </div>
                <div class="rowIST tooldata" style="margin-left:20px;" popText>
                    <label class="enableStar">
                        @Resources.Resources.EmailTemplates_Title</label>
        @Html.DropDownList("TemplateID", (IEnumerable<SelectListItem>)@ViewBag.EmailTemplate, new { @style = "Width:80%;height:40px;" })

    </div>
        <div class="rowIST"style="margin-left:20px;" popText>
            <label class="enableStar">@Resources.Resources.Add_Invite_Type</label>
            @Html.DropDownList("type", (new List<SelectListItem>
       {
           new SelectListItem { Selected = true, Text = "All", Value = "-1"},
    new SelectListItem { Selected = false, Text = "New Invitation", Value = "0"},
    new SelectListItem { Selected = false, Text = "Expired Invitation", Value ="1" },
    new SelectListItem { Selected = false, Text = "Outside Invitation", Value = "2"},
}), new { style = "Width:80%;height:40px;" })


        </div>
        <button onclick="updateTemplate()" id="Submitbtn" style="margin:10px 35px">@Resources.Resources.Update</button><button onclick="Onclose()"  style="margin:10px 20px">@Resources.Resources.Common_Cancel</button>

    </div>

    
   
</body>
</html>
<script> $("#addBtn").click(function () {
     debugger;
     $("#Submitbtn").text('Add');
     $("#Submitbtn").attr('onclick', 'AddTemplate()');
     $("#EditTemplate").data("kendoWindow").title('Add').open().center();
 });</script>