﻿<!--
 *****************************************************
Page Created Date:  05/18/2013
Created By: Kiran talluri
Purpose:
Version: 1.0
****************************************************
Date: 7/10/2013 Added code to handle redirectory pages based on User type(Admin||Vendor||Client)
-->

@using FVGen3.Domain.Entities;
@model FVGen3.Domain.Entities.LocalAddNewUser
@using Resources
@{
    ViewBag.Title = "Add User";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

    <head>
        <meta http-equiv="Content-Type" content="text/html" charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta name="description" content="Client Dashboard - First, Verify"/>
        <meta name="viewport" content="width=device-width"/>
    </head>

    @Scripts.Render("~/js/common.js")
    @Scripts.Render("~/Scripts/jquery-1.9.1.min.js")
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>        
    @Styles.Render("~/Content/Site.css")    

    <script type="text/javascript">
        $(document).ready(function () 
        {
            var userValue = "";
            $("#DocumnetDiv").hide();
            $(document).ready(function () 
                {            
                     // Added code to call setPermissions() function on 08/07/2013 by Kiran Talluri
                    setPermissions('@ViewBag.ViewPermissions');
                    // Ends<<< 

//                     var inp = $('.input-validation-error:first').get(0);

//                    if (inp) {
//                        inp.focus();
//                    }

//                    //To check document type by default, and to get documentsList by default.

//                    $("#Admin").change(function () {  
//                        if($(this).is(":checked"))              
//                            adminType();
//                    });

//                     $("#Client").change(function () {   
//                        if($(this).is(":checked"))              
//                            clientType();
//                        });  
//                        
//                    $("#Vendor").change(function () {   
//                        if($(this).is(":checked"))              
//                            vendorType();
//                        });            
                });
        });

//        function adminType() 
//         {
//             $("#UserType").val("0");
//             getOrganizationsList("0");
//         }

//        function clientType() {

//            $("#UserType").val("1");
//            getOrganizationsList("1");
//        }

//        function vendorType() {

//            $("#UserType").val("2");
//            getOrganizationsList("2");
//        }

        // Kiran on 7/30/2014
        function GetDepartments()
        {
            debugger;
            $.ajax({
                url: "@Url.Action("GetClientDepartments", "SystemUsers")",
                data: { OrgId: $('#OrgID').val() },
            dataType: "json",
            type: "POST",
           
            success: function(data) 
            {                                    
                if (data.toString().indexOf("Session expired") >= 0) 
                {
                    window.location = "../SystemUsers/Login";
                }
                else 
                {
                    if(data.length == 1)
                    {
                        $("#DepartmentId").html("");
                    }
                    var items = "";
                    $.each(data, function(i, item) 
                    {                       
                        items += "<option value=\"" + item.Value + "\">" + item.Text + "</option>";                        
                    });
                     
                    $("#DepartmentId").html(items);
                }
            }
        });
        }
         function getOrganizationsList()
         {
            var userType = $("#UserType").val();

            if(userType =="")
            {
                $("#OrganizationId").html("<option value=''> Select Organization</option>");
                return;
            }
            $.ajax({
                url: "@Url.Action("getOrganizationsList", "SystemUsers")",
                data: {UserType:userType},
                dataType: "json",
                type: "POST",
                error: function() {
                    alert("An error occurred while fetching Organizations.");

                },
                success: function(data) 
                {                                    
                     if (data.toString().indexOf("Session expired") >= 0) 
                     {
                        window.location = "../SystemUsers/Login";
                     }
                     else 
                     {
                        if(data.length == 1)
                        {
                        $("#OrganizationId").html("");
                        }
                        var items = "";
                        $.each(data, function(i, item) 
                        {                       
                            items += "<option value=\"" + item.Value + "\">" + item.Text + "</option>";                        
                        });
                     
                        $("#OrganizationId").html(items);               
                    }
               }
           });
       }
       // Ends<<<
        function getOrganizations()
        {
            debugger;
            var userType = $("#UserTypeID").val();
            if (userType == "1")
            {
                $("#DocumnetDiv").show();
            }
            else {
                $("#DocumnetDiv").hide();
            }
            if(userType =="")
            {
                $("#OrgID").html("<option value=''> Select Organization</option>");
                return;
            }
            $.ajax({
                url: "@Url.Action("getOrganizationsList", "SystemUsers")",
                data: {UserType:userType},
            dataType: "json",
            type: "POST",
            error: function() {
                alert("An error occurred while fetching Organizations.");

            },
            success: function(data) 
            {                                    
                if (data.toString().indexOf("Session expired") >= 0) 
                {
                    window.location = "../SystemUsers/Login";
                }
                else 
                {
                    if(data.length == 1)
                    {
                        $("#OrgID").html("");
                    }
                    var items = "";
                    $.each(data, function(i, item) 
                    {                       
                        items += "<option value=\"" + item.Value + "\">" + item.Text + "</option>";                        
                    });
                     
                    $("#OrgID").html(items);
                    if (userType == "1") {

                        GetDepartments();
                    }
                }
            }
        });
        }
        function getOrganizationRoles()
        {
            var userType = $("#UserTypeID").val();
            if (userType == "")
            {
                $("#RoleID").html("<option value=''> Select Role</option>");
                return;
            }
            $.ajax({
                url: "@Url.Action("getOrganizationRoles", "SystemUsers")",
                data: {UserType:userType},
            dataType: "json",
            type: "POST",
            error: function() {
                alert("An error occurred while fetching Organization Roles.");

            },
            success: function(data) 
            {                                    
                if (data.toString().indexOf("Session expired") >= 0) 
                {
                    window.location = "../SystemUsers/Login";
                }
                else 
                {
                    if(data.length == 1)
                    {
                        $("#RoleID").html("");
                    }
                    var items = "";
                    $.each(data, function(i, item) 
                    {                       
                        items += "<option value=\"" + item.Value + "\">" + item.Text + "</option>";                        
                    });
                     
                    $("#RoleID").html(items);
                }
            }
        });
        }
//       function selectedItem(userType) {        
//        //alert(userType); 
//            
//            if(userType == 0)
//            {                
//               $("#Admin").attr('checked', true);
//               adminType();               
//            }
//            if(userType == 1)
//            {
//                $("#Client").attr('checked', true);
//                clientType();
//            }
//            if(userType == 2)
//            {
//                $("#Vendor").attr('checked', true);
//                vendorType();
//            }
//       }
    </script>    
   <Script>
    $(document).ready(function () {

       
        var window=$("#Location")
   
    sites = $(".Locations");
    
    sites.click(function () {
        // var ClientId=$("#OrganizationID").val();
        window.data("kendoWindow").open().center();

        sites.fadeOut();
    });
    function onClose() {
        $("#UserTypeID").val('');
        $('#LocFile').val('');
        $('#OrgID').val('');
        $('#RoleID').val('');
        $('#DepartmentId').val('');
        sites.fadeIn();
    }

    $("#Location").attr("style", "display:block");
   
    window.kendoWindow({
        width: "500px",
        minHeight: "200px",
        title: "",
        visible: false,
        actions: [

            "Close"
        ],
        close: onClose
    });
    });
    var regex = new RegExp("(.*?)\.(csv)$");
    function Closewindow()
    {
        $("#UserTypeID").val('');
        $('#LocFile').val('');
        $('#OrgID').val('');
        $('#RoleID').val('');
        $('#DepartmentId').val('');
        $("#Location").data("kendoWindow").close();
    }
    function SaveBulkUserData() {
        debugger;
        var formData = new FormData();
        if ($('#OrgID').val() == '') {
            alert("Please select the organization");
            return false;
        }
        if ($('#RoleID').val() == '') {
            alert("Please select the role");
            return false;
        }
        //if ($('#DepartmentId').val() == '' && $('#UserTypeID').val() == '1')
        //{
        //    alert("Please select the department");
        //    return false;
        //}
        var file = $('#LocFile')[0].files[0];
       
        if (file) {
            window.kendo.ui.progress($("#Location"), true);
            formData.append("OrgId", $('#OrgID').val());
            formData.append("RoleID", $('#RoleID').val());
            //formData.append("UserTypeID", $('#UserTypeID').val());
            formData.append("DepartmentId", $('#DepartmentId').val());
            formData.append("file", file);
           // var Template = $('#Templates').val();

            $.ajax({
                type: "POST",
                url: "BulkUserInsertion",
                data: formData,
                cache: false,
                contentType: false,
                processData: false,

                success: function (response) {
                    debugger;
                    window.kendo.ui.progress($("#Location"), false);
                   
                    Closewindow();
                    alert(response);

                },
                error: function (error) {

                }
            });
        }
        else {
            alert("Please select csv file");

        }
    }

   
                       </Script>
<body>
    
    @if ((Boolean)@ViewBag.isEmailExists)
    {
        <div class="errorMessage">@Resources.Common_Error_Email_Message</div>
    }

    @using (Html.BeginForm())
    {
        <div class="contentSub">
            <div>
    	        <div class="page-title">
                    <h2>@Resources.AddNewuser_Step1</h2>
		        </div>
                 @*Kiran on 7/30/2014*@
                @if (@Session["RoleName"].ToString().Equals("Admin"))
                {
                <div class="rowIST">
                    <button type="button" btnType="Insert" class="Locations" style="float:right;margin-top:2%"> Upload Users</button>
                    <label class="enableStar">@Resources.AddNewUser_label_Orgtype</label>
                    @if (@ViewBag.VBUserOrgTypes != null)
                    {
                    @Html.DropDownListFor(m => m.UserType, (IEnumerable<SelectListItem>)@ViewBag.VBUserOrgTypes, new { @onchange = "getOrganizationsList()" })
                    }
                    else
                    {
                        @Html.DropDownListFor(m => m.UserType, new List<SelectListItem>(), new { @onchange = "getOrganizationsList()" })
                    }  
                    <div class="alertText">@Html.ValidationMessageFor(model => model.UserType)</div>
                </div>
                }
                
                @if (@Session["RoleName"].ToString().Equals("Admin"))
                {
                    <div class="rowIST">
                        <label class="enableStar">@Resources.AddNewUser_label_company</label>
                        @if (@ViewBag.VBOrganizationsList != null)
                        {
                            @Html.DropDownListFor(x => Model.OrganizationId, (IEnumerable<SelectListItem>)@ViewBag.VBOrganizationsList)
                        }
                        else
                        {
                            @Html.DropDownListFor(x => Model.OrganizationId, new List<SelectListItem>()) 
                        }    
                        <div class="alertText">@Html.ValidationMessageFor(model => model.OrganizationId)</div>                
                    </div>
                }
                else
                {
                    <div class="rowIST">
                        <label class="enableStar">@Resources.AddNewUser_label_company</label>
                        @if (@ViewBag.VBOrganizationsList != null)
                        {
                            @Html.DropDownListFor(x => Model.OrganizationId, (IEnumerable<SelectListItem>)@ViewBag.VBOrganizationsList)
                        }
                        else
                        {
                            @Html.DropDownListFor(x => Model.OrganizationId, new List<SelectListItem>()) 
                        }    
                        <div class="alertText">@Html.ValidationMessageFor(model => model.OrganizationId)</div>                
                    </div>
                }
               @* Ends<<<*@

		        <div class="rowIST" popText ="">
        	        <label class="enableStar">@Resources.AddNewUser_Label_Email</label>
			        @Html.TextBoxFor(model => model.Email, new { @maxlength = "100" })
                    <div class="alertText">@Html.ValidationMessageFor(model => model.Email)</div>
                </div> 

		        <div class="rowIST" popText = "@Resources.RegisterVendor_Hint_Password">
			        <label class="enableStar">@Resources.Common_Label_Password</label>
			        @Html.PasswordFor(model => model.Password, new { autocomplete = "off", @maxlength = "20" })
                    <div class="alertText">@Html.ValidationMessageFor(model => model.Password)</div>
		        </div><!--Ven_Registration_line1-->

		        <div class="rowIST" popText = "@Resources.RegisterVendor_Hint_ConfirmPassword">
			        <label class="enableStar">@Resources.AddNewUser_Label_ConfirmPassword</label>
			        @Html.PasswordFor(model => model.ConfirmPassword, new { autocomplete = "off", @maxlength = "20" })
                    <div class="alertText">@Html.ValidationMessageFor(model => model.ConfirmPassword)</div>
                </div>
                <div class="dialogueBox" id="pop-up" style="display:none; position:absolute;">
            <p>        
            </p>
        </div>    
            

                @*<div class="Add_New_User_line1" popText = "@Resources.AddNewUser_Hint_ConfirmPassword">

			        <label class="Add_New_User_enablestar">User Organization Type:</label>
			        @Html.PasswordFor(model => model.ConfirmPassword, new { autocomplete = "off" })
                    <div class="Add_New_User_alert">@Html.ValidationMessageFor(model => model.ConfirmPassword)</div>
                </div> *@

@*                @if (@Session["RoleName"].ToString().Equals("Admin"))
                {
                    <div class="rowGeneric" style="float:left;">
                        <table>
                            <tr>
                               <td width="295">
                                    <label>@Resources.AddNewUser_label_Orgtype</label>  
                                    Added code for stopping form submission on 8/17/2013 by Kiran talluri
                                </td>
                                <td>
                                    <table>
                                        <tr>
                                            <td width="100">
                                            <input type="radio" name="UserType" id="Admin" value="0" />
                                            <label for="Admin">@Resources.AddNewUser_label_admin</label>
                                            </td>
                                            <td width="100">
                                            <input type="radio" name="UserType" id="Client" value="1" />
                                            <label for="Client" >@Resources.AddNewUser_label_client</label>
                                            </td>
                                            <td width="100">
                                            <input type="radio" name="UserType" id="Vendor" value="2" />
                                            <label for="Vendor" >@Resources.AddNewUser_label_vendor</label>                   
                                            </td>   
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                         Ends <<< 
                    </div>
                }
                
                <div class="rowIST">
                    <label class="enableStar">@Resources.AddNewUser_label_company</label>
                    @if (@ViewBag.VBOrganizationsList != null)
                    {
                        @Html.DropDownListFor(x => Model.OrganizationId, (IEnumerable<SelectListItem>)@ViewBag.VBOrganizationsList)
                    }
                    else
                    {
                        @Html.DropDownListFor(x => Model.OrganizationId, new List<SelectListItem>()) 
                    }    
                    <div class="alertStar">@Html.ValidationMessageFor(model => model.OrganizationId)</div>                
                </div>
*@            </div> 

            <div class="contentSub">
               <div class="pageFooterContent"> 
                    <div class="pageFooterButtons">
                        <table>
                            <tr>
                                <td><button type="submit" btnType="Insert" class="PageFooter_Button">@Resources.Common_Nextlink_text</button></td>
                                <td btnType="Insert">@Resources.Common_label_or</td>
                                <td><div class="pageFooterCancelButton">
                                 @if (@Session["RoleName"].ToString().Equals("Admin"))
                                 {
                                    @Html.ActionLink(@Resources.Common_Cancel, "../SystemUsers/SearchUser")
                                 }
                                 else
                                 {
                                     @Html.ActionLink(@Resources.Common_Cancel, "../Client/ClientOrVendorUsersList")
                                 }
                                
                                </div></td>
                            </tr>	
                        </table> 
                    </div>
                </div>


            </div>
        </div>
    @*}*@
        @*@using (Html.BeginForm("BulkUserInsertion", "SystemUsers", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {*@
            <div id="Location" style="display:none;">
                <div class="rowIST">
                    <label>@Resources.AddNewUser_label_Orgtype</label>
                    @Html.DropDownList("UserTypeID", (IEnumerable<SelectListItem>)@ViewBag.VBUserOrgTypes, new { @onchange = "getOrganizations();getOrganizationRoles();" })<br />
                </div>
                <div class="rowIST">
                    <label> @Resources.AddNewUser_label_company</label>
                    @if (@ViewBag.VBOrganizationsList != null)
                    {
                        @Html.DropDownList("OrgID", (IEnumerable<SelectListItem>)@ViewBag.VBOrganizationsList,new
                        { @onchange = "GetDepartments()" })
                    }
                    else
                    {
                        @Html.DropDownList("OrgID", new List<SelectListItem>(), new { @onchange = "getOrganizationRoles();GetDepartments()" })

                   }
                    <br />
                </div>
                <div class="rowIST">
                    <label>@Resources.CompaniesList_UserRoles</label>
                    @if (@ViewBag.Roles != null)
                                {
                                    @Html.DropDownList("RoleID", (IEnumerable<SelectListItem>)@ViewBag.Roles)
                    }
                    else
                    {
                        @Html.DropDownList("RoleID", new List<SelectListItem>())

                    }
                     <br />
                </div>
                <div class="rowIST" id="DocumnetDiv" >
                    <label>@Resources.Department</label>
                    @Html.DropDownList("DepartmentId", new List<SelectListItem>())
                    </div>
                <div class="rowIST">
                    <label>@Resources.Add_File</label>
                    <input type="file" name="txtFile" id="LocFile" class="required" accept=".csv" onchange='triggerValidation(this)' /><br />
                </div> @*<input id="csvFileInput" type="file" accept=".png" onchange='triggerValidation(this)'>*@
                <div class="pageFooterButtons">
                    <button style="margin-right:20px;margin-left:30px" onclick="SaveBulkUserData()">@Resources.Common_Submit</button>
                    <button onclick="Closewindow()">Cancel</button>
                </div>
            </div>
        }
 

   @* @if (@Session["RoleName"].ToString().Equals("Admin"))
    {
        if (Model != null)
        {
        <script>
            
                selectedItem('@Model.UserType');
        </script>
        }
        else
        {
            <script>

                selectedItem('0');
            </script>
        }
    }
    else
    {
        if (Model != null)
        {
        <script>

            selectedItem('@Model.UserType');
        </script>
        }
        else
        {
            <script>

                selectedItem('1');
            </script>
         }       
    }*@
    
</body>
</html>

<script>
    function triggerValidation(el) {
        debugger;
        if (!(regex.test(el.value.toLowerCase()))) {
            el.value = '';
            alert('Please select csv file format');
        }

    }

</script>
