﻿<!--
 *****************************************************
Page Created Date:  08/08/2013
Created By: Kiran Talluri
Purpose:
Version: 1.0
****************************************************
-->

@using FVGen3.Domain.Entities;
@using Resources;
@model FVGen3.Domain.Entities.LocalAddProficiencyCapability
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=8"/>
<meta http-equiv="X-UA-Compatible" content="IE=9"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width"/>


<title>@Resources.Add_Capacity</title>

@Styles.Render("~/css/appPopUp.css")
@Styles.Render("~/css/appInnerPages.css")
@Scripts.Render("~/Scripts/jquery-1.9.1.min.js")
@Scripts.Render("~/js/common.js")     @*Kiran on 3/7/2014 *@      

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>   
</head>
    
<script  type="text/javascript">
    $(document).ready(function () {
        $("#ProficiencyCategoryName").change(function () {
            var categoryValue = $(this).val();
            categoryValue = $.trim(categoryValue);
            
            $('#ProficiencyCategory option').each(function () {
                if (this.value.toUpperCase() == categoryValue.toUpperCase()) {

                    alert("Category already exists");
                    $("#ProficiencyCategoryName").val("");
                    return false;
                }
            });
        });

        $("#ProficiencySubCategoryName").change(function () {
            var subCategoryValue = $(this).val();
            subCategoryValue = $.trim(subCategoryValue);

            $('#ProficiencySubCategory option').each(function () {

                if (this.value.toUpperCase() == subCategoryValue.toUpperCase()) {

                    alert("Sub Category already exists");
                    $("#ProficiencySubCategoryName").val("");
                    return false;
                }
            });
        });
    });
</script>
<script type="text/javascript">

    $(document).ready(function () {
        setPermissions('@ViewBag.ViewPermissions');
    });

    // Added on 11/09/2013 to display status
    function proficiencyStatus(proficiencyStatus) {
        //alert(biddingStatus)
        if (proficiencyStatus == "True") {
            $("#ProficiencyStatus_Active").attr('checked', true);
        }
        else {
            $("#ProficiencyStatus_InActive").attr('checked', true);
        }
    }
    // Ends<<

        
    function categoryChanged()
    {
        var proficiencyCategoryId = $("#ProficiencyCategory").val();
        if (proficiencyCategoryId == "OTHERS") 
        {
            $('#ProficiencyCategory_div').show();
            getSubCategoriesList(); 
        }
        else 
        {                
            $('#ProficiencyCategory_div').hide();
            getSubCategoriesList(); 
        }
    }

    function subCategoryChanged()
    {
        var proficiencySubCategoryId = $("#ProficiencySubCategory").val();
        if(proficiencySubCategoryId == "OTHERS")
        {
                $('#ProficiencySubCategory_div').show();
        }
        else {                
            $('#ProficiencySubCategory_div').hide();
        }
    }

    function getSubCategoriesList()
        {
            var Category = $("#ProficiencyCategory").val();
            var isEdit = $("#isEdit").val();
            var ProficiencyId = $("#ProficiencyId").val();
        $.ajax({
            type: 'Post',
            url: 'getSubCategories',
            data: '&Category=' + encodeURIComponent(Category) + '&isEdit=' + isEdit + '&ProficiencyId=' + ProficiencyId,               
            success: function(data) 
            {
                $('#ProficiencySubCategory').empty();
                $('#ProficiencySubCategory').append(newOption);
                for (var i = 0; i < data.length; i++) {
                    var dataLocation = data[i].Text;
                    var dataLocationId = data[i].Value;
                    var newOption = $('<option value="' + dataLocationId + '">' + dataLocation + '</option>');
                    $('#ProficiencySubCategory').append(newOption);
                }
                subCategoryChanged();
            },
            error: function () {
                console.trace();
                //alert("An error occured while fetching locations, Sesion expiried");
            }
        });
    }

</script>

<body>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ProficiencyId)
    @Html.HiddenFor(model => model.isEdit)
    <div class="popUpContainer"> 
    	<div class="popUpContent">
            <div class="popUpSubContent"> 
                <div class="page-title">
                    <h2>@Resources.AddProficiencyCapability_heading</h2>
                </div>

                <div class="rowPopUp">
                    <table>
                        <tr>
                            @if (@ViewBag.VBProficiencyCapabilities.Count != 0)
                            {    
                                <td><label>@Resources.AddProficiencyCapability_label_Category</label></td>
                                <td>
                                    @Html.DropDownListFor(model => model.ProficiencyCategory, (IEnumerable<SelectListItem>)@ViewBag.VBCategoriesList, new { @onchange = "categoryChanged()" })
                                </td>
                            }
                            else
                            { 
                                <td><label>@Resources.AddProficiencyCapability_label_Category</label></td>
                                <td>
                                    @Html.TextBoxFor(model => model.ProficiencyCategoryName)
                                    <div class="alertStar">@Html.ValidationMessageFor(model => model.ProficiencyCategoryName)</div>
                                </td>                                
                            }
                        </tr>
                    </table>
                </div>

                <div class="rowPopUp" id="ProficiencyCategory_div">
                    <table>
                        <tr>
                            <td><label></label></td>
                            <td>
                                @Html.TextBoxFor(model => model.ProficiencyCategoryName)
                                <div class="alertStar">@Html.ValidationMessageFor(model => model.ProficiencyCategoryName)</div>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="rowPopUp" id="Subcategory">
                    <table>
                        <tr>
                            <td><label>@Resources.AddProficiencyCapability_label_SubCategory</label></td>
                            <td>                                                               
                                @Html.DropDownListFor(model => model.ProficiencySubCategory, new SelectList(new[] { "" }), new { @onchange = "subCategoryChanged()" })                                                                                                    
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="rowPopUp" id="ProficiencySubCategory_div">
                    <table>
                        <tr>
                            <td><label></label></td>
                            <td>
                                    @Html.TextBoxFor(model => model.ProficiencySubCategoryName)
                                    <div class="alertStar">@Html.ValidationMessageFor(model => model.ProficiencySubCategoryName)</div>
                               
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="rowPopUp">
                    <table>
                        <tr>
                            <td><label class="enableStarPopUp">@Resources.AddProficiencyCapability_label_ProficiencyName</label></td>
                            <td>
                                @* sumanth on 10/31/2015 for FVOS-105 to limit text box value added max length value *@
                                @if (ViewBag.HasPQ)
                                {
                                    @Html.HiddenFor(model => model.ProficiencyName)
                                    @Model.ProficiencyName
                                }
                                else
                                {
                                    @Html.TextBoxFor(model => model.ProficiencyName, new {@maxlength = "200"})
                                    <div class="alertStar">@Html.ValidationMessageFor(model => model.ProficiencyName)</div>
                                }
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="rowGeneric" style="float:left;">
                        <table>
                            <tr>
                               <td>
                                    <label>@Resources.Common_label_Status</label>                                      
                                </td>

                                <td>
                                    <table>
                                        <tr>
                                            <td width="100">
                                                <input type="radio" name="Status" id="ProficiencyStatus_Active", value="True" />
                                                <label for="ProficiencyStatus_Active">@Resources.Common_label_Active</label>
                                            </td>
                                            <td width="100">
                                                <input type="radio" name="Status", id="ProficiencyStatus_InActive", value="false" />
                                                <label for="ProficiencyStatus_InActive">@Resources.Common_label_InActive</label>
                                            </td>                                             
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>



                <div class="popUpSubContent">
                    <div class="pageFooterContent"> 
            	        <div class="pageFooterButtons">
                	        <table>
                    	        <tr>
                                @if (@Model.isEdit)
                                {
                                    <td><button type="submit" class="PageFooter_Button" btnType="Update">@Resources.Common_Save</button></td>
                                    <td btnType="Update">@Resources.Common_label_or</td>
                                }
                                else
                                {
                                        <td><button type="submit" class="PageFooter_Button" btnType="Insert">@Resources.Common_Save</button></td>
                                    <td btnType="Insert">@Resources.Common_label_or</td>
                                }
                                    <td><div class="pageFooterCancelButton"><a href="#" onclick="window.close();">@Resources.Common_Cancel</a></div></td>
                                </tr>	
                                </table> 
                            </div>
                    </div>  
                </div> 

            </div>
        </div>
    </div>
}
<script>
    categoryChanged();
    getSubCategoriesList();
    proficiencyStatus('@Model.Status');
</script>
</body>
</html>
