﻿
@using FVGen3.Domain.Entities;
@using FVGen3.Domain.LocalModels;

@{
    ViewBag.Title = "AddPowerBiPermissions";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    @Scripts.Render("~/js/jquery-1.9.1.min.js")
    <script src="~/Scripts/Application/Report/PowerBiReportPermissions.js"></script>
    <style>
        html {
            font-size: 14px;
            font-family: Arial, Helvetica, sans-serif;
        }

        .k-grid-content {
            min-height: 200px !important;
        }

        #filter {
            float: right;
            height: 40px;
            width: 40%;
        }

        .k-multiselect-clearable .k-multiselect-wrap {
            height: 100%;
            padding-right: 0;
        }

        .k-dateinput.k-state-disabled > .k-textbox:hover, .k-maskedtextbox.k-state-disabled > .k-textbox:hover, .k-multiselect.k-header, input.k-textbox, textarea.k-textbox {
            width: 85% !important;
            height: 40px;
        }

        .k-multiselect.k-header {
            width: 85%;
        }

        .rowIST input[type='text'] {
            border: none;
        }
        .k-input{
            width:70%!important;
        }
    </style>
    @*<script>
        var UserEmails = [];
        var UserIDs = [];
        var multiSelectWidget;
        var windowWidget;
        var type;
        $(document).ready(function () {

            multiSelectWidget = $("#Users").kendoMultiSelect({
                dataTextField: "Name",
                dataValueField: 'UserId',
                filter: "contains",
                minLength: 3,
                separator: ", ",
                select: function (e) {

                    var dataItem = this.dataItem(e.item.index());
                    UserEmails.push(dataItem.Email);
                    UserIDs.push(dataItem.UserId);
                },

                dataSource: []


            }).data("kendoMultiSelect");




        });


        $(document).ready(function () {





            windowWidget = $("#AddTemplate").kendoWindow({


                title: "Add",
                visible: false,
                modal: true,
                width: "600px"
            }).data("kendoWindow");
            $("#listView").kendoGrid({
                dataSource: new kendo.data.DataSource({
                    type: "get",

                    transport: {
                        type: 'post',
                        read: {
                            type: 'post',
                            url: "../SystemUsers/GetPowerBiUsers",

                            data: function (options) {
                                return Object.assign(getparams(), options.data);
                            }

                        },
                    },
                    schema: {
                        data: "Data",
                        total: "Total",
                    },
                    pageSize: 20,
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true

                }),
                sortable: false,
                pageable: true,

                pageable: {
                    refresh: true,

                },
                columns: [{

                    field: "ReportName",
                    title: "ReportName",
                },
                {
                    hidden: true,
                    field: "ReportId",

                },
                {

                    field: "PermissionType",
                    hidden: true
                },

                {

                    field: "OrgId",
                    hidden: true
                }
                ,
                {

                    field: "PermissionTo",
                    title: "Organization Type"
                }, {

                    field: "OrgName",
                    title: "Organization",
                },
                {
                    hidden: true,
                    field: "ID",

                }, {

                    field: "Users",
                    title: "Users",

                },
                {
                    hidden: true,

                    field: "OrgId",


                }, {
                    hidden: true,

                    field: "UserId",


                },
                {
                    width: "100px",
                    template: "<i class='fa fa-edit'style='font-size: x-large;padding-right: 10px;' onclick=\"EditDetails(#=ID#,'#=UserId#',#=OrgId#,'#=PermissionType#',#=ReportId#)\"></i><i class='fa fa-trash' aria-hidden='true'style='font-size: x-large;padding-right: 10px;color:red;' onclick=\"deleteDetails(#=ID#)\"></i>"

                }
                ], editable: false


            });
            $('#filter').on('input', function (e) {
                var length = $('#filter').val().length;
                //  if (length>=3 ||length ==0)
                $("#listView").data("kendoGrid").dataSource.read();

            });

        });

        function Onclose() {
            Resetdata();
            $("#AddTemplate").data("kendoWindow").close();
        }
        function getparams() {
            var viewModel = kendo.observable({
                param: {
                    filters: $('#filter').val(),
                    Type: type
                }

            });
            return JSON.parse(JSON.stringify(viewModel.param));
        }

        function UpdateDetails(id) {
            var dataItem = multiSelectWidget.dataItems();
            var userIDsArray = [];
            for (i = 0; i < dataItem.length; i++) {
                userIDsArray.push(dataItem[i].UserId);
            }
            var userIDs = userIDsArray.toString();
            Post("../SystemUsers/PostPowerBiUsersData", { UserIds: userIDs, OrgId: $('#OrganizationId').val(), Id: id, Type: $('#PermissionType').val(), ReportId: $('#ReportId').val() }, function (result) {
                if (result == "Success") {
                    Resetdata();
                    var grid = $("#listView").data("kendoGrid").dataSource.read();
                    $("#AddTemplate").data("kendoWindow").close();
                }
                else { Resetdata(); alert(result); }

            });



        }
        function deleteDetails(id) {
            var windowWidget = $("#AddTemplate").data("kendoWindow");

            var c = confirm("Do you want to delete this Permission?")
            if (c) {
                kendo.ui.progress(windowWidget.element, true);
                $.ajax({
                    type: 'GET',
                    url: 'DeletePowerBiUserPermission',
                    data: 'Id=' + id,
                    success: function (data) {

                        $("#listView").data("kendoGrid").dataSource.read();
                        kendo.ui.progress(windowWidget.element, false);
                    },
                    error: function (req, status, result) {
                        kendo.ui.progress(windowWidget.element, false);
                        alert("Unable to delete, Please contact administrator");

                    }
                });
            }
        }

        function FillUserEmails(users) {
            debugger;

            $("#Users").data().kendoMultiSelect.value([]);
            if ($('#OrganizationId').val() == "") { $('#UsersDiv').hide(); return; }
            else {
                $('#UsersDiv').show();
                Post("../SystemUsers/GetOrganizationUsers?OrgId=" + $('#OrganizationId').val(), {}, function (result) {
                    var info = [];
                    var selectedItems = [];
                    for (i = 0; i < result.length; i++) {
                        if (users && $.inArray(result[i].UserId, users) > -1)
                            selectedItems.push({ Name: result[i].Name, UserId: result[i].UserId });
                        info.push({ Name: result[i].Name, UserId: result[i].UserId, Email: result[i].Email });
                    }
                    var dataSource = new kendo.data.DataSource({
                        data: info
                    });

                    multiSelectWidget.setDataSource(dataSource);
                    if (users)
                        multiSelectWidget.value(users);
                });
            }
        }
        function EditDetails(Id, UserIds, orgId, Type, ReportId) {
            debugger;
            var dataItem = multiSelectWidget.dataItems();
            $('#ReportId').prop("disabled", true);
            windowWidget.title('Edit');
            $('#OrganizationId').empty();
            var users = UserIds.split(',');
            $('#PermissionType').val(Type);
            if (Type != 0) {
                Organization.GetOrgs(Type, function (result) {
                    Controls.FillDropdown(result, $("#OrganizationId"));
                    $('#OrganizationId').val(orgId);
                    if (orgId != null) {
                        FillUserEmails(users);
                        $('#UsersDiv').show();
                    }
                    else {
                        $('#UsersDiv').hide();
                    }
                })
            }
            else {
                $('#OrgDiv').hide();
                $('#UsersDiv').hide();
            }
            $('#ReportId').val(ReportId);
            $("#Submitbtn").attr('onclick', 'UpdateDetails(' + Id + ')');
            $("#AddTemplate").data("kendoWindow").open().center();
        }
        function AddDetails() {
            var userEmails = UserEmails.toString();
            var userIDs = UserIDs.toString();
            var userIDs = UserIDs.toString();
            var OrgId = $('#OrganizationId').val();
            var ReportId = $('#ReportId').val();
            Post("../SystemUsers/PostPowerBiUsersData", { UserIds: userIDs, OrgId: $('#OrganizationId').val(), Type: $('#PermissionType').val(), ReportId: ReportId }, function (result) {
                if (result == "Success") {
                    Resetdata();
                    var grid = $("#listView").data("kendoGrid").dataSource.read();
                    $("#AddTemplate").data("kendoWindow").close();
                }
                else { Resetdata(); alert(result); }

            });
        }
        function Resetdata() {
            $('#PermissionType').val('');
            $('#OrganizationId').empty();
            UserIDs.splice(0);

        }
        function OpenKendoWindow() {
            $('#PermissionType').prop("disabled", false);
            $('#OrganizationId').prop("disabled", false);
            $('#ReportId').prop("disabled", false);
            $('#OrgDiv').hide();
            $('#UsersDiv').hide();

            windowWidget.title('Add');

            $('#OrganizationId').prop("disabled", false);
            $('#OrganizationId').val('');
            $("#Submitbtn").attr('onclick', 'AddDetails()');
            Resetdata();

            $("#AddTemplate").data("kendoWindow").open().center();
        };
        function GetOrgs(Type) {
            $('#OrganizationId').empty();
            if (Type != "0") {
                $('#OrgDiv').show();

                Organization.GetOrgs(Type, function (result) {
                    Controls.FillDropdown(result, $("#OrganizationId"));
                    //if ($("#OrganizationId").val() == "") {
                    //    $('#UsersDiv').hide();
                    //}
                    //else {
                    //    $('#UsersDiv').show();
                    //}

                })

            }
            else {
                $('#OrgDiv').hide();
                $('#UsersDiv').hide();
            }
        }
    </script>*@



</head>


<body>
    <div class="page-title">
        <h2>@Resources.Resources.Power_bi_Heading</h2>
    </div>

    <div id="AddTemplate">
        <div class="rowIST" style="margin-left: 20px;" popText>
            <label class="enableStar">@Resources.Resources.Report_Name</label>
            @Html.DropDownList("ReportId", (List<SelectListItem>)@ViewBag.VBReportsList, new { style = "Width:80%;height:40px;" })


        </div>
        <div class="rowIST" style="margin-left: 20px;" popText>
            <label>@Resources.Resources.AddNewUser_label_Orgtype</label>
            @Html.DropDownList("PermissionType", new[] {

                       new SelectListItem(){Text="All",Value="0"},
                       new SelectListItem(){Text="Admin",Value="1"},
                       new SelectListItem(){ Text = "Client", Value = "2" },
                       new SelectListItem(){ Text = "Vendor", Value = "3" },

                   }, new
                   {
                       style = "Width:80%;height:40px;",
                       @onchange = "GetOrgs(this.value)"
                   })
        </div>
        <div class="rowIST" id="OrgDiv" style="margin-left: 20px;" popText>
            <label class="enableStar">@Resources.Resources.AddNewUser_label_company</label>
            @Html.DropDownList("OrganizationId", (new List<SelectListItem>()), new { style = "Width:80%;height:40px;", @onchange = "FillUserEmails();" })

        </div>

        <div style="margin-left: 20px;display:none;" id="UsersDiv">
            <label for="Users" style="width 100%!important;min-height:24px;height:auto;padding:2px 10px 0px 0;letter-spacing:0.1px;color:#999999;font-size:14px;">@Resources.Resources.Common_Users</label>

            <select id="Users" style="width: 80%"></select>
        </div>
        <div style="margin:10px 0;float:right;">
            <button id="Submitbtn" onclick="AddDetails()" >@Resources.Resources.Common_button_text</button><button onclick="Onclose()" style="margin-left:5px;">@Resources.Resources.Common_Cancel</button>

        </div></div>
    <button id="addBtn" onclick="OpenKendoWindow()"><i class="fa fa-plus" aria-hidden="true"></i> @Resources.Resources.Add</button>

    @*<input id='filter' class='k-textbox' placeholder="Search Here ...." />*@
    <div id="listView" style="margin-top: 40px;"></div>

</body>
</html>
