﻿<!--
 *****************************************************
Page Created Date:  10/1/2015
Created By: Rajesh Pendela
Purpose:
Version: 1.0
****************************************************

-->

@using FVGen3.Domain.Entities;
@model FVGen3.Domain.Entities.LocalAddNewUser
@using Resources
@{
    ViewBag.Title = "Assign Roles";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}


  <head>
        <meta http-equiv="Content-Type" content="text/html" charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta name="description" content="Client Dashboard - First, Verify"/>
        <meta name="viewport" content="width=device-width"/>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    @Scripts.Render("~/js/common.js")
    @Scripts.Render("~/Scripts/jquery-1.9.1.min.js")
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>        
    @Styles.Render("~/Content/Site.css")    
    @Styles.Render("~/Content/AppinnerPages.css")    
<script type="text/javascript">
    $(document).ready(function () 
    {
        var userValue="";
        $(document).ready(function () {    
            setPermissions('@ViewBag.ViewPermissions');
            
                $('form').submit(function (e) {
                   var SuperUsersCount=$('input[ptype="Super User"]:checked').size();
                   if(SuperUsersCount==0)
                   {
                        alert("There should be one \"Super User\"");
                        return false;
                   }
                   else if(SuperUsersCount>1)
                   {
                        alert("Only one \"Super User\" is allowed.");
                        return false;
                   }
                   var flag=true;
                   $(".UserPermissions").each(function(){
                        if($(this).find('input[type="checkbox"]:checked').size()==0)
                        {
                            
                            flag=false;
                             return;
                        }
                   });
                   if(flag==false)
                   {
                        alert("Every user should have at least one role");
                   }
                   return flag;
                });

        });
    });
    function GetUsersWithPermissions()
    {
        var OrgId = $("#OrganizationId").val();
       if(OrgId=="")
       {
            $("#UsersData").html("");
            $("#DoneButton").hide();
            return;
       }

        $.ajax({
                url: "@Url.Action("GetUsersWithPermissions", "SystemUsers")",
                data: {OrgId:OrgId},
                type: "POST",
                error: function() {
                    alert("An error occurred while fetching Organizations.");

                },
                success: function(data) 
                {                         
                     $("#UsersData").html(data);
                     $("#DoneButton").show();

                     if(data.indexOf("commentsItalic")!=-1)
                        $("#DoneButton").hide();
                }
           });
    }
      function getOrganizationsList()
         {
            $("#UsersData").html("");
            $("#DoneButton").hide();
            
            var userType = $("#UserType").val();

            if(userType =="")
            {
                $("#OrganizationId").html("<option value=''> Select Organization</option>");
                return;
            }
            $.ajax({
                url: "@Url.Action("getOrganizationsList", "SystemUsers")",
                data: {UserType:userType},
                dataType: "json",
                type: "POST",
                error: function() {
                    alert("An error occurred while fetching Organizations.");

                },
                success: function(data) 
                {                                    
                     if (data.toString().indexOf("Session expired") >= 0) 
                     {
                        window.location = "../SystemUsers/Login";
                     }
                     else 
                     {
                        if(data.length == 1)
                        {
                        $("#OrganizationId").html("");
                        }
                        var items = "";
                        $.each(data, function(i, item) 
                        {                       
                            items += "<option value=\"" + item.Value + "\">" + item.Text + "</option>";                        
                        });
                     
                        $("#OrganizationId").html(items);               
                    }
               }
           });
       }
</script>
<style>
    .tableFixHead {
        overflow-y: auto;
        height: 100px;
    }

        .tableFixHead thead th {
            position: sticky;
            top: 0;
        }

    /* Just common table stuff. Really. */
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 8px 16px;
    }

    th {
        background: #eee;
    }
</style>
<body>
    
  
   
        <div class="contentSub">
        <div>
            @if (@ViewBag.Message != null && ViewBag.Message == "Ok")
            {
               <p class="successMessage"> Changes have been saved successfully</p>
            }
        </div>
            <div>
                
                @if (@Session["RoleName"].ToString().Equals("Admin"))
                {
                    <div class="rowIST">
                    <label class="enableStar">@Resources.AddNewUser_label_Orgtype</label>
                    @if (@ViewBag.VBUserOrgTypes != null)
                    {
                    @Html.DropDownListFor(m => m.UserType, (IEnumerable<SelectListItem>)@ViewBag.VBUserOrgTypes, new { @onchange = "getOrganizationsList()" })
                    }
                    else
                    {
                        @Html.DropDownListFor(m => m.UserType, new List<SelectListItem>(), new { @onchange = "getOrganizationsList()" })
                    }  
                    <div class="alertText">@Html.ValidationMessageFor(model => model.UserType)</div>
                </div>
                }
                
                @if (@Session["RoleName"].ToString().Equals("Admin"))
                {
                    <div class="rowIST">
                        <label class="enableStar">@Resources.AddNewUser_label_company</label>
                        @if (@ViewBag.VBOrganizationsList != null)
                        {
                            @Html.DropDownListFor(x => Model.OrganizationId, (IEnumerable<SelectListItem>)@ViewBag.VBOrganizationsList, new { @onchange = "GetUsersWithPermissions()" })
                        }
                        else
                        {
                            @Html.DropDownListFor(x => Model.OrganizationId, new List<SelectListItem>(), new { @onchange = "GetUsersWithPermissions()" }) 
                        }    
                        <div class="alertText">@Html.ValidationMessageFor(model => model.OrganizationId)</div>                
                    </div>
                }
                else
                { 
                    <div class="rowIST">
                        <i class="ion-ios-gear fas fa-circle"></i> <label class="enableStar">@Resources.AddNewUser_label_company</label>
                        @if (@ViewBag.VBOrganizationsList != null)
                        {
                            @Html.DropDownListFor(x => Model.OrganizationId, (IEnumerable<SelectListItem>)@ViewBag.VBOrganizationsList)
                        }
                        else
                        {
                            @Html.DropDownListFor(x => Model.OrganizationId, new List<SelectListItem>()) 
                        }    
                        <div class="alertText">@Html.ValidationMessageFor(model => model.OrganizationId)</div>                
                    </div>
                }
               @* Ends<<<*@
            </div> 
          
        </div>

           @using (Html.BeginForm())
           {
               <div class="contentSub">
                   <div id="UsersData" class="permissionChkBoxes2 tableFixHead" style="height:700px;width:120%">

                   </div>

                   <button type="submit" id="DoneButton" style="display: none;">Done</button>
               </div>
           }


</body>
