﻿<!--
Page Created Date:  08/08/2013
Created By: Kiran Talluri
Purpose:
Version: 1.0
****************************************************
-->

@using FVGen3.Domain.Entities;
@using Resources;
@{
    ViewBag.Title = "Bidding Interests";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>        
</head>

@Scripts.Render("~/js/common.js")
@Scripts.Render("~/Scripts/jquery-1.9.1.min.js")

<script type="text/javascript">

     // Added code to call setPermissions() function on 08/07/2013 by Kiran Talluri
    $(document).ready(function () {
        setPermissions('@ViewBag.ViewPermissions');        
    });

    var winPop = false;
    function openWindow(biddingId) {
        if (winPop && !winPop.closed) {  //checks to see if window is open  
            winPop.focus();
        }
        else {
                winPop = window.open("AddBiddingInterest?biddingId=" + biddingId, "_blank", "toolbar=no,  directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=yes, width=650, height=400");
            }
    }
    
    function deleteBidding(biddingId) {
        var BiddingId = biddingId;
        var c = confirm("@Resources.BiddingInterestsList_confirmdialogue_delete");
        if (c == true) {
            $.ajax({
                type: 'GET',
                url: 'DeleteBiddingInterest',
                data: 'BiddingId=' + BiddingId,
                success: function (data) {
                    if (data.indexOf("Session expired") >= 0) {
                        window.location = "../SystemUsers/Login";
                    }
                        else if (data = "BiddingDeleteSuccess") {
                            window.location = "../SystemUsers/BiddingInterestsList";
                    }
                },
                error: function () {
                    console.trace();
                    alert("Fail ");
                }
            });
        }
    }

</script>

<body>
    <div class="contentSub">

        <table width="694" border="0">
              <tr>
                <td class="page-title">
                  <h2>@Resources.BiddingInterestsList_heading</h2>
                </td>
                <td align="right" valign="top">
                    <button type="button" btnType="Insert" onclick="openWindow('-1')">@Resources.Common_AddNew</button>
                </td>
              </tr>
        </table>        

        
        
        <div class="partialPage">
            <table>    
                <tr class="partialHeader">
                    <td width="438">@Resources.BiddingName</td>
                    <td width="292">@Resources.BiddingStatus</td>
                    @*<td width="46"></td>*@
                </tr>   

                @foreach (var biddingInterest in (List<BiddingInterests>)@ViewBag.VBbiddingInterestsList)
                {
                    <tr>
                        <td><a href="#!" onclick="openWindow('@biddingInterest.BiddingInterestId')">@biddingInterest.BiddingInterestName</a></td>
                        @if (@biddingInterest.Status == 0)
                        {
                            <td>@Resources.BiddingInterestsList_status_inactive</td>
                        }
                        else if (@biddingInterest.Status == 1)
                        { 
                            <td>@Resources.BiddingInterestsList_status_active</td>
                        }
                        else
                        { 
                            <td>-</td>
                        }
                        @*<td align="center"><img  class="imgCursor" src="~/images/DelButton.png" name="image" btnType="Delete" onclick="deleteBidding('@biddingInterest.BiddingInterestId')" /></td>*@
                    </tr>
                }
            </table>   
        </div>  
         @if (@ViewBag.VBbiddingInterestsList != null)
        {
            if (@ViewBag.VBbiddingInterestsList.Count == 0)
            {
                
                <div class="commentsItalic">@Resources.Common_NoRecords</div>
            }
        }   
    </div>
</body>
</html>
