﻿<!--
 *****************************************************
Page Created Date:  30/04/2013
Created By: Rajesh Pendela
Purpose:
Version: 1.0
****************************************************
-->
@using Resources;
@using FVGen3.Domain.Entities;
@model FVGen3.Domain.Entities.LocalPasswordModel

@{
    ViewBag.Title = Resources.ChangePassword_ChangePassword;
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
    ViewBag.headerSelected = "myAccountId";
    
}


<script>

    $(document).ready(function () {
        // Added code to call setPermissions() function on 08/07/2013 by Kiran Talluri
        setPermissions('@ViewBag.ViewPermissions');
        // Ends<<< 
    });
   
</script>

@*
<style>
    .field-validation-error 
    {
        float:left;
        color: #f00;    
        line-height:1.8em;
        margin-left:5px;
        font-size:14px;
        margin-bottom:0px;
    }
</style>

*@

<body>
 @if (@ViewBag.isSuccess!= null && @ViewBag.isSuccess)
    {
        <div>
            <p class="successMessage">@Resources.Common_ChangesSavedSuccessMsg </p>
        </div>

    }


<div class="change_content">
    
    @using (Html.BeginForm())
    {   
        <div class="page-title">
                <h2>Change Password</h2>
            </div>
        <div class="contentSub">                    
            
            <div class="rowIST" popText = "@Resources.ChangePassword_Hint_CurrentPassword">
                <label class="enableStar">@Resources.ChangePassword_CurrentPassword</label>
                @Html.PasswordFor(model => model.OldPassword, new {  autocomplete = "off" })
                <div class="alertText">@Html.ValidationMessageFor(model => model.OldPassword)</div>
            </div><!--ChgPass_row-->
 
            <div class="rowIST" popText = "@Resources.ChangePassword_Hint_NewPassword">
                <label class="enableStar">@Resources.ChangePassword_NewPassword</label>
                @Html.PasswordFor(model => model.NewPassword, new {  autocomplete = "off" })
                <div class="alertText">@Html.ValidationMessageFor(model => model.NewPassword) </div>
            </div><!--ChgPass_row-->

            <div class="rowIST" popText = "@Resources.ChangePassword_Hint_ConfirmPassword">
                <label class="enableStar">@Resources.ChangePassword_ConfirmPassword</label>
                @Html.PasswordFor(model => model.ConfirmPassword, new { autocomplete = "off" })
                <div class="alertText">@Html.ValidationMessageFor(model => model.ConfirmPassword)</div>
            </div><!--ChgPass_row-->
             <div class="dialogueBox" id="pop-up" style="display:none; position:absolute;">
            <p>        
            </p>
        </div>    
        </div>
     
        <div class="contentSub">
               <div class="pageFooterContent"> 
                    <div class="pageFooterButtons">
                        <table>
                            <tr>
                                <td><button type="submit" btnType="Update"   class="PageFooter_Button">@Resources.ChangePassword_ChangePassword</button></td>
                                <td  btnType="Update">@Resources.Common_label_or</td>
                                <td><div class="pageFooterCancelButton"><a href="../SystemUsers/DashBoard">@Resources.Common_Cancel</a></div></td>
                            </tr>	
                        </table> 
                    </div>
                </div>
            </div>
      @*  <div class="dialogueBox" id="pop-up" style="display:none;">
        <p>
            this is dialogue box.
            this is dialogue box.
        </p>
    </div>*@

    }
   
</div>

    <!-- HIDDEN / POP-UP DIV -->

</body>
</html>
