﻿<!--
 *****************************************************
Page Created Date:  10/03/2013
Created By: Kiran Talluri
Purpose:
Version: 1.0
****************************************************
-->
@using FVGen3.Domain.Entities;
@using Resources;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Resources.CloseProficiencyCapability_title</title>        
</head>

    @Styles.Render("~/css/appPopUp.css")
    @Styles.Render("~/css/appInnerPages.css")
    @Scripts.Render("~/Scripts/jquery-1.9.1.min.js")
    <script type = "text/javascript">

        $(document).ready(function () {
            window.close();
            window.opener.location.reload(true);
        });
               
        function closeView() {
            window.close();
        }
    </script>    

    <body>
        @using (Html.BeginForm())
        {
            <div class="popUpContainer"> 
                <div class="popUpContent">
                    <div class="popUpSubContent">
	                    <div class="page-title">
                            <h2>@Resources.CloseProficiencyCapability_heading</h2>
	                    </div>   
                        <div>
                            <p class="successMessage">@Resources.Common_ChangesSavedSuccessMsg </p>
                        </div>
                    </div>

                    <div class="popUpSubContent">                         
                        <div class="pageFooterContent"> 
            	            <div class="pageFooterButtons">
                	            <table>
                    	            <tr>
                                        <td><button type="submit" onclick = "closeView()">@Resources.CloseBidding_bttn_text</button></td>                            
                                    </tr>	
                                </table> 
                            </div>
                        </div> 
                    </div>
                </div>
            </div>              
        }
    </body>
</html>
