﻿<!--
 *****************************************************
Page Created Date:  05/20/2013
Created By: Kiran talluri
Purpose:
Version: 1.0
****************************************************
-->

@model FVGen3.Domain.Entities.LocalNewUserContactDetails 
@using Resources
@{
Layout = null;
}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>@Resources.Close_Title</title>
    <meta name="description" content="Client Dashboard - First, Verify"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="~/css/common.css"/>
</head> 
<script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")" type="text/javascript"></script>
 @Styles.Render("~/css/appPopUp.css")
 @Styles.Render("~/css/appInnerPages.css")

<script type = "text/javascript">

    $(document).ready(function () {
        window.close();
        window.opener.updateCompaniesList('@Model.userId', '@Model.isSuperUser');
    });
       
    function closeView(userId) 
    {        
        //window.opener.updateCompaniesList(userId);
        window.close();
    }
</script>

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.userId);
    <body>
         <div class="popUpContainer"> 
            <div class="popUpContent">
                <div class="popUpSubContent">
                    <div>
                        <h2>@Resources.Close_Heading</h2>
                    </div>
                    <!--Header-1-->
                    
                <p class="successMessage">@Resources.Common_ChangesSavedSuccessMsg </p>
                </div>
            

               <div class="popUpSubContent">                         
                    <div class="pageFooterContent"> 
                        <div class="pageFooterButtons">           
                            <button type="submit" onclick = "closeView('@Model.userId')">@Resources.Close_Button_Text</button>              
                        </div>
                    </div>
                </div>
            </div>
        </div>
   
    </body>
}
</html>
