﻿<!-- 
 *****************************************************
Page Created Date:  07/19/2013
Created By: Kiran Talluri
Purpose: To close the popup & to update the logged in client business unit & its related sites in partial pages
Version: 1.0
****************************************************
-->

@model FVGen3.Domain.Entities.LocalUpdateClientUnitAndSite
@using Resources
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Resources.CloseUnitSite_title</title>
    <link rel="stylesheet" href="~/css/common.css"/>    
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")" type="text/javascript"></script>
    @Styles.Render("~/css/appPopUp.css")
    @Styles.Render("~/css/appInnerPages.css")
    <script type = "text/javascript">

        $(document).ready(function () {
            window.close();
            window.opener.updateClientUnitSitesList();               
        });
                
        function closeView(userId) 
        {            
            window.close();
        }
</script>
</head>
<body>    

    <div class="popUpContainer"> 
        <div class="popUpContent">
            <div class="popUpSubContent">
                <div class="page-title">
                    <h2>@Resources.CloseUnitSite_heading</h2>
                </div><!--Header-1--> 

                <div>
                    <p class="successMessage">@Resources.Common_ChangesSavedSuccessMsg </p>
                </div>
                </div>

                    <div class="contentSub">
                        <div class="pageFooterContent"> 
                            <div class="pageFooterButtons">
                                <table>
                                    <tr>
                                        <td>
                                            <button type="submit"  class="pageFooterButton" onclick = "closeView('@Model.UserId')">@Resources.CloseUnitSite_closebttn_text</button>
                                        </td>                        
                                    </tr>	
                                </table> 
                            </div>
                        </div>    
                    </div>          
            
        </div>
    </div>
</body>
</html>
