﻿@{
    ViewBag.Title = "ClientUserSetup";
}

@using FVGen3.Domain.Entities;
@using FVGen3.Domain.LocalModels;

@{
    ViewBag.Title = "AddUsers";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}
 

<!DOCTYPE html>
<html>
<head>
    @Scripts.Render("~/js/jquery-1.9.1.min.js")
    <script src="~/Scripts/Application/User/ClientUserSetup.js"></script>
    <style>
        html {
            font-size: 14px;
            font-family: Arial, Helvetica, sans-serif;
        }

        .k-grid-content {
            min-height: 200px !important;
        }

        #filter {
            float: right;
            height: 40px;
            width: 40%;
        }

        .rowIST input[type='text'] {
            border: none;
        }
        /*.k-input{
            width:70%!important;
        }*/
    </style>




</head>


<body>
<div class="page-title">
    <h2>@Resources.Resources.Notifications_CC_title</h2>
</div>
    <div>
        <i><b style="color: red">@Resources.Resources.Notifications_CC_message </b></i>
    </div><br />
<input type="hidden" id="Type" value="@ViewBag.Type"/>
<div id="AddTemplate">
    <div class="rowIST" style="margin-left: 20px;" popText>
        <label class="enableStar">@Resources.Resources.AddQuiz_label_client</label>
        @Html.DropDownList("ClientId", (new List<SelectListItem>()), new {style = "Width:80%;height:40px;", @onchange = "Resetdata();FillUserEmails();"})

    </div>
    <div class="rowIST" style="margin-left: 20px;">
        <label class="enableStar">@Resources.Resources.Dep_name</label>
        @*<input type="text" id="Users" name="Users" style="width:80%!important;"/>*@
        <select id="Users" style="width: 80%"></select>
    </div>

    <button id="Submitbtn" onclick="AddDetails()" style="margin: 10px 20px">Done</button><button onclick="Onclose()" style="margin: 10px 20px">Cancel</button>
</div>
<button id="addBtn" onclick="OpenKendoWindow()"><i class="fa fa-plus" aria-hidden="true"></i> @Resources.Resources.Add</button>
@*<div>  <img src="~/images/searchquestionbank.png" style="float:right;height:25px;" id="SearchRecentDocs" /><input type="search" placeholder="Search Here ...." id="RecentDocsFilter" size="30" style="height:25px!important;float:right;" />

        </div>*@
<input id='filter' class='k-textbox' placeholder="Search Here ...."/>
<div id="listView" style="margin-top: 40px;"></div>








</body>
</html>

