﻿<!--
Page Created Date:  11/05/2013
Created By: Kiran Talluri
Purpose:
Version: 1.0
****************************************************
-->

@using FVGen3.Domain.Entities;
@using Resources;
@{
    ViewBag.Title = "Document Types List";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>

@Scripts.Render("~/js/common.js")
@Scripts.Render("~/Scripts/jquery-1.9.1.min.js")

<script type="text/javascript">

     // Added code to call setPermissions() function on 08/07/2013 by Kiran Talluri
    $(document).ready(function () {
        setPermissions('@ViewBag.ViewPermissions');        
    });

    var winPop = false;
    function openWindow(documentTypeId) {
        if (winPop && !winPop.closed) {  //checks to see if window is open  
            winPop.focus();
        }
        else {
            winPop = window.open("AddDocumentType?DocumentTypeId=" + documentTypeId, "_blank", "toolbar=no,  directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=yes, width=650, height=400");
            }
        }

</script>

<body>
     <div class="contentSub">

        <table width="694" border="0">
              <tr>
                <td class="page-title">
                  <h2>Document Types</h2>
                </td>
                <td align="right" valign="top">
                    <button type="button" btnType="Insert" onclick="openWindow('-1')">@Resources.Common_AddNew</button>
                </td>
              </tr>
        </table>  

        <div class="partialPage">
            <table>    
                <tr class="partialHeader">
                    <td width="392">@Resources.DocumentTypesList_Name</td>
                    <td width="338">@Resources.DocumentTypesList_Expires</td>
                    <td width="338">Restricted Access</td>
                </tr>   

                @foreach (var documentType in (List<DocumentType>)ViewBag.VBDocumentTypesList)
                {
                    <tr>
                        <td><a href="#!" onclick="openWindow('@documentType.DocumentTypeId')">@documentType.DocumentTypeName</a></td>
                        <td>@documentType.DocumentExpires</td>
                        <td>@documentType.RestrictAccess</td>
                    </tr>
                }
            </table>   
        </div>  
         @if (@ViewBag.VBDocumentTypesList != null)
        {
            if (@ViewBag.VBDocumentTypesList.Count == 0)
            {
                
                <div class="commentsItalic">@Resources.Common_NoRecords</div>
            }
        }   

    </div>
</body>
</html>
