﻿

@model FVGen3.Domain.Entities.EmpRegistrationLocalModel
@using Resources
@{
    Layout = "~/Views/Shared/_VendorRegistrationLayout.cshtml";
    ViewBag.Title = "Employee Registration";
}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
 <!--<![endif]-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="Client Dashboard - First, Verify" />
    <meta name="viewport" content="width=device-width" />
</head>

@Scripts.Render("~/Scripts/jquery-1.9.1.min.js")
@Scripts.Render("~/Scripts/FVHelpers.js")
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@Styles.Render("~/Content/Site.css")
@Scripts.Render("~/js/jquery.mask.js")

<script src="~/Scripts/Application/Vendor/Vendor.js"></script>
<script src="~/Scripts/Application/User/EmpRegistration.js"></script>
<script src="~/Scripts/kendo/kendo.all.min.js"></script>




<link href="~/css/kendo/kendo.default.min.css" rel="stylesheet" />
<link href="~/css/kendo/kendo.common.min.css" rel="stylesheet" />
<link href="~/css/kendo/kendo.default.mobile.min.css" rel="stylesheet" />
<script>
    var vendorId = 0;
    $(document).ready(function () {
       
    });</script>
<body>

    @using (Html.BeginForm("EmpRegistration", "SystemUsers", FormMethod.Post, new { id = "target" }))
    {
        <div class="contentSub">
            <div class="page-title">
                <h2>@Resources.Emp_Reg</h2>
            </div>

            <div class="rowIST" >
                <label class="enableStar">@Resources.Common_Label_FirstName</label>
                @Html.TextBoxFor(model => model.FirstName, new { @maxlength = "100" })
                <div class="alertStar">@Html.ValidationMessageFor(model => model.FirstName)</div>
            </div>

            @*Kiran on 8/5/2014*@
            <div class="rowIST">
                <label class="enableStar">@Resources.Common_Label_LastName</label>
                @Html.TextBoxFor(model => model.LastName, new { @maxlength = "100" })
                <div class="alertStar">@Html.ValidationMessageFor(model => model.LastName)</div>
            </div>
            @*Ends<<<*@

            <div class="rowIST">
                <label class="enableStar">@Resources.Mobile_Email</label>
                @Html.TextBoxFor(model => model.MobileNumber)
                <div class="alertStar">@Html.ValidationMessageFor(model => model.MobileNumber)</div>
            </div>

            @*Kiran on 9/19/2014*@
            <div class="rowIST">
                <label class="enableStar">@Resources.Create_Password</label>
                @Html.PasswordFor(model => Model.Password, new { @maxlength = "200", @style = "margin-bottom:8px;" })
                <div class="alertStar">@Html.ValidationMessageFor(model => model.Password)</div>
            </div>


            <div class="rowIST" popText>
                <label class="enableStar">@Resources.Emp_Vendor</label>
                <input id="VendorId_drop"name="VendorId_drop" style="width: 100%;" />
                @Html.HiddenFor(x => Model.VendorId, new List<SelectListItem>())
                 <div class="alertStar">@Html.ValidationMessageFor(model => model.VendorId)</div>
            </div>
            <div class="rowIST" popText>
                <label class="enableStar">Language:</label>
                @Html.DropDownListFor(x => x.LanguageId, (new List<SelectListItem>()),new{style="Width:100%;height:40px;"})
                <div class="alertStar">@Html.ValidationMessageFor(model => model.LanguageId)</div>
                </div>
                    <div >
                        <div class="pageFooterContent">
                            <p>
                                @Resources.RegisterVendor_Agree_FirstVerify
                            <a href="#!" onclick="window.open('../html/TermsAndConditions.html')">@Resources.RegisterVendor_TermsandConditions</a>
                            @Resources.RegisterVendor_CheckBox
                        </p>
                        <div class="pageFooterConfirmText">
                            <table>
                                <tr>
                                    @*<td>@Html.CheckBoxFor(m => m.CheckBoxStatus, new {id="VndReg"})</td>*@
                                    <td><input type="checkbox" name="CheckBoxStatus" id="VndReg" value="true" /></td>
                                    <td><label for="VndReg">@Html.Raw(@Resources.RegisterVendor_AgreeTermsandConditions)</label></td>
                                </tr>
                            </table>
                        </div>
                        <div class="pageFooterButtons">
                            <table>
                                <tr>
                                    <td><button type="button" class="PageFooter_Button" onclick="Emp.AddEmployee()">@Resources.RegisterVendor_CreateAccount</button></td>
                                    <td>@Resources.Common_label_or</td>
                                    <td><div class="pageFooterCancelButton"><a href="@Url.Action("Login", "SystemUsers")">@Resources.Common_Cancel</a></div></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>



            <div class="dialogueBox" id="pop-up" style="display:none; position:absolute;">
                <p>
                </p>
            </div>
            </div>
    }
</body>
</html>
@*<script>
    $("#target").submit(function (event) {
        event.preventDefault();
        debugger;
        var isValid = true;
        if (vendorId == 0)
        {
            isValid = false;
        }
        $('#VendorId').val(vendorId);
        if (isValid)
            target.submit();
        else old_alert("Please Select Vendor");
    });
</script>*@


