﻿@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Uh oh, an error occurred!";
   
}
@{
    Layout = null;
}

<!DOCTYPE html>


<style>
    .h-center {
        text-align: center;
    }

    .v-center span {
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
    }
    .footer_content{height:400px!important}
    .header{height:80px!important}
    .buttonstyle{
   float: center;
    padding: 10px 30px;
    width: auto;
    color: #ffffff !important;
    border: 1px solid #afc6e9;
    border-radius: 5px;
    font-size: 16px;
    font-family: inherit;
    font-weight: normal;
    background: #1f83bc !important;
    outline: none;
    text-decoration: none !important;
    text-align: center;
    box-sizing: border-box;
    
}
    .container {
  width: 100%;
  height: 100%;
  height: 100vh;
  overflow: hidden !important;
  background:#cac2c2!important;
  margin-right:200px;
  background-size: 50%;
   background-repeat: no-repeat;
   padding: 25px;
}
  

</style>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Error Page</title>

        <link href="~/content/css/animate.css" rel="stylesheet">
        <link href="~/content/css/style.css" rel="stylesheet">
        <link href="~/css/index.css" rel="stylesheet" />
    </head>
   
        <div class="header"></div><div class="container">
    <body class="white-bg">

        <div class="h-center v-center">
            <div>
                <h2 class="h2 text-danger" style="color:red;margin-top:150px;line-height:1.5em"> We are unable to process the request!</br> Please contact the system administrator. </h2>
                <h3 class="h2 text-danger" style="color:red;margin:30px 0"> Reference Id:  @ViewBag.errorid</h3>
                <h3>
                    <a class="buttonstyle" href="@Url.Action("DashBoard", "SystemUsers")" role="button">Go To Dashboard</a>
                    @*<a class="btn btn-default" href="@Url.Action("DashBoard", "SystemUsers")" role="button">Re Login</a>*@
                </h3>
            </div>
        </div>
        <div class="footer_content">

        </div>
    </body>

</div>

    </html>




