﻿@{    
    Layout = null;
}

@model List<FVGen3.Domain.Entities.LocalAssignRoles>
<div class="page-subtitle"><h2>Change Roles</h2></div>
<table>
   @*<tr>
        <td colspan="5" class="page-subtitle">
            
        </td>
    </tr>*@
    @if (@Model != null && @Model.Count > 0)
    {
        <thead>
            <tr>
                <th style="text-align:left">User</th>
                @for (int j = 0; j < @Model[0].RoleNames.Count; j++)
                {
                    <th><label for="ReadSelectAll">@Model[0].RoleNames[j]</label></th>
                }
            </tr>

        </thead>

        for (int i = 0; i < @Model.Count; i++)
        {
    <tbody>
        <tr class="UserPermissions">
            @Html.HiddenFor(model => model[i].SysUserOrgId)
            @Html.HiddenFor(model => model[i].UserName)
            <td style="text-align:left"> @Model[i].UserName </td>
            @for (int j = 0; j < @Model[i].IsRoleSelected.Count(); j++)
            {
                @Html.HiddenFor(model => model[i].RoleNames[j])
                @Html.HiddenFor(model => model[i].Roles[j])
                <td> @Html.CheckBoxFor(model => model[i].IsRoleSelected[j], new { pType = Model[i].RoleNames[j] }) </td>
            }
        </tr>
    </tbody>
        }
    }
    else
    {
        <tr><td><div class="commentsItalic">@Resources.Resources.Common_NoSearch</div> </td></tr>
    }
    </table>
