﻿
<!--
 *****************************************************
Page Created Date:  13/05/2013
Created By: Rajesh Pendela
Purpose:
Version: 1.0
****************************************************
-->
@model FVGen3.Domain.Entities.LocalLoginModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml"; 
}

<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Help Page</title>


</head>

<style>
#helpContent
{
	float:left;
	width:100%;
	padding:0px 0 0 10px;  
}
</style>
</head>

    <body>
	    <div class="container">
		    <div class="content">
        	
			    <div id="helpContent">
                <table  width="100%" style="margin-top:100px; margin-left:10px;">
            	    <tr>
                	    <td width="53"><img src="../images/help.png" /></td>
                        <td>
                            <div class="page-subtitle">
                        	    <h4>If you are having issues with any portion of the website, please use the contact information below to obtain assistance.</h4>
                            </div>
                    	    
                        </td>
                    </tr>
                </table>
                <table style="margin-left:10px;">
                    <tr>
                	    <td height="35">E-mail:</td>
                        <td><a href="mailto:support@firstverify.com">support@firstverify.com</a></td>
                    </tr>
                    <tr>
                	    <td height="35">Phone:</td>
                        <td>402-562-5930</td>
                    </tr>
                </table>
              </div><!---End of the main Div---->
            </div><!--Content---->
        </div><!---Container----->
    </body>
</html>
