﻿<!--
 *****************************************************
Page Created Date:  04/30/2013
Created By: Rajesh Pendela
Purpose: 
Version: 1.0
****************************************************
-->
@model IEnumerable<FVGen3.Domain.Entities.SystemUsers>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}

<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Dashborad_page</title>
<link href="~/css/Dashborad_page.css" rel="stylesheet">
</head>

<body>


<div class="Dashboard_content">

         <div class="Dashboard_search">
         <input class="dashboard_in" type="text"/>
         <button class="dashboard_btn"type="submit"></button>
         </div>
         
          <div class="Dashboard_search_data"></div>

</div>


 


