﻿<!--//
****************************************************
Page Created Date:  11/27/2013
Created By: Siva Bommisetty
Purpose:
Version: 1.0
****************************************************
-->

@using FVGen3.Domain.Entities;
@using Resources;

@model FVGen3.Domain.Entities.InstructionBanner
@{
    ViewBag.Title = Resources.InstructionBanner_PageTitle;
    
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="description" content="My Account page"/>
    <meta name="viewport" content="width=device-width"/>
    
    <script type="text/javascript" src="~/js/nicEdit.js"></script>
    <script type="text/javascript">

        bkLib.onDomLoaded(function () {
            new nicEditor({
                buttonList: [
                    'fontSize', 'bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', 'html',
                    'ul', 'ol', 'indent', 'outdent', 'forecolor', 'bgcolor'
                ]
            }).panelInstance('RichTextArea');
        });

    </script>


</head>
<body>
    @if (@ViewBag.isSuccess)
    {
        <div>
            <p class="successMessage">@Resources.Common_ChangesSavedSuccessMsg </p>
        </div>
    }
    @if (ViewBag.isFailed)
    { 
        <div>
            <p class="errorMessage">
                @Resources.InstructionBanner_DataNotSaved
            </p>
        </div>
    }
    
    @using (Html.BeginForm())
    {
        <div class="contentSub">
            <div class="page-title">
                <h2>@Resources.InstructionBanner_PageTitle</h2>
            </div>

            <div class="rowIST">
                <label class="enableStar">@Resources.InstructionBanner_Instructions</label>
                <div id="RichTextAreaDiv" style="width:98%;float:left;height:100%;margin:20px 10px 0 10px;" class="RichTextArea">
                    <textarea name="Instruction" style="width: 700px; height: 100px;" id="RichTextArea">@Model.Instruction</textarea>
                </div>
                <div class="alertStar">@Html.ValidationMessageFor(rec => rec.Instruction) </div>

            </div>
        </div>

        <div class="contentSub">
            <div class="pageFooterContent"> 
                <div class="pageFooterButtons">
                    <table>
                        <tr>
                            <td><button type="submit" btnType="Update" class="PageFooter_Button">@Resources.Common_Save</button></td>
                            <td btnType="Update">@Resources.Common_label_or</td>
                            <td><div class="pageFooterCancelButton"><a href="../SystemUsers/DashBoard">@Resources.Common_Cancel</a></div></td>
                        </tr>	
                    </table> 
                </div>
            </div>
        </div>
    }

</body>
</html>
