﻿<!--
 *****************************************************
Page Created Date:  (MM/DD/YYYY)13/05/2013
Created By: Suma J
Purpose:
Version: 1.0
****************************************************
-->
@model FVGen3.Domain.Entities.LocalLoginHelp
@using Resources
@{
    ViewBag.Title = "Login Help";
    Layout = "~/Views/Shared/_VendorRegistrationLayout.cshtml";
}

<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="Client Dashboard - First, Verify" />
    <meta name="viewport" content="width=device-width" />


    <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    @Scripts.Render("~/js/jquery.mask.js")
</head>
<script type="text/javascript">
    $(document).ready(function () {
        $("#TelephoneNumber").mask('(000) 000-0000');
    });
</script>
<body>
    @if (@ViewBag.isSuccess != null && @ViewBag.isSuccess)
    {
        <div>
            <p class="successMessage">Your help request has been sent. We will get back to you shortly. </p>
        </div>
    }

    @if (@ViewBag.VBMailSent != null && !(Boolean)@ViewBag.VBMailSent)
    {
        <div class="errorMessage">Could not send help request. Please try again.</div>
    }
    @using (Html.BeginForm())
    {
        <div class="contentSub">
            <div class="page-title">
                <h2>Login Help</h2>
            </div>
            <div class="rowIST">
                <label class="enableStar">Name:</label>
                @Html.TextBoxFor(model => model.PersonName, new { @maxlength = "200" })
                <div class="alertStar">@Html.ValidationMessageFor(model => model.PersonName)</div>
            </div>
            <div class="rowIST">
                <label class="enableStar">Company Name:</label>
                @Html.TextBoxFor(model => model.CompanyName, new { @maxlength = "200" })
                <div class="alertStar">@Html.ValidationMessageFor(model => model.CompanyName)</div>
            </div>
            <div class="rowIST">
                <label class="enableStar">Address:</label>
                @Html.TextBoxFor(model => model.Address, new { @maxlength = "200" })
                <div class="alertStar">@Html.ValidationMessageFor(model => model.Address)</div>
            </div>
            <div class="rowIST">
                <label class="enableStar">Telephone Number:</label>
                @Html.TextBoxFor(model => model.TelephoneNumber, new { @maxlength = "14" })
                <div class="alertStar">@Html.ValidationMessageFor(model => model.TelephoneNumber)</div>
            </div>
            @*  sumanth on 10/15/2015 for SMI-267 starts*@
            <div class="rowIST">
                <label class="enableStar">Email Address:</label>
                @Html.TextBoxFor(model => model.Email, new { @maxlength = "100" })
                <div class="alertStar">@Html.ValidationMessageFor(model => model.Email)</div>
            </div>
            @*sumanth ends on 10/15/2015*@

            <div class="rowIST">
                <label >Comments:</label>
                @Html.TextAreaFor(model => model.Comments)
            </div>
            <div class="contentSub">

                <div class="pageFooterContent">
                    <div class="pageFooterButtons">
                        <table>
                            <tr>
                                <td><button type="submit" btntype="Insert" class="PageFooter_Button">Send Request</button></td>
                                <td btntype="Insert">@Resources.Common_label_or</td>
                                <td><div class="PageFooter_CancleBtn"><a href="../SystemUsers/Login">@Resources.Common_Cancel</a></div></td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    }
</body>
</html>
