﻿<!--
 *****************************************************
Page Created Date:  01/05/2013
Created By: Suma J
Purpose:
Version: 1.0
****************************************************
-->
@model FVGen3.Domain.Entities.LocalLoginModel
@using Resources
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml"; 
}



<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta name="description" content="Client Dashboard - First, Verify"/>
        <meta name="viewport" content="width=device-width"/>
        <link href="~/css/Quiz.css" rel="stylesheet" />

    <style>
    .validation-summary-errors
    {
        font-weight: normal;
        color: #e81f25;
        margin:0;
        padding:0;
    }

    .field-validation-success {
        color: #009900;
        
        
        font-size:14px;
    }
   
    </style>

   
    @*@Scripts.Render("js/jquery-1.3.2.min.js")*@
     
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

</head>





	
<div class="loginMain">

    <div class="alert"
    >
        @if (ViewBag.messageType != null && ViewBag.messageType == 1)
            {
        
                <div class="loginAlert"><li>@Resources.login_reg_suc</li></div>
    
            }
            else if (ViewBag.messageType != null && ViewBag.messageType == 2)
            {
        
                <div class="loginAlert"><li>@Resources.Login_passwordChange_success</li></div>
    
            }
            else if (ViewBag.messageType != null && ViewBag.messageType == 3)
            {
        
                <div class="loginAlert"><li>@Resources.Login_sessionexpired</li></div>
    
            }
            else
            {
                    <div class="loginAlert">@Html.ValidationSummary()</div>
            }
    </div>

<div class="AreaTwo">
 @using (Html.BeginForm())
 {    
    @Html.HiddenFor(m => m.lastLoginURl);
	<div class="loginLeftSide">
    
    <div class="loginRow">
       
        <label class="disable weblogin">
            @Resources.Login_UserId <span class="weblogin">@Resources.Login_Email</span></label>
            @Html.TextBoxFor(m => m.UserName, new { @autofocus = "autofocus" })
    </div>
    <div class="loginRow">
        	
        <label class="disable">
            @Resources.Login_Password1</label>
            @Html.PasswordFor(m => m.Password, new { autocomplete = "on" })

     </div>
     <div class="loginRemember">
        	
            @Html.CheckBoxFor(m => m.RememberMe)
            <label for="RememberMe" class="disable">@Resources.Login_RememberMyEmailAddress</label> 
  
             
     </div>
        
         <table>
        	<tr>
               <td> <input type="submit" value="@Resources.Login" class="loginButton"/></td>
            </tr>

            @*<tr>
            	<td class="loginForgot">@Html.ActionLink("Forgot Password", "ForgotPassword")</td>
            </tr>*@
             </table>
    </div>
    
    
   
  	@*<div class="loginRightSide">
	    <div class="loginRightSideHeader">@Resources.Login_NewtoFIRST_VERIFY</div>
        <p>@Resources.Login_StringOfNewtoFirstVerify:</p>
        <button type="button" class="loginVendorRegButton"  onclick="document.location = '@Url.Action("VendorRegistration", "Vendor")';">@Resources.Login_VendorRegistration</button>
    
    </div>*@
    <div class="loginRightSide">
        <table>
            @*<tr>
                <td>
                    <button type="button" class="loginButton" onclick="document.location = '@Url.Action("EmpRegistration", "SystemUsers")';">Employee Registration</button>
                </td>
            </tr>*@
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr>
                <td>
                    <button type="button" class="loginButton" onclick="document.location = '@Url.Action("ForgotPassword", "SystemUsers")';">Forgot Password?</button>
                </td>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr>
                <td>
                    <button type="button" class="loginButton" onclick="document.location = '@Url.Action("LoginHelp", "SystemUsers")';">Need Login Help?</button>
                </td>
            </tr>            
            @*<tr>
                <td>
                    <button type="button" class="loginButton" onclick="document.location = '@Url.Action("LoginHelp", "SystemUsers")';">Need Login Help?</button>
                </td>
            </tr>*@
        </table>
    </div>
 }

 </div>
</div> 
