﻿<!--
 *****************************************************
Page Created Date:  04/30/2013
Created By: Rajesh Pendela
Purpose: 
Version: 1.0
****************************************************
-->
@{
    ViewBag.Title = "Log Out";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

</body>
</html>

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width">
   
</head>
<body>
	<div class="container">
		<div class="content">
            <div class="contentWrapper">
        	    <table width="100%">
            	    <tr>
                	    <td   width="53"><img src="../images/logout.png" /></td>
                        <td  valign="bottom">
                    	    <div class="page-subtitle">
                        	    <h2>You are now logged Out</h2>
                            </div>
                       </td>
                    </tr>
                    <tr>
                	    <td colspan="2" height="35"><h4>We recommend to close your web browser and login again with new window.</h4></td>
                    </tr>
               
                     
                    </tr>
                    <tr>
                	    <td colspan="2" height="35"><a href="@Url.Action("Login","SystemUsers")">Click here to login again.</a></td>
                    </tr>
                </table>
            </div>
        </div><!--Content---->
    </div><!---Container--->
</body>
</html>
