﻿<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Maintenance</title>
@*<link rel="stylesheet" href="../css/maintenanceAha.css" />*@
</head>

<body>
	<div class="container">
    	<div class="content">
        		<div>
                	<img  src="../images/maintenance.png"/>
                	<h1>Site is under maintenance</h1>
                    <p>From  <span>1<sup>st</sup> May 2015 11:00 PM EST</span> &nbsp;To  &nbsp;<span>4<sup>th</sup> May 2015 08:00 AM EST</span></p>
                </div>
        </div>
   </div>
</body>
</html>
