﻿<!--//
****************************************************
Page Created Date:  05/02/2013
Created By: Siva Bommisetty
Purpose:
Version: 1.0

Update Date: 4th Jul 2013
Added popText(Hint text) for Email-Address filed

Date:07/20/2013
Added Date: Added code for updating logged in client unit & its sites
By: Kiran Talluri
****************************************************
-->

@using FVGen3.Domain.Entities;
@using Resources;

@model FVGen3.Domain.Entities.LocalMyAccountModel
@{
    ViewBag.Title = Resources.MyAccountStr;
    
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}


<!DOCTYPE html>
    <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
    <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
    <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
    <!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="description" content="My Account page"/>
    <meta name="viewport" content="width=device-width"/>

</head>
@Scripts.Render("~/js/jquery.mask.js")
<script src="~/Scripts/Application/Common/Http.js"></script>
<script src="~/Scripts/Application/Utilities/LoginUserInfo.js"></script>
<script src="~/Scripts/Application/Google/Analytics.js"></script>

<script type = "text/javascript">
    $(document).ready(function () {
        // For Roles and Permissions
        setPermissions('@ViewBag.ViewPermissions');
        // Kiran on 8/26/2014
        $("#PhoneNumber").mask('(000) 000-0000');
        $("#MobileNumber").mask('(000) 000-0000');
        // Ends<<<
       

    });

    // DV : Kiran Talluri Date: 07/20/2013

    function updateClientUnitSitesList() 
    {        
        $.ajax({
            type: 'GET',
            url: 'PartialClientUnitAndSites',            
            success: function (data) {
                $("#unitSitesResultsBlock_id").html(data);                
            },
            error: function () {
                console.trace();
                alert("Fail ");
            }
        });
    }   

    function deleteLoggedinClientUnitSite(siteId)
    {
        var d = confirm("@Resources.MyAccountUnitsandSites_ConfirmDialogue_message");
        if (d == true) 
        {
            $.ajax({
                type: 'GET',
                url: 'DeleteLoggedinClientUnitSite',
                data: 'siteId=' + siteId,
                success: function (data) {
                    if (data.indexOf("Session expired") >= 0) {
                        window.location = "../SystemUsers/Login";
                    }
                    else if (data = "SiteDeleteSuccess") {
                        updateClientUnitSitesList()
                    }
                },
                error: function () {
                    console.trace();
                    alert("Fail ");
                }
            });            
        }
        else 
        {
            return false;
        }
    }

    // Added parameter unitLocation on 07/24/2013 by Kiran
    function openWindow(clientId, siteId, unitId, unitLocation) {
        //alert(unitId);
        //alert(siteId);
        window.open("UpdateClientUnitAndSite?clientId=" + clientId + "&siteId=" + siteId + "&selectedBusUnitId=" + unitId + "&unitLocation=" + unitLocation, "_blank", "toolbar=no,  directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=yes, width=550, height=500");
    }
    // DV: Kiran Talluri Date:07/20/2013

</script>

<body>

    @if (@ViewBag.isSuccess)
    {
        <div>
            <p class="successMessage">@Resources.Common_ChangesSavedSuccessMsg </p>
        </div>
    }
    
        
    @using (Html.BeginForm())
    {
        @*Html.ValidationSummary(true)*@
       
        @Html.HiddenFor(model => model.ApplicationId)
        @Html.HiddenFor(model => model.UserId)

        @Html.HiddenFor(model => Model.ContactId)
            
        @Html.HiddenFor(model => Model.LastLoginDate)
        @Html.HiddenFor(model => Model.LastPasswordChangedDate)
        @Html.HiddenFor(model => Model.CompanyName)

        <div class="contentSub">
            <div class="page-title">
                <h2>@Resources.MyAccountStr</h2>
            </div>

            <div class="rowIST" popText="">
                <label class="enableStar">@Resources.Common_Label_FirstName</label>
                @Html.TextBoxFor(model => Model.FirstName, new { @maxlength = "100" }) 
                <div class="alertStar"> @Html.ValidationMessageFor(Model => Model.FirstName) </div>
            </div>

            <div class="rowIST" popText="">
                <label class="enableStar">@Resources.Common_Label_LastName</label>
                @Html.TextBoxFor(model => Model.LastName, new { @maxlength = "100" }) 
                <div class = "alertStar">@Html.ValidationMessageFor(Model => Model.LastName) </div>
            </div>      
   
            <div class="rowIST" popText="<div class='controlHintText'>Your title or position in your company. <h3>Examples</h3> Safety Manager<br /> Chief Operations Officer <br /> Etc.</div>">
                <label class="enableStar">@Resources.Common_Title</label>
                @Html.TextBoxFor(model => Model.ContactTitle, new {@maxlength="50"})
                <div class = "alertStar"> @Html.ValidationMessageFor(Model => Model.ContactTitle) </div>
            </div>

            <div class="rowIST" popText="">
                <label class="enableStar">@Resources.Common_Label_PhoneNumber</label>
                @Html.TextBoxFor(model => model.PhoneNumber, new {@maxlength="15"}) 
                <div class = "alertText"> @Html.ValidationMessageFor(model => model.PhoneNumber) </div>
            </div>

            @*Kiran on 8/26/2014*@
            <div class="rowIST" popText = "">
    	        <label>@Resources.Common_label_ExtNumber</label>
                @Html.TextBoxFor(model => Model.ExtNumber, new { @maxlength = "14" })
                <div class = "alertText"> @Html.ValidationMessageFor(model => model.ExtNumber) </div>
            </div>
            @*Ends<<<*@

            <div class="rowIST" popText="">
            <label>@Resources.MyAccount_MobileNumber </label>
            @Html.TextBoxFor(model => model.MobileNumber, new { @maxlength = "14" }) @*Kiran on 8/26/2014*@  
            </div>

            <div class="rowIST">
                <label style="width:285px;"  >@Resources.MyAccount_AdditionalInfo</label>
                 @Html.TextAreaFor(model => model.AdditionalDescription, new {@maxlength="2000"}) 
            </div>  

            <div class="rowIST" popText = "">
                <label class="enableStar">@Resources.Myaccount_EmailAddrs </label>
                @Html.TextBoxFor(model => model.Email, new {@readonly = "readonly", @maxlength="100"}) 
                <div class = "alertText"> @Html.ValidationMessageFor(model => Model.Email) </div>
            </div>

            <div class="rowIST">
                <label>@Resources.MyAccount_LastLogin</label>
                <label class="answerInlabel">@Model.LastLoginDate </label>
            </div>

            <div class=" rowIST">
                <label>@Resources.MyAccount_LastPswdChange</label>
                <label class="answerInlabel">@Model.LastPasswordChangedDate</label>
            </div>

        </div>
            
        
         <div class="contentSub">
            <div class = "page-subtitle">
		        <h2>@Resources.MyAccount_CompanyAccess</h2>
            </div> 
            
            <div class="rowIST">
                <table style="margin-left:10px;">
                    <tr>
                        <td>
                            @if (@Model.CompanyName != null)
                            { 
                                   @Model.CompanyName
                            }
                        </td>
                    </tr>
                    @*<tr>
                        <td class="commentsItalic" style="font-style:normal;">
                            @Model.PrincipalCompanyOfficerName
                        </td>
                    </tr>*@
                    @if (@Session["RoleName"].ToString().Equals("Vendor"))
                    {
                        <tr>
                            <td width="44%">
                                Company Principal Officer Name:
                            </td>
                            <td width="50%">
                                @Html.TextBoxFor(model => model.PrincipalCompanyOfficerName)
                               <div class="alertStar"> @Html.ValidationMessageFor(model => model.PrincipalCompanyOfficerName)</div>
                            </td>
                        </tr>
                    }
                </table>
            </div>
         </div>
        
            
        //DV: Kiran Talluri Date : 07/19/2013 
        //Added code to update logged in client unit & sites
        
        <div class="ud_line1">         
                               
            @if (@Session["RoleName"].ToString().Equals("Client"))
            {
               <div id="unitSitesResultsBlock_id">            
                    <script>
                        updateClientUnitSitesList();
                    </script>
                </div>   
            }
        </div>
        
        //Added code ends 
        <div class="contentSub">
            <div class="pageFooterContent"> 
                <div class="pageFooterButtons">
                    <table>
                        <tr>
                            <td><button type="submit" btnType="Update" class="PageFooter_Button">@Resources.Common_Save</button></td>
                            <td btnType="Update">@Resources.Common_label_or</td>
                            <td><div class="pageFooterCancelButton"><a href="../SystemUsers/DashBoard">@Resources.Common_Cancel</a></div></td>
                        </tr>	
                    </table> 
                </div>
            </div>
        </div>
        
           @* <div class="dialogueBox" id="pop-up" style="display:none; position:absolute;">
        <p>
        </p>
       
    </div> *@

    }
    

</body>
</html>
