﻿<!--
 *****************************************************
Page Created Date:  (MM/DD/YYYY)05/07/2013
Created By: Suma J
Purpose:
Version: 1.0
****************************************************
-->
@using FVGen3.Domain.Entities;
@model FVGen3.Domain.Entities.LocalMyCompanyDetails
@using Resources;

@{
    ViewBag.Title = Resources.CompanyDetailsTitle;
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta name="description" content="Client Dashboard - First, Verify"/>
        <meta name="viewport" content="width=device-width"/>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@Scripts.Render("~/js/jquery.mask.js")
    <script src="~/Scripts/Application/VendorRegistration.js"></script>
<script>
    $(document).ready(function () {
        $('#TaxID').rules("add",
                        {
                            required: true,

                            messages:
                            {
                                required: "*"
                            }
                        });
        setPermissions('@ViewBag.ViewPermissions');
        // Kiran on 8/26/2014
        //$("#PhoneNumber").mask('(000) 000-0000');
        //$("#FaxNumber").mask('(000) 000-0000');
        // Ends<<<
    });
    @*if (@ViewBag.hasFinancialData==true) {
        $("#FinancialMonth").attr("disabled", true);
        $("#FinancialDate").attr("disabled", true);
    } else {

        $("#FinancialMonth").removeAttr("disabled");
        $("#FinancialDate").removeAttr("disabled");
    }*@
</script>

<script type='text/javascript'>
    $(document).ready(function () {
        var inp = $('.input-validation-error:first').get(0);

        if (inp) {
            inp.focus();
        }
        $('.input-validation-error').each(function () {
            if ($(this).get(0)) {
                $(this).closest('div').children('img').show();
            }
        });
        VendorRegistration.StateChange(@Model.CountryType);
    });
</script>

<script> 
function GotoDashboard(name) {
    //alert(name);
    if (name == "Admin") {
        window.location = "../AdminVendors/AdminDashboard";
    }
    else if (name == "Vendor") {
        window.location = "../AdminVendors/VendorDashboard";
    }
    else if (name == "Client") {
        window.location = "../Client/ClientDashboard";
    }
       
}
window.updateMonth = function (iMonth, iDay) {
    var el = document.getElementById(iDay);
    el.options.length = 0;

    for (var d = new Date(2013, iMonth - 1, 1) ; d.getMonth() == iMonth - 1; d.setDate(d.getDate() + 1)) {
        option = new Option(d.getDate(), d.getDate());
        el.options[d.getDate() - 1] = option;
    };

}

</script>

</head> 

<body>
@if ((Boolean)@ViewBag.VBisSuccess)
{
    <div>
        <p class="successMessage">@Resources.Common_ChangesSavedSuccessMsg</p>
    </div>
}

@*kiran on 12/24/2014*@
    @if (@ViewBag.taxIdCountError != null && (Boolean)@ViewBag.taxIdCountError)
    {
            <div class="errorMessage">@Resources.Common_error_taxidCount</div>
    }
    @if (@ViewBag.isTaxIdExists != null && (Boolean)@ViewBag.isTaxIdExists)
    {
            <div class="errorMessage">Tax Id is associated with organization: @ViewBag.VBTaxIdOrg. Please enter a valid Tax Id.</div>
    }
@*Ends<<<*@

    <div class="contentSub">
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(model => model.OrganizationID) // kiran on 12/24/2014
                                                <div>
                                                    <div class="page-title">
                                                        <h2>Business Information</h2>
                                                    </div>
                                                    <div class="rowRadioCheckbox noBorder">
                                                        <table border="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td><label class="enableStar"> @Resources.Common_Label_stateType</label></td>
                                                                    <td> @Html.RadioButtonFor(model => model.CountryType, "0", new { id = "USA", onclick = "VendorRegistration.StateChange(0)" })</td>
                                                                    <td><label for="USA">U.S.</label></td>
                                                                </tr>
                                                                <tr>
                                                                    <td><label></label></td>
                                                                    <td>@Html.RadioButtonFor(model => model.CountryType, "1", new { id = "NonUSA", onclick = "VendorRegistration.StateChange(1)" })</td>
                                                                    <td><label for="NonUSA">International</label></td>
                                                                </tr>
                                                                <tr><td colspan="3"><div class="alertStar">@Html.ValidationMessageFor(model => model.CountryType)</div></td></tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="rowIST" popText="@Resources.MyCompany_hint_Enterbussinesslegalname">
                                                        <table>
                                                            <tr>
                                                                <td>
                                                                    <label class="enableStar">Legal Name of Business:</label>
                                                                </td>
                                                                @if (@Session["RoleName"].ToString().Equals("Vendor"))
                {
                <td style="font-size:15px;padding-bottom:10px;">
                    <b>To change name, send email to info@firstverify.com with W-9.</b>
                </td>
                }
                                                            </tr>
                                                        </table>

                                                        @if (@Session["RoleName"].ToString().Equals("Vendor")) // Kiran on 12/24/2014
        {
        @Html.TextBoxFor(m => m.Name, new { @maxlength = "200", @readonly = "readonly" })
        }
        else
        {
        @Html.TextBoxFor(m => m.Name, new { @maxlength = "200" })
        }
                                                        <div class="alertStar">@Html.ValidationMessageFor(m => m.Name)</div>
                                                    </div>

                                                    @*Kiran on 9/19/2014*@
                                                    <div class="rowIST" popText="@Resources.Common_HintTextAddressLine1">
                                                        <label class="enableStar">@Resources.Common_Label_AddressLine1</label>
                                                        @Html.TextBoxFor(model => Model.Address1, new { @maxlength = "200", @style = "margin-bottom:8px;" })
                                                        <div class="alertStar">@Html.ValidationMessageFor(model => model.Address1)</div>
                                                    </div>
                                                    <div class="rowIST" popText="@Resources.Common_hintTextAddressLine2">
                                                        <label>@Resources.Common_Label_AddressLine2</label>
                                                        @Html.TextBoxFor(model => Model.Address2, new { @maxlength = "200" })
                                                    </div>

                                                    <div class="rowIST" popText="@Resources.Common_hintTextAddressLine3">
                                                        <label>@Resources.Common_Label_AddressLine3</label>
                                                        @Html.TextBoxFor(model => Model.Address3, new { @maxlength = "200" })
                                                    </div>
                                                    @*Ends<<<*@


                                                    <div class="rowIST" popText>
                                                        <label class=" enableStar">City:</label>
                                                        @Html.TextBoxFor(m => m.City, new { @maxlength = "100" })
                                                        <div class="alertStar">@Html.ValidationMessageFor(m => m.City)</div>
                                                    </div><!-- CompDtls_line1-->

                                                    <div class="rowIST" popText>
                                                        <label class=" enableStar">State or Province:</label>
                                                        @* <select></select>*@
                                                        @Html.DropDownListFor(m => m.State, ((FVGen3.WebUI.Controllers.SystemUsersController)this.ViewContext.Controller).GetStateSelectListItems(true), new { id = "stateForUSA" })
                                                        @Html.TextBoxFor(m => m.State, new { id = "stateForNonUSA", @style = "display:none" })
                                                        <div class="alertStar">@Html.ValidationMessageFor(m => m.State)</div>
                                                    </div><!-- CompDtls_line3-->

                                                    <div class="rowIST" popText>
                                                        <label class=" enableStar">Zip/Postal Code:</label>
                                                        @Html.TextBoxFor(m => m.Zip, new { @maxlength = "10" })
                                                        <div class="alertStar">@Html.ValidationMessageFor(m => m.Zip)</div>
                                                    </div>

                                                    <div class="rowIST" popText>
                                                        <label class=" enableStar">Country:</label>
                                                        @* <select></select>*@
                                                        @Html.DropDownListFor(m => m.Country, new SelectList(new[] { "", "Not Applicable", "United States", "Canada", }), new { @id = "countryForUSA" })
                                                        @Html.TextBoxFor(rec => rec.Country, new { id = "countryForNonUSA", @style = "display:none" })
                                                        <div class="alertStar">@Html.ValidationMessageFor(m => m.Country)</div>
                                                    </div>
                                                    @if (Session["RoleName"].ToString().Equals("Vendor"))
     {


    if (@ViewBag.HasFinancialData)
     {
    @Html.HiddenFor(r => r.FinancialDate)
    @Html.HiddenFor(r => r.FinancialMonth)
    <div>
        <div style="float:left;width:95%">
            <div class="rowIST BgColor" poptext="" style="background-color:#cfbcbc">
                <label class="enableStar">@Resources.Companies_FinancialMonth</label>
                @Model.FinancialMonth
            </div>
            <div class="rowIST" poptext="" style="background-color:#cfbcbc">
                <label class="enableStar">@Resources.Companies_FinancialDate</label>
                @Model.FinancialDate
            </div>
        </div>
    </div>
    }
    else
    {
    <div class="rowIST" id="Financemonth" poptext="">
        <label >Financial Year-end Month</label>
        @Html.DropDownListFor(m => m.FinancialMonth, new[] {

                       new SelectListItem(){Text="Jan",Value="1"},
                       new SelectListItem(){Text="Feb",Value="2"},
                       new SelectListItem(){ Text = "Mar", Value = "3" },
                       new SelectListItem(){ Text = "Apr", Value = "4" },
                       new SelectListItem(){ Text = "May", Value = "5" },
                       new SelectListItem(){ Text = "Jun", Value = "6" },
                       new SelectListItem(){ Text = "Jul", Value = "7" },
                       new SelectListItem(){ Text = "Aug", Value = "8" },
                       new SelectListItem(){ Text = "Sep", Value = "9" },
                       new SelectListItem(){ Text = "Oct", Value = "10" },
                       new SelectListItem(){ Text = "Nov", Value = "11" },
                       new SelectListItem(){ Text = "Dec", Value = "12" },
                   }, "Select", new
                   {
                       id = "start_month",
                       @onchange = "updateMonth(this.value, 'start_day')"
                   })

        <div class="alertStar"> @Html.ValidationMessageFor(m => m.FinancialMonth) </div>
    </div>

    <div class="rowIST" id="Financedate" poptext="">
        <label >Financial Year-end Day</label>
        @Html.DropDownListFor(m => m.FinancialDate, new[] {

                       new SelectListItem(){Text="1",Value="1"},
                       new SelectListItem(){Text="2",Value="2"},
                       new SelectListItem(){ Text = "3", Value = "3" },
                       new SelectListItem(){ Text = "4", Value = "4" },
                       new SelectListItem(){ Text = "5", Value = "5" },
                       new SelectListItem(){ Text = "6", Value = "6" },
                       new SelectListItem(){ Text = "7", Value = "7" },
                       new SelectListItem(){ Text = "8", Value = "8" },
                       new SelectListItem(){ Text = "9", Value = "9" },
                       new SelectListItem(){ Text = "10", Value = "10" },
                       new SelectListItem(){ Text = "11", Value = "11" },
                       new SelectListItem(){ Text = "12", Value = "12" },
                       new SelectListItem(){ Text = "13", Value = "13" },
                       new SelectListItem(){ Text = "14", Value = "14" },
                       new SelectListItem(){ Text = "15", Value = "15" },
                       new SelectListItem(){ Text = "16", Value = "16" },
                       new SelectListItem(){ Text = "17", Value = "17" },
                       new SelectListItem(){ Text = "18", Value = "18" },
                         new SelectListItem(){ Text = "19", Value = "19" },
                         new SelectListItem(){ Text = "20", Value = "20" },
                         new SelectListItem(){ Text = "21", Value = "21" },
                         new SelectListItem(){ Text = "22", Value = "22" },
                         new SelectListItem(){ Text = "23", Value = "23" },
                         new SelectListItem(){ Text = "24", Value = "24" },
                         new SelectListItem(){ Text = "25", Value = "25" },
                         new SelectListItem(){ Text = "26", Value = "26" },
                         new SelectListItem(){ Text = "27", Value = "27" },
                         new SelectListItem(){ Text = "28", Value = "28" },
                         new SelectListItem(){ Text = "29", Value = "29" },
                         new SelectListItem(){ Text = "30", Value = "30" },
                         new SelectListItem(){ Text = "31", Value = "31" },
                   }, "Select", new { id = "start_day" })

        <div class="alertStar"> @Html.ValidationMessageFor(model => model.FinancialDate) </div>
    </div>
     }
     }
                                                    <div class="rowIST" popText="@Resources.MyCompany_hint_UsetheprimaryPhoneNumberofyoubussiness">
                                                        <label class=" enableStar">Telephone Number:</label>
                                                        @Html.TextBoxFor(m => m.PhoneNumber, new { @maxlength = "14" })  @*Kiran on 8/26/2014*@
                                                        <div class="alertText">@Html.ValidationMessageFor(m => m.PhoneNumber)</div>
                                                    </div>

                                                    @*Kiran on 8/26/2014*@
                                                    <div class="rowIST" popText="">
                                                        <label>@Resources.Common_label_ExtNumber</label>
                                                        @Html.TextBoxFor(model => Model.ExtNumber, new { @maxlength = "14" })
                                                        <div class="alertText">@Html.ValidationMessageFor(m => m.ExtNumber)</div>
                                                    </div>
                                                    @*Ends<<<*@

                                                    <div class="rowIST" popText>
                                                        <label>Fax Number:</label>
                                                        @Html.TextBoxFor(m => m.FaxNumber)
                                                        <div class="alertStar">@Html.ValidationMessageFor(m => m.FaxNumber)</div>
                                                    </div>


                                                    <div class="rowIST" popText="@Resources.MyCompany_hint_WebsiteExample">
                                                        <label>Website URL:</label>
                                                        @Html.TextBoxFor(m => m.WebsiteURL)
                                                        <div class="alertStar">@Html.ValidationMessageFor(m => m.WebsiteURL)</div>
                                                    </div>

                                                    @*Kiran on 12/24/2014*@
                                                    <div class="rowIST" popText="@Resources.Common_Hint_TaxID">
                                                        <table>
                                                            <tr>
                                                                <td>
                                                                    <label class="enableStar">@Resources.Common_Label_taxid</label>
                                                                </td>
                                                                @if (@Session["RoleName"].ToString().Equals("Vendor"))
                {
                <td style="font-size:15px;padding-bottom:10px;">
                    <b>To change tax ID, send email to info@firstverify.com with IRS form SS-4.</b>
                </td>
                }
                                                            </tr>
                                                        </table>

                                                        @if (@Session["RoleName"].ToString().Equals("Vendor"))
        {
        <input type="text" id="TaxID" name="TaxID" value="@Model.TaxID" readonly="readonly" />
        }
        else
        {
        <input type="text" id="TaxID" name="TaxID" value="@Model.TaxID" />
        }
                                                        @*@Html.TextBoxFor(model => model.TaxID, new { @maxlength = "11" })*@
                                                        <div class="alertStar">@Html.ValidationMessageFor(model => model.TaxID)</div>
                                                    </div>

                                                    @*<div class="rowIST" popText="@Resources.MyCompany_9Digitnumber" style="display:none;">
                                                            <label class=" enableStar">Federal ID Number(US Only):</label>
                                                             @Html.TextBoxFor(m => m.FederalIDNumber, new { @maxlength = "9" })
                                                            <div class="alertStar">@Html.ValidationMessageFor(m => m.FederalIDNumber)</div>
                                                        </div>*@

                                                    @*Ends<<<*@


                                                </div><!---------------------------------------------End of the Content01---------------------------->

                                                <div class="contentSub">

                                                    <div class="pageFooterContent">
                                                        <div class="pageFooterButtons">
                                                            <table>
                                                                <tr>
                                                                    <td><button type="submit" btnType="Update" class="PageFooter_Button">@Resources.Common_Save</button></td>
                                                                    <td btnType="Update">@Resources.Common_label_or</td>
                                                                    <td><div class="PageFooter_CancleBtn"><a href="../SystemUsers/DashBoard">@Resources.Common_Cancel</a></div></td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div><!---------------------------------------------End of the Content02---------------------------->
                                                @*  <div class="dialogueBox" id="pop-up" style="display:none;">
                                                        <p>
                                                                        this is dialogue box.
                                                                        this is dialogue box.
                                                         </p>
                                                    </div>*@



        }
        <!--Popup Window-->
    </div><!---------------------------------------------End of the Content---------------------------->
</body>

</html>

