﻿<!-- 
 *****************************************************
Page Created Date:  07/19/2013
Created By: Kiran Talluri
Purpose: To update the logged in client business unit & its related sites
Version: 1.0
****************************************************
-->

@using FVGen3.Domain.Entities;
@using Resources;
@using FVGen3.Domain.LocalModels;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Resources.PartialClientUnitAndSites_title</title>
</head>
<body>    
    <div class="partialPage">     
         <table> 
            <tr class="partialHeader">
            	<td width="292">Safety Representative for the following Sites</td>
                <td width="292"></td>
                <td width="146"></td>
            </tr>                      
        @foreach (var unitSiteSafetyRepresentative in (List<SiteRepresents>)@ViewBag.VBunitSiteRepresentatives)
        {   		
            <tr>
            	<td>
                    <a href="#!" onclick="openWindow('@unitSiteSafetyRepresentative.ClientId','@unitSiteSafetyRepresentative.ClientBUSiteID', '@unitSiteSafetyRepresentative.ClientBusinessUnitId')">
                        @unitSiteSafetyRepresentative.BusinessUnitname
                    </a>
                </td>

                	<td>
                    <a href="#!" onclick="openWindow('@unitSiteSafetyRepresentative.ClientId','@unitSiteSafetyRepresentative.ClientBUSiteID', '@unitSiteSafetyRepresentative.ClientBusinessUnitId')">
                        @unitSiteSafetyRepresentative.SiteName 
                    </a>
                </td>

                <td align="middle">
                    <img class="imgCursor" src="~/images/DelButton.png" name="image" onclick="deleteLoggedinClientUnitSite('@unitSiteSafetyRepresentative.ClientBUSiteID')" />
                </td>
            </tr>

        }
        </table>              
    </div>
</body>
</html>
