﻿<!--
 *****************************************************
Page Created Date:  05/29/2013
Created By: Kiran Talluri
Purpose:
Version: 1.0
****************************************************
-->

@using Resources

<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>

<body>

@using (Html.BeginForm())
{
    var count = ViewBag.VBsysUserOrgsList.Count;
    if (count != 0)
    {
            <div style="padding:10px;">@count result(s)</div>
    }

		<div class="partialPage">
             <table>
                <tr class="partialHeader">
                    <td width="292">@Resources.common_Label_name_NoColon</td>
                    <td width="292">@Resources.SearchResultsList_Email</td>
                    <td width="146">@Resources.SearchResultsList_UserStatus</td>
                    <td width="146">@Resources.Company_CompanyAssgRoles</td>
                </tr>
                
                @if (@ViewBag.VBsysUserOrgsList != null)
                {
                    foreach (var v in @ViewBag.VBsysUserOrgsList)
                    {
                        <tr>
                    
                            @*@if (@v.SystemUsers.Contacts == null || @v.SystemUsers.Contacts.Count == 0)
                            {
                                <td>
                                    <a href="UpdateNewUserContactDetails_Update?userId=@v.UserId">@v.SystemUsers.Email</a><br/>
                                    @v.Organizations.Name
                                    @if (@v.Organizations.OrganizationType == "Vendor")
                                    {
                                        <img src="~/images/v_image.png" width="15" height="15">
                                    }
                                    @if (@v.Organizations.OrganizationType == "Client")
                                    {
                                        <img src="~/images/c_image.png" width="15" height="15">
                                    }
                                    @if (@v.Organizations.OrganizationType == "Admin")
                                    {
                                        <img src="~/images/a_image.png" width="15" height="15">
                                    }
                                </td>
                            }*@
                            @*else
                            {*@
                                <td>
                                    @if (@v.OrganizationType != "")
                                    {
                                     <a href="UpdateNewUserContactDetails_Update?userId=@v.UserId">@v.Name</a><br />
                                    @v.OrgName                                           
                                    }
                                    else
                                    { @v.Name}
                                    @if (@v.OrganizationType == "Vendor")
                                    {
                                        <img src="~/images/v_image.png" width="15" height="15">
                                    }
                                    @if (@v.OrganizationType == "Client")
                                    {
                                        <img src="~/images/c_image.png" width="15" height="15">
                                    }
                                    @if (@v.OrganizationType == "Admin")
                                    {
                                        <img src="~/images/a_image.png" width="15" height="15">
                                    }
                                </td>
                            @*}*@
                                <td Email="@v.Email">@v.Email @if (@v.OrganizationType == "")
                                {<img src="~/images/edit.png" onclick="ItemClicked(this,'@v.UserId')" />}</td>
                                @if (@v.UserStatus == true)
                                { 
                                    <td>@Resources.SearchResultsList_UserStatus_Active</td>
                                }
                                else
                                {
                                    <td>@Resources.SearchResultsList_UserStatus_InActive</td>
                                }
                            <td>@v.UserRoles</td>
                                </tr>
                    }
                }
                                                                              
            </table>
            @if (count == 0)
            {
                <div class="commentsItalic">@Resources.Common_NoSearch</div> 
            }

                
		</div><!--table-->
}  
</body>
</html>
