﻿<!-- 
 *****************************************************
Page Created Date:  07/19/2013
Created By: Kiran Talluri
Purpose: To update the logged in client business unit & its related sites
Version: 1.0
****************************************************
-->

@using FVGen3.Domain.Entities;
@using Resources;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Resources.PartialClientUnitAndSites_title</title>
</head>
<body>    
    <div class="partialPage">                           
        @foreach (var unitSiteRepresentativebyLoc in (List<IGrouping<string, ClientBusinessUnitSiteRepresentatives>>)@ViewBag.VBunitSiteRepresentatives)
        {
            <table> 
                <tr class="partialHeader">
            		<td width="292">@unitSiteRepresentativebyLoc.Key</td>
                    <td width="292"></td>
                    <td width="146"></td>
            	</tr>
            		
                @foreach (var unitSiteRepresentative in unitSiteRepresentativebyLoc)
                {
                    <tr>
            		    <td>
                            <a href="#!" onclick="openWindow('@unitSiteRepresentative.ClientBusinessUnitSites.ClientBusinessUnit.ClientId','@unitSiteRepresentative.ClientBUSiteID', '@unitSiteRepresentative.ClientBusinessUnitSites.ClientBusinessUnitId','@unitSiteRepresentativebyLoc.Key')">
                                @unitSiteRepresentative.ClientBusinessUnitSites.ClientBusinessUnit.BusinessUnitName
                            </a>
                        </td>

                	     <td>
                            <a href="#!" onclick="openWindow('@unitSiteRepresentative.ClientBusinessUnitSites.ClientBusinessUnit.ClientId','@unitSiteRepresentative.ClientBUSiteID', '@unitSiteRepresentative.ClientBusinessUnitSites.ClientBusinessUnitId','@unitSiteRepresentativebyLoc.Key')">
                                @unitSiteRepresentative.ClientBusinessUnitSites.SiteName 
                            </a>
                        </td>

                        <td align="middle">
                            <img class="imgCursor" src="~/images/DelButton.png" name="image" onclick="deleteLoggedinClientUnitSite('@unitSiteRepresentative.ClientBUSiteID')" />
                        </td>
                    </tr>
                }
        	</table>
        }
              
    </div>
</body>
</html>
