﻿<!--
 *****************************************************
Page Created Date:  05/31/2013
Created By: Kiran Talluri
Purpose:
Version: 1.0
****************************************************
-->

@using Resources
<!DOCTYPE html>

<html>
<head>
</head>  
            
 <body>
     @using (Html.BeginForm())
     {
         <div class="partialPage">     
            <table>
                <tr class="partialHeader">
                    <td width="292">@Resources.Company_CompanyName</td>
                    <td width="146">
                        @if (@ViewBag.isSuperUser == null || !(Boolean)@ViewBag.isSuperUser)
                        {
                            @Resources.Company_CompanyAddRoles
                        }
                    </td>
                    <td width="292">@Resources.Company_CompanyAssgRoles</td>
                </tr>

             @foreach (var systemUserOrg in @ViewBag.VBsystemUsersOrgList)
                {
                    var temp ="";   
                    <tr>
                        <td>
                            @systemUserOrg.Name <br />

                            <div class="commentsItalic">
                                @ViewBag.VBCompanyOfficerName
                            </div>
                        </td>
                    
                        <td>
                            @if (@ViewBag.isSuperUser==null || !(Boolean)@ViewBag.isSuperUser)
                            {
                                <a href="#!" onclick="openWindow('@systemUserOrg.Userid','@systemUserOrg.SysUserOrganizationId')">@Resources.UpdateNewUserContactDetails_SecurityRoles</a>
                            }
                        </td>

                        <td valign="top">
                             @foreach (var role in @systemUserOrg.RoleName)
                             {
                                 temp = temp + role + ", ";

                             }
                            @if (temp.Length > 0)
                            {
                                    @temp.Substring(0, temp.Length - 2);
                            } 
                        </td>                        
                    </tr>                    
                }
     </table>
    </div>
     }
    </body>
</html>

 