﻿
@model List<FVGen3.Domain.ViewModels.LocalPowerBiReports>
@using FVGen3.Domain.Entities;
@using Resources
@{
    ViewBag.Title = "Power Bi Reports";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
    ViewBag.hasSidebar = false;
}

<!DOCTYPE html>
<style>
    /*.main_right {
        float: left;
        width: 100%;
    }
    .content{
        max-width: 100% !important;
    }*/
</style>
<head>
    <script>
        $(document).ready(function () {
            $('.sidebar_left').hide();
            $("#powerBiMenu").kendoMenu();
        });
    </script>
</head>

<div>
    <ul class="breadcrumb">
      
        @for (var i = 0; i < Model.Count(); i++)
        {
            <li>
                @if (Model[i].IsSelected)
                {
                    @: @Model[i].DisplayName
                }
                else
                {
                    <a href="../SystemUsers/PowerBiReports?reportId=@Model[i].ReportId">@Model[i].DisplayName</a>
                }
            </li>
        }
    </ul>
</div>

<iframe width="90%" height="700" src="@ViewBag.Url" frameborder="0" allowFullScreen="true"></iframe>
<link href="~/css/PowerBiReports.css" rel="stylesheet" />