﻿<!--
 *****************************************************
Page Created Date:  10/02/2013
Created By: Kiran Talluri
Purpose: To Display the list of Proficiency Capabilities as well as to add Proficiency Capabilities
Version: 1.0
****************************************************
-->

@using Resources;
@using FVGen3.Domain.Entities;
@{
    ViewBag.Title = "Proficiency And Capabilities";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>

<script type="text/javascript">

    $(document).ready(function () {
        setPermissions('@ViewBag.ViewPermissions');
    });

    var winPop = false;
    function openWindow(proficiencyId) {
        if (winPop && !winPop.closed) {  //checks to see if window is open  
            winPop.focus();
        }
        else {
            winPop = window.open("AddProficiencyCapability?ProficiencyId=" + proficiencyId, "_blank", "toolbar=no,  directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=yes, width=650, height=400");
        }
    }

    function EditCategory(currentObj,proficiencyId)
    {
        var fieldObj = $(currentObj).closest("tr");
        var categoryTD = fieldObj.find(".proficiencycategory");
        var category = $(categoryTD).find("label").html();
        var SubCategroyTD = fieldObj.find(".ProficiencySubCategroy");
        var SubCategroy = $(SubCategroyTD).find("label").html();

        if ($(currentObj).attr("mode") === "close") {
            $.ajax({
                type: "GET",
                url: "GetproficiencyData",
                data: { proficiencyId: proficiencyId },
                success: function (data) {
                    if (data == 0) {
                        $(categoryTD).html("<input type='text' name='categoryinput'  value='" + category + "'>");
                        $(SubCategroyTD).html("<input type='text' name='SubCategroyinput' value='" + SubCategroy + "'>");
                        $(currentObj).attr("mode", "open");
                        $(currentObj).attr("src", "../images/done.png");
                    }
                    else {
                        alert("Category (or) SubCategory has been already used.");
                    }
                }
            });
        }
        else
        {
            var category = $(categoryTD).find("input[name='categoryinput']").val();
            var SubCategroy = $(SubCategroyTD).find("input[name='SubCategroyinput']").val();
            $.ajax({
                type: "GET",
                url: "EditProficiencyCapability",
                data: { proficiencyId: proficiencyId, category: category, SubCategroy: SubCategroy },
                success: function (data) {
                    if(data === "OK")
                    {
                        alert("Data has been saved successfully. These changes won't affect on any \"Proficiency & Capability\" Section in Questionnaire. If you want to apply these changes, go to Questionnaire Tool -> Custom -> Select Template -> Select Proficiency & Capability Per-Client -> Click on Save");
                        $(currentObj).attr("mode", "close");
                        $(currentObj).attr("src", "../images/edit.png");
                        var fieldObj = $(currentObj).closest("tr");
                        var categoryTD = fieldObj.find(".proficiencycategory");                       
                        var SubCategroyTD = fieldObj.find(".ProficiencySubCategroy");
                        $(categoryTD).html("<label >" + category + "</label>");
                        $(SubCategroyTD).html("<label >" + SubCategroy + "</label>");                        
                    }
                    else
                    {
                        alert("Unable to process request, Please try again later.");
                    }
                }
            });
        }
    }

</script>
<body>
    <div class="contentSub">

        <table width="694" border="0">
              <tr>
                <td class="page-title">
                  <h2>@Resources.ProficiencyCapabilitiesList_heading</h2>
                </td>
                <td align="right" valign="top">
                    <button type="button" btnType="Insert" onclick="openWindow('-1')">@Resources.Common_AddNew</button>
                </td>
              </tr>
        </table>                
        
        <div class="partialPage">
            <table>    
                <tr class="partialHeader">
                    <td width="262">@Resources.ProficiencyCapabilities_Category</td>
                    <td width="182">@Resources.ProficiencyCapabilities_Subcategory</td>
                    <td></td>
                    <td width="186">@Resources.ProficiencyCapabilitiesList_Name</td>
                    <td width="100">@Resources.Common_heading_Status</td>
                    
                </tr>
                @foreach (var proficiency in @ViewBag.VBProficiencyCapabilitiesList)
                { 
                    <tr>
                        <td class="proficiencycategory"><label>@proficiency.ProficiencyCategory </label></td>
                        <td class="ProficiencySubCategroy">
                            @if (@proficiency.ProficiencySubCategroy == "")
                            {
                                <label>-</label>
                            }
                            else
                            {
                                <label> @proficiency.ProficiencySubCategroy</label>
                            }
                        </td>
                        <td>
                            @if (proficiency.IsEdit)
                            {
                                <img mode="close" src="~/images/edit.png" class="imgCursor" onclick="EditCategory(this, '@proficiency.ProficiencyId')" btntype='Update'/>
                            }
                        </td>
                        <td><a href="#!" onclick="openWindow('@proficiency.ProficiencyId')">@proficiency.ProficiencyName</a></td>

                        @if (@proficiency.Status == 0)
                        {
                            <td>@Resources.Common_label_InActive</td>
                        }
                        else if (@proficiency.Status == 1)
                        { 
                            <td>@Resources.Common_label_Active</td>
                        }
                        else
                        { 
                            <td>-</td>
                        }
                        
                    </tr>
                }
            </table>
        </div>
        @if (@ViewBag.VBProficiencyCapabilitiesList != null)
        {
            if (@ViewBag.VBProficiencyCapabilitiesList.Count == 0)
            {
                
                <div class="commentsItalic">@Resources.Common_NoRecords</div>
            }
        }   

    </div>
</body>
</html>
