﻿<!--
 *****************************************************
Page Created Date:  (MM/DD/YYYY)05/07/2013
Created By: Suma J
Purpose:
Version: 1.0
****************************************************
-->

@using Resources
@model FVGen3.Domain.Entities.LocalLoginModel
@{
    ViewBag.Title="Forgot Password";
    Layout ="~/Views/Shared/_LoginLayout.cshtml"; 
}


<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>SendResetMail- First, Verify</title>
<meta name="description" content="Client Dashboard - First, Verify">
<meta name="viewport" content="width=device-width">

@Styles.Render("~/css/normalize.css")
@Styles.Render("~/css/normalize.min.css")
@*@Styles.Render("~/css/main.css")*@
@Styles.Render("~/css/admindashboard.css")
@Styles.Render("~/css/sendresetmail.css")

@*<link  rel="stylesheet" href="css/normalize.css">
<link  rel="stylesheet"  href="css/normalize.min.css">
<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet"  href="css/AdminDashBoard.css">
<link rel="stylesheet"  href="../css/SendReset_Mail.css">*@
</head>

<body>

<div style="padding:10px;">
  <p><strong> @Resources.PWDResult_SuccessMessage
</strong></p>

</div>
</body>
</html>


@*<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>send reset mail  </title>


@Styles.Render("~/css/SendReset_Mail.css")
</head>

<body>

<div class="send_reset_content">
  <p> An email has been sent to you with a link that you can use to create a new password.
   If you do not receive the email within a few minutes, please contact us for assistance.</p>

</div>
</body>
</html>
*@