﻿<!--
 *****************************************************
Page Created Date:  (MM/DD/YYYY)05/07/2013
Created By: Suma J
Purpose:
Version: 1.0
****************************************************
-->
@model FVGen3.Domain.Entities.LocalResetPasswordModel
@using Resources
@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_VendorRegistrationLayout.cshtml"; 
}

@using Resources;
<script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>


<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>Reset Password</title> 
 
</head>

<body>


<div class="change_content" style="float:right;">

 @if (@ViewBag.isSuccess!=null && @ViewBag.isSuccess)
{
    <div>
        <p class="successMessage">@Resources.Common_ChangesSavedSuccessMsg </p>
    </div>
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
     
          <div class="page-title"><h2>@Resources.ChangePassword_ChangePassword</h2></div>
            <div class="contentSub">  
              @Html.HiddenFor(model => model.userId)
                  <div class="rowIST" popText = "">
                    <label>@Resources.ChangePassword_Email</label>
                     @Html.TextBoxFor(model => model.email, new { @class = "input", @readonly = "readonly" })
                     @Html.ValidationMessageFor(model => model.email)               
                  </div>    
    
                  <div class="rowIST" popText = "@Resources.ChangePassword_Hint_NewPassword">
                    <label class="enableStar">@Resources.ChangePassword_NewPassword</label>
                     @Html.PasswordFor(model => model.NewPassword, new { @class = "input", autocomplete = "off" })
                     <div class="alertText">@Html.ValidationMessageFor(model => model.NewPassword)</div>           
                  </div>       
                  <div class="rowIST" popText = "@Resources.ChangePassword_Hint_ConfirmPassword">
                    <label class="enableStar">@Resources.ChangePassword_ConfirmPassword </label>
                    @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "input", autocomplete = "off" })
                    <div class="alertText">@Html.ValidationMessageFor(model => model.ConfirmPassword)</div>           
               
                  </div>
            </div>
             <div class="passwordRequirements">
                 <span class="passwordRequirementshdr">Password Requirements</span> 
                    <ul>
                        <li>Must be at least 10 characters long</li>
                        <li>Must contain at least 1 uppercase letter</li>
                        <li>Must contain at least 1 lowercase letter</li>
                        <li>Must contain at least 1 number</li>
                    </ul>
            </div>
              <div class="contentSub">

                   <div class="pageFooterContent">
    	                <div class="pageFooterButtons">
        	                <table>
        	                    <tr>
            	                    <td><button type="submit" class="PageFooter_Button">@Resources.ChangePassword_ChangePassword</button></td>
                                    <td>@Resources.Common_label_or</td>
                                    <td><div class="pageFooterCancelButton"> @Html.ActionLink(@Resources.Common_Cancel, "../SystemUsers/Login")</div></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

   @*    <div class="dialogueBox" id="pop-up" style="display:none; position:absolute;">
  <p>
this is dialogue box.
this is dialogue box.
</p>
 </div>*@


}
</div>
<script>


    $(document).ready(function () {
        $('.sidebar_left').hide();
    });
</script>


<!-- HIDDEN / POP-UP DIV -->

