﻿<!--
 *****************************************************
Page Created Date:  05/22/2013
Created By: Kiran Talluri
Purpose:
Version: 1.0
****************************************************
Date: 7/3/2013 Added code to handle Session Expiry
**************************************************** 
Date: 8/17/2013 Changed the html design for name & advanced tabs              
-->

@using FVGen3.Domain.Entities;
@model FVGen3.Domain.Entities.LocalUserSearchModel
@using Resources
@{
    ViewBag.Title = "User Search";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";    
}


<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script src="~/scripts/jquery-1.9.1.min.js" type="text/javascript"></script>

    <script src="~/Scripts/kendo/kendo.all.min.js"></script>




   
    <link href="~/css/kendo/kendo.default.min.css" rel="stylesheet" />
    <link href="~/css/kendo/kendo.common.min.css" rel="stylesheet" />
    <link href="~/css/kendo/kendo.default.mobile.min.css" rel="stylesheet" />
    <script>
        $(document).ready(function () {
            var vendorId =-1;
            $("#VendorId").val(vendorId);
            $('.spinnerOverlay').hide();
            $('.importSubmitSpinner').hide();
            $("#name").click(function () {
                $(".name_menu").show();
                $(".advance_menu").hide();
                $("#SearchType").attr('checked', true);
                $("#SearchType").attr('value', true);


                //To remove all css
                $("#buttonTabOne").removeClass("selectedTab");
                $("#buttonTabOne").removeClass("unSelectedTab");
                $("#buttonTabTwo").removeClass("selectedTab");
                $("#buttonTabTwo").removeClass("unSelectedTab");
                //To Add Relavent classes
                $("#buttonTabOne").addClass("selectedTab");
                $("#buttonTabTwo").addClass("unSelectedTab")


            });

            $("#advance").click(function () {
                $(".name_menu").hide();
                $(".advance_menu").show();
                $("#SearchType").attr('checked', false);
                $("#SearchType").attr('value', false);


                //To remove all css
                $("#buttonTabOne").removeClass("selectedTab");
                $("#buttonTabOne").removeClass("unSelectedTab");
                $("#buttonTabTwo").removeClass("selectedTab");
                $("#buttonTabTwo").removeClass("unSelectedTab");
                //To Add Relavent classes
                $("#buttonTabOne").addClass("unSelectedTab");
                $("#buttonTabTwo").addClass("selectedTab")

            });

            // Added code to call setPermissions() function on 08/07/2013 by Kiran Talluri
            setPermissions('@ViewBag.ViewPermissions');
            // Ends<<<
            //Added code for name & advanced tabs on 8/17/2013

            $("#SearchType").attr('checked', true);
            $('#spinner').click(function (e) {
                $(".spinnerOverlay").show();
                //alert('Search');
                e.preventDefault();
                $('.importSubmitSpinner').show();
            });
            //$("#Users").kendoAutoComplete({
            //    dataTextField: "Name",
            //    filter: "startswith",
            //    minLength: 3,
            //    dataSource: {
            //        type: "json",
            //        serverFiltering: true,
            //        transport: {
            //            read: { url: "../SystemUsers/GetClients" },
            //            parameterMap: function (data, action) {
            //                if (action === "read") {
            //                    return {

            //                        //term: data.filter.filters[0].value
            //                        name: $("#Users").data("kendoAutoComplete").value()
            //                    };
            //                } else {
            //                    return data;
            //                }
            //            }
            //        }
            //    }
            //});
            $("#VendorId_drop").kendoAutoComplete({
                dataTextField: "Name",
                dataValueField: 'id',
                filter: "startswith",
                minLength: 3,
                select: function (e) {
                    var dataItem = this.dataItem(e.item.index());
                    //vendorId = dataItem.ID;
                    //alert(dataItem.ID);
                    //alert(vendorId);
                    $("#VendorId").val(dataItem.ID);
                },
                dataSource: {
                    type: "json",
                    serverFiltering: true,
                    transport: {
                        read: { url: "../Vendor/GetVendorOrgs" },
                        parameterMap: function (data, action) {
                            if (action === "read") {
                                return {

                                    //term: data.filter.filters[0].value
                                    name: $("#VendorId_drop").data("kendoAutoComplete").value()
                                };
                            } else {
                                return data;
                            }
                        }
                    }
                },
                //select: onSelect
            });
        });

        //Ends<<<

        //Kiran 12/10/2013 >>>
        function changeInActiveStatus() {
            var userInActiveStatus = $("#UserStatus_InActive").is(':checked');
            if (userInActiveStatus == true) {
                $("#UserStatus_Active").prop('checked', true);
                $("#UserStatus_InActive").prop('checked', false);

            }
        }
        function changeActiveStatus() {
            var userActiveStatus = $("#UserStatus_Active").is(':checked');
            if (userActiveStatus == true) {
                //alert(userInActiveStatus);
                $("#UserStatus_Active").prop('checked', false);
                $("#UserStatus_InActive").prop('checked', true);
            }
        }
        // Ends <<<
        function getParams() {
       
            var searchType = $("#SearchType").attr('value');
                var fname = $("#FirstName").val().trim(); // Kiran on 03/18/2015
                var lname = $("#LastName").val().trim(); // Kiran on 03/18/2015
                var email = $("#Email").val().trim(); // Kiran on 03/18/2015
                var userStatus_Active = $("#UserStatus_Active").is(':checked');
                var userStatus_InActive = $("#UserStatus_InActive").is(':checked');
                var clientId = $("#ClientId").val();
                var SuperClientId = $("#SuperClientId").val();
                var vendorId = $("#VendorId").val();
                var adminId = $("#AdminId").val();
            var viewModel = kendo.observable({
                param: {
                    searchType: searchType,
                    fname: fname,
                    lname: lname,

                    email: email,
                    userStatus_Active: userStatus_Active,
                    userStatus_InActive: userStatus_InActive,
                    clientId: clientId,
                    SuperClientId: SuperClientId,
                    vendorId: vendorId,
                    adminId: adminId

                }

            });
            return JSON.parse(JSON.stringify(viewModel.param));
        }


        function searchUsers() {
           
            var kgrid = $("#searchBlock_id").kendoGrid({
                dataSource: new kendo.data.DataSource({
                    type: "get",

                    transport: {
                        type: 'post',
                        read: {
                            type: 'post',
                            url: "../SystemUsers/GetSysUserOrganizations",
                            data: function (options) {
                                return Object.assign(getParams(), options.data);
                            }
                        },


                    },
                    batch: true,
                    schema: {

                        data: "Data",
                        total: "Total",
                        model: {
                            fields: {
                                Name:{type:"string"},
                                Email: { type: "string" },
                                UserRoles: { type: "string" }
                            }
                        }
                    },
                    pageSize: 30,
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true
                }),

                height: 700,

                pageable: true,
                columns: [

                    {
                        title:"Name",
                        width:"180px",
                        template: '#if(OrganizationType!=""){#<a href="UpdateNewUserContactDetails_Update?userId=#=UserId#">#=Name#</a><br/>#=OrgName# #}else{# #=Name# #}if(OrganizationType == "Vendor"){# <img src="../images/v_image.png" width="15" height="15"> #}else if (OrganizationType == "Client"){# <img src="../images/c_image.png" width="15" height="15"> #}else if (OrganizationType == "Admin"){# <img src="../images/a_image.png" width="15" height="15"> #}#'

                    },
                    {
                        title: "Email Address (User Name)",
                        template: "#=Email# #if(OrganizationType == ''){# <img src='../images/edit.png' onclick=ItemClicked(this,'#=UserId#','#=Email#') />#}#"
                    },
                    {title:"Status",
                    template: '#if(UserStatus == true){#Active#}else{#InActive#}#',
                    width: "80px"
                    },
                    {title:"Assigned Roles",
                    field: "UserRoles",
                        width:"120px"
                    }
                ]
            });
        }




    </script>
   
</head>

<body>
@using (Ajax.BeginForm(new AjaxOptions { UpdateTargetId = "searchBlock_id" }))
{
    
	    <div class="contentSub">
		    <table width="694" border="0">
              <tr>
                <td class="page-title">
                  <h2>@Resources.SearchUser_Title</h2>
                </td>
                <td align="right" valign="top">
                    <button type="button" btnType="Insert" onclick="document.location = '@Url.Action("AddNewUser", "SystemUsers")';">@Resources.Common_AddNew</button>
                </td>
              </tr>
            </table>
        
            <div class="rowTabs">
                <label class="rowTabsLabel">@Resources.SearchUser_TypeText</label>
               
                <table>
                	<tr>
                    	<td>
                            <div class="selectedTab" id="buttonTabOne">
                        	    <input type="radio" id="SearchType" name="SearchType" value="true"/>
                                <label for="SearchType" id="name">@Resources.common_Label_name_NoColon</label>
                            </div>
                        </td>
                        <td>
                            <div class="unSelectedTab" id="buttonTabTwo">
                        	    <input type="radio" id="SearchType" name="SearchType" value="false"/>
                                <label for="advance" id="advance">@Resources.SearchUser_Type_Advanced</label>
                            </div>
                        </td>
                    </tr>
                </table> 

            </div>
                <div class="name_menu">
            <div class="rowIST">
                <label>@Resources.Common_Label_FirstName</label>
                @Html.TextBoxFor(model => Model.FirstName, new { @maxlength = "100" })<br />
                <br />
                <label>@Resources.Common_Label_LastName</label>
                @Html.TextBoxFor(model => Model.LastName, new { @maxlength = "100" })
                <br />
                <br />
                <label>@Resources.SearchUser_Label_Email</label>
                @Html.TextBoxFor(model => Model.Email, new { @maxlength = "100" })
            </div>
            </div> <!-----end of the name---->
           
            
            <div class="advance_menu" style="display:none;">
            
            @* Srinivas for radio and checkbox*@
            <div class="rowRadioCheckbox">
                <table>
                    <tr>
                        <td><label>@Resources.SearchUser_Label_Status</label></td>
                        <td>@Html.CheckBoxFor(model => Model.UserStatus_Active, new {onclick = "changeInActiveStatus()"})</td>
                            <td><label for="UserStatus_Active">@Resources.SearchUser_Label_Active</label></td>
                    </tr>
                    <tr>
                        <td><label></label></td>
                        <td>@Html.CheckBoxFor(model => Model.UserStatus_InActive, new { onclick = "changeActiveStatus()" })</td>
                        <td><label for="UserStatus_InActive">@Resources.SearchUser_Label_Disabled</label></td>
                    </tr>
                </table>
            </div>
            @* <<<<<<<<<<<<<<<Srinivas for radio and checkbox*@



                <div class="rowIST">
                    <label>Admin</label>
                    @Html.DropDownListFor(model => Model.AdminId, (IEnumerable<SelectListItem>)@ViewBag.VBadminList) <br />
                    <br />
                    <label>@Resources.SearchUser_Label_Client</label>
                    @Html.DropDownListFor(model => Model.ClientId, (IEnumerable<SelectListItem>) @ViewBag.VBclientsList) <br/>
                    <br/>
                    <label>@Resources.Emp_Vendor</label>
                    <input id="VendorId_drop"name="VendorId_drop" style="width: 70%;" />
                    @Html.HiddenFor(x => Model.VendorId, new List<SelectListItem>())
                    @*@Html.DropDownListFor(model => Model.VendorId, (IEnumerable<SelectListItem>)@ViewBag.VBvendorsList)*@ 
                    <br />
                    <label>@Resources.Common_Label_SuperClient</label>
                    @Html.DropDownList("SuperClientId", (IEnumerable<SelectListItem>)@ViewBag.VBSuperclientsList) <br />
                    <br />
                   
                </div>
                
            </div><!-----Advanced------>
            <div class="rowIST">
            <button id="spinner" type="button" onclick = "searchUsers()">@Resources.Common_Search</button>
            </div>
           
        </div><!----Content----> 
        <!----  search Results Division, html for displaying results is written in SearchResultsList.cshtml ---->
        <div class="contentSub">
            @*<div id="progressbar" class="spinnerOverlay">
            </div>*@
            <div id = "searchBlock_id">
                    
            </div>
        </div>

        @*<div>
		    <img src="~/images/spinner.gif" width="28" height="28" class="importSubmitSpinner" alt="Spinner" />
        </div>*@
        <!---Ends---->
    
}
</body>
</html>

<script>
    @*function IsEmail(email) {
        var HasEmail=false;
    var emailReg = "/^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/";
    HasEmail=false;
    if (!regex.test(email)) {
    } else {
        HasEmail=true;
    }
    if(HasEmail == true) { return false; }
    }*@
</script>
<script>


    function ItemClicked(obj, id, Email) {
       
     var td = $(obj).closest("td");
     var content = Email;
     //var content = td.find("a").html();
     td.html("<input type='email' id='RemoveTextbox' onkeypress='return (event.keyCode != 13)'/> <img src='/images/done.png' onclick=\"ItemSubmited(this,'" + id + "','"+Email+"')\"/>");
     td.find("input").val(content);
 }
    function ItemSubmited(obj, id,Email) {

            var td = $(obj).closest("td");
            var oldEmail = Email;
            var content = td.find("input").val();
            if (content == "") {
                alert("Please enter the Email ");
                return;
            }
          

            Post("../SystemUsers/ChangeEmail", { UserId: id, Email: content }, function () {
                alert("'" + oldEmail + "' has been changed");
                //$(obj).attr("onclick", 'ItemClicked(this,"' + id + '")');
                //$(obj).attr("src", '/images/edit.png');
                td.html(content + "<img src='/images/edit.png' onclick=\"ItemClicked(this,'" + id + "','" + content + "')\"/>");
            });
        }
        </script>





















