﻿<!--
Page Created Date:  08/06/2013(Aug 6th)
Created By: Sumalatha Jeldi
Purpose:All operations related to Template Pricing 
Version: 1.0
****************************************************
-->

@using FVGen3.Domain.Entities;
@model FVGen3.Domain.Entities.LocalTemplatePricing
@using Resources;
@{
    ViewBag.Title = "Template Pricing";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml"; 
 }

 <!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=6" />
<meta http-equiv="X-UA-Compatible" content="IE=7"/>
<meta http-equiv="X-UA-Compatible" content="IE=8"/>
<meta http-equiv="X-UA-Compatible" content="IE=9"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width"/>
<script src="~/Scripts/jquery-1.9.1.min.js" type="text/javascript"></script>
<script src="~/js/autoNumeric.js"></script>
<script type = "text/javascript">

    var selectedtemplateID;
    var selectedtemplatePrice;
    $(document).ready(function () {

        // For Roles and Permissions
        setPermissions('@ViewBag.ViewPermissions');
        // To display partialView on page load
        $("#TemplatePrice").autoNumeric('init', { vMax: '999.99' }); // Kiran on 11/25/2013
        selectedtemplateID = $("#TemplateName").val();
        TemplateNameChange();
        //getdefaultType(selectedtemplateID);
        $(".TemplatePrices_content2").show();

    });

    function TemplateNameChange()
    {
        selectedtemplateID = $("#TemplateName").val();
        getdefaultType(selectedtemplateID);
    }

    // Kiran on 11/04/2013 for providing deletion
    function deleteTemplatePricing(templatePriceId) {
        var c = confirm("@Resources.TemplatePricingList_confirmdialogue_delete");
        if (c == true) {
            $.ajax({
                type: 'GET',
                url: 'DeleteTemplatePricing',
                data: 'TemplatePriceId=' + templatePriceId,
                success: function (data) {
                    if (data.indexOf("Session expired") >= 0) {
                        window.location = "../SystemUsers/Login";
                    }
                    else if (data = "TemplatePricingDeleteSuccess") {
                        window.location = "../SystemUsers/TemplatePricing";
                    }
                },
                error: function () {
                    console.trace();
                    alert("Fail ");
                }
            });
        }
        else {
            return false;
        }
    }

    // <<< Ends
</script>
<script>
    function showpartialviewData() {
        $.ajax({
            type: 'Post',
            url: 'TemplatePricingPartialdata',

            success: function (data) {
                //alert(data);
                if (data.indexOf("Session expired") >= 0) {
                    window.location = "../SystemUsers/Login?lastLoginPage=" + lastpageurl;
                }
                else {
                    if (data.indexOf("Error") != -1)
                        alert(data);

                    else {
                        // For Roles and Permissions

                        $("#TemplatePrices_content2").html(data);
                        $("#TemplatePrice").val("");
                        $("#TemplateName").val($("#TemplateName option:first").val());
                        setPermissions('@ViewBag.ViewPermissions');
                    }
                }
            },
            error: function () {
                console.trace();
                alert("Unable to process request please try again ");
            }
        });
        //window.location = "SystemUsersController/TemplatePricingPartialdata";
    }
     
        
</script>

<script type = "text/javascript">
    function getdefaultType(id) 
    {

        var selectedtemplateID = id;
        //alert(selectedtemplateID);
        if (selectedtemplateID != undefined) {
            $.ajax({
                type: 'Post',
                url: 'displaydefaultTemplate',
                data: '&selectedtemplateID=' + selectedtemplateID,
                success: function (data) {
                    //alert(data);
                    $(".TemplatePrices_row_data").html(data);
                },
                error: function () {
                    console.trace();
                    alert("Unable to process request please try again ");
                }
            });
        }
    }

    function savetodatabase() {
        
        // Kiran on 11/26/2013
        var templatePrice = $("#TemplatePrice").val();
        if (templatePrice == "") {
            alert("Enter Price");
            return false;
        }
        if (templatePrice == 0) {
            alert("Price can not be zero");
            return false;
        }
       
//        if (templatePrice >= 999.99) {
//            //alert(templatePrice);
//            alert("Price limit has been restricted to $999.99");
//            return false;
//        }
//        if (!templatePrice.match(/^(\d{0,3})$/)) {
////            alert("Price limit has been restricted to $999.99");
////            return false;
//        }
        // Ends<<<
        $("#TemplatePrices_content2").show();
        //selectedtemplatePrice = 
        //alert(selectedtemplatePrice + " " + "In btnClick");

        var selectedId = selectedtemplateID;
        var priceValue = $("#TemplatePrice").val();
        //alert(priceValue + " & " + selectedId);

        if (priceValue != "" && selectedId != null) 
        {
            $.ajax({
                type: 'Post',
                url: 'TemplatePricingListPartialView',

                data: '&selectedtemplateID=' + selectedId + '&selectedtemplatePrice=' + priceValue,
                success: function (data) {
                    if (data.indexOf("Session expired") >= 0) {
                        window.location = "../SystemUsers/Login?lastLoginPage=" + lastpageurl;
                    }
                    else {
                        if (data.indexOf("Error") != -1)
                            alert(data);

                        else {
                            // For Roles and Permissions

                            $("#TemplatePrices_content2").html(data);
                            $("#TemplatePrice").val("");
                            $("#TemplateName").val($("#TemplateName option:first").val());
                            setPermissions('@ViewBag.ViewPermissions');
                        }
                    }

                },
                error: function () {
                    console.trace();
                    alert("Unable to process request please try again ");
                }
            });
        }
        
    }


        
</script>

<script type = "text/javascript">

//    function discountDetails(id) {
//        var selectedtemplatePriceID = id;
//        window.location = "../SystemUsers/TemplateDiscountPricing" + '?SelectedtemplateID=' + selectedtemplatePriceID;
//    }

//    function clearall() {
//       
//    }

</script>

</head>

<body>
	<div class="contentSub">
        <div class="page-title">
            <h2>@Resources.TemplatePricing_Title</h2>
        </div>

        <div class="rowIST">
            <label>@Resources.TemplatePricing_products</label>
            @Html.DropDownListFor(model => model.TemplateName, (IEnumerable<SelectListItem>)@ViewBag.VBtemplateNames, new { onChange = "TemplateNameChange()" })
        </div>

        <div class="rowIST">
            <label class="enableStar">@Resources.TemplatePricing_price ($):</label>
            @Html.TextBoxFor(m => m.TemplatePrice)
        </div>

        <div class="rowIST">
            <button type="submit"   id="spinner" btnType="Insert" onclick ="savetodatabase()">@Resources.Common_Save</button>
        </div>
    </div><!----End of the Content 1------->
<!-------------PartialView------->
    <div class="contentSub">
        <div id="progressbar" class="spinnerOverlay">
        </div>
                
        <div id ="TemplatePrices_content2">

        </div>
        <script> showpartialviewData();</script>
    </div><!----End of the Content 2------->

    <div>
		<img src="~/images/spinner.gif" width="28" height="28" class="importSubmitSpinner" alt="Spinner" />
    </div>
    
</body>
</html>
