﻿<!--
Page Created Date:  08/06/2013(Aug 6th)
Created By: Sumalatha Jeldi
Purpose:All operations  related to Template Pricing Discount 
Version: 1.0
****************************************************
-->


@using FVGen3.Domain.Entities;
@model FVGen3.Domain.Entities.LocalTemplateDiscountPrices
@using Resources;


@{
    ViewBag.Title = "Template Discount Pricing";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml"; 
 }

 <!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=6" />
    <a href="TemplateDiscountPricing.cshtml">TemplateDiscountPricing.cshtml</a>
<meta http-equiv="X-UA-Compatible" content="IE=7"/>
<meta http-equiv="X-UA-Compatible" content="IE=8"/>
<meta http-equiv="X-UA-Compatible" content="IE=9"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width">
        
        @* @Scripts.Render("~/js/common.js")
         @Styles.Render("~/css/common.css")
         @Styles.Render("~/css/templatepricesdiscount.css")
        *@<script src="~/Scripts/jquery-1.9.1.min.js" type="text/javascript"></script>
   
<script>
    $(document).ready(function () {
        $("#TemplatePricesDiscount_content2").show();
        // For Roles and Permissions
        setPermissions('@ViewBag.ViewPermissions');
    });

    // Kiran on 11/04/2013 for providing deletion
    function deleteTemplateDiscountPricing(templateDiscountId) {
        var c = confirm("@Resources.TemplateDiscountPricingList_confirmdialogue_delete");
        if (c == true) {
            $.ajax({
                type: 'GET',
                url: 'DeleteTemplateDiscountPricing',
                data: 'TemplateDiscountId=' + templateDiscountId,
                success: function (data) {
                    if (data.indexOf("Session expired") >= 0) {
                        window.location = "../SystemUsers/Login";
                    }
                    else if (data = "TemplateDiscountPricingDeleteSuccess") {
                        window.location = "../SystemUsers/TemplateDiscountPricing?SelectedtemplateID=" + '@ViewBag.VBTemplateId';
                    }
                },
                error: function () {
                    console.trace();
                    alert("Fail ");
                }
            });
        }
        else {
            return false;
        }
    }
    // <<< Ends

    
    function showpartialviewData(id) {
        //alert(id);
        //alert("hai in Function");
        $.ajax({
            type: 'Post',
            url: 'TemplateDiscountPricingPartialData',
            data:  '&SelectedtemplateID=' + id,
            success: function (data) {
               // alert(data);
                if (data.indexOf("Session expired") >= 0) {
                    window.location = "../SystemUsers/Login?lastLoginPage=" + lastpageurl;
                }
                else {
                    if (data.indexOf("Error") != -1)
                        alert(data);
                    else {
                        // For Roles and Permissions
                        $("#TemplatePricesDiscount_content2").html(data);
                        setPermissions('@ViewBag.ViewPermissions');
                    }
                }

            },
            error: function () {
                console.trace();
                alert("Unable to process request please try again ");
            }
        });
    }


    //>>>>Suma on 9/18/2013 

    function savetodatabase(price) {
        $("#TemplatePricesDiscount_content2").show();

        //var selectedTemplateId = Id;
        var Discounttype = $("#DiscountType").val();
        if (Discounttype == "Same") {
            Discounttype = 0;
        }
        else {
            Discounttype = 1;
        }
        //alert(Discounttype);
        var MinPrequalifications = parseInt($("#MinNoOfPrequalification").val(), 0);
        //alert(MinPrequalifications);

        var MaxPrequalifications = $("#MaxNoOfPrequalification").val();
        //var MaxPrequalifications = parseInt($("#MaxNoOfPrequalification").val(), 0);

        if (MaxPrequalifications.toString() == "Unlimited") {
            MaxPrequalifications = 9999;
        }
        //alert(MaxPrequalifications);
        if (MaxPrequalifications <= MinPrequalifications) {
            alert("Error: Max. Prequalifications should be greater than Min. Prequalifications");
            return;
        }

        var DiscountPrice = parseFloat($("#DiscountedPrice").val());
        //var DiscountPrice = $("#DiscountedPrice").val();
        //alert(DiscountPrice);
        if (isNaN(DiscountPrice)) {
            //alert("Hai");
            DiscountPrice = 0;
            alert("Enter discounted price");
            return false;
        }
        //alert(DiscountPrice)
        if (DiscountPrice >= price) {
            alert("Discounted price can not be more than actual price $" + price);
            return;

        }
        //>>>>>>Ends


        $.ajax({
            type: 'Post',
            url: 'TemplateDiscountPricingListPartialView',
            data: '&discounttype=' + Discounttype + '&minPrequalifications=' + MinPrequalifications + '&maxPrequalifications=' + MaxPrequalifications + '&discountedPrice=' + DiscountPrice, //+ '&selectedTemplateId=' + selectedTemplateId,
            success: function (data) {
                if (data.indexOf("Session expired") >= 0) {
                    window.location = "../SystemUsers/Login?lastLoginPage=" + lastpageurl;
                }
                else {
                    if (data.indexOf("Error") != -1)
                        alert(data);
                    else {
                        $("#TemplatePricesDiscount_content2").html(data);
                        $("#DiscountedPrice").val("");
                        $("#DiscountType").val($("#DiscountType option:first").val());
                        $("#MinNoOfPrequalification").val($("#MinNoOfPrequalification option:first").val());
                        $("#MaxNoOfPrequalification").val($("#MaxNoOfPrequalification option:first").val());
                        setPermissions('@ViewBag.ViewPermissions');

                    }
                }
            },
            error: function () {
                console.trace();
                alert("Unable to process request, please try again ");
            }


        });

    }

</script>
</head>

<body>
	@*<div class="TemplatePricesDiscount_content">*@
    	<div class="contentSub">
        	@*<div class="page-title">@Resources.TemplateDiscountPricing_Title
            </div>*@
            <div class="page-title">
                <h2>@Resources.TemplateDiscountPricing_Title</h2>
            </div>
            <div class = "rowIST">
            <label><strong>@ViewBag.templateName</strong></label>
            </div>

        	<div class="rowIST">
            	<label>@Resources.TemplateDiscountPricing_discountType</label>
                 @Html.DropDownListFor(m => m.DiscountType, new SelectList(new[] { "Same", "Multiple" }))
            </div>

            <div class="rowIST">
            	<label>@Resources.TemplateDiscountPricing_MinPrequalifications </label>
                 @Html.DropDownListFor(m => m.MinNoOfPrequalification, new SelectList(new[] { "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20" }))
            </div>

            <div class="rowIST">
            	<label>@Resources.TemplateDiscountPricing_MaxPrequalifications</label>
                 @Html.DropDownListFor(m => m.MaxNoOfPrequalification, new SelectList(new[] { "Unlimited","2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20" }))
           
            </div>

            <div class="rowIST">
            	<label class="enableStar">@Resources.TemplateDiscountPricing_DiscountedPrice</label>
                 @Html.TextBoxFor(m => m.DiscountedPrice)
            </div>

            <div class="rowIST">
                <button type="submit" id="spinner"  @*class="TemplatePricesDiscount_SaveBttn"*@  btnType="Insert" onclick ="savetodatabase('@ViewBag.VBTemplatePrice')">@Resources.Common_Save</button>
        	</div>

          </div>
   <!---Partial View starts-->



   <div class="contentSub">
                <div id="progressbar" class="spinnerOverlay">
                </div>
                
                <div id ="TemplatePricesDiscount_content2">

                </div>
          <script>showpartialviewData('@ViewBag.VBTemplateId');</script>
    </div>
    <div>
		<img src="~/images/spinner.gif" width="28" height="28" class="importSubmitSpinner" alt="Spinner" />
    </div>
            
@* </div>*@
    
</body>
</html>
      
        @*<div class="TemplatePricesDiscount_content2">
        	    <table>
        	
                    <tr  class="TableHeader">
            	        <th class="Discount_Type">@Resources.TemplateDiscountPricing_discountType</th>
                        <th class="Minimum_Prequalification">@Resources.TemplateDiscountPricing_Min_Prequalificaiton</th>
                        <th class="Maximum_Prequalification">@Resources.TemplateDiscountPricing_Max_Prequalificaiton</th>
                        <th class="Amount_Price">@Resources.TemplateDiscountPricing_DiscountedAmount</th>
                        
                    </tr>
                    
                     @if (@ViewBag.VBcount == 0)
                        {
                         <tr class = "CommonMessage_partial">
                            <td>@Resources.Common_NoSearch </td>
                         </tr>
                        }
                    

                       @foreach (var a in (List<TemplateDiscountPrices>)@ViewBag.VBtemplatesDiscountPricesRecord)
                       {
                            <tr> 
                                    @if (@a.DiscountType == 0)
                                    {
                                    <td class="Discount_Type">Same </td>
                                    }
                                    else
                                    {
                                    <td class="Discount_Type">Multiple </td>
                                    }
                                    <td class="Minimum_Prequalification">@a.MinNoOfPrequalification </td>
                                    <td class="Maximum_Prequalification">@a.MaxNoOfPrequalification</td>
                                    <td class="Amount_Price">@a.DiscountedPrice</td>
                            </tr>
                             
                       }
                    
                  </table>
        
            </div>*@


