﻿<!--
Page Created Date:  08/06/2013(Aug 6th)
Created By: Sumalatha Jeldi
Purpose:All operations of admin related to Template Pricing 
Version: 1.0
****************************************************
-->

@using FVGen3.Domain.Entities;
@model FVGen3.Domain.Entities.TemplateDiscountPrices
@using Resources;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Resources.TemplateDiscountPricing_partialviewTitle</title>
        @* @Scripts.Render("~/js/common.js")
         @Styles.Render("~/css/common.css")
         @Styles.Render("~/css/templatepricesdiscount.css")
        <script src="~/Scripts/jquery-1.9.1.min.js" type="text/javascript"></script>
   *@
</head>
<body>

       <div class="partialPage">
        	<table>
        	
                <tr class="partialHeader">
            	    <td width="175">@Resources.TemplateDiscountPricing_discountType</td>
                    <td width="175">@Resources.TemplateDiscountPricing_Min_Prequalification</td>
                    <td width="175">@Resources.TemplateDiscountPricing_Max_Prequalification</td>
                    <td width="109">@Resources.TemplateDiscountPricing_DiscountedPrice</td>
                    <td width="75"></td>
                </tr>
                 
                
                 
                
                

                @foreach (var a in (List<TemplateDiscountPrices>)@ViewBag.VBtemplatesDiscountPricesRecord)
                 {
                    <tr>
                        @if (@a.DiscountType == 0)
                        {
                            <td class="Discount_Type">@Resources.TemplateDiscountPricingListPartialView_dropdownvalue_same </td>
                        }
                        else
                        {
                            <td class="Discount_Type">@Resources.TemplateDiscountPricingListPartialView_dropdownvalue_multiple </td>
                        }
                        <td>@a.MinNoOfPrequalification </td>
                        <td>@a.MaxNoOfPrequalification</td>
                        <td>@a.DiscountedPrice</td>
                        <td align="center"><img  class="imgCursor" src="~/images/DelButton.png" name="image" btnType="Delete" onclick="deleteTemplateDiscountPricing('@a.TemplateDiscountId')" /></td>
                    </tr>
                    
                 }
            
            </table>
        
       </div>
       @if (@ViewBag.VBcount == 0)
        {
            <div class="commentsItalic">@Resources.Common_NoSearch</div>                        
        }
</body>
</html>
