﻿<!--
Page Created Date:  08/06/2013(Aug 6th)
Created By: Sumalatha Jeldi
Purpose:All operations of admin related to Template Pricing 
Version: 1.0
****************************************************
-->

@using FVGen3.Domain.Entities;
@model FVGen3.Domain.Entities.TemplatePrices
@using Resources;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Resources.TemplatePricing_partialviewTitle</title>
    <script src="~/Scripts/jquery-1.9.1.min.js" type="text/javascript"></script>


<script type = "text/javascript">
    
    function discountDetails(id) {
        var selectedtemplatePriceID = id;
        window.location = "../SystemUsers/TemplateDiscountPricing" + '?SelectedtemplateID=' + selectedtemplatePriceID;
    }

</script>


</head>
<body>
<div class="partialPage">
    <table>
        <tr class="partialHeader">
            <td width="400">@Resources.TemplatePricing_products</td>
            <td width="100">@Resources.TemplatePricing_price</td>
            @*<td width="129">@Resources.TemplatePricing_productDetails </td>*@
            <td width="80"></td>
        </tr>

            @foreach (var templatePricerecord in @ViewBag.VBtemplatesPricesRecord)
            {
            <tr>
                <td width="400">@templatePricerecord.Templates.TemplateName</td>
                <td width="100">@templatePricerecord.TemplatePrice</td>
                @*<td width="129"><a href="#" onclick="discountDetails('@templatePricerecord.TemplateID')">@Resources.TemplatePricingListPartialView_label_discountedprice</a> </td>*@
                @* Added code on 11/04/2013 by Kiran for providing delete image *@
                <td align="center"><img  class="imgCursor" src="~/images/DelButton.png" name="image" btnType="Delete" onclick="deleteTemplatePricing('@templatePricerecord.TemplatePriceId')" /></td>
                @* <<< Ends *@
            </tr>
            }
        
    </table>
</div><!----End of the Content 2------->

    @if (@ViewBag.VBcount == 0)
    {   
        <div class="commentsItalic">@Resources.TemplatePricing_NoContent</div>
    }
</body>
</html>

