﻿@{
    Layout = null;
}

<!DOCTYPE html>


<style>
    .h-center {
    text-align: center;
}

.v-center span {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
}
</style>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not Authorise</title>
    <link href="~/content/css/animate.css" rel="stylesheet">
    <link href="~/content/css/style.css" rel="stylesheet">
</head>
<body class="white-bg">
    <div class="h-center v-center">
        <div>
            <h2 class="h2 text-danger">You're not Authorised</h2>
        </div>
        <div>
            <h3>
                <a class="btn btn-primary" href="javascript:history.back()" role="button">Go Back</a> Or
                <a class="btn btn-default" href="@Url.Action("LogOut", "SystemUsers")" role="button">Re Login</a>
            </h3>
        </div>
    </div>
    @*<script type="text/javascript">
            setTimeout(function() {
                history.go(-1);
            }, 5000);
        </script>*@
</body>
</html>
