﻿<!--
*****************************************************
Page Created Date:  05/18/2013
Created By: Kiran Talluri
Purpose:
Version: 1.0
****************************************************
Date: 7/3/2013 Added code to handle session expiry
****************************************************
Date: 7/10/2013 Added code to handle company access & deleting user if logged in as admin while editing through search
-->

@using FVGen3.Domain.Entities;
@model FVGen3.Domain.Entities.LocalNewUserContactDetails
@using Resources
@{
    ViewBag.Title = "Add User Details";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->    

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta name="description" content="Client Dashboard - First, Verify"/>
        <meta name="viewport" content="width=device-width"/>
        <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2020.2.617/styles/kendo.default-v2.min.css" />
        @Scripts.Render("~/js/common.js")
        @Scripts.Render("~/js/jquery.mask.js")
        @Scripts.Render("~/bundles/kendo")
    </head>
 <style>.Hinttext{
    color: red;
    padding-bottom: 10px;
    font-size: large;
    font-weight: 700;
}
  .armchair {
                               overflow: auto;
                               height: calc(100% - 90px);
                               padding: 10px;

                           }
                           .window-footer {
                               position: absolute;
                               bottom: 0;
                               display: block;
                               width: 95%;
                               margin-top: 150px;
                               padding: 19px 0 20px;
                               text-align: right;
                               border-top: 1px solid #e5e5e5;
                           }
                           .tip {
   
    text-decoration: none
}
.tip:hover {
    cursor: help;
    position: relative
}
.tip span {
    display: none
}
.tip:hover span {
    padding: 5px 20px 5px 5px;
    display: block;
   
    background: url(../images/status-info.png) #f0f0f0 no-repeat 100% 5%;
    left: -20px;
    margin: 10px;
    width: 250px;
    position: absolute;
    top: 60px;
   
    border-radius: 5px;
}

 </style>
  
    <script src="~/Scripts/Application/User/EditUser.js"></script>
    <script type="text/javascript">
       
        function updateCompaniesList(registeredUserId, isSuperUser) {

            //alert(isSuperUser);
            $.ajax({
                type: 'GET',
                url: 'PartialCompanyAccessResultsList',
                data: 'registeredUserId=' + registeredUserId + '&isSuperUser=' + isSuperUser,
                success: function (data) {
                    $("#companyAccessResultsBlock_id").html(data);
                    //$("#searchBlock_id").load(link);
                },
                error: function () {
                    console.trace();
                    alert("Processing your previous request, please wait.. ");
                }
            });
        }

        $(document).ready(function () {
            $(".tooltip").kendoTooltip({
                filter: "@Html.Raw(@Resources.RegisterVendor_Hint_Password)",
                width: 450
            });
            // Added code to call setPermissions() function on 08/07/2013 by Kiran Talluri
            setPermissions('@ViewBag.ViewPermissions');
            // Ends<<<
            $("#PhoneNumber").mask('(000) 000-0000'); // Kiran on 8/26/2014
            
            $("#addUser_button").click(function () {
                $("#Comm_Suc_bar").hide();
            });
            $("#clearSites").click(function () {
                debugger;
                $("#ClientBUSite option:selected").prop("selected", false);
                $("#ClientBU option:selected").prop("selected", false);
            });
            
        });        
       
        function deleteUser(UserId) {
            var d = confirm("@Resources.UpdateNewUserContactDetails_ConfirmDialogue_Message");
            if (d == true) {
               // onOpen(true, '@ViewBag.HasUsers');
                $.ajax({
                    type: 'GET',
                    url: 'DeleteUser',
                    data: 'UserId=' + UserId,
                    success: function (data) {
                        if (data == "Error") {
                            alert("User can't be deleted as his/her data is tied with prequalification. Hence the user has been deactivated.");
                            // Rajesh on 02/12/2015
                            var loc = window.location + "";
                            if (loc.slice(-2) == "#!")
                                window.location = loc.substring(0, loc.length - 2);
                            else
                                window.location = loc;
                            // Ends<<< 
                        }
                        else
                            window.location = data;
                        //$("#searchBlock_id").load(link);
                    },
                    error: function () {
                        console.trace();
                        //alert("Processing your previous request, please wait.. ");
                    }
                });
                window.location = "../SystemUsers/DeleteUser?UserId=" + UserId;
            }
            else {
                return false;
            }
        }

        var winPop = false;
        function openWindow(userid, userorgId) {
            if (winPop && !winPop.closed) {  //checks to see if window is open  
                winPop.focus();
            }
            else {
                winPop = window.open("AddCompanyAccess?userId=" + userid + "&userOrgID=" + userorgId, "_blank", "toolbar=no,  directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=yes, width=550, height=500");
            }
        }

        function hideDiv() {
            if (document.getElementById) {
                document.getElementById('Comm_Suc_bar').style.display = 'none';
            }
        }

        function userStatus(userStatus) {
            //alert(userStatus)
            if (userStatus == "True") {
                $("#UserStatus_Active").attr('checked', true);
            }
            else {
                $("#UserStatus_InActive").attr('checked', true);
            }
        }

    </script>
                      

<body>
    <div id="Users" style="display:none;">
    <div class="UsersContent armchair">
    
</div>
<div class="window-footer">
    <button type="button" class="k-button"style="margin-right: 15px!important;float:right!important;padding: 5px 10px!important;" onclick="Onclose()">Cancel</button>
    <button type="button" class="k-primary k-button" id="Savebtn"style="margin-right: 15px!important;float:right!important;padding: 5px 10px!important;">Save & Close</button>
</div></div>
    <div  class="contentSub">  
        
        @if (@Model.ForSuccessMessage != null && (Boolean)@Model.ForSuccessMessage)
        { 
            <div>
                <p class="successMessage">@Resources.Common_ChangesSavedSuccessMsg </p>
            </div> 
        } 

        @if ((Boolean)@ViewBag.isEmailExists)
        {
            <div class="errorMessage">@Resources.Common_Error_Email_Message</div>
        } 
         
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(@Model1 => Model.userId);
                            
            <div>
                <div class="page-title">
                        <h2>@Resources.UpdateNewUserContactDetails_Heading  </h2>
                </div><!--Header-1-->                           
                <div class="rowGeneric">
                    <table>
                        <tr >
                            <td  valign="top"rowspan="2">@Resources.UpdateNewUserContactDetails_UserStatus</td>
                            <td style="padding:0px 0px 15px 0px;"><input type="radio" name="UserStatus" id = "UserStatus_Active", value = "True"/>
                            <label for="UserStatus_Active">@Resources.UpdateNewUserContactDetails_UserStatus_Enabled</label></td>
                        </tr>
                        <tr>
                            <td><input type="radio" name="UserStatus" id = "UserStatus_InActive", value = "false"/>
                                <label for="UserStatus_InActive">@Resources.UpdateNewUserContactDetails_UserStatus_Disabled</label></td>
                        </tr>
                    </table>
                </div>
            
                <div class="rowIST">
                    <label class="enableStar">@Resources.Common_Label_FirstName</label>
                    @Html.TextBoxFor(Model1 => Model.FirstName, new { @maxlength = "100" })
                    <div class="alertStar">@Html.ValidationMessageFor(model => model.FirstName)</div>                    
                </div>
            
                <div class="rowIST" popText>
                    <label class="enableStar">@Resources.Common_Label_LastName</label>
                    @Html.TextBoxFor(Model1 => Model.LastName, new { @maxlength = "100" })
                    <div class="alertStar">@Html.ValidationMessageFor(model => model.LastName)</div>
                </div>
              
                <div class="rowIST" popText = "@Resources.UpdateNewUserContactDetails_Hint_Title">
                    <label class="enableStar">@Resources.Common_Title</label>
                    @Html.TextBoxFor(Model1 => Model.ContactTitle, new { @maxlength = "50" })
                    <div class="alertStar">@Html.ValidationMessageFor(model => model.ContactTitle)</div>
                </div>
              
                <div class="rowIST" popText>
                    <label class="enableStar">@Resources.UpdateNewUserContactDetails_Label_Phone</label>
                    @Html.TextBoxFor(Model1 => Model.PhoneNumber, new { @maxlength = "14" }) @*Kiran on 8/26/2014*@
                    <div class="alertText">@Html.ValidationMessageFor(model => model.PhoneNumber)</div>
                </div>
                
                <div class="rowIST" popText>
                    <label>@Resources.Common_Label_PhoneNumberInternational</label>
                    @Html.TextBoxFor(Model1 => Model.PhoneNumberInternational) 
                </div>

                @*Kiran on 8/26/2014*@
                <div class="rowIST" popText = "">
    	            <label>@Resources.Common_label_ExtNumber</label>
                    @Html.TextBoxFor(model => Model.ExtNumber, new { @maxlength = "14" })
                     <div class="alertText">@Html.ValidationMessageFor(model => model.ExtNumber)</div>
                </div>
                @*Ends<<<*@

                <div class="rowIST">
                    <label>@Resources.UpdateNewUserContactDetails_Label_AdditionalInfo</label>
                    @Html.TextAreaFor(Model1 => Model.AdditionalDescription, new { @maxlength = "1500" })
                </div>
              
                <div class="rowIST" popText = "">
                @if (!(Boolean)@ViewBag.userSearchEdit)
                {
                    <label class="enableStar">@Resources.UpdateNewUserContactDetails_Label_Email</label>
                }
                else
                {
                    <label>@Resources.UpdateNewUserContactDetails_Label_Email</label>
                }
                @if (@Session["RoleName"].ToString().Equals("Admin")) // Kiran on 12/24/2014
                {
                    @Html.TextBoxFor(Model1 => Model.Email, new { value = Model.Email, @maxlength = "100" })
                }
                else
                {
                    @Html.TextBoxFor(Model1 => Model.Email, new { @readonly = "readonly", @maxlength = "100" })
                }
                    <div class="alertText">@Html.ValidationMessageFor(model => model.Email)</div>
                </div>
              
                @*Kiran on 19th August 2013 >>>>*@
                @*@if (!(Boolean)@ViewBag.userSearchEdit)
                {                               

                    <div class="rowIST" popText = "">
                        <label>@Resources.UpdateNewUserContactDetails_Label_Password</label>
                        @Html.PasswordFor(Model1 => Model.Password, new { value = Model.Password, @readonly = "readonly", autocomplete = "off", @maxlength = "20" })                    
                    </div>
                }
                else
                {                    
                    <div class="rowIST" popText ="" >                 
                        <label>@Resources.UpdateNewUserContactDetails_Label_Password</label>
                        @Html.PasswordFor(Model1 => Model.Password, new { value = Model.Password, @readonly = "readonly", @maxlength = "20" })                       
                    </div>                      
                }

                @if (!(Boolean)@ViewBag.userSearchEdit)
                {  
                    <div class="rowIST" popText = "">
                        <label>@Resources.UpdateNewUserContactDetails_Label_ConfirmPassword</label>
                         @Html.PasswordFor(Model1 => Model.ConfirmPassword, new { value = Model.Password, @readonly = "readonly", autocomplete = "off", @maxlength = "20" })                     
                    </div>
                }
                else
                {
                    <div class="rowIST" popText = "">
                        <label>@Resources.UpdateNewUserContactDetails_Label_ConfirmPassword</label>
                        @Html.PasswordFor(Model1 => Model.ConfirmPassword, new { value = Model.Password, @readonly = "readonly", @maxlength = "20" })                        
                    </div>
                }*@
                @*Ends <<<<*@
                @if (@Model.currentUser_OrgType == "Client")
                {
                    <div class="rowIST">
                        <label>@Resources.Department</label>

                        @Html.DropDownListFor(Model1 => Model.DepartmentId, (List<SelectListItem>)@ViewBag.Departments,new { @style="width:100%; height:40px"})
                    </div>
                    <br />
                }
                <div class="rowIST">
                    <label>@Resources.UpdateNewUserContactDetails_Label_LastLogin</label>
                    <div class="lastlog">@Model.LastLoginDate</div>
                </div>
              
                <div class="rowIST">
                    <label>@Resources.UpdateNewUserContactDetails_Label_LastPasswordChange</label>
                    <div class="lastlog">@Model.LastPasswordChangedDate</div>
                </div>

                @* Date: 7/10/2013 Added code*@
                @if (@Model.currentUser_OrgType == "Client")
                {
                <div id="locationsDiv" class="ctrlDiv">
                    <label >
                        <b>Please select the business unit and all locations that the user will be allowed to view (by using Ctrl + Click)</b>
                    </label>

                </div>
                
                    <select id="ClientBU" name="ClientBU" isMandatory="true" class="mandatory" style="width:300px;height:100px" multiple onchange="EditUser.GetClientBUSites('@Model.UserOrganizationId')" >
                        @foreach (var item in (List<KeyValuePair<string, string>>)Model.ClientBusinessUnits)
                        {
                            <option value="@item.Key"
                                    @if (ViewBag.userBUSites != null && ("," + ViewBag.userBUSites.BUId + ",").Contains("," + @item.Key + ",")) { @: selected="selected"
                                                            }>
                                @item.Value
                            </option>
                        }
                    </select>

                    <select id="ClientBUSite" name="ClientBUSite" isMandatory="true" class="mandatory" style="width:300px;height:100px;margin-left:40px;" multiple >
                        @if (Model.ClientBUSites != null)
                        {
                            foreach (var item in (IEnumerable<KeyValuePair<string, string>>)Model.ClientBUSites)
                            {
                                <option value="@item.Key"
                                        @if (ViewBag.userBUSites != null && ("," + ViewBag.userBUSites.BUSiteId + ",").Contains("," + @item.Key + ","))
                                        { @: selected="selected"
                                                                                                    }>
                                    @item.Value
                                </option>
                            }
                        }
                    </select>
                    <button type="button" id="clearSites" style="margin-left:90%;">Reset</button><br/>
                   
                }
                
                @if (@Session["RoleName"].ToString().Equals("Admin") && @ViewBag.VBCanLoginAsAnyUser != null && @ViewBag.VBCanLoginAsAnyUser == true)
                {
                    @Html.ActionLink("User View - " + @Model.Email, "LoginAsSelectedUser", new { @Model.userId })

                } <br />
                <div class="alertStar">@Html.ValidationMessageFor(model => model.ClientBUSite)</div>

                
                @if ((Boolean)@ViewBag.userSearchEdit)
                {
                    
                    if (@Model.currentUser_OrgType != "Admin")
                    {
                        if (!(Boolean)@Model.isSuperUser)
                        {
                            if (@ViewBag.LoggedInUserId != Model.userId)
                            {
                            <div class="rowIST" btnType="Delete">
                                <label>@Resources.UpdateNewUserContactDetails_Label_DeleteUser</label>
                                <button type="button" btnType="Delete" onclick="deleteUser('@Model.userId')">
                                    @Resources.UpdateNewUserContactDetails_DeleteUser
                                </button>
                            </div>
                            }
                        }
                    }
                }

                else
                {
                    @* Added code on 09/24/2013 for hiding delete button if the user is super user *@
                    if (@Model.currentUser_OrgType != "Admin")
                    {
                        if (!(Boolean)@Model.isSuperUser)
                        {
                            if (@ViewBag.LoggedInUserId != Model.userId)
                            {
                            <div class="rowIST" btnType="Delete">
                                <label>@Resources.UpdateNewUserContactDetails_Label_DeleteUser</label>
                                <button type="button" btnType="Delete" onclick="deleteUser('@Model.userId')">
                                    @Resources.UpdateNewUserContactDetails_DeleteUser
                                </button>
                            </div>
                            }
                        }
                    }
                    @* Ends *@

                }
                @if (@Session["RoleName"].ToString().Equals("Admin")) 
                {
                    <div class="rowIST">
                        @*<label>@Resources.UpdateNewUserContactDetails_Label_DeleteUser</label>*@
                        <button type="button" onclick="ChangePassword('@Model.userId')">@Resources.Reset_Password</button>

                    </div>
                }
                 @*Added code ends*@
            </div> <!-- End of Content1-->
            
            <div class="contentSub"></div> <!----- for Spacing ----->
            
            <div class="contentSub"> 
            @*Kiran on 12/22/2014*@  
                <table width="100%" border="0">
                  <tr>
                    <td class="page-title" style="width:44% !important;">
                      <h2>@Resources.UpdateNewUserContactDetails_Heading_Company</h2>
                    </td>
                    <td style="width:56% !important; color:#e81f25; font-weight:600;">
                        @if (!(Boolean)@ViewBag.userSearchEdit)
                        {
                        @:(must select security role below before saving.)
                      }
                    </td>
                    @* Hided the below td by Suresh on 09/07/2013, will look into it later *@
                    @*<td align="right" valign="top" style="padding-top:5px;">
                        <button type="button" btnType="Insert" onclick="openWindow('@Model.userId','-1')">@Resources.Common_AddNew</button>             
                    </td>*@
                  </tr>
                </table>  
                @*Ends<<<*@
            </div>


            @*<div class="contentSub">                
              	<div class="page-subtitle">
                    <h2>@Resources.UpdateNewUserContactDetails_Heading_Company </h2>
                    
                @if (@Model.currentUser_OrgType == "Admin")
                {
                	<button type="button" btnType="Insert" onclick="openWindow('@Model.userId','-1')">@Resources.Common_AddNew</button>                    
                }                                        
                </div>                                    
            *@
                <div id="companyAccessResultsBlock_id">            
                    <script>
                        updateCompaniesList('@Model.userId', '@Model.isSuperUser');
                    </script>
                </div>  

            </div><!-- End of content2-->          
            
            <div class="contentSub"> 
                <div class="pageFooterContent"> 
                    <div class="pageFooterButtons">
                        <table>
                            <tr>
                                @*Added code on 08/07/2013 for permissions by Kiran Talluri*@                   
                                @if ((Boolean)@ViewBag.userSearchEdit)
                                {
                                    <td><button type="submit"  class="PageFooter_Button" onclick="hideDiv()" btnType="Update">@Resources.Common_Save</button></td>
                                    <td btnType="Update">@Resources.Common_label_or</td>
                                }
                                else
                                {
                                    <td><button type="submit"  class="PageFooter_Button" onclick="hideDiv()" btnType="Insert">@Resources.Common_Save</button></td>     
                                    <td btnType="Insert">@Resources.Common_label_or</td>
                                }
                                @*Ends<<<*@      
                            
                                <td><div class="pageFooterCancelButton">
                                    @if (@Session["RoleName"].ToString().Equals("Admin"))
                                    {    
         			                    @Html.ActionLink(@Resources.Common_Cancel, "../SystemUsers/SearchUser")
                                    }
                                    else
                                    {
                                        @Html.ActionLink(@Resources.Common_Cancel, "../Client/ClientOrVendorUsersList")
                                    }                            
                                </div></td>
                            </tr>	
                        </table> 
                    </div>
                </div>
            </div><!--addUser_content3-->
            
            <!---dialogueBox------------------------------------------------->     

           @* <div class="dialogueBox" id="pop-up" style="display:none;">
                <p>        
                </p>
            </div> *@

         <!---dialogueBox end-------------------------------------------->
         
            }

        <script type="text/javascript">
            userStatus('@Model.UserStatus');
        </script>

    </body>
    </html>
    @Styles.Render("~/css/kendo/bundle")
    @Scripts.Render("~/js/jquery.mask.js")