﻿<!-- 
 *****************************************************
Page Created Date:  07/19/2013
Created By: Kiran Talluri
Purpose: To update the logged in client business unit & its related sites
Version: 1.0
****************************************************
-->

@model FVGen3.Domain.Entities.LocalUpdateClientUnitAndSite
@using Resources
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=8"/>
<meta http-equiv="X-UA-Compatible" content="IE=9"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width"/>


<title>@Resources.UpdateClientUnitAndSite_title</title>    
<link rel="stylesheet" href="~/css/common.css"/>

@Styles.Render("~/css/appPopUp.css")
@Styles.Render("~/css/appInnerPages.css")
@Scripts.Render("~/Scripts/jquery-1.9.1.min.js")
@Scripts.Render("~/js/common.js")

    <script type="text/javascript">

        $(document).ready(function () {
            setPermissions('@ViewBag.ViewPermissions');

            $("#unitId").val($("#selectedBusUnitId").val());
            var unitId = $("#unitId").val();
            var siteId = $("#currentSiteId").val();
            //alert(siteId);
            siteDetails(unitId, siteId, true);           

            $("#ClientUnit").change(function () {
                var unitId = $("#unitId").val();
                var siteId = $("#currentSiteId").val();
                siteDetails(unitId, siteId,false);
            });
        });

        function siteDetails(unitId, siteId, isInitial) 
        {
            var busUnitId = unitId;
            //alert(busUnitId);
            $.ajax({
                type: 'Post',
                url: 'ClientBusUnitSites',
                data: '&busUnitId=' + busUnitId,
                success: function (data) 
                {
                    $('#currentSiteId').empty();
                    $('#currentSiteId').append(newOption);
                    for (var i = 0; i < data.length; i++) 
                    {                        
                        var datasite = data[i].Text;
                        var datasiteId = data[i].Value;
                        var newOption = $('<option value="' + datasiteId + '">' + datasite + '</option>');
                        $('#currentSiteId').append(newOption);
                    }
                    if(isInitial)
                        $("#currentSiteId").val($("#oldSiteId").val());
                },
                error: function () {
                    console.trace();
                    alert("An error occured while fetching sites");
                }
            });
        }

    </script>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(x => x.selectedBusUnitId)
        @Html.HiddenFor(x => x.oldSiteId)
        @Html.HiddenFor(x => x.clientId)
        @Html.HiddenFor(x => x.unitLocation)
        
        <div class="popUpContainer"> 
    	    <div class="popUpContent">
                <div class = "popUpSubContent">  
                    @if ((Boolean)@ViewBag.siteExists)
                    {
                        <div>@Resources.UpdateClientUnitAndSite_errormessage</div>
                    }
                  
                    <div class = "page-title">
                        <h2>@Resources.UpdateClientUnitAndSite_pageheading</h2>
                    </div>
            
                    <div class="rowPopUp">
                        <table>
                            <tr>
                                <td>
                                    <label>@Resources.UpdateClientUnitAndSite_label_location</label>
                                </td>
                                <td>
                                    @if (@ViewBag.unitLocation != null)
                                    {
                                        <label>@ViewBag.unitLocation</label>
                                    }
                                    else
                                    {
                                        <label>@Model.unitLocation</label>
                                    }
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="rowPopUp">
                        <table>
                            <tr>
                                <td>
                                    <label>@Resources.UpdateClientUnitAndSite_label_unitname</label>
                                </td>
                                <td id="ClientUnit">
                                    @Html.DropDownListFor(x => x.unitId, (IEnumerable<SelectListItem>)@ViewBag.VBcurrentUserOrgBusUnitNames)            
                                </td>
                            </tr>
                            </table>
                    </div>

                    <div class="rowPopUp">
                        <table>
                            <tr>
                                <td>
                                    <label>@Resources.UpdateClientUnitAndSite_label_sitename</label>
                                </td>
                                <td>
                                    @Html.DropDownListFor(x => x.currentSiteId, new SelectList(new[] { "" }))
                                </td>
                            </tr>
                        </table>
                    </div>

                </div>

                <div class="popUpSubContent">
                    <div class="pageFooterContent"> 
                        <div class="pageFooterButtons">
                            <table>
                                <tr>
                                    <td>
                                        <button type="submit">@Resources.Common_Save</button>
                                    </td>
                                    <td>@Resources.Common_label_or</td>
                                    <td>
                                        <div class="pageFooterCancelButton">                                 
                                            <a href="#!" onclick="window.close();">@Resources.Common_Cancel</a>                                
                                        </div>
                                    </td>
                                </tr>	
                            </table> 
                        </div>
                    </div>        
                </div>  

            </div>
        </div>
    }
</body>
</html>
