﻿<!--
Page Created Date: 05/20/2013
Created By: Suma
Purpose:Vendor Awaiting list will be displayed 
Version: 1.0

Updated: 7th Aug 2013
Purpose: Added Recent docs details
Developer: Siva Bommisetty
****************************************************
-->
@model FVGen3.Domain.Entities.Prequalification
@using Resources
@{
    ViewBag.Title = "Admin Dashboard";
    Layout = "~/Views/Shared/_DashBoardMainLayout.cshtml";
}



@Scripts.Render("~/Scripts/jquery-1.9.1.min.js")

<script type = "text/javascript">
    function showMoreRecentDocs() {
        $("#recentDocsMoreLink_Div_Id").hide();
        $(".moreDocuments").show();
        $("#MoreDocsDiv_Id").show();
    }

    function showOnlyThreeRecentDocs() {
        $("#MoreDocsDiv_Id").hide();
        $("#LessDocsDiv_Id").show();
        $("#recentDocsMoreLink_Div_Id").show();
        $(".moreDocuments").hide();
    }

    function showMoreStatusDescriptions(moreButton) {
       
        if ($(moreButton).text().indexOf("More") != -1) {
            $(".statusDescClass").show();
            $(moreButton).text("Less..");
        }
        else {
            $(moreButton).text("More..");
            $(".statusDescClass").hide();
        }
    }
    function showMoreNotifications(moreButton) {

        if ($(moreButton).text().indexOf("More") != -1) {
            $(".NotificationsClass").show();
            $(moreButton).text("Less..");
        }
        else {
            $(moreButton).text("More..");
            $(".NotificationsClass").hide();
        }
    }

    function showMorePrequals(moreButton) {

        if ($(moreButton).text().indexOf("More") != -1) {
            $(".prequalClass").show();
            $(moreButton).text("Less..");
        }
        else {
            $(moreButton).text("More..");
            $(".prequalClass").hide();
        }
    }

    function showLeftPanel(type, currentElement)//0-Doc 1-Notifications 2-Prequalifications Status 3-InviteVendor
    {
        //To Hide All
       

         $("#PrequalificationsMainDiv").hide();
         $("#IncompleteMainDiv").hide();//Rajesh on 12/27/2013
         $("#RecentDocsMainDiv").hide();
         
         $("#PrequalificationStatusMainDiv").hide();
         $("#NotificationsMainDiv").hide();
         $("#VendorsInvitedMainDiv").hide(); // Kiran on 9/13/2014

        switch (type) {
            case 0: $("#RecentDocsMainDiv").show(); break;
            case 1:
                {
                    $("#NotificationsMainDiv").show();

                    //siva on 27th Nov
                    //to mark all notifications as read
                    if (@ViewBag.NotificationCount > 0) {
                        markAllNotificationsAsRead(currentElement);
                    }

                    break;
                }
            case 2: $("#PrequalificationStatusMainDiv").show(); break;
            case 3: $("#VendorsInvitedMainDiv").show();//Rajesh on 08/09/2014
        }
    }
    
    //Rajesh on 08/09/2014
    function getInvitedVendors(pageNumber) {
        //alert(pageNumber);
        $.ajax({
            type: 'Post',
            url: 'InviteVendorsPartialView',
            data: '&pageNumber=' + pageNumber,
            success: function (data) {
                //alert(data);
                $("#VendorsInvitedMainDiv").html(data);
            },
            error: function () {
                console.trace();
                //alert("An error occured while fetching units, Sesion expiried");
            }
        });

    }
    //Ends<<
    //Siva on 27th Nov
    function markAllNotificationsAsRead(currentElement) {
        $.ajax(
        {
            type: 'POST',
            url: 'markAllNotificationsAsRead',
            data: '',
            success: function (data) {

                if (data.indexOf("Session expired") >= 0) {
                    window.location = "../SystemUsers/Login?lastLoginPage=" + "~/AdminVendors/AdminDashboard";
                }
                else if (data == "updateSuccess") {
                    //to change text of notifications link 
                    $(currentElement).closest("li").find("sup").remove();
                }
                else {
                    alert("@Resources.Common_unableToProcess");
                }
            },
            error: function () {
                alert("@Resources.Common_unableToProcess");
            }
        });
    }
    //End on Nov 27th

</script>

<script type="text/javascript">
    $(document).ready(function () {
        $(".AdminBG tr:odd").css("background", "#f6f6f6");

    });

</script>

<script type="text/javascript">
    function showNotifications(pageNumber, obj) {
        $(".Notificatification1").hide();
        $(".Notificatification2").hide();
        $(".Notificatification3").hide();

        $(".Notificatification" + pageNumber).show();
        $(".notificationPages").css("background", "#dedede");
        $(obj).css("background", "#ffffff");
    }
    function getNotifications(pageNumber) {
        //alert(pageNumber);
        $.ajax({
            type: 'Post',
            url: 'NotificationsPartialView',
            data: '&pageNumber=' + pageNumber,
            success: function (data) {
                //alert(data);
                $("#NotificationsMainDiv").html(data);
            },
            error: function () {
                console.trace();
                //alert("An error occured while fetching units, Sesion expiried");
            }
        });

    }
    function getPrequalification(pageNumber,type) {
        //alert(pageNumber);
        $.ajax({
            type: 'Post',
            url: 'PrequalificationPartialView',
            data: '&pageNumber=' + pageNumber + '&type='+type,
            success: function (data) {
                //Rajesh on 6/5/2014
                //alert(data);
                if (type == 1) {
                    $("#IncompleteMainDiv").html(data);
                }
                else
                    $("#PrequalificationsMainDiv").html(data);
                // Ends<<<
            },
            error: function () {
                console.trace();
                //alert("An error occured while fetching units, Sesion expiried");
            }
        });

    }
    //Rajesh on 12/27/2013
    function ShowPreQualifications(type) //1-Prequalifications 0-Incomplete
    {
        if (type == 1) {
            $("#PrequalificationsMainDiv").show();
            $("#IncompleteMainDiv").hide();
        }
        else {
            $("#PrequalificationsMainDiv").hide();
            $("#IncompleteMainDiv").show();
        }
    }
    //Ends<<<
    function showPrequalification(pageNumber, obj) {
        $(".Prequalifications1").hide();
        $(".Prequalifications2").hide();
        $(".Prequalifications3").hide();

        $(".Prequalifications" + pageNumber).show();
        $(".prequalificationPages").css("background", "#dedede");
        $(obj).css("background", "#ffffff");
    }

    function getInvitedVendors(pageNumber) {
        //alert(pageNumber);
        $.ajax({
            type: 'Post',
            url: 'InviteVendorsPartialView',
            data: '&pageNumber=' + pageNumber,
            success: function (data) {
                //alert(data);
                $("#VendorsInvitedMainDiv").html(data);
            },
            error: function () {
                console.trace();
                //alert("An error occured while fetching units, Sesion expiried");
            }
        });

    }
    function showInvitedVendors(pageNumber, obj) {
        $(".InvitedVendors1").hide();
        $(".InvitedVendors2").hide();
        $(".InvitedVendors3").hide();

        $(".InvitedVendors" + pageNumber).show();
        $(".InvitedVendorsPages").css("background", "#dedede");
        $(obj).css("background", "#fff");
    }
</script>

<style type="text/css">

#search {
	clear:both;
}

input#search-box, select#status-box {
    border: 2px solid;
    box-shadow: 0 0 9px #CFD1D4  inset;
    color: #A7A9AC;
    float: left;
    height:32px;
    max-width: 865px;
    padding-left: 15px;
    padding-right: 15px;
    width: 560px;
	margin-left:0px;
	background:#f9f9f9;
	
	 }
input#search-button {
    background:url("../images/search.png") no-repeat scroll right -5px transparent;
    border: 1px solid;
    color: #A7A9AC;
    height:36px;
    width: 40px; cursor:pointer;
}
input#status-button {
	background-color: #000;
    border: 0 none;
    color: #fff;
    font-size: 2em;
    /*height: 42px;*/
    margin-left: 5px;
    /*width: 42px; */
}

button
{
 	text-align:center;
	min-width:90px;
	padding:2px 5px;
	color:#214478;
	font-size: 1.5em;
	border:1px solid #afc6e9;
	border-radius:4px;
	font-size: 16px;
	font-family: inherit;
	 background: #f6f9fc; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2ZjlmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkYWU1ZjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #f6f9fc 0%, #dae5f5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f9fc), color-stop(100%,#dae5f5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f6f9fc 0%,#dae5f5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f6f9fc 0%,#dae5f5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f6f9fc 0%,#dae5f5 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f6f9fc 0%,#dae5f5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f9fc', endColorstr='#dae5f5',GradientType=0 ); /* IE6-8 */
	
}
button:hover
{
	background: #dae5f5; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RhZTVmNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNmY5ZmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #dae5f5 0%, #f6f9fc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dae5f5), color-stop(100%,#f6f9fc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #dae5f5 0%,#f6f9fc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #dae5f5 0%,#f6f9fc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #dae5f5 0%,#f6f9fc 100%); /* IE10+ */
	background: linear-gradient(to bottom, #dae5f5 0%,#f6f9fc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dae5f5', endColorstr='#f6f9fc',GradientType=0 ); /* IE6-8 */
	cursor:pointer;
}

button::-moz-focus-inner 
{
  border: 0;
}


</style>

<div  class="admDashboardContent">

 <table width="97%">
                <tr>
                    
                    @*<td width="26%" align="right" valign="middle"> <button type="button">Search Vendor</button></td>*@
                    <td width="26%" align="right" valign="middle"></td>
                    
                </tr>
                </table>
	

	 
	
    <div class="dashboardContent" id="NotificationsMainDiv" style="display:none;">
        <div class="dashboardMenu">
          
            <div class="dashBoardSubtitles">
                <h3><strong>@Resources.Common_Label_Notifications</strong></h3>
            </div>
        
            <div>
                @*Kiran on 9/12/2014*@
                <table class="AdminBG" id="NotificationsList" width="100%">
                @{var notifications = (List<FVGen3.Domain.Entities.LocalNotifications>)@ViewBag.NotificationsSent;
                  var hasPrevious = false;
                  var hasNext = false;
                  var pageNumber = 0;
                  }
                @for (int i = 0; i < notifications.Count(); i += 2)
                {
                    if (i == 0)
                    {
                        hasPrevious = notifications[0].HasPrevious;
                        hasNext = notifications[0].HasNext;
                        pageNumber = notifications[0].PageNumber;
                    }
                     <tr class="Notificatification@(i / 10 + 1)"
                     @if (i / 10 + 1 != 1)
                     {
                        @:style="display:none;"
                     }
                     >
                         <td valign="top" width="49%">
                             <ul style="width:300px;">      
                           
                                <li><strong>@notifications[i].VendorName</strong></li>
				                <li>@Resources.Common_Label_Purpose @notifications[i].Purpose exp.</li>				            
				                <li>@Resources.Common_Label_PrequalifyFor @notifications[i].ClientName</li>
                                <li>@notifications[i].EmailSentDate.ToString("MM/dd/yyyy")</li>
                                @*@if (notifications[i].SmallComment != "")
                                {
                                <span class="highlightText">Comments:</span><li class="embedList" title = "@notifications[i].Comments">  @notifications[i].SmallComment </li>
                                }*@
                                
                            </ul>
                         </td>
                         <td width="2%"></td>
                          <td valign="top" width="49%">
                            @if (i + 1 < notifications.Count())
                            {
                               <ul class="">
                           
                                <li><strong>@notifications[i + 1].VendorName</strong></li>
				                <li>@Resources.Common_Label_Purpose @notifications[i + 1].Purpose exp.</li>				            
				                <li>@Resources.Common_Label_PrequalifyFor @notifications[i + 1].ClientName</li>
                                <li>@notifications[i+1].EmailSentDate.ToString("MM/dd/yyyy")</li>
                                @*@if (notifications[i + 1].SmallComment != "")
                                {
                                    <span class="highlightText">Comments:</span><li class="embedList" title = "@notifications[i + 1].Comments"> Comments: @notifications[i + 1].SmallComment </li>
                                }*@
                                
                            </ul>
                            }
                         </td>
                         
                    
                     </tr>
                }
                     
                     

                </table>
                @*Ends<<<*@
            </div>
            
            

        </div>
        <div class="paginationMenu">
            <div class="pagination">
            <ul>
            @if (hasPrevious)
            {
                <li onclick="getNotifications('@(pageNumber - 1)')" id="NotificationsPrevious">Previous</li>
            }
            <li class="notificationPages" style="background:#fff;" onclick="showNotifications(1,this)" id="NotificationsPage1">@(pageNumber * 3 + 1)</li>
            @if (notifications.Count() > 10)
            {
                <li class="notificationPages" onclick="showNotifications(2,this)" id="NotificationsPage2">@(pageNumber * 3 + 2)</li>
            }
            @if (notifications.Count() > 20)
            {
                <li class="notificationPages" onclick="showNotifications(3,this)" id="NotificationsPage3">@(pageNumber * 3 + 3)</li>
            }
            @if (hasNext)
            {
                <li onclick="getNotifications('@(pageNumber + 1)')" id="NotificationsNext">Next</li>
            }
            </ul>
            </div>
        </div>
    </div>
    
    <div class="dashboardContent" id="PrequalificationStatusMainDiv"  style="display:none;">
        <div class="dashboardMenu">
            <div class="dashBoardSubtitles">
                     <h3><strong>@Resources.Common_Heading_PrequalificationStatus</strong></h3>
                </div>
            <div>
                <table class="AdminBG">
                
                @{var PrequalificationStatuses = (List<FVGen3.Domain.Entities.PrequalificationStatus>)@ViewBag.PreQualificationsStatus;
                 
                  }
                @for (int i = 0; i < PrequalificationStatuses.Count(); i += 2)
                {
                     <tr>
                         <td valign="top" width="49%">
                             <ul>
                           
                                <li><strong>@PrequalificationStatuses[i].PrequalificationStatusName</strong></li>
				                <li><p>@PrequalificationStatuses[i].Description</p></li>				            
				                <li></li>
                                <li></li>
                            </ul>
                         </td>
                         <td width="2%"></td>
                         <td valign="top" width="49%">
                            @if (i + 1 < PrequalificationStatuses.Count())
                            {
                               <ul class="statusDescClass">
                           
                                <li><strong>@PrequalificationStatuses[i+1].PrequalificationStatusName</strong></li>
				                <li><p>@PrequalificationStatuses[i+1].Description</p></li>				            
				                <li></li>
                                <li></li>
                            </ul>
                            }
                         </td>
                         
                    
                     </tr>
                }
                     
                     

                </table>
            </div>
        </div>
    </div>
    @*Rajesh on 12/27/2013*@
    <div class="dashboardContent" id="PrequalificationsMainDiv">
        <div class="dashboardMenu">
          
            @*<div class="dashBoardSubtitles">
                     <h3><strong>Submitted for Processing</strong></h3>
            </div>*@




            <div class="dashBoardSubtitles">
                
                <table border="0">
                    <tr>
                
                        <td>
                            <div class="selectedTabDB" id="buttonTabTwo">
                                <input type="radio"/>
                            <label for="searchType" class="FirstName">
                                <h3> <strong>@Resources.Submitted_for_Processing </strong></h3>
                            </label>
                            </div>
                        </td>
                        <td>
                            <div class="unSelectedTabDB" id="buttonTabThree">
                            <input type="radio"/>
                            <label for="searchType" class="ADdvance"  onclick="ShowPreQualifications(0)">
                                <h3> <strong>@Resources.Prequalification_Partial_Status_Incomplete</strong></h3>
                            </label>
                            </div>
                        </td>
                        <td style="width:20%;"></td>
                    </tr>
                </table> 
            </div>



            @*Rajesh on 12/27/2013
            <div class="rowTabs">
                
                <table style="margin:10px 0px 0px 0; padding:0; width:144px; border-collapse:collapse;float:left;" border="0">  
                    <tr>
                
                            <td style="width:72px;">
                            <div class="selectedTab" id="buttonTabTwo" style="min-width:72px;">
                                <input type="radio"/>
                            <label for="searchType" class="FirstName">Prequalifications</label>
                            </div>
                        </td>
                            <td style="width:72px;">
                            <div class="unSelectedTab" id="buttonTabThree" style="min-width:72px;">
                            <input type="radio"/>
                            <label for="searchType" class="ADdvance"  onclick="ShowPreQualifications(0)">Incomplete</label>
                            </div>
                        </td>
                    </tr>
                </table> 
            </div>
            @*Ends<<*@

           
            <div>
                <table class="AdminBG" id="PrequalificationsList">
                @{var Prequalifcations = (List<FVGen3.Domain.Entities.LocalPrequalification>)@ViewBag.VBPrequalificationList;
                  var PhasPrevious = false;
                  var PhasNext = false;
                  var PpageNumber = 0;
                  }
                @for (int i = 0; i < Prequalifcations.Count(); i += 2)
                {

                    var query = "../Prequalification/TemplatesList" + QueryStringModule.Encrypt("PreQualificationId=" + @Prequalifcations[i].PrequalificationId);
                    if (i == 0)
                    {
                        PhasPrevious = Prequalifcations[0].HasPrevious;
                        PhasNext = Prequalifcations[0].HasNext;
                        PpageNumber = Prequalifcations[0].PageNumber;
                    }
                     <tr class="Prequalifications@(i / 10 + 1)"
                     @if (i / 10 + 1 != 1)
                     {
                        @:style="display:none;"
                     }
                     >
                         <td valign="top" width="45%">
                             <ul>
                                            
                                            <li>
                                                <strong>
                                                    <a href="@query">@Prequalifcations[i].VendorName</a>
                                                </strong>
                                                @*Kiran on 4/16/2014*@
                                                @if (@Prequalifcations[i].isReSubmitted == true)
                                                {
                                                    <img src="~/images/redStar.png"/>
                                                }
                                                @*Ends<<*@
                                            </li>

                                            <li>@Resources.Common_Label_Submitted_No_Col:@if (Prequalifcations[i].PrequalificationSubmit == null)
                                                          {<i>@Resources.Common_Label_YetToSubmit</i>}
                                                          else
                                                          {@Prequalifcations[i].PrequalificationSubmit}
                                            @if (@Prequalifcations[i].IndicationTextClient != null)
                                            {
                                                <span class="indicationText">@Prequalifcations[i].IndicationTextClient</span>
                                            }
                                            </li>
                                            
                                            <li>@Resources.Vendorsearchpartial_StatusPeriod_No_Col:@Prequalifcations[i].PrequalificationStart.ToString("MM/dd/yyyy") to @Prequalifcations[i].PrequalificationFinish.ToString("MM/dd/yyyy")</li>                         
                                            @*Kiran on 6/24/2014*@
                                            <li>
                                                 @Resources.Company_Client:<strong> @Prequalifcations[i].ClientName</strong>
                                            </li>  
                                            @*Ends<<<*@                   
                                        </ul>
                         </td>
                         <td width="4%"><b>@Prequalifcations[i].Initials</b></td>@*Rajesh on 12/27/2013*@
                         <td width="2%"></td>
                         <td valign="top" width="45%">
                            @if (i + 1 < Prequalifcations.Count())
                            {
                                query = "../Prequalification/TemplatesList" + QueryStringModule.Encrypt("PreQualificationId=" + @Prequalifcations[i+1].PrequalificationId);
                               <ul>
                                            
                                            <li>
                                                <strong>
                                                    <a href="@query">@Prequalifcations[i + 1].VendorName</a>
                                                </strong>
                                                @*Kiran on 8/22/2014*@
                                                @if (@Prequalifcations[i+1].isReSubmitted == true)
                                                {
                                                    <img src="~/images/redStar.png"/>
                                                }
                                                @*Ends<<*@
                                            </li>

                                            <li>@Resources.Common_Label_Submitted_No_Col:@if (Prequalifcations[i + 1].PrequalificationSubmit == null)
                                                          {<i>@Resources.Common_Label_YetToSubmit</i>}
                                                          else
                                                          {@Prequalifcations[i + 1].PrequalificationSubmit}
                                            @if (@Prequalifcations[i + 1].IndicationTextClient != null)
                                            {
                                                <span class="indicationText">@Prequalifcations[i + 1].IndicationTextClient</span>
                                            }
                                            </li>
                                            
                                            <li>@Resources.Vendorsearchpartial_StatusPeriod_No_Col:@Prequalifcations[i + 1].PrequalificationStart.ToString("MM/dd/yyyy") to @Prequalifcations[i + 1].PrequalificationFinish.ToString("MM/dd/yyyy")</li>                         
                                            @*Kiran on 6/24/2014*@
                                            <li>
                                               @Resources.Company_Client:<strong> @Prequalifcations[i + 1].ClientName</strong>
                                            </li>  
                                            @*Ends<<<*@                     
                                        </ul>
                            }
                         </td>
                         @if (i + 1 < Prequalifcations.Count())
                         {
                             <td width="4%"><b>@Prequalifcations[i].Initials</b></td>@*Rajesh on 12/27/2013*@
                             <td width="2%"></td>
                         }
                     </tr>
                }
                     
                     

                </table>
            </div>
        </div>
        <div class="paginationMenu">
            <div class="pagination">
            <ul>
            @if (PhasPrevious)
            {
                <li onclick="getPrequalification('@(PpageNumber - 1)',0)">Previous</li>
            }
            <li class="prequalificationPages" style="background:#fff" onclick="showPrequalification(1,this)">@(PpageNumber * 3 + 1)</li>
            @if (Prequalifcations.Count() > 10)
            {
                <li class="prequalificationPages" onclick="showPrequalification(2,this)">@(PpageNumber * 3 + 2)</li>
            }
            @if (Prequalifcations.Count() > 20)
            {
                <li class="prequalificationPages" onclick="showPrequalification(3,this)">@(PpageNumber * 3 + 3)</li>
            }
            @if (PhasNext)
            {
                <li onclick="getPrequalification('@(PpageNumber + 1)',0)">Next</li>
            }
            </ul>
            </div>
        </div>
    </div>
    @*Ends<<<*@

    <div class="dashboardContent" id="IncompleteMainDiv" style="display:none;">
        <div class="dashboardMenu">
          
            @*<div class="dashBoardSubtitles">
                     <h3><strong>@Resources.Prequalification_Partial_Status_Incomplete</strong></h3>
            </div>*@
            

            <div class="dashBoardSubtitles">
                
                <table border="0">
                    <tr>
                
                        <td style="width:45%;">
                            <div class="unSelectedTabDB">
                                <input type="radio"/>
                            <label for="searchType" class="FirstName"  onclick="ShowPreQualifications(1)">
                                <h3> <strong>@Resources.Submitted_for_Processing</strong></h3>
                            </label>
                            </div>
                        </td>
                        <td style="width:35%;">
                            <div class="selectedTabDB">
                            <input type="radio"/>
                            <label for="searchType" class="ADdvance">
                                <h3> <strong>@Resources.Prequalification_Partial_Status_Incomplete </strong></h3>
                            </label>
                            </div>
                        </td>
                        <td style="width:20%;"></td>
                    </tr>
                </table> 
            </div>

            @*Rajesh on 12/27/2013
            <div class="rowTabs">
                
                <table style="margin:10px 0px 0px 0; padding:0; width:144px; border-collapse:collapse;float:left;" border="0">  
                    <tr>
                
                            <td style="width:72px;">
                            <div class="unSelectedTab"  style="min-width:72px;">
                                <input type="radio"/>
                            <label for="searchType" class="FirstName" onclick="ShowPreQualifications(1)">Prequalifications</label>
                            </div>
                        </td>
                            <td style="width:72px;">
                            <div class="selectedTab" style="min-width:72px;">
                            <input type="radio"/>
                            <label for="searchType" class="ADdvance">@Resources.Prequalification_Partial_Status_Incomplete</label>
                            </div>
                        </td>
                    </tr>
                </table> 
            </div>
            @*Ends<<*@
           
            <div>
                <table class="AdminBG" id="PrequalificationsList">
                @{var IPrequalifcations = (List<FVGen3.Domain.Entities.LocalPrequalification>)@ViewBag.IncompletePrequalifications;
                  var IPhasPrevious = false;
                  var IPhasNext = false;
                  var IPpageNumber = 0;
                  }
                @for (int i = 0; i < IPrequalifcations.Count(); i += 2)
                {
                   
                        var query = "../Prequalification/TemplatesList" + QueryStringModule.Encrypt("PreQualificationId=" + @IPrequalifcations[i].PrequalificationId);
                        if (i == 0)
                        {
                            IPhasPrevious = IPrequalifcations[0].HasPrevious;
                            IPhasNext = IPrequalifcations[0].HasNext;
                            IPpageNumber = IPrequalifcations[0].PageNumber;
                        }
                     <tr class="Prequalifications@(i / 10 + 1)"
                     @if (i / 10 + 1 != 1)
                     {
                        @:style="display:none;"
                     }
                     >
                         <td valign="top" width="45%">
                             <ul>
                                            
                                            <li>
                                                <strong>
                                                    <a href="@query">@IPrequalifcations[i].VendorName</a>
                                                </strong>
                                              
                                            </li>

                                            <li>@Resources.Common_Label_Submitted_No_Col:@if (IPrequalifcations[i].PrequalificationSubmit == null)
                                                          {<i>@Resources.Common_Label_YetToSubmit</i>}
                                                          else
                                                          {@IPrequalifcations[i].PrequalificationSubmit}
                                            @if (@IPrequalifcations[i].IndicationTextClient != null)
                                            {
                                                <span class="indicationText">@IPrequalifcations[i].IndicationTextClient</span>
                                            }
                                            </li>
                                            
                                            <li>@Resources.Vendorsearchpartial_StatusPeriod_No_Col:@IPrequalifcations[i].PrequalificationStart.ToString("MM/dd/yyyy") to @IPrequalifcations[i].PrequalificationFinish.ToString("MM/dd/yyyy")</li>                         
                                            @*Kiran on 6/24/2014*@
                                            <li>
                                               @Resources.SearchUser_Label_Client<strong> @IPrequalifcations[i].ClientName</strong>
                                            </li>  
                                            @*Ends<<<*@                    
                                        </ul>
                         </td>
                         <td width="4%"><b>@IPrequalifcations[i].Initials</b></td>@*Rajesh on 12/27/2013*@
                         <td width="2%"></td>
                         <td valign="top" width="45%">
                            @if (i + 1 < IPrequalifcations.Count())
                            {
                                query = "../Prequalification/TemplatesList" + QueryStringModule.Encrypt("PreQualificationId=" + @IPrequalifcations[i + 1].PrequalificationId);//Rajesh on 2/25/2014
                                <ul>
                                            
                                            <li>
                                                <strong>
                                                    <a href="@query">@IPrequalifcations[i + 1].VendorName</a>
                                                </strong>
                                              
                                            </li>

                                            <li>@Resources.Common_Label_Submitted_No_Col:@if (IPrequalifcations[i + 1].PrequalificationSubmit == null)
                                                          {<i>@Resources.Common_Label_YetToSubmit</i>}
                                                          else
                                                          {@IPrequalifcations[i + 1].PrequalificationSubmit}
                                            @if (@IPrequalifcations[i + 1].IndicationTextClient != null)
                                            {
                                                <span class="indicationText">@IPrequalifcations[i + 1].IndicationTextClient</span>
                                            }
                                            </li>
                                            
                                            <li>@Resources.Vendorsearchpartial_StatusPeriod_No_Col:@IPrequalifcations[i + 1].PrequalificationStart.ToString("MM/dd/yyyy") to @IPrequalifcations[i + 1].PrequalificationFinish.ToString("MM/dd/yyyy")</li>                         
                                            @*Kiran on 6/24/2014*@
                                            <li>
                                                @Resources.SearchUser_Label_Client<strong> @IPrequalifcations[i + 1].ClientName</strong>
                                            </li>  
                                            @*Ends<<<*@                      
                                        </ul>
                            }
                         </td>
                         @*Changes made by Suresh*@
                         @if (i + 1 < IPrequalifcations.Count())
                         {
                         <td width="4%"><b>@IPrequalifcations[i+1].Initials</b></td>
                         <td width="2%"></td>                       
                         }
                         @*Ends*@
                     </tr>
                   
                }
                     
                     

                </table>
            </div>
        </div>
        <div class="paginationMenu">
            <div class="pagination">
            <ul>
            @if (IPhasPrevious)
            {
                <li onclick="getPrequalification('@(IPpageNumber - 1)',1)">Previous</li>
            }
            <li class="prequalificationPages" onclick="showPrequalification(1,this)">@(IPpageNumber * 3 + 1)</li>
            @if (IPrequalifcations.Count() > 10)
            {
                <li class="prequalificationPages" onclick="showPrequalification(2,this)">@(IPpageNumber * 3 + 2)</li>
            }
            @if (IPrequalifcations.Count() > 20)
            {
                <li class="prequalificationPages" onclick="showPrequalification(3,this)">@(IPpageNumber * 3 + 3)</li>
            }
            @if (IPhasNext)
            {
                <li onclick="getPrequalification('@(IPpageNumber + 1)',1)">Next</li>
            }
            </ul>
            </div>
        </div>
    </div>

        @*Rajesh on 08-09-2014*@
 <div class="dashboardContent" id="VendorsInvitedMainDiv" style="display:none;">
        <div class="dashboardMenu">
          
            <div class="dashBoardSubtitles" >
                    <h3><strong>@Resources.InviteVendorsPartial_Heading</strong></h3>
            </div>
        
            <div>
                <table class="AdminBG" id="inviteVendorList" width="100%">@*Kiran on 9/12/2014*@ 
                @{var InvitedVendor = (List<FVGen3.Domain.Entities.LocalinviteVendor>)@ViewBag.invitedVendors;
                  var IVhasPrevious = false;
                  var IVhasNext = false;
                  var IVpageNumber = 0;
                  }
                @for (int i = 0; i < InvitedVendor.Count(); i += 2)
                {


                    if (i == 0)
                    {
                        IVhasPrevious = InvitedVendor[0].HasPrevious;
                        IVhasNext = InvitedVendor[0].HasNext;
                        IVpageNumber = InvitedVendor[0].PageNumber;
                    }
                     <tr class="InvitedVendors@(i / 10 + 1)"
                     @if (i / 10 + 1 != 1)
                     {
                        @:style="display:none;"
                     }
                     >
                         <td valign="top" width="50%">
                             <ul>
                                @*Kiran on 9/12/2014*@           
                                <li>
                                    <strong>
                                        @InvitedVendor[i].VendorCompanyName
                                    </strong>
                                              
                                </li>
                                <li>@InvitedVendor[i].EmailAddress</li>
                                <li>@InvitedVendor[i].InvitationDate.ToString("MM/dd/yyyy")</li>
                                <li>@Resources.InviteVendorsPartial_Label_Invitedby @InvitedVendor[i].FullName @InvitedVendor[i].LastName
                                </li>
                                @*Ends<<<*@    
                            </ul>
                         </td>
                         <td valign="top" width="50%">
                            @if (i + 1 < InvitedVendor.Count())
                            {
                               <ul>
                                    @*Kiran on 9/12/2014*@        
                                    <li>
                                        <strong>
                                            @InvitedVendor[i+1].VendorCompanyName
                                        </strong>
                                              
                                    </li>
                                    <li>@InvitedVendor[i+1].EmailAddress</li>
                                    <li>@InvitedVendor[i+1].InvitationDate.ToString("MM/dd/yyyy")</li>
                                    <li>@Resources.InviteVendorsPartial_Label_Invitedby @InvitedVendor[i+1].FullName @InvitedVendor[i+1].LastName
                                    </li>
                                     @*Ends<<<*@     
                                </ul>
                            }
                         </td>
                         
                    
                     </tr>
                }
                     
                     

                </table>
            </div>
        </div>
        <div class="paginationMenu">
            <div class="pagination">
            <ul>
            @if (IVhasPrevious)
            {
                <li onclick="getInvitedVendors('@(IVpageNumber - 1)')">Previous</li>
            }
            <li class="InvitedVendorsPages" style="background:#fff;" onclick="showInvitedVendors(1,this)">@(IVpageNumber * 3 + 1)</li>
            @if (InvitedVendor.Count() > 10)
            {
                <li class="InvitedVendorsPages" onclick="showInvitedVendors(2,this)">@(IVpageNumber * 3 + 2)</li>
            }
            @if (InvitedVendor.Count() > 20)
            {
                <li class="InvitedVendorsPages" onclick="showInvitedVendors(3,this)">@(IVpageNumber * 3 + 3)</li>
            }
            @if (IVhasNext)
            {
                <li onclick="getInvitedVendors('@(IVpageNumber + 1)')">Next</li>
            }
            </ul>
            </div>
        </div>
    </div>
   
   @*Ends<<*@


    <div class="dashboardContent" id="RecentDocsMainDiv"  style="display:none;">
        <div class="dashboardMenu">
            <div class="dashBoardSubtitles">
                     <h3><strong>@Resources.GetRecentDocs_Heading</strong></h3>
                </div>
            <div>
            @if (@ViewBag.VBRecentDocs.Count > 0 && @ViewBag.VBRecentDocs != null)
            {
                <table class="AdminBG">
                
                
                @for (int i = 0; i < @ViewBag.VBRecentDocs.Count; i += 2)
                {
                    var docDetails = (FVGen3.Domain.Entities.LocalRecentDocsDetails)@ViewBag.VBRecentDocs[i];
                     <tr>
                         <td valign="top" width="45%">
                             <ul>
                                <li><strong><a href="@docDetails.urlRecentDocs"> @docDetails.VendorName </a></strong></li>
                                <li> @docDetails.DocumentTypeName </li>
                                <li> @docDetails.ClientName </li>
                                <li> @docDetails.DateUploaded.ToShortDateString() by @docDetails.UserName</li>
                            </ul>
                         </td>
                         <td width="4%"><b>@docDetails.Initials</b></td>
                         <td width="2%"></td>
                         <td valign="top" width="45%">

                            @if (i + 1 < @ViewBag.VBRecentDocs.Count)
                            {
                                docDetails = (FVGen3.Domain.Entities.LocalRecentDocsDetails)@ViewBag.VBRecentDocs[i+1];
                                <ul>
                                                <li><strong><a href="@docDetails.urlRecentDocs"> @docDetails.VendorName </a></strong></li>
                                                <li> @docDetails.DocumentTypeName </li>
                                                <li> @docDetails.ClientName </li>
                                                <li> @docDetails.DateUploaded.ToShortDateString() by @docDetails.UserName</li>
                                            </ul>
                            }
                         </td>
                         <td width="4%">
                         @if (i + 1 < @ViewBag.VBRecentDocs.Count)
                         {
                            @:<b>@docDetails.Initials</b>
                         }
                         </td>
                    
                     </tr>
                }
                     
                     

                </table>
            }
            </div>
        </div>
    </div>
</div>		  
 



