﻿<!--
 *****************************************************
Page Created Date:  10/02/2013
Created By: Kiran Talluri
Purpose: To display the Bidding Interests Or Proficiency Capabilities based on Client
Version: 1.0
****************************************************
-->
@using Resources
@using FVGen3.Domain.Entities
@model FVGen3.Domain.Entities.LocalSearchVendors
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Resources.Vendor_Proficiency_Results</title>
</head>
<body>
    @if (@ViewBag.VBBiddingInterestList != null && @ViewBag.VBBiddingInterestList.Count != 0)
    {
        @*@*<div class="rowGeneric" style= "padding:10px 0 10px 0; float:left; border-bottom:1px solid #ddd; width:99%;">
            <table border="0" style="float:left; border-collapse:collapse;">
                <tr>
                    <td valign="top">
                        <label class="firstLetterLabel" >@Resources.Vendorsearch_BiddingInterest</label>
                    </td>
                   <td valign="top">
                        <div class="scrollCheckbox" style="margin:0px; width:290px;" id="BiddingInterests">
                            <table style="margin-top:-10px;">

                            @for (var i = 0; i < @ViewBag.VBBiddingInterestList.Count; i++)
                            {
                                <tr>
                                    <td valign="top">
                                    @Html.CheckBoxFor(m => m.BiddingList[i], new { @BiddingID = @ViewBag.VBBiddingInterestList[i].BiddingInterestId })
                                    </td>

                                    <td valign="top">
                                        @{var id = "BiddingList_" + @i + "_";}

                                    <label for="@id" style="padding-top:9px;">@ViewBag.VBBiddingInterestList[i].BiddingInterestName</label>
                                    </td>
                                </tr>
                            }
                            </table>
                        </div>
                   </td>
                </tr>
            </table>


            </div>*@

    <div class="rowGenericReports vendordetails-section">
        @*Srinivas on 30th, Dec-2013*@
        @if (@ViewBag.VBClaycoBiddingInterestList != null && @ViewBag.VBClaycoBiddingInterestList.Count != 0)
        {             
        <label class="section-heading "><h2>@Resources.BiddingInterestsPartial_Heading_LegacyBiddings</h2></label>
        }
        else
        {
            <label class="section-heading "><h2>@Resources.Vendorsearch_BiddingInterest</h2></label>
        }
        
        <div class="scrollCheckboxReports" id="BiddingInterests">
            <table>
                @for (var i = 0; i < @ViewBag.VBBiddingInterestList.Count; i++)
                {
                    <tr>
                        <td>
                            @Html.CheckBoxFor(m => m.BiddingList[i], new { @BiddingID = @ViewBag.VBBiddingInterestList[i].BiddingInterestId })
                        </td>

                        <td>
                            @{var id = "BiddingList_" + @i + "_";}
                            <label for="@id">@ViewBag.VBBiddingInterestList[i].BiddingInterestName</label>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    }

    @if (@ViewBag.VBClaycoBiddingInterestList != null && @ViewBag.VBClaycoBiddingInterestList.Count != 0)
    {
        <div class="rowGenericReports vendordetails-section">
            @*Srinivas on 30th, Dec-2013*@
            <label class="section-heading "><h2>@Resources.BiddingInterestsPartial_Heading_ClaycoBiddings</h2></label>
            <div class="scrollCheckboxReports" id="ClaycoBiddingInterests">
                <table>
                    @for (var i = 0; i < @ViewBag.VBClaycoBiddingInterestList.Count; i++)
                    {
                        <tr>
                            <td>
                                @Html.CheckBoxFor(m => m.ClaycoBiddingList[i], new { @BiddingID = @ViewBag.VBClaycoBiddingInterestList[i].BiddingInterestId })
                            </td>

                            <td>
                                @{var id = "ClaycoBiddingList_" + @i + "_";}
                                <label for="@id">@ViewBag.VBClaycoBiddingInterestList[i].BiddingInterestName</label>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    }
    @if (@ViewBag.VBProductCategories != null && @ViewBag.VBProductCategories.Count != 0)
    {
        <div class="rowGenericReports vendordetails-section">
            <label class="section-heading "><h2>@Resources.Product_Categories</h2></label>
            <div class="scrollCheckboxReports" id="ProductCategories">
                <table>
                    @for (var i = 0; i < @ViewBag.VBProductCategories.Count; i++)
                    {
                        <tr>
                            <td>
                                @Html.CheckBoxFor(m => m.ProductCategoryList[i], new { @ProductCategoryID = @ViewBag.VBProductCategories[i].ProductCategoryId })
                            </td>
                            <td>
                                @{var id = "ProductCategoryList_" + @i + "_";}
                                <label for="@id">@ViewBag.VBProductCategories[i].ProductCategoryName</label>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    }
    @if (@ViewBag.VBProficiencyCapabilitiesList != null && @ViewBag.VBProficiencyCapabilitiesList.Count != 0)
    {
        <div class="rowGenericReports vendordetails-section">
            <label class="section-heading"><h2>@Resources.Vendorsearch_ProficiencyCapabilities</h2></label>
            @*Srinivas on 30th, Dec-2013*@
            @*<table border="0">*@
                @*<tr>
                    <td valign="top">

                    </td>


                </tr>
                <tr>
                    <td>*@
                <div class="scrollCheckboxReports" id="ProficiencyCapabilities">
                    <table>
                        @{int ids = 0;}
                        @foreach (var capability in (List<IGrouping<string, ProficiencyCapabilities>>)@ViewBag.VBProficiencyCapabilitiesList)
                        {
                            int i = 0;
                            <tr>
                                <td colspan="2">
                                    <strong>@capability.Key</strong>
                                </td>
                            </tr>
                            foreach (var c in capability)
                            //for (var i = 0; i < @capability.Count(); i++)
                            {
                                <tr>
                                    <td width="5%">
                                        @Html.CheckBoxFor(m => m.ProficiencyList[i], new { @ProficiencyId = c.ProficiencyId, @id = "PList" + @ids, @style = "margin-top:8px;" })
                                    </td>
                                    <td width="95%">
                                        @{var id = "PList" + @ids;}
                                        @if (@c.ProficiencySubCategroy == "")
                                        {
                                            <label for="@id">@c.ProficiencyName</label>
                                        }
                                        else
                                        {
                                            <label for="@id">@c.ProficiencySubCategroy-@c.ProficiencyName</label>
                                        }
                                    </td>
                                </tr>
                                        i++;
                                        ids++;
                            }

                        }
                    </table>
                </div>

                    @*</td>
                </tr>*@
            @*</table>*@
        </div>
    }

</body>
</html>
