﻿<!--
Page Created Date:  09/05/2013
Created By: Sumalatha Jeldi
Purpose:Close the addcomment window and redirecting to the parent window
Version: 1.0
****************************************************
-->

@model FVGen3.Domain.Entities.LocalManageSites
@using Resources
@{
    Layout = null;
}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>@Resources.CloseAddClientBusinessUnit_title</title>
    <meta name="viewport" content="width=device-width"/>   
        
    @Styles.Render("~/css/appPopUp.css")
    @Styles.Render("~/css/appInnerPages.css")
    @Scripts.Render("~/Scripts/jquery-1.9.1.min.js")    
         
</head>

<script type = "text/javascript">

    $(document).ready(function () {
        window.close();
        //window.opener.location.reload(true);
        window.opener.commentsonLoad();
    });
        
    function closeView() {
        // window.opener.updateUnitsList(ClientId);
        window.close();
    }
</script>

<body>

    <div class="popUpContainer"> 
        <div class="popUpContent">

            <div class="popUpSubContent">   
                <div>
                    <h2>@Resources.Vendor_Comments</h2>
                </div> 
                <p class="successMessage">@Resources.Common_ChangesSavedSuccessMsg </p>        
            </div>
            
            <div class="popUpSubContent">
                <div class="pageFooterContent"> 
                    <div class="pageFooterButtons">                  
                        <button type="submit" class="PageFooter_Button" onclick = "closeView()">
                            @Resources.Close_Button_Text
                        </button>        
                    </div>
                </div>
            </div>                                                          
        
        </div>
    </div>

</body>
</html>
