﻿<!--
 *****************************************************
Page Created Date:  08/27/2013
Created By: Suma Jeldi
Purpose: View for Custom Reports
Version: 1.0

****************************************************
-->
@using FVGen3.Domain.Entities;
@using Resources
@model FVGen3.Domain.Entities.LocalSearchVendors
@{
    ViewBag.Title = "Custom Reports";
    Layout = "~/Views/Shared/_ReportsLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Scripts.Render("~/Scripts/FVHelpers.js")
    <script src="~/Scripts/Application/Vendor/CustomReports.js"></script>
     <script src="~/Scripts/Application/VendorRegistration.js"></script>
    <script>
        $(document).ready(function () {
            VendorRegistration.GetCountryStates($("#Name").val(), false, $('#vendorState'));
            //PopulateStateDropdown();
            // For Roles and Permissions
            setPermissions('@ViewBag.ViewPermissions');
            // Ends<<<

            var scopeId = $("#Name").val();
            $('#Subsite').empty();
            siteDetails(scopeId);
            // Added on 10/10/2013 by Suma
            getBiddingOrProficiencyDetails(scopeId);
            templatesList(scopeId);
            CustomReports.populateClientContractType();
            // Ends<<<


            //When client changes
            $("#client").change(function () {
                //alert("hai");
                var scopeId = $("#Name").val();
                //alert(scopeId + " Hsi");
                $('#Subsite').empty();
                siteDetails(scopeId);
                templatesList(scopeId);
                $('#GeographicArea option:selected').attr("selected", false);
                // Added on 10/10/2013 by Suma
                getBiddingOrProficiencyDetails(scopeId);
                // PopulateStateDropdown();
                VendorRegistration.GetCountryStates($("#Name").val(), true, $('#vendorState'));
                CustomReports.populateClientContractType();
                // Ends<<<


            });

            // Added on 10/10/2013 by Suma
            function getBiddingOrProficiencyDetails(clientId) {
                var ClientId = clientId;
                $.ajax({
                    type: 'GET',
                    url: 'BiddingOrProficiencyResultsPartial',
                    data: 'ClientId=' + clientId,
                    success: function (data) {
                        $("#BiddingOrProficiencyResultsBlock_Id").html(data);
                        //$("#searchBlock_id").load(link);
                    },
                    error: function () {
                        console.trace();
                        //alert("");
                    }
                });

            }
            // Ends<<<
            function templatesList(clientId) {

                $.ajax({
                    type: 'Post',
                    url: 'getTemplatesList',
                    data: '&clientid=' + clientId,
                    success: function (data) {
                        $('#questionnaireType').empty();
                        var newOption = $('<option value="Any">@Resources.Common_DropdownValue_Any</option>');
                        $('#questionnaireType').append(newOption);
                        for (var i = 0; i < data.length; i++) {
                            //alert(data[i].Value);
                            var datasite = data[i].Text;
                            var datasiteId = data[i].Value;
                            //alert(data[i].Text);
                            newOption = $('<option value="' + datasiteId + '">' + datasite + '</option>');
                            $('#questionnaireType').append(newOption);
                            //alert(site + "");
                        }
                    },
                    error: function () {
                        console.trace();
                        alert("@Resources.Common_unableToProcess");
                    }
                });

            }

            //>>>>Suma on 9/18/2013=====Placed BU and Sites functions in Document.ready

            $("#site").change(function () {
                var selectedsite = $("#site").val();
                //alert(selectedsite + "");
                if (selectedsite == "Any") selectedsite = 1;
                subSiteDetails(selectedsite);

            });

            $("#Subsite").change(function () {
                var selectedSubsite = $("#Subsite").val();
            });

            ////<<<<<<Ends
        });
        //function PopulateStateDropdown() {
        //    var vendorid = $("#Name").val();
        //    FVHelper.PopulateStateDropdown($('#vendorState'), vendorid, "Not Applicable");
        //}
        function siteDetails(id) {
            var BUnitId = id;
            $.ajax({
                type: 'Post',
                url: 'BUnitDetails',
                data: '&BUid=' + BUnitId,
                success: function (data) {
                    $('#site').empty();
                    var newOption = $('<option value="Any">@Resources.Common_DropdownValue_Any</option>');
                    $('#site').append(newOption);
                    for (var i = 0; i < data.length; i++) {
                        //alert(data[i].Value);
                        var datasite = data[i].Text;
                        var datasiteId = data[i].Value;
                        //alert(data[i].Text);
                        newOption = $('<option value="' + datasiteId + '">' + datasite + '</option>');
                        $('#site').append(newOption);
                        //alert(site + "");
                    }
                },
                error: function () {
                    console.trace();
                    alert("@Resources.Common_unableToProcess");
                }
            });
        }

        $("#site").change(function () {

            var selectedsite = $("#site").val();
            //var selectedSubsite = $("#Subsite").val();
            //alert(selectedsite + "");
            subSiteDetails(selectedsite);

        });

        $("#Subsite").change(function () {
            var selectedSubsite = $("#Subsite").val();
            //alert(selectedSubsite + "");
        });

        function subSiteDetails(Subid) {

            var BUnitSId = Subid;
            $.ajax({
                type: 'Post',
                url: 'BUSiteDetails',
                data: 'BUSiteid=' + BUnitSId,
                success: function (data) {
                    $('#Subsite').empty();
                    var newOption = $('<option value="Any">@Resources.Common_DropdownValue_Any</option>');
                    $('#Subsite').append(newOption);
                    for (var i = 0; i < data.length; i++) {
                        var datasite = data[i].Text;
                        var datasiteId = data[i].Value;
                        newOption = $('<option value="' + datasiteId + '">' + datasite + '</option>');
                        $('#Subsite').append(newOption);
                        //alert(site + "");
                    }
                },
                error: function () {
                    console.trace();
                    alert("@Resources.Common_unableToProcess");
                }
            });
        }


        function CustomReport() {
            $("#searchVendorResults_block_id").show();
            var venname = $("#VendorName").val();
            var period = "searchParticular";

            if ($("#VenSearch").is(":checked")) {
                period = "searchAll";
            }
            //var scope =$("#Name").val();
            var sort = $("#sortType").val();
            var clientvendorrefid = $("#ClientVendorRefId").val();
            var clientContractType = $("#contractType").val();
            var scope = $("#Name").val();
            var search = $("#searchType").val();
            var firstLetter = $("#firstLetterVal").val();
            var statusId = new Array();
            var bidInterest = new Array();
            var proficiencyCapabilities = new Array();
            var ClaycoBiddingInterests = new Array();
            var productCategories = new Array();
            var Country = $("#Country").val();
            //var poststatusId = new Array();
            
            var Subsite = $("#Subsite").val();
            if (Subsite == null)
                Subsite = "";
            else Subsite = Subsite.toString();
            var Site = $("#site").val();
            if (Site == null)
                Site = "";
            else Site = Site.toString();
            var vendorState = $("#vendorState").val();
            var vendorCity = $("#vendorCity").val();
            var GeographicArea = $("#GeographicArea").val();
            if (GeographicArea != null) {
                GeographicArea = $("#GeographicArea").val().toString();
            }
            var unionShop = $("#UnionShop").val();
            var minorityBusiness = $("#MinorityBusiness").val();

            var mostCurrentEMR = $("#MostCurrentEMR").val();
            var citedByOsha = $("#CitedByOsha").val();
            var safetyDirector = $("#SafetyDirectorName").val();

            var clientTemplateId = $("#questionnaireType").val();
            if (clientTemplateId == "Any")
                clientTemplateId = "";
            //            $("#PreQualificationStatus input:checked").each(function () {

            //                statusId.push($(this).attr('PreID'));
            //                //alert(statusId + "");
            //                //alert($(this).attr('PreID'));
            //            });

            //            $("#BiddingList input:checked").each(function () {
            //                bidInterest.push($(this).attr('BiddingID'));
            //                //alert(bidInterest + "");
            //                //alert($(this).attr('bidin'));
            //            });

            $("#PreQualificationStatus input:checked").each(function () {
                //alert("Hai in status");
                statusId.push($(this).attr('PreID'));
            });

            //alert("Selected status"+ ""+statusId);

            $("#BiddingInterests input:checked").each(function () {
                //alert("Hai in Bidding");
                bidInterest.push($(this).attr('BiddingID'));
            });

            //alert("Selected Bidding" + "" + bidInterest);


            $("#ProficiencyCapabilities input:checked").each(function () {
                proficiencyCapabilities.push($(this).attr('ProficiencyId'));
            });

            //alert("Selected Proficiency" + "" + proficiencyCapabilities);
            $("#ClaycoBiddingInterests input:checked").each(function () {
                ClaycoBiddingInterests.push($(this).attr('BiddingID'));
            });
            $("#ProductCategories input:checked").each(function () {
                //alert("Hai in Product Categories");
                productCategories.push($(this).attr('ProductCategoryID'));
            });
            var form = document.createElement("form");
            form.setAttribute("method", "post");
            form.setAttribute("action", "../Reports/VendorPrequalificationDetails.aspx");
            form.setAttribute("target", "_blank"); 
            form.appendChild(createField("Country", Country));
            form.appendChild(createField("VendorName", venname));
            form.appendChild(createField("periodVal", period));
            form.appendChild(createField("sortType", sort));
            form.appendChild(createField("vendorCity", vendorCity));
            form.appendChild(createField("vendorState", vendorState));
            form.appendChild(createField("GeographicArea", GeographicArea));
            form.appendChild(createField("Subsite", Subsite));
            form.appendChild(createField("Site", Site));
            form.appendChild(createField("clientId", scope));
            form.appendChild(createField("statusIdList", statusId.join(',')));
            form.appendChild(createField("biddingIdList", bidInterest.join(',')));
            form.appendChild(createField("claycoBiddingInterests", ClaycoBiddingInterests.join(',')));
            form.appendChild(createField("proficiencyIdList", proficiencyCapabilities.join(',')));
            form.appendChild(createField("clientTemplateid", clientTemplateId));
            form.appendChild(createField("clientvendorrefid", clientvendorrefid));
            form.appendChild(createField("clientContractId", clientContractType));
            form.appendChild(createField("minorityBusiness", minorityBusiness));
            form.appendChild(createField("unionShop", unionShop));

            form.appendChild(createField("mostCurrentEMR", mostCurrentEMR));
            form.appendChild(createField("citedByOsha", citedByOsha));
            form.appendChild(createField("safetyDirector", safetyDirector));

            form.appendChild(createField("productCategoryList", productCategories.join(',')));

            document.body.appendChild(form);    // Not entirely sure if this is necessary
            form.submit();


            //$.ajax({
            //    type: 'POST',
            //    url: 'CustomReportGeneration',
            //    data: 'VendorName=' + venname + '&periodVal=' + period + '&sortType=' + sort + '&vendorCity=' + vendorCity + '&vendorState=' + vendorState + '&Subsite=' + Subsite
            // + '&clientId=' + scope + '&statusIdList=' + statusId + '&biddingIdList=' + bidInterest + '&claycoBiddingInterests=' + ClaycoBiddingInterests + '&proficiencyIdList='
            // + proficiencyCapabilities + '&clientTemplateid=' + clientTemplateId + '&clientvendorrefid=' + clientvendorrefid
            // + '&minorityBusiness=' + minorityBusiness + '&unionShop=' + unionShop + '&mostCurrentEMR=' + mostCurrentEMR
            //    + '&citedByOsha=' + citedByOsha + '&safetyDirector=' + safetyDirector,
            //    success: function (data) {

            //        if (typeof data ==='string' && data.indexOf("Session expired") >= 0) {
            //            window.location = "../SystemUsers/Login?lastLoginPage=" + lastpageurl;
            //        }
            //        else {
            //            alert(JSON.stringify(data));
            //            var form = document.createElement("form");
            //            form.setAttribute("method", "post");
            //            form.setAttribute("action", "../Reports/VendorPrequalificationDetails.aspx");
            //            form.setAttribute("target", "_blank");
            //            window.location = "../ReportsForAdmin/CustomReportWebForm.aspx?sql=" + data;

            //            var hiddenField = document.createElement("input");
            //            hiddenField.setAttribute("type", "hidden");
            //            hiddenField.setAttribute("name", "sql");
            //            hiddenField.setAttribute("value", data.Sql);
            //            form.appendChild(hiddenField);

            //            hiddenField = document.createElement("input");
            //            hiddenField.setAttribute("type", "hidden");
            //            hiddenField.setAttribute("name", "data");
            //            hiddenField.setAttribute("value", JSON.stringify(data.Data));
            //            form.appendChild(hiddenField);
            //            document.body.appendChild(form);    // Not entirely sure if this is necessary
            //            form.submit();

            //            window.location= "/AdminVendors/CustomerReportGeneration?data= " +data;
            //            $("#searchVendorResults_block_id").html(data);
            //            $('.spinner_overlay').hide();
            //            $('.importSubmitSpinner').hide();
            //        }
            //        $("#searchVendorResults_block_id").html(data);
            //    },
            //    error: function () {
            //        console.trace();
            //        alert("Unable to process your request, Please try again");
            //        $('.spinner_overlay').hide();
            //        $('.importSubmitSpinner').hide();
            //    }
            //});
        }

        function createField(name, value) {
            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", name);
            hiddenField.setAttribute("value", value);
            return hiddenField;
        }



    </script>

</head>
<body>
    <div>
        <div class="contentSub" style="width:auto;">
            <div class="page-title">
                <h2>@Resources.CustomReport_Heading</h2>
            </div>
            <!--------------------------------Client Scope------------------------>
            <div class="rowISTReports" id="client">
                <label>@Resources.Vendorsearch_ClientScope</label>
                @Html.DropDownListFor(model => model.Name, (IEnumerable<SelectListItem>)@ViewBag.VBOrglist)
                @*@Html.DropDownListFor(model => model.clientScope, new SelectList(@ViewBag.list2))*@
            </div>
            <!--------------------------------Period------------------------->
            <div class="rowGenericReports">
                <table>
                    <tr>
                        <td valign="top" rowspan="2">@Resources.Common_Label_StatusPeriod</td>
                        <td>
                            <input type="radio" id="VenSearch" name="vendorSearch" checked />
                            <label for="VenSearch">@Resources.Vendorsearch_selectAll</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="radio" id="VenSearch1" name="vendorSearch" />
                            <label for="VenSearch1">@Resources.Vendorsearch_selectParticular</label>
                        </td>
                    </tr>
                </table>
            </div>
            <!--------------------Advanced----------------------------------------------->
            <!--------------------Advanced----------------------------------------------->
            <div class="Advanced">
                <div class="rowGenericReports vendordetails-section">
                    <label class="rowGenericReportsLabel section-heading"><h2>@Resources.Vendorsearch_Status</h2></label>
                    <div class="scrollCheckboxReports" id="PreQualificationStatus">
                        <table>
                            @*<td><input type="checkbox" id="probation" ></input></td>*@
                            @for (var i = 0; i < @Model.PrequalificationStatusList.Count; i++)
                            {
                                <tr>
                                    <td>
                                        @Html.CheckBoxFor(m => m.StatusList[i], new { @PreID = @Model.PrequalificationStatusList[i].PrequalificationStatusId })
                                    </td>
                                    <td>
                                        @{var id = "StatusList_" + @i + "_";}
                                        <label for="@id">@Model.PrequalificationStatusList[i].PrequalificationStatusName</label>
                                    </td>
                                </tr>

                                            }
                        </table>
                    </div>
                </div>
                @*Srinivas on 30th, Dec-2013*@
                <div id="BiddingOrProficiencyResultsBlock_Id">
                </div>
                @* Ends *@
                <div class="rowGenericReports vendordetails-section">
                    <label class="rowGenericReportsLabel section-heading"><h2>@Resources.Vendorsearch_Site</h2></label>
                    <table>
                        <tr>
                            <td>@Html.DropDownListFor(m => m.site, new SelectList(new[] { "Any" }), new { @class = "rowGenericReportsSelect",  multiple = "multiple", @style = "width:92%;height:10%" })</td>
                            <td style="padding-right:25px"> @Html.DropDownListFor(m => m.Subsite, new SelectList(new[] { "" }), new { @class = "rowGenericReportsSelect", @style = "width:100%;height:10%",  multiple = "multiple" })</td>
                        </tr>
                    </table>
                </div>
                <div class="rowGenericReports vendordetails-section">
                    <label class="rowGenericReportsLabel section-heading"><h2>@Resources.Common_Label_Countries</h2></label>

                    <table>
                        <tr>
                            <td>
                                @Html.DropDownListFor(x => Model.Country, (List<SelectListItem>)@ViewBag.Countries, new
                           {
                               @class = "rowGenericReportsSelect",
                               @onchange = "VendorRegistration.GetCountryStates(" + Model.Name + ", false, $('#vendorState'))"
                           })

                            </td>

                        </tr>
                    </table>
                </div>
                <div class="rowGenericReports vendordetails-section">
                    <label class="rowGenericReportsLabel section-heading"><h2>@Resources.Vendorsearch_citystate</h2></label>
                    <table>
                        <tr>
                            <td>@Html.TextBoxFor(m => m.vendorCity, new { @class = "rowGenericReportsInput" })</td>
                            @*<td>@Html.DropDownListFor(m => m.vendorState, new SelectList(new[] {"Not Applicable", "Alabama","Alaska","Arizona","Arkansas","California","Colorado",
                        "Connecticut","Delaware","Dist of Columbia","Florida","Georgia","Hawaii","Idaho","Illinois","Indiana","Iowa", "Kansas","Kentucky",
                        "Louisiana","Maine","Maryland","Massachusetts","Michigan","Minnesota","Mississippi","Missouri","Montana","Nebraska","Nevada",
                        "New Hampshire","New Jersey","New Mexico","New York","North Carolina","North Dakota","Ohio","Oklahoma","Oregon",
                        "Pennsylvania","Puerto Rico","Rhode Island","South Carolina","South Dakota","Tennessee","Texas","U.S. Virgin Islands","Utah","Vermont",
                        "Virginia","Washington","West Virginia","Wisconsin","Wyoming"}), new { @class = "rowGenericReportsSelect" })</td>*@
                            <td><select class="rowGenericReportsSelect" id="vendorState" name="vendorState" style="width:90%"></select></td>
                        </tr>
                    </table>

                </div>
               
                <div class="rowGenericReports vendordetails-section">
                    <label class="rowGenericReportsLabel section-heading"><h2>@Resources.GeographicArea:</h2></label>
                    <table>
                        <tr>

                            <td>
                                @Html.DropDownListFor(model => model.GeographicArea, (List<SelectListItem>)@ViewBag.Regions, new { size = 4, multiple = "multiple",@style = "width:60%" })

                            </td>
                        </tr>
                    </table>

                </div>
                @*Mani on 04/10/2015*@
                <div class="rowGenericReports vendordetails-section">
                    <label class="rowGenericReportsLabel section-heading"><h2>@Resources.Common_Label_RiskLevel:</h2></label>
                    <table>
                        <tr>
                            <td>@Html.DropDownListFor(m => m.questionnaireType, new SelectList(new[] { "Any" }), new { @class = "rowGenericReportsSelect" })</td>
                        </tr>
                    </table>
                </div>
                @*Ends<<<*@
            </div>
                <div class="rowGenericReports vendordetails-section">
                    <label class="section-heading"><h2>@Resources.Vendorsearch_vendorName</h2></label>
                    @Html.TextBoxFor(m => m.VendorName, new { @class = "rowGenericReportsInput" })
                </div>
                @* sumanth on 08/12/2015 *@
                <!------------------------Client Vendor Reference Id search--------------------------------------->
                <div class="rowGenericReports vendordetails-section " id="ClientVendorId">

                    <label class="section-heading"><h2>@Resources.ContractorType</h2></label>
                    <div id="contractTypeRow" class="contractType">

                    </div>
                    <div style="padding-top: 15px;"></div>
                    <label class="section-heading">
                        <h2>@Resources.ClientVendorRefId</h2>
                    </label>
                    @Html.TextBoxFor(m => m.ClientVendorRefId, new { @class = "rowGenericReportsInput" })
                </div>
                <!----------------------------------------------------------------->
                <!------------------------Purchasing search--------------------------------------->
                <div class="rowGenericReports vendordetails-section " id="Purchasing">
                    <label class="rowGenericReportsLabel section-heading"><h2>@Resources.CustomReport_Label_Purchasing</h2></label>
                    <table>
                        <tr>
                            <td width="200px" style="padding-left: 9px;"><label>@Resources.CustomReport_Label_Minority</label></td>
                            <td style="padding-right: 12px;">@Html.DropDownListFor(m => m.MinorityBusiness, new SelectList(new[] { "Any", "Yes", "No" }), new { @class = "rowGenericReportsSelect" })</td>
                        </tr>
                        <tr>
                            <td style="padding-left: 9px;"><label>@Resources.CustomReport_Label_Unionshop</label></td>
                            <td style="padding-right: 12px;">@Html.DropDownListFor(m => m.UnionShop, new SelectList(new[] { "Any", "Yes", "No" }), new { @class = "rowGenericReportsSelect" })</td>
                        </tr>
                    </table>
                </div>
                <!----------------------------------------------------------------->
                <!------------------------Purchasing search--------------------------------------->
                <div class="rowGenericReports vendordetails-section " id="Safety">
                    <label class="rowGenericReportsLabel section-heading"><h2>@Resources.Common_Safety_With_Col</h2></label>
                    <table>
                        <tr>
                            <td width="200px" style="padding-left: 9px;"><label>@Resources.CustomReport_Label_EMR <span style="font-style:italic">(less than or equal to)</span></label></td>
                            <td style="padding-right: 12px;">@Html.TextBoxFor(m => m.MostCurrentEMR, new { @class = "rowGenericReportsInput" })</td>
                        </tr>
                        <tr>
                            <td style="padding-left: 9px;"><label>@Resources.CustomReport_Label_CitebyOSHA</label></td>
                            <td style="padding-right: 14px;">@Html.DropDownListFor(m => m.CitedByOsha, new SelectList(new[] { "Any", "Yes", "No" }), new { @class = "rowGenericReportsSelect" })</td>
                        </tr>
                        <tr>
                            <td style="padding-left: 9px;"><label>@Resources.CustomReport_Label_SafetyDirector </label></td>
                            <td style="padding-right: 12px;">@Html.TextBoxFor(m => m.SafetyDirectorName, new { @class = "rowGenericReportsInput" })</td>
                        </tr>
                    </table>
                </div>
            </div>
        <!----------------------------------------------------------------->
        <div class="rowGenericReports">
            <table align="right">
                <tr>
                    <td><button id="spinner" type="submit" onclick="CustomReport()">@Resources.CustomReport_Heading</button></td>
                    <td>
                        <p>@Resources.Common_Label_Sortby</p>
                    </td>
                    <td>
                        @*sumanth on 10/23/2015 for FVOS-79 , default selection should not be null*@
                        @Html.DropDownListFor(m => m.sortType, new SelectList(new[] { "Name", "Status", "Status Period" }), new { @class = "sortBySelectReports", @width = "10px;" })
                    </td>
                </tr>
            </table>
        </div>

    </div>
</body>
</html>
