﻿@using Resources
<div class="rowIST">
    <label>@Resources.Common_Label_FirstName</label>
    @Html.TextBox("FirstName","", new { @maxlength = "100" })<br />
    <br />
    <label>@Resources.Common_Label_LastName</label>
    @Html.TextBox("LastName","", new { @maxlength = "100" })
    <br />
    <br />
    <label>@Resources.SearchUser_Label_Email</label>
    @Html.TextBox("Email","", new { @maxlength = "100" })
</div>