﻿<!--
 *****************************************************
Page Created Date:  2/5/2014
Created By: Kiran Talluri
Purpose: To display the employee details
Version: 1.0
****************************************************
-->

@using FVGen3.Domain.Entities;
@using Resources;
@model FVGen3.Domain.Entities.LocalVendorEmployeeQuizzes
@{
    ViewBag.Title = "Employee Training";
   Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
</head>

    @Scripts.Render("~/js/common.js")
    @Scripts.Render("~/Scripts/jquery-1.9.1.min.js")

<script type="text/javascript">

    $(document).ready(function () {
        setPermissions('@ViewBag.ViewPermissions');
    });


    var winPop = false;
    function openWindow(userid) {
        if (winPop && !winPop.closed) {  //checks to see if window is open  
            winPop.focus();
        }
        else {
            winPop = window.open("AddQuiz?userId=" + userid, "_blank", "toolbar=no,  directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=yes, width=550, height=500");
        }
    }



    function deleteQuiz(userId, quizId) {
        if (quizId != -1) {
            var c = confirm("@Resources.VendorEmployeeQuizzes_delete_confirmmessage");
            if (c == true) {
                $.ajax({
                    type: 'GET',
                    url: 'deleteQuiz',
                    data: 'quizId=' + quizId + '&userId=' + userId,
                    success: function (data) {
                        $("#quizListBlock_Id").html(data);
                        if (data.indexOf("Session expired") >= 0) {
                            window.location = "../SystemUsers/Login";
                        }
                        else if (data = "quizDeleteSuccess") {
                            updateQuizList(userId)
                        }
                    },
                    error: function () {
                        console.trace();
                        alert("@Resources.Common_unableToProcess ");
                    }
                });
            }
            else {
                return false;
            }
        }
    }

    function updateQuizList(userId) {
        $.ajax({
            type: 'GET',
            url: 'PartialEmployeeQuizListForAdmin',
            data: 'userId=' + userId + '&clientId='+@ViewBag.clientId,
            success: function (data) {
                $("#quizListBlock_Id").html(data);
                setPermissions('@ViewBag.ViewPermissions');
            },
            error: function () {
                console.trace();
                alert("@Resources.Common_unableToProcess ");
            }
        });
    }

    // Kiran on 02/16/2015
    var winPop = false;
    function AddEmployeeQuizCheckLists(sysUserOrgQuizId) {
        if (winPop && !winPop.closed) {  //checks to see if window is open  
            winPop.focus();
        }
        else {
            winPop = window.open("../Employee/AddEmployeeQuizCheckLists?sysUserOrgQuizId=" + sysUserOrgQuizId, "_blank", "toolbar=no,  directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=yes, width=650, height=500");
        }
    }
    // Ends<<<
</script>

<body>
    <div class="contentSub">
    @Html.HiddenFor(model => model.UserId)

        <table width="100%" border="0">
              <tr>
                <td class="page-title">
                  <h2>@Model.EmployeeName @Resources.Common_Label_Training</h2>
                </td>               
              </tr>

              <tr>
                <td style="word-break:break-all;"><b>@Resources.Common_Label_UserId</b> @ViewBag.VBEmpUserName, <b>@Resources.Common_Label_Password </b>@ViewBag.VBEmpPassword</td>                
              </tr>
        </table>        
        
        <div id = "quizListBlock_Id">
        <script>
            updateQuizList('@Model.UserId');
        </script>
        </div>                
    </div>
</body>
</html>
