﻿<!--
Page Created Date:  2/5/2014
Created By: Kiran Talluri
Purpose:
Version: 1.0
****************************************************
-->

@using FVGen3.Domain.Entities;
@using Resources;
@model FVGen3.Domain.Entities.LocalEmployeesListForAdminView
@using Resources;
@{
    ViewBag.Title = "EmployeesListForSeclectedClientAndVendor";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
 

@Scripts.Render("~/js/common.js")
@Scripts.Render("~/Scripts/jquery-1.9.1.min.js")

<script type = "text/javascript">

    $(document).ready(function () {
        // Added code to call setPermissions() function on 08/07/2013 by Kiran Talluri
        setPermissions('@ViewBag.ViewPermissions');
        // Ends<<< 
    });

    function getListOfPrequalifiedVendorsForSelectedClient() 
    {
        var selectedClientId = $("#ClientId").val();

        $.ajax({
                url: "@Url.Action("getPrequalifiedVendors", "Adminvendors")",
                data: {selectedClientId:selectedClientId},
                dataType: "json",
                cache: false,
                type: "POST",
                error: function() {
                    alert("@Resources.EmployeesList_Error_VendorsFetching");

                },
                success: function(data) 
                {                                    
                     if (data.toString().indexOf("Session expired") >= 0) 
                     {
                        window.location = "../SystemUsers/Login";
                     }
                     else 
                     {
                        var items = "";
                        $.each(data, function(i, item) 
                        {                       
                            items += "<option value=\"" + item.Value + "\">" + item.Text + "</option>";                        
                        });
                     
                        $("#VendorId").html(items);               
                    }
               }
           });
    }

    var currentTab = 1;
    function updateEmployeesList()
    {
        var vendorId = $("#VendorId").val();
        var clientId = $("#ClientId").val();
        var firstName = $("#FirstName").val();
        var lastName = $("#LastName").val();
        var email = $("#Email").val();
        
        if (currentTab == 2) {
            if (clientId == "-1") {
                alert("@Resources.Common_PromptUser_Errormessage1");
                return false;
            }
            if (vendorId == "" || vendorId == null) {
                alert("@Resources.Common_PromptUser_Errormessage2");
                return false;
            }
        } else {
            if (firstName === "" && lastName === "" && email === "") {
                alert("@Resources.Common_PromptUser_Errormessage3");
                return false;
            }
        }
        
        $.ajax({
                type: 'GET',
                url: 'PartialEmployeesListForAdminView',
                cache: false,
                data: '&vendorId=' + vendorId + '&clientId=' + clientId + '&firstName=' + firstName + '&lastName=' + lastName + '&email=' + email + '&searchType='+currentTab,
                success: function (data) {
                    if (data.indexOf("Session expired") >= 0) {
                        window.location = "../SystemUsers/Login?lastLoginPage=" + lastpageurl;
                    }
                    else {
                        $("#EmployeesList").html(data);
                        // Added code to call setPermissions() function on 08/07/2013 by Kiran Talluri
                        setPermissions('@ViewBag.ViewPermissions');
                        // Ends<<< 
                    }
                },
                error: function () {
                    console.trace();
                    alert("Fail ");
                }
            });
    }

    // Rajesh on 02/18/2015
    var winPop = false;
    function AddEmployeeCheckLists(sysUserOrgId) {
        //alert("Hai");
        if (winPop && !winPop.closed) {  //checks to see if window is open  
            winPop.focus();
        }
        else {
            winPop = window.open("../Employee/AddEmployeeCheckLists?sysUserOrgId=" + sysUserOrgId, "_blank", "toolbar=no,  directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=yes, width=650, height=500");
        }
    }
    // Ends<<<
    function tabClick(val) {
        $(".tab").removeClass("selectedTab");
        $(".tab").addClass("unSelectedTab");
        $(".tabcontent").hide();
        if (val === 1) {
            $("#normal").show();
            $("#buttonTabOne").removeClass("unSelectedTab");
            $("#buttonTabOne").addClass("selectedTab");
        } else {
            $("#advanced").show();
            $("#buttonTabTwo").removeClass("unSelectedTab");
            $("#buttonTabTwo").addClass("selectedTab");
        }
        currentTab = val;
    }
</script>
<script>
    var role = '@Session["RoleName"]';
    function EditOrDoneClick(currentObj) {
        var fieldObj = $(currentObj).closest("tr");
        var userNameTD = fieldObj.find(".UserName");
        var firstNameTD = fieldObj.find(".firstName");
        var lastNameTD = fieldObj.find(".lastName");
        debugger;
        if ($(currentObj).text() == "Edit") {
            var userName = $(userNameTD).find("label").html();
            var firstName = $(firstNameTD).html();
            var lastName = $(lastNameTD).html();
            $(userNameTD).html("<input type='text' name='userName' value='" + userName + "'>");
            if (role !== 'Vendor') {
                $(firstNameTD.closest("a").attr("href", "#!"));
                $(firstNameTD).html("<input type='text' name='firstName' value='" + firstName + "'>");
                $(lastNameTD).html("<input type='text' name='lastName' value='" + lastName + "'>");
            }
            
            
            $(currentObj).text("Done");
        }
        else {

            var userName = $(userNameTD).find("input[name='userName']").val();
            var isEmail = true;
            // Rajesh on 02/18/2015
            var firstName = $(firstNameTD).find("input").val();
            var lastName = $(lastNameTD).find("input").val();
            var emailReg = /^([\w\-\.]+)@@((\[([0-9]{1,3}\.){3}[0-9]{1,3}\])|(([\w\-]+\.)+)([a-zA-Z]{2,8}))$/; 
            if (!emailReg.test(userName)) {
                isEmail = false;
            }
            // Ends<<<
            
            var UserID = $(currentObj).closest("tr").find(".UserID").html();
            var ClientId = $(currentObj).closest("tr").find(".ClientId").html();
            $.ajax({
                type: 'GET',
                url: '../Employee/EditUserEmail',
                data: 'userId=' + UserID + '&userName=' + userName + '&firstName=' + firstName + '&lastName=' + lastName,
                success: function (data) {
                    
                    if (data == "Ok") {
                        $(userNameTD).html("<label>" + userName + "</label>");
                        if (role !== 'Vendor') {
                            $(firstNameTD).html(firstName);
                            $(lastNameTD).html(lastName);
                        }
                        $(firstNameTD).closest("a").attr("href", "../AdminVendors/EmployeeTrainingsForAdminView?userId=" + UserID + "&clientId=" + ClientId);
                        $(currentObj).text("Edit");
                    }
                    else if (data == "UserExist") {
                        alert("@Resources.Common_Error_Email_Message");
                    }
                },
                error: function () {
                    console.trace();
                    alert("@Resources.Common_unableToProcess");
                }
            });

          
        }
    }
</script>
<body>
<div class="rowTabs">
    <label class="rowTabsLabel">@Resources.SearchUser_TypeText</label>
               
    <table>
        <tr>
            <td>
                <div class="selectedTab tab" id="buttonTabOne" onclick="tabClick(1)">
                    <input type="radio" id="SearchType" name="SearchType" value="true"/>
                    <label for="SearchType" id="name">@Resources.common_Label_name_NoColon</label>
                </div>
            </td>
            <td>
                <div class="unSelectedTab tab" id="buttonTabTwo" onclick="tabClick(2)">
                    <input type="radio" id="SearchType" name="SearchType" value="false" />
                    <label for="advance" id="advance">@Resources.SearchUser_Type_Advanced</label>
                </div>
            </td>
        </tr>
    </table> 

</div>
<div id="normal" class="tabcontent">
    @Html.Partial("EmployeePartial")
</div>
<div class="contentSub tabcontent" id="advanced" style="display: none">

    <div class="rowIST">
        <label class="enableStar">@Resources.ManageSites_Label_client</label>
        @Html.DropDownListFor(x => x.ClientId, (IEnumerable<SelectListItem>) @ViewBag.VBclientsList, new {onchange = "getListOfPrequalifiedVendorsForSelectedClient()"})
    </div>

    <div class="rowIST">
        <label class="enableStar">@Resources.SearchUser_label_Vendor</label>
        @if (@ViewBag.VBvendorsList != null)
        {
            @Html.DropDownListFor(x => x.VendorId, (IEnumerable<SelectListItem>) @ViewBag.VBvendorsList)
        }
        else
        {
            @Html.DropDownListFor(x => x.VendorId, new List<SelectListItem>())
        }

    </div>

    
</div>
    
<div class="rowIST">
    <button type="button" onclick="updateEmployeesList()">@Resources.EmployeesList_button_Label_GetEmployees</button>
</div>

<div id="EmployeesList">
</div>
</body>
</html>
