﻿@using Resources;

<div class="dashboardMenu">
    <div class="dashBoardSubtitles">
        <h3><strong>@Resources.GetRecentDocs_Heading</strong></h3>
    </div>
    <div>
        <table class="AdminBG">
            @{
                var recentDocs = (List<FVGen3.Domain.Entities.LocalRecentDocsDetails>)@ViewBag.VBRecentDocs;
                var hasPrevious = false;
                var hasNext = false;
                var pageNumber = 0;
            }
            @for (int i = 0; i < recentDocs.Count; i += 2)
            {
                if (i == 0)
                {
                    hasPrevious = recentDocs[0].HasPrevious;
                    hasNext = recentDocs[0].HasNext;
                    pageNumber = recentDocs[0].PageNumber;
                }
                
                var docDetails = recentDocs[i];
                
                <tr class="RecentDoc@(i/10+1)" 
                    @if(i/10+1 !=1) 
                    { 
                        @:style="display:none;" 
                    } 
                >
                    <td valign="top" width="45%">
                        <ul>
                            <li><strong><a href="@docDetails.urlRecentDocs"> @docDetails.VendorName </a></strong>
                             
                            </li>
                            <li> @docDetails.DocumentTypeName <span class="indicationText">@docDetails.VendorStatus</span></li>
                            <li>Expires: @(docDetails.ExpirationDate.HasValue?@docDetails.ExpirationDate.Value.ToShortDateString():"") </li>
                            <li> @docDetails.ClientName </li>
                            <li> @docDetails.DateUploaded.ToShortDateString() by <a href="mailto:@docDetails.Email" style="color:Blue">@docDetails.UserName</a></li>
                            @if (Session["RoleName"].ToString().Equals("Admin"))//If Admin login sumanth  for SMI-226 to delete the document from dashboard on 10-05-2015
                                {
                                    <td><img src="../images/DelButton.png" onclick="deleteDocument('@docDetails.DocumentId')"/></td>
                                }
                        </ul>
                    </td>
                    <td width="4%"><b>@docDetails.Initials</b></td>
                    <td width="2%"></td>
                    <td valign="top" width="45%">
                        @if (i + 1 < @ViewBag.VBRecentDocs.Count)
                        {
                            docDetails = (FVGen3.Domain.Entities.LocalRecentDocsDetails)@ViewBag.VBRecentDocs[i+1];
                            <ul>
                                <li><strong><a href="@docDetails.urlRecentDocs"> @docDetails.VendorName </a></strong>
                                    
                                </li>
                                <li> @docDetails.DocumentTypeName <span class="indicationText">@docDetails.VendorStatus</span></li>
                                <li>Expires: @(docDetails.ExpirationDate.HasValue ? @docDetails.ExpirationDate.Value.ToShortDateString() : "") </li>
                                <li> @docDetails.ClientName </li>
                                <li> @docDetails.DateUploaded.ToShortDateString() by <a href="mailto:@docDetails.Email" style="color:Blue">@docDetails.UserName</a></li>
                                  @if (Session["RoleName"].ToString().Equals("Admin"))//If Admin login sumanth  for SMI-226 to delete the document from dashboard on 10-05-2015
                                {
                                    <td><img src="../images/DelButton.png" onclick="deleteDocument('@docDetails.DocumentId')"></img></td>
                                }
                            </ul>
                        }
                    </td>
                    <td width="4%">
                        @if (i + 1 < @ViewBag.VBRecentDocs.Count)
                        {
                        @:<b>@docDetails.Initials</b>
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

<div class="paginationMenu">
    <div class="pagination">
        <ul>
            @if (hasPrevious)
            {
                <li onclick="GetRecentDocs('@(pageNumber-1)')" id="RecentDocPrevious">@Resources.Common_Previouslink_text</li>
            }
            <li class="recentDocPages"  style="background:#ffffff;" onclick="showRecentDocs(1,this)" id="RecentDoc1">@(pageNumber*3 +1)</li>
            @if (recentDocs.Count() > 10)
            {
                <li class="recentDocPages" onclick="showRecentDocs(2,this)" id="RecentDoc2">@(pageNumber * 3 + 2)</li>
            }
            @if (recentDocs.Count() > 20)
            {
                <li class="recentDocPages" onclick="showRecentDocs(3,this)" id="RecentDoc3">@(pageNumber * 3 + 3)</li>
            }
            @if (hasNext)
            {
                <li onclick="GetRecentDocs('@(pageNumber+1)')" id="RecentDocNext">@Resources.Common_Nextlink_text</li>
            }
        </ul>
    </div>
</div>

