﻿<!--
Page Created Date:  06/05/2013
Created By: Rajesh Pendela
Purpose:All operations of admin related to vendor(Invite vendor,Vendor search) will be controlled here
Version: 1.0
****************************************************
-->
@using FVGen3.Domain.Entities;
@model FVGen3.Domain.Entities.LocalinviteVendor
@using Resources
@{
    ViewBag.Title = "Invite Vendor";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="Client Dashboard - First, Verify">
    <meta name="viewport" content="width=device-width">
    <script src="~/Scripts/kendo/kendo.all.min.js"></script>
    @Scripts.Render("~/Scripts/FVHelpers.js")
  
</head>
<script>

    $(document).ready(function () {
        
        // Added code to call setPermissions() function on 08/07/2013 by Kiran Talluri
        setPermissions('@ViewBag.ViewPermissions');
        //FVHelper.PopulateStateDropdown($('#State'), -1, '', true);
        PopulateRiskListDropdown();
        PopulateBUDropdown();
        CheckIsERIClient();
        if(@ViewBag.IsSuperClient.ToString().ToLower()==true){ $("#isERI").prop("checked", true);$('#isERI').attr('onClick', 'return false;');}
        PopulateUserEmailDropdown($("#usersSendCC"));
        PopulateUserEmailDropdown($("#usersSendBCC"));
        VendorInvites.GetCountryStates(0, false, $('#State'));
        VendorInvites.GetCountryLanguages($('#Language'));
        PopulateUserEmailDropdown($("#searchUsersSendCC"));
        PopulateUserEmailDropdown($("#searchUsersSendBCC"));
        VendorInvites.GetCountryStates(0, false, $('#vendorState'));
        //VendorInvites.PopulateERIVendors();

        $('#client').change(function () {
            PopulateRiskListDropdown();
            PopulateBUDropdown();
            //VendorInvites.GetLocalInvitationTemplate();
            PopulateUserEmailDropdown($("#usersSendCC"));
            PopulateUserEmailDropdown($("#usersSendBCC"));
            if (window.currentTab == 3&&@ViewBag.IsSuperClient.ToString().ToLower()==true) {
                 $("#isERI").prop("checked", true);
            $('#isERI').attr('onClick', 'return false;');
        }
            else if(window.currentTab == 3)  {
                    CheckIsERIClient();
                    $("#isERI").prop("checked", false);
            }



            VendorInvites.GetClientBiddingInterests("#biddingList");
            PopulateUserEmailDropdown($("#extraInfo").find("#searchUsersSendCC"));
            PopulateUserEmailDropdown($("#extraInfo").find("#searchUsersSendBCC"));
            //VendorInvites.PopulateERIVendors();


        });

    });

    $(document).ready(function () {
        $(document).bind('keypress',
                    function (e) {
                        if (e.keyCode == 13 && window.currentTab == 2) {
                            $("#searchVendorsForExpired").click();
                        }
                    });

        var inp = $('.input-validation-error:first').get(0);

        if (inp) {
            inp.focus();
        }
        $('.input-validation-error').each(function () {
            if ($(this).get(0)) {
                //                $(this).closest('div').children('img').show();
            }
        });
    });

    function selectAllLocationsToInvite() {
        var selectedVal = [];
        $("#Location").find("option").each(function () {
            selectedVal.push($(this).val());
        });

        var selected = $("#Location option:selected").map(function () { return this.value }).get();

        if ($("#selectAllLocations").is(":checked")) {

            $("#Location").val(selectedVal);
        }
        else {
            $("#Location").find("option").each(function () {
                $("#Location").val("");
            });
        }
    }

</script>
<style>
    .validation-summary-errors {
        font-weight: bold;
        color: #f00;
    }
    .popData {
        display: block;
        list-style-type: disc;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        -webkit-padding-start: 40px;
    }.lineheight {
         height: 100px;
     }
    .lineheight label {
        line-height: normal !important;
    }
</style>
<body>
<div id="terms">
    <div id="termsModel" class="modal">

    
        <div class="modal-content">
            <div class="modal-header" id="termsHeaderDiv">
                <span class="close" id="termsClose">&times;</span>
                <span><h2 id="termsHeader">@Resources.InviteVendor_Modal_Header</h2></span>
            </div>
            <div class="modal-body" id="termsBody">
                <p>@Resources.InviteVendor_Text</p>
                <p>@Resources.InviteVendor_Other_Text</p>
            </div>
           
        </div>

    </div>  
</div>

@if (@ViewBag.isSuccess != null && @ViewBag.isSuccess)
{
    <div>
        <p class="successMessage">@Resources.InviteSuccess_Msg </p>
    </div>
}
else if (!string.IsNullOrEmpty(@ViewBag.errorMsg))
{
    <div>
        <p class="errorMessage">@ViewBag.errorMsg</p>
    </div>
}

    @*Kiran on 4/10/2014*@@if (@ViewBag.VBMailSent != null && !(Boolean) @ViewBag.VBMailSent)
                          {
                              <div class="errorMessage">@Resources.InviteVendor_emailerrormessage</div>
                          }
    @*Ends<<<  *@@using (Html.BeginForm())
                 {
                     <div class="rowIST" poptext="">
                         <label class="enableStar">@Resources.Common_Label_Client</label>
                         @Html.DropDownListFor(model => model.client, (IEnumerable<SelectListItem>) @ViewBag.VBlist, new {style = "width:300px"})
                         <div class="alertStar">@Html.ValidationMessageFor(model => model.client)</div>
                     </div><!--IntVendor_row-->
                     <table style="width: auto">
                         <tr>
                             @*@if (@Session["RoleName"].Equals("Client"))*@
                             @*{*@
                             <td>
                                 <div class="selectedTab tab" id="tab1" style="padding-left: 4px; padding-right: 4px" onclick="VendorInvites.TabClick(this, 1)">
                                     <input type="radio" id="Bi" value="true"/>
                                     <label for="Bi" id="Business_Information_Label_Id" style="font-size: 11pt">@Resources.Common_Label_NewVendor</label>
                                 </div>
                             </td>
                             <td>
                                 <div class="unSelectedTab tab" id="tab2" style="padding-left: 4px; padding-right: 4px" onclick="VendorInvites.TabClick(this, 2)">
                                     <input type="radio" id="Bi3" value="false"/>
                                     <label for="Bi3" id="VendorArchivedDetails_Label_Id" style="font-size: 11pt">@Resources.Common_Label_ExpiredVendor</label>
                                 </div>
                             </td>
                             <td>
                                 <div class="unSelectedTab tab" id="tab3" style="padding-left: 4px; padding-right: 4px" onclick="VendorInvites.TabClick(this, 3)">
                                     <input type="radio" id="Bi4" value="false"/>
                                     <label for="Bi4" id="Payments_Label_Id" style="font-size: 11pt">@Resources.Common_Label_OutsideNetwork</label>
                                 </div>
                             </td>
                             @*<td>
                                 <div class="unSelectedTab tab" id="tab4" style="padding-left: 4px; padding-right: 4px;" onclick="VendorInvites.TabClick(this, 4)">
                                     <input type="radio" id="Bi5" value="false" />
                                     <label for="Bi5" id="ERI_Vendors_Id" style="font-size: 11pt">ERI Vendors</label>
                                 </div>
                             </td>*@
                             @* } *@
                         </tr>
                     </table>
                     <div id="newVendorDiv">
                         <div class="contentSub">
                             @*@if (@Session["RoleName"].Equals("Client"))
                    {*@
                             <div>
                                 <i><b style="color: red">@Resources.InviteVendor_NewVendorTab_Message</b></i>
                             </div>
                             @*}
                    else
                    {
                    <div class="page-title">
                        <h2>@Resources.InviteVendor_VendorInvitation</h2>
                    </div>
                    }*@

                             @*Check to see if there are multiple Business Units*@
                             <!--Future Code-->
                             <div class="rowIST" poptext="" id="BURow">
                                 <label class="enableStar">@Resources.Common_Label_Location<span style="font-style: italic"> @Resources.InviteVendor_Label_MultipleLocationMessage</span></label>
                                 <input type="checkbox"style="margin-left:20px" id="selectAllLocations" onclick="selectAllLocationsToInvite()" />
                                 <label style="padding-left: 5px;margin-top:20px; float: none !important;" for="selectAllLocations">Select All</label>
                                 @*<select class="rowGenericReportsSelect" id="Location" name="Location" style="width:300px" multiple size="4"></select>*@
                                 @Html.ListBoxFor(model => model.Location, new List<SelectListItem>(), new {style = "width:300px; height:auto", size = 4})
                             </div>
                             <!--IntVendor_row-->
                             <div class="rowIST" poptext="">
                                 <label class="enableStar">@Resources.InviteVendor_VendorCompanyName</label>
                                 @Html.TextBoxFor(model => model.VendorCompanyName, new {@maxlength = "250"})
                                 <div class="alertStar">@Html.ValidationMessageFor(model => model.VendorCompanyName)</div>
                             </div>
                             <div class="rowIST" poptext="">
                                 <label class="enableStar">@Resources.Common_Label_FirstName</label>
                                 @Html.TextBoxFor(model => model.FullName, new {@maxlength = "50"})
                                 <div class="alertStar">@Html.ValidationMessageFor(model => model.FullName)</div>
                             </div><!--IntVendor_row-->
                             <div class="rowIST" poptext="">
                                 <label class="enableStar">@Resources.Common_Label_LastName</label>
                                 @Html.TextBoxFor(model => model.LastName, new {@maxlength = "50"})
                                 <div class="alertStar"> @Html.ValidationMessageFor(model => model.LastName)</div>
                             </div><!--IntVendor_row-->
                             <div class="rowIST" poptext="@Resources.InviteVendor_hint_EnterEmailForInvitation">
                                 <label class="enableStar">@Resources.InviteVendor_EmailAddress</label>
                                 @Html.TextBoxFor(model => model.EmailAddress, new {@maxlength = "250"})
                                 <div class="alertText"> @Html.ValidationMessageFor(model => model.EmailAddress)</div>
                             </div><!--IntVendor_row-->
                             @*Kiran on 9/19/2014*@
                             <div class="rowIST" poptext="@Resources.Common_HintTextAddressLine1">
                                 <label>@Resources.Common_Label_AddressLine1</label>
                                 @Html.TextBoxFor(model => Model.Address1, new {@maxlength = "200", @style = "margin-bottom:8px;"})
                             </div>
                             <div class="rowIST" poptext="@Resources.Common_hintTextAddressLine2">
                                 <label>@Resources.Common_Label_AddressLine2</label>
                                 @Html.TextBoxFor(model => Model.Address2, new {@maxlength = "200"})
                             </div>
                             <div class="rowIST" poptext="@Resources.Common_hintTextAddressLine3">
                                 <label>@Resources.Common_Label_AddressLine3</label>
                                 @Html.TextBoxFor(model => Model.Address3, new {@maxlength = "200"})
                             </div>
                             @*Ends<<<*@
                             @*Kiran on 4/14/2014*@
                             <div class="rowIST">
                                 <label>@Resources.Common_Label_City</label>
                                 @Html.TextBoxFor(model => model.City)
                             </div>
                             @*Ends<<*@
                             
                             <div class="rowIST">
                                 <label>@Resources.InviteVendor_Zip</label>
                                 @Html.TextBoxFor(model => model.Zip, new {@maxlength = "10"})
                                 <div class="alertStar">@Html.ValidationMessageFor(model => model.Zip)</div>
                             </div><!--IntVendor_row-->
                             <div class="rowIST">
                                 <label>@Resources.InviteVendor_Country</label>
                                @Html.DropDownListFor(model => model.Country, (List<SelectListItem>)@ViewBag.Countries, new { @onchange = "VendorInvites.GetCountryStates(" + 0 + ", false, $('#State'));VendorInvites.GetCountryLanguages($('#Language'))" })

                                 @*@Html.DropDownListFor(m => m.Country, new[]
                                 {
                                     new SelectListItem() {Value = @Resources.RegisterVendor_UnitedStates, Text = @Resources.RegisterVendor_UnitedStates},
                                     new SelectListItem() {Value = @Resources.Common_NotApplicable, Text = @Resources.Common_NotApplicable},
                                     new SelectListItem() {Value = @Resources.RegisterVendor_Canada, Text = @Resources.RegisterVendor_Canada},
                                 }, new {style = "width:300px"})*@
                                 <div class="alertStar">@Html.ValidationMessageFor(model => model.Country)</div>
                             </div><!--IntVendor_row-->

                             <div class="rowIST">
                                 <label>@Resources.Common_Label_StateOrProvince</label>
                                 <select id="State" name="State" style="width: 300px"></select>
                                 <div class="alertStar">@Html.ValidationMessageFor(model => model.State)</div>
                             </div><!--IntVendor_row-->

                             <div class="rowIST">
                                 <label>@Resources.Common_Label_Language</label>
                                 <select id="Language" name="Language" style="width: 300px"></select>
                                 <div class="alertStar">@Html.ValidationMessageFor(model => model.Language)</div>
                             </div>

                             <!--Future Code-->
                             <div class="rowIST" id="riskLevelRow">
                                 <label class="enableStar">@Resources.Common_Label_RiskLevel:</label>
                                 <select class="rowGenericReportsSelect" id="RiskLevel" name="RiskLevel" style="width: 300px" onchange="VendorInvites.ShowTerms(this)"></select>
                                 <div class="alertStar">@Html.ValidationMessageFor(model => model.RiskLevel)</div>
                             </div>
                             <!--Future Code-->
                             <div class="rowIST">
                                 <label>@Resources.Common_Label_Comments</label>
                                 @Html.TextAreaFor(m => m.Comments)
                                 <div class="alertText"> @Html.ValidationMessageFor(model => model.Comments)</div>
                             </div>
                             <div class="rowIST" style="display: table-row">
                                 <span style="font-style: italic"> @Resources.InviteVendor_Label_MultipleLocationMessage</span><br/><br/>
                                 @Resources.Common_Label_CC<br/>
                                 <table>
                                     <tr>
                                         <td style="vertical-align: top">
                                             <label for="isSendMeCC">@Resources.InviteVendor_Label_Myself</label>
                                             @*@if (Session["RoleName"].ToString().Equals("Client"))
                                    {*@
                                             @Html.CheckBoxFor(m => m.isSendMeCC)
                                             @*}
                                    else
                                    {
                                        @Html.CheckBoxFor(m => m.isSendMeCC, new { @checked = "checked", @disabled = "disabled" })
                                    }*@
                                         </td>
                                         <td>
                                             <label>@Resources.InviteVendor_Label_OtherUsers</label>
                                             @Html.ListBoxFor(m => m.usersSendCC, new List<SelectListItem>(), new {multiple = "multiple", size = "5", style = "height:auto"})
                                         </td>
                                     </tr>
                                 </table>
                             </div><!--IntVendor_row-->
                             <div class="rowIST">
                                 @Resources.Common_Label_BCC<br/>
                                 <table>
                                     <tr>
                                         <td style="vertical-align: top">
                                             <label for="isSendBCC">@Resources.InviteVendor_Label_Myself</label>
                                             @*@if (Session["RoleName"].ToString().Equals("Client"))
                                    {*@
                                             @Html.CheckBoxFor(m => m.isSendBCC)
                                             @*}
                                    else
                                    {
                                        @Html.CheckBoxFor(m => m.isSendBCC, new { @checked = "checked", @disabled = "disabled" })
                                    }*@
                                         </td>
                                         <td>
                                             <label>@Resources.InviteVendor_Label_OtherUsers</label>
                                             @Html.ListBoxFor(m => m.usersSendBCC, new List<SelectListItem>(), new {multiple = "multiple", size = "5", style = "height:auto"})
                                         </td>
                                     </tr>
                                 </table>
                             </div><!--IntVendor_row-->
                         </div>
                         <div class="contentSub">
                             <div class="pageFooterContent">
                                 <div class="pageFooterButtons">
                                     <table>
                                         <tr>
                                             <td><button type="submit" btntype="Insert" class="PageFooter_Button">@Resources.InviteVendor_SendInvitation </button></td>
                                             <td btntype="Insert">@Resources.Common_label_or</td>
                                             <td>
                                                 <div class="PageFooter_CancleBtn"><a href="../SystemUsers/DashBoard">@Resources.Common_Cancel</a>
                                                 </div></td>
                                         </tr>
                                     </table>
                                 </div>
                             </div>
                         </div>
                         <div class="dialogueBox" id="pop-up" style="display: none; position: absolute;">
                             <p>
                                 @Resources.Dialogue_Box
                                @Resources.Dialogue_Box
                             </p>
                         </div>
                     </div>
                 }
<div id="inviteVendorWithSearch" style="display: none;">
    @Html.Partial("../Vendor/VendorInviteSearch")
</div>

<div id="extraInfo" style="display: none;">
    <div class="rowIST" poptext="">
        <label>@Resources.Common_Label_Location<span style="font-style: italic"> @Resources.InviteVendor_Label_MultipleLocationMessage</span></label>
        @*<select class="rowGenericReportsSelect" id="Location" name="Location" style="width:300px" multiple size="4"></select>*@
        <select multiple="multiple" id="searchLocation" style="width: 300px; height: auto" size="4"></select>
        <div class="alertStar">@Html.ValidationMessageFor(model => model.Location)</div>
    </div>
    <div class="rowIST">
        <label>@Resources.Common_Label_RiskLevel:</label>
        <select class="rowGenericReportsSelect" id="searchRiskLevel" name="RiskLevel" style="width: 300px" onchange="VendorInvites.ShowTerms(this)"></select>
        @*<div class="alertStar">@Html.ValidationMessageFor(model => model.Country)</div>*@
    </div>
    <!--Future Code-->
    <div class="rowIST">
        <label>@Resources.Common_Label_Comments</label>
        @Html.TextArea("searchComments")
    </div>
    <div class="rowIST" style="display: table-row" id="SendCCDiv">
        <span style="font-style: italic"> @Resources.Common_MultipleRecipients_Message</span><br/><br/>
        @Resources.Common_Label_CC<br/>
        <table>
            <tr>
                <td style="vertical-align: top">
                    <label for="searchIsSendMeCC">@Resources.InviteVendor_Label_Myself</label>
                    <input type="checkbox" id="searchIsSendMeCC"/>
                </td>
                <td>
                    <label>@Resources.InviteVendor_Label_OtherUsers</label>
                    <select multiple="multiple" id="searchUsersSendCC" style="height: auto"></select>
                </td>
            </tr>
        </table>
    </div>
    <div class="rowIST" id="SendBCCDiv">
        @Resources.Common_Label_BCC<br/>
        <table>
            <tr>
                <td style="vertical-align: top">
                    <label for="searchisSendBCC">@Resources.InviteVendor_Label_Myself</label>
                    <input type="checkbox" id="searchisSendBCC"/>
                </td>
                <td>
                    <label>@Resources.InviteVendor_Label_Myself</label>
                    <select multiple="multiple" id="searchUsersSendBCC" style="height: auto"></select>
                </td>
            </tr>
        </table>
    </div>

    <div class="rowIST">
        <label class="enableStar">@Resources.Common_Label_To</label>
        <input class="rowGenericReportsInput" id="toExpiredPQ" name="RiskLevel" style="width: 300px"/>
    </div>
    <div class="rowIST">
        <label>@Resources.Common_Label2_CC</label>
        <input class="rowGenericReportsInput" id="ccExpiredPQ" name="RiskLevel" style="width: 300px"/>
    </div>
    <div class="rowIST">
        <label>@Resources.Common_Label2_BCC</label>
        <input class="rowGenericReportsInput" id="bccExpiredPQ" name="RiskLevel" style="width: 300px"/>
    </div>
    <div id="templateDiv" style="width: 80%; float: left; height: 100%; margin: 20px 10px 0 10px;" class="RichTextArea">
        <textarea style="width: 700px; height: 100px;" id="RichTextArea"></textarea>
    </div>
</div>
<!-- HIDDEN / POP-UP DIV -->
<script>
    function PopulateRiskListDropdown() {
        var clientid = $('#client').val();

        if (clientid === "") return false;

        var ddlSelector = $("#RiskLevel");
        var searchRisk = $("#extraInfo").find("#searchRiskLevel");
        $.ajax({
            type: 'Get',
            url: '../api/DDHelper/GetRiskLevelWithDetails',
            data: { clientID: clientid },
            success: function (data) {
                
                ddlSelector.empty();
                searchRisk.empty();
                var riskLevelArray = [];
                for (var i = 0; i < data.length; i++) {
                    
                    var datasite = data[i].Risk;
                    var isLocked = data[i].IsLocked;
                    var clienttTemplate = data[i].ClientTemplateId;
                    if (riskLevelArray.indexOf(datasite) != -1)
                        continue;
                    riskLevelArray.push(datasite);
                    newOption = $('<option isLocked=' +
                        isLocked +
                        ' clentTemplate=' +
                        clienttTemplate +
                        '>' +
                        datasite +
                        '</option>');
                    ddlSelector.append(newOption.clone());
                    searchRisk.append(newOption);
                }
                searchRisk.val("");
                
                if (ddlSelector.children('option').length == 0) {
                    $('#riskLevelRow').hide();
                } else {
                   
                    
                    $('#riskLevelRow').show();
                }
            },
            error: function() {
                alert("@Resources.Common_RiskLevel_ErrorMessage");
            }
        });
    }

    function PopulateBUDropdown() {
        var clientid = $('#client').val();

        if (clientid === "") return false;

        var ddlSelector = $("#Location");
        var searchLocation = $("#extraInfo").find("#searchLocation");
        $.ajax({
            type: 'Get',
            url: '../api/DDHelper/GetLocations',
            data: { client: clientid },
            success: function(data) {
                ddlSelector.empty();
                searchLocation.empty();
                for (var i = 0; i < data.length; i++) {
                    var datasite = data[i].Key;
                    newOption = $('<option value=' + data[i].Value + '>' + datasite + '</option>');
                    ddlSelector.append(newOption.clone());
                    searchLocation.append(newOption);
                }
                if (searchLocation.children('option').length == 1)
                {
                    $("#searchLocation option:first").attr('selected', 'selected');
                }
                if (ddlSelector.children('option').length == 0) {
                    //$('#BURow').hide();
                } else {
                   
                    if (ddlSelector.children('option').length == 1)
                    {
                        $("#Location option:first").attr('selected', 'selected');
                    }else
                    $('#BURow').show();
                }
            },
            error: function() {
                alert("@Resources.Common_BusinessUnits_ErrorMessage");
            }
        });
    }
   
    function PopulateUserEmailDropdown(ddlSelector) {
        clientid = $('#client').val();

        if (clientid == "") return false;

        $.ajax({
            type: 'Get',
            url: '../api/DDHelper/GetUserEmails',
            data: { orgID: clientid },
            success: function(data) {
                ddlSelector.empty();

                for (var i = 0; i < data.length; i++) {
                    var datasite = data[i].Key;
                    newOption = $('<option value=' + data[i].Value + '>' + datasite + '</option>');
                    ddlSelector.append(newOption);
                }
            },
            error: function() {
                alert("@Resources.Common_Users_ErrorMessage ");
            }
        });
    }
    function CheckIsERIClient() {
       
        clientid = $('#client').val();
        $.ajax({
            type: 'Get',
            url: '../AdminVendors/SubClients?clientId=' + clientid,

            success: function (data) {
                if (data == "true") {
                    $("#ERIRow").show();
                } if (data =="false")
                    $("#ERIRow").hide();

            }
        });
    }
    
</script>

<div class="spinnerOverlay">
    <img src="../images/spinner.gif" width="28" height="28" class="importSubmitSpinner" alt="Spinner"/>
</div>
</body>
</html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdn.datatables.net/1.10.14/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.14/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="../css/jquery-ui.css" />
@Scripts.Render("~/Scripts/jquery-ui.js")
@Scripts.Render("~/bundles/InviteVendor")
@Scripts.Render("~/js/popupModel.js?v=1")
<script type="text/javascript" src="~/js/nicEdit.js"></script>
<script>
    //VendorInvites.GetLocalInvitationTemplate();
    //bkLib.onDomLoaded(function () {
    //    new nicEditor({
    //        buttonList: [
    //            'fontSize', 'bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', 'html',
    //            'ul', 'ol', 'indent', 'outdent', 'forecolor', 'bgcolor'
    //        ]
    //    }).panelInstance('RichTextArea');
    //});
</script>
<link href="~/css/kendo/kendo.default.min.css" rel="stylesheet" />
<link href="~/css/kendo/kendo.common.min.css" rel="stylesheet" />
<link href="~/css/kendo/kendo.default.mobile.min.css" rel="stylesheet" />
@*<script src="~/Scripts/Application/Common/Tabs.js"></script>
    <script src="~/Scripts/Application/Vendor/Vendor.js"></script>
    <script src="~/Scripts/Application/Biddings/Biddings.js"></script>
    <script src="~/Scripts/Application/Prequalification/Prequalifications.js"></script>
    <script src="~/Scripts/Application/Vendor/VendorInvites.js"></script>*@