﻿@using Resources;

<div class="dashboardMenu"  style="min-height:495px;">
          
                <div class="dashBoardSubtitles">
                     <h3><strong>@Resources.InviteVendorsPartial_Heading</strong></h3>
                </div>
    <div>
        <label style="width: 100% !important;min-height:24px;height:auto;padding: 2px 10px 0px 0;letter-spacing:0.1px;color: #999999;font-size: 14px;">
            @Resources.InviteVendorsPartial_Label_Name
        </label>
    </div>
    <div>
        @Html.TextBox("searchinvitedvendorByEmail", (string)@ViewBag.emaildata, new { id = "searchinvitedvendorByEmail", @class = "form-control", @style = "width: 70%;height:auto;padding: 12px 2%;background: #fff;transition: all 200ms ease-out;-moz-transition: all 200ms ease-out;-o-transition: all 200ms ease-out;transition: all 200ms ease-out;border: solid 2px #ddd;font-size: 16px;color: #222222;" })
        &nbsp;&nbsp;
        <input type="button" style="padding: 10px 30px;
	width: auto; height:auto;	color:#ffffff !important;    border:1px solid #afc6e9;	border-radius:5px;
	font-size: 16px;	font-family: inherit;	font-weight: normal;	background: #1f83bc;cursor:pointer;"
               value="Search" name="Search" onclick="SearchVendorsInvites(this)" />
    </div>
    

            <div>
                <table class="AdminBG" id="inviteVendorList" width="100%">@*Kiran on 9/12/2014*@  
                @{var InvitedVendor = (List<FVGen3.Domain.Entities.LocalinviteVendor>)@ViewBag.invitedVendors;
                  var IVhasPrevious = false;
                  var IVhasNext = false;
                  var IVpageNumber = 0;
                  }
                @for (int i = 0; i < InvitedVendor.Count(); i += 2)
                {


                    if (i == 0)
                    {
                        IVhasPrevious = InvitedVendor[0].HasPrevious;
                        IVhasNext = InvitedVendor[0].HasNext;
                        IVpageNumber = InvitedVendor[0].PageNumber;
                    }
                     <tr class="InvitedVendors@(i / 10 + 1)"
                     @if (i / 10 + 1 != 1)
                     {
                        @:style="display:none;"
                     }
                     >
                         <td valign="top" width="50%">
                             <ul>
                                @*Kiran on 9/12/2014*@            
                                <li>
                                    <strong>
                                        @InvitedVendor[i].VendorCompanyName
                                    </strong>
                                              
                                </li>
                                <li>@InvitedVendor[i].EmailAddress</li>
                                <li>@InvitedVendor[i].InvitationDate.ToString("MM/dd/yyyy")</li>
                                <li>@Resources.InviteVendorsPartial_Label_Invitedby<a href="mailto:@InvitedVendor[i].UserEmail" style="color:Blue" > @InvitedVendor[i].FullName @InvitedVendor[i].LastName</a>
                                </li>
                                @*Ends<<<*@   
                                 @if (Session["RoleName"].ToString().Equals("Admin"))//If Admin login sumanth  for SMI-226 to delete the document from dashboard on 10-05-2015
                                {
                                    <td><img src="../images/DelButton.png" onclick="deleteVendorInvited('@InvitedVendor[i].InvitationId')" style="padding-right:10px"></img></td>
                                } 
                              
                            </ul>
                         </td>
                         <td><i class="fa fa-repeat" aria-hidden="true"title="Resend"style="font-size: 18px;" onclick='OpeninvitationWindow("@InvitedVendor[i].InvitationId","@InvitedVendor[i].VendorCompanyName")'></i></td>
                         <td valign="top" width="50%">
                             @if (i + 1 < InvitedVendor.Count())
                             {
                                 <ul>
                                     @*Kiran on 9/12/2014*@        
                                     <li>
                                         <strong>
                                             @InvitedVendor[i+1].VendorCompanyName
                                         </strong>
                                              
                                     </li>
                                     <li>@InvitedVendor[i+1].EmailAddress</li>
                                     <li>@InvitedVendor[i+1].InvitationDate.ToString("MM/dd/yyyy")</li>
                                     <li>@Resources.InviteVendorsPartial_Label_Invitedby<a href="mailto:@InvitedVendor[i+1].UserEmail" style="color:Blue" > @InvitedVendor[i+1].FullName @InvitedVendor[i+1].LastName</a>
                                     </li> 
                                     @*Ends<<<*@   
                                     @if (Session["RoleName"].ToString().Equals("Admin"))//If Admin login sumanth  for SMI-226 to delete the document from dashboard on 10-05-2015
                                     {
                                         <td><img src="../images/DelButton.png" onclick="deleteVendorInvited('@InvitedVendor[i+1].InvitationId')"style="padding-right:10px"></img></td>
                                     }             
                                 </ul>
                             }
                         </td>
                        @if (i + 1 < InvitedVendor.Count())
                        {
                         <td><i class="fa fa-repeat" aria-hidden="true"title="Resend"style="font-size: 18px;" onclick='OpeninvitationWindow("@InvitedVendor[i+1].InvitationId","@InvitedVendor[i+1].VendorCompanyName")'></i></td>
                         }
                     </tr>
                }
                     
                     

                </table>
            </div>
            
           

        </div>
        <div class="paginationMenu">
            <div class="pagination">
            <ul>
            @if (IVhasPrevious)
            {
                <li onclick="getInvitedVendors('@(IVpageNumber - 1)','@ViewBag.emaildata')">@Resources.Common_Previouslink_text</li>
            }
            <li class="InvitedVendorsPages" style="background:#ffffff;" onclick="showInvitedVendors(1,this)">@(IVpageNumber * 3 + 1)</li>
            @if (InvitedVendor.Count() > 10)
            {
                <li class="InvitedVendorsPages" onclick="showInvitedVendors(2,this)">@(IVpageNumber * 3 + 2)</li>
            }
            @if (InvitedVendor.Count() > 20)
            {
                <li class="InvitedVendorsPages" onclick="showInvitedVendors(3,this)">@(IVpageNumber * 3 + 3)</li>
            }
            @if (IVhasNext)
            {
                <li onclick="getInvitedVendors('@(IVpageNumber + 1)','@ViewBag.emaildata')">@Resources.Common_Nextlink_text</li>
            }
            </ul>
            </div>
        </div>
<script src="~/Scripts/Application/Dashboard/Dashboard.js"></script>