﻿@using FVGen3.Domain.Entities;
@using Resources;
@{
    ViewBag.Title = "MyContractorEvaulations";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/prequalificationdynamic.css" />

    <script src="@Url.Content("~/js/jquery-1.9.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    @Scripts.Render("~/js/common.js")
    @Styles.Render("~/css/appAssociatedPages.css")
    <script src="~/js/autoNumeric.js"></script>
    <link rel="stylesheet" href="@Url.Content("~/Content/Site.css")" />

    <script src="~/Scripts/jquery-ui.js"></script>
    <link rel="stylesheet" href="~/css/jquery-ui.css" />
    <title>Untitled Document</title>
    @Styles.Render("~/css/appInnerPages.css")
    <link rel="stylesheet" href="../css/index.css" />
    <link rel="stylesheet" href="../css/common.css" />
    <style>
        .rating .rowIST {
            border-bottom: 1px solid #ddd;
            padding-top: 10px;
        }

        .rating p {
            text-align: justify;
        }

        .rating a {
            line-height: 300%;
        }

        .rating .rowIST label {
            color: #333;
            font-size: 15px;
            font-weight: 600;
            padding-bottom: 10px;
        }

        .ratingDetails div, label {
            display: inline-block;
            vertical-align: middle;
        }

        .ratingDetails .page-subtitle {
            width: 44%;
        }

            .ratingDetails .page-subtitle h3 {
                font-size: 16px;
                font-weight: 700;
            }

        .ratingDetails .star {
            width: 29%;
        }

            .ratingDetails .star > label {
                float: none !important;
                width: auto !important;
                padding: 0 !important;
                font-size: 20px;
                margin-top: -18px;
                color: #4db8f6;
                font-weight: 600;
            }

        .ratingDetails .commentDate {
            width: 25%;
            text-align: right;
            color: #999;
        }

        .paraHeader {
            font-size: 20px;
            color: #1c9be5;
            padding-bottom: 10px;
        }
    </style>
</head>

@*<div class="versionDataMain">*@
<body>
    <div class="contentSub">
        <div>
            <div class="page-title">
                <h2>@Resources.MyContractorEvaluations_Heading</h2>
            </div>
            @foreach (var VendorReview in (List<VendorReviewInput>)@ViewBag.Comments)
            {
                //if (!@Session["UserId"].Equals(@VendorReview.InputUserId))
                //{
                <div class="rowIST">
                    <div class="ratingDetails">
                        <div class="page-subtitle">
                            <h3>
                                @VendorReview.Organization.Name
                            </h3>
                        </div><!--page-subtitle-->
                        <div class="star">
                            <label>@VendorReview.UserRating</label>

                            @for (int i = 0; i < Math.Floor(@VendorReview.UserRating); i++)
                            {
                                <img src="~/images/star_blue.png" />
                            }
                            @if (@VendorReview.UserRating - Math.Floor(@VendorReview.UserRating) == 0)
                            {
                                for (int i = 0; i < 3 - Math.Floor(@VendorReview.UserRating); i++)
                                {
                                    <img src="~/images/star_ash.png" />
                                }
                            }
                            else
                            {
                                <img src="~/images/star_bluehalf.png" />
                                for (int i = 0; i < 2 - Math.Floor(@VendorReview.UserRating); i++)
                                {
                                    <img src="~/images/star_ash.png" />
                                }
                            }
                        </div><!--star-->
                        @if (@VendorReview.ReviewDate != null)
                        {
                            <div class="commentDate">
                                <date>@String.Format("{0:dddd, MMMM d, yyyy}", @VendorReview.ReviewDate)<date>
                            </div><!--commentDate-->
                        }
                        <p>@VendorReview.Comments</p>
                    </div><!--rating-->
                    <a href="../AdminVendors/ScoreCard?VendorReviewInputId=@VendorReview.VendorReviewInputId&SelectedVendorId=@VendorReview.VendorId&PreQualificationId=@VendorReview.PrequalificationID&TemplateSectionID=-1&mode=0&buId=@VendorReview.BuId&viewSource=1">Click for more rating</a>

                </div>
                //}
            }
        </div>
        <div class="pageFooterContent">
            @*<div class="pageFooterButtons">
                    <button type = "submit" id="s" class="PageFooter_Button">Save & Continue</button>
                </div>*@
            @*<div class="pageFooterCancelButton"><a href="../AdminVendors/VendorDetails?SelectedVendorId=@ViewBag.SelectedVendorId&PreQualificationId=@ViewBag.PrequalificationId&TemplateSectionID=-1&mode=0&buId=@ViewBag.buid">Cancel</a></div>*@
        </div>
    </div>
</body>
</html>