﻿@using Resources;

<div class="dashboardMenu">
    <div class="dashBoardSubtitles">
        <h3><strong>@Resources.Common_Status_Heading_Submitted</strong></h3>
    </div>
    <div>
        @*Kiran on 9/12/2014*@
        <table class="AdminBG" id="NotificationsList" width="100%">
            @{
                var notifications= (List<FVGen3.Domain.Entities.LocalNotifications>)@ViewBag.NotificationsSent;
                var hasPrevious = false;
                var hasNext = false;
                var pageNumber = 0;
            }
            @for (int i = 0; i < notifications.Count();i+=2 )
            {
                if(i==0)
                {
                    hasPrevious = notifications[0].HasPrevious;
                    hasNext = notifications[0].HasNext;
                    pageNumber = notifications[0].PageNumber;
                }
                <tr class="Notificatification@(i/10+1)"
                    @if(i/10+1 !=1)
                    {
                        @:style="display:none;"
                    }
                >
                    <td valign="top" width="50%">
                        <ul class="NotificationsClass">
                           
                            <li><strong>@notifications[i].VendorName</strong></li>
				            <li>@Resources.Common_Label_Purpose @notifications[i].Purpose exp.</li>				            
				            <li>@Resources.Common_Label_PrequalifyFor @notifications[i].ClientName</li>
                            <li>@notifications[i].EmailSentDate.ToString("MM/dd/yyyy")</li>
                            @*@if (notifications[i].SmallComment != "")
                            {
                                <li class="embedList" title = "@notifications[i].Comments"> Comments: @notifications[i].SmallComment </li>
                            }*@
                               
                        </ul>
                    </td>
                    <td valign="top" width="50%">
                        @if (i+1 < notifications.Count())
                        {
                            <ul style="height:83px;" class="NotificationsClass">
                           
                                <li><strong>@notifications[i + 1].VendorName</strong></li>
				                <li>@Resources.Common_Label_Purpose @notifications[i + 1].Purpose exp.</li>				            
				                <li>@Resources.Common_Label_PrequalifyFor @notifications[i + 1].ClientName</li>
                                <li>@notifications[i+1].EmailSentDate.ToString("MM/dd/yyyy")</li>
                                @*@if (notifications[i + 1].SmallComment != "")
                                {
                                    <li class="embedList" title = "@notifications[i + 1].Comments"> Comments: @notifications[i + 1].SmallComment </li>
                                }*@
                                
                            </ul>
                        }
                    </td>
                </tr>
            }
        </table>
        @*Ends<<<*@
    </div>
</div>
<div class="paginationMenu">
    <div class="pagination">
        <ul>
            @if (hasPrevious)
            {
                <li onclick="getNotifications('@(pageNumber-1)')" id="NotificationsPrevious">@Resources.Common_Previouslink_text</li>
            }
            <li class="notificationPages" style="background:#fff" onclick="showNotifications(1,this)" id="NotificationsPage1">@(pageNumber*3 +1)</li>
            @if (notifications.Count() > 10)
            {
                <li class="notificationPages" onclick="showNotifications(2,this)" id="NotificationsPage2">@(pageNumber * 3 + 2)</li>
            }
            @if (notifications.Count() > 20)
            {
                <li class="notificationPages" onclick="showNotifications(3,this)" id="NotificationsPage3">@(pageNumber * 3 + 3)</li>
            }
            @if (hasNext)
            {
                <li onclick="getNotifications('@(pageNumber+1)')" id="NotificationsNext">@Resources.Common_Nextlink_text</li>
            }
        </ul>
    </div>
</div>