﻿<!--
 *****************************************************
Page Created Date:  08/01/2013
Created By: Kiran Talluri
Purpose: To display the employee list
Version: 1.0
****************************************************
-->

@using FVGen3.Domain.Entities;
@using Resources;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>    
    <title>@Resources.PartialEmployeesList_title</title>
    <style>
   .empList td {
        word-break: break-word;
    }
</style>
</head>

<body>    
    <div class="contentSub">
         @*Rajesh on 12/2/2014*@
     @*<div class="rightButton">
            <div class="page-subtitle">
                <h2>@Resources.PartialEmployeesList_heading</h2>
                <button type="button" onclick="window.location='EditEmployeeEmails?VendorOrgId=@ViewBag.VendorId'">Edit Employee(s)</button>@* Rajesh on 12/2/2014*
            </div>
        </div>*@
        
   
        
        
        @if (@ViewBag.VBEmployeeSysUserOrgs != null)
        {
            if (@ViewBag.VBEmployeeSysUserOrgs.Count == 0)
            {
                @*<div class="commentsItalic">@Resources.Common_NoRecords</div> *@
                    <div class="partialPage">        
                    <table width="100%">
                        <tr>
                            <td>
                                <div class="commentsItalic">
                                    @Resources.NoEmployees_Message
                                </div>
                            </td>
                        </tr>
                    </table>
                    </div>
            }
                    <div class="partialPage">
                        <table>
                        @if (@ViewBag.VBEmployeeSysUserOrgs.Count != 0)
                        {
                            <tr>
                                <th align="left" width="16%">Vendor</th>
                                <th align="left" width="14%">@Resources.Common_Label_EmployeeName</th>
                                <th align="left" width="18%">@Resources.Employees_Partial_Header_Email</th>
                                <th width="0%"></th>
                                <th align="left" width="8%">@Resources.Common_Title</th>
                                <th align="left" width="10%">ID</th>
                                <th align="center" width="10%">Last 4 Digits of ID</th>
                                <th align="right" width="24%"></th>
                                @*<th width="3%"></th>*@
                            </tr>   
                        }
                        </table>
                            @foreach (var sysUserOrg in (List<SystemUsersOrganizations>)@ViewBag.VBEmployeeSysUserOrgs)
                            {
                                var temp = "";
                                <table class="empList">
                                <tr>
                                @if (sysUserOrg.SystemUsers.UserStatus == true)
                                {
                                    <td width="15%">
                                        <label>@sysUserOrg.Organizations.Name</label>
                                    </td>
                                    
                                    <td width="12%">
                                         @if (ViewBag.searchType == 1)
                                         {
                                            @:<text class="lastName">@sysUserOrg.SystemUsers.Contacts[0].LastName</text> <text class="firstName">@sysUserOrg.SystemUsers.Contacts[0].FirstName</text>
                                         }
                                         else
                                         {
                                    @*Kiran on 02/03/2015 to display the employees in this format(Lastname-Firstname)*@<a href="../AdminVendors/EmployeeTrainingsForAdminView?userId=@sysUserOrg.UserId&clientId=@ViewBag.clientId">
                                        <text class="lastName">@sysUserOrg.SystemUsers.Contacts[0].LastName</text> <text class="firstName">@sysUserOrg.SystemUsers.Contacts[0].FirstName</text>
                                    </a>
                                         }
                                    </td>
                                    <td class="UserName" style="width: 18%">  
                                        <label>@sysUserOrg.SystemUsers.UserName.Trim()</label>
                                    </td>
                                    <td class="UserID" style="display:none;width: 0">@sysUserOrg.SystemUsers.UserId</td>
                                    <td class="ClientId" style="display:none;width: 0">@ViewBag.clientId</td>
                                    <td class=""  style="width: 10%">  
                                         @sysUserOrg.SystemUsers.Contacts[0].ContactTitle 
                                    </td>                                    
                                    <td style="width: 10%">
                                        @if (@sysUserOrg.SystemUsers.Contacts[0].DocumentType == 1)
                                        {
                                            @: DL
                                        }
                                        else if (@sysUserOrg.SystemUsers.Contacts[0].DocumentType == 2)
                                        {
                                            @: GC
                                        }
                                        else if (@sysUserOrg.SystemUsers.Contacts[0].DocumentType == 3)
                                        {
                                            @: SSN
                                        }
                                        else if (@sysUserOrg.SystemUsers.Contacts[0].DocumentType == 4)
                                        {
                                            @: Phone#
                                        }
                                    </td>
                                    <td style="width: 10%">
                                        @if (!string.IsNullOrEmpty(@sysUserOrg.SystemUsers.Contacts[0].DriversLicenseLast4Digits))
                                        {
                                            @sysUserOrg.SystemUsers.Contacts[0].DriversLicenseLast4Digits
                                        }
                                        else if (!string.IsNullOrEmpty(@sysUserOrg.SystemUsers.Contacts[0].GreenCardLast4Digits))
                                        {
                                            @sysUserOrg.SystemUsers.Contacts[0].GreenCardLast4Digits
                                        }
                                        else if (!string.IsNullOrEmpty(@sysUserOrg.SystemUsers.Contacts[0].SocialSecurityNumberLast4Digits))
                                        {
                                            @sysUserOrg.SystemUsers.Contacts[0].SocialSecurityNumberLast4Digits
                                        }
                                        else if (!string.IsNullOrEmpty(@sysUserOrg.SystemUsers.Contacts[0].PhoneNumberLast4Digits))
                                        {
                                            @sysUserOrg.SystemUsers.Contacts[0].PhoneNumberLast4Digits
                                        }
                                    </td>
                                    <td align="right" style="width: 30%">
                                        <button type="button" onclick="EditOrDoneClick(this)" btntype='Update'>@Resources.Employees_Partial_Edit</button>
                                        <a class="imgCursor" href="#!" onclick="AddEmployeeCheckLists('@sysUserOrg.SysUserOrganizationId')">@Resources.Employess_Partial_AddCategories</a>
                                    </td>
                                    @*<td width="3%"></td>*@
                                }
                                </tr> 
                                </table>
                                @*Kiran on 02/18/2015*@
                                if (@sysUserOrg.SystemUsersOrganizationsCategories != null && @sysUserOrg.SystemUsersOrganizationsCategories.Count() != 0)
                                {
                                    <table>
                                        <tr>
                                            <td colspan="7" style="padding:5px;">
                                                <div class="categories-list" style="background:#e6e6e6;">
                                                    <table style="float:none;">
                                                        @foreach (var category in @sysUserOrg.SystemUsersOrganizationsCategories)
                                                        {
                                                            <tr>
                                                                <td>@category.EmployeeQuizCategories.CategoryName</td>
                                                                <td>
                                                                    @try
                                                                    {
                                                                        @category.SystemUsers.Contacts[0].LastName @: @category.SystemUsers.Contacts[0].FirstName
                                                                    }
                                                                    catch
                                                                    {
                                                                        if (@category.SystemUsers != null)
                                                                        {
                                                                            @category.SystemUsers.Email // Kiran on 03/18/2015
                                                                        }
                                                                    }
                                                                </td> @*Kiran on 03/13/2015*@
                                                                <td style="text-align:center;">@category.SubCategoryInputValue</td>
                                                                <td style="text-align:center;">
                                                                    @if (@category.SubCategoryEnteredDate != null)
                                                                    {@category.SubCategoryEnteredDate.Value.Date.ToShortDateString()}
                                                            </td>
                                                        </tr>
                                                        }
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                }
                                //Ends<<<

                            }
                        
                    </div>
        }
        
    </div>    
</body>
</html>
