﻿<!--
 *****************************************************
Page Created Date:  08/01/2013
Created By: Kiran Talluri
Purpose: To display the Quiz list
Version: 1.0
****************************************************
-->
@model FVGen3.Domain.LocalModels.LocalEmployeeQuizzes
@using FVGen3.Domain.Entities;
@using Resources
@{
    Layout = null;
}

<script type="text/javascript" src="~/js/jquery-1.9.1.min.js"></script>
<script src="~/Scripts/DeleteTrainings.js"></script>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Resources.PartialQuizList_title</title>
</head>
<body>
    <div class="partialPage">
        @*@if (@ViewBag.VBsysUserOrgQuizGroupByClient != null)
        {
            if (@ViewBag.VBsysUserOrgQuizGroupByClient.Count == 0)
            {*@
       @if (@ViewBag.Clients == null)
       {
                    <div class="commentsItalic">
                    @if (ViewBag.userType == null || ViewBag.userType == 0)//Admin Vendor
                    {
                            @Resources.Common_NoRecordsWOAddNew // sumanth on 10/21/2015 for FVOS-99 to change the error message.
                    }
                    else //trainee
                    {
                     @Resources.Employee_NoQuizzes   
                    }
                    </div>
            }
            else
            { 
                <table width="100%" border="0">
                    <tr>
                        <td width="2%">
                            <img src="~/images/quizpassed.png">
                        </td>
                        <td width="23%">
                            @Resources.Common_Status_Color_Passed
                        </td>
                        <td width="2%">
                            <img src="~/images/quiznottaken.png">
                        </td>
                        <td width="23%">
                            @Resources.Common_Status_Color_NotTaken
                        </td>
                        <td width="2%">
                            <img src="~/images/quizfailed.png">
                        </td>
                        <td width="23%">
                            @Resources.Common_Status_Color_Failed
                        </td>
                         <td width="2%">
                            <img src="~/images/quizinprocess.png">
                        </td>
                        <td width="23%">
                            @Resources.Common_Status_Color_InProcess
                        </td>
                        <td width="2%">
                            <img src="~/images/ExpireColor.png">
                        </td>
                        <td width="23%">
                            @Resources.Common_Status_Color_Expired
                        </td>
                        <td width="2%">
                            <img src="~/images/quizrenewal.png">
                        </td>
                        <td width="23%">
                             @Resources.Employee_Quiz_Renewal_NotAttended
                        </td>
    
                    </tr>
                </table>
           
            var presentOrgQuizes = true;// Mani on 7/30/2015 for FV-192
            foreach (var client in @ViewBag.Clients)
            {
                if (Session["LoginOrganizationName"].ToString() == @client || Session["RoleName"].ToString().Equals("Admin")) // Mani on 7/30/2015 for FV-192
                {
                     presentOrgQuizes=false;
                    // Kiran on 12/18/2014
                 <table id="OnSiteTraining" border="0">
                    <tr style="background:#f9f9f9; ">
                        <td colspan ="4"><h3>@client</h3>
                        </td>
                    </tr> 

                    @foreach (var clientEmployeeGuide in Model.LocalEmployeeGuideDocumentsGroupedByClient.Where(r => r.key == client))
                    {
                        if (clientEmployeeGuide.prequalifcation == null) { continue; }

                        decimal templateAnnualPrice = clientEmployeeGuide.templateAnnualPrice;
                        if (@clientEmployeeGuide.key == @client)
                        {
                            <tr>
                                @if (@clientEmployeeGuide.qualified == null && ViewBag.showMessage != null && ViewBag.showMessage == 1)
                                {
                                    <td style="!important; color:#e81f25; font-weight:400;" colspan="4">
                                        @Resources.Common_Quiz_Assign_ErrorMessage
                                    </td>
                                }
                            </tr>
                        }
                    
                    @*Ends<<<*@
                        if (@clientEmployeeGuide.key == @client)
                        {
                        <tr>
                            <td width="3%"> </td>
                            <td width="6%"></td>
                            <td></td>
                            <td width="24%"><b>@Resources.Common_Quiz_Partial_Header_QuizName</b></td>
                            <td width="20%"><b>@Resources.Common_Quiz_Partial_Header_LastWatched</b></td>
                            <td width="3%"><b>@Resources.Common_Quiz_Partial_Header_ExpireDate</b></td>
                            <td width="21%"><b>@Resources.Common_Quiz_Partial_Header_PreviouslyPassed</b></td>
                            
                            <td width="10%"><b>@Resources.Common_Quiz_Partial_Header_PaymentStatus</b></td>
                            <td width="32%" colspan="2"></td>
                        </tr>

                        foreach (var quiz in Model.ClientQuizzes.Where(r => r.ClientName == client).OrderBy(r => r.TemplateName).ToList()) // Kiran on 01/31/2015 for sorting the trainings by name
                        {
                                    var quizRecord = @quiz;
                            <tr>
                        @try
                        {
                            <td class="QuizIcons">

                                <img src="../images/@quiz.QuizStatus" />
                            </td>
                        }
                        catch { }
                        <td width="10%" class="certificate">

                            @if (@quiz.HasTrainingCertificate)
                            {

                                @:<a href="@Url.Action("GenerateTrainingCompletionCertificate", "Employee", new { sysUserOrgQuizId = @quiz.SysUserOrgQuizId })" target="_blank"><i class="fa fa-file-pdf-o" style="color:#ce1c1c;font-size:20px;" aria-hidden="true"></i></a>
                            }
                        </td>
                        @try
                                {
                                    <t>
                                        @if (@quiz.QuizResult == true && @quiz.waiverFormConfigured.HasValue && @quiz.waiverFormConfigured.Value && @quiz.quizWaiverFormCompletionLog != 0)
                                            {
                                            <td width="3%">
                                                <i class="fa fa-file-pdf-o" style="color:#ce1c1c;font-size:20px;" aria-hidden="true"><a style="font-size:14px;font-family: 'Open Sans', Arial, sans-serif;" href="@(Url.Action("GenerateQuizWaiverFormCertificate", "Employee", new { sysUserOrgQuizId = @quiz.SysUserOrgQuizId }))" target="_blank">&nbsp;Waiver</a></i>
                                            </td>
                                        }
                                        
                                        else
                                        {
                                            <td></td>
                                        }
                                    </t>                                    
                                }
                                catch { }

                            <td>
                            @if (Model.Employee == true)
                            {
                               <a href="../Quiz/StartQuiz?clientTemplateId=@quiz.ClientTemplateId&userQuizId=@quiz.SysUserOrgQuizId">  @quiz.TemplateName </a>
                            }
                            else
                            {
                                @quiz.TemplateName
                            }                            
                            </td>                           
                            <td>
                            @try
                            {
                                // Kiran on 12/17/2014
                                    @quizRecord.QuizDateSubmitted.Value.Date.ToShortDateString()
                                // Ends<<<
                            }
                            catch (Exception e) { }
                            
                            </td>
                            
                                <td>
                                    @quiz.QuizExpired
                                </td>


                                <td>
                                @*Kiran on 12/17/2014*@
                                @quiz.PreviousLastQuizTakenStatus
                            </td>    
                            
                                @if (@quizRecord != null)
                                {
                                    if ((!@quiz.templateTotalPrice.Equals(0) && @quizRecord.HasQuizPayments) && (templateAnnualPrice.Equals(0)) || (!templateAnnualPrice.Equals(0) && clientEmployeeGuide.PqTrainingAnnualFeeCount != 0 && @quiz.templateTotalPrice.Equals(0)))
                                    {
                                        <td width="10%"></td>
                                    }
                                    else if (@quiz.templateTotalPrice.Equals(0) && templateAnnualPrice.Equals(0))
                                    {
                                        <td width="10%"></td>
                                    }
                                    else if (!@quiz.templateTotalPrice.Equals(0) && @quizRecord.HasQuizPayments && !templateAnnualPrice.Equals(0) && clientEmployeeGuide.PqTrainingAnnualFeeCount != 0)
                                    {
                                        <td width="10%"></td>
                                    }
                                    else if (Model.vendorIsExemptFromTrainingFee)
                                    {
                                        <td width="10%"></td>
                                    }
                                    else if (quizRecord.QuizResult != true)
                                    {
                                        <td width="10%"> @Resources.PartialEmployeeQuiz_Quiz_Payment_Status</td>
                                    }
                                    else
                                    {
                                        <td width="10%"></td>
                                    }
                                }

                            <td align="right">
                            @*Kiran on 03/13/2015*@
                            @if (@ViewBag.VBLoggedInUserIsVendorHasNoAccess != null && !@ViewBag.VBLoggedInUserIsVendorHasNoAccess)
                            {
                                <a class="imgCursor" href="#!" onclick="AddEmployeeQuizCheckLists('@quizRecord.SysUserOrgQuizId')">Onsite Training Pass/Fail</a>
                            }
                            
                            </td>  
                                <td><button onclick="DeleteTrainings('@quizRecord.SysUserOrgQuizId')">Delete</button></td>                                              
                          </tr> 

                           @*Kiran on 02/18/2015*@
                    if (@quiz.QuizzesCategories != null && @quiz.QuizzesCategories.Count() != 0)
                    {
                                <tr>
                                    <td colspan="6">
                                        <div class="categories-list" style="background:#e6e6e6;">
                                            <table style="float:none;">
                                                @foreach (var category in @quiz.QuizzesCategories)
                                                {
                                                    <tr>
                                                        <td>@category.CategoryName</td>
                                                        <td>@try
                                                            {
                                                                @category.UserName
                                                            }
                                                            catch
                                                            {
                                                                @category.Email // Kiran on 03/18/2015                                                                
                                                            }
                                                        </td> @*Kiran on 03/13/2015*@
                                                        <td style="text-align:center;">@category.SubCategoryInputValue</td>                                                                         
                                                        <td style="text-align:center;">@if (!string.IsNullOrEmpty(@category.SubCategoryEnteredDate))
                                                {@category.SubCategoryEnteredDate}</td>
                                                    </tr>
                                                }
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            }

                            }
                        }
                    }
                    
                </table>
                    @*if (@Session["RoleName"].ToString().Equals("Client"))
                    {
                    <button type="button" name="" class="SiteTraining" onclick="AssignOnSiteTrainingToEmp()">Done</button>
                    }*@
                    
                }
             
            }
            <div class="spinnerOverlay">
                <img src="../images/spinner.gif" width="28" height="28" class="importSubmitSpinner" alt="Spinner" />
            </div>
            <div class="commentsItalic">
            @if (presentOrgQuizes == true)
            {
                  @Resources.Common_NoRecordsWOAddNew  
            }   
            </div>
             }
        @*}*@    
       
    </div>
</body>
</html>
