﻿<!--
 *****************************************************
Page Created Date:  08/01/2013
Created By: Kiran Talluri
Purpose: To display the Quiz list
Version: 1.0
****************************************************
-->

@using FVGen3.Domain.Entities;
@using Resources
@{
    Layout = null;
}

<script type="text/javascript" src="~/js/jquery-1.9.1.min.js"></script> 
<script src="~/Scripts/DeleteTrainings.js"></script>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Resources.PartialQuizList_title</title>
</head>
<body>
    <div class="partialPage">
        @if (@ViewBag.VBsysUserOrgQuizGroupByClient != null)
        {
            if (@ViewBag.VBsysUserOrgQuizGroupByClient.Count == 0)
            {
                
                    <div class="commentsItalic">
                    @if (ViewBag.userType == null || ViewBag.userType == 0)//Admin Vendor
                    {
                            @Resources.Common_NoRecordsWOAddNew // sumanth on 10/21/2015 for FVOS-99 to change the error message.
                    }
                    else //trainee
                    {
                     @Resources.Employee_NoQuizzes   
                    }
                    </div>
            }
            else
            { 
                <table width="100%" border="0">
                    <tr>
                        <td width="2%">
                            <img src="~/images/quizpassed.png">
                        </td>
                        <td width="23%">
                            @Resources.Common_Status_Color_Passed
                        </td>
                        <td width="2%">
                            <img src="~/images/quiznottaken.png">
                        </td>
                        <td width="23%">
                            @Resources.Common_Status_Color_NotTaken
                        </td>
                        <td width="2%">
                            <img src="~/images/quizfailed.png">
                        </td>
                        <td width="23%">
                            @Resources.Common_Status_Color_Failed
                        </td>
                         <td width="2%">
                            <img src="~/images/quizinprocess.png">
                        </td>
                        <td width="23%">
                            @Resources.Common_Status_Color_InProcess
                        </td>
                        <td width="2%">
                            <img src="~/images/ExpireColor.png">
                        </td>
                        <td width="23%">
                            @Resources.Common_Status_Color_Expired
                        </td>
                        <td width="2%">
                            <img src="~/images/quizrenewal.png">
                        </td>
                        <td width="23%">
                             @Resources.Employee_Quiz_Renewal_NotAttended
                        </td>
    
                    </tr>
                </table>
           
            var presentOrgQuizes = true;// Mani on 7/30/2015 for FV-192
            foreach (var client in (List<IGrouping<string, SystemUsersOrganizationsQuizzes>>)@ViewBag.VBsysUserOrgQuizGroupByClient)
            {
                if (Session["LoginOrganizationName"].ToString() == @client.Key || Session["RoleName"].ToString().Equals("Admin")) // Mani on 7/30/2015 for FV-192
                {
                     presentOrgQuizes=false;
                    // Kiran on 12/18/2014
                 <table id="OnSiteTraining" border="0">
                    <tr style="background:#f9f9f9; ">
                        <td colspan ="4"><h3>@client.Key</h3>
                        </td>
                    </tr> 

                    @foreach (var clientEmployeeGuide in (List<LocalEmployeeGuideDocumentsGroupedByClient>)@ViewBag.VBEmployeeGuidesGroupedByClient)
                    {
                        var AnnualBus = clientEmployeeGuide.prequalifcation.ClientTemplates.ClientTemplatesForBU.Where(rec => rec.ClientTemplateBUGroupId != null && rec.ClientTemplatesBUGroupPrice.GroupingFor == 1 && rec.ClientTemplatesBUGroupPrice.GroupPriceType != -1 && rec.ClientTemplatesBUGroupPrice.GroupPrice != 0).ToList(); // Kiran on 11/25/2015 for FV-232
                        decimal templateAnnualPrice = 0;
                        var prequalBusinessUnits = clientEmployeeGuide.prequalifcation.PrequalificationSites.Select(rec => rec.ClientBusinessUnitId).Distinct().ToList();

                        foreach (var AnnualBu in AnnualBus)
                        {
                            if (prequalBusinessUnits.Contains(AnnualBu.ClientBusinessUnitId))
                            {
                                templateAnnualPrice = templateAnnualPrice + (decimal)AnnualBu.ClientTemplatesBUGroupPrice.GroupPrice;
                            }
                        }

                        if (@clientEmployeeGuide.key == @client.Key)
                        {
                            <tr>
                                @if (@clientEmployeeGuide.qualified == null && ViewBag.showMessage != null && ViewBag.showMessage == 1)
                                {
                                    <td style="!important; color:#e81f25; font-weight:400;" colspan="4">
                                        @Resources.Common_Quiz_Assign_ErrorMessage
                                    </td>
                                }
                            </tr>
                        }
                    
                    @*Ends<<<*@
                        if (@clientEmployeeGuide.key == @client.Key)
                        {
                        <tr>
                            <td width="3%"> </td>
                            <td width="6%"></td>
                            <td width="24%"><b>@Resources.Common_Quiz_Partial_Header_QuizName</b></td>
                            <td width="20%"><b>@Resources.Common_Quiz_Partial_Header_LastWatched</b></td>
                            <td width="3%"><b>@Resources.Common_Quiz_Partial_Header_ExpireDate</b></td>
                            <td width="21%"><b>@Resources.Common_Quiz_Partial_Header_PreviouslyPassed</b></td>
                            
                            <td width="10%"><b>@Resources.Common_Quiz_Partial_Header_PaymentStatus</b></td>
                            <td width="32%" colspan="2"></td>
                        </tr>

                        foreach (var quiz in client.OrderBy(rec => rec.ClientTemplates.Templates.TemplateName).ToList()) // Kiran on 01/31/2015 for sorting the trainings by name
                        {
                            <error>
                                @{
                                    var clientTemplatesForBU = @quiz.ClientTemplates.ClientTemplatesForBU.Where(rec => rec.ClientTemplateBUGroupId != null && rec.ClientTemplatesBUGroupPrice.GroupPriceType != -1 && rec.ClientTemplatesBUGroupPrice.GroupingFor == 2).ToList();
                                    decimal templateTotalPrice = 0;
                                }
                            </error>
                                    foreach (var clientTemplateForBU in clientTemplatesForBU)
                                    {
                                        {
                                            try
                                            {
                                                var annualFeeBUs = AnnualBus.Select(rec => rec.ClientBusinessUnitId).ToList();
                                                if (!annualFeeBUs.Contains(clientTemplateForBU.ClientBusinessUnitId) && prequalBusinessUnits.Contains(clientTemplateForBU.ClientBusinessUnitId)) // Sandhya on 08/20/2015
                                                {
                                                    templateTotalPrice = templateTotalPrice + (decimal)clientTemplateForBU.ClientTemplatesBUGroupPrice.GroupPrice;
                                                }
                                            }
                                            catch { }
                                        }
                                    }

                                    var quizRecord = @quiz;
                            <tr>
                        @try
                        {
                            if (@quizRecord.QuizResult == false) // Kiran on 3/10/2014
                            {
                                <td>
                                    <img src="~/images/quizfailed.png"/>
                                </td>
                            }

                            else if (@quizRecord.QuizResult == true && @quizRecord.QuizExpirationDate != null && @quizRecord.QuizExpirationDate > DateTime.Now) // Kiran on 3/24/2015
                            {
                                <td>
                                    <img src="~/images/quizpassed.png"/>
                                </td>
                            }

                            else if (@quizRecord.QuizExpirationDate != null && @quizRecord.QuizExpirationDate < DateTime.Now && @quizRecord.QuizResult == true)
                            {
                                <td>
                                    <img src="~/images/ExpireColor.png" />
                                </td>
                            }

                            else if (@quizRecord.QuizDateStart == null)
                            {
                                if (@quizRecord.PreviousLastQuizSubmittedDate != null)
                                {
                                    var expiration = quizRecord.PreviousLastQuizSubmittedDate.Value.AddYears(1);
                                    if (DateTime.Now < expiration)
                                    {
                                        <td>
                                            <img src="~/images/quizrenewal.png" />
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <img src="~/images/quiznottaken.png" />
                                        </td>
                                    }
                                }
                                else
                                {
                                    <td>
                                        <img src="~/images/quiznottaken.png" />
                                    </td>
                                }
                            }


                            else if (@quizRecord.QuizDateStart != null && @quizRecord.QuizResult == null)
                            {
                                <td>
                                    <img src="~/images/quizinprocess.png"/>
                                </td>
                            }
                        }
                        catch { }

                                @try
                                {
                                    if (@quiz.QuizDateSubmitted != null)
                                    {
                                        var submittedDateWithGracePeriod = @quiz.QuizDateSubmitted.Value.AddDays(7);
                                        var quizWaiverFormCompletionLog = @quiz.QuizWaiverFormCompletionLog.FirstOrDefault(rec => rec.SubmittedDate >= quiz.QuizDateSubmitted && rec.SubmittedDate <= submittedDateWithGracePeriod);
                                    }

                                    var waiverFormConfigured = @quiz.ClientTemplates.ClientTemplatesQuizDetails.FirstOrDefault().WaiverForm;
                                    <t>
                                        @if (@quiz.QuizResult == true && waiverFormConfigured.HasValue && waiverFormConfigured.Value && @quiz.QuizWaiverFormCompletionLog.Count() != 0)
                                            {
                                            <td width="3%">
                                                <i class="fa fa-file-pdf-o" style="color:#ce1c1c;font-size:20px;" aria-hidden="true"><a style="font-size:14px;font-family: 'Open Sans', Arial, sans-serif;" href="@(Url.Action("GenerateQuizWaiverFormCertificate", "Employee", new { sysUserOrgQuizId = @quiz.SysUserOrgQuizId }))" target="_blank">&nbsp;Waiver</a></i>
                                            </td>
                                        }
                                        @*else if (@quiz.QuizResult == true && @quiz.ClientTemplates.ClientTemplatesQuizDetails.FirstOrDefault().WaiverForm == true && @quiz.QuizWaiverFormCompletionLog.Count() == 0)
                                        {
                                            <td width="10%">
                                                <i class="fa fa-exclamation-triangle" style="color:#ce1c1c;font-size:20px;" aria-hidden="true"><a style="font-size:14px;font-family: 'Open Sans', Arial, sans-serif;" href="@Url.Action("QuizWaiverForm", "Quiz", new { quizId = @quiz.SysUserOrgQuizId })">&nbsp;Waiver</a></i>
                                            </td>
                                        }*@
                                        else
                                        {
                                            <td></td>
                                        }
                                    </t>



                                }
                                catch { }

                            <td>
                            @if (@ViewBag.Employee == true)
                            {
                               <a href="../Quiz/StartQuiz?clientTemplateId=@quiz.ClientTemplateId&userQuizId=@quiz.SysUserOrgQuizId">  @quiz.ClientTemplates.Templates.TemplateName </a>
                            }
                            else
                            {
                                @quiz.ClientTemplates.Templates.TemplateName
                            }                            
                            </td>                           
                            <td>
                            @try
                            {
                                // Kiran on 12/17/2014
                                    @quizRecord.QuizDateSubmitted.Value.Date.ToShortDateString()
                                // Ends<<<
                            }
                            catch (Exception e) { }
                            
                            </td>
                            
                                <td>
                                    @{int periodLength = quizRecord.ClientTemplates.ClientTemplatesQuizDetails.FirstOrDefault().PeriodLength.Value; }
                                    @(quizRecord.QuizExpirationDate != null ? quizRecord.QuizExpirationDate.Value.Date.ToShortDateString() : (quizRecord.QuizDateStart == null && quizRecord.PreviousLastQuizSubmittedDate != null && quizRecord.PreviousLastQuizSubmittedDate < DateTime.Now) ? quizRecord.PreviousLastQuizSubmittedDate.Value.Date.AddYears(periodLength).ToShortDateString() : "")
                                </td>


                                <td>
                                @*Kiran on 12/17/2014*@
                                @if (@quizRecord != null)
                                {
                                    if (@quizRecord.PreviousLastQuizSubmittedDate != null)
                                    {
                                        @: @(quizRecord.PreviousLastQuizTakenStatus == true ? "Yes" : "No")  - @quizRecord.PreviousLastQuizSubmittedDate.Value.Date.ToShortDateString()
                                    }
                                    else
                                    {
                                        if (@quizRecord.PreviousLastQuizTakenStatus != null)
                                        {
                                            @: @(quizRecord.PreviousLastQuizTakenStatus == true ? "Yes" : "No")
                                        }
                                        else
                                        {
                                            @: @quizRecord.PreviousLastQuizTakenStatus
                                        }
                                    }
                                }
                                
                            </td>    
                            
                                @if (@quizRecord != null)
                                {
                                    if ((!templateTotalPrice.Equals(0) && @quizRecord.QuizPayments.Any(rec => rec.IsOpen != null && rec.IsOpen.Value)) && (templateAnnualPrice.Equals(0)) || (!templateAnnualPrice.Equals(0) && clientEmployeeGuide.prequalifcation.PrequalificationTrainingAnnualFees.Count != 0 && templateTotalPrice.Equals(0)))
                                    {
                                        <td width="10%"></td>
                                    }
                                    else if (templateTotalPrice.Equals(0) && templateAnnualPrice.Equals(0))
                                    {
                                        <td width="10%"></td>
                                    }
                                    else if (!templateTotalPrice.Equals(0) && @quizRecord.QuizPayments.Any(rec => rec.IsOpen != null && rec.IsOpen.Value) && !templateAnnualPrice.Equals(0) && clientEmployeeGuide.prequalifcation.PrequalificationTrainingAnnualFees.Count != 0)
                                    {
                                        <td width="10%"></td>
                                    }
                                    else if (@ViewBag.VendorIsTrainingExempt)
                                    {
                                        <td width="10%"></td>
                                    }
                                    else if (quizRecord.QuizResult != true)
                                    {
                                        <td width="10%"> @Resources.PartialEmployeeQuiz_Quiz_Payment_Status</td>
                                    }
                                    else
                                    {
                                        <td width="10%"></td>
                                    }
                                }

                            <td align="right">
                            @*Kiran on 03/13/2015*@
                            @if (@ViewBag.VBLoggedInUserIsVendorHasNoAccess != null && !@ViewBag.VBLoggedInUserIsVendorHasNoAccess)
                            {
                                <a class="imgCursor" href="#!" onclick="AddEmployeeQuizCheckLists('@quizRecord.SysUserOrgQuizId')">Onsite Training Pass/Fail</a>
                            }
                            
                            </td>  
                                <td><button onclick="DeleteTrainings('@quizRecord.SysUserOrgQuizId')">Delete</button></td>                                              
                          </tr> 
                        
                           @*Kiran on 02/18/2015*@
                            if (@quiz.SystemUsersOrganizationsQuizzesCategories != null && @quiz.SystemUsersOrganizationsQuizzesCategories.Count() != 0)
                            {
                                <tr>
                                    <td colspan="6">
                                        <div class="categories-list" style="background:#e6e6e6;">
                                            <table style="float:none;">
                                                @foreach (var category in @quiz.SystemUsersOrganizationsQuizzesCategories)
                                                {
                                                    <tr>
                                                        <td>@category.EmployeeQuizCategories.CategoryName</td>
                                                        <td>@try
                                                            {
                                                                @category.SystemUsers.Contacts[0].LastName @: @category.SystemUsers.Contacts[0].FirstName
                                                            }
                                                            catch
                                                            {
                                                                if (@category.SystemUsers != null)
                                                                {
                                                                    @category.SystemUsers.Email // Kiran on 03/18/2015
                                                                }
                                                            }
                                                        </td> @*Kiran on 03/13/2015*@
                                                        <td style="text-align:center;">@category.SubCategoryInputValue</td>                                                                         
                                                        <td style="text-align:center;">@if (@category.SubCategoryEnteredDate != null)
                                                                                       {@category.SubCategoryEnteredDate.Value.Date.ToShortDateString()}</td>
                                                    </tr>
                                                }
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            }

                            }
                        }
                    }
                    
                </table>
                    @*if (@Session["RoleName"].ToString().Equals("Client"))
                    {
                    <button type="button" name="" class="SiteTraining" onclick="AssignOnSiteTrainingToEmp()">Done</button>
                    }*@
                    
                }
             
            }
            <div class="spinnerOverlay">
                <img src="../images/spinner.gif" width="28" height="28" class="importSubmitSpinner" alt="Spinner" />
            </div>
            <div class="commentsItalic">
            @if (presentOrgQuizes == true)
            {
                  @Resources.Common_NoRecordsWOAddNew  
            }   
            </div>
             }
        }    
       
    </div>
</body>
</html>
