﻿@using Resources;
<div class="dashboardMenu"  style="min-height:495px;">
          
            @*<div class="dashBoardSubtitles">
                     <h3><strong>Submitted for Processing</strong></h3>
            </div>*@ @*Rajesh on 6/5/2014*@
        
         @*Rajesh on 12/27/2013*@
         @if (@ViewBag.type == null || @ViewBag.type==0)
         {
             <div class="dashBoardSubtitles">
                
                <table border="0">
                    <tr>
                
                        <td>
                            <div class="selectedTabDB" id="buttonTabTwo">
                                <input type="radio"/>
                            <label for="searchType" class="FirstName">
                                <h3> <strong>@Resources.Submitted_for_Processing </strong></h3>
                            </label>
                            </div>
                        </td>
                        <td style="width:35%;">
                            <div class="unSelectedTabDB" id="buttonTabThree">
                            <input type="radio"/>
                            <label for="searchType" class="ADdvance"  onclick="ShowPreQualifications(0)">
                                <h3> <strong>@Resources.Prequalification_Partial_Status_Incomplete</strong></h3>
                            </label>
                            </div>
                        </td>
                        <td style="width:20%;"></td>
                    </tr>
                </table> 
            </div>
         }
         else
         {
             <div class="dashBoardSubtitles">
                
                <table border="0">
                    <tr>
                
                        <td style="width:45%;">
                            <div class="unSelectedTabDB">
                                <input type="radio"/>
                            <label for="searchType" class="FirstName"  onclick="ShowPreQualifications(1)">
                                <h3> <strong>@Resources.Submitted_for_Processing</strong></h3>
                            </label>
                            </div>
                        </td>
                        <td style="width:35%;">
                            <div class="selectedTabDB">
                            <input type="radio"/>
                            <label for="searchType" class="ADdvance">
                                <h3> <strong>@Resources.Prequalification_Partial_Status_Incomplete </strong></h3>
                            </label>
                            </div>
                        </td>
                        <td style="width:20%;"></td>
                    </tr>
                </table> 
            </div>
         }
            @*Ends<<*@

            <div>
                <table class="AdminBG" id="PrequalificationsList">
                @{var Prequalifcations = (List<FVGen3.Domain.Entities.LocalPrequalification>)@ViewBag.VBPrequalificationList;
                  var PhasPrevious = false;
                  var PhasNext = false;
                  var PpageNumber = 0;
                  }
                @for (int i = 0; i < Prequalifcations.Count(); i += 2)
                {

                    var query = "../Prequalification/TemplatesList" + QueryStringModule.Encrypt("PreQualificationId=" + @Prequalifcations[i].PrequalificationId);
                    if (i == 0)
                    {
                        PhasPrevious = Prequalifcations[0].HasPrevious;
                        PhasNext = Prequalifcations[0].HasNext;
                        PpageNumber = Prequalifcations[0].PageNumber;
                    }
                     <tr class="Prequalifications@(i / 10 + 1)"
                     @if (i / 10 + 1 != 1)
                     {
                        @:style="display:none;"
                     }
                     >
                         <td valign="top" width="45%">@*Rajesh on 12/27/2013*@
                             <ul>
                                            
                                            <li>
                                                <strong>
                                                    <a href="@query">@Prequalifcations[i].VendorName</a>
                                                </strong>
                                                @*Kiran on 8/22/2014*@
                                                @if (@Prequalifcations[i].isReSubmitted == true)
                                                {
                                                    <img src="~/images/redStar.png"/>
                                                }
                                                @*Ends<<*@
                                            </li>

                                            <li>@Resources.Common_Label_Submitted_No_Col:@if (Prequalifcations[i].PrequalificationSubmit == null)
                                                          {<i>@Resources.Common_Label_YetToSubmit</i>}
                                                          else
                                                          {@Prequalifcations[i].PrequalificationSubmit}
                                            @if (@Prequalifcations[i].IndicationTextClient != null)
                                            {
                                                <span class="indicationText">@Prequalifcations[i].IndicationTextClient</span>
                                            }
                                            </li>
                                            
                                            <li>@Resources.Vendorsearchpartial_StatusPeriod_No_Col:@Prequalifcations[i].PrequalificationStart.ToString("MM/dd/yyyy") to @Prequalifcations[i].PrequalificationFinish.ToString("MM/dd/yyyy")</li>                         
                                            @*Kiran on 9/12/2014*@
                                            <li>
                                               @Resources.AddNewUser_label_client:<strong> @Prequalifcations[i].ClientName</strong>
                                            </li>  
                                            @*Ends<<<*@ 
                                        </ul>
                         </td>
                         @*Rajesh on 12/27/2013*@
                         <td width="4%">@Prequalifcations[i].Initials</td>
                         <td width="2%"></td>
                         <td valign="top" width="45%">
                         @*Ends*@
                            @if (i + 1 < Prequalifcations.Count())
                            {
                                query = "../Prequalification/TemplatesList" + QueryStringModule.Encrypt("PreQualificationId=" + @Prequalifcations[i + 1].PrequalificationId);//Rajesh on 2/25/2014
                                <ul>
                                            
                                            <li>
                                                <strong>
                                                    <a href="@query">@Prequalifcations[i + 1].VendorName</a>
                                                </strong>
                                                @*Kiran on 8/22/2014*@
                                                @if (@Prequalifcations[i+1].isReSubmitted == true)
                                                {
                                                    <img src="~/images/redStar.png"/>
                                                }
                                                @*Ends<<*@
                                            </li>

                                            <li>@Resources.Common_Label_Submitted_No_Col:@if (Prequalifcations[i + 1].PrequalificationSubmit == null)
                                                          {<i>@Resources.Common_Label_YetToSubmit</i>}
                                                          else
                                                          {@Prequalifcations[i + 1].PrequalificationSubmit}
                                            @if (@Prequalifcations[i + 1].IndicationTextClient != null)
                                            {
                                                <span class="indicationText">@Prequalifcations[i + 1].IndicationTextClient</span>
                                            }
                                            </li>
                                            
                                            <li>@Resources.Vendorsearchpartial_StatusPeriod_No_Col:@Prequalifcations[i + 1].PrequalificationStart.ToString("MM/dd/yyyy") to @Prequalifcations[i + 1].PrequalificationFinish.ToString("MM/dd/yyyy")</li>                         
                                            @*Kiran on 9/12/2014*@
                                            <li>
                                              @Resources.AddNewUser_label_client:<strong> @Prequalifcations[i + 1].ClientName</strong>
                                            </li>  
                                            @*Ends<<<*@                      
                                        </ul>
                            }
                         </td>
                         @if (i + 1 < Prequalifcations.Count())
                         {
                         <td width="4%"><b>@Prequalifcations[i + 1].Initials</b></td>@*Rajesh on 2/25/2014*@
                         <td width="2%"></td>@*Rajesh on 2/25/2014*@                        
                         }
                     </tr>
                }
                     
                     

                </table>
            </div>
            
           

        </div>
        <div class="paginationMenu">
         <div class="pagination">
            <ul>
            @if (PhasPrevious)
            {
                <li onclick="getPrequalification('@(PpageNumber - 1)',@ViewBag.type)">Previous</li>@*Rajesh on 12/27/2013*@
            }
            <li class="prequalificationPages" style="background:#fff" onclick="showPrequalification(1,this)">@(PpageNumber * 3 + 1)</li>
            @if (Prequalifcations.Count() > 10)
            {
                <li class="prequalificationPages" onclick="showPrequalification(2,this)">@(PpageNumber * 3 + 2)</li>
            }
            @if (Prequalifcations.Count() > 20)
            {
                <li class="prequalificationPages" onclick="showPrequalification(3,this)">@(PpageNumber * 3 + 3)</li>
            }
            @if (PhasNext)
            {
                <li onclick="getPrequalification('@(PpageNumber + 1)',@ViewBag.type)">Next</li>@*Rajesh on 12/27/2013*@
            }
            </ul>
            </div>
            </div>