﻿@using Resources;

<div class="dashboardMenu"  style="min-height:495px;">
          
         @if (@ViewBag.type == null || @ViewBag.type == 0)
         {
             <div class="dashBoardSubtitles">
                
                <table border="0">
                    <tr>
                
                        <td>
                            <div class="selectedTabDB" id="buttonTabTwo">
                                <input type="radio"/>
                            <label for="searchType" class="FirstName">
                                <h3> <strong> @Resources.Common_Status_Heading_Submitted </strong></h3>
                            </label>
                            </div>
                        </td>
                        <td style="width:35%;">
                            <div class="unSelectedTabDB" id="buttonTabThree">
                            <input type="radio"/>
                            <label for="searchType" class="ADdvance"  onclick="ShowPreQualifications(0)">
                                <h3> <strong> @Resources.Prequalification_Partial_Status_Incomplete </strong></h3>
                            </label>
                            </div>
                        </td>
                        
                        <td style="width:35%;">
                            <div class="unSelectedTabDB">
                            <input type="radio"/>
                            <label for="searchType" class="ADdvance"  onclick="ShowPreQualifications(2)">
                                <h3> <strong> @Resources.Common_Status_ClientReview </strong></h3>
                            </label>
                            </div>
                        </td>
                        
                        <td style="width:20%;"></td>
                    </tr>
                </table> 
            </div>
         }
         else if (@ViewBag.type == 1)
         {
             <div class="dashBoardSubtitles">
                
                <table border="0">
                    <tr>
                
                        <td style="width:45%;">
                            <div class="unSelectedTabDB">
                                <input type="radio"/>
                            <label for="searchType" class="FirstName"  onclick="ShowPreQualifications(1)">
                                <h3> <strong> @Resources.Common_Status_Heading_Submitted </strong></h3>
                            </label>
                            </div>
                        </td>
                        <td style="width:35%;">
                            <div class="selectedTabDB">
                            <input type="radio"/>
                            <label for="searchType" class="ADdvance">
                                <h3> <strong> @Resources.Prequalification_Partial_Status_Incomplete </strong></h3>
                            </label>
                            </div>
                        </td>
                        
                        <td style="width:35%;">
                            <div class="unSelectedTabDB">
                            <input type="radio"/>
                            <label for="searchType" class="ADdvance"  onclick="ShowPreQualifications(2)">
                                <h3> <strong> @Resources.Common_Status_ClientReview </strong></h3>
                            </label>
                            </div>
                        </td>
                        <td style="width:20%;"></td>
                    </tr>
                </table> 
            </div>
         }
         else
         { 
            <div class="dashBoardSubtitles">
                
                <table border="0">
                    <tr>
                
                        <td style="width:45%;">
                            <div class="unSelectedTabDB">
                                <input type="radio"/>
                            <label for="searchType" class="FirstName"  onclick="ShowPreQualifications(1)">
                                <h3> <strong> @Resources.Common_Status_Heading_Submitted </strong></h3>
                            </label>
                            </div>
                        </td>
                        <td style="width:35%;">
                            <div class="unSelectedTabDB">
                            <input type="radio"/>
                            <label for="searchType" class="ADdvance"  onclick="ShowPreQualifications(0)">
                                <h3> <strong> @Resources.Prequalification_Partial_Status_Incomplete </strong></h3>
                            </label>
                            </div>
                        </td>
                        
                        <td style="width:35%;">
                            <div class="selectedTabDB">
                            <input type="radio"/>
                            <label for="searchType" class="ADdvance" >
                                <h3> <strong> @Resources.Common_Status_ClientReview </strong></h3>
                            </label>
                            </div>
                        </td>
                        
                        <td style="width:20%;"></td>
                    </tr>
                </table> 
            </div>
         }
            
        @if (@ViewBag.type == 0 || @ViewBag.type == null)
        {
            <div>
                <div style="float: right; margin-right: 10px; margin-top: 10px; margin-bottom: 10px;display: none">
                    <button type="button" onclick="Dashboard.DownloadData(0)"> <i class="fa fa-download" aria-hidden="true"></i> Export</button>
                </div>
                <table class="AdminBG">
                @{var Prequalifcations = (List<FVGen3.Domain.Entities.LocalPrequalification>)@ViewBag.VBPrequalificationList;
                  var PhasPrevious = false;
                  var PhasNext = false;
                  var PpageNumber = 0;
                  }
                @for (int i = 0; i < Prequalifcations.Count(); i += 2)
                {
                    if (i == 0)
                    {
                        PhasPrevious = Prequalifcations[0].HasPrevious;
                        PhasNext = Prequalifcations[0].HasNext;
                        PpageNumber = Prequalifcations[0].PageNumber;
                    }
                     <tr class="Prequalifications@(i / 10 + 1)"
                     @if (i / 10 + 1 != 1)
                     {
                        @:style="display:none;"
                     }
                     >
                         <td valign="top" width="48%">
                             <ul>           
                                <li>
                               
                                    <strong>
                                        <a href="../AdminVendors/VendorDetails?SelectedVendorId=@Prequalifcations[i].VendorID&PreQualificationId=@Prequalifcations[i].PrequalificationId&TemplateSectionID=-1&mode=0">@Prequalifcations[i].VendorName</a>
                                    </strong>
                                    @if (@Prequalifcations[i].isReSubmitted == true)
                                    {
                                        <img src="~/images/redStar.png"/>
                                    }
                                    @if (@Prequalifcations[i].isClientApproval == true)
                                    {
                                        <img src="~/images/redStar.png"/>
                                        <img src="~/images/redStar.png" />
                                    }
                                </li>

                                <li>@Resources.Common_Label_Submitted@if (Prequalifcations[i].PrequalificationSubmit == null)
                                                {<i>@Resources.Common_Label_YetToSubmit</i>}
                                                else
                                                {@Prequalifcations[i].PrequalificationSubmit}
                                @if (@Prequalifcations[i].IndicationTextClient != null)
                                {
                                    <span class="indicationText">@Prequalifcations[i].IndicationTextClient</span>
                                }
                                </li>
                                            
                                <li>@Resources.Common_Label_StatusPeriod@Prequalifcations[i].PrequalificationStart.ToString("MM/dd/yyyy") to @Prequalifcations[i].PrequalificationFinish.ToString("MM/dd/yyyy")</li>                         
                                <li>
                                    @Resources.InviteVendor_Client<strong> @Prequalifcations[i].ClientName</strong>
                                </li>  
                            </ul>
                         </td>
                         <td width="4%"><b>@Prequalifcations[i].Initials</b></td>
                         <td width="2%"></td>
                         <td valign="top" width="48%">
                            @if (i + 1 < Prequalifcations.Count())
                            {
                                <ul>
                                    <li>
                                        <strong>
                                            <a href="../AdminVendors/VendorDetails?SelectedVendorId=@Prequalifcations[i+1].VendorID&PreQualificationId=@Prequalifcations[i+1].PrequalificationId&TemplateSectionID=-1&mode=0">@Prequalifcations[i + 1].VendorName</a>
                                        </strong>
                                        @if (@Prequalifcations[i + 1].isReSubmitted == true)
                                        {
                                            <img src="~/images/redStar.png"/>
                                        }
                                        @if (@Prequalifcations[i + 1].isClientApproval == true)
                                        {
                                            <img src="~/images/redStar.png" />
                                            <img src="~/images/redStar.png" />
                                        }
                                    </li>

                                    <li>@Resources.Common_Label_Submitted@if (Prequalifcations[i + 1].PrequalificationSubmit == null)
                                                  {<i>@Resources.Common_Label_YetToSubmit</i>}
                                                  else
                                                  {@Prequalifcations[i + 1].PrequalificationSubmit}
                                    @if (@Prequalifcations[i + 1].IndicationTextClient != null)
                                    {
                                        <span class="indicationText">@Prequalifcations[i + 1].IndicationTextClient</span>
                                    }
                                    </li>
                                    
                                    <li>@Resources.Common_Label_StatusPeriod@Prequalifcations[i + 1].PrequalificationStart.ToString("MM/dd/yyyy") to @Prequalifcations[i + 1].PrequalificationFinish.ToString("MM/dd/yyyy")</li>                         
                                    
                                    <li>
                                        @Resources.InviteVendor_Client<strong> @Prequalifcations[i + 1].ClientName</strong>
                                    </li>
                                </ul>
                            }
                         </td>
                         @if (i + 1 < Prequalifcations.Count())
                         {
                         <td width="4%"><b>@Prequalifcations[i + 1].Initials</b></td>
                         <td width="2%"></td>
                         }
                     </tr>
                }
                </table>
            </div>
            
        <div class="paginationMenu">
            <div class="pagination">
                <ul>
                @if (PhasPrevious)
                {
                    <li onclick="getPrequalification('@(PpageNumber - 1)',@ViewBag.type)">@Resources.Common_Previouslink_text</li>
                }
                <li class="prequalificationPages" style="background:#fff" onclick="showPrequalification(1,this)">@(PpageNumber * 3 + 1)</li>
                @if (Prequalifcations.Count() > 10)
                {
                    <li class="prequalificationPages" onclick="showPrequalification(2,this)">@(PpageNumber * 3 + 2)</li>
                }
                @if (Prequalifcations.Count() > 20)
                {
                    <li class="prequalificationPages" onclick="showPrequalification(3,this)">@(PpageNumber * 3 + 3)</li>
                }
                @if (PhasNext)
                {
                    <li onclick="getPrequalification('@(PpageNumber + 1)',@ViewBag.type)">@Resources.Common_Nextlink_text</li>
                }
                </ul>
            </div>
        </div>
        }
        else if (@ViewBag.type == 1)
        { 
            <div>
                <div style="float: right; margin-right: 30px; margin-top: 10px; margin-bottom: 10px;">
                    <button type="button" onclick="Dashboard.DownloadData(1)"> <i class="fa fa-download" aria-hidden="true"></i> Export</button>
                </div>
                <table class="AdminBG">
                    @{var IPrequalifcations = (List<FVGen3.Domain.Entities.LocalPrequalification>) @ViewBag.VBPrequalificationList;
                        var IPhasPrevious = false;
                        var IPhasNext = false;
                        var IPpageNumber = 0;
                    }
                    @for (int i = 0; i < IPrequalifcations.Count(); i += 2)
                    {
                        var query = "../Prequalification/TemplatesList" + QueryStringModule.Encrypt("PreQualificationId=" + @IPrequalifcations[i].PrequalificationId);
                        if (i == 0)
                        {
                            IPhasPrevious = IPrequalifcations[0].HasPrevious;
                            IPhasNext = IPrequalifcations[0].HasNext;
                            IPpageNumber = IPrequalifcations[0].PageNumber;
                        }
                        <tr class="IPrequalifications@(i / 10 + 1)"
                            @if (i / 10 + 1 != 1)
                            {
                                @:style="display: none;"
                            }>
                            <td valign="top" width="48%">
                                <ul>
                                    <li>
                                        <strong>
                                            <a href="@query">@IPrequalifcations[i].VendorName</a>
                                        </strong>
                                        @if (@IPrequalifcations[i].isReSubmitted == true)
                                        {
                                            <img src="~/images/redStar.png"/>
                                        }
                                        @if (@IPrequalifcations[i].isClientApproval == true)
                                        {
                                            <img src="~/images/redStar.png"/>
                                            <img src="~/images/redStar.png"/>
                                        }
                                    </li>

                                    <li>@Resources.Common_Label_Submitted
                                        @if (IPrequalifcations[i].PrequalificationSubmit == null)
                                        {<i>@Resources.Common_Label_YetToSubmit</i>}
                                        else
                                        {@IPrequalifcations[i].PrequalificationSubmit
                                        }
                                        @if (@IPrequalifcations[i].IndicationTextClient != null)
                                        {
                                            <span class="indicationText">@IPrequalifcations[i].IndicationTextClient</span>
                                        }
                                    </li>

                                    <li>@Resources.Common_Label_StatusPeriod@IPrequalifcations[i].PrequalificationStart.ToString("MM/dd/yyyy") to @IPrequalifcations[i].PrequalificationFinish.ToString("MM/dd/yyyy")</li>
                                    <li>
                                        @Resources.InviteVendor_Client<strong> @IPrequalifcations[i].ClientName</strong>
                                    </li>
                                </ul>
                            </td>
                            <td width="4%"><b>@IPrequalifcations[i].Initials</b></td>
                            <td width="2%"></td>
                            <td valign="top" width="48%">
                                @if (i + 1 < IPrequalifcations.Count())
                                {
                                    query = "../Prequalification/TemplatesList" + QueryStringModule.Encrypt("PreQualificationId=" + @IPrequalifcations[i + 1].PrequalificationId);
                                    <ul>
                                        <li>
                                            <strong>
                                                <a href="@query">@IPrequalifcations[i + 1].VendorName</a>
                                            </strong>
                                            @if (@IPrequalifcations[i + 1].isReSubmitted == true)
                                            {
                                                <img src="~/images/redStar.png"/>
                                            }
                                            @if (@IPrequalifcations[i + 1].isClientApproval == true)
                                            {
                                                <img src="~/images/redStar.png"/>
                                                <img src="~/images/redStar.png"/>
                                            }
                                        </li>

                                        <li>@Resources.Common_Label_Submitted
                                            @if (IPrequalifcations[i + 1].PrequalificationSubmit == null)
                                            {<i>@Resources.Common_Label_YetToSubmit</i>}
                                            else
                                            {@IPrequalifcations[i + 1].PrequalificationSubmit
                                            }
                                            @if (@IPrequalifcations[i + 1].IndicationTextClient != null)
                                            {
                                                <span class="indicationText">@IPrequalifcations[i + 1].IndicationTextClient</span>
                                            }
                                        </li>

                                        <li>@Resources.Common_Label_StatusPeriod@IPrequalifcations[i + 1].PrequalificationStart.ToString("MM/dd/yyyy") to @IPrequalifcations[i + 1].PrequalificationFinish.ToString("MM/dd/yyyy")</li>
                                        <li>
                                            @Resources.InviteVendor_Client<strong> @IPrequalifcations[i + 1].ClientName</strong>
                                        </li>
                                    </ul>
                                }
                            </td>
                            @if (i + 1 < IPrequalifcations.Count())
                            {
                                <td width="4%"><b>@IPrequalifcations[i + 1].Initials</b></td>
                                <td width="2%"></td>
                            }
                        </tr>
                    }
                </table>
            </div>
            
            <div class="paginationMenu">
            <div class="pagination">
                <ul>
                @if (IPhasPrevious)
                {
                    <li onclick="getPrequalification('@(IPpageNumber - 1)',@ViewBag.type)">@Resources.Common_Previouslink_text</li>
                }
                <li class="IPrequalificationsPages" style="background:#fff" onclick="showIncompletePrequalification(1,this)">@(IPpageNumber * 3 + 1)</li>
                @if (IPrequalifcations.Count() > 10)
                {
                    <li class="IPrequalificationsPages" onclick="showIncompletePrequalification(2,this)">@(IPpageNumber * 3 + 2)</li>
                }
                @if (IPrequalifcations.Count() > 20)
                {
                    <li class="IPrequalificationsPages" onclick="showIncompletePrequalification(3,this)">@(IPpageNumber * 3 + 3)</li>
                }
                @if (IPhasNext)
                {
                    <li onclick="getPrequalification('@(IPpageNumber + 1)',@ViewBag.type)">@Resources.Common_Nextlink_text</li>
                }
                </ul>
            </div>
        </div>
        }
        else
        {
            <div>
                <div style="float: right; margin-right: 10px; margin-top: 10px; margin-bottom: 10px;display: none">
                    <button type="button" onclick="Dashboard.DownloadData(2)"> <i class="fa fa-download" aria-hidden="true"></i> Export</button>
                </div>
                <table class="AdminBG">
                    @{var CRPrequalifcations = (List<FVGen3.Domain.Entities.LocalPrequalification>) @ViewBag.VBPrequalificationList;
                        var CRPhasPrevious = false;
                        var CRPhasNext = false;
                        var CRPpageNumber = 0;
                    }
                    @for (int i = 0; i < CRPrequalifcations.Count(); i += 2)
                    {
                        var query = "../Prequalification/TemplatesList" + QueryStringModule.Encrypt("PreQualificationId=" + @CRPrequalifcations[i].PrequalificationId);
                        if (i == 0)
                        {
                            CRPhasPrevious = CRPrequalifcations[0].HasPrevious;
                            CRPhasNext = CRPrequalifcations[0].HasNext;
                            CRPpageNumber = CRPrequalifcations[0].PageNumber;
                        }
                        <tr class="CRPrequalifications@(i / 10 + 1)"
                            @if (i / 10 + 1 != 1)
                            {
                                @:style="display: none;"
                            }>
                            <td valign="top" width="48%">
                                <ul>
                                    <li>
                                        <strong>
                                            <a href="@query">@CRPrequalifcations[i].VendorName</a>
                                        </strong>
                                        @if (@CRPrequalifcations[i].isReSubmitted == true)
                                        {
                                            <img src="~/images/redStar.png"/>
                                        }
                                        @if (@CRPrequalifcations[i].isClientApproval == true)
                                        {
                                            <img src="~/images/redStar.png"/>
                                            <img src="~/images/redStar.png"/>
                                        }
                                    </li>

                                    <li>@Resources.Common_Label_Submitted
                                        @if (CRPrequalifcations[i].PrequalificationSubmit == null)
                                        {<i>@Resources.Common_Label_YetToSubmit</i>}
                                        else
                                        {@CRPrequalifcations[i].PrequalificationSubmit
                                        }
                                        @if (@CRPrequalifcations[i].IndicationTextClient != null)
                                        {
                                            <span class="indicationText">@CRPrequalifcations[i].IndicationTextClient</span>
                                        }
                                    </li>

                                    <li>@Resources.Common_Label_StatusPeriod@CRPrequalifcations[i].PrequalificationStart.ToString("MM/dd/yyyy") to @CRPrequalifcations[i].PrequalificationFinish.ToString("MM/dd/yyyy")</li>
                                    <li>
                                        @Resources.InviteVendor_Client<strong> @CRPrequalifcations[i].ClientName</strong>
                                    </li>
                                </ul>
                            </td>
                            <td width="4%"><b>@CRPrequalifcations[i].Initials</b></td>
                            <td width="2%"></td>
                            <td valign="top" width="48%">
                                @if (i + 1 < CRPrequalifcations.Count())
                                {
                                    query = "../Prequalification/TemplatesList" + QueryStringModule.Encrypt("PreQualificationId=" + @CRPrequalifcations[i + 1].PrequalificationId);
                                    <ul>
                                        <li>
                                            <strong>
                                                <a href="@query">@CRPrequalifcations[i + 1].VendorName</a>
                                            </strong>
                                            @if (@CRPrequalifcations[i + 1].isReSubmitted == true)
                                            {
                                                <img src="~/images/redStar.png"/>
                                            }
                                            @if (@CRPrequalifcations[i + 1].isClientApproval == true)
                                            {
                                                <img src="~/images/redStar.png"/>
                                                <img src="~/images/redStar.png"/>
                                            }
                                        </li>

                                        <li>@Resources.Common_Label_Submitted
                                            @if (CRPrequalifcations[i + 1].PrequalificationSubmit == null)
                                            {<i>@Resources.Common_Label_YetToSubmit</i>}
                                            else
                                            {@CRPrequalifcations[i + 1].PrequalificationSubmit
                                            }
                                            @if (@CRPrequalifcations[i + 1].IndicationTextClient != null)
                                            {
                                                <span class="indicationText">@CRPrequalifcations[i + 1].IndicationTextClient</span>
                                            }
                                        </li>

                                        <li>@Resources.Common_Label_StatusPeriod@CRPrequalifcations[i + 1].PrequalificationStart.ToString("MM/dd/yyyy") to @CRPrequalifcations[i + 1].PrequalificationFinish.ToString("MM/dd/yyyy")</li>
                                        <li>
                                            @Resources.InviteVendor_Client<strong> @CRPrequalifcations[i + 1].ClientName</strong>
                                        </li>
                                    </ul>
                                }
                            </td>
                            @if (i + 1 < CRPrequalifcations.Count())
                            {
                                <td width="4%"><b>@CRPrequalifcations[i + 1].Initials</b></td>
                                <td width="2%"></td>
                            }
                        </tr>
                    }
                </table>
            </div>
            <div class="paginationMenu">
            <div class="pagination">
                <ul>
                @if (CRPhasPrevious)
                {
                    <li onclick="getPrequalification('@(CRPpageNumber - 1)',@ViewBag.type)">@Resources.Common_Previouslink_text</li>@*Rajesh on 12/27/2013*@
                }
                <li class="CRPrequalificationsPages" style="background:#fff" onclick="showClientReviewPrequalification(1,this)">@(CRPpageNumber * 3 + 1)</li>
                @if (CRPrequalifcations.Count() > 10)
                {
                    <li class="CRPrequalificationsPages" onclick="showClientReviewPrequalification(2,this)">@(CRPpageNumber * 3 + 2)</li>
                }
                @if (CRPrequalifcations.Count() > 20)
                {
                    <li class="CRPrequalificationsPages" onclick="showClientReviewPrequalification(3,this)">@(CRPpageNumber * 3 + 3)</li>
                }
                @if (CRPhasNext)
                {
                    <li onclick="getPrequalification('@(CRPpageNumber + 1)',@ViewBag.type)">@Resources.Common_Nextlink_text</li>@*Rajesh on 12/27/2013*@
                }
                </ul>
            </div>
        </div>
        }
        </div>