﻿<!--
Page Created Date:  03/27/2015
Created By: Manideep Grandhi
Purpose:
Version: 1.0
-->

@using FVGen3.Domain.Entities;
@using FVGen3.Domain.ViewModels
@using Resources;
@model FVGen3.Domain.ViewModels.ContractorEvaluations
@{
    ViewBag.Title = "ReviewsList";
    Layout = "~/Views/Shared/_ScoreCardLayout.cshtml";
}


<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=8"/>
<meta http-equiv="X-UA-Compatible" content="IE=9"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width"/>

    <link rel="stylesheet" href="~/css/prequalificationdynamic.css"/>


<script src="@Url.Content("~/js/jquery-1.9.1.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@Styles.Render("~/css/appPopUp.css")
@Styles.Render("~/css/appInnerPages.css")
@Scripts.Render("~/js/common.js") 
@Styles.Render("~/css/appAssociatedPages.css")
<script src="~/js/autoNumeric.js"></script>
<link rel="stylesheet" href="@Url.Content("~/Content/Site.css")"/>
    
<script src="~/Scripts/jquery-ui.js"></script>
<link rel="stylesheet" href="~/css/jquery-ui.css" />
<title>Untitled Document</title>
@Styles.Render("~/css/appInnerPages.css")
<link rel="stylesheet" href="../css/index.css"/>
<link rel="stylesheet" href="../css/common.css"/>
<style>
    
.rating .rowIST{
	border-bottom:1px solid #ddd;
	padding-top:10px;
}
.rating p {
	
	text-align:justify;
}
.rating a {
	line-height:300%;
}
.rating .rowIST label{
	color:#333;
	font-size:15px;
	font-weight:600;
	padding-bottom:10px;
}
.ratingDetails div , label{
	display:inline-block;
	vertical-align:middle;
}
.ratingDetails .page-subtitle{
	
	width:44%;
}
.ratingDetails .page-subtitle h3{
	
	font-size:16px;
	font-weight:700;
}
.ratingDetails .star{
	
	width:29%; 
}
.ratingDetails .star >  label{
	float:none !important;
	width:auto !important;
	padding:0 !important;
	font-size:20px;
	margin-top:-18px;
	color:#4db8f6;
	font-weight:600;
}
.ratingDetails .commentDate{
	width:25%;
	
	text-align:right;
	color:#999;  
}
.paraHeader{
	font-size:20px;
	color:#1c9be5;
	padding-bottom:10px;
}
</style>
</head>
<script>
    $(document).ready(function () {
        $(".ExpandListButton").click(function () {

            if ($(this).closest(".vendorArchivedDetails").find(".versionDataMain").is(':visible') == true) {
                $(this).closest(".vendorArchivedDetails").find(".versionDataMain").hide();
                $(this).attr("src", "../images/Expandlist.png");
            }
            else {
                $(this).closest(".vendorArchivedDetails").find(".versionDataMain").show();
                $(this).parent().parent().find(".versionDataMain").slideUp();
                $(this).attr("src", "../images/collapse.png");
            }


            //<<Ends


        });
    });
    function DeleteReview(id) {
        
        $.ajax(
            {
                type: 'GET',
                url: 'deleteReview',
                data: 'ReviewID=' +id,
                success: function (data) {
                    if (data.indexOf("Session expired") >= 0) {
                        window.location = "../SystemUsers/Login?lastLoginPage=" + "~/Companies/SearchCompany";
                    }
                    
                    else if (data == "DeleteReviewSuccess") {
                        window.location = "../AdminVendors/ReviewsList?SelectedVendorId=@ViewBag.SelectedVendorId&PreQualificationId=@ViewBag.PrequalificationId&TemplateSectionID=-1&mode=0&buId=@ViewBag.buid";
                        
                    }
                    else {
                        alert("@Resources.Common_unableToProcess");
                    }
                    //hideSpinner(); //Siva on 5th Apr
                },
                error: function () {
                    //hideSpinner(); //Siva on 5th Apr
                    alert("@Resources.Common_unableToProcess");
                }
            });
    }
</script>
<body>
	<div class="ArchiveVendor_Content" >
               
                    <div class="contentSub">
                        <div class="vendorArchiveddetailsMain">
                           @if (!@Session["RoleName"].ToString().Equals("Admin"))
                           {
                                <div class="vendorArchivedDetails">
                               
                                <div class="versionBar">
                                    <div class="versionBarHeader">
                                        <table width="709px;" >
                                            <tr>
                                                <td width="80%">@Resources.Reviews_Label_MyEvaluations</td>
                                                
                                                <td style="width:20px">
                                                    <img src="~/images/expandlist.png" style="margin-right:5px;cursor:pointer;" class="ExpandListButton"> 
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
        
                                </div>

                                <div class="versionDataMain" style=" display:none;">
                                 @foreach (var VendorReview in (List<VendorReviewInputViewModel>)@Model.VendorReviews)
                                 {
                                     if (@Session["UserId"].Equals(@VendorReview.InputUserId))
                                     {
                                    <div class="rowIST">
                            <div class="ratingDetails">
                            	 <div class="page-subtitle">
                            		<h3>
                                        @try
                                        {
                                            @: @VendorReview.InputUserName
                                        }
                                        catch
                                        { 
                                            @: @VendorReview.InputUserEmail     
                                        }
                                    </h3>
                           		</div><!--page-subtitle-->
                                <div class="star">
                                		<label>@VendorReview.UserRating</label>
                                       
                                        @for (int i = 0; i < Math.Floor(@VendorReview.UserRating); i++)
                                        {
                                		   <img src="~/images/star_blue.png" />
                                        }
                                        @if (@VendorReview.UserRating - Math.Floor(@VendorReview.UserRating) == 0)
                                        {
                                            for (int i = 0; i < 3 - Math.Floor(@VendorReview.UserRating); i++)
                                            {
                                              <img src="~/images/star_ash.png" />
                                            }
                                        }
                                        else
                                        {
                                            <img src="~/images/star_bluehalf.png" />
                                            for (int i = 0; i < 2 - Math.Floor(@VendorReview.UserRating); i++)
                                            {
                                                 <img src="~/images/star_ash.png" />
                                            }
                                        }
                                </div><!--star-->
                                @if (@VendorReview.ReviewDate != null)
                                {
                                <div class="commentDate">
                                	<Date>@String.Format("{0:dddd, MMMM d, yyyy}", @VendorReview.ReviewDate)</Date>
                                </div><!--commentDate-->
                                }
                                <p>@VendorReview.Comments</p>
                            </div><!--rating-->
                            <table width="100%" cellpadding="10">
                                <tr>
                                    <td width="90%"><a 
                                                       @if (!@ViewBag.IsEvaluationExpired) {
                                                            @: href="#" 
                                                          }
                                                       else {
                                                            @: href="../AdminVendors/ScoreCard?VendorReviewInputId=@VendorReview.VendorReviewInputId&SelectedVendorId=@Model.VendorId&PreQualificationId=@Model.PqId &TemplateSectionID=-1&mode=0&buId=@Model.BuId"
                                                       }
                                                       >@Resources.Reviews_MoreRating_Link_Text</a>

                                    </td>
                                    <td width="10%" align="right">
                                        <img style="cursor:pointer;" src="../images/DelButton.png" onclick="DeleteReview(@VendorReview.VendorReviewInputId)"/>
                                    </td>
                                </tr>
                            </table>
                         </div>
                                     
                        }
                    }
                </div>
                                      
            </div>   
                            
            }
            <div class="vendorArchivedDetails">
                                    
                <div class="versionBar">
                    <div class="versionBarHeader">
                        <table width="709px;" >
                            <tr>
                                <td width="80%">@Resources.Reviews_Label_OtherEvaluations</td>
                                                
                                <td style="width:20px">
                                    <img src="~/images/expandlist.png" style="margin-right:5px;cursor:pointer;" class="ExpandListButton"> 
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                                <div class="versionDataMain" style=" display:none;">
                                 @foreach (var VendorReview in (List<VendorReviewInputViewModel>)@Model.VendorReviews)
                                 {
                                      if (!@Session["UserId"].Equals(@VendorReview.InputUserId))
                                      {
                                    <div class="rowIST">
                            <div class="ratingDetails">
                            	 <div class="page-subtitle">
                            		<h3>
                                        @try
                                        {
                                            @: @VendorReview.InputUserName
                                        }
                                        catch
                                        { 
                                            @: @VendorReview.InputUserEmail
                                        }
                                    </h3>
                           		</div><!--page-subtitle-->
                                <div class="star">
                                		<label>@VendorReview.UserRating</label>
                                       
                                        @for (int i = 0; i < Math.Floor(@VendorReview.UserRating); i++)
                                        {
                                		   <img src="~/images/star_blue.png" />
                                        }
                                        @if (@VendorReview.UserRating - Math.Floor(@VendorReview.UserRating) == 0)
                                        {
                                            for (int i = 0; i < 3 - Math.Floor(@VendorReview.UserRating); i++)
                                            {
                                              <img src="~/images/star_ash.png" />
                                            }
                                        }
                                        else
                                        {
                                            <img src="~/images/star_bluehalf.png" />
                                            for (int i = 0; i < 2 - Math.Floor(@VendorReview.UserRating); i++)
                                            {
                                                 <img src="~/images/star_ash.png" />
                                            }
                                        }
                                </div><!--star-->
                                @if (@VendorReview.ReviewDate != null)
                                {
                                <div class="commentDate">
                                	<Date>@String.Format("{0:dddd, MMMM d, yyyy}", @VendorReview.ReviewDate)</Date>
                                </div><!--commentDate-->
                                }
                                <p>@VendorReview.Comments</p>
                            </div><!--rating-->
                             
                                        <a  href="../AdminVendors/ScoreCard?VendorReviewInputId=@VendorReview.VendorReviewInputId&SelectedVendorId=@Model.VendorId&PreQualificationId=@Model.PqId &TemplateSectionID=-1&mode=0&buId=@Model.BuId">@Resources.Reviews_MoreRating_Link_Text</a>
                                   
                         </div>
                        }
                    }
            </div>                         
        </div>                               
    </div>
</div>
                <div class="pageFooterContent"> 
        @*<div class="pageFooterButtons">
            <button type = "submit" id="s" class="PageFooter_Button">Save & Continue</button>
        </div>*@
        <div class="pageFooterCancelButton"><a href="../AdminVendors/VendorDetails?SelectedVendorId=@Model.VendorId&PreQualificationId=@Model.PqId&TemplateSectionID=-1&mode=0&buId=@Model.BuId">@Resources.Common_Cancel</a></div>
    </div>
                
            </div>
</body>
</html>
