﻿@model FVGen3.Domain.Entities.LocalScoreCard
@using AhaApps.Libraries.Extensions
@using Resources
@{
    ViewBag.Title = "ScoreCard";
    Layout = "~/Views/Shared/_ScoreCardLayout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/prequalificationdynamic.css" />

    <script src="@Url.Content("~/js/jquery-1.9.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    @Styles.Render("~/css/appPopUp.css")
    @Styles.Render("~/css/appInnerPages.css")
    @Scripts.Render("~/js/common.js")
    @Styles.Render("~/css/appAssociatedPages.css")
    <script src="~/js/autoNumeric.js"></script>
    <link rel="stylesheet" href="@Url.Content("~/Content/Site.css")" />
    <style>
        .alertstarmod {
            float: right;
            color: #e81f25;
            line-height: 1em;
            margin: -13px 35px 0px 0px;
            font-size: 14px;
        }

        .alertstarcomment {
            float: right;
            color: #e81f25;
            line-height: 1em;
            margin: -2px 54px 0px 0px;
            font-size: 15px;
        }
    </style>

    <script src="~/Scripts/jquery-ui.js"></script>
    <link rel="stylesheet" href="~/css/jquery-ui.css" />
</head>
<script type="text/javascript">


    $(document).ready(function () {
        $("form").submit(function () {
            var valid = true;
            $(this).find("#Rate").find(".ctrlDivRow").each(function () {
                $(this).find(".divCtrl").each(function () {
                    if ($(this).attr("data-return") == "True" && $(this).find('input[type="radio"]:checked').val() === undefined) {
                        $(this).closest(".ctrlDivRow").find("#star").show();
                        valid = false;
                    }
                    else {
                        $(this).closest(".ctrlDivRow").find("#star").hide();
                    }
                })

            })
            return valid;
        });


        $('form :input').each(function () {

            if ($(this).attr('type') == "datetime") {
                $(this).datepicker();

                $(this).attr("readonly", "readonly");

            }

        });
        if ('@Session["UserId"]' != '@Model.EvaluatedBy') {
            $('form :input[isEditable!=true]').each(function() {
                $(this).attr("disabled", "disabled");
            });
            if ('@Model.LocalVendorReviewSection.Any(rec => rec.IsEditable).ToString().ToLower()'==='false'){
            $("#s").hide();
            }
        }

        $("#ProjectLocation").hide();
        $("#ContractWONumber").hide();

        $("#annual").change(function () {
            $("#ProjectLocation").hide();
            $("#ContractWONumber").hide();
        });
        $("#biannual").change(function () {
            $("#ProjectLocation").hide();
            $("#ContractWONumber").hide();
        });
        $("#project").change(function () {
            $("#ProjectLocation").show();
            $("#ContractWONumber").show();
        });
        if ('@Model.ReviewType' == 1) {
            $("#ProjectLocation").show();
            $("#ContractWONumber").show();
        }

    });

</script>


<body>
    @using (@Html.BeginForm())
    {
        @Html.HiddenFor(rec => rec.CanUserEdit, new { @isEditable = "true" });
        <div class="contentSub evaluated">
            <div class="page-subtitle">
                <h2><b>@Model.VendorName</b> @Resources.ScoreCard_Heading</h2>
            </div><!--page-title-->
            <div class="performance">
                <p>@Resources.ScoreCard_Message1</p>
                <table>
                    <tr>
                        <th><span>N/A</span>@Resources.Common_NotApplicable</th>
                        <th><span>1</span>@Resources.ScoreCard_Heading_Improvement</th>
                        <th><span>2</span>@Resources.ScoreCard_Heading_MeetsRequirements</th>
                        <th><span>3</span>@Resources.ScoreCard_Heading_AboveAverage</th>
                    </tr>
                </table>
                <p>
                    @Resources.Scorecard_Result_Message1 <b>@Resources.Scorecard_Result_Message2</b>
                </p>
            </div>
        </div><!--contentSub-->

        <div class="contentSub evaluated">
            <div class="subsectionHeader">
                <h3>@Resources.ScoreCard_Heading_Section1</h3>
            </div><!--subsectionHeader-->
            <div class="ctrlDivRow">
                <div class="divCtrl">
                    <label class="enableStar"><b>@Resources.ScorecardEvaluatedBy</b></label>
                </div><!--divCtrl-->
                <div class="divCtrl">
                    <select name="EvaluatedBy">
                        @foreach (var user in @ViewBag.EvaluatedBy)
                        {
                            <option value="@user.Value" selected="@user.Selected">@user.Text</option>
                        }
                    </select>
                </div><!--divCtrl-->
                <div class="alertStar">@Html.ValidationMessageFor(rec => rec.EvaluatedBy)</div>
            </div><!--ctrlDivRow-->
            <div class="ctrlDivRow">
                <div class="divCtrl">
                    <label><b>@Resources.ScorecardReviewType</b></label>
                </div><!--divCtrl-->
                <div class="divCtrl">
                    <div class="divCtrlFirst">
                        @Html.RadioButtonFor(rec => rec.ReviewType, "0", new { @id = "annual", @class = "classradio" })
                        <label for="annual">@Resources.ScorecardAnnual</label>
                    </div>
                    <div class="divCtrlSecond">
                        @Html.RadioButtonFor(rec => rec.ReviewType, "1", new { @id = "project", @class = "classradio" })
                        <label for="project">@Resources.ScorecardProject</label>
                    </div>
                    <div class="divCtrlSecond">
                        @Html.RadioButtonFor(rec => rec.ReviewType, "2", new { @id = "biannual", @class = "classradio" })
                        <label for="biannual">@Resources.Scorecard_biannual</label>
                    </div>
                </div><!--divCtrl-->
                <div class="alertStar">@Html.ValidationMessageFor(rec => rec.ReviewType)</div>
            </div><!--ctrlDivRow-->
            <div class="ctrlDivRow">
                <div class="divCtrl">
                    <label class="enableStar"><b>@Resources.ScorecardReviewDate</b></label>
                </div><!--divCtrl-->
                <div class="divCtrl">

                    @if (@ViewBag.IsEdit)
                    {
                        @Html.TextBoxFor(rec => rec.ReviewDate,new {@disabled="disabled", @Value = Model.ReviewDate.HasValue? Model.ReviewDate.Value.ToString("MM/dd/yyyy"): "" })


                        @Html.HiddenFor(rec => rec.ReviewDate)
                    }
                    else
                    {
                        @Html.EditorFor(rec => rec.ReviewDate, new { @id = "date", @readonly = "readonly", @class = "class_input" })
                    }
                </div><!--divCtrl-->
                <div class="alertStar">@Html.ValidationMessageFor(rec => rec.ReviewDate)</div>
            </div><!--ctrlDivRow-->
            <div class="ctrlDivRow" id="ProjectLocation">
                <div class="divCtrl">
                    <label class="enableStar"><b>@Resources.ScorecardProjectLocation</b></label>
                </div><!--divCtrl-->
                <div class="divCtrl">
                    @Html.TextBoxFor(rec => rec.ProjectLocation, new { @class = "class_input", @maxlength = "490" })
                </div><!--divCtrl-->
                <div class="alertstarmod">@Html.ValidationMessageFor(rec => rec.ProjectLocation)</div>
            </div><!--ctrlDivRow-->
            <div class="ctrlDivRow" id="ContractWONumber">
                <div class="divCtrl">
                    <label class="enableStar"><b>@Resources.ScorecardContractorWO</b></label>
                </div><!--divCtrl-->
                <div class="divCtrl">
                    @Html.TextBoxFor(rec => rec.ContractWONumber, new { @class = "class_input", @maxlength = "490" })
                </div><!--divCtrl-->
                <div class="alertstarmod">@Html.ValidationMessageFor(rec => rec.ContractWONumber)</div>
            </div><!--ctrlDivRow-->
        </div><!--contentSub-->


        <div class="contentSub evaluated" id="Rate">
            <div class="subsectionHeader">
                <h3>@Resources.ScoreCard_Heading_Section2</h3>
            </div><!--subsectionHeader-->
            <div class="commentsItalic">
                <p>@Resources.ScoreCard_RateCategories</p>
            </div>
            @for (int i = 0; i < @Model.VendorReviews.Count; i++)
            {
                @Html.HiddenFor(rec => rec.VendorReviews[i].VendorReviewQuestionId);
                @Html.HiddenFor(rec => rec.VendorReviews[i].QuestionString);
                
                <div class="ctrlDivRow">
                    <div class="divCtrl">
                        @if (@Model.VendorReviews[i].QisMandatory == true)
                        {
                            <label class="enableStar"><b>@Model.VendorReviews[i].QuestionString</b></label>
                        }
                        else
                        {
                            <label><b>@Model.VendorReviews[i].QuestionString</b></label>
                        }
                    </div><!--divCtrl-->

                    <div class="divCtrl" data-return='@Model.VendorReviews[i].QisMandatory'>
                        <div class="divCtrlThird">
                            @Html.RadioButtonFor(rec => rec.VendorReviews[i].Rating, "0", new { @id = "N/A_" + @Model.VendorReviews[i].VendorReviewQuestionId, @class = "classradio" })
                            <label for="N/A_@Model.VendorReviews[i].VendorReviewQuestionId">N/A</label>

                        </div>
                        <div class="divCtrlFourth">
                            @Html.RadioButtonFor(rec => rec.VendorReviews[i].Rating, "1", new { @id = "one_" + @Model.VendorReviews[i].VendorReviewQuestionId, @class = "classradio" })
                            <label for="one_@Model.VendorReviews[i].VendorReviewQuestionId">1</label>

                        </div>
                        <div class="divCtrlFifth">
                            @Html.RadioButtonFor(rec => rec.VendorReviews[i].Rating, "2", new { @id = "two_" + @Model.VendorReviews[i].VendorReviewQuestionId, @class = "classradio" })
                            <label for="two_@Model.VendorReviews[i].VendorReviewQuestionId">2</label>

                        </div>
                        <div class="divCtrlSixth">
                            @Html.RadioButtonFor(rec => rec.VendorReviews[i].Rating, "3", new { @id = "three_" + @Model.VendorReviews[i].VendorReviewQuestionId, @class = "classradio" })
                            <label for="three_@Model.VendorReviews[i].VendorReviewQuestionId">3</label>
                        </div>
                    </div><!--divCtrl-->
                    <div class="alertStar">@Html.ValidationMessageFor(rec => rec.VendorReviews[i].Rating)</div>
                    @if (@Model.VendorReviews[i].QisMandatory == true)
                    {
                        <div class="alertstarmod" style="display:none" id="star">*</div>
                    }
                </div><!--ctrlDivRow-->

            }
        </div><!--contentSub-->

        
        <div class="contentSub evaluated">
            <div class="subsectionHeader">
                <h3>Section III</h3>
            </div><!--subsectionHeader-->
            <div class="ctrlDivRow">                
                @for (int i = 0; i < @Model.LocalVendorReviewSection.Count; i++)
                {
                    @Html.HiddenFor(rec => rec.LocalVendorReviewSection[i].Id, new { @isEditable = "true" })
                    if (@Model.LocalVendorReviewSection[i].SectionHeader != null)
                    {
                        <div class="ctrlDivRow">
                            <div class="divCtrl">
                                <label><b>@Model.LocalVendorReviewSection[i].SectionHeader</b></label>
                            </div><!--divCtrl-->
                        </div>
                    }
                    if (@Model.LocalVendorReviewSection[i].HasQuestion == true)
                    {
                        <div class="ctrlDivRow">
                           
                                <div class="divCtrl">
                                    <label><b>@Model.LocalVendorReviewSection[i].QuestionText</b></label>
                                </div>
                                <!--divCtrl-->
                                @Html.HiddenFor(rec => rec.LocalVendorReviewSection[i].IsEditable, new { @isEditable = "true" })
                                @if (@Model.LocalVendorReviewSection[i].QuestionTypeID == 4)
                                {
                                    <div class="divCtrl">
                                        @Html.TextAreaFor(rec => rec.LocalVendorReviewSection[i].Answers, new { @isEditable = @Model.LocalVendorReviewSection[i].IsEditable.ToString().ToLower() })
                                    </div>
                                }
                                @if (@Model.LocalVendorReviewSection[i].QuestionTypeID == 7)
                                {
                                    <div class="divCtrl">
                                        @foreach (var splitdata in @Model.LocalVendorReviewSection[i].Options.Split('|'))
                                        {
                                            if (splitdata == "Yes")
                                            {
                                                <div class="divCtrlThird">
                                                    @Html.RadioButtonFor(rec => rec.LocalVendorReviewSection[i].Answers, "1", new { @isEditable = @Model.LocalVendorReviewSection[i].IsEditable.ToString().ToLower() })
                                                    <label>@Resources.Common_Label_Yes</label>
                                                </div>
                                            }
                                            if (splitdata == "No")
                                            {
                                                <div class="divCtrlFourth">
                                                    @Html.RadioButtonFor(rec => rec.LocalVendorReviewSection[i].Answers, "0", new { @isEditable = @Model.LocalVendorReviewSection[i].IsEditable.ToString().ToLower() })
                                                    <label>@Resources.Common_Label_No</label>
                                                </div>
                                            }
                                        }

                                    </div>
                                }
                            
                        </div>
                    }
                }          
            </div><!--ctrlDivRow-->
        </div><!--contentSub-->


        @*<div class="contentSub evaluated">
            <div class="subsectionHeader">
                <h3>Section III</h3>
            </div><!--subsectionHeader-->
            <div class="ctrlDivRow">
                <div class="divCtrl">
                    <label><b>Do you recommend this vendor for future @ViewBag.VBClientName work?</b></label> @*Kiran on 09/01/2015 for SMI-152
                </div><!--divCtrl-->
                <div class="divCtrl">
                    <div class="divCtrlFirst">
                        @Html.RadioButtonFor(rec => rec.DoYouRecommend, true, new { @id = "Yes", @class = "classradio" })
                        <label for="Yes">Yes</label>
                    </div>
                    <div class="divCtrlSecond">
                        @Html.RadioButtonFor(rec => rec.DoYouRecommend, false, new { @id = "No", @class = "classradio" })
                        <label for="No">No</label>
                    </div>
                </div><!--divCtrl-->
                <div class="alertStar">@Html.ValidationMessageFor(rec => rec.DoYouRecommend)</div>
            </div><!--ctrlDivRow-->
            <div class="ctrlDivRow">
                <div class="divCtrl">
                    <label><b>@Resources.ScorecardComments</b></label>
                </div><!--divCtrl-->
                <div class="divCtrl">
                    @Html.TextAreaFor(rec => rec.Comments, new { @class = "classTextarea", @maxlength = "490" })
                    @*<textarea class="classTextarea"></textarea>
                </div><!--divCtrl-->
                <div class="alertstarcomment">@Html.ValidationMessageFor(rec => rec.Comments)</div>
            </div><!--ctrlDivRow-->
        </div><!--contentSub-->*@


        if (@ViewBag.ViewSource == 0 || @Model.LocalVendorReviewSection.Any(rec=>rec.IsEditable))
        {
            <div class="pageFooterContent">
                <table>
                    <tr>
                        <td>
                            <div class="pageFooterButtons">
                                <button type="submit" id="s" class="PageFooter_Button" iseditable='@(Model.LocalVendorReviewSection.Any(rec => rec.IsEditable).ToStringNullSafe().ToLower())'>@Resources.Common_Button_SaveContinue_Text</button>
                            </div>
                            </td><td>
                            <div class="pageFooterCancelButton">
                                <a href="../AdminVendors/VendorDetails?SelectedVendorId=@Model.SelectedVendorId&PreQualificationId=@Model.PreQualificationId&TemplateSectionID=-1&mode=0&buId=@Model.buid">@Resources.Common_Cancel</a>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        }
        else
        {
            <div class="pageFooterContent">
                <div class="pageFooterCancelButton"><a href="../AdminVendors/MyContractorEvaluations">@Resources.Common_Continue</a></div>
                </div>
        }




    }
</body>
</html>
