﻿<!--
Page Created Date:  04/08/2015
Created By: Kiran Talluri   
Purpose:To display the status logs history
Version: 1.0
-->

@using FVGen3.Domain.LocalModels;
@using Resources;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Resources.VendorDetails_StatusHistory</title>
    @Styles.Render("~/css/appPopUp.css")
    @Styles.Render("~/css/appInnerPages.css")
    @Scripts.Render("~/js/common.js")
</head>
<body>
   <div class="popUpContainer">
        <div class="popUpContent">
            <div class="popUpSubContent">
                <div class="statusHistory">
                    <table>
                        <tr>
                            <th>@Resources.Common_Date</th>
                            <th>@Resources.Common_Status</th>
                            <th>@Resources.Common_Label_ChangedBy</th>
                        </tr>
                        @foreach (var status in (IEnumerable<StatusHistoryLog>)@ViewBag.VBStatusHistory)
                        { 
                            <tr>
                                <td>@status.StatusChangeDate</td>
                                <td>@(string.IsNullOrEmpty(@status.SiteName)?"":@status.SiteName + " - ") @status.PrequalificationStatusName</td>
                                <td>
                                    @try
                                    {
                                        @: @status.ChangedBy
                                    }
                                    catch 
                                    { 
                                        
                                    }
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
