﻿@{
    Layout = null;
}
@using Resources;
@model List<FVGen3.Domain.LocalModels.QuestionAndAnswers>
@if (Model.Any())
{
    <div class="contentSub">
        <table class="vendorComments">
            <tr>
                <td class="section-heading">
                    <h2>@Resources.Questions</h2>
                </td>

            </tr>
        </table>
        <div class="vendorDetailsTableLeft">
            <table>
                @foreach (var a in Model)
                {
                    <tr>
                        <td class="itemHeader">@a.QuestionName</td>
                        <td>@string.Join(",", a.Answers)</td>
                    </tr>
                }
            </table>
        </div>
    </div>
}
