﻿<!--
Page Created Date:  09/03/2014
Created By: Kiran Talluri
Purpose: To display the comments along with emails
Version: 1.0
****************************************************
-->

@using Resources;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Resources.Vendor_Comments_Partial_View_Heading</title>
</head>
<body>
    <div>
        <div class="contentSub"><!------------Starts Comments---------->
            <table class="vendorComments">
                <tr>
                    <td class="section-heading">
                        <h2>@Resources.Common_Comments</h2>
                    </td>
                    <td valign="top">
                        @*@if (@Session["RoleName"].ToString() == "Admin")//Kiran on 2/2/2015
                        {*@
                            <button  type="button" onclick = "openWindow()" btnType="Insert">@Resources.Common_AddNew</button>
                        @*}*@
                    </td>   
                </tr>
             </table>
             @* kiran on 9/1/2014 *@
             <table class="vendorComments">       
                <tr>
                    <td width="100"><strong>@Resources.VendorComments_Partial_Heading_CommentsBy</strong></td>
                    <td width="150"><strong>@Resources.Common_Date</strong></td>
                    <td width="300"><strong>@Resources.Common_Comments</strong></td>
                    <td width="10"></td>
                    <td width="10"></td>
                </tr>
                @if (ViewBag.VBNotifications != null)
                {
                    //List<FVGen3.Domain.Entities.OrganizationsNotificationsEmailLogs> notifications = new List<FVGen3.Domain.Entities.OrganizationsNotificationsEmailLogs>();
                    //foreach (var notification in (List<FVGen3.Domain.Entities.OrganizationsNotificationsSent>)ViewBag.VBNotifications)
                    //{
                    //    notifications.AddRange(notification.OrganizationsNotificationsEmailLogs.ToList());
                    //}
                    //foreach (var emailOrComment in notifications.Where(m => m.PrequalificationId == ViewBag.VBprequalificationID).OrderByDescending(m => m.EmailSentDateTime).ToList())
                    //{
                    foreach (var emailOrComment in (IEnumerable<dynamic>)ViewBag.VBNotifications)
                     {
                           if (emailOrComment.Comments == null || @emailOrComment.Comments.Equals(""))
                        {
                            continue;
                        }
    		                <tr class="VendorDetails_Comments_tr">
		                        <td><a href="#!" title=" <b> @Resources.Common_Label_Email </b> @emailOrComment.UserEmail &lt;br&gt; <b>@Resources.Common_Label_Phone</b> @emailOrComment.UserContact "> @emailOrComment.Name</a></td>
                                <td>@emailOrComment.EmailSentDateTime.ToShortDateString(), @emailOrComment.EmailSentDateTime.ToShortTimeString()</td>
    			                <td><em>@emailOrComment.Comments</em></td>
                                @*Kiran on 09/18/2015*@
                                @if(@emailOrComment.SetupType == 2)//Kiran on 1/7/2015 
                               {
                                    //if (@emailOrComment.NotificationType == 1)
                                    //{
                                        //Kiran on 12/10/2014
                                        // Kiran on 02/02/2015 as mentioned by rick in various emails(12/0514, 01/31/15)
                                        //if (@Session["RoleName"].ToString().Equals("Admin"))//Kiran on 2/2/2015
                                        {
                                            <td><img src="~/images/edit.png" onclick="openComments('@emailOrComment.PrequalificationId', '@emailOrComment.EmailRecordId')" btnType="Update"/></td>  
                                            //if (@emailOrComment.NotificationType == 1)
                                            //{
                                                <td><img class="imgCursor" src="~/images/DelButton.png" btnType = "Delete" onclick="deleteComment('@emailOrComment.EmailRecordId')" /></td>
                                            //}
                                        }
                                        // Ends<<<
                                    //}
                                }
    		                </tr>
                    }
                }
                else
                {
                    <tr class="VendorDetails_Comments_tr">
                        <td class="commentsItalic">
                            @Resources.Common_NoRecords
                        </td>
                    </tr>
                }

            </table>
            @*Ends<<<*@

        </div>
        <!------------End of the Vendor Details Comments---------->
    </div>
</body>
</html>
