﻿<!--
 *****************************************************
Page Created Date:  05/25/2013
Created By: Suma J
Purpose:Serch Vendor
Version: 1.0
****************************************************
-->

@using FVGen3.Domain.Entities;
@model FVGen3.Domain.Entities.LocalSearchVendors
@using Resources

@{
    ViewBag.Title = Resources.VendorSerach_Str;
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml"; 
 }


<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    

 
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <title>@Resources.Vendor_Search_Advanced_Heading</title>
        <meta name="description" content="Client Dashboard - First, Verify"/>
        <meta name="viewport" content="width=device-width"/>
        @Styles.Render("~/css/appReports.css")

        @Scripts.Render("~/Scripts/FVHelpers.js")
  
    <script src="../js/jquery-1.10.3.js"></script>
    
    <script src="~/Scripts/kendo/kendo.all.min.js"></script>    
    <link href="~/css/kendo/kendo.default.min.css" rel="stylesheet" />
    <link href="~/css/kendo/kendo.common.min.css" rel="stylesheet" />
    <link href="~/css/kendo/kendo.default.mobile.min.css" rel="stylesheet" />
    <script src="~/Scripts/Application/VendorRegistration.js"></script>
        <script>
            //function PopulateStateDropdown() {
            //    var vendorid = $("#Name").val();
            //    var Country = $("#VendorCountries").val();
            //    alert(vendorid);
            //    FVHelper.PopulateStateDropdown($('#vendorState'), vendorid, "Not Applicable", true);
            //}
         
            //=================SUMA===================
            $(document).ready(function() {
               
                //$('.container').bind('keypress', function (e) {
                $(document).bind('keypress',
                    function(e) {
                        if (e.keyCode == 13) {
                            $("#search").click();
                        }
                    });
               
                setPermissions('@ViewBag.ViewPermissions');

               // PopulateStateDropdown();
              VendorRegistration.GetCountryStates($("#Name").val(), false, $('#vendorState'));

                var Dropdownscope = $("#Name").val();
                //$("#searchType").attr('checked', true);
                $("#periodVal").attr('checked', true);
                $("#firstLetter").attr('checked', true);
                $(".firstLetter table").attr("class", "alphaCharacterUnSelected");


                $(".Name").click(function () {
                    $("#vendorName").show();
                    $(".firstLetter").hide();
                    $(".Advanced").hide();
                    $("#searchType").attr('value', "Name");
                    $(".Vsearch-name").css("color", "#550204");
                    $(".Vsearch-FirstLetter ").css("color", "#6a95c5");
                    $(".Vsearch-advance").css("color", "#6a95c5");

                    $("#buttonTabOne").removeClass("selectedTab");
                    $("#buttonTabOne").removeClass("unSelectedTab");
                    $("#buttonTabTwo").removeClass("selectedTab");
                    $("#buttonTabTwo").removeClass("unSelectedTab");
                    $("#buttonTabThree").removeClass("selectedTab");
                    $("#buttonTabThree").removeClass("unSelectedTab");
                    $("#buttonTabFour").removeClass("selectedTab");
                    $("#buttonTabFour").removeClass("unSelectedTab");

                    $("#buttonTabOne").addClass("selectedTab");
                    $("#buttonTabTwo").addClass("unSelectedTab");
                    $("#buttonTabThree").addClass("unSelectedTab");
                    $("#buttonTabFour").addClass("unSelectedTab");

                });

                $(".FirstName").click(function () {
                    $("#vendorName").hide();
                    $(".firstLetter").show();
                    $(".Advanced").hide();
                    $("#searchType").attr('value', "FirstLetter");
                    $(".Vsearch-name").css("color", "#6a95c5");
                    $(".Vsearch-FirstLetter").css("color", "#550204");
                    $(".Vsearch-advance").css("color", "#6a95c5");

                    $("#buttonTabOne").removeClass("selectedTab");
                    $("#buttonTabOne").removeClass("unSelectedTab");
                    $("#buttonTabTwo").removeClass("selectedTab");
                    $("#buttonTabTwo").removeClass("unSelectedTab");
                    $("#buttonTabThree").removeClass("selectedTab");
                    $("#buttonTabThree").removeClass("unSelectedTab");
                    $("#buttonTabFour").removeClass("selectedTab");
                    $("#buttonTabFour").removeClass("unSelectedTab");

                    $("#buttonTabOne").addClass("unSelectedTab");
                    $("#buttonTabTwo").addClass("selectedTab");
                    $("#buttonTabThree").addClass("unSelectedTab");
                    $("#buttonTabFour").addClass("unSelectedTab");


                });
                //$(".ERI").click(function () {
                //    $("#vendorName").hide();
                //    $("#client").hide();
                //    $(".firstLetter").hide();
                //    $(".Advanced").hide();
                //    $("#searchType").attr('value', "FirstLetter");
                //    $(".Vsearch-name").css("color", "#6a95c5");
                //    $(".Vsearch-FirstLetter").css("color", "#550204");
                //    $(".Vsearch-advance").css("color", "#6a95c5");

                //    $("#buttonTabOne").removeClass("selectedTab");
                //    $("#buttonTabOne").removeClass("unSelectedTab");
                //    $("#buttonTabTwo").removeClass("selectedTab");
                //    $("#buttonTabTwo").removeClass("unSelectedTab");
                //    $("#buttonTabThree").removeClass("selectedTab");
                //    $("#buttonTabThree").removeClass("unSelectedTab");
                //    $("#buttonTabFour").removeClass("selectedTab");
                //    $("#buttonTabFour").removeClass("unSelectedTab");

                //    $("#buttonTabOne").addClass("unSelectedTab");
                //    $("#buttonTabTwo").addClass("unSelectedTab");
                //    $("#buttonTabThree").addClass("unSelectedTab");
                //    $("#buttonTabFour").addClass("selectedTab");


                //});
                $(".ADdvance").click(function () {
                    //$("#searchVendorResults_block_id").hide();
                    $("#vendorName").show();
                    $(".firstLetter").hide();
                    $(".Advanced").show();
                    $("#searchType").attr('value', "Advanced");
                    $(".Vsearch-name").css("color", "#6a95c5");
                    $(".Vsearch-FirstLetter ").css("color", "#6a95c5");
                    $(".Vsearch-advance").css("color", "#550204");

                    $("#buttonTabOne").removeClass("selectedTab");
                    $("#buttonTabOne").removeClass("unSelectedTab");
                    $("#buttonTabTwo").removeClass("selectedTab");
                    $("#buttonTabTwo").removeClass("unSelectedTab");
                    $("#buttonTabThree").removeClass("selectedTab");
                    $("#buttonTabThree").removeClass("unSelectedTab");
                    $("#buttonTabFour").removeClass("selectedTab");
                    $("#buttonTabFour").removeClass("unSelectedTab");

                    $("#buttonTabOne").addClass("unSelectedTab");
                    $("#buttonTabTwo").addClass("unSelectedTab");
                    $("#buttonTabThree").addClass("selectedTab");
                    $("#buttonTabFour").addClass("unSelectedTab");


                    var scopeId = $("#Name").val();
                    //alert(scopeId + " Hsi");
                    $('#Subsite').empty();
                    siteDetails(scopeId);
                    // Added on 10/02/2013 by Kiran Talluri
                    getBiddingOrProficiencyDetails(scopeId);
                    templatesList(scopeId);
                    VendorSearch.populateClientContractType();
                    // Ends<<<

                });

                //  $("#client").change(function () {
                $("#client").change(function () {
                    //alert($("#Name").Text());
                    var search = $("#searchType").val();
                    //alert(search + "");
                    if (search == "Advanced") {
                        var scopeId = $("#Name").val();
                        //alert(scopeId + " Hsi");
                        $('#Subsite').empty();
                        $('#GeographicArea option:selected').attr("selected", false);
                        siteDetails(scopeId);
                        // Added on 10/02/2013 by Kiran Talluri
                        getBiddingOrProficiencyDetails(scopeId);
                       // PopulateStateDropdown();
                        VendorRegistration.GetCountryStates($("#Name").val(), false, $('#vendorState'));
                        templatesList(scopeId);
                        VendorSearch.populateClientContractType();
                        // Ends<<<


                    }

                });

               

                // Added on 10/02/2013 by Kiran Talluri
                function getBiddingOrProficiencyDetails(clientId) {
                    var ClientId = clientId;
                    $.ajax({
                        type: 'GET',
                        url: 'BiddingOrProficiencyResultsPartial',
                        data: 'ClientId=' + clientId,
                        success: function (data) {
                            $("#BiddingOrProficiencyResultsBlock_Id").html(data);
                            //$("#searchBlock_id").load(link);
                        },
                        error: function () {
                            console.trace();
                            alert("@Resources.Common_unableToProcess ");
                        }
                    });

                }
                // Ends<<<
                function templatesList(clientId) {

                    $.ajax({
                        type: 'Post',
                        url: 'getTemplatesList',
                        data: '&clientid=' + clientId,
                        success: function (data) {
                            $('#questionnaireType').empty();
                            var newOption = $('<option value="Any">@Resources.Common_DropdownValue_Any</option>');
                            $('#questionnaireType').append(newOption);
                            for (var i = 0; i < data.length; i++) {
                                //alert(data[i].Value);
                                var datasite = data[i].Text;
                                var datasiteId = data[i].Value;
                                //alert(data[i].Text);
                                newOption = $('<option value="' + datasiteId + '">' + datasite + '</option>');
                                $('#questionnaireType').append(newOption);
                                //alert(site + "");
                            }
                        },
                        error: function () {
                            console.trace();
                            alert("@Resources.Common_unableToProcess");
                        }
                    });

                }

                function siteDetails(id) {
                    // alert("Hai");
                    var BUnitId = id;
                    $.ajax({
                        type: 'Post',
                        url: 'BUnitDetails',
                        data: '&BUid=' + BUnitId,
                        success: function (data) {
                            $('#site').empty();
                            var newOption = $('<option value="Any">@Resources.Common_DropdownValue_Any</option>');
                            $('#site').append(newOption);
                            for (var i = 0; i < data.length; i++) {
                                //alert(data[i].Value);
                                var datasite = data[i].Text;
                                var datasiteId = data[i].Value;
                                //alert(data[i].Text);
                                newOption = $('<option value="' + datasiteId + '">' + datasite + '</option>');
                                $('#site').append(newOption);
                                //alert(site + "");
                            }
                        },
                        error: function () {
                            console.trace();
                            alert("@Resources.Common_unableToProcess");
                        }
                    });
                }


                $("#site").change(function () {
                    var selectedsite = $("#site").val();
                    //var selectedSubsite = $("#Subsite").val();
                    //alert(selectedsite + "");
                    if (selectedsite == "Any") selectedsite = 1;
                    subSiteDetails(selectedsite);
                });

                $("#Subsite").change(function () {
                    var selectedSubsite = $("#Subsite").val();
                });

                $('#spinner').click(function (e) {
                    $(".spinnerOverlay").show();
                    //alert('Search');
                    e.preventDefault();
                    $('.importSubmitSpinner').show();
                });


            });   //End of Document.ready

            function subSiteDetails(Subid) {
                debugger;
         var BUnitSId = Subid;
         $.ajax({
             type: 'Post',
             url: 'BUSiteDetails',
             data: 'BUSiteid=' + BUnitSId,
             success: function (data) {
                 $('#Subsite').empty();
                 var newOption = $('<option value="Any">@Resources.Common_DropdownValue_Any</option>');
                 $('#Subsite').append(newOption);
                 for (var i = 0; i < data.length; i++) {
                     var datasite = data[i].Text;
                     var datasiteId = data[i].Value;
                     newOption = $('<option value="' + datasiteId + '">' + datasite + '</option>');
                     $('#Subsite').append(newOption);
                     //alert(site + "");
                 }
             },
             error: function () {
                 console.trace();
                 alert("@Resources.Common_unableToProcess");
             }
         });

     }


     function clickaddclass(a) {
         //alert('hi');
         $(".firstLetter table tr td label").attr("class", "alphaCharacters");
         $(a).attr("class", "alphaCharacterSelected");
         $("#firstLetterVal").attr('value', $(a).attr('alphabet'))
     }

     function deleteVendor(Vid) {
         var checkstr = confirm('@Resources.Common_ConfirmBox_delete_message');
         if (checkstr == true) {
             // do your code
             deleteConfirm(Vid);
         } else {
             return false;
         }
     }
     function deleteConfirm(Vid) {
         //alert("success");
         
         $.ajax({
             type: 'POST',
             url: 'VendorDeleteConfirm',
             data: 'selectedVendorId=' + Vid,
             success: function (data) {
                 //alert("Delete success");
                 //$("#searchVendorResults_block_id").html(data);
                 searchVendor('~/AdminVendors/VendorSearch');
             },
             error: function () {
                 console.trace();
                 alert("@Resources.Common_ErrorMessage_CouldNotDeleteVendor ");
             }
         });
     }

   </script>
    <style>
        .alphaCharacterSelected {
            float: left;
            width: 34px;
            height: 34px;
            line-height: 2.5em;
            text-align: center;
            background: #fff;
            border: 1px solid #ccc;
            cursor: pointer;
            font-weight: bold;
            color: #fff;
            background-color: #1f83bc!important;
        }

        .alphaCharacterUnSelected {
            float: left;
            width: 34px;
            height: 34px;
            line-height: 2.5em;
            text-align: center;
            background: transparent;
            /*border: 1px solid #ccc;*/
            cursor: pointer;
            font-weight: bold;
            color: #6a95c5;
            
        }
    </style>

@*<style>

.alphaCharacterSelected {
	         float:left;
             width:34px; 
			 height:34px; 
			 line-height:2.5em; 
			 text-align:center; 
			 background:#fff; 
             border:1px solid #ccc;
			 cursor:pointer; 
			 font-weight:bold;
			 color:#fff; 
			 background-color:#000;}
			 
.alphaCharacterUnSelected 
{
	         float:left;
	         width:34px; 
			 height:34px; 
			 line-height:2.5em; 
			 text-align:center;
			 background:#fff; 
    		 border:1px solid #ccc;
			 cursor:pointer;
			 font-weight:bold; 
			 color:#6a95c5;
			 color:#000; }

</style>*@

<style type="text/css">
.Name
{ cursor:pointer;
}
.FirstName
{
cursor:pointer;
}
.ADdvance
{
cursor:pointer;
}
</style>


      <script type="text/javascript">

          function searchVendor1(lastpageurl) {
              debugger;
              kgrid.data('kendoGrid').dataSource.read(getParams());
              return;
            //$("#searchVendorResults_block_id").show();
            var venname = $("#VendorName").val();

           
            var period = "searchParticular"; 
            if ($("#VenSearch").is(":checked")) {
                period = "searchAll";
            }
            var sort = $("#sortType").val();
            var scope = $("#Name").val();
            var search = $("#searchType").val();
            var firstLetter = $("#firstLetterVal").val();
            var Country = $("#Country").val();
             var statusId = new Array();
            var bidInterest = new Array();
            var claycobidInterest = new Array();
            var proficiencyCapabilities = new Array();
            var productCategories = new Array();
            //var poststatusId = new Array();
            var Subsite = $("#Subsite").val();
            if (Subsite == null)
                Subsite = "";

            var Site = $("#site").val();
            if (Site == null)
                Site = "";
            var GeographicArea = $("#GeographicArea").val();
            if (GeographicArea != null) {
                GeographicArea = $("#GeographicArea").val().toString();
            }
          

            var clientvendorrefid = $("#ClientVendorRefId").val();
            var clientContractType = $("#contractType").val();
            var vendorState = $("#vendorState").val();
            var vendorCity = $("#vendorCity").val();
            var clientTemplateId = $("#questionnaireType").val();
            if (clientTemplateId == "Any")
                clientTemplateId = "";
//            $(".PreQuali input:checked").each(function () {
//                statusId.push($(this).attr('PreID'));
//            });

//            $(".BIscroll input:checked").each(function () {
//                bidInterest.push($(this).attr('BiddingID'));
//            });


            $("#PrequalStatus input:checked").each(function () {
                //alert("Hai in status");
                statusId.push($(this).attr('PreID'));
            });

            //alert("Selected status"+ ""+statusId);

            $("#BiddingInterests input:checked").each(function () {
                //alert("Hai in Bidding");
                bidInterest.push($(this).attr('BiddingID'));
            });
            $("#ClaycoBiddingInterests input:checked").each(function () {
                //alert("Hai in Bidding");
                claycobidInterest.push($(this).attr('BiddingID'));
            });
            $("#ProductCategories input:checked").each(function () {
                //alert("Hai in Product Categories");
                productCategories.push($(this).attr('ProductCategoryID'));
            });
            //alert("Selected Bidding" + "" + bidInterest);

            $("#ProficiencyCapabilities input:checked").each(function () {
                proficiencyCapabilities.push($(this).attr('ProficiencyId'));
            });

            //alert("Selected Proficiency" + "" + proficiencyCapabilities);


            $.ajax({
                type: 'POST',
                url: 'VendorSearchResultsPartialView',
                data: 'VendorName=' + encodeURIComponent(venname) + '&periodVal=' + period + '&sortType=' + sort + '&vendorCity=' + vendorCity + '&Country=' + Country + '&vendorState=' + vendorState + '&Subsite=' + Subsite
                 + '&clientId=' + scope + '&searchType=' + search + '&firstLetterVal=' + firstLetter + '&statusIdList=' + statusId + '&biddingIdList=' + bidInterest +'&claycoBiddingIdList=' + claycobidInterest
                 + '&proficiencyIdList=' + proficiencyCapabilities + '&clientTemplateid=' + clientTemplateId + '&clientvendorrefid=' + clientvendorrefid + '&Site=' + Site + '&clientContractId=' + clientContractType + '&productCategoryList=' + productCategories + '&GeographicArea=' + GeographicArea,
                success: function (data) {
                    if (data.indexOf("Session expired") >= 0) {
                        window.location = "../SystemUsers/Login?lastLoginPage=" + lastpageurl;
                    }
                    else {
                        $("#searchVendorResults_block_id").html(data);
                        $('.spinnerOverlay').hide();
                        $('.importSubmitSpinner').hide();
                    }
                },
                error: function () {
                    console.trace();
                    if (scope == '' || scope == null || scope == undefined) {
                        alert('@Resources.Common_PromptUser_Errormessage1');
                    }
                    else {
                        alert("@Resources.Common_unableToProcess");
                    }
                    $('.spinnerOverlay').hide();
                    $('.importSubmitSpinner').hide();
                }
            });
        }
    </script>
 
</head> 
        
<body>
 
 
<!--------------------------------Title------------------------->
<div class="contentSub">
    <div class="page-title">
        <h2>@Resources.Vendorsearch_titleVendorSearch</h2> 
    </div>

    <!--------------------------------Search Type------------------------->
    <div class="rowTabs"> 
        <label class="rowTabsLabel"></label>
        @*<table style="border-collapse:collapse; margin:0; padding:0;">
            <tr>
                <td>
                    <div class="selectedTab" id="buttonTabOne">
                    @Html.RadioButtonFor(m => m.searchType,"Name")
                    <label for="searchType" class="Name">@Resources.Vendorsearch_name</label>
                    </div>
                </td>
                <td>
                    <div class="unSelectedTab" id="buttonTabTwo">
                    @Html.RadioButtonFor(m => m.searchType, "FirstName")
                    <label for="searchType" class="FirstName">@Resources.Vendorsearch_FirstLetter</label>
                    </div>
                </td>
                <td>
                    <div class="unSelectedTab" id="buttonTabThree">
                    @Html.RadioButtonFor(m => m.searchType, "Advanced")
                    <label for="searchType" class="ADdvance">@Resources.Vendorsearch_Advanced</label>
                    </div>
                </td>
            </tr>
        </table>*@
        @*Srinivas by 16th, Dec-2013*@
        <table>  
            <tr>
                <td>
                    <div class="selectedTab" id="buttonTabOne">
                    @Html.RadioButtonFor(m => m.searchType,"Name")
                    <label for="searchType" class="Name">@Resources.common_Label_name_NoColon</label>
                    </div>
                </td>
                 <td>
                    <div class="unSelectedTab" id="buttonTabTwo">
                    @Html.RadioButtonFor(m => m.searchType, "FirstName")
                    <label for="searchType" class="FirstName">@Resources.Vendorsearch_FirstLetter</label>
                    </div>
                </td>
                 <td>
                    <div class="unSelectedTab" id="buttonTabThree" style="min-width:72px;">
                    @Html.RadioButtonFor(m => m.searchType, "Advanced")
                    <label for="searchType" class="ADdvance">@Resources.Vendorsearch_Advanced</label>
                    </div>
                </td>
                @*<td>
                    <div class="unSelectedTab" id="buttonTabFour" style="min-width:72px;">
                        @Html.RadioButtonFor(m => m.searchType, "ERI")
                        <label for="searchType" class="ERI">ERI</label>
                    </div>
                </td>*@
            </tr>
        </table>
        @*Ends <<< Srinivas by 16th, Dec-2013*@

    </div>

    <!--------------------------------Client Scope------------------------> 
    <div class="rowIST" id="client">
        <label>@Resources.Vendorsearch_ClientScope</label>
        @if (@ViewBag.VBOrglist != null)
        {
            @Html.DropDownListFor(model => model.Name, (IEnumerable<SelectListItem>)@ViewBag.VBOrglist)
        }
        @*@Html.DropDownListFor(model => model.clientScope, new SelectList(@ViewBag.list2))*@
    </div>
    
    <!--------------------------------Period------------------------->  
    @*<div class="rowGeneric" style="float:left;">
        <table>
            <tr >
                <td  valign="top"rowspan="2" style="width:286px; padding:0 10px 0 10px;">@Resources.Vendorsearch_Period</td>
                <td style="padding:0px 0px 15px 0px;"><input type="radio" id="VenSearch" name="vendorSearch" checked/>
                <label for="VenSearch">@Resources.Vendorsearch_selectAll</label></td>
            </tr>
            <tr>
                <td><input type="radio" id="VenSearch1" name="vendorSearch"/>
                    <label for="VenSearch1">@Resources.Vendorsearch_selectParticular</label></td>
            </tr>
        </table>
    </div>*@

    @*Srinivas on 16th, Dec-2013*@
    <div class="rowIST">   
        <label>@Resources.Common_Label_StatusPeriod</label>
        <table border="0">
            <tr>
                <td><input type="radio" id="VenSearch" name="vendorSearch" checked/></td>
                <td><label for="VenSearch">@Resources.Vendorsearch_selectAll</label></td>
            </tr>
            <tr>
                <td><input type="radio"id="VenSearch1" name="vendorSearch"/></td>
                <td><label for="VenSearch1" >@Resources.Vendorsearch_selectParticular</label></td>
            </tr>
        </table>
    </div>
    
    
    <!-----------------------------------Vendor Name------------------------------------------>
    <div class="rowGenericReports vendordetails-section clearfix" id="vendorName">

        <div class="section-heading">
            <h2>@Resources.Vendorsearch_vendorName</h2>
        </div>
        @Html.TextBoxFor(m => m.VendorName,new {@class = "rowGenericReportsSelect"})

    </div>

<!--------------------Vendor Search by FIRST Letter----------------------------------------------->
<!--------------------Vendor Search by FIRST Letter----------------------------------------------->
<!--------------------Vendor Search by FIRST Letter----------------------------------------------->


<div class="firstLetter vendordetails-section" style="display:none;">


        <label class="section-heading"><h2>@Resources.Vendorsearch_FirstLetter</h2></label>
         <table>
          @{string[] members = { "a", "b", "c", "d", "e", "f", "g", "h", "i", "j", "k", "l", "m", "n", "o", "p", "q", "r", "s", "t", "u", "v", "w", "x", "y", "z" };
}

           <tr>
            @for (int i = 0; i < 13; i++)
            {
               <td >

                  @Html.RadioButtonFor(m => m.firstLetterVal, @members[i], new { @alphabet = @members[i] })
                  <label class="alphaCharacters" onclick="clickaddclass(this)" for="firstLetterVal" alphabet = @members[i]>@members[i].ToUpper()</label>
               </td>
            }
            </tr>
               <tr>
                @for (int i = 13; i < 26; i++)
                {

                <td >

                  @Html.RadioButtonFor(m => m.firstLetterVal, @members[i], new { @alphabet = @members[i] })
                  <label class="alphaCharacters" onclick="clickaddclass(this)" for="firstLetterVal" alphabet = @members[i]>@members[i].ToUpper()</label>
               </td>
                }
        </tr>
	</table>

 </div>


<!----------------------------Start site  ----------------------------------------->

<!--------------------Advanced----------------------------------------------->

<div class="Advanced" style=" display:none;">
    @*@*<div class="rowGeneric" style= "padding:10px 0 10px 0; border-bottom:1px solid #ddd;">
        <label class="firstLetterLabel">@Resources.Vendorsearch_Status</label>
        <div class="scrollCheckbox" id="PrequalStatus">
        <table style="margin-top:-10px;">



                @for (var i = 0; i < @Model.PrequalificationStatusList.Count; i++)
                {
                <tr>

                    <td valign="top">
                    @Html.CheckBoxFor(m => m.StatusList[i], new { @PreID = @Model.PrequalificationStatusList[i].PrequalificationStatusId })
                    </td>

                    <td valign="top">
                    @{var id = "StatusList_" + @i + "_";}
                    <label for="@id" style="padding-top:7px;">@Model.PrequalificationStatusList[i].PrequalificationStatusName</label>
                    </td>
                </tr>

                }

        </table>
        </div>
    </div>*@

    @* Changed code on 10/02/2013 by Kiran Talluri  *@
    <div id="BiddingOrProficiencyResultsBlock_Id">
        @*srinivas on 12/30/2013*@

    </div>
    @* Ends *@
    <div class="rowGenericReports vendordetails-section">
        <label class="section-heading"><h2>@Resources.Vendorsearch_Status</h2></label>
        <div class="scrollCheckboxReports" id="PrequalStatus">
            <table >
                @for (var i = 0; i < @Model.PrequalificationStatusList.Count; i++)
                { 
                    <tr>
                        <td>
                            @Html.CheckBoxFor(m => m.StatusList[i], new { @PreID = @Model.PrequalificationStatusList[i].PrequalificationStatusId })
                        </td>
                        <td>
                            @{var id = "StatusList_" + @i + "_";}
                            <label for="@id">@Model.PrequalificationStatusList[i].PrequalificationStatusName</label>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>

    <div class="rowGenericReports vendordetails-section">
        <table border="0">
            <tr>
                <td>
                    <label class="section-heading"><h3>@Resources.Vendorsearch_Site</h3></label>
                </td>

                <td>
                    @Html.DropDownListFor(m => m.site, new SelectList(new[] { "Any" }), new { @class = "rowGenericReportsSelect",  multiple = "multiple", @style = "width:92%;height:10%" })
                </td>

                <td>
                    @Html.DropDownListFor(m => m.Subsite, new SelectList(new[] { "" }), new { @class = "rowGenericReportsSelect", multiple = "multiple", @style = "width:92%;height:10%" })
                </td>
            </tr>
             <tr>
                <td>
                    <label class="section-heading"><h3>@Resources.Common_Label_Countries</h3></label>
                </td>

                <td>
                    @Html.DropDownListFor(x => Model.Country, (List<SelectListItem>)@ViewBag.Countries, new
                {@class = "rowGenericReportsSelect",
                @onchange = "VendorRegistration.GetCountryStates(" + Model.Name + ", false, $('#vendorState'))"
                })
                
                </td>

            </tr>
            <tr>
                <td>
                    <label class="section-heading"><h3>@Resources.Vendorsearch_citystate</h3></label>
                </td>

                <td>
                    @Html.TextBoxFor(m => m.vendorCity, new { @class = "rowGenericReportsInput", @style = "width:144px;" })
                </td>

                <td>
                    <select class="rowGenericReportsSelect" id="vendorState" name="vendorState" style="width:92%"></select>

                    @*@Html.DropDownListFor(m => m.vendorState, new SelectList(new[] {"Not Applicable", "Alabama","Alaska","Arizona","Arkansas","California","Colorado",
                        "Connecticut","Delaware","Dist of Columbia","Florida","Georgia","Hawaii","Idaho","Illinois","Indiana","Iowa", "Kansas","Kentucky",
                        "Louisiana","Maine","Maryland","Massachusetts","Michigan","Minnesota","Mississippi","Missouri","Montana","Nebraska","Nevada",
                        "New Hampshire","New Jersey","New Mexico","New York","North Carolina","North Dakota","Ohio","Oklahoma","Oregon",
                        "Pennsylvania","Puerto Rico","Rhode Island","South Carolina","South Dakota","Tennessee","Texas","U.S. Virgin Islands","Utah","Vermont",
                        "Virginia","Washington","West Virginia","Wisconsin","Wyoming"}), new { @class = "rowGenericSelect" })*@
                </td>
            </tr>

                @*<div class="scrollCheckboxReports" id="PrequalStatus">
                    <table>
                        @for (var i = 0; i < @Model.GeographicArea.Count; i++)
                        {
                            <tr>
                                <td>
                                    @Html.CheckBoxFor(m =>m.RegionsList[i], new { @PreID = @Model.GeographicArea[i].RegionName })
                                </td>
                                <td>
                                   
                                    <label>@Model.GeographicArea[i].RegionName</label>
                                </td>
                            </tr>
                                        }
                    </table>
                </div>
            </div>*@
            @*Mani on 04/10/2015*@
           <tr>
            <td>
    <label class="section-heading"><h3>@Resources.GeographicArea </h3></label></td>
   <td> @Html.DropDownListFor(model => model.GeographicArea, (List<SelectListItem>)@ViewBag.Regions, new { size = 4,multiple="multiple" })

    </td>
           </tr>
            <tr>
                <td>
                    <label class="section-heading"><h3>@Resources.Common_Label_RiskLevel:</h3></label>
                </td>

                <td>
                    @Html.DropDownListFor(m => m.questionnaireType, new SelectList(new[] { "Any" }), new { @class = "rowGenericReportsSelect" })
                </td>

            </tr>
            @*Ends<<<*@
        </table>
    </div>
     @* sumanth on 08/12/2015 *@
 <!------------------------Client Vendor Reference Id search--------------------------------------->
    <div class="rowGenericReports vendordetails-section" id="ClientVendorId">
        <label class="section-heading"><h2>@Resources.ContractorType</h2></label>
        <div id="contractTypeRow" class="contractType">
            
        </div>
        <div style="padding-top: 15px;"></div>
        <label class="section-heading"><h2>@Resources.ClientVendorRefId</h2></label>
        @Html.TextBoxFor(m => m.ClientVendorRefId, new { @class = "rowGenericReportsSelect" })
   
    </div>
    @*<div class="rowIST">
        <label>@Resources.Vendorsearch_vendorName</label>
        @Html.TextBoxFor(m => m.VendorName)
    </div>*@



<!----------------------------------------------------------------->
</div>



    <div class="rowGeneric">

        <table width="709" border="0">
            <tr>
                <td>
                    <button class="VenSearch_Searchbtn" id="search" type="button" onclick="searchVendor('~/AdminVendors/VendorSearch')">@Resources.Vendorsearch_Searchbtn</button>
                </td>
                <td align="right">
                    <table>
                        <tr>
                            <td>
                                <p>@Resources.Common_Label_Sortby</p>
                            </td>
                            <td>
                                @*sumanth on 10/23/2015 for FVOS-79 the default selection should not be null*@
                                @Html.DropDownListFor(m => m.sortType, new SelectList(new[] { "Name", "Status", "Status Period" }), new
                   {

                       @class = "sortBySelect",
                       @width = "10px;"
                   })
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

        <div id="searchVendorResults_block_id">


        </div>
        <div class="spinnerOverlay">
            <img src="../images/spinner.gif" width="28" height="28" class="importSubmitSpinner" alt="Spinner" />
        </div>


    </div>
      </div>    
      
</body>
</html>

 @* @{string[] bidInterest = { "Asbestos Abatement", "Boiler Installation and Repair", "Painting", "Pile Installation", "Siding", 
                                    "Heavy Construction, Dirt Work", "Vacuum Truck", "Roofing", "Surveying", 
                                    "Site", "Welding", "Tank Construction, Bolt Together", "Vibration Testing"};
                                      
                                      
        }
       

        @for (int i = 0; i < bidInterest.Count(); i++)
        {
            	    <tr>
                    <td> @Html.CheckBoxFor(m => m.BiddingList[i], new { @bidin = @bidInterest[i] })</td>
            	    <td style="padding-top:5px;"><label for="BiddingList[i]" bidin = "@bidInterest[i]"> @bidInterest[i]</label></td> 
                    </tr>
                     
                    
        }
       *@          
      <script src="~/Scripts/Application/Vendor/VendorSearch.js?v=2"></script>
