﻿<!--
Page Created Date:  06/05/2013
Created By: Sumalatha Jeldi
Purpose:Details of selected vendor in VendorSearch List
Version: 1.0
****************************************************
-->
@using FVGen3.Domain.Entities;
@using Resources;
@using FVGen3.Domain.ViewModels;
@{
    ViewBag.Title = "Vendor Details";
    Layout = "~/Views/Shared/_TemplateSectionMainLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=6" />
    <meta http-equiv="X-UA-Compatible" content="IE=7" />
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta http-equiv="X-UA-Compatible" content="firefox" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="../css/prequalificationdynamic.css" />

    <script src="~/Scripts/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="../js/jquery-1.10.3.js"></script>
    <link rel="stylesheet" href="../css/jquery-ui.css">
    <script>


    $(document).ready(function () {
        // Added code to call setPermissions() function on 08/07/2013 by Kiran Talluri
        setPermissions('@ViewBag.ViewPermissions');
            // Ends<<<
        commentsonLoad();
        //getPQUserDetails();
        });

        function redirecttoVendorSearch() {
            window.location = "../AdminVendors/VendorSearch";
        }

        // kiran on 9/1/2014
        var winPop = false;
        function openComments(prequalId, emailRecordId) {
            if (winPop && !winPop.closed) {  //checks to see if window is open
                winPop.focus();
            }
            else {
                winPop = window.open("VendorAddComments?prequalificationId=" + prequalId + "&EmailRecordId=" + emailRecordId, "_blank", "toolbar=no,  directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=yes, width=650, height=400");
            }
        }

        function deleteComment(emailRecordId) {
            var c = confirm("@Resources.VendorDetails_ConfirmBox_DeleteComment");
            if (c == true) {
                $.ajax({
                    type: 'POST',
                    url: 'deleteComment',
                    data: '&emailRecordId=' + emailRecordId,
                    success: function (data) {
                        if (data.indexOf("Session expired") >= 0) {
                            window.location = "../SystemUsers/Login";
                        }
                        else if (data == "commentDeleted") {
                            commentsonLoad();
                        }
                    },
                    error: function () {
                        console.trace();
                        alert("@Resources.Common_unableToProcess");
                    }
                });
            }
            else {
                return false;
            }
        }

        // Ends<<<
        function getPQUserDetails()
        {
            var id = '@ViewBag.PrequalificationId';
            $.ajax({
                type: 'POST',
                url: 'GetPQVendorDetails',
                data: 'pqId=' + id,
                success:function(data)
                {
                    //alert(data);
                },
                error:function(data)
                {
                    //alert(data);
                }

            });
        }
        //To load the comments partial view
        function commentsonLoad() {
            var id = '@ViewBag.PrequalificationId';
        $.ajax({
            type: 'POST',
            url: 'VendorCommentsPartialView',
            data: '&prequalificationID=' + id,
            success: function (data) {
                if (data.indexOf("Session expired") >= 0) {
                    window.location = "../SystemUsers/Login?lastLoginPage=" + lastpageurl;
                }
                else {
                    $("#VendorComments_block_id").html(data);
                    $(document).tooltip({
                        content: function () {
                            return $(this).prop('title');
                        }
                    });
                }

                setPermissions('@ViewBag.ViewPermissions');//Kiran on 2/2/2015
            },
            error: function () {
                console.trace();
                alert("@Resources.Common_unableToProcess");
            }
        });
    }

    var winPop = false;
    function openWindow() {

        if (winPop && !winPop.closed) {  //checks to see if window is open
            winPop.focus();
        }
        else {
            var prequalificationId = '@ViewBag.PrequalificationId';
            var emailRecordId = -1; // kiran on 9/1/2014
            winPop = window.open("VendorAddComments?prequalificationId=" + prequalificationId + "&EmailRecordId=" + emailRecordId, "popupWindow", "toolbar=no,  directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=yes, width=650, height=400"); // kiran on 9/1/2014
        }
    }

    // Kiran on 04/08/2015
    var winPopStatus = false;
    function getStatusHistory() {

        if (winPopStatus && !winPopStatus.closed) {  //checks to see if window is open
            winPopStatus.focus();
        }
        else {
            var prequalificationId = '@ViewBag.PrequalificationId';
            winPopStatus = window.open("../AdminVendors/StatusHistory?PrequalificationId=" + prequalificationId, "_blank", "toolbar=no,  directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=yes, width=650, height=400");
        }
    }
    // Ends<<<

    </script>

    <style>
        .belowContentLine {
            float: left;
            margin: 10px 0;
            height: 2px;
            width: 100%;
            /*border-bottom: 1px solid #000;*/
        }

        .contentSub {
            background-color: #EFEFEF;
        }

        .vendorDetailsTableLeft {
            float: left;
            width: 100%;
            height: auto;
            padding-left: 0px;
            margin-bottom: 10px;
            background: #EFEFEF;
        }

        .vendorDetailsTableright {
            float: left;
            width: 100%;
            height: auto;
            margin-bottom: 10px;
        }

            .vendorDetailsTableright table {
                float: right;
            }

        .vendorComments {
            float: left;
            width: 100%;
            border-collapse: collapse;
            height: auto;
        }

            .vendorComments td {
                padding: 5px 0 5px 0;
            }

        .vendorComments_tr {
            border-bottom: 1px solid #ddd;
        }
    </style>

</head>
<body>

    <div class="contentSub">
        <div class="vendorDetailsTableLeft">            
                <div class="section-heading">
                    <h2 style="margin:0;padding:5px 2px;"> @Resources.VendorDetails_Details</h2>
                </div>
            @*@foreach (var a in @ViewBag.VBVendorDetails)*@
        @if(@ViewBag.VBVendorDetails!=null)
            {
                var a = @ViewBag.VBVendorDetails;
                <table>
                    <tr>
                        <td class="itemHeader">@Resources.Common_Label_Address</td>
                        <td>@a.Address1</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>@a.Address2 &nbsp;</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>@a.City , @a.State @a.Zip</td>
                    </tr>
                    <tr>
                        <td class="itemHeader">@Resources.Common_Label_Phone</td>
                        <td>@a.PhoneNumber</td>
                    </tr>

                    <tr>
                        <td class="itemHeader">@Resources.VendorDetails_Fax</td>
                        <td>@a.FaxNumber</td>
                    </tr>

                    <tr>
                        <td class="itemHeader">@Resources.VendorDetails_Website</td>
                        @if (@a.WebsiteURL != null)
                        {
                            if (@a.WebsiteURL.StartsWith("http:"))
                            {
                                <td><a href="#!" onclick="window.open('@a.WebsiteURL')">@a.WebsiteURL</a></td>
                            }
                            else
                            {
                                <td><a href="#!" onclick="window.open( 'http://@a.WebsiteURL')">@a.WebsiteURL</a></td>
                            }
                        }
                    </tr>

                    <tr>
                        <td class="itemHeader">@Resources.Common_Label_taxid</td>
                        <td>@a.TaxID</td>
                    </tr>
                    <tr>
                        <td class="itemHeader">@Resources.ClientVendorRefId</td>
                        <td>@ViewBag.ClientVendorRefid</td>
                    </tr>
                    <tr>                        
                        <td class="itemHeader">@Resources.VendorDetails_Label_Started</td>
                        <td>@ViewBag.PrequalStartDate</td>
                    </tr>
                </table>
            }
        </div><!----End of the Left Table--->
        </div>
   
        @Html.Action("VendorDetailQSections", new { pqid = @ViewBag.PrequalificationId })
    
   
    <!-- Contractor Performance Evalueation ScoreCard -->
  
        @Html.Action("VendorDetailERIQSections", new
   {
       pqid = @ViewBag.PrequalificationId
   })
   @if(@ViewBag.Showlocations==false){
    
        @Html.Action("GetSiteStatuses", "Prequalification", new
   {
       pqid = @ViewBag.PrequalificationId,
       IsVendorDetails=true
   })
    
    }
    @if (@ViewBag.ShowScorecard)
    { 
        <div class="contentSub">
        
            <div class="contractRating">

                <div class="section-heading">
                    <h2>@Resources.VendorDetails_Heading_ContractorEvaluation</h2>
                </div>

                <div class="ratingRow">
                    <div class="like">
                        <img src="../images/hand.png" />
                        <label>@ViewBag.recommended</label>
                    </div>

                    <div class="dislike">
                        <img src="../images/handDown.png" />
                        <label>@ViewBag.notrecommended</label>
                    </div>
                </div><!--ratingRow-->
                <div class="ratingRow"><b>
                @if (@ViewBag.userreview != null)
                {
                    @:@Resources.Scorecard_AverageEvalution: @*@if (ViewBag.isERI) { @Resources.VendorDetails_AllERIClients}*@ [@ViewBag.userreview]
                }
                else
                {
                     @:@Resources.Scorecard_AverageEvalution: @*@if (ViewBag.isERI)
                     { @Resources.VendorDetails_AllERIClients}*@ [0.00]
                } 
                @*<br/>
                @if(@ViewBag.userreviewOfLoggedInClient != null && @Session["RoleName"].ToString().Equals("Client") && @ViewBag.isERI)
                {
                    @:@Resources.Scorecard_AverageEvalution: @ViewBag.LoggedInClientName [@ViewBag.userreviewOfLoggedInClient]
                }
                else if(@Session["RoleName"].ToString().Equals("Client") && @ViewBag.isERI)
                {
                    @:@Resources.Scorecard_AverageEvalution: @ViewBag.LoggedInClientName [0.00]
                }*@
                    </b>
                </div>

                <div class="ratingRow">
                    <label><a class="button blue" href="../AdminVendors/ReviewsList?prequalificationId=@ViewBag.PrequalificationId&SelectedVendorId=@ViewBag.VendorId&buid=@ViewBag.buid">@Resources.VendorDetails_CompletedEvaluationsLink_Text</a></label>

                    @if (@Session["RoleName"].ToString().Equals("Client"))
                    {

                        <label><a class="button blue"
   @if (@ViewBag.IsEvaluationExpired) {
         @: href="#!" style="background: #9e9e9e!important;"
                        }
else
{  
       @: href="../AdminVendors/ScoreCard?prequalificationId=@ViewBag.PrequalificationId&SelectedVendorId=@ViewBag.VendorId&buid=@ViewBag.buid"
        }>@Resources.VendorDetails_EvaluateVendorLink_Text
                                </a>
</label>

                    }
                </div><!--ratingRow-->
            </div>
            <div class="clearfix"></div>
        
        </div>
    }
        <!-- Contractor Performance Evalueation ScoreCard END -->


        <div class="contentSub">
            <div class="vendorDetailsTableLeft">
                <div class="section-heading">
                    <h2>@Resources.VendorDetails_VendorContacts</h2>
                </div>

                @*Kiran on 9/4/2014*@

            @if (@ViewBag.VBContactList != null)
            {
                <table>
                    <tr>
                        <td colspan="2"><b>@Resources.VendorDetails_Label_RegisterdName</b></td>
                    </tr>
                    <tr>
                        <td colspan="2">@Resources.Common_label_name @ViewBag.VBContactList.FirstName @ViewBag.VBContactList.LastName  </td>
                    </tr>
                    <tr>
                        <td colspan="2">@Resources.Common_Title @ViewBag.VBContactList.ContactTitle</td>
                    </tr>
                    <tr>
                        <td colspan="2">@Resources.Common_Label_Email <a href="mailto:@ViewBag.VBContactList.Email">@ViewBag.VBContactList.Email</a></td>

                    </tr>
                    <tr class="vendorDetailsTableright_tr">
                        <td colspan="2">@Resources.Common_Label_Telephone @ViewBag.VBContactList.PhoneNumber</td>
                    </tr>
                    <tr class="belowContentLine"></tr>
                </table>
            }
            @*Ends<<<*@

            <div>
               
                @if (@ViewBag.VendorAllContacts != null)
                {
                    for (int i = 0; i < @ViewBag.VendorAllContacts.Count; i++)
                    {
                        <table>
                            <tr>
                               
                                @if (@ViewBag.VendorAllContacts[i].GroupNumber == i + 1)
                                {
                                    <td><b>@ViewBag.SubSectionName[i]</b></td>
                                }
                            </tr>
                            <tr>
                                <td>@Resources.Common_label_name @ViewBag.VendorAllContacts[i].FullName</td>
                            </tr>
                            <tr>
                                <td>@Resources.Common_Title @ViewBag.VendorAllContacts[i].Title</td>
                            </tr>
                            <tr>
                                <td>@Resources.Common_Label_Email <a href="mailto:@ViewBag.VendorAllContacts[i].EmailAddress">@ViewBag.VendorAllContacts[i].EmailAddress</a></td>
                            </tr>
                            <tr>
                                <td>@Resources.Common_Label_Telephone @ViewBag.VendorAllContacts[i].TelephoneNumber</td>
                            </tr>
                            <tr class="belowContentLine"></tr>
                        </table>
                    }
                }
            </div>

        </div><!---End of the Table Right---------------------->
    </div>

    <!----End of content Sub------>

    <div class="contentSub">
        <div class="title-button">
            <div>
                <div class="section-heading">
                    <h2>@Resources.VendorDetails_CompletedBy</h2>
                    
                </div><!--page-title-->
            </div>

            <div>
                <button type="button" onclick="getStatusHistory()">@Resources.VendorDetails_StatusHistory</button>
            </div>
        </div>

       
        <table width="99%" border="0">

            @if (@ViewBag.VBPrequalSubmitDetails == null || @ViewBag.VBPrequalSubmitDetails.Count ==0)
            {
                if (@ViewBag.VBPrequalSubmissionDetailsFromPrequalification == null)
                {
                    <tr>
                        <td class="commentsItalic">
                            @Resources.VendorDetails_PrequalificationNotsubmitted
                        </td>
                    </tr>
                }
                else
                {
                    var prequalificationDetails = (LocalVendorDetails)ViewBag.VBPrequalSubmissionDetailsFromPrequalification;
                    
                        <tr>
                            <td>
                                @Resources.VendorDetails_CompletedByName
                            </td>
                            <td>
                                @try
                                {
                                   @: @prequalificationDetails.FullName
                                }
                                catch
                                {@:@prequalificationDetails.Email
                                    
                                    }
                            </td>
                        </tr>

                        <tr>
                            <td>
                                @Resources.VendorDetails_CompletedByTitle
                            </td>
                            <td>
                                @try
                                {@:@prequalificationDetails.ContactTile
                                
                                        }
                                catch { }
                            </td>
                        </tr>

                        <tr>
                            <td>
                                @Resources.VendorDetails_dateSigned
                            </td>
                            <td>
                                @prequalificationDetails.PrequalificationSubmit
                            </td>
                        </tr>

                }
                
            }
            else
            {
                foreach (var submission in (List<LocalVendorDetails>)@ViewBag.VBPrequalSubmitDetails)
                {
                    <tr>
                        <td>
                            @Resources.VendorDetails_CompletedByName
                        </td>
                        @*Kiran on 12/15/2014*@
                        <td>
                            @try
                            {
                                @submission.FullName
                            }
                            catch
                            {
                                @submission.Email
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Resources.VendorDetails_CompletedByTitle
                        </td>
                        <td>
                            @try
                            {
                                @submission.ContactTile
                            }
                            catch { }
                        </td>
                        @*Ends<<<*@
                    </tr>
                    <tr>
                        <td>
                            @Resources.VendorDetails_dateSigned
                        </td>
                        <td style="width:50%;padding:10px 0px 10px 0px;">
                            @submission.StatusChangeDate
                        </td>
                    </tr>
                }
                <tr>
                    <td>
                        @Resources.VendorDetails_Label_Started:
                    </td>
                    <td>
                        @ViewBag.PrequalStartDate
                    </td>
                </tr>
            }
        </table>
    </div> <!------------End of the VendorDetails Completed By---------->
    @*Comments partial view*@
    <div id="VendorComments_block_id">
    </div>
  
    @*Comments partial view ends*@
    
    <div class="pageFooterContent">
        <div class="PageFooter_Buttons">
            <table>
                <tr>
                    <td><button class="pageFooterButton" onclick="redirecttoVendorSearch()">@Resources.Common_Cancel</button></td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>
