﻿<!--
 *****************************************************
Page Created Date:06/04/2013
Created By: Suma J
Purpose: To display the required Vendors 
Version: 1.0
****************************************************
-->
@using FVGen3.Domain.Entities;
@using Resources
@{
    Layout = null;
}
@*
        @Styles.Render("~/css/normalize.min.css")
        @Styles.Render("~/css/main.css")
        @Styles.Render("~/css/vendorsearch.css")
*@
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Resources.Vendor_Search_Results_Partial_View_Heading</title>

     <script src="~/Scripts/jquery-1.9.1.min.js" type="text/javascript"></script>
    
    <script type="text/javascript">
        function vendorDetails(id, prequalificationId, templateSectionId, mode, prequalificationStatusId)   // Added Parameters - Kiran 11/19/2013  //Suma  on 4/12/2013 Removed parameter templateId
        {
            if (prequalificationStatusId < 3) {
                alert('Questionnaire template not yet selected by this vendor');
                return false;
            }
            //Rectified by Suma on 30-7-2013=====>>>>
            var SelectedVendorId = id;                                                               // Removed '&templateId=' + templateId + by suma on 4/12/2013
            window.location = "../AdminVendors/VendorDetails" + '?SelectedVendorId=' + SelectedVendorId + '&PreQualificationId=' + prequalificationId + '&TemplateSectionID=' + templateSectionId + '&mode=' + mode;   // Kiran 11/19/2013
        }        

        @*//Suma on 9/19/2013 for delete vendor >>>
        function deleteVendor(Vid) {
            var checkstr = confirm('@Resources.Common_ConfirmBox_delete_message');
            if (checkstr == true) {
                // do your code
                deleteConfirm(Vid);
            } else {
                return false;
            }
        }
        function deleteConfirm(Vid) {
            //alert("success");

            $.ajax({
                type: 'POST',
                url: 'VendorDeleteConfirm',
                data: 'selectedVendorId=' + Vid,
                success: function (data) {
                    //alert("Delete success");
                    //$("#searchVendorResults_block_id").html(data);
                    searchVendor('~/AdminVendors/VendorSearch');
                },
                error: function () {
                    console.trace();
                    alert("@Resources.Common_ErrorMessage_CouldNotDeleteVendor ");
                }
            });
        }*@

        //>>>>>>>>>>>Ends



   </script>

</head>
<body>
    <div class="partialPage">
        @*Kiran on 4/25/2014*@
       <div>
            <table>
                <tr>
                    <td>
                        @Resources.VendorSearch_Partial_MultipleCompaniesMessage
                    </td>
                </tr>
            </table>
        </div>
        @*Ends<<<*@
        <table>
            <tr class="partialHeader">
                <td  width="300">@Resources.Vendorsearch_vendorName </td>
                <td  width="200">@Resources.Vendorsearch_Status</td>
                <td  width="200">@Resources.Vendorsearchpartial_StatusPeriod</td>
            </tr>
            @if (@ViewBag.VBcount == 0)
            {  
                <tr>
                    <td colspan="3" class="commentsItalic">
                    @Resources.Common_NoSearch  
                    </td>
                </tr>
            } 
            @if (@ViewBag.VBPrequalificationlist != null)
            {

                if (@ViewBag.VBAdvanced == 1)
                {
                    foreach (var prequalificationlist in (List<LocalPrequalificationAdvanced>)@ViewBag.VBPrequalificationlist)//LocalPrequalificationAdvanced
                    {
                        <tr>
                            @* Suma on 4/12/2013  Removed TemplateId in both for loops 
                            <td><a href="#" onclick="vendorDetails('@prequalificationlist.VendorId', '@prequalificationlist.ClientTemplates.TemplateID', '@prequalificationlist.PrequalificationId', '-1', '0')">@prequalificationlist.Vendor.Name</a></td>*@
                            @if (@prequalificationlist.PrequalificationStatusId < 3)
                            {
                                <td><a href="#!" onclick="vendorDetails('@prequalificationlist.VendorId',  '@prequalificationlist.PrequalificationId', '-1', '0','@prequalificationlist.PrequalificationStatusId')">@prequalificationlist.Name </a></td>
                            }
                            else
                            {
                                <td><a href="../AdminVendors/VendorDetails?SelectedVendorId=@prequalificationlist.VendorId&PreQualificationId=@prequalificationlist.PrequalificationId&TemplateSectionID=-1&mode=0">@prequalificationlist.Name &nbsp; <b>@prequalificationlist.TemplateCode </b></a></td>
                            }
                            <td> @prequalificationlist.PrequalificationStatusName</td>
                            <td> @prequalificationlist.PrequalificationStart.ToString("MM/dd/yyyy")<label>-</label>@prequalificationlist.PrequalificationFinish.ToString("MM/dd/yyyy")</td>
                            <td  >@*<img class="imgCursor" type="button" src="~/images/DelButton.png"  value="Delete" onclick="deleteVendor('@prequalificationlist.VendorId')"> </img>*@</td>
                        </tr> 
                    }

                }
                else
                {
                    @*foreach (var prequalificationlist in (List<IGrouping<long,Prequalification>>) @ViewBag.VBPrequalificationlist)//Prequalification
                    {
                        var prequalification = prequalificationlist.LastOrDefault();
                        <tr>
                            @if (@prequalification.PrequalificationStatusId < 3)
                            {
                                <td><a href="#!" onclick="vendorDetails('@prequalification.VendorId',  '@prequalification.PrequalificationId', '-1', '0','@prequalification.PrequalificationStatusId')">@prequalification.Vendor.Name</a></td>
                            }
                            else
                            {
                                <td><a href="../AdminVendors/VendorDetails?SelectedVendorId=@prequalification.VendorId&PreQualificationId=@prequalification.PrequalificationId&TemplateSectionID=-1&mode=0">@prequalification.Vendor.Name</a></td>
                            }
                            
                            <td> @prequalification.PrequalificationStatus.PrequalificationStatusName</td>
                            <td> @prequalification.PrequalificationStart.ToString("MM/dd/yyyy")<label>-</label>@prequalification.PrequalificationFinish.ToString("MM/dd/yyyy")</td>
                            <td  ><img class="imgCursor" type="button" src="~/images/DelButton.png"  value="Delete" onclick="deleteVendor('@prequalificationlist.VendorId')"> </img></td>
                        </tr> 
                    }*@

                    foreach (var prequalificationlist in (List<LocalSortingForNameStatusAndStatusPeriod>)@ViewBag.VBPrequalificationlist)//Prequalification
                    {
                        <tr>
                            @if (@prequalificationlist.PrequalificationStatusId < 3)
                            {
                                <td><a href="#!" onclick="vendorDetails('@prequalificationlist.VendorId',  '@prequalificationlist.PrequalificationId', '-1', '0','@prequalificationlist.PrequalificationStatusId')">@prequalificationlist.VendorName</a></td>
                            }
                            else
                            {
                                <td><a href="../AdminVendors/VendorDetails?SelectedVendorId=@prequalificationlist.VendorId&PreQualificationId=@prequalificationlist.PrequalificationId&TemplateSectionID=-1&mode=0">@prequalificationlist.VendorName &nbsp; <b>@prequalificationlist.TemplateCode </b></a></td>
                            }
                            
                            <td> @prequalificationlist.Status</td>
                            <td> @prequalificationlist.PrequalificationStart.ToString("MM/dd/yyyy")<label>-</label>@prequalificationlist.PrequalificationFinish.ToString("MM/dd/yyyy")</td>
                            <td  >@*<img class="imgCursor" type="button" src="~/images/DelButton.png"  value="Delete" onclick="deleteVendor('@prequalificationlist.VendorId')"> </img>*@</td>
                            @if (ViewBag.HasAnalyticsPermission)
                            {
                                <td><a href="~/Prequalification/FinancialAnalyticsWithPQ?PQId=@prequalificationlist.PrequalificationId">Financial Analytics</a></td>
                            }
                         </tr> 
                    }
                }
            }
        </table>
    </div> 
 </body>
</html>

