﻿@{
    Layout = null;
}
@model List<FVGen3.Domain.LocalModels.QuestionAndAnswers>
    @using Resources;
<link href="~/css/VendorDetails.css" rel="stylesheet" />
@if (Model.Any())
{
    <div class="contentSub">
        <table class="vendorComments">
            <tr>
                <td class="section-heading">
                    <h2>@Resources.VendorDetails_ERI_Questions_Section_Heading</h2>
                </td>

            </tr>
        </table>
        <div class="vendorDetailsTableLeft">
            <table id="container" border="1" class="data-table" style="width:100%;table-layout:fixed">
                <thead>
                    <tr>
                        <th></th>
                        <th>@Resources.EriQuestion_Current</th>
                        <th>@Resources.EriQuestion_OneYr</th>
                        <th> @Resources.EriQuestion_TwoYr</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var a in Model)
                {
                    var finalstatus = ViewBag.finalstatus as List<long>;
                    var Statuses = new List<long> { 3, 5, 7, 16, 15 };
                <tr>
                    <td class="itemHeader" style="padding-left:0.5em">
                        @a.QuestionName<br /> @*@if (a.IsMax == true)
                            {@a.Value}
                            else
                            {<p style="color:red">(@a.Value)</p>}*@
                    </td>

                    @foreach (var s in a.Answers)
                        {


                            if (finalstatus.Contains((long)@ViewBag.StatusId))
                            {
                                var colourclass = "";
                                if (a.Value == 0)
                                {
                                    colourclass = "";
                                }
                                else
                                {
                                    Decimal i = 0;
                                    Decimal.TryParse(s, out i);
                                    if (a.IsMax == true)
                                    {
                                        colourclass = i <= a.Value ? "colorGreen" : "colorRed";
                                    }
                                    else
                                    {
                                        colourclass = i <= a.Value ? "colorRed" : "colorGreen";
                                    }
                                }
                        <td class="@colourclass">@s</td>

                            }
                            else if(Statuses.Contains((long)@ViewBag.StatusId))
                            {
                        <td style="background-color:#f6e271">N/A</td>}



                        }
                    @if (finalstatus.Contains((long)@ViewBag.StatusId)|| (Statuses.Contains((long)@ViewBag.StatusId)))
                        {
                        for (int i = a.Answers.Count(); i < 3; i++)
                        {


                        <td style="background-color:#f6e271">N/A</td>
                            }

                        }
                        else
                        {
                        <td></td>
                        <td></td>
                        <td></td> }


                </tr>
                }
                </tbody>
            </table>
        </div>
      </div>
        }
