﻿@model FVGen3.Domain.Entities.Migration
<<<<<<< HEAD
           @using Resources;
=======
>>>>>>> 43c61164167abecbe025b3dd84231d193e1aaa27
@{
    ViewBag.Title = "MigrateTOERITemplate";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}

<<<<<<< HEAD
<h2>@Resources.Migrate_To_Eri</h2>
=======
<h2>MigrateTOERITemplate </h2>
>>>>>>> 43c61164167abecbe025b3dd84231d193e1aaa27
<html>
<head>
    <meta name="viewport" content="width=device-width" />

    @Scripts.Render("~/js/common.js")
    @Scripts.Render("~/Scripts/jquery-1.9.1.min.js")

    <script>

        function getClientTemplates()
        {
            var selectedClientId = $("#ClientId").val();
            debugger;
            $.ajax({
                url: "@Url.Action("getClientTemplates", "Migration")",
                data: { clientid: selectedClientId },
                dataType: "json",
                cache: false,
                type: "POST",
                error: function() {
                    alert("Error in getting client templates");

                },
                success: function(data)
                {
                    if (data.toString().indexOf("Session expired") >= 0)
                    {
                        window.location = "../SystemUsers/Login";
                    }
                    else
                    {
                        var items = "";
                        $.each(data, function(i, item)
                        {
                            items += "<option value=\"" + item.Value + "\">" + item.Text + "</option>";
                        });

                        $("#sourceTemplateId").html(items);
                    }
                }
            });
        }
    </script>
</head>

<body>
    
    @using (Html.BeginForm("MigrateTODB", "Migration", FormMethod.Post, new
{
enctype = "multipart/form-data"
}))
    {

    <div class="contentSub">
        <div class="rowIST">
<<<<<<< HEAD
            <label>@Resources.InviteVendor_Client</label>
=======
            <label>Client:</label>
>>>>>>> 43c61164167abecbe025b3dd84231d193e1aaa27
            @Html.DropDownListFor(model => model.ClientId, (IEnumerable<SelectListItem>)@ViewBag.clientOrgs, new
            {
            onchange = "getClientTemplates()"
            })
        </div>
        <div class="rowIST">
<<<<<<< HEAD
            <label>@Resources.Temp_With_Colon</label>
=======
            <label>Templates:</label>
>>>>>>> 43c61164167abecbe025b3dd84231d193e1aaa27
            @if (@ViewBag.clientTemplates != null)
            {
            @Html.DropDownListFor(x => x.sourceTemplateId, (IEnumerable<SelectListItem>)@ViewBag.clientTemplates)
            }
            else
            {
            @Html.DropDownListFor(x => x.sourceTemplateId, new List<SelectListItem>())
            }

        </div>
        <div class="rowIST">
<<<<<<< HEAD
            <label>@Resources.Eritemp_With_Col</label>
=======
            <label>ERI Templates:</label>
>>>>>>> 43c61164167abecbe025b3dd84231d193e1aaa27
            @Html.DropDownListFor(x => x.destinationTemplateId, (IEnumerable<SelectListItem>)@ViewBag.ERITemplates)
        </div>

        <div class="rowIST">
<<<<<<< HEAD
            <label>@Resources.Mig_upload_Data</label>
=======
            <label>Upload Mapped data:</label>
>>>>>>> 43c61164167abecbe025b3dd84231d193e1aaa27
            <input type="file" name="ExcelFile" id="file" data-val-required="*" data-val="true" />
        </div>

        <div class="pageFooterContent">
            <div class="pageFooterButtons">
                <table>
                    <tr>
<<<<<<< HEAD
                        <td><button type="submit" class="pageFooterButton">@Resources.Migrate</button></td>
=======
                        <td><button type="submit" class="pageFooterButton">Migrate</button></td>
>>>>>>> 43c61164167abecbe025b3dd84231d193e1aaa27

                    </tr>
                </table>
            </div>
        </div>
    </div>}
</body>
</html>