﻿<div class="admDashboardRight">
    <ul>
    	<li><img src="~/images/reports.png">@Html.ActionLink("Reports ","CustomReports","AdminVendors")</li>
        @* Dec 4th *@
        <li><img src="~/images/notifications.png"/> <a href="#!" onclick="showLeftPanel(3,this)">@Resources.Resources.Common_Label_Notifications </a>
            @if (@ViewBag.NotificationCount > 0) { 
                <sup id="superText">@ViewBag.NotificationCount</sup>
            }
        </li>
        <li><img src="~/images/notifications.png"> <a href="#!" onclick="showLeftPanel(1,this)">@Resources.Resources.Processing</a></li>
        <li><img src="~/images/status.png"> <a href="#!" onclick="showLeftPanel(2,this)">@Resources.Resources.Status_Des</a></li>
        @*End Dec 4th *@
        <li><img src="~/images/invitevendor.png"> <a href="../AdminVendors/InviteVendor">@Resources.Resources.Invite_Vendor</a></li>
        <li><img src="~/images/status.png"> <a href="#!" onclick="showLeftPanel(4,this)">@Resources.Resources.InviteVendorsPartial_Heading</a></li>
        <li><img src="~/images/notifications.png"> <a href="#!" onclick="showLeftPanel(5,this)">@Resources.Resources.Common_Status_ClientReview</a></li> @*Kiran on 9/26/2014*@
    </ul>
</div>
