﻿<!DOCTYPE html>
<html>
<!-- Do not change this file with out Rajesh/Suresh Presence.-->


<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=9"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    @*<meta name="viewport" content="width=device-width"/>*@
 
    @Scripts.Render("~/Scripts/jquery-1.9.1.min.js")
</head>
<body>

<script>
    $(document).ready(function () {

        $(".sidebar_activie").each(function () {

            BoldText(this);
        });
        
        $("#sidemenu1").click(function () {
            debugger;
            $("#sidemenu1").addClass("sidebar_activie");
            $("#sidemenu2").removeClass("sidebar_activie");
            $("#sidemenu3").removeClass("sidebar_activie");

        });
        $("#sidemenu2").click(function () {
            debugger;
            $("#sidemenu2").addClass("sidebar_activie");
            $("#sidemenu1").removeClass("sidebar_activie");
            $("#sidemenu3").removeClass("sidebar_activie");

        });
        $("#sidemenu3").click(function () {
            debugger;
            $("#sidemenu3").addClass("sidebar_activie");
            $("#sidemenu1").removeClass("sidebar_activie");
            $("#sidemenu2").removeClass("sidebar_activie");

        });
        function BoldText(elem) {

            //        if (elem != currElem) { //do thing if you're clicking on a link

            //            if (currElem)

            //                currElem.style.fontSize = '1em';

            //            currElem = elem; //assign this element as the current one

            //            elem.style.fontSize = '1.1em';  //make the element clicked bold
            //            elem.style.color = '#000';
            //        }
            elem.style.fontSize = '1.1em';  //make the element clicked bold
            elem.style.color = '#000';

        }
    });  
</script>
<!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
      
    <div class="sideBarContent">
    <nav>
	    <ul> 
        @try
        {
            if (@ViewBag.headerMenus != null)
            {
                var selectedHeader = ((List<FVGen3.Domain.Entities.LocalHeaderMenuModel>)@ViewBag.headerMenus).FirstOrDefault(rec => rec.isChecked == true);
                if (selectedHeader != null && selectedHeader.sideMenus.Count > 0)
                {
                    foreach (var sideMenus in selectedHeader.sideMenus.OrderBy(rec => rec.DisplayOrder).ToList())
                    {
                        // Rajesh on 6/30/2014
                        if(@sideMenus.menuDisplayname== "")
                        {
                            continue;
                        }
                        // Ends<<<
                        
                        if (@sideMenus.actionName == "")
                        {
                            <li><a href="#!">@sideMenus.menuName</a></li>
                        }
                        else
                        {
                            if (@sideMenus.isChecked)
                            {
                                <li >
                                    <a href="@Url.Action(@sideMenus.actionName, @sideMenus.controllerName)" class="sidebar_activie"> @sideMenus.menuDisplayname </a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a href="@Url.Action(@sideMenus.actionName, @sideMenus.controllerName)"> @sideMenus.menuDisplayname </a>
                                </li>
                            }
                        }
                    }
                }
            }
        }
        catch(Exception ee)
        {
            
        }

           @* @if (@ViewBag.sideMenu != null)
            {
                foreach (var name in @ViewBag.sideMenu)
                {
                    if(@name.actionName=="")
                    {
                        <li><a href="#!">@name.menuName</a></li>
                    }
                    else
                    {
                        if(@name.isChecked)
                        {
                            <li style = 'font-weight:bold;'>
                                <a href="@Url.Action(@name.actionName, @name.controllerName)"> @name.menuName </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="@Url.Action(@name.actionName, @name.controllerName)"> @name.menuName </a>
                            </li>
                        }
                    }
                
                    
                }
            }*@
                            
	    </ul> 
        </nav>
	</div>

 <div class="sideBarContent">
      @if (@ViewBag.hasListOfPotentialClientSideMenus == true)
     {
           <ul> 
            <li  >   
    <div ><a href="#!"id="sidemenu1"class="sidebar_activie" onclick="showRightPanel(0, this)">@Resources.Resources.Find_Client</a> </div>
       </li>
     <li  > 
                  <div ><a href="#!" id="sidemenu2"onclick="showRightPanel(1,this)">@Resources.Resources.Use_Client_Code</a>
         </div> </li>
               
     <li >   
                <div  ><a href="#!" id="sidemenu3"onclick="showRightPanel(2, this)">@Resources.Resources.Renew_PQ</a>
         </div> </li>
             </ul>  
    
    }
     </div>
</body>
</html>
