﻿<div class="admDashboardRight">
	<ul>
    	<li><img src="~/images/reports.png"/>@Html.ActionLink("Reports ","CustomReports","AdminVendors")</li>
        <li><img src="~/images/recentdocuments.png"/> <a href="#!" onclick="showLeftPanel(0, this); GetRecentDocs(0);">Recent Documents</a></li>
        <li><img src="~/images/status.png"/> <a href="#!" onclick="showLeftPanel(2, this)">Status Descriptions</a></li>
        
            @* Dec 4th *@
        <li><img src="~/images/notifications.png"/> <a href="#!" onclick="showLeftPanel(1, this); getNotifications(0); ">Notifications </a>
            @if (@ViewBag.NotificationCount > 0) { 
                <sup id="superText">@ViewBag.NotificationCount</sup>
            }
        </li>
        @*End Dec 4th *@
       
        <li><img src="~/images/invitevendor.png"/> <a href="../AdminVendors/InviteVendor">Invite a Vendor</a></li>
        <li><img src="~/images/status.png"> <a href="#!" onclick="showLeftPanel(3, this); getInvitedVendors(0, '');">Vendors Invited</a></li>@*Rajesh on 8/9/2014*@
       @if (@ViewBag.HasPowerbiPermission!=null && @ViewBag.HasPowerbiPermission && @Session["RoleName"].ToString().Equals("Admin"))
       {
         <li><img src="~/images/PowerBi img.PNG" style="width: 15%;margin-left: 10px;margin-right: 5px;"/><a href="#!" onclick="showLeftPanel(4, this);">DashBoard Metrics</a></li>
       }
    </ul>
</div>

     