﻿<div id="s5_header_area1"> 
    <div id="s5_header_area2">
        <div id="s5_header_area_inner">
            <div id="s5_header_wrap">
                <div id ="s5_logo_wrap">
                    @{var imgSrc = "../logo/" + Session["currentOrgId"] + ".png";}
                
                    @*@if (@Session["RoleName"].ToString().Equals("Admin"))
                    {    
         			    <img alt="logo" src="../logo/1.png" id="s5_logo" ></img>
                    }*@
                    @if (@Session["RoleName"].ToString().Equals("Client"))
                    {
                        <div class="clientOrgName"><img alt="logo" src="@imgSrc" id="s5_logo" ></img>   @Session["LoginOrganizationName"]</div>
                    }
                    else if (@Session["RoleName"].ToString() != "Admin")
                    {
                        <div id ="s5_textInsteadOfLogoWrap">
                            <div id="s5_textInsteadOfLogo" > @Session["LoginOrganizationName"]</div>
                        </div>   
                    }
                </div>
            <div id="s5_header_right">
<!--            <div id="s5_loginreg">
                    <div id="s5_logregtm">
                        <div id="register">
                            <ul>
                                <li><a href="@Url.Action("LogOut", "SystemUsers")">Log Out</a></li>
                            </ul>
                        </div>
                        <div id="login">
                            <ul>
                                <li> @if (@Session["UserName"] != null && !@Session["UserName"].ToString().Equals(""))
                                     {
                                @:Logged in as @Session["UserName"]
                                }</li>
                                </ul>
                        </div>
                    </div>
                </div>--><!--dd--->
                <!--</div>-->
                @if (@Session["RoleName"].ToString().Equals("Admin"))
                {
                    <div id="s5_logo_FV"><img alt="logo" src="../logo/1.png" id="s5_logoFV" ></img></div> @* Srinivas on 6th, Dec-2013*@
                    <div id="phone"></div> 
                }
                else
                {
                    <div id="s5_logo_FV" onclick="window.location='../SystemUsers/Dashboard'"> <img alt="logo" src="../logo/1.png"  id="s5_logoFV" ></img></div>
                    <!--<div id="phone">(402) 562-5930</div> -->
                }
            </div>

            <div id="nav-trigger">
                <ul id="menu">
                <li>
                    <i class="fa fa-bars" aria-hidden="true" style="font-size: x-large;"></i>
                    <ul class="menu">

                       
                        @if (@ViewBag.sideMenu != null)
                        {
                            foreach (var name in @ViewBag.sideMenu)
                            {
                                
                                              <li style="background:#f6f9fc">
                                                <span class="s5_level1_span1">
                                                    <a class="sidebar_activie" href="@Url.Action(@name.actionName, @name.controllerName)?@name.param" style="font-size: 1.1em; color: rgb(0, 0, 0);"> @name.menuName </a>
                                                    </span>
</li>

                            }
                      
                          
                        }
                      
                        @if (@ViewBag.headerMenus != null)
                        {
                            foreach (var header in (List<FVGen3.Domain.Entities.LocalHeaderMenuModel>)@ViewBag.headerMenus)
                            {
                                <li style="background:#f6f9fc">
                                    <span class="s5_level1_span1">
                                        <a href="@Url.Action(@header.actionName, @header.controllerName)" style="font-size: 1.1em; color: rgb(0, 0, 0);">@header.menuDisplayname</a>
                                    </span>
                                </li>
                            }
                        }

                </ul>
                    </li>
                </ul>
            </div>
            <div id="s5_menu_wrap">
                <div id="s5_menu_wrap_inner" class="webdata">
                    <ul id='s5_nav' class='menu webdata'>         		
                        @try
                        {
                            foreach (var header in (List<FVGen3.Domain.Entities.LocalHeaderMenuModel>)@ViewBag.headerMenus)
                            {

                                if (@header.menuDisplayname == "")
                                {
                                    continue;
                                }
                                if (!header.isChecked)
                                {
                            <li>
                                @if (@header.actionName == "")
                                {
                                    <a href="#!">@header.menuDisplayname</a>
                                }
                                else
                                {
                                    <a href="@Url.Action(@header.actionName, @header.controllerName)">@header.menuDisplayname</a>
                                }
                            </li> 
                                }
                                else
                                {
                        <li> @if (@header.actionName == "")
                             {
                            <span class="s5_level1_span1"><a href="#" class="active">@header.menuDisplayname</a> </span>
                            
                             }
                             else
                             {
                            <span class="s5_level1_span1"><a href="@Url.Action(@header.actionName, @header.controllerName)" class="active">@header.menuDisplayname</a> </span>
				            
                             }</li> 
                                }

                            }

                        }
                        catch (Exception ee)
                        {

                        }
                        
                        @*These are static menus only for vendor*@
                        @*@if (@Session["RoleName"].ToString().Equals("Vendor"))
                        {
                            <li><a href="../SystemUsers/HelpPage" target="_blank">Prequalification Requirements</a></li>
                            <li><a href="../SystemUsers/HelpPage" target="_blank">Help</a></li>
                        }*@
                                                                                     
                    </ul>
                                                     
                <div style="clear:both; height:0px"></div>
            </div>
    </div>
    <div style="clear:both; height:0px"></div>	
    </div>
    </div>
    </div>

</div>
		
		<script>
    $(document).ready(function () {
       try{ $("#menu").kendoMenu();}catch(e){}
    });
</script>
<style>
    .k-menu .k-i-arrow-s {
        display: none;
    }

    .k-menu-expand-arrow {
        display: none !important;
    }
     #nav-trigger{
        background:none!important;
        padding:unset!important;
        width:unset!important;
    }
      .k-menu .k-item{
      background:white;
  }
</style>