﻿<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=8"/>
<meta http-equiv="X-UA-Compatible" content="IE=9"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width"/>

<title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="icon" href="~/images/favicon.ico" type="image/icon" />
@*@Scripts.Render("~/js/jquery-1.9.1.min.js")*@
@*<script src="~/Scripts/kendo/kendo.all.min.js"></script>
    <script src="~/Scripts/kendo/jszip.min.js"></script>*@
@Scripts.Render("~/bundles/common")
@Scripts.Render("~/bundles/kendo")

 @Styles.Render("~/bundles/admindashboard/css")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
<div id="top-bar">
    <div class="inner">
        @if (@Session["OldUserName"] != null && !Session["OldUserName"].ToString().Equals(""))
        {
            <div id="switchuser-loginmessage" class="switchuser">
                @Session["OldUserName"] Logged in as @Session["UserName"]
            </div>

            <div class="incognitouser">
                <a href="@Url.Action("IncognitoUser", "SystemUsers")">Switch to - @Session["OldEmail"]</a>
            </div>
        }
        <div id="login-box">
            <div id="register">
                <ul>
                    <li><a href="@Url.Action("LogOut", "SystemUsers")">Log Out</a></li>
                </ul>
            </div><!--/#register-->
            <div id="login">
                <ul>
                    <li> @if (@Session["UserName"] != null && !@Session["UserName"].ToString().Equals(""))
                         {
                             @:Logged in as @Session["UserName"]
                         }</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">

    <div class="header
         @if (@Session["OldUserName"] != null && !Session["OldUserName"].ToString().Equals("")) { @: adminHeader
                           }
         ">
        @Html.Partial("_DashboardHeaderPartial")
        <div class="page-title">
            <h2 style="margin:0px;"><strong>Admin</strong>Dashboard</h2>
        </div>
    </div>

<div class="content">
    <div class="sidebar_right">
        @Html.Partial("_DashBoardMainSideBar")
    </div>
    <div class="main">
        @RenderBody()
    </div>
</div>
<div class="footer">
    @Html.Partial("_LoginFooter")
</div>
</div>
</body>
@Html.Partial("_Resources")
@*<script src="~/Scripts/kendo/kendo.all.min.js"></script>*@
@*<link href="~/css/kendo/kendo.default.min.css" rel="stylesheet" />
<link href="~/css/kendo/kendo.common.min.css" rel="stylesheet" />
<link href="~/css/kendo/kendo.default.mobile.min.css" rel="stylesheet" />*@
@Styles.Render("~/css/kendo/bundle")