﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    @*<meta http-equiv="X-UA-Compatible" content="IE=8" />*@
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="icon" href="~/images/favicon.ico" type="image/icon" />
    <link href="~/css/Quiz.css" rel="stylesheet" />
    @Styles.Render("~/css/common.css")
    @Styles.Render("~/css/appInnerPages.css")
    @Styles.Render("~/css/index.css")
    @Styles.Render("~/css/popupmodel.css")
    @Scripts.Render("~/js/jquery-1.9.1.min.js")
    
    @Scripts.Render("~/js/common.js")
    @Scripts.Render("~/js/jquery.mask.js")
    @Scripts.Render("~/js/lodash.min.js")
    @Scripts.Render("~/js/moment.min.js")
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="~/Scripts/Application/Common/Http.js"></script>
    <script src="~/Scripts/Application/Control/Controls.js"></script>
    <script src="~/Scripts/Application/Utilities/Utilities.js"></script>
    <script src="~/Scripts/kendo/kendo.all.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/css/ClientDashboard.css" rel="stylesheet" />
</head>
<script type = "text/javascript">
    var currentSideMenuSelection = 0;
    function showRightPanel(type, currentElement) {
       
        hideAll();
        currentSideMenuSelection = type;
                switch (type) {
                    case 0: $(".Open_Clients").show();
                       
                        break;
                    case 1:
                       $("#Client_Code").show();
                        $("#myClient_Code").show();
                        
                        break;
                    case 2:
                       $("#RenewPrequalification").show();
                        //$("#Requalification_previouspq").show();
                        break;

                }
    }
    function hideAll() {
        $(".Open_Clients").hide();
        $("#Client_Code").hide();
        $("#RenewPrequalification").hide();
        //$("#Requalification_previouspq").hide();
        $("#myClient_Code").hide();
       
    }
   
    </script>
<style>  .k-dialog .k-content {
   
    text-align: center;
}</style>
<body id="body">
    <div id="top-bar">
        <div class="inner">
            @if (@Session["OldUserName"] != null && !Session["OldUserName"].ToString().Equals(""))
            {
                <div id="switchuser-loginmessage" class="switchuser">
                    @Session["OldUserName"] Logged in as @Session["UserName"]
                </div>

                <div class="incognitouser">
                    <a href="@Url.Action("IncognitoUser", "SystemUsers")">Switch to - @Session["OldEmail"]</a>
                </div>
            }
            @*<div class="notifications">
                    <img src="~/images/notifications.png"/>
                    <a href="#!" onclick="showLeftPanel(1,this)">Notifications </a>
                        @if (@ViewBag.NotificationCount > 0) {
                        <sup id="superText">@ViewBag.NotificationCount</sup>
                    }
                </div>*@
            <div id="login-box">
                <div id="register">
                    <ul>
                        <li><a href="@Url.Action("LogOut", "SystemUsers")">Log Out</a></li>
                    </ul>
                </div><!--/#register-->
                <div id="login">
                    <ul>
                        <li>
                            @if (@Session["UserName"] != null && !@Session["UserName"].ToString().Equals(""))
                            {
                                @:Logged in as @Session["UserName"]
                            }
                        </li>
                    </ul>
                </div><!--/#login-->
            </div><!--/#login-box-->
        </div><!--/.inner-->
    </div><!--/#top-bar-->
    <div class="container">

        <div class="header
             @if (@Session["OldUserName"] != null && !Session["OldUserName"].ToString().Equals("")) 
             { 
                 @: adminHeader
             }
             ">
            @Html.Partial("_DashboardHeaderPartial")
        </div>

        <div class="content">
            <div class="sidebar_left">
                @Html.Partial("_DashBoardSideBar")
            </div>
            <div class="main_right">
                <div id="popModelDiv">
                    @Html.Partial("_PopupModel")
                </div>
                @RenderBody()
                <span id="notification"></span>
            </div>
        </div>
        <div class="footer">
            @Html.Partial("_LoginFooter")
        </div>
    </div>

</body>
@Html.Partial("_Resources")
@Scripts.Render("~/js/popupModel.js")
<script src="~/Scripts/kendo/kendo.all.min.js"></script>
<link href="~/css/kendo/kendo.default.min.css" rel="stylesheet" />
<link href="~/css/kendo/kendo.common.min.css" rel="stylesheet" />
<link href="~/css/kendo/kendo.default.mobile.min.css" rel="stylesheet" />