﻿<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Client Dashboard - First, Verify</title>
        <meta name="description" content="Client Dashboard - First, Verify">
        <meta name="viewport" content="width=device-width">
        <title>Header</title>
        <link rel="stylesheet" href="~/css/normalize.min.css">
        //<link rel="stylesheet" href="~/css/main.css">

        <script src = "~/js/main.js"></script>
        <script src="~/js/vendor/modernizr-2.6.2.min.js"></script>
        <script src="~/js/plugins.js"></script>
    </head>
    <body>

   
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <style>
            /*.bg1{float:left; width:100%; height:2px; background:#f6f6f6; }*/
            .bg2{float:left; width:100%; height:1px; background:#ccc; }
            /*.bg3{float:left; width:100%; height:2px; background:#f6f6f6; }*/
        </style>
		
		<nav class = "nav">
			<ul> 
				<li><a href="@Url.Action("VendorAwaiting", "AdminVendors")" id = "dashboardId">Dashboard</a></li> 
				<li><a href="@Url.Action("InviteVendor", "AdminVendors")" id = "inviteVendorId">Vendors</a></li> 
				<li><a href="#" id = "ReportsId">Reports</a></li> 
				<li><a href="#" id = "prequalificationId">Prequalification Requirements</a></li> 
				<li><a href="#" id = "contactUsId">Contact <b>First</b>, Verify</a></li> 
				<li><a href="@Url.Action("MyAccount", "SystemUsers")" id = "myAccountId">My Account</a></li> 
                
			</ul> 
		</nav>
		
        @*<script>
            var xyz = "@ViewBag.headerSelected";
            alert("@ViewBag.headerSelected");
            HeadBold(@ViewBag.headerSelected);
        </script>*@

		<header>
			
		</header>
		
		<div class="bg1">
            
        </div>

        <div class="bg2">
            
        </div>

        <div class="bg3">
            
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>            window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>

        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

        <script>
            var _gaq = [['_setAccount', 'UA-XXXXX-X'], ['_trackPageview']];
            (function (d, t) {
                var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
                g.src = ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js';
                s.parentNode.insertBefore(g, s)
            } (document, 'script'));
        </script>
    </body>
</html>

