﻿@model List<FVGen3.Domain.Entities.FinancialClientViewModel>
@using System.Resources;

<style>.align{text-align:left !important;}</style>
<script src="~/Scripts/jquery-1.9.1.min.js"></script>
<script src="~/js/autoNumeric2.js"></script>
@Scripts.Render("~/bundles/FinancialAnalytics")


@if (Model.Count() != 0)
{
    <div style="float:right;margin:10px">
        @if (ViewBag.latestPq)
        {
        <button type="button" onclick='window.open("../Prequalification/FinancialDataEntryPopUpView?PrequalificationId=@ViewBag.PQId","_blank", "toolbar=no,  directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, copyhistory=yes, width=850, height=570")'>Financial Data</button>
        }  </div>
    <table style="width:100%" id="container" border="1" class="data-table">
        <thead>
            <tr>
                <th></th>
                <th title="Current Year to Date Statement">@Resources.Resources.CrntYTD</th>
                <th title="Previous Year Statement">@Resources.Resources.PrvsYr</th>
                <th title="Previous But One Year Statement"> @Resources.Resources.TwoYrsPrvs</th>
                <th title="Previous But two Year Statement">@Resources.Resources.ThreeYrsPrvs</th>
                <th title="Average">Average</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td>@Resources.Resources.DateFinanclStmnts</td>
            @for (int i = 0; i < Model.Count(); i++)
            {

                //if (Model[i].DateOfFinancialStatements != null)
                //{
                <td style="text-align:center !important">
                    @*@Html.TextBoxFor(r => r[i].DateOfFinancialStatements, "{0:yyyy-MM-dd}",
                         new
                         {
                             @id = "DateOfFinancialStatements_" + i,
                            
                             @disabled = "true"
                         })*@
                    @if(i==0&&(Model[i].LastUpdatedOn!=null))
                    {
                    @( Model[i].FinancialYearEndDate.HasValue ? Model[i].FinancialYearEndDate.Value.ToString("MM'/'dd'/'yyyy") : "")<br /><span style="font-size:12px" id="updated">(Revised: @(Model[i].LastUpdatedOn.HasValue ? Model[i].LastUpdatedOn.Value.ToString("MM'/'dd'/'yyyy") : ""))</span>}
                    else{@( Model[i].FinancialYearEndDate.HasValue ? Model[i].FinancialYearEndDate.Value.ToString("MM'/'dd'/'yyyy") : "")}
                </td>

            }<td></td>
        </tr>
            @*<tr>
                <td style="font-style: italic">
                    @Resources.Resources.LastUPdatedOn
                </td>  @for (int i = 0; i < Model.Count(); i++)
                {
                   
                    <td style="text-align:right!important;width:100px;font-style: italic">@(Model[i].LastUpdatedOn.HasValue ? Model[i].LastUpdatedOn.Value.ToString("MM'/'dd'/'yyyy") : "")</td>
                }<td></td>
            </tr>*@

        <tr>
            <td>@Resources.Resources.SrcFinanclStmnts</td>
            @for (int i = 0; i < Model.Count(); i++)
            {
                <td style="text-align:center !important">
                    @Html.DropDownListFor(r => r[i].SourceOfFinancialStatements, new List<SelectListItem>
                           { new SelectListItem{Text="Audited", Value="Audited",Selected=(Model[i].SourceOfFinancialStatements.Trim().Equals("Audited"))},
                             new SelectListItem{Text="Internal", Value="Internal",Selected=(Model[i].SourceOfFinancialStatements.Trim().Equals("Internal"))},
                             new SelectListItem{Text="Compiled", Value="Compiled",Selected=(Model[i].SourceOfFinancialStatements.Trim().Equals("Compiled"))},
                             new SelectListItem{Text="Reviewed", Value="Reviewed",Selected=(Model[i].SourceOfFinancialStatements.Trim().Equals("Reviewed"))}}, "Please Select", new { @disabled = "true" })
                </td>
            }<td></td>
        </tr>
            <tr>
                <td>Date of interim financial statement</td>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    if (i != 0)
                    {
                        continue;
                    }
                    //if (Model[i].DateOfFinancialStatements != null)
                    //{
                    <td style="text-align:center !important">
                        @( Model[i].Dateofinterimfinancialstatement.HasValue ? Model[i].Dateofinterimfinancialstatement.Value.ToString("MM'/'dd'/'yyyy") : "")
                    </td>

                }
                
            </tr>

        @*<tr>
            <td><br /></td>
        </tr>*@




        @if (@Session["RoleName"].ToString() == "Admin" || Session["RoleName"].ToString() == "Client")
        {


            <tr style="background-color:#808080">
                <td colspan="6" class="align"><strong>@Resources.Resources.LqdtyWrkCptlRatio</strong></td>
                @*<td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>*@
            </tr>
            <tr>
                <td>
                    <label>@Resources.Resources.WrkngCptl_Lbl</label>
                </td>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <td>
                        $@(Model[i].WorkingCapital)

                    </td>
                }
                @for (int i = Model.Count(); i < 4; i++)
                {
                    <td></td>
                }

                <td>
                    <label>$@Model.Average(r => decimal.Parse(r.WorkingCapital == "N/A" ? "0" : r.WorkingCapital)).ToString("#,##0")</label>
                </td>

            </tr>
            <tr>
                <td>
                    <label>@Resources.Resources.DaysOvrhdCvrdWrkngCptl_Lbl</label>
                </td>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <td>
                        @(Model[i].DaysOverheadCoveredinWorkingCapital)
                    </td>
                }
                @for (int i = Model.Count(); i < 4; i++)
                {
                    <td></td>
                }
                <td>
                    <label>@Model.Average(r => decimal.Parse(r.DaysOverheadCoveredinWorkingCapital == "N/A" ? "0" : r.DaysOverheadCoveredinWorkingCapital)).ToString("#,##0")</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>@Resources.Resources.WrkngCptlPrcntRevn_Lbl</label>
                </td>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    if (Model[i].WorkingCapitalPercenttoRevenue != "N/A")
                    {
                        <td>@(Model[i].WorkingCapitalPercenttoRevenue)%</td>
                    }
                    else
                    {
                        <td>@(Model[i].WorkingCapitalPercenttoRevenue)</td>
                    }
                    @*<td>
                            @( Model[i].WorkingCapitalPercenttoRevenue)%

                        </td>*@
                }
                @for (int i = Model.Count(); i < 4; i++)
                {
                    <td></td>
                }
                <td>
                    <label>@Model.Average(r => decimal.Parse(r.WorkingCapitalPercenttoRevenue == "N/A" ? "0" : r.WorkingCapitalPercenttoRevenue)).ToString("#,##0.00")%</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>@Resources.Resources.WrkngCptlTrnOvr_Lbl</label>
                </td>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <td>
                        @( Model[i].WorkingCapitalTurnover)

                    </td>
                }
                @for (int i = Model.Count(); i < 4; i++)
                {
                    <td></td>
                }
                <td>
                    <label>@Model.Average(r => decimal.Parse(r.WorkingCapitalTurnover == "N/A" ? "0" : r.WorkingCapitalTurnover)).ToString("#,##0.00")</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>@Resources.Resources.CrntRatio_Lbl</label>
                </td>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <td>
                        @( Model[i].CurrentRatio)

                    </td>
                }
                @for (int i = Model.Count(); i < 4; i++)
                {
                    <td></td>
                }
                <td>
                    <label>@Model.Average(r => decimal.Parse(r.CurrentRatio == "N/A" ? "0" : r.CurrentRatio)).ToString("#,##0.00")</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>@Resources.Resources.QckRatio_Lbl</label>
                </td>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <td>
                        @( Model[i].QuickRatio)

                    </td>
                }
                @for (int i = Model.Count(); i < 4; i++)
                {
                    <td></td>
                }
                <td>
                    <label>@Model.Average(r => decimal.Parse(r.QuickRatio == "N/A" ? "0" : r.QuickRatio)).ToString("#,##0.00")</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>@Resources.Resources.DfnsIntvlRatio_Lbl</label>
                </td>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <td>
                        @(Model[i].DefensiveIntervalRatio)
                    </td>
                }
                @for (int i = Model.Count(); i < 4; i++)
                {
                    <td></td>
                }
                <td>
                    <label>@Model.Average(r => decimal.Parse(r.DefensiveIntervalRatio == "N/A" ? "0" : r.DefensiveIntervalRatio)).ToString("#,##0.00")</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>@Resources.Resources.NetOvrBlng_Lbl</label>
                </td>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <td class="negative">
                        $@(Model[i].NetOverBillings)
                    </td>
                }
                @for (int i = Model.Count(); i < 4; i++)
                {
                    <td></td>
                }
                <td class="negative">
                    <label>$@Model.Average(r => decimal.Parse(r.NetOverBillings == "N/A" ? "0" : r.NetOverBillings)).ToString("#,##0")</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>@Resources.Resources.NetOvrBlngPrcntRevn_Lbl</label>
                </td>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    if (Model[i].NetOverBillingPercentageRevenue != "N/A")
                    {
                        <td>@(Model[i].NetOverBillingPercentageRevenue)%</td>
                    }
                    else
                    {
                        <td>@(Model[i].NetOverBillingPercentageRevenue)</td>
                    }
                    @*<td>
                            @(Model[i].NetOverBillingPercentageRevenue)%
                        </td>*@
                }
                @for (int i = Model.Count(); i < 4; i++)
                {
                    <td></td>
                }
                <td>
                    <label>@Model.Average(r => decimal.Parse(r.NetOverBillingPercentageRevenue == "N/A" ? "0" : r.NetOverBillingPercentageRevenue)).ToString("#,##0.00")%</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>@Resources.Resources.DaysRevnRcvbl_Lbl</label>
                </td>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <td>
                        @(Model[i].DaysRevenueinReceivables)
                    </td>
                }
                @for (int i = Model.Count(); i < 4; i++)
                {
                    <td></td>
                }
                <td>
                    <label>@Model.Average(r => decimal.Parse(r.DaysRevenueinReceivables == "N/A" ||string.IsNullOrEmpty(r.DaysRevenueinReceivables) ? "0" : r.DaysRevenueinReceivables)).ToString("#,##0.00")</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>@Resources.Resources.DaysCash_Lbl</label>
                </td>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <td>
                        @(Model[i].DaysCash)
                    </td>
                }
                @for (int i = Model.Count(); i < 4; i++)
                {
                    <td></td>
                }
                <td>
                    <label>@Model.Average(r => decimal.Parse(r.DaysCash == "N/A" ? "0" : r.DaysCash)).ToString("#,##0.00")</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>@Resources.Resources.CshOvrblng_Lbl</label>
                </td>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <td>
                        @(Model[i].CashtoOverBillings)
                    </td>
                }
                @for (int i = Model.Count(); i < 4; i++)
                {
                    <td></td>
                }
                <td>
                    <label>@Model.Average(r => decimal.Parse(r.CashtoOverBillings == "N/A" ? "0" : r.CashtoOverBillings)).ToString("#,##0.00")</label>
                </td>

            </tr>
            <tr>
                <td>@Resources.Resources.CshEqty_Lbl</td>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    if (Model[i].CashtoEquity != "N/A")
                    {
                        <td>@(Model[i].CashtoEquity)%</td>
                    }
                    else
                    {
                        <td>@(Model[i].CashtoEquity)</td>
                    }
                    @*<td>
                            @(Model[i].CashtoEquity)%
                        </td>*@
                }
                @for (int i = Model.Count(); i < 4; i++)
                {
                    <td></td>
                }
                <td>
                    <label>@Model.Average(r => decimal.Parse(r.CashtoEquity == "N/A" ? "0" : r.CashtoEquity)).ToString("#,##0.00")%</label>
                </td>
            </tr>
            <tr>
                <td>@Resources.Resources.CshRevn_Lbl</td>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    if (Model[i].CashtoRevenue != "N/A")
                    {
                        <td>@(Model[i].CashtoRevenue)%</td>
                    }
                    else
                    {
                        <td>@(Model[i].CashtoRevenue)</td>
                    }
                    @*<td>
                            @(Model[i].CashtoRevenue)%
                        </td>*@
                }
                @for (int i = Model.Count(); i < 4; i++)
                {
                    <td></td>
                }
                <td>
                    <label>@Model.Average(r => decimal.Parse(r.CashtoRevenue == "N/A" ? "0" : r.CashtoRevenue)).ToString("#,##0.00")%</label>
                </td>
            </tr>
            <tr>
                <td>@Resources.Resources.DebtCvrgRatio_Lbl</td>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <td>
                        @(Model[i].DebtCoverageRatio)
                    </td>
                }
                @for (int i = Model.Count(); i < 4; i++)
                {
                    <td></td>
                }
                <td>
                    <label>@Model.Average(r => decimal.Parse(r.DebtCoverageRatio == "N/A" ? "0" : r.DebtCoverageRatio)).ToString("#,##0.00")</label>
                </td>

            </tr>



            <tr style="background-color:#808080">
                <td colspan="6" class="align"><strong>@Resources.Resources.Bcklog_Lbl</strong></td>
                @*<td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>*@
            </tr>
            <tr>
                <td>@Resources.Resources.BndngCapcty_Lbl</td>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <td>
                        $@(Model[i].BondingCapacity)
                    </td>
                }
                @for (int i = Model.Count(); i < 4; i++)
                {
                    <td></td>
                }
                <td>
                    <label>$@Model.Average(r => decimal.Parse(r.BondingCapacity == "N/A" ? "0" : r.BondingCapacity)).ToString("#,##0")</label>
                </td>

            </tr>
            <tr>
                <td>@Resources.Resources.BcklogPrcntgBndngCapcty_Lbl</td>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    if (Model[i].BacklogPercentageBondingCapacity != "N/A")
                    {
                        <td>@(Model[i].BacklogPercentageBondingCapacity)%</td>
                    }
                    else
                    {
                        <td>@(Model[i].BacklogPercentageBondingCapacity)</td>
                    }
                    @*<td>
                            @(Model[i].BacklogPercentageBondingCapacity)%
                        </td>*@
                }
                @for (int i = Model.Count(); i < 4; i++)
                {
                    <td></td>
                }
                <td>
                    <label>@Model.Average(r => decimal.Parse(r.BacklogPercentageBondingCapacity == "N/A" ? "0" : r.BacklogPercentageBondingCapacity)).ToString("#,##0.00")%</label>
                </td>

            </tr>
            <tr>
                <td>@Resources.Resources.BcklogPrcntgRevn_Lbl</td>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    if (Model[i].BacklogPercentageRevenue != "N/A")
                    {
                        <td>@(Model[i].BacklogPercentageRevenue)%</td>
                    }
                    else
                    {
                        <td>@(Model[i].BacklogPercentageRevenue)</td>
                    }
                    @*<td>
                            @(Model[i].BacklogPercentageRevenue)%
                        </td>*@
                }
                @for (int i = Model.Count(); i < 4; i++)
                {
                    <td></td>
                }
                <td>
                    <label>@Model.Average(r => decimal.Parse(r.BacklogPercentageRevenue == "N/A" ? "0" : r.BacklogPercentageRevenue)).ToString("#,##0.00")%</label>
                </td>
            </tr>
            <tr>
                <td>@Resources.Resources.BcklogGrsPrftPrcntgGAExpns_Lbl</td>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    if (Model[i].BacklogGrossProfitGAExpense != "N/A")
                    {
                        <td>@(Model[i].BacklogGrossProfitGAExpense)%</td>
                    }
                    else
                    {
                        <td>@(Model[i].BacklogGrossProfitGAExpense)</td>
                    }
                    @*<td>
                            @(Model[i].BacklogGrossProfitGAExpense)%
                        </td>*@
                }
                @for (int i = Model.Count(); i < 4; i++)
                {
                    <td></td>
                }
                <td>
                    <label>@Model.Average(r => decimal.Parse(r.BacklogGrossProfitGAExpense == "N/A" ? "0" : r.BacklogGrossProfitGAExpense)).ToString("#,##0.00")%</label>
                </td>
            </tr>
            <tr>
                <td>@Resources.Resources.MnthsRevnBcklg_Lbl</td>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <td>
                        @(Model[i].MonthsRevenueBacklog)
                    </td>
                }
                @for (int i = Model.Count(); i < 4; i++)
                {
                    <td></td>
                }
                <td>
                    <label>@Model.Average(r => decimal.Parse(r.MonthsRevenueBacklog == "N/A" ? "0" : r.MonthsRevenueBacklog)).ToString("#,##0.00")</label>
                </td>

            </tr>



            <tr style="background-color:#808080">
                <td colspan="6"  class="align"><strong>@Resources.Resources.LvrgRatio_Lbl</strong></td>
                @*<td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>*@
            </tr>
            <tr>
                <td>@Resources.Resources.EqtyRevn_Lbl</td>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    if (Model[i].EquityRevenue != "N/A")
                    {
                        <td>@(Model[i].EquityRevenue)%</td>
                    }
                    else
                    {
                        <td>@(Model[i].EquityRevenue)</td>
                    }
                }
                @for (int i = Model.Count(); i < 4; i++)
                {
                    <td></td>
                }
                <td>
                    <label>@Model.Average(r => decimal.Parse(r.EquityRevenue == "N/A" ? "0" : r.EquityRevenue)).ToString("#,##0.00")%</label>
                </td>
            </tr>
            <tr>
                <td>@Resources.Resources.IntrstBrngDebtEqty_Lbl</td>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <td>
                        @(Model[i].InterestBearingDebtEquity)
                    </td>
                }
                @for (int i = Model.Count(); i < 4; i++)
                {
                    <td></td>
                }
                <td>
                    <label>@Model.Average(r => decimal.Parse(r.InterestBearingDebtEquity == "N/A" ? "0" : r.InterestBearingDebtEquity)).ToString("#,##0.00")</label>
                </td>
            </tr>
            <tr>
                <td>@Resources.Resources.DebtWrkCaptl_Lbl</td>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <td>
                        @(Model[i].DebtWorkingCapital)
                    </td>
                }
                @for (int i = Model.Count(); i < 4; i++)
                {
                    <td></td>
                }
                <td>
                    <label>@Model.Average(r => decimal.Parse(r.DebtWorkingCapital == "N/A" ? "0" : r.DebtWorkingCapital)).ToString("#,##0.00")</label>
                </td>
            </tr>
            <tr>
                <td>@Resources.Resources.TotlLiabltyEqty_Lbl</td>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    if (Model[i].TotalLiabilitiesEquity != "N/A")
                    {
                        <td>@(Model[i].TotalLiabilitiesEquity)%</td>
                    }
                    else
                    {
                        <td>@(Model[i].TotalLiabilitiesEquity)</td>
                    }
                    @*<td>
                            @(Model[i].TotalLiabilitiesEquity)%
                        </td>*@
                }
                @for (int i = Model.Count(); i < 4; i++)
                {
                    <td></td>
                }
                <td>
                    <label>@Model.Average(r => decimal.Parse(r.TotalLiabilitiesEquity == "N/A" ? "0" : r.TotalLiabilitiesEquity)).ToString("#,##0.00")%</label>
                </td>
            </tr>



            <tr style="background-color:#808080">
                <td colspan="6"  class="align"><strong>@Resources.Resources.PrftbltyRatio_Lbl</strong></td>
                @*<td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>*@
            </tr>
            <tr>
                <td>@Resources.Resources.GrsPrftPrcntg_Lbl</td>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    if (Model[i].GrossProfitPercentage != "N/A")
                    {
                        <td>@(Model[i].GrossProfitPercentage)%</td>
                    }
                    else
                    {
                        <td>@(Model[i].GrossProfitPercentage)</td>
                    }
                    @*<td>
                            @(Model[i].GrossProfitPercentage)%
                        </td>*@
                }
                @for (int i = Model.Count(); i < 4; i++)
                {
                    <td></td>
                }
                <td>
                    <label>@Model.Average(r => decimal.Parse(r.GrossProfitPercentage == "N/A" ? "0" : r.GrossProfitPercentage)).ToString("#,##0.00")%</label>
                </td>
            </tr>
            <tr>
                <td>@Resources.Resources.GAPrcntg_Lbl</td>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    if (Model[i].GAPercentage != "N/A")
                    {
                        <td>@(Model[i].GAPercentage)%</td>
                    }
                    else
                    {
                        <td>@(Model[i].GAPercentage)</td>
                    }
                    @*<td>
                            @(Model[i].GAPercentage)%
                        </td>*@
                }
                @for (int i = Model.Count(); i < 4; i++)
                {
                    <td></td>
                }
                <td>
                    <label>@Model.Average(r => decimal.Parse(r.GAPercentage == "N/A" ? "0" : r.GAPercentage)).ToString("#,##0.00")%</label>
                </td>
            </tr>
            <tr>
                <td>@Resources.Resources.PreTaxErngPrcntg_Lbl</td>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    if (Model[i].PretaxEarningsPercentage != "N/A")
                    {
                        <td>@(Model[i].PretaxEarningsPercentage)%</td>
                    }
                    else
                    {
                        <td>@(Model[i].PretaxEarningsPercentage)</td>
                    }
                    @*<td>
                            @(Model[i].PretaxEarningsPercentage)%
                        </td>*@
                }
                @for (int i = Model.Count(); i < 4; i++)
                {
                    <td></td>
                }
                <td>
                    <label>@Model.Average(r => decimal.Parse(r.PretaxEarningsPercentage == "N/A" ? "0" : r.PretaxEarningsPercentage)).ToString("#,##0.00")%</label>
                </td>
            </tr>
            <tr>
                <td>@Resources.Resources.PreTaxRtrnCrntYrEqty_Lbl</td>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    if (Model[i].PretaxReturnCurrentYearEquity != "N/A")
                    {
                        <td>@(Model[i].PretaxReturnCurrentYearEquity)%</td>
                    }
                    else
                    {
                        <td>@(Model[i].PretaxReturnCurrentYearEquity)</td>
                    }
                    @*<td>
                            @(Model[i].PretaxReturnCurrentYearEquity)%
                        </td>*@
                }
                @for (int i = Model.Count(); i < 4; i++)
                {
                    <td></td>
                }
                <td>
                    <label>@Model.Average(r => decimal.Parse(r.PretaxReturnCurrentYearEquity == "N/A" ? "0" : r.PretaxReturnCurrentYearEquity)).ToString("#,##0.00")%</label>
                </td>
            </tr>
            <tr>
                <td>@Resources.Resources.PreTaxRtrnCrntYrAsts_Lbl</td>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    if (Model[i].PretaxReturnCurrentYearAssets != "N/A")
                    {
                        <td>@(Model[i].PretaxReturnCurrentYearAssets)%</td>
                    }
                    else
                    {
                        <td>@(Model[i].PretaxReturnCurrentYearAssets)</td>
                    }
                    @*<td>
                            @(Model[i].PretaxReturnCurrentYearAssets)%
                        </td>*@
                }
                @for (int i = Model.Count(); i < 4; i++)
                {
                    <td></td>
                }
                <td>
                    <label>@Model.Average(r => decimal.Parse(r.PretaxReturnCurrentYearAssets == "N/A" ? "0" : r.PretaxReturnCurrentYearAssets)).ToString("#,##0.00")%</label>
                </td>
            </tr>
            <tr>
                <td>@Resources.Resources.AftrTaxRtrnCrntYrEqty_Lbl</td>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <td>
                        @(Model[i].AfterTaxReturnCurrentYearEquity)
                    </td>
                }
                @for (int i = Model.Count(); i < 4; i++)
                {
                    <td></td>
                }
                <td>
                    <label>@Model.Average(r => decimal.Parse(r.AfterTaxReturnCurrentYearEquity == "N/A" ? "0" : r.AfterTaxReturnCurrentYearEquity)).ToString("#,##0.00")</label>
                </td>
            </tr>
            <tr>
                <td>@Resources.Resources.AftrTaxRtrnCrntYrAsts_Lbl</td>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <td>
                        @(Model[i].AfterTaxReturnCurrentYearAssets)
                    </td>
                }
                @for (int i = Model.Count(); i < 4; i++)
                {
                    <td></td>
                }
                <td>
                    <label>@Model.Average(r => decimal.Parse(r.AfterTaxReturnCurrentYearAssets == "N/A" ? "0" : r.AfterTaxReturnCurrentYearAssets)).ToString("#,##0.00")</label>
                </td>
            </tr>
            <tr>
                <td>@Resources.Resources.Ebidta_Lbl</td>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <td>
                        @(Model[i].EBITDA)
                    </td>
                }
                @for (int i = Model.Count(); i < 4; i++)
                {
                    <td></td>
                }
                <td>
                    <label>@Model.Average(r => decimal.Parse(r.EBITDA == "N/A" ? "0" : r.EBITDA)).ToString("#,##0")</label>
                </td>
            </tr>
            <tr>
                <td>@Resources.Resources.PrctngRevn_Lbl</td>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    if (Model[i].AsPercentageRevenue != "N/A")
                    {
                        <td>@(Model[i].AsPercentageRevenue)%</td>
                    }
                    else
                    {
                        <td>@(Model[i].AsPercentageRevenue)</td>
                    }
                    @*<td>
                            @(Model[i].AsPercentageRevenue)%
                        </td>*@
                }
                @for (int i = Model.Count(); i < 4; i++)
                {
                    <td></td>
                }
                <td>
                    <label>@Model.Average(r => decimal.Parse(r.AsPercentageRevenue == "N/A" ? "0" : r.AsPercentageRevenue)).ToString("#,##0.00")%</label>
                </td>
            </tr>

        }
</tbody>
    </table>
}
else
{
    <p>Data Not Found</p>
}


<script>
$('.negative').each(function () {
    var value = $(this).html();

    if (value.indexOf("-") >= 0) {
        $(this).html("(" + value.replace(/-/g, '') + ")");
    }
});</script>