﻿@model List<FVGen3.Domain.Entities.JobMetricModel>
@using System.Resources;
<style>
    .data-table {
        width: 100%;
    }

        .data-table th, .data-table td {
            /*border: 1px solid black;*/
            border-collapse: collapse;
        }

            .data-table td:nth-child(2) {
                text-align: right !important;
            }

        .data-table tr:nth-child(even) td {
            background-color: #81DAF5;
        }

        .data-table tr:nth-child(odd) td {
            background-color: #CEECF5;
        }

        .data-table tbody tr:hover td {
            background-color: #ffffa2;
            border-color: #ffff0f;
        }
</style>



@*<link href="~/css/FinancialAnalytics.css" rel="stylesheet" />*@
@if (Model==null || Model.Count() == 0)
{
    <div>
        <label style="color:red">No Data Found</label>
    </div>
}
else
{
    <div style="width:99%">
        <p style="text-align:center"><strong>@ViewBag.VendorName</strong></p>
        </div>
        <div style="width:99%">
        <div style="border:solid">
            <p style="border-bottom:solid; background-color:lightgray; text-align:center">
                <label>@Resources.Resources.JobMetricViewHeaderLine1_Lbl</label> <br />
                <label>@Resources.Resources.JobMetricViewHeaderLine2_Lbl</label>
            </p>
            <table style="padding:50px" class="data-table">
                <tr>
                    <th></th>  @for (int i = 0; i < Model.Count(); i++)
                    {
                        if (i > 1)
                        {
                            continue;
                        }
                        <th style="text-align:right!important;width:100px">
                            @if (i == 0 && (Model[i].LastUpdatedOn != null))
                            {@(Model[i].FormattedValue)<br /><span style="font-size:12px" id="updated"> (Revised: @(Model[i].LastUpdatedOn.HasValue ? Model[i].LastUpdatedOn.Value.ToString("MM'/'dd'/'yyyy") : ""))</span>
                            }

                            else
                            {  @(Model[i].FormattedValue)}</th>
                    }
                </tr>
                @*<tr>
                    <th style="font-style: italic">
                    @Resources.Resources.LastUPdatedOn</th>  @for (int i = 0; i < Model.Count(); i++)
                    {
                        if (i > 1)
                        {
                            continue;
                        }
                        <th style="text-align:right!important;width:100px;font-style: italic;text-align:left!important">@(Model[i].LastUpdatedOn.HasValue ? Model[i].LastUpdatedOn.Value.ToString("MM'/'dd'/'yyyy") : "")</th>
                    }
                </tr>*@
            </table>
            <div>
                <strong> &nbsp; @Resources.Resources.SingleJobRcmndtn_Lbl</strong>
                <table style="padding:50px" class="data-table">

                    <tr>
                        <td>@Resources.Resources.NetWrthAvlblLOC_Lbl</td>
                        @for (int i = 0; i < Model.Count(); i++)
                        {
                            if (i > 1)
                            {
                                continue;
                            }
                            <td style="width:100px">@(Model[i].networthLoc)</td>
                        }
                    </tr>
                    <tr>
                        <td>@Resources.Resources.FiveTimesWrkngCptl_Lbl</td>
                        @for (int i = 0; i < Model.Count(); i++)
                        {
                            if (i > 1)
                            {
                                continue;
                            }
                            <td>@(Model[i].FivetimesWorkingCapital)</td>
                        }
                    </tr>
                    <tr>
                        <td>@Resources.Resources.TwntyFivePriorYrRevn_Lbl</td>
                        @for (int i = 0; i < Model.Count(); i++)
                        {
                            if (i > 1)
                            {
                                continue;
                            }
                            <td>@(Model[i].TwntyFivePrcntPriorYearRevenue)</td>
                        }
                    </tr>
                    <tr>
                        <td>@Resources.Resources.SvntyPrcntThreeLrgstCmpltdPrjcts_Lbl</td>
                        @for (int i = 0; i < Model.Count(); i++)
                        {
                            if (i > 1)
                            {
                                continue;
                            }
                            <td>@(Model[i].SeventyFivePercentLargestCompletedProject)</td>
                        }
                    </tr>
                    <tr>
                        <td>@Resources.Resources.AvrgMeasureSingleJob_Lbl</td>
                        @for (int i = 0; i < Model.Count(); i++)
                        {
                            if (i > 1)
                            {
                                continue;
                            }
                            <td style="padding-top:25px;padding-bottom:25px">@(Model[i].AvrgMeasuresForSingleJob)</td>
                        }
                    </tr>
                </table>
            </div>
            <div>
                <strong>&nbsp; @Resources.Resources.AggrtBcklg_Lbl</strong>
                <table style="padding:50px" class="data-table">
                    <tr>
                        <td>@Resources.Resources.NetWrthTotalLoc_Lbl</td>
                        @for (int i = 0; i < Model.Count(); i++)
                        {
                            if (i > 1)
                            {
                                continue;
                            }
                            <td style="width:100px">@(Model[i].NetWorthTotalLineCredit)</td>
                        }
                    </tr>
                    <tr>
                        <td>@Resources.Resources.TenTimesWrkngCptl_Lbl</td>
                        @for (int i = 0; i < Model.Count(); i++)
                        {
                            if (i > 1)
                            {
                                continue;
                            }
                            <td>@(Model[i].TenTimesWorkingCapital)</td>
                        }
                    </tr>
                    <tr>
                        <td>@Resources.Resources.FiftyPrcntPriorYrRevn_Lbl</td>
                        @for (int i = 0; i < Model.Count(); i++)
                        {
                            if (i > 1)
                            {
                                continue;
                            }
                            <td>@(Model[i].FiftyPercentPriorYearRevenue)</td>
                        }
                    </tr>
                    <tr>
                        <td>@Resources.Resources.TenTimesNetWrth_Lbl</td>
                        @for (int i = 0; i < Model.Count(); i++)
                        {
                            if (i > 1)
                            {
                                continue;
                            }
                            <td>@(Model[i].TenTimesNetWorth)</td>
                        }
                    </tr>
                    <tr>
                        <td>@Resources.Resources.AvrgMeasuresAgrgt_Lbl</td>
                        @for (int i = 0; i < Model.Count(); i++)
                        {
                            if (i > 1)
                            {
                                continue;
                            }
                            <td style="padding:25px">@(Model[i].AvrgMeasuresForAggrigate)</td>
                        }
                    </tr>
                </table>
            </div>

            <div>
                <strong> &nbsp; @Resources.Resources.OthrInfrmtnneededFrAnlys</strong>
                <table style="padding:50px" class="data-table">
                    <tr>
                        <td>@Resources.Resources.TLoc</td>
                        @for (int i = 0; i < Model.Count(); i++)
                        {
                            if (i > 1)
                            {
                                continue;
                            }
                            <td style="width:100px">@(Model[i].TotalLinesCredit)</td>
                        }
                    </tr>
                    <tr>
                        <td>@Resources.Resources.ALoc</td>
                        @for (int i = 0; i < Model.Count(); i++)
                        {
                            if (i > 1)
                            {
                                continue;
                            }
                            <td>@(Model[i].AvailableLineCredit)</td>
                        }
                    </tr>
                    <tr>
                        <td>@Resources.Resources.Total3LrgstCmpltdPrjcts</td>
                        @for (int i = 0; i < Model.Count(); i++)
                        {
                            if (i > 1)
                            {
                                continue;
                            }
                            <td>@(Model[i].TotalOfThreeLargestCompletedProjects)</td>
                        }
                    </tr>
                </table>
            </div>

        </div>
    </div>
}