﻿<div id="s5_header_area1"> 
                <div id="s5_header_area2">
                    <div id="s5_header_area_inner">
                        <div id="s5_header_wrap">
                            <div id ="s5_logo_wrap">
                                    <img alt="logo" src="~/logo/1.png" id="s5_logo" style="max-width: 330px !important;"/>
                            </div>
                        @*<div id="s5_header_right">
                                <div id="phone">(402) 562-5930</div> 
                        </div>*@

                        <div id="s5_header_right" style="height:85px;">
                            <div id="s5_logo_FV"> </div>
                            <div id="phone" style="bottom: 16px;">(402) 562-5930</div> 
                            
                        </div>
                        <div id="nav-trigger">
                            
                            <ul id="menu">
                                <li>
                                    @*Menu*@
                                    <i class="fa fa-bars" aria-hidden="true" style="font-size: x-large;"></i>
                                <ul>
                                    <li><a href="@Url.Action("Login", "SystemUsers")" class="active">Login</a></li>
                                    <li><a href="@Url.Action("VendorRegistration", "Vendor")" class="active">Vendor Registration</a></li>
                                    <li><a href="../SystemUsers/HelpPage">Help</a></li>
                                </ul>
                                
                                </li>

                            </ul>
                            
                            
                            
                            
                            </div>
                        <div id="s5_menu_wrap">
                    
                            <div id="s5_menu_wrap_inner">
                                <ul id='s5_nav' class='menu'>
                                        <li>
                                           @if (@ViewBag.PageType!=null && @ViewBag.PageType == "Login")
                                           {
                                               @: <span class="s5_level1_span1">
                                           }
                                                <a href="@Url.Action("Login", "SystemUsers")" class="active" >Login</a> 
                                           @if (@ViewBag.PageType != null && @ViewBag.PageType == "Login")
                                           {
                                            @:</span>
                                           }
                                        </li>
                                        <li>
                                           @if (@ViewBag.PageType != null && @ViewBag.PageType == "Registration")
                                           {
                                               @: <span class="s5_level1_span1">
                                           }
                                            <a href="@Url.Action("VendorRegistration", "Vendor")" class="active">Vendor Registration</a>
                                           @if (@ViewBag.PageType != null && @ViewBag.PageType == "Registration")
                                           {
                                                @:</span>
                                           }
                                        </li>
                                        <li style=" float:right;">
                                        
                                         @if (@ViewBag.PageType != null && @ViewBag.PageType == "Help")
                                           {
                                               @: <span class="s5_level1_span1">
                                           }
                                            <a href="../SystemUsers/HelpPage">Help</a>
                                        @if (@ViewBag.PageType != null && @ViewBag.PageType == "Help")
                                           {
                                                @:</span>
                                           }
                                        
                                        </li>
                                    </ul>
                                                     
                                <div style="clear:both; height:0px"></div>
                            </div>
                    </div>
                    <div style="clear:both; height:0px"></div>	
                </div>
            </div>
        </div>
    </div>

<script>
    $(document).ready(function () {
        try{$("#menu").kendoMenu();}catch(e){}
    });
</script>
<style>
    .k-menu .k-i-arrow-s {
   display: none;
}
    .k-menu-expand-arrow{
        display:none!important;
    }
     #nav-trigger{
        background:none!important;
        padding:unset!important;
        width:unset!important;
    }

      .k-menu .k-item{
      background:white;
  }
</style>