﻿    <div class="footer_content">
    	<nav>
    		<ul>
                <li>If you need assistance call <strong>(402) 562-5930</strong></li>
                <li>© 2014-@DateTime.Now.Year.ToString() <b>FIRST,</b> VERIFY. All Rights Reserved.</li>
                <li><a target="_blank" href="~/html/TermsAndConditions.html">Terms and Conditions</a></li>
                <li><a target="_blank" href="~/html/PrivacyPolicy.html">Privacy Policy</a></li>
                <li><a target="_blank" href="../SystemUsers/HelpPage">Contact Us</a></li>
                <li  style="border:0px;"><a href="http://www.firstverify.com" target="_blank">FirstVerify.com</a></li>
    		</ul>
    	</nav>
    </div>
</html>