﻿@model List<FVGen3.Domain.Entities.NewZScoreModel>
@using System.Resources;


<style>.align{text-align:left !important;}</style>

@if (!Model.Any())
{
    <div>
        <label style="color:red">No Data Found</label>
    </div>
}
else
{
    <div style="width:100%;float:left;">
        <p style="text-align:center"><strong>@ViewBag.VendorName</strong></p>
        <p style="text-align:center"><label><b>@Resources.Resources.ZScore_Lbl</b></label></p>
        <div style="width:100%">
            <div style="width:100%">
                <table style="width:100%" class="data-table">
                    <thead>
                        <tr>
                            <th></th>
                                                        @for (int i = 0; i < Model.Count(); i++)
                                                        {
                                                            
                                                            <th >
                                                                @if (i == 0 && (Model[i].LastUpdatedOn != null))
                                                                {@(Model[i].FormattedValue)<br /><span style="font-size:12px" id="updated"> (Revised: @(Model[i].LastUpdatedOn.HasValue ? Model[i].LastUpdatedOn.Value.ToString("MM'/'dd'/'yyyy") : ""))</span>
                                                                }

                                                                else
                                                                {  @(Model[i].FormattedValue)}
                                                            </th>
                            }
                        </tr>
                        @*<tr>
                            <th style="font-style: italic">
                                @Resources.Resources.LastUPdatedOn
                            </th> 
                             @for (int i = 0; i < Model.Count(); i++)
                            {

                                <th style="text-align:right!important;width:100px;font-style: italic;text-align:left!important">@(Model[i].LastUpdatedOn.HasValue ? Model[i].LastUpdatedOn.Value.ToString("MM'/'dd'/'yyyy") : "")</th>
                            }
                        </tr>*@
                    </thead> 
                    <tr>
                        <td>@Resources.Resources.ZScore_Lbl</td>

                        @for (int i = 0; i < Model.Count(); i++)
                        {
                            if ((Model[i].ZScore) > 2.65m)
                            {
                                <td class="colorGreen" style="text-align:center !important">@(Model[i].ZScore.ToString("#,##0.0000"))</td>
                            }
                            else
                            {
                                <td class="colorRed" style="text-align:center !important">@(Model[i].ZScore.ToString("#,##0.0000"))</td>
                            }
                        }
                    </tr>
                </table>
            </div>
            
            <div style="width:100%; border:solid;margin-top:20px">
                <table style="width:100%" class="data-table">
                 <tbody>                        @for (int i = 0; i < Model.Count(); i++)
                 {
                       <thead> <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th>@Resources.Resources.Wt_Factor</th>
                            <th></th>
                        </tr></thead>
                       
                            <tr>
                                <td>@(Model[i].FormattedValue)</td>
                                <td>
                                    <strong>@Resources.Resources.ReturnonTotalAssets_Lbl</strong><br />
                                </td>
                                <td>
                                    <div>
                                        <p style="border-bottom:solid" class="align">@Resources.Resources.EarningsBeforeIntTaxes_Lbl</p>
                                        <p class="align">@Resources.Resources.TotalAssets_Lbl</p>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <p style="border-bottom:solid" class="align">@(Model[i].EarningsBeforeIntAndTax.ToString("#,##0"))</p>
                                        <p class="align">@(Model[i].TotalAssets.ToString("#,##0"))</p>
                                    </div>
                                </td>
                                <td>@(Model[i].CalculationForReturnOnTotalAssets)</td>
                                <td>@(Model[i].WeightFactorForReturnOnTotalAssets)</td>
                                <td>@(Model[i].ReturnOnTotalAssets)</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><strong>@Resources.Resources.SalestoTotalAssets_Lbl</strong></td>
                                <td>
                                    <div>
                                        <p style="border-bottom:solid" class="align">@Resources.Resources.NetSales_Lbl</p>
                                        <p class="align">@Resources.Resources.TotalAssets_Lbl</p>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <p style="border-bottom:solid" class="align">@(Model[i].NetSales.ToString("#,##0"))</p>
                                        <p class="align">@(Model[i].TotalAssets.ToString("#,##0"))</p>
                                    </div>
                                </td>
                                <td>@(Model[i].CalculationForSalesOfTotalAssets)</td>
                                <td>@(Model[i].WeightFactorForSalesOfTotalAssets)</td>
                                <td>@(Model[i].SalesOfTotalAssets)</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><strong>@Resources.Resources.EquitytoDebt_Lbl</strong></td>
                                <td>
                                    <div>
                                        <p  class="align" style="border-bottom:solid">@Resources.Resources.Equity</p>
                                        <p class="align">@Resources.Resources.TotalLiabilities_Lbl</p>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <p style="border-bottom:solid" class="align">@(Model[i].Equity.ToString("#,##0"))</p>
                                        <p class="align">@(Model[i].TotalLiabilities.ToString("#,##0"))</p>
                                    </div>
                                </td>
                                <td>@(Model[i].CalculationForEquityToDebt)</td>
                                <td>@(Model[i].WeightFactorForEquityToDebt)</td>
                                <td>@(Model[i].EquityToDebt)</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><strong>@Resources.Resources.WorkingCapitaltoTotalAssets_Lbl</strong></td>
                                <td>
                                    <div>
                                        <p style="border-bottom:solid" class="align">@Resources.Resources.WrkngCptl_Lbl</p>
                                        <p class="align">@Resources.Resources.TotalAssets_Lbl</p>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <p style="border-bottom:solid" class="align">@(Model[i].workingCapital.ToString("#,##0"))</p>
                                        <p class="align">@(Model[i].TotalAssets.ToString("#,##0"))</p>
                                    </div>
                                </td>
                                <td>@(Model[i].CalculationForWorkingCapitalToTotalAssets)</td>
                                <td>@(Model[i].WeightFactorForWorkingCapitalToTotalAssets)</td>
                                <td>@(Model[i].WorkingCapitalToTotalAssets)</td>
                            </tr>
                            <tr style="border-bottom: 1px solid black;">
                                <td style="border-bottom: 1px solid black;"></td>
                                <td style="border-bottom: 1px solid black;"><strong>@Resources.Resources.RetainedEarningstoTotalAssets_Lbl</strong></td>
                                <td style="border-bottom: 1px solid black;">
                                    <div>
                                        <p style="border-bottom:solid" class="align">@Resources.Resources.RetainedEarnings_Lbl</p>
                                        <p class="align">Total Assets</p>
                                    </div>
                                </td>
                                <td style="border-bottom: 1px solid black;">
                                    <div>
                                        <p style="border-bottom:solid" class="align">@(Model[i].RetainedEarnings.ToString("#,##0"))</p>
                                        <p class="align">@(Model[i].TotalAssets.ToString("#,##0"))</p>
                                    </div>
                                </td>
                                <td style="border-bottom: 1px solid black;">@(Model[i].CalculationForRetainedEarningsToTotalAssets)</td>
                                <td style="border-bottom: 1px solid black;">@(Model[i].WeightFactorForRetainedEarningsToTotalAssets)</td>
                                <td style="border-bottom: 1px solid black;">@(Model[i].RetainedEarningsToTotalAssets)</td>
                            </tr>


                 }</tbody>
                        
                </table>

            </div>
            @*<div style="border:solid">
                    @for (int i = 0; i < Model.Count(); i++)
                    {

                        <table>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th>Weight Factor</th>
                                <th></th>
                            </tr>
                            <tr>
                                <td>@Html.DisplayFor(r => r[i].FormattedValue, new { @disabled = "true" })</td>
                                <td><strong>Return on Total Assets</strong></td>
                                <td>
                                    <div>
                                        <p style="border-bottom:solid">Earnings Before Int & Taxes</p>
                                        <p>Total Assets</p>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <p style="border-bottom:solid">@Html.TextBoxFor(r => r[i].EarningsBeforeIntAndTax, new { @disabled = "true" })</p>
                                        <p>@Html.TextBoxFor(r => r[i].TotalAssets, new { @disabled = "true" })</p>
                                    </div>
                                </td>
                                <td>@Html.TextBoxFor(r => r[i].CalculationForReturnOnTotalAssets, new { @disabled = "true" })</td>
                                <td>@Html.TextBoxFor(r => r[i].WeightFactorForReturnOnTotalAssets, new { @disabled = "true" })</td>
                                <td>@Html.TextBoxFor(r => r[i].ReturnOnTotalAssets, new { @disabled = "true" })</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><strong>Sales to Total Assets</strong></td>
                                <td>
                                    <div>
                                        <p style="border-bottom:solid">Net Sales</p>
                                        <p>Total Assets</p>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <p style="border-bottom:solid">@Html.TextBoxFor(r => r[i].NetSales, new { @disabled = "true" })</p>
                                        <p>@Html.TextBoxFor(r => r[i].TotalAssets, new { @disabled = "true" })</p>
                                    </div>
                                </td>
                                <td>@Html.TextBoxFor(r => r[i].CalculationForSalesOfTotalAssets, new { @disabled = "true" })</td>
                                <td>@Html.TextBoxFor(r => r[i].WeightFactorForSalesOfTotalAssets, new { @disabled = "true" })</td>
                                <td>@Html.TextBoxFor(r => r[i].SalesOfTotalAssets, new { @disabled = "true" })</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><strong>Equity to Debt</strong></td>
                                <td>
                                    <div>
                                        <p style="border-bottom:solid">Equity</p>
                                        <p>Total Liabilities</p>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <p style="border-bottom:solid">@Html.TextBoxFor(r => r[i].Equity, new { @disabled = "true" })</p>
                                        <p>@Html.TextBoxFor(r => r[i].TotalLiabilities, new { @disabled = "true" })</p>
                                    </div>
                                </td>
                                <td>@Html.TextBoxFor(r => r[i].CalculationForEquityToDebt, new { @disabled = "true" })</td>
                                <td>@Html.TextBoxFor(r => r[i].WeightFactorForEquityToDebt, new { @disabled = "true" })</td>
                                <td>@Html.TextBoxFor(r => r[i].EquityToDebt, new { @disabled = "true" })</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><strong>Working Capital to Total Assets</strong></td>
                                <td>
                                    <div>
                                        <p style="border-bottom:solid">Working Capital</p>
                                        <p>Total Assets</p>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <p style="border-bottom:solid">@Html.TextBoxFor(r => r[i].workingCapital, new { @disabled = "true" })</p>
                                        <p>@Html.TextBoxFor(r => r[i].TotalAssets, new { @disabled = "true" })</p>
                                    </div>
                                </td>
                                <td>@Html.TextBoxFor(r => r[i].CalculationForWorkingCapitalToTotalAssets, new { @disabled = "true" })</td>
                                <td>@Html.TextBoxFor(r => r[i].WeightFactorForWorkingCapitalToTotalAssets, new { @disabled = "true" })</td>
                                <td>@Html.TextBoxFor(r => r[i].WorkingCapitalToTotalAssets, new { @disabled = "true" })</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><strong>Retained Earnings to Total Assets</strong></td>
                                <td>
                                    <div>
                                        <p style="border-bottom:solid">Retained Earnings</p>
                                        <p>Total Assets</p>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <p style="border-bottom:solid">@Html.TextBoxFor(r => r[i].RetainedEarnings, new { @disabled = "true" })</p>
                                        <p>@Html.TextBoxFor(r => r[i].TotalAssets, new { @disabled = "true" })</p>
                                    </div>
                                </td>
                                <td>@Html.TextBoxFor(r => r[i].CalculationForRetainedEarningsToTotalAssets, new { @disabled = "true" })</td>
                                <td>@Html.TextBoxFor(r => r[i].WeightFactorForRetainedEarningsToTotalAssets, new { @disabled = "true" })</td>
                                <td>@Html.TextBoxFor(r => r[i].RetainedEarningsToTotalAssets, new { @disabled = "true" })</td>
                            </tr>
                        </table>


                    }
                </div>*@
        </div>
    </div>
}