﻿@model List<FVGen3.Domain.Entities.PMDashboardModel>
@using System.Resources;
<style>
    .align {
        text-align: left !important;
    }
</style>

@if (!Model.Any())
{
    <div>
        <label style="color:red">No Data Found</label>
    </div>
}
else
{
    <div style="width:100%">
        <p style="text-align:center"><strong>PM DASHBOARD</strong></p>
        <table style="width:100%" class="data-table">
            <tbody>
                <tr>
                    <th></th>
                                        @for (int i = 0; i < Model.Count(); i++)
                                        {
                                            
                                            <th>
                                                @if (i == 0 && (Model[i].LastUpdatedOn != null))
                                                {@(Model[i].FormattedValue)<br /><span style="font-size:12px" id="updated"> (Revised: @(Model[i].LastUpdatedOn.HasValue ? Model[i].LastUpdatedOn.Value.ToString("MM'/'dd'/'yyyy") : ""))</span>
                                                }

                                                else
                                                {  @(Model[i].FormattedValue)}
                                            </th>
                    }
                </tr>
                @*<tr>
                    <th style="font-style: italic">@Resources.Resources.LastUPdatedOn</th>
                    @for (int i = 0; i < Model.Count(); i++)
                    {
                        <th style="font-style: italic;text-align:left!important">@(Model[i].LastUpdatedOn.HasValue ? Model[i].LastUpdatedOn.Value.ToString("MM'/'dd'/'yyyy") : "")</th>
                    }
                </tr>*@
                <tr>
                    <td>
                        <div>
                            <p>@Resources.Resources.CrntRatio_Lbl</p>
                            <p>(@Resources.Resources.CurrentAssets_Lbl/@Resources.Resources.CurrentLiabilities_Lbl)</p>
                        </div>
                    </td>
                    @for (int i = 0; i < Model.Count(); i++)
                    {
                        var colourclass = "";
                        colourclass = Model[i].CurrentRatio == "N/A" ? "" : Convert.ToDecimal(Model[i].CurrentRatio) < 1.0M
                            ? "colorRed" : Convert.ToDecimal(Model[i].CurrentRatio) >= 1.5m ? "colorGreen" : "colorYellow";
                        <td class="@colourclass">@(Model[i].CurrentRatio)</td>
                      
                    }
                    <td>@if (ViewBag.latestPq)
                    {
                        <button onclick='window.open("/Prequalification/LoadGraph?PQId=@ViewBag.PrequalificationId&field=CurrentRatio", "_blank", "toolbar=no,  directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=yes, width=650, height=470")'>See Graph</button>
                    }</td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <p>@Resources.Resources.QckRatio_Lbl</p>
                            <p>(@Resources.Resources.CashReceivables_Lbl/@Resources.Resources.CurrentLiabilities_Lbl)</p>
                        </div>
                    </td>

                    @for (int i = 0; i < Model.Count(); i++)
                    {
                        var colourclass = "";
                        colourclass = Model[i].QuickRatio == "N/A" ? "" : Convert.ToDecimal(Model[i].QuickRatio) <= 0.75m
                            ? "colorRed" : Convert.ToDecimal(Model[i].QuickRatio) >= 1.0m ? "colorGreen" : "colorYellow";
                        <td class="@colourclass">@(Model[i].QuickRatio)</td>
                    }

                    <td>
                        @if (ViewBag.latestPq)
                        {
                        <button onclick='window.open("/Prequalification/LoadGraph?PQId=@ViewBag.PrequalificationId&field=QuickRatio", "_blank", "toolbar=no,  directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=yes, width=650, height=470")'>See Graph</button>
                        }
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <p>@Resources.Resources.WorkingCapitaltoRevenue_Lbl</p>
                            <p>(@Resources.Resources.WrkngCptl_Lbl/@Resources.Resources.Revenue_Lbl)</p>
                        </div>
                    </td>
                    @for (int i = 0; i < Model.Count(); i++)
                    {
                        if (Model[i].WorkingCapitalRevenue != "N/A")
                        {

                            var colourclass = "";
                            colourclass = Model[i].WorkingCapitalRevenue == "N/A" ? "" : Convert.ToDecimal(Model[i].WorkingCapitalRevenue) < 5
                                ? "colorRed" : Convert.ToDecimal(Model[i].WorkingCapitalRevenue) >= 10 ? "colorGreen" : "colorYellow";
                        <td class="@colourclass">@(Model[i].WorkingCapitalRevenue)%</td>
                        }
                        else
                        {
                    <td >@(Model[i].WorkingCapitalRevenue)</td>}

                    }
                    <td>
                    @if (ViewBag.latestPq)
                    {<button onclick='window.open("/Prequalification/LoadGraph?PQId=@ViewBag.PrequalificationId&field=WorkingCapitalPercentageRevenue", "_blank", "toolbar=no,  directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=yes, width=650, height=470")'>See Graph</button>}
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <p>@Resources.Resources.DaysCash_Lbl</p>
                            <p>(@Resources.Resources.Cashx360_Lbl/@Resources.Resources.Revenue_Lbl)</p>
                        </div>
                    </td>
                    @for (int i = 0; i < Model.Count(); i++)
                    {

                        var colourclass = "";
                        colourclass = Model[i].DaysCash == "N/A" ? "" : Convert.ToDecimal(Model[i].DaysCash) < 10
                            ? "colorRed" : Convert.ToDecimal(Model[i].DaysCash) >= 30 ? "colorGreen" : "colorYellow";
                        <td class="@colourclass">@(Model[i].DaysCash)</td>



                    }
                    <td>
                    @if (ViewBag.latestPq)
                    {<button onclick='window.open("/Prequalification/LoadGraph?PQId=@ViewBag.PrequalificationId&field=DaysCash", "_blank", "toolbar=no,  directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=yes, width=650, height=470")'>See Graph</button>}
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <p>@Resources.Resources.ReturnonEquity_Lbl</p>
                            <p>(@Resources.Resources.NetIncm/@Resources.Resources.ShareholdersEquity_Lbl)</p>
                        </div>
                    </td>
                    @for (int i = 0; i < Model.Count(); i++)
                    {if (Model[i].ReturnEquity != "N/A")
                        {
                            var colourclass = "";
                            colourclass = Model[i].ReturnEquity == "N/A" ? "" : Convert.ToDecimal(Model[i].ReturnEquity) < 0
                                ? "colorRed" : Convert.ToDecimal(Model[i].ReturnEquity) >= 10 ? "colorGreen" : "colorYellow";
                        <td class="@colourclass">@(Model[i].ReturnEquity)%</td>}
                        else
                        {
                    <td >@(Model[i].ReturnEquity)</td>}

                    }
                    <td>@if (ViewBag.latestPq)
                    {<button onclick='window.open("/Prequalification/LoadGraph?PQId=@ViewBag.PrequalificationId&field=AfterTaxReturnCurrentEquity", "_blank", "toolbar=no,  directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=yes, width=650, height=470")'>See Graph</button>}
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <p>@Resources.Resources.NetProfitMargin_Lbl</p>
                            <p>(@Resources.Resources.NetProfit_Lbl/@Resources.Resources.Revenue_Lbl)</p>
                        </div>
                    </td>
                    @for (int i = 0; i < Model.Count(); i++)
                    {if (Model[i].NetProfitMargin != "N/A") { 
                        var colourclass = "";
                        colourclass = Model[i].NetProfitMargin == "N/A" ? "" : Convert.ToDecimal(Model[i].NetProfitMargin) < 0
                            ? "colorRed" : Convert.ToDecimal(Model[i].NetProfitMargin) >= 5 ? "colorGreen" : "colorYellow";
                        <td class="@colourclass">@(Model[i].NetProfitMargin)%</td>}
                        else
                        {
                    <td>@(Model[i].NetProfitMargin)</td> }
                    }

                    <td>@if (ViewBag.latestPq)
                    {<button onclick='window.open("/Prequalification/LoadGraph?PQId=@ViewBag.PrequalificationId&field=NetProfitMargin", "_blank", "toolbar=no,  directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=yes, width=650, height=470")'>See Graph</button>}</td>
                </tr>
            </tbody>
        </table>
        <table class="data-table"style="margin-top:20px;width:100%;table-layout:fixed">
            <thead>
                <tr>
                    <th></th>
                    <th >Current Year</th>
                    <th>One Year Previous</th>
                    <th>Two Years Previous</th>

                </tr>
            </thead>
            <tr>
                <td>
                    <div>
                        <p style="font-size:large">EMR</p>
                        <p style="font-size:large">(Must be below 1.0)</p>
                    </div>
                </td>
                @foreach (var item in (List<String>)ViewBag.EMR)
                {
                    var colourclass = "";
                    decimal val;
                    if (Decimal.TryParse(item, out val))
                    {
                        colourclass = val < 1.0m ? "colorGreen" : "colorRed";
                    }

                    <td style="font-size:medium" class="@colourclass">
                        @item
                    </td>
                }
            </tr>
            <tr>
                <td>
                    <div>
                        <p style="font-size:large">RIR</p>
                        <p style="font-size:large">(Must be below 5.0)</p>
                    </div>
                </td>

                @foreach (var item in (List<String>)ViewBag.RIR)
                {
                    var colourclass = "";
                    decimal decimalVal = 0;
                    decimal.TryParse(item, out decimalVal);

                    colourclass = decimalVal < 5.0m ? "colorGreen" : "colorRed";
                    <td style="font-size:medium" class="@colourclass">
                        @item
                    </td>
                }
            </tr>
            <tr>
                <td><div>
                    <p style="font-size:large">DART</p>
                    <p style="font-size:large">(Must be below 5.0)</p>
    </div></td>
    @foreach (var item in (List<String>)ViewBag.DART)
    {
        var colourclass = "";
        decimal decimalVal = 0;
        decimal.TryParse(item, out decimalVal);
        colourclass = decimalVal < 5.0m ? "colorGreen" : "colorRed";
        <td style="font-size:medium" class="@colourclass">
            @item
        </td>
    }
    </tr>
        </table>

    @{  var sysUserBusiness = new FVGen3.BusinessLogic.SystemUserBusiness();
                var userId = (Guid)Session["UserId"];}
        @if (sysUserBusiness.IsUserHasPermission(userId, Resources.LocalConstants.Financial_Analytics_Ratios_View_Id) && Session["RoleName"].ToString().Equals("Admin"))
        {
            <div style="width:100%; border:solid;margin-top:20px;">
                <table style="width:100.2%" border="1" class="data-table">
                    @for (int i = 0; i < Model.Count(); i++)
                    {
                        <tr>
                            <td>@(Model[i].FormattedValue)</td>
                            <td>
                                <div>
                                    <strong>@Resources.Resources.CrntRatio_Lbl</strong><br />
                                    @*<strong>(@Resources.Resources.CurrentAssets_Lbl/@Resources.Resources.CurrentLiabilities_Lbl)</strong>*@
                                </div>
                            </td>
                            @*<td>
                                <div>
                                    <p style="border-bottom:solid" class="align">@Resources.Resources.CurrentAssets_Lbl</p>
                                    <p class="align">@Resources.Resources.CurrentLiabilities_Lbl</p>
                                </div>
                            </td>*@
                            <td>
                                <div>
                                    <p style="border-bottom:solid;text-align:left!important">@(Model[i].CurrentAssets.ToString("#,##0.00"))</p>
                                    <p style="text-align:left!important">@(Model[i].CurrentLiabilities.ToString("#,##0.00"))</p>
                                </div>
                            </td>
                            <td>@(Model[i].CurrentRatio)</td>
                        </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <div>
                                            <strong>@Resources.Resources.QckRatio_Lbl</strong><br />
                                            @*<strong>(@Resources.Resources.CashReceivables_Lbl/@Resources.Resources.CurrentLiabilities_Lbl)</strong>*@
                                        </div>
                                    </td>
                                    @*<td>
                                        <div>
                                            <p style="border-bottom:solid" class="align">@Resources.Resources.CashReceivables_Lbl</p>
                                            <p class="align">@Resources.Resources.CurrentLiabilities_Lbl</p>
                                        </div>
                                    </td>*@
                                    <td>
                                        <div>
                                            <p style="border-bottom:solid;text-align:left!important">@(Model[i].CashReceivables.ToString("#,##0.00"))</p>
                                            <p style="text-align:left!important">@(Model[i].CurrentLiabilities.ToString("#,##0.00"))</p>
                                        </div>
                                    </td>
                                    <td>@(Model[i].QuickRatio)</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <div>
                                            <strong>@Resources.Resources.WorkingCapitaltoRevenue_Lbl</strong><br />
                                            @*<strong>(@Resources.Resources.WrkngCptl_Lbl/@Resources.Resources.Revenue_Lbl)</strong>*@
                                        </div>
                                    </td>
                                    @*<td>
                                        <div>
                                            <p style="border-bottom:solid" class="align">@Resources.Resources.WrkngCptl_Lbl</p>
                                            <p class="align">@Resources.Resources.Revenue_Lbl</p>
                                        </div>
                                    </td>*@
                                    <td>
                                        <div>
                                            <p style="border-bottom:solid;text-align:left!important">@(Model[i].WorkingCapital.ToString("#,##0.00"))</p>
                                            <p style="text-align:left!important">@(Model[i].Revenue.ToString("#,##0.00"))</p>
                                        </div>
                                    </td>
                                    @if (Model[i].WorkingCapitalRevenue != "N/A")
                                    {
                                        <td>@(Model[i].WorkingCapitalRevenue)%</td>
                                    }
                                    else
                                    {
                                        <td>@(Model[i].WorkingCapitalRevenue)</td>
                                    }

                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <div>
                                            <strong>@Resources.Resources.DaysCash_Lbl</strong><br />
                                            @*<strong>(@Resources.Resources.Cashx360_Lbl/@Resources.Resources.Revenue_Lbl)</strong*@@*>*@
                                        </div>
                                    </td>
                                    @*<td>
                                        <div>
                                            <p style="border-bottom:solid" class="align">@Resources.Resources.Cashx360_Lbl</p>
                                            <p class="align">@Resources.Resources.Revenue_Lbl</p>
                                        </div>
                                    </td>*@
                                    <td>
                                        <div>
                                            <p style="border-bottom:solid;text-align:left!important">@(Model[i].CashX360.ToString("#,##0.00"))</p>
                                            <p style="text-align:left!important">@(Model[i].Revenue.ToString("#,##0.00"))</p>
                                        </div>
                                    </td>
                                    <td>@(Model[i].DaysCash)</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <div>
                                            <strong>@Resources.Resources.ReturnonEquity_Lbl</strong><br />
                                            @*<strong>(@Resources.Resources.NetIncm/@Resources.Resources.ShareholdersEquity_Lbl)</strong>*@
                                        </div>
                                    </td>
                                    @*<td>
                                        <div>
                                            <p style="border-bottom:solid" class="align">@Resources.Resources.NetIncm</p>
                                            <p class="align">@Resources.Resources.ShareholdersEquity_Lbl</p>
                                        </div>
                                    </td>*@
                                    <td>
                                        <div>
                                            <p style="border-bottom:solid;text-align:left!important">@(Model[i].NetIncome.ToString("#,##0.00"))</p>
                                            <p style="text-align:left!important">@(Model[i].ShareholderEquity.ToString("#,##0.00"))</p>
                                        </div>
                                    </td>
                                    @if (Model[i].ReturnEquity != "N/A")
                                    {
                                        <td>@(Model[i].ReturnEquity)%</td>
                                    }
                                    else
                                    {
                                        <td>@(Model[i].ReturnEquity)</td>
                                    }

                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <div>
                                            <strong>@Resources.Resources.NetProfitMargin_Lbl</strong><br />
                                            @*<strong>(@Resources.Resources.NetProfit_Lbl/@Resources.Resources.Revenue_Lbl)</strong>*@
                                        </div>
                                    </td>
                                    @*<td>
                                        <div>
                                            <p style="border-bottom:solid" class="align">@Resources.Resources.NetProfit_Lbl</p>
                                            <p class="align">@Resources.Resources.Revenue_Lbl</p>
                                        </div>
                                    </td>*@
                                    <td>
                                        <div>
                                            <p style="border-bottom:solid;text-align:left!important">@(Model[i].NetProfit.ToString("#,##0.00"))</p>
                                            <p style="text-align:left!important">@(Model[i].Revenue.ToString("#,##0.00"))</p>
                                        </div>
                                    </td>
                                    @if (Model[i].NetProfitMargin != "N/A")
                                    {
                                        <td>@(Model[i].NetProfitMargin)%</td>
                                    }
                                    else
                                    {
                                        <td>@(Model[i].NetProfitMargin)</td>
                                    }

                                </tr>
                                <tr style="border-bottom: 1px solid #000;">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                   
                                </tr>


                    }
                </table>

            </div>
        }

    </div>
        }
