

    <!-- Modal content -->
    <div class="modal-content" id="myModal">
        <span class="close" onclick="Model.hide()">&times;</span>
        <p id="modelContent" style="margin-bottom: 20px;">Please click the Save button to avoid possible loss of data entered.<br /></p>
        <div id="modelHtml"></div>
    </div>


