﻿<div id="popupModel" class="modal">

    
    <div class="modal-content">
        <div class="modal-header" id="modelHeaderDiv">
            <span class="close" id="popupClose">&times;</span>
            <span><h2 id="modelHeader">Modal Header</h2></span>
        </div>
        <div class="modal-body" id="modelBody">
            <p>Some text in the Modal Body</p>
            <p>Some other text...</p>
        </div>
        @*<div class="modal-footer">
                <h3>Modal Footer</h3>
            </div>*@
    </div>

</div>