﻿@using FVGen3.Domain.Entities;
@using Resources;
@using FVGen3.BusinessLogic;
@model LocalSearchVendors
@{
    Layout = null;
     var sysUserBusiness = new SystemUserBusiness();
}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="Client Dashboard - First, Verify" />
    <meta name="viewport" content="width=device-width" />
    <script src="~/js/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="~/js/jquery.ui.datepicker.js"></script>
    <script src="~/js/jquery.ui.widget.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <link rel="stylesheet" href="~/css/jquery-ui.css" />
    @Styles.Render("~/css/jqueryindex.css")
    @Styles.Render("~/css/jquery.ui.all.css")

    <script src="~/Scripts/Application/Control/Controls.js"></script>
    <script src="~/Scripts/Application/Report/Reports.js"></script>
</head>

<script type="text/javascript">
    $(document).ready(function () {
        debugger;
        $("#flip").click(function () {
            $("#panel").slideToggle("");
        });

        $("#invitation").click(function () {
            $("#invitationpanel").slideToggle("");
        });
        $("#VendorInvites").click(function () {
            $("#VendorInvitespanel").slideToggle("");
        });


        $("#ERITemplates").click(function () {
            $("#ERITemplatesPanel").slideToggle("");
        });
        $("#InjuryStatistics").click(function () {
            $("#InjuryStatisticsPanel").slideToggle("");
        });
        $("#fee").click(function () {
            $("#feepanel").slideToggle("");
        });
        $("#InsuranceInfo").click(function () {
            $("#InsuranceInfoPanel").slideToggle("");
        });
        $("#StatusHistoryinfo").click(function () {
            $("#StatusHistoryPanel").slideToggle("");
        });
        $("#FinancialAnalyticsinfo").click(function () {
            $("#FinancialAnalyticsinfoPanel").slideToggle("");
        });
        $("#SubSectionReport").click(function () {
            $("#SubSectionReportPanel").slideToggle("");
        });
        // Kiran on 11/1/2014
        $("#EmployeeTrainings").click(function () {
            $("#EmployeeTrainingsPanel").slideToggle("");
        });
        $("#OnsiteOffsite").click(function () {
            $("#OnsiteOffsitePanel").slideToggle("");
        });
        $("#OnsiteOffsiteVisitor").click(function () {
            $("#OnsiteOffsiteVisitorPanel").slideToggle("");
        });
        $("#ClientOnsiteOffsite").click(function () {
            $("#ClientOnsiteOffsitePanel").slideToggle("");
        });

        $("#ContractVendors").click(function () {
            $("#ContractVendorsPanel").slideToggle("");
        });


        $("#VendorReview").click(function () {
            $("#VendorRating").slideToggle("");
            clientUsers();
        });
        OOGetClientEmployees();
        Reports.GetClientTemplates();
        Reports.GetClientTemplates_Report('#ClientOrgId_Injury', 'ClientTemplate_InjuryRow', 'Template_Injury');
        getClientTrainingTemplates();
        Reports.GetClientTemplates_Report('#ClientOrgId_Insurance', 'ClientTemplate_InsuranceRow', 'Template_Insurance');
        Reports.GetClientTemplates_Report('#ClientOrgId_Status', 'ClientStatusTemplate_row', 'Template_Status');
        // Ends<<<
        Reports.GetClientTemplates_Report('#ClientOrgId_Contract', 'ClientTemplate_ContractRow', 'Template_ContractRow');
        Reports.GetFeeTemplates_Report('#FeespaidClient_Status', 'FeespaidTemplate_row', 'FeespaidTemplate_Status');
        Reports.GetClientTemplates_Report('#ClientOrgId_VendorInvites', 'ClientTemplate_VendorInvites', 'Template_VendorInvites');
        //Reports.GetTrainingTemplates_Report('#FeespaidClient_Status', 'FeespaidTrainingTemplate_row', 'FeespaidTrainingTemplate_Status');
        $("#fromdate").datepicker();
        $("#todate").datepicker();
        $("#feefromdate").datepicker();
        $("#feetodate").datepicker();
        $("#OOfromdate").datepicker();
        $("#OOtodate").datepicker();
        $("#Clientfromdate").datepicker();
        $("#Clienttodate").datepicker();
        $("#OOVisitorfromdate").datepicker();
        $("#OOVisitortodate").datepicker();
        $("#Trainingfromdate").datepicker();
        $("#Trainingtodate").datepicker();
    });

    var selectedTypes;



    function Checkselected() {
        // alert("hai in Expired Document report");
        var doctypeList = new Array();

        $("#panel input:checked").each(function () {
            doctypeList.push($(this).attr('DocumentID'));
        });


        if (doctypeList == "") {
            alert("Please select a document type");
            return;
        }

        var form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "../Reports/ExpiringDocumentWebForm.aspx");
        form.setAttribute("target", "_blank");

        form.appendChild(createField("doctypeList", doctypeList.join(',')));
        document.body.appendChild(form);    // Not entirely sure if this is necessary
        form.submit();



        //$.ajax({
        //    type: 'Post',
        //    url: 'ExpiredDocument',
        //    data: 'doctypeList=' + doctypeList,
        //    success: function (data) {
        //        var form = document.createElement("form");
        //        form.setAttribute("method", "post");
        //        form.setAttribute("action", "../Reports/ExpiringDocumentWebForm.aspx");
        //        form.setAttribute("target", "_blank");
        //        //window.location = "../ReportsForAdmin/CustomReportWebForm.aspx?sql=" + data;
        //        //alert(data);
        //        var hiddenField = document.createElement("input");
        //        hiddenField.setAttribute("type", "hidden");
        //        hiddenField.setAttribute("name", "sql");
        //        hiddenField.setAttribute("value", data.Sql);
        //        form.appendChild(hiddenField);

        //        hiddenField = document.createElement("input");
        //        hiddenField.setAttribute("type", "hidden");
        //        hiddenField.setAttribute("name", "data");
        //        hiddenField.setAttribute("value", JSON.stringify(data.Data));
        //        form.appendChild(hiddenField);
        //        document.body.appendChild(form);
        //        form.submit();


        //        //window.location = "../ReportsForAdmin/ExpiringDocumentWebForm.aspx?sql=" + data;

        //    },
        //    error: function () {
        //        console.trace();
        //        alert("Unable to process request please try again ");
        //    }
        //});

    }

    function createField(name, value) {
        var hiddenField = document.createElement("input");
        hiddenField.setAttribute("type", "hidden");
        hiddenField.setAttribute("name", name);
        hiddenField.setAttribute("value", value);
        return hiddenField;
    }

    checked = false;
    function checkedAll() {
        if (checked == false) { checked = true } else { checked = false }
        for (var i = 0; i < document.getElementById('myform').elements.length; i++) {
            document.getElementById('myform').elements[i].checked = checked;
        }
    }


    // Kiran on 11/1/2014
    function openVendorEmployeeQuizReport() {
        //alert("Hai");
        var ids = "";
        var clientOrgId = $("#ClientOrganizationId").val();
        $('#SubsiteReport :input').each(function () {
            if ($(this).is(':checked')) {
                ids += $(this).prop("id").replace("id1_", "") + ",";
            }
        });
        ids = ids.replace("SelectAllBus,", "");
        ids = ids.substring(0, ids.length - 1);
        if (ids == "") {
            alert("Please select atleast one business site");
            return;
        }
        //alert(ids);
        var form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "../Reports/VendorEmployeeQuizzesReport.aspx");
        form.setAttribute("target", "_blank");
        form.setAttribute("menubar", "no");

        @*var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", "sql");
           //var data = "SELECT distinct Templates.TemplateName, Contact.FirstName + Contact.LastName AS EmpName, EmployeeQuizzes.QuizResult, EmployeeQuizzes.QuizDateStart, vendor.Name as Vendor, client.Name AS Client FROM     EmployeeQuizzes INNER JOIN Organizations AS vendor ON EmployeeQuizzes.VendorId = vendor.OrganizationID INNER JOIN Organizations AS client ON EmployeeQuizzes.ClientId = client.OrganizationID INNER JOIN Prequalification ON Prequalification.ClientId = client.OrganizationID AND Prequalification.VendorId = vendor.OrganizationID INNER JOIN PrequalificationSites ON PrequalificationSites.PrequalificationId = Prequalification.PrequalificationId INNER JOIN ClientTemplates ON EmployeeQuizzes.QuizClientTemplateId = ClientTemplates.ClientTemplateID INNER JOIN ClientTemplatesForBU ON ClientTemplates.ClientTemplateID = ClientTemplatesForBU.ClientTemplateId INNER JOIN Templates ON ClientTemplates.TemplateID = Templates.TemplateID INNER JOIN SystemUsersOrganizationsQuizzes ON EmployeeQuizzes.SysUserOrgQuizId = SystemUsersOrganizationsQuizzes.SysUserOrgQuizId INNER JOIN SystemUsersOrganizations ON SystemUsersOrganizationsQuizzes.SysUserOrgId = SystemUsersOrganizations.SysUserOrganizationId INNER JOIN Contact ON Contact.UserId = SystemUsersOrganizations.UserId where FD.OrganizationID=" + clientOrgId + " and ClientTemplatesForBU.ClientBusinessUnitId in (" + ids + ") and PrequalificationSites.ClientBusinessUnitId in(" + ids +") order by Vendor.Name";
//              var data = "select distinct sites.SiteName + '-'+ sites.BusinessUnitLocation as SiteName,Templates.TemplateName, Contact.LastName +' , '+ Contact.FirstName AS EmpName, s.QuizResult, Convert(varchar,s.QuizDateSubmitted,101) as QuizDateStart, org.Name as Vendor, org1.Name AS Client from SystemUsersOrganizationsQuizzes s INNER JOIN [dbo].[Organizations] org on s.VendorId= org.OrganizationId INNER JOIN [dbo].[Organizations] org1 on s.clientId= org1.OrganizationId INNER JOIN [dbo].[ClientTemplatesBUGroupPrice] cg ON cg.ClientTemplateID= s.ClientTemplateId INNER JOIN [dbo].[ClientTemplatesForBU] cb ON cb.ClientTemplateBUGroupId = cg.ClientTemplateBUGroupId INNER JOIN [dbo].[ClientTemplatesForBUSites] cs on cb.ClientTemplateForBUId = cs.ClientTemplateForBUId INNER JOIN SystemUsersOrganizations ON s.SysUserOrgId = SystemUsersOrganizations.SysUserOrganizationId  INNER JOIN SystemUsers On SystemUsersOrganizations.UserId=SystemUsers.UserId and SystemUsers.UserStatus=1 INNER JOIN Contact ON Contact.UserId = SystemUsersOrganizations.UserId INNER JOIN [dbo].[ClientBusinessUnitSites] sites ON sites.ClientBusinessUnitId = cb.ClientBusinessUnitId INNER JOIN [dbo].[ClientTemplates] ON ClientTemplates.ClientTemplateId= s.ClientTemplateId INNER JOIN Templates ON ClientTemplates.TemplateID = Templates.TemplateID INNER JOIN [dbo].[PrequalificationSites] pqSites ON pqSites.ClientBusinessUnitSiteId = sites.ClientBusinessUnitSiteId where cg.GroupPriceType!=-1 and s.ClientId=" + clientOrgId + " and cs.ClientBusinessUnitSiteId  in (" + ids +") and sites.ClientBusinessUnitSiteId in(" + ids +") and (s.QuizRemoved is null or s.QuizRemoved=0) and s.QuizResult is not null order by org.Name";
            var data = "select distinct sites.SiteName + '-'+ sites.BusinessUnitLocation as SiteName,Templates.TemplateName, Contact.LastName +' , '+ Contact.FirstName AS EmpName, s.QuizResult, Convert(varchar,s.QuizDateSubmitted,101) as QuizDateStart, org.Name as Vendor, org1.Name AS Client from SystemUsersOrganizationsQuizzes s INNER JOIN [dbo].[Organizations] org on s.VendorId= org.OrganizationId INNER JOIN [dbo].[Organizations] org1 on s.clientId= org1.OrganizationId INNER JOIN [dbo].[ClientTemplatesBUGroupPrice] cg ON cg.ClientTemplateID= s.ClientTemplateId INNER JOIN [dbo].[ClientTemplatesForBU] cb ON cb.ClientTemplateBUGroupId = cg.ClientTemplateBUGroupId INNER JOIN [dbo].[ClientTemplatesForBUSites] cs on cb.ClientTemplateForBUId = cs.ClientTemplateForBUId INNER JOIN SystemUsersOrganizations ON s.SysUserOrgId = SystemUsersOrganizations.SysUserOrganizationId  INNER JOIN SystemUsers On SystemUsersOrganizations.UserId=SystemUsers.UserId and SystemUsers.UserStatus=1 INNER JOIN Contact ON Contact.UserId = SystemUsersOrganizations.UserId INNER JOIN [dbo].[ClientBusinessUnitSites] sites ON sites.ClientBusinessUnitId = cb.ClientBusinessUnitId INNER JOIN [dbo].[ClientTemplates] ON ClientTemplates.ClientTemplateId= s.ClientTemplateId INNER JOIN Templates ON ClientTemplates.TemplateID = Templates.TemplateID where cg.GroupingFor=2 and cg.GroupPriceType!=-1 and s.ClientId=" + clientOrgId + " and cs.ClientBusinessUnitSiteId  in (" + ids +") and sites.ClientBusinessUnitSiteId in(" + ids +") and (s.QuizRemoved is null or s.QuizRemoved=0) and s.QuizResult is not null order by org.Name";
            //alert(data);
            if ('@Session["RoleName"]' == "Client") {
                //data = "SELECT distinct Templates.TemplateName, Contact.FirstName + Contact.LastName AS EmpName, EmployeeQuizzes.QuizResult, EmployeeQuizzes.QuizDateStart, vendor.Name as Vendor, client.Name AS Client FROM     EmployeeQuizzes INNER JOIN Organizations AS vendor ON EmployeeQuizzes.VendorId = vendor.OrganizationID INNER JOIN Organizations AS client ON EmployeeQuizzes.ClientId = client.OrganizationID INNER JOIN Prequalification ON Prequalification.ClientId = client.OrganizationID AND Prequalification.VendorId = vendor.OrganizationID INNER JOIN PrequalificationSites ON PrequalificationSites.PrequalificationId = Prequalification.PrequalificationId INNER JOIN ClientTemplates ON EmployeeQuizzes.QuizClientTemplateId = ClientTemplates.ClientTemplateID INNER JOIN ClientTemplatesForBU ON ClientTemplates.ClientTemplateID = ClientTemplatesForBU.ClientTemplateId INNER JOIN Templates ON ClientTemplates.TemplateID = Templates.TemplateID INNER JOIN SystemUsersOrganizationsQuizzes ON EmployeeQuizzes.SysUserOrgQuizId = SystemUsersOrganizationsQuizzes.SysUserOrgQuizId INNER JOIN SystemUsersOrganizations ON SystemUsersOrganizationsQuizzes.SysUserOrgId = SystemUsersOrganizations.SysUserOrganizationId INNER JOIN Contact ON Contact.UserId = SystemUsersOrganizations.UserId WHERE EmployeeQuizzes.ClientId=" + '@Session["currentOrgId"]' + " and ClientTemplatesForBU.ClientBusinessUnitId in (" + ids + ") and PrequalificationSites.ClientBusinessUnitId in(" + ids +") order by Vendor.Name";
//                var data = "select distinct sites.SiteName + '-'+ sites.BusinessUnitLocation  as SiteName,Templates.TemplateName, Contact.LastName +' , '+ Contact.FirstName AS EmpName, s.QuizResult, Convert(varchar,s.QuizDateSubmitted,101) as QuizDateStart, org.Name as Vendor, org1.Name AS Client from SystemUsersOrganizationsQuizzes s INNER JOIN [dbo].[Organizations] org on s.VendorId= org.OrganizationId INNER JOIN [dbo].[Organizations] org1 on s.clientId= org1.OrganizationId INNER JOIN [dbo].[ClientTemplatesBUGroupPrice] cg ON cg.ClientTemplateID= s.ClientTemplateId INNER JOIN [dbo].[ClientTemplatesForBU] cb ON cb.ClientTemplateBUGroupId = cg.ClientTemplateBUGroupId INNER JOIN [dbo].[ClientTemplatesForBUSites] cs on cb.ClientTemplateForBUId = cs.ClientTemplateForBUId INNER JOIN SystemUsersOrganizations ON s.SysUserOrgId = SystemUsersOrganizations.SysUserOrganizationId  INNER JOIN SystemUsers On SystemUsersOrganizations.UserId=SystemUsers.UserId and SystemUsers.UserStatus=1 INNER JOIN Contact ON Contact.UserId = SystemUsersOrganizations.UserId INNER JOIN [dbo].[ClientBusinessUnitSites] sites ON sites.ClientBusinessUnitId = cb.ClientBusinessUnitId INNER JOIN [dbo].[ClientTemplates] ON ClientTemplates.ClientTemplateId= s.ClientTemplateId INNER JOIN Templates ON ClientTemplates.TemplateID = Templates.TemplateID INNER JOIN [dbo].[PrequalificationSites] pqSites ON pqSites.ClientBusinessUnitSiteId = sites.ClientBusinessUnitSiteId where cg.GroupPriceType!=-1 and s.ClientId=" + '@Session["currentOrgId"]' + " and cs.ClientBusinessUnitSiteId  in (" + ids +") and sites.ClientBusinessUnitSiteId in(" + ids +") and (s.QuizRemoved is null or s.QuizRemoved=0) and s.QuizResult is not null order by org.Name";
               var data = "select distinct sites.SiteName + '-'+ sites.BusinessUnitLocation  as SiteName,Templates.TemplateName, Contact.LastName +' , '+ Contact.FirstName AS EmpName, s.QuizResult, Convert(varchar,s.QuizDateSubmitted,101) as QuizDateStart, org.Name as Vendor, org1.Name AS Client from SystemUsersOrganizationsQuizzes s INNER JOIN [dbo].[Organizations] org on s.VendorId= org.OrganizationId INNER JOIN [dbo].[Organizations] org1 on s.clientId= org1.OrganizationId INNER JOIN [dbo].[ClientTemplatesBUGroupPrice] cg ON cg.ClientTemplateID= s.ClientTemplateId INNER JOIN [dbo].[ClientTemplatesForBU] cb ON cb.ClientTemplateBUGroupId = cg.ClientTemplateBUGroupId INNER JOIN [dbo].[ClientTemplatesForBUSites] cs on cb.ClientTemplateForBUId = cs.ClientTemplateForBUId INNER JOIN SystemUsersOrganizations ON s.SysUserOrgId = SystemUsersOrganizations.SysUserOrganizationId  INNER JOIN SystemUsers On SystemUsersOrganizations.UserId=SystemUsers.UserId and SystemUsers.UserStatus=1 INNER JOIN Contact ON Contact.UserId = SystemUsersOrganizations.UserId INNER JOIN [dbo].[ClientBusinessUnitSites] sites ON sites.ClientBusinessUnitId = cb.ClientBusinessUnitId INNER JOIN [dbo].[ClientTemplates] ON ClientTemplates.ClientTemplateId= s.ClientTemplateId INNER JOIN Templates ON ClientTemplates.TemplateID = Templates.TemplateID where cg.GroupingFor=2 and cg.GroupPriceType!=-1 and s.ClientId=" + '@Session["currentOrgId"]' + " and cs.ClientBusinessUnitSiteId  in (" + ids +") and sites.ClientBusinessUnitSiteId in(" + ids +") and (s.QuizRemoved is null or s.QuizRemoved=0) and s.QuizResult is not null order by org.Name";
            }

            hiddenField.setAttribute("value", data);
            form.appendChild(hiddenField);*@

        form.appendChild(createField("clientOrgId", clientOrgId));
        form.appendChild(createField("ids", ids));
        document.body.appendChild(form);
        form.submit();
    }

    // Kiran on 11/1/2014
    @*function getClientBusinessUnits() {
        //alert("Hai");
        var organizationId = $("#ClientOrganizationId").val();
        if ($("#BUOrSite").is(':checked')) {
            $.ajax({
                url: "@Url.Action("getClientBusinessUnits", "AdminVendors")",
                data: { OrganizationId: organizationId },
                dataType: "json",
                type: "POST",
                error: function () {
                    alert("An error occurred while fetching Organizations.");

                },
                success: function (data) {
                    $("#SelectedClientBusinessUnits").empty();
                    $('#SubsiteReport').empty();// sandhya 05/25/2015

                    for (var i = 0; i < data.length; i++) {
                        var busUnitName = data[i].Text;
                        var busUnitId = data[i].Value;
                        //alert(busUnitId);
                        var newOption = $("<tr style='height:30px;'>  <td> <input type='checkbox' onclick='GetBusinessSites(this)' value='" + busUnitId + "' id='id_" + busUnitId + "'></input><td><label style='line-height:normal;margin-top:2px;' for='id_" + busUnitId + "'>" + busUnitName + "</label></td>  </td> </tr>");
                        $('#SelectedClientBusinessUnits').append(newOption);
                    }
                }
            });
        }
        else {
            getClientTrainingTemplates();
        }
    }*@

    function SelectAllBusinessSitesUnits() {
        if ($("#SelectAllBus").is(":checked")) {

            $("#sitecheckEmployee").find(":checkbox").each(function () {
                $(this).prop("checked", true);
            });
        }
        else {
            $("#sitecheckEmployee").find(":checkbox").each(function () {
                $(this).prop("checked", false);
            });
        }
    }

    // Ends<<<
    function getCurrentlyOnsite() {
        var location = $('#COlocation').val();
        var offset = new Date().getTimezoneOffset();

        var form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "../Reports/CurrentlyOnsite.aspx?menubar=no");
        form.setAttribute("target", "_blank");

        form.appendChild(createField("location", location));
        form.appendChild(createField("timeZoneOffset", offset));

        document.body.appendChild(form);
        form.submit();
    }
    function getClientCurrentlyOnsite() {
        // var location = $('#COlocation').val();
        var offset = new Date().getTimezoneOffset();

        var form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "../Reports/CurrentlyOnsiteClient.aspx?menubar=no");
        form.setAttribute("target", "_blank");

        // form.appendChild(createField("location", location));
        form.appendChild(createField("timeZoneOffset", offset));

        document.body.appendChild(form);
        form.submit();
    }
    function getOnsiteOffsite() {
        var fromDate = $('#OOfromdate').val();
        var toDate = $('#OOtodate').val();

        var location = $('#OOlocation').val();
        var vendor = $('#OOvendors').val();
        var employee = $('#OOemployees').val();
        var offset = new Date().getTimezoneOffset()

        //if (location == "-1"){
        //    alert("Please select a location.");
        //    return false;

        //}

        if (new Date(fromDate) > new Date(toDate)) {
            alert("From date should be less than To date");
            return false;
        }
        if (fromDate == "") {
            alert("Please choose From date");
            return false;
        }

        if (toDate == "") {
            alert("Please choose To date");
            return false;
        }


        var form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "../Reports/OnsiteOffsiteVendorEmployees.aspx?menubar=no");
        form.setAttribute("target", "_blank");

        form.appendChild(createField("fromDate", fromDate));
        form.appendChild(createField("toDate", toDate));
        form.appendChild(createField("location", location));
        form.appendChild(createField("vendor", vendor));
        form.appendChild(createField("employee", employee));
        form.appendChild(createField("timeZoneOffset", offset));


        document.body.appendChild(form);
        form.submit();
    }
    function getClientOnsiteOffsite() {
        var fromDate = $('#Clientfromdate').val();
        var toDate = $('#Clienttodate').val();

        var client = $('#ClientOrganizationId').val();
        var employee = $('#OOClientemployees').val();
        var offset = new Date().getTimezoneOffset();

        //if (location == "-1"){
        //    alert("Please select a location.");
        //    return false;

        //}

        if (new Date(fromDate) > new Date(toDate)) {
            alert("From date should be less than To date");
            return false;
        }
        if (fromDate == "") {
            alert("Please choose From date");
            return false;
        }

        if (toDate == "") {
            alert("Please choose To date");
            return false;
        }


        var form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "../Reports/OnsiteOffsiteClientEmployees.aspx?menubar=no");
        form.setAttribute("target", "_blank");

        form.appendChild(createField("fromDate", fromDate));
        form.appendChild(createField("toDate", toDate));
        form.appendChild(createField("client", client));
        form.appendChild(createField("employee", employee));
        form.appendChild(createField("timeZoneOffset", offset));


        document.body.appendChild(form);
        form.submit();
    }
    function monthDiff(d1, d2) {
        var months;
        months = (d2.getFullYear() - d1.getFullYear()) * 12;
        months -= d1.getMonth() + 1;
        months += d2.getMonth();

        return months <= 0 ? 0 : months;
    }
    function getfeepaid() {
        var fromDate = $('#feefromdate').val();
        var toDate = $('#feetodate').val();
        if (new Date(fromDate) > new Date(toDate)) {
            alert("From date should be less than To date");
            return false;
        }
        if (monthDiff(new Date(fromDate), new Date(toDate)) > 6) {
            alert("Difference Between From date and To date should not exceed 6 Months");
            return false;
        }

        if (fromDate == "") {
            alert("Please choose From date");
            return false;
        }

        if (toDate == "") {
            alert("Please choose To date");
            return false;
        }
        //alert(fromDate);
        var form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "../Reports/FeesPaid.aspx");
        form.setAttribute("target", "_blank");


        debugger;
        form.appendChild(createField("feefromdate", fromDate));
        form.appendChild(createField("feetodate", toDate));
        form.appendChild(createField("TemplateId", $("#FeespaidTemplate_Status").val()));
        form.appendChild(createField("ClientId", $("#FeespaidClient_Status").val()));
        //form.appendChild(createField("TrainingTemplateId", $("#FeespaidTrainingTemplate_Status").val()));
        document.body.appendChild(form);
        form.submit();
    }
    function getInvitationSent() {
        var ClientId = $('#ClientOrganizationId_Invitation').val();

        var fromDate = $('#fromdate').val();
        var toDate = $('#todate').val();
        if (new Date(fromDate) > new Date(toDate)) {
            alert("From date should be less than To date");
            return false;
        }
        if (fromDate == "") {
            alert("Please choose From date");
            return false;
        }

        if (toDate == "") {
            alert("Please choose To date");
            return false;
        }
        //alert(fromDate);
        var form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "../Reports/InvitationsSent.aspx?menubar=no");
        form.setAttribute("target", "_blank");


        var hiddenField = document.createElement("input");
        hiddenField.setAttribute("type", "hidden");
        hiddenField.setAttribute("name", "sql");

        // Kiran on 9/29/2014
        @*var data = "select vid.VendorCompanyName, vid.VendorFirstName, vid.VendorLastName, vid.Address1, vid.Address2, vid.City, vid.State, vid.Zip, vid.Country, vid.VendorEmail, vid.InvitationDate, org.Name from VendorInviteDetails as vid INNER JOIN Organizations as org on vid.ClientId = org.OrganizationID where InvitationDate >='" + fromDate + "' AND InvitationDate <='" + toDate + "'";
            //alert(data);
            if ('@Session["RoleName"]' == "Client") {
                data = "select vid.VendorCompanyName, vid.VendorFirstName, vid.VendorLastName, vid.Address1, vid.Address2, vid.City,vid.State, vid.Zip, vid.Country, vid.VendorEmail, vid.InvitationDate from VendorInviteDetails as vid INNER JOIN Organizations as org on vid.ClientId = org.OrganizationID where vid.ClientId ='" + '@Session["currentOrgId"]' + "' AND InvitationDate >= '" + fromDate + "' AND InvitationDate <='" + toDate + "'";
            }
            // Ends<<<
            hiddenField.setAttribute("value", data);
            form.appendChild(hiddenField);*@
        form.appendChild(createField("ClientId", ClientId));
        form.appendChild(createField("fromDate", fromDate));
        form.appendChild(createField("toDate", toDate));
        document.body.appendChild(form);
        form.submit();
    }
    function GetVendorInvitationStatus() {
        var ClientId = $('#ClientOrgId_VendorInvites').val();
        var State = $('#State').val();

        var TemplateID = $('#Template_VendorInvites').val();
        //alert(fromDate);
        var form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "../Reports/VendorInviteByStatus.aspx?menubar=no");
        form.setAttribute("target", "_blank");


        var hiddenField = document.createElement("input");
        hiddenField.setAttribute("type", "hidden");
        hiddenField.setAttribute("name", "sql");


        form.appendChild(createField("ClientId", ClientId));
        form.appendChild(createField("State", State));
        form.appendChild(createField("TemplateID", TemplateID));
        document.body.appendChild(form);
        form.submit();
    }
    function GetBusinessSites(Site) {
        $('#SubsiteReport').empty();
        var bus = new Array();
        $("#bureport input:checked").each(function () {
            bus.push($(this).val());

        });
        if (bus.length != 0) {
            $.ajax({
                type: 'Post',
                url: 'BUSiteDetails',
                data: 'BUSiteid=' + bus,
                success: function (data) {
                    $('#SubsiteReport').empty();
                    var newOption = "";
                    if (data.length != 0) {
                        var selectAllOption = $("<div><input type='checkbox' class='businessUnit' onclick='SelectAllBusinessSitesUnits()' id='SelectAllBus'></</input><label style='font-size: 13px;' for='SelectAllBus'>Select All</label>");
                        $('#SubsiteReport').append(selectAllOption);
                    }
                    $('#SubsiteReport').append(newOption);
                    for (var i = 0; i < data.length; i++) {
                        var datasite = data[i].Text;
                        var datasiteId = data[i].Value;
                        newOption = "<div class='businesssite'><input type='checkbox' id='id1_" + datasiteId + "' name='id1_[" + i + "].Checked' value='" + datasiteId + "' onclick='CheckedOrNot(this)' /><label style='font-size: 13px;' for='id1_" + datasiteId + "'>" + datasite + "</label></div>";

                        $('#SubsiteReport').append(newOption);
                        //alert(site + "");
                    }

                },
                error: function () {
                    console.trace();
                    alert("Unable to process request please try again ");
                }
            });
        }
    }
    // Kiran on 9/9/2014
    function getNotifications() {
        var form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "../Reports/Notifications.aspx");
        form.setAttribute("target", "_blank");
        //window.location = "../ReportsForAdmin/CustomReportWebForm.aspx?sql=" + data;

        //var hiddenField = document.createElement("input");
        //hiddenField.setAttribute("type", "hidden");
        //hiddenField.setAttribute("name", "sql");

        //var data = "select orgn.ClientId, orgn.SetupTypeId, orgn.SetupType as NotificationsSentSetupType, convert(varchar,one.EmailSentDateTime,110) AS EmailSentDate , d.DocumentName, one.EmailSentTo, one.VendorId, one.PrequalificationId, one.NotificationId, one.EmailRecordId, case when one.NotificationNo = 1 then 'First' when one.NotificationNo = 2 then 'Second' when one.NotificationNo = 3 then 'Third' end as NotificationNo, dt.DocumentTypeName, ps.PrequalificationStatusName, case when orgn.SetupType=1 and oesn.SetupType=0 then 'Document Expiration - ' + dt.DocumentTypeName when orgn.SetupType=1 and oesn.SetupType=1 then 'Prequalification Expiration - ' + ps.PrequalificationStatusName end as Purpose, oesn.SetupType as EmailSetupSetupType, c.Name as Client, v.Name as Vendor from OrganizationsNotificationsSent orgn LEFT JOIN OrganizationsNotificationsEmailLogs one on one.NotificationId = orgn.NotificationId LEFT JOIN OrganizationsEmailSetupNotifications oesn on oesn.OrgEmailSetupId = orgn.SetupTypeId LEFT JOIN DocumentType dt on dt.DocumentTypeId =  oesn.SetupTypeId and oesn.SetupType = 0 LEFT JOIN PrequalificationStatus ps on ps.PrequalificationStatusId = oesn.SetupTypeId and oesn.SetupType = 1 LEFT JOIN Organizations c on c.OrganizationID = orgn.ClientId LEFT JOIN Organizations v on v.OrganizationID = one.VendorId LEFT JOIN Document d on d.DocumentId = one.DocumentId where orgn.SetupType = 1 and d.DocumentStatus != 'Deleted'";

        //hiddenField.setAttribute("value", data);
        //form.appendChild(hiddenField);
        document.body.appendChild(form);
        form.submit();
    }

    function getERIPrequalifications() {
        var form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "../Reports/ERIPrequalifications.aspx");
        form.setAttribute("target", "_blank");
        var TemplateId = $("#TemplateId").val();
        var hiddenField = document.createElement("input");
        hiddenField.setAttribute("type", "hidden");
        hiddenField.setAttribute("name", "sql");

        form.appendChild(createField("TemplateId", TemplateId));

        document.body.appendChild(form);
        form.submit();

        document.body.appendChild(form);
        form.submit();
    }
    // Ends<<<
    function OOGetVendors() {
        var locationId = $("#OOlocation").val();
        $.ajax({
            url: "@Url.Action("GetVendors", "AdminVendors")",
            data: { locationID: locationId },
            dataType: "json",
            type: "POST",
            error: function () {
                alert("An error occurred while fetching Vendors.");

            },
            success: function (data) {
                $("#OOvendors").empty();
                var items = "<option value=\"-1\">All</option>";
                $.each(data, function (i, item) {
                    items += "<option value=\"" + item.Value + "\">" + item.Text + "</option>";

                });
                $('#OOvendors').append(items);
            }
        });
    }

    function OOGetVisitors() {
        var locationId = $("#OOVisitorlocation").val();
        $.ajax({
            url: "@Url.Action("GetVisitors", "AdminVendors")",
            data: { locationID: locationId },
            dataType: "json",
            type: "POST",
            error: function () {
                alert("An error occurred while fetching Vendors.");

            },
            success: function (data) {
                $("#OOVisitors").empty();
                var items = "<option value=\"-1\">All</option>";
                $.each(data, function (i, item) {
                    items += "<option value=\"" + item.Value + "\">" + item.Text + "</option>";

                });
                $('#OOVisitors').append(items);
            }
        });
    }
    function OOGetClientEmployees() {
        debugger;
        var vendorID = $('#ClientOrganizationId').val();
        $.ajax({
            url: "@Url.Action("GetEmployees", "AdminVendors")",
            data: { vendorID: vendorID },
            dataType: "json",
            type: "POST",
            error: function () {
                alert("An error occurred while fetching Employees.");

            },
            success: function (data) {
                $("#OOClientemployees").empty();
                var items = "<option value=\"-1\">All</option>";
                $.each(data, function (i, item) {
                    items += "<option value=\"" + item.Value + "\">" + item.Text + "</option>";

                });
                $('#OOClientemployees').append(items);
            }
        });
    }
    function OOGetEmployees() {
        var vendorID = $("#OOvendors").val();
        $.ajax({
            url: "@Url.Action("GetEmployees", "AdminVendors")",
            data: { vendorID: vendorID },
            dataType: "json",
            type: "POST",
            error: function () {
                alert("An error occurred while fetching Employees.");

            },
            success: function (data) {
                $("#OOemployees").empty();
                var items = "<option value=\"-1\">All</option>";
                $.each(data, function (i, item) {
                    items += "<option value=\"" + item.Value + "\">" + item.Text + "</option>";

                });
                $('#OOemployees').append(items);
            }
        });
    }
    function clientUsers() {
        var organizationId = $("#ClientOrgId").val();

        $.ajax({
            url: "@Url.Action("clientUsers", "AdminVendors")",
            data: { OrganizationId: organizationId },
            dataType: "json",
            type: "POST",
            error: function () {
                alert("An error occurred while fetching Organizations.");

            },
            success: function (data) {
                $("#Users").empty();

                for (var i = 0; i < data.length; i++) {
                    var userName = data[i].Text;
                    var userId = data[i].Value;
                    //alert(busUnitId);
                    var newOption = $("<tr style='height:30px;'>  <td> <input type='checkbox' id='" + userId + "'  value='" + userId + "' ></input><td><label style='line-height:normal;margin-top:2px;' for=" + userId + ">" + userName + "</label></td>  </td> </tr>");
                    $('#Users').append(newOption);
                }
            }
        });
    }

    function ReviewsReport() {

        var userIds = new Array();
        var clientOrgId = $("#ClientOrgId").val();
        $('#Users :input').each(function () {
            if ($(this).is(':checked')) {
                var id = "" + $(this).val() + "";
                userIds.push(id);

            }
        });

        var score = $("#Score").val();

        var reviewType = $("#ReviewType").val();
        //alert(userIds);
        var form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "../Reports/ScoreCardReviews.aspx");
        form.setAttribute("target", "_blank");

        //var hiddenField = document.createElement("input");
        //hiddenField.setAttribute("type", "hidden");
        //hiddenField.setAttribute("name", "sql");

        ////var data = "SELECT distinct Templates.TemplateName, Contact.FirstName + Contact.LastName AS EmpName, EmployeeQuizzes.QuizResult, EmployeeQuizzes.QuizDateStart, vendor.Name as Vendor, client.Name AS Client FROM     EmployeeQuizzes INNER JOIN Organizations AS vendor ON EmployeeQuizzes.VendorId = vendor.OrganizationID INNER JOIN Organizations AS client ON EmployeeQuizzes.ClientId = client.OrganizationID INNER JOIN Prequalification ON Prequalification.ClientId = client.OrganizationID AND Prequalification.VendorId = vendor.OrganizationID INNER JOIN PrequalificationSites ON PrequalificationSites.PrequalificationId = Prequalification.PrequalificationId INNER JOIN ClientTemplates ON EmployeeQuizzes.QuizClientTemplateId = ClientTemplates.ClientTemplateID INNER JOIN ClientTemplatesForBU ON ClientTemplates.ClientTemplateID = ClientTemplatesForBU.ClientTemplateId INNER JOIN Templates ON ClientTemplates.TemplateID = Templates.TemplateID INNER JOIN SystemUsersOrganizationsQuizzes ON EmployeeQuizzes.SysUserOrgQuizId = SystemUsersOrganizationsQuizzes.SysUserOrgQuizId INNER JOIN SystemUsersOrganizations ON SystemUsersOrganizationsQuizzes.SysUserOrgId = SystemUsersOrganizations.SysUserOrganizationId INNER JOIN Contact ON Contact.UserId = SystemUsersOrganizations.UserId where client.OrganizationID=" + clientOrgId + " and ClientTemplatesForBU.ClientBusinessUnitId in (" + ids + ") and PrequalificationSites.ClientBusinessUnitId in(" + ids +") order by Vendor.Name";
        ////var data = "SELECT distinct Templates.TemplateName, Contact.FirstName + Contact.LastName AS EmpName, suoq.QuizResult, Convert(varchar,suoq.QuizDateSubmitted,101) as QuizDateStart, vendor.Name as Vendor, client.Name AS Client FROM SystemUsersOrganizationsQuizzes as suoq INNER JOIN Organizations AS vendor ON suoq.VendorId = vendor.OrganizationID INNER JOIN Organizations AS client ON suoq.ClientId = client.OrganizationID INNER JOIN Prequalification ON Prequalification.ClientId = client.OrganizationID AND Prequalification.VendorId = vendor.OrganizationID INNER JOIN PrequalificationSites ON PrequalificationSites.PrequalificationId = Prequalification.PrequalificationId INNER JOIN ClientTemplates ON suoq.ClientTemplateId = ClientTemplates.ClientTemplateID INNER JOIN ClientTemplatesForBU ON ClientTemplates.ClientTemplateID = ClientTemplatesForBU.ClientTemplateId INNER JOIN Templates ON ClientTemplates.TemplateID = Templates.TemplateID INNER JOIN SystemUsersOrganizations ON suoq.SysUserOrgId = SystemUsersOrganizations.SysUserOrganizationId INNER JOIN Contact ON Contact.UserId = SystemUsersOrganizations.UserId where client.OrganizationID=" + clientOrgId + " and ClientTemplatesForBU.ClientBusinessUnitId in (" + ids + ") and PrequalificationSites.ClientBusinessUnitId in(" + ids +") and (suoq.QuizRemoved is null or suoq.QuizRemoved=0) and suoq.QuizResult is not null order by Vendor.Name"; //sandhya uncommented line on 5/21/2015
        //var data = "select vndrReview.VendorId, vendor.Name as Vendor,client.Name as Client, users.username as ClientUserEmail,contact.LastName + ', '+ contact.FirstName as ClientUserName,case when vndrReview.ReviewType=0 then 'Annual' when vndrReview.ReviewType=1 then 'project' end as ReviewType,vndrReview.InputUserId,vndrReview.UserRating from VendorReviewInput vndrReview inner join Organizations as vendor on vendor.OrganizationID=vndrReview.VendorId inner join Organizations as client ON client.organizationid=vndrReview.ClientId inner join SystemUsers as users on users.UserId =vndrReview.InputUserId left join Contact as contact on contact.UserId =users.UserId  where vndrReview.clientid=" + clientOrgId + "";
        ////           alert(data);
        //if (userIds.length != 0)
        //    data = data + "and vndrReview.InputUserId in(" + userIds + ")";

        //if (score != "") {
        //    var less = score - 1;
        //    data = data + "and vndrReview.UserRating <=" + score + " and vndrReview.UserRating>=" + less + "";
        //}
        //if (reviewType != "")
        //    data = data + "and vndrReview.reviewtype=" + reviewType + "";

        ////alert(data);

        //hiddenField.setAttribute("value", data);
        //form.appendChild(hiddenField);

        form.appendChild(createField("clientOrgId", clientOrgId));
        form.appendChild(createField("score", score));
        form.appendChild(createField("reviewType", reviewType));
        form.appendChild(createField("userIds", userIds.join(',')));
        document.body.appendChild(form);
        form.submit();
    }
    // sandhya 05/25/2015
    function CheckedOrNot(obj) {

        if ($(obj).is(":checked")) {
            $(obj).val(true);
            if ($(obj).closest(".sree").find(".businesssite").find("input[type='checkbox']:checked").length == $(obj).closest(".sree").find(".businesssite").find("input[type='checkbox']").length) {
                $(obj).closest(".sree").find(".businessUnit").prop("checked", true);
            }
        }
        else {
            $(obj).closest(".sree").find(".businessUnit").prop("checked", false);
            $(obj).val(false);
        }
        return;
    }
    // Ends<<<

    // Kiran on 12/01/2015 for FV-215
    //function showBU(val) {
    //    if (val == 0) {
    //        getClientBusinessUnits();
    //        $("#BusinessUnitOrSite").show();
    //        $("#TrainingName").hide();
    //        $("#Training").prop('checked', false);
    //    }
    //    else {
    //        $("#BusinessUnitOrSite").hide();
    //        getClientTrainingTemplates();
    //        $("#TrainingName").show();
    //        $("#BUOrSite").prop('checked', false);
    //    }
    //}

    function getClientTrainingTemplates() {
        var organizationId = $("#ClientOrganizationId").val();

        $.ajax({
            url: "@Url.Action("getClientTrainingTemplates", "AdminVendors")",
            data: { clientId: organizationId },
            dataType: "json",
            type: "POST",
            error: function () {
                alert("An error occurred while fetching Trainings.");

            },
            success: function (data) {
                $("#SelectedClientTrainingTemplates").empty();
                if (data.length != 0) {
                    var selectAllOption = $("<tr style='height:30px;'>  <td><input type='checkbox' class='businessUnit' onclick='SelectAllTrainings()' id='id_SelectAllTrainings'></</input><td><label style='font-size: 13px;' for='id_SelectAllTrainings'>Select All</label></td> </td> </tr>");
                    $('#SelectedClientTrainingTemplates').append(selectAllOption);
                }
                for (var i = 0; i < data.length; i++) {
                    var trainingName = data[i].Text;
                    var trainingClientTemplateId = data[i].Value;
                    var newOption = "";
                    newOption = $("<tr class='businesssite' style='height:30px;'>  <td> <input type='checkbox' value='" + trainingClientTemplateId + "' id='id_" + trainingClientTemplateId + "' ></input><td><label style='line-height:normal;margin-top:2px;' for='id_" + trainingClientTemplateId + "'>" + trainingName + "</label></td>  </td> </tr>");

                    $('#SelectedClientTrainingTemplates').append(newOption);
                }
            }
        });
    }

    function openVendorEmployeeQuizReportByTraining() {
        var ids = "";
        var clientOrgId = $("#ClientOrganizationId").val();
        var trainingfromDate = $('#Trainingfromdate').val();
        var trainingtoDate = $('#Trainingtodate').val();

        if (trainingfromDate == "") {
            alert("Please choose From date");
            return false;
        }

        if (trainingtoDate == "") {
            alert("Please choose To date");
            return false;
        }

        $('#SelectedClientTrainingTemplates :input').each(function () {
            if ($(this).is(':checked')) {
                ids += $(this).prop("id").replace("id_", "") + ",";
            }
        });
        ids = ids.replace("SelectAllTrainings,", "");
        ids = ids.substring(0, ids.length - 1);
        if (ids == "") {
            alert("Please select at least one training");
            return;
        }

        var baseids = ids.replace("4189031e-b706-41e3-a21d-9302c52de65f", "");
        baseids = baseids.replace(",,", ",");
        if (baseids[0] == ",") {
            baseids = baseids.substring(1);
        }
        if (baseids[baseids.length - 1] == ",") {
            baseids = baseids.substring(0, baseids.length - 1);
        }
        //alert(ids);
        var form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "../Reports/VendorEmployeeTrainingsByName.aspx");
        form.setAttribute("target", "_blank");
        form.setAttribute("menubar", "no");

        @*var hiddenField = document.createElement("input");
        hiddenField.setAttribute("type", "hidden");
        hiddenField.setAttribute("name", "sql");
        var data = "select distinct Contact.LastName +' , '+ Contact.FirstName AS EmpName, Templates.TemplateName, s.QuizResult, Convert(varchar,s.QuizDateSubmitted,101) as QuizDateStart, " +
                    "org.Name as Vendor, org1.Name AS Client from SystemUsersOrganizationsQuizzes s " +
                    "INNER JOIN [dbo].[Organizations] org on s.VendorId= org.OrganizationId " +
                    "INNER JOIN [dbo].[Organizations] org1 on s.clientId= org1.OrganizationId " +
                    "INNER JOIN SystemUsersOrganizations ON s.SysUserOrgId = SystemUsersOrganizations.SysUserOrganizationId  " +
                    " INNER JOIN SystemUsersOrganizationsQuizzes soq2 on SystemUsersOrganizations.SysUserOrganizationId  =soq2.SysUserOrgId " +
                    "INNER JOIN SystemUsers On SystemUsersOrganizations.UserId=SystemUsers.UserId and SystemUsers.UserStatus=1 " +
                    "INNER JOIN Contact ON Contact.UserId = SystemUsersOrganizations.UserId " +
                    "INNER JOIN [dbo].[ClientTemplates] ct ON ct.ClientTemplateId= s.ClientTemplateId " +
                    "INNER JOIN Templates ON ct.TemplateID = Templates.TemplateID where " +
                    "s.ClientId=" + clientOrgId + "and (s.QuizRemoved is null or s.QuizRemoved=0) and s.ClientTemplateId in(" + ids + ")" +
                    //"and org.OrganizationID in (select vendorid from SystemUsersOrganizationsQuizzes where ClientTemplateID in (" + baseids + ")" +
                    "and soq2.ClientTemplateID in (" + baseids + ")" +
                    " and not (s.ClientTemplateId  = '4189031e-b706-41e3-a21d-9302c52de65f' and s.QuizResult is null) order by org.Name";
        //alert(data);
        if ('@Session["RoleName"]' == "Client") {
            var data = "select distinct Contact.LastName +' , '+ Contact.FirstName AS EmpName, Templates.TemplateName, s.QuizResult, Convert(varchar,s.QuizDateSubmitted,101) as QuizDateStart, " +
                        "org.Name as Vendor, org1.Name AS Client from SystemUsersOrganizationsQuizzes s " +
                        "INNER JOIN [dbo].[Organizations] org on s.VendorId= org.OrganizationId " +
                        "INNER JOIN [dbo].[Organizations] org1 on s.clientId= org1.OrganizationId " +
                        "INNER JOIN SystemUsersOrganizations ON s.SysUserOrgId = SystemUsersOrganizations.SysUserOrganizationId  " +
                        " INNER JOIN SystemUsersOrganizationsQuizzes soq2 on org.OrganizationID = soq2.VendorId " +
                        "INNER JOIN SystemUsers On SystemUsersOrganizations.UserId=SystemUsers.UserId and SystemUsers.UserStatus=1 " +
                        "INNER JOIN Contact ON Contact.UserId = SystemUsersOrganizations.UserId " +
                        "INNER JOIN [dbo].[ClientTemplates] ct ON ct.ClientTemplateId= s.ClientTemplateId " +
                        "INNER JOIN Templates ON ct.TemplateID = Templates.TemplateID where " +
                        "s.ClientId=" + @Session["currentOrgId"] + "and (s.QuizRemoved is null or s.QuizRemoved=0) and s.ClientTemplateId in(" + ids + ")" +
                         " and soq2.ClientTemplateID in (" + baseids + ")" +
                        "and s.QuizResult is not null order by org.Name";
        }

        hiddenField.setAttribute("value", data);
        form.appendChild(hiddenField);*@

        form.appendChild(createField("clientOrgId", clientOrgId));
        form.appendChild(createField("baseids", baseids));
        form.appendChild(createField("ids", ids));
        form.appendChild(createField("trainingfromDate", trainingfromDate));
        form.appendChild(createField("trainingtoDate", trainingtoDate));
        document.body.appendChild(form);
        form.submit();
    }

    function SelectAllTrainings() {
        if ($("#id_SelectAllTrainings").is(":checked")) {

            $("#SelectedClientTrainingTemplates").find(":checkbox").each(function () {
                if (!$(this).is(':disabled')) {
                    $(this).prop("checked", true);
                }
            });
        }
        else {
            $("#SelectedClientTrainingTemplates").find(":checkbox").each(function () {
                if (!$(this).is(':disabled')) {
                    $(this).prop("checked", false);
                }
            });
        }
    }

    // Kiran on 12/01/2015 for FV-215 Ends<<
</script>

<style type="text/css">
    #panel, #flip {
        padding: 10px 0px 0px 0px;
    }

    #panel {
        display: none;
    }

    #fee, #feepanel {
        padding: 10px 0px 0px 0px;
    }

    #feepanel {
        display: none;
    }

    #invitation, #invitationpanel {
        padding: 10px 0px 0px 0px;
    }

    #VendorInvites, #VendorInvitespanel {
        padding: 10px 0px 0px 0px;
    }

    #invitationpanel {
        display: none;
    }

    #VendorInvitespanel {
        display: none;
    }

    #ERITemplatesPanel {
        display: none;
    }

    #OnsiteOffsite, #OnsiteOffsitePanel {
        padding: 10px 0px 0px 0px;
    }

    #OnsiteOffsiteVisitor, #OnsiteOffsiteVisitorPanel {
        padding: 10px 0px 0px 0px;
    }

    #ClientOnsiteOffsite, #ClientOnsiteOffsitePanel {
        padding: 10px 0px 0px 0px;
    }

    #OnsiteOffsitePanel {
        display: none;
    }

    #ClientOnsiteOffsitePanel {
        display: none;
    }

    #OnsiteOffsiteVisitorPanel {
        display: none;
    }

    #EmployeeTrainings, #EmployeeTrainingsPanel {
        padding: 10px 0px 0px 0px;
    }

    #EmployeeTrainingsPanel {
        display: none;
    }

    #VendorRating label {
        width: 120px;
    }

    .sree div {
        display: table-row;
    }

    .sree label,
    .sree input[type="checkbox"] {
        display: table-cell;
        float: none;
        vertical-align: top;
    }

    .sree label {
        width: auto !important;
        line-height: normal !important;
    }

    #FeespaidTemplate_Status {
        width: 100% !important;
    }

    .sree input[type="checkbox"] {
        margin-top: 5px;
        margin-left: 0;
    }

    .scrollCheckboxReports1 /*-----for Bidding Interest----*/ {
        width: 65%;
        height: 100px;
        overflow: scroll;
        overflow-x: scroll;
        outline-color: #F93;
        border: 1px solid #ccc;
        box-shadow: 0 0 9px #CFD1D4t;
        margin: 0px 0px 0px 0px;
        padding: 10px 0px 5px 10px;
        background: #fff;
    }

        .scrollCheckboxReports1 td {
            padding: 2px 0px 2px 0px;
        }

        .scrollCheckboxReports1 label /*-----for Bidding Interest----*/ {
            float: left;
            width: auto;
            height: auto;
            padding-left: 5px;
            font-weight: normal;
            color: #000;
            line-height: .1em;
        }

        .scrollCheckboxReports1 input /*-----for Bidding Interest----*/ {
            float: left;
            margin-top: 3px;
        }
</style>
<body>
    <div class="reportSideBar">
        <ul>
            <li>
                <div id="flip"><a href="#">Expiring/Expired Documents</a></div>
                <div id="panel">
                    <div class="scrollCheckboxReports" style="width:220px; height:200px; font-size:14px;">
                        <table style="margin-top:-10px;">
                            @{FVGen3.Domain.Entities.ExpiringDocumentAndCOIReport expireDoc = (FVGen3.Domain.Entities.ExpiringDocumentAndCOIReport)@ViewBag.DocReports;}
                            @for (var i = 0; i < @expireDoc.DocumentTypeList.Count; i++)
                            {
                                <tr>
                                    <td valign="top">
                                        @*Srinivas on 2/25/2014*@
                                        @Html.CheckBoxFor(m => expireDoc.DoctypeList[i], new { @DocumentID = @expireDoc.DocumentTypeList[i].DocumentTypeId })
                                    </td>

                                    <td valign="top">
                                        @*Srinivas on 2/25/2014*@
                                        @{var id = "expireDoc_DoctypeList_" + @i + "_";}
                                        <label for="@id" style="line-height:normal;">@expireDoc.DocumentTypeList[i].DocumentTypeName</label>@*Srinivas on 2/25/2014*@
                                    </td>
                                </tr>

                                            }
                        </table>
                    </div>
                    <div style="float:left; margin:10px 0px 5px 0px;"><button type="button" onclick="Checkselected()">Create Report</button></div>
                </div>
            </li>
            @if (@Session["RoleName"].ToString().Equals("Admin"))
            {
                <li><a href="#!" onclick="window.open('../Reports/Clients.aspx')">Clients List</a></li>
                <li><a href="#!" onclick="window.open('../Reports/VendorBySubmitted.aspx')">Vendors By Submitted Date</a></li>
                <li><a href="#!" onclick="window.open('../Reports/LockedTemplates.aspx')">Locked Questionnaires</a></li>
                @*<li><a href="#!" onclick="window.open('../Reports/SafetyhistoryReport.aspx')">Safety History</a></li>*@
            }
            <li>
                <div id="EmployeeTrainings">
                    <a href="#!">Vendor Employee Training Summary</a>
                </div>
                <div id="EmployeeTrainingsPanel">
                    <table>
                        <tr>
                            <td colspan="2"><b>Client:</b></td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DropDownListFor(model => model.ClientOrganizationId, (IEnumerable<SelectListItem>)@ViewBag.VBSubClients, new { @onchange = "getClientTrainingTemplates()", style = "width:220px" })
                            </td>
                        </tr>
                    </table>
                    @*<table>
                            <tr>
                                <td><input type="radio" id="BUOrSite" onclick="showBU(0)" /></td>
                                <td><label for="BUOrSite">Sort By Business Units/Sites</label></td>
                            </tr>
                            <tr>
                                <td><input type="radio" id="Training" onclick="showBU(1)" /></td>
                                <td><label for="Training">Sort By Training</label></td>
                            </tr>
                        </table>*@

                    @*<table id="BusinessUnitOrSite" style="display:none;">
                            <tr>
                                <td>Select Business Units:</td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="scrollCheckboxReports" style="width:220px; font-size:14px;" id="bureport">
                                        <table class="sree" style="margin-top:-10px;" id="SelectedClientBusinessUnits"></table>
                                    </div>

                                    <div class="second-div" id="busites">
                                        <label>Sites :</label>
                                        <div class="scrollCheckbox" id="sitecheckEmployee">
                                            <div class="sree" id="SubsiteReport">
                                            </div>
                                        </div>
                                    </div>

                                </td>
                            </tr>
                            <tr>
                                <td><div style="float:left; margin:10px 0px 5px 0px;"><button type="button" onclick="openVendorEmployeeQuizReport()">Create Report</button></div></td>
                            </tr>
                        </table>*@

                    <table id="TrainingName">
                        <tr>
                            <td colspan="2"><b>Date Last Taken:</b></td>
                        </tr>
                        <tr>
                            <td><label>From</label></td>
                            <td><input type="text" id="Trainingfromdate" value="@DateTime.Now.Date.ToShortDateString()" /></td>
                        </tr>
                        <tr>
                            <td><label>To</label></td>
                            <td><input type="text" id="Trainingtodate" value="@DateTime.Now.Date.ToShortDateString()" /></td>
                        </tr>
                        <tr>
                            <td colspan="2">Training Videos</td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="scrollCheckboxReports" style="width:220px; font-size:14px;" id="TrainingReport">
                                    <table style="margin-top:-10px;" id="SelectedClientTrainingTemplates"></table>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"><div style="float:left; margin:10px 0px 5px 0px;"><button type="button" onclick="openVendorEmployeeQuizReportByTraining()">Create Report</button></div></td>
                        </tr>
                    </table>

                </div>


            </li>
            <li>
                <div id="SubSectionReport">
                    <a href="#!">Subsection Report</a>
                </div>
                <div id="SubSectionReportPanel" style="display:none;">
                    <table>
                        <tr>
                            <td>Client:</td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DropDownListFor(model => model.ClientOrganizationId_SubSec, (IEnumerable<SelectListItem>)@ViewBag.VBLoginUserOrg, new { @onchange = "Reports.GetClientTemplates()", style = "width:220px" })
                            </td>
                        </tr>
                    </table>
                    <table id="ClientTemplate">
                        <tr>
                            <td>Select Client Template:</td>
                        </tr>
                        <tr>
                            <td>
                                <div id="clientTemplates">

                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><div style="float:left; margin:10px 0px 5px 0px;"><button type="button" onclick="Reports.OpenSubSectionReport()">Create Report</button></div></td>
                        </tr>
                    </table>
                </div>
            </li>
            
            @if (@Session["RoleName"].ToString().Equals("Client") && (sysUserBusiness.HasScreenPermission("Onsite/Offsite", "", "Get", (List<LocalHeaderMenuModel>)Session["HeaderMenus"])))
            {
                <li>
                    <div id="OnsiteOffsite"><a href="#!">Onsite Offsite</a></div>
                    <div id="OnsiteOffsitePanel">
                        <div>
                            <table>
                                <tr>
                                    <td><label>From:</label></td>
                                    <td><input type="text" id="OOfromdate" value="@DateTime.Now.Date.ToShortDateString()" /></td>
                                </tr>
                                <tr>
                                    <td><label>To:</label></td>
                                    <td><input type="text" id="OOtodate" value="@DateTime.Now.Date.ToShortDateString()" /></td>
                                </tr>
                                <tr>
                                    <td><label>Location:</label></td>
                                    <td>@Html.DropDownListFor(model => model.OOlocation, (IEnumerable<SelectListItem>)@ViewBag.OOlocations, new { @onchange = "OOGetVendors()", style = "width:169px;" })</td>
                                </tr>
                                <tr>
                                    <td><label>Vendor:</label></td>
                                    <td><select id="OOvendors" onchange="OOGetEmployees()" style="width:169px;"><option value="-1">All</option></select></td>
                                </tr>
                                <tr>
                                    <td><label>Employee:</label></td>
                                    <td><select id="OOemployees"><option value="-1">All</option></select></td>
                                </tr>

                            </table>
                        </div>
                        <div style="float:left; margin:10px 0px 5px 0px;"><button type="button" onclick="getOnsiteOffsite()">Create Report</button></div>
                        <table>
                            <tr>
                                <td><label>Location:</label></td>
                                <td>@Html.DropDownListFor(model => model.COlocation, (IEnumerable<SelectListItem>)@ViewBag.OOlocations, new { style = "width:169px;" })</td>
                            </tr>
                        </table>
                        <div style="float:left; margin:10px 0px 5px 0px;"><button type="button" onclick="getCurrentlyOnsite()">Currently Onsite Report</button></div>
                    </div>


                </li>
                if (sysUserBusiness.IsUserHasPermission((Guid)@Session["UserId"], LocalConstants.ClientEmployeeId))
                {
                    <li>
                        <div id="ClientOnsiteOffsite"><a href="#!">Onsite Offsite Client</a></div>
                        <div id="ClientOnsiteOffsitePanel">
                            <div>
                                <table>
                                    <tr>
                                        <td colspan="2"><label>From:</label><input type="text" id="Clientfromdate" value="@DateTime.Now.Date.ToShortDateString()" /></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"><label>To:</label><input type="text" id="Clienttodate" value="@DateTime.Now.Date.ToShortDateString()" /></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"><b>Client:</b></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.DropDownListFor(model => model.ClientOrganizationId, (IEnumerable<SelectListItem>)@ViewBag.VBSubClients, new { @onchange = "OOGetClientEmployees()", style = "width:220px" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"><label>Employee:</label><select id="OOClientemployees"><option value="-1">All</option></select></td>
                                    </tr>

                                </table>
                            </div>
                            <div style="float:left; margin:10px 0px 5px 0px;"><button type="button" onclick="getClientOnsiteOffsite()">Create Report</button></div>
                            <table>
                                @*<tr>
                                        <td><label>Location:</label></td>
                                        <td>@Html.DropDownListFor(model => model.COlocation, (IEnumerable<SelectListItem>)@ViewBag.OOlocations, new { style = "width:169px;" })</td>
                                    </tr>*@
                            </table>
                            <div style="float:left; margin:10px 0px 5px 0px;"><button type="button" onclick="getClientCurrentlyOnsite()">Currently Onsite Report</button></div>
                        </div>


                    </li>
                }
                <li>
                    <div id="OnsiteOffsiteVisitor"><a href="#!">Onsite Visitors</a></div>
                    <div id="OnsiteOffsiteVisitorPanel">
                        <div>
                            <table>
                                <tr>
                                    <td><label>From:</label></td>
                                    <td><input type="text" id="OOVisitorfromdate" value="@DateTime.Now.Date.ToShortDateString()" /></td>
                                </tr>
                                <tr>
                                    <td><label>To:</label></td>
                                    <td><input type="text" id="OOVisitortodate" value="@DateTime.Now.Date.ToShortDateString()" /></td>
                                </tr>

                                <tr>
                                    <td><label>Location:</label></td>
                                    <td>@Html.DropDownListFor(model => model.OOVisitorlocation, (IEnumerable<SelectListItem>)@ViewBag.OOlocations, new { @onchange = "OOGetVisitors()", style = "width:169px;" })</td>
                                </tr>

                                <tr>
                                    <td><label>Visitor:</label></td>
                                    <td><select id="OOVisitors"><option value="-1">All</option></select></td>
                                </tr>

                            </table>
                        </div>
                        <div style="float:left; margin:10px 0px 5px 0px;"><button type="button" onclick="Reports.GetOnsiteOffsiteVisitors()">Create Report</button></div>
                        @*<table>
                                <tr>
                                    <td><label>Location:</label></td>
                                    <td>@Html.DropDownListFor(model => model.COVisitorlocation, (IEnumerable<SelectListItem>)@ViewBag.OOlocations, new { style = "width:169px;" })</td>
                                </tr>
                            </table>
                            <div style="float:left; margin:10px 0px 5px 0px;"><button type="button" onclick="getCurrentlyOnsiteVisitors()">Currently Onsite Report</button></div>*@
                    </div>


                </li>
            }
            <li>
                <div id="invitation"><a href="#!">Invitations Sent</a></div>
                <div id="invitationpanel">
                    <div>
                        <table>
                            <tr>
                                <td><label>Client:</label></td>
                                <td>
                                    @Html.DropDownListFor(model => model.ClientOrganizationId_Invitation, (IEnumerable<SelectListItem>)@ViewBag.VBSubClients_Default, new
                               {
                                   @style = "width: 200px",


                               })
                                </td>
                            </tr>
                            <tr>
                                <td><label>From:</label></td>
                                <td><input type="text" id="fromdate" /></td>
                            </tr>
                            <tr>
                                <td><label>To:</label></td>
                                <td><input type="text" id="todate" /></td>
                            </tr>
                        </table>
                    </div>
                    <div style="float:left; margin:10px 0px 5px 0px;"><button type="button" onclick="getInvitationSent()">Create Report</button></div>
                </div>
            </li>
            @if (ViewBag.ShowVendorRatingReport)
            {
                <li>
                    <div id="VendorReview">
                        <a href="#!">Contractor Evaluations</a>
                    </div>
                    <div id="VendorRating" style="display:none">
                        <table>
                            <tr>
                                <td>Client:</td>
                                <td>
                                    @Html.DropDownListFor(model => model.ClientOrgId, (IEnumerable<SelectListItem>)@ViewBag.totalOrglist, new { @style = "width: 200px", @onchange = " clientUsers()" })
                                </td>
                            </tr>
                            <tr>
                                <td>Score:</td>
                                <td>
                                    @Html.DropDownListFor(model => model.Score, new[] { new SelectListItem() { Text = "Any", Value="" },
                                                                                                     new SelectListItem() { Text = "0-1", Value="1" },
                                                                                                     new SelectListItem() { Text = "1-2", Value="2" },
                                                                                                     new SelectListItem() { Text = "2-3", Value="3" }})
                                </td>
                            </tr>
                            <tr>
                                <td>Review Type:</td>
                                <td>
                                    @Html.DropDownListFor(model => model.ReviewType, new[] { new SelectListItem() { Text = "Any", Value=""},
                                                                                                     new SelectListItem() { Text = "Annual", Value="0" },
                                                                                                     new SelectListItem() { Text = "Project", Value="1" },
                                                                                                     new SelectListItem() { Text = "bi-annual", Value="2" }
                                                                                                    })
                                </td>
                            </tr>
                            <tr>
                                <td>Client User:</td>
                                <td>
                                    <div class="scrollCheckboxReports">
                                        <table style="margin-top:-10px;" id="Users"></table>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <div style="float:left; margin:10px 0px 5px 0px;"><button type="button" onclick="ReviewsReport()">Create Report</button></div>
                    </div>

                </li>
            }
            @if (@Session["RoleName"].ToString().Equals("Admin"))
            {
                <li><a href="#!" onclick="getNotifications()">Notifications</a></li>
            }


            <li>
                <div id="InjuryStatistics">
                    <a href="#!">Injury Statistics</a>
                </div>
                <div id="InjuryStatisticsPanel" style="display:none">
                    <table>
                        <tr>
                            <td>Client:</td>
                            <td>
                                @Html.DropDownList("ClientOrgId_Injury", (IEnumerable<SelectListItem>)@ViewBag.VBLoginUserOrg, new { @style = "width: 200px", @onchange = "Reports.GetClientTemplates_Report(this,'ClientTemplate_InjuryRow','Template_Injury')" })
                            </td>
                        </tr>
                        <tr>
                            <td>Template:</td>
                            <td id="ClientTemplate_InjuryRow">
                                @Html.DropDownList("Template_Injury", new SelectListItem[] { })
                            </td>
                        </tr>

                    </table>
                    <div style="float:left; margin:10px 0px 5px 0px;"><button type="button" onclick="Reports.InjuryStatistics()">Create Report</button></div>
                </div>

            </li>

            <li>
                <div id="InsuranceInfo">
                    <a href="#!">Insurance Information</a>
                </div>
                <div id="InsuranceInfoPanel" style="display:none">
                    <table>
                        <tr>
                            <td>Client:</td>
                            <td>
                                @Html.DropDownList("ClientOrgId_Insurance", (IEnumerable<SelectListItem>)@ViewBag.VBLoginUserOrg, new { @style = "width: 200px", @onchange = "Reports.GetClientTemplates_Report(this,'ClientTemplate_InsuranceRow','Template_Insurance')" })
                            </td>
                        </tr>
                        <tr>
                            <td>Template:</td>
                            <td id="ClientTemplate_InsuranceRow">
                                @Html.DropDownList("Template_Insurance", new SelectListItem[] { })
                            </td>
                        </tr>

                    </table>
                    <div style="float:left; margin:10px 0px 5px 0px;"><button type="button" onclick="Reports.InsuranceInformation()">Create Report</button></div>
                </div>

            </li>

            <li>
                <div id="StatusHistoryinfo">
                    <a href="#!">Status History</a>
                </div>
                <div id="StatusHistoryPanel" style="display:none">
                    <table>
                        <tr>
                            <td>Client:</td>
                            <td>
                                @Html.DropDownList("ClientOrgId_Status", (IEnumerable<SelectListItem>)@ViewBag.VBLoginUserOrg, new { @style = "width: 200px", @onchange = "Reports.GetClientTemplates_Report(this,'ClientStatusTemplate_row','Template_Status')" })
                            </td>
                        </tr>
                        <tr>
                            <td>Template:</td>
                            <td id="ClientStatusTemplate_row">
                                @Html.DropDownList("Template_Status", new SelectListItem[] { })
                            </td>
                        </tr>

                    </table>
                    <div style="float:left; margin:10px 0px 5px 0px;"><button type="button" onclick="Reports.StatusHistory()">Create Report</button></div>
                </div>

            </li>
            @if (@Session["RoleName"].ToString().Equals("Admin"))
            {
                <li>
                    <div id="fee">
                        <a href="#!">Fees Paid</a>
                    </div>
                    <div id="feepanel" style="display:none">
                        <div>
                            <table>
                                <tr>
                                    <td><label>From:</label></td>
                                    <td><input type="text" id="feefromdate" /></td>
                                </tr>
                                <tr>
                                    <td><label>To:</label></td>
                                    <td><input type="text" id="feetodate" /></td>
                                </tr>
                                <tr>
                                    <td>Client:</td>
                                    <td>
                                        @Html.DropDownList("FeespaidClient_Status", (IEnumerable<SelectListItem>)@ViewBag.totalOrglist, new
                                   {
                                       @style = "width: 200px",
                                       @onchange = "Reports.GetFeeTemplates_Report(this,'FeespaidTemplate_row','FeespaidTemplate_Status')"
                                   })
                                    </td>
                                </tr>
                                <tr>
                                    <td>Template:</td>
                                    <td id="FeespaidTemplate_row">
                                        @Html.DropDownList("FeespaidTemplate_Status", new SelectListItem[] { })
                                    </td>
                                </tr>
                                @*<tr>
                                        <td>Trainings:</td>
                                        <td id="FeespaidTrainingTemplate_row">
                                            @Html.DropDownList("FeespaidTrainingTemplate_Status", new SelectListItem[] { })
                                        </td>
                                    </tr>*@
                            </table>
                        </div>
                        <div style="float:left; margin:10px 0px 5px 0px;"><button type="button" onclick="getfeepaid()">Create Report</button></div>
                    </div>
                </li>
            }


            @if (sysUserBusiness.HasScreenPermission("FinancialAnalytics", "", "ClientAndAdminViewFinancialAnalytics", (List<LocalHeaderMenuModel>)Session["HeaderMenus"]))
            {

                <li>
                    <div id="FinancialAnalyticsinfo">
                        <a href="#!">Financial Analytics</a>
                    </div>
                    <div id="FinancialAnalyticsinfoPanel" style="display:none">
                        <table>
                            <tr>
                                <td>Client:</td>
                                <td>
                                    @Html.DropDownList("ClientOrgId_Analytics", (IEnumerable<SelectListItem>)@ViewBag.totalOrglist, new
                               {
                                   @style = "width: 200px",


                               })
                                </td>
                            </tr>

                        </table>
                        <div style="float:left; margin:10px 0px 5px 0px;"><button type="button" onclick="Reports.Financial()">Create Report</button></div>
                    </div>
                </li>
            }
            @if (@Session["RoleName"].ToString().Equals("Admin") || @Session["currentOrgId"].ToString().Equals("58"))
            {
                <li>
                    <div id="ContractVendors">
                        <a href="#!">Vendor Contract Info</a>
                    </div>
                    <div id="ContractVendorsPanel" style="display:none">
                        <table>
                            <tr>
                                <td>Client:</td>
                                <td>
                                    @Html.DropDownList("ClientOrgId_Contract", (IEnumerable<SelectListItem>)@ViewBag.totalOrglist, new
                               {
                                   @style = "width: 200px",
                                   @onchange = "Reports.GetClientTemplates_Report(this,'ClientTemplate_ContractRow','Template_ContractRow')",
                               })
                                </td>
                            </tr>
                            <tr>
                                <td>Score:</td>
                                <td id="ClientTemplate_ContractRow">
                                    @Html.DropDownList("Template_ContractRow", new SelectListItem[] { })
                                </td>
                            </tr>

                        </table>
                        <div style="float:left; margin:10px 0px 5px 0px;"><button type="button" onclick="Reports.ContractVendors()">Create Report</button></div>
                    </div>

                </li>
            }
            @if (@Session["RoleName"].ToString().Equals("Admin"))
            {
                <li>
                    <div id="ERITemplates"><a href="#!">Multi-Client Prequalifications</a></div>
                    <div id="ERITemplatesPanel">
                        <div>
                            <table>
                                <tr>
                                    <td><label>Templates:</label></td>
                                    <td>@Html.DropDownListFor(model => model.TemplateId, (IEnumerable<SelectListItem>)@ViewBag.eriTemplates)</td>
                                </tr>
                            </table>
                        </div>
                        <div style="float:left; margin:10px 0px 5px 0px;"><button type="button" onclick="getERIPrequalifications()">Generate Report</button></div>
                    </div>
                </li>
            }

            @*<li>
                    <div id="VendorInvites"><a href="#!">Vendor Invites By Status</a></div>
                    <div id="VendorInvitespanel">
                        <div>
                            <table>
                                <tr>
                                    <td>Client:</td>
                                    <td>
                                        @Html.DropDownList("ClientOrgId_VendorInvites", (IEnumerable<SelectListItem>)@ViewBag.totalOrglist, new { @style = "width: 200px", @onchange = "Reports.GetClientTemplates_Report(this,'ClientTemplate_VendorInvites','Template_VendorInvites')" })
                                    </td>
                                <tr></tr>
                                <tr>
                                    <td><label>Vendor City/State</label></td>
                                    <td>
                                        @Html.DropDownList("State", (IEnumerable<SelectListItem>)@ViewBag.States, new
                                   {
                                       @style = "width: 200px",


                                   })
                                </td>
                            </tr>
                            <tr>
                                <td>
                            <tr>
                                <td><label>Templates:</label></td>
                                <td id="ClientTemplate_VendorInvites">
                                    @Html.DropDownList("Template_VendorInvites", new SelectListItem[] { })
                                </td>
                            </tr>
                            </td>
                            </tr>
                        </table>

                        </div>
                        <div style="float:left; margin:10px 0px 5px 0px;"><button type="button" onclick="GetVendorInvitationStatus()">Create Report</button></div>
                    </div>
                </li>*@
        </ul>
    </div>
</body>
</html>
