﻿
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Templete Sub Section - First,verify</title>    
    <link rel="stylesheet" href="~/css/sidebar.css"/>
</head>



<body>



       <div class="vendorSearchContent">					 
<div class="VendorDetails" style="margin-bottom:10px;
             @if (@ViewBag.PqStatusId.ToString() == "10")
             {
                @:background:@ViewBag.VBPreviousStatusColour url(../images/prequalificationExpiration.png);
             }
             else
             {
                 @:background-color:@ViewBag.VBStatusColor;
             }
                 ">@*Rajesh on 2/21/2014*@
            	<table border="0" width="92%">
                	<tr><td class="page-subtitle" width="80%"><h2 style="margin:0px;font-size:1.1em;color:#fff!important;">@ViewBag.VendorName</h2></td>
                    <td width="20%" align="right" valign="top"> 
                        <h2 style="color:#fff; margin:0px;font-size:1.1em;">
                            @if (@Session["RoleName"].ToString() != "Vendor")
                            {
                                @:@ViewBag.TemplateCode
                            }
                        </h2>
                    </td></tr>
                    <tr><td class="page-subtitle" colspan="2"><h2 style="margin:0px;font-size:1.1em;color:#fff!important;">Started: @ViewBag.PrequalificationCreate.ToString("MM/dd/yyyy")</h2></td></tr>
                    <tr><td class="page-subtitle" colspan="2"><h2 style="margin:0px;font-size:1.1em;color:#fff!important;">@ViewBag.ClientName</h2></td></tr>                    
                    <tr><td class="page-subtitle" colspan="2"><h2 style="margin:0px;font-size:1.1em;color:#fff!important;">
                     @* Mani on 2/25/2015*@
                    @if (@ViewBag.BUstatus != null)
                    {
                         @:Status: @ViewBag.BUstatus   
                    }

                    else if (@ViewBag.PqStatusId.ToString() == "10")
                    {
                        @:Status: @ViewBag.VBPreviousStatusName - @ViewBag.PqStatusName
                    }
                    else
                    {
                        @:Status: @ViewBag.PqStatusName
                    }
                        </h2></td></tr>
                    <tr><td class="page-subtitle" colspan="2"><h2 style="margin:0px;font-size:1.1em;color:#fff!important;">
                   @* @if (@ViewBag.StatusId.ToString() == "10")
                    {
                        @:Status Period: @ViewBag.VBPreviousPeriod  
                    }
                    else
                    {*@
                         Period: @ViewBag.Period
                    @*}*@
                    </h2></td></tr>
                </table>
            </div>						 
		</div>
    
</body>
</html>

