﻿<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=8"/>
<meta http-equiv="X-UA-Compatible" content="IE=9"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width"/>

<title>@ViewBag.Title</title>
<link rel="icon" href="~/images/favicon.ico" type="image/icon" />

 
    @Scripts.Render("~/js/jquery-1.9.1.min.js")
    @Scripts.Render("~/bundles/common")
    <script src="~/Scripts/Application/Common/Http.js"></script>
    <script src="~/Scripts/Application/Utilities/LoginUserInfo.js"></script>
    <script src="~/Scripts/Application/Google/Analytics.js"></script>
   <script src="~/Scripts/kendo/kendo.all.min.js"></script>
   
    @Scripts.Render("~/js/moment.min.js")
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <link href="~/css/modelPopupWindow.css" rel="stylesheet" />
    @Styles.Render("~/css/common.css")
    @Styles.Render("~/css/appInnerPages.css")
    @Styles.Render("~/css/index.css")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
        <div id="top-bar">
            <div class="inner">
                @if (@Session["OldUserName"] != null && !Session["OldUserName"].ToString().Equals(""))
                {
                    <div id="switchuser-loginmessage" class="switchuser">
                        @Session["OldUserName"] Logged in as @Session["UserName"]
                    </div>

                    <div class="incognitouser">
                        <a href="@Url.Action("IncognitoUser", "SystemUsers")">Switch to - @Session["OldEmail"]</a>
                    </div>
                }
                @*<div class="notifications">
                    <img src="~/images/notifications.png"/>
                    <a href="#!" onclick="showLeftPanel(1,this)">Notifications </a>
                        @if (@ViewBag.NotificationCount > 0) { 
                        <sup id="superText">@ViewBag.NotificationCount</sup>
                    }
                </div>*@
                <div id="login-box">
                    <div id="register">
                        <ul>
                            <li><a href="@Url.Action("LogOut", "SystemUsers")">Log Out</a></li>
                        </ul>
                    </div><!--/#register-->
                    <div id="login">
                        <ul>
                            <li> @if (@Session["UserName"] != null && !@Session["UserName"].ToString().Equals(""))
                                 {
                                     @:Logged in as @Session["UserName"]
                                 }</li>
                        </ul>
                    </div><!--/#login-->
                </div><!--/#login-box-->
            </div><!--/.inner-->
        </div><!--/#top-bar-->

        <div class="container">

            <div class="header
                 @if (@Session["OldUserName"] != null && !Session["OldUserName"].ToString().Equals("")) { @: adminHeader
                          }
                 ">
                @Html.Partial("_DashboardHeaderPartial")
            </div>

            <div class="content">
                <div class="page-title">
                    <h2>@ViewBag.VendorName</h2>
                </div>
                <div class="sidebar_left">
                   @Html.Partial("_TemplateSectionSideBarPartial")
                </div>
                <div class="main_right">
                    @Html.Partial("_PopupWindow")
                    @RenderBody()
                </div>
            </div>
            <div class="footer">
                @Html.Partial("_LoginFooter")
            </div>
            
        </div>
      
    </body>
</html>

<link href="~/css/kendo/kendo.default.min.css" rel="stylesheet" />
<link href="~/css/kendo/kendo.common.min.css" rel="stylesheet" />
<link href="~/css/kendo/kendo.default.mobile.min.css" rel="stylesheet" />
@*

<table class="content">

      <tr>
             <td colspan="2" class="top_header">

              @Html.Partial("_DashboardHeaderPartial")

             </td>
      </tr>

      <tr>
             <td class="sidebar_left" valign="top">
           
            @Html.Partial("_TemplateSectionSideBarPartial")

             </td>
             <td class= "main_left">
              @RenderBody()

             </td>
      </tr>
          
      <tr>

              <td colspan="2" class="bottom">

              @Html.Partial("_LoginFooter")

             </td> 

      </tr> 


</table>

*@