﻿@using FVGen3.Domain.Entities;
@using FVGen3.WebUI.Constants;
@using Resources;
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Templete Sub Section - First,verify</title>  
   @Scripts.Render("~/bundles/common")
    <script src="~/Scripts/kendo/kendo.all.min.js"></script>

    @*<link rel="stylesheet" href="~/css/sidebar.css"/>*@
    
    
</head>
<style>
    .text {
  display: block;
  width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
    .commentsSec{
        height: auto;
        /*min-height: 40px;*/
        padding: 10px;
        /*margin-top: 66%;*/
        margin-bottom: 10px;
        background-color: #1F83BC;
     
    }
    .FlagSec {
        height: auto;
        min-height: 40px;
        padding-bottom: 10px;
        /*margin-top: 70%;*/
        margin-bottom: 10px;
        background-color: #1F83BC;
     
    }
     .autosavemodal-content,.Comments-content {
           display: none;
    background-color: #fefefe;
    position: fixed;
    bottom: 10px;
    z-index: 1;
    /* padding-top: 100px; */
    width: 600px;
   margin:10%;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 10px;
    }
    .titlebar {
           width: 100%;
    background: #e5e2e2;
    /* margin-top: -2em; */
    padding: .4em 0;
    font-size: 1.5em;
    white-space: nowrap;
    min-height: 16px;
    border: 1px solid #e5e2e2;
    /*border-radius: 5px;*/
    margin-bottom: 10px;
    }
    .popupbody{
border-radius:5px;
    }
    .ui-tooltip-content{
        word-break:break-all;
    }
</style>
<script type = "text/javascript">
    function updateFlag()
    {
       
           AddComments();
       
    }
   
    function hideAutoSave()
    {
        $(".autosavemodal-content").hide();
        $(".Comments-content").hide();
    }
   
    var winPop = false;
    function OpenEmailModelTemplatesPopup(templateId) {
        if (winPop && !winPop.closed) {  //checks to see if window is open
            winPop.focus();
        }
        else {
            //alert("else");
            winPop = window.open("../Prequalification/EmailModelTemplatesList?prequalificationId=" + "@ViewBag.PrequalificationId" + "&isERITemplate=@ViewBag.eritemplate" + "&reloadContent=false&clientId=0", "_blank", "toolbar=no,  directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=yes, width=780, height=700");
        }
    }
    function goPrequalification() {
        //alert("ASDFA");
        //window.location = "TemplatesList?PreQualificationId=" + $('#PreQualificationList').val();
        window.location = "../Prequalification/TemplatesList?PreQualificationId=" + $('#PreQualificationList').val() + "&oldPreQualificationId=@ViewBag.PrequalificationId"; //Rajesh on 9/21/2013
    }

    // Kiran on 10/21/2015 for FV-162 for redirecting to vendor details page while toggling the prequalifications
    function goPrequalification1() {

        var PrequalificationBUid = $('#PreQualificationList').val().split('|');
        if (PrequalificationBUid[0] == -1)
            window.location = "../Prequalification/TemplatesList?PreQualificationId=" + PrequalificationBUid[0] + "&buId=" + PrequalificationBUid[1] + "&oldPreQualificationId=@ViewBag.PrequalificationId";
        else
            window.location = "../AdminVendors/VendorDetails?SelectedVendorId=@ViewBag.VendorId&PreQualificationId=" + PrequalificationBUid[0] + "&TemplateSectionID=-1&mode=0";
    }
    function showInvitationBannerTo()
    {
        $("#InvitationBannerFrom").hide();
        $("#InvitationBannerTo").show();
    }
    function AddComments()
    { 
       
      
        $.ajax({
            type:'Post',
            url: "../AdminVendors/AddComments",
            data: 'pqId=' + @ViewBag.PreQualificationId,
            success: function (data) {
                debugger;
                $('#Comments').val(data.Comments);
              
                    $("#IsChecked").prop("checked", data.IsChecked);
                //else $('#IsChecked').prop("checked", data.IsChecked);
            }
        })
        if('@ViewBag.HaspredefineCommentsEditPermission'.toLowerCase() =='false')
        {
            $('.Comments-content').show();
        }
        else{
            $(".autosavemodal-content").show();
}
    }
    function UpdateComments()
    {
       var Comments= $('#Comments').val();
       $.ajax({
           type:'Post',
           url: "../AdminVendors/UpdateComments",
           data: 'pqId=' + @ViewBag.PreQualificationId+ '&Comments=' + Comments +'&IsChecked='+$('#IsChecked').prop("checked") ,
           success: function (data) {
               hideAutoSave();
               window.location.reload(true);
           }
       })
    }

    function UpdateInvitationFromDetails()
    {
        var PrequalificationBUid = $('#PreQualificationList').val().split('|');
        var InvitationFrom = $("#InvitationsFrom").val();
        $.ajax({
            type: 'Post',
            url: '../Prequalification/UpdateInvitationFromDetails',
            data: 'pqId=' + PrequalificationBUid[0] + '&InvitationFrom=' + InvitationFrom,
            success: function (data) {
                if (data == "Success")
                    window.location.reload(true);
            },
            error: function () {
                console.trace();
                alert("@Resources.Common_unableToProcess");
            }
        });
    }
    // Kiran on 10/21/2015 ends
</script>

<body>
    <div class="Comments-content" style="display:none">
        <div class="titlebar">

            <span class="closeAutoSave" onclick="hideAutoSave()" style="float: right;cursor: pointer;margin-right: 10px;">&times;</span>
        </div>
        <div class="popupbody" style='min-height: 200px;padding: 2px 10px 0px 20px;'>
            <table>
                <tr>
                    <td>
                        <label style='width: 100% !important;min-height: 24px;height: auto;padding: 2px 10px 0px 0;letter-spacing: 0.1px;color: #999999;font-size: 14px;'><strong>@Resources.Common_Comments:</strong></label>

                        
                    </td>
                    <td>
                        <label style='letter-spacing: 0.1px;font-size: 14px;'>@ViewBag.preComments</label>
                    </td>  </tr>   </table>
        </div>
    </div>
   
    <div class="autosavemodal-content" style="display:none">
        <div class="titlebar">

            <span class="closeAutoSave" onclick="hideAutoSave()" style="float: right;cursor: pointer;margin-right: 10px;">&times;</span>
        </div>
        <div class="popupbody">
            <div>
                <label style='margin-left: 10%!important;width: 100% !important;min-height: 24px;height: auto;padding: 2px 10px 0px 0;letter-spacing: 0.1px;color: #999999;font-size: 14px;'><strong>@Resources.Common_Comments</strong></label>
                <textarea name='Comments' maxlength='2000' id='Comments' cols='2' rows='10' style="width:80%;padding-left: 10px;border-radius: 5px;margin-left: 8%;margin-top:10px;border: 1px solid #cdc9c9;"></textarea>
                @*<label style='margin: 10%!important;  margin-bottom: 40%;width: 100% !important;min-height: 24px;height: auto;padding: 2px 10px 0px 0;letter-spacing: 0.1px;color: #999999;font-size: 14px;'><strong>Flag:</strong></label>*@
            </div>
            <table>
               <tr>
                   <td style="padding: 30px 20px 30px 50px;"><input type="checkbox" id="IsChecked"/></td>
                   <td>@Resources.Flag_Deactivation</td>
               </tr> 
            </table>
        </div>
       
        <div class='pageFooterButtons' style='padding: 40px;float: right;'>
                <table>
                    <tr>
                        <td><button type='button' class='pageFooterButton btn' style="margin-right:10px;" id="savebtn" onclick='UpdateComments()'>@Resources.Common_Save</button></td>
                        <td><button type='button' class='pageFooterButton btn' onclick='hideAutoSave()'>@Resources.Common_Cancel</button></td>
                    </tr>
                </table>
            </div>
      
    </div>
    
 <div class="sideBarContent">
     
        <div class="vendorSearchContent">
    @*Kiran on 04/30/2014*@
    @if (@Session["RoleName"].ToString() != "Vendor")
    {
        <table>
            <tr>
                <td>
                    @if (@ViewBag.VBPreQualifications != null)
                    {
                        @Html.DropDownList("PreQualificationList", (IEnumerable<SelectListItem>)ViewBag.VBPreQualifications);
                    }
                    @*</td>
                        <td>*@
                    @* Kiran on 10/20/2015 for FV-162  for redirecting to vendor details while toggling the prequalifications *@
                    @if (@Session["RoleName"].ToString() == "Client" || @Session["RoleName"].ToString() == "Super Client")
                    {
                        <button type="button" id="preQualificationGoBttn" onclick="goPrequalification()">Go</button>
                    }
                    else if (@Session["RoleName"].ToString() == "Admin")
                    {
                        <button type="button" id="preQualificationGoBttn" onclick="goPrequalification1()">Go</button>
                    }
                </td>
                @* Kiran on 09/19/2015 ends *@

            </tr>
        </table>
    }
    @if (@Session["RoleName"].ToString() == "Admin")
            {
        <div class="preQualificationEditButtons">
            <table width="100%">
                <tr>
                    <td align="center" width="23%"><a href="#!" onclick="OpenEmailModelTemplatesPopup()">Email</a></td>
                    <!--//Rajesh On 8-31-2013 >>>-->
                    @if (@ViewBag.mode == null || @ViewBag.mode == 0)
                        {
                            var query = "../Prequalification/TemplateSectionsList" + QueryStringModule.Encrypt("templateId=" + @ViewBag.templateId + "&TemplateSectionID=-1&PreQualificationId=" + @ViewBag.PreQualificationId + "&mode=1");
                        <td style="" align="center" width="35%"><a href="@query">View Mode</a></td>
                        @*<td style="border-left:1px solid #ddd;" align="center" width="35%"><a href="@query">View Mode</a></td>*@

                        }
                        else
                        {
                            var query = "../Prequalification/TemplateSectionsList" + QueryStringModule.Encrypt("templateId=" + @ViewBag.templateId + "&TemplateSectionID=-1&PreQualificationId=" + @ViewBag.PreQualificationId + "&mode=0");
                        <td align="center" width="35%"><a href="@query">Edit Mode</a></td>
                        @*<td style="border-left:1px solid #ddd;" align="center" width="35%"><a href="@query">Edit Mode</a></td>*@
                        }
                    <!-- Ends -->
                    @{var query1 = "../Companies/EditVendor" + QueryStringModule.Encrypt("OrganizationID=" + @ViewBag.VendorId + "&isSuccess=false");}
                    <td align="center" width="42%"><a href="@query1">Edit Company</a></td>
                    @*<td style="border-left:1px solid #ddd;" align="center" width="42%"><a href="@query1">Edit Company</a></td>*@
                </tr>
            </table>
        </div>
                        }

    <div id="vdcolor" class="VendorDetails" style="margin-bottom:10px;
             @if (@ViewBag.StatusId.ToString() == "10")
             {
                 if (@ViewBag.templateId == LocalConstants.ClaycotrainingTemplateID) {
                @:background:#2bb5df url(../images/prequalificationExpiration.png);
                 }
                 else
                 {
                      @:background:@ViewBag.VBPreviousStatusColour url(../images/prequalificationExpiration.png);
                 }
             }
             else
             {
                 if (@ViewBag.templateId == LocalConstants.ClaycotrainingTemplateID)
                 {
               @:background-color:#2bb5df;
                 }
                 else
                 {
                      @:background-color:@ViewBag.VBStatusColor;
                      }
             }
                 ">
        @*Rajesh on 2/21/2014*@
                <table border="0" width="92%">

                    @*<tr>
                            <td class="page-subtitle" colspan="1"><h2 style="margin:0px;font-size:1.1em;">Started: @ViewBag.PrequalStartDate</h2></td>
                            <td width="20%" align="right" valign="top">
                                <h2 style="color:#fff; margin:0px;font-size:1.1em;">
                                    @if (@Session["RoleName"].ToString() != "Vendor")
                                    {
                                        @:@ViewBag.TemplateCode
                                }
                                </h2>
                            </td>
                        </tr>*@
                    <tr>
                        <td>
                            @if (@ViewBag.PqCommentsHasFlag == false && @ViewBag.HasCommentsSecPermisstion)
                            {
                                <i class="fa fa-flag" aria-hidden="true" style="font-size: 30px;color: white;" title="@ViewBag.preComments"></i>
                            }
                            else if (@ViewBag.VBIsSiteHasMultiStatus == null || !@ViewBag.VBIsSiteHasMultiStatus)
                            {
                                <img id="neg-icon" class="status-icon" src="../images/negative-icon.png" alt="Negative" />
                                <img id="pos-icon" class="status-icon" src="../images/checkmark-icon.png" alt="Positive" />
                                <img id="neu-icon" class="status-icon" src="../images/caution-icon.png" alt="Neutral" />
                            }
                            else
                            {
                                <i class="fa fa-align-justify multistatus" aria-hidden="true" style="font-size: 30px;color: white;"></i>
                            }
                        </td>
                        <td width="20%" align="right" valign="top">
                            <h2 style="color:#fff; margin:0px;font-size:1.1em;">
                                @if (@Session["RoleName"].ToString() != "Vendor")
                                {
                                    @:@ViewBag.TemplateCode
                                }
                            </h2>
                        </td>
                    </tr>
                    <tr>
                        <td class="page-subtitle" colspan="2">
                            <h2 style="margin:0px;font-size:1.1em;">
                                @if (@ViewBag.VBIsSiteHasMultiStatus == null || !@ViewBag.VBIsSiteHasMultiStatus)
                                {
                                    if (@ViewBag.StatusId.ToString() == "10")
                                    {
                                        @:<b>Status:</b> @ViewBag.VBPreviousStatusName - @ViewBag.StatusName
                        }
                                    else
                                    {
                                        @:<b>Status:</b> @ViewBag.StatusName
                        }
                                }
                                else
                                {
                                    @:<b>Status:</b> Multiple

                                }
                            </h2>
                        </td>
                    </tr>
                    <tr>
                        <td class="page-subtitle" colspan="2">
                            <h2 style="margin:0px;font-size:1.1em;">
                                @* @if (@ViewBag.StatusId.ToString() == "10")
                                    {
                                        @:Status Period: @ViewBag.VBPreviousPeriod
                                    }
                                    else
                                    {*@
                                <b>Period:</b> @ViewBag.Period
                                @*}*@
                            </h2>
                        </td>
                    </tr>
                    <tr><td class="page-subtitle" colspan="2"><h2 style="margin:0px;font-size:1.1em;font-weight:700">@ViewBag.ClientName</h2></td></tr>
                </table>
            </div>

            @if (@ViewBag.ISSuperClient != OrganizationType.SuperClient && (@Session["RoleName"].ToString() == "Admin" || @Session["RoleName"].ToString() == "Client"))
            {
                if (@ViewBag.HasCommentsSecPermisstion!=null && @ViewBag.HasCommentsSecPermisstion && @Session["RoleName"].ToString() != "Vendor")
                {


                    if ((@ViewBag.PqCommentsHasFlag == null || @ViewBag.PqCommentsHasFlag == true) && @ViewBag.HaspredefineCommentsEditPermission)
                    {
                          <div class="FlagSec"onclick="updateFlag()"
                               @if (@Session["RoleName"].ToString() == "Admin")
                               {@: style="margin-top:70%"
                               } else { @: style="margin-top:60%"
                               } >

                                    <table>
                                        <tr>
                                            <td style="color:#fff;">
                                                <h2 style="color:white;margin:10px 0 0 20px;font-size:1.0em;font-weight:700">@Resources.Flag_Activation</h2>

                                            </td>
                                            <td>
                                                <i class="fa fa-flag" id="changeicon" aria-hidden="true" style="font-size: 30px;color: #c8b4b4;padding-left:100px;padding-top:10px;font-size:25px;float:right;cursor:pointer;font-size:25px;" title="Activate Flag"></i>
                                            </td>
                                        </tr>
                                    </table>

                                </div>

                    }
                    else if (@ViewBag.PqCommentsHasFlag == false)
                    {
                        <div class="commentsSec"  title="@ViewBag.preComments" 
                              @if (@Session["RoleName"].ToString() == "Admin")
                               {@: style="margin-top:66%"
                               } else { @: style="margin-top:56%"
                               }
                              >
                            <table>
                                <tr>
                                    <td style="color:#fff;">
                                        <h2 style="color:white;margin:8px 0 0 10px;font-size:1.0em;font-weight:700">@Resources.Common_Comments</h2>

                                    </td>
                                    @if(@ViewBag.HaspredefineCommentsEditPermission)
                                    {
                                        <td>
                                        <i style="color:white;margin:10px 0 0 0px;padding-left:120px;font-size:25px;float:right;cursor:pointer;font-size:25px;" class="fa fa-pencil-square-o" aria-hidden="true" onclick="AddComments()"></i>
                                    </td>
                                    }
                                    else
                                    {
                                        <i class="fa fa-eye" style="color:white;float:right;font-size: 25px;padding: 6px;" onclick="AddComments()" aria-hidden="true"></i>
                                    }
                                </tr>
                            </table>
                            @*<p style="color:white;margin:0px 0 0 20px;" class="text">@ViewBag.preComments</p>*@
                            
                        </div>


                    }
                   
                    else
                    {


                    }
                }
              
                            @*Rajesh on 2/21/2014*@
                            <div class="VendorDetails" id="InvitationBannerFrom" style="height:auto;min-height:20px;padding-bottom:10px;margin-top:0px;margin-bottom:10px;background-color:#1F83BC;">
                                <table border="0" width="92%">
                                    <tr>
                                        <td style="font-size:1.1em;color:#fff;">
                                            <h2 style="color:white;margin:0px 0 0 10px;font-size:1.0em;font-weight:700">
                                                @Html.Raw(ViewBag.InvitationSentBy)
                                                @if (@Session["RoleName"].ToString() == "Admin")
                                                {
                                                    <i style="padding-left:50px;font-size:25px;float:right;cursor:pointer;" class="fa fa-pencil-square-o" aria-hidden="true" onclick="showInvitationBannerTo()"></i>
                                                }
                                            </h2>
                                        </td>
                                    </tr>
                                    <tr><td style="font-size:1.1em;color:#fff;"><h2 style="color:white;margin:0px 0 0 10px;font-size:1.0em;font-weight:700">@ViewBag.InvitationSentByUser</h2></td></tr>
                                </table>

                            </div>

                            <div id="InvitationBannerTo" style="display:none;margin-bottom:10px;">
                                <table>
                                    <tr>
                                        <td>@Html.DropDownList("InvitationsFrom", (IEnumerable<SelectListItem>)ViewBag.InvitationFromOptions)</td>
                                        <td><i style="font-size:25px;float:right;cursor:pointer;" class="fa fa-check-square-o fa-5" onclick="UpdateInvitationFromDetails()"></i></td>
                                    </tr>
                                </table>

                            </div>
                            @*Ends<<<*@
                            }
                        </div>

   <div class="sideBarList">
    <ul style="word-break:normal;">
       
       @if (@ViewBag.sideMenu != null)
       {
           foreach (var name in @ViewBag.sideMenu)
           {
               if (!name.isVisible)
               {
                   continue;
               }
               var query = Url.Action(name.actionName, name.controllerName) + QueryStringModule.Encrypt(name.param);
               if (@name.actionName == "")
               {
                        <li><a href="#!" >@name.menuName</a></li>
               }
               else
               {

                   if (@name.isChecked)
                   {

                       if (name.isSectionCompleted == null)
                       {
                                <li style="background:#e5e6e8;margin-bottom:10px;" >
                                    <label style="padding-left:10px;margin-top:0!important"><a class="sidebar_activie"  href="@query" style="font-size: 1.1em; color: rgb(0, 0, 0);"> @name.menuName </a></label> 
                                </li>
                       }
                       else
                       {
                                <li >
                                    <table>
                                <tr>
                                    <td valign="top">
                                    @if ((@ViewBag.mode == 0 || @ViewBag.mode == null) || @Session["RoleName"].ToString() == "Client") // kiran on 3/18/2014
                                    {
                                        if (name.isSectionCompleted == true)
                                        {
                                            <img align="middle" src="../images/completed.png" style="right:8px" />
                                                                }
                                                    else
                                                    {
                                            <img align="middle" src="../images/notcompleted.png" style="right:0px"/>
                                                    }
                                                }
                                    </td>
                                    <td>
                                        <div style="padding-left:10px;">
                                            <a class="sidebar_activie" href="@query" style="font-size: 1.1em; color: rgb(0, 0, 0);"> @name.menuName </a>                               
                                        </div>
                                    </td>
                                </tr>
                                </table>
                                </li>
                       }
                                    }
                   else
                   {
                       if (name.isSectionCompleted == null)
                       {
                                @*<li style = 'background:#e5e6e8;margin-bottom:10px' class="page-subtitle">*@
                                <li style = 'background:#1F83BC;margin-bottom:10px' class="page-subtitle">
                                    <a href="@query"> <h2 style="color:white;margin:0px 0 0 10px;font-size:1.0em;font-weight:700"> @name.menuName </h2></a>
                                </li>
                       }
                       else
                       {
                                <li>                            
                                   <table>
                                    <tr>
                                        <td valign="top">
                                        @if (@ViewBag.mode == 0 || @ViewBag.mode == null|| @Session["RoleName"].ToString() == "Client") // kiran on 3/18/2014
                                        {
                                            if (name.isSectionCompleted == true)
                                            {
                                                <img align="top" src="../images/completed.png" style="right:8px"/>
                                            }
                                            else
                                            {
                                                <img align="top" src="../images/notcompleted.png" style="right:0px"/>
                                            }
                                        }
                                        </td>
                                        <td>
                                        <div style="padding-left:10px;">
                                            @*@if (name.isvendornopaymentnoaccess != null && name.isvendornopaymentnoaccess == false)
                                            {
                                                <div style="cursor:crosshair;margin:0;"> @name.menuname </div>   
                                            }
                                            else
                                            {*@
                                                <a @if (name.isVendorNoPaymentNoAccess != null && name.isVendorNoPaymentNoAccess == false)
                                                { @:style="cursor:crosshair;margin:0;",href="#"
                                                   } else {
                                                    @:href = "@query"
                                                    }> @name.menuName </a>   
                                            @*}*@
                                            </div>
                                        </td>
                                    </tr>
                                   </table>
                                    
                                    
                                </li>
                       }
                   }
               }
           }
       }
    </ul>
   </div>      
</div><!--temp_sub_sidebar-->
                
                       


						 
						 
		

</body>

</html>
