﻿
@using FVGen3.Domain.Entities;
@using Resources

@{
    ViewBag.Title = "";
}



 @Styles.Render("~/css/common.css")
    @Styles.Render("~/css/appDashboard.css")    
      @Scripts.Render("~/js/jquery-1.9.1.min.js")
    <link rel="stylesheet" href="~/css/index.css">

</head>

<body>

<div id="top-bar">
    <div class="inner">
        @if (@Session["OldUserName"] != null && !Session["OldUserName"].ToString().Equals(""))
        {
            <div id="switchuser-loginmessage" class="switchuser">
                @Session["OldUserName"] Logged in as @Session["UserName"]
            </div>

            <div class="incognitouser">
                <a href="@Url.Action("IncognitoUser", "SystemUsers")">Switch to - @Session["OldEmail"]</a>
            </div>
        }
        @*<div class="notifications">
            <img src="~/images/notifications.png"/>
            <a href="#!" onclick="showLeftPanel(1,this)">Notifications </a>
                @if (@ViewBag.NotificationCount > 0) { 
                <sup id="superText">@ViewBag.NotificationCount</sup>
            }
        </div>*@
        <div id="login-box">
            <div id="register">
                <ul>
                    <li><a href="@Url.Action("LogOut", "SystemUsers")">Log Out</a></li>
                </ul>
            </div><!--/#register-->
            <div id="login">
                <ul>
                    <li> @if (@Session["UserName"] != null && !@Session["UserName"].ToString().Equals(""))
                         {
                             @:Logged in as @Session["UserName"]
                         }</li>
                </ul>
            </div><!--/#login-->
        </div><!--/#login-box-->
    </div><!--/.inner-->
</div><!--/#top-bar-->
<div class="container">
    <div class="header
         @if (@Session["OldUserName"] != null && !Session["OldUserName"].ToString().Equals("")) { @: adminHeader
                  }
         ">
        @Html.Partial("_DashboardHeaderPartial")
        <div class="page-title">

        </div>
    </div>

<div class="bannerHeader">
    <table width="97%" style="height:26px;margin:0 0 10px 7px">
        <tr>
                
            <td width="100%" style="padding:5px;text-align:justify;background:#e5e6e8;"></td>
        </tr>
    </table>
</div>
<div class="content">
    <div class="sidebar_right">
        
    </div>
    <div class="main" style="float:none !important;">

        @RenderBody()
    </div>
</div>
<div class="footer">
    @Html.Partial("_LoginFooter")
</div>
</div>
</body>

</html>