﻿@*<div class="admDashboardRight">
    <ul>      
        @* Dec 4th 
        @*<li><img src="~/images/notifications.png"> <a href="#!" onclick="showLeftPanel(3,this)">DashBoard</a></li>
        <li><img src="~/images/notifications.png"/> <a href="#!" onclick="showLeftPanel(1,this)">Notifications </a>
            @if (@ViewBag.NotificationCount > 0) { 
                <sup id="superText">@ViewBag.NotificationCount</sup>
            }
        </li>
        <li><img src="~/images/status.png"> <a href="#!" onclick="showLeftPanel(2,this)">Status Descriptions</a></li>
        @*End Dec 4th 
    
    </ul>
</div>*@




<div class="admDashboardRight">
    <ul>      
        @* Dec 4th *@
        @*<li><img src="~/images/notifications.png"> <a href="#!" onclick="showLeftPanel(3,this)">DashBoard</a></li>*@
        <li style="position:relative;"><img src="~/images/notifications.png"/> <a href="#!" onclick="showLeftPanel(1,this)">Notifications </a>
            @if (@ViewBag.NotificationCount > 0) { 
                <sup id="superText" style="right:-28px;color:#333;top:-6px;">@ViewBag.NotificationCount</sup>
            }
        </li>
        <li><img src="~/images/status.png"> <a href="#!" onclick="showLeftPanel(2,this)">Status Descriptions</a></li>
        @*End Dec 4th *@
    
    </ul>
</div>