﻿<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=8"/>
<meta http-equiv="X-UA-Compatible" content="IE=9"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width"/>

@*<link rel="stylesheet" href="~/css/main.css"/>*@
@*<link rel="stylesheet" href="~/css/vendorregistrationsidebar.css"/>*@
@*<script src="~/js/vendor/modernizr-2.6.2.min.js" type="text/javascript"></script>*@
       
</head>
<body>

<!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
    <div class="Ven_Registration_SideBar"></div>
</body>
</html>
