﻿<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=8"/>
<meta http-equiv="X-UA-Compatible" content="IE=9"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width"/>

<title>@ViewBag.Title</title>
<link rel="icon" href="~/images/favicon.ico" type="image/icon" />

 @Styles.Render("~/css/common.css")
    @Styles.Render("~/css/appDashboard.css")    

      @Scripts.Render("~/js/jquery-1.9.1.min.js")
    @Scripts.Render("~/js/common.js")
    @*<script src="../js/jquery-1.10.3.js"></script>*@
    <link rel="stylesheet" href="~/css/index.css">
   
    @Scripts.Render("~/Scripts/kendo/kendo.all.min.js")
  

  



   
</head>

<body>

<div id="top-bar">
    <div class="inner">
        @if (@Session["OldUserName"] != null && !Session["OldUserName"].ToString().Equals(""))
        {
            <div id="switchuser-loginmessage" class="switchuser">
                @Session["OldUserName"] Logged in as @Session["UserName"]
            </div>

            <div class="incognitouser">
                <a href="@Url.Action("IncognitoUser", "SystemUsers")">Switch to - @Session["OldEmail"]</a>
            </div>
        }
        @*<div class="notifications">
            <img src="~/images/notifications.png"/>
            <a href="#!" onclick="showLeftPanel(1,this)">Notifications </a>
                @if (@ViewBag.NotificationCount > 0) { 
                <sup id="superText">@ViewBag.NotificationCount</sup>
            }
        </div>*@
        <div id="login-box">
            <div id="register">
                <ul>
                    <li><a href="@Url.Action("LogOut", "SystemUsers")">Log Out</a></li>
                </ul>
            </div><!--/#register-->
            <div id="login">
                <ul>
                    <li> @if (@Session["UserName"] != null && !@Session["UserName"].ToString().Equals(""))
                         {
                             @:Logged in as @Session["UserName"]
                         }</li>
                </ul>
            </div><!--/#login-->
        </div><!--/#login-box-->
    </div><!--/.inner-->
</div><!--/#top-bar-->
<div class="container">
    <div class="header
         @if (@Session["OldUserName"] != null && !Session["OldUserName"].ToString().Equals("")) 
        { 
             @: adminHeader
        }
         ">
        @Html.Partial("_DashboardHeaderPartial")
        <div class="page-title">
            <h2 style="margin:0px;"><strong>Vendor</strong>Dashboard</h2>
            <div class="VendorDashboard_OrgType">
                @if (ViewBag.VBVendorOrgList != null) //Rajesh on 11/10/2014
                {
                    if (((IEnumerable<SelectListItem>)@ViewBag.VBVendorOrgList).Count() > 1)
                    {
                        <label> Organization: </label>
                    }
                    @:@Html.DropDownList("VendorIds", (IEnumerable<SelectListItem>)@ViewBag.VBVendorOrgList)
            }
            </div>
        </div>
    </div>

    <div class="bannerHeader RichTextArea">
        <table width="97%" style="height:60px;margin:0 0 10px 7px">
            <tr>
                <td width="100%" style="padding:5px;text-align:justify;">@Html.Raw(@ViewBag.Instruction) </td>
            </tr>
        </table>
    </div>
<div class="content">
    <div class="sidebar_right">
         @Html.Partial("_VendorDashBoardSideBarPartial")
    </div>
    <div class="main">

        @RenderBody()
    </div>
</div>
<div class="footer">
    @Html.Partial("_LoginFooter")
</div>
</div>
</body>
</html>
<link href="~/css/kendo/kendo.default.min.css" rel="stylesheet" />
<link href="~/css/kendo/kendo.common.min.css" rel="stylesheet" />
<link href="~/css/kendo/kendo.default.mobile.min.css" rel="stylesheet" />