﻿<!--
Page Created Date:  29/04/2013
Created By: Rajesh Pendela
Purpose:
Version: 1.0
****************************************************
*/
-->
@model IEnumerable<FVGen3.Domain.Entities.Contact>
@using Resources
@{
    ViewBag.Title = "List";
}

<h1>@Resources.Number_of_rows: @Model.Count() </h1>

@foreach (var p in Model) 
{
    <div class="item">
    <h3>@p.FirstName</h3>
    @p.ContactTitle
    </div>
}