﻿
@{
    Layout = null;
}
  
<!DOCTYPE html>

<html>

<head>
    @Scripts.Render("~/Scripts/jquery-1.9.1.min.js")
    @Styles.Render("~/css/appPopUp.css")
    @Styles.Render("~/css/appInnerPages.css")
    @Scripts.Render("~/js/common.js")
    @Styles.Render("~/Content/Site.css")
    <script src="~/Scripts/jquery-ui.js"></script>
    <link rel="stylesheet" href="~/css/jquery-ui.css" />
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

    <meta name="viewport" content="width=device-width" />
    <title>@Resources.Resources.Add_Visitor</title>
</head>
<body>
    @using (@Html.BeginForm())
    {
        <div class="popUpContainer">
            <div class="popUpContent">
                <div class="popUpSubContent  core">
                    <div class="page-title">
                        <h2>@Resources.Resources.Add_Visitor</h2>
                    </div>
                   
                    <div>
                        <table>
                            <tr>
                                <td>
                                    @Resources.Resources.Common_Label_FirstName_No_Col
                                </td>
                                <td>
                                    @*public JsonResult SaveVisitor(string firstName, string lastName, string siteContact, string company, int clientID, long buID, long locID)*@
                                    @Html.TextBox("firstName", (string)(@ViewBag.FirstName??""), new object { })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Resources.Resources.Common_Label_LastName_No_Col
                                </td>
                                <td>
                                    @Html.TextBox("lastName", (string)(@ViewBag.LastName??""), new { })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Resources.Resources.Common_Label_Company_No_Col
                                </td>
                                <td>
                                    @Html.TextBox("company", (string)(@ViewBag.Company??""), new { })
                                </td>
                            </tr>

                            <tr>
                                <td>
                                     @Resources.Resources.Common_Label_Site_Contact
                                </td>
                                <td>
                                    @Html.TextBox("siteContact", (string)(@ViewBag.SiteContact??""), new { })
                                </td>
                            </tr>
                        </table>
                        @Html.Hidden("clientID", (int)ViewBag.ClientID, new object { })
                        @Html.Hidden("buID", (long)ViewBag.BuID, new object { })
                        @Html.Hidden("locID", (long)ViewBag.LocID, new object { })
                        @Html.Hidden("visitorid", (Guid)(ViewBag.Visitorid??Guid.Empty), new object { })
                        <div class="pageFooterButtons">
                            <table>
                                <tr>
                                    <td><button type="button" onclick="SaveVisitor();" class="PageFooter_Button">@Resources.Resources.Common_Save</button></td>
                                    <td>@Resources.Resources.Common_label_or</td>
                                    <td><div class="PageFooter_CancleBtn"><a href="#" onclick="window.close();">@Resources.Resources.Common_Cancel</a></div></td>
                                </tr>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    }
    <script>
        function SaveVisitor() {
            //Save
            var firstName = $("#firstName").val();
            var lastName=$("#lastName").val();
            var siteContact=$("#siteContact").val();
            var company=$("#company").val();
            var clientID=$("#clientID").val();
            var buID=$("#buID").val();
            var locID=$("#locID").val();
            var visitorid=$("#visitorid").val();

            //Post("./Reset",{OnsiteOffsiteID: $(btn).val()},function(){LoadEmployees(vendorID,buID,locID);})
            //            public JsonResult SaveVisitor(string firstName, string lastName, string siteContact, string company, int clientID, long buID, long locID)
            $.post("./SaveVisitor", {firstName:firstName,lastName:lastName,siteContact:siteContact,company:company,clientID:clientID,buID:buID,locID:locID,visitorid:visitorid},
                function (results) {
                    opener.LoadVisitors(@ViewBag.BuID,@ViewBag.LocID);
                    window.close();
            }).fail(function () {
                console.log("error");
            });

        }

    </script>
</body>
</html>
