﻿@using Resources;
@{
    ViewBag.Title = "Onsite/Offsite";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="https://cdn.datatables.net/1.10.14/js/jquery.dataTables.min.js"></script>
<script src="~/js/common.js"></script>
@*<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2020.1.219/styles/kendo.default-v2.min.css" />*@
@Scripts.Render("~/bundles/kendo")

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.14/css/jquery.dataTables.min.css">
<link href="~/css/Onsite.css" rel="stylesheet" />
<style>
    .k-grid-excel {
        float: right;
    }
    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
  
    .rowTabs > table > tbody > tr > td{display:table-cell;}
   
    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 30%;
    }

    /* Add a right margin to each icon */
    .fa {
        margin-left: -12px;
        margin-right: 8px;
    }
    tr.group,
tr.group:hover {
    background-color: #ddd !important;
}
    table.dataTable thead th.sorting,
table.dataTable thead th.sorting_asc,
table.dataTable thead th.sorting_desc,
    table.dataTable thead th, table.dataTable thead td {
  background: none;
  padding: 4px 5px;
  text-align:left;
}
    .k-grid-content {
        min-height: 100px!important;
    }
    .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
        margin-bottom: 20px;
        margin-top: 15px;
    }
</style>

<div id="myModal" class="modal">
    <div class="modal-content">
        <br />
        @if (@ViewBag.HasPermission == true)
        {
        <b>@Resources.Common_Label_Tag_Number</b>
        <div>
            <input type="search" style=" width: 90%; padding: 10px 0 10px 4%;font-size: 16px;" name="number" id="tagid" maxlength="4"
                   onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'');" onkeypress="submitPopup(event, this)" />
        </div>
        }
        <br />
@if (@ViewBag.HasBadgePermission == true)
{
        <b>@Resources.Common_Label_Badge_Number</b>
        <div>
            <input type="search" style=" width: 90%; padding: 10px 0 10px 4%;font-size: 16px;" name="number" id="badgeid" maxlength="4"
                   onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'');" onkeypress="submitPopup(event, this)" />
        </div>
}<br />
        
        <div style="padding-left:150px;">
            <button id="btnSubmitemployee" type="button">@Resources.Common_Submit</button>
            <button id="btnSubmitvisitor" type="button" onclick="visitorcheckinsave()">@Resources.Common_Submit</button>
            <button type="button" onclick="modelclose()">@Resources.Common_Cancel</button>
        </div>
    </div>
</div>

<div style="width:100%" class="OnsiteOffSiteCriteria">
    <div>
        <div class="OnsiteOffSiteCriteriaHeader">@Resources.Common_Label_UserName </div><div>@ViewBag.FullName </div>
    </div>
    <div id="budiv">
        <div class="OnsiteOffSiteCriteriaHeader">@Resources.PrequalificationSites_BussinessUnit </div><div><select id="buDropdown" name="buDropdown" onchange="SetCookie(this,$(this).val());loadLocationDropdown(this);" style="width:300px"></select></div>
    </div>
    <div id="locdiv">
        <div class="OnsiteOffSiteCriteriaHeader">@Resources.Common_Label_Location </div><div><select id="locDropdown" name="locDropdown" onchange="SetCookie(this,$(this).val());loadVendorDropdown(this);" style="width:300px"></select></div>
    </div>
    <div  id="Departmentdiv">
        <div class="OnsiteOffSiteCriteriaHeader">@Resources.Department</div>
        <div> @Html.DropDownList("DepartmentId", (IEnumerable<SelectListItem>)@ViewBag.Departments,new { style = "width:300px" }) </div>
    </div>
</div>

<div class="rowTabs" style="width: 700px;">
    <label class="rowTabsLabel"></label>
    <table>
        <tr class="mobiledatatabs">
            <td @*style="width:auto !important"*@>
                <div class="selectedTab tab" id="buttonTabTwo" UserType="1" onclick="ShowOffsite(this)">
                    <label for="searchType" class="FirstName">@Resources.Common_Employees </label>
                </div>
            </td>
            <td @*style="width:auto !important"*@>
                <div class="unSelectedTab tab visitorstab" id="buttonTabTwo"  onclick="ShowVisitors(this)">
                    <label for="searchType" class="FirstName" >@Resources.Visitors</label>
                </div>
            </td>
            <td @*style="width:auto !important"*@>
                <div class="unSelectedTab tab" id="buttonTabTwo" onclick="Showcheckines(this,$('#vendorDropdown').val(),$('#buDropdown').val(),$('#locDropdown').val())">
                    <label for="searchType" class="FirstName">@Resources.Currently_Onsite</label>
                </div>
            </td>
           
            <td @*style="width:auto !important"*@>
                <div class="unSelectedTab tab" id="buttonTabOne"  style="width:auto;" onclick="ShowVendorEmployees(this)">
                    <label for="searchType" class="Name">@Resources.Common_ByCompany</label>
                </div>
            </td>
              
           @if (@ViewBag.HasClientEmpPermission==true) {
            <td @*style="width:auto !important"*@>
                <div class="unSelectedTab tab" id="buttonTabTwo"  UserType="2" onclick="ShowOffsite(this)">
                    <label for="searchType" class="FirstName">Client Employees</label>
                </div>
            </td>
           }
@if (@ViewBag.HasSineproPermission == true)
{
            <td @*style="width:auto !important"*@>
                <div class="unSelectedTab tab" id="buttonTabTwo" onclick="Sineprocheckines(this)">
                    <label for="searchType" class="Sinepro">@Resources.Sinepro_Onsite</label>
                </div>
            </td>
}
        </tr>

    </table>
    @*Ends <<< Srinivas by 16th, Dec-2013*@

</div>
<table id="Sineprositesdiv" style="padding-top: 20px;">
    <tr>
        <td>
             @Html.DropDownList("SineProSiteId", (IEnumerable<SelectListItem>)@ViewBag.SineproSites, new { style= "width:200px;margin-right: 80px;height:30px;border-radius:5px;border-color: #c5c5c5;", @onchange="Getsineprodate()" })
            </td>
    

            <td id="gridfilter" style="float: right;margin-left:100px;">
                Filter all fields:
            <input id='filter' class='k-textbox' />
        </td>
    </tr>
</table>


    <div class="grid" style="margin-top:20px"></div>
    
   
    <div id="EmployeeSection">

        <div style="width: 100%;padding-top: 20px" class="OnsiteOffSiteCriteria">
            @*<div id="radiodiv">
                    <div class="OnsiteOffSiteCriteriaHeader">Search By: </div><input type="radio" onclick="vendorclick()" name="searchby" id="searchbyvendor" />&nbsp;<label for="searchbyvendor">Vendor</label>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" onclick="employeeclick()" id="searchbyemployee" name="searchby" />&nbsp;<label for="searchbyemployee">Employee</label><div></div>
                </div>*@
            <div id="vendorDiv">
                <div class="OnsiteOffSiteCriteriaHeader">@Resources.SearchUser_label_Vendor </div><div><select id="vendorDropdown" name="vendorDropdown" onchange="getpqstatus($('#statusname'),$('#vendorDropdown').val())" style="width:300px"></select></div><label id="statusname" style="font-weight:bold;padding-right: 120px;"></label>
            </div>

            @*<div id="empdiv" style="display:none">
                    <div class="OnsiteOffSiteCriteriaHeader">Employee: </div><input type="text" id="employeename" style="width:300px;" /><div></div>
                </div>*@

        </div>
        <div id="offSiteHintDiv">
            <label style="color: red">@Resources.CheckEmployess_Onsite</label>
        </div>
        <div id="ClientoffSiteHintDiv">
            <label style="color: red">@Resources.ClientEmployees_Note</label>
        </div>
        <div id="visitorsHintDiv">
            <label style="color: red">@Resources.CheckVisitors_Onsite</label>
        </div>
        <div id="onsiteHintDiv">
            <label style="color: red">@Resources.CheckEmployee_on_offSite</label>
        </div>
        <div id="byCompanyHintDiv">
            <label style="color: red">@Resources.Vendor_Company_Find_Employees</label>
        </div>

        <div id="checkinsListDiv" style="display: none;">
            <table id="checkinsList" cellspacing="0" width="100%" class="display">
                <thead>
                    <tr>
                        <th width="60%">@Resources.Common_Label_EmployeeName</th>
                        <th class='hideDiv'>@Resources.Vendorsearch_vendorName_No_Col</th>
                        <th width="20%">@Resources.Check_Orientation_Pass</th>
                        <th class='hideDiv'>@Resources.Number_Tag</th>
                        <th class='hideDiv'>@Resources.Number_Badge</th>
                        <th class='hideDiv'>@Resources.ClientVendorRefId_NoCol</th>
                        <th style='width: 20%'>@Resources.Onsite</th>
                        <th class='hideDiv' style='width: 180px;'>@Resources.Offsite</th>
                        <th class='hideDiv'>@Resources.Reset</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div style="width:100%;display:block;margin-bottom:70px">
            <div style="float: left; margin: 2px; margin-top: 12px" id="GetEmployeeButton">
                <button onclick="LoadEmployees($('#vendorDropdown').val(), $('#buDropdown').val(), $('#locDropdown').val());" style="float: none">@Resources.EmployeesList_button_Label_GetEmployees</button>
            </div>
            <div style="float:left;margin-top:12px;display:none;vertical-align:top;" id="GetVisitorButton">
                <button onclick="LoadVisitors($('#buDropdown').val(),$('#locDropdown').val());">@Resources.EmployeesList_button_Label_GetVisitors</button>
            </div>
            <div style="margin-left:4px;display:none;float:left;" id="NewVisitorButton">
                <button id='newVisitorButton' onclick='CreateNewVisitor($("#locDropdown").val(),$("#buDropdown").val());'>@Resources.EmployeesList_button_Label_NewVisitors</button>
            </div>
            <div id="onsiteCurrently" style="float: right; margin: 2px; margin-top: 12px; display: none;">
                <button onclick="ShowCheckInReport($('#buDropdown').val(), $('#locDropdown').val());" style="float: none">@Resources.Onsite_Download</button>
            </div>
        </div>


        <div id="employeeList" style="display:none;">
            <br />
            <div style="padding-bottom:4px">
                <label>@Resources.Common_Search_with_Col </label><input type="text" id="filter" onkeyup="FilterTable($(this).val(),'employeeCheckins')" />
            </div>
            <br />
            <div id="employeeCheckins"></div>
            <a href="#" style="margin-top:4px;">@Resources.Return_Top</a>
        </div>

        <div id="VisitorsList" style="display:none;">
            <br />
            <div style="padding-bottom:4px">
                <label>@Resources.Common_Search_with_Col </label><input type="text" id="filter" onkeyup="FilterTable($(this).val(),'visitorsCheckins')" />
            </div>
            <br />
            <div id="visitorsCheckins" class="tscroll"></div>
            <a href="#" style="margin-top:4px;">@Resources.Return_Top</a>
        </div>

        <div id="CheckinsList" style="display:none;">
            <br />
            <div style="padding-bottom:4px">
                <table>
                    <tr>
                        <td class="tagfilter"><label>@Resources.Number_Search </label></td>
                        <td><input type="text" class="tagfilter" id="filter" maxlength="4" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'');FilterTable($(this).val(),'checkinsCheckins')" /></td>
                        <td id="tagstyle">
                            <button id="RefreshButton" style="display:none"><i class="fa fa-refresh fa-spin"></i>@Resources.Common_Refreshing</button>
                            <button id="GetCheckinsButton" onclick="LoadCheckins();">@Resources.Common_Refresh</button>
                        </td>
                    </tr>
                </table>
            </div>

            <div id="checkinsCheckins"></div>
            <a href="#" style="margin-top:4px;">@Resources.Return_Top</a>
        </div>
    </div>

    <script src="~/Scripts/Application/Common/Tabs.js"></script>
   
    <script src="~/Scripts/Application/TemplateTool/OnsiteOffsite.js"></script>
<script>
        var tabNumber = 4;
        $(document).ready(function () {

            //  ShowOffsite(this);
            HideAllComponents();

            $("#checkinsListDiv").show();
            $("#offSiteHintDiv").show();
            tmpEmpID=null;
            var Usertype=$('.selectedTab').attr('UserType');
            if(Usertype== null||Usertype==undefined)Usertype=1;
            $('#checkinsList').dataTable({
                "processing": true,
                "serverSide": true,
                "info": true,
                "stateSave": true,
                "lengthMenu": [[10, 20, 50], [10, 20, 50]],
                "deferLoading": 0, // here
                aoColumnDefs: [
                    { aTargets: [ 1 ], bvisible: false },
                     { aTargets: [ '_all' ], bSortable: false }
                ],
                "columnDefs": [
                { className: "dt-body-left", "targets": [ 0 ] }
                ],
                "ajax":{
                    "url": "./GetOffSiteEmployees",
                    "data":function ( d ) {
                        debugger;
                        d.buID = $('#buDropdown').val();
                        d.locID=$('#locDropdown').val();
                        d.DepartmentId=$('#DepartmentId').val();
                        d.UserType=$('.selectedTab').attr('UserType');
                        d.timeZoneOffset= new Date().getTimezoneOffset()},
                    "type": "GET"
                },
                "drawCallback": function (settings) {
                    var api = this.api();
                    var rows = api.rows({ page: 'current' }).nodes();
                    var last = null;
                    api.column(1, { page: 'current' }).data().each(function (group, i) {
                        if($('.selectedTab').attr('UserType')==1)
                        {
                            if (last !== group) {
                                //console.log(group +""+ $(rows[i]).find("td").eq(4).html());
                                $(rows).eq(i).before(
                                    '<tr class="group"><td colspan="8">' + group +  ' - <label id=ven'+$(rows[i]).find("td").eq(5).html()+'>Status Loading..</label></td></tr>'
                                );

                                getpqstatus("#ven" +$(rows[i]).find("td").eq(5).html(),$(rows[i]).find("td").eq(5).html());
                                last = group;
                            }
                        }
                    });
                },
                "columns": [
                    { "data": "EmployeeID" },
                    { "data": "VendorName" },
                    { "data": "PassedOrientation" },
                    { "data": "TagNumber" },
                    { "data": "BadgeNumber" },
                    { "data": "VendorID" },
                    { "data": "Checkin" },
                    { "data": "Checkout"},
                    { "data": "Locked"}
                ],

                "createdRow": function( row, data, index ) {
                    //alert($(createOffsiteRow(data, index, $('#buDropdown').val(), $('#locDropdown').val())).html());
                    $(row).html($(createOffsiteRow(data, index, $('#buDropdown').val(), $('#locDropdown').val())).html());
                },
                "order": [[0, "asc"]]
            });
            buDropdownCookie = ReadCookie("buDropdown");
            locDropdownCookie = ReadCookie("locDropdown");
            vendorDropdownCookie = ReadCookie("vendorDropdown");

            resetDDL($("#locDropdown"));
            resetDDL($("#vendorDropdown"));


            PostToDDL("./GetBUs", {clientID: @ViewBag.ClientID }, $('#buDropdown'),function(){

                if (buDropdownCookie != ""){
                    $("#buDropdown option").filter(function() {
                        return $(this).val() == buDropdownCookie;
                    }).prop('selected', true);
                    loadLocationDropdown($("#buDropdown"),function(){
                        if (locDropdownCookie != ""){
                            $("#locDropdown option").filter(function() {
                                return $(this).val() == locDropdownCookie;
                            }).prop('selected', true);
                            $('#checkinsList').DataTable().draw();
                            loadVendorDropdown();
                        }
                    });
                }
            });

            //Post("./GetCheckinsData",
            //    { timeZoneOffset: new Date().getTimezoneOffset(), location: $('#locDropdown').val() },
            //    function() {});

            getCheckinsData();
            $('#locDropdown').change(function(){

                if($('.selectedTab').attr('UserType')==1)
                {
                    $('#checkinsList').DataTable().draw();
                }
                else{
                    getCheckinsData();
                }
            });
            $('#DepartmentId').change(function(){

                if($('.selectedTab').attr('UserType')==2)
                {
                    $('#checkinsList').DataTable().draw();
                }

            });


            function createOffsiteRow(data,i,buID,locID) {
                var newRow = $("");
                //if (data[i].EmployeeID == tmpEmpID){

                //    newRow=$("<tr class='ContractorCheckinRow'>");
                //    newRow.append("<td ></td>");
                //    newRow.append("<td >"  + data[i].VendorName + "</td>");
                //    newRow.append("<td ></td>");
                //    newRow.append("<td >"+ (data[i].TagNumber==null?'':data[i].TagNumber)  +"</td>");
                //    newRow.append("<td >"+data[i].VendorID+"</td>");
                //}
                //else{
                newRow=$("<tr>");
                if(data.UserType==1)
                {
                    newRow.append("<td ><a href='#' onclick='EmployeClick(\""+ data.EmployeeID.trim() + "\"," + data.VendorID +  "," + buID + "," + locID + ");'>"  + data.LastName + ", " + data.FirstName +  "</a></td>");
                }
                else{newRow.append("<td>" + data.LastName + ", " + data.FirstName +" </td>");
                }
                newRow.append("<td class='hideDiv'>"  + data.VendorName + "</td>");
                if(data.UserType==1)
                {
                    newRow.append("<td class='" + GetPassedTrainingClass(data.PassedOrientation) + "'>" + data.PassedOrientation + '</td>');
                }
                else{
                    var depname='';
                    if(data.DepartmentName!=null)
                    {
                        depname=  data.DepartmentName
                    }
                    newRow.append("<td>" + depname + "</td>");
                }

                newRow.append("<td class='hideDiv'>" + (data.TagNumber == null ? '' : data.TagNumber) + "</td>");
                newRow.append("<td class='hideDiv'>" + (data.BadgeNumber == null ? '' : data.BadgeNumber) + "</td>");
                newRow.append("<td class='hideDiv'>"+data.VendorID+"</td>");
                //}

                if (data.Checkin != null) {
                    newRow.append(
                        '<td>' +
                        ToJavaScriptDate(data.Checkin) +
                        '</td>')
                } else {
                    newRow.append(
                        '<td >' + '<input type="radio" tagNumber="' + (data.OldTagId == null ? '' : data.OldTagId) + '"badgeNumber="' + (data.OldBadgeId == null ? '' : data.OldBadgeId) + '" class="checkinBox" value="' + data.EmployeeID + '" ' + ((data.Locked === true) ? 'disabled' : ' onclick="checkin(this,' + data.VendorID + ',' + buID + ',' + locID +','+data.UserType+','+ data.DepartmentId + ');"') + '></input></td>'
                    );


                }

                if (data.Checkout != null) {
                    newRow.append(
                        '<td class="hideDiv">' +
                        ToJavaScriptDate(data.Checkout) +
                        '</td>')
                }
                else {
                    newRow.append(
                        '<td class="hideDiv">' + '<input type="radio" class="checkoutBox" value="' + data.OnsiteOffsiteID + '" ' + ((data.Locked === true) ? 'disabled' : '  onclick="checkout(this,\'' + data.EmployeeID.trim() + '\',' + data.VendorID + ',' + buID + ',' + locID + ');"  ') + ' ></input></td>'
                    );
                    newRow.append(
                        '<td class="hideDiv">' + '<input type="radio" value="' + data.OnsiteOffsiteID + '" onclick="reset(this,' + data.VendorID + ',' + buID + ',' + locID + ');" ' + ((data.Locked === true) ? "disabled" : "") + ' ></input></td>'
                    );
                }
                //newRow.append("</tr>");
                return newRow;
            }
        });
        function submitPopup(e,obj) {
            var code = (e.keyCode ? e.keyCode : e.which);
            if(code === 13) { //Enter keycode
                if(tabNumber===2)
                    $("#btnSubmitvisitor").click();
                else
                    $("#btnSubmitemployee").click();
            }
            if(code === 27){ //Escape Keycode
                $("#tagid").val('');
                $("#tagid").focus();
            }

        }
        //$(document).ready(function() {
        //var datattable=$('#checkinsList').DataTable({
        //    "pagingType": "full_numbers",
        //    "bSort":true,
        //    aoColumnDefs: [
        //       { aTargets: [ '_all' ], bSortable: false },
        //       { aTargets: [ 1,4 ], bSortable: true, bvisible: false }
        //    ],

        //    "order": [[1, 'asc']],
        //    "displayLength": 10,
        //    "drawCallback": function (settings) {
        //        var api = this.api();
        //        var rows = api.rows({ page: 'current' }).nodes();
        //        var last = null;
        //        api.column(1, { page: 'current' }).data().each(function (group, i) {
        //            if (last !== group) {
        //                console.log(last);
        //                $(rows).eq(i).before(
        //                    '<tr class="group" style="background-color:skyblue;" ><td colspan="8">Vendor Name : ' + group +  ' - <label id=ven'+$(rows[0]).find("td").eq(4).html()+'>Status Loading..</label></td></tr>'
        //                );
        //                //getpqstatus("#ven" + $(rows[0]).find("td").eq(4).html(),$(rows[0]).find("td").eq(4).html());
        //                last = group;
        //            }
        //        });
        //    }
        //});
        //});
        //updateStatus(this,'@ViewBag.ClientID')
        //} );
        //function employeeclick()
        //{
        //    $('#empdiv').show();
        //    $('#vendorDiv').hide();
        //}
        //function vendorclick()
        //{
        //    $('#empdiv').hide();
        //    $('#vendorDiv').show();
        //}
        function HideAllComponents() {
            $("#checkinsListDiv").hide();
            $("#offSiteHintDiv").hide();
            $("#Departmentdiv").hide();
            $("#GetEmployeeButton").hide();
            $("#visitorsHintDiv").hide();
            $("#onsiteHintDiv").hide();
            $("#byCompanyHintDiv").hide();
            $('#ClientoffSiteHintDiv').hide();
            $(".grid").hide();
            $("#Sineprositesdiv").hide();

            $('#GetVisitorButton').hide();
            $('#NewVisitorButton').hide();
            $('#vendorDiv').hide();
            $('#GetCheckinsButton').hide();
            $('#onsiteCurrently').hide();

            $("#VisitorsList").hide();
            $("#CheckinsList").hide();
            $("#employeeList").hide();

            $('#empdiv').hide();
            $('#radiodiv').hide();
            $('#SarchEmployeeButton').hide();

        }
        function Sineprocheckines(caller){
            Tabs.click(caller);
            Sineprocheckindata();
        }
        function ShowOffsite(caller) {

            Tabs.click(caller);
            tabNumber = 4;
            HideAllComponents();
            if($('.selectedTab').attr('UserType')==2)
            {$("#checkinsListDiv").find('#checkinsList tr:first th:nth-child(3)').text('Department Name');
                $("#budiv").hide();
                $("#locdiv").hide();
                $("#Departmentdiv").show();
                $("#ClientoffSiteHintDiv").show();
                $("#offSiteHintDiv").hide();
            }
            else{
                $("#checkinsListDiv").find('#checkinsList tr:first th:nth-child(3)').text(' @Resources.Check_Orientation_Pass');
                $("#budiv").show();
                $("#locdiv").show();
                $("#Departmentdiv").hide();
                $("#ClientoffSiteHintDiv").hide();
                $("#offSiteHintDiv").show();
            }
            $('#checkinsList').DataTable().draw();
            $("#checkinsListDiv").show();

        }
        //function LoadOffsite(vendorID,buID,locID) {
        //    //LoadEmployees(-1, buID, locID);
        //    Post("./GetEmployeeCheckins",{vendorID : -1,buID : buID, locID:locID,timeZoneOffset: new Date().getTimezoneOffset()}, function(data){
        //        //console.log(data);
        //        $("#filter").val("");
        //        $("#employeeCheckins").html("");
        //        $("#newVisitorDiv").remove();
        //        $("#VisitorsList").hide();
        //        $("#CheckinsList").hide();
        //        var tmpEmpID = "";
        //        data = _.sortBy(data, ['VendorName']);
        //        for (var i = 0; i < data.length; i++) {
        //            var newRow=createOffsiteRow(tmpEmpID,data,i,buID,locID);
        //            datattable.rows.add(newRow).draw();
        //            tmpEmpID = data[i].EmployeeID;
        //            $("#checkinsList").show();
        //        }
        //        datattable.order([1, 'asc']).draw();
        //    });
        //}
        //function createOffsiteRow(tmpEmpID,data,i,buID,locID) {
        //    var newRow = $("");
        //    if (data[i].EmployeeID == tmpEmpID){

        //        newRow=$("<tr class='ContractorCheckinRow'>");
        //        newRow.append("<td class='ContractorCheckinCell'></td>");
        //        newRow.append("<td class='ContractorCheckinCell'>"  + data[i].VendorName + "</td>");
        //        newRow.append("<td class='ContractorCheckinCell'></td>");
        //        newRow.append("<td class='ContractorCheckinCell'>"+ (data[i].TagNumber==null?'':data[i].TagNumber)  +"</td>");
        //        newRow.append("<td class='ContractorCheckinCell'>"+data[i].VendorID+"</td>");
        //    }
        //    else{
        //        newRow=$("<tr class='ContractorCheckinRow ContractorGroup'>");
        //        //console.log("<div class='ContractorCheckinCell'><a href='#' onclick='EmployeClick(\""+ data[i].EmployeeID.trim() + "\"," + vendorID +  "," + buID + "," + locID + ");'>"  + data[i].LastName + ", " + data[i].FirstName +  "</a></div>");
        //        newRow.append("<td class='ContractorCheckinCell'><a href='#' onclick='EmployeClick(\""+ data[i].EmployeeID.trim() + "\"," + data[i].VendorID +  "," + buID + "," + locID + ");'>"  + data[i].LastName + ", " + data[i].FirstName +  "</a></td>");
        //        newRow.append("<td class='ContractorCheckinCell'>"  + data[i].VendorName + "</td>");
        //        newRow.append("<td class='ContractorCheckinCell " + GetPassedTrainingClass(data[i].PassedOrientation) + "'>" + data[i].PassedOrientation + '</td>');
        //        newRow.append("<td class='ContractorCheckinCell'>"  + (data[i].TagNumber==null?'':data[i].TagNumber) + "</td>");
        //        newRow.append("<td class='ContractorCheckinCell'>"+data[i].VendorID+"</td>");
        //    }

        //    (data[i].Checkin != null)?
        //        newRow.append(
        //            '<td class="ContractorCheckinCell">' +
        //            ToJavaScriptDate(data[i].Checkin) +
        //            '</td>')
        //        :newRow.append(
        //            '<td class="ContractorCheckinCell">' + '<input type="radio" class="checkinBox" value="'+ data[i].EmployeeID + '" ' + ((data[i].Locked == true)?'disabled':' onclick="checkin(this,' + data[i].VendorID +  ',' + buID + ',' + locID + ');"') +'></input></td>'
        //        );
        //    (data[i].Checkout != null)?
        //        newRow.append(
        //            '<td class="ContractorCheckinCell">' +
        //            ToJavaScriptDate(data[i].Checkout) +
        //            '</td>')
        //        :newRow.append(
        //            '<td class="ContractorCheckinCell">' + '<input type="radio" class="checkoutBox" value="'+ data[i].OnsiteOffsiteID + '" ' + ((data[i].Locked == true)?'disabled':'  onclick="checkout(this,\'' + data[i].EmployeeID.trim() +  '\',' + data[i].VendorID +  ',' + buID + ',' + locID + ');"  ') +' ></input></td>'
        //        );
        //    newRow.append(
        //        '<td class="ContractorCheckinCell">' + '<input type="radio" value="'+ data[i].OnsiteOffsiteID + '" onclick="reset(this,' + data[i].VendorID +  ',' + buID + ',' + locID + ');" ' + ((data[i].Locked == true)?"disabled":"") +' ></input></td>'
        //    );
        //    newRow.append("</tr>");
        //    return newRow;
        //}
        function modelclose()
        {
            var modal = document.getElementById('myModal');
            modal.style.display = "none";
            $("input:radio").removeAttr("checked");
        }


        function FilterTable(input,value){

            var jo ="";

            if(value === 'employeeCheckins')
            {
                jo= $("#employeeCheckins").find(".ContractorCheckinRow");
            }
            else if(value == 'visitorsCheckins')
            {
                jo= $("#visitorsCheckins").find(".ContractorCheckinRow");
            }
            else if(value == 'checkinsCheckins')
            {
                jo= $("#checkinsCheckins").find(".ContractorCheckinRow");
            }
            if (input == "") {
                jo.show();
                return;
            }
            //hide all the rows
            jo.hide();

            jo.filter(function (i, v) {
                var $t = $(this);

                if ($t.hasClass("CheckinHeader")) return true;
                var cell  = $t.find(".ContractorCheckinHidden");
                //console.log(cell[0].innerHTML.toUpperCase());
                //console.log(input);
                if (cell[0] == null) return false;
                if (cell[0].innerHTML.toUpperCase().indexOf(input.toUpperCase()) > -1) {
                    return true;
                }

                return false;
            }).show();
        }
        function ShowVendorEmployees(caller) {

            Tabs.click(caller);
            tabNumber = 1;
            HideAllComponents();
            $("#budiv").show();
            $("#locdiv").show();
            $('#GetEmployeeButton').show();
            $('#vendorDiv').show();
            $("#byCompanyHintDiv").show();
            $("#employeeList").show();
            $('#radiodiv').show();
        }
        function ShowVisitors(caller) {

            Tabs.click(caller);
            tabNumber = 2;
            HideAllComponents();
            $("#VisitorsList").show();
            $('#GetVisitorButton').show();
            $('#NewVisitorButton').show();
            $("#visitorsHintDiv").show();
            $("#budiv").show();
            $("#locdiv").show();
        }

        function Showcheckines(caller) {

            Tabs.click(caller);
            tabNumber = 3;
            HideAllComponents();
            getCheckinsData();
            $("#CheckinsList").show();
            $('#onsiteCurrently').show();
            $('#GetCheckinsButton').show();
            $("#budiv").show();
            $("#locdiv").show();
            $("#onsiteHintDiv").show();
        }

        //function ShowEmployeeSearch(caller)
        //{
        //    $('.buttonTab').removeClass('selectedTab');
        //    $('.buttonTab').addClass('unSelectedTab');
        //    $(caller).addClass('selectedTab');
        //    $(caller).removeClass('unSelectedTab');

        //    $('#budiv').show();
        //    $('#locdiv').show();
        //    $('#GetEmployeeButton').hide();
        //    $('#GetVisitorButton').hide();
        //    $('#NewVisitorButton').hide();
        //    $('#GetCheckinsButton').hide();
        //    $('#onsiteCurrently').hide();

        //    $("#VisitorsList").hide();
        //    $("#CheckinsList").hide();
        //    $("#employeeList").hide();

        //    $('#vendorDiv').hide();
        //    $('#empdiv').show();
        //    $('#SarchEmployeeButton').show();
        //}
        //function GetSearchEmployee(buID,locID)
        //{
        //    LoadEmployees(-1,buID,locID,$("#employeename").val());
        //}


        function getCheckinsData(callback) {
            $.ajax({
                type:"POST",
                url:"GetCheckinsData",
                data:{timeZoneOffset:new Date().getTimezoneOffset(),location:$('#locDropdown').val()},
                dataType: "json",
                success: function (data) {

                    //alert(data[0].VendorID)
                    // console.log(data);

                    $("#filter").val("");
                    $("#checkinsCheckins").html("");
                    $("#newVisitorDiv").remove();
                    var buID= $("#buDropdown").val();
                    var locID = $("#locDropdown").val();

                    //Create Header Row
                    newRow = $("<div class='ContractorCheckinRow CheckinHeader'>");
                    newRow.append("<div class='ContractorCheckinCell sticky' >Vendor Name</div>");
                    newRow.append("<div class='ContractorCheckinCell' >Company Name</div>");
                    newRow.append("<div class='ContractorCheckinCell' >Employee/Visitor Name</div>");
                    if ('@ViewBag.HasPermission'.toLowerCase() != 'false') {
                        newRow.append("<div class='ContractorCheckinCell' style='width:150px;'>Tag&nbsp;#</div>");
                    }
                    if ('@ViewBag.HasBadgePermission'.toLowerCase() != 'false') {newRow.append("<div class='ContractorCheckinCell' style='width:150px;'>Badge&nbsp;#</div>");
                    }
                    //if ('@ViewBag.HasPermission'.toLowerCase() != 'false') { newRow.append("<div class='ContractorCheckinCell' >Badge Number</div>");}
                    newRow.append("<div class='ContractorCheckinCell' style='width:180px;'>Check-In</div>");
                    newRow.append("<div class='ContractorCheckinCell' style='width:180px;'>Offsite</div>");
                    newRow.append("<div class='ContractorCheckinCell' style='width:380px;'>Reset Check-&nbsp;In</div>");
                    if ('@ViewBag.HasPermission'.toLowerCase() != 'false') {
                        newRow.append("<div class='ContractorCheckinCell' style='width:180px;'>Reset Tag&nbsp;#</div>");
                    }
                    if ('@ViewBag.HasBadgePermission'.toLowerCase() != 'false') {newRow.append("<div class='ContractorCheckinCell' style='width:180px;'>Reset Badge&nbsp;#</div>");
                    }

                    newRow.append("</div>");
                    $("#checkinsCheckins").append(newRow);
                    for (var i = 0; i < data.length; i++) {

                        newRow = $("<div class='ContractorCheckinRow ContractorGroup tscroll '>");
                        var Image='';
                        if(data[i].UserType==2)
                        {
                            Image='<img src="../images/c_image.png" width="15" height="15">';
                        }
                        else if(data[i].UserType==1)
                        {
                            Image='<img src="../images/v_image.png" width="15" height="15">';
                        }
                        var IsVisitor=false;
                        if(data[i].CompanyName != null && data[i].VendorName ==null){
                            IsVisitor=true;
                        }



                        newRow.append("<div class='ContractorCheckinCell sticky-col'>"  + (data[i].VendorName==null?'':data[i].VendorName) + (Image)  +  "</div>");
                        newRow.append("<div class='ContractorCheckinCell'>"  + (data[i].CompanyName==null?'':data[i].CompanyName)  +  "</div>");
                        newRow.append("<div class='ContractorCheckinCell'>"  + (data[i].VisitorName==null?'':data[i].VisitorName)  +  "</div>");
                        //newRow.append("<div class='ContractorCheckinCell'>"  + (data[i].TagNumber==null?'':data[i].TagNumber) + "</div>");
                        if ("@ViewBag.HasPermission".toString().toLowerCase() == "true") {
                            newRow.append("<div class='ContractorCheckinCell tagNumber'>" + (data[i].TagNumber == null ? '' : data[i].TagNumber) + "</div>");
                        }
                        if ("@ViewBag.HasBadgePermission".toString().toLowerCase() == "true") { newRow.append("<div class='ContractorCheckinCell badgeNummber'>" + (data[i].BadgeNumber == null ? '' : data[i].BadgeNumber) + "</div>"); }
                        newRow.append(
                            '<div class="ContractorCheckinCell">' +
                            ToJavaScriptDate(data[i].Checkin) +
                            '</div>');
                        if(data[i].CompanyName == null && data[i].VendorName !=null)
                        {
                            newRow.append(
                                '<div class="ContractorCheckinCell" >' + '<input type="radio" class="checkoutBox" value="'+ data[i].OnsiteOffsiteId + '"  onclick="employeecheckout(this,\''+data[i].EmployeeOrVisitorId.trim() + '\',' + data[i].VendorId +',' + buID + ',' + locID + ')"'+' ></input></div>');
                            newRow.append(
                                '<div class="ContractorCheckinCell">' + '<input type="radio" value="'+ data[i].OnsiteOffsiteId + '" onclick="reset(this,\'' + data[i].EmployeeOrVisitorId +  '\',' + buID + ',' + locID + ');" ' + ((data[i].Locked == true)?"disabled":"") +' ></input></div>'
                            );
                        }
                        else
                        {
                            newRow.append(
                                '<div class="ContractorCheckinCell">' + '<input type="radio" class="checkoutBox" value="'+ data[i].OnsiteOffsiteId + '"  onclick="visitorcheckout(this,\'' + data[i].EmployeeOrVisitorId + '\',' + buID + ',' + locID + ')"' +' ></input></div>');
                            newRow.append(
                                '<div class="ContractorCheckinCell">' + '<input type="radio" value="'+ data[i].OnsiteOffsiteId + '" onclick="resetVisitor(this,' + buID + ',' + locID + ');" ' + ((data[i].Locked == true)?"disabled":"") +' ></input></div>'
                            );
                        }
                        if ("@ViewBag.HasPermission".toString().toLowerCase() == "true")
                        {
                            newRow.append("<div class='ContractorCheckinCell'>"  + "<input type='radio' value='"+ data[i].OnsiteOffsiteId +" ' onclick=resetTagNumber(this," + buID + "," + locID + ",'"+data[i].EmployeeOrVisitorId+"',"+true+","+IsVisitor+")></input></div>");
                        }
                        if ("@ViewBag.HasBadgePermission".toString().toLowerCase() == "true")
                        {
                            newRow.append("<div class='ContractorCheckinCell'>"  + "<input type='radio' value='"+ data[i].OnsiteOffsiteId +" ' onclick=resetTagNumber(this," + buID + "," + locID + ",'"+data[i].EmployeeOrVisitorId+"',"+false+","+IsVisitor+")></input></div>");
                        }
                        newRow.append("</div>");

                        $("#checkinsCheckins").append(newRow);

                        $("#checkinsCheckins").show();

                    }
                    if(callback!==undefined)
                        callback();
                }
            });
        }

        $( document ).ready(function(){

            if('@ViewBag.HasPermission'.toLowerCase()=='false'){

                $('.tagfilter').hide();

                $('#tagstyle').attr('style', 'padding-left: 540px');
            }
            else{
                $('#tagstyle').attr('style', 'padding-left: 275px');
            }
            if('@ViewBag.HasClientEmpPermission'.toLowerCase()=='true'||'@ViewBag.HasSineproPermission'.toLowerCase()=='true')
            {
                debugger;
                $('.selectedTab').attr('style','white-space:unset;height:65px;');
                $('.unSelectedTab').attr('style','white-space:unset;height:65px;');
              //  $('.visitorstab').attr('style','padding-bottom: 30px');
            }
            if('@ViewBag.HasSineproPermission'.toLowerCase()=='true' &&'@ViewBag.HasClientEmpPermission'.toLowerCase()=='true')
            {

                debugger;
                // $('.visitorstab').attr('style','padding-bottom: 30px;font-size:16px;white-space:unset;');
                $('.unSelectedTab').attr('style','height:65px;white-space:unset;font-size:16px;');
                $('.selectedTab').attr('style','height:65px;white-space:unset;font-size:16px;');
                //$('.unSelectedTab').attr('style','font-size:16px;');
            }
        });
        function loadLocationDropdown(ignitor,cb){
            PostToDDL("./GetLocations", {buID: $(ignitor).val() }, $("#locDropdown"),cb);
            resetDDL($("#vendorDropdown"));
        }

        function loadVendorDropdown(){
            PostToDDL("./GetVendors", {
                clientID: @ViewBag.ClientID,
                buID: $("#buDropdown").val(),
                locID: $("#locDropdown").val()
            }, $("#vendorDropdown"));
        }

        function employeecheckout(btn,employeeID,vendorID,buID,locID)
        {
            Post("./Checkout",{OnsiteOffsiteId: $(btn).val(),employeeID:employeeID,vendorID:vendorID,buID:buID,locID:locID,timeZoneOffset: new Date().getTimezoneOffset() },function(){
                LoadCheckins();
            });
        }

        function visitorcheckout(btn,employeeID,buID,locID)
        {
            Post("./CheckoutVisitor",{OnsiteOffsiteId: $(btn).val(),employeeID:employeeID,buID:buID,locID:locID,timeZoneOffset: new Date().getTimezoneOffset() },function(){LoadCheckins();});
        }

        function getpqstatus(obj,venId)
        {
            Post("./GetPQStatus", { clientid: @ViewBag.ClientID, vendorid: venId }, function(data) {
                //console.log(venId);
                $(obj).html(data.PrequalificationStatusName);

                if(data.PrequalificationStatusId === 9 || data.PrequalificationStatusId === 13 || data.PrequalificationStatusId === 26) {
                    $(obj).css({ color: 'green' });
                }
                else {
                    $(obj).css({ color: 'red' });
                }
            });
        }


        function LoadCheckins()
        {
            $("#RefreshButton").show();
            $("#GetCheckinsButton").hide();

            getCheckinsData(function() {
                $("#RefreshButton").hide();
                $("#GetCheckinsButton").show();
            });
        }

        function LoadEmployees(vendorID,buID,locID){
            //$("#employeeList > h2").text("Employees List");
            //console.log({vendorID : vendorID,buID : buID, locID:locID });
            //var empName = "";
            //;
            //if ($("#searchbyemployee").is(":checked")) {
            //    empName = $("#employeename").val();
            //    vendorID = -1;
            //} else {
            //    empName = "";
            //}
            Post("./GetEmployeeCheckins",{vendorID : vendorID,buID : buID, locID:locID,timeZoneOffset: new Date().getTimezoneOffset()}, function(data){
                //console.log(data);
                $("#filter").val("");
                $("#employeeCheckins").html("");
                $("#newVisitorDiv").remove();

                $("#VisitorsList").hide();
                $("#CheckinsList").hide();

                //Create Header Row
                newRow = $("<div class='ContractorCheckinRow CheckinHeader'>");
                newRow.append("<div class='ContractorCheckinCell' style='width:60%;'>Employee Name</div>");
                //newRow.append("<div class='ContractorCheckinCell' style='width:30%;'>Vendor Name</div>");
                newRow.append("<div class='ContractorCheckinCell' style='width:10%;'>Pass Orientation?</div>");
                if ('@ViewBag.HasPermission'.toLowerCase() != 'false') { newRow.append("<div class='ContractorCheckinCell' style='width:10%;'>Tag Number</div>"); }
                if ('@ViewBag.HasBadgePermission'.toLowerCase() != 'false') { newRow.append("<div class='ContractorCheckinCell' style='width:10%;'>Badge Number</div>");}
                newRow.append("<div class='ContractorCheckinCell' style='width:10%;'>Onsite</div>");
                newRow.append("<div class='ContractorCheckinCell' style='width:5%;'>Offsite</div>");
                newRow.append("<div class='ContractorCheckinCell' style='width:5%;'>Reset</div>");
                newRow.append("</div>");
                $("#employeeCheckins").append(newRow);


                //var result = _.sortBy(_.toPairs(_.groupBy(data,"VendorName"))
                //    .map(function(currentItem) {
                //        return _.zipObject(["vendor", "emps"], currentItem);
                //    }),
                //    "color");
                //for(var j=0;j<result.length;j++) {
                var tmpEmpID = "";
                for (var i = 0; i < data.length; i++) {
                    if (data[i].EmployeeID == tmpEmpID){

                        newRow = $("<div class='ContractorCheckinRow'>");
                        newRow.append("<div class='ContractorCheckinHidden'>"  + data[i].LastName + ", " + data[i].FirstName +  "</div>");
                        //newRow.append("<div class='ContractorCheckinCell'></div>");
                        newRow.append("<div class='ContractorCheckinCell'></div>");
                        newRow.append("<div class='ContractorCheckinCell'></div>");
                        if ("@ViewBag.HasPermission".toString().toLowerCase() == "true") {
                            newRow.append("<div class='ContractorCheckinCell'>" + (data[i].TagNumber == null ? '' : data[i].TagNumber) + "</div>");
                        }
                        if ("@ViewBag.HasBadgePermission".toString().toLowerCase() == "true") {   newRow.append("<div class='ContractorCheckinCell'>" + (data[i].BadgeNumber == null ? '' : data[i].BadgeNumber) + "</div>");
                        }
                    }

                    else{
                        newRow = $("<div class='ContractorCheckinRow ContractorGroup'>");
                        newRow.append("<div class='ContractorCheckinHidden'>"  + data[i].LastName + ", " + data[i].FirstName +  "</div>");
                        //console.log("<div class='ContractorCheckinCell'><a href='#' onclick='EmployeClick(\""+ data[i].EmployeeID.trim() + "\"," + vendorID +  "," + buID + "," + locID + ");'>"  + data[i].LastName + ", " + data[i].FirstName +  "</a></div>");
                        newRow.append("<div class='ContractorCheckinCell'><a href='#' onclick='EmployeClick(\""+ data[i].EmployeeID.trim() + "\"," + data[i].VendorID +  "," + buID + "," + locID + ");'>"  + data[i].LastName + ", " + data[i].FirstName +  "</a></div>");
                        //newRow.append("<div class='ContractorCheckinCell'>"  + data[i].VendorName + "</div>");
                        newRow.append("<div class='ContractorCheckinCell " + GetPassedTrainingClass(data[i].PassedOrientation) + "'>" + data[i].PassedOrientation + '</div>');
                        if ("@ViewBag.HasPermission".toString().toLowerCase() == "true") { newRow.append("<div class='ContractorCheckinCell'>" + (data[i].TagNumber == null ? '' : data[i].TagNumber) + "</div>"); }
                        if ("@ViewBag.HasBadgePermission".toString().toLowerCase() == "true") { newRow.append("<div class='ContractorCheckinCell'>"+ (data[i].BadgeNumber==null?'':data[i].BadgeNumber)  +"</div>");}
                    }

                    if (data[i].Checkin != null) {
                        newRow.append(
                            '<div class="ContractorCheckinCell">' +
                            ToJavaScriptDate(data[i].Checkin) +
                            '</div>')
                    } else {
                        //newRow.append(
                        //    '<div class="ContractorCheckinCell">' + '<input type="radio" tagNumber="' + (data[i].OldTagId == null ? '' : data[i].OldTagId) + '" class="checkinBox" value="' + data[i].EmployeeID + '" ' + ((data[i].Locked == true) ? 'disabled' : ' onclick="checkin(this,' + data[i].VendorID + ',' + buID + ',' + locID +','+ data[i].UserType +','+ data[i].DepartmentId + ');"') + '></input></div>'
                        //);
                        //newRow.append(
                        //    '<div class="ContractorCheckinCell">' + '<input type="radio" badgeNumber="' + (data[i].OldBadgeId == null ? '' : data[i].OldBadgeId) + '" class="checkinBox" value="' + data[i].EmployeeID + '" ' + ((data[i].Locked == true) ? 'disabled' : ' onclick="checkin(this,' + data[i].VendorID + ',' + buID + ',' + locID +','+ data[i].UserType  +','+ data[i].DepartmentId + ');"') + '></input></div>'
                        //);
                        newRow.append(
                           '<div class="ContractorCheckinCell">' + '<input type="radio" tagNumber="' + (data[i].OldTagId == null ? '' : data[i].OldTagId) + '"badgeNumber="' + (data[i].OldBadgeId == null ? '' : data[i].OldBadgeId) + '" class="checkinBox" value="' + data[i].EmployeeID + '" ' + ((data[i].Locked == true) ? 'disabled' : ' onclick="checkin(this,' + data[i].VendorID + ',' + buID + ',' + locID +','+ data[i].UserType +','+ data[i].DepartmentId + ');"') + '></input></div>'
                       );
                        //newRow.append(
                        //    '<div class="ContractorCheckinCell">' + '<input type="radio" badgeNumber="' + (data[i].OldBadgeId == null ? '' : data[i].OldBadgeId) + '" class="checkinBox" value="' + data[i].EmployeeID + '" ' + ((data[i].Locked == true) ? 'disabled' : ' onclick="checkin(this,' + data[i].VendorID + ',' + buID + ',' + locID +','+ data[i].UserType  +','+ data[i].DepartmentId + ');"') + '></input></div>'
                        //);
                    }
                    (data[i].Checkout != null)?
                        newRow.append(
                            '<div class="ContractorCheckinCell">' +
                            ToJavaScriptDate(data[i].Checkout) +
                            '</div>')
                        :newRow.append(
                            '<div class="ContractorCheckinCell">' + '<input type="radio" class="checkoutBox" value="'+ data[i].OnsiteOffsiteID + '" ' + ((data[i].Locked == true)?'disabled':'  onclick="checkout(this,\'' + data[i].EmployeeID.trim() +  '\',' + data[i].VendorID +  ',' + buID + ',' + locID + ');"  ') +' ></input></div>'
                        );
                    newRow.append(
                        '<div class="ContractorCheckinCell">' + '<input type="radio" value="'+ data[i].OnsiteOffsiteID + '" onclick="reset(this,' + data[i].VendorID +  ',' + buID + ',' + locID + ');" ' + ((data[i].Locked == true)?"disabled":"") +' ></input></div>'
                    );
                    newRow.append("</div>");

                    $("#employeeCheckins").append(newRow);

                    tmpEmpID = data[i].EmployeeID;
                    $("#employeeList").show();
                }
                //}
            });
        }


        function LoadVisitors(buID,locID){
            //$("#employeeList > h2").text("Visitors List");
            //console.log({buID : buID, locID:locID });


            Post("./GetVisitorCheckins",{buID : buID, locID:locID,timeZoneOffset: new Date().getTimezoneOffset() }, function(data){
                debugger;
                //console.log(data);
                $("#filter").val("");
                $("#visitorsCheckins").html("");
                $("#newVisitorDiv").remove();

                $("#employeeList").hide();
                $("#CheckinsList").hide();

                //Create Header Row
                newRow = $("<div class='ContractorCheckinRow CheckinHeader' >");

                newRow.append("<div  class='ContractorCheckinCell sticky'>Visitor Name</div>");
                newRow.append("<div  class='ContractorCheckinCell' style='width:15%;'>Company</div>");
                newRow.append("<div  class='ContractorCheckinCell' style='width:15%;'>Site Contact</div>");
                if("@ViewBag.HasPermission".toLowerCase()!="false"){
                    newRow.append("<div  class='ContractorCheckinCell' style='width:15%;'>Tag Number</div>");}
                if("@ViewBag.HasBadgePermission".toLowerCase()!="false"){
                    newRow.append("<div  class='ContractorCheckinCell' style='width:15%;'>Badge Number</div>");}
                newRow.append("<div class='ContractorCheckinCell' style='width:15%;'>Onsite</div>");
                newRow.append("<div class='ContractorCheckinCell' style='width:15%;'>Offsite</div>");
                newRow.append("<div class='ContractorCheckinCell' style='width:10%;'>Reset</div>");
                newRow.append("<div  class='ContractorCheckinCell' style='width:10%;'></div>");

                newRow.append("</div>");
                $("#visitorsCheckins").append(newRow);

                var tmpEmpID = "";

                for (var i = 0; i < data.length; i++) {
                    if (data[i].EmployeeID == tmpEmpID){

                        newRow = $("<div class='ContractorCheckinRow' >");
                        newRow.append("<div class='ContractorCheckinHidden sticky'>"  + data[i].LastName + ", " + data[i].FirstName +  "</div>");

                        newRow.append("<div  class='ContractorCheckinCell sticky'></div>");
                        newRow.append("<div class='ContractorCheckinCell'></div>");
                        newRow.append("<div class='ContractorCheckinCell'></div>");
                        if ("@ViewBag.HasPermission".toString().toLowerCase() == "true") {
                            newRow.append("<div class='ContractorCheckinCell'>" + (data[i].TagNumber == null ? '' : data[i].TagNumber) + "</div>");
                        }
                        if ("@ViewBag.HasBadgePermission".toString().toLowerCase() == "true") {newRow.append("<div role='cell' class='ContractorCheckinCell'>" + (data[i].BadgeNumber == null ? '' : data[i].BadgeNumber) + "</div>");
                        }
                    }
                    else{
                        newRow = $("<div  class='ContractorCheckinRow ContractorGroup'>");
                        newRow.append("<div class='ContractorCheckinHidden sticky'>"  + data[i].LastName + ", " + data[i].FirstName +  "</div>");
                        newRow.append("<div  class='ContractorCheckinCell sticky'>"  + data[i].LastName + ", " + data[i].FirstName +  '</div>');

                        newRow.append("<div  class='ContractorCheckinCell'>"  + data[i].Company +  '</div>');
                        newRow.append("<div class='ContractorCheckinCell'>"  + data[i].SiteContact + '</div>');
                        if ("@ViewBag.HasPermission".toString().toLowerCase() == "true") {
                            newRow.append("<div  class='ContractorCheckinCell'>" + (data[i].TagNumber == null ? '' : data[i].TagNumber) + "</div>");
                        }
                        if ("@ViewBag.HasBadgePermission".toString().toLowerCase() == "true") {
                            newRow.append("<div  class='ContractorCheckinCell'>" + (data[i].BadgeNumber == null ? '' : data[i].BadgeNumber) + "</div>");
                        }
                    }

                    if (data[i].Checkin != null) {
                        newRow.append(
                            '<div  class="ContractorCheckinCell">' +
                            ToJavaScriptDate(data[i].Checkin) +
                            '</div>')
                    }
                    else {
                        newRow.append(
                            '<div class="ContractorCheckinCell">' + '<input type="radio" tagNumber="' + (data[i].OldTagId == null ? '' : data[i].OldTagId) + '"badgeNumber="' + (data[i].OldBadgeId == null ? '' : data[i].OldBadgeId) + '" class="checkinBox" value="' + data[i].EmployeeID + '" ' + ((data[i].Locked == true) ? 'disabled' : ' onclick="checkinVisitor(this,' + buID + ',' + locID + ');"   ') + '></input></div>'
                        );
                        //newRow.append(
                        //    '<div class="ContractorCheckinCell">' + '<input type="radio" badgeNumber="' + (data[i].OldBadgeId == null ? '' : data[i].OldBadgeId) + '" class="checkinBox" value="' + data[i].EmployeeID + '" ' + ((data[i].Locked == true) ? 'disabled' : ' onclick="checkinVisitor(this,' + buID + ',' + locID + ');"   ') + '></input></div>'
                        //);
                    }
                    (data[i].Checkout != null)?
                        newRow.append(
                            '<div class="ContractorCheckinCell">' +
                            ToJavaScriptDate(data[i].Checkout) +
                            '</div>')
                        :newRow.append(
                            '<div class="ContractorCheckinCell">' + '<input type="radio" class="checkoutBox" value="'+ data[i].OnsiteOffsiteID + '" ' + ((data[i].Locked == true)?'disabled':'  onclick="checkoutVisitor(this,\'' + data[i].EmployeeID.trim() +  '\',' + buID + ',' + locID + ');"  ') +' ></input></div>'
                        );
                    newRow.append(
                        '<div class="ContractorCheckinCell">' + '<input type="radio" value="'+ data[i].OnsiteOffsiteID + '" onclick="resetVisitor(this,' + buID + ',' + locID + ');" ' + ((data[i].Locked == true)?"disabled":"") +' ></input></div>'
                    );
                    newRow.append("<div  class='ContractorCheckinCell'><a href='#!' onclick='window.open(\"EditVisitor?visitorid="+data[i].EmployeeID.trim()+"\",\"_blank\",\"toolbar=no,  directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=yes, width=650, height=500\")'>Edit</a>  <a href='#!' onclick='DeleteVisitor(\""+data[i].EmployeeID.trim()+"\")'>Delete</a></div>");
                    newRow.append("</div>");

                    $("#visitorsCheckins").append(newRow);

                    tmpEmpID = data[i].EmployeeID;
                }

                //newRow = $("<div id='newVisitorDiv'><button id='newVisitorButton' onClick='CreateNewVisitor(" + locID + "," + buID +");'>New Visitor</button></div>");
                //$(newRow).insertAfter("#employeeCheckins");
                $("#visitorsCheckins").show();
            });
        }

        function SetCookie(element,value){
            document.cookie = element.name + "=" + value;
        }
        function ReadCookie(name) {
            var value = "; " + document.cookie;
            var parts = value.split("; " + name + "=");
            if (parts.length >= 2) return parts.pop().split(";").shift();
        }

        function employeecheckinsave(btn,vendorID,buID,locID,UserType,DepartmentId)
        {
            var tagid = $("#tagid").val();
            var badgeid = $("#badgeid").val();
            Post("./Checkin",
                {
                    employeeID: $(btn).val(),
                    vendorID: vendorID,
                    buID: buID,
                    locID: locID,
                    timeZoneOffset: new Date().getTimezoneOffset(),
                    tagid: tagid,
                    badgeid: badgeid,
                    UserType:UserType,
                    DepartmentId:DepartmentId
                },
                function() {
                    if (tabNumber === 1)
                        LoadEmployees(vendorID, buID, locID);
                    else
                        removeRow(btn);
                });
            var modal = document.getElementById('myModal');
            modal.style.display = "none";
        }

        function checkin(btn,vendorID,buID,locID,UserType,DepartmentId){
            debugger;
            if('@ViewBag.HasPermission'.toString().toLowerCase()=='false'&&'@ViewBag.HasBadgePermission'.toString().toLowerCase()=='false'){
                employeecheckinsave(btn,vendorID,buID,locID,UserType,DepartmentId);
                return;
            }
            var modal = document.getElementById('myModal');
            modal.style.display = "block";
            $("#btnSubmitvisitor").hide();
            $("#btnSubmitemployee").show();
            $("#btnSubmitemployee").off("click").click(function() { employeecheckinsave(btn,vendorID,buID,locID,UserType,DepartmentId); });
            debugger;
            var tagNumber=$(btn).attr("tagNumber");
            if(tagNumber!="0")
                $("#tagid").val($(btn).attr("tagNumber"));
            else  $("#tagid").val('');
            if(tagNumber!="0"&&tagNumber!=""){
                $("#tagid").prop("disabled", true);
            }
            else  $("#tagid").prop("disabled", false);
            $("#tagid").focus();
            var BadgeNumber=$(btn).attr("badgeNumber");
            if(BadgeNumber!="0")
            {
                $("#badgeid").val(BadgeNumber);
            }
            else
                $("#badgeid").val('');
            if(BadgeNumber!="0"&&BadgeNumber!=""){
                $("#badgeid").prop("disabled", true);
            }
            else{ $("#badgeid").prop("disabled", false);}
            $("#badgeid").focus();

            //Post("./Checkin",{employeeID: $(btn).val(),vendorID:vendorID,buID:buID,locID:locID,timeZoneOffset: new Date().getTimezoneOffset() },function(){ LoadEmployees(vendorID,buID,locID);})
        }
        function removeRow(obj) {

            $( obj ).closest("tr").fadeOut();

        }
        function checkout(btn,employeeID,vendorID,buID,locID){
            Post("./Checkout",{OnsiteOffsiteID: $(btn).val(),employeeID:employeeID,vendorID:vendorID,buID:buID,locID:locID,timeZoneOffset: new Date().getTimezoneOffset() },function(){
                LoadEmployees(vendorID,buID,locID);
            });
        }
        function reset(btn,vendorID,buID,locID){
            //console.log("Checkout: " + $(btn).val());
            Post("./Reset", { OnsiteOffsiteID: $(btn).val() }, function() {
                if (tabNumber == 1)
                    LoadEmployees(vendorID, buID, locID);
                else
                    LoadCheckins();
            });
        }

        function visitorcheckinsave(btn,buID,locID)
        {
            debugger;
            var tagid = $("#tagid").val();
            var badgeid = $("#badgeid").val();
            console.log(this);
            Post("./CheckinVisitor",
                { employeeID: btn, buID: buID, locID: locID, timeZoneOffset: new Date().getTimezoneOffset(), tagid: tagid, badgeid: badgeid },
                function() { LoadVisitors(buID, locID); });
            var modal = document.getElementById('myModal');
            modal.style.display = "none";
        }

        function checkinVisitor(btn,buID,locID){
            debugger;
            if('@ViewBag.HasPermission'.toLowerCase()=='false'&&'@ViewBag.HasBadgePermission'.toLowerCase()=='false'){
                visitorcheckinsave($(btn).val(),buID,locID);
                return;
            }
            var modal = document.getElementById('myModal');
            modal.style.display = "block";
            $("#btnSubmitemployee").hide();
            $("#btnSubmitvisitor").show();
            $("#btnSubmitvisitor").attr("onclick","visitorcheckinsave('"+$(btn).val()+"',"+buID+","+locID+")");
            var tagNumber=$(btn).attr("tagNumber")=="null"?"":$(btn).attr("tagNumber");
            if(tagNumber!="0"&&tagNumber!=""){
                $("#tagid").val(tagNumber);
                $("#tagid").prop("disabled", true);
            }
            else { $("#tagid").val('');
                $("#tagid").prop("disabled", false);}
            $("#tagid").focus();
            var BadgeNumber=$(btn).attr("badgeNumber");
            if(BadgeNumber!="0"&& BadgeNumber!="")
            {
                $("#badgeid").val(BadgeNumber);
                $("#badgeid").prop("disabled", true);
            }
            else
            {  $("#badgeid").val('');
                $("#badgeid").prop("disabled", false);
            }


            //$("#badgeid").focus();
            //$("#tagid").val(TagValue);
            //$("#tagid").prop("disabled", false);
            //$("#tagid").focus();
            //$("#badgeid").val($(btn).attr("badgeNumber"));
            //$("#badgeid").prop("disabled", false);
            //$("#badgeid").focus();
            //Post("./CheckinVisitor",{employeeID: $(btn).val(),buID:buID,locID:locID,timeZoneOffset: new Date().getTimezoneOffset() },function(){ LoadVisitors(buID,locID);})
        }
        function checkoutVisitor(btn,employeeID,buID,locID){
            Post("./CheckoutVisitor",{OnsiteOffsiteID: $(btn).val(),employeeID:employeeID,buID:buID,locID:locID,timeZoneOffset: new Date().getTimezoneOffset() },function(){LoadVisitors(buID,locID);});
        }
        function resetVisitor(btn,buID,locID){
            //console.log({locID:locID});
            Post("./ResetVisitor",{OnsiteOffsiteID: $(btn).val()},function(){
                if(tabNumber === 2)
                    LoadVisitors(buID,locID);
                else
                    LoadCheckins();
            });

        }
        function resetTagNumber(btn,buID,locID,EmployeeId,IsTagNumber,IsVisitor)
        {
            $.post("./ResetTagNumber",{OnsiteOffsiteID: $(btn).val(),EmployeeId:EmployeeId,buID:buID,locID:locID,IsTagNumber:IsTagNumber,IsVisitor:IsVisitor},function(result)
            {debugger;
                if(IsTagNumber){

                    alert("Tag # Reset Completed");
                    //$(btn).parents().find('.tagNumber').empty();

                }
                else {
                    $(btn).attr('BadgeNumber',"");
                    // Notification.success("BadgeNumber is Reseted Successfully");
                    alert("Badge # Reset Completed");
                    //$(btn).parents().find('.badgeNummber').empty();
                }
                $(btn). prop("checked", false);
                LoadCheckins();
            });
        }



        function PostToDDL(url,params,ddlSelector,cb){
            resetDDL(ddlSelector);
            Post(url,params, function(data){

                for (var i = 0; i < data.length; i++) {
                    newOption = $('<option value="' + data[i].ID + '">' + data[i].Name + '</option>');
                    ddlSelector.append(newOption);
                }
                if(cb && typeof cb == "function") {
                    cb();
                }
            });
        }
        function Post(url,params, callback )
        {
            $.post(url, params,
                function (results) {
                    callback(results);
                }).fail(function () {
                    console.log("error");
                });
        }
        function resetDDL(ddlSelector){
            ddlSelector.empty();
            newOption = $('<option value="' + 1 + '">Select One</option>');
            ddlSelector.append(newOption);
        }
        function ToJavaScriptDate(value) { //To Parse Date from the Returned Parsed Date
            var pattern = /Date\(([^)]+)\)/;
            var results = pattern.exec(value);
            var dt = new Date(parseFloat(results[1]));
            //return (dt.getMonth() + 1) + "/" + dt.getDate() + "/" + dt.getFullYear() + " " + dt.getHours() + " " + dt.getMinutes();
            //var options = { hour12: true , year: "numeric", month: "numeric",day: "numeric" };

            //var d = new Date(results);
            var mm = dt.getMonth() + 1;
            var dd = dt.getDate();
            var yy = dt.getFullYear();


            return  mm + '/' + dd + '/' + yy + " " + dt.toLocaleTimeString("en-US",{ hour12: true});

        }

        function EmployeClick(empId,vendorID,buID,locID) {
            var prequalID;
            Post('./GetPrequalID',{buID:buID,locID:locID,vendorID:vendorID, EmployeeID:empId},function(d){
                //console.log("../Prequalification/Employees?templateId=" + d.templateID + "&PreQualificationId=" + d.prequalificationID )

                window.open("../Prequalification/LoadEmployees?templateId=" +
                    d.templateID +
                    "&PreQualificationId=" +
                    d.prequalificationID +
                    "&EmployeeID=" +
                    empId);
            });

            //$(".checkinBox[value='" + empId + "']").click();
            //if (ooID != "null"){
            //    $(".checkoutBox[value='" + ooID + "']").click();
            //}
            //window.open("../Employee/VendorEmployeeQuizzes?userId=" + empId);
        }
        var winPop = false;
        function DeleteVisitor(visitorId) {
            if(confirm("Are you sure you want to delete the visitor along with his history?"))
                Post("./DeleteVisitor", { visitorid: visitorId }, function() { LoadVisitors($('#buDropdown').val(),$('#locDropdown').val());});
        }
        function CreateNewVisitor(locID,buID)
        {

            if (buID == -1) { alert('Select a business unit from the drop down'); return false;}
            if (locID == -1) { alert('Select a location from the drop down'); return false;}


            if (winPop && !winPop.closed) {  //checks to see if window is open
                winPop.focus();
            }
            else {
                winPop = window.open("AddNewVisitor?locID=" + locID + "&buID=" + buID, "_blank", "toolbar=no,  directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=yes, width=650, height=500");
            }

        }

        function GetPassedTrainingClass(val)
        {
            switch (val)
            {
                case "Yes":
                    return "OnsiteOffSiteTrainingComplete";
                case "No":
                    return "OnsiteOffSiteTrainingIncomplete";
                default:
                    return "OnsiteOffSiteTrainingNA";
            }
        }
        function ShowCheckInReport()
        {
            var location = $('#locDropdown').val();
            var offset = new Date().getTimezoneOffset();

            var form = document.createElement("form");
            form.setAttribute("method", "post");
            form.setAttribute("action", "../Reports/CurrentlyOnsite.aspx?menubar=no");
            form.setAttribute("target", "_blank");

            form.appendChild(createField("location", location));
            form.appendChild(createField("timeZoneOffset", offset));

            document.body.appendChild(form);
            form.submit();
        }
        function createField(name, value) {
            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", name);
            hiddenField.setAttribute("value", value);
            return hiddenField;
        }

     

</script>
    <span id="notification"></span>
