﻿<!--
 *****************************************************
Page Created Date:  07/30/2013
Created By: Siva Bommisetty
Purpose:
Version: 1.0
****************************************************
-->
@using FVGen3.Domain.Entities;
@using Resources;
@model FVGen3.Domain.Entities.LocalAddOrEditPermission
@{
    ViewBag.Title = "Add Permissions";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=6" />
    <meta http-equiv="X-UA-Compatible" content="IE=7" />
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta http-equiv="X-UA-Compatible" content="firefox" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width" />
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    @Scripts.Render("~/js/common.js")

</head>
<script type="text/javascript">

    // For Roles and Permissions
    $(document).ready(function () {
        setPermissions('@ViewBag.ViewPermissions');

    });
    // Ends<<<


    function readClicked(currentRadio) {
        if ($(currentRadio).is(":checked") == false) {
            $(currentRadio).parents('tr').find("input").each(function () {
                if ($(this).attr("cType") != undefined) {
                    //alert($(this).attr("cType"));
                    $(this).prop("checked", false);
                }
            });
        }

        checkOrUncheckColumns(0);
    }

    function otherClicked(currentRadio) {
        if ($(currentRadio).is(":checked") == true) {
            $(currentRadio).parents('tr').find("input").each(function () {
                if ($(this).attr("cType") != undefined) {
                    if ($(this).attr("cType") == "read") {
                        $(this).prop("checked", true);
                    }
                }
            });
        }

        if ($(currentRadio).attr("cType") == "insert")
            checkOrUncheckColumns(1);
        if ($(currentRadio).attr("cType") == "modify")
            checkOrUncheckColumns(2);
        if ($(currentRadio).attr("cType") == "delete")
            checkOrUncheckColumns(3);
    }
    // Ends<<<

    function checkOrUncheckColumns(columnType) /* 0,1,2,3 = read,insert,modify,delete*/ {
        var status = true;
        switch (columnType) {
            case 0:
                $("form :input[type=checkbox]").each(function () {
                    if ($(this).attr("cType") == "read") {
                        if ($(this).is(":checked") == false)
                            status = false;
                    }
                });
                if (status)
                    $("#ReadSelectAll").prop("checked", true);
                else {
                    $("#ReadSelectAll").prop("checked", false);
                    $("#InsertSelectAll").prop("checked", false);
                    $("#ModifySelectAll").prop("checked", false);
                    $("#DeleteSelectAll").prop("checked", false);
                }
                break;

            case 1:
                $("form :input[type=checkbox]").each(function () {
                    if ($(this).attr("cType") == "insert") {
                        if ($(this).is(":checked") == false)
                            status = false;
                    }
                });
                if (status)
                    $("#InsertSelectAll").prop("checked", true);
                else
                    $("#InsertSelectAll").prop("checked", false);
                break;

            case 2:
                $("form :input[type=checkbox]").each(function () {
                    if ($(this).attr("cType") == "modify") {
                        if ($(this).is(":checked") == false)
                            status = false;
                    }
                });
                if (status)
                    $("#ModifySelectAll").prop("checked", true);
                else
                    $("#ModifySelectAll").prop("checked", false);
                break;

            case 3:
                $("form :input[type=checkbox]").each(function () {
                    if ($(this).attr("cType") == "delete") {
                        if ($(this).is(":checked") == false)
                            status = false;
                    }
                });
                if (status)
                    $("#DeleteSelectAll").prop("checked", true);
                else
                    $("#DeleteSelectAll").prop("checked", false);
                break;
        }
    }

    //    function getAllCheckBoxStatus()
    //    {
    //        var allChecksValue=true;
    //        $("form :input[type=checkbox]").each(function()
    //        {
    //            if($(this).attr("id") != "SelectAll")
    //            {
    //                if($(this).is(":checked") == false)
    //                {
    //                    allChecksValue=false;
    //                    $("#SelectAll").prop("checked", false);
    //                }
    //            }
    //        });
    //         if(allChecksValue==true)
    //            $("#SelectAll").prop("checked", true);
    //        else
    //            $("#SelectAll").prop("checked", false);
    //    }


    //    function selectOrDeSelectAll(currentRadio)
    //    {
    //        if ($(currentRadio).is(":checked") == true)
    //        {
    //            $(currentRadio).parents('div').find("input").each(function () {
    //                if ($(this).attr("cType") != undefined) {
    //                    $(this).prop("checked", true);
    //                }
    //            });
    //        }
    //        else
    //        {
    //            $(currentRadio).parents('div').find("input").each(function () {
    //                if ($(this).attr("cType") != undefined) {
    //                    $(this).prop("checked", false);
    //                }
    //            });
    //        }
    //    }
    function selectOrDeSelectRead(currentRadio) {
        if ($(currentRadio).is(":checked") == true) {
            $(currentRadio).parents('div').find("input").each(function () {
                if ($(this).attr("cType") == "read") {
                    $(this).prop("checked", true);
                }
            });
        }
        else {
            $(currentRadio).parents('div').find("input").each(function () {
                if ($(this).attr("cType") != undefined) {
                    $(this).prop("checked", false);
                }
            });

            $("#InsertSelectAll").prop("checked", false);
            $("#ModifySelectAll").prop("checked", false);
            $("#DeleteSelectAll").prop("checked", false);
        }
    }
    function selectOrDeSelectInsert(currentRadio) {
        if ($(currentRadio).is(":checked") == true) {
            $(currentRadio).parents('div').find("input").each(function () {
                if ($(this).attr("cType") == "insert") {
                    $(this).prop("checked", true);
                }
            });

            $("#ReadSelectAll").prop("checked", true);
            selectOrDeSelectRead($("#ReadSelectAll"));
        }
        else {
            $(currentRadio).parents('div').find("input").each(function () {
                if ($(this).attr("cType") == "insert") {
                    $(this).prop("checked", false);
                }
            });
        }
    }
    function selectOrDeSelectModify(currentRadio) {
        if ($(currentRadio).is(":checked") == true) {
            $(currentRadio).parents('div').find("input").each(function () {
                if ($(this).attr("cType") == "modify") {
                    $(this).prop("checked", true);
                }
            });

            $("#ReadSelectAll").prop("checked", true);
            selectOrDeSelectRead($("#ReadSelectAll"));
        }
        else {
            $(currentRadio).parents('div').find("input").each(function () {
                if ($(this).attr("cType") == "modify") {
                    $(this).prop("checked", false);
                }
            });
        }
    }
    function selectOrDeSelectDelete(currentRadio) {
        if ($(currentRadio).is(":checked") == true) {
            $(currentRadio).parents('div').find("input").each(function () {
                if ($(this).attr("cType") == "delete") {
                    $(this).prop("checked", true);
                }
            });

            $("#ReadSelectAll").prop("checked", true);
            selectOrDeSelectRead($("#ReadSelectAll"));
        }
        else {
            $(currentRadio).parents('div').find("input").each(function () {
                if ($(this).attr("cType") == "delete") {
                    $(this).prop("checked", false);
                }
            });
        }
    }

    function disableIfReadOnly() {
        $("form input[type = 'checkbox']").each(function () {
            $(this).attr("disabled", "disabled");
        });
    }
    @* Ends Nov 9th*@


</script>
<body>

    @if (@Model.checksNotAvailable)
    {
        //siva on 21st sep
        <div>
            <p class="errorMessage">
                @Resources.Permissions_selectPermissionErr
            </p>
        </div>
        //end of 21st Sep
    }
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.RoleId)
        @Html.HiddenFor(model => model.OrganizationType)

        <div class="permissionChkBoxes">

            <div class="page-title"> <h2> @Model.OrganizationType @Model.RoleName - Permissions </h2> </div>
            <table>
                <tr>
                    <td colspan="5" class="page-subtitle">
                        <h2>Permissions</h2>
                    </td>
                </tr>
                <tr>
                    @* On Nov 9th *@
                    <th>Views</th>
                    <th> @Html.CheckBoxFor(model => model.ReadSelectAll, new { onChange = "selectOrDeSelectRead(this)", id = "ReadSelectAll" })  <label for="ReadSelectAll">@Resources.Read_Permission</label></th>
                    <th> @Html.CheckBoxFor(model => model.InsertSelectAll, new { onChange = "selectOrDeSelectInsert(this)", id = "InsertSelectAll" })   <label for="InsertSelectAll">@Resources.Insert_Permission</label></th>
                    <th> @Html.CheckBoxFor(model => model.ModifySelectAll, new { onChange = "selectOrDeSelectModify(this)", id = "ModifySelectAll" })  <label for="ModifySelectAll">@Resources.Modify_Permission</label> </th>
                    <th> @Html.CheckBoxFor(model => model.DeleteSelectAll, new { onChange = "selectOrDeSelectDelete(this)", id = "DeleteSelectAll" })  <label for="DeleteSelectAll">@Resources.Common_Delete</label> </th>
                    @* End Nov 9th *@
                </tr>
                @if (@Model.permissions != null)
                {
                    for (int i = 0; i < @Model.permissions.Count; i++)
                    {
                        <tr>
                            @Html.HiddenFor(model => model.permissions[i].ViewId)
                            @Html.HiddenFor(model => model.permissions[i].ViewName)
                            <td> @Model.permissions[i].ViewName </td>
                            @* On 20th Aug *@
                            <td> @Html.CheckBoxFor(model => model.permissions[i].readPermission, new { cType = "read", onChange = "readClicked(this)" }) </td>
                            <td> @Html.CheckBoxFor(model => model.permissions[i].insertPermission, new { cType = "insert", onChange = "otherClicked(this)" }) </td>
                            <td> @Html.CheckBoxFor(model => model.permissions[i].modifyPermission, new { cType = "modify", onChange = "otherClicked(this)" }) </td>
                            <td> @Html.CheckBoxFor(model => model.permissions[i].deletePermission, new { cType = "delete", onChange = "otherClicked(this)" }) </td>
                            @* End of 20th Aug *@
                        </tr>
                    }
                }
                <tr>
                    <th>@Resources.Companies_Others</th>
                    <th><label>@Resources.Add_All</label></th>
                    @* End Nov 9th *@
                </tr>
                @if (@Model.otherPermissions != null)
                {
                    for (int i = 0; i < @Model.otherPermissions.Count; i++)
                    {
                        <tr>
                            @Html.HiddenFor(model => model.otherPermissions[i].ViewId)
                            @Html.HiddenFor(model => model.otherPermissions[i].ViewName)
                            <td> @Model.otherPermissions[i].ViewName </td>

                            @* On 20th Aug *@                            
                            <td> @Html.CheckBoxFor(model => model.otherPermissions[i].readPermission, new { cType = "read" }) </td>                            
                            <td></td>
                            <td></td>
                            <td></td>
                            @* End of 20th Aug *@
                        </tr>
                    }
                }
            </table>

            @*Select All Nov 9th*@
            @*<div style = "float:left; width:95%; height:auto; padding:10px 10px 10px 0px;">
                    <table style="margin:0; padding:0; width:15%; float:right;">
                        <tr>
                            <td style="text-align:center; font-weight:bold;">
                                Select All
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => model.SelectAll, new { onClick = "selectOrDeSelectAll(this)" })
                            </td>
                        </tr>
                    </table>
                </div>*@
            @* End or Nov 4th *@

            @* On Nov 9th *@
            @if (@Model.isReadOnly == true)
            {
                <script type="text/javascript">
                    disableIfReadOnly();
                </script>
            }
            @* End Nov 9th *@
        </div>


        <div class="contentSub">
            <div class="pageFooterContent">
                <div class="pageFooterButtons">
                    <table>
                        <tr>
                            @if (@Model.isReadOnly != true)
                            {
                                if (@Model.permissions != null && @Model.permissions.Count > 0)
                                {
                                    <td><button type="submit" btntype="Update" class="PageFooter_Button" id="updateBtn_Id"> @Resources.Common_Submit </button></td>
                                    <td btntype="Update">@Resources.Common_label_or</td>
                                }
                                else
                                {
                                    <td><button type="submit" btntype="Insert" class="PageFooter_Button"> @Resources.Common_Submit </button></td>
                                    <td btntype="Insert">@Resources.Common_label_or</td>
                                }
                                <td>
                                    <div class="pageFooterCancelButton">
                                        @Html.ActionLink(Resources.Common_Cancel, "AddSystemRole")
                                    </div>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <div class="pageFooterCancelButton">
                                        @Html.ActionLink(Resources.Common_Cancel, "AddSystemRole")
                                    </div>
                                </td>
                            }
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    }


</body>
</html>
