﻿<!--//
****************************************************
Page Created Date:  07/29/2013
Created By: Siva Bommisetty
Purpose:
Version: 1.0
****************************************************
-->

@using FVGen3.Domain.Entities;
@using Resources;

@model FVGen3.Domain.Entities.LocalSystemRoles
@{
    ViewBag.Title = "Add Role";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=6"/>
    <meta http-equiv="X-UA-Compatible" content="IE=7"/>
    <meta http-equiv="X-UA-Compatible" content="IE=8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=9"/>
    <meta http-equiv="X-UA-Compatible" content="firefox"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width"/>

    <script src="~/Scripts/kendo/kendo.all.min.js"></script>
    <link href="~/css/kendo/kendo.default.min.css" rel="stylesheet" />
    <link href="~/css/kendo/kendo.common.min.css" rel="stylesheet" />
    <link href="~/css/kendo/kendo.default.mobile.min.css" rel="stylesheet" />

</head>
<style>
    .k-i-checkmark-circle{
        font-size:25px;
    }
    .k-window-titlebar .k-window-action{
        width:32px;
        height:32px;
    }
</style>
<script type = "text/javascript">
    var roleIdGlobal = "";
    $(document).ready(function () {
        
        $("#RoleName").val("");
        
        // For Roles and Permissions
        setPermissions('@ViewBag.ViewPermissions');
        // Ends<<< 

    });
    
    function updateRolesList(lastpageurl) {
        $.ajax({
            type: 'GET',
            url: 'SystemRolesList',
            success: function (data) {
                if (data.indexOf("Session expired") >= 0) {
                    window.location = "../SystemUsers/Login?lastLoginPage=" + lastpageurl;
                }
                else {
                    $("#SystemRolesList_Block_Id").html(data);
                }
            },
            error: function () {
                alert("@Resources.Common_unableToProcess");
                $("#SystemRolesList_Block_Id").html("<html></html>");
            }
        });
    }
</script>

<body>
    <div id="example">

        <div id="window"></div>


        <div class="responsive-message"></div>

        <script>
                //$(document).ready(function() {
                    var myWindow = $("#window"),
                        undo = $("#undo");

                    function onClose() {
                        //undo.fadeIn();
                    }

                    myWindow.kendoWindow({
                        width: "615px",
                        title: "",
                        content: "",
                        actions: ["checkmark-circle", "Close"],
                        visible: false,
                        height:500,
                        close: onClose
                    });

                    undo.click(function () {
                        myWindow.data("kendoWindow").open();
                        undo.fadeOut();
                    });
                    function assignOrgRoles(roleId,title) {
                        roleIdGlobal = roleId;
                        myWindow.data("kendoWindow").title(title);
                        myWindow.data("kendoWindow").open().center();
                        myWindow.data("kendoWindow").refresh({
                            url: "../RolesAndPermissions/OrganizationRoles",
                            data: { roleId: roleId }
                        });
                    }
                    function getExistingRoles(obj) {
                        if(!$(obj).is(":checked"))
                        myWindow.data("kendoWindow").refresh({
                            url: "../RolesAndPermissions/OrganizationRolesWithExistingData",
                            data: { roleId: roleIdGlobal }
                        });
                        else {
                            $("#OrgIds input").attr("checked", "checked");
                            $("#OrgIds input").attr("disabled", "disabled");
                            $(obj).removeAttr("disabled");
                        }
                    }
                    myWindow.data("kendoWindow").wrapper
                                .find(".k-i-checkmark-circle").parent().click(function (e) {
                                    if (roleIdGlobal == "")
                                        alert("Please select a valid Role");
                                    else {
                                        //alert(roleIdGlobal);
                                        items = [];
                                        $("#OrgIds input:checked").each(function() {
                                            items.push($(this).attr('id'));
                                        });
                                        //alert(items);
                                        PostWithArray("AssignOrgRoles", { roleId: roleIdGlobal, orgIds: items }, function (data) {

                                            if (data == "Success") {
                                                myWindow.data("kendoWindow").close();
                                            }
                                            else {
                                                alert("Unable to preocess the request. Please try again");
                                            }

                                        });
                                    }
                                    e.preventDefault();
                                });
                //});
        </script>

  
    </div>


        @using (Html.BeginForm())
        {
            <div class="contentSub">
                
                <div class="page-title">
                    <h2>@Resources.Add_Sys_Roles </h2>
                    <br/><b style="color: red">@Resources.Roles_Warning</b>
                </div>
                <div class="rowIST">
                    <label class="enableStar">@Resources.Sys_Role_Name </label>
                    @* sumanth on 10/31/2015 for FVOS-106 to limit number of characters to 100 *@
                    @Html.TextBoxFor(model => Model.RoleName, new {@maxlength = "100"})
                    <div class="alertText"> @Html.ValidationMessageFor(model => model.RoleName) </div>
                </div>

                <div class="rowIST">
                    <label class="enableStar"> @Resources.Role_For </label>
                    @if (@ViewBag.orgTypes != null)
                    {
                        @Html.DropDownListFor(x => x.OrgType, (List<SelectListItem>) @ViewBag.orgTypes, new {@onchange = "OrgTypeChanged(this)"})
                    }
                    else
                    {
                        @Html.DropDownListFor(x => x.OrgType, new List<SelectListItem>(), new {@onchange = "OrgTypeChanged(this)"})
                    }
                    <div class="alertStar"> @Html.ValidationMessageFor(model => model.OrgType) </div>
                </div>

                <div class="pageFooterContent">
                    <div class="pageFooterButtons">
                        <table>
                            <tr>
                                <td><button type="submit" btnType="Insert" class="PageFooter_Button"> @Resources.Common_Save </button></td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>
            
            <div id = "SystemRolesList_Block_Id">
                <script type = "text/javascript">
                    updateRolesList();
                </script>
            </div>


        }

    


</body>
</html>
