﻿@{
    Layout = null;
}
@model List<FVGen3.DataLayer.DTO.LocOrganizationRoles>
<!DOCTYPE html>
<script src="~/Scripts/kendo/kendo.all.min.js"></script>
<style>
    #OrgIds tr:nth-child(even) td {
        background-color: azure;
    }

    #OrgIds tr:nth-child(odd):not(:first-child) td {
        background-color: beige;
    }
</style>
<table id="OrgIds"> 
    <tr>
    <td><input type="text" id="SearchTextField" style="height:25px;width:400px" onkeyup="SearchFilter()" /></td>
    <td>
        <img src="~/images/search.png" style="height:30px;width:30px" onclick="SearchFilter()" />
    </td> </tr>   
    <tr><td><input type="checkbox" id="-1" class="k-checkbox"
                   
                    @if (ViewBag.checkAll) { 
                       @:checked="checked"
                       }

                    onclick="getExistingRoles(this)"/><label class="k-checkbox-label" for="-1">@Resources.Resources.Add_All</label></td></tr>
    @foreach (var a in Model)
    {
        <tr class="Orgs">
            
            <td><input type="checkbox" id="@a.OrgId" class="k-checkbox"
                       @if (a.Status || ViewBag.checkAll) { 
                       @:checked="checked"
                       if (a.IsDisable || ViewBag.checkAll)
                       {
                         @:disabled="disabled"
                       }
                       }
                       /><label class="k-checkbox-label" for="@a.OrgId">@a.OrgName</label></td>
         
        </tr>
    }
</table>
<script>
    function SearchFilter() {

        var Searchstring = $("#SearchTextField").val();

        $("#OrgIds .Orgs").each(function () {

            if ($(this).find("label").text().toLowerCase().indexOf(Searchstring.toLowerCase()) == -1)
                $(this).hide();
            else
                $(this).show();
        });
    }
</script>