﻿<!--//
****************************************************
Page Created Date:  06/03/2013
Created By: Siva Bommisetty
Purpose:
Version: 1.0
****************************************************
-->
@using Resources;
@using FVGen3.Domain.Entities;

    <div class = "page-subtitle"> <h2>@Resources.SystemRoles_Title</h2> </div> 
    <div class="partialPage">
    @if (@ViewBag.listSystemRoles != null && @ViewBag.listSystemRoles.Count != 0)
    {
        foreach (var systemRole in (List<IGrouping<string, SystemRoles>>) @ViewBag.listSystemRoles)
        {
            <div class="contentSub">
            <table >
                <tr>
                    <td  colspan="2" class="page-subtitle" ><h3> @systemRole.Key </h3></td>
      	        </tr>

                @foreach (var localRole in systemRole.OrderBy(rec => rec.RoleName)) 
                {
                    var query = "AddOrEditPermissions" + QueryStringModule.Encrypt("orgType=" + @systemRole.Key + "&roleId=" + @localRole.RoleId + "&roleName=" + @localRole.RoleName);
                    <tr>
                        <td width="500px"> @localRole.RoleName </td>
                        <td width="230px">
                            <a href="@query">Permissions</a>                                
                        </td>
                        
                        <td width="230px">@if (@systemRole.Key == "Client")
                        {
                            <a href="#!" onclick="assignOrgRoles('@localRole.RoleId','@localRole.RoleName')">Select Org.</a> }
                        </td>
                       
                    </tr>
                }
                
            </table>
            </div>
        }
    }
    else
    {
        <div>
            @Resources.Common_NoRecords  
        </div>
    }
    </div>