﻿<!--//
****************************************************
Page Created Date:  05/18/2013
Created By: Siva Bommisetty
Purpose:
Version: 1.0
****************************************************
-->

@using Resources;

@model FVGen3.Domain.Entities.LocalEmailTemplateAttachments
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=8"/>
<meta http-equiv="X-UA-Compatible" content="IE=9"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width"/>
        
<title>@Resources.Add_Email_Attach </title>

@Styles.Render("~/css/appPopUp.css")
@Styles.Render("~/css/appInnerPages.css")
        
@Scripts.Render("~/Scripts/jquery-1.9.1.min.js")
       
</head>

<script type = "text/javascript">
    function closeWindow() {
        window.close();
    }

    // Kiran on 12/16/2014
    function checkFileSize(thisAsFile) {
        var file = thisAsFile.files[0];
        if (file.size > 5242880) {
            alert("@Resources.Common_FileSize_ErrorMessage");
            $(thisAsFile).val("");
            return false;
        }
    }
    // Ends<<<

</script>

<body>
    @using (Html.BeginForm("AddEmailAttachment", "EmailTemplates", FormMethod.Post, new { enctype = "multipart/form-data" }))
    { 
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.EmailTemplateID)

        <div class="contentSub">
            <div class="page-title">
                <h2> @Resources.EmailTemplatesAddNewAttachment </h2>
            </div>
           
            <div class="rowIST">
                <label>@Resources.EmailTemplatesSelectFile</label> 
                <input type="file"  name="file" id="file" data-val-required="required" data-val="true" onchange = "checkFileSize(this)"/> @*Kiran on 12/16/2014*@
                <div class = "alertStar"> @Html.ValidationMessageFor(model => Model.FileName) </div>
            </div>
            

            <div class="pageFooterContent"> 
                <div class="pageFooterButtons">
                    <table>
                        <tr>
                            <td>
                                <button type="submit" btnType="Update" class="PageFooter_Button">
                                    @Resources.Common_Save
                                </button>
                            </td>
                            <td btnType="Update">@Resources.Common_label_or</td>
                            <td>
                                <div class="pageFooterCancelButton">
                                    <a href="#" onclick="closeWindow()">@Resources.Common_Cancel</a>
                                </div>
                            </td>
                        </tr>	
                    </table> 
                </div>
            </div>

        </div>
    }
    
</body>
</html>
