﻿<!--//
****************************************************
Page Created Date:  05/02/2013
Created By: Siva Bommisetty
Purpose:
Version: 1.0
****************************************************
-->

@using FVGen3.Domain.Entities;
@using Resources

@model FVGen3.Domain.Entities.EmailTemplates
@{
    ViewBag.Title = Resources.EmailTemplates_AddEditTitle;

    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}

<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="description" content="Add or Edit Email Template"/>
    <meta name="viewport" content="width=device-width"/>

    @Scripts.Render("~/js/jquery.caret.min.js")

    <link rel="stylesheet" href="~/css/alertpopup.css" />
    <script src="~/js/alertpopup.js" type = "text/javascript"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Javascript/ckeditor/ckeditor.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Javascript/ckeditor/adapters/jquery.js")"></script>
</head>

<script type = "text/javascript">
    $(document).ready(function () {
        $(".bodyRichText").ckeditor(); // Kiran on 4/23/2014
        // For Roles and Permissions
        setPermissions('@ViewBag.ViewPermissions');
        // Ends<<<
        ShowHideMergeFields();
        $(".ExpandListButton").each(function () {
            //Invitation(this);
            //SectionClick(this);
        });
        
    });
    
    

    //Function for Pasting The Text
    function addDbParamStr(TextToBePasted, ControlOnWhichToBePasted) {
        //Get the position where to be paste
        var CaretPos = 0;
        // Kiran on 4/23/2014 for richtext editor
        if ($(ControlOnWhichToBePasted).attr("id") == "EmailBody")//If It is RichText Area
        {
            CKEDITOR.instances.EmailBody.insertText(TextToBePasted);
            return;
        }
        // IE Support
        if (document.selection) {

            ControlOnWhichToBePasted.focus();
            var range = getSelection(ControlOnWhichToBePasted);
            CaretPos = range.start;
            //var Sel = document.selection.createRange();
            //Sel.moveStart('character', -document.activeElement.value.length);
            //CaretPos = Sel.text.length;
        }
        // Firefox support
        else if (ControlOnWhichToBePasted.selectionStart || ControlOnWhichToBePasted.selectionStart == '0')
            CaretPos = ControlOnWhichToBePasted.selectionStart;

        //paste the text
        var WholeString = ControlOnWhichToBePasted.value;
        var txt1 = WholeString.substring(0, CaretPos);
        var txt2 = WholeString.substring(CaretPos, WholeString.length);
        WholeString = txt1 + TextToBePasted + txt2;
        var CaretPos = txt1.length + TextToBePasted.length;
        ControlOnWhichToBePasted.value = WholeString;

        //update The cursor position
        setCaretPosition(ControlOnWhichToBePasted, CaretPos);
    }

    //to get caret position in IE
    function getSelection(target) {
        var s = { start: 0, end: 0 };
        if (typeof target.selectionStart == "number"
        && typeof target.selectionEnd == "number") {
            // Firefox (and others)
            s.start = target.selectionStart;
            s.end = target.selectionEnd;
        } else if (document.selection) {
            // IE
            var bookmark = document.selection.createRange().getBookmark();
            var sel = target.createTextRange();
            var bfr = sel.duplicate();
            sel.moveToBookmark(bookmark);
            bfr.setEndPoint("EndToStart", sel);
            s.start = bfr.text.length;
            s.end = s.start + sel.text.length;
        }
        return s;
    }


    function setCaretPosition(ControlOnWhichToBePasted, pos) {
        if (ControlOnWhichToBePasted.setSelectionRange) {
            ControlOnWhichToBePasted.focus();
            ControlOnWhichToBePasted.setSelectionRange(pos, pos);
        }
        else if (ControlOnWhichToBePasted.createTextRange) {
            var range = ControlOnWhichToBePasted.createTextRange();
            range.collapse(true);
            range.moveEnd('character', pos);
            range.moveStart('character', pos);
            range.select();
        }
    }

    var winPop = false;
    function openAddAttachmentWindow(templateId) {
        if (winPop && !winPop.closed) {  //checks to see if window is open
            winPop.focus();
        }
        else {
            winPop = window.open("AddEmailAttachment?templateId=" + templateId, "_blank", "toolbar=no,  directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=yes, width=720, height=400");
        }
    }


    function updateAttachmentList(templateID, lastpageurl) {
        $.ajax({
            type: 'GET',
            url: 'EmailAttachmentsList',
            data: 'templateId=' + templateID,
            success: function (data) {
                if (data.indexOf("Session expired") >= 0) {
                    window.location = "../SystemUsers/Login?lastLoginPage=" + lastpageurl;
                }
                else {
                    $("#AttachmentList_Block_Id").html(data);
                }
            },
            error: function () {
                alert("@Resources.Common_unableToProcess");
                $("#AttachmentList_Block_Id").html("<html></html>");
            }
        });
    }

    function deleteAttacment(attachmentId, templateId) {

        var r = confirm('@Resources.EmailTemplatesDeleteAttachmentWarning');
        if (r == true) {
            $.ajax(
            {
                type: 'POST',
                url: 'DeleteEmailAttachment',
                data: 'attachmentId=' + attachmentId + '&templateId=' + templateId,
                success: function (data) {

                    if (data.indexOf("Session expired") >= 0) {
                        window.location = "../SystemUsers/Login?lastLoginPage=" + window.location;
                    }
                    else if (data == "DeleteSuccess") {
                        updateAttachmentList(templateId, "~/EmailTemplates/EmailTemplatesList");
                    }
                    else {
                        alert("@Resources.Common_unableToProcess" + data);
                    }
                },
                error: function () {
                    alert("@Resources.Common_unableToProcess");
                }
            });
        }

//        $("#confirm_delete_attach_alert").dialog(
//        {
//            dialogClass: "no-close",
//            resizable: false,
//            height: 110,
//            width: 400,
//            modal: false,
//            buttons: {
//                "Delete": function () {
//                    $(this).dialog("close");

//                    $.ajax(
//                    {
//                        type: 'POST',
//                        url: 'DeleteEmailAttachment',
//                        data: 'attachmentId=' + attachmentId + '&templateId=' + templateId,
//                        success: function (data) {

//                            if (data.indexOf("Session expired") >= 0) {
//                                window.location = "../SystemUsers/Login?lastLoginPage=" + window.location;
//                            }
//                            else if (data == "DeleteSuccess") {
//                                updateAttachmentList(templateId, "~/EmailTemplates/EmailTemplatesList");
//                            }
//                            else {
//                                alert("@Resources.Common_unableToProcess" + data);
//                            }
//                        },
//                        error: function () {
//                            alert("@Resources.Common_unableToProcess");
//                        }
//                    });
//                },
//                Cancel: function () {
//                    $(this).dialog("close");
//                }
//            }
//        });
    }

    function ShowHideMergeFields()
    {
        var clientId = $("#ClientOrganizationID").val();
        if (clientId != -2) {
            $.ajax({
                type: 'GET',
                url: '../AdminVendors/CheckIsERIClient',
                data: 'clientId=' + clientId,
                success: function (data) {
                    //alert(data);
                    if (data == "True") {
                        $("#InsuranceSuperSubject").show();
                        $("#InsuranceSubSubject").show();
                        $("#InsuranceSuperBody").show();
                        $("#InsuranceSubBody").show();
                        $("#ClientNameSubject").hide();
                        $("#ClientNameBody").hide();

                    }
                    else {
                        $("#InsuranceSuperSubject").hide();
                        $("#InsuranceSubSubject").hide();
                        $("#InsuranceSuperBody").hide();
                        $("#InsuranceSubBody").hide();
                        $("#ClientNameSubject").show();
                        $("#ClientNameBody").show();
                    }
                },
                error: function () {
                    alert("@Resources.Common_unableToProcess");                    
                }
            });
        }
        else {
            $("#InsuranceSuperSubject").show();
            $("#InsuranceSubSubject").show();
            $("#InsuranceSuperBody").show();
            $("#InsuranceSubBody").show();
            $("#ClientNameSubject").show();
            $("#ClientNameBody").show();
        }
    }
</script>

<body>
    <div id="confirm_delete_attach_alert" title="Delete Attachment" style = "display:none;">
        @Resources.EmailTemplatesDeleteAttachmentWarning
    </div>

    @using (Html.BeginForm("AddOrEditEmailTemplate", "EmailTemplates", FormMethod.Post, new { enctype = "multipart/form-data" }))
    { 
        @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.EmailTemplateID)
            
        <div class="contentSub">
            
            <div class="page-title">
                <h2>@Resources.AddTemplate_title</h2>
            </div>
            
            <div class="rowIST">
                <label class="enableStar">@Resources.ManageSites_Label_client</label>
                @Html.DropDownListFor(model => model.ClientOrganizationID, (IEnumerable<SelectListItem>)@ViewBag.VBclientList, new { @style="width:100% !important; height:44px;", @onchange="ShowHideMergeFields()"})
                <div class="alertStar"> @Html.ValidationMessageFor(model => model.ClientOrganizationID) </div>
            </div>

            <div class = "rowIST">
                <label class="enableStar">Template Name:</label>
                @Html.TextBoxFor(model => model.Name, new { @maxlength = "200" })
                <div class = "alertStar"> @Html.ValidationMessageFor(model => model.Name) </div>
            </div>
            
            <div  class="rowIST">
                <table>
                    <tr>
    <td>
        <strong  style="width:100%;float:left;">
            @Resources.AddTemplate_DatabaseFields

            <img src="../images/collapse.png" style="cursor: pointer;height:20px;width:20px;position: inherit;" class="ExpandListButton" onclick="SectionClick('SubjectFields1',this)" />
        </strong>
        <ul class="SubjectFields1 expands">
            <li>
                <a href="#!" onclick="addDbParamStr('[Date]',EmailSubject)">
                    @Resources.Common_Date
                </a>
            </li>
            <li>
                <a href="#!" onclick="addDbParamStr('[VendorName]',EmailSubject)">
                    @Resources.EmailTemplatesVendorName
                </a>
            </li>
            <li id="ClientNameSubject">
                <a href="#!" onclick="addDbParamStr('[ClientName]',EmailSubject)">
                    @Resources.EmailTemplatesClientName
                </a>
            </li>
            <li id="InsuranceSuperSubject">
                <a href="#!" onclick="addDbParamStr('[SuperClient]',EmailSubject)">
                    @Resources.Common_MergeField_SuperClient
                </a>
            </li>
            <li id="InsuranceSubSubject">
                <a href="#!" onclick="addDbParamStr('[SubClient]',EmailSubject)">
                    @Resources.Common_MergeField_SubClient
                </a>
            </li>
            <li>
                <a href="#!" onclick="addDbParamStr('[CustomerServicePhone]',EmailSubject)">
                    @Resources.EmailTemplatesCustomerServicePhone
                </a>
            </li>
            <li>
                <a href="#!" onclick="addDbParamStr('[CustomerServiceEmail]',EmailSubject)">
                    @Resources.EmailTemplatesCustomerServiceEmail
                </a>
            </li>
            <li>
                <a href="#!" onclick="addDbParamStr('[DocumentName]',EmailSubject)">
                    @Resources.EmailTemplate_DocumentName
                </a>
            </li>
            <li>
                <a href="#!" onclick="addDbParamStr('[ExpirationDate]',EmailSubject)">
                    @Resources.EmailTemplate_ExpirationDate
                </a>
            </li>
        </ul>
  
                      
                        
                          
                                <strong style="width:100%;float:left;">
                                    Invitation Fields
                                    <img src="../images/expandlist.png" style="cursor: pointer;height:20px;width:20px;position: inherit;" class="ExpandListButton" onclick="SectionClick('SubjectFields2',this)" />
                                </strong>
                                <ul class="SubjectFields2 expands" style="display:none">
                                    <li><a href="#!" onclick="addDbParamStr('[ClientName]', EmailSubject)">ClientName</a></li>
                                    <li><a href="#!" onclick="addDbParamStr('[Client_UserName]', EmailSubject)">Client_UserName   </a></li>
                                    <li><a href="#!" onclick="addDbParamStr('[URL]', EmailSubject)">URL</a></li>
                                    <li><a href="#!" onclick="addDbParamStr('[VendorName]', EmailSubject)">VendorName</a></li>
                                    <li><a href="#!" onclick="addDbParamStr('[Client_EmailAddress]', EmailSubject)">Client_EmailAddress </a></li>
                                    <li><a href="#!" onclick="addDbParamStr('[Location_Name]', EmailSubject)">Location_Name</a></li>
                                    <li><a href="#!" onclick="addDbParamStr('[Vendor_RiskLevel]', EmailSubject)">Vendor_RiskLevel</a></li>
                                    <li><a href="#!" onclick="addDbParamStr('[Client_Comments]', EmailSubject)">Client_Comments</a></li>
                                    <li><a href="#!" onclick="addDbParamStr('[Risk_LevelFee]', EmailSubject)">Risk_LevelFee</a></li>
                                    <li><a href="#!" onclick="addDbParamStr('[Vendor_FirstLastNames]', EmailSubject)">Vendor_FirstLastNames</a></li>

                                    <li><a href="#!" onclick="addDbParamStr('[Vendor_EmailAddress]', EmailSubject)">Vendor_EmailAddress</a></li>
                                    <li><a href="#!" onclick="addDbParamStr('[Invitation_Code]', EmailSubject)">Invitation_Code</a></li>
                                    <li><a href="#!" onclick="addDbParamStr('[Vendor_FirstName]', EmailSubject)">Vendor_FirstName</a></li>
                                    <li><a href="#!" onclick="addDbParamStr('[Vendor_LastName]', EmailSubject)">Vendor_LastName</a></li>
                                    @*<li><a href="#!" onclick="addDbParamStr('[Risk_LevelFee]', EmailSubject)">Risk_LevelFee</a></li>*@
                                    <li><a href="#!" onclick="addDbParamStr('[Client_Code]', EmailSubject)">Client_Code</a></li>
                                    <li><a href="#!" onclick="addDbParamStr('[Date]', EmailSubject)">Date</a></li>
                                    <li><a href="#!" onclick="addDbParamStr('[SuperClient_Name]', EmailSubject)">SuperClient_Name</a></li>
                                </ul>
                            </td>
                         
        <td>
            <div class="rowIST">
                <label class="enableStar"> @Resources.EmailTemplatesSubject</label>
                @Html.TextBoxFor(model => model.EmailSubject, new { @maxlength = "1000" })
                <div class="alertStar"> @Html.ValidationMessageFor(model => model.EmailSubject) </div>
            </div>
        </td>
                </tr>
                </table>
            </div>
            
           <div  class="rowIST">
                <table>
                    <tr>
                        <td valign = "top">
                            <strong style="width:100%;float:left;">@Resources.AddTemplate_DatabaseFields
                                <img src="../images/collapse.png" style="cursor: pointer;height:20px;width:20px;position: inherit;" class="ExpandListButton" onclick="SectionClick('BodyField1', this)" />
                          </strong>
                            <ul class="BodyField1 expands">
                                <li><a href="#!" onclick="addDbParamStr('[Date]',EmailBody)">
                                    @Resources.Common_Date
                                </a></li>
                                <li><a href="#!" onclick="addDbParamStr('[VendorName]',EmailBody)">
                                    @Resources.EmailTemplatesVendorName
                                </a></li>
                                <li id="ClientNameBody"><a href="#!" onclick="addDbParamStr('[ClientName]',EmailBody)">
                                    @Resources.EmailTemplatesClientName
                                </a></li>
                                <li id="InsuranceSuperBody">
                                    <a href="#!" onclick="addDbParamStr('[SuperClient]', EmailBody)">
                                        @Resources.Common_MergeField_SuperClient
                                    </a>
                                </li>
                                <li id="InsuranceSubBody">
                                    <a href="#!" onclick="addDbParamStr('[SubClient]', EmailBody)">
                                        @Resources.Common_MergeField_SubClient
                                    </a>
                                </li>
                                <li><a href="#!" onclick="addDbParamStr('[CustomerServicePhone]',EmailBody)">
                                    @Resources.EmailTemplatesCustomerServicePhone
                                </a></li>
                                <li><a href="#!" onclick="addDbParamStr('[CustomerServiceEmail]',EmailBody)">
                                    @Resources.EmailTemplatesCustomerServiceEmail
                                </a></li>
                                <li><a href="#!" onclick="addDbParamStr('[DocumentName]',EmailBody)">
                                    @Resources.EmailTemplate_DocumentName
                                </a></li>
                                <li><a href="#!" onclick="addDbParamStr('[ExpirationDate]',EmailBody)">
                                    @Resources.EmailTemplate_ExpirationDate
                                </a></li>
                                <li>
                                    <a href="#!" onclick="addDbParamStr('[ReviewApprovalLink]', EmailBody)">
                                        @Resources.ReviewApprovalLink
                                    </a>
                                </li>
                            </ul>
                      
                            <strong style="width:100%;float:left;">
                                Invitation Fields
                                <img src="../images/expandlist.png" style="cursor: pointer;height:20px;width:20px;position: inherit;" class="ExpandListButton" onclick="SectionClick('BodyField2', this)" />
                            </strong>
                            <ul class="BodyField2 expands" style="display:none">
                                <li><a href="#!" onclick="addDbParamStr('[ClientName]',EmailBody)">ClientName</a></li>
                                <li><a href="#!" onclick="addDbParamStr('[Client_UserName]', EmailBody)">Client_UserName</a></li>
                                <li><a href="#!" onclick="addDbParamStr('[URL]',EmailBody)">URL</a></li>
                                <li><a href="#!" onclick="addDbParamStr('[VendorName]',EmailBody)">VendorName</a></li>
                                <li><a href="#!" onclick="addDbParamStr('[Client_EmailAddress]',EmailBody)">Client_EmailAddress </a></li>
                                <li><a href="#!" onclick="addDbParamStr('[Location_Name]',EmailBody)">Location_Name</a></li>
                                <li><a href="#!" onclick="addDbParamStr('[Vendor_RiskLevel]',EmailBody)">Vendor_RiskLevel</a></li>
                                <li><a href="#!" onclick="addDbParamStr('[Client_Comments]',EmailBody)">Client_Comments</a></li>
                                <li><a href="#!" onclick="addDbParamStr('[Risk_LevelFee]',EmailBody)">Risk_LevelFee</a></li>
                                <li><a href="#!" onclick="addDbParamStr('[Vendor_FirstLastNames]',EmailBody)">Vendor_FirstLastNames</a></li>

                                <li><a href="#!" onclick="addDbParamStr('[Vendor_EmailAddress]',EmailBody)">Vendor_EmailAddress</a></li>
                                <li><a href="#!" onclick="addDbParamStr('[Invitation_Code]',EmailBody)">Invitation_Code</a></li>
                                <li><a href="#!" onclick="addDbParamStr('[Vendor_FirstName]',EmailBody)">Vendor_FirstName</a></li>
                                <li><a href="#!" onclick="addDbParamStr('[Vendor_LastName]',EmailBody)">Vendor_LastName</a></li>
                                @*<li><a href="#!" onclick="addDbParamStr('[Risk_LevelFee]',EmailBody)">Risk_LevelFee</a></li>*@
                                <li><a href="#!" onclick="addDbParamStr('[Client_Code]',EmailBody)">Client_Code</a></li>
                                <li><a href="#!" onclick="addDbParamStr('[Date]',EmailBody)">Date</a></li>
                                <li><a href="#!" onclick="addDbParamStr('[SuperClient_Name]',EmailBody)">SuperClient_Name</a></li>
                            </ul>
                        </td>
                       
                        <td>
                            <table>
                                <tr>
                                    <td> 
                                        <label class="enableStar">
                                            @Resources.EmailTemplatesEmailBody
                                        </label> 
                                    </td>
                                </tr>
                                <tr>
                                    <td> 
                                    @*Kiran on 4/23/2014*@
                                        @*@Html.TextAreaFor(model => model.EmailBody, new { @maxlength = "3000" }) *@
                                        <textarea id="EmailBody" name="EmailBody" class="bodyRichText">
                                            @Html.Raw(Model.EmailBody)
                                        </textarea>
                                     @*Ends<<<*@
                                    </td>                                    
                                </tr>
                                <tr>
                                    <td> 
                                        <div class = "alertStar" id ="EmailErr"> @Html.ValidationMessageFor(model => model.EmailBody) </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                </table>
           </div>
            
          
            @*//List of attachments...*@
            @if (Model.EmailTemplateID > 0)
            {
                <div  >
                
                    @*//Partial view*@
                    <div id = "AttachmentList_Block_Id">
                        <script type = "text/javascript">
                            updateAttachmentList('@Model.EmailTemplateID');
                        </script>
                     </div>
                     <div class = "rowIST">
                        <div style = "float:right;">
                            <button type="button" btnType="Insert" onclick="openAddAttachmentWindow('@Model.EmailTemplateID')">
                                @Resources.Common_AddNew
                            </button>
                        </div>
                     </div>
                </div>
            }
            
            
            <div class="rowIST">
                <label >@Resources.Common_Label_Comment<br /><br />@Resources.EmailTemplatesCommentSubStr</label>                              @Html.TextAreaFor(model => model.CommentText, new { @maxlength = "2000" }) 
            </div>
@*
            <div class="rowIST">
                <table style = "width:709px;margin-left:10px;">
                    <tr>
                        <td>
                            <label>@Resources.EmailTemplatesComment</label>
                            <label>@Resources.EmailTemplatesCommentSubStr</label>
                        </td>
                        <td> @Html.TextAreaFor(model => model.CommentText, new { @maxlength = "2000" })</td> 
                    </tr>
                </table>
            </div>
*@
        </div>
            
        <div class="contentSub">
            <div class="pageFooterContent"> 
                <div class="PageFooter_Buttons">
                    <table>
                        <tr>
                            @if (@Model.EmailTemplateID > 0)
                            {
                                <td>
                                    <button type="submit" btnType = "Update"  class="PageFooter_Button">
                                        @Resources.Common_Save
                                    </button>
                                </td>
                                <td btnType = "Update">@Resources.Common_label_or</td>
                            }
                            else
                            {
                                <td>
                                    <button type="submit" btnType = "Insert" class="PageFooter_Button">
                                        @Resources.Common_Save
                                    </button>
                                </td>
                                <td btnType = "Insert">@Resources.Common_label_or</td>
                            }

                            <td>
                                <div class="pageFooterCancelButton">
                                    @Html.ActionLink(Resources.Common_Cancel, "EmailTemplatesList")
                                </div>
                            </td>
                        </tr>	
                    </table> 
                </div>
            </div>
        </div>
    }

    
</body>
</html>
<script>
    function SectionClick(src,obj) {
     
        $(obj).closest("td").find(".expands").hide();

        $('.' + src).show();
        $(obj).closest("td").find("img").attr("src", "../images/expandlist.png");
        $(obj).attr("src", "../images/collapse.png");
      };
    //function Invitation(obj) {
    //    debugger;
    //    $(obj).parents('div').find('ul').toggle();
    //    if ($(obj).attr("src").indexOf("expandlist.png") != -1) {
    //        $(obj).attr("src", "../images/collapse.png");
    //    }
    //    else {
    //        $(obj).attr("src", "../images/expandlist.png");
    //    }
    //};
</script>