﻿<!--//
****************************************************
Page Created Date:  06/03/2013
Created By: Siva Bommisetty
Purpose:
Version: 1.0
****************************************************
-->
@using Resources;

<div class="partialPage">
    <div class = "page-subtitle"><h2>@Resources.EmailTemplatesAttachments</h2>
    </div>

    @if (@ViewBag.attachmentList != null && @ViewBag.attachmentList.Count != 0)
    {
        <table>
            @foreach (var attachment in @ViewBag.attachmentList)
            {
                <tr>
                    <td>
                        <label>  
                            <a href="#!" onclick="window.open('Download?fileName=@HttpUtility.UrlEncode(@attachment.FileName)&templateId=@attachment.TemplateID&attachmentId=@attachment.AttachmentId')">
                                @attachment.FileName
                            </a>
                        </label>
                    </td>
                    <td align = "right">                        
                        <img class="imgCursor" src="~/images/DelButton.png" btnType="Delete" onclick = "deleteAttacment('@attachment.AttachmentId', '@attachment.TemplateID')"/>                        
                    </td>
                </tr>
           
            }
         </table>
    }
    else
    {
        <table>
            <tr>
                <td>
                    <div class="commentsItalic">
                        @Resources.Common_NoRecords
                    </div>
                </td>
            </tr>
        </table>
    }

  </div>
