﻿<!--//
****************************************************
Page Created Date:  05/11/2013
Created By: Siva Bommisetty
Purpose:
Version: 1.0
****************************************************
-->


@using FVGen3.Domain.Entities;
@using Resources;

@model IEnumerable<FVGen3.Domain.Entities.EmailTemplates>
@{
    ViewBag.Title = Resources.EmailTemplates_Title;

    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}

<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta name="description" content="Client Dashboard - First, Verify"/>
        <meta name="viewport" content="width=device-width"/>
    </head>
<script type="text/javascript" src="@Url.Content("~/Content/Javascript/ckeditor/ckeditor.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/Javascript/ckeditor/adapters/jquery.js")"></script>
    <script type = "text/javascript">
        var CurrentEmailTemplateId = '';
        // For Roles and Permissions
        $(document).ready(function () {
            setPermissions('@ViewBag.ViewPermissions');
            $(".bodyRichText").kendoEditor({ resizable: {
                content: true,
                toolbar: true
            }
            });
            
            $('.invitationfields').hide();
        });
        // Ends<<< 
        function addDbParamStr(TextToBePasted, ControlOnWhichToBePasted) {
            //Get the position where to be paste
            var CaretPos = 0;
            // Kiran on 4/23/2014 for richtext editor
            if ($(ControlOnWhichToBePasted).attr("id") == "EmailBody")//If It is RichText Area
            {
                $('.bodyRichText').data('kendoEditor').exec("insertHtml", { html: TextToBePasted, split: false });
                return;
            }
            // IE Support
            if (document.selection) {

                ControlOnWhichToBePasted.focus();
                var range = getSelection(ControlOnWhichToBePasted);
                CaretPos = range.start;
                //var Sel = document.selection.createRange();
                //Sel.moveStart('character', -document.activeElement.value.length);
                //CaretPos = Sel.text.length;
            }
                // Firefox support
            else if (ControlOnWhichToBePasted.selectionStart || ControlOnWhichToBePasted.selectionStart == '0')
                CaretPos = ControlOnWhichToBePasted.selectionStart;

            //paste the text
            var WholeString = ControlOnWhichToBePasted.value;
            var txt1 = WholeString.substring(0, CaretPos);
            var txt2 = WholeString.substring(CaretPos, WholeString.length);
            WholeString = txt1 + TextToBePasted + txt2;
            var CaretPos = txt1.length + TextToBePasted.length;
            ControlOnWhichToBePasted.value = WholeString;

            //update The cursor position
            setCaretPosition(ControlOnWhichToBePasted, CaretPos);
        }

        //to get caret position in IE
        function getSelection(target) {
            var s = { start: 0, end: 0 };
            if (typeof target.selectionStart == "number"
            && typeof target.selectionEnd == "number") {
                // Firefox (and others)
                s.start = target.selectionStart;
                s.end = target.selectionEnd;
            } else if (document.selection) {
                // IE
                var bookmark = document.selection.createRange().getBookmark();
                var sel = target.createTextRange();
                var bfr = sel.duplicate();
                sel.moveToBookmark(bookmark);
                bfr.setEndPoint("EndToStart", sel);
                s.start = bfr.text.length;
                s.end = s.start + sel.text.length;
            }
            return s;
        }


        function setCaretPosition(ControlOnWhichToBePasted, pos) {
            if (ControlOnWhichToBePasted.setSelectionRange) {
                ControlOnWhichToBePasted.focus();
                ControlOnWhichToBePasted.setSelectionRange(pos, pos);
            }
            else if (ControlOnWhichToBePasted.createTextRange) {
                var range = ControlOnWhichToBePasted.createTextRange();
                range.collapse(true);
                range.moveEnd('character', pos);
                range.moveStart('character', pos);
                range.select();
            }
        }

        function deleteTemplate(templateId) {
            var r = confirm("@Resources.EmailTemplatesDeleteWarning");
            if (r == true) 
            {
                window.location = "../EmailTemplates/deleteTemplate?templateId=" + templateId;
            }
        }
        function onOpen(e) { 
            resetData();
            GetEmailData();
        }
        function OpenLanguageWindow(id, name) {
            ShowHideMergeFields(id);
            CurrentEmailTemplateId = id;
            $("#languageSetup").kendoWindow({
                width: "800px",
                height:"600px",
                title: name,
                visible: false,
                actions: [
                    "Minimize",
                    "Maximize",
                    "Close"
                ],
                open: onOpen
                //,
                //onchange:GetEmailData
            }).data("kendoWindow").center().open();
            
        }
      
        function ShowHideMergeFields(id) {
            //var clientId = $("#ClientOrganizationID").val();
            //if (clientId != -2) {
                $.ajax({
                    type: 'GET',
                    url: '../AdminVendors/CheckIsERIClientBasedOnEmailTemplate',
                    data: 'emailTemplateId=' + id,
                    success: function (data) {
                        //alert(data);
                        if (data == "" || data == null) {
                            $("#InsuranceSuperSubject").show();
                            $("#InsuranceSubSubject").show();
                            $("#InsuranceSuperBody").show();
                            $("#InsuranceSubBody").show();
                            $("#ClientNameSubject").show();
                            $("#ClientNameBody").show();
                        }
                        else {
                            if (data == "True") {
                                $("#InsuranceSuperSubject").show();
                                $("#InsuranceSubSubject").show();
                                $("#InsuranceSuperBody").show();
                                $("#InsuranceSubBody").show();
                                $("#ClientNameSubject").hide();
                                $("#ClientNameBody").hide();

                            }
                            else {
                                $("#InsuranceSuperSubject").hide();
                                $("#InsuranceSubSubject").hide();
                                $("#InsuranceSuperBody").hide();
                                $("#InsuranceSubBody").hide();
                                $("#ClientNameSubject").show();
                                $("#ClientNameBody").show();
                            }
                        }
                    },
                    error: function () {
                        alert("@Resources.Common_unableToProcess");
                    }
                });
            //}
            //else {
            //    $("#InsuranceSuperSubject").show();
            //    $("#InsuranceSubSubject").show();
            //    $("#InsuranceSuperBody").show();
            //    $("#InsuranceSubBody").show();
            //    $("#ClientNameSubject").show();
            //    $("#ClientNameBody").show();
            //}
        }
   </script>
<script>
    function SectionClick(src, obj) {

        $(obj).closest("td").find(".expands").hide();

        $('.' + src).show();
        $(obj).closest("td").find("img").attr("src", "../images/expandlist.png");
        $(obj).attr("src", "../images/collapse.png");
    };
    function Invitation(obj) {
        debugger;
        $(obj).parents('div').find('.invitationfields').toggle();
        if ($(obj).attr("src").indexOf("expandlist.png") != -1) {
            $(obj).attr("src", "../images/collapse.png");
        }
        else {
            $(obj).attr("src", "../images/expandlist.png");
        }
    };
</script>
    <body>
        @if (@ViewBag.messageType == null || @ViewBag.messageType == 0)
        {
            //Do nothing
        }
        else if (@ViewBag.messageType == 1)
        {
            <div>
            <p class="successMessage">@Resources.Common_ChangesSavedSuccessMsg </p>
            </div>
        }
        else if (@ViewBag.messageType == 2)
        {
            <div>
            <p class="errorMessage">@Resources.EmailTemplates_CannotDeleteTemplate </p>
            </div>
        }

        
        <div class="contentSub">
             
            <table width="694" border="0">
                <tr>
                    <td class="page-title">
                        <h2> @Resources.EmailTemplates_Title </h2>
                    </td>
                    <td align="right" valign="top">
                        <button type="button" btnType="Insert" onclick="document.location = '@Url.Action("AddOrEditEmailTemplate", "EmailTemplates", new { templateId = -1 })';">
                            @Resources.Common_AddNew
                        </button>
                    </td>
                </tr>
            </table>
            
            <div class="partialPage">
                @if (Model.Count() > 0)
                {
                    <table width="100%">
                        @foreach (var template in Model)
                        {
                            <tr>
                                @if (!string.IsNullOrEmpty(@template.Name))
                                {
                                    var query = "AddOrEditEmailTemplate" + QueryStringModule.Encrypt("templateId=" + @template.EmailTemplateID);
                                    <td width="60%"> 
                                        <a href="@query">@template.Name</a>
                                        
                                    </td>
                                    <td width="30%">
                                        <a href="#!" onclick="OpenLanguageWindow('@template.EmailTemplateID','@template.Name')">Setup language content</a>
                                    </td>
                                    <td width="10%">
                                        <img class="imgCursor" src="~/images/DelButton.png" btnType="Delete" onclick = "deleteTemplate(@template.EmailTemplateID)"/>
                                    </td>
                                }
                            </tr>
                        }
                    </table>
                }
                else
                {
                    <div  class="commentsItalic">
                        @Resources.Common_NoRecords  
                    </div>
                }
            </div>
            
        </div>
    </body>

    <div style="display:none" id="languageSetup">
       @using (Html.BeginForm("SaveEmailData", "EmailTemplates", FormMethod.Post,new { id="Form"}))
       {
        <div class="rowIST">
            <table>
                <tr>
                    <td><input type="hidden" id="EmailTemplateID" name="EmailTemplateID"></td>
                    <td><strong><label>@Resources.Common_Label_Language</label></strong></td>
                    <td style="padding-right:210px;">
                        @Html.DropDownList("LanguageId", (IEnumerable<SelectListItem>)@ViewBag.Languages, new { @onchange = "GetEmailData()",@style="width:40%" }
                   )
                    </td>
                </tr>
            </table>

            </div>
            <div class="rowIST">
                <table>
                    <tr>
                        <td width="240">
                            <strong style="width:100%;float:left;">
                                @Resources.AddTemplate_DatabaseFields

                                <img src="../images/collapse.png" style="cursor: pointer;height:20px;width:20px;position: inherit;" class="ExpandListButton" onclick="SectionClick('SubjectFields1',this)" />
                            </strong>
                            <ul class="SubjectFields1 expands">
                                <li>
                                    <a href="#!" onclick="addDbParamStr('[Date]',EmailSubject)">
                                        @Resources.Common_Date
                                    </a>
                                </li>
                                <li>
                                    <a href="#!" onclick="addDbParamStr('[VendorName]',EmailSubject)">
                                        @Resources.EmailTemplatesVendorName
                                    </a>
                                </li>
                                <li id="ClientNameSubject">
                                    <a href="#!" onclick="addDbParamStr('[ClientName]',EmailSubject)">
                                        @Resources.EmailTemplatesClientName
                                    </a>
                                </li>
                                <li id="InsuranceSuperSubject">
                                    <a href="#!" onclick="addDbParamStr('[SuperClient]',EmailSubject)">
                                        @Resources.Common_MergeField_SuperClient
                                    </a>
                                </li>
                                <li id="InsuranceSubSubject">
                                    <a href="#!" onclick="addDbParamStr('[SubClient]',EmailSubject)">
                                        @Resources.Common_MergeField_SubClient
                                    </a>
                                </li>
                                <li>
                                    <a href="#!" onclick="addDbParamStr('[CustomerServicePhone]',EmailSubject)">
                                        @Resources.EmailTemplatesCustomerServicePhone
                                    </a>
                                </li>
                                <li>
                                    <a href="#!" onclick="addDbParamStr('[CustomerServiceEmail]',EmailSubject)">
                                        @Resources.EmailTemplatesCustomerServiceEmail
                                    </a>
                                </li>
                                <li>
                                    <a href="#!" onclick="addDbParamStr('[DocumentName]',EmailSubject)">
                                        @Resources.EmailTemplate_DocumentName
                                    </a>
                                </li>
                                <li>
                                    <a href="#!" onclick="addDbParamStr('[ExpirationDate]',EmailSubject)">
                                        @Resources.EmailTemplate_ExpirationDate
                                    </a>
                                </li>
                            </ul>

                            <strong style="width:100%;float:left;">
                                Invitation Fields
                                <img src="../images/expandlist.png" style="cursor: pointer;height:20px;width:20px;position: inherit;" class="ExpandListButton" onclick="SectionClick('SubjectFields2',this)" />
                            </strong>
                            <ul class="SubjectFields2 expands" style="display:none">
                                <li><a href="#!" onclick="addDbParamStr('[ClientName]', EmailSubject)">ClientName</a></li>
                                <li><a href="#!" onclick="addDbParamStr('[Client_UserName]', EmailSubject)">Client_UserName   </a></li>
                                <li><a href="#!" onclick="addDbParamStr('[URL]', EmailSubject)">URL</a></li>
                                <li><a href="#!" onclick="addDbParamStr('[VendorName]', EmailSubject)">VendorName</a></li>
                                <li><a href="#!" onclick="addDbParamStr('[Client_EmailAddress]', EmailSubject)">Client_EmailAddress </a></li>
                                <li><a href="#!" onclick="addDbParamStr('[Location_Name]', EmailSubject)">Location_Name</a></li>
                                <li><a href="#!" onclick="addDbParamStr('[Vendor_RiskLevel]', EmailSubject)">Vendor_RiskLevel</a></li>
                                <li><a href="#!" onclick="addDbParamStr('[Client_Comments]', EmailSubject)">Client_Comments</a></li>
                                <li><a href="#!" onclick="addDbParamStr('[Risk_LevelFee]', EmailSubject)">Risk_LevelFee</a></li>
                                <li><a href="#!" onclick="addDbParamStr('[Vendor_FirstLastNames]', EmailSubject)">Vendor_FirstLastNames</a></li>

                                <li><a href="#!" onclick="addDbParamStr('[Vendor_EmailAddress]', EmailSubject)">Vendor_EmailAddress</a></li>
                                <li><a href="#!" onclick="addDbParamStr('[Invitation_Code]', EmailSubject)">Invitation_Code</a></li>
                                <li><a href="#!" onclick="addDbParamStr('[Vendor_FirstName]', EmailSubject)">Vendor_FirstName</a></li>
                                <li><a href="#!" onclick="addDbParamStr('[Vendor_LastName]', EmailSubject)">Vendor_LastName</a></li>
                                @*<li><a href="#!" onclick="addDbParamStr('[Risk_LevelFee]', EmailSubject)">Risk_LevelFee</a></li>*@
                                <li><a href="#!" onclick="addDbParamStr('[Client_Code]', EmailSubject)">Client_Code</a></li>
                                <li><a href="#!" onclick="addDbParamStr('[Date]', EmailSubject)">Date</a></li>
                                <li><a href="#!" onclick="addDbParamStr('[SuperClient_Name]', EmailSubject)">SuperClient_Name</a></li>
                            </ul>
                      
                        <td>
                            <div class="rowIST">
                                <label class="enableStar"> @Resources.EmailTemplatesSubject</label>
                            
                                <input type="text" required id="EmailSubject" name="EmailSubject"/>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="rowIST">
                <table>
                    <tr>
                        <td valign="top">
                            <strong style="width:100%;float:left;">
                                @Resources.AddTemplate_DatabaseFields
                                <img src="../images/collapse.png" style="cursor: pointer;height:20px;width:20px;position: inherit;" class="ExpandListButton" onclick="SectionClick('BodyField1', this)" />
                            </strong>
                            <ul class="BodyField1 expands">
                                <li>
                                    <a href="#!" onclick="addDbParamStr('[Date]',EmailBody)">
                                        @Resources.Common_Date
                                    </a>
                                </li>
                                <li>
                                    <a href="#!" onclick="addDbParamStr('[VendorName]',EmailBody)">
                                        @Resources.EmailTemplatesVendorName
                                    </a>
                                </li>
                                <li id="ClientNameBody">
                                    <a href="#!" onclick="addDbParamStr('[ClientName]',EmailBody)">
                                        @Resources.EmailTemplatesClientName
                                    </a>
                                </li>
                                <li id="InsuranceSuperBody">
                                    <a href="#!" onclick="addDbParamStr('[SuperClient]', EmailBody)">
                                        @Resources.Common_MergeField_SuperClient
                                    </a>
                                </li>
                                <li id="InsuranceSubBody">
                                    <a href="#!" onclick="addDbParamStr('[SubClient]', EmailBody)">
                                        @Resources.Common_MergeField_SubClient
                                    </a>
                                </li>
                                <li>
                                    <a href="#!" onclick="addDbParamStr('[CustomerServicePhone]',EmailBody)">
                                        @Resources.EmailTemplatesCustomerServicePhone
                                    </a>
                                </li>
                                <li>
                                    <a href="#!" onclick="addDbParamStr('[CustomerServiceEmail]',EmailBody)">
                                        @Resources.EmailTemplatesCustomerServiceEmail
                                    </a>
                                </li>
                                <li>
                                    <a href="#!" onclick="addDbParamStr('[DocumentName]',EmailBody)">
                                        @Resources.EmailTemplate_DocumentName
                                    </a>
                                </li>
                                <li>
                                    <a href="#!" onclick="addDbParamStr('[ExpirationDate]',EmailBody)">
                                        @Resources.EmailTemplate_ExpirationDate
                                    </a>
                                </li>
                                <li>
                                    <a href="#!" onclick="addDbParamStr('[ReviewApprovalLink]', EmailBody)">
                                        @Resources.ReviewApprovalLink
                                    </a>
                                </li>
                            </ul>


                            <strong style="width:100%;float:left;">
                                Invitation Fields
                                <img src="../images/expandlist.png" style="cursor: pointer;height:20px;width:20px;position: inherit;" class="ExpandListButton" onclick="SectionClick('BodyField2', this)" />
                            </strong>
                            <ul class="BodyField2 expands" style="display:none">
                                <li><a href="#!" onclick="addDbParamStr('[ClientName]',EmailBody)">ClientName</a></li>
                                <li><a href="#!" onclick="addDbParamStr('[Client_UserName]', EmailBody)">Client_UserName</a></li>
                                <li><a href="#!" onclick="addDbParamStr('[URL]',EmailBody)">URL</a></li>
                                <li><a href="#!" onclick="addDbParamStr('[VendorName]',EmailBody)">VendorName</a></li>
                                <li><a href="#!" onclick="addDbParamStr('[Client_EmailAddress]',EmailBody)">Client_EmailAddress </a></li>
                                <li><a href="#!" onclick="addDbParamStr('[Location_Name]',EmailBody)">Location_Name</a></li>
                                <li><a href="#!" onclick="addDbParamStr('[Vendor_RiskLevel]',EmailBody)">Vendor_RiskLevel</a></li>
                                <li><a href="#!" onclick="addDbParamStr('[Client_Comments]',EmailBody)">Client_Comments</a></li>
                                <li><a href="#!" onclick="addDbParamStr('[Risk_LevelFee]',EmailBody)">Risk_LevelFee</a></li>
                                <li><a href="#!" onclick="addDbParamStr('[Vendor_FirstLastNames]',EmailBody)">Vendor_FirstLastNames</a></li>

                                <li><a href="#!" onclick="addDbParamStr('[Vendor_EmailAddress]',EmailBody)">Vendor_EmailAddress</a></li>
                                <li><a href="#!" onclick="addDbParamStr('[Invitation_Code]',EmailBody)">Invitation_Code</a></li>
                                <li><a href="#!" onclick="addDbParamStr('[Vendor_FirstName]',EmailBody)">Vendor_FirstName</a></li>
                                <li><a href="#!" onclick="addDbParamStr('[Vendor_LastName]',EmailBody)">Vendor_LastName</a></li>
                                @*<li><a href="#!" onclick="addDbParamStr('[Risk_LevelFee]',EmailBody)">Risk_LevelFee</a></li>*@
                                <li><a href="#!" onclick="addDbParamStr('[Client_Code]',EmailBody)">Client_Code</a></li>
                                <li><a href="#!" onclick="addDbParamStr('[Date]',EmailBody)">Date</a></li>
                                <li><a href="#!" onclick="addDbParamStr('[SuperClient_Name]',EmailBody)">SuperClient_Name</a></li>
                            </ul>

                        </td>
                    <td>
                        <table>
                            <tr>
                                <td>
                                    <label class="enableStar">
                                        @Resources.EmailTemplatesEmailBody
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @*Kiran on 4/23/2014*@
                                    @*@Html.TextAreaFor(model => model.EmailBody, new { @maxlength = "3000" }) *@
                                    <textarea id="EmailBody" required name="EmailBody" class="bodyRichText"></textarea>
                                    @*Ends<<<*@
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                            </tr>
                        </table>
                    </td>
                </tr>

                </table>
            </div>
            <div class="rowIST">
                <label>@Resources.Common_Label_Comment<br /><br />@Resources.EmailTemplatesCommentSubStr</label>                              
                <textarea name="CommentText" maxlength="2000" id="CommentText" cols="2" rows="4">

                </textarea>
            </div>
        @*<div class="window-footer">*@
            <div class="pageFooterButtons">
                <table>
                    <tr>
                        <td><button type="button" class="pageFooterButton" style="margin-left:550px;"onclick="SaveEmailData()">@Resources.Common_Save</button></td>
                       
                        <td><div class="PageFooter_CancleBtn"><a href="#!" onclick="window.close();">@Resources.Common_Cancel</a></div></td>
                    </tr>
                </table>
            </div>
            
             @*<button type="submit" class="k-primary k-button" style="float:right;" >@Resources.Common_Save </button>
            <button type="button" class="k-primary k-button" onclick="window.close();">@Resources.Common_Cancel </button>*@
        @*</div>*@
      }  </div>
</html>

<script>

    function close()
    {
        $("#languageSetup").data("kendoWindow").close();
    }
    function decodeEntities(encodedString) {
        var textArea = document.createElement('textarea');
        textArea.innerHTML = encodedString;
        return textArea.value;
        
    }

    function GetEmailData() {
     
      var CurrentTemplateId = CurrentEmailTemplateId;
      var LanguageID = $('#LanguageId').val();
      $('#EmailTemplateID').val(parseInt(CurrentTemplateId));
      $.post("/EmailTemplates/GetEmailData", { EmailTemplateId: CurrentTemplateId, LanguageID: LanguageID }, function (data) {
          $('#EmailSubject').val(data.EmailSubject);          
          $(".bodyRichText").data("kendoEditor").value(decodeEntities(data.EmailBody));
          $("#CommentText").val(data.CommentText);
          if (LanguageID == '0') {
              debugger;
              var lids = data.SelectedLanguageIds.split(',');
              $('#LanguageId > option').each(function () {
                  if (lids.indexOf($(this).val())!=-1)
                      //alert($(this).attr('style', 'background:lightgreen') + ' ' + $(this).val());
                      $(this).attr('style', 'background:lightgreen');
                  else {
                      $(this).attr('style', 'background:none')
                  }
              });
              
          }
      });

    }
    function resetData() {
        $("#LanguageId").val(0);
        $('#EmailSubject').val('');
        $(".bodyRichText").data("kendoEditor").value('');
        $("#CommentText").val('');
    }
    function SaveEmailData()
    {
        var Form=  $('#Form').serialize();
        var CurrentTemplateId = CurrentEmailTemplateId;
        var LanguageID = $('#LanguageId').val();
        var EmailTemplateId = $('#EmailTemplateID').val(parseInt(CurrentTemplateId));
        var EmailSubject = $('#EmailSubject').val();
        var EmailBody = $(".bodyRichText").data("kendoEditor").value();
        if ($('#EmailSubject').val() == "" || $(".bodyRichText").data("kendoEditor").value() == "") {
            alert("please Fill Mandatory Fields");
            return;

        }
        //if ($(".bodyRichText").data("kendoEditor").value().length > 5000) {
        //    alert("Email Body Can't Exceed 4000 Characters");
        //    return;
        //}
        $.post("/EmailTemplates/SaveEmailData", Form, function (data) {
            $("#languageSetup").data("kendoWindow").close();
            window.close();
        });


    }
    //$(document).ready(function () {
    //    $("form").submit(function (e) {
    //        debugger;
          
    //    });
    //});
   
    
    </script>