﻿
<!--//
****************************************************
Page Created Date:  06/03/2013
Created By: Siva Bommisetty
Purpose:
Version: 1.0
****************************************************
-->
@using Resources;

@model FVGen3.Domain.Entities.LocalEmailTemplateAttachments
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>@Resources.Email_Upload_View_Heading</title>
    <meta name="description" content="Client Dashboard - First, Verify"/>
    <meta name="viewport" content="width=device-width"/>
    
    @Styles.Render("~/css/appPopUp.css")
    @Styles.Render("~/css/appInnerPages.css")

</head>

<script type = "text/javascript">
    window.onload = function () {
        parent.window.close();
        window.opener.updateAttachmentList('@Model.EmailTemplateID');
    }
</script>
<body>
    
    <div class="popUpContainer"> 
        <div class="popUpContent">

            <div class="popUpSubContent">   
                <div>
                    <h2>@Resources.EmailTemplates_UploadAttachment</h2>
                </div> 
                <p class="successMessage">@Resources.EmailTemplatesAttachUploadSuccess </p>        
            </div>
            
            <div class="popUpSubContent">
                <div class="pageFooterContent"> 
                    <div class="pageFooterButtons">               
                        <button type="button" onclick = "closeView(@Model.EmailTemplateID)" class="PageFooter_Button">
                            @Resources.EmailTemplatesClose
                        </button>          
                    </div>
                </div>
            </div>                                                          
        
        </div>
    </div>
    
</body>
</html>
