﻿<!--
Page Created Date:  29/04/2013
Created By: Rajesh Pendela
Purpose:
Version: 1.0
****************************************************
-->
@model IEnumerable<FVGen3.Domain.Entities.Organizations>
@using Resources;
@{
    ViewBag.Title = "Index";
}

<h1>@Resources.Number_of_rows_withCol @Model.Count() </h1>

@foreach (var p in Model) 
{
    <div class="item">
    <h3>@p.Name</h3>
    </div>
}
