﻿<!--
Page Created Date:  10/07/2014
Created By: Kiran Talluri
Purpose:  To Create & display the Quiz templates
Version: 1.0
****************************************************
-->

@{
    ViewBag.Title = "Add Or Edit Quiz Section";
}

@model FVGen3.Domain.Entities.LocalQuizSections
          
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=8"/>
<meta http-equiv="X-UA-Compatible" content="IE=9"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width"/>


@Styles.Render("~/css/appPopUp.css")
@Styles.Render("~/css/appInnerPages.css")
@Scripts.Render("~/js/common.js")
@Scripts.Render("~/Scripts/jquery-1.9.1.min.js")
@Styles.Render("~/Content/Site.css")    
 
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<script type="text/javascript" src="~/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="~/js/common.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        setPermissions('@ViewBag.ViewPermissions');
    });
   
</script>
<style>
.field-validation-error 
{
    float:left;
    color: #e81f25;
    line-height:2.0em;
    margin-left:5px;
    font-size:14px;
    margin-bottom:0px;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ccc;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
   
}

.validation-summary-valid {
    display: none;
}
</style>

</head>

<body>
@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.Templateid)
    @Html.HiddenFor(x => x.TemplateSectionID)
                                      
<div class="popUpContainer">
	<div class="popUpContent">
    	<div class="popUpSubContent">
            <div class="page-title">
	            <h2>@Resources.Resources.Section_Rules_Add</h2>
            </div>
            @if (@Model.TemplateSectionID == -1)
            {
            @Html.ValidationMessageFor(x => x.SectionType)
            <div class="rowPopUpRadioCheckbox">            	
                <table>
                	<tr>
                    	<td valign="top"><label>@Resources.Resources.Section_Type</label></td>
                        <td>
                        	<table>
                                <tr>
                                	<td valign="top">@Html.RadioButtonFor(x => x.SectionType, "21", new { id = "IsQuizVideo" })</td>
                                    <td><label for="IsQuizVideo" style="width:auto;">@Resources.Resources.Add_Training_Video</label></td>
                                </tr>
                                <tr>
                                    <td valign="top">@Html.RadioButtonFor(x => x.SectionType, "22", new { id = "IsQuizIframe" })</td>
                                    <td><label for="IsQuizIframe" style="width:auto;">@Resources.Resources.External_Media</label></td>
                                </tr>
                                <tr>
                                	<td valign="top">@Html.RadioButtonFor(x => x.SectionType, "1", new { id = "IsQuizQuestion" })</td>
                                    <td><label for="IsQuizQuestion" style="width:auto;">@Resources.Resources.Qus_For_Training</label></td>
                                </tr>
                                @*<tr>
                                    <td valign="top">@Html.RadioButtonFor(x => x.SectionType, "98", new { id = "IsWaiverForm" })</td>
                                    <td><label for="IsWaiverForm" style="width:auto;">@Resources.Resources.Label_WaiverForm</label></td>
                                </tr>*@
                            </table>
                        </td>
                    </tr>
                </table>	
            </div>
            }
            else
            {
                @Html.HiddenFor(x => x.SectionType)                                      
            }
            
 			<div class="rowPopUp">
            	<table>
                	<tr>
                    	<td><label class="enableStarPopUp">@Resources.Resources.Companies_SecName</label></td>
                        <td>@Html.TextBoxFor(x => x.SectionName)
                            @Html.ValidationMessageFor(x => x.SectionName)
                        </td>
                    </tr>
                    
                </table>
            </div>
            
            @if (@Model.TemplateSectionID != -1)
            {
                int sectionType = (int)(((FVGen3.Domain.Entities.Templates)ViewBag.Template).TemplateSections.FirstOrDefault(rec => rec.TemplateSectionID == @Model.TemplateSectionID)).TemplateSectionType;
                
                <div class="rowPopUpRadioCheckbox">
            	    <table>
                	    <tr>
                    	    <td><label>@Resources.Resources.Sec_Hide</label></td>
                            <td valign="top">@Html.CheckBoxFor(x => x.Visible)</td>
                            <td><label style="width:auto;"></label></td>
                        </tr>
                    </table>
                </div>
            }
            @if (((FVGen3.Domain.Entities.Templates)ViewBag.Template).DefaultTemplate == false)
            {
                <div class="rowPopUpRadioCheckbox" style="display:none;">
            	    <table border="0">
                	    <tr>
                    	    <td rowspan="3"><label>@Resources.Resources.Sec_Permission</label></td>
                            <td valign="top">@Html.RadioButtonFor(x => x.Permission, "3", new { id = "AllPermission", @checked = "checked", @disabled = "disabled" })</td>
                            <td valign="top"><label for="AllPermission">Accessible to All (Admin/Client/Vendor Users)</label></td>
                        </tr>
                    </table>
                </div>
            }

            else
            {
                @Html.HiddenFor(x => x.Permission)
            }
            </div>
            <div class="popUpSubContent">
            	<div class="pageFooterContent"> 
                	<div class="pageFooterButtons">
                        <table>
                            <tr>
                                <td><button type="submit" btnType="Update" class="PageFooter_Button">@Resources.Resources.Common_Save</button></td>
                                <td btnType="Update">@Resources.Resources.Common_label_or</td>
                                <td><div class="pageFooterCancelButton"><a href="#!" onclick="window.close()">@Resources.Resources.Common_Cancel</a></div></td>
                            </tr>	
                        </table> 
                    </div>
                </div>
            </div>
    </div>
</div>
}
</body>
</html>

