﻿@using Resources
@{
    ViewBag.Title = "Add New Template";
    Layout = null; // kiran on 12/24/2014
}
@model FVGen3.Domain.Entities.LocalAddQuizTemplate
<!DOCTYPE HTML>
<html>
<head>

<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=8"/>
<meta http-equiv="X-UA-Compatible" content="IE=9"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width"/>

<title>@Resources.Edit_Quiz_Temp</title>
@Styles.Render("~/css/appPopUp.css")
@Styles.Render("~/css/appInnerPages.css")
@Scripts.Render("~/Scripts/jquery-1.9.1.min.js")

@Scripts.Render("~/js/common.js")
@Styles.Render("~/Content/Site.css")   
 

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

    <link rel="stylesheet" href="../css/templatetool.css" />
    <link href="~/Content/cleditor/jquery.cleditor.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="~/js/nicEdit.js"></script>
   
    <script src="~/js/autoNumeric.js"></script> 
<script type="text/javascript">

    $(document).ready(function () {
        //$(".bodyRichText").ckeditor();
        $("#WaiverFormContent").html(htmlDecode(`@Model.WaiverFormContent`));
        bkLib.onDomLoaded(function () {
            //new nicEditor({ iconsPath: '../images/nicEditorIcons.gif' }).panelInstance('RichTextArea');
            new nicEditor({ buttonList: ['fontSize', 'bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', 'html', 'ul', 'ol', 'indent', 'outdent', 'upload'] }).panelInstance('WaiverFormContent');

        });
        // Kiran on 12/24/2014
        $("#QuizPassRate").autoNumeric('init', { vDec: 0.00, vMax: '99.99' });
        $(".quizRetake").autoNumeric('init', { vDec: 0.00, vMax: '99.99' });
        $("#PeriodLength").autoNumeric('init', { mDec: 0, vMax: '365' });
        // Ends<<<
        setPermissions('@ViewBag.ViewPermissions');
        showHideQuizRetakeCheckbox();
        showHideWaiverForm();
        if ($("#QuizRetake").is(":checked")) {
            $('#QuizRetakeFee').show();
        }
        else {
            $("#QuizRetakeFee").hide();
        }
    });

    //Function for Pasting The Text
    function addDbParamStr(TextToBePasted, ControlOnWhichToBePasted) {
        
        //if ($(ControlOnWhichToBePasted).attr("id") == "WaiverFormContent")//If It is RichText Area
        //{
        //    var editor = nicEditors.findEditor(ControlOnWhichToBePasted);
        //    var range = editor.getRng();
        //    var editorField = editor.selElm();
        //    editorField.nodeValue = editorField.nodeValue.substring(0, range.startOffset) +
        //                            TextToBePasted +
        //                            editorField.nodeValue.substring(range.endOffset, editorField.nodeValue.length);

        //    //$(".nicEdit-main").append(TextToBePasted);
        //    return;
        //}
        insertNodeAtCaret(document.createTextNode(TextToBePasted));
       
    }
    function insertNodeAtCaret(node) {
        if (typeof window.getSelection != "undefined") {
            var sel = window.getSelection();
            if (sel.rangeCount) {
                var range = sel.getRangeAt(0);
                range.collapse(false);
                range.insertNode(node);
                range = range.cloneRange();
                range.selectNodeContents(node);
                range.collapse(false);
                sel.removeAllRanges();
                sel.addRange(range);
            }
        } else if (typeof document.selection != "undefined" && document.selection.type != "Control") {
            var html = (node.nodeType == 1) ? node.outerHTML : node.data;
            var id = "marker_" + ("" + Math.random()).slice(2);
            html += '<span id="' + id + '"></span>';
            var textRange = document.selection.createRange();
            textRange.collapse(false);
            textRange.pasteHTML(html);
            var markerSpan = document.getElementById(id);
            textRange.moveToElementText(markerSpan);
            textRange.select();
            markerSpan.parentNode.removeChild(markerSpan);
        }
    }
    //to get caret position in IE
    //function getSelection(target) {
    //    var s = { start: 0, end: 0 };
    //    if (typeof target.selectionStart == "number"
    //    && typeof target.selectionEnd == "number") {
    //        // Firefox (and others)
    //        s.start = target.selectionStart;
    //        s.end = target.selectionEnd;
    //    } else if (document.selection) {
    //        // IE
    //        var bookmark = document.selection.createRange().getBookmark();
    //        var sel = target.createTextRange();
    //        var bfr = sel.duplicate();
    //        sel.moveToBookmark(bookmark);
    //        bfr.setEndPoint("EndToStart", sel);
    //        s.start = bfr.text.length;
    //        s.end = s.start + sel.text.length;
    //    }
    //    return s;
    //}


    function setCaretPosition(ControlOnWhichToBePasted, pos) {
        if (ControlOnWhichToBePasted.setSelectionRange) {
            ControlOnWhichToBePasted.focus();
            ControlOnWhichToBePasted.setSelectionRange(pos, pos);
        }
        else if (ControlOnWhichToBePasted.createTextRange) {
            var range = ControlOnWhichToBePasted.createTextRange();
            range.collapse(true);
            range.moveEnd('character', pos);
            range.moveStart('character', pos);
            range.select();
        }
    }

    function htmlDecode(value) {
        return $('<div/>').html(value).text();
    }
    function showHideRetakeFee() {
        if ($("#QuizRetake").is(':checked')) 
        {
            $('#QuizRetakeFee').show();
        }
        else
            $("#QuizRetakeFee").hide();
    }
    function showHideWaiverForm() {
        
        if ($("#WaiverForm").is(':checked')) {
            $('#Content').show();
        }
        else
            $("#Content").hide();
    }
    // Kiran on 11/10/2014
    function showHideQuizRetakeCheckbox() {
        //alert("Hai");
        var NumberOfAttempts = $("#NumberOfAttempts").val();
        QuizRetakecheckBox
        if (NumberOfAttempts == 999) {
            $("#QuizRetakecheckBox").hide();
            $("#QuizRetakeFee").hide();
        }
        else {
            $("#QuizRetakecheckBox").show();
            showHideRetakeFee();
        }
    }
    // Ends<<<
   
</script>

<style>
.field-validation-error 
{
    float:left;
    color: #e81f25;
    line-height:2.0em;
    margin-left:5px;
    font-size:14px;
    margin-bottom:0px;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ccc;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
   
}

.validation-summary-valid {
    display: none;
}
</style>

</head>

<body>
@using (Html.BeginForm("AddOrEditCustomQuizTemplate", "QuizTemplateBuilder", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(model => model.Templateid)
    @Html.HiddenFor(model => model.ClientQuizDetailsID)
    <div class="popUpContainer">
	<div class="popUpContent">
    	
        <div class="popUpSubContent">
        <div class="page-title">
            @if (!ViewBag.readOnly)
            {
                <h2>@Resources.Add_Quiz</h2>
            }
            else
            {
                <h2>@Resources.Quiz_Detail</h2>
            }
        </div>
            
            @if (@Model.Templateid == null)
            {
                <div class="rowPopUp">
            	<table>
                	
                    <tr>
                    	<td><label>@Resources.AddOrEditCustomTemplate_label_SelectClient</label></td>
                        <td>@Html.DropDownListFor(rec => rec.ClientId, (List<SelectListItem>) @ViewBag.Clients)
                        </td>
                    </tr>
                </table>
            </div>
            }
            else
            {
                var clientName = "";
                var firstOrDefault = ((List<SelectListItem>)@ViewBag.Clients).FirstOrDefault(rec => rec.Value == @Model.ClientId + "");
                if (firstOrDefault != null)
                {
                    clientName=firstOrDefault.Text;
                }
                <div class="rowPopUp">
            	<table>
                	
                    <tr>
                    	<td><label>@Resources.Common_Label_Client</label></td>
                        <td><b>@clientName</b>
                           
                        </td>
                    </tr>
                </table>
                </div>
                 
                @Html.HiddenFor(rec => rec.ClientId)
            }
        @if (@Model.Templateid == null)
        {
            <div class="rowPopUp">
                <table>

                    <tr id="dropDownOne">
                        <td><label>Select Language</label></td>
                        <td>
                            @Html.DropDownListFor(rec => rec.LanguageId, (List<SelectListItem>)@ViewBag.Languages)

                        </td>
                    </tr>
                </table>
            </div>
        }
        else
        {
            var Language = "";
            var firstOrDefault = ((List<SelectListItem>)@ViewBag.Languages).FirstOrDefault(rec => rec.Value == @Model.LanguageId + "");
            if (firstOrDefault != null)
            {
                Language = firstOrDefault.Text;
            }
            <div class="rowPopUp">
                <table>
                	
                    <tr>
                        <td><label>Select Language</label></td>
                        <td><b>@Language</b>
                           
                        </td>
                    </tr>
                </table>
            </div>
                 
            @Html.HiddenFor(rec => rec.LanguageId)
        }
        	<div class="rowPopUp">
            	<table>
                	<tr>
                    	<td><label class="enableStarPopUp">@Resources.Common_label_Templatename</label></td>
                        <td>@if (!ViewBag.readOnly)
                            {
                                @Html.TextBoxFor(rec => rec.TemplateName, new {maxlength = "50"})
                            }
                            else
                            {
                                <b> @Model.TemplateName</b>
                            }
                            <div class="alertStar">@Html.ValidationMessageFor(rec => rec.TemplateName)</div></td>
                    </tr>
                    
                </table>
            </div>
            
            
             <div class="rowPopUp">
                 <table>
                	<tr>
                        <td><label>@Resources.AddOrEditCustomTemplate_label_Templatenotes</label></td>
                        <td>@if (!ViewBag.readOnly)
                            {
                                @Html.TextAreaFor(rec => rec.TemplateNote, new {maxlength = "200"})
                            }
                            else
                            {
                                <b>@Model.TemplateNote</b>
                            }
                         </td>
            	    </tr>
                  </table>
            	
                
            </div>

            <div class="rowPopUp">
                <table>
                    <tr>
                        <td><label class="enableStarPopUp">@Resources.Training_Rate</label></td>
                        <td>
                            @if (!ViewBag.readOnly)
                            {
                                @Html.TextBoxFor(model => model.QuizPassRate, new { data_val_number = "Training Pass Rate must be only numbers" })
                            }
                            else
                            {
                                <b>@Model.QuizPassRate</b>
                            }
                            <div class="alertStar">@Html.ValidationMessageFor(model => model.QuizPassRate)</div>
                        </td>
                    </tr>
                </table>
            </div>
            
            <div class="rowPopUp">
                 <table>
                	<tr>
                        <td><label>Number Of Attempts:</label></td>
                        <td>@if (!ViewBag.readOnly)
                            {
                                @Html.DropDownListFor(rec => rec.NumberOfAttempts, new[]
                                {
                                    new SelectListItem() {Text = "1", Value = "1"},
                                    new SelectListItem() {Text = "2", Value = "2"},
                                    new SelectListItem() {Text = "3", Value = "3"},
                                    new SelectListItem() {Text = "4", Value = "4"},
                                    new SelectListItem() {Text = "5", Value = "5"},
                                    new SelectListItem() {Text = "Unlimited", Value = "999"}
                                }, new {selected = Model.NumberOfAttempts, @onchange = "showHideQuizRetakeCheckbox()"})
                            }
                            else
                            {
                                <b>@Model.NumberOfAttempts</b>
                            }
                            @*<div class="alertStar">@Html.ValidationMessageFor(rec => rec.TemplateCode)</div>*@ @*Kiran on 12/23/2014*@
                        </td>
            	    </tr>
                  </table>
            </div>

            <div class="rowPopUp" id ="QuizRetakecheckBox">
                <table>
                    <tr>
                        <td>
                            <label>@Resources.Training_ReTake</label> @*Kiran on 12/24/2014*@
                        </td>
                        <td>
                            @if (!ViewBag.readOnly)
                            {
                                <input type="checkbox" name="QuizRetake" id="QuizRetake" value="true" onclick="showHideRetakeFee()"
                                       @if (Model.QuizRetake)
                                       {
                                           @: checked = "checked"
                                       }/>
                            }
                            else
                            {
                                <b>@(Model.QuizRetake ? "Yes" : "No")</b>
                            }
                        </td>
                        
                        @*Kiran on 12/24/2014*@
                        <td>
                            @*<div class="alertStar">@Html.ValidationMessageFor(rec => rec.QuizRetake)</div>*@
                        </td>
                        @*Ends<<<*@
                    </tr>
                </table>
            </div>

            <div id="QuizRetakeFee" class="rowPopUp">
                <table>
                    <tr>
                        <td><label>@Resources.Training_ReTakeFee</label></td>
                        <td>
                            @if (!ViewBag.readOnly)
                            {
                                @Html.TextBoxFor(model => model.QuizRetakeFee, new { @class = "quizRetake", data_val_number = "Training RetakeFee must be only numbers" })
                            }
                            else
                            {
                                <b>@Model.QuizRetakeFee</b>
                            }
                            @*@Html.ValidationMessageFor(model => model.QuizRetakeFee)*@
                        </td>
                    </tr>
                </table>
            </div>

            <div class="rowPopUp">
                 <table>
                	<tr>
                        <td><label>@Resources.Temp_Code</label></td>
                        <td>@if (!ViewBag.readOnly)
                            {
                                @Html.TextBoxFor(rec => rec.TemplateCode)
                            }
                            else
                            {
                                <b>@Model.TemplateCode</b>
                            }
                            <div class="alertStar">@Html.ValidationMessageFor(rec => rec.TemplateCode)</div>
                        </td>
            	    </tr>
                  </table>
            </div>

            <div class="rowPopUp">
                 <table>
                	<tr>
                        <td><label class="enableStarPopUp">@Resources.Period_Lnth</label></td> @*Kiran on 12/24/2014*@
                        <td>@if (!ViewBag.readOnly)
                            {
                                @Html.TextBoxFor(rec => rec.PeriodLength)
                            }
                            else
                            {
                                <b>@Model.PeriodLength</b>
                            }
                            <div class="alertStar">@Html.ValidationMessageFor(rec => rec.PeriodLength)</div>
                        </td>
            	    </tr>
                  </table>
            </div>

            <div class="rowPopUp">
                <table>
                <tr>
                    <td><label>@Resources.Period_Lnth_Unit</label></td>
                    <td>@if (!ViewBag.readOnly)
                          {
                            @Html.DropDownListFor(rec => rec.PeriodLengthUnit, new[] {
                            new SelectListItem() { Text = "Days", Value = "D" },
                            new SelectListItem() { Text = "Months", Value = "M" },
                            new SelectListItem() { Text = "Year", Value = "Y" }}, new { selected = Model.PeriodLengthUnit})
                          }
                        else
                        {
                            <b>@Model.PeriodLengthUnit</b>
                        }                                                                                                      
                        <div class="alertStar">@Html.ValidationMessageFor(rec => rec.PeriodLengthUnit)</div>
                    </td>
            	</tr>
                </table>
            </div>

            <div class="rowPopUp" id="WaiverFormCheckBox">
                <table>
                    <tr>
                        <td>
                            <label>@Resources.Quiz_Label_WaiverForm</label>
                        </td>
                        <td>
                            @if (!ViewBag.readOnly)
                            {
                                <input type="checkbox" name="WaiverForm" id="WaiverForm" value="true" onclick="showHideWaiverForm()"
                                       @if (Model.WaiverForm) { @: checked="checked"
                                                                              } />
                            }
                            else
                            {
                                <b>@(Model.WaiverForm ? "Yes" : "No")</b>
                            }
                        </td>

                    </tr>
                </table>
            </div>

            <div class="rowPopUp" id="Content">
                <table>
                    <tr>
                        <td>
                            <table>
                                <tr>
                                    <td>
                                        <strong>Database Fields</strong>
                                        <ul>
                                            <li>
                                                <a href="#!" onclick="addDbParamStr('[EmployeeName]', WaiverFormContent)">
                                                    EmployeeName
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#!" onclick="addDbParamStr('[VendorName]', WaiverFormContent)">
                                                    VendorName
                                                </a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </table>
                            <label class="enableStar">
                                @Resources.Quiz_Label_WaiverForm_Content
                            </label>
                        </td>

                        <td>
                            @*@Html.TextAreaFor(model => model.WaiverFormContent ,new { @style="width:500px;height:200px;", @maxlength="5000"})*@
                            <div id="RichTextAreaDiv" style="width: 98%; float: left; height: 100%; margin: 20px 10px 0 10px;">
                                <textarea name="WaiverFormContent" style="width: 700px; height: 100px;" id="WaiverFormContent"></textarea>
                            </div>
                            @*<textarea id="WaiverFormContent" name="WaiverFormContent" class="bodyRichText" maxlength="5000">
                                @Html.Raw(Model.WaiverFormContent)
                            </textarea>*@
                        </td>
                    </tr>
                </table>    
                <div class="alertStar"> @Html.ValidationMessageFor(model => model.WaiverFormContent) </div>
                
            </div>
            
        </div>
            @if (!ViewBag.readOnly)
            {
                <div class="popUpSubContent">
                    <div class="pageFooterContent">
                        <div class="pageFooterButtons">
                            <button type="submit" class="PageFooter_Button">@Resources.Common_Save</button>
                        </div>
                    </div>
                </div>
            }
    </div>
</div>
}
</body>
</html>

