﻿<!--
Page Created Date:  10/09/2014
Created By: Kiran Talluri
Purpose:  To Create & display the Quiz template Sub-sections
Version: 1.0
****************************************************
-->

@{
    ViewBag.Title = "Add Or Edit Quiz Question Column Details";
    Layout = null;
}
@using FVGen3.Domain.Entities;
@model FVGen3.Domain.Entities.LocalQuizQuestionColumnDetails
@using Resources;
<!DOCTYPE HTML>
<html>
<head>

<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=8"/>
<meta http-equiv="X-UA-Compatible" content="IE=9"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width"/>
<title>@Resources.Add_Quiz_Questions</title>

@Styles.Render("~/css/appPopUp.css")
@Styles.Render("~/css/appInnerPages.css")
@Scripts.Render("~/js/common.js")
@Scripts.Render("~/Scripts/jquery-1.9.1.min.js")
@Scripts.Render("~/Scripts/jquery.js")
@Styles.Render("~/Content/Site.css")    
@Scripts.Render("~/Scripts/jquery.hint.js")
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<script type="text/javascript">
   
    jQuery.extend(jQuery.validator.messages, {
        required: "Please select answer."
    });

    function closeWindow() {
        window.close();
    }

    $(document).ready(function () {

        setPermissions('@ViewBag.ViewPermissions');

        var idStr = "#" + "@Model.QuestionOptionValues";
        $('#QuestionOptionValues').keyup(function () {
            var questionValue = $(this).val();
            if (questionValue != "") {
                $("#AnswerRow").show();
                var duplicateVal = false;
                var htmlStr = "<table><tr>";
                var aray = questionValue.split("|");
                for (var i = 0; i < aray.length; i++) {
                    if (aray.indexOf(aray[i]) != aray.lastIndexOf(aray[i])) {
                        duplicateVal = true;

                    }
                    else {
                        htmlStr = htmlStr + "<td width='1%' valign='top'> <input type = 'radio' name = 'QuestionAnswer' id = 'Answer" + i + "' value = '" + aray[i] + "' required /> </td>";
                        htmlStr = htmlStr + "<td width='24%' valign='top'> <label for = 'Answer" + i + "'>" + aray[i] + "</label> </td>";
                    }
                }
                if (duplicateVal) {
                    alert("Duplicate options are not allowed.");
                }
                else {
                    duplicateVal = false;
                }
                htmlStr = htmlStr + "</tr></table>";

                $("#RadioRow").html(htmlStr);
            }
            else {
                $("#AnswerRow").hide();
            }

        });

        $('#QuestionOptionValues').change(function () {
            var questionValue = $(this).val();
            if (questionValue != "") {
                $("#AnswerRow").show();

                var htmlStr = "<table><tr>";
                var aray = questionValue.split("|");
                for (var i = 0; i < aray.length; i++) {
                    htmlStr = htmlStr + "<td width='1%' valign='top'> <input type = 'radio' name = 'QuestionAnswer' id = 'Answer" + i + "' value = '" + aray[i] + "' required /> </td>";
                    htmlStr = htmlStr + "<td width='24%' valign='top'> <label for = 'Answer" + i + "'>" + aray[i] + "</label> </td>";
                }
                htmlStr = htmlStr + "</tr></table>";

                $("#RadioRow").html(htmlStr);
            }
            else {
                $("#AnswerRow").hide();
            }

        });

        if ('@Model.QuestionOptionValues' != "" && '@Model.QuestionOptionValues' != null) {
            $("#AnswerRow").show();

        }
    });
    
</script>

<style>
    .singleLabel
    {
        float:left;
        width:95%;    
    }
</style>

</head>

<body>
@if (@ViewBag.VBisErrorExists != null && @ViewBag.VBisErrorExists == true)
{ 
    <div class="errorMessage"> 
        
    </div>
}
@using (@Html.BeginForm())
{   
    @Html.HiddenFor(rec => rec.QuestionId);
	<div class="popUpContainer">
        <div class="popUpContent">
			<div class="popUpSubContent">
                <div class="page-title">
				<h2>@Resources.Add_Answers</h2>
			</div>

            <div class="rowPopUp">
                <table style="width:99%;">
                    <tr>
                        <td width="2%" valign="top">
                            @Resources.Question_Symbol      
                        </td>
                        <td width="98%" valign="top">
                            @ViewBag.Question.QuestionText        
                        </td>
                    </tr>
                </table>
                    
            </div>

            <div class="rowPopUp">
                <table  width="709">
                    <tr>
                        <td>
                            <table>
                                <tr><td>@Html.CheckBoxFor(rec => rec.Visible)</td><td><label for="Visible" style="padding-top:5px;width:auto;">@Resources.AddOrEditQuestionColumnDetails_label_HideQuestion</label></td></tr>
                            </table>
                        </td>
                    </tr>
                            
                </table>
            </div>
               
                    @if (@ViewBag.Question.QuestionColumnDetails == null || !(((Questions)@ViewBag.Question).QuestionColumnDetails.Where(rec => rec.PrequalificationUserInputs != null && rec.PrequalificationUserInputs.Count() > 0).Count() > 0))
                    {   
                        <div class="rowPopUp">
                	        <div class="page-subtitle">
						        <h2>@Resources.Add_Quiz_Answers</h2>
					        </div>
                        </div>
                        
                        <div class="rowPopUp">
                            <table>
                                <tr>
                                    <td><label class="enableStarPopUp">Options:</label></td>
                                    <td>@Html.TextBoxFor(model => model.QuestionOptionValues, new { @maxlength = "1000" })
                                    <div class="alertStar">@Html.ValidationMessageFor(model => model.QuestionOptionValues)</div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        
                        <div id="AnswerRow" style="display:none;" class="rowPopUp">
                        <div class="singleLabel">
                            <label class="enableStarPopUp">@Resources.Select_Ans</label>
                        
                        </div>
                            <table border="0">
                                @*<tr>
                                    <td><label class="enableStarPopUp">Choose Answer:</label></td>
                                </tr>*@
                                <tr id = "RadioRow">
                                    @{int i = 0;}
                                    @if (Model.QuestionOptionValues != null && Model.QuestionOptionValues != "")
                                    {
                                        foreach (var radioTitle in Model.QuestionOptionValues.Split('|'))
                                        {
                                            <td width='1%' valign='top'>
                                                @Html.RadioButtonFor(model => model.QuestionAnswer, radioTitle, new { id = ++i })
                                            </td>
                                            <td width='24%' valign='top' align='left'> <label for = "@i"> @radioTitle </label> </td>
                                            <script type="text/javascript">
                                                if ('@Model.QuestionAnswer' == '@radioTitle')
                                                    $("#@i").prop("checked", "checked");
                                            </script>
                                        }
                                    }
                                </tr>
                            </table>
                            <div class="alertStar"> @Html.ValidationMessageFor(model => model.QuestionAnswer) </div>
                        </div>
                    	
                    }
                
			    </div>
		    </div>
	    <button type="submit">@Resources.Common_Submit</button>
    </div>
    
}
</body>
</html>
