﻿<!--
Page Created Date:  10/08/2014
Created By: Kiran Talluri
Purpose:  To Create the Quiz template Sub-sections
Version: 1.0
****************************************************
-->


@model FVGen3.Domain.Entities.LocalQuizSubSection
<!DOCTYPE HTML>
<html>
<head>

<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=8"/>
<meta http-equiv="X-UA-Compatible" content="IE=9"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width"/>


<title>@Resources.Resources.Add_SubSec</title>
@Styles.Render("~/css/appPopUp.css")
@Styles.Render("~/css/appInnerPages.css")
@Scripts.Render("~/js/common.js")
@Scripts.Render("~/Scripts/jquery-1.9.1.min.js")
@Styles.Render("~/Content/Site.css")    
 
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>    
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script>

    $(document).ready(function () {
        // Added code to call setPermissions() function on 08/07/2013 by Kiran Talluri
        setPermissions('@ViewBag.ViewPermissions');
        // Ends<<< 
    });
   
</script>
<script type="text/javascript">


    function SectionTypeChanged(selected, condition) {//Rajesh on 1/7/2014
        $("#dynamicData").hide();
        $("#predefinedData").hide();
        $("#reportingData").hide();
        if (condition == "PrequalComments") { } //Rajesh on 1/7/2014
        else if (selected == "1")//Rajesh on 1/7/2014
            $("#dynamicData").show();
        else if (selected == "2")
            $("#predefinedData").show();
        else if (selected == "3")
            $("#reportingData").show();
    }

    $(document).ready(function () {
   
    });
</script>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(rec=>rec.SectionId)
        @Html.HiddenFor(rec => rec.SubSecId)
	    <div class="popUpContainer">
	<div class="popUpContent">
    	<div class="popUpSubContent">
            <div class="page-title">
	            <h2>@Resources.Resources.Add_Sub_Sec</h2>
            </div>

               <div class="rowPopUp"  id="SubSectionNameRow">
                	<table>
                    	<tr>
                        	<td><label>@Resources.Resources.Sub_Sec_Name</label></td>
                            <td>@Html.TextBoxFor(x => x.SubSectionName)</td>
                        </tr>
                    </table>
	           </div>
               <div class="rowPopUp"  id="SubSectionNoteRow">
                	<table>
                    	<tr>
                        	<td><label>@Resources.Resources.SubSec_Note</label></td>
                            <td>@Html.TextAreaFor(x => x.SubSectionNote)</td>
                        </tr>
                    </table>
	           </div>
               <div class="rowPopUp">
                	<table>
                    	<tr>
                        	<td><label>@Resources.Resources.AddOrEditQuestion_label_NoOfColumns</label></td>
                            <td>@Html.DropDownListFor(m => m.NoOfColumns, new[] { 
                               new SelectListItem() { Text = "1", Value = "1" }})
                            </td>
                        </tr>
                    </table>
	           </div>
               
               
               @if (@Model.SubSecId == -1)
               {   
                    <div class="rowPopUp" style="display:none;">
            	        <table>
                	        <tr>
                    	        <td valign="top"><label>@Resources.Resources.SubSec_Purpose</label></td>
                                <td>
                        	        <table>
                            	        <tr>
                                	        <td valign="top">@Html.RadioButtonFor(x => x.SubSectionType, "0", new { @id = "id1", @checked ="checked", @disabled = "disabled" })</td>
                                            <td><label for="id1"   style="padding:0;width:auto;">Standard</label></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>	
                    </div>
                  
               }
               
               @if (@Model.SubSecId != -1)
               {
               <div class="rowPopUp">
                	<table>
                    	<tr>
                        	<td><label>@Resources.Resources.SubSec_Hide</label></td>
                            <td>@Html.CheckBoxFor(rec => rec.Visible)
                            </td>
                        </tr>
                    </table>
	           </div>
               }
               
               @if (ViewBag.isDefault == false)
               {
                   if (((FVGen3.Domain.Entities.TemplateSections)ViewBag.Section).TemplateSectionsPermission.FirstOrDefault() != null && ((FVGen3.Domain.Entities.TemplateSections)ViewBag.Section).TemplateSectionsPermission.FirstOrDefault().VisibleTo == 3)
                   {
                       @Html.HiddenFor(rec => rec.PermissionType)
                   }
                   else
                   {
                       <div class="rowPopUp" style="display:none;">
                	        <table>
                    	        <tr>
                        	        <td><label>@Resources.Resources.Permission</label></td>
                                    <td>@Html.RadioButtonFor(rec => rec.PermissionType, "0", new { id = "AllUsers", @checked ="checked", @disabled ="disabled" })</td>
                                    <td><label for="AllUsers">@Resources.Resources.All_Users</label></td>
                                </tr>
                                
                                @if(@Model.InVisibleToClientSection != 1) 
                                {
                                    <tr>
                        	            <td><label></label></td>
                                        <td>@Html.RadioButtonFor(rec => rec.PermissionType, "1", new { id = "LimitedUsers" })</td>
                                        <td><label for="LimitedUsers">@Resources.Resources.Lim_User</label></td>
                                    </tr>
                                }
                            </table>
	                   </div>
                   }
               }
               else
               {
                   @Html.HiddenFor(rec => rec.PermissionType)
               }
               @*Ends<<<*@

	</div>
    </div>
      <div class="popUpSubContent">
                    <div class="pageFooterContent"> 
                        <div class="pageFooterButtons">
                            <table>
                                <tr>
                                    <td><button type="submit" btnType="Insert" class="PageFooter_Button">@Resources.Resources.Common_Save</button></td>
                                    <td btnType="Insert">@Resources.Resources.Common_label_or</td>
                                    <td><div class="pageFooterCancelButton"><a href="#!" onclick="window.close();">@Resources.Resources.Common_Cancel</a></div></td>
                                </tr>	
                            </table> 
                        </div>
                    </div>        
                </div>  
</div>
        
    }
    <script>        SectionTypeChanged('@Model.SubSectionType', '@Model.SubSectionTypeCondition')</script>
</body>
</html>
