﻿<!--
Page Created Date:  10/24/2014
Created By: Kiran Talluri
Purpose:  To display the list of Client Business Units
Version: 1.0
****************************************************
-->

@using FVGen3.Domain.Entities;
@using Resources;
@model FVGen3.Domain.Entities.LocalAssignQuizClientTemplatesForBU
@{
    ViewBag.Title = "Add Client Template Business Units";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>

@Styles.Render("~/css/appPopUp.css")
@Styles.Render("~/css/appInnerPages.css")
@Scripts.Render("~/js/common.js")
@Scripts.Render("~/Scripts/jquery-1.9.1.min.js")
@Styles.Render("~/Content/Site.css") 

<script type="text/javascript">

    $(document).ready(function () {
        setPermissions('@ViewBag.ViewPermissions');
    });

    function SelectAllBU() {

        if ($("#selectAllBU").is(":checked")) {

            $("#BusinessUnits").find(":checkbox").each(function () {

                if ($(this).attr("editable") == "true")
                    if ($("#selectAllBU").is(":checked")) {
                        $(this).prop("checked", true);
                    }

            });
        }

        else {

            $("#BusinessUnits").find(":checkbox").each(function () {

                if ($(this).attr("editable") == "true")
                    if (!$("#selectAllBU").is(":checked")) {

                        $(this).prop("checked", false);
                    }

            });
        }
    }
   
</script>

<body>
    @if (@ViewBag.VBDisplayError != null && @ViewBag.VBDisplayError == true)
    {
    <div class="errorMessage">
       @Resources.Check_One_BU
    </div>
    }
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ClientTemplateId)
                                                    
    <div class="popUpContainer">
        <div class="popUpContent">
    	    <div class="popUpSubContent">
                @if (Model.quizBusUnits != null && Model.quizBusUnits.Count() != 0)
            {
                <div class="page-title">
	                <h5>@Resources.Select_Bu_For_Quiz</h5>
                </div>

                <div class="assignTemplateScrollCheckbox" style="width:50%" id="BusinessUnits">
                    <table style="margin:0px;">
                        <tr>
                            <td valign="top"> 
                                <input type="checkbox" name="selectAllBU" id="selectAllBU" onclick="SelectAllBU()" />
                            </td>
                                <td valign="top"> 
                                    <label for="selectAllBU">@Resources.Common_Label_SelectAll</label>
                            </td>
                                <td valign="top"> 
                                
                            </td>
                        </tr>
                        @if (Model.quizBusUnits != null)
                        {
                            for (var i = 0; i < @Model.quizBusUnits.Count; i++)
                            {
                                <tr id="BUid_@Model.quizBusUnits[i].id">
                                        <td valign="top"> 
                                        @Html.HiddenFor(model => @Model.quizBusUnits[i].id)
                                        @Html.HiddenFor(model => @Model.quizBusUnits[i].Text)
                                        @Html.CheckBoxFor(model => @Model.quizBusUnits[i].Status, new { @editable = "true" })
                                    </td>
                                        <td valign="top"> 
                                    @{var id4 = "quizBusUnits_" + @i + "__Status";}

                                    <label for="@id4">@Model.quizBusUnits[i].Text </label></td>
                                        <td style="width:5%;" valign="top"> 
                                        </td>
                                </tr>   
                            }
                        }       
                    </table>
                </div>

                <div class="rowPopUp">
                    <button type="submit">@Resources.Common_Confirm</button>
                </div>
            }
            else
            { 
                <div class="errorMessage">@Resources.Bus_Error_Msg </div>
            }
            </div>     
        </div>
    </div>
}
</body>
</html>
