﻿@using FVGen3.Domain.Entities;
@using Resources;
@model FVGen3.Domain.Entities.LocalModelForBusites
@{
    ViewBag.Title = "Assign Units";
}



<!doctype html>
<html>
<head>
<meta charset="utf-8"/>
<title>Untitled Document</title>
<link rel="stylesheet"  href="../css/appInnerPages.css"/>
<link rel="stylesheet" href="../css/appPopUp.css"/>
<link rel="stylesheet" href="../css/assignUnits.css"/>
<style>
.list-bu .page-subtitle{
	width:100%;
	float:left;
}
.list-title {
	font-weight:600;
	line-height:35px;
	font-size:15px; /* sree on 22nd, 04-2015*/
}
.list-title-normal { /* sree on 22nd, 04-2015*/
	font-weight:600;
	line-height:35px;
	
}
.cargill-incorporated , .NatureWorks-LLC , .Cargill Ltd{
	margin-bottom:10px;
}
.pricebu-row{
	width:100%;
	padding:10px 0;
}
.pricebu-row .list-title{
	margin-bottom:10px;
	line-height:normal !important;
}
.pricebu-row label, .pricebu-row input[type="text"], .pricebu-row buttoon{
	display:inline-block;
}
.sub-bu { /* sree on 22nd, 04-2015*/
	padding-left:20px;
}
.pricebu-row  input[type="text"]  {
	float:none !important;
	margin-left:10px;
}
.pricebu-tempname table{
	width:40%;
}
.pricebu-tempname td, .pricebu-tempname th{
	padding:10px 0;
	width:50%;
	text-align:left;
}
.list-bu .first-div, .list-bu .second-div{
	display:inline-block;
	vertical-align:top;
}
.list-bu .first-div{
	width:32%; 
	
}
.list-bu .second-div{
	width:63%;
	margin-left:4%;
}
/* Border-Box  & Background-Border-box*/
.list-bu .border-box , .border-bg-box{
	width:96%;
	height:auto;
	border:1px solid #ccc;
	padding:2%;
}
.border-bg-box{
	background:#f8f8f8;
	color:#808080;
	overflow:hidden;
}
.border-bg-box label{
	margin-right:10px !important;
	max-width: 200px;
}
.border-box input[type="radio"], .border-box input[type="checkbox"], .border-box label{
	display:inline-block;
	margin-top: 8px ;
	margin-bottom: 8px ;
	margin-left:20px;
	vertical-align:middle;
}
.border-box label{
	width:auto !important;
	float:none;
	margin:0 0 0 3px;
	padding:0;
	min-height:auto !important;
}
.lable-comma-first {
	float:left;
	
}
.label-comma:after{ /* for Comma */
	content:" , ";
	color:#808080;
	font-size:16px;
	font-weight:normal;
	margin-right:20px;
}
.lable-del {           /* for  delete label */
	padding:5px !important;
	border:1px solid #ccc;
	border-radius:4px;
	width:auto;
	float:left;
	width:auto;
	margin: 0 2px 2px 0;
	-webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1) inset;
	box-shadow:0 3px 3px rgba(0, 0, 0, 0.1) inset;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
}
.lable-del:hover{
	-webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0) inset;
	box-shadow:0 3px 3px rgba(255, 0, 0, 0) inset;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	cursor:pointer;
}
.lable-del label{
	margin-right:10px !important;
	max-width:280px;
}
.lable-del label, .lable-del div{
	display:inline-block;	
}
.lable-del div{
	background:url(../images/sr.gif) no-repeat right;
	width:10px;
	height:10px;
	vertical-align:middle;
}
.right-button{
	width:100%;
	height:auto;
	padding:15px 0;
	text-align:right;
	margin-bottom:20px;
}
.right-button button{
	float:none;
}
</style>


<script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")" type="text/javascript"></script>


<script type="text/javascript">

    function Checkall(obj) {
        if ($(obj).is(":checked")) {
            $(obj).closest(".empty").find("input[type='checkbox']").each(function () {
                this.checked = true;
            });
        }
        else {
            $(obj).closest(".empty").find("input[type='checkbox']").each(function () {
                this.checked = false;
            });
        }
        return;
    }


    function CheckedOrNot(obj) {
        if ($(obj).is(":checked")) {
            $(obj).val(true);
            $("#" + busplit[0]).find(".GroupNumber").val(num);
        }
        else {
            $(obj).val(false);
        }
        return;
    }

    function deleteClick(obj) {

        var buid = $(obj).closest(".lable-del").attr("buid");
        var data = "<input type='checkbox' id='" + buid + "'/>";
        var Divid = "bu_" + buid;
        var text = buid.split("-");
        var businessunitId = text[0];
        if ($("#" + businessunitId).closest(".empty").find(".sub-bu>input[type='checkbox']").length == 0) {
            var busUnitCheckbox = "<input type='checkbox' id= bu_" + businessunitId + " onclick='Checkall(this)'/>"
            $("#" + businessunitId).prepend(busUnitCheckbox);
                }
        $("#" + businessunitId).find(".list-title-normal").show();
        $("#" + Divid).prepend(data);
        $("#" + Divid).show();

        if ($(obj).closest(".border-box").find(".lable-del").size() == 0) {
            $(obj).closest(".WorkingArea").find("." + buhead).remove();
            $(obj).closest(".border-bg-box").find("#bu_" + businessunitId).remove();
        }

        //        selectedData = "<div id=" + buid + "></div>";
        //        $(".border-bg-box").remove(selectedData);
        $(obj).closest(".border-box").find("#" + buid).remove();


        insertNewGroup();

    }

    function GroupBusinessUnitSites(num) {
        var buIds = new Array();
        var selectedData = "";
        $("#BuSiteList").find(".sub-bu>input[type='checkbox']").each(function () {
            if ($(this).is(":checked")) {
                var id = $(this).attr("id");
                //                alert(id);
                var busplit = id.split('-');
                buIds.push(busplit[0]);

                var buid = "bu_" + busplit[0];
                var bu = $('label[for=' + buid + ']').text();
                var buName = $('label[for=' + id + ']').text();
                //                                alert(buName);
                //                $('label[for=' + id + ']').hide();
                $("#bu_" + id).hide();

                $("#" + busplit[0]).find(".GroupNumber").val(num);
                $("#bu_" + id).find(".Check").val(true);

                if ($(this).closest(".empty").find(".sub-bu>input[type='checkbox']:checked").length == $(this).closest(".empty").find(".sub-bu>input[type='checkbox']").length) {
                    $(this).closest(".empty").find(".list-title-normal").hide();
                    $(this).closest(".empty").find(".businessUnit").remove();
                }
                var exist = false;
                $("#Group" + num).find(".WorkingArea").find(".border-bg-box").each(function () {

                    if ($(this).attr("id") == buid) {

                        selectedData = "<div id=" + id + "><div class='lable-del' buid=" + id + "><label id='label'>" + buName + "</label><div onclick='deleteClick(this)'></div></div></div>";
                        $("#Group" + num).find(".WorkingArea").find("#" + buid).append(selectedData);
                        exist = true;
                    }
                });
                if (exist == false) {
                    selectedData = "<div><label class='list-title'>" + bu + "</label></div><div class='border-bg-box' id=" + buid + "><div id=" + id + "><div class='lable-del' buid=" + id + "><label id='label'>" + buName + "</label><div onclick='deleteClick(this)'></div></div></div></div>";
                    $("#Group" + num).find(".WorkingArea").append(selectedData);
                }

                $(this).remove();
            }
        });

       if($("#BuSiteList").find("input[type='checkbox']").length !=0)
           insertNewGroup();

        var numberOfPendingBUs = $("#BuSiteList").find("input[type='checkbox']").length;
        if (numberOfPendingBUs == 0) {
            //If any one is in blank then we need to delete that

            $(".second-div").find(".border-box").each(function () {

                //alert("Working area" + $(this).find(".WorkingArea").html());
                if ($(this).find(".WorkingArea").html().trim() == "") {
                    $(this).remove();
                }
            });


            $("#SubmitDiv").show();
        }
    }

    function insertNewGroup() {
        var numberOfPendingBUs = $("#BuSiteList").find("input[type='checkbox']").length;

        if (numberOfPendingBUs != 0) {
            var insert = true;
            $(".second-div").find(".border-box").each(function () {
                if ($(this).find(".WorkingArea").html().trim() == "") {
                    insert = false;
                }
            });
            if (insert) {
                var group = $("#MainGroup").clone();
                var noOfDivs = $(".second-div").find(".border-box").length;
                $(group).attr("id", "Group" + noOfDivs);
                $(group).find(".GroupBUButton").attr("onclick", "GroupBusinessUnitSites(" + noOfDivs + ")");
                $(group).find(".PriceInfo").attr("name", "Prices[" + noOfDivs + "]");
                $(group).find(".PriceInfo").attr("class", "pricesvalue")
                $(group).show();
                $($(".second-div").append(group));
            }
        }
    }

    $(document).ready(function () {
        $("form").submit(function () {
            $(".second-div").find(".border-box").each(function () {

                //alert("Working area" + $(this).find(".WorkingArea").html());
                if ($(this).find(".WorkingArea").html().trim() == "") {
                    $(this).remove();
                }
            });
            var flag = true;
            $(".pricesvalue").each(function () {
                if ($(this).val().trim() == "") {
                    flag = false;
                }
            });
            if (flag == false) {
                alert('Please enter all group prices');
            }
            return flag;
        });
    });

</script>

</head>

<body>
@using (@Html.BeginForm("AssignUnits", "QuizTemplateBuilder"))
{
    for (int i = 0; i < Model.Price.Count; i++)
    {
        
    }
    @Html.HiddenFor(rec => rec.ClientTemplateId)
     <div class="popUpContainer">
        <div class="popUpContent">
    	    <div class="popUpSubContent">
                    <div class="page-title">
                    	<h2>Price The BUs</h2>
                    </div><!--page-title-->
                    
                    <div class="rowPopUp list-bu" style="width:100%;">
                    	<div class="page-subtitle">
                        	<h2>List of BUs</h2>
                         </div><!--page-subtitle-->
                         <!---left side-->
                    	<div class="first-div" id="BuSiteList">
                        	<div class="border-box">
                                <div class="cargill-incorporated">
                                    <div>
                                    	<label class="list-title">@ViewBag.OrgName</label>
                                    </div>
                                    @for (int i = 0; i < @Model.BUDetails.Count; i++)
                                    {
                                        @Html.HiddenFor(rec => rec.BUDetails[i].BUId, new { @class = "BUId" })
                                        @Html.HiddenFor(rec => rec.BUDetails[i].BUName, new { @class = "BUName" })
                                        @Html.HiddenFor(rec => rec.BUDetails[i].OrgName, new { @class = "OrgName" })
                                    <div class="empty" style="display:table;">
                                        <div id="@Model.BUDetails[i].BUId">
                                             @Html.HiddenFor(rec => rec.BUDetails[i].GroupNumber, new { @class = "GroupNumber" })
                                            <input type="checkbox"  onclick="Checkall(this)" class="businessUnit" id="bu_@Model.BUDetails[i].BUId" value="@Model.BUDetails[i].BUId"/>
                                            <label class="list-title-normal" for="bu_@Model.BUDetails[i].BUId">@Model.BUDetails[i].BUName</label>
                                       
                                        @if (@Model.BUDetails[i].BUSiteDetails != null)
                                        {
                                            for (int j = 0; j < @Model.BUDetails[i].BUSiteDetails.Count; j++)
                                            {
                                                @Html.HiddenFor(rec => rec.BUDetails[i].BUSiteDetails[j].BUsiteId, new { @class = "BUSiteId" })    
                                                @Html.HiddenFor(rec => rec.BUDetails[i].BUSiteDetails[j].BUsiteName, new { @class = "BUSiteName" })                                       
                                                <div  class="sub-bu" id="bu_@Model.BUDetails[i].BUId-@Model.BUDetails[i].BUSiteDetails[j].BUsiteId">
                                                @Html.HiddenFor(rec => rec.BUDetails[i].BUSiteDetails[j].Ischecked, new { @class = "Check" }) 
                                                    <input type="checkbox" id="@Model.BUDetails[i].BUId-@Model.BUDetails[i].BUSiteDetails[j].BUsiteId" onclick="CheckedOrNot(this)" value="false"/>
                                                    <label for="@Model.BUDetails[i].BUId-@Model.BUDetails[i].BUSiteDetails[j].BUsiteId" >@Model.BUDetails[i].BUSiteDetails[j].BUsiteName</label>
                                                </div><!--div-->
                                            }
                                        }
                                        </div><!--div-->
                                  </div><!--empty-->
                                   
                                    }
                                  </div><!--cargill-incorporated-->
                             	 </div><!--border-box-->
                        </div><!--first-div-->
                        <!---right side-->
                        <div class="second-div">
                          	<div class="border-box" id="Group0">
                            	<div class="pricebu-row">
                                	<label>Price<strong>($)</strong></label>
                                    <input type="text" name="Prices[0]" class="pricesvalue" 
                                    @if (@Model.Price.Count > 0)
                                    {
                                        @:value="@Model.Price[0]"
                                    }
                                    />
                                    <button type="button"  style="float:none;" onclick="GroupBusinessUnitSites(0)">Save</button>
                                  </div><!--pricebu-row-->
                                 
                                  <div class="pricebu-row WorkingArea">
                                 
                                        @*<div>
                                            <label class="list-title"></label>
                                        </div><!--div-->*@
                                  
                                	@*<div class="border-bg-box" style="display:none;">
                                               <div class="lable-del" id="sree">
                                        	<label >Texturizing Solutions</label>
                                            <div onclick="myFunction()"></div>
                                        </div><!--lable-del-->
                                        
                                         </div><!--rowPopUp-->*@
                                      </div><!--border-bg-box-->
                           </div><!--border-box-->


                            @for (int i = 1; i < @Model.Price.Count; i++)
                            {
                                <div class="border-box" id="Group@(i)">
                            	<div class="pricebu-row">
                                	<label>Additional fee <strong>($)</strong></label>
                                    <input type="text" name="Prices[@i]" value="@Model.Price[i]" class="pricesvalue"/>
                                    <button type="button"  style="float:none;" onclick="GroupBusinessUnitSites(@i)">Save</button>
                                  </div><!--pricebu-row-->
                                  
                                  <div class="pricebu-row">
                                        <div>
                                            <label class="list-title">@ViewBag.OrgName</label>
                                        </div><!--div-->
                                   
                                	<div class="border-bg-box">
                                    @*           <div class="lable-del" id="sree">
                                        	<label >Texturizing Solutions</label>
                                            <div onclick="myFunction()"></div>
                                        </div><!--lable-del--> *@
                                        
                                         </div><!--rowPopUp-->
                                      </div><!--border-bg-box-->
                                  </div><!--border-box-->                                
                                
                            }
                                  
    </div>
    <div class="pageFooterContent" id="SubmitDiv"> 
                        <div class="pageFooterButtons">
                            <table>
                                <tbody>
                                    <tr>
                                        <td><button type="submit" btntype="Update" class="PageFooter_Button">Save</button></td>
                                        <td btntype="Update">or</td>
                                        <td><div class="pageFooterCancelButton"><a href="#!" onclick="window.close()">Cancel</a></div></td>
                                    </tr>	
                                </tbody></table> 
                        </div>
                    </div>
    </div>
    </div>
    </div>
    </div>
    
    
       	<div class="border-box" id="MainGroup" style="display:none;">
        <div class="pricebu-row">
            <label>Additional fee <strong>($)</strong></label>
            <input type="text" class="PriceInfo" name="price"/>
        </div>
        <div class="pricebu-row">
            <button type="button" style="float:none;" onclick="GroupBusinessUnitSites(0)" class="GroupBUButton">Grouping for Additional fee ( $ )</button>
            <div class="border-bg-box" style="display:none;">
            </div>
			@*<button type="button" style="float:right;" onclick="EditGroup(this,0)" class="EditBUButton">Edit</button>*@
        </div>
                                  
        <div class="pricebu-row WorkingArea">
        </div>
    </div>
}
</body>

</html>


