﻿@using FVGen3.Domain.Entities;
@using Resources;
@model FVGen3.Domain.Entities.LocalModelForBusites
@{
    ViewBag.Title = "Assign Units For Training";
    Layout = null;
}


<html>
<head>
<meta charset="utf-8"/>
<title>@Resources.Assign_SiteFor_Training</title>
<link rel="stylesheet"  href="../css/appInnerPages.css"/>
<link rel="stylesheet" href="../css/appPopUp.css"/>
<style>
.list-bu .page-subtitle{
	width:100%;
	float:left;
}
.second-div .border-box + .border-box{
 margin-top:20px;
}
.list-title {
	font-weight:600;
	line-height:35px;
	font-size:15px; /* sree on 22nd, 04-2015*/
}
.list-title-normal { /* sree on 22nd, 04-2015*/
	font-weight:600;
	line-height:35px;
	
}
.cargill-incorporated , .NatureWorks-LLC , .Cargill Ltd{
	margin-bottom:10px;
}
.pricebu-row{
	width:100%;
	padding:10px 0;
}
.pricebu-row .list-title{
	margin-bottom:10px;
	line-height:normal !important;
}
.pricebu-row label, .pricebu-row input[type="text"], .pricebu-row buttoon{
	display:inline-block;
}
.sub-bu { /* sree on 22nd, 04-2015*/
	padding-left:20px;
}
.pricebu-row  input[type="text"]  {
	float:none !important;
	margin-left:10px;
}
.pricebu-tempname table{
	width:40%;
}
.pricebu-tempname td, .pricebu-tempname th{
	padding:10px 0;
	width:50%;
	text-align:left;
}
.list-bu .first-div, .list-bu .second-div{
	display:inline-block;
	vertical-align:top;
}
.list-bu .first-div{
	width:32%; 
	
}
.list-bu .second-div{
	width:63%;
	margin-left:4%;
}
/* Border-Box  & Background-Border-box*/
.list-bu .border-box , .border-bg-box{
	width:96%;
	height:auto;
	border:1px solid #ccc;
	padding:2%;
}
.border-bg-box{
	background:#f8f8f8;
	color:#808080;
	overflow:hidden;
}
.border-bg-box label{
	margin-right:10px !important;
	max-width: 200px;
}
.border-box input[type="radio"], .border-box input[type="checkbox"], .border-box label{
	display:inline-block;
	margin-top: 8px ;
	margin-bottom: 8px ;
	margin-left:20px;
	vertical-align:middle;
}
.border-box label{
	width:auto !important;
	float:none;
	margin:0 0 0 3px;
	padding:0;
	min-height:auto !important;
}
.lable-comma-first {
	float:left;
	
}
.label-comma:after{ /* for Comma */
	content:" , ";
	color:#808080;
	font-size:16px;
	font-weight:normal;
	margin-right:20px;
}
.lable-del {           /* for  delete label */
	padding:5px !important;
	border:1px solid #ccc;
	border-radius:4px;
	width:auto;
	float:left;
	width:auto;
	margin: 0 2px 2px 0;
	-webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1) inset;
	box-shadow:0 3px 3px rgba(0, 0, 0, 0.1) inset;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
}
.lable-del:hover{
	-webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0) inset;
	box-shadow:0 3px 3px rgba(255, 0, 0, 0) inset;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	cursor:pointer;
}
.lable-del label{
	margin-right:10px !important;
	max-width:280px;
}
.lable-del label, .lable-del div{
	display:inline-block;	
}
.lable-del div{
	background:url(../images/del.gif) no-repeat right;
	width:10px;
	height:10px;
	vertical-align:middle;
}
.right-button{
	width:100%;
	height:auto;
	padding:15px 0;
	text-align:right;
	margin-bottom:20px;
}
.right-button button{
	float:none;
}

#errmsg
{
color: red;
}
</style>

<script 
<script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")" type="text/javascript"></script>
<script src="~/js/autoNumeric.js"></script>

<script type="text/javascript">

    function Checkall(obj) {
        if ($(obj).is(":checked")) {
            $(obj).closest(".empty").find("input[type='checkbox']").each(function () {
                this.checked = true;
            });
        }
        else {
            $(obj).closest(".empty").find("input[type='checkbox']").each(function () {
                this.checked = false;
            });
        }
        return;
    }


    function CheckedOrNot(obj) {
        var busiteid = $(obj).attr("id");
        var busplit = busiteid.split("-");

        if ($(obj).is(":checked")) {
            $(obj).val(true);
            if ($(obj).closest(".empty").find("#" + busplit[0]).find(".sub-bu>input[type='checkbox']:checked").length == $(obj).closest(".empty").find("#" + busplit[0]).find(".sub-bu>input[type='checkbox']").length) {
                $(obj).closest(".empty").find(".businessUnit").prop("checked", true);
            }
        }
        else {
            $(obj).closest(".empty").find(".businessUnit").prop("checked", false);
            $(obj).val(false);
        }
        return;
    }

    function deleteClick(obj) {

        var buid = $(obj).closest(".lable-del").attr("buid");
        var data = "<input type='checkbox' id='" + buid + "' onclick='CheckedOrNot(this)'/>";
        var Divid = "bu_" + buid;
        var PresentGroup = $(obj).closest(".border-box").attr("id");
        //        alert(PresentGroup);
        var text = buid.split("-");
        var businessunitId = text[0];
        var checkbuid = "bu_" + businessunitId;
        var buhead = "buheading_bu_" + businessunitId;

        if ($("#" + businessunitId).closest(".empty").find(".sub-bu>input[type='checkbox']").length == 0) {
            var check = "<input type='checkbox' id='" + checkbuid + "' class='businessUnit' onclick='Checkall(this)'/>";
            $("#" + businessunitId).prepend(check);

        }
        //$("#" + businessunitId).find(".GroupNumber").val(-1);

        $("#" + businessunitId).find(".list-title-normal").show();
        $("#" + Divid).prepend(data);
        $("#bu_" + buid).find(".Check").val(false);
        $('label[for=' + buid + ']').show();
        $("#" + Divid).show();

        //        $(obj).closest(".border-box").find(".border-bg-box").each(function () {
        //            if ($(this).find(".lable-del").size() == 1) {
        //                $(obj).closest(".WorkingArea").find("#" + buhead).remove();
        //                $(obj).closest(".border-bg-box").remove();
        //                //                alert($("#" + PresentGroup).find(".WorkingArea").html());
        //            }
        //        });
        if ($(obj).closest(".border-box").find("#" + checkbuid).find(".lable-del").size() == 1) {
            $(obj).closest(".WorkingArea").find("#" + buhead).remove();
            $(obj).closest(".border-bg-box").remove();
            //                alert($("#" + PresentGroup).find(".WorkingArea").html());
            $("#" + businessunitId).find(".GroupNumber").val(-1);
        }

        if ($("#" + PresentGroup).find(".WorkingArea").html().trim() == "" && PresentGroup != "Group0") {
            $("#" + PresentGroup).remove();
        }

        var groupNum = 0;
        $(".second-div").find(".border-box").each(function () {

            if ($(this).attr("id") != "Group" + groupNum) {
                $(this).find(".border-bg-box").find(".lable-del").each(function () {

                    var buId = $(this).attr("buid");
                    var text = buId.split("-");
                    var businessunitId = text[0];
                    $("#" + businessunitId).find(".GroupNumber").val(groupNum);

                });
                $(this).attr("id", "Group" + groupNum);
                $(this).find(".GroupBUButton").attr("onclick", "GroupBusinessUnitSites(" + groupNum + ")");
                $(this).find(".pricesvalue").attr("name", "Prices[" + groupNum + "]");
            }

            groupNum++;
        });

        //        $(obj).closest(".border-box").find(".WorkingArea").each(function () {
        //            alert($(this).find(".buGroups").size());
        //            if ($(this).find(".buGroups").size() == 0) {
        //                $("#" + PresentGroup).remove(); //Remove that parent group
        //            }
        //        });

        $(obj).closest(".border-box").find("#" + buid).remove();
        insertNewGroup();
    }

    function GroupBusinessUnitSites(num) {
        var BUalert = "";
        var selectedData = "";
        if ($("#Group" + num).find(".pricebu-row").find(".pricesvalue").val() != "") {
            $("#BuSiteList").find(".sub-bu>input[type='checkbox']").each(function () {
                if ($(this).is(":checked")) {

                    var id = $(this).attr("id");
                    //                alert(id);
                    var busplit = id.split('-');

                    var buid = "bu_" + busplit[0];
                    var BUsHeadding = "buheading_" + buid;
                    var bu = $('label[for=' + buid + ']').text();
                    var buName = $('label[for=' + id + ']').text();

                    $("#bu_" + id).find(".Check").val(true);

                    $("#bu_" + id).hide();
                    if ($(this).closest(".empty").find(".sub-bu>input[type='checkbox']:checked").length == $(this).closest(".empty").find(".sub-bu>input[type='checkbox']").length) {
                        $(this).closest(".empty").find(".list-title-normal").hide();
                        $(this).closest(".empty").find(".businessUnit").hide();
                    }
                    var buexist = false;
                    var exist = false;
                    $("#Group" + num).find(".WorkingArea").find(".border-bg-box").each(function () {

                        if ($(this).attr("id") == buid) {

                            selectedData = "<div id=" + id + "><div class='lable-del' buid=" + id + "><label>" + buName + "</label><div onclick='deleteClick(this)'></div></div></div>";
                            $("#Group" + num).find(".WorkingArea").find("#" + buid).append(selectedData);
                            $("#" + busplit[0]).find(".GroupNumber").val(num);
                            exist = true;
                        }
                    });
                    if (exist == false) {
                        $(".second-div").find(".WorkingArea").each(function () {
                            if ($(this).find("#" + BUsHeadding).size() == 1) {
                                buexist = true;
                                BUalert = true;
                                $("#bu_" + id).show();
                                $("#" + id).attr("Checked", false);
                                $("#" + buid).attr("Checked", false);
                                $("#bu_" + id).find(".Check").val(false);
                                if ($("#" + busplit[0]).find(".businessUnit").hide()) {
                                    var check = "<input type='checkbox' id='" + buid + "' class='businessUnit' onclick='Checkall(this)'/>";
                                    $("#" + busplit[0]).prepend(check);
                                }
                                $("#" + busplit[0]).find(".list-title-normal").show();

                            }
                        });
                        if (buexist == false) {
                            selectedData = "<div class='buGroups' id=" + BUsHeadding + "><label class='list-title'>" + bu + "</label></div><div class='border-bg-box' id=" + buid + "><div id=" + id + "><div class='lable-del' buid=" + id + "><label id='label'>" + buName + "</label><div onclick='deleteClick(this)'></div></div></div></div>";
                            $("#Group" + num).find(".WorkingArea").append(selectedData);
                            $("#" + busplit[0]).find(".GroupNumber").val(num);
                        }
                    }
                    if (buexist == false) {
                        $(this).remove();
                    }
                }
            });
            insertNewGroup();
            if (BUalert == true)
                alert("Business Unit can't have two different price groups");
        }
        else {
            alert("Price the group before grouping BU/Sites");
        }
    }
    function insertNewGroup() {
        var numberOfPendingBUs = $(".empty").find("input[type='checkbox']:visible").length;

        if (numberOfPendingBUs != 0) {
            var insert = true;

            $(".second-div").find(".border-box").each(function () {
                if ($(this).find(".WorkingArea").html().trim() == "" && ($(this).attr("id") != "Group0")) {
                    insert = false;
                }
            });
            if (insert) {
                var group = $("#MainGroup").clone();
                var noOfDivs = $(".second-div").find(".border-box").length;
                $(group).attr("id", "Group" + noOfDivs);
                $(group).find(".GroupBUButton").attr("onclick", "GroupBusinessUnitSites(" + noOfDivs + ")");
                $(group).find(".PriceInfo").attr("name", "prices[" + noOfDivs + "]");
                $(group).find(".PriceInfo").attr("class", "pricesvalue")
                $(group).show();
                $($(".second-div").append(group));
                $('.pricesvalue').autoNumeric({ vMin: '0.00', vMax: '999.99' });
            }
        }
    }


</script>
<script>
    $(document).ready(function () {
        insertNewGroup();
        $('.pricesvalue').autoNumeric({ vMin: '0.00', vMax: '999.99' });
        $("form").submit(function () {
            var flag = true;
            if ($("#Group0").find(".WorkingArea").html().trim() == "") {
                alert("Please select atleast one site to group");
                return false;
            }
            $(".pricesvalue").each(function () {
                if ($(this).closest(".border-box").find(".buGroups").length != 0) {
                    if ($(this).val().trim() == "") {
                        flag = false;
                    }
                }
            });
            if (flag == false) {
                alert('Please enter all group prices');
            }
            return flag;
        });
    });
</script>

</head>

<body>
@using (@Html.BeginForm())
{
    for (int i = 0; i < Model.ClientTemplateId.Count; i++)
    {
        @Html.HiddenFor(rec => rec.ClientTemplateId[i])
    }
     <div class="popUpContainer">
        <div class="popUpContent">
    	    <div class="popUpSubContent">
                    <div class="page-title">
                    	<h2>@Resources.Bu_Prices</h2>
                    </div><!--page-title-->
                    
                    <div class="rowPopUp list-bu" style="width:100%;">
                    	<div class="page-subtitle">
                        	<h2>@Resources.Bus_LIst</h2>
                          <div>@Resources.Payment_Sites</div>
                         </div><!--page-subtitle-->
                         <!---left side-->
                    	<div class="first-div" id="BuSiteList">
                        	<div class="border-box">
                                <div class="cargill-incorporated">
                                    <div>
                                    	<label class="list-title">@ViewBag.OrgName</label>
                                    </div>
                                    @for (int i = 0; i < @Model.BUDetails.Count; i++)
                                    {
                                        
                                        @Html.HiddenFor(rec => rec.BUDetails[i].BUId, new { @class = "BUId" })
                                        @Html.HiddenFor(rec => rec.BUDetails[i].BUName, new { @class = "BUName" })
                                        @Html.HiddenFor(rec => rec.BUDetails[i].OrgName, new { @class = "OrgName" })
                                    <div class="empty" style="display:table;">
                                        <div id="@Model.BUDetails[i].BUId">
                                         @Html.HiddenFor(rec => rec.BUDetails[i].GroupNumber, new { @class = "GroupNumber" })
                                         @if (@Model.BUDetails[i].BUSiteDetails.Where(rec => rec.Ischecked == false).Count() != 0)
                                         {
                                            <input type="checkbox"  onclick="Checkall(this)" class="businessUnit" id="bu_@Model.BUDetails[i].BUId" value="@Model.BUDetails[i].BUId"/>
                                            <label class="list-title-normal" for="bu_@Model.BUDetails[i].BUId">@Model.BUDetails[i].BUName</label>
                                         }
                                         else
                                         {
                                            @*<input type="checkbox"  onclick="Checkall(this)" class="businessUnit" id="bu_@Model.BUDetails[i].BUId" value="@Model.BUDetails[i].BUId" style="display:none;"/>*@
                                            <label class="list-title-normal" for="bu_@Model.BUDetails[i].BUId" style="display:none;">@Model.BUDetails[i].BUName</label>
                                         }
                                        @if (@Model.BUDetails[i].BUSiteDetails != null)
                                        {
                                            for (int j = 0; j < @Model.BUDetails[i].BUSiteDetails.Count; j++)
                                            {
                                               
                                                 @Html.HiddenFor(rec => rec.BUDetails[i].BUSiteDetails[j].BUsiteId, new { @class = "BUSiteId" })    
                                                @Html.HiddenFor(rec => rec.BUDetails[i].BUSiteDetails[j].BUsiteName, new { @class = "BUSiteName" })  
                                                
                                                
                                                <div  class="sub-bu" id="bu_@Model.BUDetails[i].BUId-@Model.BUDetails[i].BUSiteDetails[j].BUsiteId">
                                                 @Html.HiddenFor(rec => rec.BUDetails[i].BUSiteDetails[j].Ischecked, new { @class = "Check" })
                                                 @if (@Model.BUDetails[i].BUSiteDetails[j].Ischecked == false)
                                                 {
                                                    <input type="checkbox" id="@Model.BUDetails[i].BUId-@Model.BUDetails[i].BUSiteDetails[j].BUsiteId" onclick="CheckedOrNot(this)" value="false"/>
                                                    <label for="@Model.BUDetails[i].BUId-@Model.BUDetails[i].BUSiteDetails[j].BUsiteId" >@Model.BUDetails[i].BUSiteDetails[j].BUsiteName</label>
                                                 }
                                                 else
                                                 {
                                                    @*<input type="checkbox" id="@Model.BUDetails[i].BUId-@Model.BUDetails[i].BUSiteDetails[j].BUsiteId" onclick="CheckedOrNot(this)" value="false" style="display:none;"/>*@
                                                    <label for="@Model.BUDetails[i].BUId-@Model.BUDetails[i].BUSiteDetails[j].BUsiteId" style="display:none;">@Model.BUDetails[i].BUSiteDetails[j].BUsiteName</label>
                                                 }
                                                    
                                                </div><!--div-->
                                                
                                            }
                                        }
                                        </div><!--div-->
                                  </div><!--empty-->
                                   
                                    }
                                  </div><!--cargill-incorporated-->
                             	 </div><!--border-box-->
                        </div><!--first-div-->
                        <!---right side-->
                        <div class="second-div">
                      
                          	<div class="border-box" id="Group0">
                            	<div class="pricebu-row">
                                	<label>@Html.Raw(@Resources.Fee_In_Dollar)</label>
                                    <input type="text" name="Prices[0]"  class="pricesvalue" onclick="Validatetext(this)"
                                     @if (@Model.Prices.Count > 0)
                                     {
                                        @:value="@Model.Prices[0]"
                                    }
                                    />
                                   <span class="errmsg"></span>
                                </div>
                                <div class="pricebu-row">
                                    <button type="button"  style="float:none;"  class="GroupBUButton"  onclick="GroupBusinessUnitSites(0)">@Resources.Group_Bus</button>
                                  </div><!--pricebu-row-->
                                 
                                  <div class="pricebu-row WorkingArea">
                                   @{var OldName = "";
                                     var currentRec = 0;
                                  }
                                   @foreach (var BUs in @Model.BUDetails.Where(rec => rec.GroupNumber == 0).OrderBy(rec => rec.OrgName))
                                   {
                                       if (OldName != BUs.BUName)
                                       {
                                          @* if (currentRec != 0)
                                           {
                                            @:</div>
                                            }*@
                                           if (@BUs.BUSiteDetails.Where(rec => rec.Ischecked == true).Count() != 0)
                                           {
                                        <div class="buGroups" id="buheading_bu_@BUs.BUId">
                                            <label class="list-title">@BUs.BUName</label>
                                        </div>
                                           
                           
                                       
                                        <div class="border-bg-box" id="bu_@BUs.BUId">
                                       @foreach (var site in @BUs.TempBUSiteDetails.Where(rec => rec.Ischecked == true))
                                       {
                                           if (site.IsPaymentDone == true)
                                           {
                                               <div id="@BUs.BUId-@site.BUsiteId" class="BUsValues">
                                               <div class="lable-del"  buid="@BUs.BUId-@site.BUsiteId">
                                        	   <label >@site.BUsiteName</label>
                                                </div>
                                               </div><!--lable-del--> 
                                           }
                                           else
                                           {
                                               <div id="@BUs.BUId-@site.BUsiteId" class="BUsValues">
                                               <div class="lable-del"  buid="@BUs.BUId-@site.BUsiteId">
                                        	<label >@site.BUsiteName</label>
                                            <div onclick="deleteClick(this)"></div>
                                        </div><!--lable-del--> 
                                        </div>  
                                           }

                                       }
                                   </div>
                                           }
                                           currentRec++;
                                           OldName = BUs.BUName;
                                       }
                                   }
                                   @* @if (currentRec != 0)
                                {
                                    @:</div>
                                }*@
                                      </div><!--border-bg-box-->
                           </div><!--border-box-->
                           <br />


                            @for (int i = 1; i < @Model.Prices.Count; i++)
                            {
                                
                                <div class="border-box" id="Group@(i)">
                            	<div class="pricebu-row">
                                   	<label>@Html.Raw(@Resources.Additional_Fee)</label>
                                    <input type="text" name="Prices[@i]" value="@Model.Prices[i]" class="pricesvalue" onclick="Validatetext(this)"/>
                                     <span class="errmsg"></span>
                                </div>
                                <div class="pricebu-row">
                                    <button type="button"  style="float:none;" class="GroupBUButton" onclick="GroupBusinessUnitSites(@i)">@Resources.Group_Bu_Additional_Fee</button>
                                  </div><!--pricebu-row-->
                                  
                                  <div class="pricebu-row WorkingArea">
                                   @{OldName = "";
                                     currentRec = 0;
                                  }
                                @foreach (var BUs in @Model.BUDetails.Where(rec => rec.GroupNumber == i).OrderBy(rec => rec.OrgName))
                                {
                                    if (OldName != BUs.BUName)
                                    {
                                         @*if (currentRec != 0)
                                        {
                                           
                                            @:</div>
                                        }   *@
                                        <div class="buGroups" id="buheading_bu_@BUs.BUId">
                                            <label class="list-title">@BUs.BUName</label>
                                        </div>
                                    <div class="border-bg-box" id="bu_@BUs.BUId">
                                        @foreach (var site in @BUs.TempBUSiteDetails.Where(rec => rec.Ischecked == true))
                                        {

                                            if (site.IsPaymentDone == true)
                                            {
                                               <div id="@BUs.BUId-@site.BUsiteId">
                                               <div class="lable-del" buid="@BUs.BUId-@site.BUsiteId">
                                        	<label >@site.BUsiteName</label>
                                           </div><!--lable-del-->  
                                           </div>
                                            }
                                            else
                                            {
                                	            <div id="@BUs.BUId-@site.BUsiteId">
                                               <div class="lable-del" buid="@BUs.BUId-@site.BUsiteId">
                                        	<label >@site.BUsiteName</label>
                                            <div onclick="deleteClick(this)"></div>
                                        </div><!--lable-del-->  
                                        </div>  
                                            } 
                                        }
                                    </div>
                                    }
                                    currentRec++;
                                    OldName = BUs.BUName;

                                }
                                      </div><!--border-bg-box-->
                                </div><!--border-box-->     
                                 <br />                       
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              
                            }
                                                      
                                  
    </div>
    <div class="pageFooterContent" id="SubmitDiv"> 
                        <div class="pageFooterButtons">
                            <table>
                                <tbody>
                                    <tr>
                                        <td><button type="submit" btntype="Update" class="PageFooter_Button">@Resources.Common_Save</button></td>
                                        <td btntype="Update">@Resources.Common_label_or</td>
                                        <td><div class="pageFooterCancelButton"><a href="#!" onclick="window.close()">@Resources.Common_Cancel</a></div></td>
                                    </tr>	
                                </tbody></table> 
                        </div>
                    </div>
    </div>
    </div>
    </div>
    </div>
    
    
    
    <div class="border-box" id="MainGroup" style="display:none;">
        <div >
            <div class="pricebu-row">
                <label>@Html.Raw(@Resources.Additional_Fee)</label>
                <input type="text" class="PriceInfo" onclick="Validatetext(this)" name="price"/>
                  <span class="errmsg"></span>
            </div>
            <div class="pricebu-row">
                <button type="button" style="float:none;" onclick="GroupBusinessUnitSites(0)" class="GroupBUButton">@Resources.Group_Bu_Additional_Fee</button>
                <div class="border-bg-box" style="display:none;">
                </div>
			    @*<button type="button" style="float:right;" onclick="EditGroup(this,0)" class="EditBUButton">Edit</button>*@
            </div>
                                  
            <div class="pricebu-row WorkingArea">
            </div>
        </div>
    
    </div>
}
</body>

</html>