﻿<!--
 *****************************************************
Page Created Date:  30/06/2013
Created By: Rajesh Pendela
Purpose: Dynamic Prequlification - CLosing of pop up view
Version: 1.0
****************************************************
-->

@{
    ViewBag.Title = "Please wait..";
}


<script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")" type="text/javascript"></script>
<script type = "text/javascript">

    window.onbeforeunload = function () {

        window.parent.location.reload(true);
    }

    function closeView(userId) {
        //window.opener.updateCompaniesList(userId);
        window.close();
    }
     $(document).ready(function () {
         window.close();
         window.opener.document.location.reload(true);
     });
</script>