﻿<!--
Page Created Date:  10/08/2014
Created By: Kiran Talluri
Purpose:  To Create & display the Quiz template Sub-sections
Version: 1.0
****************************************************
-->


@using FVGen3.Domain.Entities;
@using Resources;
@model FVGen3.Domain.Entities.LocalTrainingQuestions
@{
    ViewBag.Title = "Questions";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}
<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="~/css/common.css"/>
<link rel="stylesheet" href="~/css/appInnerPages.css"/>
<link rel="stylesheet" href="~/css/index.css"/>
<link rel="stylesheet" href="~/css/templatetool.css"/>
<link href="~/Content/cleditor/jquery.cleditor.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="~/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="~/Content/Javascript/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="~/Content/Javascript/ckeditor/adapters/jquery.js"></script>

<script type="text/javascript" src="~/js/common.js"></script>
<script type="text/javascript" src="~/js/jquery-1.10.3.js"></script>
<link rel="stylesheet" href="~/css/prequalificationdynamic.css"/>
 

</head>

<script type="text/javascript">

    $(function () {
        $(".sortable").sortable({
            cancel: ".hiddenList"
        });
    });

    var numberOfQuestions = 0;
    $(document).ready(function () {

        $(".headerRichText").ckeditor();
        $(".FooterRichText").ckeditor();
        
        $("#add").click(function () {
            
            $('#source :input').each(function () {
                if ($(this).is(":checked")) {
                    $(this).parent().parent().find("label").text();
                    //alert($('#QuestionsList').find("#Question" + $(this).attr("id")).text());
                    if (!$('#QuestionsList').find("#Question" + $(this).attr("QBankIds")).length > 0) {
                        var data = '<tr>' + $(this).parent().parent().clone().html() + '</tr>';
                        //alert(data);
                        data = data.replace(new RegExp("id=\"" + $(this).attr("id"), 'g'), "id=\"" + $(this).attr("id") + "_Dest")
                        .replace(new RegExp("for=\"" + $(this).attr("id"), 'g'), "for=\"" + $(this).attr("id") + "_Dest");
                        //For IE
                        data = data.replace(new RegExp("id=" + $(this).attr("id"), 'g'), "id=" + $(this).attr("id") + "_Dest").replace(new RegExp("for=" + $(this).attr("id"), 'g'), "for=" + $(this).attr("id") + "_Dest");
                        $("#destination").append(data);

                    }
                    {//IF div not exist
                        var data = $("#Question").html().replace(new RegExp("_QuestionName", 'g'), $(this).parent().parent().find("label").text())
                                                    .replace(new RegExp("_QuestionBankId", 'g'), $(this).attr("QBankIds"))
                                                    .replace(new RegExp("_InpPos", 'g'), numberOfQuestions++);
                        $("#QuestionsList").append(data);
                    }
                }


            });

            $("#delete").click(function () {
                var ids = "";
                $('#destination :input').each(function () {
                    if ($(this).is(":checked")) {
                        ids += $(this).attr("QBankIds") + ",";
                    }
                });
                if (ids == "")//Rajesh on 11/29/2013
                    return;
                //alert(ids);
//                $.ajax({
//                    type: 'POST',
//                    url: 'DeleteQuizQuestions',
//                    data: 'questionBankIds=' + ids + '&subSectionId=@Model.SubSectionID',
//                    success: function (data) {
//                        //alert(data);
//                        window.location.reload(true);

                //                    },
            //sumanth on 10/21/2015 for FVOS-87 to delete the quetions from the training template
                $.ajax({
                    type: 'POST',
                    url: 'DeleteQuizQuestions',
                    data: 'questionBankIds=' + ids + '&subSectionId=@Model.SubSectionID',
                    success: function (data) {
                        //Phani on 12-08-2015 on SO-242
                        $('#destination :input').each(function () {
                            if ($(this).is(":checked")) {

                                var checkBoxId = $(this).attr('id');
                                var regex = /\d+/g;
                                var i = 0;
                                var number = checkBoxId.match(regex);
                                $(this).parent().parent().find("label").remove();
                                $(this).remove();
                                var id = "Question" + number;
                                $('#' + id).remove();
                                $('input[type="hidden"][value=' + number + ']').parent().remove();
                                var hidden_fields = $('#QuestionsList').find('input:hidden');
                                var x = hidden_fields.attr('name');
                                $("#QuestionsList").trigger("update");
                                $("#QuestionsList").trigger("appendCache");
                                $("#QuestionsList").find("input[type=hidden]").each(function (i) {
                                    //this is the current input we're looping through
                                    //i is the index
                                    $(this).attr('name', 'LocalQuestions[' + i + '].QuestionBankId');
                                });


                            }

                        });
                        //sumanth ends on 10/21/2015

                    },
                    error: function (req, status, result) {
                        alert("Could not delete the question, Prequalification related data exist");
                    }
                });

            });
        });

        setPermissions('@ViewBag.ViewPermissions');

        //===== Ends =================
        

    });

    var winPop = false;
    function AddOrEditQuizQuestionColumnDetails(url) {
       if (winPop && !winPop.closed) {  //checks to see if window is open  
            winPop.focus();
        }
        else {
            winPop = window.open(url, "_blank", "toolbar=no,  directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=yes, width=900, height=600");
        }

    }

    function searchQuestionBank() {

        var Searchstring = $("#SearchTextField").val();
        $("#source .QBankMainRow").each(function () {

            if ($(this).find("label").text().toLowerCase().indexOf(Searchstring.toLowerCase()) == -1)
                $(this).hide();
            else
                $(this).show();
        });
    }

    function MoveQuestionBanks(stringids) {

        var QBankIds = [];
        for (var i = 0; i < stringids.split(',').length; i++) {

            var IdWithStatus = stringids.split(',')[i].split('|');

            if (IdWithStatus[1] == "0")
                $("#QBankParent_" + IdWithStatus[0]).find("input").attr("editable", "false");
            //$("#QBankParent_" + IdWithStatus[0]).appendTo("#destination");
            //alert(QBankIds.indexOf(IdWithStatus[0]) + "  " + IdWithStatus[0]);

            if ($.inArray(IdWithStatus[0], QBankIds) == -1) {

                if ($("#QBankParent_" + IdWithStatus[0]).clone().html() != undefined) {
                    var data = '<tr>' + $("#QBankParent_" + IdWithStatus[0]).clone().html() + '</tr>';
                    //alert(data);
                    data = data.replace(new RegExp("id=\"" + IdWithStatus[0], 'g'), "id=\"" + IdWithStatus[0] + "_Dest").replace(new RegExp("for=\"" + IdWithStatus[0], 'g'), "for=\"" + IdWithStatus[0] + "_Dest");
                    //For IE
                    data = data.replace(new RegExp("id=" + IdWithStatus[0], 'g'), "id=" + IdWithStatus[0] + "_Dest").replace(new RegExp("for=" + IdWithStatus[0], 'g'), "for=" + IdWithStatus[0] + "_Dest"); 
                    $("#destination").append(data);
                }

            }
            if (IdWithStatus[1] == "0")
                $("#QBankParent_" + IdWithStatus[0]).find("input").removeAttr("editable");
            QBankIds.push(IdWithStatus[0]);
        }

    }

    function stopSorting(id, currentButton) {
        //alert($(currentButton).attr("flag_Arrange"));
        if ($(currentButton).attr("flag_Arrange") == "false") {
            $(currentButton).attr("flag_Arrange", "true");
            $(currentButton).attr("src", "../images/done.png");

            if ($(currentButton).attr("type") == "button") {
                $(currentButton).text("Done");
            }
        }
        else {
            $(currentButton).attr("flag_Arrange", "false");
            $(currentButton).attr("src", "../images/rearrangebutton.png");

            if ($(currentButton).attr("type") == "button") {
                $(currentButton).text("Re-Arrange");
            }
        }


        $("#" + id + " li").each(function () {
            //alert(id);
            $(this).removeClass("defaultList");
            $(this).removeClass("hiddenList");
            if ($(currentButton).attr("flag_Arrange") == "false") {
                $(this).addClass("hiddenList");
                $(this).find(".reArrangeImg").hide();

            }
            else {
                $(this).addClass("defaultList");
                $(this).find(".reArrangeImg").show();
            }

        });
        if ($(currentButton).attr("flag_Arrange") == "false") {
            var ids = "";
            $("#" + id + " li").each(function () {
                ids += $(this).prop("id") + "|";
            });
            //alert('templateSectionIds=' + ids + '&TemplateId=' + id.substring(3));
            $.ajax({
                type: 'GET',
                url: 'ChangeQuestionsOrder',
                data: 'QuestionIds=' + ids + '&templateSubSectionId=' + id.substring(3),
                success: function (data) {
                    //alert(data);

                },
                error: function () {
                    alert("Unable to re-arrange");
                }
            });
        }

    }

    function AddNewQuizQuestionBank() {
        if ($("#AddNewQuestion").val().trim() == "") {
            alert("Can not add blank question");
            return;
        }
        $.ajax({
            type: 'POST',
            url: 'AddQuizQuestionBank',
            //contentType: "application/x-www-form-urlencoded;charset=ISO-8859-15",
            //contentType: "application/json; charset=utf-8",
            //data: 'QuestionString=' + escape($("#AddNewQuestion").val().trim()),
            data: 'QuestionString=' + encodeURIComponent($("#AddNewQuestion").val().trim()),
            success: function (data) {
                if (data == "Ok")
                    window.location.reload(true);
                else
                    alert(data);

            },
            error: function (req, status, result) {
                alert("Unable to process request, Please contact system Administrator");
            }
        });
    }

    function AddBlankQuestion() {
        var data = $("#Question").html().replace(new RegExp("_QuestionName", 'g'), "")
                                                    .replace(new RegExp("_QuestionBankId", 'g'), 1);
        $("#QuestionsList").append(data);
    }
    function DeleteBlankQuestions() {
        $.ajax({
            type: 'POST',
            url: 'DeleteQuizQuestions',
            data: 'questionBankIds=1&subSectionId=@Model.SubSectionID',
            success: function (data) {
                //alert(data);
                window.location.reload(true);
            },
            error: function (req, status, result) {
                alert("Could not delete the question, Prequalification related data exist");
            }
        });
    }

</script>

<style>
    .sectionBG
    {
        width:100%;
        height:auto;
        padding:5px;    
        background-color:#ddd;
        float:left;
    }
</style>
<body>
@using (Html.BeginForm("QuizQuestionsList", "QuizTemplateBuilder", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(model => model.SectionId)
    @Html.HiddenFor(model => model.SubSectionID)
    @Html.HiddenFor(model => model.HeaderId)
    @Html.HiddenFor(model => model.FooterId)
    @Html.HiddenFor(model => model.isEdit)
    <div class="contentSub">
        <div>
            <table   width="100%">
                <tr>
                    <td>
                        <div class="page-subtitle">
                            <h2>@Resources.Qus_Add</h2>
                        </div>
                    </td>
                    @if (@Model.TemplateStatus != null && @Model.TemplateStatus == 0)
                    {
                        <td><button type="button" value="Preview" onclick="window.location='QuizTemplatePreview?TemplateSectionID=@Model.SectionId&ClientId=-1&type=@Model.TemplateType'">@Resources.Quiz_Preview</button></td>
                    }
                    <td style="float:right;"> 
                        <button type="button" value="Add New" onclick="window.location='QuizTemplatesAndSections'">@Resources.Common_questionnairebutton_text</button>
                    </td>
                </tr>
            </table>
        </div>
                
        <div id="editTable" class="rowIST">
            <table width="100%" border="0">
                <tr>
                        	
                    <td width="8%">
                        <h3>@Resources.Section</h3>
                    </td>
                        <td width="32%">
                        <h4>@Model.SectionName</h4>
                    </td>    
                </tr>
            </table>
        </div>
                
        <div class="rowIST">
            <label>@Resources.Sub_Sec_Name</label> 
            @Html.TextBoxFor(model => model.SubSectionName, new { maxlength = "150" })
        </div>
        <label>@Resources.Header_note</label>  
        <div class="rowIST">   
            <textarea id="HeaderContent" name="HeaderContent" class="headerRichText">
                @Html.Raw(Model.HeaderContent)
            </textarea>
            <div class="alertStar"> @Html.ValidationMessageFor(model => model.HeaderContent) </div>
        </div>

        <div class="sectionBG">

        <table>
            <tr class="rowIST">
                <td width="680">
                    <input type="text" id="AddNewQuestion" style="width:97%;"/>
                </td>
                <td>
                    <button type="button" onclick="AddNewQuizQuestionBank()">@Resources.Common_Add</button>
                </td>
            </tr>
        </table>

        <div class="rowIST">
            <table border="0">
                <tr>
                    <td><input type="text" id="SearchTextField" onkeyup="searchQuestionBank()"/></td>
                            
                    <td><img src="../images/searchquestionbank.png" onclick="searchQuestionBank()"/></td>
                    <td width="82"></td>
                    <td width="210"><b>@Resources.Blank_Questions</b></td>
                            
                    <td width=40 align="right"> 
                        <a value="Add New" href="#!" onclick="AddBlankQuestion()"> @Resources.Common_Add</a>
                    </td>
                    @if (@Model.TemplateStatus != null && @Model.TemplateStatus == 0)
                    {
                        <td width="60" align="right"><a href="#!" onclick="DeleteBlankQuestions()">@Resources.Common_Delete </a></td>
                    }
                </tr>
            </table>
        </div>

        <div class="rowIST">
            <table  width="709" border="0">
                <tr>
                    <td align="left" width="250">
                        <div class="scrollCheckboxmin">
                            <table id="source" border="0">
                                @foreach (var question in (List<FVGen3.Domain.Entities.QuestionsBank>)@ViewBag.QuestionsBankList)
                                {
                                    if (@question.QuestionString.Equals(""))
                                    {
                                        continue;
                                    }
                                    <tr class="QBankMainRow" id="QBankParent_@question.QuestionBankId">
                                        <td width="10" valign="top"><input  type="checkbox" id="@question.QuestionBankId" name="name" 
                                        QBankIds="@question.QuestionBankId"
                                            
                                        onclick="checkboxClicked(this)"
                                            
                                        ></input></td>
									    <td valign="top">
                                            <label for="@question.QuestionBankId" style="line-height:1.4em;">@question.QuestionString</label>
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>	
                    </td>
                    <td align="center" width="100">
                    <div class="buttonmin">
                        <button type="button" id="add">>></button>
                        <button type="button" id="delete"><<</button>
                    </div>
                    </td>
                    <td width="250">
                        <div  class="scrollCheckboxmin">
                            
                            <table id="destination">
                                    	
                            </table>
                        </div>		
                    </td>
                </tr>
            </table>
        </div> 

        </div>
        <div class="subTitleWithBG">
            <table>
                <tr>
                    <td>
                       @Resources.Questions_Note
                    </td>
                    <td width="20%">
                    @if (((List<FVGen3.Domain.Entities.Questions>)ViewBag.QuestionsList).ToList().Count() > 1)
                    {
                        <img src="../images/rearrangebutton.png" type="button" value="Add New" onclick="stopSorting('id_@Model.SubSectionID',this)" flag_Arrange="false"/>        
                    }
                    </td>
                </tr>
            </table>    
        </div>
        
        <div id="id_@Model.SubSectionID">
                <ul class="sortable" id="QuestionsList">
                    @{var QBankIdsToMove = "";}
                    @foreach (var question in (List<FVGen3.Domain.Entities.Questions>)ViewBag.QuestionsList)
                    {
                        var url = "AddOrEditQuizQuestionColumnDetails" + QueryStringModule.Encrypt("QuestionId=" + question.QuestionID);
                        var isEditable = 0;
                        if (question.QuestionColumnDetails == null || !(question.QuestionColumnDetails.Where(rec => rec.PrequalificationUserInputs.Count() > 0).Count() > 0))
                        {
                            isEditable = 1;
                        }
                        QBankIdsToMove += @question.QuestionBankId + "|" + isEditable + ",";
                        var QuestionBankid = "Question" + @question.QuestionBankId;
                        <li class="hiddenList" id="@question.QuestionID">
                            <div class="rowIST" id="@QuestionBankid" questionId="@question.QuestionID">
                                <table width="99%" border="0">
                    	            <tr>
                        	            <td width="35%">
                                            <table >
                                                <tr>
                                                    <td>
                                                        <label>
                                                            <div class="QuestionName">@question.QuestionText
                                                            @*Kiran on 11/6/2014*@
                                                            @if (@question.QuestionColumnDetails == null || @question.QuestionColumnDetails.Count() == 0 || @question.CorrectAnswer == null)
                                                            {
                                                            <b class="mandatory" style="color:#e81f25;font-weight:bold;font-size:12px;background:none;"># 
                                                            </b>
                                                            }
                                                            @*Ends<<<*@
                                                            </div>
                                                        </label>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td width="35%" align="center">
                                            <table border="0" width="100%">
                                                @*<tr>
                                    	            <td width="40%">
                                                        <label>Input Columns:</label>
                                                    </td>
                                                    <td width="40%" >
                                                        <label>1</label>
                                                    </td>
                                                </tr>*@
                                            </table>
                                        </td>
                                        <td width="25%">
                                            <table  width="95%" class="QdoneTable" >
                                                <tr>
                                                    <td width="60%">
                                                        <label><a href="#!" onclick="AddOrEditQuizQuestionColumnDetails('@url')">@Resources.Add_Quiz_Answers</a></label>                      
                                                    </td>
                                                    <td width="20%" align="right">
                                                        @*@if (question.QuestionColumnDetails == null || !(question.QuestionColumnDetails.Where(rec => rec.PrequalificationUserInputs.Count() > 0).Count() > 0))
                                                        {   
                                                            <img class="QdoneEdit" onclick="QEditDone(this)" src="../images/edit.png" style="vertical-align:top; cursor:pointer;" />
                                                        }*@
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td align="right" valign="bottom" ><img src="../images/rearrange.png" class="reArrangeImg"/></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                    }
                </ul>

                    <script>  MoveQuestionBanks('@QBankIdsToMove')</script>
                </div>

        <div id="Question" style="display:none;">
                    <li class="hiddenList" id="Question_QuestionId" >
                        <input type="hidden" id="LocalQuestions__InpPos__QuestionBankId" name="LocalQuestions[_InpPos].QuestionBankId" value="_QuestionBankId"/>

                        <div class="rowIST"  id="Question_QuestionBankId" questionId="-1">
                	    <table width="99%" border="0" >
                    	<tr>
                        	<td width="35%">
                                <table >
                                <tr>
                                <td><label><mark class="QuestionName">_QuestionName</mark>
                                <mark  class="mandatory"> @Resources.YashSymbol </mark></label></td>
                                                                </tr>
                                </table>
                            </td>
                            <td width="35%" align="center">
                                    <table width="100%">
                                    @*<tr>
                                    	<td width="40%"><label>Input Columns:</label></td>
                                        <td width="40%" >
                                            <label>1</label>
                                            </td>
                                        <td width="20%"></td>
                                        
                                    </tr>*@
                                    </table>
                            </td>
                            <td width="25%">
                                <table  width="95%" class="QdoneTable"  style="display:none;">
                                <tr>
                                <td width="20%"></td>
                                <td width="60%">
                                    <label><a href="#!" class="questionTypeClass" onclick="">@Resources.Qus_Type</a></label>
                                </td>
                                @*<td width="20%" align="right">
                                    <img class="QdoneEdit" onclick="QEditDone(this)" src="../images/edit.png" style="vertical-align:top; cursor:pointer;" />
                                    </td>*@
                                </tr>
                                </table>
                            </td>
                            <td align="right" valign="bottom" style="padding-top:5px;"><img src="../images/rearrange.png" class="reArrangeImg" style="display:none;"/></td>
                        </tr>
                    </table>
                    </div>
                    </li>
                </div>

                <label>Footer Note:</label>  
                <div class="rowIST">   
                    <textarea id="FooterContent" name="FooterContent" class="FooterRichText">
                        @Html.Raw(Model.FooterContent)
                    </textarea>
                     <div class="alertStar"> @Html.ValidationMessageFor(model => model.FooterContent) </div>
                </div>
        </div>
    
        <div class="contentSub">
            <div class="pageFooterContent"> 
                <div class="pageFooterButtons">
                    <table>
                        <tr>
                            <td><button type="submit" btnType="Update" class="PageFooter_Button">@Resources.Common_button_text</button></td>
                        </tr>	
                    </table> 
                </div>
            </div>
        </div>	
	
}
</body>
</html>

