﻿<!--
Page Created Date:  10/07/2014
Created By: Kiran Talluri
Purpose:  To Create & display the Quiz templates
Version: 1.0
****************************************************
-->
@using FVGen3.Domain.Entities;
@using System.Data.SqlClient;
@using Resources;
@model IEnumerable<FVGen3.Domain.Entities.Templates>
@{
    ViewBag.Title = "Quiz Templates List";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Resources.QuizSecs</title>
    <link rel="stylesheet" href="~/css/templatetool.css">
    <link rel="stylesheet" href="~/css/jquery-ui.css">
</head>
<script src="~/js/jquery-1.9.1.min.js" type="text/javascript"></script>
<script src="~/js/jquery-1.10.3.js"></script>
<script src="~/js/common.js" type="text/javascript"></script>
<script type="text/javascript">

    $(function () {
        $(".sortable").sortable({
            cancel: ".hiddenList"
        });
        //        $(".sortable").disableSelection();
    });
    function ShowTemplate(obj, templateid) {
        debugger;
        var Template = $(obj).parent("h3").find("a");
        Template.css("text-decoration", "");
        //$(obj).parent("h3").find("a :first").attr("onclick", 'AddNewTemplate("' + templateid + '")');
        //$(obj).parent("h3").children('a').eq(1).attr("onclick", 'AddClients("' + templateid + '")');
        $(obj).attr("src", '/images/DelButton.png');
        $(obj).attr("onclick", 'HideTemplate(this,"' + templateid + '")');
        var checkboxvalue = false;
        $.ajax({
            type: 'GET',

            url: "../TemplateTool/HideTemplate?TemplateID=" + templateid + "&Ischecked=" + checkboxvalue,
            success: function (data) {

                //if (data == "Success")

                //    alert("Show Template Sucessfully");

            }

        });

    }
    function HideTemplate(obj, templateid) {
        debugger;
        var Template = $(obj).parent("h3").find("a");
        var TemplateName = $(obj).parent("h3").find("a :first").text();

        var c = confirm("Do you want to Hide " + TemplateName + " Templete");
        if (c) {
            var a = Template.css("text-decoration", "line-through");
            //Template.removeAttr('onclick');
            $(obj).attr("src", '/images/done.png');
            $(obj).width(20);
            $(obj).attr("onclick", 'ShowTemplate(this,"' + templateid + '")');

            $.ajax({
                type: 'GET',

                url: "../TemplateTool/HideTemplate?TemplateID=" + templateid + "&Ischecked=" + true,
                success: function (data) {




                }, error: function () {
                    alert("Unable to Hiden template");
                }
            });
        }
    }

    $(document).ready(function () {
        setPermissions('@ViewBag.ViewPermissions');

        $(".ExpandListButton").click(function () {

            $(".page-subtitleAdd").removeClass("subTitle");
            $(".page-subtitleAdd").addClass("page-subtitleAdd");
            $(this).parent().parent().find(".page-subtitleAdd").addClass("subTitle"); //Rajesh on 10-19-2013

            if ($(this).parent().parent().find(".div").is(':visible') == false) {
                $(".div").not($(this).parent().parent().find(".div")).slideUp();
                $(this).parent().parent().find(".div").slideDown();
                $(".ExpandListButton").attr("src", "../images/Expandlist.png");
                $(this).attr("src", "../images/collapse.png");
            }
            else {
                $(this).parent().parent().find(".div").slideUp();
                $(this).attr("src", "../images/Expandlist.png");
            }

        });

    });

    var QuizTemplatePopUp = false;
    function AddOrShowQuizTemplate(templateId) {
        if (QuizTemplatePopUp && !QuizTemplatePopUp.closed) {
            QuizTemplatePopUp.focus();
        }
        else {
            if (templateId == -1)
                QuizTemplatePopUp = window.open("AddOrEditCustomQuizTemplate", "_blank", "toolbar=no,  directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=yes, width=720, height=500");
            else
                QuizTemplatePopUp = window.open("AddOrEditCustomQuizTemplate?TemplateId=" + templateId, "_blank", "toolbar=no,  directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=yes, width=720, height=500");
        }
    }

    var GroupSitesTemplatePopUp = false;
    function AssignUnitsForTraining(templateId) {
        if (GroupSitesTemplatePopUp && !GroupSitesTemplatePopUp.closed) {
            GroupSitesTemplatePopUp.focus();
        }
        else {
            GroupSitesTemplatePopUp = window.open("AssignUnitsForTraining?TemplateId=" + templateId, "_blank", "toolbar=no,  directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=yes, width=720, height=500");
        }
    }

    var QuizSectionPopUp = false;
    function AddNewQuizSection(templateId, sectionId) {
        if (QuizSectionPopUp && !QuizSectionPopUp.closed) {
            QuizSectionPopUp.focus();
        }
        else {
            QuizSectionPopUp = window.open("AddOrEditQuizSection?TemplateId=" + templateId + "&TemplateSectionID=" + sectionId, "_blank", "toolbar=no,  directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=yes, width=750, height=700");
        }
    }

    function DeleteQuizTemplate(templateid) {
        var c = confirm("All Sections,Subsections and Questions belonging to this template will be deleted, Do you want to proceed?");
        if (c) {
            $(".spinnerOverlay").show();
            $('.importSubmitSpinner').show();

            $.ajax({
                type: 'GET',
                url: 'DeleteQuizTemplate',
                data: 'TemplateId=' + templateid,
                success: function (data) {
                    if (data == "DeleteSuccess")
                        window.location.reload(true);
                    $('.spinnerOverlay').hide();
                    $('.importSubmitSpinner').hide();
                },
                error: function (req, status, result) {
                    $('.spinnerOverlay').hide();
                    $('.importSubmitSpinner').hide();
                    alert("Unable to delete, Please contact administrator");

                }
            });
        }
    }

    function DeleteQuizSection(secId) {

        var c = confirm("All Subsections and Questions belonging to this Section will be deleted, Do you want to proceed?");
        if (c)
            $.ajax({
                type: 'GET',
                url: 'DeleteQuizSection',
                data: 'TemplateSectionID=' + secId,
                success: function (data) {
                    if (data == "OK")
                        window.location.reload(true);
                },
                error: function (req, status, result) {
                    alert("Unable to delete, Please contact administrator");
                }
            });
    }

    var QuizClientTemplateBUPopUp = false;
    function ApproveQuizTemplate(templateId) {
        if (QuizClientTemplateBUPopUp && !QuizClientTemplateBUPopUp.closed) {
            QuizClientTemplateBUPopUp.focus();
        }
        else {

            $.ajax({
                type: 'GET',
                url: 'ApproveQuizTemplate',
                data: 'TemplateID=' + templateId,
                success: function (data) {
                    if (data == "Approvetemplate") {
                        //QuizClientTemplateBUPopUp = window.open("AddQuizClientTemplateBusinessUnits?TemplateId=" + templateId, "_blank", "toolbar=no,  directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=yes, width=750, height=700");
                        QuizClientTemplateBUPopUp = window.open("AssignUnitsForTraining?TemplateId=" + templateId, "_blank", "toolbar=no,  directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=yes, width=750, height=700");
                    }
                    else if (data == "Incomplete") {
                        alert("Either questions or videos might be missing. Please verify");
                    }
                    //window.location.reload(true);
                },
                error: function (req, status, result) {
                    alert("Unable to approve, Please contact administrator");
                }
            });
        }
    }

    function stopSorting(id, currentButton) {
        //alert($(currentButton).attr("flag_Arrange"));
        if ($(currentButton).attr("flag_Arrange") == "false") {
            $(currentButton).attr("flag_Arrange", "true");
            $(currentButton).attr("src", "../images/done.png");

            if ($(currentButton).attr("type") == "button") {
                $(currentButton).text("Done");
            }
        }
        else {
            $(currentButton).attr("flag_Arrange", "false");
            $(currentButton).attr("src", "../images/rearrangebutton.png");

            if ($(currentButton).attr("type") == "button") {
                $(currentButton).text("Re-Arrange");
            }
        }


        $("#" + id + " li").each(function () {

            $(this).removeClass("defaultList");
            $(this).removeClass("hiddenList");
            if ($(currentButton).attr("flag_Arrange") == "false") {
                $(this).addClass("hiddenList");
                $(this).find(".reArrangeImg").hide();

            }
            else {
                $(this).addClass("defaultList");
                $(this).find(".reArrangeImg").show();
            }

        });
        if ($(currentButton).attr("flag_Arrange") == "false") {
            var ids = "";
            $("#" + id + " li").each(function () {
                ids += $(this).prop("id") + "|";
            });
            //alert('templateSectionIds=' + ids + '&TemplateId=' + id.substring(3));
            $.ajax({
                type: 'GET',
                url: 'ChangeTemplateSectionsOrder',
                data: 'templateSectionIds=' + ids + '&TemplateId=' + id.substring(3),
                success: function (data) {
                    //alert(data);

                },
                error: function () {
                    alert("Unable to re-arrange");
                }
            });
        }

    }

</script>
<body>
    <div class="contentSub">
        @{var quizTemplate_process = @Model.FirstOrDefault(rec => rec.TemplateStatus == 0 && rec.DefaultTemplate == false && rec.TemplateType == 1);}
        <div class="subSectionDataBackground">
            <div class="rowIST" style="height:22px;width:97%; margin-left:10px;">
                <table width="100%">
                    <tr>
                        <td align="left">

                            <div class="page-subtitle">
                                <h2>@Resources.Custom_Training</h2>

                            </div>
                        </td>
                        @if (quizTemplate_process != null)
                        {
                            <td><button type="button" style="float:right; margin-right:0.4%;margin-top:-10px;" onclick="ApproveQuizTemplate('@quizTemplate_process.TemplateID')">@Resources.Approve_Btn</button> </td>
                        }
                    </tr>
                </table>
            </div>
            @if (quizTemplate_process == null)
            {
                <div class="welcomeTextWizard">
                    <div style="position:absolute; top:-1.1em;right:1em;">
                        <button type="button" onclick="AddOrShowQuizTemplate(-1)">@Resources.Common_AddNew</button>
                    </div>
                    <div class="welcomeText">
                        <h3 onclick="AddOrShowQuizTemplate(-1)">@Html.Raw(@Resources.TemplatesAndSections_WelcomeText)</h3>
                    </div>
                </div>
            }

            else
            {
                <div class="newTemplateWizard">
                    <div style="float:left; width:99%; margin-top:10px; overflow:hidden; ">
                        <table width="100%">
                            <tr>
                                <td>
                                    <div class="page-subtitle" style="padding-left:10px; padding-top:0px;">
                                        <h2>@quizTemplate_process.TemplateName</h2>
                                    </div>
                                    <div class="subSectionDataContent">
                                        @quizTemplate_process.TemplateNotes
                                    </div>
                                </td>

                                <td width="30" align="right" valign="top"><img style="cursor:pointer;" src="../images/EditIcon.png" onclick="AddOrShowQuizTemplate('@quizTemplate_process.TemplateID')" /></td>
                                <td width="30" align="right" valign="top"><img style="cursor:pointer;" src="../images/DelButton.png" onclick="DeleteQuizTemplate('@quizTemplate_process.TemplateID')" /></td>
                            </tr>
                        </table>
                    </div>
                </div>


                <div style="float:left; width:99%; margin-top:5px;">
                    <table width="100%">
                        <tr>
                            <td align="left" style="padding-left:3%;"><h3>@Resources.TemplatesAndSections_AddSectionText@quizTemplate_process.TemplateName</h3></td>
                            @if (quizTemplate_process.TemplateSections != null && quizTemplate_process.TemplateSections.ToList().Count() > 0)
                            {
                                <td style="float:right; margin-right:0.4%;"> <button type="button" value="Preview" onclick="window.location='QuizTemplatePreview?TemplateSectionID=-1&ClientId=-1&type=1&templateId=@quizTemplate_process.TemplateID'">@Resources.Quiz_Preview</button></td>
                            }
                            <td style="float:right; margin-right:0.4%;"> <button type="button" style="margin-right:5px;" value="Add New" onclick="AddNewQuizSection('@quizTemplate_process.TemplateID','-1')">@Resources.Common_AddNew</button></td>

                        </tr>
                        <tr>
                            <td valign="top" style="padding-left:8%; font-size:11px;color:#e81f25;"><i>@Resources.Incomplete_Sec</i></td>
                            @if (quizTemplate_process.TemplateSections != null && quizTemplate_process.TemplateSections.ToList().Count() > 0)
                            {
                                <td style="float:right; margin-right:0.4%;"></td>
                            }
                            <td style="float:right; margin-right:0.4%;"></td>
                        </tr>
                    </table>
                    @if (quizTemplate_process.TemplateSections.ToList().Count() == 0)
                    {
                        <div class="welcomeTextWizard" style="width:99%;margin-top:5px;">

                            <div class="welcomeText">
                                <h3 onclick="AddNewQuizSection('@quizTemplate_process.TemplateID','-1')">@Resources.TemplatesAndSections_WelcomeText</h3>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="newTemplateWizard" style="width:98%;margin-top:5px;">
                            @* For Section List*@
                        @if (quizTemplate_process.TemplateSections.ToList().Count() > 1)
                        {
                            <img src="../images/rearrangebutton.png" style="float:right;cursor:pointer; margin:10px 15px 0 0px;" type="button" value="Add New" onclick="stopSorting('id_@quizTemplate_process.TemplateID',this)" flag_arrange="false" />
                        }
                        <div id="space" style="float:left; width:100%; height:10px;"></div>
                        <div class="newTemplateSectionList">
                            <ul class="sortable" id="id_@quizTemplate_process.TemplateID">
                                @foreach (var sec in quizTemplate_process.TemplateSections.ToList().OrderBy(rec => rec.DisplayOrder))
                                {
                                    var url = "";
                                    if (sec.TemplateSectionType == 21)
                                    {
                                        url = "QuizSubSectionView" + QueryStringModule.Encrypt("SectionId=" + @sec.TemplateSectionID);
                                    }
                                    else if (sec.TemplateSectionType == 22)
                                    {
                                        url = "QuizSubSectionIFrameView" + QueryStringModule.Encrypt("SectionId=" + @sec.TemplateSectionID);
                                    }
                                    else
                                        if (sec.TemplateSectionType == 1)
                                        {
                                            if (sec.TemplateSubSections.FirstOrDefault() == null)
                                            {
                                                url = "QuizQuestionsList?SubSectionId=-1&SectionId=" + sec.TemplateSectionID;
                                            }
                                            else
                                            {
                                                url = "QuizQuestionsList" + QueryStringModule.Encrypt("SubSectionId=" + sec.TemplateSubSections.FirstOrDefault().SubSectionID + "&SectionId=" + sec.TemplateSectionID);
                                            }
                                        }
                                    <li class="hiddenList" id="@sec.TemplateSectionID" style="width:92.8%">
                                        <table width="99%" style="margin:0 0 0 4px;float:left;border-collapse:collapse;">
                                            <tr>
                                                <td width="45%">
                                                    <a href="#!" onclick="AddNewQuizSection('@quizTemplate_process.TemplateID','@sec.TemplateSectionID')"><div style="float:left;">@sec.SectionName</div></a>

                                                    @if (sec.TemplateSectionType == 1)
                                                    {
                                                        if (sec.TemplateSubSections == null || sec.TemplateSubSections.Count() == 0)
                                                        {
                                                            @: <div style="color:#e81f25;font-weight:bold;font-size:18px;background:none;float:left;margin-left:4px;"> * </div>
                                                }
                                                    }
                                                    else
                                                    {
                                                        @*if(sec.Templates.ClientTemplates.FirstOrDefault().QuizVideoURL == "")
                                                            {
                                                                @: <div style="color:#e81f25;font-weight:bold;font-size:18px;background:none;float:left;margin-left:4px;"> * </div>
                                                            }*@
                                                    }
                                                </td>
                                                @if (sec.TemplateSectionType == 21)
                                                {
                                                    <td width="45%"><a href="@url">@Resources.Video_Upload</a></td>
                                                }
                                                else if (sec.TemplateSectionType == 22)
                                                {
                                                <td width="45%"><a href="@url">@Resources.Select_URL</a></td>
                                                }
                                                else if (sec.TemplateSectionType == 1)
                                                {
                                                    <td width="45%"><a href="@url">@Resources.Qus_Add</a></td>
                                                }

                                                <td align="right" valign="bottom" style="padding-top:5px;"><img src="../images/rearrange.png" class="reArrangeImg" style="display:none;" /></td>

                                                <td align="right" valign="bottom" style="padding-top:5px;"><img src="../images/DelButton.png" onclick="DeleteQuizSection('@sec.TemplateSectionID')" /></td>

                                            </tr>
                                        </table>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                    }
                </div>

            }
        </div>
    </div>
    @* Another Content Sub for Existing Templates *@
    <div class="contentSub">
        <div id="accord" style="float:left;">
            <div class="rowIST">
                <div class="page-subtitle">
                    <h2>@Resources.Exising_Trainings</h2>
                </div>
            </div>
            <div id="accord">
                <ul>
                    @foreach (var template in @Model.Where(rec => rec.TemplateStatus == 1 && rec.TemplateType == 1).ToList())
                    {
                        //kiran on 11/10/2014
                        <forerror>
                            @{
                        //Sandhya on 05/08/2015
                        //var templateAttcahedBUs = template.ClientTemplates.FirstOrDefault().ClientTemplatesForBU.ToList();
                        var templateAttcahedBUs = template.ClientTemplates.FirstOrDefault().ClientTemplatesBUGroupPrice.Where(rec => rec.GroupPriceType != -1).Select(rec => rec.ClientTemplatesForBU).ToList();
                            }
                        </forerror>
                        @*Ends<<<*@

                        <li class="list">

                            <div class="templateListDisplay">

                                <img src="../images/expandlist.png" style="float:right;margin-right:12px;" class="ExpandListButton" />
                                <h3>
                                    <a href="#!" onclick="AddOrShowQuizTemplate('@template.TemplateID')"
                                       
                                        @if (@template.IsHide == true) { @: style="text-decoration: line-through;"
                                                                      } 
                                       
                                       >@template.TemplateName</a>
                                    @if (@template.IsHide == false)
                                    {
                                        <img src="~/images/DelButton.png" onclick="HideTemplate(this,'@template.TemplateID')" />
                                    }
                                    else
                                    { <img src="~/images/done.png" onclick="ShowTemplate(this,'@template.TemplateID')" />
                                    }
                                    @if (@template.DefaultTemplate == false)
                                    {
                                        <i style="font-size:0.9em;margin-left:10px;">for @template.ClientTemplates.FirstOrDefault().Organizations.Name</i>
                                    }
                                   
                                </h3>
                            </div>
                            <div class="div" style="margin-bottom:15px;  ">
                                <button style="float:right; margin-right:2px;" type="button" value="Preview" onclick="window.location='QuizTemplatePreview?TemplateSectionID=-1&ClientId=-1&type=0&templateId=@template.TemplateID'">@Resources.Quiz_Preview</button>

                                <button style="float:right; margin-right:2px;" type="button" value="Group Sites" onclick="AssignUnitsForTraining('@template.TemplateID')">@Resources.Sites_For_Group</button>

                                @*Kiran on 11/10/2014*@
                                @*<button style="float:right; margin-right:2px;" type="button" value="Add New" onclick="AddNewSection('@template.TemplateID','-1')">Add New</button>

                                    <button style="float:right; margin-right:5px;" type="button" value="Add New" onclick="stopSorting('id_@template.TemplateID',this)" flag_Arrange="false">Re-Arrange</button>*@
                                <div id="space" style="float:left; width:100%; height:10px;"></div><!---for spacing---->
                                <ul class="sortable" id="id_@template.TemplateID" style="margin-left:20px">
                                    @*kiran on 11/10/2014*@
                                    <li>
                                        <table>
                                            <tr>
                                                <td width="45%">@Resources.Attach_Bu</td>
                                                <td width="55%">
                                                    @*Sandhya on 05/08/2015*@
                                                    @*@for (int i = 0; i < templateAttcahedBUs.Count(); i++ )
                                                        {
                                                            if (i == templateAttcahedBUs.Count()-1)
                                                            {
                                                                @templateAttcahedBUs[i].ClientBusinessUnits.BusinessUnitName
                                                            }
                                                            else
                                                            {
                                                                @templateAttcahedBUs[i].ClientBusinessUnits.BusinessUnitName @:,
                                                            }
                                                        }*@
                                                    @{var k = 0;}
                                                    @for (int i = 0; i < templateAttcahedBUs.Count(); i++)
                                                    {
                                                        foreach (var Businessunit in @templateAttcahedBUs[i])
                                                        {
                                                            @Businessunit.ClientBusinessUnits.BusinessUnitName @:-
                                                        for (int j = 0; j < Businessunit.ClientTemplatesForBUSites.Count(); j++)
                                                        {
                                                            if (j == @Businessunit.ClientTemplatesForBUSites.Count() - 1 && k == @templateAttcahedBUs.Sum(rec => rec.Count) - 1)
                                                            {
                                                                @Businessunit.ClientTemplatesForBUSites[j].ClientBusinessUnitSites.SiteName @: .
                                                            }
                                                            else if (j == @Businessunit.ClientTemplatesForBUSites.Count() - 1)
                                                            {
                                                                @Businessunit.ClientTemplatesForBUSites[j].ClientBusinessUnitSites.SiteName@: :
                                                            }
                                                            else
                                                            {
                                                                @Businessunit.ClientTemplatesForBUSites[j].ClientBusinessUnitSites.SiteName@:,
                                                            }
                                                        }
                                                        k++;
                                                        }
                                                    }

                                                    @*Ends<<*@
                                                </td>
                                            </tr>
                                        </table>
                                    </li>
                                    @*Ends<<<*@
                                    @foreach (var sec in template.TemplateSections.ToList().OrderBy(rec => rec.DisplayOrder))
                                    {
                                        //Kiran on 11/10/2014
                                        var url = "QuizTemplatePreview" + QueryStringModule.Encrypt("TemplateSectionID=" + sec.TemplateSectionID + "&ClientId=" + sec.Templates.ClientTemplates.FirstOrDefault().ClientID + "&type=1" + "&templateId=" + sec.TemplateID);
                                        // Ends<<<
                                        <li class="hiddenList" id="@sec.TemplateSectionID">
                                            <table width="97%">
                                                <tr>
                                                    <td width="45%"><a href="#!" onclick="AddNewSection('@template.TemplateID','@sec.TemplateSectionID')">@sec.SectionName</a></td>

                                                    @*Kiran on 11/10/2014*@
                                                    @if (sec.TemplateSectionType == 21)
                                                    {
                                                        <td width="45%"><a href="@url">@Resources.View_Videos</a></td>
                                                    }
                                                    @if (sec.TemplateSectionType == 22)
                                                    {
                                                    <td width="45%"><a href="@url">@Resources.View_Media</a></td>
                                                    }
                                                    else if (sec.TemplateSectionType == 1)
                                                    {
                                                        <td width="45%"><a href="@url">@Resources.View_Qus</a></td>
                                                    }
                                                    @*Ends<<<*@
                                                    <td align="right" valign="bottom"><img src="../images/rearrange.png" class="reArrangeImg" style="display:none;" /></td>
                                                </tr>
                                            </table>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </li>
                    }
                </ul>

            </div>

        </div>
    </div>
    @* Closing of Existing templates Ends<<<*@
</body>
</html>
