﻿<!--
Page Created Date:  10/08/2014
Created By: Kiran Talluri
Purpose:  To Create & display the Quiz template Sub-sections
Version: 1.0
****************************************************
-->


@{
    ViewBag.Title = "Quiz SubSection View";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}
@model FVGen3.Domain.Entities.LocalQuizTemplateBuilderIFrame
<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<link rel="stylesheet" href="~/css/common.css"/>
<link rel="stylesheet" href="~/css/appInnerPages.css"/>
<link rel="stylesheet" href="~/css/index.css"/>
<link rel="stylesheet" href="~/css/templatetool.css"/>
<link href="~/Content/cleditor/jquery.cleditor.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="~/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="~/js/jquery-1.6.3.js"></script>
<script type="text/javascript" src="~/js/nicEdit.js"></script>
<script type="text/javascript" src="~/js/jquery-1.10.3.js"></script>
<script type="text/javascript" src="~/js/common.js"></script>
<link rel="stylesheet" href="~/css/prequalificationdynamic.css"/>

<script type="text/javascript">

  
    
    function SectionChanged() {
        window.location = 'QuizSubSectionIFrameView?SectionId=' + $("#Sectionslist").val();
    }
    function GetQuizSections(TemplateId, Section) {

        $.ajax({
            type: 'Post',
            url: 'GetQuizSections',
            data: 'TemplateId=' + TemplateId + '&SectionId=' + Section,
            success: function (data) {
                $('#Sectionslist').empty();

                for (var i = 0; i < data.length; i++) {
                    var datasec = data[i].Text;
                    var datasecId = data[i].Value;
                    var dataSel = data[i].Selected;

                    var newOption = $('<option value="' + datasecId + '" >' + datasec + '</option>');
                    if (dataSel == true)
                        newOption = $('<option value="' + datasecId + '" selected >' + datasec + '</option>');
                    $('#Sectionslist').append(newOption);
                }

            },
            error: function (req, status, error) {
                alert("Unable to get sections");
            }
        });
    }

    function htmlEncode(value) {
        //create a in-memory div, set it's inner text(which jQuery automatically encodes)
        //then grab the encoded contents back out.  The div never exists on the page.
        return $('<div/>').text(value).html();
    }
    function htmlDecode(value) {
        return $('<div/>').html(value).text();
    }
    //<<Ends
    var HeaderId = -1;
    var FooterId = -1;
    var Headereditor;
    var Footereditor;
    function Setheader(headerId, Title, Content) {
        HeaderId = headerId;
        $("#headerTitle").html(htmlDecode(Title));
        $("#HeaderContent").html(htmlDecode(Content));
        $("#RichTextAreaDiv").hide();

        $("#welcomeTextWizard").hide();
        $("#HeaderWithData").show();
    }
    function SetFooter(footerId, Title, Content) {
        FooterId = footerId;
        $("#FooterTitle").html(htmlDecode(Title));
        $("#FooterContent").html(htmlDecode(Content));
        $("#FooterRichTextAreaDiv").hide();
        $("#FooterwelcomeTextWizard").hide();
        $("#FooterWithData").show();
    }
   
    var area2;
  
   
  

    function HeaderTextClick() {

        $("#RichTextAreaDiv").show();
        $("#HeaderTitleDiv").show();

        $("#HeaderWithData").hide();
        $("#welcomeTextWizard").hide();

        $("#HTitle").val($("#headerTitle").html());         
        //$("#RichTextArea").html($("#HeaderContent").html()); 
        $('#RichTextAreaDiv').find('.nicEdit-main').html($("#HeaderContent").html());
        
        //        Headereditor.updateFrame();
        //        if ($("#HeaderText").text().trim() == "Click Here")
        //            $("#RichTextArea").val("");
        //        else
        //            $("#RichTextArea").val($("#HeaderText").text());

    }

    //siva on Feb 4th
    function replaceAll(find, replace, str) {
        //space (&nbsp;)
        var re = new RegExp(find, 'g');
        str = str.replace(re, replace);

        //<br>
        var re = new RegExp("<br>", 'g');
        str = str.replace(re, replace);
        return str;
    }




    $(document).ready(function () {

        //sandhya on 07/31/2015

        $(".spinnerOverlay").bind("ajaxSend", function () {
            $(this).show();
        }).bind("ajaxStop", function () {
            $(this).hide();
        }).bind("ajaxError", function () {
            $(this).hide();
        });

        $(".save").click(function () {
            //sandhya on 07/31/2015
            if ($("#Video").val() != "") {
                $('.spinnerOverlay').show();
                $('.importSubmitSpinner').show();
            }
        });

        //Ends>>

        setPermissions('@ViewBag.ViewPermissions');
        //=====Changes for New UI====
        $("#Edit").click(function () {
            $("#SelectedTemplate").hide();
            $("#SelectAnotherTemplate").show();

        });

        $("#Done").click(function () {
            $("#SelectedTemplate").show();
            $("#SelectAnotherTemplate").hide();
             

        });


        //===== Ends =================
        var options = {
            width: 686,
            height: 100,
            controls: "bold italic underline | font size " +
                    "style | bullets numbering | " +
                    "alignleft center alignright justify | undo redo | " +
                    "link unlink"
        };

        //Headereditor = $("#RichTextArea").cleditor(options)[0];
        //Footereditor = $("#FooterRichTextArea").cleditor(options)[0];
        // Self-executing recursive animation
        (function pulse() {
            $('.subSectionData').delay(500).animate({ 'border-color': '#dbe6f7' }, 100).delay(500).animate({ 'border-color': '#b7cced' }, 100, pulse);
        })();

    });
   

    bkLib.onDomLoaded(function () {
        //new nicEditor({ iconsPath: '../images/nicEditorIcons.gif' }).panelInstance('RichTextArea');
        new nicEditor({ buttonList: ['fontSize', 'bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', 'html', 'ul', 'ol', 'indent', 'outdent'] }).panelInstance('SectionHeader');

        new nicEditor({ buttonList: ['fontSize', 'bold', 'italic',  'underline', 'strikeThrough', 'subscript', 'superscript', 'html', 'ul', 'ol', 'indent', 'outdent'] }).panelInstance('SectionFooter');
    });

 </script>


<style>
    .nicEdit-main ol{ list-style:inside; list-style-type: decimal;  }
    .nicEdit-main ul{ list-style: inside; list-style-type: dot;   }
</style>
<!-- Ends -->

<style>
.fv_videoTitle img{
	float:right;
	margin-top:3px;
}
.newTemplateWizard ul
{
    margin:0 0 0 20px;
}
.subSectionData
{
	padding:30px; 
	  
	font-weight:bold; 
	color:#214478; 
	width:91%; 
	border:2px dashed #afc6e9; 
	background:#f6f9fc; 
	cursor:pointer;
	float:left;
	position:relative;
}
.subSectionData p
{
	text-align:center;
}
.subSectionDataContent
{
	float:left;
	width:100%;
color:#000;
	margin:0px;
	text-align:justify;  
}

.subSectionDataButtons
{
	width:100%;
	height:auto;
	float:right;
	margin-right:-20px;
	margin-top:-50px;
	text-align:right;  
	
}
</style>

<style>
.fv_videoWrapper{
	width:98%;
	height:auto;
	float:left;
	/*border:1px solid #f00;*/
	background:#ebf3f8;
	border:1px solid #add4ed;
	margin:10px 0;
}
.fv_videoTitle{
	width:98%;
	height:auto;
	padding:1%;
	background:#d3e7f4;
	float:left;
}
.fv_videoTitle h3{
	color:#3286b5;
}
.fv_videoRow{
	width:96%;
	height:auto;
	padding:2%;
	float:left;
}
.fv_videoWrapper input[type="file"]{
	
		float:left;
	/*width: 97.5%;*/
	width:90%;
	padding: 12px 1%; /* srinivas 1/22/2014 */
	background:#fff;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
	border: solid 1px #ddd;
	/*margin-right:30px;*/
	font-size: 16px;
	color: green;
}
.fv_videoRow table .fv_videoImg{
	width:3% !important;
	color:#10689a;
	padding-right:5px;
}
.fv_videoRow table .fv_videoLable{
	width:47% !important;
	color:#3286b5;
}
/*.fv_videoRow td{
	width:33.33%;
}*/
.fv_videoRow button{
	float:right;
}
.fv_videoRow .fv_videoCanel{
	float:right;
	margin-top:18px;
	width:auto;
	height:auto;  
	
}
.fv_videoRow .fv_videoError
{
    float:left;width:100%;height:auto;
}
</style>
</head>

<body>


<div>
@using (Html.BeginForm("QuizSubSectionIFrameView", "QuizTemplateBuilder", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    
		<div class="content">
        @Html.HiddenFor(rec => rec.SectionId)
         @*@Html.HiddenFor(rec => rec.TempQuizVideo)*@
            @*=============Changes for new UI ===============*@
            <div class="subSectionDataBackground">
                <div>
                    <table   width="100%">
                        <tr>
                            <td>
                                <div class="page-subtitle">
                                	<h2>@Resources.Resources.Add_Sub_Sec</h2>
                                </div>
                            </td>

                            <td> 
                                <button type="button" value="Add New" onclick="window.location='QuizTemplatesAndSections'">@Resources.Resources.Common_questionnairebutton_text</button>
                            </td>
                        </tr>
                    </table>
                </div>

                 @*   <div id="SelectedTemplate">
                    	<table  width="100%" border="0">
                        	<tr >
                            	<td valign="top" width="85;"><h3>Template:</h3></td>
                                <td valign="top" width="195"><h4>@ViewBag.TemplateName</h4></td>
                                <td valign="top" width="70;"><h3>Section:</h3></td>
                                <td valign="top" width="330"><h4>@ViewBag.SectionName</h4></td>
                                <td valign="top" align="left" width="40" id="Edit"><img src="~/images/edit.png" /></td>
                            </tr>
                        </table>
                        </div>
                        <div id="SelectAnotherTemplate" style="display:none;">
                        <table>
                            <tr  >
                            	<td valign="top" width="85;"><h3>Template:</h3></td>
                                <td valign="top" width="195"><h4>@ViewBag.TemplateName</h4></td>
                                <td valign="top" width="70;"><h3>Section:</h3></td>
                                <td valign="top" width="330"><select style="float:none;" id="Sectionslist"></select></td>
                                <td valign="top" align="left" width="40" id="Edit"><img onclick="SectionChanged()" src="~/images/done.png"/></td>
                            </tr>
                        </table>
                    </div>*@

                    @*     For Header           *@
                   
                    <div id="RichTextAreaDiv"    style="width:98%;float:left;height:100%;margin:20px 10px 0 10px;">
                           @Html.TextAreaFor(rec => rec.SectionHeader, new { @style = "width: 100%; height: 100px;"  })
                    </div>
                  
                     
                 <br />
                 @{var subsections = ((FVGen3.Domain.Entities.TemplateSections)ViewBag.Section).TemplateSubSections.ToList();
                   var hasAlternateVideos = subsections.FirstOrDefault(rec => rec.SubSectionTypeCondition == "QuizAlternateFormats");
                   }
                    @foreach (var subSection in subsections)
                    {
                        if (subSection.SubSectionTypeCondition == "QuizIFrame")
                        {
                            
                            <div style="width:100%;float:left;height:100%;margin:20px 0px 0 10px;">
                                <div class="fv_videoWrapper">
                 	            <div class="fv_videoTitle">
                                    <img src="~/images/edit.png" onclick="AddTrainingVideoOrAlternateFormat('@subSection.SubSectionID', 'QuizVideos', 'false', '@subSection.TemplateSections.TemplateSectionID' )" />
                                    <h3>@subSection.SubSectionName:<font color ="Red">*</font></h3>
                                </div>
                                    <div class="fv_videoRow" id="SelectURL">
                                        Select URL: @Html.TextBoxFor(rec => rec.QuizIFrameURL, new { @style = "width:70%;" })
                                        <div class="alertStar"> @Html.ValidationMessageFor(model => model.QuizIFrameURL) </div>
                                    </div>
                                    <div class="fv_videoRow" id="HeightAndWidth">
                                        Height: @Html.TextBoxFor(rec => rec.QuizIFrameHeight, new { @style = "width:30px;" })
                                        <div class="alertStar"> @Html.ValidationMessageFor(model => model.QuizIFrameHeight) </div>
                                        
                                        Width: @Html.TextBoxFor(rec => rec.QuizIFrameWidth, new { @style = "width:30px;" })
                                        <div class="alertStar">@Html.ValidationMessageFor(model => model.QuizIFrameWidth) </div>                                            
                                    </div>
                                    <!--fv_videoTitle-->
                 	            @*<div class="fv_videoRow" id="BrowseVideo"
                                    @if (!String.IsNullOrEmpty(@Model.QuizVideo))
                                    {
                                        @:style="display:none";
                                    }
                                >*@
                    	            @*<input type="file" id="Video" name="QuizVideo"  data-val-required="*" data-val="true" accept=".mp4,.flv,.swf"/>
        <div class="fv_videoCanel">
            <a href="#!" onclick="$('#DisplayVideo').show();$('#BrowseVideo').hide();">Cancel</a>
        </div>
        <div class="fv_videoError">
            @Html.ValidationMessageFor(model => model.QuizVideo)
        </div>

    </div>*@
                                @*<div class="fv_videoRow" id="DisplayVideo"
                                    @if (String.IsNullOrEmpty(@Model.QuizVideo))
                                    {
                                        @:style="display:none";
                                    }
                                >
                    	            <table width="100%" border="0">
                        	            <tr>
                            	            <td class="fv_videoImg"><img src="~/images/fv_camera.png"/></td>
                                            <td class="fv_videoLable">@Model.QuizVideo</td>
                                            <td class="fv_videoImg"><img src="~/images/fv_videoReplace.png"/></td>
                                            <td class="fv_videoLable"><a href="#!" onclick="$('#DisplayVideo').hide();$('#BrowseVideo').show();">Replace</a></td>

                                        </tr>
                                    </table>
                                </div>*@
                            </div>
                            
                            </div>
                        }
                    }
                 
           

                    <div id="FooterRichTextAreaDiv" style="width:98%;float:left;height:100%;margin:20px 0px 0 10px;">
                            
                            @Html.TextAreaFor(rec => rec.SectionFooter, new { @style = "width: 100%; height: 100px;" })
                        
                    </div>
                    <div class="alertStar"> @Html.ValidationMessageFor(model => model.SectionHeader) </div>
                    @* Footer Ends *@

                    

            </div>
            @*=============Changes for new UI Ends ===============*@
          

			</div><!---ContentSub--->
            </div><!---Content-->
             
            //sandhya on 07/31/2015
            <div class="spinnerOverlay">
		             <img src="../images/spinner.gif" width="28" height="28" class="importSubmitSpinner" alt="Spinner" />
            </div>
            //Ends>>
    <button type="submit" class="save">@Resources.Resources.Common_Save</button>
}
    @if (@ViewBag.Header != null)
    {
    <script>
        Setheader('@ViewBag.Header.HeaderFooterId', '@ViewBag.Header.PositionTitle', '@ViewBag.Header.PostionContent');
    </script>
    }
    @if (@ViewBag.Footer != null)
    {
    <script>
        SetFooter('@ViewBag.Footer.HeaderFooterId', '@ViewBag.Footer.PositionTitle', '@ViewBag.Footer.PostionContent');
    </script>
    }
</body>
</html>
