﻿<!--
Page Created Date:  05/28/2013
Created By: Rajesh Pendela
Purpose:  All operations of prequalification will be controlled here
Version: 1.0
****************************************************
-->
@using FVGen3.Domain.Entities;
@using System.Data.SqlClient;

@model FVGen3.Domain.Entities.Templates
@{
    ViewBag.Title = "Quiz Template Preview";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="../css/prequalificationdynamic.css"/>


<script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@*<script src="@Url.Content("~/js/jquery.maskedinput.js")" type="text/javascript"></script>*@
@Scripts.Render("~/js/common.js")
<script src="../Scripts/jquery-ui.js"></script>
<script src="~/js/autoNumeric.js"></script>
<link rel="stylesheet" href="../css/jquery-ui.css" />
<link rel="stylesheet" href="@Url.Content("~/Content/Site.css")"/>
</head>

<script type="text/javascript">

    $.validator.setDefaults({
        ignore: []
        // any other default options and/or rules
    });
    //Rajesh on 12/3/2013
    function SectionClick(obj) {

        $(obj).closest(".totalSubsection").find(".ctrlDivRow[hasDisplay!='false']").toggle();
        //alert($(obj).attr("src").indexOf("expandlist.png"));
        if ($(obj).attr("src").indexOf("expandlist.png") != -1) {
            $(obj).attr("src", "../images/collapse.png");
        }
        else {
            $(obj).attr("src", "../images/expandlist.png");
        }
    }
    //Rajesh on 11/23/2013
    function approveClick(docId, status, currentBtn) {

        $.ajax({
            type: 'POST',
            url: 'ChangeDocStatus',
            data: 'DocId=' + docId + '&status=' + status,
            success: function (data) {
                $(currentBtn).hide();
                if (status == "Approved") {
                    $(currentBtn).closest('tr').find(".rejected").show();
                    $(currentBtn).closest('tr').find(".StatusLabel").text("Status: Approved");
                }
                else {
                    $(currentBtn).closest('tr').find(".approved").show();
                    $(currentBtn).closest('tr').find(".StatusLabel").text("Status: Rejected");
                }
            },
            error: function () {
                //alert("Fail");
            }
        });

    }
    //Ends
    var QuizTemplatePopUp = false;
    function EDitQuestion(QuestionID) {
        if (QuizTemplatePopUp && !QuizTemplatePopUp.closed) {
            QuizTemplatePopUp.focus();
        }
        else {

            QuizTemplatePopUp = window.open("AddOrEditQuizQuestionColumnDetails?QuestionID=" + QuestionID, "_blank", "toolbar=no,  directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=yes, width=720, height=500");
        }
    }

    //Depend type indicates is it section or control 0-Question 1-Section
    function DynamicFieldsHiding(allFields, hideFields, dependType, allDepends, onload) {
        //alert(allFields);
        var split = allFields.split(",");
        for (var i = 0; i < split.length; i++) {
            if (allDepends.split(",")[i] == "0") {


                $("#id_" + split[i]).hide();
                $("#id_" + split[i]).attr("hasDisplay", "false");
                $("#id_" + split[i]).find("input, select, textarea").attr("hasNotDisplay", true);

            }
            else {
                $("#subid_" + split[i]).hide();
                $("#subid_" + split[i]).attr("hasDisplay", "false");

                $("#subid_" + split[i]).find("input, select, textarea").attr("hasNotDisplay", true);
            }
            //alert("#id_" + split[i]);
        }
        //alert(hideFields + dependType + onload);
        split = hideFields.split(",");
        for (var j = 0; j < split.length; j++) {
            if (dependType.split(",")[j] == "0") {
                //if (!onload)
                $("#id_" + split[j]).show();
                $("#id_" + split[j]).attr("hasDisplay", "true");
                $("#id_" + split[j]).find("input, select, textarea").attr("hasNotDisplay", false);
            }
            else {
                //if (!onload)
                $("#subid_" + split[j]).show();
                $("#subid_" + split[j]).attr("hasDisplay", "true");
                $("#subid_" + split[j]).find("input, select, textarea").attr("hasNotDisplay", true);
            }
            //alert("#id_" + split[i]);
        }
    }

    function goPrequalification() {
        //alert("ASDFA");
        //window.location = "TemplatesList?PreQualificationId=" + $('#PreQualificationList').val();
        window.location = "TemplatesList?PreQualificationId=" + $('#PreQualificationList').val() + "&oldPreQualificationId=@ViewBag.PrequalificationId"; //Rajesh on 9/21/2013
    }

    function checkBoxClick(trueFalseValues, currentObject) {//Whech checkbox click there will be 2 values these can be split by $

        var split = trueFalseValues.split("$"); //1st one true values,2nd one false values
        var data = "";
        if ($(currentObject).is(":checked")) {
            data = split[0].split("|");
            //alert("true :"+data);
            DynamicFieldsHiding(data[0], data[1], data[2], data[3], false);
        }
        else {
            data = split[1].split("|");
            //alert("false :" + data);
            DynamicFieldsHiding(data[0], data[1], data[2], data[3], false);
        }
    }
    function dropDownChange(currentDropDown) {
        DynamicFieldsHiding($(currentDropDown).attr("AllDepends"), $('option:selected', currentDropDown).attr("presentDepends"), $('option:selected', currentDropDown).attr("dependsType"), $(currentDropDown).attr("allDependsType"), false);
    }

    $(document).ready(function () {

        $('[HideMe]').each(function () {
            //alert($(this).attr("HideMe") + "   " + $(this).val());
            DynamicFieldsHiding($(this).attr("HideMe").split("|")[0], $(this).attr("HideMe").split("|")[1], $(this).attr("HideMe").split("|")[2], $(this).attr("HideMe").split("|")[3], $(this).attr("type") == "checkbox");
        });
        $('[QFormula]').each(function () {

            var totalField = $(this);
            var formula = $(this).attr("QFormula");
            //alert($(this).attr("QFormula") + "   " + $(this).val());
            var splitVal = formula.toString().replace(/\+/g, " ").replace(/-/g, " ").replace(/\*/g, " ").replace(/\//g, " ").replace(/\(/g, " ").replace(/\)/g, " ");
            var QuestionIds = splitVal.split(" ");
            for (var i = 0; i < QuestionIds.length; i++) {//These are questioncolumn ids
                //alert("#id_" + QuestionIds[i]);
                if (QuestionIds[i].indexOf("Q") != -1)
                    $("input[questioncolumnid=" + QuestionIds[i].replace("Q", "") + "]").keyup(function () {

                        var strFormula = formula;
                        for (var j = 0; j < QuestionIds.length; j++) {

                            if (QuestionIds[j].indexOf("Q") != -1) {
                                //alert($("input[questioncolumnid=" + QuestionIds[j].replace("Q", "") + "]").val());
                                var qVal = $("input[questioncolumnid=" + QuestionIds[j].replace("Q", "") + "]").val();
                                if (qVal == "")
                                    qVal = 0;
                                strFormula = strFormula.replace(QuestionIds[j], qVal);
                            }
                        }
                        try {
                            var Qval = eval(strFormula.replace(/,/g, "")); //rajesh on 1/2/2014
                            //alert((Qval + "").toLowerCase());

                            if ((Qval + "").toLowerCase() == "infinity" || (Qval + "").toLowerCase() == "nan")
                                Qval = 0;

                            //                            if (isFinite(Qval))
                            //                                Qval = 0;
                            //                            if (isNaN(Qval)) {
                            //                                Qval = 0;
                            //                            }
                            totalField.val(Qval);
                        } catch (Error) {
                            totalField.val("");
                            alert(Error);
                        }
                        //alert(eval(strFormula));
                        //alert($(this).val());
                    })
            }
            //alert(splitVal.split(" ")[i]);
        });

        $('form :input').each(function () {

            if ($(this).attr('type') == "dates") {
                $(this).datepicker();
            }

            if ($(this).attr("isMandatory") == "True") {
                if (!($(this).attr('type') == "radio")) //For All Required Fields except radio button
                {
                    $(this).rules("add",
                    {
                        required: true,

                        messages:
                        {
                            required: "*"
                        }
                    });

                }
            }

            if ($(this).attr('ctrlType') == "Email") {

                $(this).rules("add",
                    {
                        email: true,
                        messages:
                        {
                            email: "Invalid Email"
                        }
                    });

            }
            if ($(this).attr('ctrlType') == "Number") {
                if ($(this).attr("qformula") != undefined && $(this).attr("qformula").length > 0)//Rajesh on 1/2/2014
                    $(this).autoNumeric('init', { vMax: '99999999999.99' });
                else
                    $(this).autoNumeric('init', { vMax: '999999999.99' }); //Rajesh on 1/2/2014
                $(this).rules("add",
                    {
                        number: true,
                        messages:
                        {
                            number: "Invalid Number"
                        }
                    });

            }


        });

        $('form :input').blur(function () {
            $(this).valid();
        });


        // For Roles and Permissions
        //setPermissions('@ViewBag.ViewPermissions');
        // Ends<<< 

    });

    function deleteDocument(docId, subSecId) {
        var confirmDelete = confirm("Are you sure you want to delete?");
        if (confirmDelete) {
            $.ajax({
                type: 'POST',
                url: 'RemoveDocument',
                data: 'documentId=' + docId,
                success: function (data) {
                    //alert(data);
                    getSubSectionData(subSecId);


                },
                error: function () {
                    //alert("Fail");
                }
            });
        }
    }
    //Type >>> 0-Save & Continue 1-Save
    function submitForm(type) {
        if (type == 0) {
            if (!$('form').valid()) {



                $('.input-validation-error').each(function () {

                    //alert($(this).closest(".totalSubsection"));
                    $(this).closest(".totalSubsection").find(".ctrlDivRow[hasDisplay!='false']").show();
                    //alert($(obj).attr("src").indexOf("expandlist.png"));

                    $(this).closest(".totalSubsection").find(".ExpandListButton").attr("src", "../images/collapse.png");

                });
                var inp = $('.input-validation-error:first').get(0);

                if (inp) {
                    inp.focus();
                }
                return;
            }
        }
        var fieldsWithValues = "";

        $('form :input').each(function () {

            if (!$(this).is(":visible")) {
                $(this).val("");
            }
            if ($(this).attr('type') != "button" && $(this).attr('type') != "radio" && $(this).attr('type') != "checkbox") //For All Required Fields except radio button
            {
                fieldsWithValues += $(this).attr('questionColumnId') + "^" + $(this).val() + "^" + $(this).attr('InsertionType') + "^" + $(this).attr('QuestionReferenceId') + "|";
                //alert($(this).attr('questionColumnId') + " Name: " + $(this).attr('name') + " Value :" + $(this).val());
            }
            else if ($(this).attr('type') == "radio" && $(this).is(":checked")) {
                //alert($(this).attr('questionColumnId') + " Name: " + $(this).attr('name') + " Value :" + $(this).val());
                fieldsWithValues += $(this).attr('questionColumnId') + "^" + $(this).val() + "^" + $(this).attr('InsertionType') + "^" + $(this).attr('QuestionReferenceId') + "|";
            }
            else if ($(this).attr('type') == "checkbox") {
                fieldsWithValues += $(this).attr('questionColumnId') + "^" + $(this).is(':checked') + "^" + $(this).attr('InsertionType') + "^" + $(this).attr('QuestionReferenceId') + "|";
            }

        });
        //alert(fieldsWithValues);
        $.ajax({
            type: 'POST',
            url: 'SubmitFormData',
            data: 'fieldsWithValues=' + escape(fieldsWithValues) + '&SectionId=@ViewBag.TemplateSectionID' + '&PreQualificationId=@ViewBag.PrequalificationId' + '&type=' + type,
            success: function (data) {
                //alert(data);
                if (data == "Session Has Expired")
                    window.location = "../SystemUsers/Login?messageType=3";
                else {
                    if (type == 0)
                        window.location = data;
                    else
                        alert("Interim save, however you will have to complete the full section to submit the prequalification.");
                }

            },
            error: function () {
                //alert("Fail");
            }
        });
    }
    function getSubSectionData(subsectionId) {

        $.ajax({
            type: 'GET',
            url: 'GetDynamicSubSectionContent',
            data: 'subSectionId=' + subsectionId + '&preQualificationID=@ViewBag.PrequalificationId&mode=@ViewBag.mode',
            success: function (data) {


                $("#id_" + subsectionId).html(data);

            },
            error: function () {
                //alert("Fail");
            }
        });
    }

    function playVideo(videoURL, VideoTitle) {
        $("#testIframe").attr("src", videoURL);
        $("#VideoTitle").html(VideoTitle);
    }

</script>


<script>
    function changeSelection(section, client) {
        $("#AllSections").val(section);
        $("#AllClients").val(client);
    }
    function doneClick() {

        window.location = "QuizTemplatePreview?TemplateSectionID=" + $("#AllSections").val() + "&ClientId=" + $("#AllClients").val() + "&type=@ViewBag.Type" + "&templateId=@ViewBag.TemplateId";
    }
</script>

<body>



<div>
            <table   width="100%">
                <tr>
                    <td>
                        <div class="page-subtitle">
                            <h2>@ViewBag.PreviewTemplateName - Preview</h2>
                        </div>
                    </td>

                    <td> 
                        <button type="button" value="Add New"

                                    @{var location = "";}
                                    @if (ViewBag.Type == 1)
                                    {
                                        location = "window.location='QuizTemplatesAndSections'";
                                    }
                                    else
                                    {
                                        location = "window.location='QuizTemplatesAndSections'";
                                    }
                        
                         onclick="@location">@Resources.Resources.Common_questionnairebutton_text</button>
                    </td>
                </tr>
            </table>
    </div>

    <div class="rowIST">
                    	<table  width="100%" border="0">
                        	
                            <tr>
                            	
                                <td width="370"><h3>@Html.DropDownList("AllSections", (List<SelectListItem>)@ViewBag.AllSections, new { @style = "width:280px;float:none;" })</h3></td>
                                
                                <td width="397;">@Html.Hidden("AllClients", "-1")</td>
                                <td align="left" width="40" id="Edit"><img onclick="doneClick()" src="~/images/done.png"/></td>
                            </tr>
                        </table>
                    </div>
<script>
    changeSelection('@ViewBag.TemplateSectionID', '@ViewBag.ClientId');                    
</script>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true);

<div class="templateSubSecMain">
@{TemplateSections selectedTemplateSection = @Model.TemplateSections.ToList().FirstOrDefault(x => x.TemplateSectionID == @ViewBag.TemplateSectionID);
  SqlCommand command = (SqlCommand)ViewBag.command;
  var hidFields = "";
  }
    @*<a href="TemplateSectionsList?templateId=@v.TemplateID&TemplateSectionID=@v.TemplateSectionID"> @v.SectionName</a><br />*@
   @if (@selectedTemplateSection != null)
   {
       //Header Insertion 


       //Header End<<<<<

       //Inserting Subsections
       if (@selectedTemplateSection.TemplateSubSections != null)
       {

           var TSubSec = selectedTemplateSection.TemplateSubSections.Where(rec => rec.Visible == true).OrderBy(x => x.DisplayOrder).ToList();

           foreach (var SubSection in TSubSec)
           {
               //If Subsection is sub header
               <div id="subid_@SubSection.SubSectionID" class="totalSubsection">
               

               
               @if (SubSection.SubHeader == true)
               {
                   <div class="subsectionSubHeader">
                       
                           <table width="709px;"><tr>                    
                           @try
                           {
                               if (SubSection.NoOfColumns > 1)
                               {
                                   var width = (709 - 30) / SubSection.SubSectionName.Split(',').Count() + "px";
                                   foreach (var subSec in SubSection.SubSectionName.Split(','))
                                   {
                                        <td style="width:@width">@subSec</td>
                                   }
                               }
                               else
                               {
                                    <td>@SubSection.SubSectionName</td>
                               }
                           }
                           catch { }
                                @if (SubSection.Questions != null && SubSection.Questions.Count() != 0)
                                {
                                    <td style="width:20px">
                                        <img src="../images/expandlist.png" style="margin-right:2px;cursor:pointer;" class="ExpandListButton" onclick="SectionClick(this)"/>                                       
                                    </td>
                                }
                            </tr>
                           
                            </table>
                                
                       
                    </div>
                                if (!string.IsNullOrEmpty(SubSection.SectionNotes))
                                {
                            <div class="rowIST"><p>@SubSection.SectionNotes</p></div>
                                }
               }
               else//If Subsection Main Header
               {
                    <div class="subsectionHeader">
                    
                        <table width="709px;"><tr>
                        @try
                        {
                            if (SubSection.NoOfColumns > 1)
                            {
                                var width = (709 - 30) / SubSection.SubSectionName.Split(',').Count() + "px";
                                foreach (var subSec in SubSection.SubSectionName.Split(','))
                                {
                                    <td style="width:@width">@subSec</td>
                                }
                            }
                            else
                            {
                                <td>@SubSection.SubSectionName</td>
                            }
                        }
                        catch { }
                            @if (SubSection.Questions != null && SubSection.Questions.Count() != 0)
                            {
                                <td>
                                    <img src="../images/expandlist.png" style="margin-right:7px;cursor:pointer;" class="ExpandListButton" onclick="SectionClick(this)"/>                                        
                                </td>
                            } 
                        </tr></table>
                            
                    
                    </div>
                            if (!string.IsNullOrEmpty(SubSection.SectionNotes))
                            {
                            <div class="rowIST"><p>@SubSection.SectionNotes</p></div>
                            }
               }


               <!--To Insert documents in sections
                   
               --> 

               <!--Ends<<<<-->
               @if (SubSection.SubSectionType == null || SubSection.SubSectionType == 0)//Standard
               {
                   //Placing controls
                    @PlaceControls(SubSection.Questions.Where(rec => rec.Visible == true).OrderBy(x => x.DisplayOrder).ToList(), command, "NormalInsertion");
               }
               
            </div>
           }
       }


   }
   @if (@selectedTemplateSection.TemplateSectionType == 21)
   {
       if (@selectedTemplateSection.TemplateSectionsHeaderFooter != null)
       {
           foreach (var HandF in @selectedTemplateSection.TemplateSectionsHeaderFooter.Where(x => x.PositionType == 0).ToList())
           {
               <div class="PrequalificationHeader">               
               @if (!string.IsNullOrEmpty(@HandF.PositionTitle))
               {
                   <label>@Html.Raw(@HandF.PositionTitle)</label>
               }
              <p>@Html.Raw(@HandF.PostionContent)</p>
               </div>
           }
       }

       if (selectedTemplateSection.TemplateSubSections != null && selectedTemplateSection.TemplateSubSections.Count() != 0)
       {
           foreach (var subSection in selectedTemplateSection.TemplateSubSections)
           {
               @*<div class="subsectionHeader">
                    <table width="709px;">
                        <tbody>
                            <tr>
                                <td>@subSection.SubSectionName</td>
                            </tr>
                        </tbody>                                    
                    </table>
                </div>  *@
               if (subSection.SubSectionTypeCondition == "QuizVideos")
               {   
                <div class="container">
                    <div class="content">
                        <div class="contentSub">
                            <div class="leftright">
                            @if (@ViewBag.VBVideoDocuments != null)
                            {
                                foreach (var video in (List<Document>)ViewBag.VBVideoDocuments)
                                {
                                    var dotIndex = @video.DocumentName.LastIndexOf('.');
                                    var strLength = @video.DocumentName.Length - 1;
                                    var extension = @video.DocumentName.Substring(dotIndex);
                                    var src = "../Training Videos/" + @video.DocumentId + extension;
                                
                                        <iframe title='YouTube video player' class='youtube-player' type='text/html' width="620" height="400"
                           
                                            src="@src"
                                            type='application/x-shockwave-flash'
                                            allowscriptaccess='always' allowfullscreen='true'
                                            frameborder='0'>
                                        </iframe> 
                                }
                            }
                        
                            </div>
                            
                            
                           @* <div class="leftright">
                                <div class="left">
    
                                    @if (@ViewBag.VBVideoDocuments != null)
                                    {
                                        foreach (var video in (List<Document>)ViewBag.VBVideoDocuments)
                                        {
                                            var dotIndex = @video.DocumentName.LastIndexOf('.');
                                            var strLength = @video.DocumentName.Length - 1;
                                            var extension = @video.DocumentName.Substring(dotIndex);
                                            var src = "../Training Videos/" + @video.DocumentId + extension;
                                            <div class="Video">
        	                                    <div class="videoTitle">
                                                <a href="#!" onclick="playVideo('@src', '@video.DocumentName')">@video.DocumentName</a>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>

                                <div class="right">
    	                            <div class="PlayVideoTitle" id="VideoTitle">
                                    </div>
    	                            <div class="PlayVideo">
        	                        <iframe id ="testIframe" title="YouTube video player" class="youtube-player" type="text/html" 
                                            src=""
                                        frameborder="0" allowFullScreen width="500" height="325"></iframe> 	
                                    </div>
                                </div>
                            </div>*@
                        </div>
                    </div>
                </div>
               }
               else if (subSection.SubSectionTypeCondition == "QuizAlternateFormats")
               { 
                    <div class="partialPage">
                        <table>
                             @if (ViewBag.VBAlternateFormatDocuments != null)
                             {
                                 foreach (var alternateDocument in (List<FVGen3.Domain.Entities.Document>)ViewBag.VBAlternateFormatDocuments)
                                 {
                                        <tr>
                                            <td width="90%">
                                                <a href="#!" onclick="window.open('../Quiz/DownloadDoc?idAsFileName=@alternateDocument.DocumentId&userEnteredFilename=@HttpUtility.UrlEncode(@alternateDocument.DocumentName)&clientId=@alternateDocument.OrganizationId')">
                                                    @alternateDocument.DocumentName
                                                </a>
                                            </td>
                                            <td width="5%">
                                            </td>
                                            <td width="5%">
                                            </td>
                                        </tr>
                                 }
                             }
                        </table>
                    </div>
               }
           }
       }

       if (@selectedTemplateSection.TemplateSectionsHeaderFooter != null)
       {

           foreach (var HandF in @selectedTemplateSection.TemplateSectionsHeaderFooter.Where(x => x.PositionType == 1).ToList())
           {
               <div class="PrequalificationHeader">               
               @if (!string.IsNullOrEmpty(@HandF.PositionTitle))
               {
                   <label>@Html.Raw(@HandF.PositionTitle)</label>
               }
              <p>@Html.Raw(@HandF.PostionContent)</p>
               </div>
           }
       }
   }
   
   
    @if (@selectedTemplateSection.TemplateSectionType == 22)
    {
        if (@selectedTemplateSection.TemplateSectionsHeaderFooter != null)
        {
            foreach (var HandF in @selectedTemplateSection.TemplateSectionsHeaderFooter.Where(x => x.PositionType == 0).ToList())
            {
                <div class="PrequalificationHeader">
                    @if (!string.IsNullOrEmpty(@HandF.PositionTitle))
                    {
                        <label>@Html.Raw(@HandF.PositionTitle)</label>
                    }
                    <p>@Html.Raw(@HandF.PostionContent)</p>
                </div>
            }
        }

        if (selectedTemplateSection.TemplateSubSections != null && selectedTemplateSection.TemplateSubSections.Count() != 0)
        {
            foreach (var subSection in selectedTemplateSection.TemplateSubSections)
            {
                if (subSection.SubSectionTypeCondition == "QuizIFrame")
                {
                    <div class="container">
                        <div class="content">
                            <div class="contentSub">
                                
                                    @*//IFRAME HERE*@
                                    @{LocalQuizIFrameMeta iframeData = ViewBag.iFrameData;
                                    <iframe src="@iframeData.IFrameURL" width="@iframeData.Width" height="@iframeData.Height" frameborder="0">@Resources.Resources.Browser_NT_Comp_Content</iframe>
                                    }                                

                            </div>
                        </div>
                    </div>
                }
               
            }
        }

        if (@selectedTemplateSection.TemplateSectionsHeaderFooter != null)
        {

            foreach (var HandF in @selectedTemplateSection.TemplateSectionsHeaderFooter.Where(x => x.PositionType == 1).ToList())
            {
                <div class="PrequalificationHeader">
                    @if (!string.IsNullOrEmpty(@HandF.PositionTitle))
                    {
                        <label>@Html.Raw(@HandF.PositionTitle)</label>
                    }
                    <p>@Html.Raw(@HandF.PostionContent)</p>
                </div>
            }
        }
    }


</div>    
}
</body>
@helper PlacePredefined(string condition, SqlCommand command)
    {
        
        List<TemplateSubSectionsPreDefinedFields> templateSubSectionsPreDefinedFields = new List<TemplateSubSectionsPreDefinedFields>();
        command.CommandText = "Select TableRecordId,TableRefName,TableRefField,ReferenceLabel from TemplateSubSectionsPreDefinedFields where PredefinedKeyWord='" + condition + "'";
        SqlDataReader dataValues = command.ExecuteReader();

        while (dataValues.Read())
        {
            TemplateSubSectionsPreDefinedFields localFieldsData = new TemplateSubSectionsPreDefinedFields();
            localFieldsData.TableRecordId = (long)dataValues[0];
            localFieldsData.TableRefName = dataValues[1].ToString();
            localFieldsData.TableRefField = dataValues[2].ToString();
            localFieldsData.ReferenceLabel = dataValues[3].ToString();
            localFieldsData.PredefinedKeyWord = condition;

            templateSubSectionsPreDefinedFields.Add(localFieldsData);
        }

        dataValues.Close();
        
        <div class="predefined">
            
            @foreach (var preDefinedField in templateSubSectionsPreDefinedFields)
            {  
                <div class="ctrlDivRow">
                    <label class="staticLabel">  @preDefinedField.ReferenceLabel </label>
            
                    <label>XXX</label>
                </div>
            }
        </div>
}
@helper PlaceControls(List<Questions> questionsList, SqlCommand command, string InsertionType)
    {
        //Placing controls
        foreach (var question in questionsList)
        {
            //Question Row Starts here Rajesh on 12/3/2013
            <div class="ctrlDivRow" id="id_@question.QuestionID" style="display:none;
            
            
            @if (question.QuestionBankId != null && question.QuestionBankId == 1000)
            {
                @:background:#f9f9f9;
            }
            
            "><a style="float:right"> <img src="~/images/edit.png" onclick="EDitQuestion(@question.QuestionID)" /> </a>
                <!--Question Heading -->
                @if (@question.NumberOfColumns == 0)
                {
                    @:<div class="ctrlDiv"> 
                }
                else if (@question.NumberOfColumns == 1)
                {
                    @:<div class="ctrlDiv" style="width:360px;">  
                }
                else
                {
                    int numberofColumns = question.NumberOfColumns + 1;
                    var width = (709 - 30) / numberofColumns + "px";  
                    
                    @:<div class="ctrlDiv" style="width:@width;">
                }
                    @if (@question.IsMandatory != null && @question.IsMandatory == true)
                    {
                        if (!string.IsNullOrEmpty(@question.QuestionText.Trim()))
                        {
		                    <label class="labelStart"> 
                        
                            @if (@question.IsBold != null && @question.IsBold == true)
                            {
                                @:<b>
                            }
                            @Html.Raw(@question.QuestionText.Trim()) 
                            @if (@question.IsBold != null && @question.IsBold == true)
                            {
                                @:</b>
                            }
                            </label>  
                        }
                    }
                    else
                    {
                       <label>
                        @if (@question.IsBold != null && @question.IsBold == true)
                        {
                            @:<b>
                        } 
                        @Html.Raw(@question.QuestionText.Trim()) 
                        @if (@question.IsBold != null && @question.IsBold == true)
                        {
                            @:</b>
                        }
                         
                         </label>
                    }
                @if (true)
                {
                    @:</div>
                }
                <!--Question Fields(Question column details) -->
                @if (@question.QuestionText != null && !@question.QuestionText.Equals(""))
                {
                    if (@question.NumberOfColumns == 0)
                    {
                        @:<table width="709px" class="table_data">
                    }
                    else if (@question.NumberOfColumns == 1)//Means number of colums greater than
                    {
                        @:<table width="309px" class="table_data">
                        
                    }
                    else if (@question.NumberOfColumns > 1)
                    {
                        int numberofColumns = question.NumberOfColumns + 1;
                        var width = (679 - 679 / numberofColumns) + "px";  
                        
                        @:<table width="@width" class="table_data">
                    }


                }
                else
                {
                    @:<table width="679px" class="table_data">
                }
               
                    
                @for (int i = 0; i < question.QuestionColumnDetails.Count; i++)
                {

                    var fieldWidth = 0;
                    var strInputVal = "";
                    int numberofColumns = question.NumberOfColumns;
                    if (numberofColumns == 0)
                    {
                        numberofColumns = question.QuestionColumnDetails.Count;
                    }
                    if (@question.QuestionText != null && !@question.QuestionText.Equals(""))
                    {
                        fieldWidth = 360 / numberofColumns;

                    }
                    else
                    {
                        fieldWidth = 709 / numberofColumns;

                    }


                    if (question.QuestionColumnDetails.OrderBy(rec => rec.ColumnNo).ToList()[i].PrequalificationUserInputs != null && question.QuestionColumnDetails.OrderBy(rec => rec.ColumnNo).ToList()[i].PrequalificationUserInputs.Count > 0)
                    {
                        try
                        {
                            strInputVal = question.QuestionColumnDetails.OrderBy(rec => rec.ColumnNo).ToList()[i].PrequalificationUserInputs.Find(rec => rec.PreQualificationId == Convert.ToInt64(@ViewBag.PreQualificationId.ToString())).UserInput;
                        }
                        catch (Exception ee)
                        {
                            strInputVal = "";
                        }
                    }

                    if (i == 0)
                    {
                       @:<tr>
                    }
                    @getControl(@question.QuestionColumnDetails.OrderBy(rec => rec.ColumnNo).ToList()[i].QuestionControlType.QuestionTypeID, @question.QuestionColumnDetails.OrderBy(rec => rec.ColumnNo).ToList()[i].ColumnValues, question.QuestionColumnDetails.OrderBy(rec => rec.ColumnNo).ToList()[i].DisplayType, question.QuestionColumnDetails.OrderBy(rec => rec.ColumnNo).ToList()[i].QuestionColumnId + @question.QuestionColumnDetails.OrderBy(rec => rec.ColumnNo).ToList()[i].ColumnValues, question.QuestionColumnDetails.OrderBy(rec => rec.ColumnNo).ToList()[i].QuestionColumnId + "", @question.IsMandatory + "", @question.QuestionColumnDetails.OrderBy(rec => rec.ColumnNo).ToList()[i].QuestionColumnId.ToString(), strInputVal, @fieldWidth, @question.HasDependantQuestions, question, question.QuestionColumnDetails.OrderBy(rec => rec.ColumnNo).ToList()[i], @command, InsertionType)
                    if (i == question.QuestionColumnDetails.Count - 1)
                    {
                       @:</tr>
                    }

                }
                @{
                    @:</table>
                }
            </div>
        }
    }
    <!-- to create a control based on control type (Ref.Table :- QuestionControlType)-->
    <!-- Question Type 0-Horiz 1- Vert.-->
@helper getControl(long controlType, string defaultValue, int questionType, string id,
            string name, string isMandatory, string questionColumnId,
                string InputVal, int fieldWidth, bool? hasDependent, Questions question, QuestionColumnDetails columnDetails, SqlCommand command, string InsertionType)
    {
        if (defaultValue == null)
        {
            defaultValue = "";
        }
        if (@ViewBag.mode != null && @ViewBag.mode == 1)
        {
            if (questionType == 0)
            {
                var width = fieldWidth + "px";
                 <td style="padding-left:10px;width:@width;">@InputVal</td>
            }
            else
            {
                <tr><td><label id="@id">@InputVal</label></td></tr>
            }

            return;
        }

        hasDependent = hasDependent != null && hasDependent == true;
        switch (controlType)
        {
            case 1:
                if (questionType == 0)
                {
                 <td width="50%"><label id="@id">@defaultValue</label></td>
                }
                else
                {
                <tr><td><label id="@id">@defaultValue</label></td></tr>
                }
                break;
            case 2:
                if (questionType == 0)
                {
                    var width = fieldWidth + "px";
                    <td>
                    
                    
                    <input QuestionReferenceId="@question.QuestionsBank.QuestionReferenceId" InsertionType="@InsertionType" type="text"  ctrlType="Text" isMandatory="@isMandatory" name="@id" questionColumnId="@questionColumnId" value="@InputVal" class="class_input"
                    
                    
                    />
                    </td>
                 <td width="5%" align="center">
                    <span class="field-validation-valid" data-valmsg-for="@id" data-valmsg-replace="true" ></span></td>
                }
                else
                {
                     <tr><td>
                     <input QuestionReferenceId="@question.QuestionsBank.QuestionReferenceId" InsertionType="@InsertionType" type="text"  ctrlType="Text" isMandatory="@isMandatory" name="@id" questionColumnId="@questionColumnId" value="@InputVal" class="class_input"
                     
                     />
                     <span class="field-validation-valid" data-valmsg-for="@id" data-valmsg-replace="true"></span></td></tr> 
                }
                break;
            case 3:
                if (questionType == 0)
                {
                 <td><input 
                   @if (!string.IsNullOrEmpty(columnDetails.QFormula))
                   {
                        @:readonly QFormula="@columnDetails.QFormula"    
                      }
                    
                 QuestionReferenceId="@question.QuestionsBank.QuestionReferenceId" InsertionType="@InsertionType" type="text" id="@id"  ctrlType="Number" isMandatory="@isMandatory" name="@id" questionColumnId="@questionColumnId" value="@InputVal" class="class_input"/>
                 </td>
                 <td width="5%" align="center"><span class="field-validation-valid" data-valmsg-for="@id" data-valmsg-replace="true"></span></td>
                }
                else
                {
                 <tr><td><input 
                 
                  
                      @if (!string.IsNullOrEmpty(columnDetails.QFormula))
                      {
                        @:readonly QFormula="@columnDetails.QFormula"    
                      }
                    

                 QuestionReferenceId="@question.QuestionsBank.QuestionReferenceId" InsertionType="@InsertionType" type="text" id="@id"  ctrlType="Number" isMandatory="@isMandatory" name="@id" questionColumnId="@questionColumnId" value="@InputVal" class="class_input" />
                 <span class="field-validation-valid" data-valmsg-for="@id" data-valmsg-replace="true"></span></td></tr> 
                }

                break;
            case 4:
                if (questionType == 0)
                {
                <td><textarea QuestionReferenceId="@question.QuestionsBank.QuestionReferenceId" InsertionType="@InsertionType"  id="@id" isMandatory="@isMandatory" name="@id" questionColumnId="@questionColumnId" class="classTextarea">@InputVal</textarea>
                <span class="field-validation-valid" data-valmsg-for="@id" data-valmsg-replace="true"></span></td>
                }
                else
                {
                <tr> <td><textarea QuestionReferenceId="@question.QuestionsBank.QuestionReferenceId" InsertionType="@InsertionType" rows="2" id="@id" cols="2" isMandatory="@isMandatory" name="@id" questionColumnId="@questionColumnId" class="classTextarea">@InputVal</textarea>
                <span class="field-validation-valid" data-valmsg-for="@id" data-valmsg-replace="true" questionColumnId="@questionColumnId"></span></td></tr>
                }
                break;
            case 5:
                if (questionType == 0)
                {
               <td> <input QuestionReferenceId="@question.QuestionsBank.QuestionReferenceId" InsertionType="@InsertionType" type="text" id="@id" ctrlType="Email" isMandatory="@isMandatory" name="@id" questionColumnId="@questionColumnId" value="@InputVal"  class="class_input"/>
               <span class="field-validation-valid" data-valmsg-for="@id" data-valmsg-replace="true"></span></td>
                }
                else
                {
                <tr><td> <input QuestionReferenceId="@question.QuestionsBank.QuestionReferenceId" InsertionType="@InsertionType" type="text" id="@id"  ctrlType="Email" isMandatory="@isMandatory" name="@id" questionColumnId="@questionColumnId" value="@InputVal"  class="class_input"/>
                <span class="field-validation-valid" data-valmsg-for="@id" data-valmsg-replace="true"></span></td></tr>
                }
                break;
            case 6:
                if (questionType == 0)
                { 
                <td><input QuestionReferenceId="@question.QuestionsBank.QuestionReferenceId" InsertionType="@InsertionType"   type="text" id="@id"  ctrlType="Mobile" isMandatory="@isMandatory" name="@id" questionColumnId="@questionColumnId" value="@InputVal" class="class_input"/>
                <span class="field-validation-valid" data-valmsg-for="@id" data-valmsg-replace="true"></span></td>
                }
                else
                {
                <tr><td><input QuestionReferenceId="@question.QuestionsBank.QuestionReferenceId" InsertionType="@InsertionType" type="text" id="@id"  ctrlType="Mobile" isMandatory="@isMandatory" name="@id" questionColumnId="@questionColumnId" value="@InputVal" class="class_input"/>
                <span class="field-validation-valid" data-valmsg-for="@id" data-valmsg-replace="true"></span></td></tr>
                }
                break;
            case 7:
                {
                    string[] resString = defaultValue.Split('|');
                    <td><table width="100%">
                    @if (questionType == 0)
                    {
                        @:<tr>
                    }
                    @{
                    var AllDepends = "";
                    var AllDependsType = "";
                    }
                    @if (hasDependent == true)
                    {
                        foreach (var depend in @question.QuestionsDependants)
                        {
                            AllDepends += depend.DependantId + ",";
                            AllDependsType += depend.DependantType + ",";
                        }
                        if (AllDepends.Length > 1)
                        {
                            AllDepends = AllDepends.Substring(0, AllDepends.Length - 1);
                            AllDependsType = AllDependsType.Substring(0, AllDependsType.Length - 1);
                        }
                    }
                     
                    @for (int i = 0; i < resString.Length; i++)
                    {


                        var presentDepends = "";
                        var dependsType = "";
                        if (hasDependent == true)
                        {
                            foreach (var a in @question.QuestionsDependants.FindAll(rec => rec.DependantValue == resString[i].Trim()))
                            {
                                presentDepends += a.DependantId + ",";
                                dependsType += a.DependantType + ",";
                            }
                            if (presentDepends.Length > 1)
                            {
                                presentDepends = presentDepends.Substring(0, presentDepends.Length - 1);
                                dependsType = dependsType.Substring(0, dependsType.Length - 1);
                            }
                        }
                        if (questionType == 0)
                        {
                            @:<td>
                        }
                        else
                        {
                            @:<tr><td>
                        }
                        
                        <input QuestionReferenceId="@question.QuestionsBank.QuestionReferenceId" InsertionType="@InsertionType"  type="radio" id="@id+@resString[i]" name="@name" isMandatory="@isMandatory" name="@id"  value="@resString[i]"  questionColumnId="@questionColumnId" class="classRadio"
                        @if (hasDependent == true)
                        {
                             @: onchange="DynamicFieldsHiding('@AllDepends','@presentDepends','@dependsType','@AllDependsType',false)"                            
                        }
                        @*Kiran on 03/20/2015*@
                        @*@if (@String.IsNullOrEmpty(InputVal) && i == resString.Length - 1)
                        {
                             @: HideMe="@AllDepends|@presentDepends|@dependsType|@AllDependsType"      
                             @: checked="checked"                      
                        }*@
                        else if (resString[i].Trim().Equals(InputVal.Trim()))
                        {
                            @: HideMe="@AllDepends|@presentDepends|@dependsType|@AllDependsType"      
                            @: checked="checked"                      
                        }
                        />
                     
                        <label for="@id+@resString[i]">@resString[i]</label>
                        <span class="field-validation-valid" data-valmsg-for="@id" data-valmsg-replace="true"></span>
                        if (questionType == 0)
                        {
                            @:</td>
                        }
                        else
                        {
                            @:</tr></td>
                        }
                    }
                    @if (questionType == 0)
                    {
                        @:</tr>
                    }
                    </table></td>
                }

                break;
            case 8:

                if (questionType == 0)
                {
                    var AllDepends = "";
                    var AllDependsType = "";
                    if (hasDependent == true)
                    {
                        foreach (var depend in @question.QuestionsDependants)
                        {
                            AllDepends += depend.DependantId + ",";
                            AllDependsType += depend.DependantType + ",";
                        }
                        if (AllDepends.Length > 1)
                        {
                            AllDepends = AllDepends.Substring(0, AllDepends.Length - 1);
                            AllDependsType = AllDependsType.Substring(0, AllDependsType.Length - 1);
                        }
                    }

                    //True Depends
                    var truepresentDepends = "";
                    var truedependsType = "";
                    if (hasDependent == true)
                    {
                        foreach (var a in @question.QuestionsDependants.Where(rec => rec.DependantValue == "true".Trim()))
                        {
                            truepresentDepends += a.DependantId + ",";
                            truedependsType += a.DependantType + ",";
                        }
                        if (truepresentDepends.Length > 1)
                        {
                            truepresentDepends = truepresentDepends.Substring(0, truepresentDepends.Length - 1);
                            truedependsType = truedependsType.Substring(0, truedependsType.Length - 1);
                        }
                    }
                    //false Depends
                    var falsepresentDepends = "";
                    var falsedependsType = "";
                    if (hasDependent == true)
                    {
                        foreach (var a in @question.QuestionsDependants.Where(rec => rec.DependantValue == "false".Trim()))
                        {
                            falsepresentDepends += a.DependantId + ",";
                            falsedependsType += a.DependantType + ",";
                        }
                        if (falsepresentDepends.Length > 1)
                        {
                            falsepresentDepends = falsepresentDepends.Substring(0, falsepresentDepends.Length - 1);
                            falsedependsType = falsedependsType.Substring(0, falsedependsType.Length - 1);
                        }
                    }
                    var strTrueFalseVal = "" + @AllDepends + "|" + @truepresentDepends + "|" + @truedependsType + "|" + @AllDependsType + "" + "$" + "" + @AllDepends + "|" + @falsepresentDepends + "|" + @falsedependsType + "|" + @AllDependsType + "";
                <td>
                    @if (!string.IsNullOrEmpty(InputVal) && InputVal.ToLower().Equals("true"))
                    {
                        <input QuestionReferenceId="@question.QuestionsBank.QuestionReferenceId" InsertionType="@InsertionType" type="checkbox" id="@id" isMandatory="@isMandatory" name="@id" questionColumnId="@questionColumnId" checked="checked" class="classRadio"
                        
                        HideMe="@AllDepends|@truepresentDepends|@truedependsType|@AllDependsType"
                        onclick="checkBoxClick('@strTrueFalseVal',this)"
                        />                
                        
                    }
                    else
                    {
                        
                        <input QuestionReferenceId="@question.QuestionsBank.QuestionReferenceId" InsertionType="@InsertionType" type="checkbox" id="@id" isMandatory="@isMandatory" name="@id" questionColumnId="@questionColumnId"
                        onclick="checkBoxClick('@strTrueFalseVal',this)"
                        HideMe="@AllDepends|@falsepresentDepends|@falsedependsType|@AllDependsType"
                        />
                    }
                    @defaultValue
                    <span class="field-validation-valid" data-valmsg-for="@id" data-valmsg-replace="true"></span>
                </td>
        
                }
                else
                {
                    var AllDepends = "";
                    var AllDependsType = "";
                    if (hasDependent == true)
                    {
                        foreach (var depend in @question.QuestionsDependants)
                        {
                            AllDepends += depend.DependantId + ",";
                            AllDependsType += depend.DependantType + ",";
                        }
                        if (AllDepends.Length > 1)
                        {
                            AllDepends = AllDepends.Substring(0, AllDepends.Length - 1);
                            AllDependsType = AllDependsType.Substring(0, AllDependsType.Length - 1);
                        }
                    }
                    //True Depends
                    var truepresentDepends = "";
                    var truedependsType = "";
                    if (hasDependent == true)
                    {
                        foreach (var a in @question.QuestionsDependants.Where(rec => rec.DependantValue == "true".Trim()))
                        {
                            truepresentDepends += a.DependantId + ",";
                            truedependsType += a.DependantType + ",";
                        }
                        if (truepresentDepends.Length > 1)
                        {
                            truepresentDepends = truepresentDepends.Substring(0, truepresentDepends.Length - 1);
                            truedependsType = truedependsType.Substring(0, truedependsType.Length - 1);
                        }
                    }
                    //false Depends
                    var falsepresentDepends = "";
                    var falsedependsType = "";
                    if (hasDependent == true)
                    {
                        foreach (var a in @question.QuestionsDependants.Where(rec => rec.DependantValue == "false".Trim()))
                        {
                            falsepresentDepends += a.DependantId + ",";
                            falsedependsType += a.DependantType + ",";
                        }
                        if (falsepresentDepends.Length > 1)
                        {
                            falsepresentDepends = falsepresentDepends.Substring(0, falsepresentDepends.Length - 1);
                            falsedependsType = falsedependsType.Substring(0, falsedependsType.Length - 1);
                        }
                    }
                    var strTrueFalseVal = "" + @AllDepends + "|" + @truepresentDepends + "|" + @truedependsType + "|" + @AllDependsType + "" + "$" + "" + @AllDepends + "|" + @falsepresentDepends + "|" + @falsedependsType + "|" + @AllDependsType + "";
                <tr><td>
                   @if (!string.IsNullOrEmpty(InputVal) && InputVal.ToLower().Equals("true"))
                   {

                      
                        <input QuestionReferenceId="@question.QuestionsBank.QuestionReferenceId" InsertionType="@InsertionType" type="checkbox" id="@id" isMandatory="@isMandatory" name="@id" questionColumnId="@questionColumnId" checked="checked" class="classRadio"
                        onclick="checkBoxClick('@strTrueFalseVal',this)"
                        HideMe="@AllDepends|@truepresentDepends|@truedependsType|@AllDependsType"
                        />                
                   }
                   else
                   {
                       
                        <input QuestionReferenceId="@question.QuestionsBank.QuestionReferenceId" InsertionType="@InsertionType" type="checkbox" id="@id" isMandatory="@isMandatory" name="@id" questionColumnId="@questionColumnId"
                        onclick="checkBoxClick('@strTrueFalseVal',this)"
                        HideMe="@AllDepends|@falsepresentDepends|@falsedependsType|@AllDependsType"
                        />
                   }
                    
                    <span class="field-validation-valid" data-valmsg-for="@id" data-valmsg-replace="true"></span>
                </td>
                
                @defaultValue
                </tr>
                }
                break;
            case 9://DropDown/Select
                {
                    var AllDepends = "";
                    var AllDependsType = "";
                    if (hasDependent == true)
                    {
                        foreach (var depend in @question.QuestionsDependants)
                        {
                            AllDepends += depend.DependantId + ",";
                            AllDependsType += depend.DependantType + ",";
                        }
                        if (AllDepends.Length > 1)
                        {
                            AllDepends = AllDepends.Substring(0, AllDepends.Length - 1);
                            AllDependsType = AllDependsType.Substring(0, AllDependsType.Length - 1);
                        }
                    }
                    //if (questionType == 0)
                    //{
                        <td><select QuestionReferenceId="@question.QuestionsBank.QuestionReferenceId" InsertionType="@InsertionType" isMandatory="@isMandatory" name="@id" questionColumnId="@questionColumnId" class="classSelect" id="@id" allDepends="@AllDepends" allDependsType="@AllDependsType" onchange="dropDownChange(this)">
                            @if (String.IsNullOrEmpty(columnDetails.ColumnValues) && !String.IsNullOrEmpty(columnDetails.TableReference))
                            {

                                var sql = "Select " + @columnDetails.TableReferenceField + "," + @columnDetails.TableRefFieldValueDisplay + " From " + @columnDetails.TableReference;

                                command.CommandText = sql;
                                var result = command.ExecuteReader();
                                <p></p>
                                @*To Add Empty option for bidding and proficiency*@
                                if (columnDetails.Questions.TemplateSubSections.SubSectionTypeCondition.Equals("BiddingReporting") || columnDetails.Questions.TemplateSubSections.SubSectionTypeCondition.Equals("ProficiencyReporting"))
                                {
                                    <option value="" presentDepends="" dependsType="">Select</option>
                                }
                                @*Ends<<<*@
                                while (@result.Read())
                                {
                                    var presentDepends = "";
                                    var dependsType = "";
                                    if (hasDependent == true)
                                    {
                                        //@question.QuestionsDependants.FindAll(rec => rec.DependantValue == @result[1]).Count;
                                        foreach (var a in @question.QuestionsDependants.FindAll(rec => rec.DependantValue == @result[0] + ""))
                                        {
                                            presentDepends += a.DependantId + ",";
                                            dependsType += a.DependantType + ",";
                                        }
                                        if (presentDepends.Length > 1)
                                        {
                                            presentDepends = presentDepends.Substring(0, presentDepends.Length - 1);
                                            dependsType = dependsType.Substring(0, dependsType.Length - 1);
                                        }
                                    }@result[0]  @InputVal
                                    if (@result[0].ToString().Trim().Equals(InputVal.Trim()))
                                    { 
                                        <option value="@result[0].ToString().Trim()" presentDepends="@presentDepends" dependsType="@dependsType"
                                         HideMe="@AllDepends|@presentDepends|@dependsType|@AllDependsType"
                                         selected >@result[1].ToString().Trim()</option>
                                    }
                                    else
                                    { 
                                        <option value="@result[0].ToString().Trim()" presentDepends="@presentDepends" dependsType="@dependsType"
                                        
                                        >@result[1].ToString().Trim()</option>
                                    }
                                }
                                result.Close();
                            }
                            else
                            {
                                var i = 0;
                                foreach (var resString in defaultValue.Split('|'))
                                {

                                    var presentDepends = "";
                                    var dependsType = "";
                                    if (hasDependent == true)
                                    {
                                        foreach (var a in @question.QuestionsDependants.FindAll(rec => rec.DependantValue == resString.Trim()))
                                        {
                                            presentDepends += a.DependantId + ",";
                                            dependsType += a.DependantType + ",";
                                        }
                                        if (presentDepends.Length > 1)
                                        {
                                            presentDepends = presentDepends.Substring(0, presentDepends.Length - 1);
                                            dependsType = dependsType.Substring(0, dependsType.Length - 1);
                                        }
                                    }
                                    if (resString.Trim().Equals(InputVal.Trim()) || i == 0)
                                    { 
                                        <option value="@resString.Trim()" presentDepends="@presentDepends" dependsType="@dependsType"
                                         HideMe="@AllDepends|@presentDepends|@dependsType|@AllDependsType"
                                         selected >@resString.Trim()</option>
                                    }
                                    else
                                    { 
                                        <option value="@resString.Trim()" presentDepends="@presentDepends"
                                        
                                         dependsType="@dependsType">@resString.Trim()</option>
                                    } i++;
                                }
                            }
                            
                        </select>
                        <span class="field-validation-valid" data-valmsg-for="@id" data-valmsg-replace="true"></span></td> 
                   
                }
                break;
            case 10:
                {
                    var AllDepends = "";
                    var AllDependsType = "";
                    if (hasDependent == true)
                    {
                        foreach (var depend in @question.QuestionsDependants)
                        {
                            AllDepends += depend.DependantId + ",";
                            AllDependsType += depend.DependantType + ",";
                        }
                        if (AllDepends.Length > 1)
                        {
                            AllDepends = AllDepends.Substring(0, AllDepends.Length - 1);
                            AllDependsType = AllDependsType.Substring(0, AllDependsType.Length - 1);
                        }
                    }
                    //if (questionType == 0)
                    //{
                        <td><select QuestionReferenceId="@question.QuestionsBank.QuestionReferenceId" multiple="multiple" InsertionType="@InsertionType" isMandatory="@isMandatory" name="@id" questionColumnId="@questionColumnId" class="classMultiple" id="@id" allDepends="@AllDepends" allDependsType="@AllDependsType" onchange="dropDownChange(this)">
                            @if (String.IsNullOrEmpty(columnDetails.ColumnValues) && !String.IsNullOrEmpty(columnDetails.TableReference))
                            {

                                var sql = "Select " + @columnDetails.TableReferenceField + "," + @columnDetails.TableRefFieldValueDisplay + " From " + @columnDetails.TableReference;
                                command.CommandText = sql;
                                var result = command.ExecuteReader();
                                <p></p>
                                while (@result.Read())
                                {
                                    var presentDepends = "";
                                    var dependsType = "";
                                    if (hasDependent == true)
                                    {
                                        //@question.QuestionsDependants.FindAll(rec => rec.DependantValue == @result[1]).Count;
                                        foreach (var a in @question.QuestionsDependants.FindAll(rec => rec.DependantValue == @result[0] + ""))
                                        {
                                            presentDepends += a.DependantId + ",";
                                            dependsType += a.DependantType + ",";
                                        }
                                        if (presentDepends.Length > 1)
                                        {
                                            presentDepends = presentDepends.Substring(0, presentDepends.Length - 1);
                                            dependsType = dependsType.Substring(0, dependsType.Length - 1);
                                        }
                                    }
                                    if (@InputVal.ToString().Split(',').Contains(result[0].ToString().Trim()))
                                    { 
                                        <option value="@result[0].ToString().Trim()" presentDepends="@presentDepends" dependsType="@dependsType"
                                         HideMe="@AllDepends|@presentDepends|@dependsType|@AllDependsType"
                                         selected >@result[1].ToString().Trim()</option>
                                    }
                                    else
                                    { 
                                        <option value="@result[0].ToString().Trim()" presentDepends="@presentDepends" dependsType="@dependsType"
                                        
                                        >@result[1].ToString().Trim()</option>
                                    }
                                }
                                result.Close();
                            }
                            else
                            {
                                var i = 0;
                                foreach (var resString in defaultValue.Split('|'))
                                {

                                    var presentDepends = "";
                                    var dependsType = "";
                                    if (hasDependent == true)
                                    {
                                        foreach (var a in @question.QuestionsDependants.FindAll(rec => rec.DependantValue == resString.Trim()))
                                        {
                                            presentDepends += a.DependantId + ",";
                                            dependsType += a.DependantType + ",";
                                        }
                                        if (presentDepends.Length > 1)
                                        {
                                            presentDepends = presentDepends.Substring(0, presentDepends.Length - 1);
                                            dependsType = dependsType.Substring(0, dependsType.Length - 1);
                                        }
                                    }
                                    if (InputVal.Split(',').Contains(resString.Trim()))
                                    { 
                                        <option value="@resString.Trim()" presentDepends="@presentDepends" dependsType="@dependsType" 
                                        HideMe="@AllDepends|@presentDepends|@dependsType|@AllDependsType"
                                        selected >@resString.Trim()</option>
                                    }
                                    else
                                    { 
                                        <option value="@resString.Trim()" presentDepends="@presentDepends"
                                        
                                         dependsType="@dependsType">@resString.Trim()</option>
                                    } i++;
                                }
                            }
                            
                        </select>
                        <span class="field-validation-valid" data-valmsg-for="@id" data-valmsg-replace="true"></span></td> 
                } break;

            case 11:
                if (questionType == 0)
                {
               <td><input InsertionType="@InsertionType" type="dates" readonly="readonly" id="@id" ctrlType="Date" isMandatory="@isMandatory" name="@id"  questionColumnId="@questionColumnId" value="@InputVal" class="class_input"/> 
                    <span class="field-validation-valid" data-valmsg-for="@id" data-valmsg-replace="true"></span>
               </td>
                }
                else
                {
                <tr> <td><input InsertionType="@InsertionType" type="dates" readonly="readonly" id="@id"  ctrlType="Date" isMandatory="@isMandatory" name="@id" questionColumnId="@questionColumnId" value="@InputVal" class="class_input"/> 
                    <span class="field-validation-valid" data-valmsg-for="@id" data-valmsg-replace="true"></span></td></tr>
                }
                break;
            case 12:
                if (questionType == 0)
                {
                <td><input InsertionType="@InsertionType" type="button" id="@id" value="@defaultValue"  isMandatory="@isMandatory" name="@id" questionColumnId="@questionColumnId"/>
                <span class="field-validation-valid" data-valmsg-for="@id" data-valmsg-replace="true"></span></td>
                }
                else
                {
                <tr><td><input InsertionType="@InsertionType" type="button" id="@id" value="@defaultValue" isMandatory="@isMandatory" name="@id" questionColumnId="@questionColumnId"/>
                <span class="field-validation-valid" data-valmsg-for="@id" data-valmsg-replace="true"></span></td></tr>
                }
                break;

            case 13:
                if (questionType == 0)
                {
                <td><input InsertionType="@InsertionType" type="text" id="@id" ctrlType="Currency" isMandatory="@isMandatory"  name="@id" questionColumnId="@questionColumnId" value="@InputVal" class="class_input"/>
                <span class="field-validation-valid" data-valmsg-for="@id" data-valmsg-replace="true"></span></td>
                }
                else
                {
                <tr><td><input InsertionType="@InsertionType" type="text" id="@id" ctrlType="Currency" isMandatory="@isMandatory" name="@id" questionColumnId="@questionColumnId" value="@InputVal" class="class_input"/>
                <span class="field-validation-valid" data-valmsg-for="@id" data-valmsg-replace="true"></span></td></tr>
                }
                break;
            case 14:
                if (questionType == 0)
                {
                <td><input InsertionType="@InsertionType" type="password" id="@id"  isMandatory="@isMandatory" name="@id"  questionColumnId="@questionColumnId" class="class_input"/>
                <span class="field-validation-valid" data-valmsg-for="@id" data-valmsg-replace="true"></span></td>
                }
                else
                {
                <tr><td><input InsertionType="@InsertionType" type="password" id="@id"  isMandatory="@isMandatory" name="@id" questionColumnId="@questionColumnId" class="class_input"/>
                <span class="field-validation-valid" data-valmsg-for="@id" data-valmsg-replace="true"></span></td></tr>
                }
                break;

            case 15:
        
            <table>
            </table>
                break;

            default: break;

        }
}