﻿<!--
Page Created Date:  10/08/2014
Created By: Kiran Talluri
Purpose:  To Create & display the Quiz template Sub-sections
Version: 1.0
****************************************************
-->


@{
    ViewBag.Title = "Quiz SubSection View";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}

<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<link rel="stylesheet" href="~/css/common.css"/>
<link rel="stylesheet" href="~/css/appInnerPages.css"/>
<link rel="stylesheet" href="~/css/index.css"/>
<link rel="stylesheet" href="~/css/templatetool.css"/>
<link href="~/Content/cleditor/jquery.cleditor.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="~/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="~/js/jquery-1.6.3.js"></script>
<script type="text/javascript" src="~/js/nicEdit.js"></script>
<script type="text/javascript" src="~/js/jquery-1.10.3.js"></script>
<script type="text/javascript" src="~/js/common.js"></script>
<link rel="stylesheet" href="~/css/prequalificationdynamic.css"/>

<script type="text/javascript">

    var SubSecUserPermissionNotificationPopUp = false;
    function SubSectionUserPermission(subSecId) 
    {
       if (SubSecUserPermissionNotificationPopUp && !SubSecUserPermissionNotificationPopUp.closed) {
            SubSecUserPermissionNotificationPopUp.focus();
        }
        else {
            SubSecUserPermissionNotificationPopUp = window.open("SubSectionUserPermission?SubSectionId=" + subSecId, "_blank", "toolbar=no,  directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=yes, width=750, height=700");
        }
    }

    function DeleteTrainingVideoOrAlternateFormat(DocumentId) {
        var c = confirm("Are you sure do you want to delete the uploaded video or format?");
        if (c)
            $.ajax({
                type: 'GET',
                url: 'DeleteTrainingVideoOrAlternateFormat',
                data: 'DocumentId=' + DocumentId,
                success: function (data) {
                    if (data == "DeleteSuccess")
                        window.location.reload(true);
                },
                error: function (req, status, result) {
                    alert("Unable to delete,Please contact administrator");
                }
            });
    }

    function DeleteQuizSubSection(SubsecId) {
        var c = confirm("All Questions belonging to this Sub-section will be deleted, Do you want to proceed?");
        if (c)
            $.ajax({
                type: 'GET',
                url: 'DeleteQuizSubSection',
                data: 'SubSectionID=' + SubsecId,
                success: function (data) {
                    //alert(data);
                    if (data == "OK")
                        window.location.reload(true);
                },
                error: function (req, status, result) {
                    alert("Unable to delete,Please contact administrator");
                }
            });
    }
    
    function SectionChanged() {
        window.location = 'QuizSubSectionView?SectionId=' + $("#Sectionslist").val();
    }
    function GetQuizSections(TemplateId, Section) {

        $.ajax({
            type: 'Post',
            url: 'GetQuizSections',
            data: 'TemplateId=' + TemplateId + '&SectionId=' + Section,
            success: function (data) {
                $('#Sectionslist').empty();

                for (var i = 0; i < data.length; i++) {
                    var datasec = data[i].Text;
                    var datasecId = data[i].Value;
                    var dataSel = data[i].Selected;

                    var newOption = $('<option value="' + datasecId + '" >' + datasec + '</option>');
                    if (dataSel == true)
                        newOption = $('<option value="' + datasecId + '" selected >' + datasec + '</option>');
                    $('#Sectionslist').append(newOption);
                }

            },
            error: function (req, status, error) {
                alert("Unable to get sections");
            }
        });
    }

    function htmlEncode(value) {
        //create a in-memory div, set it's inner text(which jQuery automatically encodes)
        //then grab the encoded contents back out.  The div never exists on the page.
        return $('<div/>').text(value).html();
    }
    function htmlDecode(value) {
        return $('<div/>').html(value).text();
    }
    //<<Ends
    var HeaderId = -1;
    var FooterId = -1;
    var Headereditor;
    var Footereditor;
    function Setheader(headerId, Title, Content) {
        HeaderId = headerId;
        $("#headerTitle").html(htmlDecode(Title));
        $("#HeaderContent").html(htmlDecode(Content));
        $("#RichTextAreaDiv").hide();

        $("#welcomeTextWizard").hide();
        $("#HeaderWithData").show();
    }
    function SetFooter(footerId, Title, Content) {
        FooterId = footerId;
        $("#FooterTitle").html(htmlDecode(Title));
        $("#FooterContent").html(htmlDecode(Content));
        $("#FooterRichTextAreaDiv").hide();
        $("#FooterwelcomeTextWizard").hide();
        $("#FooterWithData").show();
    }
    $(function () {

        $(".sortable").sortable({
            cancel: ".hiddenList"
        });
        $(".sortable").disableSelection();
    });
    function stopSorting(id, currentButton) {
        //alert($(currentButton).attr("flag_Arrange"));
        if ($(currentButton).attr("flag_Arrange") == "false") {
            $(currentButton).attr("flag_Arrange", "true");
            $(currentButton).text("Done");
        }
        else {
            $(currentButton).attr("flag_Arrange", "false");
            $(currentButton).text("Re-Arrange");
        }


        $("#" + id + " li").each(function () {

            $(this).removeClass("defaultList");
            $(this).removeClass("hiddenList");
            if ($(currentButton).attr("flag_Arrange") == "false") {
                $(this).addClass("hiddenList");
                $(this).find(".reArrangeImg").hide(); 
            }
            else {
                $(this).addClass("defaultList");
                $(this).find(".reArrangeImg").show();
            }

        });
        if ($(currentButton).attr("flag_Arrange") == "false") {
            var ids = "";
            $("#" + id + " li").each(function () {
                ids += $(this).prop("id") + "|";
            });
            //alert('templateSectionIds=' + ids + '&TemplateId=' + id.substring(3));
            $.ajax({
                type: 'GET',
                url: 'ChangeTemplateSubSectionsOrder',
                data: 'templateSubSectionIds=' + ids + '&TemplateSecId=' + id.substring(3),
                success: function (data) {
                    //alert(data);

                },
                error: function () {
                    alert("Unable to process request, please try again");
                }
            });
        }
    }
    var area2;
    function FooterTextClick() {
        $("#FooterRichTextAreaDiv").show();
        $("#FooterTitleDiv").show();

        $("#FooterWithData").hide();
        $("#FooterwelcomeTextWizard").hide();


        $("#FTitle").val($("#FooterTitle").html()); //Rajesh on 10/19/2013
        //$("#FooterRichTextArea").html($("#FooterContent").html()); //Rajesh on 10/19/2013
        $('#FooterRichTextAreaDiv').find('.nicEdit-main').html($("#FooterContent").html());

        //        Footereditor.updateFrame();
        //        if ($("#HeaderText").text().trim() == "Click Here")
        //            $("#RichTextArea").val("");
        //        else
        //            $("#RichTextArea").val($("#HeaderText").text());

    }

    function deleteHeaderOrFooter(type) {
        id = -1;
        if (type == 0)//Header
            id = HeaderId;
        else
            id = FooterId;
        if (id == -1)
            return;
        //alert(id);

        var c = confirm("Do you want to delete the content?");
        if (c)
            $.ajax({
                type: 'GET',
                url: 'DeleteQuizHeaderOrFooter',
                data: 'headerFooterId=' + id,
                success: function (data) {
                    //alert(data);
                    if (data == "Ok")
                        window.location.reload(true);
                },
                error: function (req, status, result) {
                    alert("Unable to delete,Please contact administrator");
                }
            });

    }

    function FooterDoneClick() {
        var htmlStr = $('#FooterRichTextAreaDiv').find('.nicEdit-main').html();
        var footerData = replaceAll("&nbsp;", "", htmlStr).trim();

        //alert("FooterId: " + FooterId + ";  FooterData: " + footerData);

        if ($("#FTitle").val() != "" && footerData == "") {
            alert("Please add footer content");
            return;
        }
        if (FooterId != -1 && footerData == "") {
            alert("Please add footer content");
            return;
        }

        $("#FooterRichTextAreaDiv").hide();
        $("#FooterTitleDiv").hide();

        //window.location = "AddHeaderOrFooter?" + 'headerFooterId=' + HeaderId + '&SectionId=' + '@ViewBag.SectionId' + "&type=0" + "&title=" + escape($("#HTitle").val()) + "&content=" + escape($("#RichTextArea").val());

        $("#FooterTitle").html($("#FTitle").val());
        $("#FooterContent").html(htmlStr);

        if (footerData == "" && $("#FTitle").val() == "") {
            $("#FooterwelcomeTextWizard").show();
        }
        else {

            $("#FooterWithData").show();
        }
        if (footerData != "") {

            //alert(FooterId);
            $.ajax({
                type: 'POST',
                url: 'AddQuizHeaderOrFooter',
                data: 'headerFooterId=' + FooterId + '&SectionId=' + '@ViewBag.SectionId' + "&type=1" + "&title=" + encodeURIComponent(htmlEncode($("#FTitle").val())) + "&content=" + escape(htmlEncode(htmlStr)), 
                success: function (data) {
                    FooterId = data;

                },
                error: function () {
                    alert("Unable to save footer text, try again.");
                }
            });
        }

    }

    function HeaderTextClick() {

        $("#RichTextAreaDiv").show();
        $("#HeaderTitleDiv").show();

        $("#HeaderWithData").hide();
        $("#welcomeTextWizard").hide();

        $("#HTitle").val($("#headerTitle").html());         
        //$("#RichTextArea").html($("#HeaderContent").html()); 
        $('#RichTextAreaDiv').find('.nicEdit-main').html($("#HeaderContent").html());

        //        Headereditor.updateFrame();
        //        if ($("#HeaderText").text().trim() == "Click Here")
        //            $("#RichTextArea").val("");
        //        else
        //            $("#RichTextArea").val($("#HeaderText").text());

    }

    //siva on Feb 4th
    function replaceAll(find, replace, str) {
        //space (&nbsp;)
        var re = new RegExp(find, 'g');
        str = str.replace(re, replace);

        //<br>
        var re = new RegExp("<br>", 'g');
        str = str.replace(re, replace);
        return str;
    }

    function HeaderDoneClick() {
        var htmlStr = $('#RichTextAreaDiv').find('.nicEdit-main').html();
        var data = replaceAll("&nbsp;", "", htmlStr);

        //alert("HeaderId: " + HeaderId + ";  HeaderData: " + data);

        if ($("#HTitle").val() != "" && data == "") {
            alert("Please add header content1");
            return;
        }
        if (HeaderId != -1 && data == "") {
            alert("Please add header content2");
            return;
        }
        $("#RichTextAreaDiv").hide();
        $("#HeaderTitleDiv").hide();
        $("#headerTitle").html($("#HTitle").val());
        $("#HeaderContent").html(htmlStr);

        //alert("data: " + data.trim() + " Title: " + $("#HTitle").val());
        if (data.trim() == "" && $("#HTitle").val() == "") {
            $("#welcomeTextWizard").show();
        }
        else {

            $("#HeaderWithData").show();
        }
        if (data.trim() != "") {
            //alert(HeaderId);
            $.ajax({
                type: 'POST',
                url: 'AddQuizHeaderOrFooter',
                data: 'headerFooterId=' + HeaderId + '&SectionId=' + '@ViewBag.SectionId' + "&type=0" + "&title=" + encodeURIComponent(htmlEncode($("#HTitle").val())) + "&content=" + escape(htmlEncode(htmlStr)), //Rajesh on 10/19/2013
                success: function (data) {
                    HeaderId = data;

                },
                error: function () {
                    alert("Unable to save Header text, try again");
                }
            });
        }
    }


    $(document).ready(function () {

        setPermissions('@ViewBag.ViewPermissions');
        //=====Changes for New UI====
        $("#Edit").click(function () {
            $("#SelectedTemplate").hide();
            $("#SelectAnotherTemplate").show();

        });

        $("#Done").click(function () {
            $("#SelectedTemplate").show();
            $("#SelectAnotherTemplate").hide();

        });


        //===== Ends =================
        var options = {
            width: 686,
            height: 100,
            controls: "bold italic underline | font size " +
                    "style | bullets numbering | " +
                    "alignleft center alignright justify | undo redo | " +
                    "link unlink"
        };

        //Headereditor = $("#RichTextArea").cleditor(options)[0];
        //Footereditor = $("#FooterRichTextArea").cleditor(options)[0];
        // Self-executing recursive animation
        (function pulse() {
            $('.subSectionData').delay(500).animate({ 'border-color': '#dbe6f7' }, 100).delay(500).animate({ 'border-color': '#b7cced' }, 100, pulse);
        })();

    });


    bkLib.onDomLoaded(function () {
        //new nicEditor({ iconsPath: '../images/nicEditorIcons.gif' }).panelInstance('RichTextArea');
        new nicEditor({ buttonList: ['fontSize', 'bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', 'html', 'ul', 'ol', 'indent', 'outdent', 'upload'] }).panelInstance('RichTextArea');

        new nicEditor({ buttonList: ['fontSize', 'bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', 'html', 'ul', 'ol', 'indent', 'outdent'] }).panelInstance('FooterRichTextArea');
    });

 </script>
<script type="text/javascript">    //----1

    var TrainingSbSecPopup = false;
    function AddTrainingVideoOrAlternateFormat(subSectionId, subSectionType, mode, sectionId, documentId)
    {
        if (TrainingSbSecPopup && !TrainingSbSecPopup.closed) {
            TrainingSbSecPopup.focus();
        } 
        else {
        var fileName ="";
            TrainingSbSecPopup = window.open("AddTrainingVideoOrAlternateFormat?SubSectionId="+subSectionId + "&FileName=" +fileName + "&mode="  +mode +"&SectionId=" +sectionId + "&SubSectionType=" +subSectionType + "&DocumentId=" +documentId, "_blank", "toolbar=no,  directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=yes, width=500, height=400");
            }
    }

    var SubSecPopup = false;
    function AddNewSubSecPopup(subSecId) {

        if (SubSecPopup && !SubSecPopup.closed) {
            SubSecPopup.focus();
        }
        else {
            SubSecPopup = window.open("AddOrEditQuizSubSections?SectionId="+@ViewBag.SectionId+"&subSecId="+subSecId, "_blank", "toolbar=no,  directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=yes, width=750, height=700");
        }
    }
    
</script>

<style>
    .nicEdit-main ol{ list-style:inside; list-style-type: decimal; }
    .nicEdit-main ul{ list-style: inside; list-style-type: dot; }
</style>
<!-- Ends -->

<style>

.newTemplateWizard ul
{
    margin:0 0 0 20px;
}
.subSectionData
{
	padding:30px; 
	  
	font-weight:bold; 
	color:#214478; 
	width:91%; 
	border:2px dashed #afc6e9; 
	background:#f6f9fc; 
	cursor:pointer;
	float:left;
	position:relative;
}
.subSectionData p
{
	text-align:center;
}
.subSectionDataContent
{
	float:left;
	width:100%;
color:#000;
	margin:0px;
	text-align:justify;  
}

.subSectionDataButtons
{
	width:100%;
	height:auto;
	float:right;
	margin-right:-20px;
	margin-top:-50px;
	text-align:right;  
	
}
</style>

</head>

<body>


<div>
		<div class="content">

            @if (((FVGen3.Domain.Entities.TemplateSections)ViewBag.Section).TemplateSectionType == 52 || ((FVGen3.Domain.Entities.TemplateSections)ViewBag.Section).TemplateSectionType == 51)
            {
            @*=============Changes for new UI ===============*@
            <div class="subSectionDataBackground">
                <div>
                    <table   width="100%">
                        <tr>
                            <td>
                                <div class="page-subtitle">
                                	<h2>Add Sub-Section</h2>
                                </div>
                            </td>

                            <td> 
                                <button type="button" value="Add New" 

                                @{var location = "";}
                                @if (((FVGen3.Domain.Entities.TemplateSections)ViewBag.Section).Templates.DefaultTemplate == true && ((FVGen3.Domain.Entities.TemplateSections)ViewBag.Section).Templates.TemplateType == 1)
                                {
                                    location = "window.location='TemplatesAndSections'";
                                }
                                else
                                {
                                    location = "window.location='QuizTemplatesAndSections'";
                                }
                                onclick="@location";
                                    
                                > << Questionnaires</button>
                            </td>
                        </tr>
                    </table>
                </div>

                    <div id="SelectedTemplate">
                    	<table  width="100%" border="0">
                        	<tr >
                            	<td valign="top" width="85;"><h3>Template:</h3></td>
                                <td valign="top" width="195"><h4>@ViewBag.TemplateName</h4></td>
                                <td valign="top" width="70;"><h3>Section:</h3></td>
                                <td valign="top" width="330"><h4>@ViewBag.SectionName</h4></td>
                                <td valign="top" align="left" width="40" id="Edit"><img src="~/images/edit.png" /></td>
                            </tr>
                        </table>
                        </div>
                        <div id="SelectAnotherTemplate" style="display:none;">
                        <table>
                            <tr  >
                            	<td valign="top" width="85;"><h3>Template:</h3></td>
                                <td valign="top" width="195"><h4>@ViewBag.TemplateName</h4></td>
                                <td valign="top" width="70;"><h3>Section:</h3></td>
                                <td valign="top" width="330"><select style="float:none;" id="Sectionslist"></select></td>
                                <td valign="top" align="left" width="40" id="Edit"><img onclick="SectionChanged()" src="~/images/done.png"/></td>
                            </tr>
                        </table>
                    </div>

                    @*     For Header           *@
                    <div>
                        <div class="rowIST" >
                            <div id="HeaderTitleDiv" style="display:none;">
                                <table>
                                    <tr>
                                        
                                        <td width="90%"><input type="text" id="HTitle"/></td>
                                        <td><button type="button" value="Add New" onclick="HeaderDoneClick()">Done</button></td>
                                    </tr>
                                </table>
                                    
                                
                            </div>
                        </div>

                    <div class="welcomeTextWizard" id="welcomeTextWizard">
                    	<div style="position:absolute; top:-1.1em;right:1em;">
                    		<button type="button" id="HeaderText" onclick="HeaderTextClick()">Add Header</button>
                    	</div>
                        <div class="welcomeText">
                            <h3>Please click on Add header button to add header for the selected section</h3>
                        </div>
                    </div><!----welcomeTextwizard---->
                    <div class="newTemplateWizard"  id="HeaderWithData" style="width:98%;display:none;">
                        <div style="float:left; width:99%; margin-top:10px; overflow:hidden; ">
                            <table width="100%">
                                <tr>
                                    <td>
                                        <div class="page-subtitle" style="padding-left:10px; padding-top:0px;">
                                            <h2 id="headerTitle"></h2>
                                        </div>
                                        <div class="subSectionDataContent" id="HeaderContent" style="width:95%">
                                           
                                        </div>
                                    </td>
                                    
                                	 
                                    <td width="30" align="right" valign="top"><img src="../images/EditIcon.png" style="cursor:pointer;" onclick="HeaderTextClick()"/></td>
                                    <td width="30" align="right" valign="top"><img src="../images/DelButton.png" style="cursor:pointer;" onclick="deleteHeaderOrFooter(0)"/></td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    </div>
                    <div id="RichTextAreaDiv" style="display:none;width:98%;float:left;height:100%;margin:20px 10px 0 10px;">
                        <textarea name="RichTextArea" style="width: 700px; height: 100px;" id="RichTextArea">
                        </textarea>
                    </div>
                    @* Header Ends *@
                    
                    @*@if (((FVGen3.Domain.Entities.TemplateSections)ViewBag.Section).TemplateSectionType == 52)//Quiz Questions
                    {
                        <div class="newTemplateWizard">
                          <div id="accord">
                            <div id="space"></div><!---for spacing---->
                	        <ul>
             
                            @if (@ViewBag.SubSections != null)
                            {
					                <li class="list"> 
       						        <div>

                                    @if (((FVGen3.Domain.Entities.TemplateSections)ViewBag.Section).TemplateSectionType == 52)//Quiz Questions
                                    {
                                        <div class="page-subtitle" >
                                        Sub-Sections
							            <button type="button" value="Add New" onclick="AddNewSubSecPopup('-1')">Add New</button>
                                        @if (@ViewBag.SubSections.Count > 1)
                                        {
                                            <button type="button" value="Add New" flag_Arrange="false" onclick="stopSorting('id_@ViewBag.SectionId',this)">Re-Arrange</button>
                                        }
                                        </div>
                                    }
                                    
                                        <div id="space"></div><!---for spacing---->
                                            <ul class="sortable" id="id_@ViewBag.SectionId">
                                                 @foreach (var sec in ((List<FVGen3.Domain.Entities.TemplateSubSections>)@ViewBag.SubSections).OrderBy(rec => rec.DisplayOrder))
                                                 {
                                                     var query = "QuizQuestionsList" + QueryStringModule.Encrypt("SubSectionId=" + sec.SubSectionID);
                                                     if (sec.SubHeader == true)
                                                     {
                                                        @:<li class="hiddenList" id="@sec.SubSectionID" >
                                                     }
                                                     else
                                                     {
                                                         @:<li class="hiddenList" id="@sec.SubSectionID">
                                                     }
                                                         <table width="97.5%">
                                                	        <tr>
                                                    	        
                                                                @if (((FVGen3.Domain.Entities.TemplateSections)ViewBag.Section).TemplateSectionType == 52)//Quiz Sections
                                                                {
                                                                    <td width="50%"><a href="#!" onclick="AddNewSubSecPopup('@sec.SubSectionID')">@(string.IsNullOrEmpty(sec.SubSectionName) ? "_" : @sec.SubSectionName) </a></td>
                                                                    <td width="30%"><a href="@query">
                                                                        @if (sec.SubSectionTypeCondition != "QuizVideos") // Quiz Questions
                                                                        {
                                                                           @:Questions
                                                                        }
                                                                    </a></td>
                                                                    
                                                                    <td width="10%"><a href="#!" onclick="SubSectionUserPermission(@sec.SubSectionID)">
                                                                   @if (sec.TemplateSubSectionsPermissions.FirstOrDefault(rec => rec.PermissionFor == "Client") != null && sec.TemplateSubSectionsPermissions.FirstOrDefault(rec => rec.PermissionFor == "Client").PermissionType == 1 && ((FVGen3.Domain.Entities.TemplateSections)ViewBag.Section).Templates.DefaultTemplate == false)
                                                                   {
                                                                        @:<img src="../images/permission.png"/>
                                                                   }
                                                                </a></td>
                                                                    <td align="right"><img src="../images/rearrange.png" class="reArrangeImg" style="display:none;"/></td>     
                                                                    
                                                                   if (sec.TemplateSections.Templates.TemplateStatus == 0)
                                                                   {
                                                                       <td align="right"><img src="../images/DelButton.png" onclick="DeleteQuizSubSection('@sec.SubSectionID')"/></td>
                                                                   }
                                                                }
                                                                else
                                                                {
                                                                    <td width="50%"><a href="#!">@sec.SubSectionName</a></td>
                                                                }
                                                            </tr>
                                        		        </table> 
                                                    @:</li>
                                                 }
                                            </ul>
								        </div>
					                </li>
                            }
                            </ul>	
                
				        </div>
                    </div>
             
                    }*@
                    
                    @if (((FVGen3.Domain.Entities.TemplateSections)ViewBag.Section).TemplateSectionType == 51)//Quiz Videos
                    {
                        foreach (var subSection in ((FVGen3.Domain.Entities.TemplateSections)ViewBag.Section).TemplateSubSections)
                        {
                            if (subSection.SubSectionTypeCondition == "QuizVideos")
                            {
                            <div class="subsectionHeader">
                                <table width="709px;">
                                    <tbody>
                                        <tr>
                                            <td>@subSection.SubSectionName</td>
                                        </tr>
                                    </tbody>                                    
                                </table>
                            </div>   
                            
                            <div class="dynamicSubsection">           
                                <button type="button" value="Add New" style="float:right;" onclick="AddTrainingVideoOrAlternateFormat('@subSection.SubSectionID', 'QuizVideos', 'false', '@ViewBag.SectionId')">Add Video</button>
                            </div>
                        
                            <div class="partialPage">
                                <table>
                                     @if (ViewBag.VBVideoOrAlternateTrainingFormats != null)
                                        {
                                            foreach (var video in (List<FVGen3.Domain.Entities.Document>)ViewBag.VBVideoOrAlternateTrainingFormats)
                                            {
                                                if (@video.ReferenceType == "QuizVideos" && @video.ReferenceRecordID == subSection.SubSectionID)
                                                {
                                                    <tr>
                                                        <td width="90%">
                                                            @video.DocumentName
                                                        </td>
                                                        <td width="5%">
                                                            <img src="~/images/edit.png" onclick="AddTrainingVideoOrAlternateFormat('@subSection.SubSectionID', 'QuizVideos', 'true', '@subSection.TemplateSections.TemplateSectionID', '@video.DocumentId' )">
                                                                    </img>  
                                                        </td>
                                                        <td width="5%">
                                                            <img src="~/images/DelButton.png" onclick="DeleteTrainingVideoOrAlternateFormat('@video.DocumentId')"></img>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        }
                                </table>
                            </div>         
                            }
                            else if (subSection.SubSectionTypeCondition == "QuizAlternateFormats")
                            { 
                            <div class="subsectionHeader">
                                <table width="709px;">
                                    <tbody>
                                        <tr>
                                            <td>@subSection.SubSectionName</td>
                                        </tr>
                                    </tbody>                                    
                                </table>
                            </div>      
                            
                            <div class="dynamicSubsection">           
                                <button type="button" value="Add New" style="float:right;" onclick="AddTrainingVideoOrAlternateFormat('@subSection.SubSectionID', 'QuizAlternateFormats', 'false', '@ViewBag.SectionId' )">Add Alternate Formats</button>
                            </div>
                        
                            <div class="partialPage">
                                <table>
                                     @if (ViewBag.VBVideoOrAlternateTrainingFormats != null)
                                            {
                                                foreach (var alternateFormat in (List<FVGen3.Domain.Entities.Document>)ViewBag.VBVideoOrAlternateTrainingFormats)
                                                {
                                                    if (@alternateFormat.ReferenceType == "QuizAlternateFormats" && @alternateFormat.ReferenceRecordID == subSection.SubSectionID)
                                                    {
                                                        <tr width="90%">
                                                            <td>
                                                                @alternateFormat.DocumentName
                                                            </td>
                                                            <td width="5%">
                                                                <img src="~/images/edit.png" onclick="AddTrainingVideoOrAlternateFormat('@subSection.SubSectionID', 'QuizAlternateFormats', 'true', '@subSection.TemplateSections.TemplateSectionID', '@alternateFormat.DocumentId' )"></img>
                                                            </td>
                                                            <td width="5%">
                                                                <img src="~/images/DelButton.png" onclick="DeleteTrainingVideoOrAlternateFormat('@alternateFormat.DocumentId')" />
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            }
                                </table>
                            </div>
                            }
                        }
                    }
                        @if (@ViewBag.VBAlternateFormatSubSection == null)
                        {
                            <div class="subsectionHeader">
                                <table width="709px;">
                                    <tbody>
                                        <tr>
                                            <td>Alternate Formats</td>
                                        </tr>
                                    </tbody>                                    
                                </table>
                            </div>   
                            
                            <div class="dynamicSubsection">
                                <button type="button" value="Add New" style="float:right;" onclick="AddTrainingVideoOrAlternateFormat('-1', 'QuizAlternateFormats', 'false', '@ViewBag.SectionId' )">Add Alternate Formats</button>
                            </div>
                        }
                    
              @*     For Footer           *@
                    <div>
                        <div class="rowIST">
                            <div id="FooterTitleDiv" style="display:none;">
                                <table>
                                    <tr>
                                        
                                        <td width="90%"><input type="text" id="FTitle" /></td>
                                        <td><button type="button" value="Add New" onclick="FooterDoneClick()">Done</button></td>
                                    </tr>
                                </table>
                                    
                                
                            </div>
                        </div>

                    <div class="welcomeTextWizard" id="FooterwelcomeTextWizard">
                    	<div style="position:absolute; top:-1.1em;right:1em;">
                    		<button type="button" id="FooterText" onclick="FooterTextClick()">Add Footer</button>
                    	</div>
                        <div class="welcomeText">
                            <h3>Please click on Add footer button to add footer for the selected section</h3>
                        </div>
                    </div><!----welcomeTextwizard---->
                    <div class="newTemplateWizard"  id="FooterWithData" style="width:98%;display:none;">
                        <div style="float:left; width:99%; margin-top:10px; ">
                            <table width="100%" border="0">
                                <tr>
                                    <td>
                                        <div class="page-subtitle" style="padding-left:10px; padding-top:0px;">
                                            <h2 id="FooterTitle"></h2>
                                        </div>
                                        <div class="subSectionDataContent" id="FooterContent" style="width:95%">
                                           
                                        </div>
                                    </td>
                                    
                                	 
                                    <td width="30" align="right" valign="top"><img src="../images/EditIcon.png" style="cursor:pointer;" onclick="FooterTextClick()"/></td>
                                    <td width="30" align="right" valign="top"><img src="../images/DelButton.png" style="cursor:pointer;" onclick="deleteHeaderOrFooter(1)"/></td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    </div>

                    <div id="FooterRichTextAreaDiv" style="display:none;width:98%;float:left;height:100%;margin:20px 10px 0 10px;">
                            
                        <textarea name="FooterRichTextArea" style="width: 700px; height: 100px;" id="FooterRichTextArea"> </textarea>
                    </div>
                    @* Footer Ends *@

                    

            </div>
            @*=============Changes for new UI Ends ===============*@
            }

			</div><!---ContentSub--->
            </div><!---Content-->
	
    @if (@ViewBag.Header != null)
    {
    <script>
        Setheader('@ViewBag.Header.HeaderFooterId', '@ViewBag.Header.PositionTitle', '@ViewBag.Header.PostionContent');
    </script>
    }
    @if (@ViewBag.Footer != null)
    {
    <script>
        SetFooter('@ViewBag.Footer.HeaderFooterId', '@ViewBag.Footer.PositionTitle', '@ViewBag.Footer.PostionContent');
    </script>
    }
    <script>
        GetQuizSections('@ViewBag.TemplateId', '@ViewBag.SectionId');
    </script>
</body>
</html>
