﻿<!--
Page Created Date:  10/09/2014
Created By: Kiran Talluri
Purpose:  To Create & display the Quiz template Sub-sections
Version: 1.0
****************************************************
-->

@{
    ViewBag.Title = "Add Or Edit Training Video";
    Layout = null;
}
@using FVGen3.Domain.Entities;
@model FVGen3.Domain.Entities.LocalAddTrainingVideo
@using Resources;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
@Styles.Render("~/css/appPopUp.css")
@Styles.Render("~/css/appInnerPages.css")
@Scripts.Render("~/js/common.js")
@Scripts.Render("~/Scripts/jquery-1.9.1.min.js")
@Scripts.Render("~/Scripts/jquery.js")
@Styles.Render("~/Content/Site.css")    
@Scripts.Render("~/Scripts/jquery.hint.js")
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    
    $(document).ready(function () {
        setPermissions('@ViewBag.ViewPermissions');
    });
</script>
</head>
<body>
@using (@Html.BeginForm("AddTrainingVideoOrAlternateFormat", "QuizTemplateBuilder", FormMethod.Post, new { enctype = "multipart/form-data" }))
{   
    @Html.HiddenFor(model => model.SubSectionId)
    @Html.HiddenFor(model => model.FileNameOld)
    @Html.HiddenFor(model => model.mode)
    @Html.HiddenFor(model => model.SubSectionTypeCondition)
    @Html.HiddenFor(model => model.ClientId)
    @Html.HiddenFor(model=> model.SectionId)
    @Html.HiddenFor(model => model.DocumentId)
    
    <div class="popUpContainer">
    	<div class="popUpContent">
			<div class="popUpSubContent">
                @if (Model.mode == false)
                {
                    <div class="rowPopUp">
                        <table>
                            <tr>
                                <td><label>SubSection Name:</label></td>
                                <td>
                                    @Html.TextBoxFor(model => model.SubSectionName)
                                </td>
                                </tr>
                        </table>
                    </div>

                    <div class="rowPopUp">
                        <table>
                            <tr>
                            @if (Model.SubSectionTypeCondition == "QuizVideos")
                            {
                                <td><label class="enableStar">Upload Video:</label></td>
                            }
                            else
                            { 
                                <td><label class="enableStar">Upload PDF file only:</label></td>
                            }
                                <td>
                                @if (Model.SubSectionTypeCondition == "QuizVideos")
                                {
                                    <input type="file" name="Video1" id="Video1" data-val-required="*" data-val="true" accept=".mp4|.flv"/>
                                }
                                else if (Model.SubSectionTypeCondition == "QuizAlternateFormats")
                                { 
                                    <input type="file" name="Video1" id="Video1" data-val-required="*" data-val="true" accept=".pdf"/>  
                                }
                                    <div class="alertStar"> @Html.ValidationMessageFor(model => model.Video1)</div>
                                </td>
                                </tr>
                        </table>
                    </div>
                }
                <div class="rowPopUp">
                    <table>
                        <tr>
                            @if (Model.SubSectionTypeCondition == "QuizVideos")
                            {
                                <td><label>Upload Video:</label></td>
                            }
                            else
                            { 
                                <td><label>Upload PDF file only:</label></td>
                            }
                            <td>
                                @if (Model.SubSectionTypeCondition == "QuizVideos")
                                {
                                    <input type="file" name="Video1" id="Video1" data-val-required="*" data-val="true" accept=".mp4|.flv"/>
                                }
                                else if (Model.SubSectionTypeCondition == "QuizAlternateFormats")
                                { 
                                    <input type="file" name="Video1" id="Video1" data-val-required="*" data-val="true" accept=".pdf"/>  
                                }
                            </td>
                            </tr>
                    </table>
                </div>

                <div class="pageFooterContent"> 
    	 	<div class="pageFooterButtons">
                <table>
                	<tr>
                  	  <td><button type="submit" class="pageFooterButton">Upload</button></td>
                   	  <td>@Resources.Common_label_or</td>
                     <td><div class="PageFooter_CancleBtn"><a href="#!" onclick="window.close()">@Resources.Common_Cancel</a></div></td>
                </tr>	
             </table> 
          </div>
        </div>

            </div>
         </div>
    </div>
}
</body>
</html>
