﻿
@using Resources
@{
    ViewBag.Title = "AddClients";
}
@model FVGen3.Domain.Entities.LocalTemplateModel
<!DOCTYPE html>
<html>
<head>
    @Scripts.Render("~/Scripts/jquery-1.9.1.min.js")
    @Styles.Render("~/css/appPopUp.css")
    @Styles.Render("~/css/appInnerPages.css")
    @Scripts.Render("~/js/common.js")
    <link href="~/css/appReports.css" rel="stylesheet" />
    @Styles.Render("~/Content/Site.css")
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
</head>

<body>
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(rec => rec.Templateid)
        <div class="popUpContainer">
            <div class="popUpContent">

                <div class="popUpSubContent">
                    <div class="rowPopUp">
                        <table>

                            <tr id="ERIClients">
                                <td><label class="enableStarPopUp">@Resources.AddOrEditCustomTemplate_label_SelectClient</label></td>
                                <td id="clientList">
                                    @Html.ListBoxFor(rec => rec.ERIClients, (List<SelectListItem>)@ViewBag.Clients, new { style = "height:130px;width:400px" })
                                    <div class="alertStar">@Html.ValidationMessageFor(rec => rec.ERIClients)</div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="popUpSubContent">
                    <div class="pageFooterContent">
                        <div class="pageFooterButtons">
                            <button type="submit" class="PageFooter_Button">@Resources.Common_Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }
    </body>
</html>