﻿@using Newtonsoft.Json
@using Resources;
@using FVGen3.Domain.Entities;
@{
    ViewBag.Title = "Add New Template";
}
@model FVGen3.Domain.Entities.LocalTemplateModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width" />

    @Scripts.Render("~/Scripts/jquery-1.9.1.min.js")
    @Styles.Render("~/css/appPopUp.css")
    @Styles.Render("~/css/appInnerPages.css")
    @Scripts.Render("~/js/common.js")
    <link href="~/css/appReports.css" rel="stylesheet" />

    <script src="~/Scripts/Application/TemplateTool/AddOrEditCustomTemplate.js"></script>
    <script src="~/Scripts/Application/Control/Controls.js"></script>
    @Styles.Render("~/Content/Site.css")
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script type="text/javascript" src="~/js/nicEdit.js"></script>
    <script>

        $(document).ready(function () {

            // Added code to call setPermissions() function on 08/07/2013 by Kiran Talluri
            setPermissions('@ViewBag.ViewPermissions');
            // Ends<<<
            var a = new nicEditor({
                buttonList: [
                    'fontSize', 'bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', 'html',
                    'ul', 'ol', 'indent', 'outdent', 'forecolor', 'bgcolor'
                ]
            }).panelInstance('LockComments');
        });
       
    </script>

    <script>
        $(document).ready(function () {

            ShowHideLockNotifications();
            if ('@Model.Templateid' == null || '@Model.Templateid' == '') {
                Template.getSubClients();
            }

            if ('@Model.IsERI')
            {
                $("#SubClients").hide();
                $("#SubClientsEdit").show();
            }

            $("#LockedByDefault").click(function () {
                ShowHideLockNotifications();
            });

            $("#custome").click(function ()//custom button
            {
                getTemplates(0);
                $("#ClientOfTemplateRow").show();
            });


            $("#standard").click(function () //custom button
            {
                getTemplates(1);
                $("#ClientOfTemplateRow").hide();

            });
            $("#ClientOfTemplateRow").change(function () {

                if ($("#custome").is(":checked"))
                    getTemplates(0);
            });

            function getTemplates(type) {
                var clientName = $("#ClientOfTemplate").val();
                $.ajax({
                    type: 'Post',
                    url: 'GetTemplates',
                    data: 'type=' + type + '&client=' + clientName,
                    success: function (data) {
                        $('#CopyTemplateId').empty();

                        for (var i = 0; i < data.length; i++) {
                            var datasec = data[i].Text;
                            var datasecId = data[i].Value;
                            var dataSel = data[i].Selected;

                            var newOption = $('<option value="' + datasecId + '" >' + datasec + '</option>');
                            if (dataSel == true)
                                newOption = $('<option value="' + datasecId + '" selected >' + datasec + '</option>');
                            $('#CopyTemplateId').append(newOption);
                        }

                    },
                    error: function (req, status, error) {
                        //console.trace();
                        alert("Unable to get sections");
                    }
                });
            }

            //Rajesh on 12/21/2013
            if ($("#custome").is(":checked"))
                getTemplates(0);
            else {
                getTemplates(1);
                $("#ClientOfTemplateRow").hide();
            }
            //Ends<<
            $("#isSectionSelected").prop("checked", true);
            $("#isCopyTemplateSelected").click(function () //hide radio buttons
            {
                //alert($(this).is(":checked"));
                if ($(this).is(":checked")) {
                    $("#CopyTemplateDiv").show();

                }
                else {
                    $("#CopyTemplateDiv").hide();

                }
            });


            $("#isQuestionsSelected").click(function () //hide radio buttons
            {
                if ($(this).is(":checked")) {
                    $("#isSectionSelected").prop("checked", true);
                    $("#isSubSectionSelected").prop("checked", true);
                }
            });

            $("#isSubSectionSelected").click(function () //hide radio buttons
            {
                if ($(this).is(":checked")) {
                    $("#isSectionSelected").prop("checked", true);

                }
                else {
                    $("#isQuestionsSelected").prop("checked", false);
                }
            });
            $("#isSectionSelected").click(function () //hide radio buttons
            {
                if (!$(this).is(":checked")) {
                    $("#isQuestionsSelected").prop("checked", false);
                    $("#isSubSectionSelected").prop("checked", false);
                }
            });

        });

        function templateTypeChange() {



            if ($("#isCopyTemplateSelected").is(":checked")) {
                $("#CopyTemplateDiv").show();

            }
            else {
                $("#CopyTemplateDiv").hide();

            }
        }
        function ShowHideLockNotifications() {
            if ($('#LockedByDefault').attr('checked') === 'checked') {
                $('.lockedNotification').show();
                $("#LockCommentsRow").show();
                $("#LockCommentslabel").show();
                $("#RenewalLock").show();

            }
            else {
                $('.lockedNotification').hide();
                $("#LockCommentsRow").hide();
                $("#LockCommentslabel").hide();
                $("#RenewalLock").hide();
            }

        }
    </script>
    <style>
        .field-validation-error {
            float: left;
            color: #e81f25;
            line-height: 2.0em;
            margin-left: 5px;
            font-size: 14px;
            margin-bottom: 0px;
        }

        .field-validation-valid {
            display: none;
        }

        .input-validation-error {
            border: 1px solid #ccc;
            background-color: #fee;
        }

        .validation-summary-errors {
            font-weight: bold;
            color: #f00;
        }

        .validation-summary-valid {
            display: none;
        }
    </style>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(rec => rec.Templateid)
        @Html.HiddenFor(rec => rec.IsERI)
        @Html.HiddenFor(rec => rec.TemplateStatus)
        
        <div class="popUpContainer">
            <div class="popUpContent">

                <div class="popUpSubContent">
    <div class="page-title">
        <h2>
            @Resources.AddOrEditCustomTemplate_heading
        </h2>
    </div>
    <div class="rowPopUp">
        @*<table>
            <tr>
                <td><label class="enableStarPopUp">@Resources.IsERI</label></td>
                <td>
                    @Html.CheckBoxFor(rec => rec.IsERI, new { onchange = "Template.ERIChange(this)" })
                    <div class="alertStar">@Html.ValidationMessageFor(rec => rec.IsERI)</div>
                </td>
            </tr>
        </table>*@


    </div>
    @if (@Model.Templateid == null)
    {
        <div class="rowPopUp">
            <table>

                <tr id="dropDownOne">
                    <td><label class="enableStarPopUp">@Resources.AddOrEditCustomTemplate_label_SelectClient</label></td>
                    <td>
                        @Html.DropDownListFor(rec => rec.ClientId, (List<SelectListItem>)@ViewBag.Clients, new { @onchange = "Template.getSubClients()" })
                        <div class="alertStar">@Html.ValidationMessageFor(rec => rec.ClientId)</div>
                    </td>
                </tr>
                </table>
            </div>

            <div class="rowPopUp" id="SubClients">
                <table>
                    <tr >
                        <td><label class="enableStarPopUp">@Resources.SelectSubClient</label></td>
                        <td id="clientList">
                            @Html.ListBoxFor(rec => rec.ERIClients, new List<SelectListItem>(), new { style = "height:130px;width:400px" })
                            <div class="alertStar">@Html.ValidationMessageFor(rec => rec.ERIClients)</div>
                            @*<script>
                                $("#clientList")
                                    .html($(
                                        Controls.MultiCheckBoxes(
                                            @Html.Raw(JsonConvert.SerializeObject(((List<SelectListItem>)@ViewBag.Clients).Select(r=>new{Key=r.Value,Value=r.Text}))),
                                            "ERIClients_")));
                            </script>*@
                        </td>
                    </tr>
                </table>
            </div>

    }
    else
    {
        @Html.HiddenFor(rec => rec.ClientId)

        //var ClientName = ((List
        //<SelectListItem>
        //    )@ViewBag.Clients).FirstOrDefault(rec => rec.Value == @Model.ClientId + "").Text;
        
            <div class="rowPopUp">
                <table>

                    <tr id="dropDownOne">
                        <td><label>@Resources.Common_Label_Client</label></td>
                        <td>
                           <b>@Model.ClientName</b>

                        </td>
                    </tr>
                </table>
            </div>
       
        if (@Model.TemplateStatus != 1 && Model.IsERI)
        {
            <div class="rowPopUp" id="SubClientsEdit">
                <table>
                    <tr>
                        <td><label>@Resources.SelectSubClient</label></td>
                        <td id="clientList">
                            @Html.ListBoxFor(rec => rec.ERIClients, (List<SelectListItem>)@Model.SubClients, new { style = "height:130px;width:400px" })
                        </td>
                    </tr>
                </table>
            </div>
        }
            @Html.HiddenFor(rec => rec.ClientId)
    }

                    <div class="rowPopUp">
                        <table>

                            <tr id="dropDownOne">
                                <td><label>Select Language</label></td>
                                <td>
                                    @Html.DropDownListFor(rec => rec.LanguageId, (List<SelectListItem>)@ViewBag.Languages)

                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="rowPopUp">
                        <table>
                            <tr>
                                <td><label class="enableStarPopUp">@Resources.Common_label_Templatename</label></td>
                                <td>
                                    @Html.TextBoxFor(rec => rec.TemplateName)
                                    <div class="alertStar">@Html.ValidationMessageFor(rec => rec.TemplateName)</div>
                                </td>
                            </tr>

                        </table>
                    </div>


                    <div class="rowPopUp">
                        <table>
                            <tr>
                                <td><label class="enableStarPopUp">@Resources.AddOrEditCustomTemplate_label_Templatenotes</label></td>
                                <td>
                                    @Html.TextAreaFor(rec => rec.TemplateNote)
                                    <div class="alertStar">@Html.ValidationMessageFor(rec => rec.TemplateNote)</div>
                                </td>
                            </tr>
                        </table>


                    </div>

                    <div class="rowPopUp">
                        <table>
                            <tr>
                                <td><label>@Resources.Temp_Code</label></td>
                                <td>
                                    @Html.TextBoxFor(rec => rec.TemplateCode)
                                    <div class="alertStar">@Html.ValidationMessageFor(rec => rec.TemplateCode)</div>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="rowPopUp" id="HideClientsFromUsers">
                        <table>
                            <tr>
                                <td><label>@Resources.HideClients</label></td>
                                <td>
                                    @Html.CheckBoxFor(rec => rec.HideClients)
                                </td>                                
                            </tr>

                        </table>
                    </div>
                    <div class="rowPopUp" >
                        <table>
                            <tr>
                                <td><label>@Resources.Has_Template_Location_Notification</label></td>
                                <td>
                                    @Html.CheckBoxFor(rec => rec.HasLocationNotification)
                                </td>
                            </tr>

                        </table>
                    </div>
                    <div class="rowPopUp">
                        <table>
                            <tr>
                                <td><label>@Resources.Loc_Vendordetails</label></td>
                                <td>
                                    @Html.CheckBoxFor(rec => rec.HasVendorDetailLocation)
                                </td>
                            </tr>

                        </table>
                    </div>
                    <div class="rowPopUp">
                        <table>
                            <tr>
                                <td><label>@Resources.Banner_Comments</label></td>
                                <td>
                                    @Html.CheckBoxFor(rec => rec.HideCommentsSec)
                                </td>
                            </tr>

                        </table>
                    </div>
                    <div class="rowPopUp">
                        <table>
                            <tr>
                                <td><label>@Resources.Temp_Seq</label></td>
                                <td>
                                    @Html.TextBoxFor(rec => rec.TemplateSequence, new { @maxlength = "2" })
                                    <div class="alertStar">@Html.ValidationMessageFor(rec => rec.TemplateSequence)</div>
                                </td>
                            </tr>

                        </table>
                    </div>
                    <div class="rowPopUp">
                        <table>
                            <tr>
                                <td><label>@Resources.Risk_Level</label></td>
                                <td>
                                    @Html.TextBoxFor(rec => rec.RiskLevel, new { @maxlength = "50" })
                                </td>
                            </tr>

                        </table>
                    </div>
                    <div class="rowPopUp">
                        <table>
                            <tr>
                                <td><label>@Resources.Lock_Default</label></td>
                                <td>
                                    @Html.CheckBoxFor(rec => rec.LockedByDefault)
                                </td>
                                <td><label id="LockCommentslabel">@Resources.ScorecardComments</label></td>
                                <td id="LockCommentsRow">

                                    @Html.TextAreaFor(rec => rec.LockComments, new { style = "width:400px;height:100px;" })
                                </td>
                            </tr>
                            <tr id="RenewalLock"><td><label>@Resources.Renew_Lock_Default</label></td>
                            <td>@Html.CheckBoxFor(rec => rec.RenewalLockedByDefault)</td></tr>
                        </table>
                    </div>
                    <div class="rowPopUp">
                        <table>
                            <tr>
                                <td><label>@Resources.No_Trainings</label></td>
                                <td>
                                    @Html.CheckBoxFor(rec => rec.ExcludePQNotifications)
                                </td>

                            </tr>

                        </table>
                    </div>
                    <div class="rowPopUp lockedNotification">
                        <table>
                            <tr>
                                <td colspan="2">
                                    <table>
                                        <tr>
                                            <td><label>@Resources.Send_To</label></td>
                                            <td>
                                                @Html.ListBoxFor(model => model.unlockNotificationAdminEmails, new MultiSelectList(Model.ListOfAdminUsersForNotificationsTosent, "Value", "Text"), new { multiple = "multiple", size = "4" })

                                                <div class="alertStar">@Html.ValidationMessageFor(model => Model.unlockNotificationAdminEmails)</div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="enableStarPopUp">@Resources.Companies_Template</label></td>
                                <td>
                                    @Html.DropDownListFor(model => model.EmaiTemplateId, (List<SelectListItem>)@ViewBag.EmailTemplates)
                                    @*<div class="alertStar"> @Html.ValidationMessageFor(model => model.EmaiTemplateId) </div>*@
                                </td>
                            </tr>
                        </table>
                    </div>


                    @if (@Model.Templateid == null)
                    {
                        <div class="rowPopUp">

                            <table>
                                <tr>
                                    <td><label>@Resources.AddOrEditCustomTemplate_label_CopyTemplate</label></td>
                                    <td>@Html.CheckBoxFor(x => x.isCopyTemplateSelected)</td>
                                </tr>
                            </table>
                        </div>

                        <div id="CopyTemplateDiv">
                            <div class="rowPopUp">
                                <table>
                                    <tr>
                                        <td><label>@Resources.AddOrEditCustomTemplate_label_TemplateType</label></td>
                                        <td>@Html.RadioButtonFor(rec => rec.TemplateType, "0", new { id = "custome", @checked = "checked" }) </td>
                                        <td><label for="custome">@Resources.AddOrEditCustomTemplate_label_Custom</label></td>
                                        <td>@Html.RadioButtonFor(rec => rec.TemplateType, "1", new { id = "standard" })</td>
                                        <td><label for="standard" style="width:74px;  padding:6px 0 0 0;">@Resources.AddOrEditCustomTemplate_label_Standard</label></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="rowPopUp" id="ClientOfTemplateRow">
                                <table>
                                    <tr>
                                        <td><label>@Resources.AddOrEditCustomTemplate_label_WhichClient</label></td>
                                        <td>@Html.DropDownList("ClientOfTemplate", (List<SelectListItem>)@ViewBag.Clients)</td>
                                    </tr>

                                </table>
                            </div>
                            <div class="rowPopUp">
                                <table>
                                    <tr>
                                        <td><label> @Resources.Common_label_Templatename</label></td>
                                        <td>@Html.DropDownListFor(rec => rec.CopyTemplateId, (List<SelectListItem>)@ViewBag.Templates)</td>
                                    </tr>

                                </table>
                            </div>

                            <div class="rowPopUp">


                                <label></label>
                                <table width="300">
                                    <tr>
                                        <td valign="top" align="right">@Html.CheckBoxFor(x => x.isSectionSelected, new { disabled = "disabled" })</td>
                                        <td><label for="isSectionSelected">@Resources.Common_label_Section</label></td>

                                        <td valign="top" align="right">@Html.CheckBoxFor(x => x.isSubSectionSelected)</td>
                                        <td><label for="isSubSectionSelected">@Resources.Common_label_SubSection</label></td>

                                        <td valign="top" align="right">@Html.CheckBoxFor(x => x.isQuestionsSelected)</td>
                                        <td><label for="isQuestionsSelected">@Resources.AddOrEditCustomTemplate_label_Questions</label></td>

                                    <tr>
                                </table>


                            </div>

                        </div>



                    }
</div>

                <div class="popUpSubContent">
                    <div class="pageFooterContent">
                        <div class="pageFooterButtons">
                            <button type="submit" class="PageFooter_Button">@Resources.Common_Save</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    }
    <script>templateTypeChange()</script>
</body>
</html>
