﻿@{
    ViewBag.Title = "AddNewTemplate";
}
@model FVGen3.Domain.Entities.LocalTemplateModel
           @using Resources;
<!DOCTYPE HTML>
<html>
<head>

<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=8"/>
<meta http-equiv="X-UA-Compatible" content="IE=9"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width"/>


@Styles.Render("~/css/appPopUp.css")
@Styles.Render("~/css/appInnerPages.css")
@Scripts.Render("~/js/common.js")
@Scripts.Render("~/Scripts/jquery-1.9.1.min.js")
@Styles.Render("~/Content/Site.css")    
 
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script>

    $(document).ready(function () {
        // Added code to call setPermissions() function on 08/07/2013 by Kiran Talluri
        setPermissions('@ViewBag.ViewPermissions');
        // Ends<<< 
    });
   
</script>
<script>
    $(document).ready(function () {

        
        $("#custom").click(function ()//custom button
        {
            $("#dropDownOne").show();

        });


        $("#new").click(function () //custom button
        {
            $("#dropDownOne").hide();

        });

        $("#isCopyTemplateSelected").click(function () //hide radio buttons
        {
            if ($(this).is(":checked")) {
                $("#options").show();
                $("#CopyTemplateId").show();
            }
            else {
                $("#options").hide();
                $("#CopyTemplateId").hide();
            }
        });


        $("#isQuestionsSelected").click(function () //hide radio buttons
        {
            if ($(this).is(":checked")) {
                $("#isSectionSelected").prop("checked", true);
                $("#isSubSectionSelected").prop("checked", true);
            }
        });

        $("#isSubSectionSelected").click(function () //hide radio buttons
        {
            if ($(this).is(":checked")) {
                $("#isSectionSelected").prop("checked", true);

            }
            else {
                $("#isQuestionsSelected").prop("checked", false);
            }
        });
        $("#isSectionSelected").click(function () //hide radio buttons
        {
            if (!$(this).is(":checked")) {
                $("#isQuestionsSelected").prop("checked", false);
                $("#isSubSectionSelected").prop("checked", false);
            }
        });

    });

    function templateTypeChange() {
        if ($("#custom").is(":checked")) {
            $("#dropDownOne").show();
        }
        else {
            $("#dropDownOne").hide();
        }

        if (!$("#custom").is(":checked") && !$("#new").is(":checked")) {
            $("#new").prop("checked", true);
        }

        if ($("#isCopyTemplateSelected").is(":checked")) {
            $("#options").show();
            $("#CopyTemplateId").show();
        }
        else {
            $("#options").hide();
            $("#CopyTemplateId").hide();
        }
    }
</script>

</head>

<body>
@using (Html.BeginForm())
{
    @Html.HiddenFor(rec => rec.Templateid)
    <div class="popUpContainer">
	<div class="popUpContent">
    	
        <div class="popUpSubContent">
        	<div class="page-title">
            	<h2>@Resources.AddOrEditCustomTemplate_heading</h2>
            </div>
            @*@if (@Model.Templateid == null)
            {
                <div class="rowIST">
            	    <label>Template Type:</label>
                    <table style="margin-left:30px;">
                	    <tr>
                    	    <td>@Html.RadioButtonFor(x => x.TemplateType, "0", new { @id = "new" })</td>
                            <td width="100"><label for="new"  style="width:auto; padding:0px;">New</label></td>
                            <td>@Html.RadioButtonFor(x => x.TemplateType, "1", new { @id = "custom" })</td>
                            <td width="100"><label for="custom"  style="width:auto; padding:0px; letter-spacing:0px;">Custom</label></td>
                        </tr>
                    </table>
                </div>
            }*@
            
        	<div class="rowPopUp">
            	<table>
                	<tr>
                    	<td><label class="enableStarPopUp">@Resources.AddTemplate_TemplateName</label></td>
                        <td>@Html.TextBoxFor(rec => rec.TemplateName, new {@maxlength ="120" }) 
                        <div class="alertStar">@Html.ValidationMessageFor(rec => rec.TemplateName)</div></td>
                    </tr>
                    <tr id="dropDownOne" style="display:none;">
                    	<td><label style="width:287px;"></label></td>
                        <td>@Html.DropDownListFor(rec => rec.ClientId, (List<SelectListItem>)@ViewBag.Clients)
                           
                        </td>
                    </tr>
                </table>
            </div>
            
             <div class="rowPopUp">
                 <table>
                	<tr>
                        <td><label class="enableStarPopUp">@Resources.Template_Note</label></td>
                        <td>@Html.TextAreaFor(rec => rec.TemplateNote, new { @maxlength = "450" })
                        <div class="alertStar">@Html.ValidationMessageFor(rec=>rec.TemplateNote)</div></td>
            	    </tr>
                  </table>
            	
                
            </div>
            
            <div class="rowPopUp">
                 <table>
                	<tr>
                        <td><label>@Resources.Temp_Code</label></td>
                        <td>@Html.TextBoxFor(rec => rec.TemplateCode, new { @maxlength = "5" })
                            <div class="alertStar">@Html.ValidationMessageFor(rec => rec.TemplateCode)</div>
                        </td>
            	    </tr>
                  </table>
            </div>
           @*@if (@Model.Templateid == null)
           {
            <div class="rowIST">
            	<label style="width:272px;">Copy Template :</label>
                <table>
                	<tr>
                    	<td>@Html.CheckBoxFor(x => x.isCopyTemplateSelected)</td>
                        <td>@Html.DropDownListFor(rec => rec.CopyTemplateId, (List<SelectListItem>)@ViewBag.Templates, new { style = "display:none;" })</td>
                    </tr>
                </table>
                <div id="options" style="display:none;">
                    <label></label>
                    <table width="300" style="height:10px; margin:10px 0px 0px 10px; float:left;  " >
                        <tr>
                            <td align="right">@Html.CheckBoxFor(x => x.isSectionSelected, new { disabled = "disabled" })</td>
                            <td><label for="isSectionSelected" style="width:auto; margin:0px; padding:0px;">Section</label></td>
                             
                            <td align="right">@Html.CheckBoxFor(x => x.isSubSectionSelected)</td>
                            <td><label for="isSubSectionSelected" style="width:auto;margin:0px; padding:0px;" >Sub-Section</label></td>
                            
                            <td align="right">@Html.CheckBoxFor(x => x.isQuestionsSelected)</td>
                            <td><label for="isQuestionsSelected" style="width:auto;margin:0px; padding:0px;">Questions</label></td>
                            
                        <tr>
                    </table>
                
                </div>
            </div>
           }*@
            </div>
            
            <div class="popUpSubContent">
            	<div class="pageFooterContent"> 
                	<div class="pageFooterButtons">
                    	 <button type = "submit" class="PageFooter_Button">@Resources.Common_Save</button>
                    </div>
                </div>
            </div>
        
    </div>
</div>
}
<script>templateTypeChange()</script>
</body>
</html>

