﻿@using Resources
@{
    ViewBag.Title = "Add or Edit Bidding Interests/Proficiency & Capabilities - Per Client";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}

<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="../css/common.css">
<link rel="stylesheet" href="../css/appInnerPages.css">
<link rel="stylesheet" href="../css/index.css">
<link rel="stylesheet" href="../css/templatetool.css">
<script src="../js/jquery-1.9.1.min.js"></script>
<style>
.viewMain
{
	float:left;
	width:709px;
	height:auto;
	background:#fff;
	margin:0px 0 0px 0;
}
.viewMain table
{
	width:96%; 
	border-collapse:collapse;
	 
}
.viewMain label
{
	padding:0px 0 0 0; 
	width:auto;
}
</style>

<script type="text/javascript">

    function GetSections(TemplateId, Section) {
        $.ajax({
            type: 'Post',
            url: 'GetSections',
            data: 'TemplateId=' + TemplateId + '&SectionId=' + Section,
            success: function (data) {
                $('#Sectionslist').empty();

                for (var i = 0; i < data.length; i++) {
                    var datasec = data[i].Text;
                    var datasecId = data[i].Value;
                    var dataSel = data[i].Selected;

                    var newOption = $('<option value="' + datasecId + '" >' + datasec + '</option>');
                    if (dataSel == true)
                        newOption = $('<option value="' + datasecId + '" selected >' + datasec + '</option>');
                    $('#Sectionslist').append(newOption);
                }

            },
            error: function (req, status, error) {
                //console.trace();
                alert("Unable to get sections");
            }
        });
    }



    $(document).ready(function () {

        //=====Changes for New UI====
        $("#Edit").click(function () {
            $("#SelectedTemplate").hide();
            $("#SelectAnotherTemplate").show();

        });
    });
    function selectInitialClient(clientId) {
        ClientChanged('#' + clientId);

    }

    function SectionChanged() {
        window.location = 'SubSectionView?SectionId=' + $("#Sectionslist").val();
    }

    function ClientChanged(client) {
        //alert($(client).attr("id"));
        //$(this).attr('checked', true);

        if ($(client).attr("id") == -1) {
            $("#SaveBtn").hide();
            return;
        }
        else {
            $("#SaveBtn").show();
        }
        $(this).prop("checked", true);
        $("#SelectedClient").text($(client).attr("clientName"));

        $.ajax({
            type: 'POST',
            url: 'GetBiddings',
            data: 'clientOrgId=' + $(client).prop("id") + '&templateId=@ViewBag.templateId' + '&SectionId=@ViewBag.SectionId',
            success: function (data) {
                $("#BiddingInterests").empty();
                $("#SelectedBiddings").empty();
                var Biddings = "";

                var oldHeader = "";
                for (var i = 0; i < data.length; i++) {
                    var datasec = data[i].Text;
                    var datasecId = data[i].id;
                    var status = data[i].status;
                    //alert(status);
                    var newOption = $("<tr style='height:30px;'>  <td valign='top'> <input type='checkbox' biddingName='" + datasec + "' id='id_" + datasecId + "'></input><td  valign='top'><label style='line-height:normal;padding-left:5px;' for='id_" + datasecId + "'>" + datasec + "</label></td>  </td>  </tr>"); /*srinivas 1/25/2014 */
                    if (status == "true") {
                        newOption = $("<tr style='height:30px;'>  <td valign='top'> <input type='checkbox' biddingName='" + datasec + "' checked id='id_" + datasecId + "'></input><td valign='top'><label style='line-height:normal;padding-left:5px;' for='id_" + datasecId + "'>" + datasec + "</label></td>  </td>  </tr>"); /*srinivas 1/25/2014 */

                        Biddings += datasec + ',';

                    }
                    var header = data[i].Header.trim();
                    if (header != "" && oldHeader != header) {
                        var headding = $('<tr> <td colspan=2><strong>' + header + '<strong></td></tr>');
                        $('#BiddingInterests').append(headding);
                        oldHeader = header;
                    }
                    $('#SelectedBiddings').text(Biddings.substring(0, Biddings.length - 1));
                    $('#BiddingInterests').append(newOption);
                }
            },
            error: function (req, status, error) {
                //console.trace();
                //alert(error);
            }
        });
    }
    function saveBiddings() {
        if (!confirm("These changes may change the order of SubSections/Questions \n Do you want to proceed?")) {
            return;
        }
        var clientId=getCheckedRadioId("Clients");
        var ids = "";
        var names = "";
        $('#BiddingInterests :input').each(function () {
            if ($(this).is(':checked')) {
                ids += $(this).prop("id") + ",";
                names += $(this).attr("biddingName") + ",";
            }
        });
        $(".spinnerOverlay").show();
        $('.importSubmitSpinner').show();
        $('#SelectedBiddings').text(names.substring(0, names.length - 1));
        $.ajax({
            type: 'POST',
            url: 'SaveBiddings',
            data: 'clientId=' + clientId + '&TemplateId=@ViewBag.templateId' + '&clientTemplateData=' + ids + '&SectionId=@ViewBag.SectionId',
            success: function (data) {
                //alert(data);            
                $(".spinnerOverlay").hide();
                $('.importSubmitSpinner').hide();
            },
            error: function (req, status, error) {
                //console.trace();
                $(".spinnerOverlay").hide();
                $('.importSubmitSpinner').hide();
                alert(error);
            }
        });
    }
    function getCheckedRadioId(name) {
        
        var elements = document.getElementsByName(name);

        for (var i = 0, len = elements.length; i < len; ++i)
            if (elements[i].checked) return elements[i].id;
    }
</script>
</head>

<body>
 @{var clientId = "-1";}
    			<div class="contentSub">
                    @if (@ViewBag.SectionType == 5)
                    {
                        <p style="color: red;">@Resources.Change_SubSecAndQues</p>
                    }
                <div>
                        <table   width="100%">
                            <tr>
                                <td>
                                	<div class="page-subtitle">
                                        @if (@ViewBag.SectionType == 6 || @ViewBag.SectionType == 8)
                                        {
                                		    <h2>@Resources.Common_heading_BiddingInterests</h2>
                                        }
                                        else//5-Proficiency
                                        {
                                            <h2>@Resources.Common_heading_ProficiencyCapabilities</h2>
                                        }
                                    </div>
                                </td>
                                <td>
                                    @if (@ViewBag.SectionType == 5)
                                    {
                                        <button type="button" onclick="window.location = 'SubSectionView?SectionId=@ViewBag.SectionId'">
                                            @Resources.Change_Order
                                        </button>
                                    }
                                </td>
                                <td> 
                                    <button type="button" value="Add New" 
                                    
                                            @(((FVGen3.Domain.Entities.TemplateSections)ViewBag.Section).Templates.DefaultTemplate)

                                            @{var location = "";}
                                            @if(((FVGen3.Domain.Entities.TemplateSections)ViewBag.Section).Templates.DefaultTemplate==true)
                                            {
                                                location="window.location='TemplatesAndSections'";
                                            }
                                            else
                                            {
                                                location = "window.location='CreateCustomTemplate'";
                                            }
                                    
                                            onclick="@location"> @Resources.Common_questionnairebutton_text</button>
                                </td>
                                
                            </tr>
                        </table>
                	</div>
                   <div id="SelectedTemplate">
                    	<table  width="100%" border="0">
                        	<tr >
                            	<td valign="top" width="85;"><h3>@Resources.Common_label_template</h3></td>
                                <td valign="top" width="195"><h4 style="color:#0000ee;">@ViewBag.TemplateName</h4></td>
                                <td valign="top" width="70;"><h3>@Resources.Common_label_Section</h3></td>
                                <td valign="top" width="330"><h4 style="color:#0000ee;">@ViewBag.SectionName</h4></td>
                                <td valign="top" align="left" width="40" id="Edit" style="float:left;"><img src="~/images/edit.png" /></td>
                            </tr>
                        </table>
                        </div>
                        <div id="SelectAnotherTemplate" style="display:none;">
                        <table>
                            <tr  >
                            	<td valign="top" width="85;"><h3>@Resources.Common_label_template</h3></td>
                                <td valign="top" width="195"><h4>@ViewBag.TemplateName</h4></td>
                                <td valign="top" width="70;"><h3>@Resources.Common_label_Section</h3></td>
                                <td valign="top" width="330"><select id="Sectionslist"></select></td>
                                <td valign="top" align="left" width="40" id="Edit" style="float:left;"><img onclick="SectionChanged()" src="~/images/done.png"/></td>
                            </tr>
                        </table>
                    </div>
                <div class="viewMain">
                	<table width="100%">
                        
                    	<tr>
                            
                        	<td width="50%">
                            <h3>@Resources.AddOrEditPreSubSections_label_clients</h3>
                            	<div class="scrollCheckbox">
                                	<table>

                                    @*For None of the clients*@
                                     @if (((FVGen3.Domain.Entities.TemplateSections)ViewBag.Section).Templates.DefaultTemplate == true)
                                     {
                                        <tr  id="BG" style="  height:30px; ">
                                            <td width="10"><input  type="radio" id="-1" name="Clients" onclick="ClientChanged(this)" checked/></td>
											<td>
                                            	<label for="-1">@Resources.No_Clients</label> @*srinivas 1/25/2014 *@
                                           	</td>
                                        </tr>
                                     }
                                    @{var i = 0;}
                                    @foreach (var Client in (List<FVGen3.Domain.Entities.Organizations>)ViewBag.Clients)
                                    {
                                    	<tr  id="BG" style="  height:30px; ">
	                                        <td width="10"><input  type="radio" id="@Client.OrganizationID" name="Clients" clientName="@Client.Name" 
	                                                               @if (((FVGen3.Domain.Entities.TemplateSections)ViewBag.Section).Templates.DefaultTemplate == false)
	                                                               {
	                                                                   if (i == 0)
	                                                                   {
	                                                                       @:checked ="checked" 
                                                
	                                                                   }
	                                                               }       
	                                                               onclick="ClientChanged(this)" /></td>
											<td>
                                                <label for="@Client.OrganizationID" >@Client.Name</label> @*srinivas 1/25/2014 *@
                                            </td>
                                        </tr>
                                         if (((FVGen3.Domain.Entities.TemplateSections)ViewBag.Section).Templates.DefaultTemplate == false)
                                         {
                                             if (i == 0)
                                             {
                                                 clientId = Client.OrganizationID + "";

                                             }
                                         }
                                            i++;
                                    }
                                    </table>
                                </div>
                        	</td>
                        
                        	<td width="50%">
                             @if (@ViewBag.SectionType == 6 || @ViewBag.SectionType == 8)
                             {
                                <h3>@Resources.AddOrEditPreSubSections_subheading1</h3>
                             }
                             else
                             {
                                 <h3>@Resources.AddOrEditPreSubSections_subheading2</h3>
                             }
                            	<div class="scrollCheckbox" style="margin:0;min-height:200px;">
                                	<table id="BiddingInterests">
                                    	
                                        
                                   </table>
                            	</div>
                            
                            </td>
                        </tr>	
                    </table> 
                </div>

               
			</div>
		@*<div style="float:left; color:#e81f25; font-size:12px; font-style:italic; width:500px; padding-left:20px;">
                <b>Note:</b> Selected Bidding Interest/Proficiency Capabilitity cannot be deleted as the data will be used in prequalification.
            </div>*@
        <button type="button" onclick="saveBiddings()" value="Save" id="SaveBtn"> @Resources.Common_Save</button>


        <div class="page-subtitle">
                    	<h2 id="SelectedClient">@Resources.AddOrEditPreSubSections_heading3</h2>
                    </div>
                    <table  width="709">
                    	<tr>  <td width="33%" valign="top" id="SelectedBiddings">
                        </td></tr>
                    </table>
         <script type="text/javascript">
             selectInitialClient('@clientId');
                </script>
                    
</body>
<script>
    GetSections('@ViewBag.TemplateId', '@ViewBag.SectionId');
    </script>
</html>

<div class="contentSub">
    <div id="progressbar" class="spinnerOverlay">
    </div>
    <div id="searchBlock_id">

    </div>
</div>

<div>
    <img src="~/images/spinner.gif" width="28" height="28" class="importSubmitSpinner" alt="Spinner" />
</div>