﻿@{
    ViewBag.Title = "Add Or Edit Section";
    
}
@using FVGen3.WebUI.Utilities
@using Resources
@model FVGen3.Domain.Entities.LocalSectionsModel
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=8"/>
<meta http-equiv="X-UA-Compatible" content="IE=9"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width"/>


@Styles.Render("~/css/appPopUp.css")
@Styles.Render("~/css/appInnerPages.css")
@Scripts.Render("~/js/common.js")
@Scripts.Render("~/Scripts/jquery-1.9.1.min.js")
@Styles.Render("~/Content/Site.css")    
 
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<script src="../js/jquery-1.9.1.min.js"></script>
<script src="../js/common.js"></script>
<script>

    $(document).ready(function () {

        if ($("#VendorPermission").is(":checked")) {
            $("#ClientVisibility").hide();
        }

        $("#VendorPermission").click(function () {
            if ($("#VendorPermission").is(":checked")) {
                $("#ClientVisibility").hide();
            }
        });
        $("#RestrictedPermission").click(function () {
            if ($("#RestrictedPermission").is(":checked")) {
                $("#ClientVisibility").hide();
            }
        });

        $("#ClientPermission").click(function () {
            if ($("#ClientPermission").is(":checked")) {
                $("#ClientVisibility").show();
            }
        });
        $("#AllPermission").click(function () {
            if ($("#AllPermission").is(":checked")) {
                $("#ClientVisibility").show();
            }
        });

        // Added code to call setPermissions() function on 08/07/2013 by Kiran Talluri
        setPermissions('@ViewBag.ViewPermissions');
        // Ends<<< 
    });
   
</script>
<style>
.field-validation-error 
{
    float:left;
    color: #e81f25;
    line-height:2.0em;
    margin-left:5px;
    font-size:14px;
    margin-bottom:0px;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ccc;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
   
}

.validation-summary-valid {
    display: none;
}
</style>

<script type="text/javascript">
    //Rajesh on 10/21/2013
    $(document).ready(function () {
        $("#PredefiniedSubSections,#IsPrequalificationDocument").click(function () {
            $("#OtherSectionTypesDiv").show();

            $('#OtherSectionTypes').empty();
            $("#PermissionsRow").show(); $("#defaultClientSign").hide();
            if ($(this).prop('id') == "PredefiniedSubSections") {

                var newOption = $('<option value=5>Proficiency & Capability</option>');
                $('#OtherSectionTypes').append(newOption);
                newOption = $('<option value=6>Bidding Interests</option>');
                $('#OtherSectionTypes').append(newOption);
                newOption = $('<option value=8>Clayco Bidding Interests</option>');
                $('#OtherSectionTypes').append(newOption);

            }
            else {
                var newOption = $('<option value=4>Supporting Documents</option>');
                $('#OtherSectionTypes').append(newOption);
                newOption = $('<option value=7>BU Sites</option>');
                $('#OtherSectionTypes').append(newOption);
            }

        });
        $("#isProfile,#isPrequalificationRequirement,#ERIClientSelection,#IsGeneral,#IsPayment,#IsLast,#IsExceptionProbationRequest,#IsClientDataEntry,#Agreement").click(function () {
            $("#OtherSectionTypesDiv").hide();
            $("#PermissionsRow").show();
            $("#defaultClientSign").hide();
        });
        $("#isProfile,#isPrequalificationRequirement,#ERIClientSelection,#IsGeneral,#IsPayment,#IsLast,#IsExceptionProbationRequest,#PredefiniedSubSections,#IsPrequalificationDocument,#Agreement").click(function () {
            $("#ClientIds").hide();
            $("#PermissionsRow").show();
            $("#defaultClientSign").hide();
        });
        $("#Agreement").click(function () {
            $("#PermissionsRow").hide();
            $("#AllPermission").prop("checked", true);
            $("#defaultClientSign").show();
        });

        $("#IsClientDataEntry").click(function () {
            $("#ClientIds").show();


        });

    });
    //<<<Ends
</script>
</head>

<body>
@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.Templateid)
    @Html.HiddenFor(x => x.TemplateSectionID)
                                      
<div class="popUpContainer">
	<div class="popUpContent">
    	<div class="popUpSubContent">
            <div class="page-title">
	            <h2>@Resources.Section_Rules_Add</h2>
            </div>
            @if (@Model.TemplateSectionID == -1)
            {
            //Srinivas 1/21/2014
            <div class="rowPopUpRadioCheckbox">            	
                <table>
                	<tr>
                    	<td valign="top"><label>@Resources.Section_Type</label></td>
                        <td>
                        	<table>
                            
                                @if (((FVGen3.Domain.Entities.Templates)ViewBag.Template).TemplateSections != null && (((FVGen3.Domain.Entities.Templates)ViewBag.Template).TemplateSections.FirstOrDefault(rec => rec.TemplateSectionType == 0) == null))
                                {
                            	<tr>
                                	<td valign="top">@Html.RadioButtonFor(x => x.SectionType, "0", new { id = "isProfile" }) </td>
                                    <td><label for="isProfile" style="width:auto;">@Resources.Intro_Page</label></td>
                                </tr>
                                    
                                    <tr>
                                	<td valign="top">@Html.RadioButtonFor(x => x.SectionType, "1", new { id = "IsGeneral" })</td>
                                    <td><label for="IsGeneral" style="width:auto;">@Resources.Sec_And_Subsec</label></td>
                                </tr>
                                }
                                else
                                {
                                <tr>
                                	<td valign="top">@Html.RadioButtonFor(x => x.SectionType, "1", new { id = "IsGeneral",@checked="checked" })</td>
                                    <td><label for="IsGeneral" style="width:auto;">@Resources.Sec_And_Subsec</label></td>
                                </tr>
                                }
                                @*Rajesh on 1/22/2014*@
                                 @if (((FVGen3.Domain.Entities.Templates)ViewBag.Template).TemplateSections != null && (((FVGen3.Domain.Entities.Templates)ViewBag.Template).TemplateSections.FirstOrDefault(rec => rec.TemplateSectionType == 31) == null))
                                 {
                            	<tr>
                                	<td valign="top">@Html.RadioButtonFor(x => x.SectionType, "31", new { id = "isPrequalificationRequirement" }) </td>
                                    <td><label for="isPrequalificationRequirement" style="width:auto;">@Resources.Pq_Requirement</label></td>
                                </tr>
                                 }@*Ends*@
                                @if (((FVGen3.Domain.Entities.Templates)ViewBag.Template).TemplateSections != null && ((FVGen3.Domain.Entities.Templates)ViewBag.Template).TemplateSections.FirstOrDefault(rec => rec.TemplateSectionType == 3) == null)
                                {
                                <tr>
                                	<td valign="top">@Html.RadioButtonFor(x => x.SectionType, "3", new { id = "IsPayment" })</td>
                                    <td><label for="IsPayment" style="width:auto;">@Resources.Sec_For_Payment</label></td>
                                </tr>
                                }
                                  @if (((FVGen3.Domain.Entities.Templates)ViewBag.Template).TemplateSections != null &&((FVGen3.Domain.Entities.Templates)ViewBag.Template).IsERI==true&&(((FVGen3.Domain.Entities.Templates)ViewBag.Template).TemplateSections.FirstOrDefault(rec => rec.TemplateSectionType == 40) == null))
                                 {
                            	<tr>
                                	<td valign="top">@Html.RadioButtonFor(x => x.SectionType, "40", new
                                             {
                                             id = "ERIClientSelection"
                                             }) </td>
                                    <td><label for="ERIClientSelection" style="width:auto;">Client Selection</label></td>
                                </tr>
                                 }
                                <tr>
                                	<td valign="top">@Html.RadioButtonFor(x => x.SectionType, "4", new { id = "IsPrequalificationDocument" })</td>
                                    <td><label for="IsPrequalificationDocument" style="width:auto;">@Resources.Sec_For_Upload_DocsAbt_Bu_Sites</label></td>
                                </tr>
                                <tr>
                                	<td valign="top">@Html.RadioButtonFor(x => x.SectionType, "5", new { id = "PredefiniedSubSections" })</td>
                                    <td><label for="PredefiniedSubSections" style="width:auto;">@Resources.PreDefine_SubSecAndQues</label></td>
                                </tr>
                                @*Rajesh on 1/4/2014*@
                                @if (true)
                                {
                                <tr>
                                	<td valign="top">@Html.RadioButtonFor(x => x.SectionType, "33", new { id = "Agreement" })</td>
                                    <td><label for="Agreement" style="width:auto;">@Resources.Agreement_For</label></td>
                                </tr>
                                }
                                @*Ends<<*@
                                @if (((FVGen3.Domain.Entities.Templates)ViewBag.Template).TemplateSections != null && ((FVGen3.Domain.Entities.Templates)ViewBag.Template).TemplateSections.FirstOrDefault(rec => rec.TemplateSectionType == 99) == null)
                                {
                                <tr>
                                	<td valign="top">@Html.RadioButtonFor(x => x.SectionType, "99", new { id = "IsLast" })</td>
                                    <td><label for="IsLast"   style="width:auto;">@Resources.Finalize_and_Submit</label></td>
                                </tr>
                                }
                                @*Rajesh on 1/11/2014*@
                                 @if (((FVGen3.Domain.Entities.Templates)ViewBag.Template).TemplateSections != null && ((FVGen3.Domain.Entities.Templates)ViewBag.Template).TemplateSections.FirstOrDefault(rec => rec.TemplateSectionType == 34) == null)
                                {
                                <tr>
                                	<td valign="top">@Html.RadioButtonFor(x => x.SectionType, "34", new { id = "IsExceptionProbationRequest" })</td>
                                    <td><label for="IsExceptionProbationRequest" style="width:auto;">@Resources.Non_Qualified_Contractor_Request</label></td>
                                </tr>
                                }@*Ends<<*@
                                <tr>
                                    <td valign="top">@Html.RadioButtonFor(x => x.SectionType, "36", new { id = "LocationApproval" })</td>
                                    <td><label for="LocationApproval" style="width:auto;">@Resources.Loc_Approval</label></td>
                                </tr>
                                
                                @*Rajesh on 1/20/2014*@
                                @if (false)
                                {
                                    if (((FVGen3.Domain.Entities.Templates)ViewBag.Template).DefaultTemplate == false)
                                    {
                                        if (((FVGen3.Domain.Entities.Templates)ViewBag.Template).TemplateSections != null && ((FVGen3.Domain.Entities.Templates)ViewBag.Template).TemplateSections.FirstOrDefault(rec => rec.TemplateSectionType == 35) == null)
                                        {
                                        <tr>
                                	        <td valign="top">@Html.RadioButtonFor(x => x.SectionType, "35", new { id = "IsClientDataEntry",onclick="clientDataEntryClick()" })</td>
                                            <td><label for="IsClientDataEntry" style="width:auto;">@Resources.Client_Data_Entry</label></td>
                                        </tr>
                                        }
                                    }
                                }@*Ends<<*@
                            </table>
                        
                        </td>
                    </tr>
                </table>	
            </div>
            }
            else
            {
                @Html.HiddenFor(x => x.SectionType)                                      
            }
            @if (!ViewBag.Template.DefaultTemplate)
            {
            <div class="rowPopUp" id="ClientIds" 
            
            @if(Model.SectionType!=35)
            {
                @:style="display:none;"
            }
            >

            <label>Clients: </label>
                <div class="scrollCheckbox">
                    <table border="0">
                    @if (@Model.Clients != null)
                    {
                        for (int i = 0; i < @Model.Clients.Count; i++)
                        {
                            @Html.HiddenFor(rec => rec.Clients[i].Text)
                            @Html.HiddenFor(rec => rec.Clients[i].Value)
                            <tr id="BG" style="  height:30px; ">
                                <td width="10">@Html.CheckBoxFor(rec => rec.Clients[i].Selected, new { @id = @Model.Clients[i].Value })</td>
						        <td>
                                    <label for="@Model.Clients[i].Value">@Model.Clients[i].Text</label>
                                </td>
                            </tr>
                        }
                    }
                    </table>
                </div>
            </div>

            }
            <div class="rowPopUp" id="OtherSectionTypesDiv"  
            @if(Model.SectionType!=4 && Model.SectionType!=5)
            {
                @:style="display:none;"
            }>
            @* sumanth on 27-08-2015 for issue FVOS-70*@
            @* to show the section is selected for in dropdown *@
            	<table>
                	<tr>
                    	<td><label>Section is for:</label></td>

                        @if (Model.SectionType == 4)
                        {
                             <td>@Html.DropDownListFor(x => x.OtherSectionTypes, new[] { new SelectListItem() { Text = "Supporting Documents", Value = "4" } })</td>
                        }
                        else if(Model.SectionType == 7)
                        {
                        <td>@Html.DropDownListFor(x => x.OtherSectionTypes, new[] {new SelectListItem() { Text = "BU Sites", Value = "7" } })</td>
                        }
                        else if (Model.SectionType == 5)
                        {
                            <td>@Html.DropDownListFor(x => x.OtherSectionTypes, new[] { new SelectListItem() { Text = "Proficiency & Capability", Value = "5" } })</td>
                        }
                        else
                        { 
                           <td>@Html.DropDownListFor(x => x.OtherSectionTypes, new[] {new SelectListItem() { Text = "Bidding Interests", Value = "6" } })</td>
                        }
                        
                    </tr>
                </table>
            </div>
 			<div class="rowPopUp">
            	<table>
                	<tr>
                    	<td><label class="enableStarPopUp">@Resources.Companies_SecName</label></td>
                        <td>@Html.TextBoxFor(x => x.SectionName)
                            @Html.ValidationMessageFor(x => x.SectionName)
                        </td>
                    </tr>
                    
                </table>
            </div>
            
	    <div class="rowPopUpRadioCheckbox" id="ClientVisibility">
	        <table border="0">
	            <tr>
	                <td ><label>@Resources.Visible_Client</label></td>
	                <td valign="top">
	                    <table border="0">
	                        <tr>
	                            <td valign="top">@Html.CheckBoxFor(x => x.VisibleToClient, new { @style = "margin-top:4px;" })</td>
	                            <td><label style="padding:0; margin:0;width:auto;" for="VisibleToClient">@Resources.Vendor_Questionnaire_Process</label></td>
	                        </tr>    
	                    </table>
	                </td>
	                @*<td valign="top">@Html.CheckBoxFor(x => x.VisibleToClient)</td>
                        <td><label style="width:auto;">(When vendor's questionnaire process has begun but not completed)</label></td>*@
	            </tr>
	        </table>
	    </div>
            
            <div class="rowPopUpRadioCheckbox">
                <table border="0">
                    <tr>
                        <td><label>@Resources.Hide_PQ</label></td>
                        <td valign="top">
                            <table border="0">
                                <tr>
                                    <td valign="top">@Html.CheckBoxFor(x => x.HideFromPrequalification, new { @style = "margin-top:4px;" })</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
            
	    @if (@Model.TemplateSectionID != -1)
            {
                int sectionType = (int)(((FVGen3.Domain.Entities.Templates)ViewBag.Template).TemplateSections.FirstOrDefault(rec => rec.TemplateSectionID == @Model.TemplateSectionID)).TemplateSectionType;
                if (sectionType != 0 && sectionType != 99 )
                {
                    <div class="rowPopUpRadioCheckbox">
            	        <table>
                	        <tr>
                    	        <td><label>@Resources.Sec_Hide</label></td>
                                <td valign="top">@Html.CheckBoxFor(x => x.Visible)</td>
                                <td><label style="width:auto;"></label></td>
                            </tr>
                        </table>
                    </div>
                }
            }
            @*Rajesh on 2/11/2014*@
            @if (((FVGen3.Domain.Entities.Templates)ViewBag.Template).DefaultTemplate == false)
            {
                var ShowPermission = true;

                if (@Model.TemplateSectionID != -1)
                {
                    int sectionType = (int)(((FVGen3.Domain.Entities.Templates)ViewBag.Template).TemplateSections.FirstOrDefault(rec => rec.TemplateSectionID == @Model.TemplateSectionID)).TemplateSectionType;
                    if (sectionType == 33)
                    {
                        ShowPermission = false;
                    }
                }
                if (ShowPermission)
                {
                    <div class="rowPopUpRadioCheckbox"  id="PermissionsRow"
                    
                    @if (@Model.SectionType == 33)//Rajesh on 3/26/2014
                    {
                        @:style="display:none;"
                    }
                    >
            	        @*Srinivas on 2/25/2014*@
                        <table border="0">
                	        <tr>
                    	        <td rowspan="5"><label>@Resources.Sec_Permission</label></td>
                                <td valign="top">@Html.RadioButtonFor(x => x.Permission, "3", new { id = "AllPermission" })</td>
                                <td valign="top"><label for="AllPermission">@Resources.All_Users_Access</label></td>
                            </tr>
                            <tr>                    	
                                <td valign="top">@Html.RadioButtonFor(x => x.Permission, "2", new { id = "ClientPermission" })</td>
                                <td valign="top"><label for="ClientPermission">@Resources.Client_Data_Only</label></td>
                            </tr>
                            <tr>
                                <td valign="top">@Html.RadioButtonFor(x => x.Permission, "4", new {id = "RestrictedPermission"})</td>
                                <td valign="top"><label for="RestrictedPermission">@Resources.Restricted_Sec</label></td>
                            </tr>
                            <tr>
                                <td valign="top">@Html.RadioButtonFor(x => x.Permission, LocalConstants.SectionPermissionType.RESTRICTED_ACCESS_2, new { id = "RestrictedPermission2" })</td>
                                <td valign="top"><label for="RestrictedPermission2">@Resources.Restricted_Sec2</label></td>
                            </tr>
                            @*Kiran on 4/22/2014*@
                            <tr>
                                <td valign="top">@Html.RadioButtonFor(x => x.Permission, "1", new { id = "VendorPermission" })</td>
                                <td valign="top"><label for="VendorPermission">@Resources.Invisible_To_Client</label></td>
                            </tr>
                            @*Ends<<<*@
                            @*Ends<<<*@
                    @*<tr>  // Commented by Suresh on 2/13/2014 (not required for now)
                    	<td><label style="width:210px;"></label></td>
                        <td>@Html.RadioButtonFor(x => x.Permission, "1", new { id = "VendorPermission" })</td>
                        <td><label for="VendorPermission">Admin,Vendor</label></td>
                    </tr>*@
                        </table>
                    </div>
                }
                else
                {
                    @Html.HiddenFor(x => x.Permission)
                }
            }

            
            <div class="rowPopUp" id="defaultClientSign"
                 @if (@Model.TemplateSectionID != -1 || @Model.SectionType != 33)
                 { @: style="display: none"
                 }
                 >
                <table>
                    <tr><td colspan="2" style="color:red;">@Resources.Agreement_Sign</td></tr>
                    <tr>
                        <td><label class="">@Resources.Client_Sign</label></td>
                        <td>
                            @Html.TextBoxFor(x => x.Signed)
                            @Html.ValidationMessageFor(x => x.Signed)
                        </td>
                    </tr>
                    <tr>
                        <td><label class="">@Resources.Client_Title</label></td>
                        <td>
                            @Html.TextBoxFor(x => x.Title)
                            @Html.ValidationMessageFor(x => x.Title)
                        </td>
                    </tr>
                </table>
            </div>
     

	    @*Ends<<<*@
          </div>
          @*Ends<<<*@
            <div class="popUpSubContent">
            	<div class="pageFooterContent"> 
                	<div class="pageFooterButtons">
                    	 
                     <table>
                        <tr>
                            <td><button type="submit" btnType="Update" class="PageFooter_Button">@Resources.Common_Save</button></td>
                            <td btnType="Update">@Resources.Common_label_or</td>
                            <td><div class="pageFooterCancelButton"><a href="#!" onclick="window.close()">@Resources.Common_Cancel</a></div></td>
                        </tr>	
                    </table> 
                    </div>
                </div>
            </div>
    </div>
</div>
}
</body>
</html>

