﻿@{
    ViewBag.Title = "Add Or Edit Question Column Details";
    Layout = null;
}
@using FVGen3.Domain.Entities;
@model FVGen3.Domain.Entities.LocalQuestionColumnDetails
@using Resources;
<!DOCTYPE HTML>
<html>
<head>

<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=8"/>
<meta http-equiv="X-UA-Compatible" content="IE=9"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width"/>


@Styles.Render("~/css/appPopUp.css")
@Styles.Render("~/css/appInnerPages.css")
@Scripts.Render("~/js/common.js")
@Scripts.Render("~/Scripts/jquery-1.9.1.min.js")
@Scripts.Render("~/Scripts/jquery.js")
@Styles.Render("~/Content/Site.css")    
@Scripts.Render("~/Scripts/jquery.hint.js")
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<script type="text/javascript">
    
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;

        if (charCode==40 || charCode == 41 ||charCode ==43 ||charCode==45||charCode==47||charCode==42||charCode==81)
            return true;
        if (charCode != 46 && charCode > 31
            && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
    
    $(document).ready(function () {
        // 
        setPermissions('@ViewBag.ViewPermissions');
       // var Color = $('#HighlightedColor').val();
       //if($('#HighlightedColor').val()!= "0")
       // {
       //    $(".singleLabel").show();
       //}
       //else {
       //    $(".singleLabel").hide();
       //}
       // $('.HintTextTextBox').keyup(function () {
       //     var questionValue = $(this).val();
       //     if (questionValue != "") {
       //         $("#AnswerRow").show();
       //         var duplicateVal = false;
       //         var htmlStr = "<table><tr>";
       //         var aray = questionValue.split("|");
       //         for (var i = 0; i < aray.length; i++) {
       //             if (aray.indexOf(aray[i]) != aray.lastIndexOf(aray[i])) {
       //                 duplicateVal = true;

       //             }
       //             else {
       //                 htmlStr = htmlStr + "<td width='1%' valign='top'> <input type = 'radio' name = 'QuestionAnswer' id = 'Answer" + i + "' value = '" + aray[i] + "' required /> </td>";
       //                 htmlStr = htmlStr + "<td width='24%' valign='top'> <label for = 'Answer" + i + "'>" + aray[i] + "</label> </td>";
       //             }
       //         }
       //         if (duplicateVal) {
       //             alert("Duplicate options are not allowed.");
       //         }
       //         else {
       //             duplicateVal = false;
       //         }
       //         htmlStr = htmlStr + "</tr></table>";

       //         $("#RadioRow").html(htmlStr);
       //     }
       //     else {
       //         $("#AnswerRow").hide();
       //     }

       // });





       // $('.HintTextTextBox').change(function () {
       //     var questionValue = $(this).val();
       //     if (questionValue != "") {
       //         $("#AnswerRow").show();

       //         var htmlStr = "<table><tr>";
       //         var aray = questionValue.split("|");
       //         for (var i = 0; i < aray.length; i++) {
       //             htmlStr = htmlStr + "<td width='1%' valign='top'> <input type = 'radio' name = 'QuestionAnswer' id = 'Answer" + i + "' value = '" + aray[i] + "' required /> </td>";
       //             htmlStr = htmlStr + "<td width='24%' valign='top'> <label for = 'Answer" + i + "'>" + aray[i] + "</label> </td>";
       //         }
       //         htmlStr = htmlStr + "</tr></table>";

       //         $("#RadioRow").html(htmlStr);
       //     }
       //     else {
       //         $("#AnswerRow").hide();
       //     }

       // });

        // find all the input elements with title attributes
        //$('.HintTextTextBox').hint();

        // Ends<<< 
       
       
          
    });
    //function SelectedAnswers() {
    //    var Color = $('#HighlightedColor').val();
    //    if (Color != "0") {
    //        $(".singleLabel").show();
    //    }
    //    else { $(".singleLabel").hide(); }
    //}
    function controlsChanged(controls) {
        
        var selectedControl = $(controls).val();
        
        if (selectedControl == undefined)//Rajesh on 3/1/2014
            return; //Rajesh on 3/1/2014
        //alert($(control).closest(".rowPopUp").find(".valueRow").text());
        //if (selectedControl == 7)
        //{
            //$("#HasColor").show();
        //}
        //else { $("#HasColor").hide(); }
        if (selectedControl == 7 || $(controls).val() == 8 || $(controls).val() == 9 || $(controls).val() == 10 || $(controls).val() == 12) {
            $(controls).closest(".rowPopUp").find(".valueRow").show();
        }
        else
            $(controls).closest(".rowPopUp").find(".valueRow").hide();
        //Rajesh on 3/1/2014
        if (selectedControl == 7 || $(controls).val() == 8 || $(controls).val() == 9) {
            if ('@ViewBag.Question.NumberOfColumns' == 1) {
                $("#HasDependentRow").show();
                if ($(controls).val() != 8) {
                    $("#HasColor").show();
                } else $("#HasColor").hide();
            }
        }
        else {
            if ('@ViewBag.Question.NumberOfColumns' == 1) {

                $("#HasDependentRow").hide();
                $("#HasColor").hide();
                $("#HasDependent").prop("checked", false);
            }
        }
        //Ends<<<<

        if (selectedControl == 7 || $(controls).val() == 8) {
            $(controls).closest(".rowPopUp").find(".DisplayTypeRow").show();
        }
        else
            $(controls).closest(".rowPopUp").find(".DisplayTypeRow").hide();
        if (selectedControl == 9) {
            $(controls).closest(".rowPopUp").find(".HasTableReferenceRow").show();
        }
        else {
            $(controls).closest(".rowPopUp").find(".HasTableReferenceRow").hide();
            $(controls).closest(".rowPopUp").find(".HasTableReferenceTable").hide();
        }

        if (selectedControl == 3) {
            $(controls).closest(".rowPopUp").find(".HasFormulaRow").show();
        }
        else {
            $(controls).closest(".rowPopUp").find(".HasFormulaRow").hide();
            $(controls).closest(".rowPopUp").find(".HasFormulaRow").find("input[type='checkbox']").prop("checked", false); //Rajesh on 12/31/2013
            $(controls).closest(".rowPopUp").find(".HasFormulaTable").hide();
        }
        if (selectedControl == 12) {
            debugger;
            $(controls).closest(".rowPopUp").find(".ButtonTypeRow").show();
        }
        else
            $(controls).closest(".rowPopUp").find(".ButtonTypeRow").hide();
        

    }
    function setControlValue(val, id) {
        $(id).val(val);
    }  
</script>
<script>
   
       


    function HasFormulaChange(obj) {
        if ($(obj).is(":checked")) {
            $(obj).closest(".rowPopUp").find(".HasFormulaTable").show();
        }
        else
            $(obj).closest(".rowPopUp").find(".HasFormulaTable").hide();
    }
    function HasTableReferenceChange(obj) {
        //alert($(obj).closest(".rowPopUp").find(".HasTableReferenceTable").html());
        if ($(obj).is(":checked")) {
            $(obj).closest(".rowPopUp").find(".HasTableReferenceTable").show();
        }
        else
            $(obj).closest(".rowPopUp").find(".HasTableReferenceTable").hide();
    }
    $(document).ready(function () // for column 1 and for column 2
    {
        $("#HasDependent,#HasDependent_1").click(function () {
            if ($(this).is(':checked')) {
                $("#HasDependency,#HasDependency_1").show();
                $("#HasDependencyScroll,#HasDependencyScroll_1").show();
            }
            else {
                $("#HasDependency,#HasDependency_1").hide();
                $("#HasDependencyScroll,#HasDependencyScroll_1").hide();
            }
        });

        $("#HasTableReference,#HasTableReference_1").click(function () {
            if ($(this).is(':checked')) {
                $("#HasTableReferenceTable,#HasTableReferenceTable_1").show();
            }
            else {
                $("#HasTableReferenceTable,#HasTableReferenceTable_1").hide();
            }
        });

        $("#IsRepeat").click(function () {
            if ($(this).is(':checked')) {
                $("#Columns_1").slideUp("slow");
                $("#Columns_2").slideUp("slow");
                $("#Columns_3").slideUp("slow");
                $("#Columns_4").slideUp("slow");
                $("#Columns_5").slideUp("slow");
            }
            else {
                $("#Columns_1").slideDown("slow");
                $("#Columns_2").slideDown("slow");
                $("#Columns_3").slideDown("slow");
                $("#Columns_4").slideDown("slow");
                $("#Columns_5").slideDown("slow");
                
            }
        });
    });

    function VerifyFormula(obj, currentItem) {

        var formula = $("textarea[name='" + obj + "']").val();

        var SplitVals = formula.replace(/\+/g, " ").replace(/-/g, " ").replace(/\*/g, " ").replace(/\//g, " ").replace(/\(/g, " ").replace(/\)/g, " ");
        QuestionIds = SplitVals.split(" ");

        for (var i = 0; i < QuestionIds.length; i++) {//These are questioncolumn ids
            if (QuestionIds[i].indexOf("Q") != -1) {
                formula = formula.replace(QuestionIds[i], "10");
            }
        }

        try {
            $(currentItem).closest("tr").find("td").html(eval(formula));

        } catch (Error) {
            $(currentItem).closest("tr").find("td").html("<span style='color:#e81f25;'>Error in formula</span>");
        }
    }


</script>


<script>
    function ReferenceTypeChange() {
        if ($("#ReferenceType").val() === "VendorDetails") {
            //$("#GroupNum").val("");
            $("#GroupRow").show();
        } else {
            $("#GroupNum").val("");
            $("#GroupRow").hide();
        }
    }
</script>

<style>
    .validation-summary-errors
    {
        font-weight: normal;
        color: #e81f25;
        margin:0;
        padding:0;
    }
</style>
@*<style type="text/css" media="screen">
    body {
    font-family: Verdana, sans-serif;
    font-size: 1em;
    }
    input {
    font-family: Verdana, sans-serif;
    font-size: 0.9em;
    padding: 5px;
    border: 2px solid #666;
    }			
    input.blur {
    color: #999;
    }
</style>*@

</head>

<body>
@using (@Html.BeginForm())
{
    
    @Html.HiddenFor(rec => rec.QuestionId);
	<div class="popUpContainer">
    
		<div class="popUpContent">
			<div class="popUpSubContent">
                <div class="errorMessage">@Html.ValidationSummary()</div>
				<div class="page-title">
					<h2>@Resources.AddOrEditQuestionColumnDetails_heading</h2>
				</div>
                <div class="rowPopUp">
                    <table style="width:99%;">
                        <tr>
                            <td width="2%" valign="top">
                                Q.         
                            </td>
                            <td width="98%" valign="top">
                                @ViewBag.Question.QuestionText        
                            </td>
                        </tr>
                    </table>
                    
                </div>
                
                <div class="rowPopUp">
                	<table  width="709">
                    	<tr>
                        	<td width="20%">
                            	<table>
                                	<tr><td>@Html.CheckBoxFor(rec => rec.IsMandatory)</td><td><label for="IsMandatory" style="padding-top:5px;width:auto;">@Resources.AddOrEditQuestionColumnDetails_label_Mandatory</label></td></tr>
                               </table>
                            </td>
                            <td width="20%">
                            	<table>
                                	<tr><td>@Html.CheckBoxFor(rec => rec.IsBold)</td><td><label for="IsBold" style="padding-top:5px;width:auto;">@Resources.AddOrEditQuestionColumnDetails_label_Bold</label></td></tr>
                               </table>
                            </td>
                            @*<td width="20%">
                            	<table>
                                	<tr><td>@Html.CheckBoxFor(rec => rec.ResponseRequired)</td><td><label for="ResponseRequired" style="padding-top:5px;width:auto;">Response Required</label></td></tr>
                               </table>
                            </td>*@

	                        <td width="20%">
	                            <table>
	                                <tr><td>@Html.CheckBoxFor(rec => rec.Visible)</td><td><label for="Visible" style="padding-top: 5px; width: auto;">@Resources.AddOrEditQuestionColumnDetails_label_HideQuestion</label></td></tr>
	                            </table>
	                        </td>
                            <td width="20%">
                                <table><tr><td>@Html.CheckBoxFor(rec => rec.HasVendorDetails)</td><td><label for="HasVendorDetails" style="padding-top: 5px; width: auto;">@Resources.IsVendorQuestionDetails</label></td></tr></table>
                            </td>
	                    </tr>
	                    <tr>
	                        <td width="20%" id="HasDependentRow"

	                            @if (ViewBag.Question.NumberOfColumns > 1)
	                            {
	                                @:style="display: none;"
	                            }>@*Rajesh on 3/1/2014*@
	                            <table>
                                    <tr>
                                        <td>
                                            @*Rajesh on 12/31/2013*@
                                            @*User cannot change column details bcz it contains user inputs(We can remove it but temporarily we disabling, why bcz if user unselect this then dependents will removed )*@
                                            @if (@Model.ColumnDetails.Count() == 0) //If user contains 0 columns
                                            {
                                                @Html.HiddenFor(rec => rec.HasDependent)
                                                <input type="checkbox" disabled
                                                       @if (@Model.HasDependent) { @: checked="checked"
                                                                      	                                               } />
}
                                            else if (@ViewBag.Question.QuestionColumnDetails == null || !(((Questions)@ViewBag.Question).QuestionColumnDetails.Where(rec => rec.PrequalificationUserInputs != null && rec.PrequalificationUserInputs.Count() > 0).Count() > 0))
                                            {
                                                @Html.CheckBoxFor(rec => rec.HasDependent)
                                            }
                                            else
                                            {
                                                @Html.HiddenFor(rec => rec.HasDependent)
                                                <input type="checkbox" disabled
                                                       @if (@Model.HasDependent) { @: checked="checked"
                                                                      	                                               } />    }
                                            @*Ends<<<*@
                                        <td><label for="HasDependent" style="padding-top: 5px; width: auto;">@Resources.AddOrEditQuestionColumnDetails_label_HasDependent</label></td>
                                      
                                    
                                   </tr>
	                            </table>
	                        </td>
                            <td id="HasColor">
                                @if (@Model.ColumnDetails.Count() == 0) //If user contains 0 columns
                                {
                                    @Html.HiddenFor(rec => rec.IsColor)
                                    <input type="checkbox" disabled
                                           @if (@Model.IsColor) { 
                                               @: checked="checked"
                                        } />}
                                else
                                {
                                    @Html.CheckBoxFor(rec => rec.IsColor, new { @style = "float:left;margin-Top:9px;margin-right:7px;" })
                                }



                    <label for="IsColor" style="padding-top: 5px; width: auto;">@Resources.Has_High</label></td>
	                    </tr>
	                    <tr id="ReferTypeRow" 
                            @if (ViewBag.Question.NumberOfColumns > 1) //it must contains only 1 row
                            { 
                                @: style="display: none;"
                            }>

	                        <td width="20%">
	                            <table>
	                                <tr>
	                                    <td> Type:</td>
	                                    <td>
	                                        @Html.DropDownListFor(rec=>rec.ReferenceType,new List<SelectListItem>()
	                                        {
	                                           new SelectListItem(){Text ="Select",Value =""},
                                               new SelectListItem(){Text = "Vendor Details",Value = "VendorDetails"},
                                               new SelectListItem(){Text = "Vendor Id/Contractor Type",Value = "ClientVendorId"},
	                                        }, new { onchange = "ReferenceTypeChange()" })
	                                        
	                                    </td>
	                                </tr>
	                            </table>
	                        </td>
	                        <td width="20%">
	                            <table id="GroupRow">
	                                <tr>
	                                    <td>Group Num:</td>
	                                    <td>

	                                        @Html.DropDownListFor(rec => rec.GroupNum, new List<SelectListItem>()
	                                        {
	                                            new SelectListItem() {Text = "Select", Value = ""},
	                                            new SelectListItem() {Text = "1"},
	                                            new SelectListItem() {Text = "2"},
	                                            new SelectListItem() {Text = "3"},
	                                            new SelectListItem() {Text = "4"},
	                                            new SelectListItem() {Text = "5"}
	                                        })
	                                    </td>
	                                </tr>
	                            </table>
	                        </td>
	                        <td></td>
                        </tr>

                    </table>
                </div>
                <div class="rowPopUp">
                
					<h4>@Resources.AddOrEditQuestionColumnDetails_subheading</h4>
				
                    <ul>
                        <li>@Resources.AddOrEditQuestionColumnDetails_list_radio</li>
                        <li>@Resources.AddOrEditQuestionColumnDetails_list_checkbox</li>
                        <li>@Resources.AddOrEditQuestionColumnDetails_list_dropdown</li>
                        <li>@Resources.AddOrEditQuestionColumnDetails_list_multiselect</li>
                    </ul>
                </div>
                @if (@ViewBag.Question.QuestionColumnDetails == null || !(((Questions)@ViewBag.Question).QuestionColumnDetails.Where(rec => rec.PrequalificationUserInputs != null && rec.PrequalificationUserInputs.Count() > 0).Count() > 0))
                {

                    for (int i = 0; i < @Model.ColumnDetails.Count(); i++)
                    {
                        <div class="rowPopUp" id="Columns_@i"
                    
                        @if (@Model.IsRepeat  && i != 0)
                        {
                            @:style="display:none;"
                        }
                        >
                	    <div class="page-subtitle">
						    <h2>@Resources.AddOrEditQuestionColumnDetails_Column @(@i + 1)</h2>
					    </div>
                    	<table  width="100%" border="0">
                            <tr>
                                <td width="70%">
                                    <table>
                                        <tr>
                                            <td><label style="padding:5px 3px 0 1px;width:120px;">@Resources.AddOrEditQuestionColumnDetails_label_InputControl</label></td>
                                            <td>@Html.DropDownListFor(rec => @Model.ColumnDetails[i].ControlType, (List<SelectListItem>)@ViewBag.QuestionControlTypes, new { @onchange = "controlsChanged(this)" })</td>
                                        </tr>
                                    </table>
                                </td>
                                <td width="30%">
                                    <table class="valueRow" style="display: none;">
                                        <tr>
                                            <td><label class="enableStarPopUp" style="padding: 5px 3px 0 1px; width: 80px;">@Resources.AddOrEditQuestionColumnDetails_label_Value</label></td>
                                            <td>@Html.TextBoxFor(rec => @Model.ColumnDetails[i].Value, new { @class = "HintTextTextBox", @title = "Enter Value " })</td>
                                        </tr>

                                       
                                    </table>

                                    @*<table class="valueRow" style="display:none;">
                <tr>
                    <td><label class="enableStarPopUp" style="padding:5px 3px 0 1px;width:80px;">@Resources.AddOrEditQuestionColumnDetails_label_Value</label></td>
                    <td>@Html.TextBoxFor(rec => @Model.ColumnDetails[i].Value, new { @class = "HintTextTextBox", @title = "Enter Value " })</td>
                </tr>
            </table>*@
                                </td>
                            </tr>
                         

	                        <tr class="DisplayTypeRow">
	                            <td width="50%">
	                                <table>
	                                    <tr><td><label>@Resources.AddOrEditQuestionColumnDetails_label_Display</label></td><td>@Html.DropDownListFor(rec => @Model.ColumnDetails[i].DisplayType, new[] { new SelectListItem() { Text = "Horizontal", Value = "0" }, new SelectListItem() { Text = "Vertical", Value = "1" } })</td></tr>
	                                </table>
	                            </td>
                            
	                        </tr>
                            <tr>
                                @*<div id="AnswerRow"style="display:none" class="rowPopUp SelectedRow">

                                    <table border="0" class="singleLabel">*@
                                        @*<tr>
                        <td><label class="enableStarPopUp">Choose Answer:</label></td>
                    </tr>*@
                                        @*<div class="singleLabel">
                                            <label class="enableStarPopUp">@Resources.Select_Ans</label>

                                        </div>
                                        <tr id="RadioRow">
                                            @{int j = 0;}
                                            @if (Model.ColumnDetails[i].Value != null && Model.ColumnDetails[i].Value != "")
                                            {
                                                foreach (var radioTitle in Model.ColumnDetails[i].Value.Split('|'))
                                                {
                                                    <td width='1%' valign='top'>
                                                        @Html.RadioButtonFor(model => model.QuestionAnswer, radioTitle, new { id = ++j })
                                                    </td>
                                                    <td width='24%' valign='top' align='left'> <label for="@j"> @radioTitle </label> </td>
                                                                <script type="text/javascript">
                                                                    if ('@Model.QuestionAnswer' == '@radioTitle')
                                                                        $("#@j").prop("checked", "checked");
                                                                </script>
                                                }
                                            }
                                        </tr>
                                    </table>
                                    <div class="alertStar"> @Html.ValidationMessageFor(model => model.QuestionAnswer) </div>
                                </div>*@
                            </tr>
	                        <tr>
	                            <td>
	                                <table>
                                        <tr class="ButtonTypeRow">
                                            <td>
                                                @Html.RadioButtonFor(rec => @Model.ColumnDetails[i].ButtonTypeReferenceValue, 1)
                                                @*<input type="radio" value="1" checked/>*@
                                            </td>
                                            <td><label>Sub-Section Interim Save</label></td>
                                        </tr>
                                        <tr class="ButtonTypeRow">
                                            <td>
                                                @Html.RadioButtonFor(rec => @Model.ColumnDetails[i].ButtonTypeReferenceValue, 2)
                                                @*<input type="radio" value="1" checked/>*@
                                            </td>
                                            <td><label>Financial Analytics</label></td>
                                        </tr>
	                                </table>
	                            </td>
	                        </tr>
                        </table>
                        <table border="0" class="HasTableReferenceRow"
                    
                        @if (@Model.ColumnDetails[i].ControlType != "9")
                        {
                            @:style="display:none;"
                        }
                    
                        >
                    	    <tr>
                        	    <td><label for="HasTableReference">@Resources.AddOrEditQuestionColumnDetails_label_hastablereference</label></td>
                                <td>@Html.CheckBoxFor(rec => @Model.ColumnDetails[i].HasTableReference, new { @onchange = "HasTableReferenceChange(this)" })</td>
                            </tr>
                        </table>
                        <table border="0" class="HasTableReferenceTable" 
                    
                        @if (!@Model.ColumnDetails[i].HasTableReference)
                        {
                            @:style="display:none;"
                        }
                    
                        >
                    	    <tr>
                        	    <td ><label>@Resources.AddOrEditQuestionColumnDetails_label_tablename</label></td>
                                <td>@Html.DropDownListFor(rec => @Model.ColumnDetails[i].RefTableName, new[] 
                               { new SelectListItem() { Text = "Bidding Interests", Value = "BiddingInterests",Selected=(Model.ColumnDetails[i].RefTableName=="BiddingInterests")},
                                    new SelectListItem() { Text = "Clayco Bidding Interests", Value = "ClaycoBiddingInterests",Selected=(Model.ColumnDetails[i].RefTableName=="ClaycoBiddingInterests")},
                                    new SelectListItem() { Text = "Client Contract Types", Value = "ClientContractTypes", Selected=(Model.ColumnDetails[i].RefTableName=="ClientContractTypes")},
                                    new SelectListItem() { Text = "Canadian Provinces", Value = "CanadianProvinces",Selected=(Model.ColumnDetails[i].RefTableName=="CanadianProvinces")},
                               new SelectListItem() { Text = "United States of America", Value = "UnitedStates", Selected=(Model.ColumnDetails[i].RefTableName=="UnitedStates")}
                               })</td>
                            
                            </tr>
                        </table>

                        <table border="0" class="HasFormulaRow"
                    
                        @if (@Model.ColumnDetails[i].ControlType != "3")
                        {
                            @:style="display:none;"
                        }
                    
                        >
                    	    <tr>
                        	    <td><label>@Resources.AddOrEditQuestionColumnDetails_label_hasformulaference</label></td>
                                <td>@Html.CheckBoxFor(rec => @Model.ColumnDetails[i].HasFormula, new { @onchange = "HasFormulaChange(this)" })</td>
                            </tr>
                        </table>
                        <table border="0" class="HasFormulaTable" width="100%"
                    
                        @if (!@Model.ColumnDetails[i].HasFormula)
                        {
                            @:style="display:none;"
                        }
                    
                        >
                        <tr>
                        
                        <td>

                        <table border="0">
                            <tr>
                                <td rowspan="3" width="70%" valign="top">
                                    <div class="scrollCheckbox" style="height: 350px;">
                                        <table>
                                            <tr>
                                                <th width="50%" align="left" valign="top">Question</th>
                                                @for (int i1 = 0; i1 < @Model.ColumnDetails[i].MaxQuestionColumns; i1++)
                                                {
                                                    <th width="@(50 / Model.ColumnDetails[i].MaxQuestionColumns)%" valign="top" >Code</th>
                                                }
                                            </tr>
                                            @{int ii = 0;}
                                            @Html.HiddenFor(rec => rec.ColumnDetails[i].MaxQuestionColumns)
                                            @Html.HiddenFor(rec => rec.ColumnDetails[i].QuestionValues) @*Rajesh on 12/24/2013*@
                                            @foreach (var question in @Model.ColumnDetails[i].QuestionValues)
                                            {
                                                @Html.HiddenFor(rec => rec.ColumnDetails[i].QuestionValues[ii])
                                                var questionColumnIds = @question.Split('|');
                    	                        <tr style="border-bottom:1px solid #ddd;">
                        	                        <td width="50%" align="left" valign="top">@questionColumnIds[0]</td>
                                    
                                                   @for (int i1 = 0; i1 < @Model.ColumnDetails[i].MaxQuestionColumns; i1++)
                                                   {
                                                       if (questionColumnIds.Length > i1 + 1)
                                                       {
                                                            <td width="@(50 / Model.ColumnDetails[i].MaxQuestionColumns)%" valign="top" align="center">@questionColumnIds[i1 + 1]</td>
                                                       }
                                                       else
                                                       {
                                                            <td width="@(50 / Model.ColumnDetails[i].MaxQuestionColumns)%" valign="top" align="center" >-</td>
                                                       }
                                                   }
                                                </tr>
                                            }
                             

                        </table>

                                    </div>
                                </td>
                                <td width="30%" align="right" valign="top" style="padding-left: 20px;">
                                    @Html.TextAreaFor(rec => rec.ColumnDetails[i].FormulaValue, new { onkeypress = "return isNumberKey(event)", @style = "width:95%;height:160px;" })
                                </td>
                            </tr>
                           <tr>
                               <td style="padding-left: 20px;">
                                   @Resources.Verify_Button
                               </td>
                           </tr>
                            <tr>
                                <td width="30%" align="right" valign="top">
                
                                    <table width="100%"  border="0" cellpadding="8">
                        
                                        <tr>
                                            <th width="25%" align="center" class="codeVerify" style="padding-left: 20px;" onclick="VerifyFormula('ColumnDetails[@i].FormulaValue',this)">@Resources.Verify</th>
                                            <td width="75%">
                               
                            
                                            </td>
                                        </tr>
                                    </table>
                
                                </td>
                            </tr>
                    </table>
                </td>
            </tr>
        </table>

            @if (i == 0 && @Model.ColumnDetails.Count() > 1)
            {
            <table border="0">
                <tr>
                    <td><label for="IsRepeat">@Resources.AddOrEditQuestionColumnDetails_label_repeat</label></td>
                    <td>@Html.CheckBoxFor(rec => rec.IsRepeat)</td>
                    <td><label for="IsRepeat">@Resources.Formula_NtRepeated</label></td>
                </tr>
            </table>
            }
        </div>
                                                var inputCtrl = "#ColumnDetails_" + i + "__ControlType";
                                                var displayType = "#ColumnDetails_" + i + "__DisplayType";
                                        
            <script>
                setControlValue('@Model.ColumnDetails[i].ControlType','@inputCtrl')
                setControlValue('@Model.ColumnDetails[i].DisplayType','@displayType');
            </script>
                    }
                }
			</div>
		</div>
	    <button type="submit">@Resources.Common_Submit</button>
    </div>
    
    <script>
        controlsChanged("#ColumnDetails_0__ControlType");
        controlsChanged("#ColumnDetails_1__ControlType");
        controlsChanged("#ColumnDetails_2__ControlType");
        controlsChanged("#ColumnDetails_3__ControlType");
        controlsChanged("#ColumnDetails_4__ControlType");
        ReferenceTypeChange();
    </script>
}
</body>
</html>
