﻿<!--
Page Created Date:  10/19/2013
Created By: Rajesh Pendela
Purpose: 
Version: 1.0
****************************************************
-->

@using Resources
@{
    ViewBag.Title = "Add Or Edit Template";
}
@model FVGen3.Domain.Entities.LocalQuestionsModel
<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<link rel="stylesheet" href="../css/common.css">
<link rel="stylesheet" href="../css/appInnerPages.css">
<link rel="stylesheet" href="../css/index.css">
<script src="../js/jquery-1.9.1.min.js"></script>
<script src="../js/common.js"></script>

</head>

<body>

@using (Html.BeginForm())
{
    @Html.HiddenFor(rec => rec.QuestionID);
@Html.HiddenFor(rec => rec.SubSectionId);
    <div class="container">
	    <div class="content">
    	
        	    <div class="contentSub">
				    <div class="page-title">
    				    <h2>@Resources.AddOrEditQuestion_heading</h2>
                    </div>
                    <div class="rowIST">
                	    <label>@Resources.Common_label_question</label>
                        @Html.TextBoxFor(rec => rec.QuestionText)
                    </div>
                    
                    <div class="rowIST">
                	    <label>@Resources.AddOrEditQuestion_label_NoOfColumns</label>
                        @Html.DropDownListFor(rec => rec.NumberOfColumns, new[] { 
                       new SelectListItem() { Text = "1", Value = "1" }, 
                       new SelectListItem() { Text = "2", Value = "2" },
                   new SelectListItem() { Text = "3", Value="3" },
                   new SelectListItem() { Text = "4", Value="4" },
                   new SelectListItem() { Text = "5", Value="5" },
                   new SelectListItem() { Text = "6", Value="6" },
                   new SelectListItem() { Text = "7", Value="7" },
                   new SelectListItem() { Text = "8", Value="8" }
                   })
                    </div>
                    <div class="rowIST">
                	    <table   style="float:right; margin-right:5px;">
                    	    <tr>
                        	    <td>
                            	    <table>
                                	    <tr>
                                    	    <td>@Html.CheckBoxFor(rec => rec.IsBold)</td>
                                            <td><label for="IsBold"  style="padding:0px; width:110px;">@Resources.AddOrEditQuestion_label_isBold</label></td>
                                        </tr>
                                    </table>
                                </td>
                            
                            
                                <td>
                            	    <table>
                                	    <tr>
                                    	    <td>@Html.CheckBoxFor(rec => rec.IsMandatory)</td>
                                            <td><label for="IsMandatory"  style="padding:0px; width:110px;">@Resources.AddOrEditQuestion_label_Text</label></td>
                                        </tr>
                                    </table>
                                </td>
                            
                            
                                <td>
                            	    <table>
                                	    <tr>
                                    	    <td>@Html.CheckBoxFor(rec => rec.HasDependantQuestions)</td>
                                            <td><label for="HasDependantQuestions"  style="padding:0px; width:110px;">@Resources.AddOrEditQuestion_label_Text</label></td>
                                        </tr>
                                    </table>
                                </td>
                            
                            </tr>
                        
                        </table> 
        
                    </div>
                    <div><button type="submit" style="float:right;">@Resources.Common_button_text</button></div>
                </div>
               
    
	    </div>
		
    </div>
}
</body>
</html>
