﻿@{
    ViewBag.Title = "Add Or Edit Sub Section";
    
}
@model FVGen3.Domain.Entities.LocalSubSection
    @using Resources;
<!DOCTYPE HTML>
<html>
<head>

<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=8"/>
<meta http-equiv="X-UA-Compatible" content="IE=9"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width"/>


<title>@Resources.Add_SubSec</title>
@Styles.Render("~/css/appPopUp.css")
@Styles.Render("~/css/appInnerPages.css")
@Scripts.Render("~/js/common.js")
@Scripts.Render("~/Scripts/jquery-1.9.1.min.js")
@Styles.Render("~/Content/Site.css")    
 
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>    
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script>

    $(document).ready(function () {
        // Added code to call setPermissions() function on 08/07/2013 by Kiran Talluri
        setPermissions('@ViewBag.ViewPermissions');
        // Ends<<< 
    });
   
</script>
<script type="text/javascript">


    function SectionTypeChanged(selected, condition) {//Rajesh on 1/7/2014
        $("#dynamicData").hide();
        $("#predefinedData").hide();
        $("#reportingData").hide();
        if (condition == "PrequalComments") { } //Rajesh on 1/7/2014
        else if (selected == "1")//Rajesh on 1/7/2014
            $("#dynamicData").show();
        else if(selected=="2")
            $("#predefinedData").show();
        else if (selected == "3")
            $("#reportingData").show();
    }

    $(document).ready(function () {

        $("#id1").click(function ()//show Standard Data
        {

            //Rajesh on 3/28/2014
            $("#SubSectionNameRow").show();
            $("#SubSectionNoteRow").show();
            $("#NoOfColumns").removeAttr("disabled");
            //Ends<<<
            $("#dynamicData").hide();
            $("#predefinedData").hide();
            $("#reportingData").hide();
            $("#SubSectionNote").removeAttr("readonly"); //Rajesh on 1/6/2014
            $("#SubSectionNote").text(""); //Rajesh on 1/6/2014
        });

        $("#id2").click(function ()//show Dynamid Data
        {
            //Rajesh on 3/28/2014
            $("#SubSectionNameRow").show();
            $("#SubSectionNoteRow").show();
            $("#NoOfColumns").removeAttr("disabled");
            //Ends<<<

            $("#dynamicData").show();
            $("#predefinedData").hide();
            $("#reportingData").hide();
            $("#SubSectionNote").removeAttr("readonly"); //Rajesh on 1/6/2014
            $("#SubSectionNote").text(""); //Rajesh on 1/6/2014
        });

        $("#id3").click(function () //show Predefined Data
        {
            //Rajesh on 3/28/2014
            $("#SubSectionNameRow").show();
            $("#SubSectionNoteRow").show();
            $("#NoOfColumns").removeAttr("disabled");
            //Ends<<<
            $("#predefinedData").show();
            $("#dynamicData").hide();
            $("#reportingData").hide();
            $("#SubSectionNote").removeAttr("readonly"); //Rajesh on 1/6/2014
            $("#SubSectionNote").text(""); //Rajesh on 1/6/2014
        });

        $("#id4").click(function () //show Reportind Data
        {
            //Rajesh on 3/28/2014
            $("#SubSectionNameRow").show();
            $("#SubSectionNoteRow").show();
            $("#NoOfColumns").removeAttr("disabled");
            //Ends<<<
            $("#reportingData").show();
            $("#dynamicData").hide();
            $("#predefinedData").hide();
            $("#SubSectionNote").removeAttr("readonly"); //Rajesh on 1/6/2014
            $("#SubSectionNote").text(""); //Rajesh on 1/6/2014
        });
        $("#id5").click(function () //show Reportind Data
        {
            //Rajesh on 3/28/2014
            $("#SubSectionNameRow").show();
            $("#SubSectionNoteRow").show();
            $("#NoOfColumns").removeAttr("disabled");
            //Ends<<<

            $("#SubSectionNote").text("[_ClientName] (the “Buyer”), and [_VendorName], (the “Seller”), in consideration for purchases by the Buyer, agree that the following terms shall apply to all sales contracts entered into between Buyer and Seller whether or not such terms are expressly set forth or referenced in any future purchase order by Buyer to Seller."); //Rajesh on 1/6/2014
            $("#SubSectionNote").attr("readonly", "readonly"); //Rajesh on 1/6/2014
        });

        // Rajesh on 1/11/2014
        $("#id6").click(function ()//For Comments
        {
            //Rajesh on 3/28/2014
            $("#SubSectionNameRow").show();
            $("#SubSectionNoteRow").show();
            $("#NoOfColumns").removeAttr("disabled");
            //Ends<<<
            $("#dynamicData").hide();
            $("#predefinedData").hide();
            $("#reportingData").hide();
            $("#SubSectionNote").removeAttr("readonly"); 
            $("#SubSectionNote").text("");
        });
        //Rajesh on 3/28/2014
        $("#id7").click(function ()//For Year wise stats
        {
            $("#SubSectionNameRow").hide();
            $("#SubSectionNoteRow").hide();
            $("#NoOfColumns").val("3");
            $("#NoOfColumns").attr("disabled", true);
            $("#SubSectionName").val("");
            $("#SubSectionNote").val("");

            $("#dynamicData").hide();
            $("#predefinedData").hide();
            $("#reportingData").hide();
            $("#SubSectionNote").removeAttr("readonly");
            $("#SubSectionNote").text("");
        });
        //Ends<<<
    });
</script>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(rec=>rec.SectionId)
         @Html.HiddenFor(rec => rec.SubSecId)
	    <div class="popUpContainer">
	<div class="popUpContent">
    	<div class="popUpSubContent">
            <div class="page-title">
	            <h2>@Resources.Add_Sub_Sec</h2>
            </div>
          
              
             
               <div class="rowPopUp"  id="SubSectionNameRow" 
               @if(@Model.SubSectionTypeCondition =="YearWiseStats")
                    {
                        @:style="display:none"
                    }
                    >
                	<table>
                    	<tr>
                        	<td><label>@Resources.Sub_Sec_Name</label></td>
                            <td>@Html.TextBoxFor(x => x.SubSectionName, new { @maxlength = "100" })</td>
                        </tr>
                        <tr>
                        	<td><label></label></td>
                            <td><label style="width:auto;color:#e81f25;padding:0;font-size:11px;letter-spacing:normal;text-align:justify;font-style:italic;">@Resources.No_Of_Columns</label></td>
                        </tr>
                    </table>
	           </div>
               <div class="rowPopUp"  id="SubSectionNoteRow"
               
               @if(@Model.SubSectionTypeCondition =="YearWiseStats")
                    {
                        @:style="display:none"
                    }>
                	<table>
                    	<tr>
                        	<td><label>@Resources.SubSec_Note</label></td>
                            <td>@Html.TextAreaFor(x => x.SubSectionNote, new { @maxlength = "1000" })</td>
                        </tr>
                    </table>
	           </div>
               <div class="rowPopUp">
                	<table>
                    	<tr>
                        	<td><label>@Resources.AddOrEditQuestion_label_NoOfColumns</label></td>
                            @if (@Model.SubSectionTypeCondition == "YearWiseStats")
                            {
                             <td>@Html.DropDownListFor(m => m.NoOfColumns, new[] { 
                               new SelectListItem() { Text = "1", Value = "1" },
                               new SelectListItem() { Text = "2", Value = "2" },
                               new SelectListItem() { Text = "3", Value = "3" },
                               new SelectListItem() { Text = "4", Value = "4" },
                               new SelectListItem() { Text = "5", Value = "5" }}, new { disabled = "disabled" })
                            </td>
                            }
                            else
                            {
                                <td>@Html.DropDownListFor(m => m.NoOfColumns, new[] { 
                               new SelectListItem() { Text = "1", Value = "1" },
                               new SelectListItem() { Text = "2", Value = "2" },
                               new SelectListItem() { Text = "3", Value = "3" },
                               new SelectListItem() { Text = "4", Value = "4" },
                               new SelectListItem() { Text = "5", Value = "5" }})
                            </td>
                            }
                        </tr>
                    </table>
	           </div>
               <div class="rowPopUp">
                	<table>
                    	<tr>
                        	<td><label>@Resources.It_Is_SubSubSec</label></td>
                            <td>@Html.CheckBoxFor(rec=>rec.isSubSubSection)
                            </td>
                        </tr>
                    </table>
	           </div>
               @if (ViewBag.isDefault == false)
               {
                 <div class="rowPopUp">
                	<table>
                    	<tr>
                        	<td><label>@Resources.Setup_Notification</label></td>
                            <td>@Html.CheckBoxFor(rec => rec.NotificationExist)
                            </td>
                        </tr>
                    </table>
	           </div>
               }
               else
               {
                   @Html.HiddenFor(rec => rec.NotificationExist)
               }
               @if (@Model.SubSecId == -1)
               {
                   //Rajesh on 1/21/2014
                   if (ViewBag.sectionType != 35)//Client Data Section
                   {
                    <div class="rowPopUp">
            	        <table>
                	<tr>
                    	<td valign="top"><label>@Resources.SubSec_Purpose</label></td>
                        <td>
                        	<table>
                            	<tr>
                                	<td valign="top">@Html.RadioButtonFor(x => x.SubSectionType, "0", new { @id = "id1" })</td>
                                    <td><label for="id1"   style="padding:0;width:auto;">@Resources.AddOrEditCustomTemplate_label_Standard</label></td>
                                </tr>
                                <tr>
                                    <td valign="top">@Html.RadioButtonFor(x => x.SubSectionType, "107", new { @id = "id8" })</td>
                                    <td><label for="id8" style="padding:0;width:auto;">@Resources.Eri_Selection</label></td>
                                </tr>
                                @*Rajesh on 3/28/2014*@
                                @if (((FVGen3.Domain.Entities.TemplateSections)ViewBag.Section).TemplateSubSections.FirstOrDefault(rec => rec.SubSectionTypeCondition == "YearWiseStats")==null)//Rajesh on 4/7/2014
                                 { 
                                    <tr>
                                        <td valign="top">@Html.RadioButtonFor(x => x.SubSectionType, "105", new { @id = "id7" })</td>
                                        <td><label for="id7"   style="padding:0;width:auto;">@Resources.Emr_Status</label></td>
                                    </tr>
                                }
                                @*Ends<<<*@
                               @* <tr>
                                	<td>@Html.RadioButtonFor(x => x.SubSectionType, "1", new { @id = "id2" })</td>
                                    <td><label for="id2"   style="padding:0;">Dynamic</label></td>
                                </tr>*@
                                @if (((FVGen3.Domain.Entities.TemplateSections)ViewBag.Section).TemplateSectionType==1)
                                {
                                    <tr>
                                	    <td valign="top">@Html.RadioButtonFor(x => x.SubSectionType, "2", new { @id = "id3" })</td>
                                        <td><label for="id3">@Resources.Choose_Vendor_Org_Data </label></td>
                                    </tr>
                                }
                                <tr>
                                	<td valign="top">@Html.RadioButtonFor(x => x.SubSectionType, "4", new { @id = "id4" })</td>
                                    <td><label for="id4">@Resources.Reporting_purpose</label></td>
                                </tr>
                                @*Rajesh on 1/7/2014*@
                                
                                
                                
                                <tr>
                                	<td valign="top">@Html.RadioButtonFor(x => x.SubSectionType, "103", new { @id = "id6" })</td>
                                    <td><label for="id6">@Resources.Two_Way_Communication</label></td>
                                </tr>
                                
                                
                                @*Rajesh on 1/6/2014*@
                                @if (ViewBag.sectionType == 33)
                                {
                                    <tr>
                                	    <td valign="top">@Html.RadioButtonFor(x => x.SubSectionType, "102", new { @id = "id5" })</td>
                                        <td><label for="id5">@Resources.Agreement_parties</label></td>
                                    </tr>
                                }
                                @*Ends<<<*@
                            </table>
                        </td>
                    </tr>
                </table>	
                    </div>
                   }
                   else
                   {
                       @Html.HiddenFor(rec => rec.SubSectionType)
                   }
                   //Ends<<
               }
                <div class="rowPopUp" id="dynamicData" style="display:none;">
                	<table>
                    	<tr>
                        	<td><label>@Resources.Use_OF_Current_Sec</label></td>
                            <td>@Html.RadioButtonFor(x => x.Dynamic_Condition, "SitePrequalification", new { @id = "SitePrequalification" })</td>
                            <td><label for="SitePrequalification">@Resources.Site_Pq</label></td>
                        </tr>
                        <tr>
                            
                        	<td colspan="2" align="right">@Html.RadioButtonFor(x => x.Dynamic_Condition, "SupportingDocument", new { @id = "SupportingDocument" })</td>
                            <td><label for="SupportingDocument">@Resources.Financial_Supporting_Documents</label></td>
                        </tr>
                    </table>
                </div>
                  @*<div class="rowPopUp" id="predefinedData" style="display:none;">
                	<table>
                    	<tr>
                        	<td><label>What Information you want to show</label></td>
                            <td> @Html.DropDownListFor(m => m.Predefined_Condition, new[] { new SelectListItem() })</td>
                        </tr>
                    </table>
	           </div>*@
               @if (@Model.SubSecId == -1)
               {
                 <div class="rowPopUp" id="reportingData" style="display:none;">
                	<table>
                    	<tr>
                        	<td><label>@Resources.Which_Data_uwant</label></td>
                            <td> @Html.DropDownListFor(m => m.Reporting_Condition, new[] {
                                new SelectListItem() { Text = "Bidding Interests Data", Value = LocalConstants.ReportTypes.BiddingReporting } ,
                                new SelectListItem() { Text = "Clayco Bidding Interests Data", Value =LocalConstants.ReportTypes.ClaycoBiddingReporting },
                                new SelectListItem() { Text = "Custom Sub Section Report", Value = LocalConstants.ReportTypes.SubSectionReport }
                            })</td>
                        </tr>
                    </table>
	           </div>
               }
               @if (@Model.SubSecId != -1)
               {
               <div class="rowPopUp">
                	<table>
                    	<tr>
                        	<td><label>@Resources.SubSec_Hide</label></td>
                            <td>@Html.CheckBoxFor(rec => rec.Visible)
                            </td>
                        </tr>
                    </table>
	           </div>
               }
               @*Rajesh on 2/11/2014*@
               @if (ViewBag.isDefault == false)
               {
                   if (((FVGen3.Domain.Entities.TemplateSections)ViewBag.Section).TemplateSectionsPermission.FirstOrDefault() != null && ((FVGen3.Domain.Entities.TemplateSections)ViewBag.Section).TemplateSectionsPermission.FirstOrDefault().VisibleTo == 3)
                   {
                       @Html.HiddenFor(rec => rec.PermissionType)
                   }
                   else
                   {
                       <div class="rowPopUp">
                	        <table>
                               
                    	        <tr>
                        	        <td><label>@Resources.Permission</label></td>@if (!ViewBag.IsERI)
                                    {
                                    <td>@Html.RadioButtonFor(rec => rec.PermissionType, "0", new { id = "AllUsers" })</td>
                                    <td><label for="AllUsers">@Resources.All_Users</label></td>}
                                </tr>
                                @*Kiran on 4/22/2014*@
                                @if(@Model.InVisibleToClientSection != 1) 
                                {
                                    <tr>
                        	            <td><label></label></td>
                                        <td>@Html.RadioButtonFor(rec => rec.PermissionType, "1", new { id = "LimitedUsers" })</td>
                                        <td><label for="LimitedUsers">@Resources.Lim_User</label></td>
                                    </tr>
                                }
                            </table>
	                   </div>
                   }
               }
               else
               {
                   @Html.HiddenFor(rec => rec.PermissionType)
               }
               @*Ends<<<*@

	</div>
    </div>
      <div class="popUpSubContent">
                    <div class="pageFooterContent"> 
                        <div class="pageFooterButtons">
                            <table>
                                <tr>
                                    <td><button type="submit" btnType="Insert" class="PageFooter_Button">@Resources.Common_Save</button></td>
                                    <td btnType="Insert">@Resources.Common_label_or</td>
                                    <td><div class="pageFooterCancelButton"><a href="#!" onclick="window.close();">@Resources.Common_Cancel</a></div></td>
                                </tr>	
                            </table> 
                        </div>
                    </div>        
                </div>  
</div>
        
    }
    <script>        SectionTypeChanged('@Model.SubSectionType', '@Model.SubSectionTypeCondition')</script>
</body>
</html>
