﻿<!--
 *****************************************************
Page Created Date:  10/24/2013
Created By: Kiran Talluri
Purpose:
Version: 1.0
****************************************************
-->

@using FVGen3.Domain.Entities;
@using Resources;
@model FVGen3.Domain.Entities.LocalAddQuestionInQuestionBank
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=8"/>
<meta http-equiv="X-UA-Compatible" content="IE=9"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width"/>


<title>@Resources.Add_Ques_In_Quesbank</title>

@Styles.Render("~/css/appPopUp.css")
@Styles.Render("~/css/appInnerPages.css")
@Scripts.Render("~/Scripts/jquery-1.9.1.min.js")      

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script> 

<script type="text/javascript">

        // Kiran on 11/23/2013
        $(document).ready(function () {
            setPermissions('@ViewBag.ViewPermissions');
        });

        function questionStatus(questionStatus, questionFor) {
            if (questionStatus == "True") {
                $("#QuestionStatus_Active").attr('checked', true);
            }
            else {
                $("#QuestionStatus_InActive").attr('checked', true);
            }
            // Kiran on 11/29/2013
            if (questionFor == 0) {
                $("#Prequalification").attr('checked', true);
            }
            else {
                $("#Quiz").attr('checked', true);
            }
            // Ends<<<
        }
        // Ends
                
    </script>


</head>
<body>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.isEdit)
    @Html.HiddenFor(model => model.QuestionBankId)

    <div class="popUpContainer">
        <div class="popUpContent">
            <div class="popUpSubContent"> 
                
                @if ((Boolean)@ViewBag.isQuestionExits)
                {
                    <div class="errorMessage">@Resources.Ques_Exists</div>
                }
                
                <div class="page-title">
                    <h2>@Resources.Add_question_inbank</h2>
                </div>

                @*Kiran on 11/29/2013*@
                <div class="rowGeneric" style="float:left;">
                        <table style="margin-left:10px;">
                            <tr>
                               <td width="200">
                                    <label>@Resources.AddQuestionInQuestionBank_label_QuestionFor</label>                                      
                                </td>
                                <td>
                                    <table>
                                        <tr>
                                            <td width="130">
                                                <input type="radio" name="QuestionFor" id="Prequalification", value="0" />
                                                <label for="Prequalification">@Resources.Common_Prequalification</label>
                                            </td>
                                            <td width="100">
                                                <input type="radio" name="QuestionFor", id="Quiz", value="1" />
                                                <label for="Quiz">@Resources.Common_Label_Training</label>
                                            </td>                                             
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>

                    @*Ends<<<*@
                <div class="rowPopUp">
                    <table>
                        <tr>
                            <td><label class="enableStarPopUp">@Resources.Common_label_question</label></td>
                            <td>
                                @Html.TextAreaFor(model => model.QuestionString, new {@maxlength = "450" })
                                <div class="alertStar">@Html.ValidationMessageFor(model => model.QuestionString)</div>
                            </td>
                        </tr>
                    </table>
                </div>

                @*Kiran on 11/23/2013*@
                <div class="rowGeneric">
                        <table>
                            <tr>
                               <td width="200">
                                    <label>@Resources.Common_label_Status</label>                                      
                                </td>
                                <td>
                                    <table>
                                        <tr>
                                            <td width="100">
                                                <input type="radio" name="QuestionStatus" id="QuestionStatus_Active", value="True" />
                                                <label for="QuestionStatus_Active">@Resources.Common_label_Active</label>
                                            </td>
                                            <td width="100">
                                                <input type="radio" name="QuestionStatus", id="QuestionStatus_InActive", value="false" />
                                                <label for="QuestionStatus_InActive">@Resources.Common_label_InActive</label>
                                            </td>                                             
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>

                    @*Ends<<<*@


                <div class="popUpSubContent">
                    <div class="pageFooterContent"> 
            	        <div class="pageFooterButtons">
                	        <table>
                    	        <tr>
                                @if (@Model.isEdit)
                                {
                                    <td><button type="submit" class="PageFooter_Button" btnType="Update">@Resources.Common_Save</button></td>
                                    <td btnType="Update">@Resources.Common_label_or</td>
                                }
                                else
                                {
                                    <td><button type="submit" class="PageFooter_Button" btnType="Insert">@Resources.Common_Save</button></td>
                                    <td btnType="Insert">@Resources.Common_label_or</td>
                                }
                                    <td><div class="pageFooterCancelButton"><a href="#" onclick="window.close();">@Resources.Common_Cancel</a></div></td>
                                </tr>	
                                </table> 
                            </div>
                    </div>  
                </div> 

            </div>
        </div>        
    </div>
    <script type="text/javascript">
        questionStatus('@Model.QuestionStatus', '@Model.QuestionFor'); // Kiran 11/29/2013
    </script>
}
</body>
</html>
