﻿@using FVGen3.WebUI.Constants
@{
    ViewBag.Title = "Template Sections List";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}

<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<link rel="stylesheet" href="../css/templatetool.css"/>

<!--<link rel="stylesheet" href="../css/jquery-ui.css" />-->
 <!--<script src="../js/jquery-ui.js"></script>-->
<script src="../js/jquery-1.9.1.min.js"></script>
<script src="../js/jquery-1.6.3.js"></script>


<script type="text/javascript" src="~/js/nicEdit.js"></script>


<script src="../js/jquery-1.10.3.js"></script>
<script src="../js/common.js"></script>
 <link rel="stylesheet" href="../css/prequalificationdynamic.css"/>
    <script src="~/Scripts/Application/TemplateTool/AgreementSubsection.js"></script>
<script>

	$(document).ready(function () {
	    // 
	    setPermissions('@ViewBag.ViewPermissions');
	    // Ends<<< 
	});
   
</script>
<script type="text/javascript">
  
    //Rajesh on 10/21/2013
    function DeleteSubSection(SubsecId) {
        var c = confirm("All Questions belonging to this Sub-section will be deleted, Do you want to proceed?");
        if (c)
            $.ajax({
                type: 'GET',
                url: 'DeleteSubSection',
                data: 'SubSectionID=' + SubsecId,
                success: function (data) {
                    //alert(data);
                    if (data == "OK")
                        window.location.reload(true);
                },
                error: function (req, status, result) {
                    alert("Unable to delete,Please contact administrator");
                }
            });
    }
    //<<<Ends

    function TemplatesChange(obj) {
        GetSections($(obj).val(),-1);
    }
    function SectionChanged() {
        window.location = 'SubSectionView?SectionId=' + $("#Sectionslist").val();
    }
    function GetSections(TemplateId, Section) {

        $.ajax({
            type: 'Post',
            url: 'GetSections',
            data: 'TemplateId=' + TemplateId + '&SectionId=' + Section,
            success: function (data) {
                $('#Sectionslist').empty();
                
                for (var i = 0; i < data.length; i++) {
                    var datasec = data[i].Text;
                    var datasecId = data[i].Value;
                    var dataSel = data[i].Selected;

                    var newOption = $('<option value="' + datasecId + '" >' + datasec + '</option>');
                    if (dataSel == true)
                        newOption = $('<option value="' + datasecId + '" selected >' + datasec + '</option>');
                    $('#Sectionslist').append(newOption);
                }

            },
            error: function (req, status, error) {
                //console.trace();
                alert("Unable to get sections");
            }
        });
    }

    //Rajesh on 10/18/2013
    function htmlEncode(value) {
        //create a in-memory div, set it's inner text(which jQuery automatically encodes)
        //then grab the encoded contents back out.  The div never exists on the page.
        return $('<div/>').text(value).html();
    }
    function htmlDecode(value) {
        return $('<div/>').html(value).text();
    }
    //<<Ends
    var HeaderId = -1;
    var FooterId = -1;
    
//    function Setheader(headerId, Title, Content) {
//        HeaderId = headerId;
//        $("#headerTitle").html(htmlDecode(Title)); //Rajesh on 10/18/2013
//        $("#HeaderContent").html(htmlDecode(Content)); //Rajesh on 10/18/2013


//        $("#RichTextAreaDiv").hide();
//       
//        
//        $("#welcomeTextWizard").hide();       
//        $("#HeaderWithData").show();
//    }
//    function SetFooter(footerId, Title, Content) {
//        FooterId = footerId;
//        $("#FooterTitle").html(htmlDecode(Title)); //Rajesh on 10/18/2013
//        $("#FooterContent").html(htmlDecode(Content)); //Rajesh on 10/18/2013

//        $("#FooterRichTextAreaDiv").hide();
//        $("#FooterwelcomeTextWizard").hide();
//        $("#FooterWithData").show();
//    }
    $(function () {
       
        $(".sortable").sortable({
            cancel: ".hiddenList"
        });
        $(".sortable").disableSelection();
    });
    function stopSorting(id, currentButton) {
        //alert($(currentButton).attr("flag_Arrange"));
        if ($(currentButton).attr("flag_Arrange") == "false") {
            $(currentButton).attr("flag_Arrange", "true");
            $(currentButton).text("Done");
        }
        else {
            $(currentButton).attr("flag_Arrange", "false");
            $(currentButton).text("Re-Arrange");
        }


        $("#" + id + " li").each(function () {


            $(this).removeClass("defaultList");
            $(this).removeClass("hiddenList");
            if ($(currentButton).attr("flag_Arrange") == "false") {
                $(this).addClass("hiddenList");
                $(this).find(".reArrangeImg").hide(); //Rajesh on 10/21/2013
            }
            else {
                $(this).addClass("defaultList");
                $(this).find(".reArrangeImg").show();
            }

        });
        if ($(currentButton).attr("flag_Arrange") == "false") {
            var ids = "";
            $("#" + id + " li").each(function () {
                ids += $(this).prop("id") + "|";
            });
            //alert('templateSectionIds=' + ids + '&TemplateId=' + id.substring(3));
            $.ajax({
                type: 'GET',
                url: 'ChangeTemplateSubSectionsOrder',
                data: 'templateSubSectionIds=' + ids + '&TemplateSecId=' + id.substring(3),
                success: function (data) {
                    //alert(data);

                },
                error: function () {
                    alert("Unable to process request, please try again");
                }
            });
        }
    }
    var area2;
//    function FooterTextClick() {
//        $("#FooterRichTextAreaDiv").show();
//        $("#FooterTitleDiv").show();
//        
//        $("#FooterWithData").hide();
//        $("#FooterwelcomeTextWizard").hide();


//        $("#FTitle").val($("#FooterTitle").html()); //Rajesh on 10/19/2013
//        //$("#FooterRichTextArea").html($("#FooterContent").html()); //Rajesh on 10/19/2013
//        $('#FooterRichTextAreaDiv').find('.nicEdit-main').html($("#FooterContent").html());

//        
//        //        if ($("#HeaderText").text().trim() == "Click Here")
//        //            $("#RichTextArea").val("");
//        //        else
//        //            $("#RichTextArea").val($("#HeaderText").text());

//    }

    function deleteHeaderOrFooter(id) {
       

        var c = confirm("Do you want to delete the content?");
        if (c)
            $.ajax({
                type: 'GET',
                url: 'DeleteHeaderOrFooter',
                data: 'headerFooterId=' + id,
                success: function (data) {
                    //alert(data);
                    if (data == "Ok")
                        window.location.reload(true);
                },
                error: function (req, status, result) {
                    alert("Unable to delete,Please contact administrator");
                }
            });

        }
        function editFooter(id, item) {

            //alert($(item).closest('tr').find('.positionContent').html());
            FooterId = id;

            $('#FooterRichTextAreaDiv').find('.nicEdit-main').html($("#horfContent_" + id).html());
            $("#FTitle").val($(item).closest('tr').find('.PositionTitle').html())
        }
    function FooterDoneClick() {
        var footerData = $('#FooterRichTextAreaDiv').find('.nicEdit-main').html();
        //alert(data);

        if (footerData.trim() == "") {
            alert("Please add footer content");
            return;
        }
        if (footerData.trim() == "") {
            alert("Please add footer content");
            return;
        }

        //if (footerData.length > 4000) {
        //    alert("Content cannot be more than 3500 characters");
        //    return;
        //}

        //window.location = "AddHeaderOrFooter?" + 'headerFooterId=' + HeaderId + '&SectionId=' + '@ViewBag.SectionId' + "&type=0" + "&title=" + escape($("#HTitle").val()) + "&content=" + escape($("#RichTextArea").val());

        

       
        if (footerData.trim() != "") {

            //alert(FooterId);
            $.ajax({
                type: 'POST',
                url: 'AddHeaderOrFooter',
                data: 'headerFooterId=' + FooterId + '&SectionId=' + '@ViewBag.SectionId' + "&type=1" + "&title=" + encodeURIComponent(htmlEncode($("#FTitle").val())) + "&content=" + escape(htmlEncode(footerData)), //Rajesh on 10/19/2013
                success: function (data) {

                    $("#AllFootersList").html(data);
                    $('#FooterRichTextAreaDiv').find('.nicEdit-main').html("");
                    FooterId = -1;
                    $("#FTitle").val("");
                },
                error: function () {
                    alert("Unable to save footer text, try again.");
                }
            });
        }

    }
//    function HeaderTextClick() {

//        $("#RichTextAreaDiv").show();
//        $("#HeaderTitleDiv").show();
//        
//        $("#HeaderWithData").hide();
//        $("#welcomeTextWizard").hide();

//        $("#HTitle").val($("#headerTitle").html());         //Rajesh on 10/19/2013
//        //$("#RichTextArea").html($("#HeaderContent").html()); //Rajesh on 10/19/2013
//        $('#RichTextAreaDiv').find('.nicEdit-main').html($("#HeaderContent").html());

//        
////        if ($("#HeaderText").text().trim() == "Click Here")
////            $("#RichTextArea").val("");
////        else
////            $("#RichTextArea").val($("#HeaderText").text());

    //    }
    function editHeader(id, item) {
        HeaderId = id;

        $('#RichTextAreaDiv').find('.nicEdit-main').html($("#horfContent_" + id).html());
        $("#HTitle").val($(item).closest('tr').find('.PositionTitle').html())
    }
    function doneClick() {
        var data = $('#RichTextAreaDiv').find('.nicEdit-main').html();
        //alert(data);

        if (data.trim() == "") {
            alert("Please add header content");
            return;
        }
        if (data.trim() == "") {
            alert("Please add header content");
            return;
        }
        //if (data.length > 4000) {
        //    alert("Content cannot be more than 3500 characters");
        //    return;
        //}
       
       
       
        if (data != "") {
            //alert(HeaderId);
            $.ajax({
                type: 'POST',
                url: 'AddHeaderOrFooter',
                data: 'headerFooterId=' + HeaderId + '&SectionId=' + '@ViewBag.SectionId' + "&type=0" + "&title=" + encodeURIComponent(htmlEncode($("#HTitle").val())) + "&content=" + escape(htmlEncode(data)), //Rajesh on 10/19/2013
                success: function (data1) {

                    $("#AllHeadersList").html(data1);
                    HeaderId = -1;
                    $('#RichTextAreaDiv').find('.nicEdit-main').html("");
                    $("#HTitle").val("");
                },
                error: function (qw, qwq, error) {
                    alert("Unable to save Header text, try again");
                }
            });
        }
    }


    $(document).ready(function () {

        //=====Changes for New UI====
        $("#Edit").click(function () {
            $("#SelectedTemplate").hide();
            $("#SelectAnotherTemplate").show();

        });

        $("#Done").click(function () {
            $("#SelectedTemplate").show();
            $("#SelectAnotherTemplate").hide();

        });


        //===== Ends =================
        var options = {
            width: 686,
            height: 100,
            controls: "bold italic underline | font size " +
                    "style | bullets numbering | " +
                    "alignleft center alignright justify | undo redo | " +
                    "link unlink"
        };

        //Headereditor = $("#RichTextArea").cleditor(options)[0];
        //Footereditor = $("#FooterRichTextArea").cleditor(options)[0];
        // Self-executing recursive animation
        (function pulse() {
            $('.subSectionData').delay(500).animate({ 'border-color': '#dbe6f7' }, 100).delay(500).animate({ 'border-color': '#b7cced' }, 100, pulse);
        })();
    });

    bkLib.onDomLoaded(function () {
        //new nicEditor({ iconsPath: '../images/nicEditorIcons.gif' }).panelInstance('RichTextArea');
        new nicEditor({ buttonList: ['fontSize', 'bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', 'html', 'ul', 'ol', 'indent', 'outdent', 'upload'] }).panelInstance('RichTextArea');

        new nicEditor({ buttonList: ['fontSize', 'bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', 'html', 'ul', 'ol', 'indent', 'outdent'] }).panelInstance('FooterRichTextArea');
    });
 </script>
<script type="text/javascript">    //----1
    var SubSecPopup = false;
    function AddNewSubSecPopup(subSecId) {


        if (SubSecPopup && !SubSecPopup.closed) {
            SubSecPopup.focus();
        }
        else {
            SubSecPopup = window.open("AddOrEditSubSections?SectionId="+@ViewBag.SectionId+"&subSecId="+subSecId, "_blank", "toolbar=no,  directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=yes, width=750, height=700");
        }
    }
    //Rajesh on 2/8/2014
   var SubSecNotificationPopUp = false;
    function AddNewSubSecNotificationPopUp(subSecId) {


        if (SubSecNotificationPopUp && !SubSecNotificationPopUp.closed) {
            SubSecNotificationPopUp.focus();
        }
        else {
            SubSecNotificationPopUp = window.open("SubSectionNotifications?TemplateSubSectionId="+subSecId, "_blank", "toolbar=no,  directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=yes, width=750, height=700");
        }
    }
   //Ends<<<
    //Rajesh on 2/12/2014
   var SubSecUserPermissionNotificationPopUp = false;
    function SubSectionUserPermission(subSecId) {


        if (SubSecUserPermissionNotificationPopUp && !SubSecUserPermissionNotificationPopUp.closed) {
            SubSecUserPermissionNotificationPopUp.focus();
        }
        else {
            SubSecUserPermissionNotificationPopUp = window.open("SubSectionUserPermission?SubSectionId="+subSecId, "_blank", "toolbar=no,  directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=yes, width=750, height=700");
        }
    }
   //Ends<<<
</script>

<style>
.newTemplateWizard ul
{
    margin:0 0 0 20px;
}
.subsectionHeaderLocal 
{
    font-size:1.5em;
	float:left;
	width:704px;
	height:auto;
	background:#e5e6e8;
	padding:6px 0px 6px 5px;
}
.viewMain
{
	float:left;
	width:709px;
	height:auto;
	background:#fff;
	margin:0px 0 0px 0;
}
.viewMain table
{
	width:96%; 
	border-collapse:collapse;
	 
}
.viewMain input
{
	width:24px; 
	height:24px; 
	vertical-align:middle;
}
.viewMain label
{
	padding:5px 0 0 0; 
	width:auto;
}
</style>
<script type="text/javascript">

    function selectInitialClient(clientId) {
        ClientChanged('#' + clientId);

    }
    function documentClick(documents) {
        if ($(documents).is(":checked")==false) {
            $(documents).parent().parent().find('.docExpires').prop("checked", false);
        }

    }
    function documentExpireClick(documents) {
        if ($(documents).is(":checked")) {
            $(documents).parent().parent().find('.docCheckbox').prop("checked", true);
        }

    }
    
    function ClientChanged(client) {
        //alert(client);
        //$(this).attr('checked', true);
        $(this).prop("checked", true);
        $("#SelectedClient").text($(client).attr("clientName"));

        $.ajax({
            type: 'POST',
            url: 'GetBiddings',
            data: 'clientOrgId=' + $(client).prop("id") + '&templateId=@ViewBag.templateId' + '&SectionId=@ViewBag.SectionId',
            success: function (data) {
                $("#BiddingInterests").empty();
                $("#SelectedBiddings").empty();
                var Biddings = "";

                var oldHeader = "";
                for (var i = 0; i < data.length; i++) {
                    var datasec = data[i].Text;
                    var datasecId = data[i].id;
                    var status = data[i].status;
                    //alert(status);
                    var newOption = $("<tr>  <td> <input type='checkbox' onchange='documentClick(this)' class='docCheckbox' biddingName='" + datasec + "' id='id_" + datasecId + "'></input><td><label for='id_" + datasecId + "'>" + datasec + "</label></td>  </td> <td> <input type='checkbox' class='docExpires' onchange='documentExpireClick(this)' id='idExpire_" + datasecId + "'></input><td> <td><label for='idExpire_" + datasecId + "'>Expire</label></td> </tr>");
                    if (status == "true") {
                        newOption = $("<tr>  <td> <input type='checkbox' onchange='documentClick(this)' class='docCheckbox' biddingName='" + datasec + "' checked id='id_" + datasecId + "'></input><td><label for='id_" + datasecId + "'>" + datasec + "</label></td>  </td> <td> <input type='checkbox' onchange='documentExpireClick(this)'  class='docExpires' id='idExpire_" + datasecId + "'></input><td> <td><label for='idExpire_" + datasecId + "'>Expire</label></td> </tr>");

                        if (data[i].isExpire==true)
                        {
                            newOption = $("<tr>  <td> <input type='checkbox' onchange='documentClick(this)' class='docCheckbox' biddingName='" + datasec + "' checked id='id_" + datasecId + "'></input><td><label for='id_" + datasecId + "'>" + datasec + "</label></td>  </td> <td> <input type='checkbox'  class='docExpires' onchange='documentExpireClick(this)' checked id='idExpire_" + datasecId + "'></input><td> <td><label for='idExpire_" + datasecId + "'>Expire</label></td> </tr>");
                        }
                        Biddings += datasec + ',';

                    }
                    var header = data[i].Header.trim();
                    if (header != "" && oldHeader != header) {
                        var headding = $('<tr> <td colspan=2>' + header + '</td></tr>');
                        $('#BiddingInterests').append(headding);
                        oldHeader = header;
                    }
                    $('#SelectedBiddings').text(Biddings.substring(0, Biddings.length - 1));
                    $('#BiddingInterests').append(newOption);
                }
            },
            error: function (req, status, error) {
                //console.trace();
                alert("Could not retrieve Client's bidding interests");
            }
        });
    }
    function saveSupportingDocs() {
        var clientId = getCheckedRadioId("Clients");
        var ids = "";
        var names = "";
        $('#BiddingInterests .docCheckbox').each(function () {
            if ($(this).is(':checked')) {


                ids += $(this).prop("id") + "|" + $(this).parent().parent().find('.docExpires').is(':checked') + ",";
                names += $(this).attr("biddingName") + ",";

                //alert(names+ $(this).parent().parent().find('.docExpires').is(':checked'));
            }
        });
        $('#SelectedBiddings').text(names.substring(0, names.length - 1));
        $.ajax({
            type: 'POST',
            url: 'SaveBiddings',
            data: 'clientId=' + clientId + '&TemplateId=@ViewBag.templateId' + '&clientTemplateData=' + ids + '&SectionId=@ViewBag.SectionId',
            success: function (data) {
                //alert(data);
            },
            error: function (req, status, error) {
                //console.trace();
                alert("Could not save bidding interests, try again");
            }
        });
    }
    function getCheckedRadioId(name) {

        var elements = document.getElementsByName(name);

        for (var i = 0, len = elements.length; i < len; ++i)
            if (elements[i].checked) return elements[i].id;
    }
</script>





</head>

<body>


<div>
	<div class="content">
        @*=============Changes for new UI ===============*@
        <div class="subSectionDataBackground">
            <div>
                    <table   width="100%">
                        <tr>
                            <td>
                                <div class="page-subtitle">
                                	<h2>@Resources.Resources.Add_Sub_Sec</h2>
                                </div>
                            </td>

                            <td style="float:right;"> 
                                <button type="button" value="Add New" 
                                    
                                    

                                @{var location = "";}
                                @if (((FVGen3.Domain.Entities.TemplateSections)ViewBag.Section).Templates.DefaultTemplate == true)
                                {
                                    location = "window.location='TemplatesAndSections'";
                                }
                                else
                                {
                                    location = "window.location='CreateCustomTemplate'";
                                }
                                onclick="@location";
                                    
                                > @Resources.Resources.Common_questionnairebutton_text</button>
                            </td>
                        </tr>
                    </table>
                </div>

                <div id="SelectedTemplate">
                    <table  width="100%" border="0">
                        <tr >
                            <td valign="top" width="85;"><h3>@Resources.Resources.Companies_Template</h3></td>
                            <td valign="top" width="195"><h4>@ViewBag.TemplateName</h4></td>
                            <td valign="top" width="70;"><h3>@Resources.Resources.Section</h3></td>
                            <td valign="top" width="330"><h4>@ViewBag.SectionName</h4></td>
                            <td valign="top" align="left" width="40" id="Edit"><img src="~/images/edit.png" /></td>
                        </tr>
                    </table>
                    </div>
                <div id="SelectAnotherTemplate" style="display:none;">
                    <table>
                        <tr  >
                            <td valign="top" width="85;"><h3>@Resources.Resources.Companies_Template</h3></td>
                            <td valign="top" width="195"><h4>@ViewBag.TemplateName</h4></td>
                            <td valign="top" width="70;"><h3>@Resources.Resources.Section</h3></td>
                            <td valign="top" width="330"><select id="Sectionslist"></select></td>
                            <td valign="top" align="left" width="40" id="Edit"><img onclick="SectionChanged()" src="~/images/done.png"/></td>
                        </tr>
                    </table>
                </div>

                @*     For Header           *@
                <div>
                    <div class="rowIST">
                        <div id="HeaderTitleDiv">
                            <table>
                                <tr>
                                        
                                    <td width="90%"><input type="text" id="HTitle" style="width:90%;margin-left: 10px" /></td>
                                    <td><button type="button" value="Add New" onclick="doneClick()">@Resources.Resources.Common_button_text</button></td>
                                </tr>
                            </table>
                                    
                                
                        </div>
                    </div>

                    
                    

                </div>
            <div id="RichTextAreaDiv" style="width: 98%; float: left; height: 100%; margin: 20px 10px 20px 10px;">
                <textarea name="RichTextArea" style="width: 100%; height: 100px;" id="RichTextArea"></textarea>
            </div>
                @* Header Ends *@
                @*For Headers list*@
                <div id="AllHeadersList">
                @if (ViewBag.AllHeaders != null)
                {
                    <div class="partialPage">
                    <table border="0">
                    @*Srinivas on 2/25/2014*@
                    @foreach (var horf in (List<FVGen3.Domain.Entities.TemplateSectionsHeaderFooter>)ViewBag.AllHeaders)
                    {
                    	@:<tr style="border:0;background:#eee;">
                        	<td width="90%"><b  class="PositionTitle">@horf.PositionTitle </b></td>
                            
                            <td width="5%"><img src="../images/EditIcon.png"  style="cursor:pointer;" onclick="editHeader('@horf.HeaderFooterId',this)"/></td>
                            <td width="5%"><img src="../images/DelButton.png" style="cursor:pointer;"  onclick="deleteHeaderOrFooter('@horf.HeaderFooterId')"/></td>
                        @:</tr>
                        <tr style="border:0;">
                            <td colspan="3"><div id="horfContent_@horf.HeaderFooterId" style="text-align:justify;">@Html.Raw(@horf.PostionContent)</div></td>
                        </tr>
                       
                    }
                    </table>
                    @*Ends<<<*@

                    </div>
                }
                </div>
                @*Ends<<<*@


                @if (((FVGen3.Domain.Entities.TemplateSections)ViewBag.Section).TemplateSectionType != 99)//Supporting Docs
                {
                    <div class="newTemplateWizard">@* For Section List*@
                        <div id="accord">
                        <div id="space"></div><!---for spacing---->
                	    <ul>
             
                        @if (@ViewBag.SubSections != null)
                        {
                               
					            <li class="list"> 
       						    <div>

                                @if (((FVGen3.Domain.Entities.TemplateSections)ViewBag.Section).TemplateSectionType != 4 && ((FVGen3.Domain.Entities.TemplateSections)ViewBag.Section).TemplateSectionType != 7)//Supporting Docs or BU Sites
                                {
                                    <div class="page-subtitle">
                                   @Resources.Resources.Sub_Sections
							        @*<button style="float:right; margin-right:2px;" type="button" value="Add New" onclick="AddNewSubSecPopup('-1')">Add New</button>*@
                                    @if (@ViewBag.SubSections.Count > 1)
                                    {
                                        <button style="float:right; margin-right:5px;" type="button" value="Add New" flag_Arrange="false" onclick="stopSorting('id_@ViewBag.SectionId',this)">@Resources.Resources.Re_Arrange</button>
                                    }
                                    </div>
                                }
                                    
                                    <div id="space"></div><!---for spacing---->
                                        <ul class="sortable" id="id_@ViewBag.SectionId">
                                                @foreach (var sec in ((List<FVGen3.Domain.Entities.TemplateSubSections>)@ViewBag.SubSections).OrderBy(rec => rec.DisplayOrder))
                                                {
                                                    var query = "SubSectionNotifications" + QueryStringModule.Encrypt("TemplateSubSectionId=" + sec.SubSectionID);//Rajesh on 10/18/2013
                                                    if (sec.SubHeader == true)
                                                    {
                                                    @:<li class="hiddenList" id="@sec.SubSectionID">
                                                    }
                                                    else
                                                    {
                                                        @:<li class="hiddenList" id="@sec.SubSectionID">
                                                    }
                                                    <table width="97.5%">
                                                	    <tr>
                                                    	        
                                                            @if (((FVGen3.Domain.Entities.TemplateSections)ViewBag.Section).TemplateSectionType != 4 && ((FVGen3.Domain.Entities.TemplateSections)ViewBag.Section).TemplateSectionType != 7)//Supporting Docs or BU Sites
                                                            {
                                                                <td width="50%"><a href="#!" onclick="AddNewSubSecPopup('@sec.SubSectionID')">@(string.IsNullOrEmpty(sec.SubSectionName) ? "_" : @sec.SubSectionName) </a></td>
                                                                <td width="30%"></td>
                                                                <td width="10%"><a href="#!" >
                                                                    @if (((FVGen3.Domain.Entities.TemplateSections) ViewBag.Section).Templates.DefaultTemplate == false)
                                                                    {
                                                                        if (sec.SubSectionTypeCondition == SubSectionTypeConditionType.AgreementQueries)
                                                                        {
                                                                            @:<img src="../images/mailsettings.png" onclick="AgreementSubSection.ConfigureAgreementMails(@sec.SubSectionID)" />
                                                                        }
                                                                        else if (sec.SubSectionTypeCondition == "ClientSign")
                                                                        {
                                                                            <i class="fa fa-edit" style="font-size: 20px; color: black; margin-right: 30px; cursor: pointer; position: absolute; right: 75px; top: 8px;" aria-hidden="true" title="Edit Signature" aria-label="Edit Signature" onclick="AgreementSubSection.ClientSignatureConfig(@sec.SubSectionID)"></i>
                                                                        }
                                                                    }
                                                                </a></td>
                                                                <td width="10%"><a href="#!" onclick="AddNewSubSecNotificationPopUp(@sec.SubSectionID)">
                                                                   @if (sec.NotificationExist == true && ((FVGen3.Domain.Entities.TemplateSections)ViewBag.Section).Templates.DefaultTemplate == false)
                                                                   {
                                                                       @:<img src="../images/notification_subsection.png"/>
                                                                   }
                                                                </a></td><!--Rajesh on 10/18/2013-->
                                                                @*Rajesh on 2/12/2014*@
                                                                <td width="10%"><a href="#!" onclick="SubSectionUserPermission(@sec.SubSectionID)">
                                                                   @if (sec.TemplateSubSectionsPermissions.FirstOrDefault(rec => rec.PermissionType == 1) != null && sec.TemplateSubSectionsPermissions.FirstOrDefault(rec => rec.PermissionType == 1).PermissionType == 1 && ((FVGen3.Domain.Entities.TemplateSections)ViewBag.Section).Templates.DefaultTemplate == false)
                                                                   {
                                                                        @:<img src="../images/permission.png"/>
                                                                   }
                                                                </a></td>
                                                                @*Ends<<<*@
                                                                <td align="right"><img src="../images/rearrange.png" class="reArrangeImg" style="display:none;"/></td>
                                                                    
                                                                    
                                                                    
                                                                   if (sec.TemplateSections.Templates.TemplateStatus == 0)
                                                                   {
                                                                        @*He can only delete agreement section*@
                                                                        @*<td align="right"><img src="../images/DelButton.png" onclick="DeleteSubSection('@sec.SubSectionID')"/></td>*@
                                                                   }
                                                            }
                                                            else
                                                            {
                                                                <td width="50%"><a href="#!">@sec.SubSectionName</a></td>
                                                            }
                                                        </tr>
                                        		    </table> 
                                                @:</li>
                                                }
                                        </ul>
								    </div>
					            </li>
                        }
                        </ul>	
                
				    </div>
                </div>
             
                }
             
            
                
            @*     For Footer           *@
                <div>
                    <div class="rowIST">
                        <div id="FooterTitleDiv">
                            <table>
                                <tr>
                                        
                                    <td width="90%"><input type="text" id="FTitle" style="width:90%;margin-left: 10px"/></td>
                                    <td><button type="button" value="Add New" style="float:right;" onclick="FooterDoneClick()">@Resources.Resources.Common_button_text</button></td>
                                </tr>
                            </table>
                                    
                                
                        </div>
                    </div>
                </div>

            <div id="FooterRichTextAreaDiv" style="width: 98%; float: left; height: 100%; margin: 20px 10px 0 10px;">

                <textarea name="FooterRichTextArea" id="FooterRichTextArea" style="width: 100%; height: 100px;" id="RichTextArea"> </textarea>
            </div>
            @* Footer Ends *@

             @*For Headers list*@
                <div id="AllFootersList">
                @if (ViewBag.AllFooters != null)
                {
                    <div class="partialPage">
                    <table border="0">
                    @foreach (var horf in (List<FVGen3.Domain.Entities.TemplateSectionsHeaderFooter>)ViewBag.AllFooters)
                    {
                    	@:<tr style="border:0;">
                        	<td width="90%"><b class="PositionTitle">@horf.PositionTitle </b></td>                            
                            <td width="5%"><img src="../images/EditIcon.png" style="cursor:pointer;" onclick="editFooter('@horf.HeaderFooterId',this)"/></td>
                            if (!(horf.PostionContent.Contains("[_ClientName]") && horf.PostionContent.Contains("[_VendorName]")))
                            {
                                <td width="5%"><img src="../images/DelButton.png" style="cursor:pointer;"  onclick="deleteHeaderOrFooter('@horf.HeaderFooterId')"/></td>
                            }
                        @:</tr>
                        <tr style="border:0;">
                            <td colspan="3"><div id="horfContent_@horf.HeaderFooterId">@Html.Raw(horf.PostionContent)</div></td>
                        </tr>
                       
                    }
                    </table>
                    </div>
                }
                </div>
                @*Ends<<<*@ 

        </div>
        @*=============Changes for new UI Ends ===============*@
           
	</div><!---ContentSub--->
</div><!---Content-->
	
  @*  @if (@ViewBag.Header != null)
    {
    <script>
        Setheader('@ViewBag.Header.HeaderFooterId', '@ViewBag.Header.PositionTitle', '@ViewBag.Header.PostionContent');
    </script>
    }
    @if (@ViewBag.Footer != null)
    {
    <script>
        SetFooter('@ViewBag.Footer.HeaderFooterId', '@ViewBag.Footer.PositionTitle', '@ViewBag.Footer.PostionContent');
    </script>
    }*@
    <script>
        GetSections('@ViewBag.TemplateId', '@ViewBag.SectionId');
    </script>
</body>
</html>
