﻿<!--
 *****************************************************
Page Created Date:  10/24/2013
Created By: Kiran Talluri
Purpose: To Display the list of Questions
Version: 1.0
****************************************************
-->

@using FVGen3.Domain.Entities;
@using Resources;
@model FVGen3.Domain.Entities.LocalAssignTemplates
@{
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>

<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=8"/>
<meta http-equiv="X-UA-Compatible" content="IE=9"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width"/>


<title>@Resources.Assign_Templates</title>
@Styles.Render("~/css/appPopUp.css")
@Styles.Render("~/css/appInnerPages.css")
@Scripts.Render("~/js/common.js")
@Scripts.Render("~/Scripts/jquery-1.9.1.min.js")
@Styles.Render("~/Content/Site.css")    
 
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<style>
.viewMain
{
	float:left;
	width:100%;
	height:auto;
	background:#fff;
	margin:10px 0 10px 0;
}
.viewMain table
{
	width:96%; 
	border-collapse:collapse;
	
	 
}
.viewMain td
{
	
}
.viewMain input
{
	width:24px; 
	height:24px;
	vertical-align:middle;
	  
	 
}
.viewMain label
{
	padding:5px 0 0 0; 
	width:auto;
}
.bg
{
	background:#f6f9fc;
}
.bg:hover
{
	cursor:pointer;
}
</style>

<style>
.viewMainSubSection
{
	float:left; 
	width:100%; 
	height:auto; 
	padding:5px 0 5px 0; 
	margin:10px 0 10px 0;

}
.viewMainSubSection table
{
	margin:5px 0 10px 0px; 
	float:left; 
	border:0px solid #ddd;
}

.viewMainSubSection table td
{
	border:0px solid #ddd; 
	/*padding-left:5px;*/
	padding:5px 0 0 5px; 
	background:#fff; 
	
}
</style>
</head>
<script type="text/javascript">

    $(document).ready(function () {

        $("form :input").each(function () {
    
            $(this).click(function () {
                if ($(this).attr("editable") == "false") {
                    $(this).prop("checked", !$(this).is(":checked"));
                }
            });
        });
        setPermissions('@ViewBag.ViewPermissions');
    });

    function documentClick(documents) {
        if ($(documents).is(":checked") == false) {
            
            if ($(documents).attr("editable") == "true")
                $(documents).parent().parent().find('.docExpires').prop("checked", false);
        }
    }

    function documentExpireClick(documents) {
        if ($(documents).is(":checked")) {
            $(documents).parent().parent().find('.docCheckbox').prop("checked", true);
        }
    }

    function SelectAllDocs() {

        if ($("#selectAllDocs").is(":checked")) {

            $("#DocumentsRows").find(":checkbox").each(function () {

                if ($(this).attr("editable") == "true")
                if ($("#selectAllDocs").is(":checked")) {
                    $(this).prop("checked", true);
                }

            });
        }

        else {

            $("#DocumentsRows").find(":checkbox").each(function () {

                if ($(this).attr("editable") == "true")
                if (!$("#selectAllDocs").is(":checked")) {

                    $(this).prop("checked", false);
                }

            });
        }
    }

    function SelectAllPros() {
        
        if ($("#selectAllPros").is(":checked")) {

            $("#ProficiencyRows").find(":checkbox").each(function () {

                if ($(this).attr("editable") == "true")
                if ($("#selectAllPros").is(":checked")) {
                    $(this).prop("checked", true);
                }

            });
        }

        else {

            $("#ProficiencyRows").find(":checkbox").each(function () {

                if ($(this).attr("editable") == "true")
                if (!$("#selectAllPros").is(":checked")) {

                    $(this).prop("checked", false);
                }

            });
        }
    }

    function SelectAllBids() {

        if ($("#selectAllBids").is(":checked")) {

            $("#BiddingRows").find(":checkbox").each(function () {

                if ($(this).attr("editable") == "true")
                    if ($("#selectAllBids").is(":checked")) {
                        $(this).prop("checked", true);
                    }

            });
        }

        else {

            $("#BiddingRows").find(":checkbox").each(function () {

                if ($(this).attr("editable") == "true")
                    if (!$("#selectAllBids").is(":checked")) {

                        $(this).prop("checked", false);
                    }

            });
        }
    }

    function getClientDocsProficiencyBiddings() {
        
        var selectedTemplate = $("#SelectedTemplate").val();
        var selectedClient = $("#SelectedClientId").val();

        $("form :input").each(function () {

            $(this).prop("checked", false);
            $(this).attr("editable",true)
        });

        $.ajax({
            type: 'Post',
            url: 'GetClientDocsProficiencyBiddings',
            data: 'selectedTemplate=' + selectedTemplate + '&selectedClient=' + selectedClient,
            success: function (data) {

                for (var i = 0; i < data.length; i++) {
                    var datasec = data[i].Text;
                    var datasecId = data[i].id;
                    var status = data[i].status;
                    var type = data[i].type;
                    var isExpire = data[i].isExpire; //For Doc..
                    if (type == "0") {
                        $("#Bid_" + datasecId).find("input").prop("checked", true);
                        $("#Bid_" + datasecId).find("input").attr("editable", false);
                    }
                    else if (type == "1") {
                        $("#Pro_" + datasecId).find("input").prop("checked", true);
                        $("#Pro_" + datasecId).find("input").attr("editable", false);
                    }
                    else if (type == "2") {


                        $("#Doc_" + datasecId).find(".docCheckbox").prop("checked", true);
                        $("#Doc_" + datasecId).find(".docCheckbox").attr("editable", false);
                        $("#Doc_" + datasecId).find(".docExpires").attr("editable", false);

                        if (isExpire) {
                            $("#Doc_" + datasecId).find(".docExpires").prop("checked", true);
                            
                        }

                    }
                }

            },
            error: function (req, status, error) {
                //console.trace();                
            }
        });
    }
    
</script>

<body>
	@using (Html.BeginForm())
    {
         <div class="popUpContainer"> 
            <div class="popUpContent">
                <div class="popUpSubContent"> 
                    <div class="page-title">
    					<h2>@Resources.Assign_Templates</h2>
    		        </div>

                    <div class="rowPopUp" >
                    <table border="0">                                    	
                        <tr>
                            <td>
                                <label class = "enableStarPopUp">@Resources.Common_label_template</label>
                            </td>
                            <td>
                                @Html.DropDownListFor(rec => rec.SelectedTemplate, (List<SelectListItem>)@ViewBag.Templates, new { onchange = "getClientDocsProficiencyBiddings()" })
                                <div class="alertStar">@Html.ValidationMessageFor(model => model.SelectedTemplate)</div>
                            </td>
                        </tr>
                    </table>

                    </div>	
                    <div class="rowPopUp" >
                        <table border="0">
                            <tr>
                                <td>
                                    <label>@Resources.InviteVendor_Client</label>
                                </td>
                                <td>
                                    @Html.DropDownListFor(rec => rec.SelectedClientId, (List<SelectListItem>)@ViewBag.Clients, new { onchange = "getClientDocsProficiencyBiddings()" })
                                    <div class="alertStar">@Html.ValidationMessageFor(model => model.SelectedClientId)</div>
                                </td>
                            </tr>
                        </table>                                    	 
                    </div>	                     
                </div>
        
                @*Srinivas on 3rd, Jan-2013*@
                <div class="popUpSubContent">
                    <div class="rowPopUp">
                        <table>
                            <tr>
                                <th>@Resources.EmailSetupNotifications_label_documenttype</th>
                                <th>@Resources.Expires</th>
                                
                            </tr>
                        </table>
                        <table>
                            <tr>
                                <th>@Resources.Vendorsearch_ProficiencyCapabilities</th>
                                 
                                
                            </tr>
                        </table>
                        <table>
                            <tr>
                                <th>@Resources.Common_heading_BiddingInterests</th>
                                 
                                
                            </tr>
                        </table>
                    </div>
                   <div class="rowPopUpRadioCheckbox">
                   <div class="assignTemplateScrollCheckbox">
                        <table id="DocumentsRows">
                            <tr>
                                <td valign="top"> 
                                    <input type="checkbox" name="selectAllDocs" id="selectAllDocs" onclick="SelectAllDocs()" />
                                </td>
                                 <td valign="top"> 
                                    <label for="selectAllDocs" style="width:100%;">Common_Label_SelectAll</label>
                                </td>
                                 <td valign="top"> 
                                <input type="checkbox" />
                                </td>
                            </tr>
                            @if (@Model.DocumentTypes != null)
                            {
                               for (var i = 0; i < @Model.DocumentTypes.Count; i++)
                               {
                            
                                 <tr id="Doc_@Model.DocumentTypes[i].id">
                                        <td valign="top">
                                            @*<input id="id6" type="checkbox" style="margin:6px 0 0 0; float:inherit;" *@
                                            @Html.HiddenFor(model => @Model.DocumentTypes[i].id)
                                            @Html.HiddenFor(model => @Model.DocumentTypes[i].Text)
                                            @Html.CheckBoxFor(model => @Model.DocumentTypes[i].Status, new { @editable = "true", onchange = "documentClick(this)", @class = "docCheckbox" })
                                        </td>
                            
                                        <td valign="top">
                                            @{var id2 = "DocumentTypes_" + @i + "__Status";}

                                        <label for="@id2" style="width:100%;">@Model.DocumentTypes[i].Text </label></td>

                                        <td valign="top">@Html.CheckBoxFor(model => @Model.DocumentTypes[i].isExpire, new { @editable = "true", @class = "docExpires", onchange = "documentExpireClick(this)" })</td>

                                    </tr>      
                               }    
                            }       
                    </table>



                   </div>

                    <div class="assignTemplateScrollCheckbox" id="ProficiencyRows">
                        <table>
                            <tr>
                                <td valign="top"> 
                                    <input type="checkbox" name="selectAllPros" id="selectAllPros" onclick="SelectAllPros()" />
                                </td>
                                 <td valign="top"> 
                                     <label for="selectAllPros" style="width:100%;">@Resources.Common_Label_SelectAll</label>
                                </td>
                                 <td valign="top"> 
                                
                                </td>
                            </tr>
                            @if (Model.ProficiencyCapabilities != null)
                            {
                                for (var i = 0; i < @Model.ProficiencyCapabilities.Count; i++)
                                {
                                        <tr id="Pro_@Model.ProficiencyCapabilities[i].id">
                                            <td style="width:5%;" valign="top"> 
                                                @*<input id="id6" type="checkbox" style="margin:6px 0 0 0; float:inherit;" *@
                                                @Html.HiddenFor(model => @Model.ProficiencyCapabilities[i].id)
                                                @Html.HiddenFor(model => @Model.ProficiencyCapabilities[i].Text)
                                                @Html.CheckBoxFor(model => @Model.ProficiencyCapabilities[i].Status, new { @editable = "true" })
                                            </td>
                                            <td valign="top"> 
                                            @{var id3 = "ProficiencyCapabilities_" + @i + "__Status";}

                                            <label for="@id3">@Model.ProficiencyCapabilities[i].Text </label></td>
                                            <td valign="top"> 
                                            </td>
                                        </tr>   
                                }
                            }       
                    </table>



                   </div>
                    <div class="assignTemplateScrollCheckbox" id="BiddingRows">
                        <table style="margin:0px;">
                            <tr>
                                <td valign="top"> 
                                    <input type="checkbox" name="selectAllBids" id="selectAllBids" onclick="SelectAllBids()" />
                                </td>
                                 <td valign="top"> 
                                     <label for="selectAllBids">@Resources.Common_Label_SelectAll</label>
                                </td>
                                 <td valign="top"> 
                                
                                </td>
                            </tr>
                            @if (Model.BiddingInterests != null)
                            {
                                for (var i = 0; i < @Model.BiddingInterests.Count; i++)
                                {
                                        <tr id="Bid_@Model.BiddingInterests[i].id">
                                             <td valign="top"> 
                                                @*<input id="id6" type="checkbox" style="margin:6px 0 0 0; float:inherit;" *@
                                                @Html.HiddenFor(model => @Model.BiddingInterests[i].id)
                                                @Html.HiddenFor(model => @Model.BiddingInterests[i].Text)
                                                @Html.CheckBoxFor(model => @Model.BiddingInterests[i].Status, new { @editable = "true" })
                                            </td>
                                             <td valign="top"> 
                                            @{var id4 = "BiddingInterests_" + @i + "__Status";}

                                            <label for="@id4">@Model.BiddingInterests[i].Text </label></td>
                                             <td style="width:5%;" valign="top"> 
                                             </td>
                                        </tr>   
                                }
                            }       
                    </table>



                   </div>
                 </div>
                 <div class="rowPopUp">
                        <button style="float:right;" type="submit">@Resources.Common_button_text</button>
                </div>
                   
                </div>

              @* End<<<<<<<<<<<*@

    </div>
    </div>
     
    }	
    @if (@ViewBag.EditingMode == null || @ViewBag.EditingMode == false)
    {
    <script> getClientDocsProficiencyBiddings()</script>
    }
</body>
</html>

