﻿@{
    Layout = null;
}
   @using Resources;
@model FVGen3.Domain.Entities.LocalModelForBusites
           @using Resources;
<!doctype html>
<html>
<head>
<meta charset="utf-8"/>
<title>@Resources.Price_The_Bus</title>
<link rel="stylesheet"  href="../css/appInnerPages.css"/>
<link rel="stylesheet" href="../css/appPopUp.css"/>
<link rel="stylesheet" href="../css/assignUnits.css"/>

<script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")" type="text/javascript"></script>
<script src="~/js/autoNumeric.js"></script> @*//sandhya on 06/04/2015*@  @*sumanth on 10/29/2015 FVOS-102 recopied the link to validate the numbers for text box *@
<script>
  
    function deleteClick(obj) {  // delete BUs 
        var buid = $(obj).closest(".lable-del").attr("buid");
        var data = "<input type='checkbox' id='" + buid + "'/>";
        $("#BuRow_" + buid).prepend(data);
        $("#BuRow_" + buid).show();
        $("#BuRow_" + buid).closest(".orgName").show();
        $("#BuRow_" + buid).find(".GroupNumber").val("-1");

        $("#SubmitDiv").hide();//Whenever user deletes the BU's we need to hide submit button

        if ($(obj).closest(".BUsValues").find(".lable-del").size() == 1) {

            
            var title = $(obj).closest(".BUsValues").attr("title");
            $(obj).closest(".WorkingArea").find(".BUsHeadding[title='" + title + "']").remove();
           

            //alert($(obj).closest(".WorkingArea").find(".BUsHeadding").length);
            
            if ($(obj).closest(".WorkingArea").find(".BUsHeadding").length == 0) {//Means there is no headdings means no BUs in this group
                var numberOfGroups = $(".second-div").find(".border-box").length - 1;
                var PresentGroup = $(obj).closest(".border-box").attr("id");
                if (PresentGroup != "Group0" && PresentGroup != "Group" + numberOfGroups) {//If it is not a first and last group
                    $(obj).closest(".border-box").remove(); //Remove that parent group
                }
                //After deletion of group need to adjust below groups
                var groupNum = 0;
                $(".second-div").find(".border-box").each(function () {

                    if ($(this).attr("id") != "Group" + groupNum) {


                        $(this).find(".BUsValues").find(".lable-del").each(function () {

                            var buId = $(this).attr("buid");
                            $("#BuRow_" + buId).find(".GroupNumber").val(groupNum);

                        });
                        $(this).attr("id", "Group" + groupNum);
                        $(this).find(".GroupBUButton").attr("onclick", "GroupBussiness(" + groupNum + ")");
                        $(this).find(".pricesvalue").attr("name", "price[" + groupNum + "]");
                    }

                    groupNum++;
                });

            }

            



            $(obj).closest(".BUsValues").remove();
        }
        $(obj).closest(".lable-del").remove();

        //If the user in edit mode and he deletes one of the item in group then we need to give the provision to add deleted item into new group

        insertNewGroup();
    }
    function insertNewGroup() {
        var numberOfPendingBUs = $("#BUsList").find("input[type='checkbox']").length;

        if (numberOfPendingBUs != 0) {
            var insert = true;
            $(".second-div").find(".border-box").each(function () {

                //alert("Working area" + $(this).find(".WorkingArea").html());
                if ($(this).find(".WorkingArea").html().trim() == "") {
                    insert = false;
                }
            });
            if (insert) {
                var group = $("#MainGroup").clone();
                var noOfDivs = $(".second-div").find(".border-box").length;
                $(group).attr("id", "Group" + noOfDivs);
                $(group).find(".GroupBUButton").attr("onclick", "GroupBussiness(" + noOfDivs + ")");
                $(group).find(".PriceInfo").attr("name", "price[" + noOfDivs + "]");
                $(group).find(".PriceInfo").attr("class", "pricesvalue")
                //                $(group).find(".EditBUButton").attr("onclick", "EditGroup(this," + noOfDivs + ")");
                $(group).show();
                $($(".second-div").append(group));
                $('.pricesvalue').autoNumeric({ vMin: '0.00', vMax: '999.99' }); //sandhya on 06/04/2015
            }
        }
    }
    function EditGroup(obj, num) {
        if ($(obj).text() == "Edit") {

            $("#Group" + num).find(".lable-comma-first").each(function () {
                $(this).find("label").removeClass("label-comma");
                $(this).removeClass("lable-comma-first").addClass("lable-del");
            });
            $("#Group" + num).find(".GroupBUButton").hide();
            $(obj).text("Done");
        }
        else {
            $("#Group" + num).find(".lable-del").each(function () {
                $(this).find("label").addClass("label-comma");
                $(this).removeClass("lable-del").addClass("lable-comma-first");
            });
            $("#Group" + num).find(".GroupBUButton").show();
            $(obj).text("Edit");
        }
    }
    function GroupBussiness(num) {
        //If num=0 then this one is default one
        // sumanth on 10/29/2015 for FVOS-73
        if ('@ViewBag.VBCount' == '0') {
            alert('There are no BUs to this template');

        }
        // sumanth ends on 10/29/2015
        var selectedData = "";
        var isSuccessfullyAdded = true;
        $("#BUsList").find("input[type='checkbox']").each(function () {
            var continueBlock = false;
            //alert($(this).is(":checked"));
            if ($(this).is(":checked")) {

                var id = $(this).attr("id");
                var OrgName = $("#BuRow_" + id).find(".OrgName").val(); //Headding
                var buName = $("#BuRow_" + id).find(".BUName").val();


                $("#BuRow_" + id).hide();

                $("#BuRow_" + id).find(".GroupNumber").val(num);
                //$("#Group" + num).find(".WorkingArea")

                selectedData = "<div class='lable-del' buid=" + id + "><label>" + buName + "</label><div onclick='deleteClick(this)'></div></div>";
                debugger;
                var currentHeaddingSection = $("#Group" + num).find(".WorkingArea").find(".BUsHeadding[title='" + OrgName + "']");
                if ($(currentHeaddingSection).size() == 0) {//No headding section with this orgname

                    if (currentHeaddingSection = $("#Group" + num).find(".WorkingArea").find(".BUsHeadding").size() > 0) {
                        isSuccessfullyAdded = false;
                        continueBlock = true;
                    }
                    else {
                        var headding = '<div title="' + OrgName + '" class="BUsHeadding"><label class="list-title">' + OrgName + '</label></div>';
                        $("#Group" + num).find(".WorkingArea").append(headding);

                        selectedData = '<div title="' + OrgName + '" class="border-bg-box BUsValues">' + selectedData + '</div>';
                        $("#Group" + num).find(".WorkingArea").append(selectedData);
                    }
                }
                else {
                    $("#Group" + num).find(".WorkingArea").find(".BUsValues[title='" + OrgName + "']").append(selectedData);
                }

                if (!continueBlock) {
                    if ($(this).closest(".orgName").find("input[type='checkbox']").size() == 1) {
                        $(this).closest(".orgName").hide();
                    }

                    $(this).remove();
                } else {
                    $("#BuRow_" + id).show();
                }
            }
            
            //$("#Group" + num).find(".WorkingArea").find(".BUsHeadding").find(".BUsValues").html(selectedData);
        });
        if (!isSuccessfullyAdded)
        {
            alert("Each group will have only one client BUs");
        }
        insertNewGroup();
        //alert($(".second-div").find(".border-box").length);
        var numberOfPendingBUs = $("#BUsList").find("input[type='checkbox']").length;

//        if (numberOfPendingBUs != 0) {
//            var insert = true;
//            $(".second-div").find(".border-box").each(function () {

//                //alert("Working area" + $(this).find(".WorkingArea").html());
//                if ($(this).find(".WorkingArea").html().trim() == "") {
//                    insert = false;
//                }
//            });
//            if (insert) {
//                var group = $("#MainGroup").clone();
//                var noOfDivs = $(".second-div").find(".border-box").length;
//                $(group).attr("id", "Group" + noOfDivs);
//                $(group).find(".GroupBUButton").attr("onclick", "GroupBussiness(" + noOfDivs + ")");
//                $(group).find(".PriceInfo").attr("name", "price[" + noOfDivs + "]");
//                $(group).find(".PriceInfo").attr("class", "pricesvalue")
//                //                $(group).find(".EditBUButton").attr("onclick", "EditGroup(this," + noOfDivs + ")");
//                $(group).show();
//                $($(".second-div").append(group));
//            }

//        }
        if(numberOfPendingBUs==0) {
        //If any one is in blank then we need to delete that
            
            $(".second-div").find(".border-box").each(function () {

                //alert("Working area" + $(this).find(".WorkingArea").html());
                if ($(this).find(".WorkingArea").html().trim() == "") {
                    $(this).remove();
                }
            });


            $("#SubmitDiv").show();
        }
        
    }
</script>

<script>
    $(document).ready(function () {
        // sumanth on 10/29/2015 for FVOS-73
        if ('@ViewBag.VBCount' == '0') {
            alert('There are no BUs to this template');

        }
        // sumanth ends on 10/29/2015
        if ('@ViewBag.isERI'.toLowerCase()=='true')
        {
            //$("#Group0").find(".pricebu-row:first").find(".pricesvalue").val("0.00");
            //var ERIBU = '<div title="ERI Business Unit" class="BUsHeadding"><label class="list-title">ERI</label></div><div title="ERI Business Unit" class="border-bg-box BUsValues"><div class="lable-del" buid="-1"><label>ERI Business Unit</label></div></div>'
            //$("#Group0").find(".WorkingArea").append(ERIBU);
            $("#Group0").attr("style", "display:none;")
        }
            if ($("#BUsList").find("input[type='checkbox']").length != 0)//mani on 2/28/2015
            $("#SubmitDiv").hide(); //mani on 2/28/2015
         $('.pricesvalue').autoNumeric({ vMin: '0.00', vMax: '999.99' }); //sandhya on 06/04/2015
           insertNewGroup();
        $("form").submit(function () {
            //alert("Submitted");
            var flag = true;
            $(".pricesvalue").each(function () {

                if ($(this).val().trim() == "") {
                    flag = false;
                }
            });
            if (flag == false) {
                alert('Please enter all group prices');
            }
            return flag;
        });
    });
</script>
</head>

<body>
@using (@Html.BeginForm())
{
    @Html.HiddenFor(rec => rec.TemplateId)
	<div class="popUpContainer">
        <div class="popUpContent">
    	    <div class="popUpSubContent">
                    <div class="page-title">
                    	<h2>@Resources.Price_The_Bus</h2>
                    </div>

                    <div class="rowPopUp pricebu-tempname" style="width:100%;">
                    	<table width="100%">
                        	<tr>
                            	<td>@Resources.AddTemplate_TemplateName</td>
                                <th>@ViewBag.TemplateName</th>
                            </tr>
                            <tr>
                            	<td>@Resources.Client_Name</td>
                                <th>@ViewBag.OrgName</th>
                            </tr>
                        </table>
                    </div>

                    <div class="rowPopUp list-bu" style="width:100%;">
                    	<div class="page-subtitle">
                        	<h2>@Resources.List_Of_Bus</h2>
                         </div>
                    	<div class="first-div" id="BUsList">
                        	<div class="border-box">
                            @try
                            {
                                var PresentOrgName = "";

                                  var lastBURow = "";
                                
                                for (int i = 0; i < @Model.BUDetails.Count; i++)
                                {
                                    if (i != 0)
                                    {
                                        if (@Model.BUDetails[i].OrgName != PresentOrgName)
                                        {
                                            @:</div>

                                            @*To hide org. Name if there is no bu's under org.*@
                                            <script>
                                                
                                                if ($('@lastBURow').closest(".orgName").find("input[type=checkbox]").length == 0) {
                                                    $('@lastBURow').closest(".orgName").hide();
                                                }
                                            </script>
                                            @*Ends<<<*@
                                        }
                                    }
                                    if (@Model.BUDetails[i].OrgName != PresentOrgName)
                                    {
                                            @:<div class="orgName">
                                            <div><label class="list-title">@Model.BUDetails[i].OrgName</label></div>
                                    }
                                    <div id="BuRow_@Model.BUDetails[i].BUId">
                                        @Html.HiddenFor(rec => rec.BUDetails[i].BUId, new { @class = "BUId" })
                                        @Html.HiddenFor(rec => rec.BUDetails[i].ClientId, new { @class = "OrgId" })
                                        @Html.HiddenFor(rec => rec.BUDetails[i].BUName, new { @class = "BUName" })
                                        @Html.HiddenFor(rec => rec.BUDetails[i].GroupNumber, new { @class = "GroupNumber" })
                                        @Html.HiddenFor(rec => rec.BUDetails[i].OrgName, new { @class = "OrgName" })
                                        @if (@Model.BUDetails[i].GroupNumber == -1)
                                        {
                                            <input type="checkbox" id="@Model.BUDetails[i].BUId"/>
                                        }
                                        else
                                        {
                                            lastBURow = "#BuRow_" + @Model.BUDetails[i].BUId;
                                            <script>
                                                $("#BuRow_@Model.BUDetails[i].BUId").hide();
                                            </script>
                                        }
                                        <label for="@Model.BUDetails[i].BUId">@Model.BUDetails[i].BUName</label>
                                    </div><!--div-->
                                   
                                        PresentOrgName = @Model.BUDetails[i].OrgName;
                                }
                                if (@Model.BUDetails.Count > 0)
                                {
                                    @:</div>                
                                    
                                    @*To hide org. Name if there is no bu's under org.*@
                                    <script>
                                        if ($('@lastBURow').closest(".orgName").find("input[type=checkbox]").length == 0) {
                                            $('@lastBURow').closest(".orgName").hide();
                                        }
                                    </script>
                                    @*Ends<<<*@                    
                                }
                               
                            }
                            catch { }

                          
                        	</div>
                        </div>

                    <div class="second-div">
                         
                        	<div class="border-box" id="Group0">


                                <div class="pricebu-row">
                                	<label>@Resources.One_Fee</label>
                                    <input type="text" name="price[0]" class="pricesvalue"
                                    
                                    @if(@Model.Price.Count>0)
                                    {
                                        @:value="@Model.Price[0]"
                                    }
                                    />
                                  </div>
                                <div class="pricebu-row">
                                	<button type="button" style="float:none;" onclick="GroupBussiness(0)" class="GroupBUButton">@Resources.Group_Business_For_One_Fee</button>
									@*<button type="button" style="float:right;" onclick="EditGroup(this,0)" class="">Edit</button>*@
                                  </div>                                  
                                   <div class="pricebu-row WorkingArea">

                                @{var OldName = "";
                                  var currentRec = 0;
                                  }
                                @foreach (var BUs in @Model.BUDetails.Where(rec => rec.GroupNumber == 0).OrderBy(rec => rec.OrgName))
                                {
                                    if (OldName != BUs.OrgName)
                                    {
                                        if (currentRec != 0)
                                        {
                                            @:</div>
                                        }
                                        <div title="@BUs.OrgName" class="BUsHeadding">
                                            <label class="list-title">@BUs.OrgName</label>
                                        </div>
                                       @:<div title="@BUs.OrgName" class="border-bg-box BUsValues">                                      
                                    }
                                    <div class="lable-del" buid="@BUs.BUId">
                                        <label >@BUs.BUName</label>
                                        @if (@BUs.IsDeletable)
                                        {
                                        <div  class="delimg" onclick="deleteClick(this)"></div>
                                        }
                                    </div>
                                    currentRec++;
                                    OldName = BUs.OrgName;
                                }
                                @if (currentRec != 0)
                                {
                                    @:</div>
                                }
                                    @*Reference Divs
                                        <div title="ABC" class="BUsHeadding">
                                            <label class="list-title">ABC</label>
                                        </div>
                                     
                                	    <div title="ABC" class="border-bg-box BUsValues">
                                    	    <div class="lable-comma-first" buid="sree">
                                        	    <label class="label-comma">Texturizing Solutions</label>
                                                <div onclick="deleteClick()"></div>
                                            </div>

                                             <div class="lable-del" buid="sree">
                                        	    <label >AgHorizons</label>
                                                <div onclick="deleteClick()"></div>
                                             </div><!--lable-del--> 

                                        </div>
                                    *@
                                      
                                  </div>
                            </div>

                            @for (int i = 1; i < @Model.Price.Count; i++)
                            {
                                <div class="border-box" id="Group@(i)">

                            	<div class="pricebu-row">
                                	<label>@Resources.Additional_Fees</label>
                                    <input type="text" name="price[@i]" value="@Model.Price[i]" class="pricesvalue"/>
                                </div>

                                <div class="pricebu-row">
                                	<button type="button" style="float:none;" onclick="GroupBussiness(@i)" class="GroupBUButton">@Resources.Group_Bu_Additionalfee</button>
									@*<button type="button" style="float:right;" onclick="EditGroup(this,0)" class="">Edit</button>*@
                                  </div>   
                                                               
                                <div class="pricebu-row WorkingArea">

                                @{OldName = "";
                                  currentRec = 0;
                                  }
                                @foreach (var BUs in @Model.BUDetails.Where(rec => rec.GroupNumber == i).OrderBy(rec => rec.OrgName))
                                {
                                    if (OldName != BUs.OrgName)
                                    {
                                        if (currentRec != 0)
                                        {
                                           
                                            @:</div>
                                        }
                                        <div title="@BUs.OrgName" class="BUsHeadding">
                                            <label class="list-title">@BUs.OrgName</label>
                                        </div>
                                       @:<div title="@BUs.OrgName" class="border-bg-box BUsValues">                                      
                                    }
                                    <div class="lable-del" buid="@BUs.BUId">
                                        <label >@BUs.BUName</label>
                                        @if (@BUs.IsDeletable)
                                        {
                                        <div  class="delimg" onclick="deleteClick(this)"></div>
                                        }
                                    </div>
                                    currentRec++;
                                    OldName = BUs.OrgName;
                                }
                                @if (currentRec != 0)
                                {
                                    @:</div>
                                }
                                   
                                      
                                  </div>
                            </div>
                            }
                      	
        </div>
            @if (@Model.BUDetails != null && @Model.BUDetails.Count() != 0)
            {
                    <div class="pageFooterContent" id="SubmitDiv"> 
                        <div class="pageFooterButtons">
                            <table>
                                <tbody>
                                    <tr>
                                        <td><button type="submit" btntype="Update" class="PageFooter_Button">@Resources.Common_Nextlink_text</button></td>
                                        <td btntype="Update">@Resources.Common_label_or</td>
                                        <td><div class="pageFooterCancelButton"><a href="#!" onclick="window.close()">@Resources.Common_Cancel</a></div></td>
                                    </tr>	
                                </tbody></table> 
                        </div>
                    </div>
            }

    </div>
                    
             </div>
        </div>
    </div>
    
}  

   	<div class="border-box" id="MainGroup" style="display:none;">
        <div class="pricebu-row">
            <label>@Resources.Additional_Fees</label>
            <input type="text" class="PriceInfo" name="price"/>
        </div>
        <div class="pricebu-row">
            <button type="button" style="float:none;" onclick="GroupBussiness(0)" class="GroupBUButton">@Resources.Group_Bu_Additionalfee</button>
			@*<button type="button" style="float:right;" onclick="EditGroup(this,0)" class="EditBUButton">Edit</button>*@
        </div>
                                  
        <div class="pricebu-row WorkingArea">
        </div>
    </div>

</body>
</html>

