﻿<!--
Page Created Date:  08/08/2013
Created By: Kiran Talluri
Purpose:
Version: 1.0
****************************************************
-->

@using FVGen3.Domain.Entities;
@using Resources;
@{
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>@Resources.BiddingInterestsList_title</title>        
</head>

@Scripts.Render("~/js/common.js")
@Scripts.Render("~/Scripts/jquery-1.9.1.min.js")

<script type="text/javascript">

    // Added code to call setPermissions() function on 08/07/2013 by Kiran Talluri
    $(document).ready(function () {
        setPermissions('@ViewBag.ViewPermissions');
    });

    var winPop = false;
    function openWindow(clientTemplate) {
        if (winPop && !winPop.closed) {  //checks to see if window is open  
            winPop.focus();
        }
        else {
            winPop = window.open("AssignTemplates?clientTemplateId=" + clientTemplate, "_blank", "toolbar=no,  directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=yes, width=950, height=600");
        }
    }

</script>

<body>
    <div class="contentSub">

        <table width="694" border="0">
              <tr>
                <td class="page-title">
                  <h2>@Resources.Client_Temp_List</h2>
                </td>
                <td align="right" valign="top">
                    <button type="button" btnType="Insert" onclick="openWindow()">@Resources.Common_AddNew</button>
                </td>
              </tr>
        </table>   
        
        <div class="partialPage">

            @if (@ViewBag.VBClientTemplates != null)
            {
                if (@ViewBag.VBClientTemplates.Count == 0)
                {
                    <div class="commentsItalic">@Resources.Common_NoRecords</div>
                }
                                
                foreach (var clientTemplate in (List<IGrouping<string, ClientTemplates>>)@ViewBag.VBClientTemplates)
                {                
                    <table>                    
                        <tr>
            		        <td class = "page-subtitle">
                                <h3>@clientTemplate.Key </h3>      				            
                	        </td>
            	        </tr>                   
                   
                        @foreach (var client in clientTemplate)
                        {                    
                            <tr>
                                <td><a href="#!" onclick = "openWindow('@client.ClientTemplateID')">@client.Organizations.Name</a></td>
                            </tr>                    
                        }               
                    </table>
                } 
                   
            }                  
        </div>
    </div>
</body>
</html>
