﻿@{
    ViewBag.Title = "CopyInformation";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}
@using FVGen3.Domain.LocalModels;

<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" href="~/css/common.css">
        <link rel="stylesheet" href="~/css/appInnerPages.css">
        <link rel="stylesheet" href="~/css/index.css">
        <link rel="stylesheet" href="~/css/templatetool.css

        <script src="~/js/jquery-1.9.1.min.js"></script>
        <link href="~/css/FinancialAnalytics.css" rel="stylesheet" />
       <script src="~/js/common.js"></script>
    <link href="~/css/kendo/kendo.rtl.min.css" rel="stylesheet">
    <link href="~/css/kendo/kendo.default.min.css" rel="stylesheet">
    <link href="~/css/kendo/kendo.default.mobile.min.css" rel="stylesheet">
    <link href="~/css/kendo/kendo.common.min.css" rel="stylesheet" />
    <script src="~/Scripts/kendo/kendo.all.min.js"></script>

    @*<script src="~/Scripts/kendo/kendo.all.min.js"></script>*@

    <link href="~/css/FinancialAnalytics.css" rel="stylesheet" />
</head>

<style>
    .rowIST select {
        margin-right: 40px !important;
       width:90%!important;
    }

    /*.sidebar_left {
        padding: 0% !important;
    }*/

    /*.main_right {
        width: 80% !important;
    }*/

    button {
        padding: 5px 3px;
    }
</style>
<script>

    $(document).ready(function () {
        debugger;

        @*$('#SourceTemplate').val('@ViewBag.TemplateSource');
        $('#DestinationTemplate').val('@ViewBag.TemplateDestination');*@
        GetData();
        debugger;
        @*$('#SouceSections').val('@ViewBag.SourceSectionId');*@
        GetTargetSections();

        @*$('#targetSections').val(@ViewBag.DestinationSectionid);*@
    });
    function GetData() {
        var SourceTemplate = $('#SourceTemplate').val();
        $.ajax({
            type: 'Get',
            url: '../TemplateTool/GetSections?Template=' + SourceTemplate,

            success: function (data) {

                var controls = $(Controls.Dropdown(data));
                controls.attr("id", "SouceSections");
                controls.attr("onchange", "GetSubSections()");
                $("#Sections").html(controls);

                GetSubSections();

            },
            error: function () {
                console.trace();
                //alert("An error occured while fetching units, Sesion expiried");
            }
        });

    }
    function GetSubSections() {
        debugger;
        var SectionID = $('#SouceSections').val();
        $.ajax({
            type: 'Get',
            url: '../TemplateTool/GetSubSections?SectionId=' + SectionID,

            success: function (data) {

                var controls = $(Controls.Dropdown(data));
                controls.attr("id", "SubSections");
                //  controls.attr("onchange", "GetCopyQuestions()");
                $("#SourceSubSections").html(controls);

                // GetCopyQuestions();
            },
            error: function () {
                console.trace();
                //alert("An error occured while fetching units, Sesion expiried");
            }
        });

    }

    function GetTargetSections() {
        debugger;
        var  DestinationTemplate= $('#DestinationTemplate').val();
        $.ajax({
            type: 'Get',
            url: '../TemplateTool/GetSections?Template=' +DestinationTemplate,

            success: function (data) {

                var controls = $(Controls.Dropdown(data));
                controls.attr("id", "targetSections");
                controls.attr("onchange", "GetDestinationSubSections()");
                $("#DestinationSections").html(controls);
                GetDestinationSubSections();
            },
            error: function () {
                console.trace();
                //alert("An error occured while fetching units, Sesion expiried");
            }
        });
    } 
    //$("#target").submit(function (event) {
    //    debugger;
    //    event.preventDefault();
    //    var IsValid = true;
    //    $("#source .QBankMainRow").each(function () {
    //        debugger;
    //        var QuestionID = $(this).find("#DestinationQuestionId option:selected").val();
    //        var SourceNumberOfColumns = $(item).find('td').attr('Numberofcolumns');
    //        var QuestionText = $(item).find('td').attr('QuestionText');
    //        var QuestionControlType = $(item).closest('td').attr('QuestionControltype');
    //    });
    //})
    function IsCompatibleQuestion(item) {

        var QuestionId = $(item).val();
      //  var SourceNumberOfColumns = $(item).closest('td').attr('Numberofcolumns');
      var QuestionText = $(item).closest('td').attr('QuestionText');
        var SourceQuestionID = $(item).closest('td').attr('SourceQuestionID');
        $.ajax({
            type: 'Get',
            url: '../TemplateTool/IsCompatibleQuestion?DestinationquestionId=' + QuestionId + '&SourceQuestionId=' + SourceQuestionID,

            success: function (data) {
                if (data == "") {
                    debugger;

                    alert("</br>please Change mapping Question for '<b>" + QuestionText + "</b>'","InValid Mapping");
                    $(item).val("0");
                    //$(item).css({ 'border-color': 'red!important' });
                }

            },
            error: function () {
                console.trace();
                //alert("An error occured while fetching units, Sesion expiried");
            }
        });
    }

    function GetDestinationSubSections() {
        debugger;
        var SectionID = $('#targetSections').val();
        $.ajax({
            type: 'Get',
            url: '../TemplateTool/GetSubSections?SectionId=' + SectionID,

            success: function (data) {

                var controls = $(Controls.Dropdown(data));
                controls.attr("id", "TargetSubSections");
                //   controls.attr("onchange", "GetCopyQuestions()");
                $("#DestinationSubSections").html(controls);
                //    GetCopyQuestions();
                //$('#Que_btn').show();
            },
            error: function () {
                console.trace();
                //alert("An error occured while fetching units, Sesion expiried");
            }
        });


    }
    function GetCopyQuestions() {

        var SourceTemplate = $('#SourceTemplate').val();
        var DestinationTemplate = $('#DestinationTemplate').val();
        var SourceSubSectionID = $('#SubSections').val();
        var DestinationSubSectionId = $('#TargetSubSections').val();
        var SourceSectionId = $('#SouceSections').val();

        var DestinationSectionid = $('#targetSections').val();
        $.ajax({
            type: 'Get',
            url: '../TemplateTool/CopyQuestions?SourceTemplate=' + SourceTemplate + '&DestinationTemplate=' + DestinationTemplate + '&SourceSectionId=' + SourceSectionId + '&DestinationSectionid=' + DestinationSectionid + '&SourceSubSectionID=' + SourceSubSectionID + '&DestinationSubSectionId=' + DestinationSubSectionId,

            success: function (data) {
                //var template = "<table><tr><th>Source Questions</th></tr>";

                $("#CopyInfo").html(data);

                $('#SubSections').val(SourceSubSectionID);
                $('#TargetSubSections').val(DestinationSubSectionId);
                $('#DestinationTemplate').val(DestinationTemplate);
                $('#SourceTemplate').val(SourceTemplate);
                $('#SouceSections').val(SourceSectionId);
                $('#targetSections').val(DestinationSectionid);

                debugger;

                $(".Ddropdown").each(function () {
                    $(this).val($(this).attr("val"));
                    //$(this).find('option[value="' + $(this).attr("val") + '"]').attr("selected", "selected");
                });



            },
            error: function () {
                console.trace();
                //alert("An error occured while fetching units, Sesion expiried");
            }
        });

    }
   
</script>

<body>
  <div class="contentSub">
    <div class="rowIST">
        <table width="694" border="0">
            <tr>
                <td class="page-title">
                    <h2 style="margin-bottom:20px;">Template Mapping</h2>
                </td>
               
            </tr>
        </table>     
       
        <table class="data-table" style="width:120%!important">
            <thead>
                <tr>
                    <th style="text-align:left!important">Source Template</th>
                    <th style="text-align:left!important">Destination Template</th>
                    <th></th>
                </tr>
            </thead>
            <tr>
                <td style="width:45%!important">
                    @Html.DropDownList("SourceTemplate", (IEnumerable<SelectListItem>)@ViewBag.SourceTemplate, new { onchange = "GetData(this)" })
                </td>
                <td style="width:45%!important">
                    @Html.DropDownList("DestinationTemplate", (IEnumerable<SelectListItem>)@ViewBag.DestinationTemplate, new { onchange = "GetTargetSections()" })

                </td>
                <td></td>
            </tr>


            <tr>

                <td id="Sections" style="width:50%!important"></td>
                <td id="DestinationSections" style="width:50%!important"></td>
                <td></td>
            </tr>
            <tr ">
                <td id="SourceSubSections" style="width:50%!important"></td>
                <td id="DestinationSubSections" style="width:50%!important"> </td>
                <td> <button id="Que_btn" onclick="GetCopyQuestions();" type="button" style="display:block">Questions</button></td>

            </tr>
        </table> 
        <div id="CopyInfo"></div>

    </div>

</div>


</body>
</html>
<script>
    function SaveData() {
        debugger;
       
        var fieldsWithValues = "";
        $(".QBankMainRow .Ddropdown").each(function () {
            fieldsWithValues += $(this).closest('td').attr('SourceQuestionID') + "," + $('option:selected', this).attr('value') + "," + $(this).closest('td').attr('SourceSubsectionId') + "," + $(this).closest('td').attr('DestinationSubSectionId') + "|";
            //$(this).find('option[value="' + $(this).attr("val") + '"]').attr("selected", "selected");
        });
       // alert(fieldsWithValues);
        $.ajax({
            url: '@Url.Content("../TemplateTool/SaveData")',
            type: 'POST',
            data: 'fieldsWithValues=' + encodeURIComponent(fieldsWithValues),
            success: function (response) {
                alert("Mapping Successful");
            },

        });
    }

</script>