﻿@model FVGen3.Domain.LocalModels.LocalCopyQuestions
@using FVGen3.Domain.LocalModels;
@{
    ViewBag.Title = "CopyQuestions";
}
<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="~/css/common.css">
    <link rel="stylesheet" href="~/css/appInnerPages.css">
    <link rel="stylesheet" href="~/css/index.css">
    <link rel="stylesheet" href="~/css/templatetool.css">
    <script src="~/js/jquery-1.9.1.min.js"></script>

    <script src="~/js/common.js"></script>
    <script src="../js/jquery-1.10.3.js"></script>
    <link href="~/css/kendo/kendo.rtl.min.css" rel="stylesheet">
    <link href="~/css/kendo/kendo.default.min.css" rel="stylesheet">
    <link href="~/css/kendo/kendo.default.mobile.min.css" rel="stylesheet">
    <link href="~/css/kendo/kendo.common.min.css" rel="stylesheet" />
    <script src="~/Scripts/kendo/kendo.all.min.js"></script>
    <link href="~/css/FinancialAnalytics.css" rel="stylesheet" />
</head>



<body>
    @using (Html.BeginForm("CopyQuestions", "TemplateTool", FormMethod.Post, new { id = "target" }))
    {
        <div class="rowIST">
            @*<table width="709" border="0" class="data-table">
                <tr>
                    <td width="auto" align="left">*@
            <div class="scrollCheckbox" style="width: 790px; height: 400px;margin-right: 20px;">

                <table id="source" border="0"style="table-layout:fixed" class="data-table">
                    @if (Model.QuestionsList != null)
                    { @Html.HiddenFor(rec => rec.SourceTemplateId);
                        @Html.HiddenFor(rec => rec.DestinationTemplateId);
                        @Html.HiddenFor(rec => rec.SourceSectionId);
                        @Html.HiddenFor(rec => rec.DestionationSectionId);
                        @Html.HiddenFor(rec => rec.DestionationSubSectionId);
                        @Html.HiddenFor(rec => rec.SourceSubSectionId);
                       
                        var mappedQues = (List<SDQuestion>)ViewBag.MappedQuestions;
                        for (int i = 0; i < @Model.QuestionsList.Count; i++)
                        {
                            @Html.HiddenFor(rec => rec.QuestionsList[i].SourceQuestionId)
                            @Html.HiddenFor(rec => rec.QuestionsList[i].SourceNoOfColumns)
                            @Html.HiddenFor(rec => rec.QuestionsList[i].SourceQuestionText)
                            @Html.HiddenFor(rec => rec.QuestionsList[i].SourceDisplayorder)
                         @Html.HiddenFor(rec => rec.QuestionsList[i].SourceQuestionControltype)
                            <tr class="QBankMainRow">
                                <td width="40%">
                                    @Model.QuestionsList[i].SourceQuestionText
                                </td>


                                <td width="10%" id="DestinationQuestion" valign="top" SourceSubsectionId="@Model.SourceSubSectionId"DestinationSubSectionId="@Model.DestionationSubSectionId"  SourceQuestionID="@Model.QuestionsList[i].SourceQuestionId" Numberofcolumns="@Model.QuestionsList[i].SourceNoOfColumns"QuestionControltype="@Model.QuestionsList[i].SourceQuestionControltype" QuestionText="@Model.QuestionsList[i].SourceQuestionText">

                                    @{
                                        var ansRec = mappedQues.FirstOrDefault(r => r.SourceQuestionId == @Model.QuestionsList[i].SourceQuestionId);
                                        long ans = 0;
                                        if (ansRec != null)
                                        {
                                            ans = ansRec.DestinationQuestionId;
                                        }
                                    }
                                    @Html.DropDownListFor(rec => rec.QuestionsList[i].DestinationQuestionId, (IEnumerable<SelectListItem>)@ViewBag.Destquestions, new { @onchange = "IsCompatibleQuestion(this)", val = ans, @class = "Ddropdown" })

                                </td> 
                                @*<td width="10%" valign="top">
                                        @Html.CheckBoxFor(rec => rec.UserPermissions[i].Edit, new { style = "margin-left:30px;" })
                                    </td>*@
                            </tr>
                                            }
                                        }

                </table>
            </div>
            @*</td>

                    </tr>
                </table>*@
        </div>

         
        @*<div class="pageFooterButtons">*@
                                        <table> 
                                            <tr>
                                                <td><button type="button"onclick="SaveData()" style="float:right!important;margin-right:-20%!important">Save</button></td>
                                                @*<td><button onclick="GotoHome()">DashBoard</button></td>*@
                                            </tr>
                                        </table>

                                        }
</body>
</html>
@*<script>
 $("#target").submit(function (event) {
        debugger;
        event.preventDefault();
        var IsValid = true;
        $("#source .QBankMainRow").each(function () {
            debugger;
            var QuestionID=$(this).find("#DestinationQuestionId option:selected").val();
            var SourceNumberOfColumns = $(item).find('td').attr('Numberofcolumns');
            var QuestionText = $(item).find('td').attr('QuestionText');
            var QuestionControlType = $(item).closest('td').attr('QuestionControltype');
        });
 })
</script>*@