﻿<!--
Page Created Date:  10/08/2013
Created By: Rajesh Pendela
Purpose:  To create template tool
Version: 1.0
****************************************************
-->
@using FVGen3.Domain.Entities;
@using System.Data.SqlClient;
@using Resources;
@using FVGen3.WebUI.Constants;
@model IEnumerable<FVGen3.Domain.Entities.Templates>
@{
    ViewBag.Title = "Templates";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}




<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<link rel="stylesheet" href="../css/common.css">
<link rel="stylesheet" href="../css/appInnerPages.css">
<link rel="stylesheet" href="../css/index.css">
<link rel="stylesheet" href="../css/templatetool.css">
<link rel="stylesheet" href="../css/jquery-ui.css">

    @*<script src="../js/jquery-1.9.1.min.js"></script>*@
    <script src="../js/jquery-1.10.3.js"></script>
    <script src="../js/common.js"></script>
    <script src="~/Scripts/kendo/kendo.all.min.js"></script>



    <script src="~/Scripts/Application/customtemplate.js"></script>
    <link href="~/css/kendo/kendo.default.min.css" rel="stylesheet" />
    <link href="~/css/kendo/kendo.common.min.css" rel="stylesheet" />
    <link href="~/css/kendo/kendo.default.mobile.min.css" rel="stylesheet" />
    
<script>

    $(function () {
        $(document).tooltip();
    });

    $(document).ready(function () {
        // Added code to call setPermissions() function on 08/07/2013 by Kiran Talluri
        setPermissions('@ViewBag.ViewPermissions');
        // Ends<<< 
    });
    //Mani on 8/18/2015
    function GoToBUs(templateId) {
        TemplatePopUp = window.open("AssignUnits?TemplateId=" + templateId, "_blank", "toolbar=no,  directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=yes, width=720, height=500");
    }
</script>
<script>
    $(function () {
        $(document).tooltip();
    });
	</script>
<script type="text/javascript">

    
    //Rajesh on 10/21/2013
    function ShowTemplate(obj, templateid) {
        debugger;
        var Template = $(obj).parent("h3").find("a");
        Template.css("text-decoration", "");
        $(obj).parent("h3").find("a :first").attr("onclick", 'AddNewTemplate("' + templateid + '")');
        $(obj).parent("h3").children('a').eq(1).attr("onclick", 'AddClients("' + templateid + '")');
        $(obj).attr("src", '/images/DelButton.png');
        $(obj).attr("onclick", 'HideTemplate(this,"' + templateid + '")');
        var checkboxvalue = false;
        $.ajax({
            type: 'GET',

            url: "../TemplateTool/HideTemplate?TemplateID=" + templateid + "&Ischecked=" + checkboxvalue,
            success: function (data) {

                //if (data == "Success")

                //    alert("Show Template Sucessfully");

            }

        });

    }
    function HideTemplate(obj, templateid) {
        debugger;
        var Template = $(obj).parent("h3").find("a");
        var TemplateName = $(obj).parent("h3").find("a :first").text();

        var c = confirm("Do you want to Hide " + TemplateName + " Templete");
        if (c) {
            var a = Template.css("text-decoration", "line-through");
            Template.removeAttr('onclick');
            $(obj).attr("src", '/images/done.png');
            $(obj).width(20);
            $(obj).attr("onclick", 'ShowTemplate(this,"' + templateid + '")');

            $.ajax({
                type: 'GET',

                url: "../TemplateTool/HideTemplate?TemplateID=" + templateid + "&Ischecked=" + true,
                success: function (data) {




                }, error: function () {
                    alert("Unable to Hiden template");
                }
            });
        }
    }

    function approveTemplate(templateId) {

        var c = confirm("Once approved, you can not edit it further. Do you want to proceed?");
        if (c)
            $.ajax({
                type: 'GET',
                url: 'ApproveTemplate?TemplateType=0',
                data: '',
                success: function (data) {
                    //alert(data);
                     if (data == "RedirectToBUView")// Mani on 8/18/2015
                        TemplatePopUp = window.open("AssignUnits?TemplateId=" + templateId, "_blank", "toolbar=no,  directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=yes, width=720, height=500");
                    else if (data == "Ok")
                        window.location.reload(true);
                    else
                        alert("One of the following thing(s) must be missing: Payment/Documents/Sites/Finalize & Submit Section or Any of the sections does not have subsection");

                },
                error: function () {
                    alert("Unable to Approve template");
                }
            });
    }

    function DeleteSection(secId) {

        var c = confirm("All Subsections and Questions belonging to this Section will be deleted, Do you want to proceed?");
        if (c)
            $.ajax({
                type: 'GET',
                url: 'DeleteSection',
                data: 'TemplateSectionID=' + secId,
                success: function (data) {
                    //alert(data);
                    if (data == "OK")
                        window.location.reload(true);
                },
                error: function (req, status, result) {
                    alert("Unable to delete, Please contact administrator");
                }
            });
    }

    function DeleteTemplate(templateid) {
        var c = confirm("All Sections,Subsections and Questions belonging to this template will be deleted, Do you want to proceed?");
        if (c) {
            $(".spinnerOverlay").show();
            $('.importSubmitSpinner').show();
            
            $.ajax({
                type: 'GET',
                url: 'DeleteTemplate',
                data: 'TemplateId=' + templateid,
                success: function (data) {
                    //alert(data);
                    if (data == "OK")
                        window.location.reload(true);
                    $('.spinnerOverlay').hide();
                    $('.importSubmitSpinner').hide();
                },
                error: function (req, status, result) {
                    $('.spinnerOverlay').hide();
                    $('.importSubmitSpinner').hide();
                    alert("Unable to delete, Please contact administrator");

                }
            });
        }
    }

    //<<<Ends
    $(document).ready(function () {
        $(".ExpandListButton").click(function () {

            $(".page-subtitleAdd").removeClass("subTitle");
            $(".page-subtitleAdd").addClass("page-subtitleAdd");
            $(this).parent().parent().find(".page-subtitleAdd").addClass("subTitle"); //Rajesh on 10-19-2013

            //Rajesh on 10/21/2013


            if ($(this).parent().parent().find(".div").is(':visible') == false) {
                $(".div").not($(this).parent().parent().find(".div")).slideUp();
                $(this).parent().parent().find(".div").slideDown();
                $(".ExpandListButton").attr("src", "../images/Expandlist.png");
                $(this).attr("src", "../images/collapse.png");
            }
            else {
                $(this).parent().parent().find(".div").slideUp();
                $(this).attr("src", "../images/Expandlist.png");
            }


            //<<Ends


        });
    });


    $(function () {
        $(".sortable").sortable({
            cancel: ".hiddenList"
        });
        //$(".sortable").disableSelection();
    });

    function stopSorting(id, currentButton) {
        //alert($(currentButton).attr("flag_Arrange"));
        if ($(currentButton).attr("flag_Arrange") == "false") {
            $(currentButton).attr("flag_Arrange", "true");
            $(currentButton).attr("src", "../images/done.png");
            if ($(currentButton).attr("type") == "button") {
                $(currentButton).text("Done");
            }
        }
        else {
            $(currentButton).attr("flag_Arrange", "false");
            $(currentButton).attr("src", "../images/rearrangebutton.png");
            if ($(currentButton).attr("type") == "button") {
                $(currentButton).text("Re-Arrange");
            }
        }


        $("#" + id + " li").each(function () {

            $(this).removeClass("defaultList");
            $(this).removeClass("hiddenList");
            if ($(currentButton).attr("flag_Arrange") == "false") {
                $(this).addClass("hiddenList");
                $(this).find(".reArrangeImg").hide(); //Rajesh on 10/21/2013

            }
            else {
                $(this).addClass("defaultList");
                $(this).find(".reArrangeImg").show();
            }

        });
        if ($(currentButton).attr("flag_Arrange") == "false") {
            var ids = "";
            $("#" + id + " li").each(function () {
                ids += $(this).prop("id") + "|";
            });
            //alert('templateSectionIds=' + ids + '&TemplateId=' + id.substring(3));
            $.ajax({
                type: 'GET',
                url: 'ChangeTemplateSectionsOrder',
                data: 'templateSectionIds=' + ids + '&TemplateId=' + id.substring(3),
                success: function (data) {
                    //alert(data);

                },
                error: function () {
                    alert("Unable to re-arrange");
                }
            });
        }

    }
    $(document).ready(function () {

        $(".TemplateUnSelected").click(function () {

            $(".TemplateUnSelected").removeClass("TemplateSelected");
            $(".TemplateUnSelected").addClass("TemplateUnSelected");
            $(this).addClass("TemplateSelected");
            $(".div").slideUp();
            $(this).parent().find(".div").slideDown();

        });
    });
    var TemplatePopUp = false;

    function AddNewTemplate(templateId) {


        if (TemplatePopUp && !TemplatePopUp.closed) {
            TemplatePopUp.focus();
        }
        else {
            if (templateId == -1)
                TemplatePopUp = window.open("AddOrEditCustomTemplate", "_blank", "toolbar=no,  directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=yes, width=720, height=500");
            else
                TemplatePopUp = window.open("AddOrEditCustomTemplate?TemplateId=" + templateId, "_blank", "toolbar=no,  directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=yes, width=720, height=500");
        }
    }

    var SectionPopUp = false;
    function AddNewSection(templateId, sectionId) {


        if (SectionPopUp && !SectionPopUp.closed) {
            SectionPopUp.focus();
        }
        else {
            SectionPopUp = window.open("AddOrEditSection?TemplateId=" + templateId + "&TemplateSectionID=" + sectionId, "_blank", "toolbar=no,  directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=yes, width=750, height=700");
        }
    }

    var AddClientsPopUp = false;
    function AddClients(templateId)
    {
        if (AddClientsPopUp && !AddClientsPopUp.closed) {
            AddClientsPopUp.focus();
        }
        else {
            AddClientsPopUp = window.open("AddClients?TemplateId=" + templateId, "_blank", "toolbar=no,  directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=yes, width=750, height=700");
        }
    }

</script>

</head>

<body>


@*=============New Template ============*@ 
<div class="contentSub">
    <div id="example">
        <div id="window">
            <div class="grid"></div>

        </div>



        <div class="responsive-message"></div>
        <div id="Details">


            <div> <input id="ISChecked" type="checkbox" ><label for="boxid">@Resources.Min_Value</label>
                <input id="numeric" type="number"/>
              
                <button style="width: 50px" style="margin-left:auto;margin-right:auto;" id="quesmax">@Resources.Common_Save</button>
            </div>

        </div>

        <script>
            $('#ISChecked').click(function () {
                if ($(this).is(':checked')) {
                    $(this).siblings('label').html('Max Value');
                } else {
                    $(this).siblings('label').html('Min Value');
                }
            });
            $(document).ready(function() {
                var myWindow = $("#window"),
                    undo = $(".undo");

                undo.click(function() {
                    myWindow.data("kendoWindow").open().center();

            });

                function onClose() {

                 }

                myWindow.kendoWindow({
                    width: "900px",
                    title: "",
                    content: $(".grid").text(),
                    actions: [ "Close"],
                    visible: false,
                    height: 500,
                    close: onClose
                });

            });




            function EriInsurance(Templateid,Name) {

                $("#window").data("kendoWindow").title(Name);
                $(".grid").kendoGrid({
                    dataSource: {
                        type: "GET",
                        title:Name,
                        transport: {
                            read: "../TemplateTool/GetTemplateQuestins?TemplateId=" + Templateid
                        },
                        sort: { field: "QuestionText", dir: "desc" },
                        group: { sortable: { allowUnsort: false },field: "SubSectionName", title: ""  },
                        pageSize: 20,

                    },

                    height: 550,
                    filterable: {
                        mode: "row"
                    },
                    sortable: false,
                    pageable: true,
                    columns: [{

                        field: "QuestionText",
                        title: "Questions",
                        filterable: {
                            cell: {
                                operator: "contains",
                                suggestionOperator: "contains"
                            },

                        }
                    }, {
                        hidden: true,
                        field: "QuestionId",
                        title: "Id",
                        filterable: false,

                    },
                    {
                        hidden: true,
                        field: "SubSectionName",
                        title: "Sub Section",
                        sortable: { allowUnsort: false },
                    }, {

                        field: "Value",
                        title: "Max/Min Value</br><p style=font-size:12px;color:red!important>(Red Indicates Minimum value)</p>",
                      
                        template: '#= Value ==  null ? "" : Getvalue(IsMax,Value) #'
                        
                    },
                     {
                         hidden: true,
                         field: "IsExist",
                         title: "Is Exist"

                     },
                      {
                          hidden: true,
                          field: "IsMax",
                          title: "IsMax"

                      },

                           { template: "#if (IsExist==false) {#<a class=k-button k-button-icontext k-grid-edit onclick=\"AddDetails(#=QuestionId #,'#=QuestionText#')\">Add</a> #} else {#<a class=k-button k-button-icontext  onclick=\"DeleteDetails(#=QuestionId #)\">@Resources.Common_Delete</a> #}#" }

                      ]

                  });
                  }



                  $("#Details").kendoWindow({
                      height: "200px",

                      title:"",
                      visible: false,
                      modal: true,
                      width: "300px"
                  })

        </script>

        <script>
            var QuestionId = 0;
            $("#quesmax").click(function () {
                debugger;
                var x = $("#numeric").val();
                if (x == "" || x == null) {
                    alert("Please enter valid input");
                    return;
                }
              
                var y = $("#ISChecked").is(':checked') ? true : false;
              
                if (QuestionId == 0)
                    return;
                window.kendo.ui.progress($(".grid"), true);
                $.ajax({
                    type: "GET",

                    url: "../TemplateTool/SelectedTemplateQuestions?QuestionId=" + QuestionId + "&MaxValue=" + x + "&checkbox=" + y,

                    success: function (result) {
                        if (result == "Data Exist") {
                            window.kendo.ui.progress($(".grid"), false);
                            $('.grid').data('kendoGrid').dataSource.read();

                        }
                    }
                });
                $("#Details").data("kendoWindow").close();
            });
            
            function AddDetails(QuestionIdLoc, QuestionText) {
                
                  var kwindow = $("#Details").data("kendoWindow").title(QuestionText);
                  QuestionId = QuestionIdLoc;
                  kwindow.center();
                  kwindow.open();
            }
            function Getvalue(IsMax, Value) {

                if (IsMax == false)
                    return "<b style='color:red'>" + Value + "</b>";
                else
                    return Value;
            }
            function DeleteDetails(QuestionId) {
                window.kendo.ui.progress($(".grid"), true);

                $.ajax({
                    type: "GET",

                    url: "../TemplateTool/DeleteSelectedTemplateQuestions?QuestionId=" + QuestionId,

                    success: function (result) {
                        if (result == "Record Deleted") {
                            window.kendo.ui.progress($(".grid"), false);
                            $('.grid').data('kendoGrid').dataSource.read();
                            alert("Deleted successfully");

                        }
                    }
                });


            }
        </script>
    </div>
    @{var template_pre = @Model.FirstOrDefault(rec => rec.TemplateStatus == 0);}
    
    <div class="subSectionDataBackground">
        <div class="rowIST">
           <table width="100%">
            <tr>
                <td align="left">
                
                <div class="page-subtitle" >
                <h2>@Resources.Create_Questionnaire</h2>
                 
            </div></td>
            @if (template_pre != null)
            {
               <td><button type="button" style="float:right; margin-right:0.4%;margin-top:-10px;"  onclick="approveTemplate('@template_pre.TemplateID')">@Resources.Approve_Btn</button> </td>
            }
            </tr>
        </table>
        </div>
           
        @if (template_pre == null)
        {
            <div class="welcomeTextWizard">
                <div >
                    <button type="button" onclick="AddNewTemplate(-1)">@Resources.Common_AddNew</button>
                </div>
                <div class="welcomeText">
                    <h3 onclick="AddNewTemplate(-1)">@Html.Raw( @Resources.TemplatesAndSections_WelcomeText)</h3>
                </div>
                    
               
            </div>            
        }
        else
        {
            <div class="newTemplateWizard">
                <div>
                    <table width="100%">
                    <tr>
                    @*Rajesh on 1/2/2014*@
                    <td colspan="3">@try
                                    {
                                        @: @string.Join(",", @template_pre.ClientTemplates.Where(r => r.ClientID >= 0).Select(r => r.Organizations.Name))

                                    }
                        catch { }</td>@*Ends<<*@
                    </tr>
                        <tr>
                            <td>
                                <div class="page-subtitle">
                                    <h2>@template_pre.TemplateName </h2>
                                </div>
                                <div class="subSectionDataContent">
                                    @template_pre.TemplateNotes
                                </div>
                            </td>
                                    
                                	 
                            <td width="30" align="right" valign="top"><img style="cursor:pointer;" src="../images/EditIcon.png" onclick="AddNewTemplate('@template_pre.TemplateID')"/></td>
                            <td width="30" align="right" valign="top"><img style="cursor:pointer;" src="../images/DelButton.png" onclick="DeleteTemplate('@template_pre.TemplateID')"/></td>
                        </tr>
                    </table>
                </div>
            </div>
               
               
            <div>
                <table   width="100%" style="border-collapse:collapse;" >
                    <tr>
                        <td align="left" style="padding-left:3%;"><h3>@Resources.TemplatesAndSections_AddSectionText@template_pre.TemplateName</h3></td>
                        @if (template_pre.TemplateSections != null && template_pre.TemplateSections.Where(rec => rec.TemplateSectionType != 0 && rec.TemplateSectionType != 31).Count() > 0)
                        {
                            <td> <button type="button" value="Preview" onclick="window.location='TemplatePreview?TemplateSectionID=-1&ClientId=-1&type=0'">@Resources.Quiz_Preview</button></td>
                        }
                        <td> <button type="button" value="Add New" style="margin-right:5px;" onclick="AddNewSection('@template_pre.TemplateID','-1')">@Resources.Common_AddNew</button></td>
                        <td><button style="float:right; margin-right:5px;" type="button" class="undo" onclick="EriInsurance('@template_pre.TemplateID','@template_pre.TemplateName')">@Resources.CreateTemplate_Questions_Configuration</button></td>
                    </tr>
                    
                    <tr>
                        <td valign="top"><i>@Resources.Incomplete_Sec</i></td>
                         @if (template_pre.TemplateSections != null && template_pre.TemplateSections.Where(rec => rec.TemplateSectionType != 0).Count() > 0)
                        {
                            <td></td>
                        }
                        <td></td>
                    </tr>
                </table>
                @if (template_pre.TemplateSections.ToList().Count() == 0)
                {
                    <div class="welcomeTextWizard">
                        
                        <div class="welcomeText">
                            <h3 onclick="AddNewSection('@template_pre.TemplateID','-1')">@Resources.TemplatesAndSections_WelcomeText</h3>
                        </div>
                    </div>   
                }
                else
                {
                <div class="newTemplateWizard">@* For Section List*@
                    @if (template_pre.TemplateSections.ToList().Count() > 1)
                    {
                        <img src="../images/rearrangebutton.png"  style="float:right;cursor:pointer; margin:10px 15px 0 0px;" type="button" value="Add New" onclick="stopSorting('id_@template_pre.TemplateID',this)" flag_Arrange="false"/>
                    }
                    <div id="space"></div>
                    <div class="newTemplateSectionList">
                        <ul class="sortable" id="id_@template_pre.TemplateID">

                                @foreach (var sec in template_pre.TemplateSections.ToList().OrderBy(rec => rec.DisplayOrder))
                                {
                                             
                                    var url = "SubSectionView" + QueryStringModule.Encrypt("SectionId=" + @sec.TemplateSectionID);
                                <li class="hiddenList" id="@sec.TemplateSectionID">
                                        <table width="99%">
                                        <tr>
                                            <td width="45%"><a href="#!" onclick="AddNewSection('@template_pre.TemplateID','@sec.TemplateSectionID')"><div>@sec.SectionName</div></a> @*Srinivas 2/25/2014*@
                                            
                                            @if (sec.TemplateSectionType != 31 && sec.TemplateSectionType != 0 && sec.TemplateSectionType != 99 && (sec.TemplateSubSections == null || sec.TemplateSubSections.Count() == 0))
                                            {
                                                @: <div> * </div>
                                            }
                                            
                                            </td>
                                                    
                                            @if (@sec.TemplateSectionType == 0 )
                                            {
                                                <td width="25%" title="Content in this section can be added from companies details page. To navigate My Account >> Companies >> Edit"><a href="#!">@Resources.Hint_Text</a></td>
                                                @*if (@template_pre.IsERI == true)
                                                {

                                                    <td><a href="~/Companies/EditClient?OrganizationId=-1&isSuccess=false">Set Header</a></td>
                                                }*@
                                            }
                                            @*Rajesh on 1/22/2014*@
                                            else if (@sec.TemplateSectionType == 31)
                                            {
                                                        <td width="25%" title="Content in this section can be added from companies details page. To navigate My Account >> Companies >> Edit"><a href="#!">@Resources.Hint_Text</a></td>
                                                @*if (@template_pre.IsERI == true)
                                                {

                                                    <td><a href="~/Companies/EditClient?OrganizationId=-1&isSuccess=false">Set Header</a></td>
                                                }*@


                                            }
                                                    @*Ends<<<<*@
                                            else if (@sec.TemplateSectionType == 3 || @sec.TemplateSectionType == 99 || @sec.TemplateSectionType == 33)
                                            {
                                                <td width="45%"><a href="@url">@Resources.Common_label_ViewSubsection</a></td>
                                            }
                                            else if (@sec.TemplateSectionType == 5 || @sec.TemplateSectionType == 6 || @sec.TemplateSectionType == 8)
                                            {
                                                var urlPerClient = "AddOrEditPreSubSections" + QueryStringModule.Encrypt("SectionId=" + @sec.TemplateSectionID);
                                                <td width="45%"><a href="@urlPerClient">Per-Client</a></td>
                                            }
                                            else if (@sec.TemplateSectionType == 4 || @sec.TemplateSectionType == 7)
                                            {
                                                <td width="45%"><a href="@url">Add Header/Footer</a></td>
                                            }
                                            else
                                            {
                                                <td width="45%"><a href="@url">Add Sub-Sections</a></td>
                                            }
                                            
                                            @*Rajesh on 10/21/2013 >>> *@
                                                    
                                            <td align="right" valign="bottom"><img src="../images/rearrange.png" class="reArrangeImg" style="display:none;"/></td>

                                                    
                                                    
                                            <td align="right" valign="bottom"><img src="../images/DelButton.png" onclick="DeleteSection('@sec.TemplateSectionID')"/></td>
                                                @*<<<<Ends*@

                                        </tr>
                                    </table> 
                                </li>
                                }
                        </ul>
                    </div>
                    </div>
                }
            </div>

        }
    </div>
</div>
@*==========Closing of New Template=========*@

 
 @* Another Content Sub  Rajesh on 12/21/2013*@ 
<div class="contentSub">
    <div id="accord" style="float:left;">
        <div class="rowIST">
		    <div class="page-subtitle">
                <h2>@Resources.Existing_Templates</h2>
            </div>
        </div>
        <div id="accord">
            <ul>
                @foreach (var template in @Model.Where(rec => rec.TemplateStatus == 1).ToList())
                {
			        <li class="list">
                                
                        <div class="templateListDisplay">
                            
                            <img src="../images/expandlist.png" style="float:right;margin-right:3px;" class="ExpandListButton"/>
                            <h3>
                                @*<a href="#!" onclick="AddNewTemplate('@template.TemplateID')">@template.TemplateName</a>*@
                                <a href="#!"
                                   @if (@template.IsHide == true) { @: style="text-decoration: line-through;"
                                                                      } 
                                                                      else 
                                                                      { @: onclick="AddNewTemplate('@template.TemplateID')"
                                                                      }
                                        >@template.TemplateName</a>
                                
                                @if(@template.IsERI){
                                @:(@template.ClientTemplates.Where(r=>r.Organizations.OrganizationType=="Super Client").FirstOrDefault().Organizations.Name)
                                }
                               

                                @if (template.IsERI)
                                {
                                    <a href="#!" style="float:right;margin-right:12px;" onclick="AddClients('@template.TemplateID')">@Resources.AddClients </a>
                                }
                                <img src="~/images/log.jpg" width="20" height="20" onclick="showLogs('@template.TemplateName','@template.TemplateID')" />
                                @if (@template.IsHide == false)
                                {
                                    <img src="~/images/DelButton.png" onclick="HideTemplate(this,'@template.TemplateID')" />
                                }
                                else
                                { <img src="~/images/done.png" onclick="ShowTemplate(this,'@template.TemplateID')" />
                                }
                                 @if (@template.DefaultTemplate == false)
                                 {
                                <i style="font-size:0.9em;margin-left:10px;margin-top:10px;">for @Html.Raw(string.Join(",",template.ClientTemplates.Where(r=>r.Organizations.OrganizationType!= OrganizationType.SuperClient).Select(r=>(r.Visible?"":"<strike>")+ r.Organizations.Name+ (r.Visible ? "" : "</strike>")).ToList()))</i>
                                 }
                            </h3>
                           
                           

                        </div> 
       				    <div class="div" style="margin-bottom:15px;  ">
                        <button style="float:right; margin-right:2px;" type="button" value="Preview" onclick="window.location='TemplatePreview?TemplateSectionID=-1&ClientId=-1&type=0&templateId=@template.TemplateID'">@Resources.Quiz_Preview</button>
                        <button style="float:right; margin-right:2px;" type="button" value="Add New" onclick="GoToBUs('@template.TemplateID')">@Resources.Assign_BUs</button>@*Mani on 8/18/2015*@
					        <button style="float:right; margin-right:2px;" type="button" value="Add New" onclick="AddNewSection('@template.TemplateID','-1')">@Resources.Common_AddNew</button>
                            <button style="float:right; margin-right:5px;" type="button" value="Add New" onclick="stopSorting('id_@template.TemplateID',this)" flag_Arrange="false">@Resources.Re_Arrange</button>
                               <div> <button style="float:right; margin-right:5px;" type="button" class="undo" onclick="EriInsurance('@template.TemplateID','@template.TemplateName')">@Resources.CreateTemplate_Questions_Configuration</button></div> 
                            <div id="space" style="float:left; width:100%; height:10px;"></div><!---for spacing---->
                            <ul class="sortable" id="id_@template.TemplateID" style="margin-left:20px">
                                    @foreach (var sec in template.TemplateSections.ToList().OrderBy(rec => rec.DisplayOrder))
                                    {

                                        var url = "SubSectionView" + QueryStringModule.Encrypt("SectionId=" + @sec.TemplateSectionID);
                                        <li class="hiddenList" id="@sec.TemplateSectionID">
                                            <table width="97%">
                                                <tr>
                                                    <td width="45%"><a href="#!" onclick="AddNewSection('@template.TemplateID','@sec.TemplateSectionID')">@sec.SectionName</a></td>
                                                    @if (@sec.TemplateSectionType == 0)
                                                    {
                                                        <td width="25%" title="Content in this section can be added from companies details page. To navigate My Account >> Companies >> Edit"><a href="#!">@Resources.Hint_Text</a></td>
                                                        if (@template.IsERI == true)
                                                        {

                                                            <td><a target="_blank" href="~/Companies/EditClient?OrganizationId=@template.ClientTemplates.FirstOrDefault(r=>r.Organizations.OrganizationType==OrganizationType.SuperClient).ClientID&isSuccess=false">@Resources.Set_Header</a></td>
                                                        }
                                                    }
                                                    @*Rajesh on 1/22/2014*@
                                                    else if (@sec.TemplateSectionType == 31)
                                                    {
                                                        <td width="25%" title="Content in this section can be added from companies details page. To navigate My Account >> Companies >> Edit"><a href="#!">@Resources.Hint_Text</a></td>
                                                        if (@template.IsERI == true)
                                                        {

                                                            <td><a target="_blank" href="~/Companies/EditClient?OrganizationId=@template.ClientTemplates.FirstOrDefault(r=>r.Organizations.OrganizationType==OrganizationType.SuperClient).ClientID&isSuccess=false">@Resources.Set_Header</a></td>
                                                        }
                                                    }
                                                    @*Ends<<<<*@
                                                    else if (@sec.TemplateSectionType == 3 || @sec.TemplateSectionType == 99 || @sec.TemplateSectionType == 33)
                                                    {
                                                        <td width="45%"><a href="@url">@Resources.View_SubSec</a></td>
                                                    }
                                                    else if (@sec.TemplateSectionType == 5 || @sec.TemplateSectionType == 6 || @sec.TemplateSectionType == 8)
                                                    {
                                                        var urlPerClient = "AddOrEditPreSubSections" + QueryStringModule.Encrypt("SectionId=" + @sec.TemplateSectionID);
                                                        <td width="45%"><a href="@urlPerClient">@Resources.Per_Client</a></td>
                                                    }
                                                    else if (@sec.TemplateSectionType == 4 || @sec.TemplateSectionType == 7)
                                                    {
                                                        <td width="45%"><a href="@url">@Resources.Add_HeaderOrFooter</a></td>
                                                    }
                                                    else
                                                    {
                                                        <td width="45%"><a href="@url">@Resources.Add_Sub_Sections</a></td>
                                                    }
                                                    <td align="right" valign="bottom"><img src="../images/rearrange.png" class="reArrangeImg" style="display:none;"/></td>@*Rajesh on 10/21/2013 *@
                                                </tr>
                                            </table> 
                                        </li>
                                    }
                            </ul>
						</div>
			        </li>
                }
            </ul>	
                
        </div>
             
    </div>

</div>
@* Closing of Existing templates Ends<<<*@
 
 @*For Spinner*@
    <div class="spinnerOverlay">
	      <img src="../images/spinner.gif" width="28" height="28" class="importSubmitSpinner" alt="Spinner" />
    </div>
    
</body>
</html>
