﻿@{
    ViewBag.Title = "Dependent Questions";
}

<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=8"/>
<meta http-equiv="X-UA-Compatible" content="IE=9"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width"/>


@Styles.Render("~/css/appPopUp.css")
@Styles.Render("~/css/appInnerPages.css")
   
@Scripts.Render("~/Scripts/jquery-1.9.1.min.js")
@Styles.Render("~/Content/Site.css")    
@Scripts.Render("~/js/common.js")
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<script type="text/javascript">
    function DependentControlChange(obj) {

        
        var type = $("#sectionRadio").is(":checked") ? 1 : 0;

        if ($(obj).attr("type") == "checkbox") {
        }
        else if ($(obj).attr("type") == "radio") {
            type = ($(obj).attr("dependentType"));
            if (type == 1)
                $("#sectionRadio").prop("checked", true);
            else
                $("#questionRadio").prop("checked", true);
        }
        else {
            type = $('option:selected', obj).attr('dependentType');
            if (type == 1)
                $("#sectionRadio").prop("checked", true);
            else
                $("#questionRadio").prop("checked", true);
        }


        if ($(obj).attr("type") == "checkbox") {
            var val = $(obj).is(":checked") ? "true" : "false";
            DependentChange(type, val);
        }

        else {
            DependentChange(type, $(obj).val());
        }
    }
    
    function sectionRadioClick() {

        if (document.getElementsByName("DependentValue")[0].getAttribute('type') == "radio") {
            //alert($("input[name='DependentValue']:checked").val());
            DependentChange(1, $("input[name='DependentValue']:checked").val());
        }
        else if (document.getElementsByName("DependentValue")[0].getAttribute('type') == "checkbox") {
            var val = $("input[name = 'DependentValue']").is(":checked") ? "true" : "false";
            //alert(val);
            DependentChange(1, val);
        }
        else {
            //alert($("select[name='DependentValue']").val());
            DependentChange(1, $("select[name='DependentValue']").val());
        }
        //DependentChange(1);
    }
    function questionRadioClick() {
        if (document.getElementsByName("DependentValue")[0].getAttribute('type') == "radio") {
            //alert($("input[name='DependentValue']:checked").val());
            DependentChange(0, $("input[name='DependentValue']:checked").val());
        }
        else if (document.getElementsByName("DependentValue")[0].getAttribute('type') == "checkbox") {
            var val = $("input[name = 'DependentValue']").is(":checked") ? "true" : "false";
            //alert(val);
            DependentChange(0, val);
        }
        else {
            //alert($("select[name='DependentValue']").val());
            DependentChange(0, $("select[name='DependentValue']").val());
        }
    }


    function DependentChange(type, value) {

        $.ajax({
            type: 'Post',
            url: 'getDependentValues',
            data: '&QuestionId=@ViewBag.QuestionId&type=' + type + '&value=' + value,
            success: function (data) {
                $('#DependentsList').empty();
                var depCount = 0;
                for (var i = 0; i < data.length; i++) {
                    var datasec = data[i].Text;
                    var datasecId = data[i].Value;
                    var dataSel = data[i].Selected;

                    if (datasec == null)
                        datasec = "";
                    //                        var d = '<tr><td width="2%" style="padding:0 0 0 5px;" valign="top"><input id="' + datasecId + '" type="checkbox" style="margin:5px 0 0 0;float:inherit;"/></td><td><label for="' + datasecId + '" style="padding:5px 0 0 5px; line-height:normal;  ">' + datasec + '</label></td></tr>';
                    //                        if (dataSel == true)
                    //                            d = '<tr><td width="2%" style="padding:0 0 0 5px;" valign="top"><input id="' + datasecId + '" type="checkbox" checked="checked" style="margin:5px 0 0 0;float:inherit;"/></td><td><label for="' + datasecId + '" style="padding:5px 0 0 5px; line-height:normal;  ">' + datasec + '</label></td></tr>';

                    var d = '<tr><td width="2%" style="padding-top:0;padding-bottom:0;"><div class="rowPopUpRadioCheckbox" style="padding:0;width:auto;border:0;"><table border="0"><tr><td valign="top"><input id="' + datasecId + '" type="checkbox"/></td><td><label for="' + datasecId + '"  style="width:auto; line-height:normal;">' + datasec + '</label></td></tr></table></div></td></tr>';
                    if (dataSel == true)
                        d = '<tr><td width="2%" style="padding-top:0;padding-bottom:0;"><div class="rowPopUpRadioCheckbox"  style="padding:0;width:auto;border:0;"><table border="0"><tr><td valign="top"><input id="' + datasecId + '" type="checkbox" checked="checked"/></td><td><label for="' + datasecId + '" style="width:auto; line-height:normal;">' + datasec + '</label></td></tr></table></div></td></tr>';

                    var newOption = $(d);
                    if (dataSel == true)
                        depCount = depCount + 1;

                    $('#DependentsList').append(newOption);
                }

                $('#DependentValueForDisplay').text(value);
                $('#DependenciesCount').text(depCount);
                if (type == 0) {
                    $('#onChangeDependanciesLabel').html("<b>No. Of Dependent Questions:</b>");
                }
                else {
                    $('#onChangeDependanciesLabel').html("<b>No. Of Dependent Sections:</b>");
                }

            },
            error: function (req, status, error) {
                //console.trace();
                alert("Unable to get sections");
            }
        });

    }
   
    function saveDependences() {
        var dependentType = 0;
        if ($("#sectionRadio").is(":checked"))
            dependentType = 1;
        var dependentIds="";
        $('#DependentsList :input').each(function () {
            if ($(this).is(":checked"))
                dependentIds += $(this).attr("id") + ",";
        });
//        if ($("#DependentValue").val().trim() == "") {
//            alert("Enter Dependent Value");
//            return;
        //        }
        var DependentVal = "";
        if (document.getElementsByName("DependentValue")[0].getAttribute('type') == "radio") {
            //alert($("input[name='DependentValue']:checked").val());
            //DependentChange(1, $("input[name='DependentValue']:checked").val());
            DependentVal = $("input[name='DependentValue']:checked").val();
        }
        else if (document.getElementsByName("DependentValue")[0].getAttribute('type') == "checkbox") {
        
            DependentVal = $("input[name = 'DependentValue']").is(":checked") ? "true" : "false";
            
        }
        else {
            //alert($("select[name='DependentValue']").val());
            //DependentChange(1, $("select[name='DependentValue']").val());
            DependentVal = $("select[name='DependentValue']").val();
        }
        if (DependentVal.trim() == "") {
            alert("Select Dependent Value");
            return;
        }
        if (dependentIds == "") {
//            alert("Select Dependents");
//            return;
        }
        $.ajax({
            type: 'GET',
            url: 'saveDependancies',
            data: '&QuestionId=@ViewBag.QuestionId&DependentValue=' + DependentVal + '&dependentType=' + dependentType + '&dependentIds=' + dependentIds,
            success: function (data) {

                window.close();


            },
            error: function (req, status, error) {
                //console.trace();
                alert("Unable to save dependences");
            }
        });
    }
</script>
</head>

<body>
        <div class="popUpContainer"> 
            <div class="popUpContent">
                <div class="popUpSubContent"> 
                	<div class="page-title">
    					<h2>@Resources.Resources.Ques_Dependents</h2>
    				</div>
                   	<div class="rowPopUp">
                    	<div class="page-subtitle">
    					<strong>@ViewBag.QuestionName</strong>
    				</div>
                    </div>
                    
                                        @*Srinivas 1/24/2014*@
		    <div  class="rowPopUpRadioCheckbox">
                    
                        <table>
                            <tr>
                                <td>
                                    <label>@Resources.Resources.Dependent_Value</label>
                                </td>
                                <td>
                                    <table>
                                        <tr>
                                            <td>
                                                @* We assumes one question has 1 question column detail *@
                                                @{var question = ((FVGen3.Domain.Entities.Questions)ViewBag.Question);
                                                  var command = (System.Data.SqlClient.SqlCommand)ViewBag.command;
                                                  }
                                                @if (question.QuestionColumnDetails[0].QuestionControlTypeId == 7)//Means radio
                                                {
                                                    var i = 0;
                                                    foreach (string questionText in question.QuestionColumnDetails[0].ColumnValues.Split('|'))
                                                    {
                                                        var dependent = question.QuestionsDependants.FirstOrDefault(rec => rec.DependantValue == questionText);
                                                        var dependentType = 1;
                                                        if (dependent != null)
                                                        {
                                                            dependentType = dependent.DependantType;
                                                        }
                                                        <table>
                                                            <tr>
                                                            <td>
                                                                <input name="DependentValue" type="radio" id="@i" onclick="DependentControlChange(this)"
                                                                    @if (@ViewBag.DependentValue == @questionText)
                                                                    {
                                                                        @:checked="checked"
                                                                    }
                                                                 dependentType="@dependentType"    
                                                                 value="@questionText"/>
                                                             </td>
                                                             <td>@questionText</td>                                                             
                                                             </tr>
                                                         </table> 
                                                            i++;
                                                    }
                                                }
                                                else if (question.QuestionColumnDetails[0].QuestionControlTypeId == 8)//Means checkbox
                                                {
                                    
                                                    <input name="DependentValue" type="checkbox" onclick="DependentControlChange(this)"
                                                            @if (@ViewBag.DependentValue == "true")
                                                            {
                                                                @:checked="checked"
                                                            }
                                                         /> @question.QuestionColumnDetails[0].ColumnValues
                                                }
                                                else if (question.QuestionColumnDetails[0].QuestionControlTypeId == 9)//Means DropDown
                                                {
                                    
                                                    if (string.IsNullOrEmpty(question.QuestionColumnDetails[0].ColumnValues))//Get values from table reference
                                                    {                                                        
                                                        var sql = "Select " + question.QuestionColumnDetails[0].TableReferenceField + "," + question.QuestionColumnDetails[0].TableRefFieldValueDisplay + " From " + question.QuestionColumnDetails[0].TableReference;
                                                        command.CommandText = sql;
                                                        var result = command.ExecuteReader();
                                                        <select name="DependentValue" onchange="DependentControlChange(this)">
                                                        @while (result.Read())
                                                        {
                                                            var dependent = question.QuestionsDependants.FirstOrDefault(rec => rec.DependantValue == result[0].ToString().Trim());
                                                            var dependentType = 1;
                                                            if (dependent != null)
                                                            {
                                                                dependentType = dependent.DependantType;
                                                            }
                                            
                                                            if (@ViewBag.DependentValue == @result[0].ToString().Trim())
                                                            {
                                                                <option selected value="@result[0].ToString().Trim()" dependentType="@dependentType">@result[1].ToString().Trim()</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@result[0].ToString().Trim()" dependentType="@dependentType">@result[1].ToString().Trim()</option>
                                                            }
                                                        }
                                                        </select>
                                                    }
                                                    else//Values from 
                                                    {
                                                        <select name="DependentValue" onchange="DependentControlChange(this)">
                                                        @foreach (string questionText in question.QuestionColumnDetails[0].ColumnValues.Split('|'))
                                                        {
                                                            var dependent = question.QuestionsDependants.FirstOrDefault(rec => rec.DependantValue == questionText);
                                                            var dependentType = 1;
                                                            if (dependent != null)
                                                            {
                                                                dependentType = dependent.DependantType;
                                                            }
                                                        <option name="DependentValue" 
                                                            @if (@ViewBag.DependentValue == @questionText)
                                                            {
                                                                @:selected="selected"
                                                            }
                                                         dependentType="@dependentType"    
                                                         value="@questionText"> @questionText</option>
                                            
                                                        }
                                                        </select>
                                                    }
                                                }
                                                else
                                                {
                                                    <input id="DependentValue" value="@ViewBag.DependentValue"></input>
                                                }
                                
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        
                    </div>
                    <div  class="rowPopUpRadioCheckbox">
                    	<table border="0" style="">
                        	<tr>
                            	<td valign="top"><label >@Resources.Resources.Dependent_Sect</label></td>
                                <td valign="top"><input type="radio" id="sectionRadio" name="name" onclick="sectionRadioClick()"
                                
                                 @if (@ViewBag.DependentType == null || ViewBag.DependentType == 1)
                                 {
                                    @:checked="checked"   
                                }
                                ></input></td>
                                <td valign="top"><label for="sectionRadio">@Resources.Resources.Common_label_Section</label></td>
                                <td valign="top"><input id="questionRadio" type="radio"name="name" onclick="questionRadioClick()"
                                
                                 @if (@ViewBag.DependentType != null && ViewBag.DependentType == 0)
                                 {
                                    @:checked="checked"   
                                }
                                ></input></td>
                                 <td valign="top" width="100"><label for="questionRadio">@Resources.Resources.Common_label_question_col</label></td>
                            </tr>
                    	</table>
                    </div>
                    <div  class="rowPopUp" >
                        <table border="0">
                            <tr>
                                
                                <td colspan="2"><div class="scrollCheckboxQuestionDep" style="height: 250px">
                            @{ var dependenciesCount = 0;}
                        	<table border="0" id="DependentsList">
                                
                                    @foreach (var SListItem in (List<SelectListItem>)@ViewBag.depends)
                                    {
                                        <tr>
                                        	<td width="2%" valign="top"><input id="@SListItem.Value" type="checkbox"  
                                            
                                            @if (SListItem.Selected)
                                            {
                                                @:checked="checked"
                                                dependenciesCount = dependenciesCount + 1;
                                             } 
                                            
                                            /></td>
                                            <td valign="top"><label for="@SListItem.Value" >@SListItem.Text</label></td>
                                        </tr>
                                    }
                                    	
                                    </table>
                        </div></td>
                                <td width="33.3%" valign="top">
                                        <table class="forDependancies">
                                          
                                            <tr height="35" id="onChangeDependancies1">
                                                <td width="70%" valign="middle" align="center"><b>@Resources.Resources.Dependent_Value</b></td>
                                                <td width="30%" valign="middle" align="center" id="DependentValueForDisplay">@ViewBag.DependentValue</td>                                             
                                            </tr>
                                            <tr id="onChangeDependancies2">
                                                <td width="70%" valign="middle" align="center" id="onChangeDependanciesLabel">
                                                @if (@ViewBag.DependentType != null && ViewBag.DependentType == 0)
                                                {
                                                    <b>@Resources.Resources.Dep_Ques</b>    
                                                }
                                                else
                                                { 
                                                    <b>@Resources.Resources.Dep_Sec</b>
                                                }
                                                </td>
                                               
                                                <td width="30%" valign="middle" align="center" id="DependenciesCount">@dependenciesCount</td>
                                            </tr>
                                        </table>
                                      
                                    </td>
                            </tr>
                    </table>
                    @*Ends<<<*@
                   	
                   		
                        <div class="popUpSubContent">
                            <div class="pageFooterContent"> 
                                <div class="pageFooterButtons">
                                    <table>
                                        <tr>
                                        @*Rajesh on 12/31/2013*@
                                         @if (@ViewBag.Question.QuestionColumnDetails == null || !(((FVGen3.Domain.Entities.Questions)@ViewBag.Question).QuestionColumnDetails.Where(rec => rec.PrequalificationUserInputs != null && rec.PrequalificationUserInputs.Count() > 0).Count() > 0))
                                         {
                                            <td><button type="button" onclick="saveDependences()" btnType="Insert" class="PageFooter_Button">@Resources.Resources.Common_Save</button></td>
                                            <td btnType="Insert">@Resources.Resources.Common_label_or</td>
                                         }
                                         @*Ends<<<*@
                                            
                                            <td><div class="pageFooterCancelButton"><a href="#!" onclick="window.close();">@Resources.Resources.Common_Cancel</a></div></td>
                                        </tr>	
                                    </table> 
                                </div>
                            </div>        
                        </div>     
                    </div>
                   
                </div>
            </div>
        </div>
                
</body>
</html>
