﻿@{
    Layout = null;
}
<div class="partialPage">
                    <table border="0">
                    @foreach (var horf in (List<FVGen3.Domain.Entities.TemplateSectionsHeaderFooter>)ViewBag.HorF)
                    {
                    	@:<tr style="border:0;">
                        	<td width="90%"><b class="PositionTitle">@horf.PositionTitle </b></td>
                            
                            <td width="5%"><img src="../images/EditIcon.png" style="cursor:pointer;"
                            
                            @if(ViewBag.type==1)
                            {
                                @:onclick="editFooter('@horf.HeaderFooterId',this)"
                            }
                            else
                            {
                                @:onclick="editHeader('@horf.HeaderFooterId',this)"
                            }
                            /></td>
                            <td width="5%"><img src="../images/DelButton.png" style="cursor:pointer;" onclick="deleteHeaderOrFooter('@horf.HeaderFooterId')"/></td>
                        @:</tr>
                       <tr style="border:0;">
                            <td colspan="3" class="positionContent"><div id="horfContent_@horf.HeaderFooterId">@Html.Raw(@horf.PostionContent)</div></td>
                       </tr>
                    }
                    </table>
                  </div>