﻿@model FVGen3.Domain.Entities.LocalQuestionColumnDetails

@{
    ViewBag.Title = "HighlightedQuestion";
}


@*<div class="rowPopUpRadioCheckbox">
<label>@Resources.Resources.Dependent_Value</label>
@{int j = 0;}
@foreach (var question in @Model.QuestionAnswer.Split('|').ToList())
{
 @Html.RadioButtonFor(model => model.QuestionAnswer, question, new { id = ++j })
    <label for="@j"> @question </label>
}</div>
<div class="pageFooterCancelButton">  @Resources.Resources.Common_Save  </div>
    <div class="pageFooterCancelButton"><a href="#!" onclick="window.close();">@Resources.Resources.Common_Cancel</a></div>*@



<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width" />


    @Styles.Render("~/css/appPopUp.css")
    @Styles.Render("~/css/appInnerPages.css")

    @Scripts.Render("~/Scripts/jquery-1.9.1.min.js")
    @Styles.Render("~/Content/Site.css")
    @Scripts.Render("~/js/common.js")
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

    <script type="text/javascript">
    

    function saveDependences() {
        var dependentType = 0;
      
        var SelectedAnswer = "";
       // var SelectedColor = "";
       
        //if (document.getElementsByName("DependentValue")[0].getAttribute('type') == "radio") {
            debugger;
            var SelectedAnswer = "";
            var DropdownVal="";
            //   SelectedAnswer=    $("input[name='DependentValue']:checked").val();
            var j=0;
            $("input[name='DependentValue']").each(function () {
                debugger;
                SelectedAnswer += $(this).val() + "|" + $("#HasColor_" + j).val() + ",";
           //DropdownVal+=$("#HasColor_"+j).val();

           j++;
       })
      // SelectedColor = $('#HighlightedColor').val();
           
                //}
        //else if (document.getElementsByName("DependentValue")[0].getAttribute('type') == "checkbox") {

        //    SelectedAnswer = $("input[name = 'DependentValue']").is(":checked") ? "true" : "false";
        //    SelectedColor = $('#HighlightedColor').val();
        //}
       
        $.ajax({
            type: 'GET',
            url: 'saveQuestionColors',
            data: '&QuestionId=@ViewBag.QuestionId&DependentValue=' + SelectedAnswer ,
            success: function (data) {

                    window.close();


                },
            error: function (req, status, error) {
                    //console.trace();
                    alert("Unable to save QuestionColor");
                }
            });
    }
    </script>
    <script>
        $(document).ready(function () {
            $(".Ddropdown").each(function () {
                debugger;
                $(this).val($(this).attr("val"));
                //$(this).find('option[value="' + $(this).attr("val") + '"]').attr("selected", "selected");
            });
        });
    </script>
</head>

<body>
    <div class="popUpContainer">
        <div class="popUpContent">
            <div class="popUpSubContent">
                <div class="page-title">
                    <h2>Highlighted Color</h2>
                </div>
                <div class="rowPopUp">
                    <div class="page-subtitle">
                        <strong>Question: @ViewBag.QuestionName</strong>
                    </div>
                </div>
               
                @*Srinivas 1/24/2014*@
                <div class="rowPopUpRadioCheckbox">

                    <table>
                        <tr><td><strong>Answers:</strong></td></tr>
                        <tr>
                            
                            <td>
                                <table>
    <tr>
        <td>
            @* We assumes one question has 1 question column detail *@
            @{var question = ((FVGen3.Domain.Entities.Questions)ViewBag.Question);
                var command = (System.Data.SqlClient.SqlCommand)ViewBag.command;
            }
            @if (question.QuestionColumnDetails[0].QuestionControlTypeId == 7)//Means radio
            {
                var i = 0;

                foreach (string questionText in question.QuestionColumnDetails[0].ColumnValues.Split('|'))
                {
                    var dependent = question.QuestionsDependants.FirstOrDefault(rec => rec.DependantValue == questionText);
                    var dependentType = 1;
                    if (dependent != null)
                    {
                        dependentType = dependent.DependantType;
                    }
                    <table>
                        <tr>
                          <td>
                              <input name="DependentValue" type="radio" style="display:none" id="@i" onclick="DependentControlChange(this)"
                                       @if (@ViewBag.DependentValue == @questionText) { @: checked="checked"
                                                                                                                                                                                                                                                                                                                                                                       }
                                       dependentType="@dependentType"
                                       value="@questionText" />
                              
                            </td>
                            <td style="padding-right:10px;">@questionText</td>
                            @*<td><label style="font:bold">@Resources.Resources.High_Color</label></td>*@
                            <td class="rowIST">
                                @{
                                    var ansRec = Model.CQuestion.FirstOrDefault(r => r.QuestionId == question.QuestionID && r.Answer == @questionText);
                                    string ans = "";
                                    if (ansRec != null)
                                    {
                                        ans = ansRec.Color;
                                    }
                                }
                                @Html.DropDownListFor(model => model.HighlightedColor, (IEnumerable<SelectListItem>)@ViewBag.Colors, new { id = "HasColor_" + @i, val = ans, @class = "Ddropdown" })

                            </td>
                        </tr>
                    </table>
                                            i++;
                                        }
                                    }
                                    @*else if (question.QuestionColumnDetails[0].QuestionControlTypeId == 8)//Means checkbox
                                    {

                                        <input name="DependentValue" type="checkbox" onclick="DependentControlChange(this)"
                                               @if (@ViewBag.DependentValue == "true") { @: checked="checked"
                                                                                                                                                                                                                                                                                                                                                                               } /> @question.QuestionColumnDetails[0].ColumnValues
                                    }*@

            else if (question.QuestionColumnDetails[0].QuestionControlTypeId == 9)//Means DropDown
            {


                if (string.IsNullOrEmpty(question.QuestionColumnDetails[0].ColumnValues))//Get values from table reference
                {
                    var sql = "Select " + question.QuestionColumnDetails[0].TableReferenceField + "," + question.QuestionColumnDetails[0].TableRefFieldValueDisplay + " From " + question.QuestionColumnDetails[0].TableReference+"" ;
                    //var sql = "Select " + question.QuestionColumnDetails[0].TableReferenceField + "," + question.QuestionColumnDetails[0].TableRefFieldValueDisplay + " From " + question.QuestionColumnDetails[0].TableReference;
                    if (question.QuestionColumnDetails[0].TableReference == "BiddingInterests" || question.QuestionColumnDetails[0].TableReference == "ClaycoBiddingInterests") { sql += " where Status=1 and LanguageId= 1 order by " + question.QuestionColumnDetails[0].TableRefFieldValueDisplay; }
                    else { sql += " order by  " + question.QuestionColumnDetails[0].TableRefFieldValueDisplay; }
                    command.CommandText = sql;
                    var result = command.ExecuteReader();
                                            <table>
                                                @{var i = 0;
                                                }
                                                    @while (result.Read())
                                                    {
                                                        var dependent = question.QuestionsDependants.FirstOrDefault(rec => rec.DependantValue == result[0].ToString().Trim());
                                                        var dependentType = 1;
                                                        if (dependent != null)
                                                        {
                                                            dependentType = dependent.DependantType;
                                                        }

                                                        if (@ViewBag.DependentValue == @result[0].ToString().Trim())
                                                        {
                                                            <tr>
                                                                <td>
                                                                    <input selected name="DependentValue" value="@result[0].ToString().Trim()"style="display:none" type="radio">


                                                                </td>
                                                                <td>@result[1].ToString().Trim()</td>
                                                                <td>
                                                                    @{
                                                                        var ansRec = Model.CQuestion.FirstOrDefault(r => r.QuestionId == question.QuestionID && r.Answer == @result[0].ToString().Trim());
                                                                        string ans = "";
                                                                        if (ansRec != null)
                                                                        {
                                                                            ans = ansRec.Color;
                                                                        }
                                                                    }
                                                                    @Html.DropDownListFor(model => model.HighlightedColor, (IEnumerable<SelectListItem>)@ViewBag.Colors, new { id = "HasColor_" + @i, val = ans, @class = "Ddropdown" })
                                                                </td>
                                                            </tr>
                                                          
                                                        }
                                                        else
                                                        {
                                                            <tr><td> 
                                                            <input type="radio" name="DependentValue" value="@result[0].ToString().Trim()"style="display:none" dependentType="@dependentType">
                                                </td><td>@result[1].ToString().Trim()</td>
                                                <td>
                                                    @{
                                                        var ansRec = Model.CQuestion.FirstOrDefault(r => r.QuestionId == question.QuestionID && r.Answer == @result[0].ToString().Trim());
                                                        string ans = "";
                                                        if (ansRec != null)
                                                        {
                                                            ans = ansRec.Color;
                                                        }
                                                    }
                                                    @Html.DropDownListFor(model => model.HighlightedColor, (IEnumerable<SelectListItem>)@ViewBag.Colors, new { id = "HasColor_" + @i, val = ans, @class = "Ddropdown" })
                                                </td>
                                            </tr>
                                                        }i++;
                                                       
                                                    }
                                                    
                                                </table>
                                                        }
                                                        else//Values from
                                                        {
                                                            var i = 0;
                                                            foreach (string questionText in question.QuestionColumnDetails[0].ColumnValues.Split('|'))
                                                            {
                                                                var dependent = question.QuestionsDependants.FirstOrDefault(rec => rec.DependantValue == questionText);
                                                                var dependentType = 1;
                                                                if (dependent != null)
                                                                {
                                                                    dependentType = dependent.DependantType;
                                                                }

                                        <table>
                                            <tr>
                                              
                                                <td>
                                                    <input name="DependentValue" type="radio" style="display:none" id="@i" value="@questionText"
                                                         />

                                                </td>
                                                <td style="padding-right:10px;">@questionText</td>
                                                <td class="rowIST">
                                                    @{
                                                        var ansRec = Model.CQuestion.FirstOrDefault(r => r.QuestionId == question.QuestionID && r.Answer == @questionText);
                                                        string ans = "";
                                                        if (ansRec != null)
                                                        {
                                                            ans = ansRec.Color;
                                                        }
                                                    }
                                                    @Html.DropDownListFor(model => model.HighlightedColor, (IEnumerable<SelectListItem>)@ViewBag.Colors, new { id = "HasColor_" + @i, val = ans, @class = "Ddropdown" })

                                                </td>
                                            </tr>
                                        </table>
                                                            i++;
                                                        }

                                                            }
                                                        }
                                                        else
                                                        {
                                <input id="DependentValue" value="@ViewBag.DependentValue"></input>
                                }

                            </td>



                                    </tr>
                                  
                                </table>
                            </td>
                        </tr>
                    </table>
                
                </div>
                
               
                @*<div class="rowPopUp">
                    <table>
                        <tr>
                            <td><label>@Resources.Resources.High_Color</label></td>
                            <td class="rowIST">
                                @Html.DropDownListFor(model => model.HighlightedColor, (IEnumerable<SelectListItem>)@ViewBag.Colors)
                            </td>
                        </tr>
                    </table>
                </div>*@
             <div class="rowPopUp">
                  


                    <div class="popUpSubContent">
                        <div class="pageFooterContent">
                            <div class="pageFooterButtons">
                                <table>
                                    <tr>
                                        @*Rajesh on 12/31/2013*@
                                        @*@if (@ViewBag.Question.QuestionColumnDetails == null || !(((FVGen3.Domain.Entities.Questions)@ViewBag.Question).QuestionColumnDetails.Where(rec => rec.PrequalificationUserInputs != null && rec.PrequalificationUserInputs.Count() > 0).Count() > 0))
                                        {*@
                                            <td><button type="button" onclick="saveDependences()" btnType="Insert" class="PageFooter_Button">@Resources.Resources.Common_Save</button></td>
                                            <td btnType="Insert">@Resources.Resources.Common_label_or</td>
                                        @*}*@
                                        @*Ends<<<*@

                                        <td><div class="pageFooterCancelButton"><a href="#!" onclick="window.close();">@Resources.Resources.Common_Cancel</a></div></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</body>
</html>
