﻿@{
    ViewBag.Title = "Questions";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}
<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="~/css/common.css">
<link rel="stylesheet" href="~/css/appInnerPages.css">
<link rel="stylesheet" href="~/css/index.css">
<link rel="stylesheet" href="~/css/templatetool.css">
<script src="~/js/jquery-1.9.1.min.js"></script>

<script src="~/js/common.js"></script>
<script src="../js/jquery-1.10.3.js"></script>
 

</head>

<script>
    $(function () {
        $(".sortable").sortable({
            cancel: ".hiddenList"
        });
        //$(".sortable").disableSelection();
    });
    $(document).ready(function () {
        // 
        setPermissions('@ViewBag.ViewPermissions');
        // Ends<<< 


        //To Stop Checking Non-Editable Items


    });
    function stopSorting(id, currentButton) {
        //alert($(currentButton).attr("flag_Arrange"));
        if ($(currentButton).attr("flag_Arrange") == "false") {
            $(currentButton).attr("flag_Arrange", "true");
            $(currentButton).attr("src", "../images/done.png");

            if ($(currentButton).attr("type") == "button") {
                $(currentButton).text("Done");
            }
        }
        else {
            $(currentButton).attr("flag_Arrange", "false");
            $(currentButton).attr("src", "../images/rearrangebutton.png");

            if ($(currentButton).attr("type") == "button") {
                $(currentButton).text("Re-Arrange");
            }
        }


        $("#" + id + " li").each(function () {

            $(this).removeClass("defaultList");
            $(this).removeClass("hiddenList");
            if ($(currentButton).attr("flag_Arrange") == "false") {
                $(this).addClass("hiddenList");
                $(this).find(".reArrangeImg").hide(); //Rajesh on 10/21/2013

            }
            else {
                $(this).addClass("defaultList");
                $(this).find(".reArrangeImg").show();
            }

        });
        if ($(currentButton).attr("flag_Arrange") == "false") {
            var ids = "";
            $("#" + id + " li").each(function () {
                ids += $(this).prop("id") + "|";
            });
            //alert('templateSectionIds=' + ids + '&TemplateId=' + id.substring(3));
            $.ajax({
                type: 'GET',
                url: 'ChangeQuestionsOrder',
                data: 'QuestionIds=' + ids + '&templateSubSectionId=' + id.substring(3),
                success: function (data) {
                    //alert(data);

                },
                error: function () {
                    alert("Unable to re-arrange");
                }
            });
        }

    }
    function checkboxClicked(item) {
        
        if ($(item).attr("editable") == "false") {
            
           $(item).prop("checked", false);
       }
   }
</script>

<script type="text/javascript">


    function searchQuestionBank() {
        
        var Searchstring = $("#SearchTextField").val();
        $("#source .QBankMainRow").each(function () {

            if ($(this).find("label").text().toLowerCase().indexOf(Searchstring.toLowerCase()) == -1)
                $(this).hide();
            else
                $(this).show();
        });
    }

    var winPop = false;
    function AddOrEditQuestionColumnDetails(url) {
        

        if (winPop && !winPop.closed) {  //checks to see if window is open  
            winPop.focus();
        }
        else {
            winPop = window.open(url, "_blank", "toolbar=no,  directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=yes, width=770, height=600");
        }

    }

    var winPop_QuestionDependent = false;
    function ChangeQuestionDependecy(url) {


        if (winPop_QuestionDependent && !winPop_QuestionDependent.closed) {  //checks to see if window is open  
            winPop_QuestionDependent.focus();
        }
        else {
            winPop_QuestionDependent = window.open(url, "_blank", "toolbar=no,  directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=yes, width=900, height=600");
        }

    }

    $(document).ready(function () {
        $("#edit").click(function ()//
        {
            $("#doneTable").show();
            $("#editTable").hide();
        });

        $("#done").click(function () {
            window.location = "QuestionsList?SubSectionId=" + $("#SubSectionsList").val();
        });
    });

    function MoveQuestionBanks(stringids) {

        var QBankIds = [];
        for (var i = 0; i < stringids.split(',').length; i++) {

            var IdWithStatus = stringids.split(',')[i].split('|');

            if (IdWithStatus[1] == "0")
                $("#QBankParent_" + IdWithStatus[0]).find("input").attr("editable","false");
            //$("#QBankParent_" + IdWithStatus[0]).appendTo("#destination");
            //alert(QBankIds.indexOf(IdWithStatus[0]) + "  " + IdWithStatus[0]);

            if ($.inArray(IdWithStatus[0], QBankIds) == -1) {//Rajesh on 2/25/2014

                if ($("#QBankParent_" + IdWithStatus[0]).clone().html() != undefined) {
                    var data = '<tr>' + $("#QBankParent_" + IdWithStatus[0]).clone().html() + '</tr>';
                    //alert(data);
                    data = data.replace(new RegExp("id=\"" + IdWithStatus[0], 'g'), "id=\"" + IdWithStatus[0] + "_Dest").replace(new RegExp("for=\"" + IdWithStatus[0], 'g'), "for=\"" + IdWithStatus[0] + "_Dest");
                    //For IE
                    data = data.replace(new RegExp("id=" + IdWithStatus[0], 'g'), "id=" + IdWithStatus[0] + "_Dest").replace(new RegExp("for=" + IdWithStatus[0], 'g'), "for=" + IdWithStatus[0] + "_Dest"); //Rajesh on 2/25/2014
                    $("#destination").append(data);
                }

            }
            if (IdWithStatus[1] == "0")
                $("#QBankParent_" + IdWithStatus[0]).find("input").removeAttr("editable");
            QBankIds.push(IdWithStatus[0]);
        }

    }
    function AddNewQuestionBank() {
        if ($("#AddNewQuestion").val().trim() == "") {
            alert("Can not add blank question");
            return;
        }
        $.ajax({
            type: 'POST',
            url: 'AddQuestionBank',
            data: 'QuestionString=' + encodeURIComponent($("#AddNewQuestion").val().trim()),
            success: function (data) {
                if (data == "Ok")
                    window.location.reload(true);
                else
                    alert(data);

            },
            error: function (req, status, result) {
                alert("Unable to process request, Please contact system Administrator");
            }
        });
    }
    function QEditDone(button) {


        $(button).closest("table").closest("td").find(".QDoneButton").show();
        $(button).closest("table").closest("td").find(".QdoneTable").hide();
        $(button).closest(".rowIST").find(".numberofcolumns").show();
        $(button).closest(".rowIST").find(".numberofcolumnsLabel").hide();

        $(button).closest(".rowIST").find(".numberofcolumns").val($(button).closest(".rowIST").find(".numberofcolumnsLabel").text());

    }
    function QDone(button) {

        var questionText = $(button).closest(".rowIST").find(".QuestionName").text();
        var questionBankId = $(button).closest(".rowIST").attr("id").replace("Question", "");
        var noOfColumns = $(button).closest(".rowIST").find(".numberofcolumns").val();
        var questionId = $(button).closest(".rowIST").attr("questionId");


        if (questionId != -1) 
        
        {
            if (noOfColumns != $(button).closest(".rowIST").find(".numberofcolumnsLabel").text()) {

                var c = confirm("Changing input column(s)? You will have to re-enter question attributes. Do you want to proceed?");
                if (!c)
                    return;
            }
            else {
                //alert("No Need to Update");
                $(button).closest(".rowIST").find(".numberofcolumns").hide();
                $(button).closest(".rowIST").find(".numberofcolumnsLabel").show();
                $(button).parent().find(".QdoneTable").show();
                $(button).hide();
                return;
            }
        }
        //alert(questionText + "   " + questionBankId + "   " + noOfColumns + "  " + '@ViewBag.SubSectionId');

        $.ajax({
            type: 'POST',
            url: 'AddOrEditQuestion',
            data: 'QuestionText=' + encodeURIComponent(questionText) + '&SubSectionId=@ViewBag.SubSectionId' + '&NumberOfColumns=' + noOfColumns + '&QuestionBankId=' + questionBankId + '&QuestionId=' + questionId,
            success: function (data) {
                //alert(data);
                $(button).parent().find(".QdoneTable").show();
                $(button).hide();
                $(button).closest(".rowIST").find(".numberofcolumns").hide();
                $(button).closest(".rowIST").find(".numberofcolumnsLabel").show();
                $(button).closest(".rowIST").attr("questionId", data); //Rajesh on 11/29/2013
                $(button).closest(".rowIST").find(".numberofcolumnsLabel").text($(button).closest(".rowIST").find(".numberofcolumns").val());

                $(button).closest(".rowIST").closest("li").attr("id",data);
                $(button).closest(".rowIST").find(".questionTypeClass").attr("onclick", "AddOrEditQuestionColumnDetails('AddOrEditQuestionColumnDetails?QuestionId=" + data + "')");
                //Rajesh on 1/3/2014
                if (noOfColumns == 0) {
                    $(button).closest(".rowIST").find(".mandatory").hide();
                }
                else {

                    $(button).closest(".rowIST").find(".mandatory").show();
                }
                //Ends<<
                //Rajesh on 3/1/2014
                $(button).closest(".rowIST").find(".HasDependent").hide();
                $(button).closest(".rowIST").find(".FormulaReference").hide();

                //Ends<<<
            },
            error: function (req, status, result) {
                alert("Unable to process request, Please contact system Administrator" + result);
            }
        });



    }
    function AddBlankQuestion() {
        var data = $("#Question").html().replace(new RegExp("_QuestionName", 'g'), "")
                                                    .replace(new RegExp("_QuestionBankId", 'g'), 1);
        $("#QuestionsList").append(data);
    }
    function DeleteBlankQuestions() {
        $.ajax({
            type: 'POST',
            url: 'DeleteQuestions',
            data: 'questionBankIds=1&subSectionId=@ViewBag.SubSectionId',
            success: function (data) {
                //alert(data);
                window.location.reload(true);
            },
            error: function (req, status, result) {
                alert("Could not delete the question, Prequalification related data exist");
            }
        });
    }
    $(document).ready(function () {
        $("#add").click(function () {
            $('#source :input').each(function () {
                if ($(this).is(":checked")) {





                    $(this).parent().parent().find("label").text();
                    //alert($('#QuestionsList').find("#Question" + $(this).attr("id")).text());
                    if (!$('#QuestionsList').find("#Question" + $(this).attr("QBankIds")).length > 0) {
                        var data = '<tr>' + $(this).parent().parent().clone().html() + '</tr>';
                        //alert(data);
                        data = data.replace(new RegExp("id=\"" + $(this).attr("id"), 'g'), "id=\"" + $(this).attr("id") + "_Dest")
                        .replace(new RegExp("for=\"" + $(this).attr("id"), 'g'), "for=\"" + $(this).attr("id") + "_Dest");
                        //For IE
                        data = data.replace(new RegExp("id=" + $(this).attr("id"), 'g'), "id=" + $(this).attr("id") + "_Dest").replace(new RegExp("for=" + $(this).attr("id"), 'g'), "for=" + $(this).attr("id") + "_Dest"); //Rajesh on 2/25/2014 
                        $("#destination").append(data);

                    }
                    {//IF div not exist
                        var data = $("#Question").html().replace(new RegExp("_QuestionName", 'g'), $(this).parent().parent().find("label").text())
                                                    .replace(new RegExp("_QuestionBankId", 'g'), $(this).attr("QBankIds"));
                        $("#QuestionsList").append(data);
                    }
                }


            });
        });


        $("#delete").click(function () {
            var ids = "";
            $('#destination :input').each(function () {
                if ($(this).is(":checked")) {
                    ids += $(this).attr("QBankIds") + ",";
//                    $(this).parent().parent().remove();

//                    $(this).prop("checked", false);
//                    $("#Question" + $(this).attr("QBankIds")).remove();
                }
            });
            if (ids == "")//Rajesh on 11/29/2013
                return;
            //alert(ids);
            $.ajax({
                type: 'POST',
                url: 'DeleteQuestions',
                data: 'questionBankIds=' + ids + '&subSectionId=@ViewBag.SubSectionId',
                success: function (data) {
                    //alert(data);
                    window.location.reload(true);

                },
                error: function (req, status, result) {
                    alert("Could not delete the question, Prequalification related data exist");
                }
            });

        });
    });
</script>
 

<body>
		<div class="contentSub">
            	<div>
                        <table   width="100%">
                            <tr>
                                <td>
                                	<div class="page-subtitle">
                                		<h2>@Resources.Resources.Qus_Add</h2>
                                    </div>
                                </td>
                                @if (ViewBag.TemplateStatus != null && ViewBag.TemplateStatus == 0)
                                {
                                    <td><button type="button" value="Preview" onclick="window.location='TemplatePreview?TemplateSectionID=@ViewBag.SectionId&ClientId=-1&type=@ViewBag.TemplateType'">@Resources.Resources.Quiz_Preview</button></td>
                                }
                                <td style="float:right;"> 
                                	<button type="button" value="Add New" onclick="window.location='SubSectionView?SectionId=@ViewBag.SectionId'">@Resources.Resources.Sub_Sectionsbtn</button>
                                </td>
                            </tr>
                        </table>
                	</div>
                
               @if(ViewBag.TemplateSectionType!=5){
                <div id="editTable" class="rowIST">
                	<table width="100%" border="0">
                    	<tr>
                        	
                            <td width="8%">
                            	<h3>@Resources.Resources.Section</h3>
                            </td>
                             <td width="32%">
                            	<h4>@ViewBag.SectionName</h4>
                            </td>
                            <td width="12%">
                            	<h3>@Resources.Resources.SubSection</h3>
                            </td>
                             <td width="43%">
                            	<h4>@ViewBag.SubSectionName</h4>
                            </td>
                            
                            <td width="5%">
                            	<img src="../images/edit.png" id="edit" />
                            </td>
                        </tr>
                        </table>
                </div>
                <div class="rowIST" id="doneTable"  style="display:none; ">
                        <table width="100%" border="0">
                        <tr>
                        	
                            <td width="8%">
                            	<h3>@Resources.Resources.Section</h3>
                            </td>
                             <td width="32%">
                            	<h4>@ViewBag.SectionName</h4>
                            </td>
                            <td width="12%">
                            	<h3>@Resources.Resources.SubSection</h3>
                            </td>
                             <td width="43%">
                                
                            	@Html.DropDownList("SubSectionsList", (List<SelectListItem>)@ViewBag.SubSections, new {@style="width:90%;float:none;" })	
                            </td>
                            <td width="5%">
                            	<img src="../images/done.png"  style="vertical-align:middle;cursor:pointer;float:left;margin-top:2px;" id="done" />  
                            </td> 
                        </tr>
                    </table>
                    
                   
                </div> 
               <table>
                	<tr class="rowIST">
                    	<td width="680">
                        	<input type="text" id="AddNewQuestion" style="width:97%;"/>
                        </td>
                        <td>
                        	<button type="button" onclick="AddNewQuestionBank()">@Resources.Resources.Add</button>
                        </td>
                    </tr>
                </table>
                
               
                
                <div class="rowIST">
                	<table border="0">
                    	<tr>
                        	<td><input type="text" id="SearchTextField" onkeyup="searchQuestionBank()"/></td>
                            
                            <td><img src="../images/searchquestionbank.png" onclick="searchQuestionBank()"/></td>
                            <td width="82"></td>
                            <td width="210"><b>@Resources.Resources.Blank_Questions</b></td>
                            
                            <td width=40 align="right"> 
                                <a value="Add New" href="#!" onclick="AddBlankQuestion()"> @Resources.Resources.Add </a>
                            </td>
                            @if (ViewBag.TemplateStatus != null && ViewBag.TemplateStatus == 0)
                            {
                                <td width="60" align="right"><a href="#!" onclick="DeleteBlankQuestions()">@Resources.Resources.Common_Delete </a></td>
                            }
                        </tr>
                    </table>
                    <!--<div style="float:right;"><select></select></div>-->
                </div>
                <div class="rowIST">
                <table  width="709" border="0">
                	<tr>
                    	<td width="auto" align="left" >
                        	<div  class="scrollCheckbox" style="width: 300px; height: 200px;margin-right: 20px;">
                                	<table id="source" border="0">
                                    @foreach (var question in (List<FVGen3.Domain.Entities.QuestionsBank>)@ViewBag.QuestionsBankList)
                                    {
                                        if (@question.QuestionString.Equals(""))
                                        {
                                            continue;
                                        }
                                    	<tr class="QBankMainRow" id="QBankParent_@question.QuestionBankId">
	                                    <td width="10" valign="top">
	                                        <input  type="checkbox" id="@question.QuestionBankId" name="name" QBankIds="@question.QuestionBankId" onclick="checkboxClicked(this)"/>
                                        </td>
											<td valign="top">
                                            	<label for="@question.QuestionBankId" style="line-height:1.4em;">@question.QuestionString</label>
                                           	</td>
                                        </tr>
                                    }
                                    </table>
                            </div>	
                        </td>
                        <td   align="center">
                        	<button type="button" id="add">>></button>
                            <button type="button" id="delete"> << </button>
                        </td>
                        <td width="auto">
                            <div class="scrollCheckbox" style="width: 300px; height: 200px; margin-right: 20px;">

                                <table id="destination"></table>
                            </div>		
                        </td>
                    </tr>
                </table>
                </div> 

              }     @*Rajesh on 4/9/2014*@
                     <div class="subTitleWithBG">
                        <table>
                            <tr>
                                <td>
                                    @Resources.Resources.Ques_NtDefined
                                </td>
                                <td width="20%">
                                @if (((List<FVGen3.Domain.Entities.Questions>)ViewBag.QuestionsList).ToList().Count() > 1)
                                {
                                    <img src="../images/rearrangebutton.png" type="button" value="Add New" onclick="stopSorting('id_@ViewBag.SubSectionId',this)" flag_Arrange="false"/>        
                                }
                                </td>
                            </tr>
                        </table>
                        
                     </div>
                    @*Ends<<<*@

                <div id="id_@ViewBag.SubSectionId" >
                <ul class="sortable" id="QuestionsList">
                    @{var QBankIdsToMove = "";}
                    @foreach (var question in (List<FVGen3.Domain.Entities.Questions>)ViewBag.QuestionsList)
                    {
                        var url = "AddOrEditQuestionColumnDetails" + QueryStringModule.Encrypt("QuestionId="+question.QuestionID);
                        var dependentUrl = "DependentQuestions" + QueryStringModule.Encrypt("QuestionId=" + question.QuestionID);
                        var QuestionColorUrl= "HighlightedQuestion" + QueryStringModule.Encrypt("QuestionId=" + question.QuestionID);
                        var isEditable = 0;
                        if (question.QuestionColumnDetails == null || !(question.QuestionColumnDetails.Where(rec => rec.PrequalificationUserInputs.Count() > 0).Count() > 0))
                        {
                            isEditable = 1;
                        }
                        QBankIdsToMove += @question.QuestionBankId+"|"+ isEditable+ ",";
                        var QuestionBankid = "Question" + @question.QuestionBankId;
                        <li class="hiddenList" id="@question.QuestionID">
                        <div class="rowIST" id="@QuestionBankid" questionId="@question.QuestionID">
                            
                	        <table width="99%" border="0">
                    	    <tr>
                        	    <td width="35%">
                                    <table >
                                    <tr>
                                    <td><label>
                                    @*Srinivas on 2/26/2014*@
                                    <div class="QuestionName">@question.QuestionText
                                    @*Rajesh on 1/3/2014 Suresh*@
                                    <b class="mandatory" numberofColumns="@question.QuestionColumnDetails.Count()" style="color:#e81f25;font-weight:bold;font-size:12px;background:none;
                                        @if (@question.QuestionColumnDetails == null || @question.QuestionColumnDetails.Count() == 0)
                                        {
                                            if (@question.NumberOfColumns == 0)
                                            {
                                                @: display:none;
                                            }

                                        }
                                        else
                                        {
                                            @: display:none;
                                        }
                                         "># 
                                    </b>
                                    @*Ends<<<*@
                                    </div>
                                    </label>
                                    </td>
                                    </tr>
                                    </table>
                                </td>
                                <td width="20%" align="center">
                                        <table border="0" width="100%">
                                        <tr>
                                    	    <td width="40%"><label>@Resources.Resources.Input_Columns</label></td>
                                            <td width="40%" ><select class="numberofcolumns" style="display:none;">
                                        		    <option  >0</option>
                                                    <option selected>1</option>
                                                    <option >2</option>
                                                    <option >3</option>
                                                    <option >4</option>
                                                    <option >5</option>
                                        	    </select>
                                                <p class="numberofcolumnsLabel">@question.NumberOfColumns</p>
                                                </td>
                                            <td width="20%" align="left" valign="bottom">
                                            @if (@question.QuestionColumnDetails.FirstOrDefault(rec => !string.IsNullOrEmpty(rec.QFormula)) != null)
                                            {
                                                <img src="../images/qformula.png" alt="Fx" class="FormulaReference"/>@*Rajesh on 3/1/2014*@
                                            }
                                            </td>
                                        
                                        </tr>
                                        </table>
                                </td>
                                <td width="40%">
                                    <button  type="button" onclick="QDone(this)" class="QDoneButton" style="display:none;">@Resources.Resources.Common_button_text</button>
                                    <table  width="95%" class="QdoneTable" >
                                        <tr>
                                            <td width="11%">
                                	            @if (question.HasDependantQuestions == true)
                                                {
                                                    <label class="HasDependent"><a href="#!" onclick="ChangeQuestionDependecy('@dependentUrl')">@Resources.Resources.HD</a></label>@*Rajesh on 3/1/2014*@
                                                }
                                               
                                            </td>
                                            <td width="12%">@if (question.HasHighlights == true)
                                            {
                                                <label class="HasDependentQuestion"><a href="#!" onclick="ChangeQuestionDependecy('@QuestionColorUrl')">@Resources.Resources.Add_HL</a></label>
                                            }</td>
                                    <td width="58%">
                                     @if ( @question.QuestionBankId==1000 ||ViewBag.TemplateSectionType==5)
                                     { }
                                     else
                                     { 
                                        <label><a href="#!" onclick="AddOrEditQuestionColumnDetails('@url')">@Resources.Resources.Qus_Type</a></label>
                                     }
                                    </td>

                                    <td width="20%" align="right">
                                        @if (question.QuestionColumnDetails == null || !(question.QuestionColumnDetails.Where(rec => rec.PrequalificationUserInputs.Count() > 0).Count() > 0))
                                        {
                                            if (ViewBag.TemplateSectionType == 5)
                                            { }
                                            else
                                            {
                                                <img class="QdoneEdit" onclick="QEditDone(this)" src="../images/edit.png" style="vertical-align:top; cursor:pointer;" />
                                            }

                                        }
                                    </td>
                                    </tr>
                                    </table>
                                </td>
                                <td align="right" valign="bottom" ><img src="../images/rearrange.png" class="reArrangeImg"/></td>
                            </tr>
                        </table>
                        </div>
                        </li>
                    }
                </ul>
                    <script>MoveQuestionBanks('@QBankIdsToMove')</script>
                </div>
                <div id="Question" style="display:none;">
                    <li class="hiddenList" id="Question_QuestionId" >
                        <div class="rowIST"  id="Question_QuestionBankId" questionId="-1">
                	    <table width="99%" border="0" >
                    	<tr>
                        	<td width="35%">
                                <table >
                                <tr>
                                <td><label><mark class="QuestionName">@Resources.Resources._QuestionName</mark>
                                <mark  class="mandatory" > @Resources.Resources.YashSymbol </mark></label></td>@*Rajesh on 1/3/2014 Suresh *@
                                </tr>
                                </table>
                            </td>
                            <td width="35%" align="center">
                                    <table width="100%">
                                    <tr>
                                    	<td width="40%"><label>@Resources.Resources.Input_Columns</label></td>
                                        <td width="40%" >
                                        <!--Rajesh on 11/23/2013-->
                                         @if (ViewBag.SubSectionType == 4 && ViewBag.Condition == "BiddingReporting")
                                         { 
                                            <select id="Qselect" class="numberofcolumns">
                                                <option selected>1</option>
                                        	</select>
                                         }
                                         else
                                         {    
                                            
                                            <select id="Qselect" class="numberofcolumns">
                                        		<option  >0</option>
                                                <option selected>1</option>
                                                <option >2</option>
                                                <option >3</option>
                                                <option >4</option>
                                                <option >5</option>
                                        	</select>
                                         }
                                        
                                            <p class="numberofcolumnsLabel"></p>
                                            </td>
                                        <td width="20%"></td>
                                        
                                    </tr>
                                    </table>
                            </td>
                            <td width="25%">
                                <button style="float:right;" type="button" onclick="QDone(this)" class="QDoneButton">@Resources.Resources.Common_button_text</button>
                                <table  width="95%" class="QdoneTable"  style="display:none;">
                                <tr>
                                <td width="20%"></td>
                                <td width="60%">
                                                                <!--Rajesh on 11/23/2013-->
                                    @if (ViewBag.TemplateSectionType==5)
                                    { }
                                    else
                                    { 
                                        <label><a href="#!" class="questionTypeClass" onclick="">@Resources.Resources.Qus_Type</a></label>
                                    }

                                </td>
                                <td width="20%" align="right">
                                    @if (ViewBag.TemplateSectionType == 5)
                                    { }
                                    else
                                    { 
                                        <img class="QdoneEdit" onclick="QEditDone(this)" src="../images/edit.png" style="vertical-align:top; cursor:pointer;" />
                                    }
                                </td>
                                </tr>
                                </table>
                            </td>
                            <td align="right" valign="bottom" style="padding-top:5px;"><img src="../images/rearrange.png" class="reArrangeImg" style="display:none;"/></td>
                        </tr>
                    </table>
                    </div>
                    </li>
                </div>
                
			</div>
		

</body>
</html>

