﻿<!--
 *****************************************************
Page Created Date:  10/24/2013
Created By: Kiran Talluri
Purpose: To Display the list of Questions
Version: 1.0
****************************************************
-->

@using FVGen3.Domain.Entities;
@using Resources;
@{
    ViewBag.Title = "Question Bank";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>

<script src="~/js/jquery-1.9.1.js"></script>
<script src="~/js/jquery-1.10.3.js"></script>

<style type="text/css">
.contentSub table

{
	border-collapse:collapse;
}
#accord ul
{
	margin:0px;
	padding:0px;
	width:100%;
	height:auto;
	float:left;
	border:0px;
}

#accord li
{
	float:left;
	width:100%;
	padding:0px 0px;
	display:block;
	/*cursor:pointer;*/
}

#accord li ul li
{
	float:left;
	width:99%;
	padding:10px 0 10px  10px;
	display:block;
	border:0px;border-bottom:1px solid #ddd; 
	 
}

#accord .div
{
	float:left;
	width:100%;
	display:none;
	
}

.page-subtitleAdd 
{
	float:left;
	width:99%;
	height:auto;
	/*background:#CFD1D4;*/
	background:#e5e6e8;
}

.page-subtitleAdd h2
{
    padding:0px;
    margin:8px 0px 8px 5px; 
}

.subTitle
{
	
	float:left;
	padding:5px 0px 5px 10px;
	width:98.2%;
	margin:0px 0px 5px 0px;  
	height:auto;
	background: url(../images/Remove.png) no-repeat right ;
}
</style>


<script type="text/javascript">

    $(document).ready(function () {
        setPermissions('@ViewBag.ViewPermissions');
        $("#Prequalification").closest(".list1").find(".div").slideDown();
        $("#Prequalification").closest(".list1").find(".ExpandListButton").attr("src", "../images/collapse.png"); // Kiran on 3/26/2014

        $("#list1").click(function () {
//            $(".page-subtitleAdd").removeClass("subTitle");
//            $(".page-subtitleAdd").addClass("page-subtitleAdd");
//            $(this).find(".page-subtitleAdd").addClass("subTitle");

//            $(".div").slideUp();
                       $(this).find(".div").slideDown();

            $(".div").slideDown();

        });

    });

    var winPop = false;
    function openWindow(QuestionBankId) {
        if (winPop && !winPop.closed) {  //checks to see if window is open  
            winPop.focus();
        }
        else {
            winPop = window.open("AddQuestionInQuestionBank?QuestionBankId=" + QuestionBankId, "_blank", "toolbar=no,  directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=yes, width=650, height=400");
        }
    }
    function Slide(obj)
    {
        if ($(obj).closest(".list1").find(".div").is(':visible') == false) {
            $(".div").not($(obj).closest(".list1").find(".div")).slideUp();
            $(obj).closest(".list1").find(".div").slideDown();
            $(".ExpandListButton").attr("src", "../images/Expandlist.png");
            $(obj).attr("src", "../images/collapse.png");
        }
        else {
            $(obj).closest(".list1").find(".div").slideUp();
            $(obj).attr("src", "../images/Expandlist.png");
        }
    }

    // Kiran on 4/4/2014
    function showMoreQuestions(moreButton, key) {
        if ($(moreButton).text().indexOf("More") != -1) {
            $(".moreQuestions_" + key).show();
            $(moreButton).text("Less..");
        }
        else {
            $(moreButton).text("More..");
            $(".moreQuestions_" + key).hide();
        }
    }
    // Ends<<<
</script>

<body>
    <div class="contentSub">

        <table width="694" border="0">
              <tr>
                <td class="page-title">
                  <h2 style="margin:0;">@Resources.Questions_Bank</h2>
                </td>
                <td align="right" valign="top">
                    <button type="button" btnType="Insert" onclick="openWindow('-1')">@Resources.Common_AddNew</button>
                </td>
              </tr>
        </table>                
    </div>

    <div class="contentSub">
        <div id="accord">	        
			<ul>    
                @foreach (var question in (List<IGrouping<int, QuestionsBank>>)@ViewBag.VBQuestionsBankList)
                {
                    <li class="list1">
                        <div class="page-subtitleAdd">
                        <table width="99%">
                            <tr>
                                <td>
                                
                                 @if (@question.Key == 0)
                                 {
                                        <h2 id="Prequalification">@Resources.Common_Prequalification</h2> 
                                 }
                                 else
                                 { 
                                        <h2>@Resources.Common_Label_Training</h2>
                                 }
                                
                                </td>
                                <td align="right">
                                
                                    <img class="ExpandListButton" src="../images/plusexpand.png" onclick="Slide(this)"/>
                                </td>
                            </tr>
                            
                        </table>
                       
                        </div> 
       				    <div class="div">					                            
                            <ul id="sortable">
                            <li>
                                <div class="partialPage">
                                    <table>    
                                        <tr class="partialHeader">
                                            <td width="63%">@Resources.Question</td>
                                            <td width="37%" align="center">@Resources.SearchResultsList_UserStatus</td> @*Kiran on 11/23/2013*@
                                        </tr>
                                    </table>
                                </div>                                         
                            </li>
                                <li class="defaultList"><span class="icon icon-arrowthick-2-n-s"></span>                                        
                                    <table width="99%">
                                    @{int count = 0;}
                                    @foreach (var ques in question.OrderByDescending(rec=>rec.QuestionBankId))
                                    {
                                        if (count < 5)
                                        {
                                            @:<tr>
                                        }
                                        else
                                        { 
                                            @:<tr style="display:none;" class="moreQuestions_@question.Key"> 
                                        }
                                                <td width="63%"><a href="#!" onclick="openWindow('@ques.QuestionBankId')">@ques.QuestionString</a></td>
                                                <td width="37%" align="center">
                                                    @if (@ques.QuestionStatus == 0)
                                                    { 
                                                        @:Inactive
                                                    }
                                                    else if (@ques.QuestionStatus == 1)
                                                    { 
                                                        @:Active
                                                    }
                                                    else
                                                    { 
                                                        @:-
                                                    }
                                                </td>
                                            @:</tr>
                                            count++;
                                    }
                                        
                                    </table>                                        
                                </li>   
                                <li style="border:0;">
                                    @if (count > 5)
                                    {
                                        <div class="MoreButton_button" id = "moreQuestionsLink_Id" style="float:right; margin-right:30px;">
                                            <a href="#!" onclick="showMoreQuestions(this,@question.Key)">More...</a>
                                        </div>
                                    }
                                </li>
                            </ul>
						</div>	
				    </li>
                }
            </ul>

    </div>
</div>
</body>
</html>
