﻿@using Resources;
@model FVGen3.Domain.Entities.LocalTemplateSubSectionsNotifications
@{
    ViewBag.Title = "Setup Location Status Notification";
}

<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="../css/appPopUp.css">
    <link rel="stylesheet" href="../css/appInnerPages.css">

</head>

<body>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.TemplateSubSectionID)
    <div class="popUpContainer">
        <div class="popUpContent">
            <div class="page-title">
                <h2>@Resources.Setup_Loc_Status_Notification</h2>

                <div class="rowPopUp" id="EmaiTemplateRow">
                    <table>
                        <tr>
                            <td><label class="enableStarPopUp">@Resources.Select_Temp</label></td>
                            <td>
                                @Html.DropDownListFor(model => model.EmaiTemplateId, (List<SelectListItem>)@ViewBag.EmailTemplates)
                            <div class="alertStar"> @Html.ValidationMessageFor(model => model.EmaiTemplateId) </div>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="popUpSubContent">
                    <div class="pageFooterContent">
                        <div class="pageFooterButtons">
                            <table>
                                <tr>
                                    <td><button type="submit" class="PageFooter_Button">@Resources.Common_Save</button></td>
                                    <td>@Resources.Common_label_or</td>
                                    <td><a href="#!" onclick="window.close()">@Resources.Common_Cancel</a></td>
                                </tr>
                            </table>


                        </div>
                    </div>
                </div><!-- popUpSubContent-->       

            </div>
        </div>
    </div>
}
</body>
