﻿<!--
 *****************************************************
Page Created Date:  9/23/2014
Created By: Kiran Talluri
Purpose:
Version: 1.0
****************************************************
-->

@using FVGen3.Domain.Entities
@model FVGen3.Domain.Entities.LocalTemplateSubSectionsNotifications
@using Resources
@{
    ViewBag.Title = "SubSectionNotifications";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=8"/>
<meta http-equiv="X-UA-Compatible" content="IE=9"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width"/>

</head>

@Styles.Render("~/css/appPopUp.css")
@Styles.Render("~/css/appInnerPages.css")
@Scripts.Render("~/js/jquery-1.9.1.min.js")
@Scripts.Render("~/js/common.js")
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<script>
    function AdminOrClientClick() {
        if ($("#ForAdmin").is(":checked")) {
            $("#AdminRow").show();
        }
        else {
            $("#AdminRow").hide();
            //$('#AdminUserId').val('');
        }

        if ($("#ForClient").is(":checked")) {
            $("#ClientRow").show();
        }
        else {
            $("#ClientRow").hide();
            //$('#ClientUserId').val('');
        }
    }
    </script>
<body>

@using (Html.BeginForm())
{
      @Html.HiddenFor(model => model.TemplateSubSectionID)
      @Html.HiddenFor(model => model.TemplateSubSectionNotificationId)

    <div class="popUpContainer">
        @if (@ViewBag.ErrorMessage != null)
        {
         <div class="errorMessage">@ViewBag.ErrorMessage</div>
        }
	    <div class="popUpContent">
    	    <div class="page-title">
        	    <h2>@Resources.Sub_Section_Notifications</h2>
            </div>
            <div class="rowPopUp">
        	    <table>
            	    <tr>
                	    <td><label>@Resources.Send_To_Admin_User</label></td>
                        <td> @Html.CheckBoxFor(rec => rec.ForAdmin, new { onClick = "AdminOrClientClick()" })</td>
                    </tr>
                </table>
            </div>
            <div class="rowPopUp" id="AdminRow"
            @if(@Model.ForAdmin==false)
            {
                @:style="display:none;"
            }
            >
        	    <table>
            	    <tr>
                	    <td><label></label></td>
                        @*Kiran on 9/19/2014*@
                        <td>@Html.ListBoxFor(model => model.AdminUsers, new MultiSelectList(Model.ListOfAdminUsersForNotificationsTosent, "Value", "Text"), new { multiple = "multiple", size = "4", style="height:240px;" })
                        @*@Html.ListBoxFor(m => m.AdminUsers, Model.ListOfAdminUsersForNotificationsTosent.Select(f => new SelectListItem { Text = f.Text, Value = f.Value, Selected = f.Selected }), new { Multiple = "multiple" }) *@
                        <div class="alertStar">@Html.ValidationMessageFor(model => Model.AdminUsers)</div>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="rowPopUp">
        	<table>
            	<tr>
                	<td><label>@Resources.Send_To_Client_User</label></td>
                    <td> @Html.CheckBoxFor(rec=>rec.ForClient, new { onClick = "AdminOrClientClick()" })</td>
                </tr>
            </table>
        </div>

        <div class="rowPopUp" id="ClientRow"
        @if(@Model.ForClient==false)
        {
            @:style="display:none;"
        }
        >
        	<table>
            	<tr>
                	@*Kiran on 9/19/2014*@
                    <td><label></label></td>
                    <td>
                        @if (Model.ListOfClientUsersForNotificationsTosent != null)
                        {
                            @Html.ListBoxFor(model => model.ClientUsers, new MultiSelectList(Model.ListOfClientUsersForNotificationsTosent, "Value", "Text"), new { multiple = "multiple", size = "4", style = "height:240px;" })
                        }
                        else
                        {
                            @: Please select the client specific to the subsection before proceeding further.
                        }
                        <div class="alertStar">@Html.ValidationMessageFor(model => Model.ClientUsers)</div>
                    </td>
                    </tr>
            </table>
        </div>

        <div class="rowPopUp" id="EmaiTemplateRow"
      @*  @if(@Model.ForAdmin==false && @Model.ForClient==false)
        {
            @:style="display:none;"
        }*@
        >
        	<table>
            	<tr>
                	<td><label class="enableStarPopUp">@Resources.Companies_Template</label></td>
                    <td>@Html.DropDownListFor(model => model.EmaiTemplateId, (List<SelectListItem>)@ViewBag.EmailTemplates)
                <div class="alertStar"> @Html.ValidationMessageFor(model => model.EmaiTemplateId) </div></td>
                </tr>
            </table>
        </div>
        </div><!--popUpContent-->
   <div class="popUpSubContent">
                <div class="pageFooterContent"> 
                    <div class="pageFooterButtons">
                    	<table>
                        	<tr>
                            	<td><button type="submit" class="PageFooter_Button">@Resources.Common_Save</button></td>
                                <td>@Resources.Common_label_or</td>
                                <td><a href="#!" onclick="window.close()">@Resources.Common_Cancel</a></td>
                            </tr>
                        </table>              
                       
                                     
                    </div>
                </div>
            </div><!-- popUpSubContent-->                      
</div><!--popUpContainer-->
}

</body>
</html>

