﻿@model FVGen3.Domain.Entities.LocalTemplateSubSectionUserPermission
@{
    ViewBag.Title = "Sub-Section User Permission";
}
@using FVGen3.Domain.Entities;
<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=8" />
<meta http-equiv="X-UA-Compatible" content="IE=9" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width"/>

<link rel="stylesheet" href="../css/appPopUp.css">
<link rel="stylesheet" href="../css/appInnerPages.css">

</head>
<script>
    function DropDownChanged(obj) {
        window.location = "SubSectionUserPermission?SubSectionId=@Model.SubSectionId&clientId="+$(obj).val();
    }
   

    function selectAll(obj)
    {

    }

</script>

<body>
@using (Html.BeginForm("SubSectionUserPermission", "TemplateTool", FormMethod.Post, new { id = "form" }))
{
   

    @Html.HiddenFor(rec => rec.SubSectionId)
    @Html.HiddenFor(rec => rec.ClientId)
<div class="popUpContainer">
     @if (@ViewBag.ErrorMessage != null)
    {
     <div class="errorMessage">@ViewBag.ErrorMessage</div>
    }
	<div class="popUpContent">
        <div class="page-title">
            <h2>@Resources.Resources.User_Permissions</h2>
        </div>
    	
        @*<div class="rowPopUp">
            <label>@Resources.Resources.Please_select_the_client</label>
            @Html.DropDownListFor(r => r.ClientId, (List<SelectListItem>)ViewBag.clients, new { onchange = "DropDownChanged(this)" })
        </div>*@ 






               <div class="rowPopUp">
                	<table width="95%" border="0">
                    	<tr>
                        	<td width="70%"></td>
                            <th width="10%" align="center"style="padding-right:75px">@Resources.Resources.Read_Permission</th>
                            <th width="10%" align="center"style="padding-right:50px">@Resources.Resources.Employees_Partial_Edit</th>
                        </tr>
                    </table>
                	<table   border="0" width="100%">
                  		<tr>
                        	<td valign="top" width="40%"><label>@Resources.Resources.User_Permissions</label></td>
                        	<td width="60%">
                            	<div class="scrollCheckbox" style="height:300px">
                                	<table width="97%" border="0">
                                    @if (Model.UserPermissions != null)
                                    {
                                        for (int i = 0; i < @Model.UserPermissions.Count; i++)
                                        {
                                            @Html.HiddenFor(rec => rec.UserPermissions[i].UserId)
                                             @Html.HiddenFor(rec => rec.UserPermissions[i].UserName)
                                    	    <tr>
                                        	    <td width="40%">
                                            	    @Model.UserPermissions[i].UserName
                                                </td>
                                                <td width="10%" valign="top">
                                            	    @Html.CheckBoxFor(rec => rec.UserPermissions[i].Read, new { style = "margin-left:23px;" })
                                                </td>
                                                <td width="10%" valign="top">
                                            	     @Html.CheckBoxFor(rec => rec.UserPermissions[i].Edit, new { style = "margin-left:30px;" })
                                                </td>
                                            </tr>
                                        }
                                    }
                                    </table>



                                </div>
                            </td>
                        </tr>
                    </table>
                    
               </div>
        
         
         <div class="popUpSubContent">
                <div class="pageFooterContent"> 
                    <div class="pageFooterButtons">
                    	<table>
                        	<tr>
                            	<td><button type="submit" class="PageFooter_Button">@Resources.Resources.Common_Save</button></td>
                                <td>@Resources.Resources.Common_label_or</td>
                                <td><a href="#!" onclick="window.close()">@Resources.Resources.Common_Cancel</a></td>
                            </tr>
                        </table>              
                       
                                     
                    </div>
                </div>
            </div><!-- popUpSubContent-->                      

         
            
		 
</div>
</div>
}
</body>
</html>



