﻿@model FVGen3.Domain.Entities.LocalTemplateSubSectionsNotifications
@{
    ViewBag.Title = "SubSectionNotifications";
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=8"/>
<meta http-equiv="X-UA-Compatible" content="IE=9"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width"/>
@Scripts.Render("~/Scripts/jquery-1.9.1.min.js")
<link rel="stylesheet" href="../css/appPopUp.css" >
<link rel="stylesheet" href="../css/appInnerPages.css" >
</head>
<script>
    function AdminOrClientClick() {
        if ($("#ForAdmin").is(":checked")) {
            $("#AdminRow").show();
        }
        else {
            $("#AdminRow").hide();
            $('#AdminUserId').val('');
        }

        if ($("#ForClient").is(":checked")) {
            $("#ClientRow").show();
        }
        else {
            $("#ClientRow").hide();
            $('#ClientUserId').val('');
        }

        //        if ($("#ForAdmin").is(":checked") == false && $("#ForClient").is(":checked") == false) {
        //            $("#EmaiTemplateRow").hide();
        //            $('#EmaiTemplateId').val('');
        //        }
        //        else {
        //            $("#EmaiTemplateRow").show();
        //        }
    }
    function SenderChanged(type) {



        if (type == 2 || type == 1) {
            var SenterType = 0; //Admin
            if (type == 2)
                SenterType = 1; //Client
            $.ajax({
                type: 'Post',
                url: 'GetClientOrAdminUsers',
                data: 'SubSecId=' + '@Model.TemplateSubSectionID' + '&type=' + SenterType,
                success: function (data) {
                    var items = "";
                    $.each(data, function (i, item) {
                        items += "<option value=\"" + item.Value + "\">" + item.Text + "</option>";
                    });

                    $("#SenderEmailId").html(items);
                    $("#SenderEmailRow").show();
                    $("#SenderEmailId").val('@Model.SenderEmailId');

                },
                error: function (req, status, error) {
                    //console.trace();                
                }
            });
        }
        else
            $("#SenderEmailRow").hide();
    }
</script>
<body>


@using (Html.BeginForm())
{
      @Html.HiddenFor(model => model.TemplateSubSectionID)
      @Html.HiddenFor(model => model.TemplateSubSectionNotificationId)
<div class="popUpContainer">
    @if (@ViewBag.ErrorMessage != null)
    {
     <div class="errorMessage">@ViewBag.ErrorMessage</div>
    }
	<div class="popUpContent">
    	<div class="page-title">
        	<h2>Sub-Section Notifications</h2>
        </div>
        <div class="rowPopUp">
        	<table>
            	<tr>
                	<td><label>Send to Admin user:</label></td>
                    <td> @Html.CheckBoxFor(rec => rec.ForAdmin, new { onClick = "AdminOrClientClick()" })</td>
                </tr>
            </table>
        </div>
        <div class="rowPopUp" id="AdminRow"
        @if(@Model.ForAdmin==false)
        {
            @:style="display:none;"
        }
        >
        	<table>
            	<tr>
                	<td><label></label></td>
                    <td> @Html.DropDownListFor(model => model.AdminUserId, (List<SelectListItem>)@ViewBag.AdminUsers)
                        <div class="alertStar"> @Html.ValidationMessageFor(model => model.AdminUserId) </div>
                    </td>
                </tr>
            </table>
        </div>

        <div class="rowPopUp">
        	<table>
            	<tr>
                	<td><label>Send to Client user:</label></td>
                    <td> @Html.CheckBoxFor(rec=>rec.ForClient, new { onClick = "AdminOrClientClick()" })</td>
                </tr>
            </table>
        </div>

        <div class="rowPopUp" id="ClientRow"
        @if(@Model.ForClient==false)
        {
            @:style="display:none;"
        }
        >
        	<table>
            	<tr>
                	<td><label></label></td>
                    <td> @Html.DropDownListFor(model => model.ClientUserId, (List<SelectListItem>)@ViewBag.ClientUsers)
                <div class="alertStar"> @Html.ValidationMessageFor(model => model.ClientUserId) </div></td>
                </tr>
            </table>
        </div>
        <div class="rowPopUp" id="EmaiTemplateRow"
      @*  @if(@Model.ForAdmin==false && @Model.ForClient==false)
        {
            @:style="display:none;"
        }*@
        >
        	<table>
            	<tr>
                	<td><label class="enableStarPopUp">Template:</label></td>
                    <td>@Html.DropDownListFor(model => model.EmaiTemplateId, (List<SelectListItem>)@ViewBag.EmailTemplates)
                <div class="alertStar"> @Html.ValidationMessageFor(model => model.EmaiTemplateId) </div></td>
                </tr>
            </table>
        </div>


        <div class="rowPopUpRadioCheckbox" style="display:none;">
        	<table>
            	<tr>
                	<td><label>Sender:</label></td>
                    <td> @Html.RadioButtonFor(rec => rec.SenderType, "0", new {id="Default",onclick="SenderChanged(0)" })</td>
                    <td> <label for="Default" style="width:50px;"> Default</label></td>
                    <td> @Html.RadioButtonFor(rec => rec.SenderType, "1", new { id = "FV", onclick = "SenderChanged(1)" })</td>
                    <td> <label for="FV"  style="width:30px;"> FV</label></td>
                    <td> @Html.RadioButtonFor(rec => rec.SenderType, "2", new { id = "Client", onclick = "SenderChanged(2)" })</td>
                    <td> <label for="Client"  style="width:30px;"> Client</label></td>
                </tr>
            </table>
        </div>

        <div class="rowPopUp" id="SenderEmailRow"
        
        @if(Model.SenderType!=2)
        {
            @:style="display:none;"
        }
        >
        	<table>
            	<tr>
                	<td><label>Sender Email:</label></td>
                    <td> @Html.DropDownListFor(rec => rec.SenderEmailId, (List<SelectListItem>)ViewBag.clients)</td>
                    
                </tr>
            </table>
        </div>

    </div><!--popUpContent-->
   <div class="popUpSubContent">
                <div class="pageFooterContent"> 
                    <div class="pageFooterButtons">
                    	<table>
                        	<tr>
                            	<td><button type="submit" class="PageFooter_Button">Save</button></td>
                                <td>or</td>
                                <td><a href="#!" onclick="window.close()">Cancel</a></td>
                            </tr>
                        </table>              
                       
                                     
                    </div>
                </div>
            </div><!-- popUpSubContent-->                      
</div><!--popUpContainer-->
}
<script>

    SenderChanged('@Model.SenderType');
    

</script>
</body>
</html>

 

