﻿@{
    ViewBag.Title = "Template Sections List";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}

<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<link rel="stylesheet" href="../css/common.css"/>
<link rel="stylesheet" href="../css/appInnerPages.css"/>
<link rel="stylesheet" href="../css/index.css"/>
<link rel="stylesheet" href="../css/templatetool.css"/>
<link href="~/Content/cleditor/jquery.cleditor.css" rel="stylesheet" type="text/css" />

<!--<link rel="stylesheet" href="../css/jquery-ui.css" />-->
 <!--<script src="../js/jquery-ui.js"></script>-->
<script src="../js/jquery-1.9.1.min.js"></script>
<script src="../js/jquery-1.6.3.js"></script>


<script type="text/javascript" src="~/js/nicEdit.js"></script>


<script src="../js/jquery-1.10.3.js"></script>
<script src="../js/common.js"></script>
 <link rel="stylesheet" href="../css/prequalificationdynamic.css"/>

<script>

	$(document).ready(function () {
	    // 
	    setPermissions('@ViewBag.ViewPermissions');
	    // Ends<<< 
	});
   
</script>
<script type="text/javascript">
    function SubSectionvisiblity(subSecId,obj)
    {
        var IsShow=false;
        var Classname = $(obj).attr('class');
        var Newclass = 'fa fa-eye-slash';
        var Template = $(obj).parent().find('span');
       
      if(Classname!="fa fa-eye")
      {
          Newclass = 'fa fa-eye';
          IsShow = true;
      }
      
      var c = confirm("Do you want hide/show assign status by location section");
      if (c == true) {
          $.ajax({
              type: 'POST',
              url: 'UpdateSubSectionVisiblity',
              data: { subSecId: subSecId, IsShow: IsShow },
              success: function (data) {
                  $(obj).removeClass(Classname).addClass(Newclass);
                  if (IsShow==false)
                      Template.css("text-decoration", "line-through");
                  else
                      Template.css("text-decoration", "");
              }
             
          });
      }
      else {
          return false;
      }
    }

    //Rajesh on 2/11/2014
    var SubSecUserPermissionNotificationPopUp = false;
    function SubSectionUserPermission(subSecId) {


        if (SubSecUserPermissionNotificationPopUp && !SubSecUserPermissionNotificationPopUp.closed) {
            SubSecUserPermissionNotificationPopUp.focus();
        }
        else {
            SubSecUserPermissionNotificationPopUp = window.open("SubSectionUserPermission?SubSectionId=" + subSecId, "_blank", "toolbar=no,  directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=yes, width=750, height=700");
        }
    }
    var LocationStatusNotificationPopUp = false;
    function ConfigureEmailTemplate(SubSectionID)
    {
        if (LocationStatusNotificationPopUp && !LocationStatusNotificationPopUp.closed) {
            LocationStatusNotificationPopUp.focus();
        }
        else {
            LocationStatusNotificationPopUp = window.open("SetupLocationStatusNotification?SubSectionID=" + SubSectionID, "_blank", "toolbar=no,  directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=yes, width=750, height=700");
        }
    }
    //Ends<<<
    //Rajesh on 10/21/2013
    function DeleteSubSection(SubsecId) {
        var c = confirm("All Questions belonging to this Sub-section will be deleted, Do you want to proceed?");
        if (c)
            $.ajax({
                type: 'GET',
                url: 'DeleteSubSection',
                data: 'SubSectionID=' + SubsecId,
                success: function (data) {
                    //alert(data);
                    if (data == "OK")
                        window.location.reload(true);
                },
                error: function (req, status, result) {
                    alert("Unable to delete,Please contact administrator");
                }
            });
    }
    //<<<Ends

    function TemplatesChange(obj) {
        GetSections($(obj).val(),-1);
    }
    function SectionChanged() {
        window.location = 'SubSectionView?SectionId=' + $("#Sectionslist").val();
    }
    function GetSections(TemplateId, Section) {

        $.ajax({
            type: 'Post',
            url: 'GetSections',
            data: 'TemplateId=' + TemplateId + '&SectionId=' + Section,
            success: function (data) {
                $('#Sectionslist').empty();
                
                for (var i = 0; i < data.length; i++) {
                    var datasec = data[i].Text;
                    var datasecId = data[i].Value;
                    var dataSel = data[i].Selected;

                    var newOption = $('<option value="' + datasecId + '" >' + datasec + '</option>');
                    if (dataSel == true)
                        newOption = $('<option value="' + datasecId + '" selected >' + datasec + '</option>');
                    $('#Sectionslist').append(newOption);
                }

            },
            error: function (req, status, error) {
                //console.trace();
                alert("Unable to get sections");
            }
        });
    }

    //Rajesh on 10/18/2013
    function htmlEncode(value) {
        //create a in-memory div, set it's inner text(which jQuery automatically encodes)
        //then grab the encoded contents back out.  The div never exists on the page.
        return $('<div/>').text(value).html();
    }
    function htmlDecode(value) {
        return $('<div/>').html(value).text();
    }
    //<<Ends
    var HeaderId = -1;
    var FooterId = -1;
    var Headereditor;
    var Footereditor;
    function Setheader(headerId, Title, Content) {
        //alert(Content);
        HeaderId = headerId;
        $("#headerTitle").html(htmlDecode(Title)); //Rajesh on 10/18/2013
        $("#HeaderContent").html(htmlDecode(Content)); //Rajesh on 10/18/2013


        $("#RichTextAreaDiv").hide();
       
        
        $("#welcomeTextWizard").hide();       
        $("#HeaderWithData").show();
    }
    function SetFooter(footerId, Title, Content) {
        FooterId = footerId;
        $("#FooterTitle").html(htmlDecode(Title)); //Rajesh on 10/18/2013
        $("#FooterContent").html(htmlDecode(Content)); //Rajesh on 10/18/2013

        $("#FooterRichTextAreaDiv").hide();
        $("#FooterwelcomeTextWizard").hide();
        $("#FooterWithData").show();
    }
    $(function () {
        $(".sortable").sortable({
            cancel: ".hiddenList"
        });
        $(".sortable").disableSelection();
    });
    function stopSorting(id, currentButton) {
        //alert($(currentButton).attr("flag_Arrange"));
        if ($(currentButton).attr("flag_Arrange") == "false") {
            $(currentButton).attr("flag_Arrange", "true");
            $(currentButton).text("Done");


            
        }
        else {
            $(currentButton).attr("flag_Arrange", "false");
            $(currentButton).text("Re-Arrange");
        }


        $("#" + id + " li").each(function () {


            $(this).removeClass("defaultList");
            $(this).removeClass("hiddenList");
            if ($(currentButton).attr("flag_Arrange") == "false") {
                $(this).addClass("hiddenList");
                $(this).find(".reArrangeImg").hide(); //Rajesh on 10/21/2013
            }
            else {
                $(this).addClass("defaultList");
                $(this).find(".reArrangeImg").show();
            }

        });
        if ($(currentButton).attr("flag_Arrange") == "false") {
            var ids = "";
            $("#" + id + " li").each(function () {
                ids += $(this).prop("id") + "|";
            });
            //alert('templateSectionIds=' + ids + '&TemplateId=' + id.substring(3));
            $.ajax({
                type: 'GET',
                url: 'ChangeTemplateSubSectionsOrder',
                data: 'templateSubSectionIds=' + ids + '&TemplateSecId=' + id.substring(3),
                success: function (data) {
                    //alert(data);

                },
                error: function () {
                    alert("Unable to process request, please try again");
                }
            });
        }
    }
    var area2;
    function FooterTextClick() {
        $("#FooterRichTextAreaDiv").show();
        $("#FooterTitleDiv").show();
        
        $("#FooterWithData").hide();
        $("#FooterwelcomeTextWizard").hide();


        $("#FTitle").val($("#FooterTitle").html()); //Rajesh on 10/19/2013
        //$("#FooterRichTextArea").html($("#FooterContent").html()); //Rajesh on 10/19/2013
        $('#FooterRichTextAreaDiv').find('.nicEdit-main').html($("#FooterContent").html());

//        Footereditor.updateFrame();
        //        if ($("#HeaderText").text().trim() == "Click Here")
        //            $("#RichTextArea").val("");
        //        else
        //            $("#RichTextArea").val($("#HeaderText").text());

    }

    function deleteHeaderOrFooter(type) {
        id = -1;
        if (type == 0)//Header
            id = HeaderId;
        else
            id = FooterId;
        if (id == -1)
            return;
        //alert(id);

        var c = confirm("Do you want to delete the content?");
        if (c)
            $.ajax({
                type: 'GET',
                url: 'DeleteHeaderOrFooter',
                data: 'headerFooterId=' + id,
                success: function (data) {
                    //alert(data);
                    if (data == "Ok")
                        window.location.reload(true);
                },
                error: function (req, status, result) {
                    alert("Unable to delete,Please contact administrator");
                }
            });

    }

    function FooterDoneClick() {
        var htmlStr = $('#FooterRichTextAreaDiv').find('.nicEdit-main').html();
        var footerData = replaceAll("&nbsp;", "", htmlStr).trim();

        //alert("FooterId: " + FooterId + ";  FooterData: " + footerData);

        if ($("#FTitle").val() !== "" && footerData === "") {
            alert("Please add footer content");
            return;
        }
        if (FooterId != -1 && footerData == "") {
            alert("Please add footer content");
            return;
        }

        $("#FooterRichTextAreaDiv").hide();
        $("#FooterTitleDiv").hide();

        //window.location = "AddHeaderOrFooter?" + 'headerFooterId=' + HeaderId + '&SectionId=' + '@ViewBag.SectionId' + "&type=0" + "&title=" + escape($("#HTitle").val()) + "&content=" + escape($("#RichTextArea").val());

        $("#FooterTitle").html($("#FTitle").val());
        $("#FooterContent").html(htmlStr);

        if (footerData == "" && $("#FTitle").val() == "") {
            $("#FooterwelcomeTextWizard").show();
        }
        else {

            $("#FooterWithData").show();
        }
        if (footerData != "") {

            //alert(FooterId);
            $.ajax({
                type: 'POST',
                url: 'AddHeaderOrFooter',
                data: 'headerFooterId=' + FooterId + '&SectionId=' + '@ViewBag.SectionId' + "&type=1" + "&title=" + encodeURIComponent(htmlEncode($("#FTitle").val())) + "&content=" + escape(htmlEncode(htmlStr)), //Rajesh on 10/19/2013
                success: function (data) {
                    FooterId = data;

                },
                error: function () {
                    alert("Unable to save footer text, try again.");
                }
            });
        }

    }

    function HeaderTextClick() {

        $("#RichTextAreaDiv").show();
        $("#HeaderTitleDiv").show();
        
        $("#HeaderWithData").hide();
        $("#welcomeTextWizard").hide();

        $("#HTitle").val($("#headerTitle").html());         //Rajesh on 10/19/2013
        //$("#RichTextArea").html($("#HeaderContent").html()); //Rajesh on 10/19/2013
        $('#RichTextAreaDiv').find('.nicEdit-main').html($("#HeaderContent").html());

//        Headereditor.updateFrame();
//        if ($("#HeaderText").text().trim() == "Click Here")
//            $("#RichTextArea").val("");
//        else
//            $("#RichTextArea").val($("#HeaderText").text());

    }

    //siva on Feb 4th
    function replaceAll(find, replace, str) {
        //space (&nbsp;)
        var re = new RegExp(find, 'g');
        str = str.replace(re, replace);

        //<br>
        var re = new RegExp("<br>", 'g');
        str = str.replace(re, replace);
        return str;
    }

    function doneClick() {
        var htmlStr = $('#RichTextAreaDiv').find('.nicEdit-main').html();
        var data = replaceAll("&nbsp;", "", htmlStr);

        //alert("HeaderId: " + HeaderId + ";  HeaderData: " + data);

        if ($("#HTitle").val() != "" && data == "") {
            alert("Please add header content1");
            return;
        }
        if (HeaderId != -1 && data == "") {
            alert("Please add header content2");
            return;
        }
        $("#RichTextAreaDiv").hide();
        $("#HeaderTitleDiv").hide();
        $("#headerTitle").html($("#HTitle").val());
        $("#HeaderContent").html(htmlStr);

        //alert("data: " + data.trim() + " Title: " + $("#HTitle").val());
        if (data.trim() == "" && $("#HTitle").val() == "") {
            $("#welcomeTextWizard").show();
        }
        else {

            $("#HeaderWithData").show();
        }
        if (data.trim() != "") {
            //alert(HeaderId);
            $.ajax({
                type: 'POST',
                url: 'AddHeaderOrFooter',
                data: 'headerFooterId=' + HeaderId + '&SectionId=' + '@ViewBag.SectionId' + "&type=0" + "&title=" + encodeURIComponent(htmlEncode($("#HTitle").val())) + "&content=" + encodeURIComponent(htmlEncode(htmlStr)), //Rajesh on 10/19/2013
                success: function (data) {
                    HeaderId = data;

                },
                error: function () {
                    alert("Unable to save Header text, try again");
                }
            });
        }
    }
    function ItemClicked(obj, id) {

        var td = $(obj).closest("td");
        var content = $(obj).parent().siblings(":first").text();
        var tdtoreplace = $(obj).parent().siblings(":first");
        //alert(content);
        tdtoreplace.html("<input type='text'/> <img src='/images/done.png' onclick=\"ItemSubmited(this,'" + id + "')\"/>");
        tdtoreplace.find("input").val(content.trim());
        td.hide();
    }
    function ItemSubmited(obj, id) {

        var td = $(obj).closest("td");
        var oldSubSectionName = td.attr('subsectionname');
        //alert(oldSubSectionName);
        var content = td.find("input").val();
        if (content == "") {
            alert("Please enter the subsection name");
            return;
        }
        Post("../TemplateTool/ChangeSubSectionName", { SubsecId: id, SubsectionName: content }, function () {
            alert("'" + oldSubSectionName + "' has been changed");
            window.location.reload();
        });
    }
    $(document).ready(function () {

        //=====Changes for New UI====
        $("#Edit").click(function () {
            $("#SelectedTemplate").hide();
            $("#SelectAnotherTemplate").show();

        });

        $("#Done").click(function () {
            $("#SelectedTemplate").show();
            $("#SelectAnotherTemplate").hide();

        });


        //===== Ends =================
        var options = {
            width: 686,
            height: 100,
            controls: "bold italic underline | font size " +
                    "style | bullets numbering | " +
                    "alignleft center alignright justify | undo redo | " +
                    "link unlink"
        };

        //Headereditor = $("#RichTextArea").cleditor(options)[0];
        //Footereditor = $("#FooterRichTextArea").cleditor(options)[0];
        // Self-executing recursive animation
        (function pulse() {
            $('.subSectionData').delay(500).animate({ 'border-color': '#dbe6f7' }, 100).delay(500).animate({ 'border-color': '#b7cced' }, 100, pulse);
        })();

    });


    bkLib.onDomLoaded(function () {
        //new nicEditor({ iconsPath: '../images/nicEditorIcons.gif' }).panelInstance('RichTextArea');
        new nicEditor({ buttonList: ['fontSize', 'bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', 'html', 'ul', 'ol', 'indent', 'outdent', 'upload'] }).panelInstance('RichTextArea');

        new nicEditor({ buttonList: ['fontSize', 'bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', 'html', 'ul', 'ol', 'indent', 'outdent'] }).panelInstance('FooterRichTextArea');
    });

 </script>
<script type="text/javascript">    //----1
    var SubSecPopup = false;
    function AddNewSubSecPopup(subSecId) {


        if (SubSecPopup && !SubSecPopup.closed) {
            SubSecPopup.focus();
        }
        else {
            SubSecPopup = window.open("AddOrEditSubSections?SectionId="+@ViewBag.SectionId+"&subSecId="+subSecId, "_blank", "toolbar=no,  directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=yes, width=750, height=700");
        }
    }
   
    //Rajesh on 2/8/2014
   var SubSecNotificationPopUp = false;
    function AddNewSubSecNotificationPopUp(subSecId) {


        if (SubSecNotificationPopUp && !SubSecNotificationPopUp.closed) {
            SubSecNotificationPopUp.focus();
        }
        else {
            SubSecNotificationPopUp = window.open("SubSectionNotifications?TemplateSubSectionId="+subSecId, "_blank", "toolbar=no,  directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=yes, width=750, height=700");
        }
    }
   //Ends<<<
</script>

<!-- Siva on 2/20/2014 -->
<style>
    .nicEdit-main ol{ list-style:inside; list-style-type: decimal; }
    .nicEdit-main ul{ list-style: inside; list-style-type: dot; }
    .scrollCheckbox label {
        line-height: normal;
    }
    .fa{
        color:blue;
        font-size:18px;
        margin-right:30%;
        float:right;
    }
</style>
<!-- Ends -->


<style>
.newTemplateWizard ul
{
    margin:0 0 0 20px;
}
.subsectionHeaderLocal 
{
    font-size:1.5em;
	float:left;
	width:704px;
	height:auto;
	background:#e5e6e8;
	padding:6px 0px 6px 5px;
}
.viewMain
{
	float:left;
	width:709px;
	height:auto;
	background:#fff;
	margin:0px 0 0px 0;
}
.viewMain table
{
	width:96%; 
	border-collapse:collapse;
	 
}
/*.viewMain input
{
	width:24px; 
	height:24px; 
	vertical-align:middle;
}
.viewMain label
{
	padding:5px 0 0 0; 
	width:auto;
}*/
</style>
<script type="text/javascript">

    function selectInitialClient(clientId) {
        ClientChanged('#' + clientId);

    }
    function documentClick(documents) {
        if ($(documents).is(":checked")==false) {
            $(documents).parent().parent().find('.docExpires').prop("checked", false);
            $(documents).parent().parent().find('.docMandatory').prop("checked", false); // Kiran on 8/5/2014
        }

    }
    function documentExpireClick(documents) {
        if ($(documents).is(":checked")) {
            $(documents).parent().parent().find('.docCheckbox').prop("checked", true);
        }

    }
    // Kiran on 8/5/2014
    function documentMandatory(documents) {
        if ($(documents).is(":checked")) {
            $(documents).parent().parent().find('.docCheckbox').prop("checked", true);
        }

    }
    
    function ClientChanged(client) {
        //alert(client);
        //$(this).attr('checked', true);
        //if ($(client).attr("id") == -1) {
        //    $("#SaveBtn").hide();
        //    return;
        //}
        //else {
        //    $("#SaveBtn").show();
        //}
        $(this).prop("checked", true);
        $("#SelectedClient").text($(client).attr("clientName"));

        $.ajax({
            type: 'POST',
            url: 'GetBiddings',
            data: 'clientOrgId=' + $(client).prop("id") + '&templateId=@ViewBag.templateId' + '&SectionId=@ViewBag.SectionId',
            success: function (data) {
                debugger;
                $("#BiddingInterests").empty();
                $("#SelectedBiddings").empty();
                var Biddings = "";

                var oldHeader = "";
                for (var i = 0; i < data.length; i++) {
                    var datasec = data[i].Text;
                    var datasecId = data[i].id;
                    var status = data[i].status;

                    // Kiran on 8/5/2014
                    var docMandatory = data[i].isDocMandatory;
                    var documentMandatory = "";
                    if (docMandatory) {
                        documentMandatory = "<td><input valign='top' type='checkbox' onclick='documentMandatory(this)' class='docMandatory' checked id='idMandatory_" + datasecId + "'></input></td><td><label style='line-height:normal;magin-top:2px;' for='idMandatory_" + datasecId + "'>Mandatory</label></td>";
                    }
                    else {
                        documentMandatory = "<td><input valign='top' type='checkbox' onclick='documentMandatory(this)' class='docMandatory' id='idMandatory_" + datasecId + "'></input></td><td><label style='line-height:normal;magin-top:2px;' for='idMandatory_" + datasecId + "'>Mandatory</label></td>";
                    }
                    // Ends<<<

                    //alert(status);
                    // Srinivas on 2/26/2014
                    var newOption = $("<tr  style='height:30px;'>  <td> <input type='checkbox' onclick='documentClick(this)' class='docCheckbox' biddingName='" + datasec + "' id='id_" + datasecId + "'></input><td><label style='line-height:normal;margin-top:2px;' for='id_" + datasecId + "'>" + datasec + "</label></td>  </td> <td> <input vailgn='top' type='checkbox' class='docExpires' onclick='documentExpireClick(this)' id='idExpire_" + datasecId + "'></input></td> <td><label style='line-height:normal;margin-top:2px;' for='idExpire_" + datasecId + "'>Expire</label></td>" + documentMandatory + " </tr>"); // Kiran on 8/5/2014
                    if (status == "true") {
                        newOption = $("<tr style='height:30px;'>  <td> <input type='checkbox' onclick='documentClick(this)' class='docCheckbox' biddingName='" + datasec + "' checked id='id_" + datasecId + "'></input><td><label style='line-height:normal;margin-top:2px;' for='id_" + datasecId + "'>" + datasec + "</label></td>  </td>  <td> <input vailgn='top' type='checkbox' onclick='documentExpireClick(this)'  class='docExpires' id='idExpire_" + datasecId + "'></input></td> <td><label style='line-height:normal;margin-top:2px;' for='idExpire_" + datasecId + "'>Expire</label></td>" + documentMandatory + " </tr>"); // Kiran on 8/5/2014

                        if (data[i].isExpire == true) {
                            newOption = $("<tr style='height:30px;'>  <td> <input type='checkbox' onclick='documentClick(this)' class='docCheckbox' biddingName='" + datasec + "' checked id='id_" + datasecId + "'></input><td><label style='line-height:normal;margin-top:2px;' for='id_" + datasecId + "'>" + datasec + "</label></td>  </td> <td> <input vailgn='top' type='checkbox'  class='docExpires' onclick='documentExpireClick(this)' checked id='idExpire_" + datasecId + "'></input></td> <td><label style='line-height:normal;margin-top:2px;' for='idExpire_" + datasecId + "'>Expire</label></td>" + documentMandatory + " </tr>"); // Kiran on 8/5/2014
                        }

                        Biddings += datasec + ',';

                    }
                    var header = data[i].Header.trim();
                    if (header != "" && oldHeader != header) {
                        var headding = $('<tr> <td colspan=2>' + header + '</td></tr>');
                        $('#BiddingInterests').append(headding);
                        oldHeader = header;
                    }
                    $('#SelectedBiddings').text(Biddings.substring(0, Biddings.length - 1));
                    $('#BiddingInterests').append(newOption);
                }
            },
            error: function (req, status, error) {
                //console.trace();
                alert("Could not retrieve Client's bidding interests");
            }
        });
    }
    function saveSupportingDocs() {
        var clientId = getCheckedRadioId("Clients");
        var ids = "";
        var names = "";
        $('#BiddingInterests .docCheckbox').each(function () {
            if ($(this).is(':checked')) {


                ids += $(this).prop("id") + "|" + $(this).parent().parent().find('.docMandatory').is(':checked') + "|" + $(this).parent().parent().find('.docExpires').is(':checked') + ","; // Kiran on 8/5/2014
                names += $(this).attr("biddingName") + ",";

                //alert(names+ $(this).parent().parent().find('.docExpires').is(':checked'));
            }
        });
        $('#SelectedBiddings').text(names.substring(0, names.length - 1));
        $.ajax({
            type: 'POST',
            url: 'SaveBiddings',
            data: 'clientId=' + clientId + '&TemplateId=@ViewBag.templateId' + '&clientTemplateData=' + ids + '&SectionId=@ViewBag.SectionId',
            success: function (data) {
                //alert(data);
            },
            error: function (req, status, error) {
                //console.trace();
                alert("Could not save bidding interests, try again");
            }
        });
    }
    function getCheckedRadioId(name) {

        var elements = document.getElementsByName(name);

        for (var i = 0, len = elements.length; i < len; ++i)
            if (elements[i].checked) return elements[i].id;
    }
</script>



<style>
    
    .PaymentDetails_content
{
	float:left;
	width:680px;
	height:auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#000;
	 	
}
.PaymentDetails_content label
{
	float:left;
	width:auto;
	height:30px;
}
.Detials
{
	float:left;
	width:480px;
	height:auto;
	padding-left:10px;
	font-family:
}
.Details_Cost
{float:right;
	width:200px;
	height:auto; background:ffff;
	text-align:right;
	padding-right:20px;
	
}
.Payment_Data
{
	float:right;
	font-style:italic;
	text-align:right;
	padding-right:3px;
}

.PaymentDetails_content img
{
	 
	vertical-align:middle;
}

#Payment_spanOne
{
	background:url(../images/logo_paypal_76w_20h.gif) no-repeat right ;
	width:76px;
	height:60px;
}
 
.Details_Data
{
	float:left;
	width:auto;
	min-height:100px;
	height:auto;
	padding:30px;
}

.subSectionData
{
	padding:30px; 
	  
	font-weight:bold; 
	color:#214478; 
	width:91%; 
	border:2px dashed #afc6e9; 
	background:#f6f9fc; 
	cursor:pointer;
	float:left;
	position:relative;
}
.subSectionData p
{
	text-align:center;
}
.subSectionDataContent
{
	float:left;
	width:100%;
color:#000;
	margin:0px;
	text-align:justify;  
}

.subSectionDataButtons
{
	width:100%;
	height:auto;
	float:right;
	margin-right:-20px;
	margin-top:-50px;
	text-align:right;  
	
}
</style>

</head>

<body>


<div>
		<div class="content">

            @if (((FVGen3.Domain.Entities.TemplateSections)ViewBag.Section).TemplateSectionType == 3)//If it is payment
            {
                <div>
                        <table   width="100%">
                            <tr>
                                <td>
                                	<div class="page-subtitle">
                                		<h2>@Resources.Resources.Payment_Section</h2>
                                    </div>
                                </td>

                                <td> 
                                	<button type="button" value="Add New" 
                                    
                                    @(((FVGen3.Domain.Entities.TemplateSections)ViewBag.Section).Templates.DefaultTemplate)

                                    @{var location = "";}
                                    @if (((FVGen3.Domain.Entities.TemplateSections)ViewBag.Section).Templates.DefaultTemplate == true)
                                    {
                                        location = "window.location='TemplatesAndSections'";
                                    }
                                    else
                                    {
                                        location = "window.location='CreateCustomTemplate'";
                                    }
                                    onclick="@location";
                                    > @Resources.Resources.Common_questionnairebutton_text</button>
                                </td>
                            </tr>
                        </table>
                	</div>
                <div id="SelectedTemplate">
                    	<table  width="100%" border="0">
                        	<tr >
                            	<td valign="top" width="85;"><h3>@Resources.Resources.Companies_Template</h3></td>
                                <td valign="top" width="195"><h4 >@ViewBag.TemplateName</h4></td>
                                <td valign="top" width="70;"><h3>@Resources.Resources.Section</h3></td>
                                <td valign="top" width="330"><h4 >@ViewBag.SectionName</h4></td>
                                <td valign="top" align="left" width="40" id="Edit" style="float:left;"><img src="~/images/edit.png" /></td>
                            </tr>
                        </table>
                        </div>
                <div id="SelectAnotherTemplate" style="display:none;">
                        <table>
                            <tr  >
                            	<td valign="top" width="85;"><h3>@Resources.Resources.Companies_Template</h3></td>
                                <td valign="top" width="195"><h4>@ViewBag.TemplateName</h4></td>
                                <td valign="top" width="70;"><h3>@Resources.Resources.Section</h3></td>
                                <td valign="top" width="330"><select style="float:none;" id="Sectionslist"></select></td>
                                <td valign="top" align="left" width="40" id="Edit" style="float:left;"><img onclick="SectionChanged()" src="~/images/done.png"/></td>
                            </tr>
                        </table>
                    </div>
                 
                <div class="welcomeTextWizard">
                    	<div class="PaymentDetails_content">
        <table  border="0" width="680" cellpadding="5">
            <tr>
                <td class="Details">@Resources.Resources.online_Vendor_Pq_orgid</td>
                <td class="Details_Cost">@Resources.Resources.cost</td>
            </tr>
        </table>
        <div class="Details_Data"> 
        </div>
    
        <table width="660">
            <tr>
                <td><img src="../images/img_accepted-cc.gif" /></td> 
                <td><span class="Payment_Data">@Resources.Resources.Online_Payments_processed_Securely</span><td id="Payment_spanOne"></td>
            </tr>
        </table>
    </div>
                     
                    </div>
            }
            else if (((FVGen3.Domain.Entities.TemplateSections)ViewBag.Section).TemplateSectionType == 99)//If it is finalize and submit
            {
                <div>
                        <table   width="100%">
                            <tr>
                                <td>
                                	<div class="page-subtitle">
                                		<h2>@Resources.Resources.Finalizebutton</h2>
                                    </div>
                                </td>

                                <td> 
                                	<button type="button" value="Add New" 
                                    
                                    @(((FVGen3.Domain.Entities.TemplateSections)ViewBag.Section).Templates.DefaultTemplate)

                                    @{var location = "";}
                                    @if (((FVGen3.Domain.Entities.TemplateSections)ViewBag.Section).Templates.DefaultTemplate == true)
                                    {
                                        location = "window.location='TemplatesAndSections'";
                                    }
                                    else
                                    {
                                        location = "window.location='CreateCustomTemplate'";
                                    }
                                    onclick="@location";
                                    > @Resources.Resources.Common_questionnairebutton_text</button>
                                </td>
                            </tr>
                        </table>
                	</div>
                
                <div class="contentSub">
                    <p>
                       <b>@Html.Raw(@Resources.Resources.PQ_Note)</b>
                    </p>
                </div><!----contentSub---->
                
                <div class="contentSub">
                <div class="subsectionHeaderLocal">
                    @Resources.Resources.Submitted_by
                </div>
                <div class="rowIST">
                    <p>
                        @Resources.Resources.Finalize_ErrorMsg
                    </p>
                </div>
                <div class="rowIST">
                    <label>@Resources.Resources.VendorDetails_CompletedByName</label>
                    <select></select>
                </div>
                <div class="rowIST">
                    <label>@Resources.Resources.VendorDetails_CompletedByTitle</label>
                </div>
                <div class="rowIST">
                     <label id="TelNumber">@Resources.Resources.Common_Label_Telephone</label>
                </div>
                <div class="rowIST">
                     <label id="EmailAddress">@Resources.Resources.CreateEmployee_label_email</label>
                </div>
             </div><!----contentSub---->
             <div class="contentSub">
                <div class="subsectionHeaderLocal">
                    @Resources.Resources.Quiz_Sign
                </div>
                <div class="rowIST">
                    <p>
                        @Resources.Resources.Electronic_Sign
                    </p>
                </div>
                <div class="rowRadioCheckbox">
                    <table>
                        <tr>
                            <td colspan="2">
                                <label style="width:100%;">@Resources.Resources.Check_Box_Confirm</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" id="finalizeChk"/>
                            </td>
                            <td>
                                <label for="finalizeChk">
                                    <b>@Resources.Resources.Finalize_Complete_Accurate</b>
                                </label>
                            </td>
                        </tr>
                    </table>
               </div>
               <div class="rowIST">
                    <table>
                        <tr>
                            <td>
                                <p>
                                   @Resources.Resources.Finalizename
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" id="confirmPerson"/>
                            </td>
                        </tr>
                    </table>
               </div>
              </div><!----contentSub---->

            }
            else
            {
            @*=============Changes for new UI ===============*@
            <div class="subSectionDataBackground">
                <div>
                        <table   width="100%">
                            <tr>
                                <td>
                                    @if (((FVGen3.Domain.Entities.TemplateSections) ViewBag.Section).TemplateSectionType != 5)
                                    {
                                        <div class="page-subtitle">
                                            <h2>@Resources.Resources.Add_Sub_Sec</h2>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="page-subtitle">
                                            <h2>@Resources.Resources.Common_heading_ProficiencyCapabilities</h2>
                                        </div>
                                    }
                                </td>
                                <td>
                                    @if (((FVGen3.Domain.Entities.TemplateSections)ViewBag.Section).TemplateSectionType == 5)
                                    {
                                        <button type="button" onclick="window.location='AddOrEditPreSubSections?SectionId=@ViewBag.SectionId'">
                                            @Resources.Resources.Create_Mode
                                        </button>
                                    }
                                </td>
                                <td> 
                                	<button type="button" value="Add New" 
                                    
                                    

                                    @{var location = "";}
                                    @if (((FVGen3.Domain.Entities.TemplateSections)ViewBag.Section).Templates.DefaultTemplate == true)
                                    {
                                        location = "window.location='TemplatesAndSections'";
                                    }
                                    else
                                    {
                                        location = "window.location='CreateCustomTemplate'";
                                    }
                                    onclick="@location";
                                    
                                    > @Resources.Resources.Common_questionnairebutton_text</button>
                                </td>
                            </tr>
                        </table>
                	</div>

                    <div id="SelectedTemplate">
                    	<table  width="100%" border="0">
                        	<tr >
                            	<td valign="top" width="85;"><h3>@Resources.Resources.Companies_Template</h3></td>
                                <td valign="top" width="195"><h4>@ViewBag.TemplateName</h4></td>
                                <td valign="top" width="70;"><h3>@Resources.Resources.Section</h3></td>
                                <td valign="top" width="330"><h4>@ViewBag.SectionName</h4></td>
                                <td valign="top" align="left" width="40" id="Edit"><img src="~/images/edit.png" /></td>
                            </tr>
                        </table>
                        </div>
                        <div id="SelectAnotherTemplate" style="display:none;">
                        <table>
                            <tr  >
                            	<td valign="top" width="85;"><h3>@Resources.Resources.Companies_Template</h3></td>
                                <td valign="top" width="195"><h4>@ViewBag.TemplateName</h4></td>
                                <td valign="top" width="70;"><h3>@Resources.Resources.Section</h3></td>
                                <td valign="top" width="330"><select style="float:none;" id="Sectionslist"></select></td>
                                <td valign="top" align="left" width="40" id="Edit"><img onclick="SectionChanged()" src="~/images/done.png"/></td>
                            </tr>
                        </table>
                    </div>

            @*     For Header           *@
                    @if (((FVGen3.Domain.Entities.TemplateSections) ViewBag.Section).TemplateSectionType != 5)
                    {
                        <div>
                            <div class="rowIST">
                                <div id="HeaderTitleDiv" style="display: none;">
                                    <table>
                                        <tr>

                                            <td width="90%"><input type="text" id="HTitle"/></td>
                                            <td><button type="button" value="Add New" onclick="doneClick()">@Resources.Resources.Common_button_text</button></td>
                                        </tr>
                                    </table>


                                </div>
                            </div>

                            <div class="welcomeTextWizard" id="welcomeTextWizard">
                                <div>
                                    <button type="button" id="HeaderText" onclick="HeaderTextClick()">@Resources.Resources.Add_Header</button>
                                </div>
                                <div class="welcomeText">
                                    <h3>@Resources.Resources.Add_Header_btn</h3>
                                </div>
                            </div><!----welcomeTextwizard---->
                            <div class="newTemplateWizard" id="HeaderWithData" style="width: 98%; display: none;">
                                <div style="float: left; width: 99%; margin-top: 10px; overflow: hidden;">
                                    <table width="100%">
                                        <tr>
                                            <td>
                                                <div class="page-subtitle" style="padding-left: 10px; padding-top: 0px;">
                                                    <h2 id="headerTitle"></h2>
                                                </div>
                                                <div class="subSectionDataContent" id="HeaderContent" style="width: 95%">

                                                </div>
                                            </td>


                                            <td width="30" align="right" valign="top"><img src="../images/EditIcon.png" style="cursor: pointer;" onclick="HeaderTextClick()"/></td>
                                            <td width="30" align="right" valign="top"><img src="../images/DelButton.png" style="cursor: pointer;" onclick="deleteHeaderOrFooter(0)"/></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                        </div>
                        <div id="RichTextAreaDiv" style="display: none; width: 98%; float: left; height: 100%; margin: 20px 10px 0 10px;">
                            <textarea name="RichTextArea" style="width: 700px; height: 100px;" id="RichTextArea">
                                            </textarea>
                        </div>
                    }
                    
                    @* Header Ends *@
                    
                    @if (((FVGen3.Domain.Entities.TemplateSections)ViewBag.Section).TemplateSectionType != 99)//Supporting Docs
                    {
                        <div class="newTemplateWizard">@* For Section List*@
                          <div id="accord">
                            <div id="space"></div><!---for spacing---->
                	        <ul>
             
                            @if (@ViewBag.SubSections != null)
                            {
                               
					                <li class="list"> 
       						        <div>

                                   @{ var templateSectionTypeId = new List<int?>() { 4, 7 }; }
                                    @if (!templateSectionTypeId.Contains(((FVGen3.Domain.Entities.TemplateSections)ViewBag.Section).TemplateSectionType))//Supporting Docs or BU Sites or Locations Approval
                                    {
                                        <div class="page-subtitle" >
                                            Sub-Sections
                                            @if(((FVGen3.Domain.Entities.TemplateSections)ViewBag.Section).TemplateSectionType != 5)
                                            {
                                                <button type="button" value="Add New" onclick="AddNewSubSecPopup('-1')">@Resources.Resources.Common_AddNew</button>
                                            }
                                        @if (@ViewBag.SubSections.Count > 1)
                                        {
                                            <button type="button" value="Add New" flag_Arrange="false" onclick="stopSorting('id_@ViewBag.SectionId',this)">@Resources.Resources.Re_Arrange</button>
                                        }
                                        </div>
                                    }
                                    
                                        <div id="space"></div><!---for spacing---->
                                            <ul class="sortable" id="id_@ViewBag.SectionId">
                                                 @foreach (var sec in ((List<FVGen3.Domain.Entities.TemplateSubSections>)@ViewBag.SubSections).OrderBy(rec => rec.DisplayOrder))
                                                 {
                                                     var query = "QuestionsList" + QueryStringModule.Encrypt("SubSectionId=" + sec.SubSectionID);//Rajesh on 10/18/2013

                                                     if (sec.SubHeader == true)
                                                     {
                                                        @:<li class="hiddenList" id="@sec.SubSectionID" >
                                                     }
                                                     else
                                                     {
                                                         @:<li class="hiddenList" id="@sec.SubSectionID">
                                                     }
                                                         <table width="97.5%">
                                                	        <tr>
                                                    	        @*@{ var templateSectionTypeId = new List<int?>() { 4, 7, 36 }; }*@
                                                                @if ((((FVGen3.Domain.Entities.TemplateSections)ViewBag.Section).TemplateSectionType) == 4)
                                                                {
                                                                    <td width="50%" subsectionname="@sec.SubSectionName">
                                                                        @(string.IsNullOrEmpty(sec.SubSectionName) ? "_" : @sec.SubSectionName)
                                                                    </td>
                                                                    <td align="right">
                                                                        <img src="../images/edit.png" onclick="ItemClicked(this,'@sec.SubSectionID')" />
                                                                    </td>
                                                                }
                                                                        @if (!templateSectionTypeId.Contains(((FVGen3.Domain.Entities.TemplateSections)ViewBag.Section).TemplateSectionType))//Supporting Docs or BU Sites or Locations Approval
                                                                        {
                                                                    <td width="50%">
                                                                        @if (((FVGen3.Domain.Entities.TemplateSections) ViewBag.Section).TemplateSectionType != 5)
                                                                        {
                                                                            if (sec.SubSectionTypeCondition != "LocationApproval")
                                                                            {
                                                                                <a href="#!" onclick="AddNewSubSecPopup('@sec.SubSectionID')">@(string.IsNullOrEmpty(sec.SubSectionName) ? "_" : @sec.SubSectionName) </a>
                                                                            }
                                                                            else
                                                                            { 
                                                                                if (@sec.Visible == true)
                                                                                {
                                                                                @: <span style="margin-right: 430px;" > @(string.IsNullOrEmpty(sec.SubSectionName) ? "_" : @sec.SubSectionName)</span>
                                                                                 <i class="fa fa-eye" onclick="SubSectionvisiblity(@sec.SubSectionID,this)"  aria-hidden="true"></i>
                                                                               
                                                                                }
                                                                                else
                                                                                {
                                                                                    <span style="text-decoration: line-through;margin-right: 430px;"> @(string.IsNullOrEmpty(sec.SubSectionName) ? "_" : @sec.SubSectionName)</span>
                                                                                 <i class="fa fa-eye-slash" onclick="SubSectionvisiblity(@sec.SubSectionID,this)" aria-hidden="true"></i>
                                                                                }
                                                                            }
                                                                        }
                                                                        else
                                                                        {
                                                                           @: @(string.IsNullOrEmpty(sec.SubSectionName) ? "_" : @sec.SubSectionName)
                                                                        }
                                                                    </td>
                                                                    <td width="30%">
                                                                @if (sec.SubSectionTypeCondition != "LocationApproval")
                                                                {
                                                                    <a href="@query">
                                                                        @if (sec.SubSectionTypeCondition != "UserOrganization" && sec.SubSectionTypeCondition != "PrequalComments" && sec.SubSectionTypeCondition != "UserDetailsForEP" && sec.SubSectionTypeCondition != "CSIWebServiceResponse")//Rajesh on 2/17/2014
                                                                        {
                                                                           @:Questions
                                                                        }
                                                                    </a>
                                                                }
                                                                else
                                                                {
                                                                    <a href="#!" onclick="ConfigureEmailTemplate(@sec.SubSectionID)">@Resources.Resources.Setup_Notification_Temp</a>
                                                                }

                                                                </td><!--Rajesh on 10/18/2013-->
                                                                    <td width="10%"><a href="#!" onclick="AddNewSubSecNotificationPopUp(@sec.SubSectionID)">
                                                                   @if (sec.NotificationExist == true && ((FVGen3.Domain.Entities.TemplateSections)ViewBag.Section).Templates.DefaultTemplate == false)
                                                                   {
                                                                        @:<img src="../images/notification_subsection.png"/>
                                                                   }
                                                                </a></td>
                                                                
                                                                    
                                                                    <td width="10%"><a href="#!" onclick="SubSectionUserPermission(@sec.SubSectionID)">
                                                                   @if (sec.TemplateSubSectionsPermissions.FirstOrDefault(rec => rec.PermissionFor == "Client") != null && sec.TemplateSubSectionsPermissions.FirstOrDefault(rec => rec.PermissionFor == "Client").PermissionType == 1 && ((FVGen3.Domain.Entities.TemplateSections)ViewBag.Section).Templates.DefaultTemplate == false)//Rajesh on 3/26/2014
                                                                   {
                                                                        @:<img src="../images/permission.png"/>
                                                                   }
                                                                </a></td>
                                                                    <td align="right"><img src="../images/rearrange.png" class="reArrangeImg" style="display:none;"/></td>
                                                                    
                                                                    
                                                                    
                                                                   if (sec.TemplateSections.Templates.TemplateStatus == 0)
                                                                   {
                                                                        //Rajesh on 2/17/2014
                                                                            <td align="right"><img src="../images/DelButton.png" onclick="DeleteSubSection('@sec.SubSectionID')"/></td>
                                                                       //Ends<<<
                                                                   }
                                                                }
                                                               
                                                            </tr>
                                        		        </table> 
                                                    @:</li>
                                                 }
                                            </ul>
								        </div>
					                </li>
                            }
                            </ul>	
                
				        </div>
                        </div>
             
                    }
             
              @if (((FVGen3.Domain.Entities.TemplateSections)ViewBag.Section).TemplateSectionType == 4)//Supporting Docs
              {
                  var clientId = "-1";
    			<div class="contentSub">                
                <div class="viewMain" >
                	<table width="100%">
                        
                    	<tr>
                            
                        	<td width="50%">
                            <h3>@Resources.Resources.AddOrEditPreSubSections_label_clients</h3>
                            	<div class="scrollCheckbox" style="width: 90%; height: 200px;">
                                	<table>
                                    @*For None of the clients*@
                                     @if (((FVGen3.Domain.Entities.TemplateSections)ViewBag.Section).Templates.DefaultTemplate == true)
                                     {
                                        <tr  id="BG" >
                                            <td width="10"><input  type="radio" id="-1" name="Clients" onclick="ClientChanged(this)" checked/></td>
											<td>
                                            	<label for="-1">@Resources.Resources.No_Clients</label>
                                           	</td>
                                        </tr>
                                     }
                                    @{var i = 0;}
                                    @foreach (var Client in (List<FVGen3.Domain.Entities.Organizations>)ViewBag.Clients)
                                    {
                                    	<tr  id="BG" style="  height:30px; ">
	                                        <td width="10"><input  type="radio" id="@Client.OrganizationID" name="Clients" clientName="@Client.Name" 
	                                                               @if (((FVGen3.Domain.Entities.TemplateSections)ViewBag.Section).Templates.DefaultTemplate == false)
	                                                               {
	                                                                   if (i == 0)
	                                                                   {
	                                                                       @:checked ="checked" 
	                                                                   }
	                                                               }
	                                                               onclick="ClientChanged(this)" /></td>
											<td>
                                            	<label for="@Client.OrganizationID">@Client.Name</label> @*Srinivas on 2/26/2014*@
                                           	</td>
                                        </tr>
                                             if (((FVGen3.Domain.Entities.TemplateSections)ViewBag.Section).Templates.DefaultTemplate == false)
                                             {
                                                 if (i == 0)
                                                 {
                                                     clientId = Client.OrganizationID + "";

                                                 }
                                             }
                                             i++;
                                    }
                                    </table>
                                </div>
                        	</td>
                        
                        	<td width="50%" >
                            
                                <h3 >@Resources.Resources.Documents</h3>
                                @*Srinivas on 2/26/2014*@
                                <div class="scrollCheckbox" style="width: 90%; height: 200px;">
                                    <table style="width:100%;" id="BiddingInterests" border="0"></table>
                                </div>
                            
                            </td>
                        </tr>	
                    </table> 
                </div>

               
			</div>
		<button type="button" onclick="saveSupportingDocs()" value="Save" id="SaveBtn">@Resources.Resources.Common_Save</button>


        <div class="page-subtitle" >
                    	<h2 id="SelectedClient"></h2>
                    </div>
                    <table  width="709" >
                    	<tr>  <td width="33%" valign="top" id="SelectedBiddings">
                        </td></tr>
                    </table>
         <script type="text/javascript">
             selectInitialClient('@clientId');
                </script>
              }
                
              @*     For Footer           *@
    @if (((FVGen3.Domain.Entities.TemplateSections) ViewBag.Section).TemplateSectionType != 5)
    {
        <div>
            <div class="rowIST">
                <div id="FooterTitleDiv" style="display: none;">
                    <table>
                        <tr>

                            <td width="90%"><input type="text" id="FTitle"/></td>
                            <td><button type="button" value="Add New" onclick="FooterDoneClick()">@Resources.Resources.Common_button_text</button></td>
                        </tr>
                    </table>


                </div>
            </div>

            <div class="welcomeTextWizard" id="FooterwelcomeTextWizard">
                <div style="position: absolute; top: -1.1em; right: 1em;">
                    <button type="button" id="FooterText" onclick="FooterTextClick()">@Resources.Resources.Add_Footer</button>
                </div>
                <div class="welcomeText">
                    <h3>@Resources.Resources.Add_Footer_btn</h3>
                </div>
            </div><!----welcomeTextwizard---->
            <div class="newTemplateWizard" id="FooterWithData" style="width: 98%; display: none;">
                <div style="float: left; width: 99%; margin-top: 10px;">
                    <table width="100%" border="0">
                        <tr>
                            <td>
                                <div class="page-subtitle" style="padding-left: 10px; padding-top: 0px;">
                                    <h2 id="FooterTitle"></h2>
                                </div>
                                <div class="subSectionDataContent" id="FooterContent" style="width: 95%">

                                </div>
                            </td>


                            <td width="30" align="right" valign="top"><img src="../images/EditIcon.png" style="cursor: pointer;" onclick="FooterTextClick()"/></td>
                            <td width="30" align="right" valign="top"><img src="../images/DelButton.png" style="cursor: pointer;" onclick="deleteHeaderOrFooter(1)"/></td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>

        <div id="FooterRichTextAreaDiv" style="display: none; width: 98%; float: left; height: 100%; margin: 20px 10px 0 10px;">

            <textarea name="FooterRichTextArea" style="width: 700px; height: 100px;" id="FooterRichTextArea"> </textarea>
        </div>
    }
                    @* Footer Ends *@

                    

            </div>
            @*=============Changes for new UI Ends ===============*@
            }

			</div><!---ContentSub--->
            </div><!---Content-->
	
    @if (@ViewBag.Header != null)
    {
    <script>
        Setheader('@ViewBag.Header.HeaderFooterId', '@ViewBag.Header.PositionTitle', '@ViewBag.Header.PostionContent');
    </script>
    }
    @if (@ViewBag.Footer != null)
    {
    <script>
        SetFooter('@ViewBag.Footer.HeaderFooterId', '@ViewBag.Footer.PositionTitle', '@ViewBag.Footer.PostionContent');
    </script>
    }
    <script>
        GetSections('@ViewBag.TemplateId', '@ViewBag.SectionId');
    </script>
</body>
</html>
