﻿<!--
Page Created Date:  10/08/2013
Created By: Rajesh Pendela
Purpose:  To create template tool
Version: 1.0
****************************************************
-->
@using FVGen3.Domain.Entities;
@using System.Data.SqlClient;
@using Resources;

@model IEnumerable<FVGen3.Domain.Entities.Templates>
@{
    ViewBag.Title = "Template Sections List";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}




<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<link rel="stylesheet" href="../css/common.css">
<link rel="stylesheet" href="../css/appInnerPages.css">
<link rel="stylesheet" href="../css/index.css">
<link rel="stylesheet" href="../css/templatetool.css">
<link rel="stylesheet" href="../css/jquery-ui.css">



<!-- Jquery Ui-->

	

<script src="../js/jquery-1.9.1.min.js"></script>
 <script src="../js/jquery-1.10.3.js"></script>
 <script src="../js/common.js"></script>

<script>

    $(document).ready(function () {
        // Added code to call setPermissions() function on 08/07/2013 by Kiran Talluri
        setPermissions('@ViewBag.ViewPermissions');
        // Ends<<< 
    });
   
</script>
<script>
    $(function () {
        $(document).tooltip();
    });
	</script>
<script type="text/javascript">

    //Rajesh on 10/21/2013
    
    
   
    function DeleteSection(secId) {

        var c = confirm("All Sub-sections and Questions belonging to this Section will be deleted, Do you want to proceed?");
        if (c) {
            $.ajax({
                type: 'GET',
                url: 'DeleteSection',
                data: 'TemplateSectionID=' + secId,
                success: function (data) {
                    //alert(data);
                    if (data == "OK")
                        window.location.reload(true);
                },
                error: function (req, status, result) {
                    alert("Unable to delete, Please contact administrator");
                }
            });
        }
    }

    function DeleteTemplate(templateid) {
        var c = confirm("All Sections,Sub-sections and Questions belonging to this template will be deleted, Do you want to proceed?");
        if (c) {
            $(".spinnerOverlay").show();
            $('.importSubmitSpinner').show();
            $.ajax({
                type: 'GET',
                url: 'DeleteTemplate',
                data: 'TemplateId=' + templateid,
                success: function (data) {
                    //alert(data);
                    if (data == "OK")
                        window.location.reload(true);
                    $('.spinnerOverlay').hide();
                    $('.importSubmitSpinner').hide();
                },
                error: function (req, status, result) {
                    $('.spinnerOverlay').hide();
                    $('.importSubmitSpinner').hide();
                    alert("Unable to delete, Please contact administrator");
                }
            });
        }
    }
    
    //<<<Ends
    $(document).ready(function () {
        $(".ExpandListButton").click(function () {

            $(".page-subtitleAdd").removeClass("subTitle");
            $(".page-subtitleAdd").addClass("page-subtitleAdd");
            $(this).parent().parent().find(".page-subtitleAdd").addClass("subTitle"); //Rajesh on 10-19-2013

            //Rajesh on 10/21/2013


            if ($(this).parent().parent().find(".div").is(':visible') == false) {
                $(".div").not($(this).parent().parent().find(".div")).slideUp();
                $(this).parent().parent().find(".div").slideDown();
                $(".ExpandListButton").attr("src", "../images/Expandlist.png");
                $(this).attr("src", "../images/collapse.png");
            }
            else {
                $(this).parent().parent().find(".div").slideUp();
                $(this).attr("src", "../images/Expandlist.png");
            }


            //<<Ends


        });
    });


    $(function () {
        $(".sortable").sortable({
            cancel: ".hiddenList"
        });
//        $(".sortable").disableSelection();
    });

    function stopSorting(id, currentButton) {
        //alert($(currentButton).attr("flag_Arrange"));
        if ($(currentButton).attr("flag_Arrange") == "false") {
            $(currentButton).attr("flag_Arrange", "true");
            $(currentButton).attr("src", "../images/done.png");

            if ($(currentButton).attr("type") == "button") {
                $(currentButton).text("Done");
            }
        }
        else {
            $(currentButton).attr("flag_Arrange", "false");
            $(currentButton).attr("src", "../images/rearrangebutton.png");

            if ($(currentButton).attr("type") == "button") {
                $(currentButton).text("Re-Arrange");
            }
        }


        $("#" + id + " li").each(function () {

            $(this).removeClass("defaultList");
            $(this).removeClass("hiddenList");
            if ($(currentButton).attr("flag_Arrange") == "false") {
                $(this).addClass("hiddenList");
                $(this).find(".reArrangeImg").hide(); //Rajesh on 10/21/2013

            }
            else {
                $(this).addClass("defaultList");
                $(this).find(".reArrangeImg").show();
            }

        });
        if ($(currentButton).attr("flag_Arrange") == "false") {
            var ids = "";
            $("#" + id + " li").each(function () {
                ids += $(this).prop("id") + "|";
            });
            //alert('templateSectionIds=' + ids + '&TemplateId=' + id.substring(3));
            $.ajax({
                type: 'GET',
                url: 'ChangeTemplateSectionsOrder',
                data: 'templateSectionIds=' + ids + '&TemplateId=' + id.substring(3),
                success: function (data) {
                    //alert(data);

                },
                error: function () {
                    alert("Unable to re-arrange");
                }
            });
        }

    }
    $(document).ready(function () {

        $(".TemplateUnSelected").click(function () {

            $(".TemplateUnSelected").removeClass("TemplateSelected");
            $(".TemplateUnSelected").addClass("TemplateUnSelected");
            $(this).addClass("TemplateSelected");
            $(".div").slideUp();
            $(this).parent().find(".div").slideDown();

        });
    });
    var TemplatePopUp = false;
    
    function AddNewTemplate(templateId) {


        if (TemplatePopUp && !TemplatePopUp.closed) {
            TemplatePopUp.focus();
        }
        else {
            if (templateId == -1)
                TemplatePopUp = window.open("AddOrEditTemplate", "_blank", "toolbar=no,  directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=yes, width=720, height=500");
            else
                TemplatePopUp = window.open("AddOrEditTemplate?TemplateId=" + templateId, "_blank", "toolbar=no,  directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=yes, width=720, height=500");
        }
    }

    var SectionPopUp = false;
    function AddNewSection(templateId, sectionId) {

        
        if (SectionPopUp && !SectionPopUp.closed) {
            SectionPopUp.focus();
        }
        else {
            SectionPopUp = window.open("AddOrEditSection?TemplateId=" + templateId + "&TemplateSectionID=" + sectionId, "_blank", "toolbar=no,  directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=yes, width=750, height=700");
        }
    }


    function approveTemplate() {

        var c = confirm("Once approved, you can not edit it further. Do you want to proceed?");
        if (c)
        $.ajax({
            type: 'GET',
            url: 'ApproveTemplate?TemplateType=1',
            data: '',
            success: function (data) {
                //alert(data);
                //window.location.reload(true);
                if (data == "Ok")
                    window.location.reload(true);
                else
                    alert("One of the following thing(s) must be missing: Payment/Documents/Sites/Finalize & Submit Section or Any of the sections does not have subsection");

            },
            error: function () {
                alert("Unable to Approve template");
            }
        });
    }
</script>

</head>

<body>


@*=============New Template ============*@ 
<div class="contentSub">
    @{var template_pre = @Model.FirstOrDefault(rec => rec.TemplateStatus == 0 && rec.DefaultTemplate == true);}
    <div class="subSectionDataBackground">
        <div class="rowIST" style="height:22px;width:97%; margin-left:10px;">

        
        <table width="100%">
            <tr>
                <td align="left">
                
                <div class="page-subtitle" >
                <h2>@Resources.Create_Standard_Questionnaire</h2>
                 
            </div></td>
            @if (template_pre != null)
            {
               <td><button type="button" style="float:right; margin-right:0.4%;margin-top:-10px;"  onclick="approveTemplate()">@Resources.Approve_Btn</button> </td>
            }
            </tr>
        </table>
            
        </div>
           
        @if (template_pre == null)
        {
            <div class="welcomeTextWizard">
                <div style=" position:absolute; top:-1.1em;right:1em; ">
                    <button type="button" onclick="AddNewTemplate(-1)">@Resources.Common_AddNew</button>
                </div>
                <div class="welcomeText">
                    <h3 onclick="AddNewTemplate(-1)">@Html.Raw( @Resources.TemplatesAndSections_WelcomeText)</h3>
                </div>
                    
               
            </div>            
        }
        else
        {
            <div class="newTemplateWizard">
                <div style="float:left; width:99%; margin-top:10px; overflow:hidden; ">
                    <table width="100%">
                        <tr>
                            <td>
                                <div class="page-subtitle" style="padding-left:10px; padding-top:0px;">
                                    <h2>@template_pre.TemplateName</h2>
                                </div>
                                <div class="subSectionDataContent">
                                    @template_pre.TemplateNotes
                                </div>
                            </td>
                                    
                                	 
                            <td width="30" align="right" valign="top"><img style="cursor:pointer;" src="../images/EditIcon.png" onclick="AddNewTemplate('@template_pre.TemplateID')"/></td>
                            <td width="30" align="right" valign="top"><img style="cursor:pointer;" src="../images/DelButton.png" onclick="DeleteTemplate('@template_pre.TemplateID')"/></td>
                        </tr>
                    </table>
                </div>
            </div>
               
               
            <div style="float:left; width:99%; margin-top:5px;">
                <table   width="100%">
                    <tr>
                        <td align="left" style="padding-left:3%;"><h3>@Resources.TemplatesAndSections_AddSectionText@template_pre.TemplateName</h3></td>
                        @if (template_pre.TemplateSections != null && template_pre.TemplateSections.Where(rec => rec.TemplateSectionType != 0 && rec.TemplateSectionType != 31).Count() > 0)
                        {
                            <td style="float:right; margin-right:0.4%;"> <button type="button" value="Preview" onclick="window.location='TemplatePreview?TemplateSectionID=-1&ClientId=-1&type=1'">@Resources.Quiz_Preview</button></td>
                        }
                        <td style="float:right; margin-right:0.4%;"> <button type="button" style="margin-right:5px;" value="Add New" onclick="AddNewSection('@template_pre.TemplateID','-1')">@Resources.Common_AddNew</button></td>
                            	                                 
                    </tr>
                        <tr>
                        <td valign="top" style="padding-left:8%; font-size:11px;color:#e81f25;"><i>@Resources.Incomplete_Sec</i></td>
                         @if (template_pre.TemplateSections != null && template_pre.TemplateSections.Where(rec => rec.TemplateSectionType != 0).Count() > 0)
                        {
                            <td style="float:right; margin-right:0.4%;"></td>
                        }
                        <td style="float:right; margin-right:0.4%;"></td>
                    </tr>
                </table>
                @if (template_pre.TemplateSections.ToList().Count() == 0)
                {
                    <div class="welcomeTextWizard" style="width:99%;margin-top:5px;">
                        
                        <div class="welcomeText">
                            <h3 onclick="AddNewSection('@template_pre.TemplateID','-1')">@Resources.TemplatesAndSections_WelcomeText</h3>
                        </div>
                    </div>   
                }
                else
                {
                <div class="newTemplateWizard" style="width:98%;margin-top:5px;">@* For Section List*@
                    @if (template_pre.TemplateSections.ToList().Count() > 1)
                    {
                        <img src="../images/rearrangebutton.png"  style="float:right;cursor:pointer; margin:10px 15px 0 0px;" type="button" value="Add New" onclick="stopSorting('id_@template_pre.TemplateID',this)" flag_Arrange="false"/>
                    }
                    <div id="space" style="float:left; width:100%; height:10px;"></div>
                    <div class="newTemplateSectionList">
                        <ul class="sortable" id="id_@template_pre.TemplateID">

                                @foreach (var sec in template_pre.TemplateSections.ToList().OrderBy(rec => rec.DisplayOrder))
                                {
                                             
                                    var url = "SubSectionView" + QueryStringModule.Encrypt("SectionId=" + @sec.TemplateSectionID);
                                <li class="hiddenList" id="@sec.TemplateSectionID" style="width:92.8%">
                                        <table width="99%" style="margin:0 0 0 4px;float:left;border-collapse:collapse;">
                                        <tr>
                                            <td width="45%"><a href="#!" onclick="AddNewSection('@template_pre.TemplateID','@sec.TemplateSectionID')"><div style="float:left;">@sec.SectionName</div></a> @*Srinivas 1/24/2014*@
                                            
                                            @if (sec.TemplateSectionType != 31 && sec.TemplateSectionType != 0 && sec.TemplateSectionType != 5 && sec.TemplateSectionType != 6 && sec.TemplateSectionType != 8 && sec.TemplateSectionType != 99 && (sec.TemplateSubSections == null || sec.TemplateSubSections.Count() == 0))
                                            {
                                                @: <div style="color:#e81f25;font-weight:bold;font-size:18px;background:none;float:left;margin-left:4px;"> * </div> @*Srinivas 1/24/2014*@
                                            }
                                            </td>
                                                    
                                            @if (@sec.TemplateSectionType == 0 )
                                            {
                                                <td width="45%" ><a href="#!" title="Content in this section can be added from companies details page. To navigate My Account >> Companies >>Add or Edit">@Resources.Hint_Text</a></td>
                                            }
                                            @*Rajesh on 1/22/2014*@
                                            else if (@sec.TemplateSectionType == 31)
                                            {
                                                        <td width="45%" title="Content in this section can be added from companies details page. To navigate My Account >> Companies >> Edit"><a href="#!">@Resources.Hint_Text</a></td>
                                            }
                                            else if (@sec.TemplateSectionType == 3 || @sec.TemplateSectionType == 99 || @sec.TemplateSectionType == 33)
                                            {
                                                <td width="45%"><a href="@url">@Resources.View_SubSec</a></td>
                                            }
                                            else if (@sec.TemplateSectionType == 5 || @sec.TemplateSectionType == 6 || @sec.TemplateSectionType == 8)
                                            {
                                                var url1 = "AddOrEditPreSubSections" + QueryStringModule.Encrypt("SectionId=" + @sec.TemplateSectionID);
                                                <td width="45%"><a href="@url1">@Resources.Per_Client</a></td>
                                            }
                                            else if (@sec.TemplateSectionType == 4 || @sec.TemplateSectionType == 7)
                                            {
                                                <td width="45%"><a href="@url">@Resources.Add_HeaderOrFooter</a></td>
                                            }
                                            @*Rajesh on 1/4/2014*@
                                            else if (@sec.TemplateSectionType == 33)
                                            {
                                                
                                                <td width="45%"><a href="@url">@Resources.Add_HeaderOrFooter</a></td>
                                            }
                                            @*Ends<<<*@
                                            else
                                            {
                                                <td width="45%"><a href="@url">@Resources.Add_Sub_Sections</a></td>
                                            }
                                            
                                            @*Rajesh on 10/21/2013 >>> *@
                                                    
                                            <td align="right" valign="bottom" style="padding-top:5px;"><img src="../images/rearrange.png" class="reArrangeImg" style="display:none;"/></td>

                                                    
                                                    
                                            <td align="right" valign="bottom" style="padding-top:5px;"><img src="../images/DelButton.png" onclick="DeleteSection('@sec.TemplateSectionID')"/></td>
                                                @*<<<<Ends*@

                                        </tr>
                                    </table> 
                                </li>
                                }
                        </ul>
                    </div>
                    </div>
                }
            </div>

        }
    </div>
</div>
@*==========Closing of New Template=========*@
        
@* Another Content Sub *@
<div class="contentSub">
    <div id="accord" style="float:left;">
        <div class="rowIST" style="height:15px;width:97%; margin-left:10px;">
		    <div class="page-subtitle">
                <h2>@Resources.Existing_Templates</h2>
            </div>
        </div>
        <div id="accord" style="float:left;width:709px;">
            <ul>
                @foreach (var template in @Model.Where(rec => rec.TemplateStatus == 1).ToList())
                {
			        <li class="list">
                                
                        <div class="templateListDisplay">
                            
                            <img src="../images/expandlist.png" style="float:right;margin-right:12px;" class="ExpandListButton"/>
                            <h3>
                                <a href="#!" onclick="AddNewTemplate('@template.TemplateID')">@template.TemplateName</a>
                                 @if (@template.DefaultTemplate == false)
                                 {
                                <i style="font-size:0.9em;margin-left:10px;">for @template.ClientTemplates.FirstOrDefault().Organizations.Name</i>
                                 }
                            </h3>
                           
                            
                        </div> 
       				    <div class="div" style="margin-bottom:15px;  ">
                        <button style="float:right; margin-right:2px;" type="button" value="Preview" onclick="window.location='TemplatePreview?TemplateSectionID=-1&ClientId=-1&type=1&templateId=@template.TemplateID'">@Resources.Quiz_Preview</button>
					        <button style="float:right; margin-right:2px;" type="button" value="Add New" onclick="AddNewSection('@template.TemplateID','-1')">@Resources.Common_AddNew</button>
                            <button style="float:right; margin-right:5px;" type="button" value="Add New" onclick="stopSorting('id_@template.TemplateID',this)" flag_Arrange="false">@Resources.Re_Arrange</button>
                            <div id="space" style="float:left; width:100%; height:10px;"></div><!---for spacing---->
                            <ul class="sortable" id="id_@template.TemplateID" style="margin-left:20px">
                                    @foreach (var sec in template.TemplateSections.ToList().OrderBy(rec => rec.DisplayOrder))
                                    {

                                        var url = "SubSectionView" + QueryStringModule.Encrypt("SectionId=" + @sec.TemplateSectionID);
                                        <li class="hiddenList" id="@sec.TemplateSectionID" style="margin:0 0 10px 0;">
                                            <table width="97%">
                                                <tr>
                                                    <td width="45%"><a href="#!" onclick="AddNewSection('@template.TemplateID','@sec.TemplateSectionID')">@sec.SectionName</a></td>
                                                    @if (@sec.TemplateSectionType == 0)
                                                    {
                                                        <td width="45%" title="Content in this section can be added from companies details page. To navigate My Account >> Companies >> Edit"><a href="#!">@Resources.Hint_Text</a></td>
                                                    }
                                                    @*Rajesh on 1/22/2014*@
                                                    else if (@sec.TemplateSectionType == 31)
                                                    {
                                                        <td width="45%" title="Content in this section can be added from companies details page. To navigate My Account >> Companies >> Edit"><a href="#!">@Resources.Hint_Text</a></td>
                                                    }
                                                    @*Ends<<<<*@
                                                    else if (@sec.TemplateSectionType == 3 || @sec.TemplateSectionType == 99 || @sec.TemplateSectionType == 33)
                                                    {
                                                        <td width="45%"><a href="@url">@Resources.View_SubSec</a></td>
                                                    }
                                                    else if (@sec.TemplateSectionType == 5 || @sec.TemplateSectionType == 6 || @sec.TemplateSectionType == 8)
                                                    {
                                                        <td width="45%"><a href="#!">@Resources.Per_Client</a></td>
                                                    }
                                                    @*Rajesh on 1/4/2014*@
                                                    else if (@sec.TemplateSectionType == 33)
                                                    {
                                                        
                                                        <td width="45%"><a href="@url">@Resources.Add_HeaderOrFooter</a></td>
                                                    }
                                                    @*Ends<<<*@
                                                    else if (@sec.TemplateSectionType == 4 || @sec.TemplateSectionType == 7)
                                                    {
                                                        <td width="45%"><a href="@url">@Resources.Add_HeaderOrFooter</a></td>
                                                    }
                                                    else
                                                    {
                                                        <td width="45%"><a href="@url">@Resources.Add_Sub_Sections</a></td>
                                                    }
                                                    <td align="right" valign="bottom" style="padding-top:5px;"><img src="../images/rearrange.png" class="reArrangeImg" style="display:none;"/></td>@*Rajesh on 10/21/2013 *@
                                                </tr>
                                            </table> 
                                        </li>
                                    }
                            </ul>
						</div>
			        </li>
                }
            </ul>	
                
        </div>
                    
    </div>

</div>
@* Closing of Existing templates *@

 <div class="spinnerOverlay">
	      <img src="../images/spinner.gif" width="28" height="28" class="importSubmitSpinner" alt="Spinner" />
    </div>    
</body>
</html>
