﻿@using FVGen3.Domain.Entities;
@model FVGen3.Domain.Entities.LocalSearchVendors
@using Resources

@{
    ViewBag.Title = "Financial Analytics";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
    ViewBag.hasSidebar = false;
}

<!DOCTYPE html>
<head>
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>@Resources.Financial_Analytics</title>
    <meta name="description" content="Client Dashboard - First, Verify" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/css/appReports.css")
    @Scripts.Render("~/Scripts/FVHelpers.js")
    <link href="~/css/FinancialAnalytics.css" rel="stylesheet" />
    <style>
        .main_right {
            float: left;
            width: 100%;
        }
        .styled-select select {
   background: transparent;
   width: 268px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
   }

        .alphaCharacterSelected {
            float: left;
            width: 34px;
            height: 34px;
            line-height: 2.5em;
            text-align: center;
            background: #fff;
            border: 1px solid #ccc;
            cursor: pointer;
            font-weight: bold;
            color: #fff;
            background-color: #1f83bc !important;
        }

        .alphaCharacterUnSelected {
            float: left;
            width: 34px;
            height: 34px;
            line-height: 2.5em;
            text-align: center;
            background: transparent;
            /*border: 1px solid #ccc;*/
            cursor: pointer;
            font-weight: bold;
            color: #6a95c5;
        }
    </style>
    @*<script src="~/Scripts/Application/Prequalification/FinancialAnalyses.js"></script>*@
    <script>
        var vendorId = @ViewBag.vendorId;
    </script>
    <script>
        $(document).ready(function () {


            $('.sidebar_left').hide();

            //$('.container').bind('keypress', function (e) {
            $(document).bind('keypress',
                function (e) {
                    if (e.keyCode == 13) {
                        $("#spinner").click();
                    }

                });
            if('@ViewBag.RestrictedAccess.ToString().ToLower()'=='true')
            {


                $(".Tab1").show();
                $(".Tab2").hide();
                $(".Tab3").hide();
                $(".Tab4").hide();
                $(".Tab5").hide();
            }else{
                $('#buttonTabOnetd').hide();
                $("#buttonTabTwotd").hide();
                $("#buttonTabThreetd").hide();
                $(".Tab1").hide();
                $(".Tab2").hide();
                $(".Tab3").hide();
                $(".Tab4").show();
                $(".Tab5").hide();
            }
            $(".FinancialAnalytics").click(function () {
                $(".Tab1").show();
                $(".Tab2").hide();
                $(".Tab3").hide();
                $(".Tab4").hide();
                $(".Tab5").hide();
                $("#buttonTabOne").removeClass("selectedTab");
                $("#buttonTabOne").removeClass("unSelectedTab");
                $("#buttonTabTwo").removeClass("selectedTab");
                $("#buttonTabTwo").removeClass("unSelectedTab");
                $("#buttonTabThree").removeClass("selectedTab");
                $("#buttonTabThree").removeClass("unSelectedTab");
                $("#buttonTabFour").removeClass("selectedTab");
                $("#buttonTabFour").removeClass("unSelectedTab");
                $("#buttonTabFive").removeClass("selectedTab");
                $("#buttonTabFive").removeClass("unSelectedTab");

                $("#buttonTabOne").addClass("selectedTab");
                $("#buttonTabTwo").addClass("unSelectedTab");
                $("#buttonTabThree").addClass("unSelectedTab");
                $("#buttonTabFour").addClass("unSelectedTab");
                $("#buttonTabFive").addClass("unSelectedTab");
            });

            $(".JobMetrics").click(function () {
                $(".Tab2").show();
                $(".Tab1").hide();
                $(".Tab3").hide();
                $(".Tab4").hide();
                $(".Tab5").hide();

                $("#buttonTabOne").removeClass("selectedTab");
                $("#buttonTabOne").removeClass("unSelectedTab");
                $("#buttonTabTwo").removeClass("selectedTab");
                $("#buttonTabTwo").removeClass("unSelectedTab");
                $("#buttonTabThree").removeClass("selectedTab");
                $("#buttonTabThree").removeClass("unSelectedTab");
                $("#buttonTabFour").removeClass("selectedTab");
                $("#buttonTabFour").removeClass("unSelectedTab");
                $("#buttonTabFive").removeClass("selectedTab");
                $("#buttonTabFive").removeClass("unSelectedTab");

                $("#buttonTabOne").addClass("unSelectedTab");
                $("#buttonTabTwo").addClass("selectedTab");
                $("#buttonTabThree").addClass("unSelectedTab");
                $("#buttonTabFour").addClass("unSelectedTab");
                $("#buttonTabFive").addClass("unSelectedTab");

            });
            $(".NewZScore").click(function () {
                $(".Tab3").show();
                $(".Tab2").hide();
                $(".Tab1").hide();
                $(".Tab4").hide();
                $(".Tab5").hide();
                $("#buttonTabOne").removeClass("selectedTab");
                $("#buttonTabOne").removeClass("unSelectedTab");
                $("#buttonTabTwo").removeClass("selectedTab");
                $("#buttonTabTwo").removeClass("unSelectedTab");
                $("#buttonTabThree").removeClass("selectedTab");
                $("#buttonTabThree").removeClass("unSelectedTab");
                $("#buttonTabFour").removeClass("selectedTab");
                $("#buttonTabFour").removeClass("unSelectedTab");
                $("#buttonTabFive").removeClass("selectedTab");
                $("#buttonTabFive").removeClass("unSelectedTab");

                $("#buttonTabOne").addClass("unSelectedTab");
                $("#buttonTabTwo").addClass("unSelectedTab");
                $("#buttonTabThree").addClass("selectedTab");
                $("#buttonTabFour").addClass("unSelectedTab");
                $("#buttonTabFive").addClass("unSelectedTab");
            });
            $(".PMDashboard").click(function () {
                $(".Tab4").show();
                $(".Tab2").hide();
                $(".Tab3").hide();
                $(".Tab1").hide();
                $(".Tab5").hide();

                $("#buttonTabOne").removeClass("selectedTab");
                $("#buttonTabOne").removeClass("unSelectedTab");
                $("#buttonTabTwo").removeClass("selectedTab");
                $("#buttonTabTwo").removeClass("unSelectedTab");
                $("#buttonTabThree").removeClass("selectedTab");
                $("#buttonTabThree").removeClass("unSelectedTab");
                $("#buttonTabFour").removeClass("selectedTab");
                $("#buttonTabFour").removeClass("unSelectedTab");
                $("#buttonTabFive").removeClass("selectedTab");
                $("#buttonTabFive").removeClass("unSelectedTab");

                $("#buttonTabOne").addClass("unSelectedTab");
                $("#buttonTabTwo").addClass("unSelectedTab");
                $("#buttonTabThree").addClass("unSelectedTab");
                $("#buttonTabFour").addClass("selectedTab");
                $("#buttonTabFive").addClass("unSelectedTab");

                //alert(scopeId + " Hsi");

                // Ends<<<

            });
            $(".SupportingDocuments").click(function () {
                $(".Tab5").show();
                $(".Tab2").hide();
                $(".Tab3").hide();
                $(".Tab1").hide();
                $(".Tab4").hide();
                $("#buttonTabOne").removeClass("selectedTab");
                $("#buttonTabOne").removeClass("unSelectedTab");
                $("#buttonTabTwo").removeClass("selectedTab");
                $("#buttonTabTwo").removeClass("unSelectedTab");
                $("#buttonTabThree").removeClass("selectedTab");
                $("#buttonTabThree").removeClass("unSelectedTab");
                $("#buttonTabFour").removeClass("selectedTab");
                $("#buttonTabFour").removeClass("unSelectedTab");
                $("#buttonTabFive").removeClass("selectedTab");
                $("#buttonTabFive").removeClass("unSelectedTab");

                $("#buttonTabOne").addClass("unSelectedTab");
                $("#buttonTabTwo").addClass("unSelectedTab");
                $("#buttonTabThree").addClass("unSelectedTab");
                $("#buttonTabFour").addClass("unSelectedTab");
                $("#buttonTabFive").addClass("selectedTab");

            });


            GetVendors("@ViewBag.vendorId");

            function GetVendors(val) {
                Post("../Vendor/GetVendors",
              { clientId: $(".OrgName").val() },
              function (data) {
                  var controls = $(Controls.Dropdown(data));
                  controls.attr("id", "vendors");
                  controls.attr("onchange", "VendorChange()");
                  $("#vendorsRow").html(controls);
                  if (val != "")
                      $("#vendors").val(val);
                  Getprequalification("");
              });
            }

            $(".OrgName").change(function () {
                $("#vendors").empty();
                GetVendors("");
            });
        });
        function VendorChange() {
           
            Getprequalification("");

        }
       
        function GetAnalyticsData(){
            Post("../Prequalification/FinancialAnalyticsViewOnTab",
             { VendorId: $("#vendors").val(), ClientId: $(".OrgName").val(),PQId:$("#prequalificationId").val() },
             function (data) {

                 $(".Tab1").html(data);
                
             });
            Post("../Prequalification/JobMetrics",
             { VendorId: $("#vendors").val(), ClientId: $(".OrgName").val(),PQId:$("#prequalificationId").val() },
             function (data) {

                 $(".Tab2").html(data);
             });
            Post("../Prequalification/NewZScore",
          { VendorId: $("#vendors").val(), ClientId: $(".OrgName").val(),PQId:$("#prequalificationId").val() },
          function (data) {

              $(".Tab3").html(data);
          });
            Post("../Prequalification/PMDashboard",
        { VendorId: $("#vendors").val(), ClientId: $(".OrgName").val(),PQId:$("#prequalificationId").val() },
        function (data) {

            $(".Tab4").html(data);
        });
            Post("../Prequalification/SupportingDocumentsForFA",
        { VendorId: $("#vendors").val(), ClientId: $(".OrgName").val(),PQId:$("#prequalificationId").val() },
        function (data) {

            $(".Tab5").html(data);
        });
        }
        Getprequalification("@ViewBag.PQId");
        function  Getprequalification(val){
            $("#prequalificationId").empty();
            Post("../Prequalification/GetPrequalification",
              { VendorId: $("#vendors").val(), ClientId: $(".OrgName").val() },
              function (data) {
                  
                  var controls = $(Controls.Dropdown(data));
                  controls.attr("id", "prequalificationId");
                  //controls.attr("onchange", "GetAnalyticsData()");
                  $("#prequalificationRow").html(controls);
                  if (val != "")
                      $("#prequalificationId").val(val);
                  //GetAnalyticsData();
              });}
        </script>
</head>
<body>

    <p 
       @if (Session["RoleName"].ToString().Equals("Client")) {
              @:style="display:none"
          }
       
       >Client:</p>
    <div   style="width:90%;

    @if (Session["RoleName"].ToString().Equals("Client")) {
              @: display:none;
          }
       ">
        @Html.DropDownList("Organizations", (IEnumerable<SelectListItem>)ViewBag.org, new { @class = "rowGenericReportsSelect OrgName" })
    </div>
    <script>
        $(".OrgName").val("@ViewBag.clientId");
    </script>

    <p>@Resources.SearchUser_label_Vendor</p> 
    <div id="vendorsRow" style="width:90%">        
        <select></select>
    </div>
    <p>@Resources.PQ_Period</p> 
    <div id="prequalificationRow"   style="width:90%"><select class="rowGenericReportsSelect"></select></div>
    <div style="margin-top:20px">
   <button onclick="GetAnalyticsData()" style="float:none">@Resources.Get_Data</button>
    </div>
   
    <div class="rowTabs">
        <label class="rowTabsLabel"></label>
        <table style="width:100%">
            <tr>
                <td id="buttonTabOnetd">
                    <div class="selectedTab" id="buttonTabOne" style="min-width:72px">
                        @Html.RadioButtonFor(m => m.searchType, "FinancialAnalytics")
                        <label for="searchType" class="FinancialAnalytics">@Resources.Financial_Analytics</label>

                    </div>
                </td>
                <td id="buttonTabTwotd" >
                    <div class="unSelectedTab" id="buttonTabTwo" style="min-width:72px">
                        @Html.RadioButtonFor(m => m.searchType, "JobMetrics")
                        <label for="searchType" class="JobMetrics">@Resources.Financial_Job_Metrics</label>
                    </div>
                </td>
                <td id="buttonTabThreetd">
                    <div class="unSelectedTab" id="buttonTabThree" style="min-width:72px">
                        @Html.RadioButtonFor(m => m.searchType, "NewZScore")
                        <label for="searchType" class="NewZScore">@Resources.Financial_New_Score</label>
                    </div>
                </td>
                <td>
                    <div class="unSelectedTab" id="buttonTabFour" style="min-width:72px">
                        @Html.RadioButtonFor(m => m.searchType, "PMDashboard")
                        <label for="searchType" class="PMDashboard">@Resources.Financial_PmDashboard</label>
                    </div>
                </td>
                <td>
                    <div class="unSelectedTab" id="buttonTabFive" style="min-width:72px">
                        @Html.RadioButtonFor(m => m.searchType, "SupportingDocuments")
                        <label for="searchType" class="SupportingDocuments">@Resources.Financial_Supporting_Documents</label>
                    </div>
                    </td>
</tr>
        </table>



    </div>


    <div class="Tab1">
        @Html.Action("FinancialAnalyticsViewOnTab", new { VendorId = ViewBag.vendorId, ClientId = ViewBag.clientId, PQId=ViewBag.PQId })
    </div>
    <div class="Tab2">
        @Html.Action("JobMetrics", new { VendorId = ViewBag.vendorId, ClientId = ViewBag.clientId, PQId = ViewBag.PQId })
    </div>
    <div class="Tab3">
        @Html.Action("NewZScore", new { VendorId = ViewBag.vendorId, ClientId = ViewBag.clientId, PQId = ViewBag.PQId })
    </div>
    <div class="Tab4">
        @Html.Action("PMDashboard", new { VendorId = ViewBag.vendorId, ClientId = ViewBag.clientId, PQId = ViewBag.PQId })
    </div>
    <div class="Tab5">
        @Html.Action("SupportingDocumentsForFA", new { VendorId = ViewBag.vendorId, ClientId = ViewBag.clientId, PQId = ViewBag.PQId })
    </div>
</body>

