﻿
<div class="contentSub">
                
                <div class="rowIST">
                    <p>
                      @Html.Raw(@Resources.Resources.Finalize_ErrorMsg)
                    </p>
                </div>
                <div class="rowIST">
                    <label>@Resources.Resources.VendorDetails_CompletedByName</label>
                    @if (@ViewBag.Vendors == null)//Means It's template preview
                    {
                        @:<select></select>
                    }
                    else
                    {
                        @Html.DropDownList("VendorsName", (List<SelectListItem>)@ViewBag.Vendors, new { @onchange = "VendorsChange(this)" })
                    }
                </div>
                <div class="rowIST">
                    <label>@Resources.Resources.VendorDetails_CompletedByTitle</label>
                    <label id="ContactTitle"></label>
                </div>
                <div class="rowIST">
                     <label>@Resources.Resources.Common_Label_Telephone</label>
                    <label id="TelNumber"></label>
                </div>
                <div class="rowIST">
                     <label>@Resources.Resources.CreateEmployee_label_email</label>
                    <label id="EmailAddress"></label>
                </div>
             </div><!----contentSub---->
             <div class="contentSub">
                <div class="finalizeAndSubmitHeader">

                @if (@ViewBag.Vendors != null)//Means It's not a template preview,It's prequalification view
                {
                    if(@Session["RoleName"].ToString().Equals("Admin"))
                    {
                        @:@Resources.Resources.Common_label_SignedBy
                    }
                    else
                    {
                        @:@Resources.Resources.Quiz_Sign
                    }
                }
                else
                {
                    @:@Resources.Resources.Quiz_Sign
                }
                </div>
                <div class="rowIST">
                    <p>
                        @Resources.Resources.Finalize_Electronic_Signature
                    </p>
                </div>
                 @if (@ViewBag.Vendors != null)//Means It's not a template preview,It's prequalification view
                {
                    if(@Session["RoleName"].ToString().Equals("Admin"))
                    {
                        <div class="rowIST">
                             <label>@Resources.Resources.Common_Label_UserName</label><label>@ViewBag.FinalizedUserName</label>
                        </div>
                        <div class="rowIST">
                            <label>@Resources.Resources.Common_Label_Email</label><label>@ViewBag.FinalizedUserEmail</label>
                        </div>
                        <div class="rowIST">
                            <label>@Resources.Resources.Date_And_Time</label><label>@ViewBag.FinalizedDateTime</label>
                        </div>
                    }
                    else
                    {
                         <div class="rowRadioCheckbox">
                    <table>
                        <tr>
                            <td colspan="2">
                                <label>@Resources.Resources.Check_Box_Confirm</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" id="finalizeChk"/>
                            </td>
                            <td>
                                <label for="finalizeChk">
                                    <b>@Resources.Resources.Finalize_Complete_Accurate</b>
                                </label>
                            </td>
                        </tr>
                    </table>
               </div>
                         <div class="rowIST">
                    <table>
                        <tr>
                            <td>
                                <p>
                                   @Resources.Resources.Finalize_Name
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" id="confirmPerson"/>
                            </td>
                        </tr>
                    </table>
               </div>
                    }
                }
                else
                {
                    <div class="rowRadioCheckbox">
                    <table>
                        <tr>
                            <td colspan="2">
                                <label>@Resources.Resources.Check_Box_Confirm</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" id="finalizeChk"/>
                            </td>
                            <td>
                                <label for="finalizeChk">
                                    <b>@Resources.Resources.Finalize_Complete_Accurate</b>
                                </label>
                            </td>
                        </tr>
                    </table>
               </div>
                    <div class="rowIST">
                    <table>
                        <tr>
                            <td>
                                <p>
                                    @Resources.Resources.Finalize_Name
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" id="confirmPerson"/>
                            </td>
                        </tr>
                    </table>
               </div>
                }
              
              </div><!----contentSub---->


              @*Rajesh on 12/30/2013*@
              <script>
                  VendorsChange();
              </script>
              @*Ends<<<*@