﻿@if (ViewBag.currentPrequalification != null)
{
    <div class="partialPage">
        @foreach (var document in (List<IGrouping<long, FVGen3.Domain.Entities.Document>>)ViewBag.Documents)
        {
            <div class="page-subtitle"><h2>@document.FirstOrDefault().DocumentType.DocumentTypeName</h2></div>
            <table class="data-table">
                @foreach (var unit in document.OrderByDescending(record => record.Uploaded).ToList())
                {
                    <tr>
                        <td>
                            <table>
                                <tr>
                                    <td width="350">

                                        @*@Html.ActionLink((string)@unit.DocumentName, "../Companies/DownloadDoc", new { idAsFileName = @unit.DocumentId + "", userEnteredFilename = @unit.DocumentName + "", clientId = @unit.OrganizationId })*@
                                        @if (ViewBag.RestrictedAccess || !unit.DocumentType.RestrictAccess)
                                        {
                                            <a href="#!" id="Docnames" onclick="window.open('../Companies/DownloadDoc?idAsFileName=@unit.DocumentId&userEnteredFilename=@HttpUtility.UrlEncode(@unit.DocumentName)&clientId=@unit.OrganizationId')">
                                                @unit.DocumentName
                                            </a>
                                        }
                                        else
                                        {
                                            @unit.DocumentName
                                        }
                                        
                                    </td>

                                    <td width="200">
                                        @if (@unit.Expires != null)
                                        {
                                            @:Expires on: @unit.Expires
                            }
                                    </td>

                                    @*@if (@ViewBag.mode == null || @ViewBag.mode == 0)
                                        {
                                        if (Session["RoleName"].ToString().Equals("Admin"))//If Admin login Rajesh on 10-01-2013
                                        {
                                        <td><img src="../images/replace.png" onclick='window.open("SupportingDocument?DocumentId=@unit.DocumentId&subSectionId=@ViewBag.subSectionId&preQualificationID=@ViewBag.preQualificationID","_blank", "toolbar=no,  directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=yes, width=650, height=400")' /></td>
                                        }
                                        <td><img src="../images/edit.png" onclick='window.open("SupportingDocument?DocumentId=@unit.DocumentId&subSectionId=@ViewBag.subSectionId&mode=1&preQualificationID=@ViewBag.preQualificationID","_blank", "toolbar=no,  directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=yes, width=650, height=400")' /> </td>
                                        if (Session["RoleName"].ToString().Equals("Admin"))//If Admin login Rajesh on 10-01-2013
                                        {
                                        <td><img src="../images/DelButton.png" onclick="deleteDocument('@unit.DocumentId','@ViewBag.subSectionId')" /></td>
                                        }
                                        }*@
                                </tr>

                                @*Rajesh on 8/19/2014*@
                                <tr>
                                    <td colspan="5" class="twoLineSpace">
                                        <em>
                                            Uploaded on @unit.Uploaded
                                            @try
                                            {
                                                @:by @unit.Systemusers.Contacts.FirstOrDefault().LastName  @unit.Systemusers.Contacts.FirstOrDefault().FirstName




                                            }
                                            catch
                                            {
                                            }<br />
                                            @* Kiran on 8/25/2014 *@
                                            @if (@unit.UpdatedOn != null)
                                            {
                                                @:Last Updated on @unit.UpdatedOn
                                         try
                                                {
                                                    @:by @unit.UpdatedUser.Contacts.FirstOrDefault().LastName @unit.UpdatedUser.Contacts.FirstOrDefault().FirstName
                                             }
                                                catch
                                                {
                                                }
                                            }
                                            @*Ends<<<*@
                                        </em>
                                    </td>

                                </tr>

                                
                            </table>
                        </td>
                    </tr>
                }
            </table>
        }
    </div>}
else
{<div>
        <label style="color:red">@Resources.Resources.No_Data</label>
    </div>
}