﻿<!--
Page Created Date:  09/04/2013
Created By: Sumalatha Jeldi
Purpose:To add a new comment for the selected vendor 
Version: 1.0
****************************************************
-->


@using FVGen3.Domain.Entities;
@model FVGen3.Domain.Entities.LocalPrequalificationComments
@using Resources;
@{
    Layout = null;//"~/Views/Shared/_DashBoardLayout.cshtml";
}

<!DOCTYPE html>
    
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=8"/>
<meta http-equiv="X-UA-Compatible" content="IE=9"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width"/>

<title>@Resources.Vendor_Add_Comments_Heading</title>
</head>

 @Styles.Render("~/css/appPopUp.css")
    @Styles.Render("~/css/appInnerPages.css")
    @Scripts.Render("~/js/common.js")
    @Scripts.Render("~/Scripts/jquery-1.9.1.min.js")
    @Styles.Render("~/Content/Site.css")    
 
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    
@*<script type="text/javascript">

    $(document).ready(function () {
        setPermissions('@ViewBag.ViewPermissions');       
    });

</script>*@


<body>
@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.PrequalificationId); 
    @Html.HiddenFor(m => m.SubSectionID); 
    @Html.HiddenFor(m => m.TemplateSectionID); 
    <div class="popUpContainer">
        <div class="popUpContent">
                            <div class="popUpSubContent">
                    <div class="page-title">
                        <h2>@Resources.VendorAddComments_Heading</h2>
                    </div>
		            <div class="rowPopUp">
                        <table>
                            <tr>
                                <td >
                                    <p>@Html.Raw(Resources.Enter_Comments)</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="rowPopUp">
                        <table border="0">
                            <tr>
                                <td>
                                    <label class="enableStarPopUp">@Resources.Common_Comments</label>
                                </td>
                                <td>
                                    @Html.TextAreaFor(m => m.Comments)
                                    
                                </td>
                            </tr>
                            <tr><td><label></label></td><td><div class="alertText" style="width:auto;margin:0px;">@Html.ValidationMessageFor(x => x.Comments)</div></td></tr>
                        </table>
                   </div>
                </div>
                <div class="popUpSubContent">
                    <div class="pageFooterContent"> 
                        <div class="pageFooterButtons">
                            <table>
                                <tr>
                                    <td><button type="submit" btnType="Insert" class="PageFooter_Button" >@Resources.Common_button_savecomment</button></td>
                                    <td btnType="Insert">@Resources.Common_label_or</td>
                                    <td><div class="pageFooterCancelButton"><a href="#!" onclick="window.close();">@Resources.Common_Cancel</a></div></td>
                                </tr>	
                            </table> 
                        </div>
                    </div>        
                </div> 

        </div>
    </div>
        
}
<div>
    
  </div>          
</body>
</html>


        @*<div class="rowIST">
            <label class ="enableStar">Comment</label>
            @Html.TextAreaFor(m => m.comment)
        </div>
    
    <div class="contentSub">
 		
        <div class="pageFooterContent"> 
            <div class="PageFooter_Buttons">
                <table>
                    <tr>
                        <td><button type="submit"   btnType="Insert"  onclick="SaveComments()" class="PageFooter_Button">Save Comment</button></td>
                        <td>or</td>
                        <td><div class="PageFooter_CancleBtn"><a href="#" onclick = "closeView()">Cancel</a></div></td>
                    </tr>	
                </table> 
            </div>
        </div>
        *@
