﻿@if (Session["RoleName"].Equals("Client") || Session["RoleName"].Equals("Super Client"))
{  if (Session["RoleName"].Equals("Super Client"))
    {<ul style="margin-top:10px;margin-left:30px">@Html.Raw(string.Join("", ((IEnumerable<KeyValuePair<long, string>>)ViewBag.lockedClients).Select(r => "<li>" + r.Value + "</li>").OrderBy(r => r)))</ul>}
    else { @Html.Raw(string.Join("</br> ", ((IEnumerable<KeyValuePair<long, string>>)ViewBag.lockedClients).Where(r => r.Key.ToString() == Session["currentOrgId"].ToString()).Select(r => r.Value)))}
}
else
{
    <div>
        @*<div class="ctrlDivRow">
            <div id="locationsDiv" class="ctrlDiv">
                <label class="labelStart">
                    <b>@Resources.Resources.Select_States</b>
                </label>

            </div>
            <select id="ERIRegion" isMandatory="true" class="mandatory" style="width:300px;height:100px" questionColumnId="-1" InsertionType="ERIClientRegion" QuestionReferenceId="-1" multiple onchange="TemplateSectionsList.ERIRegionsChange('@ViewBag.pqId')">
                @foreach (var item in (List<KeyValuePair<string, string>>)ViewBag.locations)
                {
                    <option value="@item.Key"
                            @if (ViewBag.pqClient != null && ("," + ViewBag.pqClient.Region + ",").Contains("," + @item.Key + ",")) { @: selected="selected"
                                                    }>
                        @item.Value
                                                </option>
                }
            </select>
            <span class="field-validation-valid" data-valmsg-for="ERIRegion" data-valmsg-replace="true"></span>
        </div>*@
        @Html.Hidden("ERIRegion",1)
        <div class="ctrlDivRow" style="margin-bottom:10px">
            <div id="clientsDiv">
                <label class="labelStart">
                    <b>@Resources.Resources.Select_Clients</b>
                </label>

            </div>
            <select id="ERIClient"style="margin-top:10px;"     lockedClients="@(((IEnumerable<KeyValuePair<long, string>>)ViewBag.lockedClients).Count())" questionColumnId="-1" InsertionType="ERIClientIds" QuestionReferenceId="-1" multiple>
                @if (ViewBag.HideClients == null || ViewBag.HideClients == false)
        {
            foreach (var item in (List<KeyValuePair<string, string>>)ViewBag.clients)
            {
                        <option value="@item.Key"
                                @if (ViewBag.pqClient != null && ("," + ViewBag.pqClient.ClientIds + ",").Contains("," + @item.Key + ",")) { @: selected="selected"
                                                            }>
                            @item.Value
                                                        </option>
                    }
                }
                else
                {
                    foreach (var item in (List<KeyValuePair<string, string>>)ViewBag.clients)
                    {
                        if (ViewBag.pqClient != null && ("," + ViewBag.pqClient.ClientIds + ",").Contains("," + @item.Key + ","))
                        {
                            <option value="@item.Key" selected="selected">
                                @item.Value
                            </option>
                        }
                    }
                }
            </select>
            <span class="field-validation-valid" data-valmsg-for="ERIClient" data-valmsg-replace="true"></span>
        </div>
        <div>
            <b style="color:red;">@Resources.Resources.Remove_Clients</b><br />
            <ul style="margin-top:10px;margin-left:30px">@Html.Raw(string.Join("", ((IEnumerable<KeyValuePair<long, string>>)ViewBag.lockedClients).Select(r =>"<li>" +r.Value+"</li>").OrderBy(r => r)))</ul>
        </div>

    </div>
    <script>
        $(document).ready(function () {
        //    $(".mandatory").rules("add",
        //                  {
        //                      required: true,

        //                      messages:
        //                      {
        //                          required: "*"
        //                      }
        //                  });
        //    $("#ERIClient").rules("add",
        //                  {
        //                      required: true,

        //                      messages:
        //                      {
        //                          required: "*"
        //                      }
        //                  });
            var a= '@(ViewBag.HideClients == null || ViewBag.HideClients == false)';
            
            debugger;
            if (a.toLowerCase() == 'true')
                $("#ERIClient").kendoMultiSelect().data("kendoMultiSelect");
            else {
                var multiSelectWidget=$("#ERIClient").kendoMultiSelect({
                    placeholder: "Select Clients",
                    dataTextField: "Value",
                    dataValueField: "Key",
                    minLength: 3, filter: "contains",
                    autoBind: false,//,autoClose: false,
                    dataSource: {
                        type: "json",
                        serverFiltering: true,
                        transport: {
                            read: {
                                url: "../Prequalification/GetERIClients?PQId=@ViewBag.pqId",
                            }
                        }
                    }


                }).data("kendoMultiSelect");
                @foreach (var item in (List<KeyValuePair<string, string>>)ViewBag.clients)
                {
                    if (ViewBag.pqClient != null && ("," + ViewBag.pqClient.ClientIds + ",").Contains("," + @item.Key + ","))
                    {
                        @: multiSelectWidget.dataSource.add({Key:'@item.Key',Value:'@item.Value'});
                        @:multiSelectWidget.value(multiSelectWidget.value().concat(['@item.Key']));
                    }
                }
                //for (var i = 0; i < initialValues.length; i++) {
                //    multiSelectWidget.dataSource.add(initialValues[i]);
                //}
                //multiSelectWidget.value(initialValues);
                multiSelectWidget.trigger("change");
            }

        });

    </script>
}