﻿@{
    ViewBag.Title = "Add Addendum";
    Layout = null;
}
@model FVGen3.Domain.Entities.AddendumModel
           @using Resources;
@Styles.Render("~/css/appPopUp.css")
@Styles.Render("~/css/appInnerPages.css")
@Scripts.Render("~/js/jquery-1.9.1.min.js")
@Scripts.Render("~/js/common.js")
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript" src="@Url.Content("~/Content/Javascript/ckeditor/ckeditor.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/Javascript/ckeditor/adapters/jquery.js")"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#Header").ckeditor({ width: 500, height: 200 });
        //$("#Footer").ckeditor({ width: 500,height:200 });
    });
</script>
<div class="popUpContainer">
    <div class="popUpContent">


        <div class="page-title">
            <h2>@Resources.Addendum </h2>
        </div>
        @if (@ViewBag.status == false)
        {
            <div>
                <p class="errorMessage">@Resources.Unable_To_Process </p>
            </div>
        }
        @using (Html.BeginForm())
        {

            @Html.HiddenFor(model => model.PQSubSectionId)
            @Html.HiddenFor(model => model.PQId)
            @Html.HiddenFor(r => r.SubSectionId)

            <div class="rowPopUp">
                <div class="emailDiv">
                    <label class="enableStar"> @Resources.Companies_SecName_withCol</label>
                    @Html.TextBoxFor(model => model.SectionName, new { @maxlength = "500" })
                    <div class="alertText"> @Html.ValidationMessageFor(model => model.SectionName) </div>
                </div>
            </div>


            <div class="rowPopUp">
                <table width="87%">
                    <tr>
                        <td valign="top"><label class="enableStarPopUp">@Resources.Header</label></td>
                    </tr>
                    <tr>
                        <td>
                            <textarea id="Header" name="Header" class="bodyRichText">
                                @Html.Raw(Model.Header)
                            </textarea>
                        </td>
                    </tr>
                </table>
                <div class="alertStar"> @Html.ValidationMessageFor(model => model.Header) </div>
            </div>

            @*<div class="rowPopUp">
                <table width="87%">
                    <tr>
                        <td valign="top"><label class="enableStarPopUp">Footer:</label></td>
                    </tr>
                    <tr>
                        <td>
                            <textarea id="Footer" name="Footer" class="bodyRichText1">
                                @Html.Raw(Model.Footer)
                            </textarea>
                        </td>
                    </tr>
                </table>
                <div class="alertStar"> @Html.ValidationMessageFor(model => model.Footer) </div>
            </div>*@
            <div class="pageFooterContent">
                <div class="pageFooterButtons">
                    <table>
                        <tr>
                            <td><button type="submit" btntype="Insert" class="pageFooterButton"> @Resources.Common_Save </button></td>
                        </tr>
                    </table>
                </div>
            </div>
        }
    </div>
</div>
