﻿@{
    Layout = null;
}
@model FVGen3.Domain.Entities.LocalEmailComposeModel
           @using Resources;
<!DOCTYPE html>
@Styles.Render("~/css/appPopUp.css")
@Styles.Render("~/css/appInnerPages.css")
@Scripts.Render("~/js/jquery-1.9.1.min.js")
@Scripts.Render("~/js/common.js")
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript" src="@Url.Content("~/Content/Javascript/ckeditor/ckeditor.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/Javascript/ckeditor/adapters/jquery.js")"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $(".bodyRichText").ckeditor();
    });
</script>

@if (@ViewBag.EmailStatus ==false)
{
    <div>
        <p class="errorMessage">@Resources.Common_EmailSendingFailedMsg </p>
    </div>
}
<div class="popUpContainer">
    <div class="popUpContent">


        <div class="page-title">
            <h2> @Resources.Send_Email </h2>
        </div>

        @using (Html.BeginForm())
        {

            @Html.HiddenFor(model => model.TemplateId)
            @Html.HiddenFor(model => model.PrequalificationId)
            @Html.HiddenFor(r=>r.SubSectionId)
            @Html.HiddenFor(model => model.ToAddress)
            <div class="rowPopUp">
                <div class="emailDiv">
                    <label class="enableStar"> @Resources.Email_To</label>
                    @Model.ToAddress
                    <div class="alertText"> @Html.ValidationMessageFor(model => model.ToAddress) </div>
                </div>
                <div class="emailDiv" id="acceptVendor_Div_Id">
                    <label> @Resources.Email_Cc</label>
                    @Html.TextBoxFor(model => model.CCAddress, new { @maxlength = "250" })
                    <div class="alertText"> @Html.ValidationMessageFor(model => model.CCAddress) </div>
                </div>
            </div>
            <div class="rowPopUp">
                <label class="enableStar">@Resources.Email_Subject</label>
                @Html.TextBoxFor(model => model.Subject, new { @maxlength = "200" })
                <div class="alertStar"> @Html.ValidationMessageFor(model => model.Subject) </div>
            </div>

            <div class="rowPopUp">
                <table width="87%">
                    <tr>
                        <td valign="top"><label class="enableStarPopUp">@Resources.Email_Body</label></td>
                    </tr>
                    <tr>
                        <td>
                            <textarea id="Body" name="Body" class="bodyRichText">
                                @Html.Raw(Model.Body)
                            </textarea>
                        </td>
                    </tr>
                </table>
                <div class="alertStar"> @Html.ValidationMessageFor(model => model.Body) </div>
            </div>
           

            <div class="pageFooterContent">
                <div class="pageFooterButtons">
                    <table>
                        <tr>
                            <td><button type="submit" btntype="Insert" class="pageFooterButton">@Resources.Send_Email </button></td>
                        </tr>
                    </table>
                </div>
            </div>
        }
    </div>
</div>

