﻿@{
    ViewBag.Title = "AssignLocationStatus";
    Layout = null;
}
@model FVGen3.Domain.Entities.AssignLocationStatus
           @using Resources;
<h2>@Resources.Assign_Status</h2>
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width" />
 
    @Styles.Render("~/css/appPopUp.css")
    @Styles.Render("~/css/appInnerPages.css")
    @Scripts.Render("~/Scripts/jquery-1.9.1.min.js")
    @Scripts.Render("~/js/common.js")
    @*@Scripts.Render("~/Scripts/Application/Common/Http.js")
    @Scripts.Render("~/Scripts/Application/Control/Controls.js")*@
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Javascript/ckeditor/ckeditor.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Javascript/ckeditor/adapters/jquery.js")"></script>
</head>
<script type = "text/javascript">
    $(document).ready(function () {
        $(".bodyRichText").ckeditor();
        
    });
</script>
<body>
    @using (Html.BeginForm("AssignLocationStatus", "Prequalification", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(x => Model.PrequalificationSiteId)
        @Html.HiddenFor(x => Model.SubsectionId)
        <div class="popUpContainer">
            <div class="popUpContent">
                <div class="popUpSubContent">
                    <div class="rowPopUp">
                        <table>
                            <tr>
                                <td width="40%"><label class="enableStarPopUp">@Resources.Assign_Status_Col</label></td>
                                <td width="60%">
                                    @Html.DropDownListFor(x => Model.PrequalificationStatusId, (IEnumerable<SelectListItem>)@ViewBag.pqStatuses)
                                    <div class="alertStar">   @Html.ValidationMessageFor(x => Model.PrequalificationStatusId)</div>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="rowPopUp">
                        <table>
                            <tr>
                                <td width="40%"><label class="enableStarPopUp">@Resources.Send_Notification</label></td>
                                <td width="60%">
                                    @Html.TextBoxFor(x => Model.SendTo)
                                    <div class="alertStar">   @Html.ValidationMessageFor(x => Model.SendTo)</div>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="rowPopUp">
                        <table>
                            <tr>
                                <td width="40%"><label class="enableStarPopUp">@Resources.Send_Notification_Cc</label></td>
                                <td width="60%">
                                    @Html.TextBoxFor(x => Model.SendCC)                                    
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="rowPopUp">
                        <label class="enableStarPopUp">@Resources.Email_Subject</label>
                        @Html.TextBoxFor(model => model.Subject, new { @maxlength = "200" })
                        <div class="alertStar"> @Html.ValidationMessageFor(model => model.Subject) </div>
                    </div>

                    <div class="rowPopUp">
                        <table width="87%">
                            <tr>
                                <td valign="top"><label class="enableStarPopUp">@Resources.Email_Body</label></td>
                            </tr>
                            <tr>
                                <td>
                                    <textarea id="Body" name="Body" class="bodyRichText">
                                        @Html.Raw(Model.Body)
                                    </textarea>
                                </td>
                            </tr>
                        </table>
                       
                        <div class="alertStar"> @Html.ValidationMessageFor(model => model.Body) </div>
                    </div>

                    <div class="pageFooterContent">
                        <div class="pageFooterButtons">
                            <table>
                                <tr>
                                    <td><button type="submit" class="pageFooterButton">@Resources.Common_Save</button></td>
                                    <td>@Resources.Common_label_or</td>
                                    <td><div class="PageFooter_CancleBtn"><a href="#!" onclick="window.close();">@Resources.Common_Cancel</a></div></td>
                                </tr>
                            </table>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
    }
</body>
</html>
