﻿
@using FVGen3.Domain.Entities
@using Resources
@model FVGen3.Domain.Entities.LocalChangeStatus
@{
    ViewBag.Title = "Template Sections List";
    Layout = "~/Views/Shared/_TemplateSectionMainLayout.cshtml";
}




<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=6" />
<meta http-equiv="X-UA-Compatible" content="IE=7"/>
<meta http-equiv="X-UA-Compatible" content="IE=8"/>
<meta http-equiv="X-UA-Compatible" content="IE=9"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="../css/prequalificationdynamic.css">


<script src="@Url.Content("~/js/jquery-1.9.1.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@*<script src="@Url.Content("~/js/jquery.maskedinput.js")" type="text/javascript"></script>*@
@Scripts.Render("~/js/common.js")
<script src="~/js/autoNumeric.js"></script>
<link rel="stylesheet" href="@Url.Content("~/Content/Site.css")"/>
    
<script src="~/Scripts/jquery-ui.js"></script>
<link rel="stylesheet" href="~/css/jquery-ui.css" />
</head>
<style>
select[multiple] {
    height: 80px;
}

</style>
<script type="text/javascript">

   
    function isOverridePayment(payment) {
        //alert("SDFA");
        if ($(payment).is(":checked")) {
            $("NewPayment").attr("disabled", "disabled");
        }
        else {
            $("NewPayment").removeattr("disabled", "disabled");
        }
    }

    // Kiran on 11/20/2013
    function getPeriodLengthAndUnit() {
        var newStatus = $("#NewStatus").val();
        var selectedPeriodUnit = "";
        var result = "";
        $.ajax({
            type: 'Post',
            url: 'GetPeriodLengthAndUnit',
            data: '&newStatus=' + newStatus + '&selectedPeriodUnit=' + selectedPeriodUnit,
            success: function (data) {
                for (var i = 0; i < data.length; i++) {
                    if (data[i].Text == "D") {
                        var dataUnit = "Days";
                        result = data[i].Text;
                    }
                    else if (data[i].Text == "M") {
                        var dataUnit = "Months";
                        var dataUnitId = data[i].Text;
                        result = data[i].Text;
                    }
                    else if (data[i].Text == "Y") {
                        var dataUnit = "Years";
                        var dataUnitId = data[i].Text;
                        result = data[i].Text;
                    }
                    document.getElementById("PeriodLength").value = data[i].Value;
                    var newOption = $('<option value="' + dataUnitId + '">' + dataUnit + '</option>');
                    $('#PeriodLengthUnit').val(result);
                }
            },
            error: function () {
                console.trace();
                //alert("An error occured while fetching units, Sesion expiried");
            }
        });
    }
    // Ends<<<

    // Kiran on 11/22/2013
    function ShowHidePeriod() {
        var status = $("#NewStatus").val();
        //Rajesh on 9/25/2014

        $("#PeriodStartRow").show();
        $("#PeriodStatusChangeRow").show();
        $("#VendorAssignedRow").show();
        $("#RequestForMoreInfoRow").show();
        //Ends<<<

        if (status == "-1") {
            $('#Period').hide();
        }
        else {
            $('#Period').show();

        }

        //Rajesh on 9/25/2014
        if (status == "7") {
            //$("#IncompleteSectionRow").show();
            if ("@ViewBag.StatusId" == "7") {
                $("#Period").hide();
                $("#PeriodStartRow").hide();
                $("#PeriodStatusChangeRow").hide();
                $("#VendorAssignedRow").hide();
                $("#RequestForMoreInfoRow").hide();
            }

        }
        else {
            //$("#IncompleteSectionRow").hide();
        }
        //End<<<

        //Rajesh on 10/1/2014 // Kiran on 02/04/2015
        if (status == 10) {
            $("#Period").hide();
            $("#PeriodStartRow").hide();
            $("#PeriodStatusChangeRow").hide();
            $("#VendorAssignedRow").hide();
            $("#RequestForMoreInfoRow").hide();
        }
        if (status == 16) {
            //$("#Period").hide();
            //$("#PeriodStatusChangeRow").hide();
            $("#VendorAssignedRow").hide();
            $("#RequestForMoreInfoRow").hide();
        }
        //Ends<<<
    }
    // Ends<<<

    function PreQualificationStatusChange(preStatus) {
        if ($(preStatus).val() == 7) {
            //$("#IncompleteSectionRow").show();

            //Rajesh on 9/25/2014
            $("#NewPeriodStart").val("@ViewBag.PrequalificationStartDate");
            $("#NewStatusChanged").val("@ViewBag.currentDate");
            //Ends<<<
        }
       //else
        //    {
                //$("#IncompleteSectionRow").hide();
            //}
    }
    $(document).ready(function () {
        $('form :input').each(function () {
            if ($(this).attr('type') == "dates") {
                $(this).datepicker();
            }
        });
        
        $("#PeriodLength").autoNumeric('init', { mDec: 0, vMax: '999' });

        // kiran on 11/20/2013
        ShowHidePeriod();
        $("#Status").change(function () {
            getPeriodLengthAndUnit();
            ShowHidePeriod();
        });
        // Ends<<<      
        $("#sitesSubmit").submit(function () {
            debugger;
            var valid = true;
            $(".siteStatus").each(function () {
                if ($(this).val() === "-1") {
                    valid = false;
                }
            });
            if (!valid) alert("Please assign the status for all sites.");
            return valid;
        });
    });

</script>
<body>
@using (Html.BeginForm())
{
    <div class="errorMessage">@Html.ValidationSummary(true)</div>
     @Html.HiddenFor(x => x.PrequalificationId)
     @Html.HiddenFor(x => x.templateId)

	<div class="container">
		<div class="content">	
			<div class="contentSub">
				<div class="PrequalificationHeader"><label>@Resources.Change_Current_Status</label></div>
                <div class="rowIST">
                    <label class="enable">@Resources.Change_Current_Status_WithCol</label>
                    <label class="enable">@Model.CurrentStatus</label>
                </div>
                <div class="rowIST">
                    <label class="enable">@Resources.Current_Strt_Date</label>
                    <label class="enable">	@Model.currentStatusPeriod</label>
                </div>
      	</div><!----End of the content Sub---->

			<div class="contentSub">
          	<div class="PrequalificationHeader"><label>@Resources.Change_Current_Status</label></div>
			    <div class="rowIST">
			        <label class="page-subtitle"><h2>@Resources.Select_New_Status</h2></label>
			    </div>
                
                <div class="rowIST" id="ReviewedSupportingDocs">
                    <input type="checkbox" id="SupportingDocumentsReviewStatus" name="SupportingDocumentsReviewStatus" value="true" />
                    <b><label for="SupportingDocumentsReviewStatus" style="color: red">@Resources.Review_Docs </label></b>
                </div>    

			    <div class="rowIST" id="Status">@* Kiran - 11/20/2013 *@
                    <label>@Resources.New_Status</label>
                    @Html.DropDownListFor(x => x.NewStatus, (List<SelectListItem>)@ViewBag.PreQualificationStatuses, new {onChange="PreQualificationStatusChange(this)" })
                </div>
                @*Kiran on 11/20/2013*@                 
                
                <div class="rowIST" popText="" id="Period">
                    <label>@Resources.Status_Length</label>
                    @Html.TextBoxFor(model => model.PeriodLength, new { @style = "width:80px; margin-right:8px;" }) 
                    @*@Html.DropDownListFor(model => model.PeriodLengthUnit, new SelectList(new[] { "" }), new { @style = "width:100px;" })  *@
                    @Html.DropDownListFor(m => m.PeriodLengthUnit, new[] {
                    new SelectListItem() { Text = "Days", Value="D" },
                    new SelectListItem() { Text = "Months", Value= "M" },
                    new SelectListItem() { Text = "Years", Value="Y" },} , new { @style = "width:100px;" }) 
                    <div class = "alertText">@Html.ValidationMessageFor(model => model.PeriodLength)</div>
                </div>
                @*Ends<<<*@

				<div class="rowIST" id="PeriodStartRow">@*Rajesh on 9/25/2014*@
                    <label>@Resources.New_Prd_Strt_Dt</label>
                    @Html.TextBoxFor(x => x.NewPeriodStart, new { type = "dates", @style = "width:200px;", @readonly = "readonly" }) @*Srinivas on 2/25/2014*@
                    <div class="alertText"> @Html.ValidationMessageFor(x => x.NewPeriodStart) </div>
				</div>
                <div class="rowIST" id="PeriodStatusChangeRow">@*Rajesh on 9/25/2014*@
                    <label>@Resources.New_Status_Change_Date</label>
                    @Html.TextBoxFor(x => x.NewStatusChanged, new { type = "dates", @style = "width:200px;", @readonly = "readonly" }) @*Srinivas on 2/25/2014*@
                    <div class="alertText"> @Html.ValidationMessageFor(x => x.NewStatusChanged) </div>
                </div>

                <div class="rowIST" id="VendorAssignedRow">@*Rajesh on 9/25/2014*@
                    <label class="enableStar">@Resources.Vendor_Assign_To</label>
                    @Html.DropDownListFor(x => x.adminUserId, (IEnumerable<SelectListItem>)@ViewBag.VBAdminUsers)
                    <div class="alertText"> @Html.ValidationMessageFor(x => x.adminUserId) </div>
                </div>
                
                @*Kiran 01/11/2014*@
			    <div class="rowIST" id="RequestForMoreInfoRow">@*Rajesh on 9/25/2014*@
			        <label>@Resources.Display_Exception_Section</label>
			        @Html.CheckBoxFor(x => x.RequestForMoreInfo)
			    </div>
            @if (Model.displayTemplateSections.Count != 0)
            {
                <div class="rowGeneric">
                    <label class="firstLetterLabel">@Resources.Display_Client_Sec</label>
                    <div class="scrollCheckbox">
                        <table style="margin-top: -10px;">
                           
                            @for (var i = 0; i < Model.displayTemplateSections.Count; i++)
                            {
                                @Html.HiddenFor(x => Model.displayTemplateSections[i].TemplateSectionId)
                                var id = "displayTemplateSections_" + @i + "__Status";
                                <tr>

                                    <td>
                                        <input type="checkbox" id="displayTemplateSections_@(i)__Status" name="displayTemplateSections[@i].Status" value="true"
                                               @if (@Model.displayTemplateSections[i].Visible)
                                               {
                                                   @: checked="checked"
                                               }/>
                                    </td>

                                    <td>
                                        <label for="@id" style="padding-top: 7px; padding-left: 0px !important">@Model.displayTemplateSections[i].SectionName</label>
                                    </td>
                                </tr>

                            }
                        </table>
                    </div>
                </div>
            }
                    @* Ends <<<*@

                    @*Kiran on 12/03/2013*@
                    <div class="rowGeneric" id="IncompleteSectionRow">
                        <label class="firstLetterLabel">@Resources.Mark_Sec</label>

                        @* @for(var i=0 ;i< Model.NotCompletedSection.Count;i++)
                {
                    @Html.HiddenFor(x=>Model.NotCompletedSection[i].TemplateSectionID)

                    @Html.CheckBoxFor(x=>x.NotCompletedSection_Status[i])
                    var id = "NotCompletedSection_Status_" + i + "_";
                    <label for="@id" >@Model.NotCompletedSection[i].SectionName</label>

                }*@
                        <div class="scrollCheckbox">
                            <table style="margin-top:-10px;">
                                @for (var i = 0; i < Model.NotCompletedSection.Count; i++)
                            {
                                    @Html.HiddenFor(x => Model.NotCompletedSection[i].TemplateSectionID)
                                var id = "NotCompletedSection_Status_" + i + "_";
                                <tr>

                                    <td>
                                        @Html.CheckBoxFor(x => x.NotCompletedSection_Status[i])
                                    </td>

                                    <td>
                                        <label for="@id" style="padding-top:7px;">@Model.NotCompletedSection[i].SectionName</label>
                                    </td>
                                </tr>

                            }
                            </table>
                        </div>

                    </div>
                </div><!-----End of the Content Sub----->

        <!-- Override payment is obsolete in Gen.3, that is why this div has been made invisible -->
		<div class="contentSub" style="display:none;">
			<div class="PrequalificationHeader"><label>@Resources.Override_Pay_Amt</label></div>
            <div class="rowIST">
            	<table>
                	<tr>
                    	<td width="20px;">@Html.CheckBoxFor(rec => rec.isOverridePayment, new { @onClick = "isOverridePayment(this)" })</td>
                		<td><label class="enable" for="isOverridePayment">@Resources.Over_Dft_Amt</label></td>
                    </tr>
				</table>
            </div>
            <div class="rowIST">
                <label class="enable">@Resources.New_Pay_Amt</label>
                @Html.TextBoxFor(x => x.NewPayment)
                @*<div class="alertText">@Html.ValidationMessageFor(x => x.NewPayment)</div>*@
            </div>
		</div><!-----End of the Content Sub----->
        
        <div class="contentSub">
                    <div class="pageFooterContent"> 
                    	<div class="pageFooterConfirmText">
                        	<table>
                            	<tr>
                                	<td><input type="checkbox" id="isStatusChanged" name="isStatusChanged" value="true"/></td>
                                    <td><label class="enable" for="isStatusChanged">@Resources.Confirm_Change</label></td>
                                </tr>
                            </table>
                         </div>
                        <div class="pageFooterButtons">
                            <table>
                            <tr>
                                <td><button type="submit" class="PageFooter_Button">@Resources.Common_Save</button></td>
                                <td>@Resources.Common_label_or</td>
                                <td><div class="PageFooter_CancleBtn"><a href="../SystemUsers/DashBoard">@Resources.Common_Cancel</a></div></td>
                            </tr>	
                         </table> 
                      </div>
                    </div>        
               </div><!-----End of the Content Sub---->
	</div><!------End of the Content---->
</div><!----End of the Container------>
}
    @*@using (Html.BeginForm("ChanngeLocationStatus", "Prequalification", FormMethod.Post, new { id = "sitesSubmit" }))
    {*@

      @*var finalStatuses = new List<long> { 9 };*@

        <div class="errorMessage">@Html.ValidationSummary(true)</div>
        @Html.HiddenFor(x => x.PrequalificationId)
        @Html.HiddenFor(x => x.templateId)

        <div class="contentSub">
            <div class="PrequalificationHeader"><label>Change Site Statuses</label></div>
            <div>
                @Html.Action("GetPQSites", new { PQId = Model.PrequalificationId })
            </div>            
        </div>

        @*var finalstatus = ViewBag.finalstatus as List<long>;

        if (finalstatus.Contains((long)@ViewBag.StatusId))
        {
            <button type="submit" id="displaybutton">Submit</button>


        }*@
    @*}*@

</body>
</html>
<script>
    if ($("#NewPayment").val() == "0") {
        //alert("Hai");
        document.getElementById("NewPayment").value = "";
    }
</script>