﻿@using Resources;
@{
    Layout = null;
}


<table border="0" style="width:100%;float:left;">
    @if (ViewBag.Comments != null && ViewBag.Comments.Count != 0)
    {
        foreach (var a in (List<FVGen3.Domain.Entities.PrequalificationComments>)@ViewBag.Comments)
        {
        <tr class="rowIST" style="float:none;">
            <td valign="top"><b>@a.SystemUsers.Contacts.FirstOrDefault().LastName  @a.SystemUsers.Contacts.FirstOrDefault().FirstName</b>
                <div><b>@a.CommentsDate.ToShortDateString(), @a.CommentsTime.ToString("hh\\:mm\\:ss")</b></div>
                        
            </td>
            <td>
                @a.Comments
            </td>
        </tr>
        }
    }
    else
    {
    <tr class="VendorDetails_Comments_tr">
        <td class="commentsItalic">
          @Resources.No_Cmnts
        </td>
    </tr>
    }
                    
</table>


