﻿<!--
 *****************************************************
Page Created Date:  30/06/2013
Created By: Rajesh Pendela
Purpose: Dynamic Prequlification - Adding Prequalification Sites while answering a questionnaires
Version: 1.0
****************************************************
-->


@{
    ViewBag.Title = "Prequalification Sites";
}
@model FVGen3.Domain.Entities.LocalAddPrequalificationSite
          
<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=8"/>
<meta http-equiv="X-UA-Compatible" content="IE=9"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width"/>
@Scripts.Render("~/Scripts/jquery-1.9.1.min.js")
@Styles.Render("~/css/appPopUp.css")
@Styles.Render("~/css/appInnerPages.css")
@Scripts.Render("~/js/common.js")
@Scripts.Render("~/Scripts/Application/Common/Http.js")
@Scripts.Render("~/Scripts/Application/Control/Controls.js")

    
</head>


    @Scripts.Render("~/Scripts/jquery-1.9.1.min.js")
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

    <script type="text/javascript">
        var flag = false;
        $(document).ready(function () {
            // Kiran on 01/09/2015
            var busUnitId = $("#BusinessUnit").val();
            getClientBusinessUnits();
            
            if (busUnitId != null) {
                getBussinessUnitSites();
            }
            // Ends<<<
            $("#BusinessUnit").change(function () {
                getBussinessUnitSites();
                
            });

        });
            function getClientBusinessUnits()
            {
                Post("../Prequalification/GetClientBusinessUnits",
                  { clientId: $("#ClientId").val() },
                  function (data) {
                      var controls = $(Controls.Dropdown(data));
                      controls.attr("id", "BusinessUnit");
                      controls.attr("name", "BusinessUnit");
                      controls.attr("onchange", "getBussinessUnitSites()");
              
                      $(controls).val(@Model.BusinessUnit);
                      $("#businessUnitsRow").html(controls);
                      getBussinessUnitSites();
                  });
            }
            function getBussinessUnitSites() {

                $.ajax({
                    type: 'Post',
                    url: '../SystemUsers/PrequalificationClientBusUnitSites',
                    data: '&busUnitId=' + $("#BusinessUnit").val(),
                    success: function (data) {

                        $('#ClientBusinessUnitSite').empty();
                        $('#ClientBusinessUnitSite').append(newOption);
                        for (var i = 0; i < data.length; i++) {
                            var datasite = data[i].Text;
                            var datasiteId = data[i].Value;
                            // Kiran on 3/22/2014
                            if (data[i].Type.toString() == "1") {
                                $("#ClientBusinessUnitSiteId").hide();
                            }
                            else {
                                $("#ClientBusinessUnitSiteId").show();
                            }
                            // Ends<<<
                            var newOption = $('<option value="' + datasiteId + '">' + datasite + '</option>');
                            $('#ClientBusinessUnitSite').append(newOption);
                        }

                        if (flag == false) {
                            $("#ClientBusinessUnitSite").val('@Model.ClientBusinessUnitSite');
                            flag = true;
                        }

                    },
                    error: function () {
                        console.trace();
                        alert("An error occured while fetching sites");
                    }
                });
            }

        
        
    </script>

<body>
    @using (Html.BeginForm())
    {
          <div class="popUpContainer"> 
            <div class="popUpContent">  
             <div class="popUpSubContent">
             @*Kiran on 3/19/2014*@
             @if (@ViewBag.VBBuexists != null && @ViewBag.VBBuexists)
             {
                <div class="errorMessage">
                    @Resources.Resources.Selected_Bu_Exists
                </div>
             }
                @*<div class="errorMessage">@Html.ValidationSummary(true)</div> *@
                 
            @Html.HiddenFor(x => Model.siteId) 
            @Html.HiddenFor(x => Model.preQualificationId) 
            @Html.HiddenFor(x => Model.subSectionId)
            
            <div class="page-title"><h2>@Resources.Resources.AddClientBusinessUnit_Heading</h2>  
	        </div> 
           
                 <div class="rowPopUp"
                      @if (!ViewBag.isERITemplate) { @: style="display:none;"
                                                                     }>
                     <table>
                         <tr>
                             <td><label>@Resources.Resources.AddOrEditCustomTemplate_label_SelectClient</label></td>
                             <td>
                                 <select id="ClientId" questionColumnId="-1" name="ClientId" onchange="getClientBusinessUnits()">
                                     @foreach (var item in (List<KeyValuePair<string, string>>)ViewBag.clients)
                                     {
                                         <option value="@item.Key"
                                                 @if (Model.ClientId.ToString() == item.Key) { @: selected
                                                                                                                                                       }>
                                             @item.Value
                                         </option>
                                     }
                                 </select>
                             </td>
                         </tr>
                     </table>
                 </div>

                <div class="rowPopUp">
                    <table>
                        <tr>
                            <td><label class="enableStarPopUp">@Resources.Resources.PrequalificationSites_BussinessUnit</label></td>
                            <td width="60%" id="businessUnitsRow">
                                @*@Html.DropDownListFor(x => Model.BusinessUnit, (IEnumerable<SelectListItem>)@ViewBag.BussinessUnits)
                                <div class="alertStar">   @Html.ValidationMessageFor(x => Model.BusinessUnit)</div>*@
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="rowPopUp" id="ClientBusinessUnitSiteId">
                    <table>
                        <tr>
                            <td><label class="enableStarPopUp">@Resources.Resources.PrequalificationSites_BussinessUnitSite</label></td>
                            <td>
                             @if (Model.BusinessUnitSites != null)
                                 {
                                    @Html.DropDownListFor(x => Model.ClientBusinessUnitSite, (IEnumerable<SelectListItem>)Model.BusinessUnitSites)
                                 }
                                 else
                                 {
                                    @Html.DropDownListFor(x => Model.ClientBusinessUnitSite, new[] { new SelectListItem() { Text = "", Value = "" } })
                                 }
                                <div class="alertStar">   @Html.ValidationMessageFor(x => Model.ClientBusinessUnitSite)</div>
                            </td>
                        </tr>
                </table>
                  
                </div>


                <div class="rowPopUp">
                    <table>
                        <tr>
                            <td><label>@Resources.Resources.Common_Label_Comments</label></td>
                            <td>
                                @Html.TextAreaFor(x => Model.Comments)
                                <div class="alertStar">  @Html.ValidationMessageFor(x => Model.Comments)</div>
                            </td>
                        </tr>
                    </table>
                </div>



                <div class="pageFooterContent"> 
                    <div class="pageFooterButtons">
                        <table>
                            <tr>
                                <td><button type="submit"  class="pageFooterButton">@Resources.Resources.Common_Save</button></td>
                                <td>@Resources.Resources.Common_label_or</td>
                                <td><div class="PageFooter_CancleBtn"><a href="#!" onclick="window.close();">@Resources.Resources.Common_Cancel</a></div></td>
                            </tr>	
                        </table> 
                    </div>
                </div>         

        </div>
            </div>
           </div>
    }

    <script>
       
    </script>
</body>
</html>
