﻿
<!--
 *****************************************************
Page Created Date:  09/07/2013
Created By: Siva Bommisetty
Purpose:
Version: 1.0
****************************************************
-->
@using Resources;

@model FVGen3.Domain.Entities.Document
@{
    Layout = null;
}

<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>@Resources.Email_Sucess_Msg</title>
    <meta name="description" content="Client Dashboard - First, Verify"/>
    <meta name="viewport" content="width=device-width"/>
    
    @Styles.Render("~/css/appPopUp.css")
    @Styles.Render("~/css/appInnerPages.css")

</head>

<script type = "text/javascript">

    function closeView() {
        parent.window.close();
    }
</script>
<body>
    
    <div class="popUpContainer"> 
        <div class="popUpContent">

            <div class="popUpSubContent">   
                <div>
                    <h2> @Resources.Send_Email </h2>
                </div> 
                <p class="successMessage"> Email has been sent successfully. </p>        
            </div>
            
            <div class="popUpSubContent">
                <div class="pageFooterContent"> 
                    <div class="pageFooterButtons">              
                        <button type="button" onclick = "closeView()" class="PageFooter_Button">
                                @Resources.EmailTemplatesClose
                        </button>             
                    </div>
                </div>
            </div>                                                          
        
        </div>
    </div>
    
</body>
</html>



