﻿<!--
 *****************************************************
Page Created Date:  05/01/2013
Created By: Siva Bommisetty
Purpose: To display and pick from list of email templateas available
Version: 1.0
****************************************************
-->

@using FVGen3.Domain.Entities;
@using Resources;

@model IEnumerable<FVGen3.Domain.Entities.EmailTemplates>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=8"/>
<meta http-equiv="X-UA-Compatible" content="IE=9"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width"/>

<title>@Resources.Email_Temp_List</title>

@Styles.Render("~/css/appPopUp.css")
@Styles.Render("~/css/appInnerPages.css")
@Scripts.Render("~/js/jquery-1.9.1.min.js")
@Scripts.Render("~/js/common.js")
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

</head>


<script type="text/javascript">
    function getClientEmailTemplates()
    {
        var selectedSubcClientId = $("#SubClientId").val();
        window.location = "../Prequalification/EmailModelTemplatesList?prequalificationId=" + "@ViewBag.PrequalificationId" + "&isERITemplate=@ViewBag.eritemplate" + "&reloadContent=true" + "&selectedSubClientId=" + selectedSubcClientId, "_blank", "toolbar=no,  directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=yes, width=780, height=700";
    }
</script>
<body>
    <div class="popUpContainer">
    	<div class="popUpContent">

            <div class="page-title">
                <h2> @Resources.EmailTemplates_Title </h2>
            </div>
            @if (@ViewBag.eritemplate && !@ViewBag.reloadContent)
            {
                <div class="rowPopUp">
                    <table>
                        <tr>
                            <td>
                                <label class="enableStar">@Resources.ManageSites_Label_client</label>
                            </td>
                            
                            <td>@Html.DropDownList("SubClientId", (IEnumerable<SelectListItem>)@ViewBag.VBSubClients)</td>
                        </tr>
                    </table>
                </div>

                <div class="popUpSubContent">
                    <div class="pageFooterContent">
                        <div class="pageFooterButtons">
                            <table>
                                <tr>
                                    <td><button type="button" btnType="Insert" class="PageFooter_Button" onclick="getClientEmailTemplates()">@Resources.GetEmailTemplates</button></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            }
            else
            {
                if (Model.Count() > 0)
                {
                    foreach (var template in Model)
                    {
                        <div class="rowPopUp">
                        <table>
                            <tr>
                                <td>
                                    @if (!string.IsNullOrEmpty(@template.Name))
                                    {
                                        @Html.ActionLink(@template.Name, "EmailCompose", new { templateId = template.EmailTemplateID, prequalificationId = @ViewBag.prequalificationId, selectedSubClientId = @ViewBag.VBSelectedSubClient })
                                    }
                                </td>
                            </tr>

                        </table>
                        </div>
                    }
                }
                else
                {
                    <div class="rowPopUp">
                    <table>
                        <tr>
                            <td width="680">
                                <div class="commentsItalic">
                                    @Resources.EmailModelTemplatesList_errormessage
                                </div>
                            </td>
                        </tr>
                    </table>
                    </div>
                }
            }
        </div>
    </div>
</body>
</html>
