﻿<!--
 *****************************************************
Page Created Date:  30/06/2013
Created By: Siva Bommisetty
Purpose: To compose and send email to Vendors
Version: 1.0
****************************************************
-->

@using Resources

@model FVGen3.Domain.Entities.LocalEmailComposeModel
@{
    Layout = null; 
}

<!DOCTYPE html>

<html>
<head>

<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=8"/>
<meta http-equiv="X-UA-Compatible" content="IE=9"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width"/>

<title>@Resources.Email_Compose</title>


    <script src="../Scripts/jquery-ui.js"></script>
    <link rel="stylesheet" href="../css/jquery-ui.css" />
@Styles.Render("~/css/appPopUp.css")
@Styles.Render("~/css/appInnerPages.css")
@Scripts.Render("~/js/jquery-1.9.1.min.js")
@Scripts.Render("~/js/common.js")
    @Styles.Render("~/Content/Site.css")
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript" src="@Url.Content("~/Content/Javascript/ckeditor/ckeditor.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/Javascript/ckeditor/adapters/jquery.js")"></script>

</head>
<style>
    .spinnerOverlay {
        display: none;
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 4000px;
        background: #000;
        z-index: 1001;
        -moz-opacity: 0.7;
        opacity: .7;
        filter: alpha(opacity=70);
    }

    .importSubmitSpinner {
        margin: 0px 10px 0px 6px;
        width: 28px;
        height: 28px;
        display: none;
        position: fixed;
        top: 46%;
        left: 50%;
        z-index: 1001;
    }
    </style>
<script type = "text/javascript">
    $(document).ready(function () {
        $(".bodyRichText").ckeditor();
        $("#SendCopyToBCC").change(function () {
            if (!$(this).is(":checked"))
                $("#BCCAddress").val("");
            else if ($(this).is(":checked")) {
                $("#BCCAddress").val('@Model.BCCAddress');
            }
        });
        
            $("#SendEmail").submit(function () {
                if ($(this).valid()) {
                    $(".spinnerOverlay").show();
                    $('.importSubmitSpinner').show();
                }
        });
        
    });

    // Kiran on 12/16/2014
    function checkFileSize(obj) {
        var file = obj.files[0];
        if (file.size > 5242880) {
            alert("File size should not be more than 5MB");
            $(obj).val("");
            return false;
        }
    }
    // Ends<<<

    function closeWindow() {
        window.close();
    }
    //Rajesh on 12/5/2014
    function deleteAttachment(obj) {
        $(obj).closest("div").hide();
        $(obj).closest("tr").find("input").show();
        $(obj).closest("tr").find(".isActive").val("0");
    }
    //Ends<<<
</script>

<body>


    @if (@ViewBag.errorMessage.ToString() == "Mail Sending Failed")
    {
        <div>
            <p class="errorMessage">@Resources.Common_EmailSendingFailedMsg </p>
        </div>
    }

    <div class="popUpContainer">
    	<div class="popUpContent">


        <div class="page-title">
             <h2> Send Email </h2>
        </div>

        @using (Html.BeginForm("EmailCompose", "Prequalification", FormMethod.Post, new { enctype = "multipart/form-data", id="SendEmail" }))
        {
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.TemplateId)
            @Html.HiddenFor(model => model.PrequalificationId)


            <div class="rowPopUp">
                <div class="emailDiv">
                    <label class="enableStar"> @Resources.Email_To</label>
                    @Html.TextBoxFor(model => model.ToAddress, new { @maxlength = "500" })
                    <div class="alertText"> @Html.ValidationMessageFor(model => model.ToAddress) </div>
                </div>

                <div class="emailDiv" id = "acceptVendor_Div_Id">
                    <label>@Resources.Email_Cc</label>
                    @Html.TextBoxFor(model => model.CCAddress, new { @maxlength = "250" })
                    <div class="alertText"> @Html.ValidationMessageFor(model => model.CCAddress) </div>
                </div>

                <div class="emailDiv">
                    <div>
                    <label>@Resources.Email_Bcc</label>
                    @Html.TextBoxFor(model => model.BCCAddress, new { @readonly = "readonly" })
                    <div class="alertText"> @Html.ValidationMessageFor(model => model.BCCAddress) </div>

                    </div>
                    <div class="emailCheck">
                        <input type ="checkbox" id ="SendCopyToBCC" name ="SendCopyToBCC" value ="true"
                        @if (Model.SendCopyToMySelf)
                        {
                            @:checked="checked"
                        }
                    /><label>@Resources.Copy_Bcc</label></div>
                </div>

            </div>

            @*<div class="rowPopUp">
                <label class="enableStar"> To:</label>
                @Html.TextBoxFor(model => model.ToAddress, new { @maxlength = "250" })
                <div class="alertText"> @Html.ValidationMessageFor(model => model.ToAddress) </div>
            </div>

            <div class="rowPopUp" id = "acceptVendor_Div_Id">
                <label> CC:</label>
                @Html.TextBoxFor(model => model.CCAddress, new { @maxlength = "250" })
                <div class="alertText"> @Html.ValidationMessageFor(model => model.CCAddress) </div>
*@
                @* Siva on 9th Sep *@
                @*<div>
                    <label>
                    </label>

                    <input type="checkbox" id="SendCopyToMySelf" name="SendCopyToMySelf" value="true"
                        @if (Model.SendCopyToMySelf)
                        {
                            @:checked="checked"
                        }
                    />

                    <label float:none;" for="SendCopyToMySelf">
                        Send a copy of this email to myself (via BCC)
                    </label>
                </div>*@

            @*</div>

            <div class="rowPopUp">
                <label>BCC:</label>
                @Html.TextBoxFor(model => model.BCCAddress, new { @readonly = "readonly" })
                <div class="alertText"> @Html.ValidationMessageFor(model => model.BCCAddress) </div>
                <input type ="checkbox" id ="SendCopyToBCC" name ="SendCopyToBCC" value ="true"
                        @if (Model.SendCopyToMySelf)
                        {
                            @:checked="checked"
                        }
                    />
                <div class="BCCText">
                <label></label>

                    <label>
                        Uncheck, if you do not wish to have a copy via BCC.
                    </label>
                </div>
            </div>*@


            <div class="rowPopUp">
                <label class="enableStar">@Resources.Email_Subject</label>
                @Html.TextBoxFor(model => model.Subject, new { @maxlength = "200" })
                <div class="alertStar"> @Html.ValidationMessageFor(model => model.Subject) </div>
            </div>

            <div class="rowPopUp">
                <table width="87%">
                    <tr>
                        <td valign="top"><label class = "enableStarPopUp">@Resources.Email_Body</label></td>
                    </tr>
                    <tr>
                        <td>
                            @*@Html.TextAreaFor(model => model.PrequalRequirementContent)*@
                            <textarea id="Body" name="Body" class="bodyRichText">
                                @Html.Raw(Model.Body)
                            </textarea>
                        </td>
                    </tr>
                </table>
                @*<label class="enableStar"> Body:</label>
                @Html.TextAreaFor(model => model.Body, new { @maxlength = "3000" })*@
                <div class="alertStar"> @Html.ValidationMessageFor(model => model.Body) </div>
            </div>
                        //Rajesh on 12/5/2014
            <div class="rowPopUp" style = "height:auto;">
                <label>@Resources.Attachments </label>
                <table width="68%">

                @for (int i = 0; i < @Model.AttachmentsList.Count; i++)
                {
                     @Html.HiddenFor(rec => rec.AttachmentsList[i].AttachmentName)
                     @Html.HiddenFor(rec => rec.AttachmentsList[i].AttachmentId)

                    if (@Model.AttachmentsList[i].isActive == 0)
                    {
                        @Html.HiddenFor(rec => rec.AttachmentsList[i].isActive)
                        continue;
                    }
                    // Kiran on 12/10/2014
                    <tr>
                        <td>
                            <input type="file" name="attachments[@i]" data-val-required="*" data-val="false" style="display:none;" onchange="checkFileSize(this)"/> @*Kiran on 12/16/2014*@
                            <div style="width:210px;">
                                <label style="width:160px">@Model.AttachmentsList[i].AttachmentName</label>
                                @Html.HiddenFor(rec => rec.AttachmentsList[i].isActive, new { @class = "isActive" })
                                <img class="imgCursor" src="~/images/DelButton.png" style="float:right;" btnType="Delete" onclick = "deleteAttachment(this)"/>
                            </div>
                        </td>
                    </tr>

                    @*<tr>
                        <td width="98%">
                            <input type="file" name="attachments[@i]" data-val-required="*" data-val="false" style="display:none;"/>
                                @Model.AttachmentsList[i].AttachmentName
                                @Html.HiddenFor(rec => rec.AttachmentsList[i].isActive, new { @class = "isActive" })
                        </td>
                        <td width="2%">
                            <img class="imgCursor" src="~/images/DelButton.png" btnType="Delete" onclick = "deleteAttachment(this)"/>
                        </td>
                    </tr>*@
                    // Ends<<<
                }
                @for (int i = @Model.AttachmentsList.Count; i < 5; i++)
                {
                    <tr>
                        <td colspan="2">
                            <input type="file" name="attachments[@i]" data-val-required="*" data-val="false" onchange="checkFileSize(this)" /> @*Kiran on 12/16/2014*@
                        </td>
                    </tr>
                }

                </table>





            </div>
                //Ends<<<
            @*<div class="rowPopUp" style = "height:auto;">
                <label> Attachments: </label>
                <table>
                    <tr>
                        <td>
                            <input type="file" name="attachments[0]" id="fileOne" data-val-required="*" data-val="false"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="file" name="attachments[1]" id="fileTwo" data-val-required="*" data-val="false"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="file" name="attachments[2]" id="fileThree" data-val-required="*" data-val="false"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="file" name="attachments[3]" id="fileFour" data-val-required="*" data-val="false"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="file" name="attachments[4]" id="fileFive" data-val-required="*" data-val="false"/>
                        </td>
                    </tr>
                </table>





            </div>*@

            <div class="rowPopUp">
                <label>@Resources.VendorAddComments_Heading_With_Col</label>
                @Html.TextAreaFor(model => model.EmailComment, new { @maxlength = "3000" })
                @Html.ValidationMessageFor(model => model.EmailComment)
            </div>

            <div class="pageFooterContent">
                <div class="pageFooterButtons">
                    <table>
                        <tr>
                            <td><button type="submit" btnType="Insert" class="pageFooterButton">@Resources.Send_Email </button></td>
                            <td btnType="Insert">@Resources.Common_label_or</td>
                            <td>
                                <div class="PageFooter_CancleBtn">
                                    <a href="#" onclick="closeWindow()">@Resources.Common_Cancel</a>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>


        }
            <div class="spinnerOverlay">
                <img src="../images/spinner.gif" width="28" height="28" class="importSubmitSpinner" alt="Spinner" />
            </div>
        </div>



    </div>
</body>
</html>
