﻿<!--
 *****************************************************
Page Created Date:  11/3/2014
Created By: Rajesh Pendela
Purpose: To add vendor employees 
Version: 1.0
****************************************************
-->
@model List<FVGen3.Domain.ViewModels.OrganizationUsers>
@using FVGen3.Domain.Entities;
@using Resources;
@{
    ViewBag.Title = "Employees";
    Layout = "~/Views/Shared/_TemplateSectionMainLayout.cshtml";
}

<link rel="stylesheet" href="../css/prequalificationdynamic.css">
<script src="@Url.Content("~/js/jquery-1.9.1.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@*<script src="@Url.Content("~/js/jquery.maskedinput.js")" type="text/javascript"></script>*@
@Scripts.Render("~/js/common.js")
<script type="text/javascript" src="~/js/autoNumeric.js"></script>
<link rel="stylesheet" href="@Url.Content("~/Content/Site.css")"/>
    
<script type="text/javascript" src="~/Scripts/jquery-ui.js"></script>
<link rel="stylesheet" href="~/css/jquery-ui.css" />

<script type="text/javascript">
    $(document).ready(function () {
        // For Roles and Permissions
        setPermissions('@ViewBag.ViewPermissions');
        // Ends<<<

        @if (ViewBag.AutoLoadEmployeeID != null)
        {
            <text>
        EmployeClick('@ViewBag.AutoLoadEmployeeID');
        </text>
        }
    });

    function EmployeClick(empId) {
        $.ajax({
            type: 'Post',
            url: 'EmployeeDetails',
            data: 'userId=' + empId+'&PQId='+@ViewBag.PQId,
            success: function (data) {
                $("#MainDiv").html(data);
            },
            error: function () {
                console.trace();
                alert("Fail ");
            }
        });
    }

    // Kiran on 11/5/2014
    function deleteEmployee(sysUserOrgId) {
        if (sysUserOrgId != -1) {
            var c = confirm("@Resources.VendorEmployee_delete_confirmmessage");
            if (c == true) {
                $.ajax({
                    type: 'GET',
                    url: '../Employee/deleteEmployee',
                    data: 'sysUserOrgId=' + sysUserOrgId,
                    success: function (data) {
                        if (data.indexOf("Session expired") >= 0) {
                            window.location = "../SystemUsers/Login";
                        }
                        else if (data == "EmployeeDeleted") {
                            window.location.reload(true);
                        }
                        else //if (data.indexOf("started") != -1)
                        {
                            alert(data);
                        }
                    },
                    error: function () {
                        console.trace();
                        alert("Fail ");
                    }
                });
            }
            else {
                return false;
            }
        }
    }

    // Kiran on 12/18/2014
    //    var winPop = false;
    //    function AddEmployeeCheckLists(SysUserOrgQuizId) {
    //        if (winPop && !winPop.closed) {  //checks to see if window is open
    //            winPop.focus();
    //        }
    //        else {
    //            winPop = window.open("../Employee/AddEmployeeCheckList?SysUserOrgQuizId=" + SysUserOrgQuizId, "_blank", "toolbar=no,  directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=yes, width=550, height=500");
    //        }
    //    }

    //    function AssignOnSiteTrainingToEmp() {
    //        //alert("Hai");
    //        var ids = "";
    //        $('#OnSiteTraining').find("input[type='checkbox']").each(function () {
    //            //alert("hai");
    //            ids += $(this).prop("id") + "|" + $(this).is(':checked') + ",";
    //        });
    //        //alert(ids);
    //        if (ids != "") {
    //            $.ajax({
    //                type: 'POST',
    //                url: 'AssignOnSiteTrainingToEmployee',
    //                data: 'SystemUserOrgQuizIds=' + ids,
    //                success: function (data) {
    //                    if (data == "SaveSuccess") {
    //                        window.location.reload(true);
    //                    }
    //                },
    //                error: function (req, status, error) {
    //                    //console.trace();
    //                    alert("Could not assign OnSiteTrainings.");
    //                }
    //            });
    //        }
    //        else {
    //            alert("please select atleast one employee, to whom OnSiteTraining status has to be assigned.");
    //            return false;
    //        }
    //    }

    // Ends<<<

    // Kiran on 02/16/2015
    var winPop = false;
    function AddEmployeeQuizCheckLists(sysUserOrgQuizId) {
        if (winPop && !winPop.closed) {  //checks to see if window is open
            winPop.focus();
        }
        else {
            winPop = window.open("../Employee/AddEmployeeQuizCheckLists?sysUserOrgQuizId=" + sysUserOrgQuizId, "_blank", "toolbar=no,  directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=yes, width=650, height=500");
        }
    }
    // Ends<<<

    // Rajesh on 02/18/2015
    var winPop = false;
    function AddEmployeeCheckLists(sysUserOrgId) {
        //alert("Hai");
        if (winPop && !winPop.closed) {  //checks to see if window is open
            winPop.focus();
        }
        else {
            winPop = window.open("../Employee/AddEmployeeCheckLists?sysUserOrgId=" + sysUserOrgId, "_blank", "toolbar=no,  directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=yes, width=650, height=500");
        }
    }
    // Ends<<<
</script>
<div id="MainDiv">
    <div class="subsectionHeader">
        <table width="100%;"><tr>
                <td>@Resources.AddEmployees_Heading</td>
        </tr></table>
    </div>
    @*<div class="subsectionSubHeader">
        <table width="100%;"><tr>
                <td colspan="2" width="51%">Name</td>
                <td width="49%">Title</td>
        </tr></table>
    </div>*@
@* <table width="100%;">
    @foreach (var sysUserOrg in (List<FVGen3.Domain.Entities.SystemUsersOrganizations>)@ViewBag.VBEmployeeSysUserOrgs)
        {
            var temp = "";
            <tr>
            @if (sysUserOrg.SystemUsers.UserStatus == true)
            {
                <td width="2%">
                            <img src="/images/quizpassed.png">
                        </td>
                <td width="49%">                    
                    <a href= "#!" onclick="EmployeClick('@sysUserOrg.UserId')">@sysUserOrg.SystemUsers.Contacts[0].FirstName @sysUserOrg.SystemUsers.Contacts[0].LastName</a>                                        
                </td>
                    
                <td class="" width="49%" valign="top">  
                        @sysUserOrg.SystemUsers.Contacts[0].ContactTitle 
                </td>                                    
                                    
            }
            </tr> 
        }
  </table>*@
<br />
    @if (Model != null)
    {
        <div style="margin-top: 40px;">
            <table width="100%" border="0">
                <tr>
                    <td width="2%">
                        <img src="~/images/quizpassed.png">
                    </td>
                    <td width="14.6%" style="padding-left: 7px !important;">
                        @Resources.Common_Status_Color_Passed
                    </td>
                    <td width="2%">
                        <img src="~/images/ExpireColor.png">
                    </td>
                    <td width="14.6%" style="padding-left: 7px !important;">
                        @Resources.Common_Status_Color_Expired
                    </td>
                    <td width="2%">
                        <img src="~/images/quizfailed.png">
                    </td>
                    <td width="14.6%" style="padding-left: 7px !important;">
                        @Resources.Common_Status_Color_Failed
                    </td>
                    <td width="2%">
                        <img src="~/images/quizinprocess.png">
                    </td>
                    <td width="14.6%" style="padding-left: 7px !important;">
                        @Resources.Common_Status_Color_InProcess
                    </td>
                    <td width="2%">
                        <img src="~/images/mixed.jpg">
                    </td>
                    <td width="14.6%" style="padding-left: 7px !important;">
                        @Resources.Common_Status_Color_Multiple
                    </td>
                    <td width="2%">
                        <img src="~/images/quiznottaken.png">
                    </td>
                    <td width="14.6%" style="padding-left: 7px !important;">
                        @Resources.Common_Status_Color_NotTaken
                    </td>
                </tr>
            </table>
        </div>
    }
<br />

   <div class="Users">
        <table id="OnSiteTraining">
            @if (Model != null)
            {
                // Kiran on 12/18/2014
                <tr>
                    <th width="3%"></th>
                    <th width="33.66%">@Resources.Common_Label_EmployeeName</th>
                    <th width="20.33%">@Resources.Common_Title</th>
                    <th width="10%">ID</th>
                    <th width="10%">Last 4 Digits of ID</th>
                    <th width="23%"></th>
                    <th width="3%"></th>

                </tr>
                foreach (var employee in @Model)
                {
                    if (@employee.UserStatus == true)
                    {
                        var clientIds = new List<long>() { @ViewBag.clientId };
                        if (ViewBag.ClientIdsList != null && @ViewBag.OrgType == FVGen3.WebUI.Constants.OrganizationType.SuperClient)
                        {
                            clientIds = ViewBag.ClientIdsList;
                        }
                            @*<forerror>
                            @{var empSystemUserOrgQuizzes = @employee.SystemUsersOrganizationsQuizzes.Where(rec => rec.QuizRemoved == null || rec.QuizRemoved == false).ToList(); // Kiran on 03/30/2015
                              var empQuizzesPassedCount = 0;
                              var empQuizzesFailedCount = 0;
                              var empQuizzesNotAttended = 0;
                              var empQuizzesInProcess = 0;
                              var isPassFailAttended = false;
                              var isPass = false;
                              var Inprocessquiz = false;
                              var empexpired = 0;
                            }
                             
                            @foreach (var quiz in empSystemUserOrgQuizzes.Where(r => r.ClientTemplates != null && clientIds.Contains(r.ClientTemplates.ClientID)))
                            {
                                var empQuiz = quiz;
                                if (@empQuiz.QuizExpirationDate != null && @empQuiz.QuizExpirationDate < DateTime.Now && @empQuiz.QuizResult == true)
                                {
                                    empexpired++;
                                }
                                else if (empQuiz.QuizDateStart == null)
                                {
                                    empQuizzesNotAttended++;
                                }

                                else if (empQuiz.QuizResult == true && @empQuiz.QuizExpirationDate != null && @empQuiz.QuizExpirationDate > DateTime.Now) // Kiran on 3/30/2015
                                {
                                    empQuizzesPassedCount++;
                                }
                                else if (empQuiz.QuizResult == false)
                                {
                                    empQuizzesFailedCount++;
                                }
                                else if (empQuiz.QuizResult == null)
                                {
                                    Inprocessquiz = true;
                                    empQuizzesInProcess++;
                                }

                            }
                              
                        @if (empQuizzesFailedCount > 0 || empQuizzesNotAttended > 0)
                        {
                            isPassFailAttended = true;
                        }
                        @if (empQuizzesPassedCount > 0)
                        {
                            isPass = true;
                        }
                        </forerror>*@
                            <tr>
                                <td>
                                    @*@{var numberofcombination = 0;
                                    if (empQuizzesNotAttended > 0) { numberofcombination++; }
                                    if (empQuizzesFailedCount > 0) { numberofcombination++; }
                                    if (empQuizzesPassedCount > 0) { numberofcombination++; }
                                    if (empexpired > 0) { numberofcombination++; }
                                    if (empQuizzesInProcess > 0) { numberofcombination++; }
                                    }
                                    @if (numberofcombination > 1)
                                    {
                                        <img src="~/images/mixed.jpg" />
                                    }
                                    else if (empexpired > 0)
                                    {
                                        <img src="~/images/ExpireColor.png" />
                                    }

                                    else if (empQuizzesNotAttended > 0 && empQuizzesFailedCount == 0 && empQuizzesPassedCount == 0)
                                    {
                                        <img src="~/images/quiznottaken.png"/>
                                    }
                                    else if (isPass == true && isPassFailAttended == false)
                                    {
                                        <img src="~/images/quizpassed.png"/>
                                    }
                                    else if (isPassFailAttended == true && isPass == true)
                                    {
                                        <img src="~/images/quiznottaken.png"/>
                                    }
                                    else if (isPassFailAttended == true && isPass == false)
                                    {
                                        <img src="~/images/quizfailed.png"/>
                                    }
                                    else if (Inprocessquiz == true)
                                    {
                                        <img src="~/images/quizinprocess.png" />
                                    }*@
                                    @if (!string.IsNullOrEmpty(@employee.EmployeeStatus))
                                    {
                                        <img src="/images/@employee.EmployeeStatus"/>
                                    }
                                </td>
                                <td>
                                @*Kiran on 02/03/2015 to display the employees in this format(Lastname-Firstname)*@
                                    <a href= "#!" onclick="EmployeClick('@employee.UserId')">@employee.EmployeeFullName</a>
                                </td>
                                <td>@employee.EmployeeTitle</td>
                                <td>
                                    @*@if (@employee.SystemUsers.Contacts[0].DocumentType == 1)
                                    {
                                        @: DL
                                        }
                                    else if (@employee.SystemUsers.Contacts[0].DocumentType == 2)
                                    {
                                        @: GC
                                        }
                                    else if (@employee.SystemUsers.Contacts[0].DocumentType == 3)
                                    {
                                        @: SSN
                                        }
                                    else if (@employee.SystemUsers.Contacts[0].DocumentType == 4)
                                    {
                                        @: Phone#
                                        }*@
                                    @employee.DocumentType
                                </td>
                                <td>
                                    @*@if (!string.IsNullOrEmpty(@employee.SystemUsers.Contacts[0].DriversLicenseLast4Digits))
                                    {
                                        @employee.SystemUsers.Contacts[0].DriversLicenseLast4Digits
                                    }
                                    else if (!string.IsNullOrEmpty(@employee.SystemUsers.Contacts[0].GreenCardLast4Digits))
                                    {
                                        @employee.SystemUsers.Contacts[0].GreenCardLast4Digits
                                    }
                                    else if (!string.IsNullOrEmpty(@employee.SystemUsers.Contacts[0].SocialSecurityNumberLast4Digits))
                                    {
                                        @employee.SystemUsers.Contacts[0].SocialSecurityNumberLast4Digits
                                    }
                                    else if (!string.IsNullOrEmpty(@employee.SystemUsers.Contacts[0].PhoneNumberLast4Digits))
                                    {
                                        @employee.SystemUsers.Contacts[0].PhoneNumberLast4Digits
                                    }*@
                                    @employee.DocumentTypeValue
                                </td>
                                @*Kiran on 12/22/2014*@
                                <td>
                                    <a class="imgCursor" href="#!" onclick="AddEmployeeCheckLists('@employee.SysUserOrganizationId')">@Resources.Employess_Partial_AddCategories</a>
                                </td>

                                <td>
                                @if (@Session["RoleName"].ToString().Equals("Admin"))
                                {
                                    <img class="imgCursor" src="~/images/DelButton.png" name="image" onclick="deleteEmployee('@employee.SysUserOrganizationId')"/>
                                }
                                </td>
                            </tr>
                
                            @*Kiran on 02/18/2015*@
                            if (@employee.employeesCategories != null && @employee.employeesCategories.Count() != 0)
                            {
                                <tr>
                                    <td colspan="5" style="padding:5px;">
                                        <div class="categories-list">
                                            <table>
                                                @foreach (var category in @employee.employeesCategories)
                                                {
                                                    <tr>
                                                        <td>@category.CategoryName</td>
                                                        <td>
                                                        @*@try
                                                        {*@
                                                            @category.UserName
                                                        @*}
                                                        catch
                                                        {
                                                            if(@category.SystemUsers != null)
                                                            {
                                                                @category.SystemUsers.Email // Kiran on 03/18/2015
                                                            }
                                                        }*@
                                                        </td> @*Kiran on 03/13/2015*@
                                                        <td style="text-align:center;">@category.SubCategoryInputValue</td>       
                                                        <td style="text-align:center;">
                                                            @*@if(@category.SubCategoryEnteredDate != null){@category.SubCategoryEnteredDate.Value.Date.ToShortDateString()}*@
                                                            @category.SubCategoryEnteredDate
                                                        </td>
                                                    </tr>
                                                }
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            }
                            //Ends<<<
                    }
                }
            }
            </table>
            @*@if (@Session["RoleName"].ToString().Equals("Client"))
            {
                <button type="button" name="" class="SiteTraining" onclick="AssignOnSiteTrainingToEmp()">Done</button>
            }*@
    </div>
</div>