﻿@{
    Layout = null;
}
@model FVGen3.Domain.Entities.LocalVendorEmployeeQuizzes
@using Resources;
<!DOCTYPE html>
   @Scripts.Render("~/js/common.js")
    @Scripts.Render("~/Scripts/jquery-1.9.1.min.js")
<script type="text/javascript">


    var winPop = false;
    function openWindow(userid) {
        if (winPop && !winPop.closed) {  //checks to see if window is open
            winPop.focus();
        }
        else {
            winPop = window.open("AddQuiz?userId=" + userid, "_blank", "toolbar=no,  directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=yes, width=550, height=500");
        }
    }



    function deleteQuiz(userId, quizId) {
        if (quizId != -1) {
            var c = confirm("@Resources.VendorEmployeeQuizzes_delete_confirmmessage");
            if (c == true) {
                $.ajax({
                    type: 'GET',
                    url: '../AdminVendors/deleteQuiz',
                    data: 'quizId=' + quizId + '&userId=' + userId,
                    success: function (data) {
                        $("#quizListBlock_Id").html(data);
                        if (data.indexOf("Session expired") >= 0) {
                            window.location = "../SystemUsers/Login";
                        }
                        else if (data = "quizDeleteSuccess") {
                            updateQuizList(userId)
                        }
                    },
                    error: function () {
                        console.trace();
                        alert("Fail ");
                    }
                });
            }
            else {
                return false;
            }
        }
    }

    function updateQuizList(userId) {
        $.ajax({
            type: 'GET',
            url: '../AdminVendors/PartialEmployeeQuizListForAdmin',
            data: 'userId=' + userId + '&showMessage=1&PQId=' + @ViewBag.PQId,
            cache: false,
            success: function (data) {
                $("#quizListBlock_Id").html(data);
            },
            error: function () {
                console.trace();
                alert("Fail ");
            }
        });
    }

    // Kiran on 11/28/2014
    var winPopForTrainings = false;
    function updateEmployeeTrainings(userid) {
        if (winPopForTrainings && !winPopForTrainings.closed) {  //checks to see if window is open
            winPopForTrainings.focus();
        }
        else {
            winPopForTrainings = window.open("../Employee/UpdateEmployeeTrainings?userId=" + userid, "_blank", "toolbar=no,  directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=yes, width=550, height=500");
        }
    }
    // Ends<<<

</script>
<body>
    <div class="contentSub">
    @Html.HiddenFor(model => model.UserId)

        <table width="100%" border="0">
              <tr>
                <td class="page-title">
                  <h2>@Model.EmployeeName Training</h2>
                </td>               
              </tr>

              @*Kiran on 11/28/2014*@
              @if (@Session["RoleName"].ToString().Equals("Admin"))
              { 
                  <tr>
                    <td style="word-break:break-all;"><b>@Resources.Common_Label_UserId</b> @Model.EmpEmail, <b>@Resources.CreateEmployee_label_password </b>@Model.EmpPassword</td>                
                    <td><button type="button" onclick="updateEmployeeTrainings('@Model.UserId')">@Resources.Update_Training</button></td>
                  </tr>
              }
        </table>        
        
        <div id = "quizListBlock_Id">
        <script>
            updateQuizList('@Model.UserId');
        </script>
        </div>                
    </div>
</body>
