﻿@{
    ViewBag.Title = "Employees";
    Layout = "~/Views/Shared/_TemplateSectionMainLayout.cshtml";
}

<link rel="stylesheet" href="../css/prequalificationdynamic.css">
<script src="@Url.Content("~/js/jquery-1.9.1.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/js/jquery.maskedinput.js")" type="text/javascript"></script>
@Scripts.Render("~/js/common.js")
<script src="~/js/autoNumeric.js"></script>
<link rel="stylesheet" href="@Url.Content("~/Content/Site.css")"/>
    
<script src="~/Scripts/jquery-ui.js"></script>
<link rel="stylesheet" href="~/css/jquery-ui.css" />

<script>
    $(document).ready(function () {
        // For Roles and Permissions
        setPermissions('@ViewBag.ViewPermissions');
        // Ends<<< 
    });

    function EmployeClick(empId) {
        $.ajax({
            type: 'Post',
            url: 'EmployeeDetails',
            data: 'userId=' + empId,
            success: function (data) {
                $("#MainDiv").html(data);
            },
            error: function () {
                console.trace();
                alert("Fail ");
            }
        });
    }

</script>
<div id="MainDiv">
    <div class="subsectionHeader">
        <table width="100%;"><tr>
                <td>Employees</td>
        </tr></table>
    </div>
    <div class="subsectionSubHeader">
        <table width="100%;"><tr>
                <td colspan="2" width="51%">Name</td>
                <td width="49%">Title</td>
        </tr></table>
    </div>
    <table width="100%;">
    @foreach (var sysUserOrg in (List<FVGen3.Domain.Entities.SystemUsersOrganizations>)@ViewBag.VBEmployeeSysUserOrgs)
        {
            var temp = "";
            <tr>
            @if (sysUserOrg.SystemUsers.UserStatus == true)
            {
                <td width="2%">
                            <img src="/images/quizpassed.png">
                        </td>
                <td width="49%">                    
                    <a href= "#!" onclick="EmployeClick('@sysUserOrg.UserId')">@sysUserOrg.SystemUsers.Contacts[0].FirstName @sysUserOrg.SystemUsers.Contacts[0].LastName</a>                                        
                </td>
                    
                <td class="" width="49%" valign="top">  
                        @sysUserOrg.SystemUsers.Contacts[0].ContactTitle 
                </td>                                    
                                    
            }
            </tr> 
        }
  </table>
</div>