﻿@{
    ViewBag.Title = "FinancialMonth";
}

<!DOCTYPE html>

<style>
    .h-center {
        text-align: center;
    }

    .v-center span {
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
    }
</style>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="~/content/css/animate.css" rel="stylesheet">
    <link href="~/content/css/style.css" rel="stylesheet">
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/js/autoNumeric2.js"></script>

    @Styles.Render("~/css/appPopUp.css")
    @Styles.Render("~/css/appInnerPages.css")
    @Scripts.Render("~/js/common.js")
    @Styles.Render("~/Content/Site.css")
</head>


<body class="white-bg">
    <div class="h-center v-center">
        <div>
            <h2 class="errorMessage"><b style="font-size:20px;">@Resources.Resources.Financial_Note4</b></h2>
        </div>


        <div class="pageFooterContent">
            <div class="pageFooterButtons">
                <table>
                    <tr>
                        <td><button type="button" class="pageFooterButton" onclick="redirectToPage()">@Resources.Resources.Financial_Note5</button></td>
                        <td>@Resources.Resources.Common_label_or</td>
                        <td>
                            <div class="PageFooter_CancleBtn">
                                <a href="#!" onclick="window.close()">@Resources.Resources.Common_Cancel</a>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        @*<div>
            <h3>
                <a class="btn btn-primary" href="javascript:redirectToPage()" role="button">Go to Company Details</a> Or
                <a class="btn btn-default" href="javascript:window.close()" role="button">Close</a>
            </h3>
        </div>*@
    </div>
    <script>
    function redirectToPage() {
        window.opener.location.href = "../SystemUsers/MyCompanyDetails";
        self.close();
    }
    </script>
</body>
</html>

