﻿@{
    ViewBag.Title = "FinancialDataEntryPopUpView";
    Layout = null;
}

<h2>Enter Financial Data</h2>
@model List<FVGen3.Domain.Entities.FinancialAnalyticsModel>

@using System.Resources;

<link rel="stylesheet" href="../css/common.css">
<link rel="stylesheet" href="../css/index.css">
<link rel="stylesheet" href="../css/appInnerPages.css">
<link rel="stylesheet" href="../css/templatetool.css">
<link rel="stylesheet" href="../css/jquery-ui.css">
<link href="~/css/modelPopupWindow.css" rel="stylesheet" />

<script src="~/js/jquery-1.9.1.min.js"></script>


<script src="../js/common.js"></script>
<script src="~/js/autoNumeric2.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="~/css/kendo/kendo.rtl.min.css" rel="stylesheet">
<script src="~/Scripts/jquery-ui.js"></script>
<style>
    /*table{

    }*/
    .hidden {
        visibility: hidden;
    }
    p
    {    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
    body {
        font-size: 15px;
        color: #343d44;
        font-family: "segoe-ui", "open-sans", tahoma, arial;
        padding: 0;
        margin: 0;
        background-color:white;
    }
    
    table {
        margin: auto;
        font-family: "Lucida Sans Unicode", "Lucida Grande", "Segoe Ui";
        font-size: 12px;
    }

    h1 {
        margin: 25px auto 0;
        text-align: center;
        text-transform: uppercase;
        font-size: 17px;
    }

    table td {
        transition: all .5s;
    }

    /* Table */
    .data-table {
        border-collapse: collapse;
        font-size: 14px;
        min-width: 537px;
    }

        .data-table th,
        .data-table td {
            border: 1px solid #e1edff;
            padding: 7px 17px;
        }

        .data-table caption {
            margin: 7px;
        }

        /* Table Header */
        .data-table thead th {
            background-color: #508abb;
            color: #FFFFFF;
            border-color: #6ea1cc !important;
            text-transform: uppercase;
        }

        /* Table Body */
        .data-table tbody td {
            color: #353535;
        }

            .data-table tbody td:first-child,
            .data-table tbody td:nth-child(4),
            .data-table tbody td:last-child {
                text-align: left;
            }

        .data-table tbody tr:nth-child(odd) td {
            background-color: #f4fbff;
        }

        .data-table tbody tr:hover td, .activeRow {
            background-color: #ffffa2 !important;
            border-color: #ffff0f !important;
        }

        /* Table Footer */
        .data-table tfoot th {
            background-color: #e5f5ff;
            text-align: right;
        }

            .data-table tfoot th:first-child {
                text-align: left;
            }

        .data-table tbody td:empty {
            background-color: #ffcccc;
        }

    input {
        border-style: none;
        background-color: #fff;
        border: 1px solid gray;
    }

    .undelineTransperant {
        background-color: transparent;
        border-bottom: 1px solid black;
    }

    .tdred {
        color: red;
    }

    .modal-content {
        width: inherit;
    }

    input[readonly] {
        background-color: #f6f6f6 !important;
        color: #8c8686 !important;
    }
  input[disabled] {
        background-color: #f6f6f6 !important;
        color: #8c8686 !important;
    }
    .k-widget k-window k-dialog{width: 300px;
    left: 70%;
    top: 167.5px;
    z-index: 10003;}
    .enableStar{
        color:#bebcbc!important;
        content:'**'!important;
    }

    .enableStar:after {
        color:black!important;
        content: "**";
    }


    /* Modal Content */
    .autosavemodal-content {
        display: none;
        background-color: #fefefe;
        position: fixed;
        right: 0;
        bottom: 10px;
        z-index: 1;
        padding-top: 100px;
        position: fixed;
        padding: 20px;
        border: 1px solid #888;
    }

    /* The Close Button */
    .closeAutoSave {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .closeAutoSave:hover,
    .closeAutoSave:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
</style>


<script>
    function timeOutHandler(min) {
        setInterval(function () {
            showAutoSave();
        }, 60000 * min);
    }
    function hideAutoSave()
    {
        $(".autosavemodal-content").hide();
    }
    function showAutoSave()
    {
        $(".autosavemodal-content").show();
    }
    $(document).ready(function () {
        timeOutHandler(1);
        $("#container").find("input").on("focus", function () {
            $(this).closest("tr").find("td").addClass("activeRow");
        }).on("blur", function () {
            $(this).closest("tr").find("td").removeClass("activeRow");
        })
        $('.calcField').click(function () {
            if (Model.isVisible()) {
                insertAtCaret("calc", $(this).val().replace(/,/g, "").replace("$", "").replace(")", "").replace("(", ""));
                $('#calc').keyup();
            }
        });
        Model.addHeader("Please click on the field to get the value.");
        Model.onClose = function () {

        };
        Model.add("<input type='text' onkeyup='calc(this)' class='k-input' id='calc'/><p>Result: <span id='result'>0</span><i class='fa fa-check' style='font-size:25px' aria-hidden='true' onclick='doneToPaste()'></i></p>");

    });
    function doneToPaste() {
        if (currentObjtoPaste) {
            $(currentObjtoPaste).val($("#result").text());
            $("#result").html("0");
            $("#calc").val("0");
            Model.hide();
            $(currentObjtoPaste).focus();
        }
    }
    function calc(obj) {
        try {
            if ($(obj).val() == "")
                $("#result").html("0"); else {
                var result = eval($(obj).val());
                $("#result").html(result);
            }
        } catch (e) { }

    }


</script>

    <div class="autosavemodal-content">
        <span class="closeAutoSave" onclick="hideAutoSave()">&times;</span>
        <p>Please click the Save button to avoid possible loss of data entered.<p>
        <button type="button" class="PageFooter_Button" onclick="$('#IntrimSave').click()"> Save </button>
    </div>



@Html.Partial("_PopupWindow")
@using (Html.BeginForm("FinancialDataEntryPopUpView", "Prequalification", FormMethod.Post, new { id = "target" }))
{
    <p style="color:red">@Html.Raw(Resources.Resources.Financial_Note1)</p>
    <p style="color:red; font-weight:bold;">@Html.Raw(@Resources.Resources.Financial_Note2)</p>
    <P style="color:red; font-weight:bold;">@Html.Raw(@Resources.Resources.Financial_Note3)</P>
    <p style="color:red; font-weight:bold;">For best results, Do not use Internet Explorer.</p>
    <p style="color:red; font-weight:bold;"><strong style="color:black">**</strong> are  non-editable fields.</p>
    @Html.Hidden("PrequalificationId", (long)@ViewBag.PrequalificationId);
    @Html.Hidden("IsClose");
    <table style="width:100%" id="container" class="data-table">
        <thead>
            <tr>
                <th></th>
                <th title="Current Year to Date Statement" align="left">@Resources.Resources.CrntYTD</th>
                <th title="Previous Year Statement" align="left">@Resources.Resources.PrvsYr</th>
                <th title="Previous But One Year Statement" align="left"> @Resources.Resources.TwoYrsPrvs</th>
                <th title="Previous But two Year Statement" align="left">@Resources.Resources.ThreeYrsPrvs</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <td>
                        @Html.HiddenFor(r => r[i].VendorId,
                        new { @id = "VendorId_" + i })
                    </td>
                }
                @for (int i = 0; i < Model.Count(); i++)
                {
                    @Html.HiddenFor(r => r[i].Id)
                }
            </tr>
            <tr>
                <td>@Resources.Resources.DateFinanclStmnts</td>
                @for (int i = 0; i < Model.Count(); i++)
                {

                    //if (Model[i].DateOfFinancialStatements != null)
                    //{
                    <td>
                        @( Model[i].FinancialYearEndDate.HasValue ? Model[i].FinancialYearEndDate.Value.ToString("MM'/'dd'/'yyyy") : "")
                        @Html.HiddenFor(r => r[i].DateOfFinancialStatements)
                    </td>

                }
            </tr>
            <tr>
                <td>Date of interim financial statement</td>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    if (i == 0)
                    {
                        <td>
                            @Html.TextBoxFor(r => r[i].Dateofinterimfinancialstatement, "{0:d}", new
                       {
                           @class = "kDatePicker"
                       })
                        </td>}
                    @*else
                        {
                            <td hidden>
                                @Html.TextBoxFor(r => r[i].Dateofinterimfinancialstatement, "{0:d}", new
                           {
                               @class = "kDatePicker"
                           })
                        </td>}*@
                }
            </tr>
            <tr>
                <td>@Resources.Resources.SrcFinanclStmnts</td>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    if (Model[i].Id != 0)
                    {
                        <td>
                            @Html.DropDownListFor(r => r[i].SourceOfFinancialStatements, new List<SelectListItem>
                           { new SelectListItem{Text="Audited", Value="Audited",Selected=(Model[i].SourceOfFinancialStatements.Trim().Equals("Audited"))},
                             new SelectListItem{Text="Internal", Value="Internal",Selected=(Model[i].SourceOfFinancialStatements.Trim().Equals("Internal"))},
                             new SelectListItem{Text="Compiled", Value="Compiled",Selected=(Model[i].SourceOfFinancialStatements.Trim().Equals("Compiled"))},
                             new SelectListItem{Text="Reviewed", Value="Reviewed",Selected=(Model[i].SourceOfFinancialStatements.Trim().Equals("Reviewed"))}}, "Please Select", new { id = "item_" + i })
                        </td>
                    }
                    else
                    {
                        <td>
                            @Html.DropDownListFor(r => r[i].SourceOfFinancialStatements, new List<SelectListItem>
                           { new SelectListItem{Text="Audited", Value="Audited"},
                             new SelectListItem{Text="Internal", Value="Internal"},
                             new SelectListItem{Text="Compiled", Value="Compiled"},
                             new SelectListItem{Text="Reviewed", Value="Reviewed"}}, "Please Select", new { id = "item_" + i })
                        </td>
                    }

                }
            </tr>

            @*<tr>
                    <td><br /></td>
                </tr>*@

            @*Client Side Values*@




            @*vendat input form with the ability of editing by client*@
            <tr>
                <td height="50"><strong>@Resources.Resources.BalSheet<br />@Resources.Resources.Asts</strong></td>
            </tr>
            @*<tr>
                    <td><strong>@Resources.Resources.Asts</strong></td>
                </tr>*@
            <tr>
                <td>@Resources.Resources.CshCshEqty</td>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <td>
                        @Html.TextBoxFor(r => r[i].CashAndCashEquivalents,
                        new
                        {
                            @id = "CashAndCashEquivalents_" + i,
                            @class = "noDecDlrFrmt calcField select_" + i,
                            @onchange = "TotalsForAssets(" + i + ")"
                        })
                    </td>
                }
            </tr>
            <tr>
                <td>@Resources.Resources.Invstmnt</td>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <td>
                        @Html.TextBoxFor(r => r[i].Investments,
                        new
                        {
                            @id = "Investments_" + i,
                            @class = "noDecNoDlrFrmt calcField select_" + i,
                            @onchange = "TotalsForAssets(" + i + ")"
                        })
                    </td>
                }
            </tr>
            <tr>
                <td>@Resources.Resources.RcvblCrnt</td>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <td>
                        @Html.TextBoxFor(r => r[i].ReceivablesCurrent,
                        new
                        {
                            @id = "ReceivablesCurrent_" + i,
                            @class = "noDecNoDlrFrmt calcField select_" + i,
                            @onchange = "TotalsForAssets(" + i + ")"
                        })
                    </td>
                }
            </tr>
            <tr>
                <td>@Resources.Resources.RcvblRtng</td>
                @for (int i = 0; i < Model.Count(); i++)
                {

                    <td>
                        @Html.TextBoxFor(r => r[i].ReceivableRetainage,
                        new
                        {
                            @id = "ReceivableRetainage_" + i,
                            @class = "noDecNoDlrFrmt calcField select_" + i,
                            @onchange = "TotalsForAssets(" + i + ")"
                        })
                    </td>
                }
            </tr>
            <tr>
                <td>@Resources.Resources.CstEstmtdErngExcsBlngUncmpltdCntrcts</td>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <td>
                        @Html.TextBoxFor(r => r[i].CostsAndEstimatedEarningsInExcessOfBillingsOnUncompletedContracts,
                        new
                        {
                            @id = "CostsAndEstimatedEarningsInExcessOfBillingsOnUncompletedContracts_" + i,
                            @class = "noDecNoDlrFrmt calcField select_" + i,
                            @onchange = "TotalsForAssets(" + i + ")"
                        })
                    </td>
                }
            </tr>
            <tr>
                <td>@Resources.Resources.RfndblIncmTax</td>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <td>
                        @Html.TextBoxFor(r => r[i].RefundableIncomeTaxes,
                        new
                        {
                            @id = "RefundableIncomeTaxes_" + i,
                            @class = "noDecNoDlrFrmt calcField select_" + i,
                            @onchange = "TotalsForAssets(" + i + ")"
                        })
                    </td>
                }
            </tr>
            <tr>
                <td>@Resources.Resources.NoteRcvbl</td>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <td>
                        @Html.TextBoxFor(r => r[i].NoteReceivable,
                        new
                        {
                            @id = "NoteReceivable_" + i,
                            @class = "noDecNoDlrFrmt calcField select_" + i,
                            @onchange = "TotalsForAssets(" + i + ")"
                        })
                    </td>
                }
            </tr>
            <tr>
                <td>@Resources.Resources.OthrCrntAsts</td>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <td>
                        @Html.TextBoxFor(r => r[i].OtherCurrentAssets,
                        new
                        {
                            @id = "OtherCurrentAssets_" + i,
                            @style = "border-bottom: 1px solid black",
                            @class = "noDecNoDlrFrmt calcField select_" + i,
                            @onchange = "TotalsForAssets(" + i + ")"
                        })
                    </td>
                }
            </tr>
            <tr>
                <td class="enableStar" style="background-color: #f6f6f6;">@Resources.Resources.TotlCrntAsts </td>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    var x = "TotalCurrentAssets_" + i;
                    <td>
                        @Html.TextBox(x, "",
                       new
                       {
                           @id = x,
                           @class = "undelineTransperant calcField noDecNoDlrFrmt ",
                           @readonly = "true"
                       })
                    </td>
                }
            </tr>
            @*<tr>
                    <td><br /></td>
                </tr>*@
            <tr>
                <td height="50">@Resources.Resources.NetPrptyEqmnt</td>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <td>
                        @Html.TextBoxFor(r => r[i].NetPropertyAndEquipment,
                        new
                        {
                            @id = "NetPropertyAndEquipment_" + i,
                            @style = "border-bottom: 1px solid black",
                            @class = "noDecNoDlrFrmt calcField select_" + i,
                            @onchange = "TotalsForAssets(" + i + ")"
                        })
                    </td>
                }
            </tr>
            @*<tr>
                    <td><br /></td>
                </tr>*@
            <tr>
                <td>@Resources.Resources.OthrAsts</td>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <td>
                        @Html.TextBoxFor(r => r[i].OtherAssets,
                        new
                        {
                            @id = "OtherAssets_" + i,
                            @style = "border-bottom: 1px solid black",
                            @class = "noDecNoDlrFrmt calcField select_" + i,
                            @onchange = "TotalsForAssets(" + i + ")"
                        })
                    </td>
                }
            </tr>
            @*<tr>
                    <td><br /></td>
                </tr>*@
            <tr>
                <td height="50" class="enableStar"  style="background-color: #f6f6f6;">@Resources.Resources.TotlAsts</td>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    var x = "TotalAssets_" + i;
                    <td>
                        @Html.TextBox(x, "",
                        new
                        {
                            @id = x,
                            @class = "undelineTransperant calcField noDecDlrFrmt ",
                            @readonly = "true"
                        })
                    </td>
                }
            </tr>
            @*<tr>
                    <td><br /></td>
                </tr>*@
            <tr>
                <td height="50"><strong>@Resources.Resources.LiabltyEqty</strong></td>
            </tr>
            <tr>
                <td>@Resources.Resources.LnCrdtShrtTrmBrwng</td>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <td>
                        @Html.TextBoxFor(r => r[i].LinesOfCreditShortTermBorrowings,
                        new
                        {
                            @id = "LinesOfCreditShortTermBorrowings_" + i,
                            @class = "noDecNoDlrFrmt calcField select_" + i,
                            @onchange = "TotalsForLiabilities(" + i + ")"
                        })
                    </td>
                }
            </tr>
            <tr>
                <td>@Resources.Resources.InstlmntNtsPayblOneYr</td>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <td>
                        @Html.TextBoxFor(r => r[i].InstallmentNotesPayableDueWithinOneYear,
                        new
                        {
                            @id = "InstallmentNotesPayableDueWithinOneYear_" + i,
                            @class = "noDecNoDlrFrmt calcField select_" + i,
                            @onchange = "TotalsForLiabilities(" + i + ")"
                        })
                    </td>
                }
            </tr>
            <tr>
                <td>@Resources.Resources.AcntPayable</td>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <td>
                        @Html.TextBoxFor(r => r[i].AccountsPayable,
                        new
                        {
                            @id = "AccountsPayable_" + i,
                            @class = "noDecNoDlrFrmt calcField select_" + i,
                            @onchange = "TotalsForLiabilities(" + i + ")"
                        })
                    </td>
                }
            </tr>
            <tr>
                <td>@Resources.Resources.RetngPaybl</td>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <td>
                        @Html.TextBoxFor(r => r[i].RetainagePayable,
                        new
                        {
                            @id = "RetainagePayable_" + i,
                            @class = "noDecNoDlrFrmt calcField select_" + i,
                            @onchange = "TotalsForLiabilities(" + i + ")"
                        })
                    </td>
                }
            </tr>
            <tr>
                <td>@Resources.Resources.AcrdExpns</td>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <td>
                        @Html.TextBoxFor(r => r[i].AccruedExpenses,
                        new
                        {
                            @id = "AccruedExpenses_" + i,
                            @class = "noDecNoDlrFrmt calcField select_" + i,
                            @onchange = "TotalsForLiabilities(" + i + ")"
                        })
                    </td>
                }
            </tr>
            <tr>
                <td>@Resources.Resources.BlngExcsCstEstmtdErngsUncmpltdCntrcts</td>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <td>
                        @Html.TextBoxFor(r => r[i].BillingsInExcessOfCostsAndEstimatedEarningsOnUncompletedContracts,
                        new
                        {
                            @id = "BillingsInExcessOfCostsAndEstimatedEarningsOnUncompletedContracts_" + i,
                            @class = "noDecNoDlrFrmt calcField select_" + i,
                            @onchange = "TotalsForLiabilities(" + i + ")"
                        })
                    </td>
                }
            </tr>
            <tr>
                <td>@Resources.Resources.CrntIncmTaxPaybl</td>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <td>
                        @Html.TextBoxFor(r => r[i].CurrentIncomeTaxesPayable,
                        new
                        {
                            @id = "CurrentIncomeTaxesPayable_" + i,
                            @class = "noDecNoDlrFrmt calcField select_" + i,
                            @onchange = "TotalsForLiabilities(" + i + ")"
                        })
                    </td>
                }
            </tr>
            <tr>
                <td>@Resources.Resources.DfrdIncmTaxPayblCrnt</td>
                @for (int i = 0; i < Model.Count(); i++)
                {

                    <td>
                        @Html.TextBoxFor(r => r[i].DeferredIncomeTaxesPayableCurrent,
                new
                {
                    @id = "DeferredIncomeTaxesPayableCurrent_" + i,
                    @style = "border-bottom: 1px solid black",
                    @class = "noDecNoDlrFrmt calcField select_" + i,
                    @onchange = "TotalsForLiabilities(" + i + ")"
                })
                    </td>
                }
            </tr>
            <tr>
                <td class="enableStar" style="background-color: #f6f6f6;">@Resources.Resources.TotlCrntLiablty </td>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    var x = "TotalCurrentLiabilities_" + i;

                    <td style="background-color:#f4fbff">
                        @Html.TextBox(x, "",
                new
                {
                    @id = x,
                    @class = "undelineTransperant noDecNoDlrFrmt calcField ",
                    @readonly = "true"
                })
                    </td>
                }
            </tr>
            @*<tr><td><br /></td></tr>*@
            <tr>
                <td height="25">@Resources.Resources.NtsPayblAftrOneYr</td>
                @for (int i = 0; i < Model.Count(); i++)
                {

                    <td>
                        @Html.TextBoxFor(r => r[i].NotesPayableDueAfterOneYear,
                        new
                        {
                            @id = "NotesPayableDueAfterOneYear_" + i,
                            @class = "noDecNoDlrFrmt calcField select_" + i,
                            @onchange = "TotalsForLiabilities(" + i + ")"
                        })
                    </td>
                }
            </tr>
            <tr>
                <td>@Resources.Resources.EqpmntLnCrdt</td>
                @for (int i = 0; i < Model.Count(); i++)
                {

                    <td>
                        @Html.TextBoxFor(r => r[i].EquipmentLinesOfCredit,
                        new
                        {
                            @id = "EquipmentLinesOfCredit_" + i,
                            @class = "noDecNoDlrFrmt calcField select_" + i,
                            @onchange = "TotalsForLiabilities(" + i + ")"
                        })
                    </td>
                }
            </tr>
            <tr>
                <td>@Resources.Resources.OthrLngTrmLiablty</td>
                @for (int i = 0; i < Model.Count(); i++)
                {

                    <td>
                        @Html.TextBoxFor(r => r[i].OtherLongTermLiabilities,
                        new
                        {
                            @id = "OtherLongTermLiabilities_" + i,
                            @class = "noDecNoDlrFrmt calcField select_" + i,
                            @onchange = "TotalsForLiabilities(" + i + ")"
                        })
                    </td>
                }
            </tr>
            <tr>
                <td>@Resources.Resources.DfrdIncmTaxPayblLngtrm</td>
                @for (int i = 0; i < Model.Count(); i++)
                {

                    <td>
                        @Html.TextBoxFor(r => r[i].DeferredIncomeTaxesPayableLongTerm,
                new
                {
                    @id = "DeferredIncomeTaxesPayableLongTerm_" + i,
                    @style = "border-bottom: 1px solid black",
                    @class = "noDecNoDlrFrmt calcField select_" + i,
                    @onchange = "TotalsForLiabilities(" + i + ")"
                })
                    </td>
                }
            </tr>
            <tr>
                <td class="enableStar" style="background-color: #f6f6f6;">@Resources.Resources.TotlLngTrmLiablty </td>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    var x = "TotalLongTermLiabilities_" + i;
                    <td>
                        @Html.TextBox(x, "",
                        new
                        {
                            @id = x,
                            @class = "undelineTransperant noDecNoDlrFrmt calcField ",
                            @readonly = "true"
                        })
                    </td>
                }
            </tr>
            @*<tr><td><br /></td></tr>*@
            <tr>
                <td height="50">@Resources.Resources.TotlStckHldrEqty</td>
                @for (int i = 0; i < Model.Count(); i++)
                {

                    <td>
                        @Html.TextBoxFor(r => r[i].TotalStockholdersEquity,
                new
                {
                    @id = "TotalStockholdersEquity_" + i,
                    @style = "border-bottom: 1px solid black",
                    @class = "noDecNoDlrFrmt calcField select_" + i,
                    @onchange = "TotalsForLiabilities(" + i + ")"
                })
                    </td>
                }
            </tr>
            @*<tr><td><br /></td></tr>*@
            <tr>
                <td class="enableStar"height="50" style="background-color: #f6f6f6;">@Resources.Resources.TotlLiabltyStckHldrEqty </td>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    var x = "TotalLiabilitiesAndStockholdersEquity_" + i;
                    <td>
                        @Html.TextBox(x, "",
                   new
                   {
                       @id = x,
                       @class = "undelineTransperant noDecDlrFrmt calcField ",
                       @readonly = "true"
                   })
                    </td>
                }
            </tr>
            @*<tr><td><br /></td></tr>*@
            <tr>
                <td height="50"><strong>@Resources.Resources.IncmStmnt</strong></td>
            </tr>
            <tr>
                <td>@Resources.Resources.CnstrctnRevn</td>
                @for (int i = 0; i < Model.Count(); i++)
                {

                    <td>
                        @Html.TextBoxFor(r => r[i].ConstructionRevenues,
                            new
                            {
                                @id = "ConstructionRevenues_" + i,
                                @class = "noDecDlrFrmt calcField select_" + i,
                                @onchange = "TotalsForIncomeStatement(" + i + ")"
                            })
                    </td>
                }
            </tr>
            <tr>
                <td>@Resources.Resources.CnstrctnDrctCst</td>
                @for (int i = 0; i < Model.Count(); i++)
                {

                    <td>
                        @Html.TextBoxFor(r => r[i].ConstructionDirectCosts,
                new
                {
                    @id = "ConstructionDirectCosts_" + i,
                    @style = "border-bottom: 1px solid black",
                    @class = "noDecNoDlrFrmt calcField select_" + i,
                    @onchange = "TotalsForIncomeStatement(" + i + ")"
                })
                    </td>
                }
            </tr>
           <tr>
                <td class="enableStar" style="background-color: #f6f6f6;">@Resources.Resources.CnstrctnGrsPrft </td>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    var x = "ConstructionGrossProfit_" + i;
                    <td style="background-color:transparent">
                        @Html.TextBox(x, "",
                    new
                    {
                        @id = x,
                        @style = "background-color:transparent",
                        @readonly = "true",
                        @class = "noDecNoDlrFrmt calcField"
                    })
                    </td>
                }
            </tr>
            <tr>
        <td>@Resources.Resources.NcnstrctnGrsPrft</td>
        @for (int i = 0; i < Model.Count(); i++)
        {

            <td>
                @Html.TextBoxFor(r => r[i].NonConstructionGrossProfitLoss,
                new
                {
                    @id = "NonConstructionGrossProfitLoss_" + i,
                    @class = "noDecNoDlrFrmt calcField select_" + i,
                    @onchange = "TotalsForIncomeStatement(" + i + ")"
                })
            </td>
        }
    </tr>
<tr>
        <td>@Resources.Resources.GnrlAdmnExpns</td>
        @for (int i = 0; i < Model.Count(); i++)
        {

            <td>
                @Html.TextBoxFor(r => r[i].GeneralAndAdministrativeExpenses,
                new
                {
                    @id = "GeneralAndAdministrativeExpenses_" + i,
                    @style = "border-bottom: 1px solid black",
                    @class = "noDecNoDlrFrmt calcField select_" + i,
                    @onchange = "TotalsForIncomeStatement(" + i + ")"
                })
            </td>
        }
    </tr>
  <tr>
        <td class="enableStar" style="background-color: #f6f6f6;">@Resources.Resources.OprtngIncm </td>
        @for (int i = 0; i < Model.Count(); i++)
        {
            var x = "OperatingIncome_" + i;
            <td>
                @Html.TextBox(x, "",
               new
               {
                   @id = x,
                   @style = "background-color:transparent",
                   @readonly = "true",
                   @class = "noDecNoDlrFrmt calcField "
               })
            </td>
        }
    </tr>
<tr>
        <td>@Resources.Resources.OthrIncmDdctn</td>
        @for (int i = 0; i < Model.Count(); i++)
        {

            <td>
                @Html.TextBoxFor(r => r[i].OtherIncomeDeductions,
                    new
                    {
                        @id = "OtherIncomeDeductions_" + i,
                        @style = "border-bottom: 1px solid black",
                        @class = "noDecNoDlrFrmt calcField select_" + i,
                        @onchange = "TotalsForIncomeStatement(" + i + ")"
                    })
            </td>
        }
    </tr>
   <tr>
       <td class="enableStar" style="background-color: #f6f6f6;">@Resources.Resources.ErngBfrIncmTax </td>
        @for (int i = 0; i < Model.Count(); i++)
        {
            var x = "EarningsBeforeIncomeTaxes_" + i;
            <td>
                @Html.TextBox(x, "",
                new
                {
                    @id = x,
                    @style = "background-color:transparent",
                    @readonly = "true",
                    @class = "noDecNoDlrFrmt calcField "
                })
            </td>
        }
    </tr>
    <tr>
        <td>@Resources.Resources.IncmTaxExpnsBnft</td>
        @for (int i = 0; i < Model.Count(); i++)
        {

            <td>
                @Html.TextBoxFor(r => r[i].IncomeTaxExpenseBenifit,
                    new
                    {
                        @id = "IncomeTaxExpenseBenifit_" + i,
                        @style = "border-bottom: 1px solid black",
                        @class = "noDecNoDlrFrmt calcField select_" + i,
                        @onchange = "TotalsForIncomeStatement(" + i + ")"
                    })
            </td>
        }
    </tr>
    <tr>
        <td class="enableStar " style="background-color: #f6f6f6;">@Resources.Resources.NetIncm</td>
        @for (int i = 0; i < Model.Count(); i++)
        {
            var x = "NetIncome_" + i;
            <td style="background-color:#f4fbff">
                @Html.TextBox(x, "",
        new
        {
            @id = x,
            @class = "undelineTransperant noDecDlrFrmt calcField",
            @readonly = "true"
        })
            </td>
        }
    </tr>
            @*<tr><td><br /></td></tr>*@
            <tr>
                <td class="enableStar" height="50" style="background-color: #f6f6f6;">@Resources.Resources.Ebidta_Lbl </td>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    var x = "EBITDA_" + i;
                    <td style="background-color:transparent">
                        @Html.TextBox(x, "",
                new
                {
                    @id = x,
                    @class = "undelineTransperant noDecDlrFrmt calcField ",
                    @readonly = "true"
                })
                    </td>
                }
            </tr>
            @*<tr><td><br /></td></tr>*@
            <tr>
                <td height="50"><strong>@Resources.Resources.SlctFnclData</strong></td>
            </tr>
            <tr>
                <td>@Resources.Resources.DprctnAmrtztn</td>
                @for (int i = 0; i < Model.Count(); i++)
                {

                    <td>
                        @Html.TextBoxFor(r => r[i].DepreciationAndAmortization,
                        new
                        {
                            @id = "DepreciationAndAmortization_" + i,
                            @class = "noDecNoDlrFrmt calcField select_" + i,
                            @onchange = "TotalsForIncomeStatement(" + i + ")"
                        })
                    </td>
                }
            </tr>
            <tr>
                <td >@Resources.Resources.IntrstExpns</td>
                @for (int i = 0; i < Model.Count(); i++)
                {

                    <td>
                        @Html.TextBoxFor(r => r[i].InterestExpense,
                            new
                            {
                                @id = "InterestExpense_" + i,
                                @class = "noDecNoDlrFrmt calcField select_" + i,
                                @onchange = "TotalsForIncomeStatement(" + i + ")"
                            })
                    </td>
                }
            </tr>
            <tr>
                <td >@Resources.Resources.TotlBcklg</td>
                @for (int i = 0; i < Model.Count(); i++)
                {

                    <td>
                        @Html.TextBoxFor(r => r[i].TotalBacklog,
                               new
                               {
                                   @id = "TotalBacklog_" + i,
                                   @class = "noDecNoDlrFrmt calcField select_" + i,
                                   @onchange = "TotalsForIncomeStatement(" + i + ")"
                               })
                    </td>
                }
            </tr>
            <tr>
                <td class="enableStar" style="background-color:#f6f6f6">@Resources.Resources.BcklogGrsPrft </td>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    var x = "BacklogGrossProfit_" + i;
                    <td>
                        @Html.TextBox(x, "",
                   new
                   {
                       @id = x,
                       @disabled = "true",
                       @class = "noDecNoDlrFrmt calcField "
                   })
                    </td>
                }
            </tr>
            <tr>
                <td >@Resources.Resources.TotlLnCrdt</td>
                @for (int i = 0; i < Model.Count(); i++)
                {

                    <td>
                        @Html.TextBoxFor(r => r[i].TotalLineOfCredit,
                                new
                                {
                                    @id = "TotalLineOfCredit_" + i,
                                    @class = "noDecNoDlrFrmt calcField select_" + i,
                                    @onchange = "TotalsForIncomeStatement(" + i + ")"
                                })
                    </td>
                }
            </tr>
            <tr>
                <td>@Resources.Resources.LnCrdtAvlblty</td>
                @for (int i = 0; i < Model.Count(); i++)
                {

                    <td>
                        @Html.TextBoxFor(r => r[i].LineOfCreditAvailability,
                                new
                                {
                                    @id = "LineOfCreditAvailability_" + i,
                                    @class = "noDecNoDlrFrmt calcField select_" + i,
                                    @onchange = "TotalsForIncomeStatement(" + i + ")"
                                })
                    </td>
                }
            </tr>
            <tr style="background-color:yellow">
                <td>@Resources.Resources.Totl3LrgstCmpltdPrjcts</td>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    if (i == 0)
                    {
                        <td style="background-color:yellow">
                            @Html.TextBoxFor(r => r[i].TotalThreeLargestCompletedProjects,
                     new
                     {
                         @style = "background-color:yellow",
                         @class = "noDecNoDlrFrmt calcField select_" + i
                     })
                        </td>
                    }
                    else
                    {
                        <td style="background-color:yellow">
                            @Html.TextBoxFor(r => r[i].TotalThreeLargestCompletedProjects,
                     new
                     {
                         @style = "background-color:yellow",
                         @class = "noDecNoDlrFrmt  calcField hidden select_" + i
                     })
                        </td> }
                }
            </tr>
            <tr>
                <td></td>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <td>
                        @Html.HiddenFor(m => m[i].ClientId, new { @id = "ClientId_" + i })
                    </td>
                }

            </tr>
        </tbody>
    </table>
    for (int i = 0; i < Model.Count(); i++)
    {
        <td>
            @Html.HiddenFor(m => m[i].IsDisabled, new { @class = "diabledItem_" + i })
        </td>
    }

    <div style="float:right;margin:20px;">
        <button type="submit" id="IntrimSave" class="PageFooter_Button valid" style="margin-right:20px;" name="Submit" onclick="$('#IsClose').val(false)">@Resources.Resources.Common_Save</button>
        <button type="submit" class="PageFooter_Button valid" name="Submit" onclick="$('#IsClose').val(true)">@Resources.Resources.SaveAndClose</button>
    </div>
}
<script src="~/Scripts/Application/Prequalification/FinancialDataView.js"></script>
<script>

    $(function () {
        if ('@ViewBag.isFormSubmitted' == 'true') {
            alert(window.location.href);
            window.location = window.location.href;
        }
        $("#target").submit(function (event) {
            event.preventDefault();
            var isValid = true;
            for (var i = 0; i < 4; i++) {

                var sourceval = $("#item_" + i).val();

                var NonEmptyTextBox = $(".select_" + i).filter(function () {
                    return $.trim($(this).val()) != '';
                }).length;

                if (sourceval == ""  && NonEmptyTextBox > 0) {
                    isValid = false;

                }

            }
            if (isValid)
                target.submit();
            else old_alert("Type Of Financial Statements is required for respective financial Year ");
        });

    });
  
</script>