﻿<div class="contentSub">
    <table>
        <tr style="color:red;font-weight:bold">
            <td colspan="3">@Resources.Resources.Click_Box_location</td>
        </tr>
        @foreach(var clientloc in ((List<FVGen3.DataLayer.DTO.PQSites>)@ViewBag.pqClientLocations).GroupBy(r => r.ClientName)) {
            <tr>
                <th colspan="3" style="text-align:left;padding: 10px 0;">@clientloc.Key</th>
            </tr>
        foreach (var location in clientloc)
        {
            <tr>
               
                <td width="20px">@if (ViewBag.PQStatus == 16)
                {
                    <input type="checkbox" onclick='window.open("../Prequalification/AssignLocationStatus?SubsectionId=@ViewBag.SubsectionId&pqSiteId=@location.PQSiteId&pqSiteClientId=@location.PQSiteClientId&pqId=@ViewBag.PQId","_blank", "toolbar=no,  directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=yes, width=650, height=470")'
                           @if (@location.NotificationExistForSite)
                           {
                               @:checked="checked" disabled="disabled"
                           }/>
                }
                </td>
                <td>@location.PQSiteName</td>
                <td>@location.PQSiteStatusName</td>
            </tr>
        }
        }
    </table>
</div>