﻿@model FVGen3.Domain.LocalModels.PQBusinessUnitDocments

@using Resources;
@{
    Layout = null;
}
<div class="partialPage">
    @if (@ViewBag.DocCount > 0)
    {
        <div class="PrequalificationHeader">
            <label>@Resources.Companies_Downloads </label>
        </div>

        <div><h1 style="font-weight:bold;margin-left:10px;font-size:22px">Business Unit Documentations</h1></div>
   
    foreach (var Client in @ViewBag.clients)
    {
        <h1 style="font-weight:inherit;margin-left:10px;font-size:19px">@Client</h1>
        foreach (var Bu in Model.Bus.Where(r=>r.ClientName==@Client))
        {
            <h1 style="font-weight:inherit;margin-left:20px;font-size:18px">@Bu.BusinessUnitName </h1>
            <ul style="list-style-type: none;margin-left:40px;line-height:1.5em;font-size:16px">
                @foreach (var doc in Bu.documents)
                {
                    <li>
                        <a href="#!" onclick="window.open('../companies/DownloadDoc?idAsFileName=@doc.DocumentId&userEnteredFilename=@HttpUtility.UrlEncode(@doc.DocumentName)&clientId=@doc.ClientId')">
                            @doc.DocumentName
                        </a>
                    </li>
                }

            </ul>
        }
    }
    <div><h1 style="font-weight:bold;margin-left:10px;font-size:22px">Site Specific Documentations</h1></div>
    foreach (var Client in @ViewBag.clients)
    {
        <h1 style="font-weight:inherit;margin-left:10px;font-size:19px">@Client</h1>
        foreach (var Busite in Model.BuSites.Where(r => r.ClientName == @Client))
        {
            <h1 style="font-weight:inherit;margin-left:20px;font-size:18px">@Busite.BusinessUnitName - @Busite.BusinessUnitsiteName </h1>
            <ul style="list-style-type: none;margin-left:40px;line-height:1.5em;font-size:16px">
                @foreach (var doc in Busite.documents)
                {
                    <li>
                        <a href="#!" onclick="window.open('../companies/DownloadDoc?idAsFileName=@doc.DocumentId&userEnteredFilename=@HttpUtility.UrlEncode(@doc.DocumentName)&clientId=@doc.ClientId')">
                            @doc.DocumentName
                        </a>
                    </li>
                }

            </ul>
        }
    }
    }
    @*}*@

