﻿@model List<FVGen3.Domain.ViewModels.PqReferenceDocumentsViewModel>

    
    <ul>

        @foreach (var document in Model)
        {
            <li>
                @*@Html.ActionLink((string)@document.DocumentName, "../Companies/DownloadDoc", new { idAsFileName = @document.DocumentId + "", userEnteredFilename = @document.DocumentName + "", clientId = @document.OrganizationId })*@
                <a href="#!" onclick="window.open('../Companies/DownloadDoc?idAsFileName=@document.DocumentId&userEnteredFilename=@HttpUtility.UrlEncode(@document.DocumentName)&clientId=@document.OrganizationId')">
                    @document.DocumentName
                </a>
            </li>
        }
    </ul>
