﻿@{
    ViewBag.Title = "LoadGraph";
    Layout = null;
}

<h2>@ViewBag.field @Resources.Resources.Compare_BiddingIntrest</h2>
<!DOCTYPE html>
<html>
<head>
    <title>@Resources.Resources.Date_axis</title>
    <meta charset="utf-8">
    <link href="../content/shared/styles/examples-offline.css" rel="stylesheet">
    <link href="~/css/kendo/kendo.common.min.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <link href="~/css/kendo/kendo.rtl.min.css" rel="stylesheet">
    <link href="~/css/kendo/kendo.default.min.css" rel="stylesheet">
    <link href="~/css/kendo/kendo.default.mobile.min.css" rel="stylesheet">
    @*<script src="~/Scripts/kendo/angular.min.js"></script>*@
    <script src="~/Scripts/kendo/jszip.min.js"></script>
    <script src="~/Scripts/kendo/kendo.all.min.js"></script>
    @*<script src="../content/shared/js/console.js"></script>*@
    <script>

    </script>


</head>
<body>



    <div id="example">
        <div class="demo-section k-content wide">
            <div id="chart"></div>
            
        </div>
     
    </div>
    <script>
   
    function createChart() {
     
        $("#chart").kendoChart({
            series:@Html.Raw(Json.Encode(ViewBag.Series)),
            seriesDefaults: {
                type: "line",
                style: "smooth"
            },

            categoryAxis: {
                categories:@Html.Raw(Json.Encode(ViewBag.CategoryAxis)),
            }
        });


       
    }

    $(document).ready(createChart);
  
    </script>
 


</body>
</html>

