﻿@using FVGen3.WebUI.Constants
@model List<FVGen3.DataLayer.DTO.AddendumDTO>



@foreach (var addendum in Model)
{
    <div class="totalSubsection">
       
        <div class="subsectionHeader">
            <table width="709px;">
                <tr>
                    <td>@addendum.SubSectionName</td>
                    @if (ViewBag.isEdit)
                    {
                        <td>
                            @if (addendum.VisibleToVendor)
                            {
                                <i class="icon fa fa-eye" style="font-size: 20px; color: black; margin-right: 30px; cursor: pointer; position: absolute; right: 75px; top: 8px;" aria-hidden="true" title="Hide" aria-label="Hide" onclick="TemplateSectionsList.ToggleAddendum(@addendum.PQSubSectionId)"></i>
                            }
                            else
                            {
                                <i class="icon fa fa-eye-slash" style="font-size: 20px; margin-right: 30px; cursor: pointer; position: absolute; right: 75px; top: 8px;" aria-hidden="true" title="Show" aria-label="Show" onclick="TemplateSectionsList.ToggleAddendum(@addendum.PQSubSectionId)"></i>
                            }
                            <img src="../images/edit.png" style="margin-right: 30px; cursor: pointer; position: absolute; right: 40px; top: 8px;" onclick="TemplateSectionsList.AddOrEditAddendum(@addendum.PQSubSectionId, @addendum.PqId, @addendum.SubSecId)" />
                        </td>
                    }
                    @if (addendum.Questions != null && addendum.Questions.Count() != 0)
                    {
                        <td>
                            <img src="../images/collapse.png" style="margin-right: 5px; cursor: pointer;" class="ExpandListButton" onclick="SectionClick(this)" />
                        </td>
                    }
                </tr>
            </table>
        </div>

        @if (!string.IsNullOrEmpty(addendum.Header))
        {
            <div class="rowIST">
                <p>

                    @{
                        var htmlDecode = HttpUtility.HtmlDecode(addendum.Header);
                    }
                    @if (htmlDecode != null)
                    {
                        @Html.Raw(htmlDecode.Replace("[SecSubmittedDate]", ViewBag.SubmittedDate.ToString("MM/dd/yyyy")))
                    }</p>
            </div>
        }
        @if (addendum.Questions != null)
        {
            foreach (var question in addendum.Questions)
            {
                <div class="ctrlDivRow">
                    @if (!string.IsNullOrEmpty(@question.QuestionText))
                    {
                        <div class="ctrlDiv" style="width: 360px;">
                            <label class="labelStart"><b>@Html.Raw(@question.QuestionText.Trim()) </b></label>
                        </div>
                    }
                    <table width="@(!string.IsNullOrEmpty(@question.QuestionText)?309:709)px" class="table_data">
                        <tr>
                            <td>
                                @if ((!Session["RoleName"].ToString().Equals("Admin") && !string.IsNullOrEmpty(@question.InputVal)) || (Session["RoleName"].ToString().Equals("Client") && addendum.SubSectionType == PQSubSectionType.VendorSign) || (Session["RoleName"].ToString().Equals("Vendor") && addendum.SubSectionType == PQSubSectionType.ClientSign))
                                {
                                    @:@question.InputVal
                                }
                                else
                                {
                                    if (question.QuestionType == 2)
                                    {
                                         <input type="text" questionreferenceid="" insertiontype="PQQuestions" ctrltype="Text" ismandatory="True" name="@question.PQQuestionId" questioncolumnid="@question.PQQuestionId" value="@question.InputVal" class="class_input"/>
                                     }
                                     else if (question.QuestionType == 11)
                                     {
                                         <input type="dates" readonly="readonly" questionreferenceid="" insertiontype="PQQuestions" ctrltype="Text" ismandatory="True" name="@question.PQQuestionId" questioncolumnid="@question.PQQuestionId" value="@question.InputVal" class="class_input"/>
                                     }
                                }
                            </td>
                            <td width="5%" align="center">
                                <span class="field-validation-valid" data-valmsg-for="@question.PQQuestionId" data-valmsg-replace="true"></span>
                            </td>
                        </tr>
                    </table>
                </div>
            }
        }

        @if (!string.IsNullOrEmpty(addendum.Footer))
        {
            <div class="rowIST">
                <p>@Html.Raw(HttpUtility.HtmlDecode(addendum.Footer))</p>
            </div>
        }

    </div>
}
