﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Resources.Resources.Notify_Merchant</title>
</head>
<body>
    <div>
        <h2>@ViewBag.NotifyURLString</h2>
    </div>
</body>
</html>
