﻿@using FVGen3.Domain.ViewModels
@using Resources
@model FVGen3.Domain.ViewModels.PqPaymentsViewModel
                
<div class="paymentDetailsContent">
    
                    <table class="ISEri" border="0" width="680" cellpadding="5">
                        <tr>
                         <td class="paycal-header"><h3>@Resources.PQ_Fee</h3></td>
                        @*<td class="Details">Online Vendor Prequalification: Organization Id:@ViewBag.VendorId</td>*@
                            <td class="Details_Cost">$
                                 @if (@Model.PaymentReceived != null && @Model.PaymentReceived == true && @Model.PqPrice == 0)
                                 {
                                    @Model.PqPrice@: (Fee Cap Reached)
                                 }
                                 else if (@Model.PaymentReceived == true)
                                 {
                                    @Model.PqPrice@: (paid)
                                }
                                 else
                                 {
                                    @Model.PqPrice
                                 }
                            </td>
                        </tr>
                        @if (@Model.PqBus.Count != 0)
                        {
                        <tr>
                            <td class="sample" style="display: block; width: 151%;">
                            <div class="sampleBu">
                             @{int i = 1;}
                            @foreach (var site in (List<ClientBusinessUnitsViewModel>)Model.PqBus)
                            {
                               <div>
                               @if (i == @Model.PqBus.Count)
                               {
                                    @site.BusinessUnitName
                               }
                               else
                               {
                                     @site.BusinessUnitName@: ,
                                }
                              </div>
                               i++;
                            }
                            </div>
                            </td>
                        </tr>
                        }
                      
                        @if (@Session["RoleName"].ToString().Equals(LocalConstants.Admin))
                        {
                            <tr>
                                <td colspan="2">
                                    <table>
                                        <tr>
                                            <td><input type="checkbox" id="skipPrepayment" name="skipPrepayment" value="1" onclick="skipPayment(1)"
                                          @if (@Model.PaymentReceived == true)
                                          {
                                                @:disabled="disabled" checked="checked"
                                            }
                                           
                                            /></td>
                                            <td style="height: 45px;"><label for="skipPrepayment">@Resources.Skip_payment</label></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        }
                    </table>
                   
                    <div class="aha ISEri">
                        @foreach (var groupPrice in (List<IGrouping<int?, ClientTemplatesBuGroupPriceViewModel>>)Model.BuGroupPrice)
                        {
                            foreach (var businessUnit in @groupPrice)
                            {
                             <table width="100%">              
                                <tr>
                                    @if (@businessUnit.GroupPriceType == 0)
                                    {
                                       <th align="left">@Html.Raw(@Resources.prequalify_Before_Fee)@businessUnit.GroupPrice</th>
                                                 
                                    }
                                    else
                                    {
                                       <th align="left">@Html.Raw(@Resources.Additiona_Fee)$@businessUnit.GroupPrice</th>
                                                    
                                    }
                                </tr>
                                   
                                <tr>
                            	    <td class="sample">
                                    @{var i = 0;}
                                        @foreach (var clientTemplateBu in @businessUnit.ClientTemplatesForBu)
                                        {
                                          <div class="sampleBu">
                                    	    <div>
                                            @if (i == @businessUnit.ClientTemplatesForBu.Count() - 1)
                                            {
                                                @clientTemplateBu.BusinessUnitName @:.
                                            }
                                            else
                                            {
                                                @clientTemplateBu.BusinessUnitName @:,
                                            }
                                            </div>

                                            </div> 
                                            i++;
                                        }                                	
                                      </td>
                                  </tr>         
                             </table>
                            }
                        }
                    </div>

                   <div class="totalAmount">
                    <div class="price-row ISEri" id="1">
                            <label style="width:80%;" class="price-total">@Resources.PAy_To</label>
                            <label class="price-total" id="QuizAmtForPre" style="height: 16px;">$@Model.TemplatePrice</label>
                        </div><!--price-row-->
                    </div> <!--price-totalDiv-->
                   
                	<div class="fv_paymentTable"
                    @if (@Model.UnPaidBus.Count == 0 && @Model.PaidAdditionalBu.Count == 0 && @Model.UnusedPaymentIds == null)
                    {
                        @:style="display:none"
                        }
                    >
                        <div class="paycal-wrapper">               
                            <div class="paycal-header">
                                <h3>@Resources.Payment_label_additionalpay</h3>
                            </div><!--paycal-header-->
                            @*  Mani on 4/8/2015*@
                             @if (@Session["RoleName"].ToString().Equals(LocalConstants.Admin))
                             {
                            <tr>
                                <td colspan="2">
                                    <table>
                                        <tr>
                                            <td><input type="checkbox" id="skipForBu" value="2" name="" onclick="skipPayment(2)"
                                             @if (@Model.TotalAdditionalFee == 0)
                                             {
                                                @:disabled="disabled" checked="checked"
                                            }
                                            /></td>
                                            <td><label for="skipForBu">@Resources.Skip_Pay_Bu</label></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                             }
                       @* Ends*@
                            <div class="paycal-content">
                                <table>
                                    <tr>
                                        <!--<th width="10%">S.No</th>-->
                                        <th width="70%">@Resources.Bus_LIst</th>
                                        <th width="30%">@Html.Raw(Resources.Amt) </th>
                                    </tr>
                                    
                                   @foreach (var preqSites in (List<IGrouping<long?, PqSitesViewModel>>)Model.PaidAdditionalBu)
                                   {
                                       if (@preqSites.FirstOrDefault().PaymentReceivedAmount == 0 && @preqSites.FirstOrDefault().PaymentCategory == 0)
                                       { continue; }
                                       <tr>
                                       <td>
                                        @{int i = 1;}
                                       @foreach (var site in @preqSites.GroupBy(rec => rec.ClientBusinessUnitId))
                                       {
                                           @:@site.FirstOrDefault().ClientName - 
                                           if (i == @preqSites.GroupBy(rec => rec.ClientBusinessUnitId).Count())
                                           {
                                           
                                           @site.FirstOrDefault().BusinessUnitName@:
                                           }
                                           else
                                           {
                                                @site.FirstOrDefault().BusinessUnitName@: , 
                                            }
                                           i++;
                                       }
                                       </td>
                                       <td>@preqSites.FirstOrDefault().PaymentReceivedAmount (paid)</td>
                                       </tr>
                                   }
                                   @if (@ViewBag.unusedPaymentids != null)
                                   {
                                       foreach (var payment in (List<PrequalificationPaymentsViewModel>)Model.UnusedPaymentIds)
                                       {if (@payment.PaymentReceivedAmount == 0) {
                                               continue;
                                           }
                                       <tr>
                                       <td></td>
                                       <td>@payment.PaymentReceivedAmount (paid)</td>
                                       </tr>
                                       }
                                   }
                                    @if (Model.IsEri)
                                    {
                                        var allBus = ((List<ClientTemplatesForBuViewModel>)Model.UnPaidBus);
                                        var priceList = allBus.Select(r => new { r.ClientTemplateBuGroupId, r.GroupPrice,r.ClientName }).Distinct();
                                        foreach (var businessUnit in priceList)
                                        {
                                            var buNames=string.Join(",",allBus.Where(r => r.ClientTemplateBuGroupId == businessUnit.ClientTemplateBuGroupId).Select(r => r.BusinessUnitName));
                                            if (Model.UnPaidGroups != null && Model.UnPaidGroups.Contains(businessUnit.ClientTemplateBuGroupId))
                                            {
                                                <tr>
                                                    <td>

                                                        @businessUnit.ClientName - @buNames

                                                    </td>
                                                    <td>@businessUnit.GroupPrice</td>
                                                </tr>
                                            }
                                        }
                                    }
                                    else
                                    {


                                     foreach (var preqSites in (List<ClientTemplatesForBuViewModel>)@Model.UnPaidBus)
                                     {
                                         if (@Model.PaidBus.Contains(@preqSites.ClientBusinessUnitId))
                                         {
                                       <tr>
                                       <td>
                                     
                                          @preqSites.BusinessUnitName
                                      
                                       </td>
                                       <td>@preqSites.GroupPrice</td>
                                       </tr>
                                         }
                                     }
                                    }

                                    <tr>
                                        <!--<th></th>-->
                                        <th style="text-align:right;">@Resources.PAy_To</th>
                                        <th class="paycal-total" id="additionalPay">$@Model.TotalAdditionalFee</th>
                                    </tr>
                                </table>
                            </div><!--paycal-content-->
                        </div><!--paycal-wrappe-->
                    </div> <!--fv_paymentTable -->
                   
                     
                     @*  Mani on 6/5/2015*@
                    <div class="fv_paymentTable" 
                    
                    @if (@Model.AnnualFeeBus.Count == 0 && @Model.AnnualPaidBus.Count == 0)
                    {
                         @:style="display:none"
                    }
                   >  
                        <div class="paycal-wrapper">
                            @*<div class="paycal-header">
                                <div> Online Vendor Prequalification: Organization Id:@ViewBag.VendorId </div>
                                <div> <b> $@ViewBag.TemplatePrice </b></div>
                            </div><!--paycal-header-->*@
                            
                            <div class="paycal-header">
                                <h3>@Resources.TRAINING_FEE</h3>
                                @*<div>Total Amount&nbsp;:<b>$12545</b></div>*@
                            </div><!--paycal-header-->
                                
                             @if (@Session["RoleName"].ToString().Equals(LocalConstants.Admin))
                             {
                            <tr>
                                <td colspan="2">
                                    <table>
                                        <tr>
                                            <td><input type="checkbox" id="skipForAnnualBu" value="3"name="" onclick="skipPayment(3)"
                                            @if (@Model.TotalAnnualFee == 0)
                                            {
                                                @:disabled="disabled" checked="checked"
                                            }
                                            /></td>
                                            <td><label for="skipForAnnualBu">@Resources.Skip_Pay_For_Annual</label></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                             }
                       @* Ends*@
                            <div class="paycal-content">
                                <table>
                                    <tr>
                                        <!--<th width="10%">S.No</th>-->
                                        <th width="70%">@Resources.Bus_LIst</th>
                                        <th width="30%">@Html.Raw(Resources.Amt)</th>
                                    </tr>
                                    
                                 
                                    @foreach (var clientTemplatesGroups in (List<IGrouping<long, PrequalificationTrainingAnnualFeesViewModel>>)Model.AnnualPaidBus)
                                    {
                                      
                                        <tr>
                                            <td class="sample">
                                                @{int i = 1;}
                                                @foreach (var templateForBu in clientTemplatesGroups)
                                                {
                                                    <div class="sampleBu">
                                                        <div>
                                                            @if (i == clientTemplatesGroups.Count())
                                                            {
                                                                @templateForBu.BusinessUnitName
                                                            }
                                                            else
                                                            {
                                                                @templateForBu.BusinessUnitName@:,
                                                            }
                                                        </div>                                                   
                                                    </div> 
                                                            i++;
                                                }
                                            </td>

                                            <td class="sample">@clientTemplatesGroups.FirstOrDefault().AnnualFeeReceivedAmount (Paid)
                                            </td>                                            
                                        </tr>  
                                    }
                                   @foreach (var clientTemplatesGroups in (List<IGrouping<long?, ClientTemplatesForBuViewModel>>)Model.AnnualFeeBus)
                                   {
                                       
                                    <tr>
                                        <td class="sample">
                                            @{int i = 1;}
                                            @foreach (var templateForBu in clientTemplatesGroups)
                                            {
                                                <div class="sampleBu">
                                                    <div>
                                                        @if (i == clientTemplatesGroups.Count())
                                                        {
                                                            @templateForBu.BusinessUnitName
                                                        }
                                                        else
                                                        {
                                                            @templateForBu.BusinessUnitName@:,
                                                        }
                                                </div>    
                                            </div> 
                                                        i++;
                                            }
                                    </td>
                                      
                                    <td class="sample">
                                        @if (@Model.MonthDiff != 0)
                                        {                                                 
                                            @: @(Math.Round((decimal)@clientTemplatesGroups.FirstOrDefault().GroupPrice * Model.MonthDiff / 12, 2, MidpointRounding.AwayFromZero))
                                        }
                                        else
                                        {
                                            @clientTemplatesGroups.FirstOrDefault().GroupPrice
                                        }
                                    </td>                                            
                                </tr>  
                                   }

                                 
                                        
                                    
                                    <tr>
                                        <!--<th></th>-->
                                        <th style="text-align:right;">@Resources.PAy_To</th>
                                        <th class="paycal-total" id="annualPay">$@Model.TotalAnnualFee</th>
                                    </tr>
                                </table>
                            </div><!--paycal-content-->
                        </div><!--paycal-wrappe-->
                    </div> <!--fv_paymentTable -->
                  
                       
                           <div class="totalAmount">
                <div class="price-row">
                            <label style="width:80%;" class="price-total">@Resources.Employee_Total_Amount_Payable</label>
                            <label class="price-total" id="QuizTotalAmt" style="height: 16px;"></label>
                        </div><!--price-row-->
                    </div> <!--price-totalDiv-->


                     @* Ends >>>*@
                    <table width="680">
                      <tr><td><b>@Resources.Processing_Fee</b></td></tr>
                        <tr>
                            <td><img src="../images/img_accepted-cc.gif" /></td> 
                            <td><span class="Payment_Data">@Resources.Online_Payments_processed_Securely</span><td id="PaymentSpanOne"></td>
                        </tr>
                    </table>
                </div>