﻿
@model FVGen3.Domain.Entities.LocalPaypal
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Resources.Resources.PayPal</title>
    <style>
        .PaypalWait{
	        max-width:22%;
	        height:auto;
	        margin:0 auto;
	        line-height:200%;  
        }
        .PaypalWait span {
	        color:#280dfc;
        }
    </style>

</head>
@Scripts.Render("~/Scripts/jquery-1.9.1.min.js")
<body>
    <form id="frm" action=@ViewBag.actionURL>
        @Html.HiddenFor(model => model.cmd)
        @Html.HiddenFor(model => model.business)
        @Html.HiddenFor(model => model.no_shipping)
        @Html.HiddenFor(model=> model.@return)
        @Html.HiddenFor(model => model.cancel_return)
        @Html.HiddenFor(model => model.notify_url)
        @Html.HiddenFor(model => model.currency_code)
        @Html.HiddenFor(model => model.item_name)
        @Html.HiddenFor(model => model.amount)
        @Html.HiddenFor(model => model.preqID) @*Kiran on 7/31/2014*@
        @Html.HiddenFor(model => model.custom) @*Kiran on 8/29/2015*@
    </form>
    <div class="PaypalWait">
        <p>@Html.Raw(@Resources.Resources.Paypal_Msg)
            
            </p>
    </div>

</body>
</html>
<script type="text/javascript">
    $(this.document).ready(function () {
        var frm = $("form");
        frm.submit();
    });
</script>
