﻿<!--
 *****************************************************
Page Created Date:  30/06/2013
Created By: Rajesh Pendela
Purpose: Dynamic Prequlification - List of prequalification's sites
Version: 1.0
****************************************************
-->

<div class="partialPage">
@foreach (var siteInfo in (List<IGrouping<string, FVGen3.Domain.Entities.PrequalificationSites>>)ViewBag.siteInfo)
{
    <div class="page-subtitle">
        <h2 style="margin:0;padding:0;">@siteInfo.Key</h2>
    </div>
   
    <table width="100%"><!----------Add to table to Sub_Header-------->
        @foreach (var unit in siteInfo.GroupBy(rec => rec.ClientBusinessUnits))
        {
            @:<tr>                
                if (@unit.Key.BusinessUnitType == 0)
                {
                    <td colspan="3">
                        <b>@unit.Key.BusinessUnitName</b>
                    </td>
                }
                else
                {
                    foreach (var bu in unit)
                    {
                        var queryForBU = "PrequalificationSites?" + QueryStringModule.Encrypt("preQualificationSiteId=" + @bu.PrequalificationSitesId + "&subSectionId=" + @ViewBag.subSectionId + "&preQualificationId=" + @ViewBag.PrequalificationId);
                        <td colspan="1" width="35%">
                        @if (@unit.Key.BusinessUnitType == 1)
                        {
                            <a href="#!" onclick='window.open("@queryForBU","_blank", "toolbar=no,  directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=yes, width=650, height=400")'><b>@unit.Key.BusinessUnitName</b></a>
                        }
                        else
                        {
                            <b>@unit.Key.BusinessUnitName</b>
                        }
                        </td>                    
                    }
                }


                foreach (var site in unit)
                {
                    if (@site.ClientBusinessUnitSiteId == null)
                    { 
                        <td width="55%">
                            <i>@site.Comment</i>
                        </td>
                        <td>
                        @if (@ViewBag.PrequalificationStatus < 5)
                        {
                            <img class="imgCursor" align="right" src="~/images/DelButton.png" btnType = "Delete" onclick="deletePrequalificationSite('@site.PrequalificationSitesId', '@site.PrequalificationId')" />                            
                        }
                        </td>
                                
                    }
                @:</tr>
                    if (@site.ClientBusinessUnitSiteId != null)
                    {
                    <tr>
                        @if (@ViewBag.mode == null || @ViewBag.mode == 0)
                        {
                            var query = "PrequalificationSites?" + QueryStringModule.Encrypt("preQualificationSiteId=" + @site.PrequalificationSitesId + "&subSectionId=" + @ViewBag.subSectionId + "&preQualificationId=" + @ViewBag.PrequalificationId);
		                    <td width="35%">                             
                                <a href="#!" onclick='window.open("@query","_blank", "toolbar=no,  directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=yes, width=650, height=400")'> @site.ClientBusinessUnitSites.SiteName</a>                                
                            </td>
                            <td width="55%" style="text-align:justify;">                            
                                <i>@site.Comment</i>
                            </td>
                        
                            @*Kiran on 3/12/2014*@
                            <td width="10%">
                            @if (@ViewBag.PrequalificationStatus < 5)
                            {                            
                                <img class="imgCursor" align="right" style="margin-right:5px;" src="~/images/DelButton.png" btnType = "Delete" onclick="deletePrequalificationSite('@site.PrequalificationSitesId', '@site.PrequalificationId')" />                            
                            }
                        </td>
                            //Ends<<
                        }
                        else
                        {
                            <td width="45%">
                                <a href="#!"> @site.ClientBusinessUnitSites.SiteName</a>
                            </td>
                            <td width="55%" colspan="2">
                                <i>@site.Comment</i>
                            </td>
                        }                   
                    
	                </tr>
                    }
                }


                if (((List<FVGen3.Domain.Entities.Document>)@ViewBag.Documents).Where(rec => rec.ReferenceRecordID == @unit.Key.ClientBusinessUnitId).Count() != 0)
                {
                <tr><td colspan="2" width="100%">
                
                @if (((List<FVGen3.Domain.Entities.Document>)@ViewBag.Documents).Where(rec => rec.ReferenceRecordID == @unit.Key.ClientBusinessUnitId).Count() != 0)
                {
                <div class="page-subtitle">
                    <h2>Download Documents for @siteInfo.Key</h2>
                </div>  
                }
                <ul style="width:100%">
                
                
                
                @foreach (var doc in ((List<FVGen3.Domain.Entities.Document>)@ViewBag.Documents).Where(rec => rec.ReferenceRecordID == @unit.Key.ClientBusinessUnitId))
                {
                        <li style="list-style:none;">
                            
                            <table border="0" style="width:90%">
                                <tr style="border:0;margin:0;">
                                    <td valign="top">
                                        <img src="../images/pdf.png"/>
                                    </td>
                    
                                    <td  valign="top">
                                        <a href="#!" onclick="window.open('../Companies/DownloadDoc?idAsFileName=@doc.DocumentId&userEnteredFilename=@HttpUtility.UrlEncode(@doc.DocumentName)&clientId=@doc.OrganizationId')">
                                            @doc.DocumentName
                                        </a>
                                    </td>
                                </tr>
                            </table>
                    
                    
                        </li>
                
            
                }
                </ul></td></tr>
                }
        }
    </table>
}
</div>