﻿<!--
 *****************************************************
Page Created Date:  30/06/2013
Created By: Rajesh Pendela
Purpose: Dynamic Prequlification - List of prequalificati   on's sites
Version: 1.0
****************************************************
-->
<script>
    function updatestatus(PrequalificationSitesId,statusId){
        // alert(PrequalificationSitesId);
        $.ajax({
            type: 'Post',
            url: '../Prequalification/ChanngeLocationStatus',
            data: 'siteid='+PrequalificationSitesId+'&status='+$("#"+statusId).val(),
            success: function (data) {
                if(data=="Success")
                    parent.location.reload();
                alert(" Status Updated Sucessfully");

            }});

    }

    function GetPQSiteStatus(PQSiteId,selector) {
        Post("../Prequalification/GetPQSiteStatus",
          { PQSiteId: PQSiteId }, function (result) {
              debugger;
              $("#" + selector).val(result.Status);
          });

    }
    function openPDF(docId,docName, clientId){
        //alert(docId + docName);
        window.open('../Companies/DownloadDoc?idAsFileName='+docId+'&userEnteredFilename='+encodeURIComponent(docName)+'&clientId='+clientId);
    }
    function GetBUDocuments(BuId, BuName){
        //alert("hai");
        Post("../Prequalification/GetBUDocuments",
            {BuId: BuId}, function(result)
            {
                //alert("hai2");
                debugger;
                var content ="";
                if('@ViewBag.HideLinks'== '' && (result != null && result.length > 0))
                {
                    content = content + "<tr><td colspan='2' width='100%'>";
                    content = content + "<div class='page-subtitle'><h2>@Resources.Resources.Down_Doc_For " + BuName + "</h2></div>";
                    content = content + "<ul style='width:100%'>";
                    for (var i = 0; i < result.length; i++) {
                        content = content + "<li style='list-style:none;'><table border='0' style='width:90%'><tr style='border:0;margin:0;'><td valign='top'><img src='../images/pdf.png' /></td><td valign='top'>";
                        content = content + "<a href='#!' onclick = \"openPDF(\'" + result[i].DocumentId + "\',\'" + result[i].DocumentName + "\',\'" + result[i].ClientId + "\')\">" + result[i].DocumentName + "</a></td></tr></table></li>";
                    }
                    content = content + "</ul></td></tr>";
                }
                $("#" + BuId).closest('table').append(content);
            });
    }

    $(document).ready(function() {
        var statesAvailable = @Html.Raw(Json.Encode(@ViewBag.finalstatus));
        if ('@ViewBag.IsVendorDetails' === 'True') {
            $('.clientdocuments').css('display', 'block');
        }
        if (statesAvailable != null && statesAvailable.includes(@ViewBag.PrequalificationStatus)) {
            debugger;
            $(".siteStatus").prop("disabled", false);
            $(".changesite").show();

        } else {
            $(".siteStatus").prop("disabled", true);
            $(".changesite").hide();
        }
    });

</script>
<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title></title>
    
    <meta http-equiv="X-UA-Compatible" content="IE=6" />
    <meta http-equiv="X-UA-Compatible" content="IE=7" />
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width" />
</head>

<style>
    img:hover {
        cursor: pointer;
    }

    .subsectionHeader td {
        padding: 0;
    }

    .subsectionHeader tr {
        border: 0;
    }

    .partialPage .page-subtitle {
        padding-left: 0 !important;
    }
</style>

<body>
    @if (ViewBag.IsVendorDetails != null && ViewBag.IsVendorDetails && ((List<FVGen3.Domain.LocalModels.PQBusinessUnitSites>)ViewBag.siteInfo).Any())
    { @:<div class="contentSub">
        <div class="PrequalificationHeader"><label style="color:#0094ff">@Resources.Resources.Locations</label></div>
    
    }
<div class="partialPage">
    @{ var i = 0;
        var pqSites = (List<FVGen3.Domain.LocalModels.PQBusinessUnitSites>)ViewBag.siteInfo;}
@foreach (var siteInfoByClient in pqSites.GroupBy(r => r.ClientName))
{
    <div class="totalSubsection">
        @if (siteInfoByClient.Key != null)
        {
            <div class="subsectionHeader">
                <table>
                    <tbody>
                        <tr>
                            <td>
                                @if (siteInfoByClient.Key != null)
                                {
                                    @siteInfoByClient.Key
                                }
                            </td>
                        @if (ViewBag.IsVendorDetails != null && !ViewBag.IsVendorDetails)
                        {
                            <td>
                                <img src="../images/expandlist.png" style="margin-right: 5px; cursor: pointer;" class="ExpandListButton" onclick="ExpandList.click(this)"/>
                            </td>
                        }
                        
                        </tr>
                    </tbody>
                </table>
            </div>
        }

            @foreach (var unit in siteInfoByClient.GroupBy(rec => new { rec.BusinessUnitName, rec.ClientBusinessUnitId}))
            {
                <div class="clientdocuments"
                    
                     @if (siteInfoByClient.Key != null)
                        {
                            @:style = "display:none;"
                        }
                        
                        >
                    <table width="100%">
                        <!----------Add to table to Sub_Header-------->
                        <tr>
                            <td colspan="@((ViewBag.isUsedForStatus != null && ViewBag.isUsedForStatus)?3:2)" id="@unit.Key.ClientBusinessUnitId">
                                <b>@unit.Key.BusinessUnitName</b>
                            </td>
                            <td colspan="2">
                                <b>@Resources.Resources.Common_heading_Status</b>
                            </td>
                        </tr>
                       
                        @foreach (var site in unit.OrderBy(rec => rec.BusinesUnitsiteName)) // sumanth on 10/29/2015 for FVOS-101 to display all sites in alphabetical order.
                        {
                            var query = "EditPrequalificationSite" + QueryStringModule.Encrypt("preQualificationSiteId=" + @site.PrequalificationSitesId + "&subSectionId=" + @ViewBag.subSectionId + "&preQualificationId=" + @ViewBag.PrequalificationId);
                            <tr>
                                @if (@ViewBag.mode == null || @ViewBag.mode == 0)
                                    {
                                    <td width="35%">
                                        <a href="#!" 
                                           @if (!(ViewBag.isUsedForStatus != null && ViewBag.isUsedForStatus) && ViewBag.HideLinks ==null) {
                                               @:onclick = 'window.open("@query","_blank", "toolbar=no,  directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=yes, width=650, height=400")'
                                           }
                                           > @site.BusinesUnitsiteName</a>
                                    </td>

                                    <td width="50%" style="text-align:justify;">
                                        <i>@site.Comment</i>
                                    </td>
                                    <td width="15%">
                                        @if (!(ViewBag.isUsedForStatus != null && ViewBag.isUsedForStatus))
                                        { @site.SiteStatus
                                        }
                                    </td>
                                   
                                    <td width="10%">
                                        @if (ViewBag.isUsedForStatus != null && ViewBag.isUsedForStatus)
                                        {
                                            <input type="hidden" value="@site.PrequalificationSitesId" name="[@i].SiteId"/>
                                            @Html.DropDownList("[" + @i + "].Status", (List<SelectListItem>)@ViewBag.PreQualificationStatuses, new { @class="siteStatus",id="Status_"+@i });
                                            <script>GetPQSiteStatus(@site.PrequalificationSitesId,"Status_"+@i)</script>
                                            
                                        }
                                        
                                       
                                    </td>
                                   
                                    <td>
                                        @if (site.PQSiteStatus == null && ViewBag.IsVendorDetails==null)
                                        {

                                            <img class="imgCursor" src="~/images/info.png" title="Prequalification status" height="20" width="20" />
                                        }
                                        else
                                        {
                                            <div style="width:20px;height:20px"></div>
                                        }

                                        
                                    </td>
                                    <td>
                                        @if (ViewBag.isUsedForStatus != null && ViewBag.isUsedForStatus)
                                        {
                                            <button type="button" class="changesite"  onclick="updatestatus(@site.PrequalificationSitesId,'Status_@i')">@Resources.Resources.Update_Status</button>

                                        }
                                    </td>
                                    if (!(ViewBag.isUsedForStatus != null && ViewBag.isUsedForStatus) && (@ViewBag.PrequalificationStatus < 5 || Session["RoleName"].ToString().Equals("Admin")))
                                    {
                                        <td><img class="imgCursor" align="right" style="margin-right:5px;" src="~/images/DelButton.png" btnType="Delete" onclick="deletePrequalificationSite('@site.PrequalificationSitesId', '@site.PrequalificationId')" /></td>
                                    }
                                }
                                else
                                {
                                    <td width="30%">
                                        <a href="#!"> @site.BusinesUnitsiteName</a>
                                    </td>
                                    <td width="55%" colspan="1">
                                        <i>@site.Comment</i>
                                    </td>
                                    <td width="15%" colspan="2">
                                        @site.SiteStatus
                                    </td>
                                }

                            </tr>
                            i++;
                        }

                        @*@if (((List<FVGen3.Domain.Entities.Document>)@ViewBag.Documents).Where(rec => rec.ReferenceRecordID == @unit.Key.ClientBusinessUnitId)).ToList().Count() != 0)*@
                        <script>GetBUDocuments(@unit.Key.ClientBusinessUnitId, '@unit.Key.BusinessUnitName')</script>
                                                
                </table>
            </div>
            }
    </div>
        }
</div>
            @if (ViewBag.IsVendorDetails != null && ViewBag.IsVendorDetails && ((List<FVGen3.Domain.LocalModels.PQBusinessUnitSites>)ViewBag.siteInfo).Any())
            { @:</div>            

            }
</body>
</html>