﻿<!--
 *****************************************************
Page Created Date:  30/06/2013
Created By: Rajesh Pendela
Purpose: Dynamic Prequlification - Adding Prequalification Sites while answering a questionnaires
Version: 1.0
****************************************************
-->


@{
    ViewBag.Title = "Prequalification Sites";
}
@model FVGen3.Domain.Entities.LocalAddPrequalificationSite
<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=8"/>
<meta http-equiv="X-UA-Compatible" content="IE=9"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width"/>
@Scripts.Render("~/Scripts/jquery-1.9.1.min.js")
@Styles.Render("~/css/appPopUp.css")
@Styles.Render("~/css/appInnerPages.css")
@Scripts.Render("~/js/common.js")
@Scripts.Render("~/Scripts/Application/Common/Http.js")
@Scripts.Render("~/Scripts/Application/Control/Controls.js")
    
</head>


    @Scripts.Render("~/Scripts/jquery-1.9.1.min.js")
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

    <script type="text/javascript">
        var flag = false;
        $(document).ready(function () {
            // Kiran on 01/09/2015
            var busUnitId = $("#BusinessUnit").val();
            
            // Ends<<<
            getClientBusinessUnits();
            if (busUnitId != null) {
                getBusinessUnitSites();
            }
            $("#BusinessUnit").change(function () {
                getBusinessUnitSites();

            });

            $("#form").submit(function (event) {
            
                var rowCount = $('.assignTemplateScrollCheckbox').find("input:checkbox:checked:not([disabled])").length;
         
                if (rowCount == 0) {
                    alert("Please select atleast one Business Unit Site");
                    return false;
                }
                else
                  
                    return true;
            });

        });

        function getClientBusinessUnits()
        {
            Post("../Prequalification/GetClientBusinessUnits",
              { clientId: $("#ClientId").val() },
              function (data) {
                  var controls = $(Controls.Dropdown(data));
                  controls.attr("id", "BusinessUnit");
                  controls.attr("name", "BusinessUnit");
                  controls.attr("onchange", "getBusinessUnitSites()");
              
                  $(controls).val(@Model.BusinessUnit);
                  $("#businessUnitsRow").html(controls);
                  getBusinessUnitSites();
              });
        }

        function getBusinessUnitSites() {
            $.ajax({
                type: 'Post',
                url: '../SystemUsers/GetClientBusUnitSites',
                data: '&busUnitId=' + $("#BusinessUnit").val() + '&prequlificationId=' + $("#preQualificationId").val(), // Mani on 04/10/2015
                success: function (data) {
                    $('#ClientBusinessUnitSiteId').empty("");
                    for (var i = 0; i < data.length; i++) {
                        var busUnitSiteId = data[i].Value;
                        var siteName = data[i].Text;
                        var isChecked = data[i].IsChecked;
                        var busUnitSites = "";
                        if (busUnitSiteId == 999) {
                            busUnitSites += "<div><input type='hidden' name='ClientBusinessUnitSites[" + i + "].BusinessUnitSiteId' value='" + busUnitSiteId + "' /><input type='checkbox' id='ClientBusinessUnitSites_" + i + "__IsChecked' name='ClientBusinessUnitSites[" + i + "].IsChecked' onclick='Checkall(this)' /><label for='ClientBusinessUnitSites_" + i + "__IsChecked'>" + siteName + "</label></div>";
                        }
                        else {
                            busUnitSites += "<div><input type='hidden' name='ClientBusinessUnitSites[" + i + "].BusinessUnitSiteId' value='" + busUnitSiteId + "' /><input type='checkbox' id='ClientBusinessUnitSites_" + i + "__IsChecked' name='ClientBusinessUnitSites[" + i + "].IsChecked' onclick='CheckboxCheckedOrNot(this)' /><label for='ClientBusinessUnitSites_" + i + "__IsChecked'>" + siteName + "</label></div>";
                        }
                            
                        $('#ClientBusinessUnitSiteId').append(busUnitSites);
                    }

                    if (flag == false) {
                        $("#ClientBusinessUnitSite").val('@Model.ClientBusinessUnitSite');
                        flag = true;
                    }

                },
                error: function () {
                    console.trace();
                    alert("An error occured while fetching sites");
                }
            });
        }

        function CheckboxCheckedOrNot(obj) {

            if ($(obj).is(":checked")) {
                $(obj).val(true);
                if ($("form :input[type='checkbox']:checked").length + 1 == $("form :input[type='checkbox']").length) {
                    $(obj).closest(".popupCheckBox").find("#ClientBusinessUnitSites_0__IsChecked").prop("checked", true);
                }
            }
            else {
                $(obj).closest(".popupCheckBox").find("#ClientBusinessUnitSites_0__IsChecked").prop("checked", false);
                $(obj).val(false);
            }
            return;
        }

        function Checkall(obj) {
           
          if ($(obj).is(":checked")) {
                $("form :input[type='checkbox']").each(function () {
                    $(this).attr("checked", true);
                    $(this).val(true);
                });
            }
            else {
                 $("form :input[type='checkbox']").each(function () {
                    $(this).attr("checked", false);
                    $(this).val(false);
                });
            }
            return;
        }
        
        
    </script>


<body>
    @using (Html.BeginForm("PrequalificationSites","Prequalification",FormMethod.Post, new { id = "form" }))
    {
          <div class="popUpContainer"> 
            <div class="popUpContent">  
             <div class="popUpSubContent">
                @if (ViewBag.isERITemplate)
                { 
                     <div class="page-title">
                         <h3 style="color:#1f83bc;">@Resources.Resources.AddClientLocationInfo</h3>
                     </div>
                }
                <div class="errorMessage" style="display:none">
                   @Resources.Resources.Check_Checkbox
                </div>

                @*<div class="errorMessage">@Html.ValidationSummary(true)</div> *@
                 
                @Html.HiddenFor(x => Model.siteId) 
                @Html.HiddenFor(x => Model.preQualificationId) 
                @Html.HiddenFor(x => Model.subSectionId)
          
                <div class="page-title"><h2>
                    @if (@ViewBag.Client == @Resources.LocalConstants.Clayco_ClientId)
                {@:@Resources.Resources.Pq_Site_Heading_for_only_clayco
                    }
                else {
                   @: @Resources.Resources.AddClientBusinessUnit_Heading
                    }
                    </h2>  
	            </div> 
                    
                 <div class="rowPopUp"
                      @if (!ViewBag.isERITemplate) { @: style="display:none;"
                                               }>
                     <table>
                         <tr>
                             <td><label>@Resources.Resources.AddOrEditCustomTemplate_label_SelectClient</label></td>
                             <td>
                                 <select id="ClientId" questionColumnId="-1"  name="ClientId" onchange="getClientBusinessUnits()">
                                     @foreach (var item in (List<KeyValuePair<string, string>>)ViewBag.clients)
                                     {
                                         <option value="@item.Key"
                                                 @if (Model.ClientId.ToString() == item.Key) { @: selected
                                                                                                      }>
                                             @item.Value
                                         </option>
                                     }
                                 </select>
                             </td>
                         </tr>
                     </table>
                 </div>

                    <div class="rowPopUp" 
                         @if (ViewBag.isERITemplate)
                            { @: style="display:none;"
                                               }>
                        <table>
                            <tr>
                                <td width="40%"><label class="enableStarPopUp">@Resources.Resources.PrequalificationSites_BussinessUnit</label></td>
                                <td width="60%" id="businessUnitsRow" > 
                                    @*@Html.DropDownListFor(x => Model.BusinessUnit, (IEnumerable<SelectListItem>)@ViewBag.BussinessUnits)
                                    <div class="alertStar">   @Html.ValidationMessageFor(x => Model.BusinessUnit)</div>*@
                                </td>
                            </tr>
                        </table>
                    </div>

                @*<div class="rowPopUp" id="ClientBusinessUnitSiteId">
                    <table>
                        <tr>
                            <td><label class="enableStarPopUp">@Resources.Resources.PrequalificationSites_BussinessUnitSite</label></td>
                            <td>
                             @if (Model.BusinessUnitSites != null)
                                 {
                                    @Html.DropDownListFor(x => Model.ClientBusinessUnitSite, (IEnumerable<SelectListItem>)Model.BusinessUnitSites)
                                 }
                                 else
                                 {
                                    @Html.DropDownListFor(x => Model.ClientBusinessUnitSite, new[] { new SelectListItem() { Text = "", Value = "" } })
                                 }
                                <div class="alertStar">   @Html.ValidationMessageFor(x => Model.ClientBusinessUnitSite)</div>
                            </td>
                        </tr>
                </table>
                  
                </div>*@
                @*<div class="rowPopUp">
                    <label>BusinessUnit Site</label>
                    <div class="assignTemplateScrollCheckbox" id="ClientBusinessUnitSiteId" style="width: 198px;height:101px;">
                    
                    </div>
                </div>*@

                <div class="rowPopUp">
                    <table>
                        <tr>
                            <td width="34%"><label>@if (@ViewBag.Client == @Resources.LocalConstants.Clayco_ClientId)
                {@:@Resources.Resources.Pq_Site_Heading_For_Clayco
                    }
                            else
                            {
                                @: @Resources.Resources.BU_Sites
                    }
                               </label></td>
                            <td width="66%">
                                <div class="assignTemplateScrollCheckbox" style="width: 256px;height:104px;">
                                    <div class="popupCheckBox" id="ClientBusinessUnitSiteId">
                                    
                                   
                                 </div>
                              </div>  
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="rowPopUp">
                    <table>
                        <tr>
                            <td width="33%"><label>@Resources.Resources.Common_Label_Comments</label></td>
                            <td width="67%">
                                @Html.TextAreaFor(x => Model.Comments, new {@maxlength="400" })
                                <div class="alertStar">  @Html.ValidationMessageFor(x => Model.Comments)</div>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="pageFooterContent"> 
                    <div class="pageFooterButtons">
                        <table>
                            <tr>
                                <td><button type="submit" class="pageFooterButton">@Resources.Resources.Common_Save</button></td>
                                <td>@Resources.Resources.Common_label_or</td>
                                <td><div class="PageFooter_CancleBtn"><a href="#!" onclick="window.close();">@Resources.Resources.Common_Cancel</a></div></td>
                            </tr>	
                        </table> 
                    </div>
                </div>    

        </div>
    </div>
</div>
    }

    @*<script>
        $("#form").submit(function (e) {
            debugger;
            var HasPermission=@ViewBag.HasLocationNotificationpermission;
            var SelectedSitesCount = $("form :input[type='checkbox']:checked").length;
            if (SelectedSitesCount >= 2 && HasPermission)
            {
                alert("Please Add Selected Sites Documents");
              
            }
           
        });
    </script>*@
</body>
</html>
