﻿<!--
 *****************************************************
Page Created Date:  30/06/2013
Created By: Rajesh Pendela
Purpose: Dynamic Prequlification - Adding Prequalification Sites while answering a questionnaires
Version: 1.0
****************************************************
-->


@{
    ViewBag.Title = "Prequalification Sites";
}
@model FVGen3.Domain.Entities.LocalAddPrequalificationSite
<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=8"/>
<meta http-equiv="X-UA-Compatible" content="IE=9"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width"/>

@Styles.Render("~/css/appPopUp.css")
@Styles.Render("~/css/appInnerPages.css")
@Scripts.Render("~/js/common.js")
@Scripts.Render("~/Scripts/jquery-1.9.1.min.js")
    
</head>


    @Scripts.Render("~/Scripts/jquery-1.9.1.min.js")
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script>
        $(document).ready(function () {

            if ('@Model.BusinessUnitType' == 1) {
                $("#ClientBusinessUnitSiteId").hide();
            }
            else {
                $("#ClientBusinessUnitSiteId").show();
            }

            $("#BusinessUnitLocation").change(function () {
                $.ajax({
                    type: 'Post',
                    url: '../SystemUsers/ClientBusUnitsByLocation',
                    data: '&busUnitlocation=' + $(this).val() + '&preQualificationId=@ViewBag.preQualificationId',
                    success: function (data) {
                        //alert(data);
                        $('#BusinessUnit').empty();
                        $('#ClientBusinessUnitSite').empty();
                        $('#BusinessUnit').append(newOption);
                        for (var i = 0; i < data.length; i++) {
                            var datasite = data[i].Text;
                            var datasiteId = data[i].Value;
                            var newOption = $('<option value="' + datasiteId + '">' + datasite + '</option>');
                            $('#BusinessUnit').append(newOption);
                        }
                        if (data.length == 0) {
                            //alert("No business units");
                        }
                        else
                            getBussinessUnitSites();

                    },
                    error: function () {
                        console.trace();
                        alert("An error occured while fetching bussiness units");
                    }
                });
            });


            $("#BusinessUnit").change(function () {
                getBussinessUnitSites();
            });

            function getBussinessUnitSites() {

                $.ajax({
                    type: 'Post',
                    url: '../SystemUsers/PrequalificationClientBusUnitSites', 
                    data: '&busUnitId=' + $("#BusinessUnit").val(),
                    success: function (data) {

                        $('#ClientBusinessUnitSite').empty();
                        $('#ClientBusinessUnitSite').append(newOption);
                        for (var i = 0; i < data.length; i++) {
                            var datasite = data[i].Text;
                            var datasiteId = data[i].Value;
                            // Kiran on 3/22/2014
                            if (data[i].Type.toString() == "1") {
                                $("#ClientBusinessUnitSiteId").hide();
                            }
                            else {
                                $("#ClientBusinessUnitSiteId").show();
                            }
                            // Ends<<<
                            var newOption = $('<option value="' + datasiteId + '">' + datasite + '</option>');
                            $('#ClientBusinessUnitSite').append(newOption);
                        }

                        // Kiran on 3/20/2014
//                        if ($("#BusinessUnitType").val().toString() == "1") {
//                            $("#ClientBusinessUnitSiteId").hide();

//                            $("#BusinessUnitType").val("1");
//                        }
//                        else {
//                            $("#ClientBusinessUnitSiteId").show();
//                            $("#BusinessUnitType").val("0");
//                        }

//                        // Ends<<<
//                        // Kiran on 3/12/2014
//                        if (data.length == 1) {
//                            $('#ClientBusinessUnitSiteId').hide();
//                        }
//                        else {
//                            $('#ClientBusinessUnitSiteId').show();
//                        }
                        // Ends<<
                    },
                    error: function () {
                        console.trace();
                        alert("An error occured while fetching sites");
                    }
                });
            }

        });
        
    </script>

<body>
    @using (Html.BeginForm())
    {
          <div class="popUpContainer"> 
            <div class="popUpContent">  
             <div class="popUpSubContent">
             @*Kiran on 3/19/2014*@
             @if (@ViewBag.VBBuexists != null && @ViewBag.VBBuexists)
             {
                <div class="errorMessage">
                    Selected Business unit or site already exists.
                </div>
             }
                @*<div class="errorMessage">@Html.ValidationSummary(true)</div> *@
                 
            @Html.HiddenFor(x => Model.siteId) 
            @Html.HiddenFor(x => Model.preQualificationId) 
            @Html.HiddenFor(x => Model.subSectionId)
            @Html.HiddenFor(x => Model.BusinessUnitType)
            <div class="page-title"><h2>@Resources.Resources.AddClientBusinessUnit_Heading</h2>  
	        </div> 
            <div class="rowPopUp">
                 <table>
                        <tr>
                            <td><label class="enableStarPopUp">@Resources.Resources.AddClientBusinessUnit_Label_UnitLocation</label></td>
                            <td>
                                @Html.DropDownListFor(x => Model.BusinessUnitLocation, (IEnumerable<SelectListItem>)ViewBag.BussinesLocations)
                                <div class="alertStar">  @Html.ValidationMessageFor(x => Model.BusinessUnitLocation)</div>
                            </td>
                        </tr>
                </table>
            </div>

                <div class="rowPopUp">
                    <table>
                        <tr>
                            <td><label class="enableStarPopUp">@Resources.Resources.PrequalificationSites_BussinessUnit</label></td>
                            <td>
                                 @if (ViewBag.BussinessUnits != null)
                                 {
                                    @Html.DropDownListFor(x => Model.BusinessUnit, (IEnumerable<SelectListItem>)ViewBag.BussinessUnits)
                                 }
                                 else
                                 {
                                     @Html.DropDownListFor(x => Model.BusinessUnit, new[] { new SelectListItem() { Text = "", Value = "" } })
                                 }
                                <div class="alertStar">   @Html.ValidationMessageFor(x => Model.BusinessUnit)</div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="rowPopUp" id="ClientBusinessUnitSiteId">
                    <table>
                        <tr>
                            <td><label class="enableStarPopUp">@Resources.Resources.PrequalificationSites_BussinessUnitSite</label></td>
                            <td>
                                 @if (ViewBag.BussinessUnitSites != null)
                                 {
                                    @Html.DropDownListFor(x => Model.ClientBusinessUnitSite, (IEnumerable<SelectListItem>)ViewBag.BussinessUnitSites)
                                 }
                                 else
                                 {
                                    @Html.DropDownListFor(x => Model.ClientBusinessUnitSite, new[] { new SelectListItem() { Text = "", Value = "" } })
                                 }
                                <div class="alertStar">   @Html.ValidationMessageFor(x => Model.ClientBusinessUnitSite)</div>
                            </td>
                        </tr>
                </table>
                  
                </div>


                <div class="rowPopUp">
                    <table>
                        <tr>
                            <td><label>@Resources.Resources.PreQualificationSite_Comments</label></td>
                            <td>
                                @Html.TextAreaFor(x => Model.Comments)
                                <div class="alertStar">  @Html.ValidationMessageFor(x => Model.Comments)</div>
                            </td>
                        </tr>
                    </table>
                </div>



                <div class="pageFooterContent"> 
                    <div class="pageFooterButtons">
                        <table>
                            <tr>
                                <td><button type="submit"  class="pageFooterButton">@Resources.Resources.Common_Save</button></td>
                                <td>@Resources.Resources.Common_label_or</td>
                                <td><div class="PageFooter_CancleBtn"><a href="#!" onclick="window.close();">@Resources.Resources.Common_Cancel</a></div></td>
                            </tr>	
                        </table> 
                    </div>
                </div>         

        </div>
            </div>
           </div>
    }
</body>
</html>
