﻿@{
    ViewBag.Title = "PrequalificationSitesPartialView";
}

<!DOCTYPE HTML>

@using Resources;
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>@Resources.Upload_Doc</title>
@*<link rel="stylesheet" href="../css/uploaddocumentforprequal.css">*@
<meta http-equiv="X-UA-Compatible" content="IE=6" />
<meta http-equiv="X-UA-Compatible" content="IE=7"/>
<meta http-equiv="X-UA-Compatible" content="IE=8"/>
<meta http-equiv="X-UA-Compatible" content="IE=9"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width" />
</head>


<style>
img:hover
{
	cursor:pointer;
}	
.subsectionHeader td
{
    padding:0;
}
.subsectionHeader tr
{
    border:0;
}
.partialPage .page-subtitle
{
    padding-left:0 !important;
}
</style>
<script>
   
    function ItemClicked(obj, id) {
       
        var td = $(obj).closest("td");
        var content = td.attr('fileName');
        //var content = td.find("a").html();
        td.html("<input type='text' onkeypress='return (event.keyCode != 13)'/> <img src='/images/done.png' onclick=\"ItemSubmited(this,'" + id + "')\"/>");
        td.find("input").val(content);
    }
    function ItemSubmited(obj, id) {
        
        var td = $(obj).closest("td");
        var oldFile = td.attr('fileName');
        var content = td.find("input").val();
        if (content == "") {
            alert("Please enter the file name");
            return;
        }
        Post("../Prequalification/ChangeDocumentName", { DocumentId: id, DocName: content }, function () {
            alert("'"+ oldFile + "' has been changed");
            window.location.reload();
        });
    }
</script>
<body>
    @{
        var docs = (List<IGrouping<long?, FVGen3.Domain.ViewModels.SupportingDocumentsViewModel>>)ViewBag.Documents;
    }
    <div class="partialPage">
        @foreach (var documentByClient in docs)
        {
            <div class="totalSubsection">
                @if (documentByClient.Key != null)
                {
                <div class="subsectionHeader">
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    @if (documentByClient.Key != null)
                                    {
                                        if (@documentByClient.FirstOrDefault().OrganizationType == FVGen3.WebUI.Constants.OrganizationType.SuperClient)
                                        {
                                            @:Global Documents
                                        } else {
                                        @documentByClient.FirstOrDefault().ClientName
                                        }
                                    }
                                </td>
                                <td>
                                    <img src="../images/expandlist.png" style="margin-right: 5px; cursor: pointer;" class="ExpandListButton" onclick="ExpandList.click(this)" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                }
                @foreach (var document in documentByClient.Where(r=>r.DocumentStatus!= "Deleted").OrderBy(r=>r.DocumentTypeName).GroupBy(rec => rec.DocumentTypeId))
                {
                    <div class="clientdocuments" 
                         
                         @if (documentByClient.Key != null)
                         {
                             @:style = "display:none;"
                         }
                         >
                        <div class="page-subtitle" style="float: left; background: #1F83BC; color: white;">
                            
                            <h2 style="margin-bottom: 0; margin-left: 5px">@document.FirstOrDefault().DocumentTypeName</h2>
                            
                        </div>
                        <table class="subSection">
                            @foreach (var unit in document.Where(rec=>rec.DocumentStatus != "Deleted").OrderByDescending(record => record.UpdatedOn).ToList())
                            {
                                <tr>
                                    <td>
                                        <table>
                                            <tr>
                                                <td width="350" fileName="@unit.DocumentName">
                                                    @if (ViewBag.RestrictedAccess || !unit.RestrictAccess)
                                                    {
                                                        <a href="#!" onclick="window.open('../Companies/DownloadDoc?idAsFileName=@unit.DocumentId&userEnteredFilename=@HttpUtility.UrlEncode(@unit.DocumentName)&clientId=@unit.OrganizationId')">
                                                            @unit.DocumentName
                                                        </a>
                                                        if (Session["RoleName"].ToString().Equals("Admin"))
                                                        {
                                                        <img src="~/images/edit.png" onclick="ItemClicked(this,'@unit.DocumentId')" />
                                                        }
                                                    }
                                                    else
                                                    {
                                                        @unit.DocumentName
                                                    }
                                                </td>
                                                <td width="200">
                                                    @if (@unit.Expires != null)
                                                    {
                                                        @:Expires on: @unit.Expires
                        }
                                                </td>

                                                @if (@ViewBag.mode == null || @ViewBag.mode == 0)
                                                {
                                                    if (Session["RoleName"].ToString().Equals("Admin"))
                                                    {
                                                        <td><img src="../images/replace.png" onclick='window.open("SupportingDocument?DocumentId=@unit.DocumentId&subSectionId=@ViewBag.subSectionId&preQualificationID=@ViewBag.preQualificationID&eriDocsOnly=true","_blank", "toolbar=no,  directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=yes, width=650, height=400")' /></td>
                                                    }
                                                    <td><img src="../images/edit.png" onclick='window.open("SupportingDocument?DocumentId=@unit.DocumentId&subSectionId=@ViewBag.subSectionId&mode=1&preQualificationID=@ViewBag.preQualificationID&eriDocsOnly=true","_blank", "toolbar=no,  directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=yes, width=650, height=400")' /> </td>
                                                    if (Session["RoleName"].ToString().Equals("Admin"))
                                                    {
                                                        <td><img src="../images/DelButton.png" btnType="Delete" onclick="deleteDocument('@unit.DocumentId','@ViewBag.subSectionId')" /></td>
                                                    }
                                                }
                                            </tr>

                                            <tr>
                                                <td colspan="5" class="twoLineSpace">
                                                    <em>
                                                        Uploaded on @unit.Uploaded
                                                        @try
                                                        {
                                                            @:by @unit.UploaderFullName
                                                    }
                                                        catch { }<br />
                                                        
                                                        @if (@unit.UpdatedOn != null)
                                                        {
                                                            @:Last Updated on @unit.UpdatedOn
                                        try
                                                            {
                                                                @:by @unit.UpdatedByUserFullName
                                            }
                                                            catch { }
                                                        }
                                                        
                                                    </em>
                                                </td>

                                            </tr>
                                            @*ENDS<<<*@
                                            @if (Session["RoleName"].ToString().Equals("Admin"))
                                            {
                                                <tr>

                                                    <td colspan="1" class="StatusLabel">
                                                        @if (unit.DocumentStatus != null)
                                                        {
                                                            
                                                        if (unit.StatusChangeDate != null)
                                                        {
                                                            @:Status: @unit.DocumentStatus on @unit.StatusChangeDate
                                        try
                                                            {
                                                                @:by @unit.StatusChangedUserFullName
                                        }
                                                            catch { }
                                                        }
                                                        else
                                                        {
                                                            @:Status: @unit.DocumentStatus
                                    }
                                                       
                                                        }
                                                    </td>

                                                    <td align="right" colspan="4">
                                                        <div style="float:right" >
                                                            @if (unit.DocumentStatus == null || unit.DocumentStatus == "Rejected")
                                                            {
                                                                <button type="button" class="approved" onclick="approveClick('@unit.DocumentId','Approved',this)">@Resources.Approve_Btn</button>

                                                                <button type="button" style="display:none;" class="rejected" onclick="approveClick('@unit.DocumentId','Rejected',this)">@Resources.Reject_Btn</button>
                                                            }
                                                            else
                                                            {
                                                                <button type="button" style="display:none;" class="approved" onclick="approveClick('@unit.DocumentId','Approved',this)">@Resources.Approve_Btn</button>
                                                                <button type="button" class="rejected" onclick="approveClick('@unit.DocumentId','Rejected',this)">@Resources.Reject_Btn</button>

                                                            }
                                                            <button type="button" class="rejected" style="margin-left:20px;" onclick="TemplateSectionsList.ShowLogs('@unit.DocumentId','@unit.DocumentName')"><i class="fa fa-history"></i> @Resources.History</button>
                                                        </div>
                                                       
                                                    </td>
                                                    
                                                </tr>
                                            }
                                        </table>
                                    </td>
                                </tr>
                            }
                           
                        </table>
                    </div>

                } 
               
               
            </div>
        }
        <div class="totalSubsection">
            @if (docs.Any(rec => rec.Any(r => r.DocumentStatus == "Deleted")))
            {
                <div class="subsectionHeader" style="margin-bottom:20px">


                    <table width="709px;">
                        <tbody>
                            <tr>
                                <td>Deleted Documents</td>

                                <td>
                                    <img src="../images/expandlist.png" style="margin-right: 5px; cursor: pointer;" class="ExpandListButton" onclick="SectionClick(this)">
                                </td>
                            </tr>
                        </tbody>
                    </table>


                </div>
            }


            @foreach (var documentByClient in docs.Where(rec => rec.Any(r => r.DocumentStatus == "Deleted")))
            {

                <div class="ctrlDivRow" style="display:none">


                    @if (documentByClient.Key != null)
                    {
                    <div class="subsectionHeader">
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        @if (documentByClient.Key != null)
                                        {
                                            if (@documentByClient.FirstOrDefault().OrganizationType == FVGen3.WebUI.Constants.OrganizationType.SuperClient)
                                            {
                                        @:Global Documents
                                        }
                                            else
                                            {
                                        @documentByClient.FirstOrDefault().ClientName
                                            }
                                        }
                                    </td>
                                    <td>
                                        <img src="../images/expandlist.png" style="margin-right: 5px; cursor: pointer;" class="ExpandListButton" onclick="ExpandList.click(this)" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    }
                    @foreach (var document in documentByClient.OrderBy(r => r.DocumentTypeName).GroupBy(rec => rec.DocumentTypeId))
                    {
                    if (!document.Any(rec => rec.DocumentStatus == "Deleted"))
                    {
                        continue;
                    }
                    <div class="clientdocuments"
                         @if (documentByClient.Key != null) { @: style="display:none;"
                                                                                                                             }>
                        <div class="page-subtitle" style="float:left;background:#1F83BC;color:white;">
                            <h2 style="margin-bottom:0;margin-left:5px">@document.FirstOrDefault().DocumentTypeName</h2>

                            @*<img src="../images/expandlist.png" style="float:right!important;position:relative;margin-right: 5px; cursor: pointer;" class="ExpandListButton" onclick="ExpandList.subClick(this)" />*@

                        </div>
                        <table class="subSection">
                            @foreach (var unit in document.Where(rec => rec.DocumentStatus == "Deleted").OrderByDescending(record => record.UpdatedOn).ToList())
                            {
                            <tr>
                                <td>
                                    <table>
                                        <tr>
                                            <td width="350" fileName="@unit.DocumentName">
                                                @*@Html.ActionLink((string)@unit.DocumentName, "../Companies/DownloadDoc", new { idAsFileName = @unit.DocumentId + "", userEnteredFilename = @unit.DocumentName + "", clientId = @unit.OrganizationId })*@
                                                @if (ViewBag.RestrictedAccess || !unit.RestrictAccess)
                                                    {
                                                <a href="#!" onclick="window.open('../Companies/DownloadDoc?idAsFileName=@unit.DocumentId&userEnteredFilename=@HttpUtility.UrlEncode(@unit.DocumentName)&clientId=@unit.OrganizationId')">
                                                    @unit.DocumentName
                                                </a>
                                                   
                                                    }
                                                    else
                                                    {
                                                @unit.DocumentName
                                                    }
                                            </td>
                                        <td>
    @if (Session["RoleName"].ToString().Equals("Admin"))
    {
        <button type="button" class="rejected" style="margin-left:20px;float:right;" onclick="TemplateSectionsList.ShowLogs('@unit.DocumentId','@unit.DocumentName')"><i class="fa fa-history"></i> @Resources.History</button>
    }
</td>
                                        </tr>
                                       
                                    </table>
                                </td>
                            </tr>
                            }

                        </table>
                    </div>

                    }

                </div>

            }
        </div>
        </div><!-----End of the Main Division----------->

</body>
<div id="popModelDiv">
    @Html.Partial("_PopupModel")
</div>
</html>


        
           
          
            
	
