﻿@{
    ViewBag.Title = "Supporting Document";
    Layout = null;
}
@model FVGen3.Domain.Entities.LocalSupportedDocument

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>@Resources.Resources.Add_Support_Docs</title>
   
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=9"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width"/>
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="../Scripts/jquery-ui.js"></script>
    <link rel="stylesheet" href="../css/jquery-ui.css"/>
    @Styles.Render("~/css/appPopUp.css")
    @Styles.Render("~/css/appInnerPages.css")
    @Scripts.Render("~/js/common.js")
    @Scripts.Render("~/Scripts/Application/Common/Http.js")
    @Scripts.Render("~/Scripts/Application/Control/Controls.js")
    @Styles.Render("~/Content/Site.css")
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/js/autoNumeric2.js"></script>

    <link href="~/css/kendo/kendo.rtl.min.css" rel="stylesheet">
    <link href="~/css/kendo/kendo.default.min.css" rel="stylesheet">
    <link href="~/css/kendo/kendo.default.mobile.min.css" rel="stylesheet">
    <link href="~/css/kendo/kendo.common.min.css" rel="stylesheet" />
    <script src="~/Scripts/kendo/kendo.all.min.js"></script>
</head>
<style>
    .spinnerOverlay {
        display: none;
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 4000px;
        background: #000;
        z-index: 1001;
        -moz-opacity: 0.7;
        opacity: .7;
        filter: alpha(opacity=70);
    }

    .importSubmitSpinner {
        margin: 0px 10px 0px 6px;
        width: 28px;
        height: 28px;
        display: none;
        position: fixed;
        top: 46%;
        left: 50%;
        z-index: 1001;
    }
</style>
<script type="text/javascript">

    $(document).ready(function () {
      //  $("#Expires").datepicker();

        getClientSupportingDocs();

        // Kiran on 12/16/2014
        $("#file").change(function (e) {
            var file = this.files[0];
            // Kiran on 01/31/2015 as it is given the desciption like file size limit is 10 MB
            if (file.size > 10485760) {
                alert("File size should not be more than 10MB");
                $("#file").val("");
                return false;
            }
        });
        // Ends<<<
    });

    function getClientSupportingDocs()
    {
        Post("../Prequalification/GetClientSupportingdocs",
           { clientId: $("#ClientId").val(), prequalificationId: $("#PrequalificationId").val(), SectionId: $("#SectionId").val()},
           function (data) {
               var controls = $(Controls.Dropdown(data));
               controls.attr("id", "DocumentTypeId");
               controls.attr("name", "DocumentTypeId");
               controls.attr("onchange", "documemtTypeChanged()");
              
               $(controls).val(@Model.DocumentTypeId);
               $("#DocumentTypeRow").html(controls);
               documemtTypeChanged();
           });
    }
    function documemtTypeChanged() {
        //alert($("#DocumentTypeId").val());
        $('.spinnerOverlay').show();
        $('.importSubmitSpinner').show();
        $.ajax({
            type: 'GET',
            url: 'isDocumentExpire',
            data: 'preQualification=' + '@Model.PrequalificationId' + "&docTypeId=" + $("#DocumentTypeId").val() + "&clientId=" + $("#ClientId").val(),
            success: function (data) {
                //alert(data);
                if (data == "" || data.toLowerCase() == "false") {
                    $("#ExpiresRow").hide();
                    $("#Expires").val("");
                }
                else
                    $("#ExpiresRow").show();
                $('.spinnerOverlay').hide();
                $('.importSubmitSpinner').hide();
            },
            error: function () {
                $('.spinnerOverlay').hide();
                $('.importSubmitSpinner').hide();
                alert("No Documents has been linked for this questionnaire, please contact FIRST, VERIFY at (402) 562-5930 or info@firstverify.com");
            }
        });
    }
</script>
<body>
    @using (@Html.BeginForm("SupportingDocument", "Prequalification", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        <div class="errorMessage">
            @Html.ValidationSummary(true)
        </div>
        @Html.HiddenFor(x => x.subSectionId)
        @Html.HiddenFor(x => x.PrequalificationId)
        @Html.HiddenFor(x => x.DocumentId)
        @Html.HiddenFor(x => x.Mode)
        @Html.HiddenFor(x => x.SectionId)
        <div class="popUpContainer">
            <div class="popUpContent">
                <div class="popUpSubContent">
                    <div class="page-title">
                        <h2>@Resources.Resources.SupportDoc_UploadFile</h2>
                        <h3 style="color:red">@Resources.Resources.SupportingDoc_Note</h3>
                    </div>
                    @if (!ViewBag.isERITemplate || (Model.DocumentId != null))
                    {
                       @Html.HiddenFor(x => x.ClientId)
                    }
                    else
                    {
                    <div class="rowPopUp"
                        
                         >
                        <table>
                            <tr>
                                <td><label>@Resources.Resources.AddOrEditCustomTemplate_label_SelectClient</label></td>
                                <td>
                                    <select id="ClientId" questionColumnId="-1" InsertionType="ERIClientIds" QuestionReferenceId="-1" name="ClientId" onchange="getClientSupportingDocs()">
                                        @foreach (var item in (List<KeyValuePair<string, string>>)ViewBag.clients)
                                        {
                                            <option value="@item.Key"
                                                    @if (Model.ClientId.ToString() == item.Key)
                                                    {
                                                    @:selected
                                                     }
                                                    >
                                               @item.Value @*@(item.Key==@Resources.LocalConstants.ERI.ToString()? "Global Documents": @item.Value)*@
                                            </option>
                                        }
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </div>
                    }
                    <div class="rowPopUp">
                        <table>
                            <tr>
                                <td><label class="enableStar">@Resources.Resources.SupportDoc_uploadType</label></td>
                                <td id="DocumentTypeRow">
                                    @*@Html.DropDownListFor(x => x.DocumentTypeId, (List<KeyValuePair<string, string>>)ViewBag.DocumentTypes, new { @onchange = "documemtTypeChanged()" })
                                    <div class="alertStar"> @Html.ValidationMessageFor(x => x.DocumentTypeId)</div>*@
                                </td>
                            </tr>
                        </table>


                    </div>
                        @*<div class="UploadDocsPopUp_row">
                <p>@Resources.Resources.SupportDoc_PleaseuploadacurrentDoc</p>
            </div>*@
                        @if (Model.Mode != null && Model.Mode == 1)
                        {
                            //doNothing
                        }
                        else
                        {
                            <div class="rowPopUp">
                                <table>
                                    <tr>
                                        <td><label class="enableStar">@Resources.Resources.SupportDoc_SelectFile</label></td>
                                        <td>
                                            <input type="file" name="file" id="file" data-val-required="*" data-val="true" />
                                            <div class="alertStar"> @Html.ValidationMessageFor(x => x.file)</div>
                                        </td>
                                    </tr>
                                </table>

                            </div>
                        }
                        <div class="rowPopUp" id="ExpiresRow">
                            <table>
                                <tr>
                                    <td><label class="enableStar">@Resources.Resources.SupportDoc_Expire</label></td>
                                    <td>
                                        @Html.TextBoxFor(x => x.Expires, new { @class = "kDatePicker" })
                                        <div class="alertStar"> @Html.ValidationMessageFor(x => x.Expires)</div>
                                    </td>
                                </tr>
                            </table>

                        </div>

                        <div class="pageFooterContent">
                            <div class="pageFooterButtons">
                                <table>
                                    <tr>
                                        <td><button type="submit" class="pageFooterButton">@Resources.Resources.Common_Save</button></td>
                                        <td>@Resources.Resources.Common_label_or</td>
                                        <td>
                                            <div class="PageFooter_CancleBtn">
                                                <a href="#!" onclick="window.close()">@Resources.Resources.Common_Cancel</a>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                    </div>
                <div class="spinnerOverlay" style="display:none;">
                    <img src="~/images/spinner.gif" width="28" height="28" class="importSubmitSpinner" alt="Spinner" />
                </div>
            </div>
            
        </div>
   
    }
    @*<script>        documemtTypeChanged()</script>*@
</body>
</html>
