﻿<!--
Page Created Date:  28/05/2013
Created By: Rajesh Pendela
Purpose: Dynamic questionnaires based on templates, showing templates list
Version: 1.0
****************************************************
-->

@{
    ViewBag.Title = "Templates List";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}
<!DOCTYPE HTML>
<html>
@* <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
    <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
    <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
*@   <!--[if gt IE 8]><!-->
<html class="no-js">
 <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <meta name="description" content=" New Prequalification" />
    <meta name="viewport" content="width=device-width" />
</head>

<script src="~/Scripts/kendo/kendo.all.min.js"></script>
<style> .k-dialog .k-content {padding: 1.5em 1em 1.5em 0em !important;} </style>
<script>

    var selectedBool = 'False';
    var SelectedTemplateId;

    $(document).ready(function () {
        $("#CopyAnswers").click(function () {

            if ($(this).is(":checked")) {

                if (selectedBool == 'True') {
                    $("#CopyItemsDiv").slideDown();
                    getTemplatesClients();
                }
                else {
                    alert("Please select questionnaire");
                    $(this).prop("checked", false);
                }
            }
            else
                $("#CopyItemsDiv").slideUp();

        });
        $("input[type=radio]").click(function () {
            //alert("Hai");
            selectedBool = 'True';
            SelectedTemplateId = ($(this).attr("id"));
            $("#CopyAnswers").prop("checked", false);
            $("#CopyItemsDiv").slideUp();
            //alert(selectedValue + "" + "SelectedTemplateId");
        });


        function getTemplatesClients() {

            $.ajax({
                type: 'Post',
                url: 'GetTemplatesClients',
                data: 'ClientTemplateId=' + SelectedTemplateId + '&preQualificationId=@ViewBag.PreQualificationId',
                success: function (data) {

                    if (data == "") {
                        alert("No prequalification data available");
                        $("#CopyAnswers").prop("checked", false);
                        $("#CopyItemsDiv").slideUp();
                    }
                    $('#TemplateClients').empty();

                    for (var i = 0; i < data.length; i++) {
                        if (i == 0) {
                            $('#TemplateClients').append($('<option value="">Select Client</option>'));
                        }
                        var datasec = data[i].Text;
                        var datasecId = data[i].Value;
                        var dataSel = data[i].Selected;

                        var newOption = $('<option value="' + datasecId + '" >' + datasec + '</option>');
                        if (dataSel == true)
                            newOption = $('<option value="' + datasecId + '" selected >' + datasec + '</option>');
                        $('#TemplateClients').append(newOption);
                    }

                },
                error: function (req, status, error) {
                    //console.trace();
                    alert("Unable to get sections");
                }
            });

        }
        setPermissions('@ViewBag.ViewPermissions');
    });

    function ClientChange(client) {
        //alert($("#TemplateClients").val());
        if ($("#TemplateClients").val() == "") {
            $("#DocumentsList").empty();
        }
        else {
            $.ajax({
                type: 'Post',
                url: 'GetClientDocuments',
                data: 'clientId=' + $("#TemplateClients").val() + '&preQualificationId=@ViewBag.PreQualificationId' + '&ClientTemplateId=' + SelectedTemplateId,
                success: function (data) {


                    $('#DocumentsList').empty();

                    for (var i = 0; i < data.length; i++) {
                        //alert(data);
                        var datasec = data[i].Text;
                        var datasecId = data[i].Value;
                        var dataSel = data[i].Selected;
                        var dataVal = '<tr><td><input type="checkbox" id="Doc_' + datasecId + '"/></td><td><label for="Doc_' + datasecId + '" style="padding-top:7px;">' + datasec + '</label></td></tr>';
                        if (dataSel == true)
                            dataVal = '<tr><td><input type="checkbox" checked id="Doc_' + datasecId + '"/></td><td><label for="Doc_' + datasecId + '" style="padding-top:7px;">' + datasec + '</label></td></tr>';
                        newOption = $(dataVal);
                        $('#DocumentsList').append(newOption);
                    }

                },
                error: function (req, status, error) {
                    //console.trace();
                    alert("Unable to get sections");
                }
            });
        }
    }

    var LockedByDefault = false;
    function radioChange(val) {
        if (val)
            $("#commentsRow").show();
        else {
            $("#comments").val("");
            $("#commentsRow").hide();
        }
        LockedByDefault = val;

    }
    function Checkselected() {


        if ($("#CopyAnswers").is(":checked") == true && $("#TemplateClients").val() == "") {
            alert("Please Select Client");
            return;
        }

        if (LockedByDefault && $("#comments").val() === "") {
            alert("Please fill all required information");
            return;
        }
        var selectedDocs = "";
        $("#DocumentsList :input").each(function () {

            if ($(this).is(":checked")) {
                selectedDocs += $(this).attr("id") + ",";
            }
        });
        //alert(selectedDocs);
        if (selectedBool == 'True') {
           
            PreogressBar.show();
            var url="../Prequalification/StartTemplate" + '?ClientTemplateId=' + SelectedTemplateId + "&PrequalificationId=@ViewBag.PreQualificationId" + "&copyAnswer=" + $("#CopyAnswers").is(":checked") + "&client=" + $("#TemplateClients").val() + "&selectedDocs=" + selectedDocs + "&comments=" + $("#comments").val()+"&isAjax=true";
            Post(url, {}, function (data) {
                
                PreogressBar.hide();
                //alert(data);
                if (data == '../SystemUsers/Dashboard')
                {
                    $('#commentsRow1').kendoDialog({
                        width: "450px",
                        title: "",
                        closable: false,
                        modal: true,
                        content: "@Html.Raw(Resources.Resources.ClientCodeSubmitInfo_lbl)",
                        actions: [
                            { text: 'Ok', primary: true, action: gotoDashboard }
                        ],
                        //close: onClose
                    });
                }
                else window.location = data;
            });
            
        }
        else {
            alert("Please select questionnaire");
            
        }
    }
    function gotoDashboard() {
        window.location = "../SystemUsers/Dashboard";
    }
</script>
<body>
    <div class="contentSub">
        <div class="contentSub">
            <div class="page-title">
                <h2>Prequalification Questionnaire</h2>
            </div>
            @foreach (var record in (List<FVGen3.Domain.Entities.ClientTemplates>)@ViewBag.templatesList)
            {

                <div class="rowCheckBox">
                    <table border="0">
                        <tr>
                            <td valign="top">
                                <input type="radio" value="@record.ClientTemplateID" name="AvailableClients" id="@record.ClientTemplateID" onchange="radioChange('@record.Templates.LockedByDefault')" />
                            </td>
                            <td>
                                <label for="@record.ClientTemplateID"><h3> @record.Templates.TemplateName</h3></label>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top"></td>
                            <td>
                                <p>
                                    @record.Templates.TemplateNotes
                                </p>
                            </td>


                        </tr>
                    </table>

                </div>
            }
        </div>
        @if (ViewBag.CopyAnswers == 1)
        {
            <div class="rowIST">
                <label>@Resources.Resources.TemplatesList_CopyAnswer</label>
                <input type="checkbox" id="CopyAnswers" />
            </div>
            <div id="CopyItemsDiv">
                <div class="rowIST">
                    <label>@Resources.Resources.TemplatesList_SelectClient</label>
                    <select id="TemplateClients" onchange="ClientChange(this)"></select>
                </div>
                <div class="rowGeneric">
                    <table>
                        <tr>
                            <td valign="top">
                                <label class="firstLetterLabel">@Resources.Resources.TemplatesList_SelectDocuments</label>

                            </td>
                            <td>
                                <div class="scrollCheckbox">
                                    <table id="DocumentsList"></table>
                                </div>

                            </td>
                        </tr>
                    </table>
                </div>
            </div>

        }
        <div class="rowGeneric" id="commentsRow" style="display: none">
            <label class="enableStar">@Html.Raw(@Resources.Resources.LockedContent_lbl)</label>
            <br />
            <textarea id="comments" style="width: 100%; height: 100px; margin-top: 20px;"></textarea>
        </div>
        <div class="contentSub">
            <div class="pageFooterContent">
                <div class="PageFooter_Buttons">
                    <table>
                        <tr>
                            <td><button type="button" onclick="Checkselected()" class="PageFooter_Button" btnType="Insert">Start Prequalification</button></td>
                            <td btnType="Insert">@Resources.Resources.Common_label_or</td>
                            <td><div class="PageFooter_CancleBtn"><a href="../SystemUsers/Dashboard">@Resources.Resources.Common_Cancel</a></div></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="rowGeneric" id="commentsRow1"></div> 
</body>
</html>
